[2017-11-10 21:17] waldekmastykarz opened #1 "New command: list all available apps in the app catalog"
List information about available apps in the app catalog using the ALM API: `<appCatalogUrl>/_api/web/tenantappcatalog/AvailableApps`

- command name: `spo tenant app list`
- requires connection to a SharePoint site

More information: https://github.com/SharePoint/PnP-Sites-Core/blob/73c703c507d480142ec18c241e6e72aae67982cc/Core/OfficeDevPnP.Core/ALM/AppManager.cs

[2017-11-10 21:18] waldekmastykarz opened #2 "New command: show details about a specific app in the app catalog"
List information about a specific app in the app catalog using the ALM API: `<appCatalogUrl>/_api/web/tenantappcatalog/AvailableApps/GetByID(<appId>)`

- command name: `spo tenant app get --id <appId>`
- requires connection to a SharePoint site

More information: https://github.com/SharePoint/PnP-Sites-Core/blob/73c703c507d480142ec18c241e6e72aae67982cc/Core/OfficeDevPnP.Core/ALM/AppManager.cs

[2017-11-10 21:29] waldekmastykarz opened #3 "New command: add an app to the app catalog"
Add an app to the app catalog using the ALM API: `<appCatalogUrl>/_api/web/tenantappcatalog/AvailableApps/Add`

- command name: `spo tenant app add --filePath|-p <filePath> --overwrite|-o`
- requires connection to a SharePoint site

More information: https://github.com/SharePoint/PnP-Sites-Core/blob/73c703c507d480142ec18c241e6e72aae67982cc/Core/OfficeDevPnP.Core/ALM/AppManager.cs

[2017-11-10 21:36] waldekmastykarz opened #4 "New command: install specified app in a site"
Install the specified app in a site using the ALM API: `<siteUrl>/_api/web/tenantappcatalog/AvailableApps/GetById({id})/Install`

- command name: `spo tenant app install --siteUrl|-u <siteUrl> --id <appId>`
- requires connection to a SharePoint site

More information: https://github.com/SharePoint/PnP-Sites-Core/blob/73c703c507d480142ec18c241e6e72aae67982cc/Core/OfficeDevPnP.Core/ALM/AppManager.cs

[2017-11-10 21:41] waldekmastykarz opened #5 "New command: uninstall specified app in a site"
Uninstall the specified app in a site using the ALM API: `<siteUrl>/_api/web/tenantappcatalog/AvailableApps/GetById({id})/Uninstall`

- command name: `spo tenant app uninstall --siteUrl|-u <siteUrl> --id <appId> --confirm`
- requires connection to a SharePoint site

More information: https://github.com/SharePoint/PnP-Sites-Core/blob/73c703c507d480142ec18c241e6e72aae67982cc/Core/OfficeDevPnP.Core/A

[2017-11-10 21:44] waldekmastykarz opened #6 "New command: upgrade specified app in a site"
Upgrade the specified app in a site using the ALM API: `<siteUrl>/_api/web/tenantappcatalog/AvailableApps/GetById({id})/Upgrade`

- command name: `spo tenant app upgrade --siteUrl|-u <siteUrl> --id <appId>`
- requires connection to a SharePoint site

More information: https://github.com/SharePoint/PnP-Sites-Core/blob/73c703c507d480142ec18c241e6e72aae67982cc/Core/OfficeDevPnP.Core/ALM/AppManager.cs

[2017-11-10 21:48] waldekmastykarz opened #7 "New command: deploy specified app in the app catalog"
Deploy the specified app in the app catalog using the ALM API: `<appCatalogUrl>/_api/web/tenantappcatalog/AvailableApps/GetById({id})/Deploy`

- command name: `spo tenant app deploy --id <appId> --skipFeatureDeployment`
- requires connection to a SharePoint site

More information: https://github.com/SharePoint/PnP-Sites-Core/blob/73c703c507d480142ec18c241e6e72aae67982cc/Core/OfficeDevPnP.Core/ALM/

[2017-11-10 21:50] waldekmastykarz opened #8 "New command: retract specified app from the app catalog"
Retract the specified app from the app catalog using the ALM API: `<appCatalogUrl>/_api/web/tenantappcatalog/AvailableApps/GetById({id})/Retract`

- command name: `spo tenant app retract --id <appId> --confirm`
- requires connection to a SharePoint site

More information: https://github.com/SharePoint/PnP-Sites-Core/blob/73c703c507d480142ec18c241e6e72aae67982cc/Core/OfficeDevPnP.Core/ALM/AppManage

[2017-11-10 21:51] waldekmastykarz opened #9 "New command: remove specified app from the app catalog"
Remove the specified app from the app catalog using the ALM API: `<appCatalogUrl>/_api/web/tenantappcatalog/AvailableApps/GetById({id})/Remove`

- command name: `spo tenant app remove --id <appId> --confirm`
- requires connection to a SharePoint site

More information: https://github.com/SharePoint/PnP-Sites-Core/blob/73c703c507d480142ec18c241e6e72aae67982cc/Core/OfficeDevPnP.Core/ALM/AppManager.c

[2017-11-10 22:00] waldekmastykarz opened #10 "Add support for authenticating to MS Graph"
Add MS Graph as a supported service in the Office 365 CLI so that it's possible to communicate with its API. When connecting to MS Graph, allow specifying the ID of the AAD app to use for communication, since there isn't a default one we can use.

Use the same AAD app ID as in PowerShell PnP: https://github.com/SharePoint/PnP-PowerShell/blob/69b7923ecb13db9a7b7edca2bedcfd08254242e3/Commands/Base/C

[2017-11-10 22:03] waldekmastykarz opened #11 "Add support for managing AAD app IDs for specific services"
When connecting to MS Graph and potentially other O365 services, users have to specify the ID of the AAD app to use for auth. If they use the same ID each time, it would be more convenient if they could configure it once and have the CLI store the ID of the AAD app to use with the specific O365 service. Users should be able to:
- set the AAD app ID for the specific service
- list all stored AAD ap

[2017-11-10 22:11] waldekmastykarz opened #12 "New command: List available Microsoft Graph schema extensions"
### Usage

`graph schemaextension list [options]`

### Description

Get a list of schemaExtension objects created in the current tenant, that can be InDevelopment, Available, or Deprecated.

### Options

Option|Description
------|-----------
`--status,-s [status]`|The status to filter on
`--owner [owner]`|The id of the owner to filter on
`-p, --pageSize [pageSize]`|Number of objects to return
`-n,

[2017-11-10 22:18] waldekmastykarz opened #13 "New command: Create Microsoft Graph schema extension"
Create MS Graph schema extension using `POST https://graph.microsoft.com/v1.0/schemaExtensions`.

- command `graph schemaextension add --id <id> --description|-d <description> --owner|-o [owner] --targetTypes|-t <types> --properties|-p <properties>`
- types: comma-separated list of target types
- properties: JSON string with the properties

Note: requires #10

More information: https://developer.m

[2017-11-10 22:21] waldekmastykarz opened #14 "Get information about a Microsoft Graph schema extension"
Get information about the specified MS Graph schema extensions using `https://graph.microsoft.com/v1.0/schemaExtensions/<id>`

- command: `graph schemaextension get --id <id>`

Note: requires #10

More information: https://developer.microsoft.com/en-us/graph/docs/api-reference/v1.0/api/schemaextension_get

[2017-11-10 22:24] waldekmastykarz opened #15 "Update Microsoft Graph schema extension"
Update MS Graph schema extension using `PATCH https://graph.microsoft.com/v1.0/schemaExtensions/<id>`.

- command `graph schemaextension update --id <id> --description|-d [description] --targetTypes|-t [types] --status|-s [status] --properties|-p [properties]`
- types: comma-separated list of target types
- properties: JSON string with the properties

Note: requires #10

More information: https://

[2017-11-10 22:26] waldekmastykarz opened #16 "Delete Microsoft Graph schema extension"
Delete MS Graph schema extension using `DELETE https://graph.microsoft.com/v1.0/schemaExtensions/<id>`.

- command `graph schemaextension remove --id <id> --confirm`

Note: requires #10

More information: https://developer.microsoft.com/en-us/graph/docs/api-reference/v1.0/api/schemaextension_delete

[2017-11-10 22:36] waldekmastykarz opened #17 "Add support for managing Teams similarly to what's possible with PowerShell"
For the list of available operations, see https://www.powershellgallery.com/packages/MicrosoftTeams/0.9.0

[2017-11-11 12:35] waldekmastykarz opened #18 "New command: add custom action"
Add custom action to a SharePoint site (collection).

- command: `spo customaction set`
- requires connection to a SharePoint site

Detailed specification available at https://msdn.microsoft.com/en-us/pnp_powershell/addpnpcustomaction

[2017-11-11 12:39] waldekmastykarz opened #19 "New command: list custom actions"
List all custom actions at the given scope.

- command: `spo customaction list --url|-u <url> --scope|-s [scope]`
- url of the site/web to retrieve custom actions for
- scope to retrieve custom actions for. Allowed values Site|Web|All. Default All
- requires connection to a SharePoint site

Decide which properties should be retrieved. Given that there can be many custom action defined at the given

[2017-11-11 12:42] waldekmastykarz opened #20 "New command: get custom action"
Get details for a specified custom action:

- command `spo customaction get --id <id> --scope|-s [scope] --url|-u <url>`
- id of the custom action to retrieve
- scope of the custom action. Allowed values Site|Web|All. Default All
- requires connection to a SharePoint site
- url of the site (collection) to retrieve the custom action from

More information available at https://msdn.microsoft.com/en-

[2017-11-11 12:46] waldekmastykarz opened #21 "New command: remove custom action"
Remove the specified custom action.

- command: `spo customaction remove --id|-i <id> --scope|-s [scope] --url|-u <url> --confirm`
- id of the custom action to remove
- scope of the custom action to remove. Allowed values Site|Web|All. Default All
- url of the site (collection) to remove the user action from
- requires connection to a SharePoint site

More information available at https://msdn.mic

[2017-11-16 14:54] wictorwilen commented on #11
I'd love to help on this one!

[2017-11-16 19:51] waldekmastykarz commented on #11
Awesome @wictorwilen! Since I created this issue, I've found a couple of things that could be helpful:
- PnP PowerShell uses an AAD app (https://github.com/SharePoint/PnP-PowerShell/blob/69b7923ecb13db9a7b7edca2bedcfd08254242e3/Commands/Base/ConnectOnline.cs#L82). Assuming the app has sufficient permissions, we could use the same app id for consistency. Optionally, we could also allow users to spe

[2017-11-17 07:12] waldekmastykarz commented on #11
Thinking about it further, currently credentials and connection status are stored in memory, which is possible only in the immersive mode. If we replace it with always using the storage, we will be able to support both immersive and non-immersive mode with the same code which would simplify the code base.

[2017-11-17 18:10] waldekmastykarz commented on #3
I'll pick this up

[2017-11-18 12:01] waldekmastykarz opened #24 "Should we change the name of the CLI command from 'office365' to 'o365'?"
Currently, you start the CLI by typing `office365` in the terminal. That launches the immersive CLI. When in the future the CLI will support a non-interactive/-immersive mode, it would mean that you have to prefix each command with `office365`, eg.:

[code]

We could change the name of the CLI to `o365` to shorten the name, similarly like the Azure CLI uses `az` as their prefix:

[code]

What do y

[2017-11-18 13:14] andrewconnell commented on #24
Can you alias it? If so I'd do that...

If you can't, I'd look pretty close to what MSFT does... are things spelled out? If so, I'd do that. IMHO, I'd go with either **office** or **office365**. Why? You don't go to https://portal.o365.com.

[2017-11-18 14:37] erwinvanhunen opened #25 "PlatformClean script in package.json uses rm -f"
the clean script in package.json refers to rm -f which will not work on Windows based machines not using bash/csh

[2017-11-18 14:50] waldekmastykarz commented on #25
Good catch @erwinvanhunen. We could replace it with a simple x-plat node script that would call the right command depending on the os. Just to check, on Windows, should it be calling `rd /s node_modules`?

[2017-11-18 14:52] waldekmastykarz commented on #24
Currently, in **package.json** we specify `office365` as the command name. We could define both `office365` and `o365` and see if that would be working with both names.

[2017-11-18 14:55] waldekmastykarz commented on #1
@erwinvanhunen volunteered to pick it up as he implemented it for PnP PowerShell

[2017-11-18 14:56] waldekmastykarz commented on #2
@erwinvanhunen volunteered to pick it up as he implemented it for PnP PowerShell

[2017-11-18 18:04] waldekmastykarz opened #26 "Put related commands in separate folders to simplify maintenance"
@erwinvanhunen brought up an interesting point: currently all SPO commands are in a single folder (o365/spo). Comparably, PnP PowerShell has 250 cmdlets. If we ever get to that point, this means that we'd end up with 500 files in a single folder (cmd + unit tests). Storing related commands in a separate folder could make it easier to maintain the commands. Restructuring the files now, would save u

[2017-11-18 19:10] estruyf commented on #26
I think that option 2 IMO is the best one. You will create fewer folders, split things by its scope, which still makes it easy to find everything.

[2017-11-18 19:15] estruyf commented on #24
Alias seems to be a good option. `o365` is the one I will be using, but it makes sense to have both.

[2017-11-19 10:46] wictorwilen commented on #24
While I prefer having a real name `(office365`), if shortened names are the way to go I'm all ok with that.

[2017-11-19 10:47] wictorwilen commented on #26
Option 2, fo sho!

[2017-11-19 10:50] wictorwilen opened #27 "New Command: List external users"
A command that lists external users in the site, similar to the PoSh equivalent `Get-SPOExternalUser`

[2017-11-19 11:33] waldekmastykarz commented on #27
Nice suggestion!

[2017-11-19 11:36] waldekmastykarz commented on #24
Cool, let me have a look if we can have two aliases.

[2017-11-19 11:46] #24 closed

[2017-11-19 11:59] waldekmastykarz commented on #25
Here is some more information how this could be solved: https://stackoverflow.com/questions/45082648/npm-package-json-os-specific-script

[2017-11-19 12:50] waldekmastykarz commented on #25
Let me take a stab at it

[2017-11-19 13:43] waldekmastykarz opened #31 "Simplify building commands by wrapping common functionality in a base class"
Currently, when building commands, each command has to include pieces such as calling telemetry, checking if user is connected to a service, retrieving request digest, validating URLs, etc. We could simplify building commands, by wrapping all this into a base class.

Following this suggestion from @erwinvanhunen, I put together a proof of concept showing how this would look in practice.
[SpoComman

[2017-11-19 13:48] erwinvanhunen commented on #31
Absolutely valuable. Having this code in all cmdlets makes it complex to change if requirements change later, also it's pretty error prone (copy and paste errors). I would absolutely mode -verbose to the base class, Also think of including parameters (alike PowerShell) for error handling (failsilently, ignore, etc.)

[2017-11-19 13:52] waldekmastykarz commented on #31
Handling errors using `failsilently` or `ignore` is something we should definitely have a look at, when implementing the non-immersive mode when multiple commands will be run as a part of a bigger script. At this moment any errors (unless exceptions) are mainly informative and doesn't prevent you from calling additional commands.

[2017-11-19 18:10] #25 closed

[2017-11-19 20:40] waldekmastykarz commented on #31
I started working on this in the fork I mentioned above. Feel free to have a look if you're curious about the progress and new setup.

[2017-11-20 10:59] VelinGeorgiev commented on #4
I will pickup this. Can be marked as work in progress.

[2017-11-20 12:30] waldekmastykarz commented on #4
Awesome @VelinGeorgiev 💪

[2017-11-20 12:39] waldekmastykarz opened #34 "Drop the word 'tenant' from tenant commands"
What do you think about dropping the word _tenant_ from tenant commands, like `spo tenant cdn origin <operation>` and `spo tenant cdn policy <operation>` so that they are respectively `spo cdn origin <operation>` and `spo cdn policy <operation>`?

I put _tenant_ in the name initially as I based the naming on the corresponding PoSh cmdlets, but just now I realized the confusion it introduces compar

[2017-11-20 14:14] waldekmastykarz commented on #26
If we proceed with #34, then we'd end up with option 3. What do you guys think?

[2017-11-20 15:03] andrewconnell commented on #31
In spirit, me like. However, consider the following (maybe splitting hairs)...

The base class approach works, but that's following more of the OOP model... is that the best approach. I for one would rather attempt to have listeners or have commands publish events that the rest of the CLI is listening to handle avoiding a nested inheritance mess (_ala: not following how SPFx was built_).

[2017-11-20 15:13] waldekmastykarz commented on #31
Looking at TypeScript I thought that classes and base classes would feel natural. From the PoC I've made, it seemed to have sense, but it could grow significantly in scale. Theoretically, we could introduce a base class for everything which eventually would complicate the whole structure. With one base class or one per service (ie. all SPO commands one, all MSGraph commands another) we could get t

[2017-11-20 21:44] VelinGeorgiev opened #35 "Question on `Could not find any test files matching pattern: 'dist/**/*.spec.js' `"
Anyone facing that same issue `Could not find any test files matching pattern: 'dist/**/*.spec.js' `?

Steps to reproduce:

I am following the `Minimal Path to Awesome` guide.

Env:

Nodejs version v8.9.1
npm 5.2.0

Expected:
Tests run.

Actual:

[code]

The .spec.js files are in the dist

[code]

[2017-11-20 22:59] andrewconnell commented on #31
Sorry but I don't have any CLI examples or have much insight into your questions.

[2017-11-21 05:33] waldekmastykarz commented on #35
Are you on Windows by any chance? Could it be that it doesn’t understand / in the glob?

[2017-11-21 07:44] waldekmastykarz opened #36 "Replace custom clean script with rimraf"
The [rimraf](https://www.npmjs.com/package/rimraf) package seems to be solving the exact problem we've solved using the custom clean script. Let's replace the self-baked script with rimraf.

[2017-11-21 07:52] waldekmastykarz commented on #35
OK, so I had a look at this and it's not / that trip Windows. It's just the fact that Windows by default doesn't support globs. Let's have a look if there is a package that we could use to mimic the behavior on Windows.

[2017-11-21 08:00] waldekmastykarz commented on #35
I've found a workaround for the test command to work both on macOS and Windows. If you change the test command as follows (remove quotes surrounding the spec files path), it will work as expected:

[code]

I'll submit a PR with it later today, but you can modify your local copy to get unblocked.

[2017-11-21 08:11] waldekmastykarz opened #38 "Automatically switch between tenant admin and regular site"
Currently, commands that require connection to the tenant admin site (contoso-admin.sharepoint.com), check if the user connected to the tenant admin site using the `spo connect` site. If not, they display an error telling the user to explicitly connect to the tenant admin site before running the command. We could improve this experience by automatically getting the access token for an access token

[2017-11-21 15:43] VelinGeorgiev commented on #35
Waldek thanks for the fix. Will try it later.

[2017-11-22 06:58] #35 closed

[2017-11-22 06:58] waldekmastykarz commented on #31
Changed with #40

[2017-11-22 06:58] #31 closed

[2017-11-22 07:02] waldekmastykarz commented on #4
I've just merged a commit that refactors how commands are built (#40). Please have a look at the latest changes as well as the updated guide on building commands at https://github.com/SharePoint/office365-cli/blob/dev/docs/guides/adding-command.md. Don't forget to sync with the latest dev before submitting the PR 🙂

[2017-11-22 07:02] waldekmastykarz commented on #1
I've just merged a commit that refactors how commands are built (#40). Please have a look at the latest changes as well as the updated guide on building commands at https://github.com/SharePoint/office365-cli/blob/dev/docs/guides/adding-command.md. Don't forget to sync with the latest dev before submitting the PR 🙂

[2017-11-22 07:02] waldekmastykarz commented on #2
I've just merged a commit that refactors how commands are built (#40). Please have a look at the latest changes as well as the updated guide on building commands at https://github.com/SharePoint/office365-cli/blob/dev/docs/guides/adding-command.md. Don't forget to sync with the latest dev before submitting the PR 🙂

[2017-11-22 07:27] estruyf commented on #38
Automatically switching is great, but it might have an impact. What if the user accidentally adds a command which is tenant scoped in his script? At this moment the user will get an error to log in to the tenant admin sites, which makes him aware he is going to use a higher scoped command.

When it is all done automatically, the user will not notice it, and if he accidentally took the wrong comman

[2017-11-22 07:34] waldekmastykarz commented on #38
That could potentially be an issue. If we look at the non-interactive mode, we could require users to include an extra `spo connect <tenant-admin-url>` command in their script, which would make it more explicit. When we can store credentials, we could silently switch without halting the script flow.

@erwinvanhunen how is context switching handled in scripts built using PnP PowerShell when some co

[2017-11-22 07:36] estruyf commented on #38
Would an additional flag be an option? That way, the user has to explicitly tell the CLI that it wants to use that automatic flow.

[2017-11-22 08:57] VelinGeorgiev commented on #34
The less I type the better I feel. "spo cdn policy" makes sense to me and there is no need of tenant. Whoever is using the tool will memorize many of the commands anyway.

This is my personal opinion and it is not technically backed, but it is derived more from my keyboard typing laziness.

[2017-11-22 09:47] waldekmastykarz commented on #38
You mean something like `spo connect <random-site> --autoswitch`?

[2017-11-22 14:09] waldekmastykarz commented on #38
Let's see what others think

[2017-11-22 17:16] waldekmastykarz commented on #3
@erwinvanhunen is working on this

[2017-11-22 17:17] waldekmastykarz commented on #4
Hey @VelinGeorgiev, I've just heard from @erwinvanhunen that he has this code complete. Hope it's not too late and you didn't spend much time on it.

[2017-11-22 17:18] waldekmastykarz commented on #5
@erwinvanhunen is working on this

[2017-11-22 17:18] waldekmastykarz commented on #9
@erwinvanhunen is working on this

[2017-11-22 17:19] waldekmastykarz commented on #8
@erwinvanhunen is working on this

[2017-11-22 17:19] waldekmastykarz commented on #7
@erwinvanhunen is working on this

[2017-11-22 17:19] waldekmastykarz commented on #6
@erwinvanhunen is working on this

[2017-11-22 17:31] erwinvanhunen commented on #38
In the case of the PnP Cmdlets the cmdlets only autoswitch to tenant level if the cmdlet is based upon the PnPAdminCmdlet baseclass. Those are all called <verb>-PnPTenant<noun>

There is one cmdlet that does an under the hood switching to another side: Remove-PnPApp. It switches context to the Tenant App Catalog

[2017-11-22 17:51] waldekmastykarz commented on #38
@erwinvanhunen but when they do switch there is no confirmation or explicit flag the user has to set to make it happen seamlessly?

[2017-11-22 17:52] waldekmastykarz commented on #34
Let's drop `tenant` from the names. I'll do this.

[2017-11-22 17:56] VelinGeorgiev commented on #4
I have not started yet. Just prepared my dev env. Thanks for letting me know!

[2017-11-22 18:12] waldekmastykarz commented on #4
Great you didn't do any double work! There are still a few other commands we could use help on 🙂

[2017-11-22 18:14] waldekmastykarz commented on #36
Let me take this

[2017-11-22 20:53] VelinGeorgiev commented on #20
Hey @waldekmastykarz how about myself working on that task?

Are allowed values Site|Web|All case sensitive?

[2017-11-22 21:05] waldekmastykarz commented on #20
Awesome! It’s yours. I believe they are, but to be sure check the REST API/CSOM specs.

[2017-11-23 18:24] #36 closed

[2017-11-23 18:24] #34 closed

[2017-11-23 18:30] waldekmastykarz commented on #26
Let me take this

[2017-11-23 21:07] waldekmastykarz commented on #11
Let's handle it separately. This issue remains focused on supporting other services. Persisting credentials goes into a separate one.

[2017-11-23 21:10] waldekmastykarz opened #46 "Add support for persisting credentials"
Currently, connection information is persisted in memory while running the CLI. In order for the CLI to support non-interactive mode in the future and be used for building scripts, the connection information must be persisted so that it can be used across the different commands, where each command runs in a separate process.

Azure CLI has implementation for cross-platform storage of credentials (

[2017-11-24 00:21] VelinGeorgiev commented on #20
Hey @waldekmastykarz quick question on that. Do we really need the --url option if you would do `spo connect "https://contoso.sharepoint.com/sites/test1"` and then try to find custom action within this site? or Is `spo connect` always tenant admin context and we need the --url option to build site collection / web context?`

[2017-11-24 05:32] waldekmastykarz commented on #20
If we don't pass the URL, then you would have to reconnect each time you want to check custom actions for a site. Given that connect is interactive, it would be blocking when building scripts that work on different sites in the future. So ideally, you connect once to get access token and can then work on any site you need. Any arguments against including the URL (other than additional keystrokes 😉

[2017-11-24 09:53] #1 closed

[2017-11-24 09:53] #26 closed

[2017-11-24 12:36] VelinGeorgiev commented on #20
Thanks @waldekmastykarz.
Not at all.
I was just trying to understand the logic behind, now it makes sense so I will proceed.

[2017-11-24 14:34] waldekmastykarz commented on #20
Awesome! Good of you to double check 👍

[2017-11-24 14:40] waldekmastykarz opened #47 "Change all commands so that by default they output nothing but the command result (if any)"
Currently, commands output status messages giving the user an idea of the progress and what's happening behind the scenes. While useful, this will be problematic, when the CLI gets support in non-interactive mode and users would like to pass the output of one command into another.

To prevent commands from having to parse string output of command messages when receiving input from another commands

[2017-11-24 14:43] waldekmastykarz opened #48 "Add support for JSON output to all commands"
All commands should get an extra option (`-o|--output [output], text|json`, default `text`) that determines whether the command should render its output as a JSON string or plain text. Using JSON will be very useful when using the CLI in non-interactive mode and passing the output from one command into another. Any errors returned by the command should be passed as JSON objects so that they can be

[2017-11-25 12:38] waldekmastykarz opened #52 "Add user-agent string to all web requests to avoid SPO throttling"
As described in https://docs.microsoft.com/en-us/sharepoint/dev/general-development/how-to-avoid-getting-throttled-or-blocked-in-sharepoint-online#how-to-decorate-your-http-traffic-to-avoid-throttling: to avoid throttling, all solutions should specify a relevant user-agent string.

Add the following user-agent string to all web requests in the CLI:

`NONISV|SharePointPnP|Office365CLI/_version_`

w

[2017-11-25 13:29] waldekmastykarz opened #54 "Allow setting debug and verbose mode using an environment variable"
To simplify setting the verbose and debug mode in non-interactive mode, allow setting the mode using environment variables:

[code]

When determining the logging level on runtime, the CLI should check if any of these properties is set and adjust the logging level accordingly.

[2017-11-26 13:57] waldekmastykarz opened #58 "Add support for other SharePoint Online hosting locations"
Currently the CLI supports only SharePoint Online on the _sharepoint.com_ domain. Ideally, it should also support SharePoint Online hosted in the Black Forest, China and US Government data centers.

[2017-11-26 18:10] waldekmastykarz opened #59 "Implement common handler for rejected OData promises"
Currently, each command implements its own handler for rejected promises. Given that SharePoint REST API conforms to the OData standard, we could simplify the code by implementing a common handler in the Command base class that all commands could point to.

[2017-11-27 14:48] waldekmastykarz opened #62 "Change examples in command help and manual so that explanation comes first and the code sample comes second"
Currently, command usage samples are organized in a way that the code sample comes first and the explanation comes second, eg.

[code]

_connects to a SharePoint Online tenant admin site_

We should reverse the order, so that the explanation comes first and the code sample follows, eg.

_Connect to a SharePoint Online tenant admin site_

[code]

This seems to be a more common convention used in ot

[2017-11-27 19:01] #7 closed

[2017-11-27 19:01] #8 closed

[2017-11-27 19:01] #4 closed

[2017-11-27 19:02] #5 closed

[2017-11-27 19:02] #6 closed

[2017-11-27 19:02] #2 closed

[2017-11-27 19:02] #3 closed

[2017-11-28 11:07] waldekmastykarz opened #63 "New command: add site collection app catalog"
Add site collection app catalog in the specified site.

- command: `spo site appcatalog add -s|--siteUrl <siteUrl> --confirm`
- siteUrl: absolute URL of the site where the site collection app catalog should be added
- confirm: suppress prompting for confirmation
- requires connection to a SharePoint site

For more information see the `Add-SPOSiteCollectionAppCatalog` cmdlet in the November release

[2017-11-28 11:10] waldekmastykarz opened #64 "New command: remove site collection app catalog"
Remove site collection app catalog from the specified site.

- command: `spo site appcatalog remove -s|--siteUrl <siteUrl> --confirm`
- siteUrl: absolute URL of the site where the site collection app catalog should be removed
- confirm: suppress prompting for confirmation
- requires connection to a SharePoint site

For more information see the `Remove-SPOSiteCollectionAppCatalog` cmdlet in the Nov

[2017-11-28 11:50] waldekmastykarz opened #65 "New command: add site script"
Add site script for use with site designs.

- command: `spo sitescript add -t|--title <title> -d|--description [description] -c|--content <content>`
- title: Site script title
- description: Site script description (optional)
- content: JSON string containing the site script
- requires connection to the SharePoint tenant admin site

For more information see the `Add-SPOSiteScript` cmdlet in the No

[2017-11-28 11:56] waldekmastykarz opened #66 "New command: list site scripts"
List available site scripts.

- command: `spo sitescript list`
- requires connection to the SharePoint tenant admin site

For more information see the `Get-SPOSiteScript` cmdlet in the November release of the SPO PowerShell.

[2017-11-28 11:58] waldekmastykarz opened #67 "New command: get information about the specified site script"
Get information about the specified site script

- command: `spo sitescript get -i|--id <id>`
- id: id of the site script to get more information for
- requires connection to the SharePoint tenant admin site

For more information see the `Get-SPOSiteScript` cmdlet in the November release of the SPO PowerShell.

[2017-11-28 12:08] waldekmastykarz opened #68 "New command: remove site script"
Remove the specified site script

- command: `spo sitescript remove -i|--id <id> --confirm`
- id: id of the site script to remove
- confirm: suppress prompting for confirmation
- requires connection to the SharePoint tenant admin site

For more information see the `Remove-SPOSiteScript` cmdlet in the November release of the SPO PowerShell.

[2017-11-28 12:14] waldekmastykarz opened #69 "New command: add site design"
Add site design

- command: `spo sitedesign add -t|--title <title> -d|--description [description] -w|--webTemplate <webTemplate> -s|--siteScripts <siteScripts> -m|--previewImageUrl [previewImageUrl] -a|--previewImageAltText [previewImageAltText] --isDefault`
- title: site design title
- description: site design description (optional)
- webTemplate: ID of the web template to which the site design s

[2017-11-28 19:10] waldekmastykarz opened #70 "Format the output of the 'spo cdn origin list' command as table"
Format the output of the 'spo cdn origin list' command as table consistently with the `spo app list` command.

[2017-11-28 20:01] waldekmastykarz opened #71 "Format the output of the 'spo cdn policy list' command as table"
Format the output of the 'spo cdn policy list' command as table consistently with the `spo app list` command.

[2017-11-28 20:05] waldekmastykarz opened #72 "Format the output of the 'spo storageentity get' command as table"
Format the output of the 'spo storagentity get' command as table consistently with the `spo app get` command.

[2017-11-28 20:06] waldekmastykarz opened #73 "Format the output of the 'spo storageentity list' command as table"
Format the output of the 'spo storageentity list' command as table consistently with the `spo app list` command.

[2017-11-29 18:59] #47 closed

[2017-11-29 19:01] #20 closed

[2017-11-29 19:44] waldekmastykarz opened #78 "Refactor the 'spo cdn get' command to use the getRequestDigest helper"
Refactor the 'spo cdn get' command to use the getRequestDigest helper

[2017-11-29 19:45] waldekmastykarz opened #79 "Refactor the 'spo connect' command to use the getRequestDigest helper"
Refactor the 'spo connect' command to use the getRequestDigest helper

[2017-11-29 19:45] waldekmastykarz opened #80 "Refactor the 'spo storageentity set' command to use the getRequestDigest helper"
Refactor the 'spo storageentity set' command to use the getRequestDigest helper

[2017-11-29 19:56] waldekmastykarz commented on #79
'spo connect' doesn't inherit from the SpoCommand base class and doesn't have access to the getRequestDigest helper. Leaving as-is.

[2017-11-29 19:56] #79 closed

[2017-11-29 21:36] VelinGeorgiev commented on #19
Hey @waldekmastykarz I can pick up that one. I am just wondering why it has a tag `needs discussion`?

[2017-11-30 06:41] waldekmastykarz commented on #19
Awesome! We just need to decided which properties we want to show in the overview vs. which are visible only when getting a specific property using the `spo customproperty get` command. Any suggestions?

[2017-11-30 15:14] waldekmastykarz opened #85 "New command: list site designs"
List available site designs

- command: `spo sitedesign list`
- requires connection to a SharePoint site

Need to decide which properties of site designs should be displayed in the overview.

For more information see the `Get-SPOSiteDesign` cmdlet in the November release of the SPO PowerShell.

[2017-11-30 15:15] waldekmastykarz opened #86 "New command: get site design"
Get information about the specific site design

- command: `spo sitedesign get -i|--id <id>`
- id: site design id
- requires connection to the SharePoint tenant admin site

For more information see the `Get-SPOSiteDesign` cmdlet in the November release of the SPO PowerShell.

[2017-11-30 15:17] waldekmastykarz opened #87 "New command: remove site design"
Remove the specified site design

- command: `spo sitedesign remove -i|--id <id> --confirm`
- id: site design ID
- confirm: doesn't prompt for confirmation when removing the site design
- requires connection to the SharePoint tenant admin site

For more information see the `Remove-SPOSiteDesign` cmdlet in the November release of the SPO PowerShell.

[2017-11-30 15:24] waldekmastykarz opened #88 "New command: grant site design permissions"
Grant permissions to the specified site design

- command: `spo sitedesign rights grant -i|--id <id> -p|--principals <principals> -r|--rights <rights>`
- id: site design ID
- principals: array of principals to whom the specified permissions should be granted
- rights: permissions that should be granted. Allowed values `View`
- requires connection to the SharePoint tenant admin site

For more infor

[2017-11-30 15:26] waldekmastykarz opened #89 "New command: revoke site design permissions"
Revoke permissions to the specified site design

- command: `spo sitedesign rights revoke -i|--id <id> -p|--principals <principals> --confirm`
- id: site design ID
- principals: array of principals for whom permissions to the site design should be revoked
- confirm: doesn't prompt for confirmation before revoking permissions
- requires connection to the SharePoint tenant admin site

For more infor

[2017-11-30 15:28] waldekmastykarz opened #90 "New command: get site design permissions"
View permissions to the specified site design

- command: `spo sitedesign rights list -i|--id <id>`
- id: site design ID
- requires connection to the SharePoint tenant admin site

For more information see the `Get-SPOSiteDesignRights` cmdlet in the November release of the SPO PowerShell.

[2017-11-30 15:30] waldekmastykarz opened #91 "New command: list available hub sites"
List available hub sites

- command: `spo hubsite list`
- requires connection to the SharePoint tenant admin site

For more information see the `Get-SPOHubSite` cmdlet in the November release of the SPO PowerShell.

[2017-11-30 15:31] waldekmastykarz opened #92 "New command: get information about specific hub site"
Get information about specific hub site

- command: `spo hubsite get -i|--id <id>`
- id: hub site ID
- requires connection to the SharePoint tenant admin site

For more information see the `Get-SPOHubSite` cmdlet in the November release of the SPO PowerShell.

[2017-11-30 21:34] VelinGeorgiev commented on #19
Hi @waldekmastykarz

If we follow the PnP PowerShell cmdlet, the output is

[code]
If we follow the `spo customaction get` the output, then for the table might look like:

[code]
I think it is important to display the ClientSiteComponentId to verify if it is a client side specific specially for SharePoint Online because the amount of the SharePoint Framework development will increase over time.

A

[2017-11-30 21:44] VelinGeorgiev opened #93 "Enhancement: spo customaction get with additional `--details` option"
At the moment the `spo customaciton get` prints the following:

[code]

Would it be a good idea to have additional `-d, --details [details]` option? It can print the full output from the REST call i.e.

[code]

Additional action is to check if those properties are valid for all the User Custom Action `Locations`

Would it worth implementing that at this early stage? or the focus should be to bring

[2017-12-01 07:48] waldekmastykarz commented on #93
Given that we're printing the short version in the `spo customaction list` command, why not print everything here without the extra switch?

[2017-12-01 07:52] waldekmastykarz commented on #19
Wouldn't that be too much to fit on a screen? Usually my terminal window isn't full screen so the table would wrap which would make it readable. This would especially be the case if we included `ClientSideComponentProperties` which can get pretty long.

What if we included `Name`, `Location`, `Scope` and `Id` in the list like you suggested first, and let everything else to be displayed in the `cus

[2017-12-01 09:23] VelinGeorgiev commented on #93
Yes, that would work better. I can enhance that soon.

[2017-12-01 09:28] VelinGeorgiev commented on #19
I am absolutely fine with that, that output is similar to the PnP PowerShell so would bring same experience to someone familiar with the cmdlets.

Let's do it :)

[2017-12-01 13:34] waldekmastykarz opened #94 "New command: register hub site"
Registers specified site collection as a hub site

- command: `spo hubsite register -s|--siteUrl <siteUrl>`
- siteUrl: Absolute URL of the site to register as a hub site
- requires connection to the SharePoint tenant admin site

For more information see the `Register-SPOHubSite` cmdlet in the November release of the SPO PowerShell.

[2017-12-01 13:36] waldekmastykarz opened #95 "New command: unregister hub site"
Unregisters the specified site as hub site

- command: `spo hubsite unregister -s|--siteUrl <siteUrl> --confirm`
- siteUrl: URL of the hub site to unregister
- confirm: unregisters the hub site without prompting for confirmation
- requires connection to the SharePoint tenant admin site

For more information see the `Unregister-SPOHubSite` cmdlet in the November release of the SPO PowerShell.

[2017-12-01 13:38] waldekmastykarz opened #96 "New command: set hub site properties"
Configures properties for the specified hub site

- command: `spo hubsite set -i|--id <id> -t|--title [title] -d|--description [description] -l|--logoUrl [logoUrl]`
- id: hub site ID
- title: title to set on the hub site
- description: description to set on the hub site
- logoUrl: URL of the hub site logo to set
- requires connection to the SharePoint tenant admin site

For more information see th

[2017-12-01 13:40] waldekmastykarz opened #97 "New command: connect site to a hub site"
Connect the specified site collection to the specified hub site

- command: `spo hubsite connect -h|--hubSiteId <id> -s|--siteUrl <siteUrl>`
- id: hub site ID
- siteUrl: absolute URL of the site collection to connect to the hub site
- requires connection to the SharePoint tenant admin site

For more information see the `Connect-SPOHubSite` cmdlet in the November release of the SPO PowerShell.

[2017-12-01 13:43] waldekmastykarz opened #98 "New command: disconnect site from a hub site"
Disconnect the specified site from the specified hub site

- command: `spo hubsite disconnect -s|--siteUrl <siteUrl> --confirm`
- siteUrl: absolute URL of the site collection to disconnect from its hub site
- confirm: disconnects the site from its hub site without prompting for confirmation first
- requires connection to the SharePoint tenant admin site

For more information see the `Disconnect-SP

[2017-12-01 13:48] waldekmastykarz opened #99 "New command: grant permissions to the specified hub site"
Grant permissions to the specified hub site

- command: `spo hubsite rights grant -i|--id <id> -p|--principals <principals> -r|--rights <rights>`
- id: hub site ID
- principals: array of principals to whom the specified permissions should be granted
- rights: permissions that should be granted. Allowed values `Join`
- requires connection to the SharePoint tenant admin site

For more information se

[2017-12-01 13:49] waldekmastykarz opened #100 "New command: revoke permissions to the specified hub site"
Revoke permissions to the specified hub site

- command: `spo hubsite rights revoke -i|--id <id> -p|--principals <principals> --confirm`
- id: site design ID
- principals: array of principals for whom permissions to the hub site should be revoked
- confirm: doesn't prompt for confirmation before revoking permissions
- requires connection to the SharePoint tenant admin site

For more information se

[2017-12-01 17:52] #80 closed

[2017-12-01 17:52] #52 closed

[2017-12-01 17:52] #59 closed

[2017-12-01 17:52] #78 closed

[2017-12-02 14:55] #48 closed

[2017-12-02 14:56] waldekmastykarz commented on #72
Fixed with #101

[2017-12-02 14:56] #72 closed

[2017-12-02 14:56] waldekmastykarz commented on #73
Fixed with #101

[2017-12-02 14:56] #73 closed

[2017-12-02 14:56] waldekmastykarz commented on #71
Fixed with #101

[2017-12-02 14:56] #71 closed

[2017-12-02 14:56] waldekmastykarz commented on #70
Fixed with #101

[2017-12-02 14:56] #70 closed

[2017-12-02 17:55] waldekmastykarz opened #102 "Add support for filtering data using JMESPath"
To all `list` commands add support for filtering the returned data using [JMESPath](https://www.npmjs.com/package/jmespath). That way, users can filter the returned data set and work only with the relevant subset.

Implementation should be centralized and done in the `Command` base class from where it can be called by every command. Only `list` commands should allow specifying a JMESPath query.

[2017-12-03 09:24] waldekmastykarz commented on #102
My original idea was to introduce additional option that could be used to filter the results retrieved by `list` commands, before displaying them, eg.

_Retrieve all site collections with `/sites/team-` in their URL_

[code]

While this would allow you to filter the list of sites, if you then wanted to pipe it to other commands, for example to deploy an add-in on each of these sites, you would sti

[2017-12-03 11:35] andrewconnell commented on #102
So... my $0.02... don't sweat this. While a nice to have, I'd focus more on features (commands) and not the formatting of the data that comes back. Just give users a text output / JSON output and let them do what they want with it.

For instance, look at what the Azure CLI does for listing blobs. You can only provide a query for the prefix of the name of the blob... nothing more: https://docs.micr

[2017-12-03 18:23] waldekmastykarz commented on #102
That's my thinking too, especially given that no matter if we'd add this or not, you'd still need something else to process and iterate through data for passing them to other commands. Closing this for now and we can revisit in the future if necessary.

[2017-12-04 07:54] waldekmastykarz commented on #46
I've done some research over the weekend what's possible with regard to persisting credentials/connection info. Here is the current solution I have in mind:

- in the OS password store (Keychain for macOS, Windows Creds Store or a plain-text file on the file system for Linux. We need this last option to support running the CLI in a Docker container), store the refresh token. Azure AAD refresh toke

[2017-12-05 07:43] #62 closed

[2017-12-05 08:48] damsleth commented on #19
How about an optional --verbose switch, to list additional properties like ClientSideComponentProperties? Then we'd avoid having to use two commands to get additional properties. Also --verbose is pretty common in the npm ecosystem.

[2017-12-05 14:35] waldekmastykarz commented on #19
@damsleth `--verbose` is already used for logging across the whole CLI, so if we were to do this, `--details` would be a better choice.

With regards to retrieving details: would you like to get details for all custom actions, even if things like `ClientSideComponentProperties` might apply only to a few of them? What properties would you include in the detailed view?

[2017-12-05 15:36] damsleth commented on #19
Good point, `--details` makes more sense.
I prefer verbosity over brevity, so listing out all props that aren't potentially very long is fine by me.
i.e. exclude `ClientSideComponentProperties`, `CommandUIExtension`, `ScriptBlock` and the `Rights` object (so we don't have to iterate that as well).
I think `Scope` is also irrelevant since you specify it in the `--scope` switch.

Also, I see that th

[2017-12-05 17:26] waldekmastykarz commented on #19
What about readability: all this would be displayed in a terminal window. Currently, output of list-commands is displayed as a table, where each item is a row and each property a column. Unless you run terminal full-screen and you're using a big monitor, there is no chance all of that would fit on the screen. How would you display it? This of course wouldn't be an issue if you chose `--output json

[2017-12-05 20:40] VelinGeorgiev commented on #19
Initially my thoughts were to have 5+ columns as well, but now I would suggest to keep it simple at that early stage. --details adds more logic and skip of the null valued properties also would adds even more logic in the command. I would prefer, we focus on the commands quantity over prettifying the output suggested by @andrewconnell.

I can implement it as you wish and it is not a problem, I wou

[2017-12-06 06:44] waldekmastykarz commented on #19
@VelinGeorgiev agreed. Let's continue with the initial set and revisit in the future if still relevant.

[2017-12-06 08:45] damsleth commented on #19
Following the PnP PowerShell cmdlet pattern with a table layout I agree it's best to keep the # of columns to a minimum. The (pretty neat, actually) `--debug` switch really covers all verbosity requirements.

[2017-12-06 17:44] waldekmastykarz opened #104 "Using the --help option doesn't show extended help"
#### Expected behavior

Using either `o365 help <command>` or `o365 <command> --help` should display full help including examples, remarks, etc.

#### Actual behavior

Using `o365 help <command>` shows full help, but using `o365 <command> --help` only shows help summary without remarks and examples.

#### CLI version
all versions

#### Additional information

This is most likely caused by incorrec

[2017-12-06 18:07] waldekmastykarz commented on #46
I've just finished working on persisting connection state in macOS Keychain. You can find the current implementation in my fork @ https://github.com/waldekmastykarz/office365-cli/commit/afcf6a4c63db19ef2c061c02ab581db81e2bb230. Next, I'll be working on an implementation for Windows and Linux.

[2017-12-07 08:04] waldekmastykarz commented on #46
First version of persisting connection state on Windows is ready as well. Current implementation is available in my fork @ https://github.com/waldekmastykarz/office365-cli/commit/161a0d56deda44ddc4b6d850bbfd9726428d1f3d. Next, I'll be working on an implementation based on the file system for Linux/Docker containers. Once that's done, I'll clean it up add test and merge to dev so that we can have a

[2017-12-07 08:14] VelinGeorgiev commented on #46
lol Waldek you are fast!

I agree with the above except the plain text for docker, but I have no experience with docker and containers so I am absolutely confident that since you do it, there isnt other option.

[2017-12-07 08:17] VelinGeorgiev commented on #46
Is it an option the container image to come with passwords store or it is too much to ask?

[2017-12-07 08:24] waldekmastykarz commented on #46
Thanks @VelinGeorgiev! To me it feels like it's taking way too long, but making progress nevertheless and slowly seeing the end of the tunnel. The hardest part was to make it fit the CLI and support both interactive and non-interactive mode, but once that was done when implementing support for macOS, implementing Windows support was easier (it has some quirks of itself, but luckily the Azure guys

[2017-12-07 18:31] waldekmastykarz commented on #46
I've just finished adding support for persisting connection state on the file system on Linux. You can find the latest changes in my fork @ https://github.com/waldekmastykarz/office365-cli/commit/59ca5010e9373da001510848ecaccba4bffd71c1. I'm going to verify that it's working as it should in Docker and will then continue with cleaning up the code and adding tests.

[2017-12-07 19:00] waldekmastykarz commented on #46
<img width="878" alt="screen shot 2017-12-07 at 19 57 55" src="https://user-images.githubusercontent.com/11164679/33733128-02f668f0-db89-11e7-985c-848f060bf52a.png">

I'll leave this here: the CLI works in Docker like a charm! You can connect to SPO, connection is persisted across commands, and after you disconnect there is only an empty file left in the container which is gone after the container

[2017-12-08 11:50] waldekmastykarz opened #105 "Naming convention for site collection commands"
What do you think would be the logical naming convention for working with site collections in the CLI?

_Today, we have classic and modern sites. While they're both site collections, you work with them differently (different API, parameters and shape). In PnP PowerShell there are two sets of cmdlets: PnPTenantSite for classic sites and PnPSite for modern sites. What would be the logical naming con

[2017-12-08 12:40] VelinGeorgiev commented on #105
Option 1 : `spo site <action>` for modern and `spo site classic <action>` for classic sites.

[2017-12-09 01:59] benstegink commented on #105
I vote for #1 as well

[2017-12-09 20:03] andrewconnell commented on #63
Anyone working on this one? If not, can assign it to me (as well as the associated remove one one in #64)

[2017-12-09 20:09] andrewconnell commented on #105
Option 4 makes most sense to me with `—type Modern` being the default.

Why? Most CLI commands only have non-parameterized arguments as details on the command. To me, the type of a site is a switch, not details on the command, so it doesn’t make sense to put it as one of the arguments like option 1.

With that being said, I could live with option 1.

[2017-12-10 15:51] waldekmastykarz commented on #63
They’re yours!

[2017-12-10 18:58] waldekmastykarz commented on #105
@andrewconnell just to double check if we're talking about the same:

In 1) commands would look as follows:

[code]

The only command that accepts a non-parametrized argument is `spo connect <url>`. I realize it might have been confusing of me denoting the command verb as `<action>` in the examples in the initial question. My bad.

[2017-12-11 13:28] andrewconnell commented on #105
Correct... I think to go in line with what most CLIs do I'd expect to see something more like option 4:

[code]

[2017-12-11 17:28] waldekmastykarz commented on #105
I like the simplicity, but I'm concerned with the implementation and maintenance complexity it brings. We'd need to wrap the whole body of validation and command action in a big `if..then..else` block because the implementation for either type of site is 100% different. What's also confusing for example are the expected values for parameters like `WebTemplate`: where for classic site you would spe

[2017-12-11 18:31] waldekmastykarz commented on #46
Just added the last unit test for the new code. See my fork @ https://github.com/waldekmastykarz/office365-cli/commit/fdae130e557e5f305a7211c1e9151caa6f8bf6a3. Need to check a few more things and write docs and will merge for releasing a beta.

[2017-12-12 19:45] #46 closed

[2017-12-12 19:55] waldekmastykarz commented on #46
Just released this in a beta version of the CLI. You can test it out by grabbing `@pnp/office365-cli@next` 🚀

[2017-12-13 00:20] VelinGeorgiev opened #108 "Output with `headers: [object Object]` when --debug specified on multiple locations"
We have that piece of code on multiple locations:
[code]
But whenever `requestOptions` has headers specified like:
[code]
then the output for the headers section when we specify --debug is
[code]
This can be changed to
[code]
to print the correct output.

I did not wanted to change it before discussion because it has 24 occurrences in the solution.

[2017-12-13 06:44] waldekmastykarz commented on #108
Your suggestion makes perfect sense @VelinGeorgiev. It was printing ok initially, but when we changed logging, I missed this apparently.

When using `JSON.stringify` it would be helpful to pretty print it, so using `JSON.stringify(requestOptions, null, 2)` instead which will produce input with indenting.

[2017-12-13 23:02] VelinGeorgiev opened #109 "Running command with missing required option throws AppInsightsAsyncCorrelatedErrorWrapper error stack trace"
Steps to reproduce:

Run
`o365 spo app get` or `o365 spo customaction get`

Expected behavior:
`Required parameter id missing`

Actual:
[code]

I will investigate when some free time.

[2017-12-14 08:13] waldekmastykarz commented on #109
So that's by-design behavior of Vorpal (base upon which the CLI is built) and app insights we use for gathering telemetry.

First of all, although Vorpal describes the notion of required options, it doesn't enforce them the same way it does with arguments. So basically, if your command has a required option, you have to check for it yourself in the `validate` method. Nothing we can do about that.

[2017-12-14 08:27] VelinGeorgiev commented on #109
Thanks! Yes, better leave it as is, but good to know. I will close the issue.

[2017-12-15 01:35] VelinGeorgiev opened #110 "Question: Strange behavior of the credentials save under Windows OS"
I am not sure if this is  `on my machine only` so it is here just FYI:

I logged yesterday and the auto `credentials save` seemed to work OK, although I have not checked the Windows Credentials Manager for details.

Today I got the following behavior from the first run:
[code]
Then I did the following
[code]

Note on the last `o365$ spo connect https://xxx.sharepoint.com/sites/xxx` did not asked m

[2017-12-15 02:19] VelinGeorgiev commented on #93
@waldekmastykarz  I have started looking at this

[2017-12-15 02:20] VelinGeorgiev commented on #18
@waldekmastykarz I can start on this if it is not in progress by someone else

[2017-12-15 06:46] waldekmastykarz commented on #110
Thanks for reporting this @VelinGeorgiev. The intended behavior is that the CLI persists both the refresh and access token, so when the access token is expired (1hr), it can use the refresh token to get a new valid access token. It's also odd, that connect didn't start the auth flow with device code in the first case. Clearly something's not right.

I'll have a look and see if I can repro this on

[2017-12-15 06:47] waldekmastykarz commented on #93
Cool!

[2017-12-15 06:48] waldekmastykarz commented on #18
It's all yours @VelinGeorgiev 💪

[2017-12-15 07:41] waldekmastykarz commented on #108
Thinking about it: since the information about the request is displayed in a table, let's not JSON prettify  the headers, as that would break the rendering, so let's stick to the initial `JSON.stringify(requestOptions)` you proposed.

[2017-12-15 09:01] waldekmastykarz commented on #110
So I tried to repro it by waiting on the token to expire, but when I execute a command with an expired token, the CLI just grabs a new one and executes the command without any problem.

If you happen to stumble upon this behavior next time, could you run `o365 spo status --debug` and share the output? I wonder if for some reason the CLI persisted the connection details incorrectly and couldn't res

[2017-12-15 10:47] VelinGeorgiev commented on #110
Sure, will do.

[2017-12-15 11:19] waldekmastykarz commented on #110
Check. I've been testing it on Windows 10. If you can't repro the issue again, shall we close it for now until we have clear repro steps?

[2017-12-15 11:23] waldekmastykarz commented on #105
I took a closer look at the APIs that we have to use to work with sites in SharePoint and it seems there are too many differences between managing classic and modern sites. Both types of sites have different parameters and in some cases the same parameters even have different allowed values. Supporting both types of sites in one command would be challenging but explaining how the commands work in

[2017-12-15 11:23] #105 closed

[2017-12-15 11:26] VelinGeorgiev commented on #110
I will test tonight and close it if I cannot reproduce.

[2017-12-15 12:54] waldekmastykarz commented on #110
Awesome! Thank you @VelinGeorgiev, appreciate the effort!

[2017-12-15 13:47] waldekmastykarz opened #113 "Auth exception when running `spo customaction get` when connected to tenant admin site"
#### Expected behavior

Retrieve the information about the specified custom action located in the specified site no matter if you're connected to that site or to the tenant admin site.

#### Actual behavior

When connected to the tenant admin site, and trying to retrieve a custom action from a regular site using `spo customaction get`, the CLI throws the following error:

[code]

#### CLI version

[2017-12-15 14:51] waldekmastykarz opened #114 "New command: get info about site collection"
Get information about the specified site collection.

- command: `spo site get -u|--url <url>`
- `url` of the site to retrieve information for
- requires connection to the tenant admin site

This command works for both classic and modern sites. The information about the specified site can be retrieved by mimicking the Tenant.GetSitePropertiesByUrl(url,bool) call. The second value in the GetSitePro

[2017-12-15 15:02] VelinGeorgiev commented on #113
Will fix that soon. Thanks!

[2017-12-15 16:55] waldekmastykarz commented on #113
Cool! Thanks for picking it up!

[2017-12-15 17:00] waldekmastykarz opened #115 "New command: list modern sites"
List all modern sites of the given type.

- command: `spo site list --type [type] -f|--filter [filter]`
- `type` - type of modern sites to list. Allowed values `TeamSite|CommunicationSite`, default `TeamSite`
- `filter` - filter to apply when retrieving sites, eg. to retrieve sites with specific URL fragment
- requires connection to tenant admin site

For each site display URL and title. Get info

[2017-12-15 21:15] waldekmastykarz opened #116 "New command: create modern site"
Create modern site.

- command: `spo site add --type [type] -u|--url [url] -a|--alias [alias] -t|--title <title> -d|--description [description] -c|--classification [classification] --allowFileSharingForGuests --siteDesign [siteDesign] --siteDesignId [siteDesignId] --isPublic`
- `type` - type of site to create. Allowed values `TeamSite|CommunicationSite`. Default `TeamSite`. The selected site type

[2017-12-15 22:06] VelinGeorgiev commented on #110
Cannot reproduce. The problem was probably in my machine since the code uses `new Date().getTime() / 1000;` to validate the expiry and my OS system date was wrong yesterday.

[2017-12-15 22:07] #110 closed

[2017-12-16 02:21] VelinGeorgiev opened #118 "Auth exception when running `spo app install` when connected to tenant admin site"
**Steps to reproduce:**

[code]

**Expected:**
The app is installed on the site

**Actual:**
Error: 401 - "{\"error_description\":\"Exception of type 'Microsoft.IdentityModel.Tokens.AudienceUriValidationFailedException' was thrown.\"}"

**Additional Info:**

This is caused because some commands are using the Service.accessToken property
https://github.com/SharePoint/office365-cli/blob/c0f3ca598e04

[2017-12-16 08:17] waldekmastykarz commented on #110
Thanks for double checking. Theoretically, the expiration should’ve been handled correctly but you never know. We can always revisit if we spot the issue again.

[2017-12-16 12:33] waldekmastykarz commented on #118
So it's by design that using the `getAccessToken` method doesn't update the token stored in Auth, as that token is related to the site that you're connected to. In the example you mentioned above, there is a bug, where instead using the access token for the specified site, the token from the connected site is used which leads to an error. So in line 65, that you mentioned, the token should be set

[2017-12-16 12:57] waldekmastykarz commented on #118
The same error applies to `spo app uninstall` and `spo app upgrade`.

[2017-12-16 14:45] VelinGeorgiev commented on #118
It would also be great if we have one line summary above the Service.accessToken property to say something like **Reserved for the spo connect access token, do not change to site access token** (I mentioned that in #119

[2017-12-16 18:21] #19 closed

[2017-12-16 18:29] #118 closed

[2017-12-16 18:29] waldekmastykarz commented on #118
See my reply in #119 🙂

[2017-12-16 18:30] #104 closed

[2017-12-16 18:41] waldekmastykarz opened #121 "New command: change site settings"
Change site settings.

- command: `spo site set -u|--url <url> -c|--classification [classification] -f|--disableFlows [disableFlows]`
- `url` - url of the modern site to change settings for, required
- `classification` - classification to set, set to empty string to clear the existing value, optional
- `disableFlows` - boolean, set to `true` to disable Microsoft Flow for the specified site, option

[2017-12-16 18:48] waldekmastykarz opened #122 "New command: list classic sites"
List available classic sites.

- command: `spo site classic list -f|--filter [filter] -t|--webTemplate [webTemplate] --includeOneDriveSites`
- `filter` - filter to apply when retrieving sites, eg. to retrieve sites with specific URL fragment, optional
- `webTemplate` - only show sites of the specified web template, eg `STS#0`, optional
- `includeOneDriveSites` - include personal sites in the listi

[2017-12-16 19:01] waldekmastykarz opened #123 "New command: create classic site"
Create classic site.

- command: `spo site classic add -u|--url <url> -t|--title <title> -d|--description [description] --owner <owner> -z|--timeZone <timeZone> -l|--lcid [lcid] -w|--webTemplate [webTemplate] --resourceQuota [resourceQuota] --resourceQuotaWarningLevel [resourceQuotaWarningLevel] --storageQuota [storageQuota] --storageQuotaWarningLevel [storageQuotaWarningLevel] --removeDeletedSite

[2017-12-16 19:13] waldekmastykarz opened #124 "New command: change classic site settings"
Change classic site settings.

- command: `spo site classic set -u|--url <url> -t|--title [title] --sharing [sharing] --resourceQuota [resourceQuota] --resourceQuotaWarningLevel [resourceQuotaWarningLevel] --storageQuota [storageQuota] --storageQuotaWarningLevel [storageQuotaWarningLevel] --allowSelfServiceUpgrade [allowSelfServiceUpgrade] --owners [owners] --lockState [lockState] --noScriptSite [

[2017-12-16 19:17] waldekmastykarz opened #125 "New command: remove classic site"
Remove classic site

- command: `spo site classic remove -u|--url <url> --skipRecycleBin --confirm`
- `url` - url of the site to remove, required
- `skipRecycleBin` - set to directly remove the site without moving it to the Recycle Bin
- `confirm` - don't prompt for confirmation before removing the site
- requires connection to tenant admin site

For more information see: https://github.com/ShareP

[2017-12-16 20:10] waldekmastykarz opened #126 "Write up documentation on authentication and tokens in the CLI"
Related discussions: #119 and #118

[2017-12-16 20:12] waldekmastykarz commented on #38
At this moment we support automatically switching from tenant admin to regular sites but not the other way around. We use this approach in a few commands and seems to be working. Let's keep using it for now and revise in the future if necessary.

[2017-12-16 20:12] #38 closed

[2017-12-17 12:07] waldekmastykarz commented on #109
I believe I misunderstood it initially. While it's by-design for app insights to collect exceptions, missing a required parameter is not really an exception and we should handle it more gracefully, the same way it's handled when you are in immersive mode. Ideally, the behavior should be the same no matter in which mode you'r using the CLI.

[2017-12-18 17:56] #93 closed

[2017-12-18 17:56] #113 closed

[2017-12-18 17:56] #115 closed

[2017-12-18 17:57] #114 closed

[2017-12-18 18:19] waldekmastykarz opened #130 "The 'spo site list' command logs the complete filter in the telemetry"
The `spo list command` logs the complete filter in the telemetry rather than just logging if it's been set or not. The logged value should be a boolean rather than a string.

https://github.com/SharePoint/office365-cli/blob/7cc3fd461b175caa96acddbb63efa399fdd8affb/src/o365/spo/commands/site/site-list.ts#L39

[2017-12-18 19:48] waldekmastykarz opened #131 "The 'spo customaction get' command misses telemetry for the scope option"
The `spo customaction get` command misses telemetry for the `scope` option. We should be tracking if the scope was specified and if so, what the specified values was.

[2017-12-18 19:48] waldekmastykarz opened #132 "The 'spo customaction list' command misses telemetry for the scope option"
The `spo customaction list` command misses telemetry for the `scope` option. We should be tracking if the scope was specified and if so, what the specified values was.

[2017-12-18 19:50] waldekmastykarz opened #133 "The 'spo storageentity set' command misses telemetry for the description and comment options"
The `spo storageentity set` command misses telemetry for the `description` and `comment` options. We should be tracking if the values for both optional options have been provided (but not what the actual values are).

[2017-12-19 21:23] waldekmastykarz commented on #116
I've just finished implementing web requests for creating both modern team and collaboration sites. See https://github.com/waldekmastykarz/office365-cli/blob/6c5008823507817a4c87d4cb9eae3043b27d7b38/src/o365/spo/commands/site/site-add.ts. Next stop verifying that all the different combinations correctly work with the API, tests and docs

[2017-12-20 07:00] waldekmastykarz opened #134 "Add support for 'skipFeatureDeployment' in the 'spo app deploy' command"
Extend the existing `spo app deploy` command with the support for the `skipFeatureDeployment` flag which allows tenant-wide deployment of apps.

[2017-12-20 07:15] VesaJuvonen opened #135 "Add support for site collection app catalog"
Add support for site collection app catalog capability. Enable and disable at site collection URL.

[2017-12-20 12:38] waldekmastykarz commented on #135
Thanks for the suggestion @VesaJuvonen! We already have two commands spec'ed for this assigned to @andrewconnell: #63 and #64. I'll close this task so that we can track the separate commands, ok?

[2017-12-20 12:38] #135 closed

[2017-12-20 13:28] VesaJuvonen commented on #135
That's what happens if you don't double check the second page in the issue list view... thx for the update and good that this is moving forward.

[2017-12-20 13:38] waldekmastykarz commented on #135
Nevertheless, appreciate the suggestion 👏

[2017-12-20 15:29] VesaJuvonen commented on #135
Appreciate your comment as well. :-D

[2017-12-21 08:04] waldekmastykarz opened #141 "Provide completion plugin for zsh"
When using the CLI in immersive mode, you get autocomplete for all commands and values. In the non-immersive mode, when you're in the shell, you're however on your own. As many folks use **zsh** as their shell, it would be helpful to have a completion plugin that provides autocomplete for the CLI.

[2017-12-21 16:54] waldekmastykarz commented on #9
Apparently this was never done and closed by accident

[2017-12-21 19:20] waldekmastykarz opened #142 "CLI stuck on prompt when running in non-interactive mode"
When executing a command that yields a prompt, such as `spo app retract`, when executed in non-interactive mode, the CLI doesn't render the prompt in the shell. Instead it hangs. If the prompt is suppressed using the `--confirm` option, the command works as expected. Verify if this is a limitation in Vorpal or a bug in the CLI implementation.

[2017-12-21 20:50] NPrice99 opened #144 "Office365 -cli and iPad"
Hi

How does this work on an iPad ?

Which application do I need to run this (there is no MS-Dos on iPads) ?

Thanks

Nigel

[2017-12-21 21:05] waldekmastykarz commented on #144
I don't think you can run the CLI on iPad. The CLI is meant to be used on Windows, macOS and Linux computers.

[2017-12-21 21:05] #144 closed

[2017-12-22 06:57] #134 closed

[2017-12-22 06:57] #133 closed

[2017-12-22 06:57] #132 closed

[2017-12-22 06:58] #131 closed

[2017-12-22 06:58] #116 closed

[2017-12-22 06:58] #130 closed

[2017-12-22 19:03] andrewconnell commented on #63
$0.02, suggest we ditch the `--confirm` prompt. If the MSFT provided POSH cmdlet doesn't require it, we don't need to introduce it.

[2017-12-22 19:04] waldekmastykarz commented on #63
Agreed @andrewconnell

[2017-12-23 11:31] waldekmastykarz opened #152 "New command: list permission requests"
List pending permission requests

- command: `spo serviceprincipal permissionrequest list`
- requires connection to tenant admin site

This command should mimic the `Get-SPOTenantServicePrincipalPermissionRequests` SPO PoSh cmdlet

[2017-12-23 11:33] waldekmastykarz opened #153 "New command: approve permission request"
Approve permission request

- command: `spo serviceprincipal permissionrequest approve -i|--id <requestId>`
- requestId: ID of the request to approve
- requires connection to tenant admin site

This command should mimic the `Approve-SPOTenantServicePrincipalPermissionRequest` SPO PoSh cmdlet

[2017-12-23 11:35] waldekmastykarz opened #154 "New command: deny permission request"
Deny permission request

- command: `spo serviceprincipal permissionrequest deny -i|--id <requestId>`
- requestId: ID of the request to deny
- requires connection to tenant admin site

This command should mimic the `Deny-SPOTenantServicePrincipalPermissionRequest` SPO PoSh cmdlet

[2017-12-23 11:37] waldekmastykarz opened #155 "New command: list granted permissions"
List currently granted permissions

- command: `spo serviceprincipal grant list`
- requires connection to tenant admin site

This command should mimic the `Get-SPOTenantServicePrincipalPermissionGrants` SPO PoSh cmdlet

[2017-12-23 11:38] waldekmastykarz opened #156 "New command: revoke granted permission"
Revoke previously granted permission

- command: `spo serviceprincipal permission revoke -i|--id <objectId>`
- objectId: ID of the permission to revoke
- requires connection to tenant admin site

This command should mimic the `Revoke-SPOTenantServicePrincipalPermission` SPO PoSh cmdlet

[2017-12-23 11:42] waldekmastykarz opened #157 "New command: enable or disable the service principal"
Enable or disable the service principal

- command: `spo serviceprincipal set -e|--enabled <enabled>`
- enabled: set to `true` to enable the service principal and to `false` to disable it
- requires connection to tenant admin site

This command should mimic the `Enable-SPOTenantServicePrincipal` and `Disable-SPOTenantServicePrincipal` SPO PoSh cmdlets

[2017-12-23 11:46] waldekmastykarz opened #158 "New command: get AAD service principal"
Get AAD service principal

- command: `aad sp get -i|--appId [appId] -n|--displayName [displayName]`
- appId: ID of the application for which the service principal should be retrieved
- displayName: display name of the application for which the service principal should be retrieved
- either appId or displayName must be specified but not both
- requires connection to AAD Graph

The information can

[2017-12-23 11:50] waldekmastykarz opened #159 "New command: get OAuth grants for the specified service principal"
Get OAuth grants for the specified service principal

- command: `aad oauthgrant list -i|--clientId <clientId>`
- clientId: ID of the client for which OAuth grants should be retrieved
- requires connection to AAD Graph

The information can be get from the following REST call:

[code]

Requires #160 to be done first

[2017-12-23 11:51] waldekmastykarz opened #160 "New command: connect to AAD Graph"
Connect to AAD Graph

- command: `aad connect`

Connect to AAD Graph. Check if we can reuse an existing AAD application or if we'd have to create our own

[2017-12-23 11:52] waldekmastykarz opened #161 "New command: disconnect from AAD Graph"
Disconnect from AAD Graph

- command: `aad disconnect`

[2017-12-23 11:53] waldekmastykarz opened #162 "New command: check AAD Graph connection status"
Shows AAD Graph connection status

- command: `aad status`

[2017-12-23 11:57] waldekmastykarz opened #163 "New command: update OAuth grant for the specified service principal"
Update OAuth grants for the specified service principal

- command: `aad oauthgrant set -i|--grantId <grantId> -s|--scope <scope>`
- grantId: ID of the grant to update
- scope: updated permissions scope to set on the specified grant
- requires connection to AAD Graph

The operation can be executed using the following REST call:

[code]

Requires #160 to be done first

[2017-12-23 12:04] waldekmastykarz opened #164 "New command: add OAuth grant for the specified service principal"
Add OAuth grant for the specified service principal

- command: `aad oauthgrant add -i|--clientId <clientId> -r|--resourceId <resourceId> -s|--scope <scope>`
- clientId: ID of the service principal for which permissions should be granted
- resourceId: ID of the resource for which permissions should be granted (eg. MS Graph)
- scope: permissions to be granted
- requires connection to AAD Graph

The

[2017-12-23 12:06] waldekmastykarz opened #165 "New command: Remove specified OAuth grant"
Remove specified OAuth grant

- command: `aad oauthgrant remove -i|--grantId <grantId>`
- grantId: ID of the grant to remove
- requires connection to AAD Graph

The operation can be executed using the following REST call:

[code]

Requires #160 to be done first

[2017-12-23 17:29] #9 closed

[2017-12-23 17:29] #64 closed

[2017-12-23 17:30] #63 closed

[2017-12-23 18:25] waldekmastykarz commented on #11
I'm working currently on implementing support for connecting to the AAD Graph and it seems, that with the recent effort we've done to support persisting connections, we're covered and can support different services. I'll close this issue for now and we can revisit it in the future if additional needs arise.

[2017-12-23 18:25] #11 closed

[2017-12-24 18:16] #160 closed

[2017-12-24 18:16] #161 closed

[2017-12-24 18:16] #162 closed

[2017-12-24 18:16] #158 closed

[2017-12-26 11:41] #159 closed

[2017-12-26 11:42] #164 closed

[2017-12-26 11:42] #163 closed

[2017-12-26 11:43] #165 closed

[2017-12-26 12:53] waldekmastykarz commented on #108
Recently, when building one of the commands, I spotted an issue with easy-table and transposed printing. To fix the bug, I build alternative version of transposed in the CLI. We could fix the issue you mentioned centrally, in [the code I added](https://github.com/SharePoint/office365-cli/blob/7380c80febe62ef97c64c98eddab9154474b244b/src/Utils.ts#L149) rather than changing all occurrences.

[2017-12-27 21:38] waldekmastykarz commented on #142
After a quick look it seems like an issue with Vorpal. There was an issue with PR logged for it in the past (https://github.com/dthree/vorpal/pull/166) but apparently there were some side-effects which is why it isn't available in the current build of Vorpal. Let's have a closer look and see if we can find a way to deal with this issue in the CLI.

[2017-12-28 09:58] #152 closed

[2017-12-28 09:59] #153 closed

[2017-12-28 09:59] #154 closed

[2017-12-28 10:00] #155 closed

[2017-12-28 10:00] #156 closed

[2017-12-28 10:01] #157 closed

[2017-12-29 08:56] waldekmastykarz opened #184 "Rename 'spo cdn origin set' to 'spo cdn origin add'"
The `spo cdn origin set` command should actually be named `spo cdn origin add` as it only adds origin and doesn't update existing one. Trying to add an existing origin returns an error which is a typical behavior for an add command.

[2017-12-29 09:29] #184 closed

[2017-12-29 09:30] #126 closed

[2017-12-29 09:30] #108 closed

[2017-12-29 09:31] #109 closed

[2017-12-29 10:18] waldekmastykarz commented on #141
Research if we could use https://www.npmjs.com/package/omelette to offer autocomplete for any shell and not just zsh

[2017-12-30 14:18] waldekmastykarz commented on #141
I've got a first working setup of the autocomplete for the CLI that works in Zsh, Bash and Fish. I would appreciate it if you guys could have a look at it and tell me what you think, and in particular if there is anything we would have to change before releasing it.

Give it a try:

1. Clone my fork at https://github.com/waldekmastykarz/office365-cli/tree/autocomplete (ensure you're in the `autoco

[2017-12-30 18:38] waldekmastykarz opened #187 "New command: list subsites of the specified site"
List subsites of the specified site.

- command: `spo web list -u|--webUrl <webUrl>`
- webUrl: URL of the parent site for which to retrieve the list of subsites

Retrieve webs using `GET <webUrl>/_api/web/webs`
In text output mode, for each subsite display Id, Title and URL. In JSON output mode, include all properties. Take into account possible limitation of how many webs can be retrieved in a si

[2017-12-30 18:40] waldekmastykarz opened #188 "New command: get information about the specified site"
Get information about the specified site

- command: `spo web get -u|--webUrl <webUrl>`
- webUrl: URL of the site for which to retrieve the information

Retrieve web using `GET <webUrl>/_api/web`. Ensure you have access token for the specified web.

[2017-12-30 18:50] waldekmastykarz opened #189 "New command: add new subsite to the specified site"
Add new subsite to the specified site

- command: `spo web add -t|--title <title> -u|--webUrl <webUrl> -w|--webTemplate <webTemplate> -p|--parentWebUrl <parentWebUrl> -d|--description [description] -l|--locale [locale] --breakInheritance --inheritNavigation`
- title: Subsite title
- webUrl: last part of the URL for the subsite to be created (eg. `subsite1` and not `https://contoso.sharepoint.com/s

[2017-12-30 18:57] sebastienlevert opened #190 "Provide completion plugin for Cmder / ConEmu"
Very similar to #141, when using the CLI in immersive mode, you get autocomplete for all commands and values. In the non-immersive mode, when you're in the shell, you're however on your own. As many folks on Windows use Cmder / ConEmu as their shell, it would be helpful to have a completion plugin that provides autocomplete for the CLI.

[2017-12-30 18:58] waldekmastykarz opened #191 "New command: update properties of the specified subsite"
Update properties of the specified subsite

- command: `spo web set -u|--webUrl <webUrl> -t|--title [title] -d|--description [description] --siteLogoUrl [siteLogoUrl] --alternateCssUrl [alternateCssUrl] --masterUrl [masterUrl] --customMasterUrl [customMasterUrl]`
- webUrl: Absolute URL of the subsite to update, required
- title: Subsite title, optional
- description: Subsite description, optional

[2017-12-30 19:03] waldekmastykarz commented on #190
Agreed, this would be very helpful for Windows users

[2017-12-30 19:06] waldekmastykarz opened #192 "New command: delete specified subsite"
Delete specified subsite

- command: `spo web remove -u|--webUrl <webUrl> --confirm`
- webUrl: URL of the subsite to remove
- confirm: Do not prompt for confirmation before deleting the subsite

Delete subsite using:

[code]

[2017-12-30 23:49] VelinGeorgiev opened #194 "Possible issue on the CommandValidate unit tests"
Description:
The command `command.validate()` method should return true on successful validation, or string error message on validation failure. A CommandValidate unit tests looks like:

[code]
The problem is that if the validation fails with returning message like: "Something went wrong"  then the assert("Something went wrong") returns true and the test passes which is not expected behavior

Step

[2017-12-31 00:01] VelinGeorgiev commented on #21
Hey @waldekmastykarz , I can start on that if it is not in progress

[2017-12-31 07:48] waldekmastykarz commented on #21
It’s yours @VelinGeorgiev! Thanks!

[2017-12-31 11:11] waldekmastykarz commented on #27
Let's start with the following spec:

- command: `spo externaluser list -f|--filter [filter] -p|--pageSize [pageSize] -i|--position [position] -s|--sortOrder [sortOrder] -u|--siteUrl [siteUrl] --showOnlyUsersWithAcceptingAccountNotMatchInvitedAccount [showOnlyUsersWithAcceptingAccountNotMatchInvitedAccount]`
- filter: Limits the results to only those users whose first name, last name or email addr

[2017-12-31 19:01] waldekmastykarz commented on #142
I've got a workaround for the issue in Vorpal. The only side effect is an extra empty line printed before and after the command output, but they seem harmless and acceptable trade-off to be able to correctly display prompts in the non-interactive mode in the CLI.

I would appreciate it, if you could have a look at the fix guys, give it a test and tell me if I missed anything and if it would be acc

[2017-12-31 19:43] waldekmastykarz commented on #190
Good news: I had a quick look at this and we should be able to do it quite easily using the information we already have in the CLI. Since I've done the first part for sh, let me take this one as well.

[2018-01-01 18:20] #18 closed

[2018-01-01 18:20] #194 closed

[2018-01-01 18:21] #27 closed

[2018-01-01 19:33] waldekmastykarz opened #198 "New command: list lists in the specified subsite"
List lists in the specified subsite.

- command: `spo list list -u|--webUrl <webUrl>`
- webUrl: URL of the subsite for which to retrieve the list of lists

Retrieve lists using `GET <webUrl>/_api/web/lists?$select=Title,Id,Url`
For each list display Id, Title and URL. Take into account possible limitation of how many lists can be retrieved in a single request and ensure you get all of them. Ensure

[2018-01-01 19:38] waldekmastykarz opened #199 "New command: get information about the specified list"
Get information about the specified list

- command: `spo list get -u|--webUrl <webUrl> -i|--id [id] -t|--title [title]`
- webUrl: URL of the site where the list to retrieve is located
- id: List id
- title: List title
- specify either id or title but not both

Retrieve list using `GET <webUrl>/_api/web/lists(guid'<id>')` or `GET <webUrl>/_api/web/lists/GetByTitle('<title>')`. Ensure you have acce

[2018-01-02 10:15] waldekmastykarz opened #200 "Notify if a newer version of the CLI is available"
Show notification when a newer version of the CLI is available.

Research, how this would work using https://github.com/yeoman/update-notifier.

[2018-01-02 11:03] waldekmastykarz commented on #199
As requested: all yours @rfjschouten 💪

[2018-01-03 11:32] waldekmastykarz opened #202 "In the `spo status` and `aad status` commands show the username of the current user"
When running the `spo status` or `aad status` command, show the username of the currently connected user. This is particularly useful when working with AAD and other O365 services that have a fixed URL and you can't quickly tell with which account you're currently connected. Information about the user can be retrieved from the access token.

[2018-01-03 18:21] #190 closed

[2018-01-03 18:23] #141 closed

[2018-01-03 18:25] waldekmastykarz commented on #190
The implementation is available in the latest beta which you can grab using:

[code]

Once again, thanks for the suggestion 👏

[2018-01-03 23:04] VelinGeorgiev commented on #142
Hey @waldekmastykarz,

Tested on Windows and works as expected. Attached are Windows screens:
cmd.exe:
![cmd exe](https://user-images.githubusercontent.com/1049476/34542980-abe32e32-f0d6-11e7-8815-b601ad964174.PNG)
cmder:
![cmder](https://user-images.githubusercontent.com/1049476/34542986-adff958e-f0d6-11e7-8d03-572a705dc40e.PNG)

I possess poor UI skills, but I personally do not care if it would

[2018-01-04 06:50] waldekmastykarz commented on #142
Thanks for checking @VelinGeorgiev. The result is similar (if not the same) as on macOS

[2018-01-04 20:32] waldekmastykarz opened #204 "New command: add new list to the specified site"
Add new list to the specified site

- command: `spo list add -t|--title <title> --baseTemplate <baseTemplate> -u|--webUrl <webUrl> --description [description] --templateFeatureId [templateFeatureId] --schemaXml [schemaXml] (additional properties)`
- title: List title
- baseTemplate: Integer representing the list template that should be used to create the list
- webUrl: URL of the site where the li

[2018-01-04 20:37] waldekmastykarz opened #205 "New command: update properties of the specified list"
Update properties of the specified list

- command: `spo list set -i|-id [id] -t|--title [title] -u|--webUrl <webUrl> (additional properties)`
- title: List title
- id: List ID
- webUrl: Absolute URL of the site where the list is located
- specify either title or id but not both to retrieve the list

List of additional properties that can be set:

[code]

For each property create a command option

[2018-01-04 20:46] waldekmastykarz opened #206 "New command: delete specified list"
Delete specified list

- command: `spo list remove -t|--title [title] -i|--id [id] -u|--webUrl <webUrl> --confirm`
- title: List title
- id: List ID
- webUrl: URL of the site where the list is located
- confirm: Do not prompt for confirmation before deleting the list
- specify the title or the ID to retrieve the list but not both

Delete list using:

[code]

[2018-01-04 21:06] wobba commented on #12
Would supporting odata $filter work? Easier than wrapping it with specific queries perhaps.

[2018-01-04 21:08] wobba commented on #13
Is it possible to grab out registred .com tld from the tenant, and propse to use one of those in the id as prefix instead of the random prefix?

[2018-01-04 21:15] wobba commented on #16
Give a warning if state is published/deprecated that you cannot remove it.

[2018-01-04 21:16] wobba commented on #15
If changing state from indev to available/published - ask if you really want this as it’s made public to all tenants. And state that you cannot go back to indev.

[2018-01-05 05:35] waldekmastykarz commented on #142
I've done some additional testing and it seems like the additional empty lines lead to errors when trying to process the JSON output. I tried using both jq in sh and ConvertFrom-Json in PowerShell. While the errors are slightly different, you do get an error which is specifically related to trailing empty line. We can't merge this fix in its current state as it would block users from building scri

[2018-01-05 06:19] waldekmastykarz commented on #142
I have a working solution based on a fix applied to a forked Vorpal repo which you can see at https://github.com/waldekmastykarz/office365-cli/tree/fix-noninteractiveprompt-vorpal (notice the vorpal dep in package.json pointing to my forked repo with the fix). Ideally, we'd reference Vorpal from npm, but given the fix for our issue has been waiting for almost a year, I suspect chances are remote w

[2018-01-05 06:22] waldekmastykarz commented on #13
@wobba if you mean the registered domains from AAD, then theoretically yes, we should be able to do it. However, in the CLI we use the approach of the commands being explicit and not doing anything on your behalf. So in this case, if you don't explicitly ask the CLI, to retrieve the domains, it wouldn't.

[2018-01-05 06:25] waldekmastykarz commented on #12
@wobba in other CLI commands we usually grab all items in the collection which you can then process (sort, filter) through JSON output.
When using $filter, would you use it to find a single item or multiple items sharing a common value? Do you find yourself often using a specific value on which you filter?

[2018-01-05 06:26] waldekmastykarz commented on #16
@wobba I suspect that if the schema is published/deprecated and you try to remove it, the API won't allow it, right?

[2018-01-05 07:48] wobba commented on #13
I get that - which means most people would generate schema's with a random prefix - which is bad if they can avoid it(?) - depending on anonymity of course. Adding help text for the command will at least help some :)

[2018-01-05 07:50] wobba commented on #12
@waldekmastykarz Good point - listing all seems what I've done so far - but then again, I wouldn't really go look for a schema which suits my need. I would create my own. Fetching all can take some time if the number grows to 1000's and beyond. Something to think about. Fetching based on status might be a thing though to avoid getting discarded ones.

[2018-01-05 07:51] wobba commented on #16
@waldekmastykarz  Correct, you get an error.

[2018-01-05 11:34] waldekmastykarz commented on #12
@wobba typing the exact $filter query is rather error prone, so if there are properties users frequently filter on, we could expose them as command options and build the $filter query ourselves in the command. Which ones would you suggest?

[2018-01-05 11:34] waldekmastykarz commented on #13
We can absolutely add guidance in the command help 👍

[2018-01-05 12:06] wobba commented on #12
Filter on status, and filter on owner appid I think.

[2018-01-05 19:47] waldekmastykarz opened #208 "Extend SharePoint docs on ALM APIs using the CLI"
Submit PR to SharePoint docs at https://docs.microsoft.com/en-us/sharepoint/dev/apis/alm-api-for-spfx-add-ins describing how to manage lifecycle of apps using the Office 365 CLI.

[2018-01-05 19:52] waldekmastykarz opened #209 "Extend SharePoint docs on tenant properties using the CLI"
Submit PR to SharePoint docs at https://docs.microsoft.com/en-us/sharepoint/dev/spfx/tenant-properties describing how to manage tenant properties using the Office 365 CLI.

[2018-01-05 19:56] waldekmastykarz opened #210 "Extend SharePoint docs on creating modern team sites using the CLI"
Submit PR to SharePoint docs at https://docs.microsoft.com/en-us/sharepoint/dev/solution-guidance/modern-experience-customizations-provisioning-sites describing how to create modern sites using the Office 365 CLI.

[2018-01-05 19:58] waldekmastykarz opened #211 "Extend SharePoint docs on managing the site collection app catalog using the CLI"
Submit PR to SharePoint docs at https://docs.microsoft.com/en-us/sharepoint/dev/general-development/site-collection-app-catalog describing how to manage site collection app catalogs using the Office 365 CLI.

[2018-01-05 20:20] waldekmastykarz opened #212 "New command: update custom action"
Update existing custom action

- command: `spo customaction set -u|--url <url> -i|--id <id> (additional properties)`
- url: URL of the site (collection) where the custom action is registered
- id: ID of the custom action to update
- all parameters that can be set on `spo customaction add` should also be possible to set on `spo customaction set`
- requires connection to a SharePoint site

[2018-01-06 21:07] waldekmastykarz opened #216 "New command: update site script"
Update existing site script

- command: `spo sitescript set -i|--id <id> -t|--title [title] -d|--description [description] -c|--content [content] -v|--version [version]`
- id: ID of the site script to update
- title: Site script title
- description: Site script description
- content: JSON string containing the site script
- version: Site script version
- requires connection to a SharePoint site

F

[2018-01-07 20:23] waldekmastykarz opened #222 "Exception in sh autocomplete when the typed words don't match a command"
Exception in sh autocomplete when the typed words don't match a command.

Repro steps:
- open sh
- type `o365 abc def<tab>`
- exception

Affects: v0.4.0

[2018-01-08 15:46] rfjschouten commented on #199
@waldekmastykarz I published my branch to my forked project. The command is implemented and works. I only have one test which is failing at the moment and I don't see what's the problem. Could you take a look?
https://github.com/rfjschouten/office365-cli/tree/getlistinformation

[2018-01-08 20:34] waldekmastykarz commented on #122
Picked up by @Laskewitz

[2018-01-08 21:07] VelinGeorgiev commented on #199
Hey @rfjschouten , I checked the issue and it is related to sinon.
`TypeError: Attempted to wrap ensureAccessToken which is already wrapped`.

Basically when you create sinon spy or sinon stub wrapper on a function/method, you have to restore it or remove that wrapper so it can be wrapper in other command tests suit.

In your case you are wrapping

[code]
but that `ensureAccessToken` has never bee

[2018-01-08 23:25] VelinGeorgiev commented on #142
Agree, this should be the way to go. Will have a look at that withing the next few days.

[2018-01-09 07:50] rfjschouten commented on #199
Hi @VelinGeorgiev thanks for taking a look at the code. Your change is resolving the problem indeed where the next test was failing due to sinon. I still have 1 test which is failing on an assert which I don't see why it is failing:

1) spo list get
       retrieves and prints all details user custom actions if title option is passed:

      AssertionError [ERR_ASSERTION]: false == true
      + ex

[2018-01-09 09:45] waldekmastykarz commented on #142
Rather than looking at the fork, have a look at the PR @VelinGeorgiev. I'm also planning to merge all PRs in a couple of days so we can give them a try in a beta version.

[2018-01-09 10:47] waldekmastykarz commented on #199
On another note @rfjschouten, I had a quick look at your code and here are a few things that we should adjust:
- In https://github.com/rfjschouten/office365-cli/blob/8d335aeec22677bd165625e837fcc15a8a729307/src/o365/spo/commands/list/list-get.ts#L42 you're using `ensureAccessToken`. Because the command allows specifying the URL of the web on which the operation will be performed, you should use `g

[2018-01-09 10:51] waldekmastykarz commented on #199
@rfjschouten regarding your failing test: have you compared if the objects are identical? In your code, you can use `console.log(log)` to see which objects have been passed to the log and compare their values with the expected object in your test.

[2018-01-09 15:18] rfjschouten commented on #199
@waldekmastykarz Thanks for your review. I have changed the code with your suggestions. My API call had an accept header with verbose in it, which caused a response which was put in a 'd' variable. In my browser I did the same call but with accept nometadata. This was causing a difference in the input/output in the test. I have changed this and have 100% code coverage and test results. I will do a

[2018-01-09 15:42] rfjschouten commented on #199
I created PR 225 for this. I have 1 branche conflict on Commands.ts file. Not sure how this happened. I have gone through all documentation steps...

[2018-01-09 20:57] VelinGeorgiev opened #226 "Bug: Accept number as command option value"
Description: We should be able to specify number as option value without the need to enclose it in quotes.

Steps to reproduce:
[code]

Expected:
[code]

Actual:
[code]

Additional notes:
   Seems that the option value `-v 1` is problem for `Utils.escapeXml` because actually is number.
   Quick look at the Utils.escapeXml method shows that if we turn the var 's' to string, could resolve the ask.
[

[2018-01-10 11:08] waldekmastykarz commented on #199
No worries, I'll fix it when merging the PR 👍

[2018-01-10 11:08] waldekmastykarz commented on #199
Meanwhile, care for taking another one @rfjschouten? 😄

[2018-01-10 11:58] rfjschouten commented on #199
@waldekmastykarz Yes, off course! I will take a look in the issue list and let you know...

[2018-01-10 12:03] waldekmastykarz commented on #199
Excellent @rfjschouten! Appreciate your help 👏

[2018-01-10 16:09] waldekmastykarz commented on #198
Picked up by @rfjschouten

[2018-01-10 19:04] #142 closed

[2018-01-10 19:04] #65 closed

[2018-01-10 19:05] #66 closed

[2018-01-10 19:05] #67 closed

[2018-01-10 19:05] #68 closed

[2018-01-10 19:07] #216 closed

[2018-01-10 19:07] #202 closed

[2018-01-10 19:08] #69 closed

[2018-01-10 19:08] #222 closed

[2018-01-10 19:09] #199 closed

[2018-01-10 23:06] VelinGeorgiev commented on #212
@waldekmastykarz, I can pick up that to complete the custom actions story.

[2018-01-11 07:47] waldekmastykarz commented on #212
Excellent! All yours @VelinGeorgiev 💪

[2018-01-11 08:46] waldekmastykarz opened #230 "Update the `spo cdn set` command to support managing both cdn types and skipping default origins"
According to the [latest documentation](https://support.office.com/en-us/article/use-the-office-365-content-delivery-network-with-sharepoint-online-bebb285f-1d54-4f79-90a5-94985afc6af8), using SPO PoSh you can manage state of both CDN types at once. Also, when enabling CDN, you skip provisioning default origins.

[code]

We should update the `spo cdn set` command to support these capabilities as w

[2018-01-11 09:07] rfjschouten commented on #198
@waldekmastykarz in my opinion there is no limitation on how many lists can be retrieved. No documentation found on this. If I look at the API call above, only Title, Id and Url are retrieved. Should these fields be displayed for both json and text output option? Or should the json output everything (ListInstance.ts object array)?

[2018-01-11 09:23] waldekmastykarz commented on #198
In many cases, the REST API returns no more than 500 objects, so it would be good to verify if this is the case here as well or not. For JSON output let's indeed retrieve all properties (ie. no `$select` parameter in the query).

[2018-01-11 13:25] VelinGeorgiev opened #231 "New command: clear custom actions"
Deletes all custom actions in the collection.

command: spo customaction clear --url|-u <url> --scope|-s [scope] --confirm
url of the site (collection) to remove the user action from
scope of the custom action to remove. Allowed values Site|Web|All. Default All
requires connection to a SharePoint site

More information available at https://msdn.microsoft.com/en-us/library/office/dn531432.aspx#bk_U

[2018-01-11 14:05] waldekmastykarz commented on #231
Excellent @VelinGeorgiev. I have nothing to add. Shall I assign it to you?

[2018-01-11 15:47] VelinGeorgiev commented on #231
Please do! That should be a quick one.

[2018-01-11 18:32] waldekmastykarz commented on #231
Done 🚀

[2018-01-11 18:34] waldekmastykarz opened #232 "Update the 'aad oauth2grant list' command to include all properties in JSON output"
When using output JSON, the `aad oauth2grant list` should include all properties to better support building queries.

[2018-01-11 18:34] waldekmastykarz opened #233 "Update the 'spo app list' command to include all properties in JSON output"
When using output JSON, the `spo app list` should include all properties to better support building queries.

[2018-01-11 18:35] waldekmastykarz opened #234 "Update the 'spo customaction list' command to include all properties in JSON output"
When using output JSON, the `spo customaction list` should include all properties to better support building queries.

[2018-01-11 18:36] waldekmastykarz opened #235 "Update the 'spo site list' command to include all properties in JSON output"
When using output JSON, the `spo site list` should include all properties to better support building queries.

[2018-01-11 18:39] waldekmastykarz opened #236 "Add end-user documentation: Installing the CLI"
Add end-user documentation on:

- CLI prerequisites
- downloading the CLI
- installing the CLI
- checking the CLI version
- checking if a new version is available
- updating the CLI
  - updating command completion
- uninstalling the CLI
  - clearing persisted connection information using the CLI before uninstalling
  - clearing persisted connection information manually

[2018-01-11 18:41] waldekmastykarz opened #237 "Add end-user documentation on using the CLI"
Add end-user documentation on using the CLI:

- starting the CLI
  - immersive mode
    - closing the immersive mode
  - non-interactive mode
- listing available commands
- getting command help
- required and optional options
- quotes
  - immersive vs. non-immersive mode
- verbose and debug mode
- setting up command completion

[2018-01-11 18:43] waldekmastykarz opened #238 "Add end-user documentation: connecting to Office 365"
Add end-user documentation: connecting to Office 365

- Office 365 services in the CLI
- connecting to O365 services
  - configuring proxy: https://github.com/request/request#controlling-proxy-behaviour-using-environment-variables
- persisting connections (general overview with a detailed link to concepts)
- checking connection status
- disconnecting from O365

[2018-01-11 18:44] waldekmastykarz opened #239 "Add end-user documentation: command output mode"
Add end-user documentation on command output mode

- output text (default)
- output JSON
- when to use which
- sample script
  - bash
  - PowerShell

[2018-01-13 18:56] waldekmastykarz opened #251 "New command: update site design"
Update existing site design

- command: `spo sitedesign set -i|--id <id> -t|--title [title] -d|--description [description] -w|--webTemplate <webTemplate> -s|--siteScripts <siteScripts> -m|--previewImageUrl [previewImageUrl] -a|--previewImageAltText [previewImageAltText] --isDefault [isDefault]`
- id: The ID of the site design to update
- title: The new display name of the updated site design
- des

[2018-01-13 21:11] waldekmastykarz opened #252 "Command completion doesn't work on Windows"
Original thread #197

[2018-01-15 11:19] rfjschouten commented on #204
@waldekmastykarz can I pick this one up?

[2018-01-15 11:32] waldekmastykarz commented on #204
All yours @rfjschouten! Thank you!

[2018-01-15 20:04] #226 closed

[2018-01-15 20:05] #21 closed

[2018-01-15 20:05] #232 closed

[2018-01-15 20:06] #233 closed

[2018-01-15 20:06] #234 closed

[2018-01-15 20:06] #235 closed

[2018-01-15 20:07] #86 closed

[2018-01-15 20:07] #87 closed

[2018-01-15 20:08] #88 closed

[2018-01-15 20:08] #89 closed

[2018-01-15 20:09] #90 closed

[2018-01-15 20:09] #122 closed

[2018-01-15 20:10] #252 closed

[2018-01-15 20:11] #198 closed

[2018-01-15 20:11] #85 closed

[2018-01-17 08:38] akhileshnirapure opened #255 "how to make 'spo connect' work with proxy"
Hi @waldekmastykarz ,
I'm trying to connect

spo connect https://**[admin]**.sharepoint.com

but it errors out : connect ETIMEDOUT [ip address]

Note: node config has proxy setting set.

The same works when i use SharePoint Online Management Shell (Latest version)

Regards
Akhilesh

[2018-01-17 11:33] waldekmastykarz commented on #255
I just had a quick look at the package we're using for issuing web requests and it seems like you need to specify the proxy as a separate option on the request. If this is indeed the case, then it would mean that at this moment using proxies is not supported and we'd have to extend the CLI to support them.

If you'd be willing to help us test it, I could put together a test version so that we can

[2018-01-17 11:37] waldekmastykarz commented on #255
Reading further through the request docs I've found this: https://github.com/request/request#controlling-proxy-behaviour-using-environment-variables. So theoretically, it should work the way it is. Could you double check if this is how you configured your proxy?

[2018-01-17 16:01] VelinGeorgiev commented on #255
@waldekmastykarz , @akhileshnirapure  I will also try to run it behind corporate proxy in the next few days to see what would happen on my end.

[2018-01-17 16:22] waldekmastykarz commented on #255
Appreciate your help @VelinGeorgiev 👏

[2018-01-18 04:49] rajendra1976 commented on #97
Is there any command available to create Hub Sites ?

[2018-01-18 08:22] waldekmastykarz commented on #97
Yes, just yesterday I've submitted a PR for #94 which allows you to register a regular site collection as a hub site. I'll be merging it shortly and release a new beta version of the CLI.

[2018-01-18 15:07] kshsbala commented on #189
Can I work on this one?

[2018-01-18 18:29] waldekmastykarz commented on #189
Sure thing! All yours!

[2018-01-18 20:02] #91 closed

[2018-01-18 20:02] #92 closed

[2018-01-18 20:04] #94 closed

[2018-01-19 14:50] waldekmastykarz opened #261 "Provide completion for PowerShell"
When using the CLI in non-immersive mode in PowerShell, provide completion for commands and their options.

Additional information:
https://twitter.com/lzybkr/status/954359342001614849
https://twitter.com/lzybkr/status/954363715213672449
https://github.com/lzybkr/TabExpansionPlusPlus/blob/master/WindowsExe.ArgumentCompleters.ps1
https://github.com/lzybkr/TabExpansionPlusPlus

[2018-01-20 21:42] VelinGeorgiev commented on #255
Seems to be working fine and as per the documents with one restriction, it is strictSSL all the time.
@akhileshnirapure here is how you can try and setup the proxy if you are using Windows OS.

Open the Windows startup menu (windows button) -> Open "Run" prompt -> type "SystemPropertiesAdvanced" -> go to the "Environment Variables"
![image](https://user-images.githubusercontent.com/1049476/3518803

[2018-01-21 07:48] waldekmastykarz commented on #255
Thank you double checking and the detailed description @VelinGeorgiev 👏

[2018-01-21 17:58] #95 closed

[2018-01-21 17:58] #96 closed

[2018-01-21 17:59] #236 closed

[2018-01-21 17:59] #237 closed

[2018-01-21 18:00] #238 closed

[2018-01-21 18:00] #239 closed

[2018-01-21 18:18] waldekmastykarz opened #268 "New command: get list items from the specified list"
Get list items from the specified list

- command: `spo listitem list -w|--webUrl <webUrl> -i|--id [id] -t|--title [title] -s|--pageSize [pageSize] -q|--query [query] -f|--field [fields]`
- webUrl: The URL of the site where the list from which to retrieve items is located
- id: The ID of the list from which to retrieve items
- title: The title of the list from which to retrieve items
- pageSize: T

[2018-01-21 18:21] waldekmastykarz opened #269 "New command: get the specified list item"
Get the specified list item

- command: `spo listitem get -w|--webUrl <webUrl> -l|--listId [listId] --listTitle [listTitle] -i|--id <id> -f|--field [fields]`
- webUrl: The URL of the site where the list from which to retrieve items is located
- listId: The ID of the list from which to retrieve items
- listTitle: The title of the list from which to retrieve items
- id: The ID of the item to retriev

[2018-01-21 18:25] waldekmastykarz opened #270 "New command: add new list item"
Add new list item to the specified list

- command: `spo listitem add -w|--webUrl <webUrl> -l|--listId [listId] --listTitle [listTitle] -c|--contentType [contentType] -f|--folder [folder] ...`
- webUrl: The URL of the site where the list from which to retrieve items is located
- listId: The ID of the list from which to retrieve items
- listTitle: The title of the list from which to retrieve items

[2018-01-21 18:31] waldekmastykarz opened #271 "New command: update list item"
Update the specified list item

- command: `spo listitem set -w|--webUrl <webUrl> -l|--listId [listId] --listTitle [listTitle] -i|--id <id> -c|--contentType [contentType] --systemUpdate ...`
- webUrl: The URL of the site where the list from which to retrieve items is located
- listId: The ID of the list from which to retrieve items
- listTitle: The title of the list from which to retrieve items
-

[2018-01-21 18:33] waldekmastykarz opened #272 "New command: remove the specified list item"
Get the specified list item

- command: `spo listitem remove -w|--webUrl <webUrl> -l|--listId [listId] --listTitle [listTitle] -i|--id <id> --recycle --confirm`
- webUrl: The URL of the site where the list from which to retrieve items is located
- listId: The ID of the list from which to retrieve items
- listTitle: The title of the list from which to retrieve items
- id: The ID of the item to retr

[2018-01-23 10:52] akhileshnirapure commented on #255
@VelinGeorgiev followed steps and o365 cli works :-) @waldekmastykarz  great stuff

[2018-01-23 10:52] #255 closed

[2018-01-23 13:19] waldekmastykarz commented on #255
Excellent! Thanks for confirming @akhileshnirapure and once again, thanks @VelinGeorgiev for the detailed walkthrough 👏

[2018-01-24 04:52] karthikchintala64 commented on #187
can I work on this item?

[2018-01-24 05:46] AsishP opened #275 "Help doesn't work as shown. Instead of spo *, help spo works"
Don't know if I am missing anything but the Help doesn't work as shown in the screen. Using spo * or spo * --help didn't work. However help spo worked and next appends work. Is there something wrong?

![image](https://user-images.githubusercontent.com/11584558/35316495-07e0d37e-0126-11e8-99af-3f6b5caa9864.png)

![image](https://user-images.githubusercontent.com/11584558/35316508-1bff5d30-0126-11e8

[2018-01-24 06:27] waldekmastykarz commented on #187
Sure thing! All yours! Appreciate your help 👍

[2018-01-24 06:31] waldekmastykarz commented on #275
`spo *` is just an indicator that there are more commands, not a command you can type in the CLI. The same way you typed `help spo`, to get the list of all commands in the SPO group, you can type `help spo app` to get the list of all commands related to apps. In this context `*` simply indicates that there are more commands behind. Hope this clarifies it a bit.

[2018-01-24 08:57] AsishP commented on #275
Thanks Walder, yes that clarifies the confusion.

[2018-01-24 09:16] #275 closed

[2018-01-24 09:17] waldekmastykarz commented on #275
Excellent! Thank you for reaching out!

[2018-01-27 12:12] #97 closed

[2018-01-27 12:13] #212 closed

[2018-01-27 12:13] #98 closed

[2018-01-27 12:14] #99 closed

[2018-01-27 12:14] #100 closed

[2018-01-27 18:38] waldekmastykarz opened #281 "New command: get files from the specified folder"
Get files from the specified folder

- command: `spo file list -w|--webUrl <webUrl> -f|--folder <folder>`
- webUrl: The URL of the site where the folder from which to retrieve files is located
- folder: server- or site-relative URL of the folder from which to retrieve files
- for output text shows the value of the following properties `UniqueID`, `Name`, `ServerRelativeUrl`. For output json, inclu

[2018-01-27 18:44] waldekmastykarz opened #282 "New command: get information about the specified file"
Get information about the specified file

- command: `spo file get -w|--webUrl <webUrl> -u|--url [url] -i|--id [id] --asString --asListItem --asFile -p|--path [path]`
- webUrl: The URL of the site where the file is located
- url: server- or site-relative URL of the file
- id: file ID
- asString: retrieve the contents of the specified file
- asListItem: retrieve the underlying list item
- asFile: s

[2018-01-27 19:01] waldekmastykarz opened #283 "New command: add file"
Upload file to the specified folder

- command: `spo file add -w|--webUrl <webUrl> -f|--folder <folder> -p|--path <path> -c|--contentType [contentType] --checkOut --checkInComment [checkInComment] --approve --approveComment [approveComment] --publish --publishComment [publishComment]  ...`
- webUrl: The URL of the site where the file should be uploaded to
- folder: server- or site-relative URL to

[2018-01-27 19:11] waldekmastykarz opened #284 "New command: check in file"
Check in the specified file

- command: `spo file checkin -w|--webUrl <webUrl> -i|--id [id] -u|--url [url] -t|--type [type] -c|--comment [comment]`
- webUrl: The URL of the site where the file should be uploaded to
- id: id of the file to check in
- url: server- or site-relative URL of the file to check in
- type: type of the check in. Available values Minor|Major, default Major
- comment: comment

[2018-01-27 19:15] waldekmastykarz opened #285 "New command: check out file"
Check out the specified file

- command: `spo file checkout -w|--webUrl <webUrl> -i|--id [id] -u|--url [url]`
- webUrl: The URL of the site where the file is located
- id: id of the file to check out
- url: server- or site-relative URL of the file to check out
- specify either the ID or the URL of the file to check out but not both
- requires connection to a SharePoint site

For more information s

[2018-01-27 19:22] waldekmastykarz opened #286 "New command: copy file"
Copy the specified file to another location

- command: `spo file copy -w|--webUrl <webUrl> -u|--sourceUrl <sourceUrl> -t|--targetUrl <targetUrl> --overwriteIfAlreadyExists --skipSourceFolderName`
- webUrl: The URL of the site where the file is located
- sourceUrl: site-relative URL of the file or folder to copy
- targetUrl: server-relative URL where to copy the file or folder to
- overwriteIfAlre

[2018-01-27 19:26] waldekmastykarz opened #287 "New command: remove file"
Remove the specified file

- command: `spo file remove -w|--webUrl <webUrl> -i|--id [id] -u|--url [url] --recycle --confirm`
- webUrl: The URL of the site where the file is located
- id: id of the file to remove
- url: server- or site-relative URL of the file to remove
- recycle: move the file to the recycle bin instead of permanently deleting it
- confirm: don't prompt before removing the file
-

[2018-01-27 19:34] waldekmastykarz opened #288 "New command: get property bag values"
Get property bag values

- command: `spo propertybag list -w|--webUrl <webUrl> -f|--folder [folder]`
- webUrl: The URL of the site for which property bag values should be listed
- folder: server- or site-relative URL of the folder from which to retrieve property bag values
- requires connection to a SharePoint site

For more information see the [Get-PnPPropertyBag](https://msdn.microsoft.com/en-us

[2018-01-27 19:36] waldekmastykarz opened #289 "New command: get property bag value"
Get the value of the specified property from the property bag

- command: `spo propertybag get -w|--webUrl <webUrl> -p|--property <property> -f|--folder [folder]`
- webUrl: The URL of the site from which the property bag value should be retrieved
- property: name of the property for which the value should be retrieved
- folder: server- or site-relative URL of the folder from which to retrieve prop

[2018-01-27 19:39] waldekmastykarz opened #290 "New command: set property bag value"
Set the value of the specified property from the property bag

- command: `spo propertybag set -w|--webUrl <webUrl> -p|--property <property> -v|--value <value> -f|--folder [folder]`
- webUrl: The URL of the site in which the property bag value should be set
- property: name of the property for which to set the value
- value: value to set
- folder: server- or site-relative URL of the folder on whic

[2018-01-27 19:41] waldekmastykarz opened #291 "New command: remove property bag value"
Remove the the specified property from the property bag

- command: `spo propertybag remove -w|--webUrl <webUrl> -p|--property <property> -f|--folder [folder] --confirm`
- webUrl: The URL of the site from which the property bag value should be removed
- property: name of the property to remove
- folder: server- or site-relative URL of the folder from which to remove the property bag value
- confir

[2018-01-28 12:30] waldekmastykarz opened #293 "Change the `spo site get` command to return properties of the site object"
Currently the `spo site get` command returns the SPSiteProperties object for the specified site. This object contains administrative properties, but misses some important information about the site such as its ID. `spo site get` should return the information about the SPSite object behind the specified site.

[2018-01-30 12:50] kshsbala commented on #13
Can I start working on this one?

[2018-01-30 19:51] waldekmastykarz commented on #13
@kshsbala Unfortunately not yet. We first need to figure out how we want to support MS Graph authentication. We can let you know once that's sorted out. Appreciate you taking the initiative. How about picking another command for the time being? 🙂

[2018-01-30 22:51] VelinGeorgiev commented on #142
@waldekmastykarz, this was in my todo list. I tested it and it works as expected in non-interactive mode with both `--confirm` flag specified and without.
![image](https://user-images.githubusercontent.com/1049476/35595889-1a2a02e6-0610-11e8-9476-8b293f67308b.png)

[2018-01-30 23:31] VelinGeorgiev commented on #209
Hey @waldekmastykarz , you can assign that to me. Will try to update that document with descriptive content.

[2018-01-30 23:35] VelinGeorgiev commented on #289
Hey @waldekmastykarz, you can assign that to me if none is working on it.

[2018-01-31 06:23] waldekmastykarz commented on #289
All yours @VelinGeorgiev!

[2018-01-31 06:24] waldekmastykarz commented on #209
Awesome! Thanks @VelinGeorgiev!

[2018-01-31 06:25] waldekmastykarz commented on #142
Sweet! Thank you for another pair of eyes and confirming it's working as expected!

[2018-01-31 09:23] #293 closed

[2018-02-01 10:06] waldekmastykarz opened #298 "Extend SharePoint docs on working with site designs and site scripts"
Submit PR to SharePoint docs at https://docs.microsoft.com/en-us/sharepoint/dev/declarative-customization/site-design-overview describing how to manage site designs and site scripts using the Office 365 CLI.

[2018-02-01 12:01] andrewconnell commented on #211
PR submitted https://github.com/SharePoint/sp-dev-docs/pull/1304

[2018-02-01 12:31] waldekmastykarz commented on #211
I'll close the issue once it's been merged, ok?

[2018-02-01 12:32] waldekmastykarz commented on #208
I'll close the issue once it's been merged, ok?

[2018-02-01 19:29] #204 closed

[2018-02-01 20:42] rfjschouten commented on #205
Shall I pick up this one @waldekmastykarz ?

[2018-02-01 20:55] waldekmastykarz commented on #205
All yours! Appreciate your help! 👍

[2018-02-02 15:55] kshsbala commented on #192
Can I work on this one?

[2018-02-03 11:10] waldekmastykarz commented on #192
All yours! Thank you for reaching out!

[2018-02-03 18:26] #189 closed

[2018-02-03 19:59] #231 closed

[2018-02-04 17:35] waldekmastykarz commented on #10
After some research and discussions I had with @andrewconnell, the current idea is, to create a new AAD app for the CLI that we would use for all workloads. In comparison, at this moment we reuse the SPO PoSh app for SPO commands and the Azure x-plat CLI for AAD commands which allows everyone to use the CLI without any additional AAD consent.

We're looking into possibilities to create the AAD app

[2018-02-04 17:47] waldekmastykarz opened #301 "New command: enable site classification"
Enable site classification

- command: `graph siteclassification enable -c|--classifications <classifications> -d|--defaultClassification <defaultClassification> --usageGuidelinesUrl [usageGuidelinesUrl]`
- classifications: comma-separated list of classifications to enable in the tenant
- defaultClassifications: classification to use by default
- usageGuidelinesUrl: URL with additional information

[2018-02-04 17:49] waldekmastykarz opened #302 "New command: add command to disable site classification"
Disable site classification

- command: `graph siteclassification disable --confirm`
- confirm: don't prompt for confirmation before disabling site classification
- requires connection to the Microsoft Graph (#10)

For more information see the [Disable-PnPSiteClassification](https://github.com/SharePoint/PnP-PowerShell/blob/master/Documentation/Disable-PnPSiteClassification.md) cmdlet

[2018-02-04 17:55] waldekmastykarz opened #303 "New command: get site classification information"
Get site classification configuration

- command: `graph siteclassification get`
- requires connection to the Microsoft Graph (#10)

For more information see the [Get-PnPSiteClassification](https://github.com/SharePoint/PnP-PowerShell/blob/master/Documentation/Get-PnPSiteClassification.md) cmdlet

[2018-02-04 17:57] waldekmastykarz opened #304 "New command: update site classification"
Update site classification

- command: `graph siteclassification set -c|--classifications [classifications] -d|--defaultClassification [defaultClassification] --usageGuidelinesUrl [usageGuidelinesUrl]`
- classifications: comma-separated list of classifications to enable in the tenant
- defaultClassifications: classification to use by default
- usageGuidelinesUrl: URL with additional information th

[2018-02-04 18:07] waldekmastykarz opened #305 "New command: list Office 365 groups"
List Office 365 groups

- command: `graph o365group list --includeSiteUrl`
- includeSiteUrl: include the URL of the Office 365 group site
- requires connection to the Microsoft Graph (#10)

For more information see the [Get-PnPUnifiedGroup](https://github.com/SharePoint/PnP-PowerShell/blob/master/Documentation/Get-PnPUnifiedGroup.md) cmdlet

[2018-02-04 18:10] waldekmastykarz opened #306 "New command: get information about an Office 365 group"
Get information about the specified Office 365 group

- command: `graph o365group get -i|--id <id> --includeSiteUrl`
- id: the ID of the Office 365 group to retrieve information for
- includeSiteUrl: include the URL of the Office 365 group site
- requires connection to the Microsoft Graph (#10)

For more information see the [Get-PnPUnifiedGroup](https://github.com/SharePoint/PnP-PowerShell/blob/ma

[2018-02-04 18:16] waldekmastykarz opened #307 "New command: update Office 365 group properties"
Update unified group properties

- command: `graph o365group set -i|--id <id> -d|--displayName [displayName] --description [description] -o|--owners [owners] -m|--members [members] --isPrivate [isPrivate] -l|--logoPath [logoPath]`
- id: the ID of the Office 365 group to update properties of
- displayName: New display name for the Office 365 group
- description: New description for the Office 365 g

[2018-02-04 18:25] waldekmastykarz opened #308 "New command: create Office 365 group"
Create Office 365 group

- command: `spo o365group add -n|--displayName <displayName> -d|--description <description> -e|--mailNickname <mailNickname> -o|--owners [owners] -m|--members [members] --isPrivate [isPrivate] -l|--logoPath [logoPath]`
- displayName: Display name for the Office 365 group
- description: Description for the Office 365 group
- mailNickname: Name to use in the group e-mail (pa

[2018-02-04 18:30] waldekmastykarz opened #309 "New command: delete Office 365 group"
Delete the specified Office 365 group

- command: `graph o365group remove -i|--id <id> --confirm`
- id: the ID of the Office 365 group to delete
- confirm: don't prompt for confirmation before deleting the specified Office 365 group
- requires connection to the Microsoft Graph (#10)

For more information see the [Remove-PnPUnifiedGroup](https://github.com/SharePoint/PnP-PowerShell/blob/master/Docu

[2018-02-05 18:59] rfjschouten commented on #205
@waldekmastykarz Should the issue be assigned to me?

[2018-02-05 20:33] waldekmastykarz commented on #205
Ah, my bad. Doing it now @rfjschouten!

[2018-02-06 08:52] VelinGeorgiev commented on #10
Sounds like a plan to me 👍  . Let's do it and face all the challenges :)

[2018-02-06 08:57] waldekmastykarz commented on #10
Appreciate your help @VelinGeorgiev. What I could definitely use some help with, is verifying if all commands are still running correctly using the custom AAD app I currently have. Let me do one more check of the code I put in my fork @ https://github.com/waldekmastykarz/office365-cli/tree/graph. If all is fine, you could pull it and we could split the commands between us for testing.

[2018-02-06 09:51] VelinGeorgiev commented on #10
:+1: Great stuff! @waldekmastykarz let me know when done and maybe a list of commands for me to test, then I can easily go through and test them.

[2018-02-06 18:30] waldekmastykarz commented on #10
I had a moment so I went through all commands we currently have. With a few exceptions which we currently cannot test due to the issue with deployment of add-ins and SPFx packages, everything seems to be working just fine. With that, I'll request the AAD app to be created and once we have its ID, I'll update the code in the fork and submit a PR.

[2018-02-07 21:38] VelinGeorgiev commented on #209
PR request created https://github.com/SharePoint/sp-dev-docs/pull/1329

[2018-02-08 08:20] waldekmastykarz commented on #209
Awesome! Appreciate your help @VelinGeorgiev!

[2018-02-10 01:16] VelinGeorgiev commented on #288
@waldekmastykarz, could you please assign that one to me?

[2018-02-10 12:56] #121 closed

[2018-02-10 12:57] #205 closed

[2018-02-10 13:05] waldekmastykarz commented on #288
As requested @VelinGeorgiev 👏

[2018-02-11 11:41] #123 closed

[2018-02-12 10:47] rfjschouten commented on #206
@waldekmastykarz can I pick up this one?

[2018-02-12 11:30] waldekmastykarz commented on #206
Of course, please do! 💪

[2018-02-12 14:36] waldekmastykarz commented on #268
Woohoo! Awesome! Please, don't hesitate to reach out if you have any questions or get stuck at any point. You know we're on gitter, right: https://gitter.im/office365-cli/cli?

[2018-02-12 18:23] waldekmastykarz opened #315 "New command: get tenant app catalog URL"
Get URL of the tenant app catalog

- command: `spo tenant appcatalog get`
- requires connection to the tenant admin site

For more information see: https://github.com/SharePoint/PnP-PowerShell/blob/master/Commands/Admin/GetTenantAppCatalogUrl.cs

[2018-02-12 21:20] sebastienlevert opened #316 "New command: get search results"
Execute SharePoint Search query

command: `spo search -q|--query <query> --sourceId [sourceId] --sourceName [sourceName] --trimDuplicates [trimDuplicates] --allResults -p|--selectProperties [selectProperties] --refinementFilters [refinementFilters] --queryTemplate [queryTemplate] --sortList [sortList]  --startRow [startRow] --rowLimit [rowLimit] --rowsPerPage [rowsPerPage] --rankingModelId [rankin

[2018-02-12 21:49] sebastienlevert commented on #269
Will also take this one as it is pretty much the same than #268

[2018-02-13 13:19] waldekmastykarz commented on #269
All yours! 💪

[2018-02-13 13:23] waldekmastykarz commented on #316
Great idea @sebastienlevert. @wobba care to help to spec this command? Eg, which options do you think would be the most valuable (at least for the beginning)?

[2018-02-13 14:53] wobba commented on #316
@waldekmastykarz  in prioritized order:

- query <- KQL
- sourcename <- better than resultsourceid. SPSite,Name
- trimduplicates <- default set to false
- allresults <- loop internally for paging to get all results
- selectproperties <- specify other mp's than the oob ones
- refinementfilters <- could be an option to get these instead of results(?)
- querytemplate
- sortlist

And then there are al

[2018-02-13 17:09] PlanetWilson commented on #285
Can I pick this up please?

[2018-02-13 17:09] PlanetWilson commented on #284
Can I pick this up please?

[2018-02-13 20:25] waldekmastykarz commented on #285
Of course! Appreciate your help! 👍

[2018-02-13 20:26] waldekmastykarz commented on #284
All yours! 👍

[2018-02-14 08:33] kshsbala commented on #315
Can I start looking into this?

[2018-02-14 08:34] waldekmastykarz commented on #315
Absolutely! Appreciate your help!

[2018-02-14 09:52] VelinGeorgiev opened #317 "Command log does not tolerate object of type Date"
- Steps to reproduce:
Add in any command `cmd.log(new Date());`

- Expected:
Wed Feb 14 2018 09:51:14 GMT+0000 (GMT Standard Time)

- Actual:
Empty line

[2018-02-14 11:00] waldekmastykarz commented on #317
Good catch @VelinGeorgiev!

[2018-02-14 20:10] PlanetWilson commented on #285
Quick Q - what is "id" in this case? guid of the listitem or file or list item id? I am not aware of any way to get a file just using a web and an id. One could iterate round a known list checking guids, or get an item by id from a list?  The referenced Set-PnPFileCheckedOut cmdlet only accepts a url?

[2018-02-14 21:05] waldekmastykarz commented on #285
You're right. It should be URL only. I'll adjust the spec. 👍

[2018-02-15 12:13] waldekmastykarz commented on #10
Good news: we have a place to create the AAD app! I'll create it shortly and once it's there, I'll submit a PR with the basic setup so that we can start working on MS Graph commands.

[2018-02-17 15:11] #192 closed

[2018-02-17 15:12] #251 closed

[2018-02-17 15:13] #206 closed

[2018-02-17 15:13] #124 closed

[2018-02-17 15:52] rfjschouten commented on #281
@waldekmastykarz can I pick up this one?

[2018-02-17 21:41] VelinGeorgiev commented on #290
Hey @waldekmastykarz, feel free to assign that to me.

[2018-02-17 21:41] VelinGeorgiev commented on #291
Hey @waldekmastykarz, feel free to assign that to me.

[2018-02-18 12:30] waldekmastykarz commented on #281
Absolutely! All yours @rfjschouten!

[2018-02-18 12:31] waldekmastykarz commented on #290
Awesome! All yours @VelinGeorgiev!

[2018-02-18 12:32] waldekmastykarz commented on #291
Excellent! All yours @VelinGeorgiev!

[2018-02-18 19:44] #317 closed

[2018-02-18 19:44] #10 closed

[2018-02-20 15:07] rfjschouten commented on #282
@waldekmastykarz can I pick up this one too?

[2018-02-20 18:36] waldekmastykarz commented on #282
All yours! Awesome! 🎉

[2018-02-21 15:08] kezack commented on #287
@waldekmastykarz Can I pick this up please ?

[2018-02-21 15:58] waldekmastykarz commented on #287
All yours! Appreciate your help!

[2018-02-22 13:20] KbWorks commented on #187
Hi @waldekmastykarz Is someone working on the issue as it is not assigned? Or could I pick it up.

[2018-02-22 15:45] waldekmastykarz commented on #187
@karthikchintala64 picked it up but we haven't had any updates in a while.
@karthikchintala64 are you still working on this or would it be ok for @KbWorks to pick it up?

[2018-02-22 15:53] karthikchintala64 commented on #187
@waldekmastykarz  - I got busy and unable to work on this currently.
@KbWorks - You can pick it up. All the best 👍

[2018-02-22 15:56] KbWorks commented on #187
@waldekmastykarz can you assign it to me?

[2018-02-22 18:39] waldekmastykarz commented on #187
All yours @KbWorks!

[2018-02-22 18:42] waldekmastykarz commented on #187
@karthikchintala64 appreciate your quick reply. If you have room in the future and still would like to contribute, feel free to pick an open item. 👍

[2018-02-22 19:22] waldekmastykarz commented on #316
How about this spec @wobba? Would this work or missing something important?

[2018-02-22 19:53] waldekmastykarz opened #326 "New command: get information about a user"
Get information about the specified user

- command: `graph user get -i|--id [id] -n|--userName [userName] -p|--properties [properties]`
- id: the ID of the user to retrieve information for
- userName: the principal name of the user to retrieve information for
- properties: comma-separated list of properties to retrieve
- to retrieve a user specify either the id or the userName but not both
- requ

[2018-02-22 19:54] waldekmastykarz commented on #326
Would this work @LoungeFlyZ?

[2018-02-22 20:04] waldekmastykarz opened #327 "New command: get information about users"
Get information about users

- command: `graph user list -p|--properties [properties] ...`
- properties: comma-separated list of properties to retrieve
- `...` - this command supports arbitrary options which are used in the filter. Provided values are compared using the `startsWith` operator.
- requires connection to the Microsoft Graph

For more information see https://developer.microsoft.com/en-

[2018-02-22 20:14] waldekmastykarz opened #328 "New command: send email on behalf of the user"
Send email on behalf of the current user

- command: `graph user sendmail -s|--subject <subject> -t|--to <to> --bodyContents [bodyContents] --bodyContentsFilePath [bodyContentsFilePath] --bodyContentType [bodyContentType] --saveToSentItems [saveToSentItems]`
- subject: email subject
- to: comma-separated list of emails to send the email to
- bodyContents: string containing the body of the email to

[2018-02-22 20:14] waldekmastykarz commented on #328
Would this work @LoungeFlyZ?

[2018-02-23 11:28] wobba commented on #316
@waldekmastykarz should work, but not sure you need all params as @sebastienlevert listed :) But you could them all if you want.

[2018-02-23 11:31] waldekmastykarz commented on #316
If I'm not mistaken they are all supported in PnP PoSh 😄

[2018-02-23 11:33] wobba commented on #316
@waldekmastykarz because I had too much time on my hands ;)

[2018-02-24 12:25] #281 closed

[2018-02-24 12:26] #305 closed

[2018-02-24 12:26] #306 closed

[2018-02-25 00:06] rjesh-git opened #330 "New command: add theme"
Add new SPO theme to tenant

- command: `spo theme add -n|--name <name> -p|--filePath <filePath>`
- name: Name to be given for the new theme
- filePath: Relative or absolute file path of JSON file created using Office Fabric theme generator tool

More details: see [SharePoint site theming REST API](https://github.com/SharePoint/sp-dev-docs/blob/master/docs/declarative-customization/site-theming/sh

[2018-02-25 00:06] rjesh-git commented on #330
Feel free to assign this to me.

[2018-02-25 00:09] rjesh-git opened #331 "New command: remove theme"
Delete the specified site theme

- command: `spo theme remove -n|--name <name> --confirm`
- name: Name of existing theme
- confirm: Don't prompt for confirmation before deleting the theme

More details: see [SharePoint site theming REST API](https://github.com/SharePoint/sp-dev-docs/blob/master/docs/declarative-customization/site-theming/sharepoint-site-theming-rest-api.md)

[2018-02-25 00:09] rjesh-git commented on #331
Feel free to assign this to me.

[2018-02-25 00:13] rjesh-git opened #332 "New command: list themes"
Lists information about available site themes

- command: `spo theme list`

More details: see [SharePoint site theming REST API](https://github.com/SharePoint/sp-dev-docs/blob/master/docs/declarative-customization/site-theming/sharepoint-site-theming-rest-api.md)

Also see the `Get-SPOTheme` cmdlet.

[2018-02-25 00:13] rjesh-git commented on #332
Feel free to assign this to me.

[2018-02-25 15:33] waldekmastykarz commented on #332
All yours @rjesh-git! Appreciate the spec!

[2018-02-25 15:39] waldekmastykarz commented on #330
Appreciate the spec @rjesh-git. A few questions.

If I look at the spec of the `Add-SPOTheme` PoSh cmdlet, which if I understand correctly is an equivalent of this command, I see that the parameters are set explicitly rather than referring to a file. I'd say that we should align with the existing cmdlet rather than defining our own structure.

Another thing I noticed, is that `Add-SPOTheme` not on

[2018-02-25 15:42] waldekmastykarz commented on #331
@rjesh-git All yours!

[2018-02-25 20:27] kshsbala commented on #303
Can I work on this one?

[2018-02-25 20:44] waldekmastykarz commented on #303
All yours @kshsbala!

[2018-02-26 15:00] waldekmastykarz commented on #211
PR https://github.com/SharePoint/sp-dev-docs/pull/1304 merged so closing this issue. Thanks @andrewconnell!

[2018-02-26 15:00] #211 closed

[2018-02-26 15:03] waldekmastykarz commented on #208
Docs PR https://github.com/SharePoint/sp-dev-docs/pull/1301 has been merged so closing this one. Thanks @andrewconnell!

[2018-02-26 15:03] #208 closed

[2018-02-26 15:05] waldekmastykarz commented on #209
Closing as the PR got merged. Thanks @VelinGeorgiev!

[2018-02-26 15:05] #209 closed

[2018-02-26 18:03] waldekmastykarz commented on #330
Makes sense @rjesh-git. Let's keep it as a file. Have you btw considered the `IsInverted` parameter from `Add-SPOTheme`?

[2018-02-26 18:04] waldekmastykarz commented on #188
Of course! Appreciate your help @KbWorks!

[2018-02-26 20:00] rjesh-git commented on #330
I don't see `IsInverted` exposed in REST api, will dig deep on CSOM side if required.

[2018-02-26 20:29] #289 closed

[2018-02-26 20:29] #288 closed

[2018-02-26 20:29] #308 closed

[2018-02-26 20:30] #187 closed

[2018-02-26 20:31] #315 closed

[2018-02-26 20:32] #307 closed

[2018-02-28 18:59] waldekmastykarz opened #339 "New command: apply site design"
Applies a published site design to a specified site collection

- command: `spo sitedesign apply -i|--id <id> -u|--webUrl <webUrl>`
- id: The ID of the site design to apply
- webUrl: The URL of the site to apply the site design to
- requires connection to a SharePoint site

For more information see https://docs.microsoft.com/en-us/sharepoint/dev/declarative-customization/site-design-rest-api#apply

[2018-02-28 19:29] waldekmastykarz opened #340 "New command: update theme"
Update theme

- command: `spo theme set -n|--name <name> -p|--filePath <filePath>`
- name: Name of the theme to update
- filePath: Relative or absolute file path of JSON file created using Office Fabric theme generator tool

API is exposed via `https://tenant/_api/thememanager/UpdateTenantTheme`

[2018-02-28 19:51] waldekmastykarz opened #341 "New command: get the current value of the HideDefaultThemes setting"
Get the current value of the HideDefaultThemes setting

- command: `spo hidedefaultthemes get`

More details: see https://docs.microsoft.com/en-us/sharepoint/dev/declarative-customization/site-theming/sharepoint-site-theming-powershell#get-spohidedefaultthemes

REST API exposed via `https://tenant/thememanager/GetHideDefaultThemes`

[2018-02-28 19:53] waldekmastykarz opened #342 "New command: set the value of the HideDefaultThemes setting"
Set the value of the HideDefaultThemes setting

- command: `spo hidedefaultthemes set -h|--hideDefaultThemes <hideDefaultThemes>`
- hideDefaultThemes: set to true to hide default themes and to false to show them

More details: see https://docs.microsoft.com/en-us/sharepoint/dev/declarative-customization/site-theming/sharepoint-site-theming-powershell#set-spohidedefaultthemes

REST API exposed via

[2018-02-28 20:19] waldekmastykarz opened #343 "New command: apply theme to a site"
Apply theme to the specified site

- command: `spo theme apply -n|--name <name> -u|--webUrl <webUrl>`
- name: Name of the theme to apply
- webUrl: URL of the site to which the theme should be applied

More details: see the Set-SPOWebTheme cmdlet

[2018-02-28 23:05] phawrylak commented on #339
@waldekmastykarz, I want to help, feel free to assign that to me.

[2018-02-28 23:09] phawrylak commented on #343
Hello @waldekmastykarz, feel free to assign that to me.

[2018-02-28 23:12] phawrylak commented on #342
Hello @waldekmastykarz, feel free to assign that to me.

[2018-02-28 23:13] phawrylak commented on #341
Hello @waldekmastykarz, feel free to assign that to me.

[2018-03-01 07:50] waldekmastykarz commented on #340
Regarding `inverted`: https://github.com/SharePoint/office365-cli/issues/330#issuecomment-369387650
I haven't seen the `overwrite` flag in the API. What would it be for?

[2018-03-01 07:50] waldekmastykarz commented on #339
Excellent! Appreciate you reaching out. All yours!

[2018-03-01 07:51] waldekmastykarz commented on #343
Awesome! All yours! 👍

[2018-03-01 07:51] waldekmastykarz commented on #342
All yours!

[2018-03-01 07:52] waldekmastykarz commented on #341
All yours!

[2018-03-01 07:55] waldekmastykarz commented on #268
Hey @sebastienlevert, how are things going? Need help with anything?

[2018-03-01 07:55] waldekmastykarz commented on #284
Hey @PlanetWilson, how are things going? Need help with anything?

[2018-03-01 08:48] PlanetWilson commented on #284
Hi, sorry I know I am being slow. Just getting my head around the unit testing framework...I'll get @kshsbala to help me :)

[2018-03-01 08:51] waldekmastykarz commented on #284
No worries, it can be a bit intimidating at first. Please, don't hesitate to reach out if you have any questions and great to hear that you can reach out @kshsbala for help 👍

[2018-03-01 17:35] rjesh-git commented on #340
Its not in the REST api, but in PoSh cmdlet, on overwrite it calls the `UpdateTenantTheme` otherwise `AddTenantTheme`

`Add-SPOTheme -Name "Custom Cyan" -Palette $themepallette -IsInverted $false -Overwrite`

Per your comment, you want to call `UpdateTenantTheme` all the time for `spo theme set` regardless of new or update?

[2018-03-01 18:20] waldekmastykarz commented on #340
Yes: in the CLI set = update, that's the convention we use across all commands, so let's keep it consistent here too

[2018-03-05 21:57] appieschot commented on #309
I will start working on this one.

[2018-03-05 21:58] waldekmastykarz commented on #309
Woohoo! Excellent! All yours @appieschot! 🚀

[2018-03-05 22:02] appieschot opened #346 "New command: Restore deleted Office 365 group"
Only supported in the Beta Graph endpoint as of today, but I recon it would look like this:

Restore the specified deleted Office 365 group,

- command: graph o365group restore -i|--id <id> --confirm
- id: the ID of the Office 365 group to restore
- requires connection to the Microsoft Graph (#10)

[2018-03-05 22:07] waldekmastykarz commented on #346
Very nice idea! How can you get the ID of a deleted group? You want to take it yourself?

[2018-03-05 22:11] appieschot commented on #346
I recon we could have two approaches, either we can extend the o365group list with a property --listdeleted, or create a new command called listdeleted. PowerShell provides a seperate commandlet for it so it sounds logical to have a separate command. I can create a new issue for that one :-)? Sounds like we need that implemented first.

[2018-03-05 22:16] appieschot opened #347 "New command: List deleted Office 365 groups"
Only supported in the Beta Graph endpoint as of today, but I recon it would look like this:

List all the deleted Office 365 group

- command: `graph o365group listdeleted`
- requires connection to the Microsoft Graph (#10)

I don't think we need filter options (PowerShell does not support them as far as I know) but we might want to provide paging as you can have a whole bunch of deleted objects.

[2018-03-05 22:19] waldekmastykarz commented on #347
Good idea! Couldn't we reuse the same filtering options that are already available on the list command? Also, since _list_ is already included in the command name, let's change the `--listdeleted` option to `--deleted`

[2018-03-05 22:20] appieschot commented on #347
Great point, updated spec

[2018-03-05 22:23] waldekmastykarz commented on #347
Excellent! All yours @appieschot!

[2018-03-06 07:09] rjesh-git opened #349 "New command: get theme"
Get custom theme added in the tenant

command: spo theme get -n|--name <name>
name: Name of the theme to be retrieved

returns - name, palette, isInverted

example - `o365$ spo theme get -n Contoso-Blue`

[2018-03-06 15:06] appieschot opened #351 "Bug: Retrieving O365 groups by displayName or mailNickName in immersive mode"
Filter Groups by DisplayName in Immersive mode returns Groups that does not match the DisplayName or mailNickName filter.

Run : `graph o365group list` to list all groups
Run : `graph o365group list --displayName 'somerandomstring'`
To list all groups with that displayName and you will find that it returns all items of the previous call. Adding the --debug flag shows that the Graph Query is correc

[2018-03-06 16:12] waldekmastykarz commented on #349
Good idea and a nice spec! You want to take it @rjesh-git?

[2018-03-06 16:33] waldekmastykarz commented on #351
Nice catch @appieschot! You want to take it yourself?

[2018-03-06 16:42] rjesh-git commented on #349
Sure

[2018-03-06 19:34] waldekmastykarz commented on #349
All yours!

[2018-03-06 20:02] appieschot commented on #351
Yes you can put in on my name, pretty sure that I know where to fix this ;-)

[2018-03-07 15:06] waldekmastykarz commented on #351
Excellent! All yours!

[2018-03-07 17:37] rjesh-git commented on #125
I'll take this!

[2018-03-07 21:01] cebud commented on #58
Also support for Office 365 Dedicated environments, our company have Office 365 Dedicated on custom domain.

[2018-03-08 08:49] salascz commented on #58
I found similar issue inside npm components from community. They are using _.sharepoint_ in url for authentication selection. Such component cannot be used for dedicated Office 365 environments. (for example latest version of node-sp-auth)

@VesaJuvonen: Would it be possible to educate our community, that _sharepoint.com_ domain is not only one used for Office 365? (And that there are companies wi

[2018-03-08 15:06] waldekmastykarz commented on #125
Excellent! All yours!

[2018-03-09 06:58] #330 closed

[2018-03-09 06:58] #331 closed

[2018-03-09 06:59] #332 closed

[2018-03-09 06:59] #340 closed

[2018-03-09 07:00] #309 closed

[2018-03-09 07:01] #339 closed

[2018-03-09 07:01] #349 closed

[2018-03-10 00:30] VesaJuvonen commented on #58
@salascz - thanks for the input, you are absolutely correct on this and we absolutely should educate the community to avoid these kinds of assumptions, which are wrong, like you noted. Unfortunately dedicated setup with a custom domain is quite rare, so unless you have worked with those customers, you simply would not know.

[2018-03-11 21:43] mpowney commented on #270
Hey there @waldekmastykarz - mind if I have a go at developing this command?

[2018-03-11 21:57] mpowney commented on #270
first time contributor here, btw :)

[2018-03-12 03:55] waldekmastykarz commented on #270
Awesome! Appreciate you reaching out. All yours and please don't hesitate to reach out if you have questions or need any help. 🚀

[2018-03-12 11:39] StfBauer opened #358 "spo site classic list versus spo site list"
When I execute the following command:

[code]

A combined list of modern and classic experiences site collections will be returned.

[code]

A list of only the modern site collections will be returned. Wouldn't it be better to only list all site collections including a classification if the site is in modern or classic experience?

[2018-03-12 12:03] waldekmastykarz commented on #358
As far as I know, at the moment there is no API that we could use to list all sites including their classification. Instead, we'd have to include it one-by-one, which would be slow. Using the commands that we have today, you can easily choose if you want to retrieve all or only modern sites. If in the future, a new API will be made available, that makes it possible to retrieve sites as you mention

[2018-03-12 20:36] mpowney commented on #270
@waldekmastykarz, the Add-PnPListItem powershell cmdlet has an "EnsureFolder" call when folder is specified in the parameters.  "EnsureFolder" would also be useful for file provisioning scenarios; should I split this out into a separate command?  If so, is this how it should be described:

* command: ```spo folder ensure -w|--webUrl <webUrl> -l|--listId [listId] --listTitle [listTitle] -f|--folder

[2018-03-12 20:49] StfBauer commented on #358
Thank you thought so. ;)
Just looked wired in first place.

[2018-03-12 20:55] waldekmastykarz commented on #358
It is weird, and it's just one of many intricacies in SharePoint 😉

[2018-03-12 20:55] #358 closed

[2018-03-12 21:06] waldekmastykarz opened #359 "New command: get all modern pages in the given site"
Get all modern pages from the given site

- command: `spo page list -u|--webUrl <webUrl>`
- webUrl: URL of the site from which to retrieve available pages

For more information see the Get-PnPClientSidePage cmdlet.

[2018-03-12 21:09] waldekmastykarz opened #360 "New command: retrieve information about the specific modern page"
Retrieve information about the specific modern page

- command: `spo page get -n|--name <name> -u|--webUrl <webUrl>`
- name: name of the page to retrieve information about
- webUrl: URL of the site from which to retrieve the page

For more information see the Get-PnPClientSidePage cmdlet.

[2018-03-12 21:15] waldekmastykarz opened #361 "New command: create modern page"
Create modern page

- command: `spo page add -n|--name <name> -u|--webUrl <webUrl> -l|--layoutType [layoutType] -p|--promoteAs [promoteAs] --commentsEnabled --publish --publishMessage [publishMessage]`
- name: name of the page to create
- webURL: URL of the site where the page should be created
- layoutType: layout of the page. Allowed values `Article|Home`. Default `Article`
- promoteAs: create t

[2018-03-12 21:18] waldekmastykarz opened #362 "New command: update modern page properties"
Update modern page properties

- command: `spo page set -n|--name <name> -u|--webUrl <webUrl> -l|--layoutType [layoutType] -p|--promoteAs [promoteAs] --commentsEnabled --publish --publishMessage [publishMessage]`
- name: name of the page to update
- webURL: URL of the site where the page to update is located
- layoutType: layout of the page. Allowed values `Article|Home`. Default `Article`
- promo

[2018-03-12 21:19] waldekmastykarz opened #363 "New command: remove modern page"
Remove modern page

- command: `spo page remove -n|--name <name> -u|--webUrl <webUrl> --confirm`
- name: name of the page to remove
- webURL: URL of the site where the page to remove is located
- confirm: don't prompt before removing the page

For more information see the Remove-PnPClientSidePage cmdlet.

[2018-03-13 09:34] waldekmastykarz commented on #270
Calling one command from another is not trivial because the underlying surface keeps track of active commands, history, etc. We could centralize the code to avoid duplication, but we can get to that when implementing the folder command. For now, we can put it in a separate method inside the command class and we'll look into refactoring later.

Let me get back to you on that one. It could be that t

[2018-03-13 10:39] waldekmastykarz commented on #270
So I have an update on `AddValidateUpdateItemUsingPath()`. At this moment it's not documented, meaning not officially supported for 3rd party use. We're looking into the possibility to open it up for third parties but that could take a while. Let's keep using it for now. If we hear that it's not officially supported for 3rd parties after all, we can always consider switching to mimicking CSOM.

[2018-03-13 18:42] waldekmastykarz opened #364 "New command: add section to modern page"
Add section to modern page

- command: `spo page section add -n|--pageName <pageName> -u|--webUrl <webUrl> -t|--sectionTemplate <sectionTemplate> --order [order]`
- pageName: name of the page to add the section to
- webURL: URL of the site where the page to edit is located
- sectionTemplate: type of section to add. Allowed values `OneColumn|OneColumnFullWidth| TwoColumn|ThreeColumn|TwoColumnLeft|T

[2018-03-13 18:44] waldekmastykarz opened #365 "New command: add text to modern page"
Add text to modern page

- command: `spo page text add -n|--pageName <pageName> -u|--webUrl <webUrl> -t|--text <text> --section [section] --column [column] --order [order]`
- pageName: name of the page to add the section to
- webURL: URL of the site where the page to edit is located
- text: text to add to the page
- section: number of section to which the text should be added (1 or higher)
- colum

[2018-03-13 19:00] waldekmastykarz opened #366 "New command: add client-side web part to modern page"
Add client-side web part to modern page

- command: `spo page clientsidewebpart add -n|--pageName <pageName> -u|--webUrl <webUrl> --standardWebPart [standardWebPart] --webPartId [webPartId] --webPartProperties [webPartProperties] --section [section] --column [column] --order [order]`
- pageName: name of the page to add the web part to
- webURL: URL of the site where the page to edit is located
- s

[2018-03-13 19:09] waldekmastykarz opened #367 "New command: list available client-side web parts"
List available client-side web parts

- command: `spo web clientsidewebpart list -u|--webUrl <webUrl>`
- webURL: URL of the site for which to get the list of available client-side web parts

For more information see the Get-PnPAvailableClientSideComponents cmdlet.

[2018-03-15 15:17] rfjschouten commented on #283
@waldekmastykarz can I pick up this one? 😁

[2018-03-15 18:08] waldekmastykarz commented on #283
Absolutely! Appreciate the help! 🚀

[2018-03-17 17:53] waldekmastykarz commented on #270
@mpowney, got another update on the `AddValidateUpdateItemUsingPath()` method. It's now officially documented and fully supported for use by third parties (docs available at https://github.com/SharePoint/sp-dev-docs/blob/master/docs/sp-add-ins/working-with-lists-and-list-items-with-rest.md#create-list-item-in-a-folder and will be published soon). We're good to go. Once again thanks for pointing it

[2018-03-18 17:41] kshsbala commented on #367
Can I look into this one?

[2018-03-18 17:41] kshsbala commented on #364
Can I look into this one?

[2018-03-18 19:00] waldekmastykarz commented on #367
Of course! All yours @kshsbala!

[2018-03-18 19:01] waldekmastykarz commented on #364
Of course! Appreciate your help! 👍

[2018-03-18 23:47] VelinGeorgiev commented on #362
@waldekmastykarz, check in and out has always been a pain. Would publish automatically check-out the document. Also when the document is checked out you might not be able to update, if not discarded. I am thinking of a flag --discardCheckout or something similar.

[2018-03-19 07:59] waldekmastykarz commented on #362
We could double-check the implementation of the `Set-PnPClientSidePage` cmdlet and deal with it in a similar way. In case folks are switching between the two, it would be beneficial to have consistent experience in both places.

[2018-03-20 19:31] Fabske411 opened #375 "Continuos deployment with o365 cli"
Question:

I try to figure out if there is a possiblity of continous deployment/integration of sharepoint framework solutions together with the o365 cli. When connecting to SPO I need to open the browser in order to get signed in. Is there a possibility to automate this sign-in process (eventually by sending credentials with the connect request) ?

[2018-03-20 19:34] waldekmastykarz commented on #375
You only need to sign in once. After that, the refresh token is persisted and reused for obtaining valid access token. Unfortunately, at the moment there is no way to pass credentials into the CLI.

[2018-03-20 19:53] mpowney commented on #271
Hey @waldekmastykarz given this feature's similiarity to #270, mind if I pick it this one up as well?

Given the modern UI uses the endpoint: ```ValidateUpdateListItem()```, which appears to take the same formValues JSON structure used in ```AddValidateUpdateItemUsingPath()``` for field values, should ```ValidateUpdateListItem()``` be used to keep consistency amongst office365-cli commands?

If  `

[2018-03-20 19:58] waldekmastykarz commented on #271
Please do! All yours!

With regard to the implementation: I thought you mentioned that the modern UI uses `AddValidateUpdateItemUsingPath`. If there are benefits to using endpoint over another we should definitely take them into account.

[2018-03-20 20:19] mpowney commented on #271
For adding items, my investigation shows modern UI uses ```AddValidateUpdateItemUsingPath``` - when both list items are created with no folders enabled on the list, and when list items are created *in* a folder.

For updating items, the modern UI uses ```ValidateUpdateListItem()```

The benefit to using ```ValidateUpdateListItem()``` for this command here is usage of this command in relation to th

[2018-03-20 20:54] waldekmastykarz commented on #271
I can check if I can find any more info regarding systemUpdate 👍

[2018-03-20 21:00] waldekmastykarz commented on #271
Looking at the parameters of the `ValidateUpdateListItem` operation, there don't seem to be any parameter related to system update. Interestingly, there is a method called `SystemUpdate` that you can call on a ListItem via REST, but it seems rather odd, considering it doesn't accept any parameters that would allow you to specify new values of list item fields. Investigation pending... 😉

[2018-03-21 12:16] appieschot commented on #363
More than happy to pick this one up :).

[2018-03-21 12:17] appieschot commented on #301
More than happy to pick this one up.

[2018-03-21 12:17] appieschot commented on #302
And makes sense to do this one as well ;-).

[2018-03-21 12:50] waldekmastykarz commented on #363
Excellent! All yours! Appreciate your help!

[2018-03-21 12:50] waldekmastykarz commented on #301
W00t! All yours! 🚀

[2018-03-21 12:51] waldekmastykarz commented on #302
🚀 totally!

[2018-03-23 19:02] waldekmastykarz opened #378 "Add support for connecting to the Azure Management Service"
Add support for connecting to the Azure Management Service so that it's possible to manage Flows.

[2018-03-23 19:04] waldekmastykarz opened #379 "New command: list Microsoft Flow environments"
List Microsoft Flow environments

- command: `azmgmt flow environment list`
- requires #378

[2018-03-23 19:05] waldekmastykarz opened #380 "New command: get information about a Microsoft Flow environment"
Get information about the specified Microsoft Flow environment

- command: `azmgmt flow environment get -n|--name <name>`
- name: The name of the environment to get information about
- requires #378

[2018-03-23 19:08] waldekmastykarz opened #381 "New command: list Flows in the given environment"
List Microsoft Flows in the given environment

- command: `azmgmt flow list -e|--environment <environment> --asAdmin`
- environment: The name of the environment for which to retrieve available Flows
- asAdmin: Set, to list all flows as admin. Otherwise will return only your own Flows
- requires #378

[2018-03-23 19:10] waldekmastykarz opened #382 "New command: get information about the specific Flow"
Get information about the specific Flow

- command: `azmgmt flow get -n|--name <name> -e|--environment <environment>`
- name: The name of the Microsoft Flow for which to retrieve information
- environment: The name of the environment where the Flow is located
- requires #378

[2018-03-23 19:13] waldekmastykarz opened #383 "New command: export the specific Flow"
Export the specific Flow

- command: `azmgmt flow export -i|--id <id> -e|--environment <environment> -f|--format <format>`
- id: The ID of the Microsoft Flow to export
- environment: The name of the environment where the Flow is located
- format: The format to export the Flow to. Allowed values JSON|ZIP
- requires #378

[2018-03-24 19:01] #282 closed

[2018-03-24 19:02] #303 closed

[2018-03-24 19:02] #291 closed

[2018-03-24 19:03] #351 closed

[2018-03-24 19:04] #361 closed

[2018-03-24 19:04] #362 closed

[2018-03-24 20:08] joaojmendes opened #384 "Record Management, Declare, undeclare, Apply Label, remove label"
I think is very usel if we have commands to work with records management ao Labels,
Like possibility to declare, undeclare records, and apply labels and remove label.

And associate list of what is defined.

Congratulation for the great job ! I am a MAcOS User and this tool is a must!

Cheers!

[2018-03-24 20:30] waldekmastykarz commented on #384
Thank you and great to hear you find the CLI useful! 🎉

Regarding the extra commands you mentioned, do you have any pointers that we could use to get more info about the related functionality so that we can write specs for the commands and implement them?

[2018-03-24 20:47] joaojmendes commented on #384
Welcome !

Cenario 1:

Remove  the "declare record" to a specific Item/doc by command like exists in PnP Powershell -
Clear-PnPListItemAsRecord, and Test-PnPListItemIsRecord.

Cenario 2:

Possibility to add/remove a Label to a ListItem, add Label to Document Library and optionally apply this Label to all Docs that already exist in.

Labels are defined in Office 365 Security & Compliance Center and

[2018-03-24 21:03] waldekmastykarz commented on #384
This is very helpful! Thank you for the additional information. We'll ping you when we have the specs ready to double check we have everything. 👍

[2018-03-25 17:57] #379 closed

[2018-03-25 17:57] #378 closed

[2018-03-25 17:58] #380 closed

[2018-03-25 17:58] #381 closed

[2018-03-25 17:58] #382 closed

[2018-03-25 18:03] #188 closed

[2018-03-25 18:11] waldekmastykarz commented on #284
Hey @PlanetWilson, just wanted to check if you're still working on this and need any help with anything :)

[2018-03-25 18:13] waldekmastykarz commented on #287
Hey @kezack, are you still working on this command? Can I help you with anything?

[2018-03-25 18:14] waldekmastykarz commented on #341
Hey @phawrylak, are you still working on this command? Can I help you with anything? 🙂

[2018-03-25 19:16] PlanetWilson commented on #284
I am but still going very slowly. Understand if you wish to give it to someone else sorry :(

[2018-03-25 21:26] mpowney commented on #271
IMHO I’d be surprised if the option to update list items without affecting the “modified by” / “modifies date” fields will remain via any API into the future. It’s something that’s been around since at-least SP2010 days in the server-side API. For client side capability, it just kind-of seems like a security vulnerability waiting to happen.

[2018-03-25 22:11] VelinGeorgiev commented on #210
@waldekmastykarz  feel free to assign that to me

[2018-03-26 08:59] waldekmastykarz commented on #284
Please don't be! Totally understood things take time. Just wanted to check if you're still working on it and don't need to spend your time and energy elsewhere. Appreciate your help and again, please don't hesitate to reach out if we can help you with anything. 🙂

[2018-03-26 09:00] waldekmastykarz commented on #271
Yes and no. There are plenty of content-migration solutions for Office 365 that would require it in order to migrate the content without altering it.

[2018-03-26 09:01] waldekmastykarz commented on #210
Excellent! Appreciate your help @VelinGeorgiev!

[2018-03-26 09:02] waldekmastykarz opened #386 "Extend SharePoint docs on managing hub sites using the CLI"
Submit PR to SharePoint docs at https://docs.microsoft.com/en-us/sharepoint/dev/features/hub-site/hub-site-overview describing how to manage hub sites using the Office 365 CLI.

[2018-03-26 17:48] waldekmastykarz opened #388 "Add support for authentication using credentials"
Currently, the Office 365 CLI supports only interactive authentication using device code. To support non-interactive scenarios, such has CI/CD, it would be helpful if it was possible to authenticate using user credentials and the `password` OAuth flow. When connecting to an O365 service, user can choose which authentication method they want to use.

[2018-03-26 17:49] waldekmastykarz opened #389 "Add support for authentication using certificate"
Currently, the Office 365 CLI supports only interactive authentication using device code. To support non-interactive scenarios, such has CI/CD, it would be helpful if it was possible to authenticate using a certificate to support app-only scenarios. When connecting to an O365 service, user can choose which authentication method they want to use.

- [x] implement support for cert-based auth in all

[2018-03-27 08:20] kezack commented on #287
@waldekmastykarz sorry, I lost some of my data, and now I have no time to work on.

[2018-03-27 19:52] waldekmastykarz commented on #341
Totally fine! Thanks for the update! 👍

[2018-03-28 08:47] waldekmastykarz commented on #287
Picked up by @RARomano

[2018-03-28 11:00] StfBauer opened #390 "Problem in OSX Bash"
Once I hit the button on the screen all key input moves the cursor back to the top. I can easily build a tree this way but I guess this is an unwanted behaviour.

![screen shot 2018-03-28 at 12 54 40](https://user-images.githubusercontent.com/5503835/38025108-7cf06e80-3287-11e8-9d91-d23596c7ef2c.png)

**Steps to reproduce:**
Simple write at the end of the terminal window a really long command like

[2018-03-28 13:22] RARomano commented on #287
Just sent a PR for this command.

[2018-03-28 13:26] benstegink commented on #390
I had this same issue yesterday with the current beta version

[2018-03-28 14:18] waldekmastykarz commented on #287
Excellent!

[2018-03-28 14:20] waldekmastykarz commented on #390
This is a known issue in vorpal that we use as a base to build the CLI on. It appears only in the immersive mode. So far, there is no fix for it. I'll leave it up to you guys if you want to keep this issue open until there is a fix or not. Thank for reaching out 👍

[2018-04-01 17:12] waldekmastykarz commented on #375
Hey @Fabske411, I've just submitted a PR #392 which allows authentication using credentials. Once it's merged, you will be able to authenticate non-interactively with your user name and password.

[2018-04-01 21:45] VelinGeorgiev commented on #286
@waldekmastykarz  feel free to assign that to me

[2018-04-02 17:49] waldekmastykarz commented on #287
@RARomano there is a bug in the command: when you specify a server-relative URL of the document, such as `/sites/team-a/docs/mydoc.docx`, the command prepends the URL with the server-relative URL of the site what results in `/sites/team-a/sites/team-a/docs/mydoc.docx` and lead to an error. Could you please fix this bug? You can push another commit to this PR. Appreciate your help.

[2018-04-02 19:31] waldekmastykarz commented on #286
All yours @VelinGeorgiev! Appreciate your help 👍

[2018-04-02 19:39] waldekmastykarz opened #394 "New command: get hub site data for the specified site"
Get hub site data for the specified site

- command: `spo hubsite data get -u|--webUrl <webUrl>`
- webUrl: URL of the site for which to retrieve hub site data
- requires connection to a SharePoint site

For more information see the [HubSiteData REST API](https://docs.microsoft.com/en-us/sharepoint/dev/features/hub-site/rest-hubsitedata-method)

[2018-04-02 20:46] DroopyTersen opened #395 "Unable to specify a site collection app catalog with 'spo app add'"
Even if you `o365 spo connect` to a site collection w/ an App Catalog configured, when you run `spo app add`, the app package is deployed to the tenant app catalog. I couldn't find a documented way of targeting a site collection app catalog.

**Steps to reproduce**
1. Create a new Communication site collection
2. Add a Site Collection App Catalog to the new site
[code]
3. Connect  to the new site

[2018-04-03 06:26] waldekmastykarz commented on #395
This is by design. The `spo app add` command is based on the SharePoint ALM APIs which at this moment support only the tenant app catalog. For more information see https://docs.microsoft.com/en-us/sharepoint/dev/apis/alm-api-for-spfx-add-ins.

[2018-04-03 06:26] #395 closed

[2018-04-04 15:04] rjaakke commented on #394
Working on it, can you assign it to me.

[2018-04-04 18:16] #272 closed

[2018-04-04 18:17] #287 closed

[2018-04-04 18:17] #388 closed

[2018-04-04 18:18] #290 closed

[2018-04-04 18:19] waldekmastykarz commented on #394
Awesome! All yours! Pleasure to have you with us 👏

[2018-04-04 18:28] waldekmastykarz commented on #375
@Fabske411 we've just published a beta of the Office 365 CLI (v1.2.0) with support for authentication using credentials. It would be awesome if you could give it a try and see if it's working for you. You can get the beta using `npm i -g @pnp/office365-cli@next`.

[2018-04-04 19:09] waldekmastykarz opened #399 "New command: get information about the specific Flow's runs"
Get information about the specific Flow's runs

- command: `azmgmt flow run list -f|--flow <flow> -e|--environment <environment>`
- flow: The name of the Microsoft Flow for which to retrieve information
- environment: The name of the environment where the Flow is located
- for each run show its name, start time and status
- if output is set to JSON include all properties

[2018-04-04 19:12] waldekmastykarz opened #400 "New command: get information about the specific Flow's run"
Get information about the specific Flow run

- command: `azmgmt flow run get -n|--name <name> -f|--flow <flow> -e|--environment <environment>`
- name: name of the run for which to get more information
- flow: The name of the Microsoft Flow for which to retrieve information
- environment: The name of the environment where the Flow is located

[2018-04-04 19:26] waldekmastykarz opened #401 "New command: sync hub site theme"
Applies any theme updates from the parent hub site.

- command: `spo hubsite theme sync -u|--url <url>`
- url: The URL of the site for which to apply the theme updates from the parent hub site
- requires connection to a SharePoint site

For more information see the [SyncHubSiteTheme](https://docs.microsoft.com/en-us/sharepoint/dev/features/hub-site/rest-synchubsitetheme-method) REST API

[2018-04-04 20:32] rjaakke commented on #401
I'll pick this one up, plz assign to me.

[2018-04-05 13:10] waldekmastykarz commented on #401
Woohoo, all yours!

[2018-04-05 14:53] estruyf opened #404 "Idea: allow to use the filename for the spo app deploy"
When using the `spo app add` command, I noticed that you do not receive the app ID. In order to deploy the app, you first have to use `spo app list` find the right app, and use its ID to deploy it.

During a CI/CD this can be hard/tricky as it requires creating an additional script. It would be useful to use the `spo app deploy` command by specifying the filename instead of the ID.

[2018-04-05 16:58] waldekmastykarz commented on #404
This is a great suggestion. Thanks!

[2018-04-06 12:29] andrewconnell opened #405 "Update Commands: App ALM related commands to handle site collection app catalogs"
Add support for site collection app catalogs... supported added to core APIs

Ref: https://docs.microsoft.com/en-us/sharepoint/dev/general-development/site-collection-app-catalog#configure-and-manage-site-collection-app-catalogs

## *Potentially* affected commands

- [x] `site app add`
- [x] `site app deploy`
- [x] `site app get`
- [x] `site app install`
- [x] `site app list`
- [x] `site app remov

[2018-04-06 12:58] andrewconnell opened #406 "Create animations demo'ing each command"
Create an [asciinema](https://asciinema.org/) and include it in the docs for each command showing the command in action.

Include the animation in the docs site (download)... don't reference from hosted asciinema site.

- SharePoint Online (spo)
  - [ ] connect
  - [ ] disconnect
  - [ ] status
  - app
    - [ ] app add
    - [ ] app deploy
    - [ ] app get
    - [ ] app install
    - [ ] app lis

[2018-04-07 17:41] waldekmastykarz commented on #364
@kshsbala have you started working on this command already? If so, what approach are you using to manipulate the page contents: regex or a DOM manipulation library? It would be good to use a similar approach across all commands related to modern pages.

[2018-04-08 07:59] Fabske411 commented on #375
@waldekmastykarz awesome job! works like a charm. This feature enables me to set up an automated build  / release chain. thank you

[2018-04-08 08:57] waldekmastykarz commented on #364
That’s my preference too. I’m currently looking into the parse5 library but open to other alternatives as long as they don’t introduce too many dependencies and are maintained.

[2018-04-08 08:58] waldekmastykarz commented on #375
Cool! Great to hear it’s working for you! Ok to close this issue?

[2018-04-08 09:16] Fabske411 commented on #375
Yes. Can be closed 😊

Von: Waldek Mastykarz [mailto:notifications@github.com]
Gesendet: Sonntag, 8. April 2018 10:58
An: SharePoint/office365-cli <office365-cli@noreply.github.com>
Cc: Scherr, Fabian <Fabian.Scherr@adesso.de>; Mention <mention@noreply.github.com>
Betreff: Re: [SharePoint/office365-cli] Continuos deployment with o365 cli (#375)

Cool! Great to hear it’s working for you! Ok to close

[2018-04-08 16:40] #375 closed

[2018-04-08 17:33] waldekmastykarz commented on #364
@kshsbala in case you're interested, I've put up my progress so far with parsing modern page contents using the parse5 package. It doesn't have full parity with PnP PowerShell/Sites core just yet, but getting there slowly. See https://github.com/waldekmastykarz/parse5-playground

[2018-04-09 09:41] mpowney commented on #271
Hey @waldekmastykarz - I'd like to get cracking on implementing this command.

I'm trying to decide how to deliver the functionality described.  As I understand it, I have three options:
* a POST to the ```/items()``` endpoint
* use the ```ValidateUpdateListItem``` endpoint
* use the ```ProcessQuery``` endpoint

The ```/items()``` endpoint requires us to determine the ListItemEntityTypeFullName as

[2018-04-10 08:11] dguarneri71 commented on #366
Hi Waldek how can I find the name of the editable properties of the wbpart ContentRollup?
I must set the properties "Hide this webpart if there's nothing tio show".
Thanks

Daniele

[2018-04-10 18:06] waldekmastykarz commented on #364
@kshsbala what do you think about reusing the regex-based code from PnPJS? It's proven to be working and it would allow us to focus on adding more commands rather than building our own implementation.

[2018-04-10 19:12] #401 closed

[2018-04-10 19:13] #270 closed

[2018-04-20 16:35] waldekmastykarz commented on #285
Unfortunately, @PlanetWilson can't continue his work on this item. Open for picking again.

[2018-04-20 16:36] waldekmastykarz commented on #284
Unfortunately, @PlanetWilson can't continue his work on this item. Open for picking again.

[2018-04-20 22:08] VelinGeorgiev commented on #210
https://github.com/SharePoint/sp-dev-docs/pull/1719 PR Created. Awaiting for approval.

[2018-04-21 12:09] waldekmastykarz opened #409 "New command: list sections in the specific modern page"
List sections in the specific modern page

- command: `spo page section list -n|--name <name> -u|--webUrl <webUrl>`
- name: name of the page to list sections of
- webUrl: URL of the site from which to retrieve the page

For more information see the Get-PnPClientSidePage cmdlet.

[2018-04-21 12:11] waldekmastykarz opened #410 "New command: get information about the specific section of a modern page"
List sections in the specific modern page

- command: `spo page section get -s|--section <section> -n|--name <name> -u|--webUrl <webUrl>`
- section: ID of the section for which to retrieve more information
- name: name of the page to which the section belongs
- webUrl: URL of the site from which to retrieve the page

For more information see the Get-PnPClientSidePage cmdlet.

[2018-04-21 12:13] waldekmastykarz opened #411 "New command: list columns in the specific section of a modern page"
List columns in the specific section of a modern page

- command: `spo page column list -s|--section <section> -n|--name <name> -u|--webUrl <webUrl>`
- section: ID of the section for which to list columns
- name: name of the page to retrieve information of
- webUrl: URL of the site from which to retrieve the page

For more information see the Get-PnPClientSidePage cmdlet.

[2018-04-21 12:15] waldekmastykarz opened #412 "New command: get information about the specific column of a modern page"
Get information about the specific column of a modern page

- command: `spo page column get -c|--column <column> -s|--section <section> -n|--name <name> -u|--webUrl <webUrl>`
- column: ID of the column for which to retrieve more information
- section: ID of the section where the column is located
- name: name of the page to which the section belongs
- webUrl: URL of the site from which to retrieve

[2018-04-21 12:16] waldekmastykarz opened #413 "New command: list controls on the specific modern page"
List controls on the specific modern page

- command: `spo page control list -n|--name <name> -u|--webUrl <webUrl>`
- name: name of the page to list controls of
- webUrl: URL of the site from which to retrieve the page

For more information see the Get-PnPClientSidePage cmdlet.

[2018-04-21 12:18] waldekmastykarz opened #414 "New command: get information about the specific control on a modern page"
Get information about the specific control on a modern page

- command: `spo page control get -i|--id <id> -n|--name <name> -u|--webUrl <webUrl>`
- id: ID of the control to retrieve information for
- name: name of the page where the control is located
- webUrl: URL of the site from which to retrieve the page

For more information see the Get-PnPClientSidePage cmdlet.

[2018-04-21 19:26] waldekmastykarz commented on #210
Woohooo! Thanks @VelinGeorgiev 👏

[2018-04-22 08:52] waldekmastykarz commented on #125
Hey @rjesh-git, are you still working on this command?

[2018-04-22 08:54] waldekmastykarz commented on #271
While I'm trying to get more info on the `ValidateUpdateListItem()` method, let's proceed with it and we'll adjust later if necessary. Would be a shame to hold up the work.

[2018-04-22 08:55] waldekmastykarz commented on #286
Hey @VelinGeorgiev, still working on this one?

[2018-04-22 08:56] waldekmastykarz commented on #301
Hey @appieschot, are you still working on this command?

[2018-04-22 08:56] waldekmastykarz commented on #302
Hey @appieschot, still working on this one?

[2018-04-22 08:56] waldekmastykarz commented on #341
Hey @phawrylak, did you have a chance to work on this command?

[2018-04-22 08:57] waldekmastykarz commented on #342
Hey @phawrylak, are you still working on this command?

[2018-04-22 08:57] waldekmastykarz commented on #343
Hey @phawrylak, are you still working on this command?

[2018-04-22 08:57] waldekmastykarz commented on #363
Hey @appieschot, are you still working on this command?

[2018-04-22 08:58] waldekmastykarz commented on #367
Hey @kshsbala, are you still working on this command?

[2018-04-22 09:08] VelinGeorgiev commented on #286
Hi @waldekmastykarz , I haven't started yet, but plan to complete it until the end of the next week.

[2018-04-22 09:26] #360 closed

[2018-04-22 09:27] #413 closed

[2018-04-22 09:28] #414 closed

[2018-04-22 09:38] waldekmastykarz commented on #286
Awesome! Looking forward to the PR 💪

[2018-04-22 09:48] kshsbala commented on #367
yes @waldekmastykarz ...in progress..will be ready by end of today or tomorrow...

[2018-04-22 17:14] waldekmastykarz commented on #384
@joaojmendes Do you know if there is any API for working with labels or have you been using it through UI only so far?

[2018-04-22 19:59] joaojmendes commented on #384
Hi Waldek,

I use the UI (Office 365 Security & Compliance) to create Labels, Policies and DLP Rules, In SharePoint I use the Document Library page settings to apply default label to content.

I think that at this time we don’t have any API  available to manage  Label, Policies and DLP, but there are PowerShell Cmdlets, https://docs.microsoft.com/en-us/powershell/module/exchange/policy-and-complia

[2018-04-23 06:30] waldekmastykarz commented on #384
Thanks for the info @joaojmendes, I'll see if I can dig up anything more.

[2018-04-25 04:02] rjesh-git commented on #125
Sorry got busy with work, please change the label. Will take it, once I'm freed up.

[2018-04-25 06:37] waldekmastykarz commented on #125
Sure thing

[2018-04-25 14:55] TomekPi commented on #270
How to update User field (single or multi) using `AddValidateUpdateItemUsingPath()` method? I cannot find any information about this.

[2018-04-25 14:59] rfjschouten commented on #270
@TomekPi You should use ValidateUpdateListItem() instead when you want to Update a User field, or any other field. I am implementing this at the moment in the spo file add command where you are able to upload a new file and set list item properties. In first place I was also looking at this AddValidateUpdateItemUsingPath() method and pulling my hear out, but eventually found this one for updates.

[2018-04-25 15:02] rfjschouten commented on #270
You could then use a command parameter like:

--SinglePeopleField "[{'Key':'i:0#.f|membership|markh@conotoso.com'}]"

Got this from @mpowney spo list add command.

[2018-04-25 15:07] TomekPi commented on #270
Thanks @rfjschouten , it's working!
That's exactly what I was looking for: the syntax "[{'Key':'loginName'}]" .
I was trying to update User field from sample react-listForm and this did the trick.

[2018-04-25 15:09] rfjschouten commented on #270
Great @TomekPi ! Good to hear it is working! Earnings to @mpowney for sorting this out...

[2018-04-26 19:48] #367 closed

[2018-04-26 19:49] #327 closed

[2018-04-26 19:50] #326 closed

[2018-04-30 20:28] mpowney commented on #271
No worries. Work has progressed, I’ve got a functioning implementation both with the ValidateUpdateListItem() approach, and the CSOM approach for systemUpdate.

I neeed to test for this still, but looking in to the Methods available in CSOM defined Actions, it is possible the same field values can be passed in, using the “ParseAndSetFieldValue” method. CSOM also requires a couple of extra calls to

[2018-05-01 06:29] waldekmastykarz commented on #271
Thorough findings and good progress! Nice work @mpowney! Looking forward to the PR! 💪

[2018-05-01 19:50] mpowney opened #422 "Idea: add “low privilege” auth method for non-admin cmds"
I’d like to be able to perform commands on SharePoint Online that don’t require admin privileges; e.g. page content management, creating and updating lists, content types, list items, etc without an admin having to give consent to the _PnP Office 365 Management Shell_ application.

The scenario I’m thinking of is where an ISV might use the office365-cli to perform spo site collection scoped deploy

[2018-05-01 21:16] mpowney commented on #422
Looking at the pnp cmdlets, would it make sense to introduce an approach similar to the "Scopes" parameter in the Connect-PnPOnline cmdlet?

[2018-05-01 22:23] VelinGeorgiev opened #424 "New command: Copy folder"
Copy the specified folder to another location

- command: `spo folder copy -u|--webUrl <webUrl> -s|--sourceUrl <sourceUrl> -t|--targetUrl <targetUrl> --deleteIfAlreadyExists`
- webUrl: The URL of the site where the folder is located
- sourceUrl: site-relative URL of the folder to copy
- targetUrl: server-relative URL where to copy the folder
- deleteIfAlreadyExists: If provided, if a file already

[2018-05-01 22:25] VelinGeorgiev commented on #424
@waldekmastykarz please assign that to me. I am already working on it.

[2018-05-01 22:31] VelinGeorgiev opened #425 "New command: Add folder"
Creates a folder within a parent folder

- command: `spo folder add -u|--webUrl <webUrl> -s|--sourceUrl <sourceUrl> -n|--name <name>`
- webUrl: The URL of the site where the folder will be added
- sourceUrl : Site-relative URL of the **parent** folder `_catalogs/masterpage`
- name: name of the new folder (to be added)

For more information see the [Add-PnPFolder](https://docs.microsoft.com/en-us/p

[2018-05-01 22:33] VelinGeorgiev opened #426 "New command: Remove folder"
Deletes a folder form a site

- command: `spo folder remove -u|--webUrl <webUrl> -s|--sourceUrl <sourceUrl> --recycle --confirm`
- webUrl: The URL of the site where the folder will be deleted
- sourceUrl : Site-relative URL of the target folder `_catalogs/masterpage/folder1`
- recycle: Recycle the folder instead of actually deleting it
- confirm: Don't prompt for confirming before deleting the fol

[2018-05-01 22:46] VelinGeorgiev opened #427 "New command: Get folder"
Returns a folder data

- command: `spo folder get -u|--webUrl <webUrl> -f|--folderUrl <folderUrl>`
- webUrl: The URL of the site where the folder will be added
- folderUrl: Site-relative URL of the folder

For more information see the [Get-PnPFolder](https://docs.microsoft.com/en-us/powershell/module/sharepoint-pnp/get-pnpfolder?view=sharepoint-ps) cmdlet

[2018-05-01 22:50] VelinGeorgiev opened #428 "New command: List folder"
Returns all folders under parent folder

- command: `spo folder list -u|--webUrl <webUrl> -f|--folderUrl <folderUrl>`
- webUrl: The URL of the site where the folder will be added
- folderUrl: Site-relative URL of the parent folder `_catalogs/masterpage`

For more information see the [Get-PnPFolder](https://docs.microsoft.com/en-us/powershell/module/sharepoint-pnp/get-pnpfolder?view=sharepoint-ps)

[2018-05-01 22:55] VelinGeorgiev opened #429 "New command: Rename folder"
Renames a folder

- command: `spo folder rename -u|--webUrl <webUrl> -f|--folderUrl <folderUrl> -n|--name <name>`
- webUrl: The URL of the site where the folder will be added
- folderUrl : Site-relative URL of the folder (including the folder)
- name: New name for the target folder

For more information see the [Rename-PnPFolder](https://docs.microsoft.com/en-us/powershell/module/sharepoint-pnp/re

[2018-05-02 06:35] waldekmastykarz commented on #422
That's a great suggestion @mpowney and in a way it's already possible today. By default, the CLI uses a specific AAD app that requires quite a few permissions to support all commands. But, if you don't want to use all commands and would like to work without an admin consent, you could provide your own AAD app ID for the CLI to use. Based on what permissions you would grant your AAD app ID you woul

[2018-05-02 06:37] waldekmastykarz commented on #424
Nice! Appreciate the initiative! 👍

[2018-05-02 06:40] waldekmastykarz commented on #424
I've updated the short names for the webUrl and sourceUrl options, so that they are in sync with other commands in the CLI.

[2018-05-02 06:40] waldekmastykarz commented on #426
I've updated the short name for the webUrl option and added the `confirm` option so that the command is in sync with other commands in the CLI.

[2018-05-02 06:41] waldekmastykarz commented on #427
I've changed the short name of the webUrl option and renamed the `sourceUrl` option to `folderUrl` which seems more clear in this context.

[2018-05-02 06:43] waldekmastykarz commented on #428
I've updated the short name of the webUrl option and change the name of the `sourceUrl` option to `folderUrl` which is clearer in this context.

[2018-05-02 06:44] waldekmastykarz commented on #429
I've changed the short name of the webUrl option and renamed the `sourceUrl` option to `folderUrl` which is clearer in this context.

[2018-05-02 07:45] waldekmastykarz opened #430 "Remove bithound badges from the readme"
Remove the bithound badges from the readme as the service will be closing in 30 days.

[2018-05-02 08:16] VelinGeorgiev commented on #425
@waldekmastykarz feel free to assign me on that. Should be a quick one.

[2018-05-02 08:16] VelinGeorgiev commented on #426
@waldekmastykarz feel free to assign me on that. Should be a quick one.

[2018-05-02 08:16] VelinGeorgiev commented on #428
@waldekmastykarz feel free to assign me on that. Should be a quick one.

[2018-05-02 08:39] waldekmastykarz commented on #425
All yours! 👍

[2018-05-02 08:40] waldekmastykarz commented on #426
Awesome! 👍

[2018-05-02 08:41] waldekmastykarz commented on #427
All yours! 🚀

[2018-05-02 08:41] waldekmastykarz commented on #428
All yours! 💪

[2018-05-02 16:42] waldekmastykarz opened #431 "New command: connect site collection to an Office 365 Group"
Connects site collection to an Office 365 Group

- command: `spo site office365group set -u|--siteUrl <siteUrl> -a|--alias <alias> -n|--displayName -d|--description [description] -c|--classification [classification] --isPublic --keepOldHomepage`
- siteUrl: URL of the site collection being connected to new Office 365 Group
- alias: The email alias for the new Office 365 Group that will be created
-

[2018-05-02 19:31] VelinGeorgiev commented on #429
@waldekmastykarz assign that one to me as well. Seems easy to deliver. Thanks!

[2018-05-02 19:41] waldekmastykarz commented on #429
Done! 😄

[2018-05-06 17:07] #286 closed

[2018-05-06 17:08] #328 closed

[2018-05-06 17:08] #425 closed

[2018-05-06 17:09] #426 closed

[2018-05-06 17:09] #427 closed

[2018-05-06 17:09] #428 closed

[2018-05-06 17:10] #430 closed

[2018-05-08 18:39] waldekmastykarz opened #441 "New command: List Azure AD group settings templates"
Lists Azure AD group settings templates

- command: `graph groupsettingtemplate list`
- for each template show the id and displayName. In JSON output mode, show all properties

For more information see the [groupsettingtemplate_list](https://developer.microsoft.com/en-us/graph/docs/api-reference/v1.0/api/groupsettingtemplate_list) MS Graph API.

This commands makes it possible to configure modern

[2018-05-08 18:44] waldekmastykarz opened #442 "New command: Get information about the specified Azure AD group settings template"
Gets information about the specified Azure AD group settings template

- command: `graph groupsettingtemplate get -i|--id [id] -n|--displayName [displayName]`
- id: The ID of the settings template to retrieve. Specify the id or displayName but not both
- displayName: The display name of the settings template to retrieve. Specify the id or displayName but not both

For more information see the [gro

[2018-05-08 18:53] waldekmastykarz opened #443 "New command: Create a group setting"
Creates a group setting

- command: `graph groupsetting add -i|--templateId <templateId> ...`
- id: The ID of the group setting template to use to create the group setting
- `...` this command supports arbitrary options which are used as values for the template properties

For more information see the [groupsetting_post_groupsettings](https://developer.microsoft.com/en-us/graph/docs/api-reference/

[2018-05-10 19:02] nithinmohantk opened #446 "Office365 CLI installation fails under corporate proxy"
We are using JFrog Artifactory for internally to control packages delivery and we are behind a corporate proxy.
We have been having problems when trying to install Office365-cli, as dependency package download were failing - because **npm-shrinkwrap.json** points to https://registry.npmjs.org.

Since our intermediate SSL generated by corporate proxy is self-signed, NPM package requests will not wo

[2018-05-10 19:07] waldekmastykarz commented on #446
Sorry to hear you're experiencing an issue. How do you deal with other packages? Or don't they use lock files?

[2018-05-10 19:10] nithinmohantk commented on #446
It is happening for all the packages since it will be a big list to copy paste, i just avoided and kept only one liner,

`C:\Works\office365-cli (master -> origin) (@pnp/office365-cli@1.2.0)
λ npm install -g @pnp/office365-cli@1.2.0
npm ERR! fetch failed https://registry.npmjs.org/async/-/async-2.6.0.tgz
npm WARN retry will retry, error on last attempt: Error: fetch failed with status code 403
npm

[2018-05-10 19:14] waldekmastykarz commented on #446
Do you have this problem only with Office 365 CLI or with some other packages as well?

[2018-05-10 19:15] nithinmohantk commented on #446
sorry, my mouse was sticky.
Only for Office 365 CLI and other SPFx packages are working fine.

[2018-05-10 19:18] waldekmastykarz commented on #446
The reason why we use shrinkwrap is to ensure that everyone gets the same packages and that no one will get issues due to some underlying dependencies changes. Have you considered alternatives like downloading the tarball from npm, removing shrinkwrap and pushing it to your registry manually or building the CLI based on the source from GitHub?

[2018-05-10 19:40] nithinmohantk commented on #446
I tried

- Manually cloned Github repository
- deleted NPM-shrinkwrap, json
- did **npm install** inside the folder.
- did "npm run build"  - but it is failing with build.

`0 info it worked if it ends with ok
1 verbose cli [ 'C:\\Program Files\\nodejs\\node.exe',
1 verbose cli   'C:\\Program Files\\nodejs\\node_modules\\npm\\bin\\npm-cli.js',
1 verbose cli   'run',
1 verbose cli   'build' ]
2 inf

[2018-05-10 19:50] nithinmohantk commented on #446
Finally downloaded distribution binary tarball from NPMJS - 'https://registry.npmjs.org/@pnp/office365-cli/-/office365-cli-1.3.0-beta.86f8635.tgz' and extracted it in to a folder.

`C:\Works\office365-cli-1.3.0-beta.86f8635\package  (@pnp/office365-cli@1.3.0-beta.86f8635)
λ npm install

Have some ❤️ for Sinon? You can support the project via Open Collective:

npm notice created a lockfile as packa

[2018-05-10 20:18] nithinmohantk opened #447 "Error: self signed certificate in certificate chain"
I was trying to use o365
`spo connect https://myorgtenant-admin.sharepoint.com`

It stopped me with an error

`λ o365
o365$ version
1.3.0-beta.86f8635
o365$ spo connect myorgtenant-admin.sharepoint.com
Error: self signed certificate in certificate chain
o365$`

Do you have any solutions for this issue?

[2018-05-10 20:36] nithinmohantk commented on #447
I would suggest a simple fix is to add the following in post requestArgs inside file
_office365-cli/blob/master/src/o365/spo/commands/connect.ts_

**rejectUnauthorized: false**

` const requestDigestRequestOptions: any = {
              url: `${auth.site.url}/_api/contextinfo`,
              headers: Utils.getRequestHeaders({
                authorization: `Bearer ${accessToken}`,

[2018-05-10 20:37] nithinmohantk commented on #446
So finally do we have any fixes to package it properly?.

[2018-05-11 09:51] waldekmastykarz commented on #446
What do you mean with 'package it properly'? I don't think we have much alternative other than not using shrinkwrap, which introduces risks we'd be unwilling to take. If your environment doesn't allow installing packages using shrinkwrap, then there aren't many other options for you to follow the process you mentioned above.

[2018-05-11 09:52] waldekmastykarz commented on #447
Are you using Fiddler or anything else that's rewriting HTTPS requests? I've never seen this issue myself and haven't heard anyone else report it.

[2018-05-11 10:39] nithinmohantk commented on #446
I understand your point of view. My question would why is it failing only for this package, while I am able to install all the package from @pnp, @microsoft.

The recommended use-case for npm-shrinkwrap.json is applications deployed through the publishing process on the registry: for example, daemons and command-line tools intended as global installs or devDependencies. **_It's strongly discourage

[2018-05-11 10:40] nithinmohantk commented on #447
You could see this if you are working behind a corporate content filtering proxy. Hope that makes sense. I have seen this in last 3 organizations/corporations I switch jobs.

[2018-05-11 10:50] waldekmastykarz commented on #447
The fix you suggested would not be simple, because it means we'd need to update *all* requests we issue across the CLI, not just in the connect command.

Could you try executing the connect command with `--debug`?

[code]

That way we could see if we get any more information where exactly you get error and if there are other ways to solve it than what you mentioned.

[2018-05-11 10:53] waldekmastykarz commented on #446
I can't speak for authors of other packages, but for us it was a deliberate choice to use shrinkwrap to avoid issues caused by dependencies changing without our knowledge.

What you mention would work only for the direct dependency. If that dependency has a child dependency denoted by a version range, we would still be exposed to risks. Because we don't control how other dependencies list their de

[2018-05-11 11:31] nithinmohantk commented on #447
Currently added a Windows Environment variable - NODE_TLS_REJECT_UNAUTHORIZED=0 to globally bypass the SSL trust in NodeJS.  I was able to pass through SSL error.
Here is the new debug log:

`Authenticating with SharePoint Online at https://myorgtenant-admin.sharepoint.com...
No existing access token or expired. Token: , ExpiresAt:
Starting Auth.ensureAccessTokenWithDeviceCode. resource: https://m

[2018-05-11 11:42] waldekmastykarz commented on #447
AADSTS50002 is an Azure AD error so you might want to contact someone who manages your tenant to see if you can find more information about it.

[2018-05-11 11:57] nithinmohantk commented on #446
True, as a package publisher you have worried about something being messed up. As a customer/developer, we cannot have our CI Builds and all developers work through these temporary fixes.

We could argue more, but what we look forward is to solve a problem? A problem, that I am sure most of the other customers/developers face soon if they are behind an ultimate secure corporate proxy.

[2018-05-11 12:04] waldekmastykarz commented on #446
What if you would publish the modified version of the CLI to your registry? That way, you would only need to apply the fix once for every release, which we currently have once a month. Once done, everyone could install it from there without any problems.

[2018-05-11 17:26] waldekmastykarz opened #449 "New command: List group settings"
Lists group settings

- command: `graph groupsetting list`
- in text output mode, for each setting returns id and displayName. In json output mode, returns all available data

For more information see the [groupsetting_list](https://developer.microsoft.com/en-us/graph/docs/api-reference/v1.0/api/groupsetting_list) MS Graph API.

[2018-05-11 17:31] waldekmastykarz opened #450 "New command: Get group setting"
Gets information about the particular group setting

- command: `graph groupsetting get -i|--id <id>`
- id: The ID of the group setting to retrieve

For more information see the [groupsetting_list](https://developer.microsoft.com/en-us/graph/docs/api-reference/v1.0/api/groupsetting_list) MS Graph API.

[2018-05-11 17:34] waldekmastykarz opened #451 "New command: Update group setting"
Updates the particular group setting

- command: `graph groupsetting set -i|--id <id> ...`
- id: The ID of the group setting to update
- `...` this command supports arbitrary options which are used as values for the properties to update

For more information see the [groupsetting_update](https://developer.microsoft.com/en-us/graph/docs/api-reference/v1.0/api/groupsetting_update) MS Graph API.