[2019-12-18 13:26] garrytrinder commented on #1271
I am fine with this, I’m happy to pick up the updates required to the documentation 👍🏻

[2019-12-18 15:05] ypcode commented on #15
Hi @waldekmastykarz @VelinGeorgiev

I kinda miss contributing a bit to the CLI :P I see those are still pending, I can get back on it if it's OK for you ?

[2019-12-18 18:31] waldekmastykarz commented on #15
Of course! Great to have you back! 👏

[2019-12-18 22:47] rabwill commented on #16
Let's close these 2017 ones shall we? Can I please pick this up :) @VelinGeorgiev / @garrytrinder

[2019-12-18 22:50] garrytrinder commented on #16
All yours @rabwill thanks for your help 👍🏻

[2019-12-19 09:13] ypcode commented on #15
Hi @waldekmastykarz , almost done already!

However, I was a bit confused that using the command always returns a
`Error: Cannot perform this extension schema write operation.`

I started looking that it might probably connected as an AAD App principal...  In the docs, however, it states

https://docs.microsoft.com/en-us/graph/api/schemaextension-update?view=graph-rest-1.0&tabs=http

I found in th

[2019-12-19 15:29] ypcode commented on #12
Hi guys @waldekmastykarz  @VelinGeorgiev

If the design discussion is clear enough ? which I think, can I take this one ?

[2019-12-19 15:35] ypcode commented on #1100
Hi @garrytrinder , can I take this one ?

[2019-12-19 15:38] ypcode commented on #1145
I would also like to pick this one if it is okay for you ?

[2019-12-19 19:18] garrytrinder commented on #1100
All yours @ypcode thanks for your help 👍🏻

[2019-12-19 19:20] garrytrinder commented on #1145
All yours @ypcode thanks for your help 👍🏻

[2019-12-21 09:45] plamber opened #1285 "New command: aad o365group report activityfilecounts"
There are still some pending reports for the Office 365 groups. I would like to implement these too.

### Usage

### Description
Get the total number of files and how many of them were active across all group sites associated with an Office 365 Group.

### Options

| Option                  | Description                               |
| ----------------------- | ----------------------------------

[2019-12-21 09:47] plamber opened #1286 "New command: aad o365groups report activitystorage"
### Usage

### Description
Get the total storage used across all group mailboxes and group sites.

### Options

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `-o, --output [output]` | Output type. `json\|text`. Default `text` |
| `-p, --period [period]` | The length of time over which the report is

[2019-12-21 09:53] plamber opened #1287 "Discussion: Office 365 users and Skype For Business Reports"
Hello guys,
We are already at a good point with the integration of the usage reports of Office 365 services. Before proceeding with the residual command requests I wanted to have a short alignment with you.

The structure and implementation of Yammer's usage commands will be a no brainer. But on the other hand, we have two other categories that do not necessarily fit in our current setup.
- Office

[2019-12-21 14:09] garrytrinder commented on #12
Hey @ypcode thanks for reaching out to take a look at this.

I think it would be wise to create a spec based on our new template so that we have clarity on what is to be built and the functionality the command will offer, this will help us a lot when we come to review the PR.

Do you fancy having a go at defining the spec?

[2019-12-21 14:24] sprider opened #1288 "Update command: Revisit the usage reports implementations for teams with base class"
Hi,
As suggested in #1174, I would like to update the following(remaining) usage reports for **teams** with the base class defined by @plamber. Could you please approve this and assign this to me?

Path: office365-cli/src/o365/teams/commands/report

<img width="431" alt="Screen Shot 2019-12-21 at 8 15 17 AM" src="https://user-images.githubusercontent.com/21008316/71309225-15d78300-23cb-11ea-9e77-4

[2019-12-21 14:24] sprider opened #1289 "Update command: Revisit the usage reports implementations for groups with base class"
Hi,
As suggested in #1174, I would like to update the following(remaining) usage reports for **groups** with the base class defined by @plamber. Could you please approve this and assign this to me?

Path : office365-cli/src/o365/aad/commands/o365group

<img width="370" alt="Screen Shot 2019-12-21 at 8 15 32 AM" src="https://user-images.githubusercontent.com/21008316/71309246-4f0ff300-23cb-11ea-8df

[2019-12-21 14:48] plamber commented on #1289
Hi @sprider,
I think this already happened in #1174 and #1175.

br,
Patrick

[2019-12-21 14:48] plamber commented on #1288
Hi @sprider,
I think this already happened in #1174 and #1175.

br,
Patrick

[2019-12-21 14:55] sprider commented on #1288
Hi @plamber, Ahhh Sorry ! My bad. I was checking the master branch. I will close this request. Thanks.

[2019-12-21 14:55] #1288 closed

[2019-12-21 14:56] sprider commented on #1289
Hi @plamber, Ahhh Sorry ! My bad. I was checking the master branch. I will close this request. Thanks.

[2019-12-21 14:56] #1289 closed

[2019-12-21 21:32] russgove opened #1291 "New command: copy column"
spo field column copy listname fromfield tofield  [options]`

copies the values of fromfield in listname to tofield in listname

Not sure how this will work, but i want to be able to
1. rename a column (add the new column,  copy from the old to the new,  delete the old)
2. convert a lookup column to a textfield (add the new text column, copy the lookup value from the old to the new, delete the old

[2019-12-21 22:02] garrytrinder commented on #1287
Thanks for raising this issue and starting a discussion, it is much appreciated.

My initial thoughts are that the two Office 365 reports you have mentioned should go under the 'tenant' group which at the moment only contains a single command `id`, this returns the ID of the Office 365 tenant. The full command path is `o365 tenant id` so your proposed reports could be implemented as `o365 tenant r

[2019-12-21 22:03] garrytrinder commented on #1287
@VelinGeorgiev @waldekmastykarz do you agree with the above approach?

[2019-12-22 18:22] #1257 closed

[2019-12-22 18:23] #1256 closed

[2019-12-22 18:23] #1254 closed

[2019-12-22 18:24] #1253 closed

[2019-12-22 19:37] russgove commented on #1291
so how do we debug this? kind of hard to,develop if we can't step through code

[2019-12-24 11:22] garrytrinder commented on #1291
Hey @russgove thank you for your suggestion.

Before you start working on this, lets make sure that we have a clear understanding of what you are proposing before you submit a PR and that you are spending time on something that we can accept.

Your scenario sounds like a combination of commands that would be executed in a script rather than a single command, for example, scenario one could be comp

[2019-12-24 14:41] ypcode commented on #12
Hi @garrytrinder ,

Of course, based on the discussion above, I would propose:

- command `graph schemaextension list --status|-s [status] --owner [owner]` --pageSize|-p [pageSize] --pageNumber|-p [pageNumber]

Option|Description
------|-----------
`--help`|output usage information
`--status,-s [status]`|The status to filter on
`--owner [owner]`|The id of the owner to filter on
`-o, --output [outp

[2019-12-24 15:09] VelinGeorgiev commented on #1291
I would also suggest this to be a script sample rather than a command. For me, it seems to be doing too many things at once and definitely I would propose it as script sample.

[2019-12-24 15:11] russgove commented on #1291
Thanks Gary,  Just to clarify, the command would copy the VALUES of one column to another.

Sent from my iPad

[2019-12-26 09:57] ypcode commented on #1100
Hi @garrytrinder , I am going to begin this one.

One note regarding the specs for the changeType that allow multiple combined values, I would suggest the `--changeType` argument's value to be a comma-separated list of values as a single string (e.g. `--changeType "Created,Updated"`.

I'll start it in that direction, let me know if you have any remarks !

[2019-12-26 21:59] russgove commented on #1291
Hey, Is there anyway to make async calls in the validate() method? I want to validat the columns exist in the validate method. Amy eamples of an async validate() method.

[2019-12-29 13:29] nerdess opened #1294 "Command "spo status" missing"
I just added the cli to be able to manage sharepoint more efficiently. However, basic commands like "spo status" are not available. What am I missing?

<img width="788" alt="Bildschirmfoto 2019-12-29 um 14 27 37" src="https://user-images.githubusercontent.com/711925/71557522-7d36a800-2a47-11ea-88f6-ab60f782eafa.png">

[2019-12-29 14:05] VelinGeorgiev commented on #1294
Hey @nerdess , as of version 2.x `spo status` is just `status`. It was `spo status` for version 1.x where we had different login experiences per service, but as of version 2.x we have unified logging experience where we have a single `login` command, therefore we have a single `status` command as well.

For more info, you can check the official documents here: [https://pnp.github.io/office365-cli/

[2019-12-29 18:40] waldekmastykarz commented on #1291
Hey @russgove, `validate` is not async and it's executed before authentication so at that stage you can't assume you're authenticated and can access SharePoint.

That aside, I agree with @VelinGeorgiev that this sounds something more of a script using a combination of `spo listitem get` and `spo listitem set` rather than a very specialized specific command.

[2019-12-29 18:42] #1252 closed

[2019-12-29 18:43] #1197 closed

[2019-12-29 18:50] waldekmastykarz commented on #1287
I like the proposal for the naming convention of tenant-level reports `tenant report xyz`.

As for Skype reports, it's hard for me to judge the need for them. I think the community would be a better judge of that. That said, I'm not against implementing them. One suggestion I'd like to make is regarding the commands' prefix. Since we use `onedrive` for OneDrive for Business, I'd like to propose us

[2019-12-30 00:55] russgove commented on #1291
Thanks Waldek,
I'm sure we can copy one text field to amother using spo listitem get and spo
listitem set but it would probably be time consuming on large lists.  I
suggest using a specialized command so that we can batch the updates (get
100 rows, then update 100 rows , repeatedly until done).
I don't know that we can do that using spo listitem get and spo listitem.

I am not just proposing that

[2019-12-30 08:53] waldekmastykarz commented on #1291
Thanks for the explanation @russgove. I think I have a better understanding now of what you're trying to accomplish. We've been thinking about introducing support for batching ourselves (#1203), just in a slightly different context.

Thinking about your proposal, was it ever an issue that between reading the values from one column and putting them into another one, the values needed to be transfor

[2019-12-30 08:54] waldekmastykarz commented on #1100
Good catch @ypcode 👍

[2019-12-30 08:57] waldekmastykarz commented on #12
Thanks for the spec @ypcode. Looks good. With regards to paging, what if we used a default pageSize of 10 and if you wanted to get all items, you'd use a separate flag `--all` and then we'd use the pageSize in our requests (or not if it doesn't add any value)?

[2019-12-30 08:58] waldekmastykarz commented on #1286
Nice @plamber 👏. I've updated the command name to match what we already have. Other than that, all yours 💪

[2019-12-30 08:59] waldekmastykarz commented on #1285
All yours! 🚀

[2019-12-30 09:02] waldekmastykarz commented on #15
Good catch @ypcode! We should definitely include the owner option. Additionally, if possible, we should include it in the list and get commands so that users of the CLI what the owner for the particular schema extension is.

[2019-12-30 09:23] VelinGeorgiev commented on #1291
I am sorry if I sound as a rude dude, but from explanation @russgove, it is just confirmed that the proposed command does many things at once. The goal of the CLI or at least my understanding is to hold fairly simple commands that we can easily maintain. I am afraid that such command may have many edge cases that we have to consider and also discover more edge cases in future.

If it is about batc

[2019-12-30 11:59] plamber commented on #1287
@waldekmastykarz and @garrytrinder

I am going to open the issues for these commands beginning of next year

[2019-12-30 18:12] russgove commented on #1291
Thanks Velin, not rude at all. I should have been more clear in my initial
request!
This command would ,in fact, do many things at a time. Looking at the other
commands they seem to be a wrapper around an existing rest api. This would
definitely not be the case with this command.  And yes, it would have many
'edge' cases --There are about 30 field types so that would be 900 possible
conversions!

[2019-12-30 18:41] waldekmastykarz commented on #1291
fieldtypes (if you are copying from a Lookup to a text field , you may want
the id, the lookup value , or some other field from the lookup list)

So I guess that's the gist of it: can we deliver something generic and reusable and yet specific-enough for people to find it useful?

How about we try to propose a spec with the set of features/tranformations we'd support initially and request feedback

[2019-12-30 18:44] waldekmastykarz commented on #1287
Excellent! Shall we close this issue then and keep the command-specific issues open for tracking?

[2019-12-30 19:00] waldekmastykarz commented on #1084
The first draft of the code for command is working. Next step verifying that everything is working as expected and finishing the docs.

[2019-12-30 19:39] russgove commented on #1291
What form would a such a 'spec' be in?

Also, can anyone recommend a good learning resource for Sinon? Writing
tests is taking way longer than writing the actual commands!

On Mon, Dec 30, 2019 at 1:41 PM Waldek Mastykarz <notifications@github.com>
wrote:

[2019-12-30 21:44] #1287 closed

[2019-12-31 03:51] russgove commented on #1291
So far  I have been using different switches to control how the
transformation occurs, this would end up with hundreds of unintelligable
switches to control how the various transformations work.  I really like
the idea of a single -- transformer parameter which specifies which
algorithm to  use . A single transformer  setting -- which specifies which
class to be used to transform-- can take the pl

[2020-01-01 21:36] garrytrinder commented on #1100
Good catch @ypcode

My initial thought on this command is that `--changeType` would accept multi predefined values as it would be the easier approach for the end user, however from looking at the Vorpal docs and doing some extra research this doesn't appear to be implemented, so would require some customisations to Vorpal.

Happy with your approach, thanks for the PR 👍🏻

[2020-01-02 14:29] matsla opened #1297 "Bug report: Error using command spo listitem add when textfield value only contains numbers"
Error when add listitem where text field value is numeric like below:

o365 spo listitem add --listTitle "Test" --webUrl "https://xxxx.sharepoint.com/sites/xxxx" --Title "1111"
Error: Cannot convert a primitive value to the expected type 'Edm.String'

Windows 10 CLI version 2.4.0, PowerShell

[2020-01-02 18:28] waldekmastykarz commented on #1297
Thanks for reporting the issue @matsla and sorry for the trouble. We'll investigate it asap

[2020-01-02 18:36] waldekmastykarz commented on #1291
We have a template that we use for new commands, see for example here: https://github.com/pnp/office365-cli/issues/1286 or any other issue related to introducing a new command. In this case, there would be also a big part related to transformations.

https://sinonjs.org/, but looking at existing test cases might be easier as there are some specific things that we have worked out over time that wer

[2020-01-03 07:24] plamber opened #1298 "New command: tenant report ActiveUserCounts"
Following the discussion #1287

### Usage

### Description
Get the count of daily active users in the reporting period by product.

### Options

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `-o, --output [output]` | Output type. `json\|text`. Default `text` |
| `-p, --period [period]` | The length

[2020-01-03 07:26] plamber opened #1299 "New command: tenant report ServicesUserCounts"
Following the discussion #1287

### Usage

### Description
Get the count of users by activity type and service.

### Options

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `-o, --output [output]` | Output type. `json\|text`. Default `text` |
| `-p, --period [period]` | The length of time over which

[2020-01-03 07:27] plamber opened #1300 "New command: tenant report ActiveUserDetail"
Following the discussion #1287

### Usage

### Description
Get details about Office 365 active users.

### Options

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `-o, --option <option>` | option                                    |
| `-o, --output [output]` | Output type. `json\|text`. Default `text

[2020-01-03 07:30] plamber opened #1301 "New command: skype report ActivityUserDetail"
Following the discussion #1287

### Usage

### Description
Get details about Skype for Business activity by user.

### Options

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `-o, --option <option>` | option                                    |
| `-o, --output [output]` | Output type. `json\|text`. D

[2020-01-03 07:31] plamber opened #1302 "New command: skype report ActivityCounts"
Following the discussion #1287

### Usage

### Description
Get the trends on how many users organized and participated in conference sessions held in your organization through Skype for Business. The report also includes the number of peer-to-peer sessions.

### Options

| Option                  | Description                               |
| ----------------------- | ----------------------------

[2020-01-03 07:32] plamber opened #1303 "New command: skype report ActivityUserCounts"
Following the discussion #1287

### Usage

### Description
Get the trends on how many unique users organized and participated in conference sessions held in your organization through Skype for Business. The report also includes the number of peer-to-peer sessions.

### Options

| Option                  | Description                               |
| ----------------------- | ---------------------

[2020-01-03 09:00] appieschot commented on #1042
Suggestion; the parameter removeFromCdn is no longer present in my PowerShell commands (it is no longer described in the docs either; https://docs.microsoft.com/en-us/powershell/module/sharepoint-online/remove-spoorgassetslibrary?view=sharepoint-ps eventhough it is present in the sample). I would suggest we ommit that parameter from our implementation as well.

[2020-01-03 11:02] garrytrinder commented on #1042
Sounds good to me @appieschot we can always implement the `removeFromCdn` command at a later date as an enhancement.

Lets remove the parameter from your spec so that we don't get confused when we come to review 👍🏻

[2020-01-03 14:18] russgove opened #1305 "New command: spo field copyValues"
This is related to issue #1291

### Usage

spo field copyvalues --webUrl https://my.sharepoint.com/sites/test --listTitle "myList" --fromField sourcfield --toField targetField --transformer TextToText --batchSize 100 --filter "Title eq 'Test'"

### Description

This command would copy the values of one field in a list to another field in the list doing any transformations required

### Options
-w

[2020-01-03 15:45] waldekmastykarz commented on #1305
Thanks for proposing the spec @russgove. Let's see if we can get some feedback from the community about this command 👍

[2020-01-03 22:10] garrytrinder commented on #1297
Looks like this issue is caused by the `mapRequestBody` function, specifically the below block

[code]

Executing the below command...
[code]

Passes these `options` into the function.

[code]
The function returns this object as the `requestBody` which causes the error to be thrown.

[code]

[2020-01-04 16:54] garrytrinder commented on #1297
@matsla thank you for reporting this, I have raised a PR containing the fix.

[2020-01-04 17:50] russgove commented on #1305
So this should probably be called spo field setvalue as it could be used to set a field value from a command line argument rather than from another field.  The fromField argument would be optional and another optional argument , fromValue, would be added.  We could then pass the command line argument through any of the transformers that work on text input,

for example
spo field setvalue --toField

[2020-01-05 16:12] #1251 closed

[2020-01-05 16:13] #1255 closed

[2020-01-05 16:13] #1250 closed

[2020-01-05 16:14] #1249 closed

[2020-01-05 16:14] #1248 closed

[2020-01-05 16:14] #1247 closed

[2020-01-05 16:15] #1271 closed

[2020-01-06 10:54] Sumitrpareek commented on #270
@rfjschouten  Thanks, it's working for single user filed but what about multi user field. Please help.

[2020-01-06 14:52] garrytrinder commented on #1297
@matsla the PR has been merged and this fix is available in the latest beta version of the CLI, which can be installed using `npm install -g @pnp/office365-cli@latest`

[2020-01-06 21:45] matsla commented on #1297
@garrytrinder @waldekmastykarz thanks the quick response and fix. This works fine now in the latest beta version.
I wish the PnP-Sites-Core repo had the same response time, there is a lot of open issues now...

[2020-01-07 08:51] garrytrinder commented on #270
@Sumitrpareek let’s create a new issue for your question to make it more visible to the community.

[2020-01-07 15:48] #1297 closed

[2020-01-08 12:44] nerdess commented on #1294
thx for the help, all clear :)

[2020-01-08 12:44] #1294 closed

[2020-01-08 19:06] waldekmastykarz commented on #1297
Thank you for the kinds words @matsla

[2020-01-08 22:51] WayneJSawyer opened #1311 "Bug report: spo page clientsidewebpart add - Can't pass values to WebPart Properties in PowerShell"
### Description

Am working on a script (in PowerShell 5.1) that will add our custom SPFx web part to a page, and populate the web part with environment specific properties. Following the documentation on pnp.github.io, I've been unable to set web part properties (of any sort) successfully.

I've included below some of the attempts I've been trying, and the result of each. Note: There are back tic

[2020-01-08 22:51] WayneJSawyer commented on #1311
@ypcode - Follow up here from the Twitter conversation. Thanks in advance!

[2020-01-08 22:54] WayneJSawyer commented on #1311
Note: In Attempt 4, if you remove the $(SiteUrl) etc parameters, and just hard code the string values for webUrl, pageName, and webPartId still nothing happens, even with --verbose

[2020-01-08 23:00] garrytrinder opened #1312 "Update documentation to reflect required Node version"
With the release of v2.5, we changed from istanbuljs (nyc) to using c8 as our test coverage tool.

This change now means that we no longer support older versions of Node when contributing to the CLI, we now require v12 or higher.

We should update our documentation to reflect this change.

[2020-01-08 23:10] garrytrinder commented on #1188
As we have just released v2.5 of the CLI this should no longer be an issue, as we have replaced istanbuljs (nyc) with c8 as our test coverage tool in this release.

@eiriksanderfjeld @plamber can you confirm that the issue no longer remains when using the latest version of the CLI on a clean Windows install?

Please note that you will now require node v12 from v2.5 onwards, we will be updating our

[2020-01-08 23:11] garrytrinder commented on #1311
Thanks for reporting the issue @WayneJSawyer and sorry for the trouble. We'll investigate it asap

[2020-01-08 23:21] ypcode commented on #1311
Hi Wayne,

Regarding your attempts, there is a tiny thing but quite important that is missing: The back ticks ( ` ) surrounding your JSON string
e.g.

[code]
Notice that, to avoid the need of using $(), you can put the --% just before the string to escape (like in your third attempt, but remind the back ticks :) )

I've been trying a few things regarding your scenario and here is what I come up wi

[2020-01-09 07:04] WayneJSawyer commented on #1311
Thanks, I'll try it out, the hash object was actually my first approach because it made for a good solution, but was having issues with the double-double quotes and back tick on top of the ConvertTo-Json.

Note: I was using the back ticks in my examples as I'd seen that in the docs and in a gitter conversation, but I had trouble getting GitHub formatting the markdown to ignore them and not show as

[2020-01-09 07:20] plamber commented on #1188
@garrytrinder

I was able to successfully test the project with the latest release.

Two side notes:
- after running npm install, my npm-shrinkwrap.json has been changed
"wrap-ansi": {
      "version": "2.1.0",
      "resolved": "http://registry.npmjs.org/wrap-ansi/-/wrap-ansi-2.1.0.tgz",
      "integrity": "sha1-2Pw9KE3QV5T+hJc8rs3Rz4JP3YU=",
      "requires": {
        "string-width": "^1.0.1",

[2020-01-09 09:05] ypcode commented on #1311
Oh, indeed I did not realize you had them.. But then, it means that your third and fourth attempts sample should work... :$

BTW on my side, when I don't escape the JSON string properly, I get an output like
[code]
Don't you see it as well ?

[2020-01-12 09:40] WayneJSawyer commented on #1311
Hi Yannick (@ypcode),

Thanks for the solution, elegant one and most importantly one that works. It was the solution I was trying to put together before reaching out for help (creating a hash object and converting to json), but you provided the solution with all the back ticks and double double-quotes, so thank you very much.

Personally I never could get the --% in any form to work, even after tr

[2020-01-12 09:51] VelinGeorgiev commented on #1311
Let's keep this open until we update the documents so we have for sure an example of it.

[2020-01-12 10:40] waldekmastykarz commented on #1312
`package.json` is not the right place to do it, because it would indicate that you need Node@12 to use the CLI. We require Node@12 only when contributing to it to run tests using c8. You should be be able to use the CLI with older Node versions as well though.

[2020-01-12 10:43] waldekmastykarz commented on #1311
As Velin said, thank you so much for constructive discussion and getting to a solution guys. My compliments! 👏  Now that we've identified the right approach to do it, @YannickRe could you please submit a PR with an example that illustrates the right approach? Once again, thank you all 👍

[2020-01-12 12:38] waldekmastykarz commented on #1188
Good to hear you're unblocked @plamber 👍

This happens occasionally. The best is to ignore npmshrinkwrap changes when committing your changes.

As for the failing test, that's something we need to investigate. It shouldn't be the case.

[2020-01-12 13:19] #1190 closed

[2020-01-12 13:19] #16 closed

[2020-01-12 13:20] #1243 closed

[2020-01-12 13:52] waldekmastykarz opened #1313 "Simplify persisting connection information"
We should consider simplifying how we persist login state and store the retrieved access- and refresh tokens in a plain-text file, just like the Azure CLI does.

After signing in to Office 365, we retrieve an access- and a refresh token. We persist both in a OS-specific credential store (Key Chain on macOS, Credential Manager on Windows, plain text file on disk on Linux). Handling OS-specific impl

[2020-01-12 14:14] waldekmastykarz opened #1314 "Allow authentication using managed identity"
In automation scenarios it would be beneficial if the CLI supported authentication using managed identity so that it's not necessary to manage credentials.

[2020-01-12 15:59] waldekmastykarz commented on #58
Closing due to lack of further activity

[2020-01-12 15:59] #58 closed

[2020-01-12 16:15] #102 closed

[2020-01-12 16:18] waldekmastykarz opened #1315 "Add support for filtering data using JMESPath"
Add support for filtering data returned by commands using [JMESPath](https://www.npmjs.com/package/jmespath). That way, users can filter the returned data set and work only with the relevant subset without having to use third party tools such as `jq`. This is similar to what's available in the Azure CLI.

For example:

_Retrieve all site collections with `/sites/team-` in their URL_

[code]

Worki

[2020-01-12 18:38] garrytrinder commented on #1312
Good spot @waldekmastykarz 👍🏻

I have updated the issue description.

[2020-01-12 19:07] garrytrinder commented on #1313
I am in agreement 👍🏻

[2020-01-12 19:22] waldekmastykarz opened #1316 "Enhancement: Speed up completion in non-immersive mode"
There is a noticeable delay when requesting command completion in non-immersive mode, eg. typing in the shell `o365 spo[TAB]`. This delayed is caused by the completion being a part of the CLI and loading a big portion of the CLI and its dependencies, each time completion is requested. We could significantly decrease the delay, by separating out the completion feature, which is driven by a static l

[2020-01-13 10:43] gbminnock opened #1317 "Question webpartData"
### Description

Question: Is it possible to get the webpartData for use in 'apppage add' and 'apppage set' commands?  I know I can get the data manually but is their a command for dynamically get it?

### Steps to reproduce

apppage set

### Expected result

can run without specifying webPartData or have option to get webpartData at runtime.

[2020-01-13 18:51] waldekmastykarz commented on #1316
I have a working PoC for speeding up completion in non-immersive mode. It's available at https://github.com/waldekmastykarz/office365-cli/tree/completion. To try it out:
- grab the branch
- `npm run build`
- `npm link`
- restart shell to load the new completion
- type `o365 [TAB]` > at this moment, you shouldn't be seeing any delays when requesting command completion

One consequence of this easy

[2020-01-13 18:52] waldekmastykarz commented on #1315
@VelinGeorgiev @garrytrinder is the implementation that I have in the PoC sufficient or are there other things that we should consider before I submit a PR?

[2020-01-13 18:55] waldekmastykarz commented on #1317
Not at the moment, no. Sorry. It would be a good addition to have in the CLI though. Thank you for bringing it up.

[2020-01-14 12:38] VelinGeorgiev commented on #1315
It is more than sufficient @waldekmastykarz ! We can proceed and introduce it in the CLI, then improve it based on users feedback.

I know that the `--query` option will have some limitations with the `text` (table) output. I think in most of the cases for automation, output of `json` would be used anyway so I do not foresee real issues with that limitation.

Let's bring it and improve it over tim

[2020-01-14 13:17] garrytrinder commented on #1315
This would be a great addition and make it easier for users to move between the Azure CLI and Office 365 CLI as they will provide similar user experiences.

Agree with @VelinGeorgiev let’s ship it 🚀

[2020-01-14 18:27] waldekmastykarz commented on #1315
Perfect! In that case, let me finish it and submit a PR 👍

[2020-01-14 22:50] garrytrinder commented on #1316
Good work @waldekmastykarz 👍🏻

The speed of the autocompletion at the moment is really slow to the point were it "gets in the way" and isn't a great user experience, it does however seem to be a rather drastic step to have to fork a dependency to hide the `o365_comp` command.

I'd be happy to have the command visible, as the PR will drastically improve the user experience as is.

[2020-01-14 23:22] garrytrinder commented on #1266
I have a branch containing an update to the Vorpal library which changes the output to the terminal from a string to a buffer which is then streamed to `stdout` so we can handle large outputs.

https://github.com/garrytrinder/vorpal/tree/output-buffer

[2020-01-15 15:06] jhagstrom commented on #1144
I am using this issue to get acquainted with the code. I have a working command now, but having no experience of sinon I can't get a test to pass. I am trying to copy what is done in site-list, asserting calledWith but it fails. Any pointers on how to figure out more about the error?

[2020-01-15 21:42] garrytrinder commented on #1144
Hey @jhagstrom thank you for reaching out and welcome 👋🏻

As you've already started work on this command, let me assign this issue to you so that others know that is being worked on.

I would suggest looking at examples of tests that have already been written, we already have tests that cover most scenarios that can be re-used, however if you are able to share your branch (push your branch to your

[2020-01-15 21:55] jhagstrom commented on #1144
Thanks, I tried to mimic the test for the site list command, but there is something there that is not quite right. Either I am not getting the assertion right or maybe it's something with my response.

[2020-01-17 18:36] waldekmastykarz commented on #1313
@VelinGeorgiev any concerns on your end?

[2020-01-17 18:40] VelinGeorgiev commented on #1313
I am OK with it. It is a trade-off speed and simplicity instead of slightly safer store for Windows and MacOS. If the Azure CLI team did it that way, means they do not see hudge value in the slightly safer stores :) and we can follow their pattern.

[2020-01-18 12:38] garrytrinder commented on #1266
Some further investigation on this on `v2.5.0`...

## Zsh

### Node 10 & 12
✅`o365 spo site classic list -o json` => returns full output in console on single line
✅`o365 spo site classic list -o json > sites.json` => returns full output in file on single line
✅`o365 spo site classic list -o json | jq` => JSON is parsed correctly and returned to console

### Node 8

❌`o365 spo site classic list -o

[2020-01-19 13:47] waldekmastykarz commented on #1317
Just to better understand what you're trying to achieve @gbminnock: typically, when provisioning app pages, you create them upfront with the web part data that you know. What would be the scenario that would require you to retrieve web part info dynamically?

[2020-01-19 13:48] waldekmastykarz commented on #715
Changing to available due to lack of response

[2020-01-19 13:49] waldekmastykarz commented on #1040
Hey @appieschot, are you still working on this?

[2020-01-19 13:51] waldekmastykarz commented on #1125
Hey @balbany, are you still working on this?

[2020-01-19 13:52] waldekmastykarz commented on #1145
Hey @ypcode are you still working on this?

[2020-01-19 13:53] waldekmastykarz commented on #1270
Hey @pschaeflein, how are things progressing? Need help with anything?

[2020-01-19 13:54] waldekmastykarz commented on #1272
Hey @douglasromao, are you still working on this?

[2020-01-19 15:14] ypcode commented on #1145
I haven’t really started that one yet.
I had investigated it a bit though but did not came with feedback yet...

the specs mentions it should be similar to PnP PowerShell implementation, but it does use CSOM. I did not manage to find a public REST API for this, should it be implemented by mimicking the CSOM http call?

________________________________
De : Waldek Mastykarz <notifications@github.co

[2020-01-19 18:16] #1244 closed

[2020-01-19 18:17] #1245 closed

[2020-01-19 18:17] #1242 closed

[2020-01-19 18:18] #1246 closed

[2020-01-19 18:19] #1185 closed

[2020-01-19 18:19] #1315 closed

[2020-01-19 18:20] #1084 closed

[2020-01-19 18:20] #1316 closed

[2020-01-19 20:14] ypcode commented on #1311
Sure, let me work on it ASAP :)

[2020-01-19 21:18] balbany commented on #1125
Hey @waldekmastykarz, apologies on the delay. Should have a PR for you in the next day or so.

[2020-01-19 21:33] balbany commented on #1125
Ooh. A new constraint:

Note: Delta will only return messages within the last eight months. You can use GET /teams/{id}/channels/{id}/messages to retrieve older messages.

How do we want to deal with requests asking for --since a date prior to this? Throw an error, or show a warning that only messages from the last 8 months will be returned? @waldekmastykarz

[2020-01-20 06:23] nigel-dewar opened #1321 "Commands cannot be batched together"
I have a batch file, and tried a .cmd file. If you try and run several commands together, it doesnt work.

o365 login etc etc...
o365 spo list list --webUrl <siteurl>
o365 spo list add --title Announcements --baseTemplate Announcements --webUrl <siteurl>

If you try and do this, only the spo list list command will run. The list add will not.
If you comment out the spo list list, then the list add

[2020-01-20 09:06] appieschot commented on #1040
Yes, had some troubles because I had some old code from first time it started. Did throw everything away, got my test and build working again with new node version so expect something this week :).

[2020-01-20 13:29] garrytrinder commented on #1321
Hi @nigel-dewar 👋🏻

Apologies for the trouble, we will take a look and hope to get you unblocked ASAP.

Are you able to share the contents of an an example file with us?

What behaviour is seen when executing the file? Could you provide a screenshot our any errors thrown?

Would you also be able to give us some detail on your environment, specifically the version of Windows you are running , what

[2020-01-20 18:09] waldekmastykarz commented on #1145
If there is no REST API then let's use CSOM indeed. We have a number of commands that do that if you need some implementation reference. Want to give it a try?

[2020-01-20 18:14] waldekmastykarz commented on #1125
Appreciate your help @balbany.

It would be good to catch it in the command validation routine, so when you specify that you want to use delta and the passed since date is before 8 months ago, validation should fail with a clear error message. Does this make sense?

[2020-01-20 18:15] waldekmastykarz commented on #1040
No need to be ashamed, and appreciate your help! Please, don't hesitate to reach out if you have any questions 🙂

[2020-01-21 10:51] VelinGeorgiev commented on #1144
@jhagstrom  are you talking about your failing test which is named `lists the tenant recyclebin items (debug)`?

You almost got it right. It is just typos in your assertion URL values:
[code]
So based on your stubbed response the expectation is for `https://contoso.sharepoint.com/sites/ClassicThrowaway`, but in your assertion you have typed the value as  `https:/contoso.sharepoint.com/sites/Classi

[2020-01-21 10:56] jhagstrom commented on #1144
d'oh! Nothing like peer review for code quality :) Can't believe I didn't catch that obvious typo. Thank you!

[2020-01-21 10:58] jhagstrom commented on #1144
About 100% coverage, I guess it would make sense to test a successful call to an empty bin and also test calling using the --json switch, or what do you think?

[2020-01-21 11:06] VelinGeorgiev commented on #1144
@jhagstrom just a hint how I do the tests. Instead of `assert(cmdInstanceLogSpy.calledWith([ ...` I would use

[code]

Having strict `assert.equal` will immediately show the issue in the tests like:
![image](https://user-images.githubusercontent.com/1049476/72799532-5aaa4000-3c3d-11ea-9968-4ca45fe10efe.png)

You can also troubleshot by adding simple `console.log` like `console.log(cmdInstanceLogSp

[2020-01-21 11:32] balbany commented on #1125
Yep, thanks for that. Will let you know if I get stuck.

[2020-01-21 12:14] VelinGeorgiev commented on #1052
Hey guys, I am working on this to finish it.

[2020-01-21 13:29] jhagstrom commented on #1144
Cool tip, thanks @VelinGeorgiev , I like the equals assertions better. However I had to use deepEqual for my non-primitive asserts (the dates).

How do I list the code coverage, also is there an easy way to run just one test? I added a script in package.json to just run my new specs for now.

[2020-01-21 17:01] garrytrinder commented on #1144
To run a single test, I just amend the `package.json` file.

Change the line ...

`"test": "c8 mocha \"dist/**/*.spec.js\""`

... to point to the test you want to run. For the command you are working on, it would be...

"test": "c8 mocha \"dist/**/tenant-recyclebinitems-list.spec.js\""

... just remember to not commit the package.json change 😊

[2020-01-21 23:36] jhagstrom commented on #1144
Less confused now, it's been a while since I touched my WSL so I was behind on node and npm which resulted in me not seeing the code coverage report following the tests. A few updates and some more tests and I got to 100%

[2020-01-22 11:18] VelinGeorgiev commented on #1144
Great to hear!

[2020-01-22 12:01] gbminnock opened #1323 "Bug report: spfx project upgrade receives 'Error: Maximum call stack size exceeded'"
### Description

On a large spfx library component project run o365 upgrade command but receive error.

### Steps to reproduce
On a large spfx library project run this command from with the project directory:
[code]

### Expected result
outputs upgrade report

### Actual result
[code]

### Environment

Windows 10
windows command line
o365 version: 2.5.0
node: v8.11.2
npm: 6.4.1
SPFX project curren

[2020-01-22 12:47] gbminnock commented on #1317
@waldekmastykarz I suppose the web parts have already been deployed. Saves soem time maybe not to have to pull out the data and push it into this. Just convenience I guess.

[2020-01-22 12:48] garrytrinder commented on #1323
Thank you for reporting this @gbminnock

Sorry for the trouble, we will take a look at this ASAP.

[2020-01-22 14:10] gbminnock commented on #1323
thanks @garrytrinder any workaround for the moment?

[2020-01-22 21:41] garrytrinder opened #1324 "Prettify JSON output"
Currently when using global `—output json` flag, the returned JSON is printed to the console on a single line,

This also means that when outputting the JSON directly to a file e.g.`> file.json`, the contents are also on one line.

It would be nice if the JSON was outputted as multi line for improved readability.

[2020-01-22 22:51] jhagstrom commented on #821
I started looking at this and I see that the functionality is already present in the o365group-set command (using the logoPath option).

[2020-01-23 07:38] garrytrinder commented on #821
Good spot @jhagstrom 👍🏻

We have the ability to create alias commands in the CLI, see https://pnp.github.io/office365-cli/cmd/aad/o365group/o365group-user-add

Would you like to pick this up?

[2020-01-23 08:13] jhagstrom commented on #821
Sure, I can give it a go. :)

[2020-01-23 11:30] garrytrinder commented on #821
Awesome, thanks for your help 👍🏻

[2020-01-23 18:19] waldekmastykarz commented on #1317
Thanks for clarifying @gbminnock. Let me see if we could come up with something that would help.

[2020-01-23 18:20] waldekmastykarz commented on #1323
@gbminnock could you tell us more about how large large is? It would help us to get as much info as possible to reproduce and fix the issue that you're experiencing.

[2020-01-23 18:23] waldekmastykarz commented on #1324
One question I have is changing this would change the behavior in a potentially breaking way. Given that it's possible to format the output before saving it to a file in the shell, do we want to risk breaking existing scripts/introducing a major version for this change? Alternatively, we could introduce an additional output format or a flag, like `--output json --pretty` to have the output formatt

[2020-01-23 19:08] waldekmastykarz commented on #261
I have a working PoC. @VelinGeorgiev, @garrytrinder would you mind giving it a try to see if I haven't missed anything?

1. Grab https://github.com/waldekmastykarz/office365-cli/tree/pwsh-completion
1. `npm run build`
1. `o365 --completion:pwsh:setup`
1. Follow the instructions
1. Start PowerShell
1. Type `o365[SPACE][TAB]` > you should get list of suggestions for all commands in the CLI

Please e

[2020-01-23 23:49] garrytrinder commented on #261
I'm struggling at step 4.

I get the `Add to your PowerShell profile:` message and the `Register-O365CLICompletion.ps1` file is generated but not sure where my profile file is...

Executing `$PROFILE` in `pwsh` returns `/Users/garrytrinder/.config/powershell/Microsoft.PowerShell_profile.ps1` as the profile location but the `powershell` folder doesn't seem to exist in the `.config` directory.

Any

[2020-01-23 23:56] garrytrinder commented on #1324
The proposed change would be to simply add white space to the existing `JSON.stringify()` method used in `Utils.ts` when the `json` is used as the value of the `--output` option in the command ...

.. line 106 would change from, `return JSON.stringify(logStatement);` to `return JSON.stringify(logStatement, null, 2);`

Would this be a breaking change? As far as I am aware, the JSON returned would s

[2020-01-24 09:33] jhagstrom commented on #821
Exploring this further reveals that there is a significant overlap between o365group-set and teams-team-set commands. The second could really be an alias for the former since it also includes the logo/image setting). What is missing from a Microsoft Graph perspective are the Teams specific updates (memberSettings, messagingSettings and funSettings) https://docs.microsoft.com/en-us/graph/api/team-u

[2020-01-24 10:35] waldekmastykarz commented on #1324
If you had a tool in place that took CLI's output based on the assumption that the output is on a single line, while it would be no longer the case after this change, then it would be a breaking change.

[2020-01-24 10:37] waldekmastykarz commented on #261
It could be that the file doesn't exist and you need to create it yourself. See https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/about/about_profiles?view=powershell-7 for more info.

[2020-01-24 10:43] waldekmastykarz commented on #821
Comparing both commands, they have different options. If we made `team set` an alias of `o365group set`, would be able to retain all options from both commands? If not, then it would introduce a breaking change which I think we should avoid.

If we want to avoid duplicating the code then we could centralize the code responsible for updating the shared portion of teams and groups and reference it i

[2020-01-24 12:46] garrytrinder commented on #261
Thanks, I’ll take a look later this evening 👍🏻

[2020-01-24 15:11] garrytrinder commented on #1324
I see your point and agree, shall we leave this here and see if there is any interest in implementing this enhancement?

Thanks for the discussion 👍🏻

[2020-01-24 15:11] joelfmrodrigues opened #1327 "New command: project rename"
### Usage

`spfx project rename [options]`

### Description

Fully rename a SPFx solution/component by updating all references to the original name used when creating a solution.
This would be very handy as sometimes solutions evolve to be something that was not fully expected when they were created and names may no longer fully describe the solution purpose.
Having a command to "replace" all inst

[2020-01-24 18:01] waldekmastykarz commented on #1327
Thanks for the suggestion @joelfmrodrigues. Could you give us a few examples of what you'd expect just so that we properly understand what you'd like to see? 🙂

[2020-01-24 18:03] waldekmastykarz commented on #1324
As you've mentioned, it would be a very simple solution. If we agreed to expose it for now behind a separate flag that would be used in conjunction with `--output json`, then we could proceed with implementing it. When we start discussing features for the next major version, we could consider dropping the extra flag and use the prettified output as a default.

[2020-01-24 19:06] waldekmastykarz commented on #1317
After looking a bit more into this: `webPartData` is information about a web part placed on a page and contains some additional information that isn't a part of the web part manifest, like its width, height, etc. Would you like to retrieve this block for a web part that is placed on a page or would you rather have us generate it for any of the web parts available in your tenant? If the latter, we

[2020-01-24 19:09] waldekmastykarz opened #1328 "Bug report: Retrieving modern page from the root site fails with an error"
### Description

Retrieving modern page from the root site fails with an error

### Steps to reproduce

1. In the root site of your tenant create a modern page
1. Try to retrieve the page using `o365 spo page get -u https://contoso.sharepoint.com -n page1`

### Expected result

Information about the page

### Actual result

[code]

### Environment

macOS
zsh
CLI v2.6.0

[2020-01-25 18:21] waldekmastykarz opened #1329 "Enhancement: Expose completion-related commands as regular CLI commands"
We should expose completion-related commands as regular CLI commands so that it's easier for users to look them up and use them.

Currently we have a number of completion-related commands (see https://pnp.github.io/office365-cli/concepts/completion/ for more info). These commands are handled internally and other than through using the CLI docs, there is no way for users to find out that they're th

[2020-01-25 23:09] garrytrinder commented on #261
Working great @waldekmastykarz 👏🏻

![image](https://user-images.githubusercontent.com/11563347/73128414-f8e43000-3fc6-11ea-8964-e01afac815fd.png)

For completeness these were the steps taken to setup my `pwsh` profile

1. Enter `pwsh` in immersive mode
1. Execute script to create profile if it did not exist
[code]
1. Open profile file using `nano $PROFILE`
1. Add `Register-O365CLICompletion.ps1` f

[2020-01-26 10:29] waldekmastykarz commented on #261
Awesome! Thanks for checking it out. What would be a proper way to have users set it up? I had a look and it seems like the profile path is not exposed in node in any way. We could ask user to pass it as an argument, `o365 --completion:pwsh:setup --path $profile` and then ensure that the file exists and append the reference to our completion to it or we could leave it be for now and describe it in

[2020-01-26 12:38] garrytrinder commented on #261
No problem, happy to help 😊

Passing `$PROFILE` as a param would be a nice user experience, and we can explain why we need this in the docs.

I expect that this will be a feature that will get a lot of attention from users so making the process easy as possible, i.e. automating the manual steps described in the previous comment, will help its usage.

[2020-01-27 22:54] ypcode commented on #1145
Sure, but will probably not have enough time before mid-february at least, if still available I'll take it then ;)

[2020-01-27 22:59] ypcode commented on #12
I think the spec is quite clear, I will be able to take it after mid-february, but feel free to assign if someone is available for it before that :)

[2020-01-27 23:03] ypcode commented on #1311
Hi @waldekmastykarz , should it be a sample in the command docs or as a sample in the gallery?

[2020-01-28 07:47] garrytrinder commented on #1145
Thanks for the update @ypcode, I'll mark this available to pick up.

[2020-01-28 17:58] garrytrinder commented on #12
Thanks for the update @ypcode, I'll mark this as available to pick up.

[2020-01-29 14:21] garrytrinder commented on #1311
I think it would be a good idea to create this as a sample to go into the Examples (https://pnp.github.io/office365-cli/examples) section of the docs.

[2020-01-30 19:10] appieschot commented on #1040
Has been 10 days, but started :D #progress

[2020-01-30 22:46] appieschot commented on #1328
Issue occurs on other environments as well. The problem is on line 42 where the code states:
`args.options.webUrl.indexOf('/', 8)`. Doing that on the root URL returns a -1.

I suggest to create a reusable method to check return the relative URL and implement that in other methods as the getfilebyserverrelativeurl is used throughout the files actions (move, remove, checkout etc) and I assume that t

[2020-01-31 13:52] garrytrinder commented on #1328
Thanks for the investigation @appieschot, issue assigned 👍🏻

We (myself, @waldekmastykarz & @VelinGeorgiev) recently discussed that it would be a good idea to start adding tests that reproduce the bug as well as the code fixes. This way we can make sure that the bug is covered and it was also help increase the quality of our testing. Are you ok to look into providing that as well?

[2020-01-31 16:45] appieschot commented on #1328
Yes that does make sense. I will start with adding the test to the file methods to see if they all fail and implement a fix on the correct places.

[2020-01-31 19:12] VelinGeorgiev commented on #1328
Great stuff @appieschot !

[2020-02-01 17:23] garrytrinder commented on #1094
As we now have multiple Actions published to GitHub marketplace and issues/PRs will be handled within their respective repositories, I will close this issue as the work is now complete.

Thank you for your initial suggestion and your efforts @anoopt 👏🏻

[2020-02-01 17:23] #1094 closed

[2020-02-01 21:31] nigel-dewar commented on #1321
Thank you will do very soon. cheers

[2020-02-01 22:44] garrytrinder opened #1333 "Typo in Title field of New Command template"
Description is spelt incorrectly in the title field of the New Command template.

The current value is `New command: <short decription>`

[2020-02-01 23:10] garrytrinder commented on #12
Updated the OP with the new spec in the `new command` template format as well as the Issue title.

@waldekmastykarz the command spec proposed is now consistent with similar commands that implement paging already in the CLI such as `spo listitem list`. I like the idea of the `-all` option you have proposed however I think that we should consider that as an enhancement to the base command should the

[2020-02-01 23:47] garrytrinder opened #1335 "Enhancement: Extend `spo site list` to return deleted site collections"
Raised from #649

We currently do not support the returning of deleted site collections however this functionality is provided in the `Get-SPODeletedeSite` cmdlet in the SharePoint Online PowerShell module.

The `spo site list` command should be extended to include a new option called `--deleted` which returns a list of site collections that have been deleted on the tenant.

This enhancement to th

[2020-02-01 23:48] garrytrinder commented on #649
Closing this issue due to its inactivity and the change in direction during the discussion. A new issue to enhance the existing `spo site list` command has been created to replace this.

[2020-02-01 23:48] #649 closed

[2020-02-01 23:56] garrytrinder commented on #406
@waldekmastykarz @VelinGeorgiev

As this issue is coming up to nearly two years and there have been no videos created or added to the docs (assumed), should we consider closing this?

I'm not sure what extra value these videos would provide our users over the text examples that we already provide in the docs.

[2020-02-02 00:28] garrytrinder commented on #715
The original issue description for this command refers to requiring the ability to use the Azure Management Service, however the `ImportSolution` endpoint also referred to is exposed by the Power Automate Web API which uses the Common Data Service (CDS) to import Flows that are contained within a solution, into the CDS environment.

Using a solution and the PA Web API appears to be the preferred a

[2020-02-02 08:40] #1141 closed

[2020-02-02 08:45] VelinGeorgiev commented on #406
I am ok with that.

[2020-02-02 10:01] waldekmastykarz commented on #406
The idea was to present command in a richer way, but you're right. We haven't really get any traction on this. Let's close it.

[2020-02-02 10:01] #406 closed

[2020-02-02 10:04] waldekmastykarz commented on #715
The only challenge I see with using the CDS is that not everyone has it and that it might limit people from using our command. On the other hand, if this is the only way to import flows, then there is not much we can do about it.

[2020-02-02 10:07] waldekmastykarz commented on #12
You're right @garrytrinder

[2020-02-02 15:28] waldekmastykarz commented on #1272
Setting as available due to lack of response

[2020-02-02 15:29] waldekmastykarz commented on #1270
Hey @pschaeflein are you still working on this?

[2020-02-02 19:55] garrytrinder commented on #715
Agree with your comment on CDS.

For me it is clear that there are now two commands for importing a Flow.

 1 Import the Flow into an environment
 1 Import a Flow into a CDS solution

The latter would require additional effort as we would need to add consent for Power Automate Web API and also update our request module to handle the complexity of obtaining the correct baseUrl for requests to a CDS

[2020-02-02 21:27] garrytrinder commented on #674
Update OP to use the new command template format

[2020-02-02 22:23] garrytrinder commented on #775
Updated OP to use new command template

[2020-02-02 23:29] garrytrinder commented on #783
Updated OP to use new command template

[2020-02-02 23:44] garrytrinder commented on #821
Updated OP to use new command template

[2020-02-03 00:32] garrytrinder commented on #850
Updated OP to use new command template and updated the spec following discussions.

The spec now incorporates the setting of additional configuration settings (highlighted by @vman) through options like we have implemented for `spo listitem add` (highlighted by @waldekmastykarz) to keep some consistency between commands and provide a nice API for the end users which is more familiar.

The four con

[2020-02-03 00:39] garrytrinder commented on #871
Updated OP to use new command template

[2020-02-03 16:19] pschaeflein commented on #1270
Yes, I have some code written. I will get a PR ready this week.  Thanks for the nudge.

[2020-02-03 18:28] waldekmastykarz commented on #1270
Awesome! Looking forward to it 👍

[2020-02-03 18:33] waldekmastykarz commented on #715
Based on the differences, should there be two distinct command for it given the outcome of the import is not quite the same?

[2020-02-03 18:49] garrytrinder commented on #715
Yes, I believe so.

I think we should update this issue to refer to the importing of a Flow to a target environment using the Azure Management Service API and raise a new issue for the importing of a flow into a CDS solution.

[2020-02-03 18:50] waldekmastykarz opened #1336 "Enhancement: Move the consent command to the cli namespace"
As we've introduced the `cli` namespace for CLI-related commands (#1330), for consistency, we should move the `consent` command to the `cli` namespace. To maintain backwards compatibility, we should keep the current `consent` name as an alias with a deprecation warning and remove it in the next major version of the CLI.

[2020-02-03 18:52] waldekmastykarz opened #1337 "Change the `--reconsent` option to a command"
Currently, the CLI uses an internal `--reconsent` option to display consent information. This option should be moved to a separate command in the `cli` namespace so that it's discoverable for users and can provide them with additional usage information. The existing `--reconsent` option should be kept for now to maintain backwards compatibility and should be removed in the next major version.

[2020-02-03 18:55] waldekmastykarz opened #1338 "Remove deprecated aliases"
- [x] `--reconsent`
- [x] `--completion:clink:generate`
- [x] `--completion:sh:generate`
- [x] `--completion:sh:setup`
- [x] `consent`

Related #1336, #1337

[2020-02-03 18:57] waldekmastykarz opened #1339 "Prettify JSON output by default"
Remove the extra flag to pretify the JSON output and pretify it by default.

Related #1324

[2020-02-03 22:38] garrytrinder commented on #1291
Following on from @waldekmastykarz previous comment.

We feel that it is more likely that the users of the CLI would build a script that uses existing commands to perform the necessary actions that the proposed command behaviour suggests.

With this in mind, the proposed command is not something that we would accept into the CLI at this time,  therefore we will close this issue.

We would like to

[2020-02-03 22:38] #1291 closed

[2020-02-03 22:43] garrytrinder commented on #1305
Following on from #1291 which this issue was raised from.

We feel that it is more likely that the users of the CLI would build a script that uses existing commands to perform the necessary actions that the proposed command behaviour suggests.

With this in mind, the proposed command is not something that we would accept into the CLI at this time, therefore we will close this issue.

We would like

[2020-02-03 22:43] #1305 closed

[2020-02-03 23:17] russgove commented on #1203
anyone working on this.?

[2020-02-03 23:20] russgove commented on #1203
also The spo listitem update command should also allow users to update multiple SharePoint List Items without having to execute the same command multiple times.

[2020-02-03 23:31] russgove commented on #1203
And perhaps rather than just a csv as input, we could let it take it’s inputs from another list?

[2020-02-03 23:40] garrytrinder commented on #1324
`--pretty` flag implemented in https://github.com/garrytrinder/office365-cli/tree/prettify-json

@waldekmastykarz I expect that this new flag will need to be added to every command in the docs, is there an easy way to do this?

[2020-02-04 03:11] sprider opened #1342 "New sample: Scan Office 365 Groups created with User's First or Last Name"
@garrytrinder, Can we use this usecase in our sample codes? Please let me know if we need to make any changes.

Docs |  
-- | --
Author | Joseph Velliah
Original Post | https://sprider.blog/2020/02/03/governance-scan-office-365-groups-created-with-user-first-or-last-name-using-office-365-cli-commands/
Description | We can use the group naming policy to enforce a consistent naming strategy for grou

[2020-02-04 08:42] garrytrinder commented on #1342
Absolutely, great suggestion 👍🏻

[2020-02-04 09:34] harp365 opened #1343 "Bug report: teams team list timing out"
### Description

I have logged in using device code, which seemed to get accepted fine and I then wanted to list all MS Teams within a tenant using teams team list, but it just times out. I appreciate this could be me specifically but just in case.

### Steps to reproduce

teams team list

### Expected result

See a list of all Teams within a tenant

### Actual result

o365$ teams team list
Error:

[2020-02-04 10:04] VelinGeorgiev commented on #1343
Hi @harp365 , we can further investigate, but Microsoft Teams had issues yesterday with their certificate causing the services to stop working. This could be the cause of your issue.

More info here:

https://twitter.com/MSFT365Status/status/1224351597624537088

https://www.theverge.com/2020/2/3/21120248/microsoft-teams-down-outage-certificate-issue-status

[2020-02-04 12:20] VelinGeorgiev opened #1344 "Enhancement: Improve the `o365group reports` documentation"
## Description

This issue is created as followup from the discussion here: https://github.com/pnp/office365-cli/pull/1264#issuecomment-568522997.

- 1 The `--outputFile` value in the `o365 group report` commands to be unified and using relative file path like `--outputFile fileName.txt`, not `--outputFile ./fileName.txt`, nor `--outputFile C:/fileName.txt`.
- 2 The o365 group reports documentatio

[2020-02-04 14:53] garrytrinder commented on #1203
Hey @russgove 👋🏻

No one is working on this at the moment, would you like to take it?

This is something that we can consider, however this issue is to provide a way of bulk creating items in the first instance. Once we have validated an approach for creation we can certainly look to enhance the functionality to provide a similar update command.

We can certainly do this, however let's keep it sim

[2020-02-04 15:46] sprider commented on #1342
@garrytrinder Sure, please assign to me. Do you need any changes in the sample code? If not, I will convert the powershell to bash and create a pull request.

[2020-02-04 15:56] russgove commented on #1203
Yes , I can take it. I  have most of the required code from that other command i proposed.

[2020-02-04 16:04] garrytrinder commented on #1342
Great, all yours 👍🏻

The script looks fine to me, however if any changes are required let’s pick that up in the PR review.

[2020-02-04 16:11] garrytrinder commented on #1203
Great 😀

All yours @russgove 👍🏻

[2020-02-04 23:11] russgove commented on #1203
@garrytrinder  So what you call spo listitem batch add  is remarkably similar to what I call[ed] spo field copy!

We're both talking about bulk updates to sharepoint list items.

You want to read from a CSV, I want to read from sharepoint.
You want to add new items , I want to update existing items.

The hard parts of both our needs are the same -- the data type conversion, the batching, the mappi

[2020-02-05 00:49] russgove commented on #1203
does anyone have any preferences as to which csv parser should be used?

[2020-02-05 02:39] sprider commented on #1342
Thank you @garrytrinder.
Quick question: Are you able to see the selected properties for the below command? Looks like it is not working.

o365 aad user list --properties displayName,givenName,surname

Please confirm...

[2020-02-05 08:46] garrytrinder commented on #1342
Seems to be working for me @sprider using CLI v2.6.0 in zsh and MacOS Catalina against a tenant with approximately 200 users.

![image](https://user-images.githubusercontent.com/11563347/73825255-8e679700-47f3-11ea-9ed6-579d64788926.png)

[2020-02-05 09:31] garrytrinder commented on #1203
I'm not sure I agree with the data conversion part, the issue does not propose to implement any conversion of data types but to simplify the creation of list items in bulk.

Just to clarify what is being proposed, currently to create multiple items using the CLI the user would need to create a line for each item they wish to create. This could become a burden to maintain if creating 100s of items

[2020-02-05 09:48] mac-windle opened #1345 "New command: Start a meeting in a team"
### Usage

meeting-new -t [team] -m [time]

### Description

My use case is this:
To be able to schedule a meeting in a team at the beginning of the day. This will enable the meeting to act as a 'virtual office' which your team can jump in and out of (gamers, think of a voice channel in a Discord server). This will allow you or anyone in the team to be able to sit in the 'virtual office' passively

[2020-02-05 13:15] sprider commented on #1342
@garrytrinder
It works in command prompt but not within powershell ISE. Could you please double confirm?
<img width="1449" alt="Screen Shot 2020-02-05 at 7 08 35 AM" src="https://user-images.githubusercontent.com/21008316/73844628-8d7c3880-47e6-11ea-81af-7c676a0b626b.png">

[2020-02-05 15:24] garrytrinder commented on #1342
Tested on Windows 10 PowerShell and got the same error, but works as you say in command prompt... very odd...

![image](https://user-images.githubusercontent.com/11563347/73855109-81669a00-482b-11ea-9b12-ecb6927e9a6b.png)

[2020-02-05 16:22] sprider commented on #1342
@garrytrinder Thank you for the confirmation. Should I wait until this issue is fixed?

FYI - @waldekmastykarz  @VelinGeorgiev

[2020-02-05 17:46] garrytrinder commented on #1342
Let's get a bug report raised and investigate, I also tested using PowerShell Core on Windows and I get the same error.

If it's a quick fix we might be able to get it into the next beta release.

I think it would be a good idea to place this on hold for now as this is a real blocker not being able to use PowerShell for scripting.

[2020-02-05 18:02] waldekmastykarz commented on #715
Agreed @garrytrinder

[2020-02-05 18:04] waldekmastykarz commented on #1324
regex and VSCode 😊 I went through the same recently when introducing the `query` option for JMESPath

[2020-02-05 18:05] waldekmastykarz commented on #1343
@harp365, could you please confirm that you still see this issue in your tenant?

[2020-02-05 18:09] waldekmastykarz commented on #1203
@garrytrinder agreed with the design you proposed. Let's keep it simple to start with and we can always extend it later if there is any interest.

[2020-02-05 18:11] waldekmastykarz commented on #1345
@mac-windle interesting suggestion! Do you know if there is an API for it?

Regarding the command design, I'd say that the team is required. Would we also need the channel in which the meeting should be started. We could keep the time optional and if not specified we'd start the meeting right now. What do you think?

[2020-02-05 18:14] waldekmastykarz commented on #1342
What could help is to execute the command with `--debug`. The error message seems to be coming from the server so perhaps PowerShell is doing something special about the request.

[2020-02-05 18:30] harp365 commented on #1343
Hi @waldekmastykarz, it seems that the plot thickens. So it is now failing because it is unhappy with one of the groups/teams it would ultimately list.

PS C:\Users\HenryPhillips> o365 teams team list
Error: No team found with Group Id b543a419-4f2d-4dfb-9efd-2b2e062281cc

So I found the group in question based on the id and it shows in the following state (hoping the image comes through OK)

![im

[2020-02-05 19:44] russgove commented on #1203
OK, I was thinking that we would 'convert' that data on the csv to a form that was acceptable to sharepoint. We would put john.doe@contoso.com in the  csv and  the command would convert it to the format needed for SP. Same idea for other column types.

I'll skip all that stuff an make it just duplicate what listitem add does.

[2020-02-05 20:16] garrytrinder opened #1346 "Bug report: Executing 'aad user list' with properties on Windows in PowerShell throws an error"
Raised from #1342

### Description

Executing 'aad user list' with properties on Windows in PowerShell throws an error, error is not thrown when executing from command prompt on Windows or from Zsh on Mac OS Catalina.

### Steps to reproduce

Execute `o365 aad user list --properties displayName,givenName,surname` in a PowerShell (Core or Standard) terminal window

### Expected result

Users are re

[2020-02-05 23:32] garrytrinder commented on #1346
So this appears to only be an issue when using more than one property

✅`o365 aad user list --properties displayName -o json`
❌`o365 aad user list --properties displayName,givenName -o json` => `Error: Parsing Select and Expand failed.`

[2020-02-05 23:41] garrytrinder commented on #1346
Looks like this is an encoding issue, if we take the last three debug lines before the error is thrown

[code]

All the properties in the URL are separated by `%20` which represents a space, but this should be `%2c` which represents a comma.

[2020-02-05 23:54] garrytrinder commented on #1346
Ok, so its not quite an encoding issue, the initial request for some reason has spaces in the URL between the properties instead of commas, this is why we are seeing `%20` in later request logs.

[code]

[2020-02-06 00:34] garrytrinder commented on #1346
So this is not a bug, the behaviour is caused by the way that PowerShell handles commas passed as arguments in the command line, wrapping the `--properties` value in quotes solves the issue.

✅`o365 aad user list --properties 'displayName,givenName' -o json`

[2020-02-06 00:34] #1346 closed

[2020-02-06 00:38] garrytrinder commented on #1342
@sprider the issue you discovered is not a bug in the CLI but is down to the way PowerShell handles commas in the command line, wrapping the `--properties` value in quotes solves the issue.

✅`o365 aad user list --properties 'displayName,givenName' -o json`

You should now be unblocked 😊

[2020-02-06 00:42] garrytrinder commented on #1342
I've noticed that in our docs we show the example usage of `aad user list --properties` without quotes e.g. `aad user list --properties displayName,mail` so we should really update these.

[2020-02-06 00:43] sprider commented on #1342
Good catch @garrytrinder! I will resume my work on this.

We may need to fix the documentation for the same

https://pnp.github.io/office365-cli/cmd/aad/user/user-list/

[2020-02-06 00:43] sprider commented on #1342
We have to check the same test case for other commands as well.

[2020-02-06 00:58] garrytrinder opened #1347 "Documentation: Update examples that use comma separated values as command options"
Raised from #1346 & #1342

Currently all commands that accept comma-separated lists as option values do not wrap their values in quotes, for example, `aad user list --properties displayName,mail`.

Executing the example in PowerShell will fail due to the way that it handles commas passed as arguments. (https://stackoverflow.com/questions/11990688/powershell-is-removing-comma-from-program-argument)

[2020-02-06 05:33] sprider commented on #1342
@garrytrinder I have completed the powershell script. Could you please help me convert the following powershell statement in bash as I am not familiar with bash?

` $groupsMatch = $groups | Where-Object { $_.mail -like "*$userGivenName*" -or $_.mail -like "*$userSurname*" } `

[2020-02-07 08:35] mac-windle commented on #1345
I know the Graph API can be used but I have not yet used it in practise for Teams meetings or calls.
https://docs.microsoft.com/en-us/graph/api/resources/teams-api-overview?view=graph-rest-1.0

I absolutely agree with your comments about the required and optional parameters.
Good call with the meeting start time

[2020-02-07 14:14] joelfmrodrigues commented on #1327
Sorry for the delay in getting back to this thread, and sorry if this will be non sense :) It came out as I got frustrated updating a solution that was created with a name that was no longer appropriate as the solution evolved dramatically into a different direction :) Updating all the references manually to tidy up things is a very boring task :)

I'm thinking on two different commands:

Update a

[2020-02-07 17:08] joakimhogberg commented on #1335
Feel free to assign med @garrytrinder !

[2020-02-07 17:38] garrytrinder commented on #1335
Sure, all yours @joakimhogberg 👍🏻

[2020-02-08 16:46] waldekmastykarz commented on #1343
Thanks for the additional information @harp365. At the end of the day, we depend on the Office 365 API to provide us with the data and if these calls expire, there is little we can do about it. If this is an exception case that we can't reproduce elsewhere, then I'd suggest we treat it as an exception.

[2020-02-08 16:46] #1343 closed

[2020-02-08 16:53] waldekmastykarz commented on #1327
Thanks for the clarification @joelfmrodrigues, it makes indeed sense to create two commands to keep things simple. I'll create specs for both of them and we can take it from there. Would you like to help building one of them?

[2020-02-08 16:55] waldekmastykarz opened #1349 "New command: rename SharePoint Framework project"
### Usage

`spfx project rename [options]`

### Description

Renames SharePoint Framework project

### Options

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `-n, --newName <newName>` | New name for the project                |
| `--generateNewId` 			| Generate a new solution id for the project	  |

[2020-02-08 16:59] waldekmastykarz opened #1350 "New command: rename SharePoint Framework component"
### Usage

`spfx component rename [options]`

### Description

Renames the particular SharePoint Framework component

### Options

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `--oldName <oldName>` | Name of the component to rename
| `--newName <newName>` | New name for the component
| `-o, --outpu

[2020-02-08 16:59] waldekmastykarz commented on #1327
Closing this issue in favor of two new issues with specs for the new commands.

[2020-02-08 16:59] #1327 closed

[2020-02-08 17:59] appieschot commented on #1347
Feel free to assign to me

[2020-02-08 18:05] garrytrinder commented on #1347
Thanks @appieschot its all yours!

[2020-02-08 19:49] joelfmrodrigues commented on #1327
For sure as I would like to check how the project is setup and give it a go (it has a great reputation 😁), but I anticipate I may only have time after the end of the month. I still have to add two reusable controls to the PnP repository and that will likely take all my spare time.
If no one else does it before the end of the month, then I will give it a try 👍

[2020-02-09 13:52] #261 closed

[2020-02-09 13:52] #15 closed

[2020-02-09 13:53] #1101 closed

[2020-02-09 13:54] #1285 closed

[2020-02-09 13:54] #1344 closed

[2020-02-09 13:55] #1042 closed

[2020-02-09 18:03] waldekmastykarz commented on #1327
Awesome! Thanks again for the idea and the transparency about your availability 👏

[2020-02-10 10:35] rabwill opened #1352 "Bug report: Failing tests"
### Description

Two tests are failing for PA
1) TemplateInstantiator
       creates structure for shared files at (74)
o365/pa/template-instantiator.spec.js:
2) TemplateInstantiator
       creates structure for shared files (verbose) at (81)
o365/pa/template-instantiator.spec.js:

### Steps to reproduce

- I have pulled the latest upstream and using node version 12.14.1 (to create a new branch, n

[2020-02-10 10:37] rabwill commented on #1352
@garrytrinder Not sure what I am doing wrong may be a little help here to understand why tests are failing on a fresh new branch pulled from upstream?

[2020-02-10 13:27] garrytrinder commented on #1352
Hey @rabwill 👋🏻

I've just updated my fork following the latest release this weekend and i'm not getting any failing tests on MacOS Mojave v10.15.2 on Node v12.12.0.

![image](https://user-images.githubusercontent.com/11563347/74153608-ebef4f80-4c08-11ea-84a7-80758b771b7d.png)

Could you share the error messages you get for the failing tests?

[2020-02-10 18:07] waldekmastykarz commented on #1352
@rabwill before running tests, have you done `npm run build` or `npm run watch`?

[2020-02-10 18:19] waldekmastykarz commented on #1323
Closing due to lack of response

[2020-02-10 18:19] #1323 closed

[2020-02-10 18:21] waldekmastykarz commented on #1317
Closing due to lack of response

[2020-02-10 18:21] #1317 closed

[2020-02-10 18:22] waldekmastykarz commented on #1188
@plamber is this still an issue?

[2020-02-10 20:29] rabwill commented on #1352
Hey guys, yes I ran an npm clean and build before running the test. Hmm strange may be I will run an npm clean cache may be and change the node version to Garry’s and try again tonight. Thank you !

[2020-02-11 05:13] plamber commented on #1188
@waldekmastykarz: workd meanwhile

[2020-02-11 05:13] #1188 closed

[2020-02-11 11:59] waldekmastykarz opened #1353 "New command: verify environment configuration for using the given version of SharePoint Framework"
### Usage

`spfx doctor [options]`

### Description

Verifies environment configuration for using the specific version of the SharePoint Framework

### Options

_Doesn't introduce additional options_

### Additional Information

The command is an equivalent of the `yo doctor` command provided with Yeoman. Its purpose is to help developers to verify that their machine is correctly configured for us

[2020-02-12 06:05] pschaeflein commented on #1314
To use Managed Identity in the Azure CLI on a VM, the login command has an option:

[code]
I would expect the O365 CLI to use a similar pattern on the login command. I would suggest a new `AuthType` option:

[code]

It is the responsibility of the user to
a) configure managed identity for the host and
b) ensure the Managed Identity AuthType is specified only when executing on a host that supports

[2020-02-12 08:36] waldekmastykarz commented on #1314
Thank you for the pointers @pschaeflein, they're very helpful 👍

[2020-02-12 08:58] garrytrinder commented on #1314
Thank you for sharing @pschaeflein 👏🏻

I've been looking into using Managed Identities in Azure Functions recently as well, the implementation is actually very simple to obtain a token, the below example would be used for obtaining a token using a System-Assigned Identity, for a User-assigned Identity we would pass the Client Id as an additional query-string parameter.

[code]

a) configure manage

[2020-02-12 09:08] garrytrinder commented on #1314
We should also consider whether there are commands that are missing the CLI that would also be useful to aid the use of managed identities.

For example, to assign permissions to the Managed Identity Service Principal i.e. grant the SP the `Sites.Read.All` scope on SharePoint Online, you currently need to use a PowerShell command `New-AzureADServiceAppRoleAssignment`.

[code]

I couldn't find an A

[2020-02-12 14:17] pschaeflein commented on #1314
AZ CLI for Identity:  https://docs.microsoft.com/en-us/cli/azure/identity

[2020-02-13 09:46] StfBauer commented on #1353
Cool!!! I will hijack this in the possible pnp/spfx generator cli 😜

[2020-02-14 02:14] sprider commented on #1342
@garrytrinder Any updates on this?

[2020-02-14 12:42] garrytrinder commented on #1342
Apologies @sprider I've been rather busy this week and not had chance to look into this for you.

Have you taken a look at the `jq` guide? https://stedolan.github.io/jq/manual/#Basicfilters

[2020-02-15 13:49] waldekmastykarz commented on #1352
Hey @rabwill, is this still an issue?

[2020-02-16 00:40] rabwill commented on #1352
Hey @waldekmastykarz  you can close this. I found the issue to be from my end, I did not rebase my dev with upstream but only pulled it.
I found a file in pa folder not part of the upstream dev and knew this was the issue.
Please close this :)

[2020-02-16 06:27] codifyer opened #1358 "File does not exist error when filename contains # character"
### Description
I'm trying to move some files and delete some other files in sharepoint online site collection using cli. Where ever the filename contains # character I get an error that file does not exist.
It works fine for filenames that don't have # in them.

### Steps to reproduce
1. Upload a file with # in its name for e.g "test # document.docx"
2. check for the file using `spo file get [opt

[2020-02-16 08:03] #1352 closed

[2020-02-16 11:27] garrytrinder commented on #1358
Thank you for reporting this @codifyer 👍🏻

We are sorry for the trouble, we will look into this ASAP.

[2020-02-16 16:13] waldekmastykarz commented on #1353
Here is what I have so far:

<img width="581" alt="Screenshot 2020-02-16 at 17 03 42" src="https://user-images.githubusercontent.com/11164679/74608120-c36ec600-50de-11ea-8e9b-aef34c88ce5f.png">

Originally I'd check for the correct version of yo and gulp but after talking to @StfBauer we came to the conclusion that it doesn't really matter which version you use as long as you have them both instal

[2020-02-16 16:16] #1125 closed

[2020-02-16 16:17] #1052 closed

[2020-02-16 16:17] #1333 closed

[2020-02-16 16:19] #1324 closed

[2020-02-16 18:25] waldekmastykarz commented on #1352
Thank you for confirming and good to hear you're not blocked by it 👍

[2020-02-16 18:58] waldekmastykarz commented on #1358
Hi @codifyer, thanks for reporting the bug. I was able to reproduce it and submitted a fix which should be included in the next preview version. Once again sorry for the trouble and appreciate your help 👏

[2020-02-16 20:07] codifyer commented on #1358
Thanks @waldekmastykarz. Looking forward to the next release with the fix.
On a side note, I'm really liking using office365-cli. Fantastic tool, especially for automation. Keep up the good work. 👏

[2020-02-17 02:46] PopWarner commented on #1353
This is....AWESOME!!!!

**Couple questions:**
1. You mentioned that it first detects the version of SPFx, so is it safe to assume that is the highest checkpoint in the hierarchy? Then you check to see if the current version of Node matches the installed version of SPFx. When you say "current version of node", does this mean the current version of node "installed" or current version of Node "availa

[2020-02-17 11:14] andrewconnell commented on #1353
First... great idea and well done. Especially like you're not reinventing the wheel (_using `yo doctor` as your motivation_). 👏👏🤘🤘

What about the case for SP2016 developers [who need to use Node v8](https://docs.microsoft.com/en-us/sharepoint/dev/spfx/set-up-your-development-environment#spfx--sharepoint-server-2016)? If you have Node v8 installed, does it flag that as a good / bad? Any considerat

[2020-02-17 13:34] garrytrinder commented on #1321
Hi @nigel-dewar is this still an issue?

[2020-02-18 04:55] sprider commented on #1342
@garrytrinder I tried with argument option but its not working. Could you please review this sample code with test data?

[code]

[2020-02-18 07:38] appieschot commented on #1347
@garrytrinder there are a few that could have a , but in the current samples do not have that provided by default, or already have the " around them. For instance:
`aad/siteclassification/siteclassification-enable` already has quotes, and `spo/mail/mail-send` uses single quotes. Quick two questions:
- Will single quotes be sufficient as well or do you expect changes there?
- In commands where curr

[2020-02-18 09:00] waldekmastykarz commented on #1358
Thank you! Appreciate the kind words 😊

[2020-02-18 10:10] michaelmaillot opened #1362 "New command: Restore deleted Site Collection from Site Collection Recycle Bin"
### Usage

```spo tenant recyclebinitem restore [options]```

### Description

Restores a deleted Site Collection from Site Collection Recycle Bin.

### Options

Option|Description
------|-----------
`-u, --url <url>`|URL of the Site Collection to restore
`--wait`|Wait for the Site Collection to be restored before completing the command

### Additional Information

this command will perform the sa

[2020-02-18 10:14] michaelmaillot commented on #1145
Hi,

Actually, there's endpoint for this 🙂 :

**_api/Microsoft.Online.SharePoint.TenantAdministration.Tenant/RemoveDeletedSite**

I tried it and it works.

If it's ok for you @ypcode, I could take it as my first contribution to the CLI. Otherwise, I can also take the one I just submit [here](https://github.com/pnp/office365-cli/issues/1362) if validated as such.

[2020-02-18 18:31] waldekmastykarz commented on #1353
Thanks for your feedback gents!

@PopWarner:

currently the command checks the version of Node that is currently installed on your machine and registered with the `node` executable. If you use something like `nvm`, it will pick up the currently active version. If you run it in a docker container, it will pick up the version in the container etc.

SPFx v1.10 runs on Node v10.x so whether you have 1

[2020-02-18 18:37] andrewconnell commented on #1353
@waldekmastykarz  said:

I don't think that's the correct order. The guidance is to always install the latest version of the generator, regardless of what you're targetting. I'd make the current project's local version of **@microsoft/sp-core-library** the first option.

Otherwise, if someone has v1.10 installed, but they are working on SP2016 projects, the command will never give them the proper

[2020-02-18 18:37] waldekmastykarz commented on #1362
Very nice suggestion @michaelmaillot. Would you like to give it a try and build this command?

[2020-02-18 18:38] waldekmastykarz commented on #1145
This issue is available, so we'd appreciate your help @michaelmaillot 👏

[2020-02-18 18:41] waldekmastykarz commented on #1353
You're right. Thanks!

[2020-02-18 19:33] PopWarner commented on #1353
@waldekmastykarz said:

Awesome....I agree! 🧡💜

This makes sense and you are spot-on for what I was thinking. Allowing for **any** supported version of Node based on the determined version of SPFx makes sense.

I dig the **spfx project doctor**. To me, it combines the best of both. Since **spfx project upgrade** is already familiar to CLI users, you get that benefit and because **doctor** is also

[2020-02-18 20:39] michaelmaillot commented on #1362
Yes, with pleasure! 😁

Thx

Le mar. 18 févr. 2020 à 19:37, Waldek Mastykarz <notifications@github.com>
a écrit :

[2020-02-18 21:49] michaelmaillot commented on #1145
Why not, I'll take it if it's still available when I'm done with the [Restore](https://github.com/pnp/office365-cli/issues/1362) one

[2020-02-19 07:59] garrytrinder commented on #1145
All yours @michaelmaillot thanks for the help 👍🏻

[2020-02-19 18:12] waldekmastykarz commented on #1362
All yours @michaelmaillot 👏

[2020-02-19 19:43] waldekmastykarz commented on #1353
@andrewconnell looking back at what you've said, I've added a SharePoint version compatibility check so now you can also specify for which SharePoint version you want to be building and doctor will tell you if the current version is supported or not:

<img width="584" alt="image" src="https://user-images.githubusercontent.com/11164679/74869441-3e8ee100-5358-11ea-9e29-49adc057e3de.png">

<img width

[2020-02-19 20:17] andrewconnell commented on #1353
Maybe too nit-picky, but why not `--spo` | `--sp2016` | `--sp2019`?

IMHO, `--sp` by itself is feels weird... why not just make it a flag?

If not, then I'd prefer `--env spo` | `--env sp2016` | `--env sp2019`

[2020-02-19 20:41] waldekmastykarz commented on #1353
Flag to me indicates that you could use multiple which I don't think is the case here. We could absolutely use `env` instead of `sp` if that's clearer 👍

[2020-02-19 22:46] andrewconnell commented on #1353
Makes sense. Oh... one more nit-picky thing - change the description text from red to something other than red/yellow. Those to me mean bad stuff.

[2020-02-20 09:00] michaelmaillot commented on #1362
Great, can you assign it to me ? Thank you.

As I started to work on it, I wanted to use the REST API method which is available and works. But I faced a question about the "retry" process. So I've posted my question [here](https://github.com/SharePoint/sp-dev-docs/issues/5368).

Or course, if anyone have an answer, feel free to share it in the mentioned post 🙂.

In the meantime, maybe I should tes

[2020-02-20 15:45] waldekmastykarz commented on #1362
Typically, we add everyone as contributor to the project after their first PR. So while the issue isn't assigned to you on GitHub, it's all yours and it's set as in progress so no one else will be working on it 👍

[2020-02-20 16:45] VelinGeorgiev commented on #1270
@pschaeflein I did initial test of the command and it worked like a charm for multi-tenant applications and did not return any output for apps that are not set as multi-tenant. Just to double check, is that the desired output?

[2020-02-20 16:47] waldekmastykarz opened #1363 "Remove the deprecated request package"
Since the request package has been deprecated, we should refactor the code to either use an alternative or standard Node.js functionality. The latter would be preferable to avoid unnecessary dependencies, but we need to verify if the effort to use the standard capabilities, which are often more verbose, outweigh the cost of an extra dependency.

Things to verify during the refactoring:

- [x] GET

[2020-02-20 19:34] pschaeflein commented on #1270
App roles are "Application" permissions (as opposed to "Delegated", which would be the OAuth2Grant list). Does your single-tenant app have Application permissions consented?

[2020-02-20 20:53] VelinGeorgiev commented on #1270
@pschaeflein, this is my bad. It looks like when I consent permissions I have to wait at least 5 mins before doing any testing :)

[2020-02-21 02:48] rabwill commented on #1221
Yes , I faced this issue while upgrading a project from 1.8.1 to 1.10.0 for `@microsoft/sp-page-context` and build errors in the solution for PageContext. Was resolved by manually updating the package

[2020-02-21 18:03] garrytrinder commented on #1347
I would say lets go with double quotes `"` rather than single for consistency, as you are more likely to use a single quote in a string i.e. `"O'Neill"` so causes less issues

That would be great if you could as it would increase the quality of the examples 👍🏻

[2020-02-22 14:27] waldekmastykarz commented on #1363
Having researched the problem, we won't be implementing any changes at this point as _request_ in its current form works just fine for us. So unless it's removed from npm or its dependencies will get stale/unsafe, we'll keep using it for the time being.

[2020-02-23 00:36] ypcode commented on #1145
Glad to see you involved as well with the CLI @michaelmaillot  !
The number of contributors is really booming now @waldekmastykarz that is awesome ! I'd definitely want to be able and have enough time to do more !

[2020-02-23 09:20] #1144 closed

[2020-02-23 09:22] #1328 closed

[2020-02-23 09:24] #1270 closed

[2020-02-23 09:25] #1335 closed

[2020-02-23 09:25] #1329 closed

[2020-02-23 09:26] #1298 closed

[2020-02-23 09:27] #850 closed

[2020-02-23 09:28] waldekmastykarz commented on #1358
We have just released a new preview version with the fix. You can install it using `npm i -g @pnp/office365-cli@next`. Once again thank you for reporting the issue 👏

[2020-02-23 09:28] #1358 closed

[2020-02-23 15:43] waldekmastykarz opened #1368 "Rename `accesstoken get` to `util accesstoken get`"
We should rename the `accesstoken get` to `util accesstoken get` for the command to be consistent with all other commands in the CLI.

Rationale:

At this moment, commands in the CLI are organized in such a way, that the first word depicts the name of the service on which the command operates, eg. `aad`, `flow`, `outlook`, etc. This naming convention is used for clarity but also implicitly for laz

[2020-02-23 15:44] waldekmastykarz opened #1369 "Add `util accesstoken get` alias to `accesstoken get`"
Related to #1368: we should rename the `accesstoken get` command to `util accesstoken get` and for the time being introduce `accesstoken get` alias to avoid breaking changes in v2.

[2020-02-23 16:28] garrytrinder opened #1371 "Enhancement: Add global short option for displaying command usage information"
Currently we have the global option `--help` available for users to use to display the interactive help for any command, however it would be beneficial to also provide a short option, `-h` for users to use.

Implementing the short option would provide the same implementation which is found in the Azure CLI where both the short and long options are provided, delivering a more consistent experience

[2020-02-23 18:52] #1369 closed

[2020-02-23 22:02] baywet commented on #1192
@waldekmastykarz thanks for the patience on the delay.
So I took the time to merge the code with the changes you made a while ago to remove async/await usage.
I also implemented the logic to take advantage of the exports your API is returning when possible.
I'm trying to fix unit tests and I'm running into a weird issue:
For the test that's currently failing ('doesn\'t return anything if module ty

[2020-02-25 10:33] garrytrinder opened #1374 "Enhancement: Pull Request template"
When raising a new PR we should provide guidance within the pull request to help guide contributors to verify that their PR meets our standards as well as providing links to resources.

We currently have this detailed in the wiki, but is easily missed.

[2020-02-25 19:05] waldekmastykarz commented on #1374
This will be a great improvement. I'd also like the PR body to include the issue number so that it's easy to verify the contents of the PR against the spec.

[2020-02-25 22:06] garrytrinder commented on #1321
Hi @nigel-dewar are you still having issues with this?

[2020-02-25 22:53] garrytrinder opened #1375 "Bug report: Failing test on Windows"
### Description

_spfx project externalize: covers all text report branches test fails_ on Windows, does not fail on Mac OS

### Steps to reproduce

Follow path to awesome and run `npm test`

### Expected result

All tests pass

### Actual result

[code]

### Environment

Windows 10, PowerShell, 2.7.0, Node v12.10.0

[2020-02-26 17:53] garrytrinder commented on #1374
Good suggestion @waldekmastykarz we should definitely put a place holder for linking the PR to an issue in line with the guidance from GitHub.

https://help.github.com/en/github/managing-your-work-on-github/linking-a-pull-request-to-an-issue#linking-a-pull-request-to-an-issue-using-a-keyword

[2020-02-27 20:36] deanbot opened #1376 "Bug report: skipFeatureDeployment flag deploys features"
### Description

Greetings, I'm confused about the `--skipFeatureDeployment` flag (see https://github.com/pnp/office365-cli/issues/134).

The flag seems to do the opposite of what it's supposed to do, assuming that 'features being deployed' means features describing list items in Tenant Wide Extensions are processed.

Assuming the app includes an extension which contains features i.e. in ClientSid

[2020-02-27 21:39] deanbot opened #1377 "Question: customaction add for tenant-wide extensions"
The first example in the [docs for customaction add](https://pnp.github.io/office365-cli/cmd/spo/customaction/customaction-add/#examples) reference a Tenant-Wide extension in a way that leaves specifics open to interpretation.

Edit: added example code for reference:

[code]

Is this example adding an item to the Tenant Wide Extensions list on an app catalog as identified by t? In my testing this

[2020-02-28 15:12] waldekmastykarz opened #1378 "Enhancement: get ID of the current tenant"
Using the `tenant id get` command you can get the ID of the tenant with the specified domain name. We should consider specifying the domain name optional and in case it hasn't been specified, get the ID of the tenant to which the user is currently signed in.

[2020-02-28 15:16] waldekmastykarz commented on #1376
Just to understand: do you mean that the description of the option doesn't match its function or does the option functions differently than you'd expect? If the latter is the case, then it would be something more suited for the [sp-dev-docs issues list](https://github.com/sharepoint/sp-dev-docs/issues) as the CLI uses the standard SharePoint API.

[2020-02-28 15:37] pschaeflein commented on #1378
Why allow them to specify a tenant? Since commands only work when logged in, what is the value of finding a tenant id to a tenant to which you have not logged in? I think that encourages suspicious behavior.

The tenant id is in the token, so it should not be necessary to make a network call.

Also, consider returning it as part of the `status` command.

[2020-02-28 19:08] waldekmastykarz commented on #1378
Right now the `tenant id get` command doesn't require you to authenticate and allows you to retrieve the ID of any tenant specified using the domain name. Knowing the ID of the tenant can be valuable for many cases, like testing Office 365 Management API which requires you to know the ID of your tenant and which you can now quickly lookup using the CLI 🙂

We could extend the `status` command and s

[2020-02-29 15:28] waldekmastykarz commented on #1376
Have you seen these docs describing the API and its usage both in PnP PowerShell and in the Office 365 CLI? https://docs.microsoft.com/en-us/sharepoint/dev/apis/alm-api-for-spfx-add-ins

[2020-02-29 19:34] #1376 closed

[2020-03-01 11:25] aakashbhardwaj619 commented on #1140
Hi @garrytrinder, @waldekmastykarz I would like to take this up.

[2020-03-01 21:03] garrytrinder commented on #1140
Thank you @aakashbhardwaj619 👏🏻

It’s all yours 👍🏻

[2020-03-02 21:55] rjesh-git commented on #916
@vman and @waldekmastykarz : My suggestion would be that we should give precedence to `--name` and `--description` if provided along with `--templateFilePath`. Based on my recent encounters, normally we use a template to provision multiple teams, and it would be really useful if we can just provide name and description and use the template. Obviously, we will not be creating a template for each te

[2020-03-03 20:06] hercules999 opened #1380 "New command: resetPnPComplianceTagWithMetaUpdate"
### Usage

resetPnPComplianceTagWithMetaUpdate(string tagValue, int complianceFlag, date complianceTagWrittenTime, string userEmailAddress)

### Description

Simliar to the CSOM or REST API's setComplianceTagWithExplicitMetasUpdate we need something that can reset the label setting to a null value so subsequent label auto-apply policies will actually work on our invididual list items that have had

[2020-03-03 22:17] rabwill commented on #783
Hey @waldekmastykarz / @garrytrinder  happy to pick this one up. Thank you.

[2020-03-03 22:40] russgove opened #1381 "Update spo field remove to remove all field in a given group"
### Usage

### Description

Above command would remove all filed that are in the group MyGroup

[2020-03-04 16:41] plamber opened #1382 "new command: yammer report activityuserdetail"
Following the discussion #1287

### Usage

### Description
Gets details about Yammer activity by user.

### Options

Adds these options to the standard options

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `-p, --period [period]` | The length of time over which the report is aggregated. Supported v

[2020-03-04 16:42] plamber opened #1383 "new command: yammer report activitycounts"
Following the discussion #1287

### Usage

### Description
Gets the trends on the amount of Yammer activity in your organization by how many messages were posted, read, and liked.

### Options

Adds these options to the standard options

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `-p, --period [p

[2020-03-04 16:44] plamber opened #1384 "new command: yammer report activityusercounts"
Following the discussion #1287

### Usage

### Description
Gets the trends on the number of unique users who posted, read, and liked Yammer messages.

### Options

Adds these options to the standard options

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `-p, --period [period]` | The length of time o

[2020-03-04 16:45] plamber opened #1385 "new command: yammer report deviceusageuserdetail"
Following the discussion #1287

### Usage

### Description
Gets details about Yammer device usage by user.

### Options

Adds these options to the standard options

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `-p, --period [period]` | The length of time over which the report is aggregated. Support

[2020-03-04 16:46] plamber opened #1386 "new command: yammer report deviceusagedistributionusercounts"
Following the discussion #1287

### Usage

### Description
Gets the number of users by device type.

### Options

Adds these options to the standard options

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `-p, --period [period]` | The length of time over which the report is aggregated. Supported valu

[2020-03-04 16:47] plamber opened #1387 "new command: yammer report deviceusageusercounts"
Following the discussion #1287

### Usage

### Description
Gets the number of daily users by device type.

### Options

Adds these options to the standard options

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `-p, --period [period]` | The length of time over which the report is aggregated. Supporte

[2020-03-04 16:49] plamber opened #1388 "new command: yammer report groupsactivitydetail"
Following the discussion #1287

### Usage

### Description
Gets details about Yammer groups activity by group.

### Options

Adds these options to the standard options

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `-p, --period [period]` | The length of time over which the report is aggregated. Sup

[2020-03-04 16:50] plamber opened #1389 "new command: yammer report groupsactivitygroupcounts"
Following the discussion #1287

### Usage

### Description
Gets the total number of groups that existed and how many included group conversation activity.

### Options

Adds these options to the standard options

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `-p, --period [period]` | The length of t

[2020-03-04 16:51] plamber opened #1390 "new command: yammer report groupsactivitycounts"
Following the discussion #1287

### Usage

### Description
Gets the number of Yammer messages posted, read, and liked in groups.

### Options

Adds these options to the standard options

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `-p, --period [period]` | The length of time over which the report

[2020-03-04 16:56] plamber opened #1391 "Update documentation for the Office 365 reports commands"
Hello,
we agreed that we are going to change the way we document the "--outputfile" parameter for all Office 365 report commands.

For example, if the command is called "serviceusercount", the documentation should show an example like this one: --outputFile servicesusercount.json

With this issue I would like to go through all existing commands and ensure that the documentation is being updated pr

[2020-03-04 18:19] waldekmastykarz commented on #1376
No problem. Appreciate you double checking. 👍

[2020-03-04 18:23] waldekmastykarz commented on #916
Makes sense @rjesh-git

[2020-03-04 18:25] waldekmastykarz commented on #1380
Nice suggestion 👍 Could you update the spec above with the description of the different options and if they're required or not? We have an issue template that will help you to capture all information we need to proceed: https://github.com/pnp/office365-cli/blob/master/.github/ISSUE_TEMPLATE/new-command.md

[2020-03-04 18:29] waldekmastykarz commented on #783
All yours @rabwill. Appreciate your help! 👏

[2020-03-04 18:30] waldekmastykarz commented on #1381
Nice suggestion! 👏

[2020-03-04 18:34] waldekmastykarz commented on #1391
Excellent! Appreciate your help 👏

[2020-03-05 21:03] garrytrinder commented on #1040
Hey @appiesschot 👋🏻

Are you still working on this?

[2020-03-05 21:39] VelinGeorgiev commented on #1377
Hi @deanbot,

Thanks for your input. You are right the 'tenant-wide' in the customaction command is misleading. I would suggest we update the docs to remove the term from the text to prevent confusion in future. I am sorry if that caused troubles for you!

Currently the CLI does not have a command ready for true tenant wide deployment of application customizer. I am looking at the [official docume

[2020-03-05 22:17] VelinGeorgiev commented on #1377
Thanks for the info @deanbot!

I tried to look for an API in the CSOM from now until august 2019 and Microsoft have not introduced any methods related to this. My personal opinion is that when they built this functionality they must have shipped it with a proper ALM apis so we can manage the active tenant wide extensions properly, but this might not be the case.

Could you point me to that TenantW

[2020-03-06 16:04] VelinGeorgiev commented on #1377
Thank you @deanbot ! I will some research on the topic because I am curious myself and let you know if I can help you with additional info.

[2020-03-06 18:38] waldekmastykarz commented on #1377
If I'm not mistaken, tenant-wide deployment of extensions is twofold:

1. The .sppkg containing the code needs to be globally deployed to all sites (using the `skipFeatureDeployment` option when using the CLI/REST API/PowerShell)
1. The extension must be registered in the `TenantWideExtensions` list

When the extension has `ClientSideInstance.xml` defined for it in .sppkg, it will be registered in

[2020-03-06 18:39] phillipharding commented on #1377
I always find this subject a little bit murky, but AFAIK....

The tenant-wide extension list is something of an analog for the ClientInstance feature framework for tenant wide deployment of extensions, which is the normal way of deploying extensions across all sites.

The TenantWideExtensions list is populated from the feature framework files included in solution packages where the solution has be

[2020-03-07 13:30] aakashbhardwaj619 commented on #1378
Hi @waldekmastykarz can I take this up? However its the first time I'll be working on any cli command so I might take a bit longer than usual and also might be reaching to fellow community members for help :blush:

[2020-03-07 19:54] garrytrinder commented on #1378
Hey @aakashbhardwaj619 👋🏻

Thank you for helping us out. I’ve assigned this to you, so it’s all yours 😊

Feel free to reach out if you have any questions, we are more than happy to help.

[2020-03-08 05:23] quantrpeter opened #1398 "which command get upgrade the app from site content"
Hi
   everytime i deploy an upgrade version of spfx solution, i have to go to site content -> click the app detail -> click "get it", to force it upgrade. Which command can do it?
Thanks
Peter

[2020-03-08 12:39] VelinGeorgiev commented on #1398
Hi Peter @quantrpeter,

This is what you are lookimg for https://pnp.github.io/office365-cli/cmd/spo/app/app-upgrade/.

Give it a try and please let me know if you have issues.

[2020-03-08 22:45] vman opened #1399 "Replacing ADAL.js with MSAL.js"
Just wanted to get some thoughts around this. After recently investigating granting access to specific scopes for the Office 365 CLI ([blog here](https://www.vrdmn.com/2020/03/office-365-cli-grant-admin-consent-to.html)), I started looking into implementing something similar out of the box for the CLI.

But soon released that the CLI currently uses the [adal-node](https://github.com/pnp/office365-

[2020-03-08 23:12] VelinGeorgiev commented on #1353
@waldekmastykarz, this is manually merged into `dev` now. Thank you very much for your efforts on this!

[2020-03-08 23:12] #1353 closed

[2020-03-09 12:31] rabwill commented on #1399
@vman also noticed the `adal-node`  library is going on a maintenance mode. It has some deprecated dependencies as well and the alternative is msal, see this discussion https://github.com/AzureAD/azure-activedirectory-library-for-nodejs/issues/229 , they are also working on msal-node

[2020-03-09 13:43] vman commented on #1399
That's interesting, so looks like `msal-node` is in initial planning stages right now and would be a while until ready for GA. In the meantime, could we update to `msal-js` as recommended in the thread?

[2020-03-09 17:37] anoopt commented on #1272
@waldekmastykarz @garrytrinder @VelinGeorgiev - is anyone working on this request? If not, I am happy to pick it up.

[2020-03-09 20:16] garrytrinder commented on #1272
All yours @anoopt 👍🏻

Thanks for the help 😊

[2020-03-09 20:17] aakashbhardwaj619 commented on #1378
Hi @waldekmastykarz @garrytrinder , I was thinking of using the **getTenantId**() method in **SpoCommand** class to get the tenantId in case domain name is not specified. But to do so either I need to inherit the **TenantIdGetCommand** class from **SpoCommand** (instead of currently used Command class) or inherit it from a new base class **TenantCommand** and add the required methods from **SpoCom

[2020-03-09 22:47] garrytrinder commented on #1312
Coming back to this, the c8 docs state that the version of node required is `>= 10.12.0` not 12 so will update our docs based on this.

https://github.com/bcoe/c8#supported-nodejs-versions

[2020-03-10 00:05] garrytrinder commented on #1374
First draft of PR template is complete, with the following sections.

- Pull Request Title
- Linked Issue
- One PR = One Commit
- New Command = Five Files
- Dev Only
- Merge Conflicts

It can be viewed from https://github.com/garrytrinder/office365-cli/blob/pr-template/.github/PULL_REQUEST_TEMPLATE/pull_request_template.md

[2020-03-10 06:02] balbany commented on #909
Unfortunately this validation is now broken, as Teams is now spitting out channel IDs that end with '@thread.tacv2'. Will create a new issue and PR for the fix.

[2020-03-10 06:22] balbany opened #1401 "Bug report: isValidTeamsChannelId is out of date"
### Description
As per my comment on #909 Teams is now spitting out a new Channel ID format (ending in @thread.tacv2) which is breaking the validation in `isValidTeamsChannelId`.

### Steps to reproduce

- Create a new Team
- Call `o365 teams message list` against the General channel

### Expected result

Get the messages from the channel

### Actual result

Something like '19:...@thread.tacv2 is

[2020-03-10 17:05] garrytrinder commented on #1401
Thank you for reporting this @balbany 👍🏻

[2020-03-10 17:13] garrytrinder commented on #1401
Is the change in ID a global change?

For example, if I already have messages created in channels prior to the ID change, do they still return in the `@thread.skype` format?

[2020-03-10 18:24] waldekmastykarz commented on #1399
The problem is that MSAL doesn't support device code auth which we need, so until that changes, we can't move.

As for the `consent` command, it uses the same URL for OAuth v2.0 consent flow as you would get when using MSAL, so from that point of view, it would make little difference. For the consent command, we chose to refer to a service rather to a specific scope to simplify things. Otherwise,

[2020-03-10 18:29] waldekmastykarz commented on #1378
In this context, we shouldn't use the method from `SpoCommand` because it assumes access to SharePoint and tenant admin. There already is the [`tenant id get`](https://github.com/pnp/office365-cli/blob/master/src/o365/tenant/commands/id/id-get.ts) command which we need to extend in such a way that if no domain has been specified, the command will get the domain from the currently signed in user (i

[2020-03-10 18:30] waldekmastykarz commented on #1312
v10 is the minimum, but some of our tests fail if you don't run them on v12 😊

[2020-03-10 18:31] waldekmastykarz commented on #909
Good catch! 👏

[2020-03-10 18:32] waldekmastykarz commented on #1401
In my understanding both IDs are being in use so for the time being we should allow them both.

[2020-03-10 18:59] waldekmastykarz opened #1404 "New command: spo site ensure"
### Usage

`spo site ensure [options]`

### Description

Ensures that the particular site collection exists and updates its properties if necessary. The command is a combination of `spo site get`, `spo site add` and `spo site set`.

### Options

Option|Description
------|-----------
`--help`|output usage information
`-u, --url <url>`|URL of the site collection to work with
`--type [type]`|Type of

[2020-03-10 19:21] garrytrinder commented on #1312
Updated 👍🏻

[2020-03-10 21:27] balbany commented on #1401
Correct - both are used. Existing channels haven't changed id.

[2020-03-10 21:40] VelinGeorgiev commented on #1404
Looks great! Thank you!

[2020-03-10 22:35] garrytrinder commented on #1404
Looks good to me 👍🏻

The descriptions for `type`, `siteDesign` and `output` need updating though, I think these are copy and paste issues from the docs 😊

[2020-03-10 23:40] vman commented on #1399
Looks like we will have to track progress of `msal-node` for getting the device code flow: https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/1281

[2020-03-11 17:17] appieschot commented on #1040
Yes, still working on review of Waldek. Will get back asap.

[2020-03-11 18:16] waldekmastykarz commented on #1404
@garrytrinder good catch and fixed. Seems like MkDocs is more forgiving than GitHub MD.

[2020-03-11 18:18] waldekmastykarz commented on #1399
Shall we close this issue until the GA of MSAL with the features we need and revisit the topic then?

[2020-03-11 18:23] vman commented on #1399
Sure. Makes sense to me.

On Wed, 11 Mar 2020 at 6:18 pm, Waldek Mastykarz <notifications@github.com>
wrote:

[2020-03-11 19:23] aakashbhardwaj619 commented on #1378
Thanks @waldekmastykarz, let me figure out how to get the domain of the signed in user as I don't think it is being saved at the time of login

[2020-03-13 00:20] #1399 closed

[2020-03-13 08:47] rabwill commented on #783
Don't we need to have a **new** issue for adding a site design task to a web too?
Here I can see the api
https://s-kainet.github.io/sp-rest-explorer/#/_api/Microsoft.SharePoint.Utilities.WebTemplateExtensions.SiteScriptUtility.AddSiteDesignTask
But there is no supporting microsoft doco for these .

If it is okay then I can add it with the spec and work on it once assigned (but for some reason I fe

[2020-03-13 09:28] VelinGeorgiev commented on #783
I am ok with adding new command for this @rabwill . CLI has many commands using APIs that do not have official docs, PnP PowerShell too. I doubt Microsoft will document all these APIs soon. @garrytrinder , @waldekmastykarz what do you think?

[2020-03-13 09:29] VelinGeorgiev commented on #1398
@quantrpeter where you able to make it work for you?

[2020-03-13 10:10] quantrpeter commented on #1398
@VelinGeorgiev  This works, super thanks

[2020-03-13 10:10] #1398 closed

[2020-03-13 12:39] rabwill commented on #783
Sure @VelinGeorgiev  , that's okay just checking, thanks again :)

[2020-03-13 12:58] joelfmrodrigues opened #1405 "Bug report: Upgrade to 1.10.0 gives incomplete import suggestion to OUIFR"
### Description

Upgrade report suggests updating sass import to
@import '~office-ui-fabric-react/dist/sass/References.scss'

But this does not import the theme variables
Correct import should be
@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss'

### Steps to reproduce

Run command to generate upgrade report from 1.7.1 (version tested) to 1.10.0

### Expected result

@impo

[2020-03-13 13:16] joelfmrodrigues commented on #1405
I see on the rules that this was done intentionally, but being @microsoft/sp-office-ui-fabric-core the default source on projects, I wonder if it should not be kept as the default

This doesn't cause a build error but the variables are not imported, so in our case we only noticed it after the solution was deployed

[2020-03-13 13:22] VelinGeorgiev commented on #1398
Thank you @quantrpeter ! I am glad that that worked for you.

[2020-03-13 14:31] pschaeflein opened #1407 "Discussion: Message to display when no upgrade needed"
### Description

Running spfx project upgrade on a component that is at the current level results in an error:

"Error: Project doesn't need to be upgraded"

### Environment

o365 cli:  2.8.0-beta.ee3c531

### Discussion

Since the result of the operation (project being a current spfx version) is the same as what is expected, I don't believe the message should be displayed in red and contain the w

[2020-03-13 14:37] pschaeflein opened #1408 "Bug report: spfx project upgrade fails when .yo-rc.json & package.json are out of sync"
### Description

The spfx project upgrade command returned a message that project doesn't need to be upgraded despite the package.json references to old versions of @microsoft/sp* packages

### Steps to reproduce

In an spfx project, the .yo-rc.json file contained current spfx version:

[code]

The package.json file contained references to older versions

[code]

### Expected result

I expected a

[2020-03-13 15:54] sympmarc opened #1409 "Bug report: spfx doctor possible issue with 2019"
I ran the new `spfx doctor` command in v2.8.0 yesterday on a solution containing a header extension to be deployed to SharePoint 2019. The solution works just fine in production. I just wanted to see what the good `doctor` would tell me.

[code]
As you can see in this screenshot, it flagged both node and npm as being the wrong versions. However, I *think* the versions I have (10.18.1 and 6.13.4) a

[2020-03-13 19:01] waldekmastykarz commented on #1378
After logging in, we save the email of the current user, which you can get at any time using the `status` command.

[2020-03-13 19:07] waldekmastykarz commented on #783
Let's do it! Nice suggestions @rabwill 👏

[2020-03-13 19:08] waldekmastykarz commented on #1405
Thanks @joelfmrodrigues. We'll have a look at it and see how to best tackle it 👍

[2020-03-13 19:10] waldekmastykarz commented on #1407
Agreed @pschaeflein. @VelinGeorgiev @garrytrinder any objections in treating this as a bug and changing to what Paul proposed?
@StfBauer would this affect the integration in @pnp/spfx?

[2020-03-13 19:11] waldekmastykarz commented on #1408
Good catch @pschaeflein. I'd suggest we change detecting the project version to use the package version instead of .yo-rc.json which is more reliable. Agreed @VelinGeorgiev @garrytrinder?

[2020-03-13 19:18] waldekmastykarz commented on #1409
I think that's a tough one and comes down to: what works vs. what was recommended. When v1.4.1 came out, there was no Node v10 and the recommendation was to use v6 or v8 which you see above. v10 works just fine but I wonder if it's been tested as extensively as v6/v8 at the time of release v1.4.1. What doesn't help, is that you can use generator v1.10 to scaffold a project based on v1.4.1 or even

[2020-03-13 19:46] garrytrinder commented on #1407
Agreed, sounds like a bug to me, we should return a more appropriate response.

[2020-03-13 19:50] garrytrinder commented on #1408
Agreed, `package.json` is the source of truth here so we should check versions here first.

It maybe worth considering returning a message in the upgrade output to state that the `.yo-rc.json` SPFX version does not match the installed dependencies.

[2020-03-13 19:55] aakashbhardwaj619 commented on #1378
Thanks for letting me know about this @waldekmastykarz otherwise I was looking to call the [graph list domains](https://docs.microsoft.com/en-us/graph/api/domain-list?view=graph-rest-1.0&tabs=http) api to fetch the domain name...I'm slowly getting familiar with the cli now ☺️

[2020-03-13 19:56] VelinGeorgiev commented on #1407
Agreed.

[2020-03-13 19:57] VelinGeorgiev commented on #1408
I am ok with this.

[2020-03-14 09:52] plamber opened #1410 "Correct all command examples and include a double quote when dealing with file outputs"
This is a follow-up issue for #1393.

This issue will add to all remaining command examples a double quote when dealing with output files.

You can assign it to me

[2020-03-14 10:03] VelinGeorgiev commented on #1410
@plamber, can we please change single quote to double quotes. We had discussion with @waldekmastykarz  and @garrytrinder on that, and we agreed that double quotes work better for different shells than the single quotes.

Correct me if I am wrong.

[2020-03-14 10:26] plamber commented on #1410
@VelinGeorgiev you are right. Changed it to double quotes. Just assign it to me

[2020-03-14 17:07] sympmarc commented on #1409
It does make sense. But I think it will still confuse people.

In the output above, I read it as saying  the right node version is either ^6.0.0 or ^8.0.0. Since my version of 10.18.1 works just fine, the "guidance" isn't all inclusive.

Maybe a note at the bottom for node/npm acknowledging there may be other versions which work, but you're on your own? I'd hate to see people rebuilding their dev

[2020-03-14 18:17] waldekmastykarz commented on #1409
The trouble is that to make it truly inclusive, we'd need to check each version of SPFx with each version of Node.js and the combination of the different package managers for all possible cases. Given that SPFx doesn't contain tests for that, doing it manually, is simply not feasible. This is why we decided to start with Microsoft's supported versions for each of the SPFx versions at their time of

[2020-03-14 18:18] waldekmastykarz opened #1411 "Enhancement: extend 'spfx doctor' help with remark about recommendations"
related to #1409, we should extend `spfx doctor` help with a remark clarifying that the recommendations are based on the officially supported versions and that other versions or package managers could work as well.

[2020-03-15 08:59] #1139 closed

[2020-03-15 08:59] #1299 closed

[2020-03-15 09:00] #1300 closed

[2020-03-15 09:01] #1347 closed

[2020-03-15 09:02] #1140 closed

[2020-03-15 09:03] #1312 closed

[2020-03-15 09:03] #1401 closed

[2020-03-15 09:04] #1374 closed

[2020-03-17 20:57] StfBauer commented on #1407
@waldekmastykarz No effect on the integration cause I only use the message and not the error code. So it is might only an issue in the output of the CLI I guess.

<img width="974" alt="Screenshot 2020-03-17 at 21 46 24" src="https://user-images.githubusercontent.com/5503835/76900710-2c8e5880-689a-11ea-821e-30dcc9874a8d.png">

<img width="961" alt="Screenshot 2020-03-17 at 21 56 01" src="https://us

[2020-03-18 15:44] garrytrinder opened #1412 "Sample issue template"
We should provide a sample template, similar to what we already have for bugs and new commands, to help people suggest samples for us to add to our docs.

[2020-03-19 06:56] aakashbhardwaj619 commented on #1349
Hi @waldekmastykarz can I take this up?

[2020-03-19 11:10] waldekmastykarz commented on #1407
Thanks for confirming @StfBauer

[2020-03-19 21:34] garrytrinder commented on #1349
Hey @aakashbhardwaj619 thanks for helping out, it’s all yours 👍🏻

[2020-03-20 16:23] VelinGeorgiev opened #1415 "Utils.isValidISODateDashOnly requires update"
Steps to repro:
https://github.com/pnp/office365-cli/blob/d0cc2b201286d5ae944cae3c86c9808b5e4d9491/src/Utils.ts#L83

Actual:
This line will stop working once the date becomes DD-MM-2021 since the regex is `19|20`

Expected:
To work in 2021

[2020-03-20 17:59] DaveCalGH commented on #1415
Testing iso format date only with dashes works for me. The 19|20 is only meant to match the beginning of a 4 digit year and can be followed by any 2 additional digita. Am I understanding this correctly?
2021-10-10 passes regex.

[2020-03-20 18:05] VelinGeorgiev commented on #1415
@DaveCalGH, I have not idea of what this regex is doing to be honest. I saw `19|20` and that seemed somehow suspicious to me.

Following your explanation, I would have to test it myself before logging issues just like that. I will dedicate some time to see if it would work correctly. Even if, I do not think we need the `19` in the first 2 chars anyway.

Thank you!

[2020-03-20 18:44] DaveCalGH commented on #1415
The regex is matching iso date only format yyyy-mm-dd which it appears to properly do. Any years starting with 19 or 20 would work correctly. If we are expecting allow the year 2100, then you're correct this would fail.

I think the iso standard allows any 4 digits but atleast personally I find it more helpful for a system to guide me as the user with this kind of restriction to prevent values wel

[2020-03-21 08:37] VelinGeorgiev commented on #1415
Thanks for the detailed explanation David @DaveCalGH! This is fully my bad, I should have tested that before logging an issue. Apologize for that and it seems like I wasted some of your time, but I learned something. I will be more careful next time.

Lets close this.

[2020-03-21 08:37] #1415 closed

[2020-03-21 20:50] garrytrinder commented on #821
Hey @jhagstrom are you still working on this?

[2020-03-21 20:55] garrytrinder commented on #1410
All yours @plamber 👍🏻

[2020-03-22 18:17] #1100 closed

[2020-03-22 18:17] #1391 closed

[2020-03-22 18:18] #1390 closed

[2020-03-22 18:18] #1302 closed

[2020-03-22 18:19] #1303 closed

[2020-03-22 18:19] #1301 closed

[2020-03-22 18:20] #783 closed

[2020-03-22 21:21] jhagstrom commented on #821
I am now. Sorry I got waylaid by myself there. Checking my local branch I seem to be close to an implementation that extracts the shared functionality into a service that both teams and groups commands can use. Not quite done yet though.

[2020-03-22 21:53] garrytrinder commented on #821
Great, thanks for the update 👍🏻

[2020-03-23 18:32] waldekmastykarz commented on #1408
So this seems to be harder than it seems to do correctly.

Some versions of SPFx use different versions of the core packages, eg.:

1.3.2

[code]

1.1.3:

[code]

1.1.1:

[code]

1.0.2

[code]

1.0.1

[code]

Right now, we use the `@microsoft/sp-core-library` package to determine the version but based on the two examples above, it would return wrong version in multiple cases.

Event by looking at

[2020-03-23 18:43] waldekmastykarz commented on #1405
Looking at projects generated using SPFx v1.9.1 and v1.10.0, they use `@import '~office-ui-fabric-react/dist/sass/References.scss';` instead of `@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';`. As such, I'd say the upgrade guidance is correct and aligned with the projects generated by SPFx. If the project contents are incorrect, then perhaps we should raise it in sp-de

[2020-03-23 18:43] #1405 closed

[2020-03-23 18:46] waldekmastykarz opened #1418 "Remove obsolete ERROR_PROJECT_UP_TO_DATE exit code in `spfx project upgrade`"
Remove obsolete ERROR_PROJECT_UP_TO_DATE exit code in `spfx project upgrade`

[2020-03-23 18:59] joelfmrodrigues commented on #1405
@waldekmastykarz  🤦‍♂️ I should have created a new solution before adding the bug
Thanks and sorry for wasting your time testing it

[2020-03-23 21:39] jhagstrom opened #1420 "Bug report: Make sure pipes are escaped in .md files"
### Description

If pipe '|' is used in markdown without being escaped like '\|', the pipe and the following text will not render

### Steps to reproduce

See https://github.com/pnp/office365-cli/blob/master/docs/manual/docs/cmd/aad/o365group/o365group-set.md

### Expected result

 "Output type. `json|text`

### Actual result

"Output type. `json "

### Environment

N/A

[2020-03-23 22:52] VelinGeorgiev commented on #1420
That is correct @jhagstrom . I remember we had discussion in the past with @waldekmastykarz  and @garrytrinder where we kind of agreed that all the pipes should be replaced by comma so `|` will become `,`. I just forgot to document it so thank you so doing it :bowing_man:

[2020-03-24 07:02] jhagstrom commented on #1420
Is replacing pipes with commas the desired solution? I can take this issue on.

[2020-03-24 13:02] waldekmastykarz commented on #1405
Nah, don't worry about it. Better check twice than have a bug. Appreciate you reaching out ❤️

[2020-03-25 18:52] waldekmastykarz commented on #1409
@sympmarc looking at the docs it seems that we do already have a disclaimer mentioning that the recommendations are based on what's officially supported (take a look at the **important** block in the docs at https://pnp.github.io/office365-cli/cmd/spfx/doctor/. The same is available in the command's help). Is this good enough or should we clarify it further? If so, what would you recommend?

[2020-03-25 18:53] waldekmastykarz commented on #1411
Waiting on additional information in #1409

[2020-03-26 00:36] anoopt commented on #1272
Hello @garrytrinder - as per the documentation, this command would need permissions to the Office 365 Management API (scope - `https://manage.office.com/.default`). Can you please let me know where do we specify that?

[2020-03-26 10:23] waldekmastykarz commented on #1272
There is no need to specify it. We'll add the necessary permission to the default AAD app that we use in the CLI. When that's done, we'd update the [docs](https://pnp.github.io/office365-cli/concepts/authorization-tokens/#azure-ad-application-used-by-the-office-365-cli) to include the newly added permissions. Shall I add the permission to the AAD app already?

[2020-03-26 13:36] anoopt commented on #1272
@waldekmastykarz - Yes please. Thank you. FYI, please find below the details of the request (if that helps)

![image](https://user-images.githubusercontent.com/9694225/77652795-b909dc80-6f66-11ea-9ed5-308c2f1c0ea0.png)

[2020-03-26 19:50] garrytrinder commented on #1408
Great analysis @waldekmastykarz 👏🏻

I agree that we should keep the current check in place based on your findings.

[2020-03-26 23:01] pschaeflein commented on #1408
If I run the job today, do I care if the project is 1.1.1 or 1.1.3? I mean, it ends up as 1.10 afterwards, right? Not sure if these old, incremental differences matter.

[2020-03-27 00:18] anoopt commented on #1272
Hello all, the `ServiceComms/CurrentStatus` endpoint returns JSON data as shown below. Should the Office 365 CLI command output the data in a simplified format?

[code]

[2020-03-27 10:45] waldekmastykarz commented on #1408
They actually might. The way upgrade guidance is done is that v1.8 only knows how to upgrade v1.7 project. It doesn't know what's been done in the previous versions. So theoretically, if there is anything relevant done between v1.1.1 and v1.1.3 the upgrade guidance wouldn't contain these changes and you could end up with a broken project. That's theory. I've never looked at what's the reality of t

[2020-03-27 15:17] waldekmastykarz commented on #1272
I'd suggest that we follow the typical setup where in the text format we return a subset information and then the complete object is sent to output in json mode. For text mode, workload display name, feature display name and status display name would be enough.

[2020-03-27 18:42] #1408 closed

[2020-03-27 18:45] waldekmastykarz commented on #1404
Before we can start implementing this command, we need to extend the `spo site set` command with additional options so that it's as close as possible to the `spo site add` command.

[2020-03-28 16:09] waldekmastykarz commented on #1420
Yes, it is. I believe we've done some work in this area but we might have missed a thing or two. If you'd like to go through the help and double check everything is as it's supposed to be, that would help us.

[2020-03-28 17:17] garrytrinder commented on #1420
The way I handle this in the `New command` issue template is to escape the pipe, so `json\|text` should work to keep the pipe in place.

Source: https://github.com/pnp/office365-cli/blob/master/.github/ISSUE_TEMPLATE/new-command.md

[2020-03-28 17:24] #1377 closed

[2020-03-28 18:05] waldekmastykarz commented on #1420
I believe @VelinGeorgiev already replaced pipe with comma in many places, so for consistency, it would be better to use `,` everywhere

[2020-03-28 18:13] waldekmastykarz opened #1437 "Enhancement: validate integrity of SPFx project before upgrading"
related to https://github.com/pnp/office365-cli/discussions/1408

Before we start analyzing the project for upgrade steps to the specified version, we should verify if .yo-rc.json and package.json point to the same SPFx version. If they don't, we should warn the user of a possible issue that could lead to incorrect upgrade steps.

[2020-03-28 18:41] waldekmastykarz commented on #1266
Hey @garrytrinder, anything that we can do with this issue or should we close it for now?

[2020-03-28 18:42] waldekmastykarz commented on #1286
Hey @plamber, just checking if you're still interested in picking this one up 🙂

[2020-03-28 18:43] waldekmastykarz commented on #1311
@ypcode are you still working on this?

[2020-03-28 18:44] waldekmastykarz commented on #1345
Hey @mac-windle, are you still working on this? Do you need any assistance?

[2020-03-28 18:50] garrytrinder commented on #1266
PowerShell 7 has just been released, so I have a task to check to see if it's still an issue.

[2020-03-28 19:05] #1311 closed

[2020-03-28 19:30] garrytrinder opened #1438 "New sample: Add Custom Client Side Web Part to Modern Page"
Raised from https://github.com/pnp/office365-cli/discussions/1311

Docs |  
-- | --
Author | Yannick Plenevaux
Original Post | https://github.com/pnp/office365-cli/discussions/1311#discussioncomment-2250
Description | You've built an amazing new web part and now you want to programatically add it to a modern page. This sample helps you add your web part to the page with your custom web part proper

[2020-03-28 23:31] rabwill commented on #12
Hey @waldekmastykarz and @garrytrinder I’d like to give a shot at a command with paging. If Yannick is not already working on this I’d like to pick it up. Thanks

[2020-03-29 09:27] waldekmastykarz opened #1439 "New sample script: restore a default configuration for tenant wide extensions on a tenant"
Related to https://github.com/pnp/office365-cli/discussions/1377

Make sample script showing how to restore default configuration for tenant-wide extensions. Configuration is stored in a hidden list in the tenant app catalog site. This script would show how to remove all entries from this list.

[2020-03-29 09:30] waldekmastykarz opened #1440 "New sample script: export configuration of tenant wide extensions from a tenant"
Related to https://github.com/pnp/office365-cli/discussions/1377

Make sample script showing how to export configuration of tenant wide extensions from a tenant. Configuration is stored in a hidden list in the tenant app catalog site.

[2020-03-29 09:41] plamber commented on #1286
Missed it. I am gong to implement it right now

[2020-03-29 09:42] waldekmastykarz opened #1441 "New sample script: remove duplicate activations of a tenant wide extension"
Related to https://github.com/pnp/office365-cli/discussions/1377

Make sample script showing how to remove duplicate activations of a tenant wide extension. Configuration is stored in a hidden list in the tenant app catalog site. This script would show how to remove duplicated entries from the list.

[2020-03-29 09:45] waldekmastykarz opened #1443 "New sample script: list all tenant-wide extensions"
Related to https://github.com/pnp/office365-cli/discussions/1377

Make sample script showing how to list all tenant-wide extensions, their IDs and status. Configuration is stored in a hidden list in the tenant app catalog site. This script would show how to get all entries from this list with the relevant fields.

[2020-03-29 09:48] waldekmastykarz opened #1444 "New sample script: disable the specific tenant-wide extension"
Related to https://github.com/pnp/office365-cli/discussions/1377

Make sample script showing how to disable the specific tenant-wide extension. Configuration is stored in a hidden list in the tenant app catalog site. This script would show how to change the value of the disabled property for the given extension.

[2020-03-29 10:03] waldekmastykarz commented on #12
All yours! 👏

[2020-03-29 14:22] garrytrinder commented on #1420
Whilst this maybe the case, would a pipe not be better semantically?

A pipe, to me, suggests “or” whereas a comma could suggest “and”. You may think different?

As our issue template currently uses a pipe, if we do go down the comma route, then the template should be changed to reflect this.

[2020-03-30 06:56] waldekmastykarz commented on #1420
A while back we discussed it and thought that using a comma would be easier but I'm all for using a `|`. @VelinGeorgiev any particular preference?

[2020-03-30 08:18] VelinGeorgiev commented on #1420
Nope. Whatever you prefer.

[2020-03-30 08:49] garrytrinder commented on #1420
I think we did agree on commas initially but that was before I “fixed” it in the issue template and I totally forgot about us saying we would use commas 🤦🏻‍♂️

[2020-03-30 09:55] jhagstrom commented on #1420
I sample clicked some of the command documentation and my impression is that most are using pipe still, among those all root level commands, login,logout, consent etc.

[2020-03-30 11:50] mac-windle commented on #1345
Hi.
I have not done any work on this feature.
I think I may have possibly misunderstood the intention of posting the idea here as I meant it purely as a suggestion, not to work on myself - oops!!

[2020-03-30 13:26] waldekmastykarz commented on #1420
All right, then let's agree on using `|`.

[2020-03-30 13:27] waldekmastykarz commented on #1345
Ah, that's my bad. I wrongfully assumed you were working on it. Sorry 😊

[2020-03-30 17:06] anoopt commented on #871
@waldekmastykarz @garrytrinder - Is this being worked on?

[2020-03-30 17:40] garrytrinder commented on #1420
All yours @jhagstrom thanks for the help 👍🏻

[2020-03-30 17:55] waldekmastykarz commented on #871
Nope, interested @anoopt? 😁

[2020-03-30 21:44] anoopt commented on #871
@waldekmastykarz - I will give it a shot. So the aim is to export json of the specified team, that can then be used by Microsoft Graph to [create a team](https://docs.microsoft.com/en-us/graph/api/team-post?view=graph-rest-beta) right?

[2020-03-31 07:57] waldekmastykarz commented on #871
Correct @anoopt

[2020-03-31 17:34] ktskumar commented on #1444
Hi Waldek, May I take this up.

[2020-03-31 17:34] ktskumar commented on #1443
Hi Waldek, May I take this up.

[2020-03-31 17:36] waldekmastykarz commented on #1444
Please do! Thank you! 👍

[2020-03-31 17:37] waldekmastykarz commented on #1443
Please do! Appreciate your help 👏

[2020-03-31 18:50] jhagstrom commented on #1345
This looks like fun, the [onlineMeetings](https://docs.microsoft.com/en-us/graph/api/application-post-onlinemeetings?view=graph-rest-1.0&tabs=http) endpoint seems promising. From what I gather a start datetime, enddatetime and organizer are the smallest set of required params. Hooking it to a specific channel seems doable through the chatInfo property, [chatMessage](https://docs.microsoft.com/en-u

[2020-04-01 06:33] waldekmastykarz commented on #1345
@jhagstrom some commands in the CLI are admin-focused and such justify the requirement for an admin consent. On the other hand, like you mentioned, that's not the case for all commands. So if there are commands that require permission scopes that don't depend on admin consent, you could create a custom AAD app with just these permissions and use it instead the one we use by default. Does this make

[2020-04-01 08:42] jhagstrom commented on #1345
I tried the /beta/me/onlineMeetings/createOrGet endpoint and it works. There are some chained requests required to put together the body to post though :

- Tenant id, that's the tid claim in the access token, or how is that usually retrieved?
- User id and upn from calling user to use as organizer, from /me/ or also from access token maybe
- Thread, (i.e. channel) id, I guess /me/joinedTeams with

[2020-04-01 09:00] jhagstrom commented on #1345
Good news. I tried some more and it works without having tenant id or upn of organizer in the body.

[2020-04-01 11:26] waldekmastykarz commented on #1345
Nice! Regarding the necessary permissions, when we add new commands that require additional permissions, we extend the AAD app with them. The exception so far has been Yammer which isn't available in all tenants and which we can't include by default. For that we're using dynamic consent.

So, do you want to pick this up given you've done all the research? 😄

[2020-04-01 11:34] jhagstrom commented on #1345
Yes, I can give it a try.

[2020-04-01 19:18] aakashbhardwaj619 commented on #1349
Hi guys, I have a couple of queries regarding this:

- Since we are just updating the solution name, does the solution `id` need to be updated as well in **package-solution.json** and **.yo-rc.json**?
- Once the project name is updated in all the mentioned files, should the command just return a message saying something like '**Project renamed successfully**'?

I was going with the below logic for

[2020-04-01 22:09] garrytrinder commented on #1349
Yes, we should update `libraryId` in `.yo-rc.json` and `id` in `package-solution.json`.

Logic looks fine to me.

Maybe it would be useful to use a combination of the `debug` and `verbose` modes with the below console outputs for giving feedback to the user. Thoughts @waldekmastykarz @VelinGeorgiev ?

[code]

[2020-04-01 23:45] garrytrinder commented on #1420
@jhagstrom apologies for this but I now understand the reason why we had the discussion about commas initially. It is down the difference in how GitHub and MKDocs parse markdown.

In Github, `json\|text` works fine as GitHub flavour markdown supports using a slash as an escape character. Unfortunately though, MKDocs uses a different flavour of markdown which doesn't, so we end up fixing GitHub and

[2020-04-02 06:06] jhagstrom commented on #1420
I'll check it out. I tried replacing the escaped pipe with the html encrypted thing, but it doesn't render in github md for me now so I think I didn't do it right.

[2020-04-02 07:10] waldekmastykarz commented on #1349
Let's not replace the ID by default but expose an option to do it. In some cases the rename could be cosmetic and changing the solution and package ID might be undesired.

Agreed with the log output proposed by @garrytrinder

[2020-04-02 07:28] garrytrinder commented on #1349
Great suggestion @waldekmastykarz 👏🏻

@aakashbhardwaj619 I've updated the command spec to include the new option.

[2020-04-02 08:07] jhagstrom commented on #1420
Now it works #1445

[2020-04-02 09:38] waldekmastykarz commented on #1349
@garrytrinder should the command accept a new ID or rather generate one itself or perhaps it should do both? I wonder if you'd want to set the solution ID to a specific guid or just have the command generate a new one for you automatically to avoid version conflicts with the old package.

[2020-04-02 09:42] waldekmastykarz commented on #1420
Expecting contributors to use html escaping is pretty excessive imho. I'd suggest we reconsider the change and consider simplicity of maintenance and contributions and use `,` which just works everywhere without any quirks.

[2020-04-02 10:21] jhagstrom commented on #1420
Is mkdocs configurable in terms of markdown flavor? It would be nice to have gfm in both places

[2020-04-02 18:25] garrytrinder commented on #1420
@jhagstrom after my research last night, there is no alternative GFM parser for MKDocs, there is one that I found but it had way too many limitations listed to really consider it.

I’d love to see the docs retain the use of pipe but I see @waldekmastykarz point, happy to reconsider.

[2020-04-02 22:25] garrytrinder commented on #1266
Tested this on PowerShell 7 and still no change.

Therefore we should recommend that for now people should use the `--query` option to pass in a JMESPath query to return only the values that they require from the response and convert that to JSON, should they run into the above issue.

The example below will filter the sites by the `GROUP#0` template and only return the `Title` and `Url` of the si

[2020-04-02 23:14] garrytrinder commented on #1349
You make a good point @waldekmastykarz

We could change the `--id` to a switch instead and make it so that if used, the command will generate a new guid which we can output in the console similar to the file updates.

If `--id` is omitted, then only the files are updated.

[2020-04-03 17:14] waldekmastykarz commented on #1420
Thanks for bearing with us @jhagstrom. For now, let's use commas, like you've done in the PR. We can always reconsider, should there be a newer version of MkDocs with additional capabilities.

[2020-04-03 17:16] waldekmastykarz commented on #1349
One last suggestion 😊 Let's use something like `--updateId` or `--generateNewId` rather than just `--id`. Based on how we use `--id` in other commands, it would make me think it expects a value rather than being a switch.

[2020-04-03 17:32] garrytrinder commented on #1349
I like `—generateNewId`, so let’s go with that 😊

[2020-04-03 17:43] waldekmastykarz commented on #1272
@anoopt `https://manage.office.com/.default` is not a permission scope you can grant. The docs mention `ServiceHealth.Read`. Is that the right scope?

[2020-04-03 17:54] anoopt commented on #1272
@waldekmastykarz - Yes `ServiceHealth.Read` permission is what we need. Sorry for not mentioning it before.

[2020-04-04 12:03] garrytrinder opened #1449 "New command: Remove a tab from a channel in a Microsoft Teams team"
### Usage

`teams tab remove [options]`

### Description

Removes a tab from the specified channel

### Options

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `-i, --teamId <teamId>` | The ID of the team where the tab exists |
| `-c, --channelId <channelId>` | The ID of the channel to remove the tab

[2020-04-04 12:42] garrytrinder opened #1450 "New command: Install Microsoft Teams app for user"
### Usage

`teams user app add [options]`

### Description

Install an app in the personal scope of the specified user.

### Options

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `--appId <appId>`       | The ID of the app to install			  |
| `--userId <userId>`	  | The ID of the user to install the

[2020-04-04 14:17] garrytrinder commented on #1449
We absolutely should. Good catch 👍🏻

It’s all yours @rabwill thank you for your help 😊

[2020-04-05 07:01] plamber opened #1453 "New command: identity and access reports?"
Hi guys,
we recently completed the Office 365 Usage Reports.

Microsoft introduced some new reports under the category "Identity and access".
![image](https://user-images.githubusercontent.com/18241305/78468858-c3bd3200-771b-11ea-96d0-3e6de40cfb63.png).

You can see one of these reports [here](https://docs.microsoft.com/en-us/graph/api/resources/applicationsigninsummary?view=graph-rest-beta). I am

[2020-04-05 07:14] plamber opened #1454 "New command: yammer search"
### Usage
yammer search [options]

### Description
Returns a list of messages, users, topics and groups that match the user’s search query.

### Options

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `-q, --query <query>` | The search query
| `--limit [limit]` | Upper limit for the search

### Addit

[2020-04-05 07:17] garrytrinder commented on #1453
Thanks for your suggestion @plamber 👍🏻

Let’s convert this to a discussion.

[2020-04-05 07:17] #1453 closed

[2020-04-05 07:20] plamber opened #1455 "New command: yammer message like"
### Usage
yammer message like set [options]

### Description
Marks the specified message as liked by the current user.

### Options

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `--id <id>` | The id of the Yammer message
| `--enable [enable]` | true|false. Specify if the message should be liked or

[2020-04-05 07:31] plamber opened #1456 "New command: yammer group user add"
### Usage
yammer group user add [options]

### Description
Adds a user to a Yammer Group.

### Options

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `--id <id>` | The Group ID to process
| `--userId [userId]` | Adds the user with the specified ID to the Yammer Group. Defaults to the current user
|

[2020-04-05 07:33] plamber opened #1457 "New command: yammer group user remove"
### Usage
yammer group user remove [options]

### Description
Removes a user from a Yammer group

### Options

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `--id <id>` | The id of the Yammer group
| `--userId [id]` | Remove the user with the ID specified. Defaults to the current user.

Implements [

[2020-04-05 07:39] plamber opened #1458 "extend command: yammer group list"
Hi guys,
I would like to extend the current yammer group list and add a new parameter to filter the group by userId on top of the existing parameters.

### Options

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `--userId <userId>` | Filters the group by userID

Implements [this endpoint](https://dev

[2020-04-05 17:23] #1342 closed

[2020-04-05 17:24] #1378 closed

[2020-04-05 17:25] #1407 closed

[2020-04-05 17:26] #1336 closed

[2020-04-05 17:26] #1337 closed

[2020-04-05 17:27] #1272 closed

[2020-04-05 17:27] #1410 closed

[2020-04-05 17:28] #1382 closed

[2020-04-05 17:28] #1383 closed

[2020-04-05 17:29] #1384 closed

[2020-04-05 17:29] #1385 closed

[2020-04-05 17:30] #1386 closed

[2020-04-06 17:27] waldekmastykarz commented on #1450
To make the command more user-friendly, how about we allow specifying the app by its name and user by their email? Shall we also allow specifying multiple users as a comma-separated value?

[2020-04-06 17:28] waldekmastykarz commented on #1449
Shall we also allow to specify the team, channel and tab by their names to save users from doing lookups first?

[2020-04-06 17:37] waldekmastykarz commented on #1455
Thanks for the spec @plamber. I think we should implement the `remove` option as a switch (without `[remove]`). I've been also thinking about an alternative to name the command `yammer message like set` to align it with `spo cdn set` but the current spec + remove as a switch seems more intuitive.

What do you think @pnp/office-365-cli-maintainers?

[2020-04-06 17:52] waldekmastykarz commented on #1457
Does this apply only to the current user or would it theoretically also be possible to remove another user from the specified group?

[2020-04-06 20:01] garrytrinder commented on #1455
Interesting design decision 🤔

I personally like `yammer message like set --enable true|false`.

As you say @waldekmastykarz this then aligns with the `spo cdn set` command, which has the `--enable` option.

I prefer, `--enable true|false`, as you can easily pass a variable into the command from a script to toggle on and off by just changing the variable value.

If we use the switch you have to ad

[2020-04-07 14:32] plamber commented on #1457
Hi @waldekmastykarz,
the official documentation does not show this. I will test it out. In case it works, I will implement it.

br,
Patrick

[2020-04-07 14:34] plamber commented on #1455
@waldekmastykarz, @garrytrinder:
I am with @garrytrinder but I think consistency should be preferred.

Guys, your choice.

[2020-04-07 23:26] garrytrinder commented on #1371
This change would be a breaking change.

`spo contenttype field set` and `spo hidedefaultthemes set` both use the short `-h` option for `--hidden` and `--hideDefaultThemes` options.

[2020-04-08 08:50] waldekmastykarz commented on #1457
When you're investigating this, could you also check if there is a different API that allows for removing users from group in case it's not possible with this one? We could then unify them in a single command perhaps.

[2020-04-08 08:51] waldekmastykarz commented on #1455
Let's go with @garrytrinder's proposal 👍

[2020-04-08 09:23] waldekmastykarz commented on #1371
Good catch @garrytrinder 👍

[2020-04-08 11:06] tristian2 opened #1461 "Bug report: teams command "Error: No team found with Group Id""
### When running the 'teams team list' command get an error

On my production tenancy, when I try to get a list of all my teams, I get an error instead, result, is I do not see any teams at all.  Works on another tenancy I use for development

### Steps to reproduce
1) login to the tenancy using Office365 CLI
2) run o365 teams team list

### Expected result
When I run on my development tenancy, I

[2020-04-08 11:39] garrytrinder commented on #1461
Thank you for reporting this @tristian2 👍🏻

We apologise for the trouble and will take a look into this for ASAP.

To help try and narrow the root cause down

- Do you get the same error when using the `--joined` switch?
- What happens if you pass the group id that is returned in the error into the `aad o365group get` command?
  - For example, `o365group get --id 1caf7dcd-7e83-4c3a-94f7-932a1299c8

[2020-04-08 11:54] waldekmastykarz opened #1462 "In 'spfx project upgrade' MD report format code snippets as code"
In the markdown report generated by the `spfx project upgrade` command, code snippets should be formatted as code. Right now they're formatted as plain-text which makes them hard to read in markdown preview.

[2020-04-08 19:04] sergiosanchezd opened #1463 "Bug report: apply theme to site"
### Description

I'm trying to apply a theme to a site with the command spo theme apply and I got a strange error.

### Steps to reproduce
PowerShell:
o365 login -t password -u $("user") -p $("password")
o365 spo theme apply --name xxxxx --webUrl https://xxxxx.sharepoint.com/sites/xxxxx

### Actual result
On the second command I'm getting the next error:
Error: Operation is not valid due to the cu

[2020-04-08 19:07] sergiosanchezd opened #1464 "New command: Get theme of site"
### Usage

I don't see any command to get the theme of a site. The usage should be something like this:

o365 spo theme get --webUrl https://xxxx.sharepoint.com/sites/xxxx

This command should respond with the theme of the site.

[2020-04-08 19:36] garrytrinder opened #1465 "Documentation: Theme Generator URL requires updating"
When observing the `spo theme set` & `spo theme apply` command interactive help, the link to the Theme Generator in the More Information section does not go to the correct location.

It should be changed to https://aka.ms/themedesigner

[2020-04-08 19:47] garrytrinder commented on #1463
Thank you for reporting this @sergiosanchezd

I have taken a look at this and unfortunately I cannot replicate your issue, applying either a default theme or a custom theme using the below examples.

Default
[code]
Custom
[code]

Would it be possible for you to use the `--debug` or `--verbose` when you execute the command and paste the output into this issue?

[2020-04-08 20:17] garrytrinder commented on #1464
Hi @sergiosanchezd thank you for your suggestion, I've taken a quick look at how this could be implemented.

There is a `ThemeInfo` resource on the `Web` endpoint (`_api/web/ThemeInfo`) however unfortunately this doesn't appear to give much information about the applied theme apart from a description, the `title` and `name` properties returned are empty.

There is a `ThemedCssFolderUrl` resource o

[2020-04-08 20:35] sergiosanchezd commented on #1463
Hi, thanks for your quick response.
My theme exists because when I execute the next command, I got in the response my custom theme:

o365 spo theme list

And this is the stakctrace when I execute the command with the flag debug:

PS xxxxxxxxx> o365 spo theme apply --name xxxxx --webUrl https://xxxxx.sharepoint.com/sites/CtrlOperativo --debug
SPO URL previously retrieved https://xxxxx.sharepoint.co

[2020-04-08 20:51] garrytrinder commented on #1463
Thanks for the response.

Is it possible to select and apply your custom theme in the SharePoint user interface?

[2020-04-08 21:14] sergiosanchezd commented on #1463
Yes, I can do it by the interface. The strange thing that I discover know is that I can change to another custom theme by the command but not to the specific one.

Maybe something is wrong in the theme... But I don`t know what because when I created I used the same command (o365 theme set....) and I didn't get any error.

[2020-04-08 21:27] garrytrinder commented on #1463
Could you share your theme json? I can try it on my tenant and see if I can replicate.

Out of interest what name did you give your theme? Does it have any special characters in it?

[2020-04-08 21:39] sergiosanchezd commented on #1463
This is my json:
{"Palette":{"themePrimary":"#d81e05","themeLighterAlt":"#fdf5f4","themeLighter":"#f9d6d2","themeLight":"#f4b4ac","themeTertiary":"#e87060","themeSecondary":"#dd351e","themeDarkAlt":"#c31a04","themeDark":"#a51603","themeDarker":"#791002","neutralLighterAlt":"#eeeeee","neutralLighter":"#f5f5f5","neutralLight":"#e1e1e1","neutralQuaternaryAlt":"#d1d1d1","neutralQuaternary":"#c8c8c8","

[2020-04-08 22:08] garrytrinder commented on #1463
No problem, happy to help 😊

The issue is caused by the JSON object that you are supplying to the `spo theme set` command to create the custom tenant theme.

The API is expecting _only_ the colour properties, so you just need to remove the `Palette` property, resulting in the below JSON.

[code]

That said, it is odd that the API does not throw an error as you are sending an invalid palette object

[2020-04-08 22:19] garrytrinder commented on #1463
Looks like this is an issue with the API and not the CLI.

As you can see from the screenshot below there is no error returned in the response when passing the invalid JSON, which results in the error you are seeing when attempting to apply the theme to a given site.

![image](https://user-images.githubusercontent.com/11563347/78838872-0702f380-79ef-11ea-89eb-f75a2c8f79dc.png)

I think we should c

[2020-04-08 22:21] sergiosanchezd commented on #1463
NICE! I fix that and now is working!

[2020-04-08 22:21] #1463 closed

[2020-04-08 22:23] garrytrinder commented on #1463
Awesome! Great to hear that you are now unblocked 👍🏻

I will raise a new issue to look at enhancing the command based on this report.

[2020-04-08 22:33] garrytrinder opened #1466 "Enhancement: Add theme palette JSON validation to 'spo theme set' command"
Raised from #1463

We should add some validation into the command to check the incoming JSON and throw an error if invalid before we send it to the API, as currently when sending invalid template palette (as detailed in the referenced issue), no error is thrown so the CLI gives a false positive.

A valid template is as follows

[code]

Validation checks the following:

- [x] the specified string i

[2020-04-09 07:21] waldekmastykarz commented on #1466
I've extended the spec with which checks the validation should to, to clarify the expectations

[2020-04-09 08:01] waldekmastykarz opened #1467 "Bug report: resolution of the FN012010_TSC_experimentalDecorators rule is not indented properly"
### Description

The resolution of the FN012010_TSC_experimentalDecorators spfx project upgrade rule is indented too far:

![image](https://user-images.githubusercontent.com/11164679/78871921-bddf8d80-7a48-11ea-9510-c696a1e80703.png)

### Steps to reproduce

Upgrade SPFx project from v1.1 to v1.10 with a report in MD format

### Expected result

[code]

### Actual result

[code]

### Environment

[2020-04-09 08:07] waldekmastykarz opened #1468 "Bug report: FN022002_SCSS_add_fabric_react incorrectly suggest adding UI Fabric import to all .scss files"
### Description

The FN022002_SCSS_add_fabric_react spfx project upgrade rule incorrectly suggests adding import of Office UI Fabric to all .scss files.

### Steps to reproduce

1. Create an SPFx v1.8 project with a React web part
1. Add another .scss file with some contents
1. Upgrade project to SPFx v1.10

### Expected result

FN022002_SCSS_add_fabric_react is triggered only for files with a ref

[2020-04-09 08:59] waldekmastykarz opened #1469 "Bug report: In the FN003003_CFG_bundles rule the description has two consecutive spaces"
### Description

The description of the FN003003_CFG_bundles spfx project upgrade rule has two consecutive spaces.

### Steps to reproduce

N/A

### Expected result

[code]

### Actual result

[code]

### Environment

N/A

[2020-04-09 09:03] waldekmastykarz opened #1470 "Bug report: FN003005_CFG_localizedResource_pathLib returns incorrect resolution"
### Description

The FN003005_CFG_localizedResource_pathLib spfx project upgrade rule returns incorrect resolution. Instead of using the web part name to map the localized resources, it maps the locales to `k`.

### Steps to reproduce

Upgrade an SPFx v1.0 project to v1.2 or newer.

### Expected result

[code]

### Actual result

[code]

### Environment

CLI v2.9

[2020-04-09 12:18] waldekmastykarz opened #1471 "Bug report: Incomplete update of teams piece in spfx project upgrade"
### Description

`spfx project upgrade` doesn't update the teams piece of the project beyond SPFx v1.7x. That teams piece has changed in v1.8 but when upgrading a project from v1.1 to v1.10, the upgrade report will stop at recommendations that match SPFx v.1.7.0.

### Steps to reproduce

Upgrade SPFx v1.1 project to v1.10

### Expected result

Recommendation to create a teams folder with inside tw

[2020-04-10 04:48] rabwill commented on #1449
Nice one but I know our existing commands have only `teamId` in them e.g `teams channel list` so would this be a consistent option experience for users to have teamName? channelName has been used before so don't see an issue with that.  If the spec can be updated. I can look into working on this. Ty

[2020-04-10 05:34] rabwill commented on #12
Ok folks, I have one doubt in this one, apologies if I sound amateur.

From the spec I can infer that if `pageSize` is provided, then we get items pageSize * (pageNumber+1) and pass the last `pageSize`  items to the user.

[2020-04-10 08:45] waldekmastykarz commented on #1449
Got it. For now, let's stick with the current spec and use only ID. We can later extend all commands consistently to allow using both if there's a demand for it 👍

[2020-04-10 08:46] waldekmastykarz commented on #12
Wouldn't passing the values using OData's `$top` and `$skip` work?

[2020-04-10 09:16] garrytrinder commented on #1449
We can add `--channelName` and `--tabName` at a later date as @waldekmastykarz has mentioned as an enhancement.

The `--teamName` option is a little more involved as Teams allows you to create Teams with the same name, this is also the same for an Office 365 Group.

To ensure uniqueness we should consider using the `mailNickname` of the associated Office 365 Group, instead of `displayName` to iden

[2020-04-10 09:49] rabwill commented on #1449
Awesome, so the spec is unchanged as of now and can be enhanced later. Nice. Will pick this up and work on it 🙌🏼 Thanks folks.

[2020-04-10 10:17] rabwill commented on #12
$skip has no effect on the schemaExtensions api. It respects only the $top when I check.

What we can do is get the `@odata.nextlink` from the result of the first api call (where we fetch all items pageSize*pageNumber , where pageNumber is non-zero and then make another call with $top and $skiptoken where $skiptoken value is `@odata.nextlink`.
If this sounds okay I can go ahead with it.

[2020-04-11 13:05] Damag3d opened #1474 "Bug report: Unable to use JMESPath Filter for numbers"
### Description

Strange but cannot make JMESPath Filter to work for numbers

### Steps to reproduce

o365 spo list list -u "https://kumtor.sharepoint.com/sites/YOURSITE" -o json --pretty --query "value[?BaseTemplate == `101`].[BaseTemplate, Title, RootFolder.ServerRelativeUrl]"

Escape characters are present around 101

### Expected result

Should provide a list of all document libraries

### Act

[2020-04-11 16:06] garrytrinder commented on #1474
Thank you for reporting this @Damag3d

We apologise for the trouble and will take a look into this ASAP.

[2020-04-11 16:27] garrytrinder commented on #1474
I've looked into this and it looks like its a quoting issue, wrapping your query in single quotes `'` ensures that the back-ticks, which are required for handling numbers by JMESPath, are not stripped out.

I've tested the below command and this works for me in a `pwsh` prompt on MacOS.

[code]

[2020-04-12 09:46] #1040 closed

[2020-04-12 09:46] #1387 closed

[2020-04-12 09:47] #1388 closed

[2020-04-12 09:47] #1389 closed

[2020-04-12 09:48] #1286 closed

[2020-04-12 09:49] #1420 closed

[2020-04-12 09:53] #1443 closed

[2020-04-12 09:53] #1468 closed

[2020-04-12 09:57] waldekmastykarz commented on #12
Before we do this, let's check with the MS Graph team if this is intentional or a bug in the API. It would be good to understand why things are the way they are before deciding on a workaround. Would you mind submitting a question in the MS Graph docs and pinging Jeremy Thake?

[2020-04-12 13:44] aakashbhardwaj619 commented on #1349
Hi guys, I was working on the test cases for this and found something interesting.

I used a test project like the one present at `src/o365/spfx/commands/project/project-externalize/test-projects/spfx-182-webpart-react` with project name as "**spfx**". As per the above mentioned logic since I was replacing all occurrences of the project name with **newName**, it replaced "**spfx**" with **newName*

[2020-04-12 18:18] waldekmastykarz commented on #1349
Using string replace is quite unreliable as you have noticed. I'd suggest that instead we consider deserializing file contents to an object first and the replace the values of the specific properties which should be more error-prone.

[2020-04-13 10:32] ktskumar commented on #1441
May I work on this!

[2020-04-13 12:01] garrytrinder commented on #1441
Absolutely! Thank you for your help @ktskumar it's all yours 👍🏻

[2020-04-13 12:07] garrytrinder commented on #1466
I'll take a look at this one 😊

[2020-04-13 17:49] waldekmastykarz opened #1478 "Enhancement: extend `spo site set` to match `spo site add` as closely as possible"
Currently, the `spo site set` command allows only for setting a handful of options. We should extend it to match the options available in `spo site add` as much as possible. This will be not only beneficial for our users but also to implement the `spo site ensure` command described in #1404.

- [x] title
- [x] ~description~ doesn't seem to be possible
- [x] classification
- [x] isPublic
- [x] ~all

[2020-04-13 18:00] waldekmastykarz commented on #1458
I assume the `userId` should be optional, right? If so, let's change it to `[userId]` to clearly indicate that it's not required.

[2020-04-13 18:01] waldekmastykarz commented on #1321
Closing due to lack of response

[2020-04-13 18:01] #1321 closed

[2020-04-14 01:20] rabwill commented on #12
I have created an issue here https://github.com/microsoftgraph/microsoft-graph-docs/issues/7739#issue-599228875 and tagged Jeremy Thake. Will keep an eye out on this.

[2020-04-14 07:09] waldekmastykarz commented on #1464
Would you expect this command to return the currently applied palette (basically what you upload when setting a theme)?

[2020-04-14 07:17] waldekmastykarz commented on #12
Sorry for pointing you in the wrong direction @rabwill. Each time handles things differently and at times it's very much hit'n'miss to find the right channel for the particular team. Appreciate your effort following this 👏

[2020-04-14 07:24] sergiosanchezd commented on #1464
Hi, yes, this is my suggestion.

[2020-04-14 07:30] rabwill commented on #12
No problem at all ☺️

[2020-04-14 17:20] waldekmastykarz commented on #1464
As far as I can tell, there is no ready to use API for this. We'd need to dissect the SharePoint UI and see how it does that. @garrytrinder already said that there is a property that contains the path to the current theme folder but the question is what's after that. Would you be interested in investigating this @sergiosanchezd?

[2020-04-15 00:10] rabwill commented on #12
To follow up with [stackoverflow question]( https://stackoverflow.com/questions/61199327/skip-has-no-effect-on-the-end-point-to-list-schemaextensions-in-microsoft-graph) , we have a reply form MSFT that all AAD resources work with `skipTokens` rather than `skip`. schemaExtensions come under the group resource type so makes sense.
As initially suggested , the first response gives us the url with sk

[2020-04-15 07:31] waldekmastykarz commented on #12
So in other words, we can't skip directly to the particular page and have to retrieve all data until that page first to obtain the correct skipToken, right?

[2020-04-15 07:56] sergiosanchezd commented on #1464
Hi, I investigated a little bit, and I am not sure if it will be possible to get the theme name of a site. In the first instance, the UI doesn't give you that information. For example, if you have 3 company themes, in the themes you have the title, but in the theme that you have selected you don't have the title, it puts "Current selection".

In another way, I see that SharePoint calls to an endpo

[2020-04-15 08:57] sergiosanchezd commented on #1464
Maybe we can get the theme palette but not the title of the theme: https://docs.microsoft.com/en-us/javascript/api/sp-component-base/themeprovider?view=sp-typescript-latest

[2020-04-15 12:05] rabwill commented on #12
That’s the right way to put it. I am happy to give it a go.

[2020-04-15 12:14] waldekmastykarz commented on #1464
You're looking at SPFx which is not something that we use in the Office 365 CLI. Perhaps a better path would be to look at the REST/CSOM APIs exposed in Office 365 which we could tap into to extract some meaningful information.

[2020-04-15 12:15] waldekmastykarz commented on #12
We could keep the original list of options and abstract this behavior away from users so that if they want to retrieve n-th page, we do that in the background presenting them with the data they need. Thank you for looking into it 👍

[2020-04-15 12:38] waldekmastykarz opened #1484 "Bug report: FN016004_TS_property_pane_property_import suggests empty import"
### Description

The `FN016004_TS_property_pane_property_import` spfx project upgrade rule suggest and empty import.

[code]

### Steps to reproduce

- create a project using SPFx v1.6
- create a .ts file with the following import:

[code]
- upgrade the project to v1.10

### Expected result

[code]

### Actual result

[code]

### Environment

CLI v2.9

### Additional info

Another repro case is th

[2020-04-15 13:08] waldekmastykarz opened #1485 "Bug report: resolution of the FN011010_MAN_webpart_version rule is not indented properly"
The resolution of the FN012010_TSC_experimentalDecorators spfx project upgrade rule is indented too far:

![image](https://user-images.githubusercontent.com/11164679/79340608-d52be880-7f2a-11ea-98bb-b8d7004e1c79.png)

### Steps to reproduce

Upgrade SPFx project from v1.1 to v1.10 with a report in MD format

### Expected result

[code]

### Actual result

[code]

### Environment

CLI v2.9

[2020-04-17 00:17] vineet2907 opened #1486 "No command to Allow/Prevent custom script on a site"
One can enable/disable custom scripts on modern sites using the below powershell cmdlet
`Set-SPOsite <SiteURL> -DenyAddAndCustomizePages 0`

There is no equivalent of this in O365 cli.

[2020-04-17 06:45] waldekmastykarz commented on #1486
Thank you for reaching out! Have you tried using:

[code]

[2020-04-17 06:49] waldekmastykarz opened #1487 "Enhancement: align SPFx project version detection between 'spfx doctor' and 'spfx project upgrade'"
Related to https://github.com/pnp/office365-cli/discussions/1475

For consistency, we should align how we detect SPFx project versions in `spfx doctor` and `spfx project upgrade`. Currently, we use two different approaches that could lead to different results. Ideally, all `spfx` commands use the same way to detect project version.

[2020-04-17 06:52] waldekmastykarz opened #1488 "Enhancement: Extend SPFx project version detection with checking if .yo-rc.json and package.json are in sync"
Related to https://github.com/pnp/office365-cli/discussions/1475, #1487

We should extend the SPFx project version detection logic with checking if `.yo-rc.json` and `package.json` are in sync.

Currently, when detecting SPFx project versions we look at `.yo-rc.json` and fallback to `package.json` if necessary. In some cases however, the package versions might be updated without aligning the versi

[2020-04-17 06:56] waldekmastykarz opened #1489 "Enhancement: extend `spfx doctor` with `version` option"
Related to https://github.com/pnp/office365-cli/discussions/1475

We should extend the `spfx doctor` command with a new option named `version` which allows to check the compatibility for the particular SPFx version.

Right now, the command starts with detecting the version of SPFx either based on the project in the current directory or the Yeoman generator installed globally. It could be however,

[2020-04-17 07:19] waldekmastykarz opened #1490 "New command: convenience command to create new issues in the CLI GitHub repo"
Related to https://github.com/pnp/office365-cli/discussions/1482

### Usage

`issue`

### Description

Returns a URL that takes the user to the right place in the CLI GitHub repo to create a new issue reporting bug, feedback, ideas, etc.

### Options

Just the standard options. Depending on the outcome of the investigation, we could expose additional options.

### Additional Information

To keep t

[2020-04-17 07:19] waldekmastykarz commented on #1490
Agreed on the spec @pnp/office-365-cli-maintainers?

[2020-04-17 08:23] vineet2907 commented on #1486
Apologies, my bad. The command you provided worked just fine. Might I suggest to capture/link to  the corresponding SPO Powershell equivalent for commands in the O365 CLI documentation so that it is easier to search. Thanks.

[2020-04-17 08:23] #1486 closed

[2020-04-17 09:24] waldekmastykarz commented on #1486
Thank you for confirming it's working for you 👍 Appreciate your suggestion. Have a great day!

[2020-04-17 17:20] waldekmastykarz opened #1492 "Consolidate `spo site list` and `spo site classic list` commands"
Related to #1491

Consolidate `spo site list` and `spo site classic list` commands into `spo site list` which lists both modern and classic sites. The output should contain combined information from both APIs used by the `spo site classic list` and `spo site list` commands. Additionally, mark the `spo site classic list` command as deprecated so that we can remove it in v3.

Once this item is done,

[2020-04-17 17:21] waldekmastykarz opened #1493 "Consolidate `spo site add` and `spo site classic add` commands"
Related to #1491

Consolidate `spo site add` and `spo site classic add` commands into `spo site add` which can create both modern and classic sites. Additionally, mark the `spo site classic add` command as deprecated so that we can remove it in v3.

Once this item is done, let's create a new item linked to milestone v3 to remove the deprecated `spo site classic add` command.

[2020-04-17 17:23] waldekmastykarz opened #1494 "Consolidate `spo site remove` and `spo site classic remove` commands"
Related to #1491

Consolidate `spo site remove` and `spo site classic remove` commands into `spo site remove` which can delete both modern and classic sites. Additionally, mark the `spo site classic remove` command as deprecated so that we can remove it in v3.

Once this item is done, let's create a new item linked to milestone v3 to remove the deprecated `spo site classic remove` command.

[2020-04-17 17:24] waldekmastykarz opened #1495 "Consolidate `spo site set` and `spo site classic set` commands"
Related to #1491

Consolidate `spo site set` and `spo site classic set` commands into `spo site set` which can update both modern and classic sites. Additionally, mark the `spo site classic set` command as deprecated so that we can remove it in v3.

Once this item is done, let's create a new item linked to milestone v3 to remove the deprecated `spo site classic set` command.

[2020-04-17 17:33] waldekmastykarz commented on #1409
Closing due to lack of response. Assuming what we have is good for now.

[2020-04-17 17:33] #1409 closed

[2020-04-17 17:34] waldekmastykarz commented on #1411
Closing for now as #1409 was close due to lack of response

[2020-04-17 17:34] #1411 closed

[2020-04-17 20:25] garrytrinder opened #1496 "Provide clearer guidance on how to use your own Azure AD app registration to connect to Office 365"
Raised from #1460

When using the CLI against a tenant for the first time, users are required to consent to the permissions required by the multi-tenant Azure AD application when using either the device login or username & password flows.

Whilst this is fine in the majority of cases, there are scenarios where this is inconvenient and administrators are not comfortable with granting such permissio

[2020-04-17 20:42] garrytrinder commented on #916
We should also provide a `--wait` command for when provisioning a team with a template as the response from the initial request returns a url for the async operation in the `Location` header.

This can be used to poll and give feedback to the console on progress, success and failure of the request.

[2020-04-17 20:58] garrytrinder opened #1497 "Bug report: `teams team add --groupId` returns error"
### Description

Error when attempting to add a Microsoft Team to an existing Office 365 Group using `teams team add --groupId`

### Steps to reproduce

`o365 teams team add --groupId 946a6bbe-045a-4031-8b5b-04c7353b357d`

### Expected result

Team is created

### Actual result

![image](https://user-images.githubusercontent.com/11563347/79613424-6a2f0d00-80f6-11ea-8267-d70467a6bc20.png)

### Envi

[2020-04-17 21:01] garrytrinder commented on #1497
On closer inspection, the request is using the `/beta/groups/{groupid}/team` endpoint that has been deprecated in favour of using the `/beta/team` endpoint.

Source: https://docs.microsoft.com/en-us/graph/api/team-put-teams?view=graph-rest-beta&tabs=http#permissions

[2020-04-17 21:12] garrytrinder commented on #1497
We do already provide another command that creates a Team from an existing Office 365 group, `aad o365group teamify` which uses the new method suggested in Graph docs.

Rather than fix the `teams team add` command duplicating functionality, I suggest removing the `--groupId` parameter as we have an alternative command, create an alias for the `aad o365group teamify` command under the `teams` group

[2020-04-18 09:44] waldekmastykarz commented on #1497
`aad o365group teamify` and `teams team add` are not quite the same. `teams team add` allows you to create a Team from scratch while `aad o365group teamify` allows you to extend an existing group with a Team. So both commands are only the same when you teamify an existing group, but in case you want to create a new Team with a new group, you still need `teams team add`.

We could go about it two w

[2020-04-18 12:09] waldekmastykarz commented on #1457
@pnp/office-365-cli-maintainers looking at the name of this command, wouldn't `yammer group user remove` be more consistent with other commands in the CLI? If you agree, I'll adjust it when merging the PR. Sorry for not catching it earlier @plamber 😊

[2020-04-18 12:16] appieschot commented on #1457
@waldekmastykarz  agree, makes more sense to have it as a 'remove' action.

[2020-04-18 12:28] garrytrinder commented on #1497
My vote would go to option 1, this keeps the `teams team add` command specific to creating a Team from scratch.

[2020-04-18 12:35] plamber commented on #1457
Hi,
I had the same thought initially. But since you are leaving a group, I thought it might be better.

Nevertheless, I am fine with your suggested change.

Br

[2020-04-18 12:37] plamber commented on #1456
@waldekmastykarz based on our discussion about the leave command I assume it would be better suited to change this command to "add"

[2020-04-18 12:42] garrytrinder commented on #1457
I agree with the suggestion @waldekmastykarz, we should look to use standard verbs for consistency, so using the `remove` verb makes sense.

[2020-04-18 12:47] waldekmastykarz commented on #1456
@garrytrinder had a nice suggestion to name this command `yammer group user add` to keep it in sync with the remove command.

[2020-04-18 13:24] garrytrinder commented on #1465
The URL also needs updating on `spo theme apply` command.

[2020-04-18 13:54] garrytrinder commented on #1474
@Damag3d is this still an issue for you?

[2020-04-18 13:54] garrytrinder commented on #1461
@tristian2 is this still an issue for you?

[2020-04-18 17:45] waldekmastykarz commented on #1497
Check. @VelinGeorgiev, @appieschot, what do you guys think?

[2020-04-18 18:28] VelinGeorgiev commented on #1457
Agree. User remove sounds ok to me

[2020-04-19 04:31] rabwill commented on #12
Crazy week, will look into this in the next community day (coming week) folks.

[2020-04-19 06:54] plamber commented on #1456
@waldekmastykarz: unfortunately the command does not behave as expected. The official documentation states that if a user is not a member of the yammer network, an invitation is going to be sent. This is not the case. It only returns a HTTP 400 error message.

Since I do not know if the HTTP 400 error message is thrown due to this use case or something else, I am just going to return the HTTP 400

[2020-04-19 08:12] waldekmastykarz commented on #12
No problem. Thank you for the update! ❤️

[2020-04-19 08:14] waldekmastykarz commented on #1456
Yes, let's do that for now. If need be, we can optimize it later. Appreciate you looking into it 👍

[2020-04-19 08:32] #1449 closed

[2020-04-19 08:35] #1471 closed

[2020-04-19 08:35] #1466 closed

[2020-04-19 08:36] #1470 closed

[2020-04-19 08:37] #1465 closed

[2020-04-19 08:57] waldekmastykarz opened #1506 "Create sample script that shows how to remove the wiki tab in a Teams channel"
Following Laura's blog post @ https://laurakokkarinen.com/deleting-the-treacherous-wiki-tab-as-a-part-of-your-teams-provisioning-process/, let's adopt the solution to be based on a script using the CLI.

[2020-04-19 08:58] waldekmastykarz commented on #1506
@rabwill since you've contributed the CLI's command to remove Teams tabs, would this be something for you perhaps? 😊

[2020-04-19 09:36] rabwill commented on #1506
My pleasure, please assign me 🙌🏼

[2020-04-19 09:48] garrytrinder commented on #1506
I wrote this gist https://gist.github.com/garrytrinder/4df2aeaf9dd66c4375308874eb7def63, it was the reason I raised the Issue for the command you just contributed @rabwill :)

[2020-04-19 13:10] aakashbhardwaj619 commented on #1450
Hi guys, can I take this up?

[2020-04-19 13:34] garrytrinder commented on #1450
Absolutely, thank you for your help @aakashbhardwaj619 👏🏻

It’s all yours 👍🏻

[2020-04-19 15:09] plamber commented on #1490
Interested in picking this up

[2020-04-19 17:22] waldekmastykarz opened #1507 "Enhancement: move SPFx test projects out of the `spfx project upgrade` command folder"
We should move SPFx projects from `src/o365/spfx/commands/project/project-upgrade/test-projects` to `src/o365/spfx/commands/project` to avoid duplication and make it clear that they can be used for testing by any command.

[2020-04-19 17:24] waldekmastykarz commented on #1506
Totally lost track of it 😊 Thank you both! 👏

[2020-04-19 17:28] waldekmastykarz commented on #1450
For consistency reasons, shall we reconsider the naming of the options? Typically, the short `id` refers to the last noun in the command. In this case it would refer to `app` rather than `user`, so following this convention, we'd use `--id, --userId`. Still, like in all other Teams commands, all the IDs can get easily mixed up which is often we chose not to use the short `id` at all but always mak

[2020-04-19 18:52] garrytrinder commented on #1450
Thanks for the suggestion @waldekmastykarz 🙌🏻 I've updated the spec accordingly 👍🏻

[2020-04-20 10:45] appieschot commented on #1497
Vote for option 1 as well :), we should track usage though, do we see a drop in the use of the command once option 1 is implemented. That might give insights into how it is being used.

[2020-04-20 12:14] ZdrowyGosciu commented on #821
https://docs.microsoft.com/pl-pl/graph/api/team-update-photo?view=graph-rest-beta 👍

[2020-04-20 17:15] waldekmastykarz commented on #1497
One step ahead of ya: from the last 3 months of usage, only 11% calls used the `groupId` options. With that, let's stick to option 1.

[2020-04-22 08:07] waldekmastykarz opened #1509 "Bug report: Resolution of the FN011008 SPFx project upgrade rule misses closing `}`"
### Description

Resolution of the FN011008 SPFx project upgrade rule misses closing `}`

### Steps to reproduce

Upgrade SPFx v1.0.0 project to v1.1.3 or newer

### Expected result

[code]

### Actual result

[code]

### Environment

CLI v2.9

[2020-04-22 08:14] waldekmastykarz opened #1510 "Enhancement: FN011008 SPFx project upgrade rule should supersede FN011009"
The FN011008 SPFx project upgrade rule should supersede FN011009.

Right now, when upgrading projects from SPFx v1.1, you get both resolutions to rename the `safeWithCustomScriptDisabled` property to `requiresCustomScript` (FN011008) and remove the `safeWithCustomScriptDisabled` property (FN011009). In this context, the FN011009 resolution is obsolete, because the property has already been renamed

[2020-04-22 10:18] waldekmastykarz opened #1511 "Bug report: FN017001 misses in the summary"
### Description

The FN017001 SPFx project upgrade rule is not included in the summary

### Steps to reproduce

Upgrade SPFx project

### Expected result

Rule FN017001 is included in the summary

### Actual result

Rule FN017001 is not included in the summary

### Environment

CLI v2.9

[2020-04-22 17:28] waldekmastykarz commented on #1221
We'll close this issue in favor of separate issues one for each package so that we can track the work more easily.

[2020-04-22 17:28] #1221 closed

[2020-04-22 17:29] waldekmastykarz opened #1512 "Enhancement: suggest upgrading dependency microsoft@sp-component-base"
Related to #1221

When upgrading SPFx projects, suggest upgrading the microsoft@sp-component-base dependency

Finding ID: FN001023_DEP_microsoft_sp_component_base
Applicable to SPFx versions: all
Optional: true
Dev dependency: false

[2020-04-22 17:30] waldekmastykarz opened #1513 "Enhancement: suggest upgrading dependency microsoft@sp-diagnostics"
Related to #1221

When upgrading SPFx projects, suggest upgrading the microsoft@sp-diagnostics dependency

Finding ID: FN001024_DEP_microsoft_sp_diagnostics
Applicable to SPFx versions: upgrading from 1.5.0 and higher
Optional: true
Dev dependency: false

[2020-04-22 17:31] waldekmastykarz opened #1514 "Enhancement: suggest upgrading dependency microsoft@sp-dynamic-data"
Related to #1221

When upgrading SPFx projects, suggest upgrading the microsoft@sp-dynamic-data dependency

Finding ID: FN001025_DEP_microsoft_sp_dynamic_data
Applicable to SPFx versions: upgrading from 1.5.0 and higher
Optional: true
Dev dependency: false

[2020-04-22 17:32] waldekmastykarz opened #1515 "Enhancement: suggest upgrading dependency microsoft@sp-extension-base"
Related to #1221

When upgrading SPFx projects, suggest upgrading the microsoft@sp-extension-base dependency

Finding ID: FN001026_DEP_microsoft_sp_extension_base
Applicable to SPFx versions: all
Optional: true
Dev dependency: false

[2020-04-22 17:33] waldekmastykarz opened #1516 "Enhancement: suggest upgrading dependency microsoft@sp-http"
Related to #1221

When upgrading SPFx projects, suggest upgrading the microsoft@sp-http dependency

Finding ID: FN001027_DEP_microsoft_sp_http
Applicable to SPFx versions: all
Optional: true
Dev dependency: false

[2020-04-22 17:34] waldekmastykarz opened #1517 "Enhancement: suggest upgrading dependency microsoft@sp-list-subscription"
Related to #1221

When upgrading SPFx projects, suggest upgrading the microsoft@sp-list-subscription dependency

Finding ID: FN001028_DEP_microsoft_sp_list_subscription
Applicable to SPFx versions: upgrading from v1.7.0 and higher
Optional: true
Dev dependency: false

[2020-04-22 17:35] waldekmastykarz opened #1518 "Enhancement: suggest upgrading dependency microsoft@sp-loader"
Related to #1221

When upgrading SPFx projects, suggest upgrading the microsoft@sp-loader dependency

Finding ID: FN001029_DEP_microsoft_sp_loader
Applicable to SPFx versions: all
Optional: true
Dev dependency: false

[2020-04-22 17:36] waldekmastykarz opened #1519 "Enhancement: suggest upgrading dependency microsoft@sp-module-interfaces"
Related to #1221

When upgrading SPFx projects, suggest upgrading the microsoft@sp-module-interfaces dependency

Finding ID: FN001030_DEP_microsoft_sp_module_interfaces
Applicable to SPFx versions: all
Optional: true
Dev dependency: false

[2020-04-22 17:37] waldekmastykarz opened #1520 "Enhancement: suggest upgrading dependency microsoft@sp-odata-types"
Related to #1221

When upgrading SPFx projects, suggest upgrading the microsoft@sp-odata-types dependency

Finding ID: FN001031_DEP_microsoft_sp_odata_types
Applicable to SPFx versions: all
Optional: true
Dev dependency: false

[2020-04-22 17:38] waldekmastykarz opened #1521 "Enhancement: suggest upgrading dependency microsoft@sp-page-context"
Related to #1221

When upgrading SPFx projects, suggest upgrading the microsoft@sp-page-context dependency

Finding ID: FN001032_DEP_microsoft_sp_page_context
Applicable to SPFx versions: all
Optional: true
Dev dependency: false

[2020-04-23 01:49] pkskelly opened #1522 "New sample script: Inventory of Flows mapped to Owner Name, Email"
|Docs||
|-----|----|
|Author|Pete Skelly|
|Original Post|https://peteskelly.com/lightweight-reports-using-the-office-365-cli-and-jq/ |
|Description|Script to demonstrate how to retrieve flows from the Default environment, map them to owner information from Azure AD and export to CSV for review.|
|Keywords|Flow Governance Azure AD |

Happy to contribute scripts if deemed valuable. Will need a bit o

[2020-04-23 08:58] waldekmastykarz commented on #1522
Nice! Please do! Regarding submit a sample it's two steps:

1. Write a page like https://github.com/pnp/office365-cli/blob/master/docs/manual/docs/examples/spo/add-app-catalog.md (you don't need to submit both bash and PowerShell variants initially. If you want to do only one that's okay and we can ask others to add the other variant later)
1. Add a reference to the page in the examples section in

[2020-04-23 11:22] waldekmastykarz commented on #1462
Looking at it closer it might've been a one-time glitch. A newly generated report seems to be highlighting code just fine.

[2020-04-23 11:22] #1462 closed

[2020-04-23 19:48] VelinGeorgiev commented on #1314
So guys just FYI, the CLI is using the `username` (-u) option in a case of user signed identity. Here is the help examples:

[code]

[2020-04-23 21:28] sprider opened #1524 "Bug report: Unable to add a new webhook to the specified list"
### Description

Unable to add a new webhook to the specified list

### Steps to reproduce
- Create a Function using Fucntion App in Azure
- Add a new webhook to the specified list using the following command
https://pnp.github.io/office365-cli/cmd/spo/list/list-webhook-add/

### Expected result
Should add a web hook to the list list located in SharePoint site with the notification url given and t

[2020-04-23 21:47] VelinGeorgiev commented on #1314
@garrytrinder  seems the things has changed slightly. Passing just a clientId is not enought in a case of multiple user managed identities assigned to the function/app/vm.

I am adding the new api to the app service https://docs.microsoft.com/en-us/azure/app-service/overview-managed-identity?tabs=dotnet

By using the mi_res_id query param , we will be on the safe side in case of multiple identitie

[2020-04-24 06:21] waldekmastykarz commented on #1522
Awesome! Looking forward to it 👍

[2020-04-24 06:22] garrytrinder commented on #1524
I’ve used this command before so can confirm that it has worked for me previously.

The message is consistent with what happens when the validation code, that is sent in the initial request, is not returned back to SharePoint in a timely manner to complete the subscription.

How are you returning the validation token? Can you share some of your function code?

[2020-04-24 06:26] waldekmastykarz commented on #1314
Good input @VelinGeorgiev. I'd suggest we stay as close to az CLI as possible to avoid unnecessarily introducing new concepts.

[2020-04-24 13:33] ktskumar commented on #1492
Hi Waldek, May I take this up!

[2020-04-24 17:26] waldekmastykarz commented on #1492
Please do! Don't hesitate to reach out if you have any questions.

[2020-04-26 12:59] sprider commented on #1524
Hi @garrytrinder,

My funciton is very simple. Please check the below code:
https://github.com/SharePoint/sp-dev-docs/blob/master/docs/apis/webhooks/sharepoint-webhooks-using-azure-functions.md
I tried with postman and SP Editor(Chrome Extension - https://chrome.google.com/webstore/detail/sp-editor/ecblfcmjnbbgaojblcpmjoamegpbodhd/related?hl=en) as well but the same error.

[2020-04-26 17:27] waldekmastykarz commented on #1524
Given you can reproduce the error outside of the CLI, could we assume that it's something else not related to the CLI?

[2020-04-26 17:30] sprider commented on #1524
@waldekmastykarz Yes, Let us close this. Thanks!

[2020-04-26 17:30] #1524 closed

[2020-04-27 06:18] garrytrinder commented on #1474
Closing due to lack of response

[2020-04-27 06:18] #1474 closed

[2020-04-27 06:19] garrytrinder commented on #1461
Closing due to lack of response

[2020-04-27 06:19] #1461 closed

[2020-04-27 08:36] waldekmastykarz commented on #1524
Thank you for confirming! 👍

[2020-04-27 10:55] appieschot opened #1531 "Bug report: mpa docker path for windows"
### Description

The current mpa.md file describes the process of running the documentation build in docker. The docker command for windows is slightly off.

It's is not providing the path in the correct format: ` -v c/projects/office365-cli/docs/manual:/docs` but should be ` -v c:/projects/office365-cli/docs/manual:/docs`

Also the documentation build only works with a specific version of materia

[2020-04-27 19:51] ashokswain27 commented on #1496
We have a similar use case for the authentication using certificate in CI/CD pipeline. It would be helpful if we can get any documentation for the same.

[2020-04-27 20:16] ashokswain27 opened #1532 "Bug report: o365 login using a certficate not working and how to pass the TenantId and AppClientid?"
Trying to connect the o365 using a certificate.
https://pnp.github.io/office365-cli/user-guide/connecting-office-365/#log-in-using-a-certificate

Followed the below steps:
a) Create a self signed certificate and Personal Information Exchange (.pfx) file
b) Created an Azure AD App, Uploaded the same certficate(.cer file)
C) Granted the "SharePoint API permission"
d) Created the two variables OFFICE

[2020-04-28 06:04] waldekmastykarz commented on #1532
Is your certificated password-protected? If so, are you also specifying the password using the `--password` option?

[2020-04-28 06:13] VelinGeorgiev commented on #1532
@ashokswain27 , have you specified the thumbprint. By looking at the bug description it seems like  you are passing an empty thumbprint which will fail the login.

You can find your thumbprint in the Azure AD app going on certificates and secrets
![image](https://user-images.githubusercontent.com/1049476/80453228-c0ceef00-891f-11ea-8885-b6999dca7af1.png)

[2020-05-01 17:35] waldekmastykarz opened #1536 "Remove deprecated `id` option in the `spo site set` command"
In the `spo site set` command, remove the deprecated `id` option. Since the ID is automatically retrieved on each execution, it no longer needs to be specified and is therefore obsolete.

[2020-05-01 22:18] sprider opened #1540 "New sample: Add remove bulk users to Microsoft Teams or Groups"
@waldekmastykarz, Could you please let me know if we can add this sample? If so, please assign this issue to me.

Thanks !

Docs |  
-- | --
Author |Joseph Velliah
Original Post |https://sprider.blog/add-remove-bulk-users-to-from-microsoft-teams-microsoft-365-group-office-365-cli-commands
Description |In this example, I am going to explain how to add remove bulk users to Microsoft Teams team or Mi