[2022-10-20 17:08] waldekmastykarz commented on #3783
We'd need to think about the user experience especially in cases when there are more results than what fits on the screen: can a terminal handle that properly? How would a user locate an item among 100 of items?

[2022-10-20 17:49] waldekmastykarz commented on #1620
Seems like right now this isn't relevant because we've got only one case where we're creating a folder and the folder needs to be created in the root folder of the workspace, so there's no way for us to really use this feature. Closing for now.

[2022-10-20 17:49] #1620 closed

[2022-10-20 17:52] milanholemans commented on #3857
Noticed that this is only happening in Node v14, in Node v16 it's working fine for me.

[2022-10-20 18:42] martinlingstuyl commented on #3853
It seems not. I did some testing, but I'd sure like a peer review there. Maybe I'm overlooking something!

[2022-10-20 18:52] martinlingstuyl opened #3859 "Update `mkdocs.yml` to ensure consistency between Nav menu items and headers"
By default, MkDocs uses the first page header as title for the navigation item.

You can diverge from that by using the following setup in the nav section: `- 'some title': 'docs/some-file.md'`

This is handy for some situations, for example when you want to create a menu item called 'Introduction' for a page but use a different page header like 'Welcome to the CLI docs'

However, in the CLI Docs,

[2022-10-20 19:43] milanholemans opened #3860 "Make `id` option required for command `spo list webhook` `get` and `set`"
The command [spo  list webhook get](https://pnp.github.io/cli-microsoft365/cmd/spo/list/list-webhook-get) has an option `id` which is marked as optional in the docs. Also in the command logic the `id` is an optional property.
This should be a required property because the code assumes that it is always filled in.

What has to be adjusted?
* Make the option required in the docs
* Remove ID option f

[2022-10-20 21:26] martinlingstuyl commented on #3782
Good points all. Well, I think we need to check what is really helpful for the user.

At minimum I'd like the `--help options`

It should print the name, command description and options. Something like that.

As for the other option values, I'd propose the same: name, description and the named section.

[2022-10-20 21:56] milanholemans opened #3861 "Enhancement: Extend `spo list webhook set` command with possibility to set `clientState`"
Add an extra option to `spo list webhook set` to update clientState property.

Option | Description
---|---
`-c, --clientState [clientState]` | A client state information that will be passed through notifications.

[2022-10-21 05:56] waldekmastykarz commented on #3792
Great suggestion! Ship it!

[2022-10-21 06:43] Rishabhraghwendra18 opened #3862 "The link to `SpoCommand` in `Adding-a-command` is not valid"
### Description

There's a link to base class `SpoCommand` for `spo` service in the [`Adding-a-command` wiki](https://github.com/pnp/cli-microsoft365/wiki/Adding-a-command).

### Steps to reproduce

1. Go to [`Adding-a-command` wiki](https://github.com/pnp/cli-microsoft365/wiki/Adding-a-command).
2. Click on `SpoCommand` base class hyperlink.
3. Shows 404 file not found

### Expected results

The

[2022-10-21 06:44] Rishabhraghwendra18 commented on #3862
If this a valid issue I will like to contribute to it under hacktoberfest

[2022-10-21 07:08] Rishabhraghwendra18 commented on #3860
Hi @milanholemans, I have gone through the codebase and read the contributors' guidelines. I am really interested in contributing to this issue, but I cannot figure out how to make the option `id`  required in the code.

[2022-10-21 07:12] milanholemans commented on #3862
Hi @Rishabhraghwendra18

Thank you for pointing this out! However the wiki pages cannot be edited by contributors, only the maintainers have the ability to edit it.
I've fixed the link on the page.

[2022-10-21 07:12] #3862 closed

[2022-10-21 07:18] Rishabhraghwendra18 commented on #3862
Np @milanholemans

[2022-10-21 07:20] milanholemans commented on #3860
Hi @Rishabhraghwendra18

For point 3, we should update the option declaration in our code.

https://github.com/pnp/cli-microsoft365/blob/37c90df67aa4ab3d9bbb953b24815e9c81d187e1/src/m365/spo/commands/list/list-webhook-get.ts#L60

We should make the option required here.
That's all that should happen, because in the rest of the code we are already assuming that `id` is required.

For more info:
req

[2022-10-21 10:58] nanddeepn commented on #3854
Can I work on this?

[2022-10-21 11:11] milanholemans commented on #3854
Sure @nanddeepn
Thank you!

[2022-10-21 11:44] arjunumenon commented on #3857
Hi @Adam-it  - I had tried in the beta with Node 14.16.0 version and I am getting the same error.

![image](https://user-images.githubusercontent.com/10369964/197187256-561cd379-fc5e-46f7-97be-b24cce559c60.png)

@milanholemans  - Can I know which Node version you had tried. I am getting issue on 16.0.0 as well.
![image](https://user-images.githubusercontent.com/10369964/197188176-776a9f50-0268-49b

[2022-10-21 11:50] arjunumenon commented on #3857
Just some more information. Guess all the `cli config` series (`m365 cli config get --help`, `m365 cli config reset --help`) help command is throwing error.

[2022-10-21 12:22] milanholemans commented on #3857
Hi @arjunumenon

Using Node 16.13.2, working fine over there. I'm getting the same error on v14.20.0

![image](https://user-images.githubusercontent.com/11723921/197194460-637bdebd-d58f-44f8-b3f3-d5315670c87a.png)

[2022-10-21 17:14] arjunumenon commented on #3857
Hey @milanholemans - That is weird. When I execute that, I am still getting error. 🤔

Any chance that you are trying this out from the working folder of CLI Source code and not  freshly installed cli package from npm. I suspect that might be causing the issue.

- Can you remove the cli packages globally from the node version
- Unlink it
- Install it directly from npm package

My strong suspicion i

[2022-10-21 17:25] milanholemans commented on #3857
Yes @arjunumenon you are right
When I install the npm version, I'm getting the same error, good catch! 😃

[2022-10-21 18:10] Rishabhraghwendra18 commented on #3860
Ok. Thanks @milanholemans, I will make a PR for this.

[2022-10-21 18:12] milanholemans commented on #3860
Great, thanks @Rishabhraghwendra18!

[2022-10-21 19:07] nicodecleyre commented on #3723
can I work on this one? :hugs:

[2022-10-21 20:21] milanholemans commented on #3723
All yours @nicodecleyre
Thank you!

[2022-10-21 22:21] #3812 closed

[2022-10-21 22:21] #3835 closed

[2022-10-21 22:21] Adam-it commented on #3857
yes I also managed to reproduce it locally when running from installed npm package 🙂 good tip @arjunumenon 👍.
I think it is due to the fact that the _clisettings.md is not added to the npm package on publish and this is because we exclude all docs except the `docs/docs/cmd/**` files
.npmignore:
[code]

To resolve this issue I think we should add just a rule like `!docs/docs/_clisettings.md` to thi

[2022-10-21 22:27] milanholemans commented on #3857
Looks good @Adam-it! Good catch!

[2022-10-21 23:48] #3833 closed

[2022-10-21 23:48] #3852 closed

[2022-10-22 05:07] #3777 closed

[2022-10-22 05:07] #3799 closed

[2022-10-22 05:08] #3825 closed

[2022-10-22 05:09] Rishabhraghwendra18 commented on #3860
@milanholemans, I have removed id option from telemetry and made the option required. But my code coverage for `Branches`, `Lines` and `Statements` is `99.99%` only. How can I fix that? Do I need to add more tests?

[2022-10-22 10:19] milanholemans commented on #3860
That would be odd. Is the coverage of the specific command 99.99% or the overall coverage of the project?

You can check the coverage report generated in your project.
It's located in the coverage folder in the root of the project.
There just check the coverage of the command's you updated. You can ignore the coverage of all other commands.

[2022-10-22 13:42] waldekmastykarz opened #3870 "Update GitHub actions (part 2)"
Related to #3799

Seems like we've got a new set of warnings in our build pipes due to outdated actions:

Node.js 12 actions are deprecated. For more information see: https://github.blog/changelog/2022-09-22-github-actions-all-actions-will-begin-running-on-node16-instead-of-node12/. Please update the following actions to use Node.js 16: al-cheb/configure-pagefile-action

Node.js 12 actions are dep

[2022-10-22 14:23] #3555 closed

[2022-10-22 14:23] #3640 closed

[2022-10-22 14:23] #3809 closed

[2022-10-22 15:01] waldekmastykarz commented on #3853
I had a look at it as well, and it seems like minimist is not helping us here indeed, unfortunately. Looking at the current spec, I'd prefer us to look for a way to do it centrally and in our code be able to assume that the value is a boolean. So perhaps before we pass the args to minimist, we rewrite boolean-like values to a bool true|false so that minimist's validation won't trip and we don't ne

[2022-10-22 15:04] waldekmastykarz commented on #3760
@martinlingstuyl both changes need to be done in v6 because we're changing the name of an existing command and introducing a new command under the existing name. Let's create the needed issues and get the work done asap. Renaming the existing commands needs to be done for v6. Introducing the new command could be done in later versions.

[2022-10-22 15:09] waldekmastykarz commented on #3870
al-cheb/configure-pagefile-action doesn't have a Node@16 version yet. I offered to submit a PR https://github.com/al-cheb/configure-pagefile-action/issues/14. Awaiting author's response.

[2022-10-22 15:12] milanholemans commented on #3760
I'll create the issues today and make sure the work is done within this/next week.

[2022-10-22 16:22] MathijsVerbeeck commented on #3813
@milanholemans I could work on this!!!

[2022-10-22 16:23] milanholemans commented on #3813
Awesome @MathijsVerbeeck, all yours!

[2022-10-22 16:45] MathijsVerbeeck commented on #3840
While working on issue #3813 , I found out that listitem-list also contains deprecated options `id` and `title`.

[2022-10-22 16:47] MathijsVerbeeck commented on #3854
@Jwaegebaert , @nanddeepn I found out that the command `spo listitem list` also has to be refactored to use option sets.

[2022-10-22 17:11] milanholemans commented on #3770
Hi @appieschot

While reviewing this PR I noticed we could also add the `name` option to retrieve a card by name. Does this make any sense?
@nicodecleyre would you mind adding this to your PR?

[2022-10-22 17:24] waldekmastykarz commented on #3859
Good suggestion @martinlingstuyl. Could we make this more specific by listing files that need adjustment, and get to the point where we have enough information in the spec to be able to verify that the submitted PR matches what's needed?

[2022-10-22 17:34] milanholemans opened #3877 "Rename `spo hubsite connect` to `spo site hubsite connect`"
We should rename the command `spo hubsite connect` to `spo site hubsite connect`.

More context: https://github.com/pnp/cli-microsoft365/issues/3760#issuecomment-1273278730

[2022-10-22 17:34] waldekmastykarz commented on #3516
Hey @garrytrinder, are you still working on this?

[2022-10-22 17:37] milanholemans opened #3878 "Rename `spo hubsite disconnect` to `spo site hubsite disconnect`"
We should rename the `spo hubsite disconnect` command to `spo site hubsite disconnect`.

More context: https://github.com/pnp/cli-microsoft365/issues/3760#issuecomment-1273278730

[2022-10-22 17:41] waldekmastykarz commented on #2610
Since we're not applying changes automatically, this would be a huge change to how we deal with SPFx upgrade. I doubt that it's worth the effort given that it occurred only once and we didn't get much traction on this issue. Closing for now and we can always revisit it in the future if need be.

[2022-10-22 17:41] #2610 closed

[2022-10-22 19:42] pratik2315 commented on #3878
Hey there @milanholemans !
I am new to the ms cli community and wanted to work on this issue as a part of hacktoberfest and work with this community beyond the fest. I am still in learning phase of typescript and ms cli (development), do you think issue is suited to a beginner?

If it is, can you please guide me a bit about it?

[2022-10-22 20:51] milanholemans commented on #3878
Hi @pratik2315

Thank you for your enthusiasm! We are always happy to welcome new contributors.
However this is an issue we need merged ASAP since our v6 release is right around the corner. Also this issue is blocking another issue at the moment, that's why I assigned it to myself so we can fix it right away.

If you want to contribute, I suggest that you check our issue list, there are plenty of

[2022-10-22 21:37] milanholemans commented on #3760
Since we will call the command `spo hubsite disconnect`, I updated the options to `id`, `title` and `url` again.

[2022-10-22 21:46] milanholemans commented on #3759
Updated the options back to their previous version since the command is now called `spo hubsite connect`

[2022-10-22 21:52] milanholemans opened #3881 "Rename `spo hubsite theme sync` to `spo site hubsite theme sync`"
According to our latest hub site command renaming, more context: https://github.com/pnp/cli-microsoft365/issues/3760#issuecomment-1273278730, I think we should also move `spo hubsite theme sync` under `spo site` group.
It syncs the theme of the hub site and has in fact nothing to do with the hub site 'object'.

[2022-10-22 21:52] milanholemans commented on #3881
@pnp/cli-for-microsoft-365-maintainers what do you think?

[2022-10-22 22:29] milanholemans commented on #3298
Am I missing something, or is `welcomeMessage` not in the API docs? 😊

[2022-10-23 03:23] arjunumenon commented on #3298
Guess the properties are there [here](https://learn.microsoft.com/en-us/graph/api/resources/invitation?view=graph-rest-1.0#properties), where you can setup welcome message

[2022-10-23 06:21] plamber opened #3882 "New sample script: Send an e-mail and Teams Notification to a DevOps Team"
|Docs||
|-----|----|
|Author| Patrick Lamber |
|Original Post| No post |
|Description| The idea of the script is to show how you could send the output of a script to a DevOps Team. Take any output you like and generate a CSV that you will send as an attachment to an e-mail (DevOps Team). Show also how you can create an Incoming Webhook in teams and send the script output as an adaptive card. |
|Ke

[2022-10-23 06:50] #3422 closed

[2022-10-23 06:50] #3857 closed

[2022-10-23 07:19] #3840 closed

[2022-10-23 07:20] #3877 closed

[2022-10-23 07:20] #3878 closed

[2022-10-23 09:07] waldekmastykarz commented on #3881
So the idea is that if you have a regular site (so not necessarily a hubsite) connected to a hubsite, it can get the theme synced from the hubsite it's connected to, right? In that case, it would indeed be inline to rename the command as you suggested.

[2022-10-23 11:35] nicodecleyre commented on #3770
good point! This is now added in the pr

[2022-10-23 11:37] waldekmastykarz commented on #2155
Closing due to lack of response

[2022-10-23 11:37] #2155 closed

[2022-10-23 11:44] milanholemans commented on #3298
Aw my bad, I read `sendInvitationMessage` as `invitationMessage` and was a bit confused what the difference was with `welcomeMessage`. My bad, sorry for the hassle 😃

[2022-10-23 11:45] waldekmastykarz commented on #3782
If we look for example at PowerShell, it seems like you get the name + description (synopsis) plus the specified section. You also have the ability to request full help with the `-Full` switch. What's interesting though is, what if you wanted to get options + examples? Would you need to request `--help full`?

[2022-10-23 11:57] milanholemans commented on #3881
That is indeed the case.

[2022-10-23 12:01] waldekmastykarz opened #3884 "Refactor the option sets interface to support validating optional and dependent options"
Refactor options sets to:

[code]

The `runsWhen` property is optional. When not specified, the option set will be validated. When specified, it will evaluate the specified function and validate the option set only when the function returned true.

- [x] Update interface
- [x] Fix broken code

[2022-10-23 12:02] waldekmastykarz opened #3885 "Update commands to use the new option sets functionality for validating options"
Define the list of commands where we could use the new option sets validation functionality. Once we have the list of commands to update, we can divide the work.

[2022-10-23 18:04] MathijsVerbeeck commented on #3807
I could work on this!

[2022-10-23 18:20] milanholemans commented on #3807
Awesome, all yours!

[2022-10-23 18:28] Jwaegebaert commented on #3854
Good catch! Specs have been updated.

[2022-10-23 18:54] #3722 closed

[2022-10-23 18:54] #3770 closed

[2022-10-23 19:08] milanholemans opened #3890 "Incomplete description for `pp card get`"
The command `pp card get` has an incomplete description for the `id` option. It should also say `Specify either id or name but not both.`

https://pnp.github.io/cli-microsoft365/cmd/pp/card/card-get/

[2022-10-23 19:12] nicodecleyre commented on #3890
assign ne please 😄

[2022-10-23 19:13] milanholemans commented on #3890
All yours!

[2022-10-23 19:57] nicodecleyre commented on #3790
Can i work on this one? :rocket:

[2022-10-23 20:10] milanholemans commented on #3790
All yours!

[2022-10-23 21:59] milanholemans opened #3892 "Update VS Code settings"
Recently we created some default VS Code settings. In practice these settings don't really help when you have other formatting tools installed. If you have your own formatting tool installed, VS will use this tool to format the document on save. These tools don't always do a good job that is in line with our coding conventions.

Therefore we should revisit some of the settings.

- [ ] Remove the `

[2022-10-23 22:00] milanholemans commented on #3892
@pnp/cli-for-microsoft-365-maintainers any comments/additions?

[2022-10-23 22:10] Jwaegebaert commented on #3892
Big fan of this! Let's try getting this in ASAP. I'm getting a lot of struggles with these settings.

[2022-10-23 22:18] #3827 closed

[2022-10-23 22:18] #3728 closed

[2022-10-23 22:18] #3765 closed

[2022-10-23 22:18] #3890 closed

[2022-10-23 22:33] milanholemans commented on #3827
@WG- the PR has been merged. These options are now available in our beta release.
Next week this version will be published as new alpha version.
Thank you for the enhancement!

[2022-10-24 08:00] Adam-it commented on #1961
@waldekmastykarz I know it has been already some time but I always seem to have something more important in CLI than creating new issues which we have like ... a lot  😉.
🙏 please lets wait on this subject a bit longer until we decide (get votes) what to do with our current approach in samples
I will assign myself to this issue in order to check it every time when working on CLI 😉

[2022-10-24 08:13] David74000 opened #3894 "m365 flow list throws error "x-ms-client-scope header must not be null or empty""
Hello,
I am trying to monitor my Power automate flows through a scheduled powershell script + m365 CLI. I use the following command which works perfectly with my user account:
`m365 flow list --environment $environment --output json`

Now I would like to use it through an app ID authentication (`m365 login --secret`). I made an app registration with access to Flow Service (Flow.Read.All as API per

[2022-10-24 08:16] MathijsVerbeeck commented on #3814
I could work on this!

[2022-10-24 08:17] Jwaegebaert commented on #3814
You're good to go @MathijsVerbeeck!

[2022-10-24 08:22] Adam-it opened #3895 "File Version Commands 📄"
## 💡 What is the Idea

Currently in CLI for M365 we have little commands that allow to manage file versions. We have the basic `spo file checkin` and `spo file checkout` which is a good start but we are missing functionality which will allow to list all versions of a file, get a specific version of a file, remove a specific version and restore file to a specific version

## 💪  What to do ?

I prop

[2022-10-24 08:42] milanholemans commented on #3895
Looking good Adam! Nice idea!

[2022-10-24 09:01] Adam-it opened #3896 "M365 local context 🧺"
## 💡 What is the Idea

The idea here is to give users possibility to save any kind of option with defined value (key/value pairs) in a local json file. Then when any command will be executed, from the place where this file is located,  CLI will first check all options defined in this file and if any may be used to fill the currently executed command. The local file created with the context structu

[2022-10-24 09:26] waldekmastykarz commented on #3818
What if we used not `isAppOnlyConnected` but rather show the value of the `authType` option that was used during login? It would not only allow you to determine if you're using app-only or not but could possibly support other scenarios as well.

Yes, we store the information along tokens. We're serializing the instance of the Service class and have access to its properties https://github.com/pnp/c

[2022-10-24 09:32] waldekmastykarz commented on #3896
Nice suggestion! A few comments:

- it shouldn't be relevant to the user how we persist context. As such, I'd propose that we remove `file` from `m365 context` and keep `m365 context create` and `m365 context remove`
- what do you think about `m365 context init` instead of `...create`? It might be more in line with other similar commands such as `git init`, `npm init`, etc.
- to make it clear I'd

[2022-10-24 10:26] Rishabhraghwendra18 commented on #3860
@milanholemans for overall project it's 99.99% otherwise for just the command it's 100%

[2022-10-24 10:32] milanholemans commented on #3860
Then it is perfectly fine. Just just the coverage of commands you edited. If that's 100% you are good to go! 👍

[2022-10-24 10:50] Adam-it commented on #3896
thanks 😊

great idea 👍

great idea 👍, lets go with `init`

great idea 👍, `property` will be ok

updated the spec. thanks @waldekmastykarz for your comment 🤩

[2022-10-24 10:52] Adam-it commented on #3896
yes that is exactly what I tried to described. If an option is not already specified by the user then we search for it in the context.
the only problem will be when for example in context we will have a `listTitle` and user runs a command with `listId` then probably CLI will run the command with both options resulting in option set validation error. Which for me is fine, I mean the user should kno

[2022-10-24 11:34] milanholemans commented on #3894
Hi @David74000

Thank you for your feedback. Can I ask you to fill in our bug issue template for this? This way we get some extra info and we can try to replicate the problem.

[2022-10-24 11:45] David74000 commented on #3894
Hi @milanholemans, sure, here are all information from the bug issue template:
Expected results : list all flows on current environment
Actual results: following error "x-ms-client-scope header must not be null or empty"
CLI for Microsoft 365 version : v5.8.0
nodejs version: v16.13.2
Operating system (environment): Windows
Shell: PowerShell

[2022-10-24 12:08] martinlingstuyl commented on #3853
That's also a good idea @waldekmastykarz, would we need to use the this.types.boolean string array consistently in that case? Otherwise we would not know whether `1` means `true` or...well `1`.

[2022-10-24 16:35] appieschot commented on #3770
Pfew take a long weekend and the problem solves itself 🎉awesome work @nicodecleyre and thanks for keeping the specs sharp @milanholemans 🚀

[2022-10-24 16:40] Jwaegebaert commented on #3892
I can pick this up

[2022-10-24 16:40] appieschot commented on #3892
Since we have a `"files.insertFinalNewline": false,` agree that we can remove the `editor.renderFinalNewline`

The goal is to make sure our files are formatted properly before a review so we could test if ` "editor.defaultFormatter": null` provides the default formatter of VSCode (docs on that are not super clear so I am not sure)

[2022-10-24 16:41] appieschot commented on #3790
@nicodecleyre since we introduced a name parameter in the `pp card get` I would suggest we add it here as well, what do you think?

[2022-10-24 16:55] appieschot commented on #3805
Thanks for the feedback, updated specs and opening up

[2022-10-24 17:06] appieschot opened #3899 "New command: `m365 teams meeting list`"
### Usage

m365 teams meeting list

### Description

Retrieve all online meetings for a given user

### Options

Option | Description
-- | --
`-u, --userId [userId]` | The id of the user, omit to retrieve meetings for current signed in user. Use either `id`, `userName` or `email`, not all.
`-n, --userName [userName]` | The name of the user, omit to retrieve meetings for current signed in user. Use

[2022-10-24 17:09] milanholemans commented on #3892
We could have a look at `editor.defaultFormatter` indeed

[2022-10-24 17:10] milanholemans commented on #3790
Makes sense to me indeed! Could you update the spec?

[2022-10-24 17:10] milanholemans commented on #3781
@appieschot could we also add the `name` option here?

[2022-10-24 17:11] appieschot opened #3900 "New command: `m365 teams meeting get`"
### Usage

m365 teams meeting get

### Description

Get specified meeting details

### Options

Option | Description
-- | --
`-u, --userId [userId]` | The id of the user, omit to retrieve meetings for current signed in user. Use either `id`, `userName` or `email`, not all.
`-n, --userName [userName]` | The name of the user, omit to retrieve meetings for current signed in user. Use either `id`, `us

[2022-10-24 17:15] appieschot opened #3901 "New command: `m365 teams meeting transcript list`"
### Usage

m365 teams meeting transcript list

### Description

Lists all transcripts for a given meeting

### Options

Option | Description
-- | --
`-u, --userId [userId]` | The id of the user, omit to retrieve meeting transcripts for current signed in user. Use either `id`, `userName` or `email`, not all.
`-n, --userName [userName]` | The name of the user, omit to retrieve meeting transcripts fo

[2022-10-24 17:16] appieschot commented on #3781
Yes I assume that if we can on the `get` there is no reason not to implement it here as well :). Will update specs

[2022-10-24 17:19] appieschot commented on #3790
Done.

[2022-10-24 17:29] milanholemans commented on #3818
Sounds great to me, however this is already being logged when using the `--debug` flag. Should I also log it when not running it in debug mode?

https://github.com/pnp/cli-microsoft365/blob/1e08e6ce84efcbb4a65f1c96998588a5b3420a98/src/m365/commands/status.ts#L30-L36

[2022-10-24 17:35] nicodecleyre commented on #3790
Sure can! I can make a function before cloning the card, that will just return the `props.id` if the id parameter is provided, and will make a call with the api `/api/data/v9.1/cards?$filter=name eq 'Name'` so that this function will return the `id` when the `name` parameter is provided!

Good point to keep it all consistent! 💪

[2022-10-24 18:52] WG- commented on #3827
Awesome! Any idea when it will be released in a stable release?

[2022-10-24 18:57] milanholemans commented on #3827
Next stable will be released end of this month. So few more days!

[2022-10-24 19:45] Adam-it commented on #3895
@pnp/cli-for-microsoft-365-maintainers any other comments?

[2022-10-24 19:52] Adam-it commented on #3892
good suggestion and also to go with the defaultFormatter for javascript lang to be default VS Code formatter. I think this is what we also discussed internally 🤔

[2022-10-24 20:12] waldekmastykarz commented on #3896
Let's see what's more efficient starting with the context and checking which options are valid on the command or starting with the command and checking what options are available and then looking for the values on the context.

We could perhaps solve it using information from option sets, but let's pass that bridge when we get there. We don't have to solve everything at once.

[2022-10-24 20:17] waldekmastykarz commented on #3853
We'd define the option as boolean in types.boolean but then before we pass it to minimist we'd convert it to a value that would be a valid bool, given it matches one of the values we allow. Otherwise, like you mentioned, we could introduce undesired side effects.

[2022-10-24 20:23] Adam-it commented on #1961
ok 👍

[2022-10-24 21:33] #3806 closed

[2022-10-24 21:49] Adam-it opened #3903 "New sample script: Install package script"
|Docs||
|-----|----|
|Author| Waldek Mastykarz |
|Original Post| #1961 |
|Description| scripts allowing developers to easily install .sppkg packages in their tenant, used during development after running gulp package-solution |
|Keywords| `spfx` `sharepoint` |

the script should have the following steps:
- [ ] automatically detects the package to install based on the project structure (script assu

[2022-10-24 21:53] Adam-it opened #3904 "New sample script: uninstall package script"
|Docs||
|-----|----|
|Author| Waldek Mastykarz |
|Original Post| #1961 |
|Description| scripts allowing developers to easily uninstall .sppkg packages in their tenant, used during development after running gulp package-solution |
|Keywords| `spfx` `sharepoint` |

the script should have the following steps:
- [ ] automatically detects the package to remove based on the project structure (script ass

[2022-10-24 22:07] Adam-it commented on #1961
closing this one as I created two separated issues for those samples

[2022-10-24 22:07] #1961 closed

[2022-10-25 02:40] arjunumenon commented on #3903
I guess I already have the script readymade with me. Except the last one. I was about to initiate an issue for that anyways. Good that you did that already.

I will not assign it to myself now if someone wants to take a stand at it before #hactoberfest finishes. Will pick it up post that if no one picks it up.

[2022-10-25 02:45] arjunumenon commented on #3298
No problem at all👍. Always good to ask questions when in doubt before starting development.

[2022-10-25 07:05] appieschot commented on #3894
I wonder if you must specify `--tenant` when using a `--secret` but I am not sure. @David74000 would you mind trying to specify the `--tenant` with the GUID of your tenant?

[2022-10-25 07:48] Jwaegebaert commented on #3788
We'll need to include a few new permissions for these commands if I'm not mistaken.  `Calendars.Read` for the online meetings, `OnlineMeetingTranscript.Read.All` for the transcripts and ` OnlineMeetingArtifact.Read.All` for the attendance report.

[2022-10-25 07:52] Jwaegebaert commented on #3899
Specs look good to me @appieschot. 🚀

I don't know if we need to include it in our specs but we will need a check to make sure `userName` is required when they aree signed in with app permisions.

[2022-10-25 08:07] Jwaegebaert commented on #3900
Ship it 🚀

Same comment here wether we need a check for app permisions.

[2022-10-25 08:12] Jwaegebaert commented on #3901
Maybe we could leave out the meeting id from the example descriptions. Also in the examples there are `_` surrounding the meetingId, I don't think they are necessary there.

For the description of `meetingId` we do not need a capital letter with the word meeting.

Same comment here wether we need a check for app permisions, mainly for the option `userName`. 😄

[2022-10-25 10:01] appieschot commented on #3899
Thanks, opened up and added remark about the permissions 🚀

[2022-10-25 10:03] appieschot commented on #3901
Makes sense!

Changed and opened up 🚀

[2022-10-25 10:07] appieschot opened #3907 "New command: `m365 teams meeting attendancereport list`"
### Usage

m365 teams meeting attendancereport list

### Description

Lists all attendance reports for a given meeting

### Options

Option | Description
-- | --
`-u, --userId [userId]` | The id of the user, omit to list attendance reports for current signed in user. Use either `id`, `userName` or `email`, not not all.
`-n, --userName [userName]` | The name of the user, omit to list attendance rep

[2022-10-25 10:25] appieschot opened #3908 "New command: `m365 teams meeting transcript get`"
### Usage

m365 teams meeting transcript get

### Description

Download a transcript for a meeting

### Options

Option | Description
-- | --
`-u, --userId [userId]` | The id of the user, omit to get meeting transcript for current signed in user. Use either `id`, `userName` or `email`, not all.
`-n, --userName [userName]` | The name of the user, omit to get meeting transcript for current signed in

[2022-10-25 10:28] appieschot opened #3909 "New command: `m365 teams meeting attendancereport get`"
### Usage

m365 teams meeting attendancereport get

### Description

Download an attendance report for a meeting

### Options

Option | Description
-- | --
`-u, --userId [userId]` | The id of the user, omit to list attendance reports for current signed in user. Use either `id`, `userName` or `email`, not all.
`-n, --userName [userName]` | The name of the user, omit to list attendance reports for c

[2022-10-25 10:31] appieschot commented on #3788
Do we want to add these permissions by each command, or can we add them upfront as part of this epic before closing this one? Looking at @waldekmastykarz for having the keys to add more permissions

[2022-10-25 11:05] Ashish0z commented on #3901
I would like to work on this issue

[2022-10-25 11:10] MathijsVerbeeck commented on #3899
I would like to work on this.

[2022-10-25 11:35] appieschot commented on #3899
Awesome! All yours, keep in mind that currently the App Registration is missing permissions so in order to build you might want to use a custom app reg with the `calendar.read` permission 🦾

[2022-10-25 11:38] appieschot commented on #3901
Awesome! While #3899 is under development feel free to use other means to get the meetingId to build the solution and use custom app permissions with `OnlineMeetingTranscript.Read.All`

[2022-10-25 13:32] Jwaegebaert commented on #3907
Looks good @appieschot! Maybe an extra remark that the beta endpoint is subject to change.

[2022-10-25 13:32] Jwaegebaert commented on #3901
Let's also add a remark in the docs that we are making use of the beta endpoint which is subject to change 👍

[2022-10-25 13:36] Jwaegebaert commented on #3908
I think we can change the option `--transcriptId` to `-i, --id <id>` and here the same remark about the beta endpoint 😄
Could we maybe combine `--asFile` with `--path` because, if I'm reading it correctly, they will always go together and `asFile` doen't require any input.

[2022-10-25 15:11] waldekmastykarz commented on #3788
Typically we add new permissions when we have a PR open and about to be merged. For dev, we recommend that folks use a custom AAD app or grant the missing permission to PnP Management Shell app in their tenant.

[2022-10-25 15:13] waldekmastykarz commented on #3818
Good catch! Which brings us to a good point: should this additional information be visible always or only in debug mode (because that's typically when you'd need it)?

[2022-10-25 15:54] milanholemans commented on #3818
I think it's a great and useful addition to always show 😊

[2022-10-25 16:16] #3539 closed

[2022-10-25 16:16] #3818 closed

[2022-10-25 16:16] #2988 closed

[2022-10-25 17:25] MathijsVerbeeck commented on #3899
Hi @appieschot

Just a quick question. Would it be useful to also include the userId? Also, I recall that, when creating `outlook message get`, we named the field `userName` `userPrincipalName`, Should we change the name to keep it more consistent or should we leave it like this?

Finally, just a small remark, but in the specs you forgot to add `/users` between `v1.0/[userName]/events`

[2022-10-25 18:34] milanholemans commented on #3899
Wouldn't it be possible to list all meetings there are and introduce a flag `--organizer` or something so you only list the meetings you are organizing?

Also, wouldn't it make sense to specify some kind of date? If we retrieve all meetings of a particular user without starting/end date, it could be hundreds or thousands of meetings and the command would take a long time to complete.

[2022-10-25 19:05] martinlingstuyl commented on #3859
Ok, I created a list by running a script to check what files have diverging titles. We'll need to decide per page what to do with it.

[2022-10-25 20:14] appieschot commented on #3899
I can't find the spec for the `outlook message get` sorry .. If we look at `teams channel member add` we use a `userId` and `userDisplayName`. If we look at `aad user get` we provide `id`, `userName`, `email` and for `yammer group list` we only support `userId`. My preference would be the `aad user get` scenario where we provide the three different properties. If we all agree on that approach for

[2022-10-25 20:19] MathijsVerbeeck commented on #3899
Makes sense, as this is a new command (which still has to be merged). I'm fine with using the three options as options for the command, however, this would mean that we have to make a call to the command `aad user get` to retrieve the correct userId / userPrincipalName, but that would be no issue I think

In regards of the other remarks from @milanholemans , I'll let him answer. 😄

[2022-10-25 20:27] milanholemans commented on #3899
Yeah maybe but that will return all your calendar events right? Also events that are no Teams meeting. Personally I'd expect `m365 teams meeting list` to return all my teams meetings, but maybe that's just me.

I'd say let's use dateTime, that way the user can decide if he wants to pass a time value or not.

[2022-10-25 20:34] #3773 closed

[2022-10-25 20:42] martinlingstuyl commented on #3792
Hmm, it appears not as simple as I thought.

What I'm currently doing is:
1. Update the Content Type
2. Post to the `Update(true)` endpoint

But this does not in fact update child content type. I think you need to update the item in the same go, but trying that, merging the two calls does not update anything at all. I can find no documentation or peeps who've dealt with this anywhere.

Another rou

[2022-10-25 21:26] milanholemans opened #3911 "[Enhancement]: Extend `spo file copy` with `nameConflictBehavior` option"
## Context

Originating from #3906

Currently it is impossible to copy a file to the same folder, or to another folder where a file with the same name is stored. The command will throw an error `Error: A file or folder with the name 'sample.pdf' already exists at the destination.`

We could add a new option `--nameConflictBehavior [nameConflictBehavior]` to let the user choose what to do on a nami

[2022-10-25 21:26] milanholemans commented on #3911
@pnp/cli-for-microsoft-365-maintainers looking forward for your feedback.

[2022-10-25 21:36] MathijsVerbeeck commented on #2767
I could work on this if nobody minds

[2022-10-25 21:36] milanholemans commented on #2767
I do mind

[2022-10-25 21:37] milanholemans commented on #2767
Great, all yours!

[2022-10-25 22:36] milanholemans opened #3912 "Print response output correctly when ussing `--help` option"
Now we've introduced response output in our docs (#3773) for planner plan and planner bucket commands, we should make sure that this is correctly logged in our terminal when using `--help` option.

Right now, the printed doc is  not well formatted.

![image](https://user-images.githubusercontent.com/11723921/197894886-c4d6ef91-3cfb-4bf7-a489-7b5b655a3f5b.png)

[2022-10-26 04:39] dgreuel commented on #3912
I'd like to work on this!

[2022-10-26 05:56] martinlingstuyl commented on #3853
That's a great idea!! A lot less code to change.

[2022-10-26 06:00] martinlingstuyl opened #3914 "Validate and update booleans before the minimist parses the args."

[2022-10-26 06:39] dgreuel commented on #3912
How does this look?

<img width="742" alt="image" src="https://user-images.githubusercontent.com/1772333/197952926-85b0d6ae-8f7f-4b10-9365-9388b4290122.png">

[2022-10-26 06:42] Jwaegebaert commented on #3911
Looks good to me. One pointer is if we implement the ``extra`` part it could be seen as a breaking change because we are removing an option.

[2022-10-26 08:20] Jwaegebaert commented on #3899
@appieschot It's a good idea to create an issue to tackle this. 👍

[2022-10-26 08:27] Jwaegebaert commented on #3788
Should we maybe rename `m365 teams meeting attendance` to `m365 teams meeting attendancereport` to be aligned with the Graph endpoint? When we look at our guidelines it states the following:

[2022-10-26 08:28] Jwaegebaert commented on #3909
Not quite sure, but I think we can also change the option `--reportId` to `-i, --id <id>`. Report stands for attendance report which is the sole functionality of this command to return such a report. 😄

[2022-10-26 09:16] Jwaegebaert commented on #3754
@Adam-it The specs have been updated. What do you think of it? @pnp/cli-for-microsoft-365-maintainers your feedback is also welcome ofcourse 😉

If everything looks good to go then I'll start creating all of the issues.

[2022-10-26 10:27] martinlingstuyl opened #3917 "Enhancement: Publish devcontainer feature for the CLI for Microsoft 365"
There's a new feature that allows to specify dependencies as features in devcontainer.json files. Check out the following description from the VSCode release notes:

[Dev Container Features](https://code.visualstudio.com/blogs/2022/09/15/dev-container-features) let you easily add pre-packaged capabilities to your dev containers. Whether it is tools like Git or Docker or support for programming lan

[2022-10-26 10:37] martinlingstuyl commented on #3612
Any updates on this @AkashSatoliya?

[2022-10-26 11:20] David74000 commented on #3894
Hi @appieschot thank you for your help.
I tried the --tenant parameter but without success. By the way I have already set the tenantid through the CLIMICROSOFT365_TENANT environment variable

[2022-10-26 11:28] milanholemans commented on #3912
Hi @dgreuel

Looking good already, however I'd strip the colon at the end of the title. What we should do is remove all markdown syntax without adding any other characters.

[2022-10-26 11:41] nicodecleyre commented on #3781
Can i work on this one? :sunglasses:

[2022-10-26 12:01] Jwaegebaert commented on #3781
U sure can @nicodecleyre! 🚀

[2022-10-26 12:59] waldekmastykarz commented on #3754
Ship it!

[2022-10-26 13:40] waldekmastykarz commented on #3853
As you defined this issue as an epic, what other related work do you see? Moving away from the custom logic to parse bools in all commands where we do it manually?

[2022-10-26 13:56] Jwaegebaert opened #3919 "Include response output: `aad` commands"
Related to #3754

---

Add the response output for all the commands under the service:

- `aad` [documentation location](https://github.com/pnp/cli-microsoft365/tree/main/docs/docs/cmd/aad)
-
Be sure to include all the output types: `JSON`, `Text`, `CSV`, and `Markdown`.

You can reference the commands `planner plan` and `planner bucket`. They are already contain the `Response` heading in their do

[2022-10-26 13:59] Jwaegebaert opened #3920 "Include response output: `adaptivecards`, `app`, `booking` commands"
Related to #3754

---

Add the response output for all the commands under the service:

- `adaptivecards` [documentation location](https://github.com/pnp/cli-microsoft365/tree/main/docs/docs/cmd/adaptivecards)
- `app` [documentation location](https://github.com/pnp/cli-microsoft365/tree/main/docs/docs/cmd/app)
- `booking` [documentation location](https://github.com/pnp/cli-microsoft365/tree/main/d

[2022-10-26 14:00] Jwaegebaert opened #3921 "Include response output: `cli`, `search` commands"
Related to #3754

---

Add the response output for all the commands under the service:

- `cli` [documentation location](https://github.com/pnp/cli-microsoft365/tree/main/docs/docs/cmd/cli)
- `search` [documentation location](https://github.com/pnp/cli-microsoft365/tree/main/docs/docs/cmd/cli)

You can reference the commands `planner plan` and `planner bucket`. They are already contain the `Respon

[2022-10-26 14:00] Jwaegebaert opened #3922 "Include response output: `graph`, `onedrive`, `onenote` commands"
Related to #3754

---

Add the response output for all the commands under the service:

- `graph` [documentation location](https://github.com/pnp/cli-microsoft365/tree/main/docs/docs/cmd/graph)
- `onedrive` [documentation location](https://github.com/pnp/cli-microsoft365/tree/main/docs/docs/cmd/onedrive)
- `onenote` [documentation location](https://github.com/pnp/cli-microsoft365/tree/main/docs/do

[2022-10-26 14:01] Jwaegebaert opened #3923 "Include response output: `outlook`, `planner`, `skype` commands"
Related to #3754

---

Add the response output for all the commands under the service:

- `outlook` [documentation location](https://github.com/pnp/cli-microsoft365/tree/main/docs/docs/cmd/outlook)
- `planner` [documentation location](https://github.com/pnp/cli-microsoft365/tree/main/docs/docs/cmd/planner)
- `skype` [documentation location](https://github.com/pnp/cli-microsoft365/tree/main/docs/do

[2022-10-26 14:03] Jwaegebaert opened #3924 "Include response output: `pa`, `pp` commands"
Related to #3754

---

Add the response output for all the commands under the service:

- `pa` [documentation location](https://github.com/pnp/cli-microsoft365/tree/main/docs/docs/cmd/pa)
- `pp` [documentation location](https://github.com/pnp/cli-microsoft365/tree/main/docs/docs/cmd/pp)

You can reference the commands `planner plan` and `planner bucket`. They are already contain the `Response` hea

[2022-10-26 14:03] abhijeetanand29 commented on #3923
can i work on this?

[2022-10-26 14:03] Jwaegebaert opened #3925 "Include response output: `spfx` commands"
Related to #3754

---

Add the response output for all the commands under the service:

- `spfx` [documentation location](https://github.com/pnp/cli-microsoft365/tree/main/docs/docs/cmd/spfx)

You can reference the commands `planner plan` and `planner bucket`. They are already contain the `Response` heading in their documentation.

For more information what guidelines to follow, be sure to check o

[2022-10-26 14:04] Jwaegebaert commented on #3923
U sure can @abhijeetanand29!

[2022-10-26 14:04] Jwaegebaert opened #3926 "Include response output: `tenant` commands"
Related to #3754

---

Add the response output for all the commands under the service:

- `tenant` [documentation location](https://github.com/pnp/cli-microsoft365/tree/main/docs/docs/cmd/tenant)

You can reference the commands `planner plan` and `planner bucket`. They are already contain the `Response` heading in their documentation.

For more information what guidelines to follow, be sure to che

[2022-10-26 14:05] Jwaegebaert opened #3927 "Include response output: `todo`, `util`, `viva` commands"
Related to #3754

---

Add the response output for all the commands under the service:

- `todo` [documentation location](https://github.com/pnp/cli-microsoft365/tree/main/docs/docs/cmd/todo)
- `util` [documentation location](https://github.com/pnp/cli-microsoft365/tree/main/docs/docs/cmd/util)
- `viva` [documentation location](https://github.com/pnp/cli-microsoft365/tree/main/docs/docs/cmd/viva)

[2022-10-26 14:06] Jwaegebaert opened #3928 "Include response output: `yammer` commands"
Related to #3754

---

Add the response output for all the commands under the service:

- `yammer` [documentation location](https://github.com/pnp/cli-microsoft365/tree/main/docs/docs/cmd/yammer)

You can reference the commands `planner plan` and `planner bucket`. They are already contain the `Response` heading in their documentation.

For more information what guidelines to follow, be sure to che

[2022-10-26 14:09] Jwaegebaert opened #3929 "Include response output: `spo app` until `spo eventreceiver` commands"
Related to #3754

---

Add the response output for a few of the commands under the service:

- `spo` [documentation location](https://github.com/pnp/cli-microsoft365/tree/main/docs/docs/cmd/spo)

This in place for the following command groups:

- `spo app`
- `spo apppage`
- `spo cdn`
- `spo contenttype`
- `spo contenttypehub`
- `spo customaction`
- `spo eventreceiver`

Be sure to include all the o

[2022-10-26 14:11] Jwaegebaert opened #3930 "Include response output: `spo externaluser` until `spo hidedefaultthemes` commands"
Related to #3754

---

Add the response output for a few of the commands under the service:

- `spo` [documentation location](https://github.com/pnp/cli-microsoft365/tree/main/docs/docs/cmd/spo)

This in place for the following command groups:

- `spo externaluser`
- `spo feature`
- `spo field`
- `spo file`
- `spo folder`
- `spo group`
- `spo hidedefaultthemes`

Be sure to include all the output t

[2022-10-26 14:11] Jwaegebaert opened #3931 "Include response output: `spo homesite` until `spo navigation` commands"
Add the response output for a few of the commands under the service:

- `spo` [documentation location](https://github.com/pnp/cli-microsoft365/tree/main/docs/docs/cmd/spo)

This in place for the following command groups:

- `spo homesite`
- `spo hubsite`
- `spo knowledgehub`
- `spo list`
- `spo listitem`
- `spo mail`
- `spo navigation`

You can reference the commands `planner plan` and `planner bu

[2022-10-26 14:13] Jwaegebaert opened #3932 "Include response output: `spo orgassetslibrary` until `spo serviceprincipal` commands"
Related to #3754

---

Add the response output for a few of the commands under the service:

- `spo` [documentation location](https://github.com/pnp/cli-microsoft365/tree/main/docs/docs/cmd/spo)

This in place for the following command groups:

- `spo orgassetslibrary`
- `spo orgnewssite`
- `spo page`
- `spo propertybag`
- `spo report`
- `spo roledefinition`
- `spo serviceprincipal`

You can refer

[2022-10-26 14:14] Jwaegebaert opened #3933 "Include response output: `spo site` until `spo theme` commands"
Include response output:

Related to #3754

---

Add the response output for a few of the commands under the service:

- `spo` [documentation location](https://github.com/pnp/cli-microsoft365/tree/main/docs/docs/cmd/spo)

This in place for the following command groups:

- `spo site`
- `spo sitedesign`
- `spo sitescript`
- `spo storageentity`
- `spo tenant`
- `spo term`
- `spo theme`

Be sure to in

[2022-10-26 14:15] Jwaegebaert opened #3934 "Include response output: `spo user` until `spo web` including the `spo` commands"
Related to #3754

---

Add the response output for a few of the commands under the service:

- `spo` [documentation location](https://github.com/pnp/cli-microsoft365/tree/main/docs/docs/cmd/spo)

This in place for the following command groups:

- `spo user`
- `spo userprofile`
- `spo web`

And also the commands:

- `spo get`
- `spo search`
- `spo set`

You can reference the commands `planner plan`

[2022-10-26 14:17] Jwaegebaert opened #3935 "Include response output: `teams app` until `teams membersettings` commands"
Related to #3754

---

Add the response output for a few of the commands under the service:

- `teams` [documentation location](https://github.com/pnp/cli-microsoft365/tree/main/docs/docs/cmd/teams)

This in place for the following command groups:

- `teams app`
- `teams cache`
- `teams channel`
- `teams chat`
- `teams funsettings`
- `teams guestsettings`
- `teams membersettings`

You can referenc

[2022-10-26 14:17] Jwaegebaert opened #3936 "Include response output: `teams message` until `teams user` commands"
Related to #3754

---

Add the response output for a few of the commands under the service:

- `teams` [documentation location](https://github.com/pnp/cli-microsoft365/tree/main/docs/docs/cmd/teams)

This in place for the following command groups:

- `teams message`
- `teams messagesettings`
- `teams report`
- `teams tab`
- `teams team`
- `teams user`

You can reference the commands `planner plan`

[2022-10-26 14:39] waldekmastykarz commented on #3788
Good catch @Jwaegebaert! Let's do that

[2022-10-26 15:17] Jwaegebaert commented on #3927
All yours @nanddeepn! 🚀

[2022-10-26 15:21] nicodecleyre commented on #3936
can i work on this? :wave:

[2022-10-26 15:22] Jwaegebaert commented on #3936
You sure can @nicodecleyre 🚀

[2022-10-26 16:13] waldekmastykarz opened #3937 "Add support for upgrading SPFx projects to v1.16.0-beta.2"

[2022-10-27 06:11] martinlingstuyl opened #3942 "Refresh Token expired exception after one day of being signed in"
Hi peeps,

I'm getting a 'can't refresh token' error when I signed in yesterday. This is probably due to the work @vipulkelkar did on [this issue](https://github.com/pnp/cli-microsoft365/issues/3260)

This can't possibly be right. I'm signed in my dev tenant for long periods of time all the time. I never need to re-login like this.
I've just installed the latest next version yesterday, so it figur

[2022-10-27 06:38] MathijsVerbeeck commented on #3465
I could give this a go if I may 😄 !

[2022-10-27 07:11] Jwaegebaert commented on #3923
Hey @abhijeetanand29, it looks like your assignment has been removed. Are you still interested to work on this?

[2022-10-27 07:49] Adam-it commented on #3942
@martinlingstuyl thanks for reporting this. I will try to have a look ASAP 👍

[2022-10-27 08:53] MathijsVerbeeck commented on #3926
@Jwaegebaert I would like to pick it up!

[2022-10-27 08:54] Jwaegebaert commented on #3926
All yours!

[2022-10-27 09:07] Adam-it commented on #3942
@martinlingstuyl currently it is working properly on my end... I need go over point 4 and 5 in the reproduce steps before I have a full check 😉

[2022-10-27 09:09] martinlingstuyl commented on #3942
Yes, I'll be watching tomorrow as well. As written, I'm only having the issue with a custom ad app, so I'm curious what tomorrow will bring

[2022-10-27 09:11] Adam-it commented on #3942
I set it up just now as well locally. I think on my side token expiries after 2 hours so I will check in 2-3 hours time the `status` command 🤔

[2022-10-27 09:30] waldekmastykarz commented on #3942
I can't reproduce the issue. I wonder if you might be seeing the effects of your dev tenant being refreshed or maybe an update to the service that would invalidate the token. I don't recall us changing anything about the auth recently.

[2022-10-27 09:34] waldekmastykarz commented on #3942
In #3260 we only updated the status command so that it calls the API before showing the status, ensuring that you're not only connected but also the connection is valid.
Looking at the error, it seems like on your tenant the refresh token lifetime is set to 12 hours rather than the regular 90 days. Could it be that you've been experimenting with some settings around conditional access or refresh t

[2022-10-27 09:51] martinlingstuyl commented on #3942
No, I've not been experimenting that I know of. And my dev tenant is not being refreshed this week. (it's expiring december 29)
Also I do not have a 12 hour refresh token policy in place. I use the default, which is 90 days.

Maybe it's just a glitch.

[2022-10-27 11:22] waldekmastykarz commented on #3942
It is odd that the error says explicitly that the lifetime of the token exceeded its lifetime of 12 hours. Check check triple check that you're looking at the right tenant?

[2022-10-27 12:07] Adam-it commented on #3942
also I checked just now .. seems to work fine 🤔
but I still haven't got my sleep 😉

[2022-10-27 12:21] waldekmastykarz commented on #3942
Your token turns into a pumpkin at midnight 🤣

[2022-10-27 14:35] #3860 closed

[2022-10-27 14:48] MathijsVerbeeck opened #3945 "Bug report: Issue when using `--output text` on `tenant report` commands"
### Description

When using the command `m365 tenant report activeusercounts --period D7 --output text`, I noticed that the output is acually from format `csv` instead of `text`.

This seems to happen on the following commands:
- tenant report activeusercounts
- tenant report activeuserdetail
- tenant report office365activationcounts
- tenant report office365activationsusercounts
- tenant report o

[2022-10-27 15:28] milanholemans opened #3946 "Fix global options for `spo list webhook get` and `set`"
We have missing global options for commands `spo list webhook get` and `spo list webhook set` in the docs. This is because an unnecessary backslash character was inserted in the global options path.

https://github.com/pnp/cli-microsoft365/blob/6d50b23db34ff34299763af8dddbad2f5179c4af/docs/docs/cmd/spo/list/list-webhook-get.md?plain=1#L28

https://github.com/pnp/cli-microsoft365/blob/6d50b23db34ff

[2022-10-27 15:29] waldekmastykarz commented on #3945
This is by design: that's the data that we retrieve from the server and we don't reformat it to JSON and text. Would it be clearer if we made csv the only type of output and throw errors for others?

[2022-10-27 15:32] MathijsVerbeeck commented on #3945
Hi @waldekmastykarz

It has been reformated to JSON by using `formatting.parseCsvToJson(response)`

I think that it might be handy that we throw an error if different output options are shown instead of returning a csv-response when the user demands a text-response, however, I'm open for other inputs.

[2022-10-27 15:34] nicodecleyre commented on #3946
assign me please :-)

[2022-10-27 15:36] milanholemans commented on #3946
Awesome, thx @nicodecleyre!

[2022-10-27 18:20] waldekmastykarz commented on #3945
We should look at all reports and ensure that they behave consistently. I see that we're using the `parseCsvToJson` method in some reports but not in all, for example.

[2022-10-27 19:40] martinlingstuyl commented on #3942
I've tabbed through my historic commands and really saw the last login action being against my own tenant...

But you're right that it's really odd, it could still be a problem between my chair and the monitor.

[2022-10-27 19:41] martinlingstuyl commented on #3465
Nice @MathijsVerbeeck! 👏

[2022-10-27 20:07] MathijsVerbeeck commented on #3945
I did notice that as well. Currently, `parseCsvToJson` is only being used in:
- `tenant report office365activationcounts`
- `tenant report office365activationsusercounts`
- `tenant report office365activationsuserdetail`

I have tested the Graph calls from the other commands, and they all seem to return the content in a CSV-format, however, the commands `activeusercounts`, `activeuserdetail` and `s

[2022-10-28 06:23] AkashSatoliya commented on #3612
Hi @martinlingstuyl ,

Still awaiting for account. Received an updated that I'll get it in couple of days.

[2022-10-28 09:33] waldekmastykarz commented on #3945
Nothing we can't fix 😄

If changing the behavior is the right thing to do, we should definitely do it.

[2022-10-28 10:14] appieschot commented on #3899
@MathijsVerbeeck I updated the specs based on our discussion, let me know if anything is still unclear and thanks for sticking with us 💪

@Jwaegebaert will create an issue to research what other commands we have that might have this issue :)

[2022-10-28 10:17] appieschot opened #3948 "Consolidate user options in different commands"
We have several commands that allow to input user information but not all provide the same parameters:

If we look at `teams channel member add` we use a `userId` and `userDisplayName`. If we look at `aad user get` we provide `id`, `userName`, `email` and for `yammer group list` we only support `userId`.

- [ ] We should investigate what commands require user imput
- [ ] We should provide a helper

[2022-10-28 10:31] appieschot commented on #3901
@Ashish0z I made a minor tweak to the specs to align with the other commands; there are additional props to specify the `username`, `email,` and `id` sorry for the inconvenience!

[2022-10-28 10:37] appieschot commented on #3908
Done, opening up

[2022-10-28 10:37] petkir commented on #3922
@Jwaegebaert I can do it.

onedrive/ onenote is done
open is graph i will do over the weekend

squash and  PR will be done after graph documentation.

[2022-10-28 10:52] waldekmastykarz commented on #3942
Shall we close it for now until we have a better understanding if it's an issue on our end and if so, how to repro it?

[2022-10-28 10:56] waldekmastykarz commented on #3859
Looking at the differences you listed, I'm okay with the current titles. Like you said, there's no need to repeat the product name in each navigation node and when you land on a specific page from internet search, we provide the context by spelling the name out fully in the page title. Except for the `app open` page, which is a bug, other pages can stay as-is.

[2022-10-28 10:58] waldekmastykarz commented on #3948
This helper would differ between AAD and Yammer I assume. Also, not sure if Yammer supports user resolution via email. We should check it out.

Here we need to pay attention to naming, because for `aad user` commands, user is inferred from the context, so we don't need to prepend the option name with `user`.

[2022-10-28 11:01] waldekmastykarz commented on #3911
Nice! Like @silviyanedelcheva mentioned, we should also offer the ability to provide a name for the new file. Even though it would mean an extra API call, for our users it should be a single command execution.

[2022-10-28 11:58] milanholemans commented on #3911
Ideally yes, however I don't know if we can make this waterproof. This would mean we should rename the file after we copied it. From the `CreateCopyJobs` API we don't get a new file name returned. So if we copy the file, we don't really know which name the file has if we use the `Rename` option. Name can be `Document1.docx`, `Document2.docx` or even `Document1000.docx`.
So I don't really know if t

[2022-10-28 12:21] Jwaegebaert commented on #3922
Great to hear it @petkir!

[2022-10-28 12:34] martinlingstuyl commented on #3942
That's ok, let's close it.

[2022-10-28 12:34] #3942 closed

[2022-10-28 13:28] silviyanedelcheva commented on #3911
@milanholemans My colleague wrote C# project that is using SharePoint.Client API file.CopyTo command and was able to make it work by pass as parameter the full url with the new name at the end. Not sure if that will help.

[2022-10-28 13:50] appieschot commented on #3948
Totally right; lets gather all commands first and then group them into logical buckets so we can determine the right option per group!

I am not into the yammer api but would assume that even there we could do reverse lookups for ID's based on an e-mail 🤔 but again let's gather a list of all commands first

[2022-10-28 14:03] appieschot opened #3949 "New command: `m365 pp solution publisher get`"
### Usage

m365 pp solution publisher get

### Description

Get information about the specified publisher

### Options

Option | Description
-- | --
`-e, --environment <environment>` | The name of the environment
`-i, --id [id]` | The ID of the publisher. Specify either `id` or `name` but not both.
`-n, --name [name]` | The name of the publisher. Specify either `id` or `name` but not both.
`--asAd

[2022-10-28 14:06] appieschot opened #3950 "New command: `m365 pp solution publisher remove`"
### Usage

m365 pp solution publisher remove

### Description

Removes the specified publisher

### Options

Option | Description
-- | --
`-e, --environment <environment>` | The name of the environment
`-i, --id [id]` | The ID of the publisher. Specify either `id` or `name` but not both.
`-n, --name [name]` | The name of the publisher. Specify either `id` or `name` but not both.
`--asAdmin` | Run

[2022-10-28 17:54] waldekmastykarz commented on #3870
There's an updated version of the action and we can proceed with update

[2022-10-28 17:58] waldekmastykarz commented on #3950
Ship it!

[2022-10-28 17:58] waldekmastykarz commented on #3949
LGTM 🚀

[2022-10-28 18:00] waldekmastykarz commented on #3908
What's the difference between email and userName? Aren't they the same?

[2022-10-28 18:09] appieschot commented on #3908
You can have several aliases for a upn or at least I assume is the way we inplantend it in Aad user get, will validate when back behind a desktop

[2022-10-28 18:13] milanholemans commented on #3911
Yes that might be a solution because if I'm not mistaken, you can specify another name with the `CopyTo` request. However I don't know by heart how to make this work with SharePoint REST API, I'll have to do some extra research how this request works.
Anyway, I do know this API request only works within the same site collection. Meaning when you want to copy cross site collection, we still have th

[2022-10-28 18:17] milanholemans commented on #3911
With the experience I have with the `CreateCopyJobs` request is that you just specify the folder where the file should be copied, you cannot specify another name. You can pass the `NameConflictBehavior : rename` parameter and that will work indeed, however if I'm not mistaken, you have no idea what the new name of the file is. The result you get back from the `CreateCopyJobs` API is a `CopyJobProg

[2022-10-28 20:22] #3547 closed

[2022-10-28 20:22] #3847 closed

[2022-10-28 20:22] #3926 closed

[2022-10-28 20:22] #3946 closed

[2022-10-28 23:33] Ashish0z commented on #3901
Alright I will take care of it.

[2022-10-28 23:57] #3807 closed

[2022-10-28 23:57] #3814 closed

[2022-10-28 23:57] #3813 closed

[2022-10-28 23:57] #3846 closed

[2022-10-29 00:20] Adam-it commented on #3772
I made a quick research on this one and it seems the general rule  ["no-param-reassign"](https://eslint.org/docs/latest/rules/no-param-reassign) will not do the trick to check only reassigning `args`. So Unless we want to make it a general rule not to allow to reassign any argument of any method (utils to correct ect.) we will need to create a custom rule I think (which we already have so I guess

[2022-10-29 03:26] quantrpeter commented on #3547
yeah, we finally make it, thanks @milanholemans

[2022-10-29 12:20] plamber commented on #3754
I am a little late for this discussion.

I just reviewed #3888. The output in a console with all the information is far too much. And luckily, the command just had few samples. Please give it a try and let me know how it feels.

Powershell has also a short help and detailed help flag.

I am not convinced about throwing everything at the user just because a wrong input was entered (default behavior

[2022-10-29 13:02] milanholemans commented on #3754
I fully support the idea to include command responses into the docs, but this might not be ideal in the console since some responses are quite huge.

I agree with this, last time we also had a discussion about it during the sync. Either we should implement something like `--help Examples,Options,Description` or something like `--help sort` `--help detailed`. Not sure if we made an issue for this y

[2022-10-29 14:40] waldekmastykarz commented on #3754
Yes, we started the discussion about different help output modes in #3782

[2022-10-29 14:56] waldekmastykarz commented on #3772
On the surface, the no-param-reassign rule seems like a thing we could use. Have you tried enabling it on our code base and checking if it would yield and false positives? Ideally, we'd set it up to apply to just `args` and `options`, but perhaps it should apply to all function args at large, and we should explicitly disable it in specific cases where modifying function params is intentional.

[2022-10-29 18:38] Adam-it commented on #3772
I was thinking exactly the same. It's a good practice to have in general so why not have it globally and disable to some exceptions (which for sure we may have)
I only enabled the rule and checked that we will get more or less 40 errors, but didn't spend much time on it as I wanted to hear your opinion on what would be better to do (global OOTB rule or our custom specific one 🤔).
I will give it a

[2022-10-29 18:51] Adam-it commented on #3782
awesome idea.
+1 to @arjunumenon proposal (by default show all and give a new config setting for it... totally 👍👍)
IMO we should show the general Name, description always,
then give options like `options`, `examples`, `output`, `full`. (not sure when `remarks` should show 🤔, maybe randomly 😁?)
and if user wants `options` and `examples` then she or he will need to use `full`. TBH for me it would be

[2022-10-29 20:50] Adam-it opened #3953 "New command: `spo file version list`"
### Usage

m365 spo file version list [options]

### Description

Retrieves all version of a file from version history

### Options

Option | Description
-- | --
`-w, --webUrl <webUrl>` | The URL of the site where the file is located
`-u, --fileUrl [fileUrl]` | The server-relative URL of the file to retrieve. Specify either fileUrl or fileId but not both
`-i, --fileId [fileId]` | The UniqueId (GUI

[2022-10-29 20:51] Adam-it commented on #3953
@pnp/cli-for-microsoft-365-maintainers  any comments?

[2022-10-29 21:28] Adam-it opened #3954 "New command: spo file version get"
### Usage

m365 spo file version get [options]

### Description

Retrieves specified version of a file from version history

### Options

Option | Description
-- | --
`-w, --webUrl <webUrl>` | The URL of the site where the file is located
`-i, --id <id>` | id of version which will be retrieved
`-u, --fileUrl [fileUrl]` | The server-relative URL of the file to retrieve. Specify either fileUrl or fi

[2022-10-29 21:29] Adam-it commented on #3954
@pnp/cli-for-microsoft-365-maintainers any comments?

[2022-10-29 21:39] Adam-it opened #3955 "New command: spo file version remove"
### Usage

m365 spo file version remove [options]

### Description

Removes a specific version of a file

### Options

Option | Description
-- | --
`-w, --webUrl <webUrl>` | The URL of the site where the file is located
`--versionLabel <versionLabel>` | Version label of version which will be removed
`-u, --fileUrl [fileUrl]` | The server-relative URL of the file to retrieve. Specify either fileUrl

[2022-10-29 21:55] Adam-it opened #3956 "New command: `spo file version restore`"
### Usage

m365 spo file version restore [options]

### Description

Restores file to the specified version

### Options

Option | Description
-- | --
`-w, --webUrl <webUrl>` | The URL of the site where the file is located
`--label <label>` | Label of version which will be restored
`-u, --fileUrl [fileUrl]` | The server-relative URL of the file to retrieve. Specify either fileUrl or fileId but not

[2022-10-29 21:56] Adam-it commented on #3955
@pnp/cli-for-microsoft-365-maintainers  any comments?

[2022-10-29 21:56] Adam-it commented on #3956
@pnp/cli-for-microsoft-365-maintainers  any comments?

[2022-10-29 22:03] martinlingstuyl commented on #3782
Yes, that would be my idea as well: use `full` to show everything. There's no real reason to only show two sections and hide the rest, I would say.

Remarks would have its separate section @Adam-it, `--help remarks`.

[2022-10-29 22:12] Adam-it opened #3957 "New command: spo file version clear"
### Usage

m365 spo file version clear [options]

### Description

Deletes all file version history

### Options

Option | Description
-- | --
`-w, --webUrl <webUrl>` | The URL of the site where the file is located
`-u, --fileUrl [fileUrl]` | The server-relative URL of the file to retrieve. Specify either fileUrl or fileId but not both
`--fileId [fileId]` | The UniqueId (GUID) of the file to retri

[2022-10-29 22:13] Adam-it commented on #3957
@pnp/cli-for-microsoft-365-maintainers any comments?

[2022-10-29 22:25] Adam-it opened #3958 "New command: `docs`"
### Usage

m365 docs  [options]

### Description

Opens CLI for Microsoft 365 docs webpage in the default browser

### Examples

Opens CLI for Microsoft 365 docs webpage in the default browser

[code]

[2022-10-29 22:25] Adam-it commented on #3958
@pnp/cli-for-microsoft-365-maintainers any comments?

[2022-10-29 22:37] Adam-it commented on #3896
@pnp/cli-for-microsoft-365-maintainers any other comments on this one or may I start creating issues for each command?

[2022-10-29 23:09] MathijsVerbeeck commented on #3899
@appieschot Just one question. While implementing the command `outlook message get`, we also made it possible to retrieve the information from a shared mailbox. Would it be handy if we implement this here? We will however have to add the permission `Calendars.Read.Shared` for that to work though.

[2022-10-30 00:31] milanholemans commented on #3953
Looks good to me 👍

[2022-10-30 00:36] milanholemans commented on #3954
Haven't checked it yet, but can't you use a specific API request like
`.../items(18)/versions/<version number>`?

[2022-10-30 00:39] milanholemans commented on #3955
Looks good to me 👍

[2022-10-30 00:40] milanholemans commented on #3956
Looks good to me 👍

[2022-10-30 00:43] milanholemans commented on #3957
Looks good to me 👍

[2022-10-30 06:43] Adam-it commented on #3954
Thanks for the comment. Will double check 👍🙂

[2022-10-30 07:27] MathijsVerbeeck commented on #3924
Pick me!

[2022-10-30 11:02] nicodecleyre commented on #3954
you can get a version based on the `versionId` parameter like
`/_api/web/Lists/getbytitle('Documents')/items(18)/versions(512)`

where version 1.0 is equal to 512, version 2.0 is equal to 1024 and so on

[2022-10-30 11:51] nicodecleyre commented on #3955
When using api `api/web/Lists/getbytitle('Documents')/items(18)/versions/DeleteByLabel('1.0')` it results in an error message stating `Cannot find resource for the request DeleteByLabel`

the correct api for deleting a version is `/_api/Web/GetFileByServerRelativePath(decodedurl='/Shared Documents/Document.docx')/versions/DeleteByLabel('1.0')`

[2022-10-30 12:15] nicodecleyre commented on #3958
Perhaps even more interesting is to add an optional option for directly opening the documentation of a command.

example `m365 docs browse -c "pp card get"` opens the docs webpage for `pp/card/card-get`

[2022-10-30 13:30] milanholemans commented on #3924
@MathijsVerbeeck I choose you! 😄

[2022-10-30 14:04] nicodecleyre commented on #3723
We should also add an option `-i, --id [id]` and change the `name` option to `-n, --name[name]`.

So that the user can give the `id` or `name` option but not both, since the api for removing a solution is using the `solutoinid` `dynamicsApiUrl/api/data/v9.1/solutions(solutionId)`. In that way the user can give the id directly

[2022-10-30 14:07] milanholemans commented on #3723
Good idea @nicodecleyre, this way it also aligns more with our `solution get` command. I'll update the specs!

[2022-10-30 14:15] Adam-it commented on #3955
Thanks @nicodecleyre for the double check 🤩.
I missed the `file` in my endpoint. I will correct the spec

[2022-10-30 14:18] Adam-it commented on #3954
Thanks @nicodecleyre for the double check 👍.
I had `versionlabel` in mind that's why used them in the examples, but forgot to update the endpoint url in the additional info 😉.
I think it's better we base on version labels rather then id

[2022-10-30 14:19] Jwaegebaert commented on #3953
Let's ship it!

[2022-10-30 14:21] Jwaegebaert commented on #3956
Looks great!

[2022-10-30 14:22] Adam-it commented on #3958
@nicodecleyre thanks for your suggestion.
Interesting idea 👍. We could do that for sure 🤩
What would be the use case to read the document spec in browser rather then just adding `--help` and reading it in console ?

[2022-10-30 14:26] Adam-it commented on #3953
@milanholemans, @Jwaegebaert
Thanks for the review,
Opening it up for others 👍

[2022-10-30 14:27] Adam-it commented on #3956
@milanholemans, @Jwaegebaert
Thanks for the review 👍
Opening this up 💪

[2022-10-30 14:28] milanholemans commented on #3954
Indeed, just looked a bit around, I think there is no better way to get a version by label so 👍

[2022-10-30 14:29] milanholemans commented on #3956
One  small remark, according to our naming convention `versionLabel` should be called `label`

[2022-10-30 14:31] milanholemans commented on #3955
One small remark is that `versionLabel` should be called `label` according to our naming convention.

[2022-10-30 14:31] milanholemans commented on #3954
One small remark is that `versionLabel` should be called `label` according to our naming convention.

[2022-10-30 15:02] Adam-it commented on #3956
Good point 👍
I corrected the spec

[2022-10-30 15:03] Adam-it commented on #3955
Thanks for the reminder 👍.
I updated the spec here as well

[2022-10-30 15:04] Adam-it commented on #3955
Opening this up 💪

[2022-10-30 15:06] Adam-it commented on #3954
Corrected 👍
Thanks 🤩

[2022-10-30 15:06] Adam-it commented on #3954
Opening this up 💪

[2022-10-30 16:09] Adam-it commented on #3957
Opening this up 💪

[2022-10-30 16:45] nicodecleyre commented on #3958
in the browser the example outputs can be much clearer then in the console especially for text & csv outputs

[2022-10-30 16:50] milanholemans commented on #3924
Wrong assignment 😃

[2022-10-30 16:56] Adam-it commented on #3958
For sure they are more readable on a web page than in console 👍, Not feeling it as I was like thinking this command might be used to quickly get to documentation that is not available via console, like how to authenticate with a custom AAD app, or use `--query` filters etc 🤔
but TBH this command was just some 'random' idea that got into my mind so why not 😉.
I will add this to the spec as well. Th

[2022-10-30 17:02] nicodecleyre commented on #3953
Can I work in this one? :eyes:

[2022-10-30 17:03] milanholemans commented on #3953
All yours!

[2022-10-30 19:41] nicodecleyre commented on #3954
Can I work on this one?

[2022-10-30 19:44] milanholemans commented on #3954
Sure @nicodecleyre!
Thank you!

[2022-10-30 21:05] nicodecleyre commented on #3955
Can i work on this? :blush:

[2022-10-30 21:13] Adam-it commented on #3955
All yours 👍

[2022-10-30 23:27] milanholemans opened #3965 "Add role requirements for spo hubsite register and unregister"
Currently the 2 commands `spo hubsite register` and `spo hubsite unregister` have a remark stating that the API is in preview and is subject to change. However I think the API is stable right now. When I consult the docs, I don't see any warning saying that the API is in preview.
https://learn.microsoft.com/en-us/sharepoint/dev/features/hub-site/rest-registerhubsite.method
https://learn.microsoft.

[2022-10-30 23:27] milanholemans commented on #3965
@pnp/cli-for-microsoft-365-maintainers do you agree that we can remove the 'API is in preview' warning?

[2022-10-31 06:10] martinlingstuyl commented on #3965
Seems like you're right indeed! Ship it 👍

[2022-10-31 07:08] appieschot commented on #3899
The goal for this command was to get a list of events to retrieve transcripts for, since you can only retrieve transcripts for stuff you are a meeting organizer for. So, implementation of the shared mailbox version is not something I was looking for, but happy to add it as an enhancement. Can you add the remark for permissions in the PR? Or does it also need code changes to work properly?

[2022-10-31 07:14] nicodecleyre commented on #3956
Can i work on this one?

[2022-10-31 07:15] MathijsVerbeeck commented on #3899
It would not need code changes I think (will have to quicky test this), bit I will have to change the description of the specs a bit obviously to make it clear that we also support this.

[2022-10-31 07:27] waldekmastykarz commented on #3772
From what I've seen in the rule options, we should set `props` to true in case we pass the whole `args` object as function parameter and would reassign options. Also, let's check that it catches `args.options.option` reassignment as well, when the whole args object is passed into a function, because the option is a child of a child of args that's passed into function.

[2022-10-31 07:32] Adam-it commented on #3956
Sold!

[2022-10-31 07:37] Jwaegebaert commented on #3965
Seems solid. Let's update the remarks.

[2022-10-31 07:43] nicodecleyre commented on #3957
Can I also work on this one? :sweat_smile:

[2022-10-31 07:46] Jwaegebaert commented on #3957
All yours

[2022-10-31 11:38] milanholemans commented on #3965
All right let's open it up, thanks for the review @martinlingstuyl @Jwaegebaert!

[2022-10-31 15:07] milanholemans commented on #3965
All yours!

[2022-10-31 16:02] nicodecleyre commented on #3949
Can I have the honor to work on this one 😃 ?

[2022-10-31 17:13] milanholemans commented on #3949
The honor is ours! 😊

[2022-10-31 19:55] MathijsVerbeeck commented on #3861
Pick me!

[2022-10-31 19:57] milanholemans commented on #3861
All yours!

[2022-10-31 20:23] Adam-it opened #3972 "spo permission management part 2 🔐 (add `--withPermissions` option)"
## 💡 What is the Idea

Currently CLI got a lot of commands which allow to create/remove/break/reset permissions on many different levels created with this issue #3540.
The idea now is to add commands which will allow to check/list permissions on different levels (items/files/folders/lists/webs).

## 💪  What to do ?

As agreed in the discussion we should extend the following commands with a `--with

[2022-10-31 20:46] nicodecleyre commented on #3766
One more 😄 . I'm not saying that i'm addicted to solving issues for Microsoft 365 Cli, i just need it

[2022-10-31 20:58] nicodecleyre commented on #3766
Hi @appieschot , in your snippet there is following filter `publisherid ne d21aab70-79e7-11dd-8874-00188b01e34f` where the id `d21aab70-79e7-11dd-8874-00188b01e34f` references to the Microsoft publisher.

Is it supposed to be filtered out of the results when listing the publishers or do we list all publishers?

[2022-10-31 21:14] milanholemans commented on #3766
Awesome, all yours @nicodecleyre

[2022-10-31 21:15] appieschot commented on #3766
The UI filters those out, so it made sense to filter them out in cli as well (at least for me it did)

[2022-10-31 21:23] nicodecleyre commented on #3766
Fair point!
What if a user goes via make.powerapps.com, clicks on advanced settings.
After that clicking on settings and customizations and finally on publishers. There all the publishers are listed including the Microsoft Publisher. Wouldn't that confuse the user that the Microsoft publisher is listed there but not in the cli?

![image](https://user-images.githubusercontent.com/35696168/199113176

[2022-11-01 00:32] Abderahman88 commented on #3100
_Status update_ : command is almost finished. Need to write some tests.

[2022-11-01 04:27] #3638 closed

[2022-11-01 04:27] #3823 closed

[2022-11-01 04:27] #3824 closed

[2022-11-01 04:27] #3298 closed

[2022-11-01 04:27] #3881 closed

[2022-11-01 07:48] nicodecleyre commented on #3950
I would like to work on this one if possible?

[2022-11-01 09:02] nicodecleyre opened #3977 "New command: `pp solution publisher add`"
### Usage

m365 pp solution publisher add [options]

### Description

Adds the specified publisher to the current environment

### Options

Option | Description
-- | --
`-e, --environment <environment>` | The name of the environment.
`-n, --name <name>` | The name of the publisher.
`--displayName <displayName>` | The display name of the publisher.
`--prefix <prefix>` | The prefix of the publisher.

[2022-11-01 09:18] nicodecleyre commented on #3977
Hey @pnp/cli-for-microsoft-365-maintainers any feedback?

[2022-11-01 12:59] milanholemans commented on #3950
Cool, all yours!

[2022-11-01 13:06] milanholemans commented on #3977
@pnp/cli-for-microsoft-365-maintainers could anyone review this please?
I don't know much about pp publishers 😊

[2022-11-01 13:40] nicodecleyre commented on #3972
Regarding using the Graph API, it is only possible to get the permissions of an item belonging to a Document library (read: files). And this can be obtained by using the following api:
`/sites/{siteId}/Lists/{listId}/items/{itemId}/driveitem/permissions` or `/sites/{siteId}/drive/items/{itemId}/permissions`

There is no property 'permissions' for the List or ListItem resource. So graph may not be

[2022-11-01 16:10] appieschot commented on #3977
Awesome @nicodecleyre; a few remarks, when using the UI we have the following 'required' properties:
- Display Name
- Name
- Prefix
- Choice value prefix

I would expect those to be present as required properties on our end as well. We can also configure a 'contact' for a publisher, perhaps we can take the same approach as `spo listitem set` where we can add additional properties to set those as w

[2022-11-01 16:17] appieschot commented on #3791
@nicodecleyre did you by any change play around with the dataverse api's to work with table rows already? So far I figured out we need to:
- get default columns
- query to get items based on those columns with xml
- present results

Wonder if I am missing anything there..

[2022-11-01 16:45] nicodecleyre commented on #3977
When testing this api, only `friendlyname` and
`customizationprefix` were required.

That's a great idea to use the same approach as `spo listitem set` for the not required parameters!

[2022-11-01 16:48] nicodecleyre commented on #3766
Awesome! I'll update the pr!

[2022-11-01 17:00] appieschot commented on #3977
That's a bit confusing; having other requirements in the UI and in the API ... For consistency I would opt to stick to the UI to prevent confusion but open to other opinions @pnp/cli-for-microsoft-365-maintainers

[2022-11-01 17:23] nicodecleyre commented on #3791
No, not yet. But i can do soms research on it!

[2022-11-01 20:37] sympmarc opened #3979 "Bug report: m365 spfx project upgrade --output options missing?"
### Description

In previous versions - and in the examples [here](https://pnp.github.io/cli-microsoft365/cmd/spfx/project/project-upgrade/) - we could specify `--output` as `md` or `tour`. Are those two possibilities no more? When I try to use them, I get an error like:

```Error: 'tour' is not a valid output type. Allowed output types are csv, json, text```

Examples:
`m365 spfx project upgrade

[2022-11-01 22:40] Adam-it commented on #3972
One thing I also forgot to mention is that to some extend we already have this functionality on `list` level.
When we run `spo list get .... --withPermissions` we will get the response with properties of a list including also the permissions info for each role assignment. Since this is the approach already implemented maybe we should continue it and instead of adding new commands add the `withPerm

[2022-11-01 22:58] #3742 closed

[2022-11-01 22:58] #3781 closed

[2022-11-01 22:58] #3861 closed

[2022-11-01 22:58] #2767 closed

[2022-11-01 22:58] #3965 closed

[2022-11-01 23:23] milanholemans commented on #3979
Thank you for reporting this @sympmarc, as far as I know, these options are not removed on purpose. We'll look into this.

[2022-11-02 06:37] MathijsVerbeeck commented on #3448
I could work on this.

[2022-11-02 07:47] Jwaegebaert commented on #3448
All yours

[2022-11-02 08:19] nicodecleyre commented on #3766
`--includeMicrosoftPublishers` added to the pr 👀

[2022-11-02 09:52] waldekmastykarz commented on #3979
Sorry for the trouble @sympmarc. I suppose that's on me. I'll get on it. Thank you for letting us know

[2022-11-02 11:07] milanholemans commented on #3856
Closing due to lack of response

[2022-11-02 11:07] #3856 closed

[2022-11-02 11:09] milanholemans commented on #2739
Opening it back up due to lack of response

[2022-11-02 11:13] Jwaegebaert commented on #2852
Hi @Abderahman88, just a quick check. Are you still working on this?

[2022-11-02 11:16] Jwaegebaert commented on #2985
I'm removing the on hold label because the blocking issue has been implemented 🚀

[2022-11-02 11:17] Jwaegebaert commented on #3100
Thanks for the status update @Abderahman88. Much appreciated! 🚀

[2022-11-02 11:19] Jwaegebaert commented on #3650
@appieschot I'm removing the on hold label because the blocking issue has been implemented 🚀

[2022-11-02 11:28] Jwaegebaert commented on #1999
As this has become a bit of a stale issue it could be worth to pick up again. The suggestion here looks very interesting to implement into our docs. @pnp/cli-for-microsoft-365-maintainers any thoughts? 😄

[2022-11-02 11:31] milanholemans commented on #1999
Certainly a good enhancement. Certainly now our docs show the V6 docs which is full of breaking changes which are not available in the current v5.9 stable version.

[2022-11-02 11:37] arjunumenon commented on #3903
Now since #Hactoberfest is over, I am assigning this issue to myself.

[2022-11-02 13:46] appieschot commented on #3650
Wellll.... We can't get `table rows` yet but well get there soon enough 🦾

[2022-11-02 18:24] waldekmastykarz commented on #3972
If we're going to only list permissions, then `--withPermissions` would be sufficient. However, if we intend to alter permissions, then having separate group of commands would be clearer.
Regarding the naming: we should use a singular noun, so `permission` rather than `permissions` to be consistent with our naming convention.

[2022-11-02 18:28] nicodecleyre commented on #3791
Hi @appieschot ,

Played around a bit with the api and i could find out following things:
retrieving a table can be done by `dynamicsApiUrl/api/data/v9.0/EntityDefinitions(LogicalName='logicaltablename')`

regarding rows:
- List all the rows from a table: GET `dynamicsApiUrl/api/data/v9.0/logicalTableName` return all the rows.
Could be used for the command in this issue 😄

- Create a new row in a

[2022-11-02 18:29] waldekmastykarz commented on #3977
Agreed with @appieschot: we shouldn't use the API to create items that are "broken" in the UI. If things are required in the UI and become optional later, we can always adjust it. Going the other way around is a breaking change, so we should err on the stricter side.

[2022-11-02 18:32] nicodecleyre commented on #3726
Can i work on this one 👀

[2022-11-02 18:34] nicodecleyre commented on #3977
Ok, i'll update the specs

[2022-11-02 19:03] #3979 closed

[2022-11-02 19:03] #3892 closed

[2022-11-02 19:07] waldekmastykarz commented on #3979
We fixed this issue in a beta version that should be available in the next few minutes. You can install it using `npm i -g @pnp/cli-microsoft365@next`. Please keep in mind that it's a major version with some breaking changes. You can see the list of what's changed at https://github.com/pnp/cli-microsoft365/blob/main/docs/docs/v6-upgrade-guidance.md. Once again, thank you for letting us know of the

[2022-11-02 19:10] waldekmastykarz opened #3984 "Enhancement: see if it's possible to add building docs to the PR build"
We should see if it's possible for us to add building docs to the PR build and capturing warnings and errors to fail the build. This would help us avoid publishing broken docs

[2022-11-02 19:52] sympmarc commented on #3979
Thanks for fixing so fast!

[2022-11-02 20:03] sympmarc commented on #3979
I verified the two options are available in that beta. Thanks again!

[2022-11-02 21:01] #3688 closed

[2022-11-02 21:01] #3811 closed

[2022-11-02 22:28] martinlingstuyl commented on #3853
Yes, @waldekmastykarz, after implementing the central handling of booleans, we'll need to go over every command and:

- add booleans to the types arrays
- update autocomplete where it's missing
- update typings from string to Boolean
- remove validation where it's used
- update spec files to change string Boolean inputs on command.action calls.

[2022-11-02 22:31] martinlingstuyl opened #3986 "Update each command with the new way of handling booleans."

[2022-11-02 22:49] martinlingstuyl opened #3987 "Update the using the CLI using guide with our definition of booleans"
Add the definition of booleans to the docs including some instruction on how to use them:
- autocomplete
- PoSH `$true` and `$false`

Our definition is:

True: 1, yes, true, on
False: 0, no, false, off

A good place for this would be the using guide.

This issue is blocked by #3914 and #3986

[2022-11-02 22:50] martinlingstuyl commented on #3853
Also added as a task: we'll need to update the docs

[2022-11-02 22:52] martinlingstuyl commented on #3984
I can see why you would say this 😂

Is it possible in GH to have a path filter in place so as not to always execute that build?

[2022-11-02 22:55] martinlingstuyl commented on #3726
You're on fire @nicodecleyre 🙏

[2022-11-02 23:36] MathijsVerbeeck commented on #3465
Hi @martinlingstuyl

I'm currently implementing this issue, and for a specific web it works perfectly fine.

I am however  struggling with creating this to work tenant-wide with the current specs. Currently, what we accept is the ClientSideComponentId and that's it. The issue here is that, if the SPFx application in the app-catalog is not deployed to all sites in the organization, the list contain

[2022-11-02 23:38] milanholemans opened #3989 "Remove preview warning from `spo hubsite` commands"
Currently quite some `spo hubsite` and `spo site hubsite` commands have a warning that the API is in preview.
However, when consulting the MS docs, there is no warning anymore so we can assume that the API is stable right now.
Example: https://learn.microsoft.com/en-us/sharepoint/dev/features/hub-site/rest-joinhubsite-method

## To do
Remove the `This command is based on a SharePoint API that is c

[2022-11-02 23:53] milanholemans commented on #3802
@Yashk786 just checking, are you still working on this?

[2022-11-03 06:23] AkashSatoliya commented on #3612
Hi @martinlingstuyl,

Finally, I've received new account.
The new account ia an AAD account,  MFA disabled and has admin permissions.

I tried for device login using `m365 login` command. It gave a code which I entered in https://microsoft.com/devicelogin.
After that I tried to login using command `m365 login -t password -u "someupn@contoso.com" -p "&zxc098!@#$%^*()"` in both PowerShell and comman

[2022-11-03 06:33] martinlingstuyl commented on #3465
Hi @MathijsVerbeeck,

I'd certainly think this is useful. I've recently wanted to deploy apps myself and only later on add some tenant-wide configuration.

There's a hidden list on each app catalog that contains the manifests of the installed apps. You can check it out at `/Lists/ComponentManifests`. You'll find information like `ClientSideComponentId` there, so checking if an app is deployed to t

[2022-11-03 06:36] MathijsVerbeeck commented on #3465
Hi @martinlingstuyl

Makes sense. I'll implement it the way that you just suggested and will send you a message if I'm 'blocked' again or have a question.

[2022-11-03 06:41] martinlingstuyl commented on #3465
Awesome @MathijsVerbeeck.

I'm seeing other issues come up as well: Listing/removing these configurations, listing/adding/removing listview commandset extensions. Would be nice to have an entire set of this! 😁

[2022-11-03 06:44] MathijsVerbeeck commented on #3465
Perhaps it could be interesting to either make a helper function for adding the tenant-wide extension or making it a seperate command `tenant extension add`, `tenant extension disable`, .... But let's start with this one first so that we have a decent base!

[2022-11-03 06:52] martinlingstuyl commented on #3465
Ah, this will need some discussion indeed!

[2022-11-03 07:05] martinlingstuyl commented on #3612
Well, that's not the message we were hoping for 😂

There must be some other situation we've not covered. Let me think on this a bit.

I'm really sorry you're having such troubles with this!

[2022-11-03 07:09] martinlingstuyl commented on #3859
By the way @waldekmastykarz, I've submitted a PR for this issue. You're not by any chance waiting on me doing rework, right?

[2022-11-03 08:45] Adam-it commented on #3972
@waldekmastykarz if by altering you mean breaking permissions and adding/removing role assignments then we already have that 🙂.
Here I would like to complete this functionality by allowing users to list all permissions set on an item. So list out all list assignments we have on an item/list/web etc and if it is inherited or not 🤔

[2022-11-03 08:58] Adam-it commented on #3958
@pnp/cli-for-microsoft-365-maintainers should be ship it? any comments?

[2022-11-03 12:59] quantrpeter opened #3990 "Extend 'spo listitem batch add' to allow importing data from Excel files"
### Usage

m365 spo list upload excel

### Description

Upload excel to list and provide regular expression for filtering rows

### Options

Option | Description
-- | --
`-f, --file <excel>` | Excel path
`-l, --list <listname>`| List name

### Examples

m365 spo list upload test.xslx

### Additional Info

We are Quantr Team, a sharepoint dev company based on Hong Kong. We have successfully finishe

[2022-11-03 16:49] waldekmastykarz opened #3992 "Update CLI to support SPFx v1.16.0-rc.0"
- [x] #3993
- [x] #3994
- [x] #3995

[2022-11-03 16:49] waldekmastykarz opened #3993 "Update spfx project upgrade to support SPFx v1.16.0-rc.0"

[2022-11-03 16:49] waldekmastykarz opened #3994 "Update spfx doctor to support SPFx v1.16.0-rc.0"

[2022-11-03 16:49] waldekmastykarz opened #3995 "Update spfx project doctor to support SPFx v1.16.0-rc.0"

[2022-11-03 16:56] waldekmastykarz commented on #3990
Thank you for the suggestion! We should clarify a few things before we proceed with the implementation:

1. Would you expect to be able to upload an actual Excel file or CSV? If Excel: which format: XLSX or XLS? Do you have any code that could help us parse Excel files and which is maintained regularly?
2. In the description you mentioned something about filtering data with regex. Could you please

[2022-11-03 17:08] MathijsVerbeeck opened #3996 "File/Folder/ListItem sharing commands"
Using the Graph API, we are able to share files, folders or listitems with users using various ways:
- Organizational links
- Anonymous links
- Specific User link
- ...

In my opinion, it would be nice if we could list the sharing links of a specific file, folder or listitem and have the capability of sharing a file, listitem or folder using a link or update existing shares.

What do you think abo

[2022-11-03 18:47] Abderahman88 commented on #2852
@Jwaegebaert You may re-assign this one.

[2022-11-03 18:56] Jwaegebaert commented on #2852
Super!

[2022-11-03 19:03] Abderahman88 commented on #3989
@milanholemans I can work on this one.

[2022-11-03 19:03] milanholemans commented on #3996
Hi @MathijsVerbeeck
Looks like a great enhancement to me for the CLI!
This means that we'll be creating 5 commands (list, get, add, update, delete) for each resource type (file, list item, folder) right?

@pnp/cli-for-microsoft-365-maintainers what are you thoughts?

[2022-11-03 19:05] waldekmastykarz commented on #3958
If you'd be looking for help of a command, wouldn't it be more intuitive to attach it to a command, like `m365 status -hw` (which is short for -h -w, where w = web)? It seems odd to me to introduce two different ways to access command's help.

Also, are we expecting another verb on docs than `browse`? If not, could we shorten it to just `docs`?

[2022-11-03 19:06] waldekmastykarz commented on #3984
I think it should on every PR. While we could see if there's a way to skip it if nothing in docs have changed, I don't know if it's worth the effort and how much time it would shave off of the total build time. Let's keep it in mind when we'll be implementing this.

[2022-11-03 19:18] milanholemans commented on #3989
Awesome, thanks @Abderahman88, all yours!

[2022-11-03 19:56] Abderahman88 opened #4001 "New command: List OneNote pages"
### Usage

m365 onenote page list

### Description

Retrieve a list of OneNote pages.

### Options

Option | Description
|-- | --|
|`--userId [userId]` | Id of the user. Use either userId or userName, but not both.|
|`--userName [userName]` | Name of the user. Use either userId or userName, but not both.|
|`--groupId [groupId]` | Id of the SharePoint group. Use either groupName or groupId, but not

[2022-11-03 19:57] Abderahman88 commented on #4001
If specs are OK, this can be assigned to me.

[2022-11-03 20:09] milanholemans commented on #4001
Hi @Abderahman88

Am I right if you can specify only 1 of all provided options? So we'll have 1 option set with all options in?
In that case, it's not quite clear with this option description. On the other side `Specify either userId, userName, groupId, groupName or webUrl` is not appealing either 😃

[2022-11-03 21:31] Jwaegebaert commented on #3996
Looks good to me. Let's ship it!

[2022-11-03 22:04] Adam-it commented on #3996
@MathijsVerbeeck great suggestion as always 🤩🤩
Small open points from my side:
- What about `Add users to sharing link`? Will we have also a dedicated command for it? or we are planning to start with the first 5?
- those endpoints should work for SPO and OneDrivce, but in CLI we have these as separate namespaces. Do we plan to start with SPO first and see if they might be reused as aliases? or the

[2022-11-03 22:07] Adam-it commented on #3958
@waldekmastykarz good idea to extend the existing commands with an additional option to browse for help 👍 Would you agree if I open it as a separate issue, and we will remove this functionality from here?
as for the `browse` I also agree. corrected in spec ✅

[2022-11-03 22:13] Adam-it commented on #3990
yes

6. if we assume we are populating an existing list we should add options to get the list by id and/or URL. Usually its `--listId` and `listUrl`
7. what should happen if the list already has some data and we are uploading new from excel? should we clear the list and repopulate or just add more data or should we have the option to specify what should happen
8.

[2022-11-03 22:53] MathijsVerbeeck commented on #3996
I think that we should create a seperate command for this, as it is possible to add users and remove existing users at the same time. Using the default 'update' command could be hard to implement this here. I'm not sure on the amount of commands, but I'll list that once you folks say 'Go'! I will have to do some reasearch, as it is also possible to add / remove roles, but we have to think about ho

[2022-11-03 23:43] #3920 closed

[2022-11-03 23:43] #3924 closed

[2022-11-03 23:43] #3927 closed

[2022-11-04 00:22] milanholemans commented on #3996
Looks good to me 👍
I'd say let's make a list of all commands, after that we can start making issues.

[2022-11-04 00:28] Adam-it commented on #3996
I agree

[2022-11-04 00:42] #3678 closed

[2022-11-04 06:30] martinlingstuyl commented on #3792
Status update!

I have not yet found a way to do this with the SharePoint REST API. The Request object that's necessary to call the `update(true)` endpoint is unclear. There is no documentation and no-one seems to have ever used it on the interwebs.

So I've caught a CSOM request using Fiddler.

This gives me a good example of using the older `/_vti_bin/client.svc/ProcessQuery` API.
The command is

[2022-11-04 11:05] Jwaegebaert commented on #3945
Same goes for the following commands

- teams report deviceusagedistributionusercounts
- teams report deviceusageusercounts
- teams report deviceusageuserdetail
- teams report directroutingcalls
- teams report pstncalls
- teams report useractivitycounts
- teams report useractivityusercounts
- teams report useractivityuserdetail

[2022-11-04 11:18] garrytrinder commented on #3516
I've not been able to progress this, apologies, it slipped off my radar. I've un-assigned the issue for someone else to pick this up who may have the time to investigate.

[2022-11-04 14:46] #3790 closed

[2022-11-04 14:46] #3854 closed

[2022-11-04 14:46] #3759 closed

[2022-11-04 14:46] #3936 closed

[2022-11-04 14:46] #3760 closed

[2022-11-04 14:46] #3993 closed

[2022-11-04 14:46] #3994 closed

[2022-11-04 14:46] #3995 closed

[2022-11-04 14:50] milanholemans commented on #3992
All tasks done! ✅

[2022-11-04 14:50] #3992 closed

[2022-11-04 15:02] nicodecleyre commented on #3805
Can i work on this one?

After some research it seems we have to do following actions:
- get the solution id if the name was given
- get the solution components with the api `dynamicsApiUrl/api/data/v9.0/msdyn_solutioncomponentsummaries?$filter=(msdyn_solutionid eq SOLUTIONID)&$orderby=msdyn_displayname asc&api-version=9.1`
- publish the components by generating the xml and pass it with the parame

[2022-11-04 16:10] Adam-it commented on #3792
great job @martinlingstuyl 🤩
I think we may go with the older API `/_vti_bin/client.svc/ProcessQuery` 🤔 There are already places that it is used I think 🤔
different approach would be to  wait maybe for the v2 to support all properties 🤔

[2022-11-04 20:32] martinlingstuyl commented on #3792
If that was a possibility, I could also post to the `/Update(true)` REST API endpoint.
The point is you need to make the changes in the same call as the Update function. If you don't do that, the changes aren't pushed down.

As the documentation says it:

I'm sure that the `/Update(true)` REST API endpoint can be used in the same way. We just don't know how precisely. Posting a regular JSON body d

[2022-11-04 22:09] #3723 closed

[2022-11-04 22:09] #3953 closed

[2022-11-04 22:11] #3899 closed

[2022-11-05 00:50] milanholemans commented on #3996
We might also introduce a command to clear all sharing links of a file, folder, ...

[2022-11-05 00:52] MathijsVerbeeck commented on #3996
I did mean to include that in the commands. I'll try my best to write down a list of possible commands tomorrow for the `spo file` commands.

[2022-11-05 09:48] nicodecleyre commented on #3935
Can i work on this one?

[2022-11-05 13:01] nicodecleyre opened #4004 "Bug report: Teamname is undefined in confirmation message when using `m365 teams channel remove`"
### Description

When using the parameter `teamName` instead of `teamId` in the command `m365 teams channel remove` . The confirm message is `Are you sure you want to remove the channel channelname from team undefined?`

the message in the code schould be `Are you sure you want to remove the channel ${channel} from team ${args.options.teamId || args.options.teamName}?`

### Steps to reproduce

exe

[2022-11-05 13:37] nicodecleyre commented on #3934
Pick me!

[2022-11-05 15:35] nicodecleyre commented on #4004
Can you assign me @milanholemans ?

[2022-11-05 15:49] milanholemans commented on #4004
Good catch @nicodecleyre, thank you for reporting this and fixing it. 👏

[2022-11-06 00:37] milanholemans commented on #3935
All yours!

[2022-11-06 00:39] milanholemans commented on #3934
All yours @nicodecleyre !

[2022-11-06 07:23] #3766 closed

[2022-11-06 07:23] #3949 closed

[2022-11-06 07:23] #3703 closed

[2022-11-06 07:23] #3726 closed

[2022-11-06 07:23] #4004 closed

[2022-11-06 07:23] #3950 closed

[2022-11-06 09:32] Adam-it commented on #3540
@pnp/cli-for-microsoft-365-maintainers all done 🥳

[2022-11-06 09:32] #3540 closed

[2022-11-06 10:10] waldekmastykarz commented on #3958
Definitely!

[2022-11-06 10:16] nanddeepn commented on #3925
Can I work on this?

[2022-11-06 10:22] nanddeepn commented on #3900
Can I work on this?

[2022-11-06 11:17] Jwaegebaert commented on #3958
+1 on this suggestion but I'm not quite sure about the option name `web`. Personally, I would call the option `docs`. This would be consistent to name of the upcoming command `m365 docs` but I could be wrong of course 😄

[2022-11-06 11:18] Jwaegebaert commented on #3925
All yours @nanddeepn!

[2022-11-06 11:18] Jwaegebaert commented on #3900
U sure can @nanddeepn!

[2022-11-06 15:33] martinlingstuyl commented on #3540
Nice @Adam-it!

[2022-11-06 17:11] milanholemans opened #4010 "Log the entire API response for `teams app publish`"
I noticed that the command `teams app publish` only logs the ID of the published app on success.
https://github.com/pnp/cli-microsoft365/blob/da9cd2cc6424ee8d9f9e2d8fe8be8a84bd4661c5/src/m365/teams/commands/app/app-publish.ts#L75-L79

I'm questioning why this is done. The original response of the API looks like:
[code]

1. Shouldn't we log the entire response instead of only the ID?
2. We should a

[2022-11-06 17:12] milanholemans commented on #4010
@pnp/cli-for-microsoft-365-maintainers do you have an idea why we do this? Should this be updated?

[2022-11-06 19:15] garrytrinder commented on #4010
I don't see why not and makes sense to return all the information we have to avoid round trips to the API get the same information.

[2022-11-06 19:18] milanholemans opened #4011 "Make use of `formatting.encodeQueryParameter`"
Right now, still too many commands are using `encodeURIComponent(<value>)` instead of our own made `formatting.encodeQueryParameter(<value>)` function.
This results in issues when the passed value contains single quotes.

Example: try `m365 teams team get --name "Contoso's team"`, you'll get an error.
![image](https://user-images.githubusercontent.com/11723921/200185549-0ccb1046-a00b-48f8-9adb-84a

[2022-11-06 19:27] MathijsVerbeeck commented on #4011
It seems like a lot, but I could work on this!

[2022-11-06 19:31] milanholemans commented on #4011
Awesome @MathijsVerbeeck! It looks indeed a bit overwhelming, but at the end, it seems quite doable.
Replace tool can do wonders 😃
Just make sure to only update everything under `m365` and `utils` folders. Only these files are related to API requests.

[2022-11-06 19:43] garrytrinder commented on #3958
+1, I think attaching it to the command would be the more intuitive way to approach this.

@Adam-it I'm interested, if you are already on the command line you can return the help documentation quite easily using `--help`, why do you then need to open it in the browser? What does the browser experience offer that the command line doesn't?

[2022-11-06 21:05] Adam-it commented on #3958
TBH this wasn't my intention/initial idea. If you would look at the comments above it is actually brought up by Nico. My initial idea was just to add a simple command that when used will open CLI docs web page on the home site. The idea behind it was to easily get to the right source that for example has additional guidance how to use CLI in docker. Getting to command docs was not the initial plan

[2022-11-06 21:08] Adam-it commented on #4010
I also agree. My feeling is CLI should usually output what is coming from the API response and if possible extend it with additional data but rather not trim it.

[2022-11-06 21:38] Abderahman88 commented on #4001
@milanholemans I don't think you can just replace everything to only one option. UserId and GroupId are both GUID's, so it won't be trivial to know which Graph endpoint to call.

[2022-11-06 22:00] milanholemans commented on #4010
Ok thx for the feedback, opening it up!

[2022-11-06 22:06] MathijsVerbeeck commented on #3996
For the `spo file` commands, this would be the following:

| Command            | Functionality|
| -------------------------| ------------- |
| spo file sharinglink list | Lists the sharing links of a file. Will return the sharing links |
| spo file sharinglink get | Get a specific sharing link of a file. Will return the sharing link object |
| spo file sharinglink add  | Creates a sharing link to

[2022-11-06 22:22] nicodecleyre commented on #4010
Pick me!

[2022-11-06 22:23] milanholemans commented on #4010
All yours!

[2022-11-06 22:50] #3934 closed

[2022-11-06 22:50] #3935 closed

[2022-11-06 22:50] #3989 closed

[2022-11-06 23:21] milanholemans commented on #2993
Closing issue because the PR was merged.

[2022-11-06 23:21] #2993 closed

[2022-11-06 23:23] milanholemans opened #4014 "Introduce util function to retrieve all SharePoint items"
While we have our `odata.getAllItems<T>(url)` util function, this function doesn't work for SharePoint items.
Because SharePoint REST API uses odata v3 you'll get an error saying that the accept header is not valid.
However, we can tell the SharePoint REST API to use odata v4 which our util function is using. We can do this by adding a new header `odata-version: 4.0`.
By adding this header, we can

[2022-11-06 23:28] milanholemans commented on #4001
I don't want to replace everything in 1 option. An option set is a list of options where only 1 option should be specified. If you provide no options or more than 1, an error is thrown.
In this case we are dealing with an option set right? We need option userId or userName or groupId or groupName or webUrl right?

[2022-11-06 23:45] milanholemans commented on #3996
Looks good, only remark, `sharinglink update` should be `sharinglink set`.
I think you can start creating these issues and spec them 🚀

[2022-11-07 00:25] milanholemans commented on #4011
Hi @MathijsVerbeeck
I wrongly added 'cli consent' and 'cli issues here. These are no APIcomm1nds and shouldn't be updated. Removed them from the specs.

[2022-11-07 04:43] AkashSatoliya commented on #3612
I was really optimistic that I would be able to log in with my new account, which satisfies all requirements. The error was the last thing I expected to encounter, yet it was the first thing I encountered.😂

Is there anything new on this?

[2022-11-07 10:14] MathijsVerbeeck commented on #4011
Hi @milanholemans

Resolved in the pr ;-)

[2022-11-07 10:58] garrytrinder commented on #3958
Thanks @Adam-it, I was just curious, sometimes a new feature is not needed if we look at the reason why it was asked for.

Maybe we could take inspiration from the `Get-Help` command in PowerShell for the command help.

If you use the `-Online` flag it opens up the response in the browser, we could add an `--online` option to be used in conjunction with the existing `--help` option.

[2022-11-07 11:02] nicodecleyre commented on #3958
so if i get it right, that would result in an extra option ´--online´ besides `--help`?
ex.: `m365 --help --online`
ex.: `m365 spo file get --help --online`

[2022-11-07 11:24] nicodecleyre commented on #4010
For completeness, it seems that the actual data returned from `https://graph.microsoft.com/v1.0/appCatalogs/teamsApps` is a little less then the one in the specs:

`{
    id: "e3e29acb-8c79-412b-b746-e6c39ff4cd22",
    externalId: "b5561ec9-8cab-4aa3-8aa2-d8d7172e4311",
    displayName: "Test App",
    distributionMethod: "organization"
  }`

so no `version` parameter is returned and `name` is act

[2022-11-07 11:25] milanholemans commented on #4010
I blame the Graph docs 😁

[2022-11-07 13:14] nicodecleyre commented on #4014
Can i work on this?

Should the header be part of the odata request by default or should it only be added when a parameter is optionally passed with the function?

[2022-11-07 13:53] milanholemans commented on #4014
I think we can always include it in the request. However we only use it for SP REST API, it shouldn't harm our Graph and other API requests.

[2022-11-07 14:00] nicodecleyre commented on #4014
I think it will be following list, please let me know if i forgot a command:

- [ ] spo app list
- [ ] spo contenttype list
- [ ] spo customaction list (Still using a Promise?)
- [ ] spo eventreceiver list
- [ ] spo feature list
- [ ] spo field list
- [ ] spo file list (Still using a Promise?)
- [ ] spo file version list
- [ ] spo folder list
- [ ] spo group list
- [ ] spo group user list
- [ ] sp

[2022-11-07 18:55] milanholemans commented on #4014
We don't need it for example for `spo file version list` because the API will return all versions without paging. However maybe it's just best practice to always use it for `list` commands.

[2022-11-07 19:24] #3956 closed

[2022-11-07 19:27] Adam-it commented on #3895
@pnp/cli-for-microsoft-365-maintainers all done 🤩
our contributors rock 💪

[2022-11-07 19:27] #3895 closed

[2022-11-07 23:21] milanholemans commented on #3911
All right, I did some research, I think I have a way to make it work.

Right now we are using `CreateCopyJobs` endpoint. This endpoint is capable of copying multiple files to the same output folder.
One major drawback here is that we have no control of the name of the file. Only thing we can arrange is the `NameConflictBehavior`, which we can set tot `rename`, `fail` or `replace`. When we pick `re

[2022-11-08 06:18] martinlingstuyl commented on #3612
Yeah, same here.
I've re-read the list of possibilities. We're concerned with the Resource Owner Password Flow here:

https://learn.microsoft.com/en-us/azure/active-directory/develop/v2-oauth-ropc

I think we covered all areas there. The password should not contain a trailing or starting space, but I don't suspect it's that easy?

[2022-11-08 07:12] AkashSatoliya commented on #3612
The password doesn't contain any trailing or starting space.

I again checked with admin for current permission level for new account. It is as follows:
- Full Control, Limited Access
- Read, Limited Access
- Contribute, Limited Access

[2022-11-08 07:27] AkashSatoliya commented on #3612
When I tried the password as `'"&zxc098!@#$%^*()"'` using single inverted comma before and after " I'm getting below error

After using single inverted comma, I'm not getting internal/external command related error.

[2022-11-08 08:47] arjunumenon opened #4019 "Bug report: Code Base | Prompting Parameters and testing Fails when `prompt` config value is set"
### Description

When you have configured `prompt` cli config settings via `m365 cli config set --key prompt --value false` or `m365 cli config set --key prompt --value true`,

- We get prompts for some of the required parameters for some commands while running `npm test` in the Codebase
- If we don't enter, timout gets invoked
- For some commands, test fails because of that

## Not Working Scenar

[2022-11-08 10:07] arjunumenon opened #4020 "Bug report: CLI Config `prompt` not working when given `false` as the value"
### Description

[Config settings](https://pnp.github.io/cli-microsoft365/user-guide/configuring-cli/#configuring-settings) for `prompt` not working when `false` is given as value.

- Execute command `m365 cli config set --key prompt --value false`
- Run any command which prompts for fields, say `m365 spo set`
- We will still get prompt eventhough configured value is `false`

### Steps to reproduc

[2022-11-08 10:20] arjunumenon commented on #4020
Assigning it to myself

[2022-11-08 10:53] milanholemans commented on #4019
Great catch @arjunumenon!

According to me, these tests can just be removed.
When looking at `outlook message get`, the failing test is testing that the validation fails if `id` is not passed. But `id` is a required option.
We don't have to write tests for this, this is already tested in the internals of the CLI. Within commands we should only test our own added validators of that specific command

[2022-11-08 12:17] arjunumenon commented on #4019
I am in an opinion not to remove any test cases which are already created. I am sure there must be some thought process which would have been there for the one who has developed it.
Adding to that, my assumption is that the test case might be developed before we had refactored the validation to the central place. Initially all the validation mechanism were handled within the command itself.
So I w

[2022-11-08 12:42] arjunumenon commented on #3972
My vote would be to extend the current command with  `--withPermission` flag rather than new command. In my opinon, these are information which is typically used in a migration scenario or for reporting scenarios.
Either ways, in my opinion users would prefer to have this added in the scope of existing commands.

[2022-11-08 14:38] arjunumenon commented on #4019
That is a good point about the relevance of the failing tests.

I did not go in detail to the test cases for the mentioned command. I think when you delve into the details of many other test cases, I am sure you will be able to see many test cases which might not be pretty relevant now, but which was relevant when they were building. So we may have to take a call whether we need to actually refine

[2022-11-08 15:36] arjunumenon commented on #4019
Just completed bug fix for #4020 and this bug also has got fixed along with that. Will be assigning this issue to myself. Will initiate a PR soon which closed both #4020 and this one.

[2022-11-08 20:46] milanholemans commented on #3894
Hi @David74000

Just checked, the API we are calling only supports delegated authentication. The error you are getting back is quite weird indeed, but I can confirm that you cannot send a request with application permissions.
We need `Azure Service Management` permissions which only support delegated authentication.

[2022-11-08 21:55] nicodecleyre commented on #3977
Can we ship this? I would like to work on this one if possible?

[2022-11-08 22:31] martinlingstuyl commented on #3612
Hi @AkashSatoliya,

It doesn't matter what permissions the account has when signing in. You should be able to sign in with any Azure AD account, regardless of permissions, as long as the consent is taken care of and MFA is disabled.

You would need to write it as follows: `'&zxc098!@#$%^*()'`.
It's a verbatim PowerShell string when using single quotes. You don't need the double quotes in there.

I

[2022-11-08 22:39] martinlingstuyl commented on #3977
Hi @nicodecleyre, of course you can take it up if you've got the time. Are you sure you do not have too much on your plate with all the PR's you've got open? Don't forget resolving comments will take time as well.

I'll assign you now. If you run into issues with time, do let us know!

Thanks for all the energy and issues you've picked up! 👏 great work!

[2022-11-08 23:46] MathijsVerbeeck commented on #3996
Just one more question: I wonder, for this specific scenario, if it would be useful to use the Beta Graph API, as this is much more extended regarding the use and creation of sharing links. Currently, using the 1.0 API, we cannot for example create user sharing links, but only anonymous or organizational. What is your opinion on this? I'll currently create the specs using the Graph API V1.0, but I

[2022-11-09 00:12] MathijsVerbeeck opened #4023 "New command: `m365 spo file sharinglink list`"
### Usage

m365 spo file sharinglink list

### Description

Lists all the sharing links of a specific file

### Options

|Option|Description|
|-|-|
|`-u, --webUrl <webUrl>` | The URL of the site where the file is located|
|`-f, --fileUrl [fileUrl]`|The server-relative URL of the file. Specify either fileUrl or fileId but not both|
|`-i, --fileId [fileId]`|The UniqueId (GUID) of the file. Specify e

[2022-11-09 00:17] MathijsVerbeeck opened #4024 "New command: `m365 spo file sharinglink get`"
### Usage

m365 spo file sharinglink get

### Description

Gets details about a specific sharing link

### Options

|Option|Description|
|------|-----------|
|`-u, --webUrl <webUrl>`|The URL of the site where the file is located|
|`--fileUrl [fileUrl]`|The server-relative URL of the file. Specify either fileUrl or fileId but not both|
|`--fileId [fileId]`|The UniqueId (GUID) of the file. Specify e

[2022-11-09 00:18] MathijsVerbeeck opened #4025 "New command: `m365 spo file sharinglink add`"
### Usage

m365 spo file sharinglink add

### Description

Creates a new sharing link to a file

### Options

|Option|Description|
|------|-----------|
|`-u, --webUrl <webUrl>`|The URL of the site where the file is located|
|`--fileUrl [fileUrl]`|The server-relative URL of the file. Specify either fileUrl or fileId but not both|
|`--fileId [fileId]`|The UniqueId (GUID) of the file. Specify either

[2022-11-09 00:18] MathijsVerbeeck opened #4026 "New command: `m365 spo file sharinglink set`"
### Usage

m365 spo file sharinglink set

### Description

Updates a specific sharing link to a file

### Options

|Option|Description|
|------|-----------|
|`-u, --webUrl <webUrl>`|The URL of the site where the file is located. |
|`--fileUrl [fileUrl]`|The server-relative URL of the file. Specify either fileUrl or fileId but not both. |
|`--fileId [fileId]`|The UniqueId (GUID) of the file. Specif

[2022-11-09 00:18] MathijsVerbeeck opened #4027 "New command: `m365 spo file sharinglink remove`"
### Usage

m365 spo file sharinglink remove

### Description

Removes a specific sharing link to a file

### Options

|Option|Description|
|------|-----------|
|`-u, --webUrl <webUrl>`|The URL of the site where the file is located|
|`--fileUrl [fileUrl]`|The server-relative URL of the file. Specify either fileUrl or fileId but not both|
|`--fileId [fileId]`|The UniqueId (GUID) of the file. Specify

[2022-11-09 00:18] MathijsVerbeeck opened #4028 "New command: `m365 spo file sharinglink clear`"
### Usage

m365 spo file sharinglink clear

### Description

Removes all sharing links of a file

### Options

|Option|Description|
|------|-----------|
|`-w, --webUrl <webUrl>`|The URL of the site where the file is located|
|`-u, --fileUrl [fileUrl]`|The server-relative (decoded) URL of the file. Specify either fileUrl or fileId but not both|
|`-i, --fileId [fileId]`|The UniqueId (GUID) of the fi

[2022-11-09 06:04] nicodecleyre commented on #3977
Hi @martinlingstuyl ,thanks for the the concern!
It's ok, at the moment i've got 2pr's open and awaiting review :smile:

Cheers!

[2022-11-09 07:12] martinlingstuyl commented on #3977
Ok @nicodecleyre, good luck!

[2022-11-09 07:49] AkashSatoliya commented on #3612
Hi @martinlingstuyl,

I'm not sure why string interpretation is incorrectly happening with m365 command. I tried same with Write-Host, substring, etc. and it works as usual.

I'm not sure what is causing it to treat the string as a command while using m365 cli. I tried in both PowerShell and cmd.exe.

[2022-11-09 08:00] milanholemans commented on #3802
Opening it back up due to lack of response

[2022-11-09 08:31] MathijsVerbeeck commented on #3802
Hi! Could I resolve this?

[2022-11-09 08:37] milanholemans commented on #3802
All yours @MathijsVerbeeck 🚀

[2022-11-09 09:22] milanholemans commented on #3996
I'd say let's use v1.0 to create anonymous or organizational links and perhaps we can use the beta version to create user sharing links. Would that work?
If we do this, let's ensure that we add a warning to the docs that the API is in preview and subject to change.

[2022-11-09 09:23] milanholemans commented on #3996
@MathijsVerbeeck could you add a reference to all created issues so they are linked to this epic issue?

[2022-11-09 09:57] arjunumenon commented on #3996
Pardon me for coming super late to the discussion.
Loved the idea @MathijsVerbeeck ❤️.

Just that I am a doubtful on the naming though - though we are dealing with sharing links type, but would that name be understandable for the normal user? I doubt so.
For a user, in my opinion all it matters is sharing. So that being the case, my personal opinion is to have the command to be something like `spo

[2022-11-09 10:08] AkashSatoliya commented on #3612
I tried converting password to a secure string and now I'm not getting the below error:

But still getting this error:

[2022-11-09 10:17] MathijsVerbeeck commented on #3996
I don't mind the name of the command. This can always change if you guys think that it is clearer if it is `spo file sharing ...`.

Currently, using the V1.0 api, it indeed is impossible to grant / revoke permissions to an existing sharing link. However, using the beta API, this is possible. This is why I suggested using this earlier.

[2022-11-09 10:34] martinlingstuyl commented on #3612
Hi @AkashSatoliya, I don't think you can use a SecureString. that is a .NET object, while the CLI for Microsoft 365 is a Node.JS app.

You should just add the password as a regular string (with single quotes or double quotes should both work the same)

[2022-11-09 10:35] milanholemans commented on #3996
For a user, in my opinion all it matters is sharing. So that being the case, my personal opinion is to have the command to be something like spo file sharing list.

I'm not convinced of `spo file sharing list` in the Graph docs this is also called `sharing links`. In the SharePoint UI these are are called `links` under the sharing button. To me it's quite clear what a sharing link is. But maybe le

[2022-11-09 10:39] Jwaegebaert commented on #3996
I'm also a fan to follow the Graph docs naming `spo file sharinglink`

[2022-11-09 12:34] appieschot commented on #3894
@milanholemans yeah we should catch this scenario and provide better feedback

[2022-11-09 12:38] appieschot commented on #3791
@nicodecleyre awesome! Updated specs for this command will spec out other issues based on your feedback. Thanks for all the awesome input!

[2022-11-09 12:44] appieschot opened #4030 "New command: `m365 pp dataverse table row remove`"
### Usage

m365 pp dataverse table row remove

### Description

Remove row in a dataverse table

### Options

Option | Description
-- | --
`-i, --id <id>` | The row ID to remove
`-t, --tableName <tableName>` | The name of the dataverse table to remove row from
`-e, --environment <environment>` | The name of the environment to list all tables for
`--asAdmin` |  Run the command as admin for environm

[2022-11-09 13:02] appieschot opened #4031 "New command: m365 pp dataverse table remove"
### Usage

m365 pp dataverse table remove

### Description

Remove the specified table

### Options

Option | Description
-- | --
`-n, --name<name>` | The name of the dataverse table
`-e, --environment <environment>` | The name of the environment
`--asAdmin` | Run the command as admin for environments you do not have explicitly assigned permissions to.
`--confirm` | Don't prompt for confirmation

[2022-11-09 13:06] martinlingstuyl commented on #3612
By the way, is this literally the error you get when running the command with `abc@domain.com` and the mentioned password?

I just tried it literally as well, but it just works on my end (except that it won't login because the account is nonexistent)
works on both PowerShell 7.2 and 5:

![image](https://user-images.githubusercontent.com/5267487/200838104-c77555a8-987b-4edd-87c7-58379952bea2.png)

[2022-11-09 13:19] nicodecleyre commented on #4031
Hi @appieschot , you can't with a delete request to `dynamicsApiUrl/api/data/v9.0/logicaltablename`.

You have to use a delete request to `dynamicsApiUrl/api/data/v9.0//EntityDefinitions(LogicalName = 'logicaltablename')`, and this results in a `204 No Content`

[2022-11-09 17:20] arjunumenon commented on #4019
Unlinked this issue from PR #4021. Once we have that PR merged, we will close this issue after confirming that the issue is fixed

[2022-11-10 05:49] AkashSatoliya commented on #3612
Hi @martinlingstuyl ,

I'm getting this error when tried with both `abc@domain.com` and actual service account credentials.

![Error](https://user-images.githubusercontent.com/98800029/201010809-2d92040d-6352-4e9a-8326-5aaec3f31783.png)

[2022-11-10 08:22] martinlingstuyl commented on #3612
Can you try running the following?

[code]

It should give you an extra log line on top, like this:

[code]

The value in `password` is what is received by the m365 application. On my end it reads exactly like I'm pasting above here.

[2022-11-10 08:38] AkashSatoliya commented on #3612
Hi @martinlingstuyl ,

I'm still getting the same error even with `--debug` option
![Error-debug](https://user-images.githubusercontent.com/98800029/201040865-2ef7a5d9-f755-4db8-9cc2-40df0a4a5842.png)

[2022-11-10 10:01] martinlingstuyl commented on #3612
Hmm, I'm not sure why, but I think you're not using the correct quote symbols here. PowerShell seems to not see your value as a string.

[2022-11-10 10:09] martinlingstuyl commented on #3612
What is the code page in use? I think you should be able to query that using one of the following:

[code]

[2022-11-10 17:24] MathijsVerbeeck commented on #2226
I could work on this!

[2022-11-10 20:43] knaopel opened #4033 "Bug report: Does Not Support HTTP DELETE Error on spo eventreceiver remove"
### Description

When attempting to remove an EventReceiver, an error is thrown that SP.EventReceiverDefinitionCollection does not support HTTP DELETE method.

### Steps to reproduce

- Login with cli
- Locate or create a list with event receivers on it.
- Add a new event receiver to the collection if needed
- issue `m365 spo eventreceiver remove --webUrl <UrlofSpoSite> --listId <IdOfList> -i <idO

[2022-11-10 21:03] milanholemans commented on #3900
Hi, sorry that I jump in so lately 😃
Just wanted to check some things.
Shouldn't we rename `email` to `userEmail`?
Options `userName`, `userId` and `userMail` should be used when we are connected with application permissions right?

We should definitely add a remark to the docs that when you connect with application permissions, you should add an application access policy for the command to work.

[2022-11-10 21:05] nicodecleyre commented on #4033
Thank you for reporting this!
It May be a good idea to sanitise your output. Can we ask you to remove the access token & the tenant name in the SharePoint url in your output?

[2022-11-10 21:21] milanholemans commented on #4033
Hi @knaopel

Thank you for making this report. We'll have a look at it!

[2022-11-10 22:57] MathijsVerbeeck commented on #3928
Hi @Jwaegebaert

Could I work on this?

[2022-11-10 23:48] milanholemans opened #4035 "Change `spo eventreceiver get` output structure"
Right now `spo eventreceiver get` is returning a list of objects with only 1 object in it. `get` commands should output a single object instead of a list of objects.

## To do
1. Make sure the command outputs a single object instead of a list.
2. Throw an error when an event receiver with a specific `name` was not found.
3. Update `spo eventreceiver remove` command since it makes use of this comma

[2022-11-11 11:28] Adam-it commented on #3996
great work everybody. I know the issues are already created 😉 but just to confirm the `sharinglink` seems ok for me 👍

[2022-11-11 12:33] arjunumenon opened #4036 "Bug report: Invalid Parameter when executing `m365 spo file sharinginfo get`"
### Description

When you execute the command [`m365 spo file sharinginfo get`](https://pnp.github.io/cli-microsoft365/cmd/spo/file/file-sharinginfo-get/) using the command `m365 spo file sharinginfo get --webUrl https://contoso.sharepoint.com/sites/M365CLI --fileId D0E8F75B-DCD7-478E-9CAA-41944F21D722`, we are getting the error that option 'fileId' is invalid.
![image](https://user-images.githubu

[2022-11-11 13:22] #4011 closed

[2022-11-11 13:22] #4020 closed

[2022-11-11 13:23] Jwaegebaert commented on #4019
Merged manually!

[2022-11-11 13:23] #4019 closed

[2022-11-11 16:10] Adam-it commented on #3958
thanks, @waldekmastykarz, @garrytrinder, and @nicodecleyre for the discussion on this command. Opening this up as a simple command just to start the CLI docs web page in the default browser. For the online help for each command, I go with @garrytrinder suggestion and create a separate issue for it 👍

[2022-11-11 16:27] Adam-it opened #4037 "New `helpTarget` CLI config setting"
### 💡Idea

The aim is to add a new CLI config setting that would define if the `--help` should show up in the console (like now) or open the command sit in CLI for Microsoft 365 docs web page

Setting name|Definition|Default value
------------|----------|-------------
helpTarget|Defines the way the command help will be shown. Set `console` - to show the help in console or `web` - to open the comma

[2022-11-11 16:28] Adam-it commented on #4037
@pnp/cli-for-microsoft-365-maintainers opening this up for discussion 😉

[2022-11-11 16:29] Adam-it commented on #3972
ok
Thanks @waldekmastykarz , @arjunumenon for the comments 👍
I will update the issue accordingly 👍

[2022-11-11 16:53] Adam-it commented on #3972
opening this up 💪

[2022-11-11 16:53] Adam-it commented on #3972
I will create separate issue for each command to extend

[2022-11-11 16:58] Adam-it opened #4038 "Add `--withPermissions` option to `spo web get` command 🔐"
### 🎯 Aim

The aim is to add `--withPermissions` option to [`spo web get`](https://pnp.github.io/cli-microsoft365/cmd/spo/web/web-get/) command.
When used CLI should return associated roles and permissions.

### 🤔 Example

Similar functionality was already developed in [ `spo list get`](https://pnp.github.io/cli-microsoft365/cmd/spo/list/list-get/) command so we may use it as an example.

### 🔍 Wh

[2022-11-11 16:58] Adam-it commented on #4038
@pnp/cli-for-microsoft-365-maintainers any double check before I open it up 😉?

[2022-11-11 17:01] Adam-it opened #4039 "Add `--withPermissions` option to `spo listitem get` command 🔐"
### 🎯 Aim

The aim is to add `--withPermissions` option to [`spo listitem get`](https://pnp.github.io/cli-microsoft365/cmd/spo/listitem/listitem-get/) command.
When used CLI should return associated roles and permissions.

### 🤔 Example

Similar functionality was already developed in [ `spo list get`](https://pnp.github.io/cli-microsoft365/cmd/spo/list/list-get/) command so we may use it as an exa

[2022-11-11 17:01] Adam-it commented on #4039
@pnp/cli-for-microsoft-365-maintainers anyone for a double check here as well? 😉

[2022-11-11 17:03] Adam-it opened #4040 "Add `--withPermissions` option to `spo file get` command 🔐"
### 🎯 Aim

The aim is to add `--withPermissions` option to [`spo file get`](https://pnp.github.io/cli-microsoft365/cmd/spo/file/file-get/) command.
When used CLI should return associated roles and permissions of the file.

### 🤔 Example

Similar functionality was already developed in [ `spo list get`](https://pnp.github.io/cli-microsoft365/cmd/spo/list/list-get/) command so we may use it as an exa

[2022-11-11 17:05] Adam-it opened #4041 "Add `--withPermissions` option to `spo folder get` command 🔐"
### 🎯 Aim

The aim is to add `--withPermissions` option to [`spo folder get`](https://pnp.github.io/cli-microsoft365/cmd/spo/folder/folder-get/) command.
When used CLI should return associated roles and permissions of the file.

### 🤔 Example

Similar functionality was already developed in [ `spo list get`](https://pnp.github.io/cli-microsoft365/cmd/spo/list/list-get/) command so we may use it as

[2022-11-11 17:05] Adam-it commented on #4041
@pnp/cli-for-microsoft-365-maintainers  👉 2x👀🔍🙏

[2022-11-11 17:19] Adam-it opened #4042 "New command: m365 context init 🧺"
### Usage

m365 context init [options]

### Description

Creates a new context file

### Options

Option | Description
-- | --

### Examples

Creates a new context file to store properties

[code]

### Additional Info

Initially discussed in issue #3896

The aim of this command is to create a new file `.m365rc.json` (if not already present) with an empty `context` property where CLI will store pro

[2022-11-11 17:20] Adam-it commented on #4042
@pnp/cli-for-microsoft-365-maintainers any comments before we open this up 🤔?

[2022-11-11 17:28] Adam-it opened #4043 "New command: m365 context remove 🧺"
### Usage

m365 context remove [options]

### Description

Removes the context file

### Options

Option | Description
-- | --
`--confirm` | Don't prompt for confirming removing the file

### Examples

Removes the context file. Prompts for confirmation

[code]

Removes the context file. without prompting

[code]

### Additional Info

Initially discussed in issue #3896

The aim of this command is t

[2022-11-11 17:30] #3802 closed

[2022-11-11 17:30] #4010 closed

[2022-11-11 17:31] Adam-it opened #4044 "New command: m365 context option list 🧺"
### Usage

m365 context option list [options]

### Description

list all options added to the context

### Options

Option | Description
-- | --

### Examples

list all options added to the context

[code]

### Additional Info

When no context file is present in the current location the outcome of running the command should be an error message like `no context present`
Initially discussed in issue

[2022-11-11 17:32] Adam-it commented on #4044
@pnp/cli-for-microsoft-365-maintainers  any comments before we open this up 🤔?

[2022-11-11 17:38] Adam-it opened #4045 "New command: m365 context option set 🧺"
### Usage

m365 context option set [options]

### Description

Allows to add a new name for the option and value to the local context file.

### Options

Option | Description
-- | --
`-n, --name <name>` | The option name for which we will define the value
`-v, --value <value>` | Default value for the option

### Examples

Define a new default value for name `listName` in the context

[code]

### A

[2022-11-11 17:42] Adam-it opened #4046 "New command: m365 context option remove 🧺"
### Usage

m365 context option remove [options]

### Description

Removes an already available name from local context file.

### Options

Option | Description
-- | --
`-n, --name <name>` | The name of the option which will be deleted from the context
`--confirm` | Don't prompt for confirming removing the option

### Examples

Removes an already available name from the local context file

[code]

[2022-11-11 17:48] Adam-it opened #4047 "Modify command execution to check for local context and use default value if defined 🧺"
### 🎯 Aim

The aim of this issue is to modify CLI command execution path to first check if there is any context file in the current path the user is in and if so check if any of the options defined in it may be used in order to populate the currently executed command. Full description with examples is added to the related issue.

### Related issue

#3896

### Spec

- [x] checks the current working

[2022-11-11 17:49] Adam-it commented on #4047
@pnp/cli-for-microsoft-365-maintainers any comments before I start 😉?

[2022-11-11 17:50] Adam-it commented on #4046
actually I will put it on hold until we will developed the mechanism to use the context in any executed command
#4047

[2022-11-11 17:50] Adam-it commented on #4045
actually I will put it on hold until we will developed the mechanism to use the context in any executed command
#4047

[2022-11-11 17:50] Adam-it commented on #4044
actually I will put it on hold until we will developed the mechanism to use the context in any executed command
#4047

[2022-11-11 17:51] Adam-it commented on #4043
actually I will put it on hold until we will developed the mechanism to use the context in any executed command
#4047

[2022-11-11 17:51] Adam-it commented on #4042
actually I will put it on hold until we will developed the mechanism to use the context in any executed command
#4047

[2022-11-11 17:53] Adam-it commented on #3896
ok I added issues for each command and and issue to write a mechanism to check for context and use in command execution path

[2022-11-11 18:02] Adam-it commented on #4023
looks ok to me 👍
@MathijsVerbeeck you rock 🤩

[2022-11-11 18:08] Adam-it commented on #4024
look good to me 👍
@MathijsVerbeeck you rock 🤩

[2022-11-11 18:14] Adam-it commented on #4028
looks ok to me 👍
@MathijsVerbeeck  you rock 🤩

[2022-11-11 18:15] Adam-it commented on #4027
looks ok to me 👍
@MathijsVerbeeck you rock 🤩

[2022-11-11 18:19] Adam-it commented on #4025
IMO I would not add the `password` option which is suppose to be used for OneDrive when we actually plan adding a command for SPO here.  🤔
what do you think?

[2022-11-11 18:29] milanholemans commented on #4036
Hi @arjunumenon

We introduced this name change in `v6` of the CLI. Since you are still on `v5.9.0` the docs show indeed a wrong option name for your version.
For me it is working as expected in `v6`:

![afbeelding](https://user-images.githubusercontent.com/11723921/201405726-c4836616-39ad-4a01-bd42-4ea799891d5a.png)

I however noticed that this option rename was not included in the v6 upgrade gui

[2022-11-11 19:51] knaopel commented on #4033
Thanks for the tip @milanholemans !
However when I issue the command as written I get a 403 Bad request error
![image](https://user-images.githubusercontent.com/1695947/201421269-0903f170-b962-4450-8407-791f9213f76b.png)

[2022-11-11 20:53] MathijsVerbeeck opened #4048 "Bug report: Infinite loop on obtaining yammer groups when yammer environment has no groups"
### Description

While writing the documentation for issue #3928 I wanted to test the command `m365 yammer group list` and noticed that the command kept running infinitely. I then added a quick log in the 'else' statement in the code and noticed that the else branch would keep triggering. This is because I do not have any groups in my Yammer environment in my developer tenant. Upon adding a group

[2022-11-11 21:01] milanholemans commented on #4048
Great catch @MathijsVerbeeck, this is definitely not intentional.

Are you willing to fix it, or should we open it up for the community?

[2022-11-11 21:12] MathijsVerbeeck commented on #4048
I could fix it! (I think 😄 )

[2022-11-11 21:13] martinlingstuyl commented on #3996
Looks great @MathijsVerbeeck! 👏

[2022-11-11 21:15] MathijsVerbeeck commented on #3945
Same goes for the following Yammer commands:
- yammer report activitycounts
- yammer report activityusercounts
- yammer report activityuserdetail
- yammer report deviceusagedistributionusercounts
- yammer report deviceusageusercounts
- yammer report deviceusageuserdetail
- yammer report groupsactivitycounts
- yammer report groupsactivitydetail
- yammer report groupsactivitygroupcounts

[2022-11-11 21:16] milanholemans commented on #4033
Hi @knaopel weird!

Tried it myself, created an event receiver via PnP.PowerShell, and removed it with the same CLI command I provided you.

![afbeelding](https://user-images.githubusercontent.com/11723921/201431176-31327e87-f7b8-465b-a692-37e0bdc8a7eb.png)

I can confirm the event receiver got deleted as expected.

The only thing I can think of is the fact that event receivers are quite annoying

[2022-11-11 21:19] milanholemans commented on #4048
Sure you can! 😄

[2022-11-11 21:45] MathijsVerbeeck opened #4049 "Bug report: Missing headers in `yammer search`"
### Description

While executing the command `yammer search` for the issue #3928 I noticed that I kept getting an error '401 Unauthorized'.
![image](https://user-images.githubusercontent.com/9193870/201435053-52ea1ace-8f0b-439e-8e10-465fea6f6d66.png)
When executing the code using --debug, I noticed that my bearer token was not being passed with the request that was being sent.
After looking in the

[2022-11-11 21:47] milanholemans opened #4050 "Add extra remark for `spo eventreceiver remove` docs"
We should add an extra remark to the `spo eventreceiver remove` docs.
[code]

You can only remove event receivers if they were created with the same app id. Therefore we should add an attention box with following message:

`You can only remove an event receiver if it has been registered by an app with the same ID.`

[2022-11-11 21:48] milanholemans commented on #4049
Another great catch @MathijsVerbeeck, are you willing to work on this one as well or should we open it up to the community?

[2022-11-11 21:48] martinlingstuyl commented on #4050
Absolutely yes, let's ship this!

[2022-11-11 21:55] MathijsVerbeeck commented on #4049
I'll quickly fix this.

[2022-11-11 22:35] milanholemans opened #4054 "Application permission check on certain commands"
Originating from https://github.com/pnp/cli-microsoft365/issues/3894#issuecomment-1307805497

We could and maybe should add extra checks since some commands don't work with application permissions.
Right now we are already doing this for `planner` commands.

https://github.com/pnp/cli-microsoft365/blob/1cd4e45a4596b6bee06b976a26ee95ee90dac81c/src/m365/planner/commands/bucket/bucket-add.ts#L108-L11

[2022-11-11 22:35] milanholemans commented on #4054
@pnp/cli-for-microsoft-365-maintainers what do you think?

[2022-11-11 22:39] MathijsVerbeeck commented on #4025
It all depends if we are opting to support the beta api or not, but for now, I would say to remove it indeed.

[2022-11-11 22:46] Adam-it commented on #4001
@milanholemans I guess you are right. it is one of those options or none at all (then we have for currently logged in user) so I guess we will not be able to reuse option set anyway as we may not define any option 🤔

[2022-11-11 22:47] Adam-it commented on #4025
It's not only that. This command is for namespace `spo` which means a option that may be used only for `onedrive` may seem quite strange. We could expose this option when creating similar set of commands in `onedrive` namespace

[2022-11-11 23:23] milanholemans commented on #4023
Looks good to me as well 👍
Are you willing to work on this one @MathijsVerbeeck or should we open it up for the community?

[2022-11-11 23:32] milanholemans commented on #4024
Few remarks:
1. Let's remove 'to retrieve' from the descriptions.

2. Shouldn't we rename `shareId` to `id`?
3. Let's include a more realistic ID in the examples. If I read the docs correctly, the ID is just an integer right?

[2022-11-11 23:41] milanholemans commented on #4028
Few remarks:

1. Description:
Removes all sharing links ~~to~~ `of` a file

2. Options:
|Option|Description|
|------|-----------|
|`-u, --fileUrl [fileUrl]`|The server-relative URL of the file ~~to retrieve~~. Specify either fileUrl or fileId but not both|
|`-i, --fileId [fileId]`|The UniqueId (GUID) of the file ~~to retrieve~~. Specify either fileUrl or fileId but not both|
|`--confirm` | ~~When

[2022-11-12 00:16] MathijsVerbeeck opened #4055 "Bug report: Unable to promote page to news page using `spo page set` and `spo page add`"
### Description

Using the command `spo page set`, I've tried to promote a site page as a news page using the command `spo page set`. This didn't seem to work on my end. After consulting the code, I saw that the call being executed to change the page to a news page is a regular SharePoint REST API update command. I have noticed however, that updating the `PromotedState` field from a site page to c

[2022-11-12 00:53] #4033 closed

[2022-11-12 04:05] arjunumenon commented on #4036
Aaah. Had missed that part. Thanks @milanholemans for clarification.

Been super rusty in the CLI front and missed the release cycle. Now it makes sense. Good that you have added that in the upgrade guidance.

[2022-11-12 08:40] nicodecleyre commented on #4050
Can you assign me?

[2022-11-12 09:26] nicodecleyre commented on #3724
Can i work on this one? 👀

[2022-11-12 10:08] #4036 closed

[2022-11-12 10:10] milanholemans commented on #4050
Certainly!

[2022-11-12 11:11] MathijsVerbeeck commented on #4024
Done

There are 2 possibilities. We either have a shareId, which is `A unique token that can be used to access this shared item via the shares API. Read-only.` and we have the id, which is `The unique identifier of the permission among all permissions on the item. Read-only.`.

I'm fine using the ID as the option, but we could theoretically specify both.

[2022-11-12 11:13] MathijsVerbeeck commented on #4028
Changed your suggestions. Seems like copy pasting can be hard sometimes... 😄

[2022-11-12 11:24] MathijsVerbeeck commented on #2029
I could give it a go.

[2022-11-12 11:45] milanholemans commented on #2029
Nice! Thank you!

[2022-11-12 12:55] quantrpeter commented on #3990
Hi All
   Here is my answers.
1. I would like to support xlsx and csv, We were building our own library https://gitlab.com/quantr/office365/quantr-365-cli and using https://www.npmjs.com/package/xlsx for excel manipulation
2. for example "col2 != 'peter", filter out all rows if col 2 is peter
3. agree
4. we can do both, we have experience for creating list https://gitlab.com/quantr/office365/quant

[2022-11-12 12:56] appieschot commented on #3788
Since we have speced all these commands in separate issues and they are being worked on this one will be closed

[2022-11-12 12:56] #3788 closed

[2022-11-12 14:21] waldekmastykarz commented on #4031
LGTM 🚀

[2022-11-12 14:24] waldekmastykarz commented on #4030
Following our naming convention, `name`, should be `tableName`. Just `name` would indicate that it's `rowName`, which isn't the case here.

[2022-11-12 14:39] waldekmastykarz commented on #2029
Hey @MathijsVerbeeck, we haven't mentioned it explicitly on the spec, but let's ensure that we properly support the different field types.

[2022-11-12 14:44] waldekmastykarz commented on #4037
`--online` is too generic of a name and in my opinion it's unclear that it relates to help. In the original example from PowerShell brought up by @garrytrinder it's used in conjunction with the `Get-Help` cmdlet, where it makes sense. `spo field set --online` is confusing. It would be clearer to use `--helpOnline`, which would clearly depict the option's purpose and wouldn't possibly collide with

[2022-11-12 14:45] waldekmastykarz commented on #3958
See my comment on #4037 but tl;dr `--online` is to generic of a name to be used with all commands.

[2022-11-12 14:52] waldekmastykarz commented on #3612
If I may chime in, @AkashSatoliya, could you try running:

[code]

I saw you tried running it before, but like @martinlingstuyl mentioned, with the `--debug` flag we should get more information about what's actually being sent over the wire. Last time you tried it with single quotes you got a different error, so perhaps we should get back to double quotes and see if that gets us any closer.

[2022-11-12 14:57] waldekmastykarz commented on #3911
We don't care about the progress information, as long as we allow users to use the command synchronously in case they have a script that depends on the file to exist in the new location. If the new API offers the same functionality, we can switch to use it instead of what we're using now.
Before we do, what's the return type of the new API? Is there anything that would indicate that it's a sync AP

[2022-11-12 14:59] waldekmastykarz commented on #3859
Nope, I started reviewing it, but ran into some issue with docs, where I decided to let be and fix the issues first. Now that these issues are fixed, we can get back to review the PR.

[2022-11-12 15:01] waldekmastykarz commented on #3986
This could become an epic of itself listing all commands that need updating. By breaking it down we can spread the load and get it done faster.

[2022-11-12 15:02] waldekmastykarz commented on #4054
Good idea to add it to all commands where it's applicable. I wonder if we can centralize it though, since we need to break function execution by calling `return` on the main flow.

[2022-11-12 15:04] waldekmastykarz commented on #4042
Spec seems solid. I don't think we need to wait with implementing this command until we support using context.

[2022-11-12 15:05] waldekmastykarz commented on #4043
Spec seems solid. I don't think we need to wait with implementing this command until we support using context.

[2022-11-12 15:07] milanholemans commented on #3911
Right now the command waits until the file copy job has been completed.

With the new API, we're not getting any relevant information from the response, actually no information at all, just some metadata values if I recall correctly.

At the moment, I don't really have an idea if the file copy has been finished when the request completes, or it continues in the background.
Will have to check it ou

[2022-11-12 15:21] milanholemans commented on #4054
Good point, right we do a return indeed, but that was because we used to work with callbacks. When we passed an error to the callback function and had to add a `return` statement to prevent it from executing more of the `commandAction`.

However, we are now working with `promise/await`. We are now throwing errors, when we throw an error, the function will be terminated as well, so actually we can

[2022-11-12 15:23] waldekmastykarz commented on #3896
Looking at the different commands, what do you think to use `m365 context option ...`  instead of `property` to more clearly denote that these commands refer to setting default values for command options? The concept of a _context property_ might be vague, where _option_ clearly states we're defining options.

[2022-11-12 15:23] waldekmastykarz commented on #4044
We should also specify how this command handles the situation where there's no context file in the current folder.

[2022-11-12 15:28] waldekmastykarz commented on #4054
Good point! If we can use throw to break the code flow, it would suffice as well!

[2022-11-12 15:37] milanholemans commented on #4054
Just not sure if we should centralise a single `if`  with 1 line of code in the body. Or should we just copy/paste it.
Might be overkill to centralise 3 lines of code.

[2022-11-12 15:44] waldekmastykarz commented on #3990
This suggestion is similar to #2029 which is focusing on CSV support for batch items creation. I wonder if we shouldn't combine both commands and introduce XSLX as another data format. What do you think @pnp/cli-for-microsoft-365-maintainers?

[2022-11-12 15:45] waldekmastykarz commented on #4054
There's little overhead when it comes to centralizing it and offers us a great deal of consistency especially when it comes to the logic we use to decide if we're in app-only auth and the error message we return. I'm all for centralizing.

[2022-11-12 15:46] waldekmastykarz commented on #3724
Please do!

[2022-11-12 15:48] waldekmastykarz commented on #3996
Is there a specific reason these commands have to be in the `spo` namespace rather than directly in the `file` namespace? As we're not depending on SharePoint APIs, I'd be for including them in the `file` workload.

[2022-11-12 15:53] martinlingstuyl commented on #3612
I do think you might need to escape (at least) the dollar sign with a backtick:

`$

[2022-11-12 15:53] waldekmastykarz commented on #4047
Let's bring the relevant pieces of the epic to this issue, so that we can easily validate the PR without having to dissect the complete epic for what's relevant. We should define at minimum:

- where we load context from
- how we handle no context or errors while loading context
- how we handle the case when context defines options that are not a part of the command (be sure to spec the difference

[2022-11-12 16:13] waldekmastykarz opened #4059 "Update the `spo file version list` command with default values"
Right now, the `spo file version list` command returns by default in the text mode more information than what fits in a reasonably sized terminal window. We should update the command with a list of properties that should be included by default. I'd suggest to include Created, ID, IsCurrentVersion, and VersionLabel

Since the command was introduced in v6, this will not be a breaking change.

[2022-11-12 16:24] waldekmastykarz commented on #3516
Based on detailed information of the issue in [this article](https://www.linkedin.com/pulse/deep-dive-cve-2022-33987-got-allows-redirect-unix-socket-sanders/), since we're not exposing the URL that's passed to got, plus the user is running CLI on their own machine, I don't think that this issue is relevant to us.

[2022-11-12 16:24] #3516 closed

[2022-11-12 16:34] waldekmastykarz opened #4060 "Update logic for upgrading SPFx projects to v1.14"
Related to #3665

When upgrading projects to v1.14 change the update logic to suggest creating a feature for each component. The ID of the feature should match the ID of the component. Each feature must use the `componentIds` property to reference the component it belongs to. This recommendation should be only present if there are no features defined in the package-solution.json file.

In v1.14 SP

[2022-11-12 16:35] waldekmastykarz commented on #4060
cc: @AJIXuMuK

[2022-11-12 16:39] waldekmastykarz commented on #3979
Thank you so much for double checking we got it right! Always a pleasure to work together with you ❤️

[2022-11-12 17:27] nicodecleyre commented on #4031
I would like to work on this one

[2022-11-12 17:30] Adam-it commented on #4031
@appieschot looks good to me as well 👍
@nicodecleyre all yours 🫡. you rock 🤩

[2022-11-12 17:33] Adam-it commented on #4030
fine fine fine 👍
great work @appieschot 🤩.

[2022-11-12 17:35] Adam-it commented on #3958
@waldekmastykarz sure will check. but regarding this issue, and its current status, I suppose all looks fine right?

[2022-11-12 17:36] Adam-it commented on #4042
ok great. Thanks @waldekmastykarz for your double check 👍

[2022-11-12 17:37] Adam-it commented on #3896
Totally 🫡. WIll update 👍Thanks @waldekmastykarz for your comment 🤩

[2022-11-12 17:40] Adam-it commented on #4044
ok updated the spec

[2022-11-12 17:48] Adam-it commented on #3990
I agree that does look like a similar idea 👍.
@waldekmastykarz what do you think if we live the `spo listitem batch add ` as is as it is already work in progress by the contributors so maybe it would be best not to add more during development 😉. And later on extend that command with `.xslx` support with this issue 🤔.

[2022-11-12 18:11] milanholemans commented on #4059
Good point, `spo file version get` has the same issue I guess.

[2022-11-12 18:14] nicodecleyre commented on #4038
Choose me!

[2022-11-12 18:33] milanholemans commented on #4038
All yours!

[2022-11-13 00:01] milanholemans commented on #4055
Thank you for reporting this @MathijsVerbeeck
We'll have a look at it.

[2022-11-13 07:46] reshmee011 commented on #4041
Please assign to me to start working on it.

[2022-11-13 08:40] Adam-it commented on #4041
All yours 👍💪

[2022-11-13 09:31] nicodecleyre commented on #4039
Can you assign me please?

[2022-11-13 09:34] waldekmastykarz commented on #3990
Make sense @Adam-it. We can then benefit from the mechanics of adding multiple list item and will only have to add the missing bits of extracting data from Excel files.

[2022-11-13 09:35] waldekmastykarz commented on #3958
If implement just what's in the spec and leave what's in the thread be for now, it's good to go.

[2022-11-13 09:36] waldekmastykarz commented on #4059
Not quite: `get` retrieves just one item, whereas `list` returns multiple which we then format as a table. So `get` should be good.

[2022-11-13 09:40] waldekmastykarz commented on #3792
So the question what is it that we actually want: do we want to sync the current parent content type with the child content type or do we want to push changes that we're applying at the moment to the child content type? I think the latter is in line with the UI but it would be good to verify that if you change something in a CT without pushing to children and then change something else in the CT w

[2022-11-13 09:51] Adam-it commented on #4039
all yours
thanks for your awesome work 👍

[2022-11-13 09:59] waldekmastykarz commented on #3782
Ok, so the spec is that you can pass to the `help` option:

- nothing, in which case you get whatever you have configured in `helpMode` (ok for a CLI setting name?). If you haven't configured anything, you get `full` (I'd suggest to keep `full` as the default mode for now to avoid introducing breaking changes)
- case-insensitive name of the section you want to include (`options`, `remarks`, `examp

[2022-11-13 10:07] waldekmastykarz commented on #4046
Logically, we could work on this as soon as we support initiating and setting context options.

Looking at the spec: wouldn't `name` be clearer than `key`?

[2022-11-13 10:08] waldekmastykarz commented on #4045
We can start working on this as soon as we support initiating context. There's no need to wait until we actually use the context.

Looking at the spec, wouldn't `name` be clearer than `key`?

[2022-11-13 10:09] waldekmastykarz commented on #4035
Removing on-hold as the dependent issue has been fixed

[2022-11-13 10:15] waldekmastykarz commented on #3917
Why is this beneficial for us? What problem is it solving and for whom?

[2022-11-13 10:17] waldekmastykarz commented on #3894
Since using this command in app-only auth mode is not supported by the underlying API, there's nothing we can do about it. We'll close this issue and use #4054 for tracking additional work to communicate this limitation in commands.

Thanks again for bringing it to our attention @David74000

[2022-11-13 10:17] #3894 closed

[2022-11-13 10:23] waldekmastykarz commented on #3348
Since the API doesn't mention the completion time, I wonder if we should make any assumptions on it, as it could vary depending on the load on M365 at the given time. Until we can get reliable information about the state from M365, my gut feeling says that we shouldn't try to guess it ourselves.

[2022-11-13 11:55] nicodecleyre commented on #4035
Would love to work on this one

[2022-11-13 12:21] nicodecleyre commented on #4040
Can I work on this?

[2022-11-13 13:48] #4048 closed

[2022-11-13 13:48] #3870 closed

[2022-11-13 13:48] #3928 closed

[2022-11-13 13:48] #4049 closed

[2022-11-13 13:48] #4031 closed

[2022-11-13 13:48] #4050 closed

[2022-11-13 14:07] Adam-it commented on #4040
All yours 👍

[2022-11-13 16:12] waldekmastykarz opened #4068 "Replace 'defines correct option sets' tests with validation tests"
In some commands we have the 'defines correct option sets' test that verifies if the command defines the correct option sets. Thinking of it, it's not the right way about checking validation. Each time we change something about the command's option sets, we need to adjust the tests as well, which means we need to apply each change in two places. It also tightly couples the implementation with the

[2022-11-13 18:11] milanholemans commented on #3782
Maybe it's a nice idea to specify multiple sections, like `option`, `examples`.

[2022-11-13 18:16] milanholemans commented on #4035
All yours!

[2022-11-13 18:24] Jwaegebaert commented on #4068
+1 on this idea. If I'm reading it correctly, this will require users to write more specific tests to validate their options?

[2022-11-13 18:35] martinlingstuyl commented on #4068
It ties it down to the implementation, that's true. On the other hand, one of the reasons we added option sets is to lift the burden of writing the same code again and again. We are sparing the contributor writing x extra lines of code and validation tests.

With optional and dependent option sets coming up, that gain will increase. Will it not be much easier (for the contributors) if we implement

[2022-11-13 18:51] nicodecleyre commented on #3791
Would love to work on this one

[2022-11-13 19:24] nicodecleyre commented on #3650
Hi All,

There is also an api for this: `dynamicsApiUrl/api/data/v9.0/bots` to which you can give a fetchXml parameter for more specific info from the bot

Greets

[2022-11-13 20:05] milanholemans commented on #4068
Agree. I think the logic to validate how option sets work should not be tested in the command test itself. The `defines correct option sets` test now prevent the user from 'accidentally' updating the option set, you can argue if that is useful or not. In the latter case, we can just remove them, but I wouldn't really add more tests to test something that is centralized. I think the command tests s

[2022-11-13 20:05] waldekmastykarz commented on #4068
Correct @Jwaegebaert

Unfortunately, we can't do that, because tests run in the context of a command, and only the command knows which options belongs to a set. Our tests should be decoupled from the how we implement validation, and should let us verify the correct behavior, even if the implementation changes. If we need to change tests each time we change the command's implementation, then in the

[2022-11-13 20:13] waldekmastykarz commented on #3782
I think we agreed to show just one section and then use `full` if you want multiple: https://github.com/pnp/cli-microsoft365/issues/3782#issuecomment-1295935603, https://github.com/pnp/cli-microsoft365/issues/3782#issuecomment-1295996745

[2022-11-13 20:13] martinlingstuyl commented on #3791
Thanks again @nicodecleyre! I've assigned you!

[2022-11-13 20:25] martinlingstuyl commented on #3782
Jep, fully agreed..

[2022-11-13 20:28] martinlingstuyl commented on #3782
I've updated the specs somewhat

[2022-11-13 20:39] AlexJPawlak opened #4072 "Bug report: m365 spo listitem add - multi-choice field"
### Description

Hello

I cannot create an item trying to supply an array for multiple choice with Fill-ins enabled. The array gets truncated to a single-line.

Input:
m365 spo listitem add --listTitle "ListTitle" --webUrl $u --Title $_."Title" --MultiChoiceField '["ValueA","ValueB"]'

Output:
(...)
  "MultiChoiceField": [
    "['ValueA','ValueB']"
  ],
(...)
The output truncated the array (note I

[2022-11-13 21:45] milanholemans commented on #4072
Hi @AlexJPawlak thank you for reporting this issue.
We'll have a look at it.

[2022-11-13 22:24] milanholemans commented on #4072
Hi @AlexJPawlak I just checked it. Apparently this is by design by the API we are using. The way you should add multi choice fields is by passing a value like this: `Choice 1;#Choice 2;#Choice 3`.

Can you check if this works for you? Maybe it's a good idea to add this to our documentation file. Therefore I shall add it.

[2022-11-13 23:51] milanholemans commented on #4033
@knaopel in the meantime, my PR got merged so the command is updated in the CLI beta release (`npm i -g @pnp/cli-microsoft365@next`).

You might try that one, however it will probably give the same result for you.

[2022-11-14 08:04] waldekmastykarz commented on #3782
Ship it!

[2022-11-14 08:45] Jwaegebaert commented on #4027
Same remarks here like `m365 spo file sharinglink get`

- Let's remove 'to retrieve' from the descriptions.
- Let's rename `shareId` to `id`
- Let's include a more realistic ID in the examples.

Besides that, looks good for me to!
Do you want to work on this or open it up?

[2022-11-14 08:46] Jwaegebaert commented on #4025
One additional idea is to change the description for `expirationDateTime` to something like this:

[2022-11-14 08:47] Jwaegebaert commented on #4025
Maybe we could also remove the 'to retrieve' from the descriptions.

[2022-11-14 08:49] Jwaegebaert commented on #4028
Looks good to go! Do you want to work on this @MathijsVerbeeck or do you want to open it up?

[2022-11-14 08:51] Jwaegebaert commented on #4027
One more pointer, let's change the description of confirm to `Don't prompt for confirmation`

[2022-11-14 09:03] appieschot commented on #3650
That's great news, If I understand correct we can use that API to retrieve bots and include a `--details` if we need more details?

[2022-11-14 09:21] nicodecleyre commented on #3650
Maybe we should include the details response with the fetchXml standard, because a call without the fetchXml doesn't say much.

For example, the response from the call `dynamicsApiUrl/api/data/v9.0/bots` without fetchXml parameter returns:

[code]

but the response from the call `dynamicsApiUrl/api/data/v9.0/bots` **with** fetchXml parameter returns:

[code]

where the fetchXml parameter is the fo

[2022-11-14 09:47] martinlingstuyl commented on #3792
I think we'd best conform to the way this is handled in other places: only push the current changes.
We'd need to add a big note to the docs of course.

- It's in the documentation: https://learn.microsoft.com/en-us/previous-versions/office/developer/sharepoint-2010/ms442695(v=office.14)#considerations-when-updating-child-content-types
- CSOM (and PnP PowerShell of course) handles it the same way

[2022-11-14 10:24] garrytrinder commented on #4037
My main reason for suggesting that the `--online` option would work only when with the existing `--help` option would be used would be to avoid having two options for returning help.

I do take on board however that if we were to introduce `--online` in another command where it is more relevant, we wouldn't be able to.

I wonder if we actually need to introduce a new option here, maybe this is a s

[2022-11-14 11:37] MathijsVerbeeck commented on #4023
Feel free to open this up, however, it might be useful to clarify the last question from Waldek in #3996

[2022-11-14 11:37] MathijsVerbeeck commented on #4028
Feel free to open this up, however, it might be useful to clarify the last question from Waldek in #3996

[2022-11-14 13:03] MathijsVerbeeck commented on #2029
Hi @waldekmastykarz
After doing some research, it seems that it is currently impossible to set Managed Metadata values using the Graph API. Would this be a blocking issue? Or should I do some research on maybe changing from the Graph API to the SharePoint REST API for creating the items?

[2022-11-14 13:13] MathijsVerbeeck commented on #4025
Updated the specs 😄

[2022-11-14 13:14] MathijsVerbeeck commented on #4027
Updated the specs 😄

[2022-11-14 13:15] MathijsVerbeeck commented on #4026
Updated the specs 😄

[2022-11-14 13:36] milanholemans commented on #2029
IMO, we should definitely use the SharePoint REST API. Even if Graph is faster or supports all data types, I think we should still use SharePoint REST API. Just for consistency this is a must in my opinion. We should ensure that the `spo listitem add` should behave the same as its batch variant. If we use 2 different APIs we can't really guarantee that in my opinion (different input/different outp

[2022-11-14 13:51] waldekmastykarz opened #4074 "Extend the `spo serviceprincipal permissionrequest approve` command with ability to approve all pending requests"
I'd like to propose that we extend the `spo serviceprincipal permissionrequest approve` command with the ability to approve all pending requests at once. Often during development, you want to quickly approve all pending requests. From the UI, you can approve them only one by one, and while you could build a script to achieve this with CLI already today, having a ready-to-use command would be even

[2022-11-14 13:51] waldekmastykarz commented on #4074
Hey @pnp/cli-for-microsoft-365-maintainers, I'd love to hear your opinion.

[2022-11-14 14:02] milanholemans commented on #4074
Looks good to me 👍

Maybe another enhancement that might be useful: approve everything of a certain `resource`.
`m365 spo serviceprincipal permissionrequest approve --resource MyCustomApp`

[2022-11-14 14:05] Jwaegebaert commented on #4074
Ship it 🚢

The `resource` option would also come in handy but I think only in combination with the `all` option.

[2022-11-14 14:30] nicodecleyre opened #4075 "make `setFriendlyPermissions` global"
When working on #4038, #4039 & #4040, I had to reuse the function `setFriendlyPermissions`, the same that is used for `spo roledefinition list`.

We should make this function global and place it in the `base-permssions.ts` file so it can be used globally

[2022-11-14 14:49] milanholemans opened #4076 "Update `spo serviceprincipal permissionrequest` important box"
For all `spo serviceprincipal permissionrequest` we have an important box saying: `To use this command you have to have permissions to access the tenant admin site.`.
This description is quite vague in my opinion. We could make it a bit clearer, something like:

For commands:
* spo serviceprincipal permissionrequest approve
* spo serviceprincipal permissionrequest deny
* spo serviceprincipal permi

[2022-11-14 14:50] milanholemans commented on #4076
@pnp/cli-for-microsoft-365-maintainers any remarks?

[2022-11-14 15:09] waldekmastykarz commented on #4037
You mean a setting that when set, would open by default all docs in the browser as opposed to in the terminal?

[2022-11-14 15:50] waldekmastykarz commented on #4075
Seems like something that we could move to https://github.com/pnp/cli-microsoft365/blob/main/src/utils/formatting.ts

[2022-11-14 15:51] martinlingstuyl commented on #4074
No further comments, ship it!

[2022-11-14 15:51] AlexJPawlak commented on #4072
Hey thanks!

That seems to have helped. Sharepoint API seems not so straightforward, I think it's the easiest to look up browser payloads in future

Best regards

[2022-11-14 15:59] milanholemans commented on #4072
Indeed, that's what I did 😊.
However we can't expect our users to do that, so a better way is us adding an example to the docs for every field type.

[2022-11-14 16:24] arjunumenon commented on #4074
Nice idea to add `--all`. All in for the enhancement.

[2022-11-14 17:35] nicodecleyre commented on #4075
Even better! Can assign me please?

[2022-11-14 17:53] waldekmastykarz commented on #4074
Great idea to include --resource. I wouldn't combine it with --all but rather keep as an alternative, so you either provide --id, --resource or --all.

[2022-11-14 17:56] milanholemans commented on #4074
Yes, exactly how I had it in mind!

[2022-11-14 18:46] waldekmastykarz commented on #4074
`--resource` is clear enough to me, also I like that it's concise and I think it's pretty self-evident what it's for

[2022-11-14 22:01] martinlingstuyl commented on #4037
We could also add `online` to the list of possible values of #3782.

It's different from the other values in the effect it has, but on the other hand it might fit there nicely...

[2022-11-14 22:39] MathijsVerbeeck commented on #2029
Just a quick question regarding the csv-format: in the csv example, we specify the fields `webUrl` and `listTitle`. Should I really keep track of those fields? Should we allow the code to bulk add listitems to multiple sharepoint sites / lists at a time?

[2022-11-14 23:47] Adam-it commented on #4037
hmmm @garrytrinder interesting idea 🤔
@pnp/cli-for-microsoft-365-maintainers  what do you think we create CLI config for it how should the --help option work? either open in command in CLI docs webpage in the browser or show the help in the console as now?

@martinlingstuyl I don't quite feel it 🤔. The issue you mentioned is more about which part of docs should be shown and not what to show 🤔. If

[2022-11-14 23:51] Adam-it commented on #2029
@MathijsVerbeeck I think the csv are just sample columns and the `webUrl` and `listTitle` are maybe not the best for example case but I would imagine the target list has columns like this that we update.
I think the aim is to target one site and a single list which we define using `--webUrl` and `--listId` or `--listTitle` options.
@garrytrinder could you confirm the intention 😉?

[2022-11-15 04:52] nanddeepn commented on #4076
Can I work on this?

[2022-11-15 06:19] martinlingstuyl commented on #3917
Well @waldekmastykarz, there are lots of people who build their own docker images. I do that sometimes as well, for building SPFx solutions for example. I generally include the CLI in those images to be able to use the SPFx related commands within the container.

devcontainer features are a new and better way to do just that.

Aside from that it's good to be in any index where cross platform tooli

[2022-11-15 08:01] milanholemans commented on #4076
Sure @nanddeepn, thank you!

[2022-11-15 08:36] waldekmastykarz commented on #3917
Understood. What's the difference between including the CLI in the image by installing it as a tool using `npm i` and the approach that you're proposing?

[2022-11-15 10:05] AkashSatoliya commented on #3612
Hi @waldekmastykarz and @martinlingstuyl ,

Thank you so much for your reply.

I tried both the command in both ways, like with double quotes with `--debug` option and single quotes with `--debug` option and both double and single quotes without `--debug` option. In all the cases result remains same:

Error: network_error: Network request failed. Please check network trace to determine root cause.

[2022-11-15 10:24] martinlingstuyl commented on #3612
Hi @AkashSatoliya,

As far as I understand, this is not an issue with the CLI for Microsoft 365, but with PowerShell and possibly the input encoding you are using.

PowerShell throws `'1zxc098!@#$%()'` is not recognized as an internal or external command, operable program or batch file.

PowerShell is apparently interpreting your string password as a command. Possibly it sees the first character `

[2022-11-15 12:31] AkashSatoliya commented on #3612
Hi @martinlingstuyl ,

You are right. There is some issue with PowerShell. When I tried to login using cmd I am able to login.

I tried in ci/cd pipeline as well but there, even though pipeline was showing as successfully completed. But when I checked the log I am getting below error:

I believe this must be due to MFA. Let me check admin team internally.

I genuinely appreciate your help in getti

[2022-11-15 13:36] martinlingstuyl commented on #3612
Okay, that's clearly MFA indeed. You'll need to ask your IT admins to exclude this account from any conditional access policy that enforces MFA.

Of course, 🙂 that's what we're here for. I hope we can resolve this issue ASAP.

Did you try escaping the ampersand?

[2022-11-15 20:12] Adam-it commented on #4037
Ok cool, I will update the spec ASAP

[2022-11-15 20:45] waldekmastykarz opened #4080 "Update CLI to support SPFx v1.16.0"
- [x] #4081
- [x] #4082
- [x] #4083

[2022-11-15 20:45] waldekmastykarz opened #4081 "Update spfx project upgrade to support SPFx v1.16.0"

[2022-11-15 20:45] waldekmastykarz opened #4082 "Update spfx doctor to support SPFx v1.16.0"

[2022-11-15 20:45] waldekmastykarz opened #4083 "Update spfx project doctor to support SPFx v1.16.0"

[2022-11-15 20:56] MathijsVerbeeck commented on #2029
So I've written the code to add the items as a batch, but I've come accross one small but very important issue: For setting e.g. multiple user fields, we use a ',' as delimiter for the array. Same goes for setting a hyper-link field, which contains the url and the description in the following format: `https://bing.com, URL`.

I could solve this by encoding the comma's in the CSV, but then the user

[2022-11-15 21:19] MathijsVerbeeck commented on #2029
After doing some research, I found out that I can just simply put double quotes around the input string, and that would work fine, but currently, the code in `formatting.parseCsvToJson` just does a hard split on ',', and does not take the double quotes into account.

[2022-11-15 21:26] MathijsVerbeeck commented on #4083
I could give this a go!

[2022-11-15 21:26] milanholemans commented on #4083
All yours!

[2022-11-15 22:34] martinlingstuyl commented on #4037
I was not entirely convinced about it myself as well. If you both don't like it, let's go for the config key instead.

[2022-11-15 22:44] martinlingstuyl commented on #3917
The end result is the same of course, but still.

I'd say it's easier: less thought goes into how to write your docker file.

Plus it's a declarative way of describing what features you want in your devcontainer. That fits better in my eyes than having to code it all out.

[2022-11-15 22:50] martinlingstuyl commented on #3787
Any thoughts @pnp/cli-for-microsoft-365-maintainers ?

[2022-11-15 22:53] MathijsVerbeeck commented on #3448
Just a small update: Waiting for PR #3902 to be merged, so that I can add the code to this to avoid merge conflicts, but the code is written 😉

[2022-11-15 22:54] milanholemans commented on #3787
Makes sense to me, good suggestion @martinlingstuyl! Also the new name might be more suitable indeed (however it's called `add new user` in the UI).
I'd say just break it if we can get it ready before the next release 😄

[2022-11-15 22:55] MathijsVerbeeck commented on #3931
I could work on this one 😄

[2022-11-15 22:57] MathijsVerbeeck commented on #3931
I could work on this 😄

[2022-11-15 22:57] milanholemans commented on #3931
All yours!

[2022-11-15 23:01] milanholemans commented on #3754
Just wondering, aren't we missing an issue for `flow` commands?

[2022-11-16 02:54] AkashSatoliya commented on #3612
Yes, I've again requested IT team to exclude this from MFA.

That's so nice of you  🙂

Nope. I simply tried without escaping the ampersand. Like `&1zxc098!@#$%^()`.

[2022-11-16 06:23] martinlingstuyl commented on #3787
Thanks Milan 🙏 We can split it up in two issues. Changing the name is little work. I'll pick it up tonight if no one has further comments.

[2022-11-16 07:00] martinlingstuyl commented on #3917
Also: as a user you delegate the installation to the package. I'd say less error prone. People forgetting `-g` does happen sometimes for example.

[2022-11-16 07:02] martinlingstuyl commented on #3612
Ok, I'm still curious whether that solves it on your local Pc though. Just for future reference. 🤗 who knows, someone else might come up with the same issue.

[2022-11-16 07:33] waldekmastykarz commented on #3787
`member` is a better name indeed. Let's change it for v6 indeed and don't forget to update the v6 upgrade guidance.

[2022-11-16 07:35] waldekmastykarz commented on #3917
Looking at devcontainer features, would it also mean that we need to update it on each CLI release? I wonder if the amount of work and effort on our part outweighs using `npm i` to install the CLI.

[2022-11-16 07:37] waldekmastykarz commented on #3754
Good catch! Let's add it to the epic

[2022-11-16 08:07] milanholemans opened #4086 "Include response output: `flow` commands"
Related to #3754

---

Add the response output for all the commands under the service:

- `flow` [documentation location](https://github.com/pnp/cli-microsoft365/tree/main/docs/docs/cmd/flow)

You can reference the commands `planner plan` and `planner bucket`. They are already contain the `Response` heading in their documentation.

For more information what guidelines to follow, be sure to check o

[2022-11-16 08:10] martinlingstuyl opened #4087 "Rename `spo group user <verb>` commands to `spo group member <verb>`"
Related to #3787

If we want to be able to use Azure AD groups as members of SharePoint Groups, it makes more sense to rename the commands to `spo group member <verb>`.

## Additional fixes
- Fixed some tests without `asserts` in the spo group member spec files.
- Fixed the response of `spo group member list` to return an array.

[2022-11-16 08:15] waldekmastykarz commented on #2029
Good catch @MathijsVerbeeck and we should definitely follow the CSV specification where we should allow surrounding values with a comma with quotes. Let's adjust the parsing function so that it handles it correctly.

[2022-11-16 11:42] quantrpeter commented on #3990
hi guys, anything we can work on?

[2022-11-16 13:13] waldekmastykarz commented on #3990
Not at the moment, @quantrpeter. Let's wait until #2029 is done and then we'll working on finalizing the spec to allow reading data from Excel files. I appreciate your willingness to help.

[2022-11-16 13:33] nanddeepn commented on #4086
Can I work on this?

[2022-11-16 13:36] milanholemans commented on #4086
Certainly!

[2022-11-16 14:09] martinlingstuyl commented on #3917
You can pass properties (like a package version) to the feature, thereby letting the user control what version he wants to let the feature install.
This means that you only need to revisit the feature repo when you need to change things in the installation routine. So not on every version update.

For example, this is how Azure CLI configured it:

[code]

[2022-11-16 14:26] quantrpeter commented on #3990
@waldekmastykarz got it

[2022-11-16 15:09] Adam-it commented on #4042
Sure, you rock 🤩

[2022-11-16 18:00] waldekmastykarz commented on #3917
So if it's just passing the version string to our feature, what's the added value of that comparing to folks just calling `npm i -g` directly? Is it to ensure that they don't forget the `-g` argument?

[2022-11-16 18:09] MathijsVerbeeck opened #4090 "Bug report: Issue when executing `spo listitem list` with a filter value"
### Description

When executing `spo listitem list` and adding a value to the option `filter`, for example `Title eq 'Test'`, I get the following error:
Error: The expression "Title eq ''Test''" is not valid.

I noticed that the single quote that I add in the filter option is doubled. I've had a quick look in the code and noticed that this makes sense, as the `formatting.encodeQueryParameter` repl

[2022-11-16 19:18] Jwaegebaert commented on #4090
Thanks for reporting this issue @MathijsVerbeeck. We'll review it ASAP.

[2022-11-16 19:42] Jwaegebaert commented on #4090
With the latest build on Node 16.14.2 I'm able to reproduce this bug. Like @MathijsVerbeeck mentioned, this is due to the replace regex after the URI encoding. When a string gets encoded and then surrounded between quotes in the URL, we will need to make sure to replace the single quotes with two single quotes. E.g. take following endpoint:

[code]

Because the encoded folderUrl is surrounded with

[2022-11-16 19:53] milanholemans commented on #4090
In that case I'd say to just use `encodeURIComponent(...)` instead of the `formatting.encpdeQueryParameter(...)`

[2022-11-16 19:55] Jwaegebaert commented on #4090
Also an option ofcourse 😄

[2022-11-16 20:49] Jwaegebaert opened #4092 "Rename `teams messagingsettings list` to `teams messagingsettings get`"
For a list command you would expect to receive an object list with your result, this isn't exactly the case for the command `teams messagingsettings list`. This returns a single object with all your settings for the respective team.

Here I would suggest to rename `teams messagingsettings list` to `teams messagingsettings get`. This in place will make it more aligned with our other commands. Of co

[2022-11-16 20:50] Jwaegebaert commented on #4092
@pnp/cli-for-microsoft-365-maintainers would this be useful to implement?

[2022-11-16 21:13] milanholemans commented on #4092
Not sure about this, commands like `planner tenant settings list`, `pp tenant settings list`, `spo tenant settings list` have the same behavior, they are all list commands that output a single object.
I think the reasoning here is that we don't have to specify a specific object by an `id` or whatever.

[2022-11-16 21:17] milanholemans commented on #4092
Just remembered we had this discussion here before 😃
https://github.com/pnp/cli-microsoft365/issues/3355#issuecomment-1154733109

[2022-11-16 21:20] MathijsVerbeeck opened #4093 "Update error message on `spo navigation node add`"
When adding a navigation node, the option `location` is optional. However, when we are not mentioning a `parentNodeId`, the error message being returned to the user is: `Error: undefined is not a valid value for the location option. Allowed values are QuickLaunch|TopNavigationBar`. It might be better to add a more clearer description like:
'Location is required when not specifying a parentNodeId.

[2022-11-16 21:25] milanholemans commented on #4093
Looks like a good enhancement tot me 👍
Are you willing to work on this one?

[2022-11-16 21:28] MathijsVerbeeck commented on #4093
This seems like a good problem for a new developer to start contributing to the CLI. Feel free to open this one up to the community!

[2022-11-16 21:42] MathijsVerbeeck opened #4095 "Docs update: Order of commands"
### How to solve this issue:

The following commands in the mkdocs.yml would need an update:

|Category|Subcategory|
|-|-|
Azure Active Directory (aad)|app
Azure Active Directory (aad)|o365group
Azure Active Directory (aad)|user
Planner|bucket
Planner|task
spo|app
spo|cdn
spo|contenttype
spo|hubsite
spo|list
spo|listitem
spo|serviceprincipal
spo|site
spo|web
teams|channel

The purpose is that the

[2022-11-16 22:05] milanholemans commented on #4095
Links should always go in alphabetical order indeed. However I think we can keep the `list add`, `list get`, `list remove`, `list set`, `list list` together since they belong to the same group.

Are you willing to work on it, or should we open it up for the community?

[2022-11-16 22:09] MathijsVerbeeck commented on #4095
You can open this up. I've also noticed the same behavior for `spo listitem` (see screenshot below). Should I include this in this issue? (I'll update the specs)
![image](https://user-images.githubusercontent.com/9193870/202304831-2723ba6c-8167-4be3-b522-93d42ac6999a.png)
Here, however, the `add`, `get`, `remove`, `list` or `set` command are split alphabetically. I'm not sure on what the best-way

[2022-11-16 22:13] milanholemans commented on #4095
Let's list up all issues. Normally the order should be
[code]

[2022-11-16 22:14] MathijsVerbeeck commented on #4095
This might take a while, but I'll do my best 😁

[2022-11-16 22:25] martinlingstuyl commented on #3917
I feel we're running a bit in circles here 😀

I think using features has a couple of advantages. Whether it's worth the effort is a good question, seeing the amount of work that is probably needed to get this set up, I'd say it's OK to do. I'd certainly use it myself.

**Summing up the benefits**:

For the user:
- declarative dependencies. (= cleaner)
- less code in the docker file (= easier to se

[2022-11-16 22:43] milanholemans commented on #4095
Let's just list the groups to revision like `spo listitem`, `spo list`, ...

[2022-11-16 23:26] Jwaegebaert commented on #4092
Fair point, with the verb `get` users can presume that they need to pass along an `id` which isn't the case here. I'll close this issue then and leave it as is 👍

[2022-11-16 23:26] #4092 closed

[2022-11-17 01:35] Adam-it commented on #4037
ok I updated the spec
@waldekmastykarz, @martinlingstuyl what do you think about it now?

[2022-11-17 01:37] Adam-it commented on #4045
good point. Spec updated

[2022-11-17 01:38] Adam-it commented on #4046
also here I updated the spec

[2022-11-17 06:57] martinlingstuyl commented on #3787
hi @pnp/cli-for-microsoft-365-maintainers, I've updated the specs to allow for adding groups by name. Any last remarks before I open this up?

[2022-11-17 07:00] martinlingstuyl opened #4097 "Enhancement: allow for add group members by site user Id"
In our [spo group user add](https://pnp.github.io/cli-microsoft365/cmd/spo/group/group-user-add/) command, we allow for adding users by upn or email. Aside from that we could also allow people to add users by Id. I mean the site user id a user has on a SharePoint site.

We could add the following option to allow for this

Option | Description
--|--
`--userId [userId]` | The user Id of the user to

[2022-11-17 07:05] martinlingstuyl opened #4098 "Enhancement: Remove an Azure AD group as member from a SharePoint Group"
Related to #3787

In our [spo group member remove](https://pnp.github.io/cli-microsoft365/cmd/spo/group/group-user-remove/) command, we currently do not allow to remove Azure AD groups.

We could add the following option to allow for this

Option | Description
--|--
`--aadGroupId [aadGroupId]` | The object Id of the Azure AD group to remove as a member. Specify either `aadGroupId` or `aadGroupName

[2022-11-17 07:07] martinlingstuyl opened #4099 "Enhancement: Add extra options to remove users as SharePoint Group Members"
Related to #4097.

In our [spo group user remove](https://pnp.github.io/cli-microsoft365/cmd/spo/group/group-user-remove/) command, we allow for removing users by upn. Aside from that we could also allow people to remove users by email or user Id. I mean the site user id a user has on a SharePoint site.

We could add the following options to allow for this

Option | Description
--|--
`--email [ema

[2022-11-17 07:48] nicodecleyre commented on #4099
Hi @martinlingstuyl ,shouldn't it be `m365 spo group member remove`?

[2022-11-17 07:52] nicodecleyre commented on #4095
Can't we write a unit test for this alphabetic behaviour?

[2022-11-17 07:52] martinlingstuyl commented on #4099
Absolutely correct @nicodecleyre . Copy paste failure 😁

[2022-11-17 08:40] #4087 closed

[2022-11-17 12:46] nicodecleyre commented on #4043
Hi @Adam-it, can I work on this?

[2022-11-17 13:30] nicodecleyre commented on #4068
There are 170 commands that use option sets, 112 of them (in bold) don't use a specific option sets test:

- [ ] aad app add
- [ ] **aad app get**
- [ ] **aad app remove**
- [ ] **aad app role add**
- [ ] **aad app role list**
- [ ] **aad app role remove**
- [ ] **aad app set**
- [ ] **aad approleassignment add**
- [ ] **aad approleassignment list**
- [ ] **aad approleassignment remove**
- [ ] **a

[2022-11-17 13:46] Adam-it commented on #4043
All yours.
@nicodecleyre thanks for all your awesome work. Please also consider your health and don't overdo it 👍. We are all in this together and there is no rush if some feature will not make it for the V6 release

[2022-11-17 15:07] AlexJPawlak commented on #4072
Yep. Thanks, it seems all resolved then :-)

[2022-11-17 15:07] #4072 closed

[2022-11-17 18:47] waldekmastykarz commented on #4037
I'm actually using `helpMode` for #3782 😄  How about `helpTarget`?

[2022-11-17 19:04] waldekmastykarz commented on #3917
This argument doesn't quite stand, because we don't install CLI in our own devcontainer, because we use the devcontainer to build the CLI, so we're not installing it in there. We do build a Docker image with the CLI but that's not a devcontainer.

I'm not sure if that argument stands. If I'm reading things right, to use the feature you'd use in devcontainer.json:

[code]

In comparison, you'd inst

[2022-11-17 19:46] milanholemans opened #4104 "Bug: Tour for VSCode on Windows?"
### Discussed in https://github.com/pnp/cli-microsoft365/discussions/4103

<div type='discussions-op-text'>

<sup>Originally posted by **JJFranko** November 17, 2022</sup>
Wondering if the output to tour functionality actually works on VSCode for Windows when trying the spfx project upgrade?
My versions are:
- m365-cli version 5.9.0
- VS Code Version 1.73.1
- Node.js 16.14.8
- OS: Win10 (10.0.1904

[2022-11-17 22:51] Jwaegebaert commented on #4104
Hey @JJFranko, the output tour seems to be working on windows with version 5.9.0. Are you getting a `.tours` folder in your project after executing ´m365 spfx project upgrade--output tour´?

[2022-11-17 22:54] MathijsVerbeeck commented on #4055
I noticed that the option ´--promoteAs NewsPage´ can also be used when adding a page in the command `spo page add`, so this would have to changed there too.

[2022-11-17 22:57] JJFranko commented on #4104
No. I do not see the .tours directory created. And I made sure I launched be code from an admin escalated cmd prompt just so that wasn’t a factor. I have a space after ‘upgrade’ but your line below does not. Would that be an issue?

Sent from my iPhone

On Nov 17, 2022, at 5:51 PM, Jasey Waegebaert ***@***.***> wrote:

﻿
CAUTION - EXTERNAL:

Hey @JJFranko<https://github.com/JJFranko>, the output t

[2022-11-17 22:58] Jwaegebaert commented on #3805
Sorry for the delay but all yours @nicodecleyre

[2022-11-17 23:00] Jwaegebaert commented on #3346
Hey @nanddeepn, are you still interested to work on this new command?

[2022-11-17 23:03] Jwaegebaert commented on #2834
I'll pick this issue up 😄

[2022-11-17 23:08] Jwaegebaert commented on #4104
The missing space is a typo on my end. Do you by any chance receive an error after executing the command, or any output?

[2022-11-17 23:11] JJFranko commented on #4104
Not at kbd now but it I believe it just relayed the examples of the various commands. No errors though. I definitely would have included that because that info is incredibly helpful.

Sent from my iPhone

On Nov 17, 2022, at 6:08 PM, Jasey Waegebaert ***@***.***> wrote:

﻿
CAUTION - EXTERNAL:

The missing space is a typo on my end. Do you by any chance receive an error after executing the command,

[2022-11-17 23:38] #3724 closed

[2022-11-17 23:38] #4035 closed

[2022-11-17 23:38] #4076 closed

[2022-11-17 23:38] #4082 closed

[2022-11-17 23:38] #4083 closed

[2022-11-17 23:38] #3984 closed

[2022-11-17 23:38] #4081 closed

[2022-11-17 23:46] milanholemans commented on #4080
All done!

[2022-11-17 23:46] #4080 closed

[2022-11-17 23:56] Jwaegebaert commented on #4104
@pnp/cli-for-microsoft-365-maintainers perhaps someone else can simulate this bug?

[2022-11-18 07:43] nanddeepn commented on #3346
Hi @Jwaegebaert
Yes, I can work on this.

[2022-11-18 08:32] Jwaegebaert commented on #3346
Super, all yours @nanddeepn. Thanks for all your hard work!

[2022-11-18 10:24] MathijsVerbeeck commented on #4095
In regards to this issue, I found irregularities for the following commands:

**Azure Active Directory (aad)**
	- app
	- o365group
	- user

**Planner**
	- bucket
	- task

**spo**
	- app
	- cdn
	- contenttype
	- hubsite
	- list
	- listitem
	- serviceprincipal
	- site
	- web

**teams**
	- channel

Please have a second look however 😄 .

[2022-11-18 10:31] appieschot commented on #3650
Totally agree!

[2022-11-18 10:46] appieschot opened #4106 "New command: `m365 pp chatbot remove`"
### Usage

m365 pp chatbot remove

### Description

Removes the specified chatbot

### Options

Option | Description
-- | --
`-i, --id [id]` | The ID of the chatbot. Specify either `id` or `name` but not both.
`-n, --name [name]` | The Name of the chatbot. Specify either `id` or `name` but not both.
`-e, --environment <environment>` | The name of the environment for which to remove the chatbot
`--