[2021-06-07 20:58] garrytrinder commented on #2254
All yours @aakashbhardwaj619

Welcome back and thank you for your continued support 👍🏻

[2021-06-07 21:24] hercules999 commented on #1380
thanks Waldek was there any relevant update on this by the way?

[2021-06-08 00:10] rabwill commented on #2475
Thanks for labelling @waldekmastykarz :) totally forgot

[2021-06-08 07:08] waldekmastykarz commented on #2299
Thank you for confirming all is working as expected @sympmarc 👏

[2021-06-08 07:12] waldekmastykarz commented on #715
Thank you for the kind words! 😊

That sounds useful indeed! Shame it's only for the SharePoint connector, hopefully we'll see other connectors follow in the future as well. Does is btw alleviate the need for creating a connection or do you still need to manually create the connection but don't need to change the flow after importing because the URLs and IDs are stored separately?

[2021-06-08 07:14] waldekmastykarz commented on #1380
Unfortunately not. It seems like we didn't get anyone interested in helping out to build it. Is it still relevant for you?

[2021-06-08 09:00] Markus-Hanisch commented on #715
@waldekmastykarz
You are welcome.
Hmm, I am not sure if I can answer your question correctly.
There is a good guidance video on [Data Source Environment Variables by Reza Dorrani](https://youtu.be/BFGcXSAgawM).
As far as I could see, you need a connection to SharePoint.
More or less the Data Source Environment Variables are like "placeholders" and will be automatically be applied in (replaced in)

[2021-06-08 11:00] waldekmastykarz commented on #715
Got it, so as such the problem with having to manually create the connection is still there, right?

[2021-06-08 11:47] Abderahman88 opened #2481 "Enhancement: centralize converting CSV to JSON in m365 tenant report commands"
The commands `m365 tenant report getOffice365ActivationsUserDetail`, `m365 tenant report getOffice365ActivationsUserCounts` and `m365 tenant report getOffice365ActivationCounts` use the same conversion method. It's better to centralize this method in the Utils class.

[2021-06-08 11:48] Abderahman88 commented on #2481
@waldekmastykarz Can you assign to me please ?

[2021-06-08 11:54] waldekmastykarz commented on #2481
Brilliant! Appreciate your help @Abderahman88 👏

[2021-06-08 14:08] aakashbhardwaj619 commented on #2254
I started working on this command today and found that it is not that straightforward to get the plan details using its name. The [List Plans](https://docs.microsoft.com/en-us/graph/api/planner-list-plans?view=graph-rest-1.0&tabs=http) API requires the `owner` (_groupId_) filter to fetch the plans in a particular group and does not work without it. Furthermore, the API does not filter on other que

[2021-06-08 17:25] waldekmastykarz commented on #2254
How would a person find out the ID of the group? I guess that's the path we should follow in our implementation. It might not be the most performant solution but one that people would probably use more.

[2021-06-08 20:59] garrytrinder commented on #2374
I'm not aware of anything.

[2021-06-09 03:44] plamber commented on #2374
Me neither

[2021-06-09 06:21] waldekmastykarz commented on #2374
So... since we can't think of a scenario for this, why should we consider this change? 🤔

[2021-06-09 06:38] plamber commented on #2374
Because it still does not behave correctly when working with groups. You shouldnt  use the same membership manipulation technique for teams as with groups.

[2021-06-09 06:41] waldekmastykarz commented on #871
Closing due to lack of activity

[2021-06-09 06:41] #871 closed

[2021-06-09 06:41] waldekmastykarz commented on #821
Closing due to lack of activity

[2021-06-09 06:41] #821 closed

[2021-06-09 06:42] waldekmastykarz commented on #884
Closing due to lack of activity

[2021-06-09 06:42] #884 closed

[2021-06-09 06:42] waldekmastykarz commented on #956
Closing due to lack of activity

[2021-06-09 06:42] #956 closed

[2021-06-09 06:42] waldekmastykarz commented on #1046
Closing due to lack of activity

[2021-06-09 06:42] #1046 closed

[2021-06-09 06:43] waldekmastykarz commented on #1224
Closing due to lack of activity

[2021-06-09 06:43] #1224 closed

[2021-06-09 06:43] waldekmastykarz commented on #1225
Closing due to lack of activity

[2021-06-09 06:43] #1225 closed

[2021-06-09 06:44] waldekmastykarz commented on #1489
Closing due to lack of activity

[2021-06-09 06:44] #1489 closed

[2021-06-09 06:44] waldekmastykarz commented on #1492
Closing due to lack of activity

[2021-06-09 06:45] waldekmastykarz commented on #1495
Closing due to lack of activity

[2021-06-09 06:45] waldekmastykarz commented on #1578
Closing due to lack of activity

[2021-06-09 06:45] #1578 closed

[2021-06-09 10:59] vipulkelkar commented on #2230
Files and Folders seem to be exposed as [Drive Items](https://docs.microsoft.com/en-us/graph/api/resources/driveitem?view=graph-rest-1.0) . Would have to dig further as to what other objects/operations we can expose on oneDrive.

[2021-06-09 11:38] waldekmastykarz commented on #2374
Got it, so back to @garrytrinder question, the answer is 'yes', we want to do exactly that.

[2021-06-09 11:40] waldekmastykarz commented on #2230
Recently, we added a `file convert` command which we exposed on the `file` namespace rather than driveItem, because `file` is clearer.

What if you wanted to get files from your onedrive? Should you be able to call `onedrive file list` or rather `file list`, or maybe do something else altogether?

[2021-06-09 11:40] plamber commented on #2374
I agree with teams but do not agree with Groups. Cli is not usable for group membership manipulation if we do not fix this

[2021-06-09 11:48] waldekmastykarz commented on #2374
I thought that with the groups UI, we meant the AAD UI which for groups shows users both as owners and members, which makes it aligned with the API, right?

[2021-06-09 12:05] plamber commented on #2374
The aad ui does not behave like this. Members and owners are handled separately.

When writing scripts i do not really want that the cli is interpreting anything there. I need full control when manipulating memberships

[2021-06-09 13:49] waldekmastykarz commented on #2374
That's what I meant. In AAD you can see owners and members separately and we should handle them in CLI as such.

[2021-06-09 13:49] arjunumenon commented on #2219
Hello team -

Need your expert guidance in taking this script up. I am assuming we may need couple of commands added / enhanced for this script to be made available.

#### 1. Get default Owners / Member group for a Site
I am assuming we do not have a command in CLI where we can get the default owners / member group for a particular site? Not sure whether I am missing.
If we do not have, I can crea

[2021-06-09 13:52] waldekmastykarz commented on #2219
I wonder if we could do this with a combination of `spo site get` and `spo group get` where the former would give us information about the group to get. Fully agreed, that we could extend `spo group get` with a convenience shortcut to get the owners, members or the visitors group from the given site.

You're right. We don't have it at the moment. Let's start with a spec and we can take it from the

[2021-06-09 14:23] arjunumenon commented on #2219
Thanks for the super quick guidance. Agree with Point 2. Will create a spec and take it from there.

For Point 1, I don't think we will get _Associategroups_ from the `spo site get` command directly since _Associategroups_ (associatedvisitorgroup, associatedownergroup,associatedmembergroup) are part of `/_api/web`.
Another thing is AssociatedGroups are not available by default with `/_api/web` and

[2021-06-09 14:44] arjunumenon opened #2483 "New command: Add user or users to a SharePoint Group"
### Usage

`spo group user add`

### Description

Add a user to SharePoint Group

### Options

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `-u, --webUrl <webUrl>` | URL of the site where the SharePoint group is available |
| `--groupId <groupId>`  | Id of the SharePoint Group to which user needs t

[2021-06-09 14:47] arjunumenon commented on #2483
Hello @pnp/cli-for-microsoft-365-maintainers  - I have created an issue based on [this ](https://github.com/pnp/cli-microsoft365/issues/2219#issuecomment-857713317)discussion. If everything is fine and if you agree, I can take up this up.

[2021-06-09 18:18] SmitaNachan commented on #2478
Hi @waldekmastykarz
Can I work on this?

[2021-06-09 23:25] Abderahman88 opened #2485 "Docs: Add CLI equivalent for Get-SPOUser"
Powershell command `Get-SPOUser` is already implemented in commands `spo user get` and `spo user list`
At the moment, there is no reference to these commands in the docs.

![getspoUser](https://user-images.githubusercontent.com/36161889/121441517-437f0600-c98a-11eb-88ca-ed5dee9eb531.png)

[2021-06-09 23:25] Abderahman88 commented on #2485
I can pick this one up. ✋

[2021-06-09 23:44] Abderahman88 opened #2486 "Docs: Remove Get-TeamHelp"
Since v1.0.6, this command is removed/deprecated. No need to show this in the comparison list.

![image](https://user-images.githubusercontent.com/36161889/121442932-dc168580-c98c-11eb-9ffc-c230d27d1256.png)

![image](https://user-images.githubusercontent.com/36161889/121443178-4d563880-c98d-11eb-8059-61392dc90560.png)

[2021-06-10 07:10] waldekmastykarz commented on #2219
What if we extended `spo web get` with something like `--withGroups` to include groups info in the returned data? Would that make it easier?

[2021-06-10 07:11] waldekmastykarz commented on #2483
For `webUrl` I'd suggest using `-u` as the short, since we use it on other commands as well. Also, shall we allow `userName` to contain multiple, comma-separated user named in case you want to add multiple users in one go?

[2021-06-10 07:13] waldekmastykarz commented on #2478
Please do! I appreciate your help 👏

[2021-06-10 07:14] waldekmastykarz opened #2487 "New sample script: quickly remove SharePoint API permissions"
|Docs||
|-----|----|
|Author| Waldek Mastykarz |
|Original Post| https://blog.mastykarz.nl/sample-script-quickly-remove-sharepoint-api-permissions/ |
|Description| When building SharePoint Framework solutions connected to APIs secured with Azure Active Directory, you might need to clear the list of granted API permissions. Here's a sample script to quickly clean them up. |
|Keywords| `SharePoint O

[2021-06-10 07:14] waldekmastykarz commented on #2485
Good catch. I appreciate your help 👍

[2021-06-10 07:15] waldekmastykarz commented on #2486
Good catch. Thank you! 👍

[2021-06-10 07:22] nanddeepn commented on #2487
Hi @waldekmastykarz
Can I work on this?

[2021-06-10 09:35] waldekmastykarz commented on #2487
Please do! I appreciate your help 👍

[2021-06-10 12:51] Abderahman88 commented on #2486
This is a quick fix. Just put it on my name 👍

[2021-06-10 14:19] Abderahman88 opened #2490 "Docs: Href tags not clickable in certain areas"
In the [Comparison to SharePoint and Microsoft 365 PowerShell docs](https://pnp.github.io/cli-microsoft365/about/comparison-powershell/), the redirection to the M365 CLI command is not always clickable.

### Example

I can click anywhere on `spo user get`, but for `spo user list` only the letter `s` will redirect you to the correct page.
The part in red will not act as a hyperlink.

![image](https

[2021-06-10 15:31] arjunumenon commented on #2219
This idea looks promising from usability point of view for the users. For the use cases (especially for migration scripts), it makes more sense to have the details pulled along with `spo web get `. Plus logically it makes more sense since the properties should be part of web.
The implementation is something which I am skeptical about 🤔. Here technically here, we would have to manipulate the result

[2021-06-10 15:43] arjunumenon commented on #2483
Thanks Waldek. My bad for the wrong short-name for URL. Already updated the specs.

For multiple username - that is a nice addition 👍. I am sure users would be interested in addition of multiple users than single user. Updated the specs for that as well.

[2021-06-10 20:16] Abderahman88 commented on #2490
Chrome, but tested it with Edge on desktop and still have the same problem.

Can you check on a desktop?

[2021-06-10 20:29] Abderahman88 opened #2491 "Docs: Add CLI equivalent for Remove-PowerApp"
In the docs, the CLI command for `Remove-PowerApp` is missing.

![image](https://user-images.githubusercontent.com/36161889/121592488-0888db00-ca3b-11eb-9111-441168f5bda6.png)

### Solution:
`pa app remove
`

[2021-06-10 20:32] Abderahman88 commented on #2491
Volunteer ✋

[2021-06-10 20:37] Abderahman88 opened #2492 "Docs: Add CLI equivalent for Add-SPOUser"
Command `m365 aad o365group user add` missing for Powershell cmdlet `Add-SPOUser`

![image](https://user-images.githubusercontent.com/36161889/121593706-741f7800-ca3c-11eb-8613-c6d473837479.png)

[2021-06-11 04:29] plamber commented on #2374
I am going to create a couple of issues to track all the required changes for all affected commands and a summary issue to link them.

[2021-06-11 06:16] waldekmastykarz commented on #2219
What if we followed the server-side OM here which I believe has the information about groups included in the SPWeb class? We'd retrieve the group information from the additional call and then add it to the main /_api/web result following the naming convention from the SSOM. Would that make sense?

[2021-06-11 06:17] waldekmastykarz commented on #2490
That's awkward and certainly not intentional. Let's see how we can fix it. Thank you for reporting this @Abderahman88 👏

[2021-06-11 06:17] waldekmastykarz commented on #2491
All yours! 👏

[2021-06-11 06:18] waldekmastykarz commented on #2492
All yours! 👏

[2021-06-11 07:29] arjunumenon commented on #2219
I am with you with this approach. That makes sense and we will go ahead with that way 🚀.
I will go ahead and create an enhancement and we can take it from there.

[2021-06-11 07:40] arjunumenon opened #2493 "Enhancement: Extend spo web get to include AssociatedGroups (Owners, Members, Visitors)"
Raised from [this conversation](https://github.com/pnp/cli-microsoft365/issues/2219#issuecomment-858373096).

Extend `spo web get` with parameter `--withGroups` so that return properties will include default groups Owners (associatedOwnerGroup), Members (associatedMemberGroup) and Visitors (associatedVisitorGroup) respectively.

[2021-06-11 07:44] arjunumenon commented on #2493
@pnp/cli-for-microsoft-365-maintainers  - Can you have a look into the specs please and let me know whether any modifications are needed.

[2021-06-11 07:48] arjunumenon commented on #2219
@waldekmastykarz  - Just a quick question on the same.

Now since this script is dependent on #2483 and #2493 do you think it make sense to keep this on hold till we have those added.

[2021-06-11 08:14] waldekmastykarz commented on #2493
Seems good to me! 👍

[2021-06-11 08:14] waldekmastykarz commented on #2219
Yes, we should mark this issue as on-hold to clearly communicate the status

[2021-06-11 09:55] #2481 closed

[2021-06-11 09:55] #2033 closed

[2021-06-11 09:55] #2376 closed

[2021-06-11 09:55] #2486 closed

[2021-06-11 13:09] waldekmastykarz commented on #2490
I think that's the problem:

![image](https://user-images.githubusercontent.com/11164679/121691109-e9378f80-cac6-11eb-95df-6597f7b8520c.png)

It seems that the table exceeds the body area and spills under the sidebar which blocks clicking.

[2021-06-11 13:11] waldekmastykarz commented on #2490
One way to fix it would be to add `overflow-x: auto` to the body container so that it can be scrolled horizontally:

![image](https://user-images.githubusercontent.com/11164679/121691399-3e73a100-cac7-11eb-9779-b526f130fcb5.png)

Doesn't look awesome, but definitely more usable.

@StfBauer, do you happen to have other ideas?

[2021-06-11 13:46] StfBauer commented on #2490
I will check once it is back online ;)
![image](https://user-images.githubusercontent.com/5503835/121696221-22263300-cacc-11eb-8f53-343b3bb79cba.png)

[2021-06-11 14:25] appieschot commented on #2490
@StfBauer would you mind using:
https://pnp.github.io/cli-microsoft365/about/comparison-powershell.html that one should work :D

[2021-06-11 14:36] waldekmastykarz commented on #2490
Noticed it too. Not sure what's wrong and if it's GitHub pages or us 😕

[2021-06-11 14:43] Abderahman88 commented on #2490
It's the trailing slash at the end of the URL that causes the issue
![image](https://user-images.githubusercontent.com/36161889/121704165-c9f32f00-cad3-11eb-9c32-b17e0626bdc6.png)

![image](https://user-images.githubusercontent.com/36161889/121704373-00c94500-cad4-11eb-817e-55153b25b7f9.png)

[2021-06-11 14:48] waldekmastykarz commented on #2490
Still, it's odd, because it used to work just fine. I'm also seeing that all links point to .html rather than extension-less URLs, so there is something off

[2021-06-11 14:50] waldekmastykarz commented on #2490
Locally, docs work just as intended so you'd almost think there is something wrong with GitHub pages

[2021-06-11 14:51] Abderahman88 commented on #2490
I think it's working again. Can't reproduce the issue

[2021-06-11 14:58] Abderahman88 commented on #2490
Probably it was a Github pages issue. They had some issues a couple of days ago.

![image](https://user-images.githubusercontent.com/36161889/121706591-0de73380-cad6-11eb-8683-22b90331c5b3.png)

[2021-06-11 15:21] waldekmastykarz commented on #2490
@Abderahman88, still all your URLs are .html rather than the intended /

[2021-06-11 15:35] StfBauer commented on #2490
This is the issue you are having with the overflow:
![image](https://user-images.githubusercontent.com/5503835/121707445-d9c04280-cad6-11eb-9a5f-d14fb87fdc1f.png)

there is a margin there which overlaps. Interesting enough the sidebar is empty.

[code]

So even if empty then it has a margin-left which then still overlaps the content. You could hide it with an inline style and set it to `display: n

[2021-06-11 16:17] Abderahman88 commented on #2490
@waldekmastykarz I presume they (Github pages) were updating the platform, while we were testing. Everything is working again and all URL's are .html

[2021-06-11 17:49] waldekmastykarz commented on #2490
@Abderahman88 by design URLs should have no extension, so the fact that they have the .html extension means that something's broken.

@StfBauer thanks for looking into it. If we're to change the sidebar behavior, wouldn't that affect other pages that do use it?

[2021-06-11 18:55] StfBauer commented on #2490
@waldekmastykarz Well. the idea is to hide what is not necessary. When the secondary sidebar navigation is empty, no need to have it visible on the page. In Jekyll, I would simply define a different template without a sidebar.

Haven't looked into this template for a while. Seems like the latest version handle of the theme handles it a bit different now.

So you could upgrade and test or use this

[2021-06-11 19:00] waldekmastykarz opened #2498 "Enhancement: update MkDocs version"
Currently, we're building our docs using MkDocs Material 3.0.1 which is 3 years old. We should upgrade MkDocs to the latest  version v7.1.7 to get the latest improvements and avoid future surprises.

[2021-06-11 19:59] garrytrinder commented on #2498
We should also update `devcontainer.json` to match the new version.

[2021-06-11 20:25] appieschot commented on #2493
No comments either! Great idea

[2021-06-11 20:53] garrytrinder commented on #2493
Ship it 🚢

[2021-06-11 22:18] garrytrinder commented on #2230
I think `onedrive list` is good enough here, when I think of OneDrive I don't necessarily see them as sites anymore, more of a single personal storage area, as its not longer possible to create lists or extra libraries within them which you could do on-premises.

[2021-06-11 23:20] garrytrinder opened #2499 "New command: plan list"
### Usage

`planner plan list [options]`

### Description

`Returns a list of plans associated with a specified group`

### Options

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `--ownerGroupId [ownerGroupId]` | ID of the Group that owns the plan. A valid group must exist before this option can be

[2021-06-12 11:35] garrytrinder commented on #2374
Thanks for the clarification, I'm on it 👍

[2021-06-12 12:13] garrytrinder commented on #2374
Code is complete and draft PR raised, will look at implementing the tests later this evening.

[2021-06-12 12:58] garrytrinder commented on #2374
"Later this evening" came quicker than I expected 😄

[2021-06-12 13:52] vipulkelkar commented on #2130
Something like this too where we can break down the chain of 3-4 promises into multiple functions ? Or should we only look at the ones which are already separate functions to start with

https://github.com/pnp/cli-microsoft365/blob/266fd8d68e2a71a9c3d8d58d5c133916193f99b9/src/m365/aad/commands/approleassignment/approleassignment-add.ts#L69-L158

[2021-06-12 17:40] waldekmastykarz commented on #2230
Agreed. Let's adjust the spec to `onedrive list`

[2021-06-12 17:46] waldekmastykarz commented on #2130
@vipulkelkar we could definitely refactor inline code to separate functions and call them async to make the code easier to follow.

[2021-06-13 06:29] MatoSK123 opened #2501 "New command: pa app export"
### Usage

`pa app export [options]`

### Description

`Exports the specified Power App`

### Options

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `-i, --id <id>` | The id of the Power App to export                                    |
| `-e, --environment <environment>` | The name of the environm

[2021-06-13 06:44] garrytrinder commented on #2374
@plamber

In the current command implementation, these options are cosmetic, as in you can use either option with the same ID value and get the same response.

Therefore I took the approach of splitting the behaviour of the `--groupId` and `--teamId` options on the command.

- When `--groupId` is used, the response is returned like it does from the Azure AD portal
- When `--teamId` is used, the re

[2021-06-13 06:59] garrytrinder commented on #2501
Welcome @MatoSK123 and thank you for your suggestion 👍🏻

Let's design the command specification before we start work on this, so that we know exactly what we are building.

I do see this command being very similar to the `flow export` command that we have implemented in the CLI, so we should look to be consistent where possible.

[2021-06-13 07:20] garrytrinder commented on #2230
Spec updated.

I've removed the `filter` option in favour of using JMESPath `query` for the first iteration of this command.

[2021-06-13 07:26] plamber commented on #2374
Hi @garrytrinder,
I would rather separate the old business logic with the new one. The old one (suitable for teams) should go in a separate interface instead of being used as alias.

For V4 I would then remove the teamId option as parameter from the command.

Does it make sense to you?

[2021-06-13 07:59] MatoSK123 commented on #2501
Hello @garrytrinder! Yes, it is very similar to what the "flow export" command provide. We need the same functionality also for Power Apps. So if possible, it would be great to have these options:
-i, --id <id>
   The id of the Power App to export
-e, --environment <environment>
   The name of the environment for which to export the Power App
-n, --packageDisplayName [packageDisplayName]
   The di

[2021-06-13 08:28] garrytrinder commented on #2374
Yes, that makes sense, happy to make the required changes.

@plamber do you agree on the next steps?

- we create a new command for `teams user list` which has both `groupId` and `teamId` options to match the `o365group user list` command and ensure we don't introduce a breaking change, the new command will work as the `o365group user list` command does today
- we update the logic of the `o365grou

[2021-06-13 09:35] plamber commented on #2374
Agreed. I will create a separate issue for all other crud commands

[2021-06-13 18:55] garrytrinder commented on #2501
I have updated the spec, although we can remove `format` option for this command as Power Apps are only exported as ZIP packages.

@MatoSK123 would you like to take the implement the command or are you happy for the community to pick this up?

[2021-06-13 21:26] garrytrinder opened #2504 "Microsoft Graph v1.0: `o365group teamify`"
The `o365group teamify` command currently uses the `beta` endpoint, however guidance has been provided on how to create a Microsoft Team using the Microsoft Graph v1.0 endpoint.

Create team from group: https://docs.microsoft.com/en-us/graph/api/team-put-teams?view=graph-rest-1.0&tabs=http

[2021-06-13 21:46] garrytrinder opened #2505 "Microsoft Graph v1.0: `teams channel get`"
The `teams channel get` command uses the `beta` endpoint to filter groups as shown below.

The `resourceProvisioningOptions` filter is not supported in the v1.0 endpoint, but the `displayName` filter is, therefore we should implement the v1.0 endpoint in the request, keeping the `displayName` filter but removing the `resourceProvisioningOptions` filter, then filter the request response using JavaS

[2021-06-13 21:47] garrytrinder commented on #2505
@pnp/cli-for-microsoft-365-maintainers any thoughts?

[2021-06-13 21:55] garrytrinder commented on #2505
This approach has also been used in several other commands, listed below

- `team list`
- `team channel list`
- `team conversationmember add`
- `team conversationmember list`

[2021-06-13 22:22] garrytrinder opened #2506 "New command: `teams team get`"
### Usage

`teams team get [options]`

### Description

`Retrieve information about the specified Microsoft Team`

### Options

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `-i, --teamId [id]` | The ID of the Microsoft Teams team to retrieve information for. Specify either teamId or teamName but no

[2021-06-13 22:23] garrytrinder commented on #2506
As this new command will be a breaking change, we should look to introduce this command in v4.

[2021-06-13 22:36] garrytrinder commented on #2505
I've also found in the documentation that in certain circumstances there are Teams that may not have the `resourceProvisioningOptions` property set.

Get a list of groups: https://docs.microsoft.com/en-us/graph/teams-list-all-teams?context=graph%2Fapi%2F1.0&view=graph-rest-1.0#get-a-list-of-groups

[2021-06-13 22:47] garrytrinder opened #2507 "Microsoft Graph v1.0: `teams team list`"
The `teams team list` command uses `beta` endpoints for two requests that can now use `v1.0` endpoints.

https://github.com/pnp/cli-microsoft365/blob/266fd8d68e2a71a9c3d8d58d5c133916193f99b9/src/m365/teams/commands/team/team-list.ts#L36-L38

List joinedTeams: https://docs.microsoft.com/en-us/graph/api/user-list-joinedteams?view=graph-rest-1.0&tabs=http

https://github.com/pnp/cli-microsoft365/blob

[2021-06-13 23:09] garrytrinder opened #2508 "Microsoft Graph v1.0: `teams message list`"
The `teams message list` command uses a `beta` endpoint that is now in `v1.0`.

https://github.com/pnp/cli-microsoft365/blob/266fd8d68e2a71a9c3d8d58d5c133916193f99b9/src/m365/teams/commands/message/message-list.ts#L36

chatMessage: delta : https://docs.microsoft.com/en-us/graph/api/chatmessage-delta?view=graph-rest-1.0&tabs=http

As this API is protected we should include a warning in our docs lin

[2021-06-13 23:15] garrytrinder opened #2509 "Microsoft Graph v1.0: `teams message reply list`"
The `teams message reply list` command uses a `beta` endpoint that is now in `v1.0`.

https://github.com/pnp/cli-microsoft365/blob/266fd8d68e2a71a9c3d8d58d5c133916193f99b9/src/m365/teams/commands/message/message-reply-list.ts#L35

Get chatMessage in a channel or chat: https://docs.microsoft.com/en-us/graph/api/chatmessage-get?view=graph-rest-1.0&tabs=http#example-3-get-reply-to-a-message-in-a-chan

[2021-06-13 23:21] garrytrinder opened #2510 "Microsoft Graph v1.0: `teams user app list`"
The `teams user app list` command uses a `beta` endpoint that is now in `v1.0`.

https://github.com/pnp/cli-microsoft365/blob/266fd8d68e2a71a9c3d8d58d5c133916193f99b9/src/m365/teams/commands/user/user-app-list.ts#L42

List apps installed for user: https://docs.microsoft.com/en-us/graph/api/userteamwork-list-installedapps?view=graph-rest-1.0&tabs=http#example-1-list-apps-installed-for-the-specified

[2021-06-13 23:28] garrytrinder opened #2511 "Microsoft Graph v1.0: `teams team set`"
The `teams team set` command uses a `beta` endpoint that is now in `v1.0`.

https://github.com/pnp/cli-microsoft365/blob/266fd8d68e2a71a9c3d8d58d5c133916193f99b9/src/m365/teams/commands/team/team-set.ts#L73

Update group: https://docs.microsoft.com/en-us/graph/api/group-update?view=graph-rest-1.0&tabs=http

[2021-06-14 03:03] plamber commented on #2505
Hi,
unfortunately there is not a more efficient way to retrieve Teams than by using this technique. The Teams SDK uses the same technique to return Teams.

The resourceProvisioningOptions issue should not happen very often these times. Nevertheless, we should at least document this.

Last but not least, I would not move to the v1.0 endpoint yet. Filtering client side will be a pain for customers h

[2021-06-14 03:51] plamber commented on #2508
Hi @garrytrinder,
this endpoint and many message related endpoint falls under [Protected APIs in Microsoft Teams](https://docs.microsoft.com/en-us/graph/teams-protected-apis). How do we handle these cases?

I see following challenges:
- Obtaining the approval for our multi-tenant application
- Obtaining the approval for testing purposes in a single tenant application

These points above might make

[2021-06-14 06:35] MatoSK123 commented on #2501
Hello, it would be great if the community can pick this up. Many thanks!

[2021-06-14 06:37] waldekmastykarz commented on #2374
@garrytrinder, also, let's add tasks for the breaking changes that we should include in v4

[2021-06-14 06:45] waldekmastykarz commented on #2505
If there is a v1.0 of the endpoint available, we should consider using it instead of a beta that could change any moment without any upfront notice and break us. Yes, the v1.0 is less efficient than the beta, but if for some reason the beta stops working altogether, we'd have a bigger problem. One thing that we should consider is to submit a feature request for the Teams team to introduce support

[2021-06-14 06:49] waldekmastykarz commented on #2508
The idea so far was that users who want to work with these commands would create their own AAD app and request approval for their app. We could certainly try to request approval for our AAD app as well if we deem it necessary.

[2021-06-14 07:02] plamber commented on #2505
With this reasoning we should never use a beta endpoint in our CLI. Fine with that decision. Do we all agree with that?

[2021-06-14 07:07] garrytrinder commented on #2374
@waldekmastykarz absolutely, I suggested raising those tasks when the PR is merged 👍🏻

[2021-06-14 07:25] garrytrinder commented on #2508
@plamber I believe that this endpoint is protected when using application permissions only, delegate permissions are not protected.

As @waldekmastykarz mentions, users should use their own AAD app to use application permissions in those scenarios.

Maybe we should add that to our documentation so that it's clear?

[2021-06-14 07:36] garrytrinder commented on #2505
I think we should look to use `v1.0` endpoints as a default wherever possible, this ensures that we are using stable endpoints that are supported in production scenarios.

We should only look to use `beta` endpoints when there is no other option and we document it as such, an example would be `todo` commands.

The `resourceProvisioningOptions` filter is used in conjunction with the `displayName` f

[2021-06-14 10:08] plamber commented on #2508
Hi,
I see this statement

`Microsoft Teams APIs in Microsoft Graph that access sensitive data are considered protected APIs. These APIs require that you have additional validation, beyond permissions and consent, before you can use them.`

I understand that this is valid for both, delegated and application permissions. But I might be wrong.

br,
Patrick

[2021-06-14 10:31] dips365 commented on #2510
I would like to take this.
Could you please assign to me?

[2021-06-14 10:32] dips365 commented on #2507
Would like to take this.
Could you please assign to me ?

[2021-06-14 12:12] waldekmastykarz commented on #2505
Agreed with @garrytrinder reasoning. If there is no other way out, we can use beta, with a proper remark in our docs, that the command might change. When there is a v1.0 API available, we should update the command to use to ensure that our users can rely on CLI.

[2021-06-14 12:14] waldekmastykarz commented on #2510
Appreciate your help @dips365 👏

[2021-06-14 12:15] waldekmastykarz commented on #2507
Awesome! Appreciate your help @dips365 👍

[2021-06-14 12:51] plamber commented on #2505
When there is a v1.0 API available, no beta features should be considered at all then for that specific endpoint. Do you both agree?

[2021-06-14 13:18] waldekmastykarz commented on #2492
`Add-SPOUser` and `aad o365group user add` are not the same. `Add-SPOUser` adds users to SharePoint groups, while `aad o365group user add` adds user to an O365 Group. Sorry I didn't catch it earlier when you created the issue.

[2021-06-14 13:18] #2492 closed

[2021-06-14 13:22] waldekmastykarz commented on #2505
So this is tricky, because how changes on Microsoft Graph are implemented. Say Microsoft works on a new API that's available only in beta. In that case, we'd use the beta endpoint in the CLI. When the functionality arrives to v1.0, we'd switch to v1.0. But then, when Microsoft starts working on new functionality, that would be available only in beta, we could consider using that functionality and

[2021-06-14 13:27] plamber commented on #2505
This is what I mean. Its either black or white here. Otherwise it is blurry and would also not count in this issue

[2021-06-14 14:42] #2344 closed

[2021-06-14 14:42] #2367 closed

[2021-06-14 14:42] #2491 closed

[2021-06-14 14:59] wobba commented on #2367
Awesome! :)

[2021-06-14 20:15] garrytrinder opened #2512 "Bug report: `cli completion sh setup` - define is not defined"
### Description

Executing `cli completion sh setup` in the latest beta returns an error

### Steps to reproduce

Execute `cli completion sh setup`

### Expected result

Command executes with no error

### Actual result

Error returned

`Error: ReferenceError: define is not defined`

### Environment

macOS Big Sur, `v3.11.0-beta.b7c27c8`, `node@12.20.2`

[2021-06-14 20:38] garrytrinder commented on #2512
This issue first appeared in the latest docker build for `v3.11.0-beta.b7c27c8` however on further investigation executing just `m365` returns the same error on `node@12`.

When using `node@14`, executing `m365` returns a different error, `(node:4666) UnhandledPromiseRejectionWarning: Error: Cannot find module 'chalk'`

[2021-06-14 20:45] garrytrinder commented on #2512
@waldekmastykarz any ideas on what recent changes could have caused this?

[2021-06-14 21:39] garrytrinder opened #2513 "Microsoft Graph v1.0: `teams user app add`"
The `teams user app add` command uses a `beta` endpoint that is now in `v1.0`.

https://github.com/pnp/cli-microsoft365/blob/b7c27c8314f92d0b495e16b5720d0918bb48eaec/src/m365/teams/commands/user/user-app-add.ts#L28-L40

Install app for user: https://docs.microsoft.com/en-us/graph/api/userteamwork-post-installedapps?view=graph-rest-1.0&tabs=http

[2021-06-14 21:44] garrytrinder opened #2514 "Microsoft Graph v1.0: `teams user app remove`"
The `teams user app remove` command uses a `beta` endpoint that is now in `v1.0`.

https://github.com/pnp/cli-microsoft365/blob/b7c27c8314f92d0b495e16b5720d0918bb48eaec/src/m365/teams/commands/user/user-app-remove.ts#L36-L44

Uninstall app for user: https://docs.microsoft.com/en-us/graph/api/userteamwork-delete-installedapps?view=graph-rest-1.0&tabs=http

[2021-06-14 21:54] garrytrinder opened #2515 "Microsoft Graph v1.0: `todo list add`"
The `todo list add` command uses a `beta` endpoint that is now in `v1.0`.

https://github.com/pnp/cli-microsoft365/blob/b7c27c8314f92d0b495e16b5720d0918bb48eaec/src/m365/todo/commands/list/list-add.ts#L32-L40

Create todoTaskList: https://docs.microsoft.com/en-us/graph/api/todo-post-lists?view=graph-rest-1.0&tabs=http

[2021-06-14 21:56] garrytrinder opened #2516 "Microsoft Graph v1.0: `todo list list`"
The `todo list list` command uses a `beta` endpoint that is now in `v1.0`.

https://github.com/pnp/cli-microsoft365/blob/b7c27c8314f92d0b495e16b5720d0918bb48eaec/src/m365/todo/commands/list/list-list.ts#L25-L30

List lists: https://docs.microsoft.com/en-us/graph/api/todo-list-lists?view=graph-rest-1.0&tabs=http

[2021-06-14 22:00] garrytrinder opened #2517 "Microsoft Graph v1.0: `todo list remove`"
The `todo list remove` command uses a `beta` endpoint that is now in `v1.0`.

https://github.com/pnp/cli-microsoft365/blob/b7c27c8314f92d0b495e16b5720d0918bb48eaec/src/m365/todo/commands/list/list-remove.ts#L41-L47

List lists: https://docs.microsoft.com/en-us/graph/api/todo-list-lists?view=graph-rest-1.0&tabs=http

https://github.com/pnp/cli-microsoft365/blob/b7c27c8314f92d0b495e16b5720d0918bb48e

[2021-06-14 22:02] garrytrinder opened #2518 "Microsoft Graph v1.0: `todo list set`"
The `todo list set` command uses a `beta` endpoint that is now in `v1.0`.

https://github.com/pnp/cli-microsoft365/blob/b7c27c8314f92d0b495e16b5720d0918bb48eaec/src/m365/todo/commands/list/list-set.ts#L48-L56

Get todoTaskList: https://docs.microsoft.com/en-us/graph/api/todotasklist-get?view=graph-rest-1.0&tabs=http

https://github.com/pnp/cli-microsoft365/blob/b7c27c8314f92d0b495e16b5720d0918bb48

[2021-06-15 06:59] waldekmastykarz commented on #2505
I don't think we can have a never/always answer for this question as there will always be exceptions.

[2021-06-15 07:22] waldekmastykarz commented on #2512
The issue is caused by the assets for the `spfx package generate` command introduced in the latest preview. Among these assets are `.js` files that CLI was trying to load as a command and which failed. I'll fix the issue by excluding the `/assets/` path from command loading logic.

[2021-06-15 08:53] garrytrinder commented on #2505
I see two possible activities here

1. Leave the implementation as is using the `beta` endpoint, in this case I think we should include a comment in the code base so that we document our decision to use the `beta` endpoint, or
2. Implement the `v1.0` endpoint in the request, keeping the `displayName` filter but removing the `resourceProvisioningOptions` filter, filter the request response using Ja

[2021-06-15 09:10] plamber commented on #2505
Based on the discussion we only have option 2 left.

[2021-06-15 15:08] waldekmastykarz commented on #2505
+1 for option 2

[2021-06-15 16:19] ktskumar commented on #2515
May I take this up!

[2021-06-15 16:19] ktskumar commented on #2518
May I take this up!

[2021-06-15 16:19] ktskumar commented on #2517
May I take this up!

[2021-06-15 16:20] ktskumar commented on #2516
Hi @garrytrinder , May I take this up!

[2021-06-15 16:21] ktskumar commented on #2514
Hi @garrytrinder , May I take this up!

[2021-06-15 16:21] ktskumar commented on #2513
Could you please assign it to me!

[2021-06-15 17:04] ktskumar commented on #2225
Hi @plamber,
We should need a **breakRoleInheritance** method for the List / Library to set the unique permissions.
Other options would be **UpdateDocumentSharingInfo** method for the List.

I couldn't find these options in the CLI. If we already have, please let me know. Otherwise, create a new issue for creating a new command.

Regards,
@ktskumar

[2021-06-15 17:35] plamber commented on #2225
@pnp/cli-for-microsoft-365-maintainers any suggestions?

[2021-06-15 17:57] #2374 closed

[2021-06-15 17:57] #2512 closed

[2021-06-15 19:00] garrytrinder commented on #2508
I think that in either case it's for the user to handle, we just provide the mechanism to make the request easier.

I have added that we should add a remark to the command in the issue spec that the API is protected and we should link to the relevant Microsoft Graph documentation.

[2021-06-15 19:06] garrytrinder commented on #2505
Spec updated, thank you for your input @plamber and @waldekmastykarz 👍🏻

[2021-06-15 19:29] garrytrinder opened #2520 "Align `o365group user list` and `teams user list` command options following split"
Following the merge of #2500 to remove the `teams user list` alias from the `o365group user list` command and create an independent `teams user list` command, we should complete the following actions to align the command options

- [x] remove the `--teamId` option on the `o365group user list` command
- [x] make the `--groupId` option mandatory on the `o365group user list` command
- [x] remove the

[2021-06-15 19:45] garrytrinder commented on #2515
All yours @ktskumar

Thank you for your help 👍

[2021-06-15 19:45] garrytrinder commented on #2518
All yours @ktskumar

Thank you for your help 👍

[2021-06-15 19:46] garrytrinder commented on #2517
All yours @ktskumar

Thank you for your help 👍

[2021-06-15 19:46] garrytrinder commented on #2516
All yours @ktskumar

Thank you for your help 👍

[2021-06-15 19:47] garrytrinder commented on #2514
All yours @ktskumar

Thank you for your help 👍

[2021-06-15 19:47] garrytrinder commented on #2513
All yours @ktskumar

Thank you for your help 👍

[2021-06-15 22:02] Abderahman88 commented on #2499
Volunteer ✋

[2021-06-15 22:07] Abderahman88 commented on #2499
Adding a plan is already implemented with `m365 planner plan add [options]`, so I presume the full command for this one will be `m365 planner plan list [options]` ?

[2021-06-15 22:15] garrytrinder commented on #2499
Correct, good catch. I've updated the spec.

All yours @Abderahman88 thank you for the help 👍

[2021-06-16 05:08] ktskumar commented on #2511
Hi @garrytrinder, Please assign it to me.

[2021-06-16 05:08] ktskumar commented on #2509
Hi @garrytrinder, Please assign this to me.

[2021-06-16 06:06] ktskumar commented on #2504
Hi @garrytrinder, Please assign this to me!

[2021-06-16 06:36] ktskumar commented on #1987
Hi @plamber, Please assign this to me.

[2021-06-16 06:44] plamber commented on #1987
Thank you for your help.

All yours

[2021-06-16 08:49] waldekmastykarz commented on #2225
Correct, we don't have the necessary command. Would you like to propose a spec for it @ktskumar?

[2021-06-16 11:07] Abderahman88 opened #2528 "New command: planner plan get"
### Usage

 `planner plan get [options]`

### Description

 `Retrieve information about the specified plan`

### Options

|Option | Description
|-- | --
| `-i, --id [id]` | The Id of the plan. Specify either id or title but not both.
| `-t, --title [title]` | The title of the plan. Specify either id or title but not both. OwnerGroupId or ownerGroupName is required when setting this property.
| `--

[2021-06-16 11:09] garrytrinder commented on #2528
Thanks for the suggestion @Abderahman88 👍

Want to take it?

[2021-06-16 11:10] Abderahman88 commented on #2528
Yes @garrytrinder. You beat me first on the question 😄

[2021-06-16 11:31] waldekmastykarz commented on #2528
Is there also a way to get the plan based on its name?

[2021-06-16 12:10] stephanbisser opened #2529 "New command: Create Microsoft Teams Bot"
### Usage

`bots bot add [options]`

### Description

As a user I want to use one single command to create/provision all necessary resources needed to add a bot to Microsoft Teams (and in the future to other M365 services like SharePoint Online etc.). Therefore the following resources/services are required:
- Azure AD App Registration
- Azure Bot Channel Registration

In addition the Microsoft Tea

[2021-06-16 12:16] Abderahman88 commented on #2528
@waldekmastykarz A possible way is to search in a certain group and filter the correct plan.
This method is used by the PnP-Powershell.

`Get-PnPPlannerPlan -Group "Marketing" -Identity "Conference Plan"`

[2021-06-16 12:18] Abderahman88 commented on #2528
But getting a random plan by name (without group), I doubt there is an endpoint for this.

[2021-06-16 12:18] waldekmastykarz commented on #2529
Looks awesome!

A few question comments, before we continue:

- let's drop `-h` as the short for `--handle`, because `-h` is already used by `--help`
- `subscriptionId`: does it happen often that you work with an account that has access to multiple subscriptions? I wonder if this is something that we should set CLI-wide or if it should stay limited to just this one command

@wictorwilen is there a

[2021-06-16 12:22] stephanbisser commented on #2529
@waldekmastykarz my take on that:
regarding `-h` makes sense, should we just use `--handle` or shall we add another shortcode here?
regarding `subscriptionId` as a dev you most of the time have a personal Azure subscription as well as a test/dev susbcription shared across a team and maybe also a prod subscription so we should definitely think about that but it would make sense to set it "globally"

[2021-06-16 12:26] waldekmastykarz commented on #2529
Let's use `--handle` for now. We can always introduce a short in the future if there's a good candidate that's intuitive

I've just checked and I don't think that we have any other command that requires a subscription ID. With that, we could make it easy for now by following your spec. Later, should we get more commands that need the subscription ID, we could change the `subscriptionId` here to be

[2021-06-16 12:27] stephanbisser commented on #2529
sounds good to me!

[2021-06-16 12:53] garrytrinder commented on #2529
We can't use `-h` as that is the global short code for `--help` ✋

[2021-06-16 13:05] arjunumenon commented on #2493
Hey all - I am assigning this issue to myself up so that the script which I can working on could be completed.

[2021-06-16 13:11] Abderahman88 opened #2531 "New command: planner plan set"
### Usage

 `planner plan set [options]`

### Description

 `Update title of a specified plan`

### Options

 |Option | Description
 |-- | --
 |`-i, --id [id]` |  ID of the plan.  Specify either id or title but not both.
 |`-t, --title [title]` |  Title of the plan. Specify either id or title but not both. OwnerGroupId or ownerGroupName is required when setting this property.
 |`--newTitle <newTit

[2021-06-16 13:18] Abderahman88 commented on #2531
These specs needs some additional discussion.

1) Does the command need to work with a plan name instead of a plan ID?
2) Does the command need to work with a group owner name instead of group ID?
....

[2021-06-16 15:04] waldekmastykarz commented on #2528
The reason why I'm asking is because users are more likely to know the names of the group and the plan rather than their IDs. So if we'd require IDs, they'd need to manually look them up which isn't convenient. That's why I think we should consider simplifying it.

[2021-06-16 15:07] waldekmastykarz commented on #2531
I'd suggest offering both ways so that users can choose if they want to update plan by its name or ID, whichever they have available.

Following our naming convention, since the command is about plan, I don't think we need to use `--planId` and could shorten it to just `--id`.

For the `--title` I'd suggest disambiguating that it's the new title to set rather than the current title to use to retri

[2021-06-16 15:33] Abderahman88 commented on #2528
I definitely agree with you. For users, it's much easier with the name.

I think we need to support both cases.

1. Get plan with id (mainly for plans not associated with a group / more usefull in script, build pipelines, ...)

`m365 planner plan get --id gndWOTSK60GfPQfiDDj43JgACDCb`

2. Get plan with name (easier for common use)

`m365 planner plan get --name myPlan --ownerGroupName MyGroup`
`m3

[2021-06-16 17:28] waldekmastykarz commented on #2528
Good options. Could you update the spec so that it reflects our latest thinking? Thank you! 👏

[2021-06-16 19:23] wictorwilen commented on #2529
Since handle is globally unique I think it would be great to 1) have a dedicated error message for that, or 2) have an option to create a random handle or 3) a separate command that can be used to verify if handle is available

[2021-06-16 19:24] appieschot opened #2532 "New sample script: share weekly 'champion' to teams."
Inspired by https://docs.microsoft.com/en-us/microsoft-365/community/identifying-your-sharepoint-champions we should provide a sample to quickly share a weekly champion to teams as an adaptive card. The script itself could be straight forward:

Use:
[code]
And implement a sort by Viewed Or Edited File Count

Or use:
[code]
And implement a sort by Team Chat Message Count

Or use:
[code]

Ans sort b

[2021-06-16 21:00] appieschot commented on #2531
Should we also use the set instead of update? Most commands that we use to update information uses set.

[2021-06-16 21:12] garrytrinder commented on #2529
1) Makes sense to have a dedicated error
2) We could introduce a `--withHandle` similar to how we use `--withSecret` in `aad app add` command to state that you want a randomly assigned value
3) something like `bot handle verify`?

[2021-06-16 21:35] Abderahman88 commented on #2531
@appieschot I will update the specs

[2021-06-17 07:38] waldekmastykarz commented on #2532
Why not both? 😄  I think with parsing the data, looping through the users, etc. it will get a bit more elaborate than 1 or 2 lines, but it won't be super complex (famous last words 😉). I'd vote for both a script and a post.

[2021-06-17 10:23] garrytrinder commented on #2532
+1 for script (how) and blog post (why) 👍

[2021-06-17 12:32] waldekmastykarz commented on #2529
Is there a case where you'd want to use a random handle? Wouldn't that cause issues invoking the bot?

As for checking if the specified handle exists, I think that's a great idea. Is there an API that we could use for this or do we need to look out for an error that we might get if it exists?

[2021-06-17 12:32] waldekmastykarz commented on #2531
Good catch @appieschot. Of course!

[2021-06-17 12:45] wictorwilen commented on #2529
@waldekmastykarz not really a reason for using a random one tbh, except when you want to make one-off demos. Perhaps that would be better to be implemented as a script combining the command with a verify command...

[2021-06-17 12:48] stephanbisser commented on #2529
As @wictorwilen mentioned only for demo purposes I guess, but even there I would not want to create a random handle

I'm not aware of an API so we would need to check what the Azure Portal does and if we discover something here

[2021-06-17 13:30] waldekmastykarz commented on #2529
I've updated the spec removing `-h` and adding a remark about checking the handle upfront if possible.

One more thing: for the `messagingEndpoint` does it feel more intuitive to use `-m` or `-e` as the short?

[2021-06-17 14:33] vipulkelkar commented on #2159
Hey @waldekmastykarz  , can we add `--aadObjectID` to the options so that it aligns with app role `add `and `delete `commands.

[2021-06-17 17:31] waldekmastykarz commented on #2159
Of course! Good idea 👍

[2021-06-17 17:33] #2382 closed

[2021-06-17 17:34] waldekmastykarz opened #2533 "In `spo listitem get` rename the `fields` option to `properties`"
Raised from https://github.com/pnp/cli-microsoft365/pull/2464#issuecomment-860426682

In `spo listitem get` rename the `fields` option to `properties`. This is a breaking change and needs to be implemented in v4.

[2021-06-17 18:05] #2174 closed

[2021-06-17 18:05] #2478 closed

[2021-06-17 18:05] #2487 closed

[2021-06-17 18:28] waldekmastykarz commented on #2498
Putting it on hold for now to focus on features for v4

[2021-06-17 18:47] wictorwilen commented on #2529
How about update a bot? To me, being able to update the messaging endpoint is the most crucial part.

[2021-06-17 19:00] appieschot opened #2534 "Bug report: tenant report results are not correctly parsed as json"
### Description

Executing any of the commands of type `report` are not correctly outputted as JSON. When parsing them using PowerShell you need the `ConvertFrom-JSON` twice to get propper json, and when running JMESpath queries the CLI crashes (most likely because of invalid JSON.

### Steps to reproduce

Run `m365 spo report activityuserdetail --period D7 --output json`

### Expected result

Pro

[2021-06-17 19:01] Abderahman88 commented on #2528
To stay consistent with existing commands, I'll need to change `name`-property to `title`.

[2021-06-18 08:07] stephanbisser commented on #2529
@wictorwilen that would definitely be a good command as well, but I guess we should have that separated right?

[2021-06-18 09:14] waldekmastykarz commented on #2529
yes, that would be `bots bot set`. Shall we do a quick spec for it as well? We could start with supporting updating just the messaging endpoint and take it from there.

[2021-06-18 10:56] appieschot opened #2536 "Docs: extend docs with additional JMESPath queries"
Add sorting to JMESPath query sample documentation

[2021-06-18 11:26] appieschot commented on #2532
Awaiting #2535 before continuing pr. Generics are ready.

[2021-06-18 12:08] #1490 closed

[2021-06-18 13:51] vipulkelkar commented on #2230
just want to confirm that the command would extend `SpoCommand` similar to `spo site classic list` as it has methods to fetch `spoAdminUrl` and `requestDigest` for `client.svc` request...till we have some other way to list onedrives ?

[2021-06-18 13:55] appieschot commented on #2449
One step further, turns out we have same issue with `Export-PnPFlow`, using that against the same flow returns

[code]
I did attach the debugger to the env and it all fail when calling flows that either do not have an owner or have corrupted connections. In order to do anything in the UI (export them from UI) you also have to explicilty add yourself as an owner or resolve the connections. I am aff

[2021-06-18 14:33] #2449 closed

[2021-06-18 14:33] #2515 closed

[2021-06-18 14:33] #2534 closed

[2021-06-18 14:33] #2516 closed

[2021-06-18 14:33] #2517 closed

[2021-06-18 14:33] #2518 closed

[2021-06-18 14:39] appieschot opened #2539 "New sample script: List all sites with failed site designs"
|Docs||
|-----|----|
|Author| @appieschot  |
|Original Post| https://www.cloudappie.nl/list-failed-site-designs-tenantwide/  |
|Description| Scan all applied site designs and list them |
|Keywords|  `SharePoint Online` `Site Designs` |

[2021-06-18 16:12] ktskumar commented on #2225
Sure @waldekmastykarz, I'll prepare the spec.

[2021-06-18 17:44] waldekmastykarz commented on #2251
Looking at this issue it seems that the only thing that was wrong is that the JSON string was encoded twice. I'm not seeing a CSV string with JSON output and I can't trace it back to our code.

@appieschot has fixed the double encoding bug in #2534 which we have just shipped. With that, I think we can close this issue, correct?

[2021-06-18 17:54] waldekmastykarz commented on #2055
Since we've started working on v4, let's skip the deprecation and remove the obsolete properties in v4.

[2021-06-18 17:54] #2055 closed

[2021-06-18 17:57] waldekmastykarz opened #2544 "Refactor text output"
### Discussed in https://github.com/pnp/cli-microsoft365/discussions/2453

<div type='discussions-op-text'>

<sup>Originally posted by **waldekmastykarz** May 27, 2021</sup>
I'd like to propose that in v4 we refactor the text output mode:

1. We rename it to `table` so that it's clearer what it does. Since in the terminal everything is text, `text` isn't pretty descriptive. Using `table` instead w

[2021-06-18 19:13] plamber commented on #2251
Yes. I am closing it

[2021-06-18 19:13] #2251 closed

[2021-06-19 01:09] ktskumar commented on #2508
May I take this up!

[2021-06-19 07:34] ktskumar commented on #2505
Hi @garrytrinder, May I take this up!

[2021-06-19 10:17] appieschot commented on #2505
@ktskumar awesome! Appreciate the help!

[2021-06-19 19:14] garrytrinder commented on #2508
All yours @ktskumar

Thank you for your help 👍🏻

[2021-06-20 18:19] ktskumar commented on #2506
May I take this up!

[2021-06-20 22:15] garrytrinder commented on #2506
All yours @ktskumar

Thank you for your help 👍

[2021-06-21 00:16] #2514 closed

[2021-06-21 00:36] #2513 closed

[2021-06-21 01:04] #2511 closed

[2021-06-21 01:35] #2509 closed

[2021-06-21 06:37] waldekmastykarz commented on #2225
Awesome, I appreciate your help @ktskumar

[2021-06-21 06:55] #2536 closed

[2021-06-22 09:44] appieschot commented on #1828
According to this post https://powerusers.microsoft.com/t5/General-Power-Automate/How-to-export-Approval-Flow-Data-through-Rest-API-in-power/td-p/593198 there is no way to achieve that with REST currently. I do not see a way to get the data in the `flow run list` command.

However hacking a bit with Fiddler makes it look that we could call the endpoint `https://emea.api.flow.microsoft.com/provider

[2021-06-22 10:31] waldekmastykarz commented on #1828
Good find! The question is if we can get a token for that endpoint. If we can, then I'd be all for extending the command. Let's double check that before proceeding.

[2021-06-22 14:07] appieschot commented on #1828
Just found our previous issue: https://github.com/pnp/cli-microsoft365/issues/1827 with quite some background already 😄 I am happy to do a quick check on the command. @klubis did you have a look at that endpoint by any chance?

[2021-06-22 15:11] waldekmastykarz opened #2553 "Update JMESPath guidance on working with 'value'"
Related to #2292 and #2543

With the implementation of #2543 we remove the `value` wrapper in CLI commands. With that, we should update our JMESPath guidance so that it doesn't refer specifically to working with `value` but rather with commands that return arrays (most `list` commands).

[2021-06-23 18:23] aakashbhardwaj619 commented on #2254
Should we update the specs of this command to require the `ownerGroupId` or `ownerGroupName` option when specifying the `planName` of the plan? (Keeping it in line with https://github.com/pnp/cli-microsoft365/issues/2528)

[2021-06-24 06:31] waldekmastykarz commented on #2254
Good suggestion @aakashbhardwaj619 👍  Spec updated

[2021-06-24 06:39] aakashbhardwaj619 commented on #2254
I just noticed that #2528 uses `id` and `title` for the plan Id and plan name options, whereas this command uses `planId` and `planName`.  Maybe we should update the specs of one of these commands to keep these two options aligned.

[2021-06-24 09:49] waldekmastykarz commented on #2254
So that difference is intentional. The way we name commands and arguments in the CLI, that if the option isn't prefixed, it follows the last noun in the command. For example in `planner plan get` the last noun in `plan`. Then the `id` and `name` options, as they're not prefixed refer to the `plan`. In `planner bucket add`, the last noun is `bucket` so `id` and `name` would this case mean `bucketId

[2021-06-24 10:22] aakashbhardwaj619 commented on #2254
Thanks for the detailed explanation. I guess it makes sense to keep it this way 👍

[2021-06-24 10:47] aakashbhardwaj619 opened #2556 "New command: planner bucket list"
### Usage

`planner bucket list`

### Description

`Lists the Microsoft Planner buckets in a plan`

### Options

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `--planId [planId]` |  ID of the plan to list the buckets of. Specify either `planId` or `planName` but not both.

[2021-06-24 15:03] waldekmastykarz commented on #2556
I've updated the spec to list `planId` as optional (`[planId]` instead of `<planId>`). Other than that, we're good to go! Would you like to pick it up?

[2021-06-24 15:51] aakashbhardwaj619 commented on #2556
Great! I would love to work on this 😊

[2021-06-25 06:32] waldekmastykarz commented on #2556
Awesome! Appreciate your help!

[2021-06-25 09:34] vipulkelkar commented on #2157
@waldekmastykarz @garrytrinder  I would like to work on this one.

[2021-06-25 10:44] #1633 closed

[2021-06-25 10:44] #2334 closed

[2021-06-25 10:46] waldekmastykarz commented on #2157
Awesome! All yours 👏

[2021-06-25 13:47] appieschot opened #2557 "Bug report: cannot post message to Yammer"
### Description

When using the `m365 yammer message add --body "Hello everyone!" --debug` I get a `Error: Error: Request failed with status code 400` response.

### Steps to reproduce

Execute `m365 yammer message add --body "Hello everyone!" --debug`

### Expected result

Posted message

### Actual result

[code]

### Environment

Running `v3.11.0-beta.5a661e8` on `windows 10`

[2021-06-25 14:07] waldekmastykarz commented on #2557
Good catch! Let's see if we can fix it. Thanks for reporting! 👏

[2021-06-26 16:30] plamber commented on #2557
Will take this up

[2021-06-26 16:41] plamber opened #2558 "New command: m365 aad servicePrincipals get"
I am wondering if we should stop here with the implementation of aad commands in the CLI because it is not strictly M365 related. On the other hand I am not able to implement #2439 if we do not have some basic command additions.

### Usage

`aad servicePrincipals get [options]`

### Description
Retrieves the list of service principals in an Azure AD directory

### Options
| Option

[2021-06-26 16:44] plamber commented on #2544
Hi,
agree by keeping the output format always the same.

It is easier when writing automations that expect always one type of format.

Cheers

[2021-06-26 17:27] waldekmastykarz commented on #2558
Is the command you're proposing retrieving the list of serviceprincipals (list) or just one principal (get)?  The current spec is ambiguous. I think it could be helpful indeed to be able to retrieve service principal for commands that need some of the related information as input.

[2021-06-26 17:51] #2150 closed

[2021-06-26 18:05] #2024 closed

[2021-06-26 18:05] #2292 closed

[2021-06-26 18:21] #2553 closed

[2021-06-26 18:36] plamber commented on #2558
I would start with get and create the list in a separate issue

[2021-06-27 01:16] ktskumar commented on #2558
May I work on this!

[2021-06-27 05:57] plamber commented on #2558
@ktskumar all your thx

[2021-06-27 06:05] plamber commented on #2558
@ktskumar we implemented the command approleassignments list which is already implementing the necessary retrievals for the serviceprincipal. It might help for the implementation of this command

[2021-06-28 05:39] waldekmastykarz commented on #2558
Shall we also allow retrieving service principals by their name?

Am I understanding it correctly that to retrieve a service principal you can specify either the `id` or the `appId`? If so, both options should be marked as optional (`[id]` instead of `<id>`)

[2021-06-28 05:57] plamber commented on #2558
Hi,
updated the specs.

Cheers

[2021-06-28 14:40] vipulkelkar commented on #2130
https://github.com/pnp/cli-microsoft365/blob/c0d4238592eaff4038e3d26bb9634139dac26375/src/m365/aad/commands/app/app-add.ts#L89-L111

[2021-06-28 14:41] vipulkelkar commented on #2130
https://github.com/pnp/cli-microsoft365/blob/c0d4238592eaff4038e3d26bb9634139dac26375/src/m365/aad/commands/approleassignment/approleassignment-list.ts#L59-L104

[2021-06-28 14:41] vipulkelkar commented on #2130
https://github.com/pnp/cli-microsoft365/blob/c0d4238592eaff4038e3d26bb9634139dac26375/src/m365/aad/commands/approleassignment/approleassignment-remove.ts#L60-L137

[2021-06-28 14:42] vipulkelkar commented on #2130
https://github.com/pnp/cli-microsoft365/blob/c0d4238592eaff4038e3d26bb9634139dac26375/src/m365/aad/commands/o365group/o365group-add.ts#L64-L179

[2021-06-28 14:44] vipulkelkar commented on #2130
https://github.com/pnp/cli-microsoft365/blob/c0d4238592eaff4038e3d26bb9634139dac26375/src/m365/aad/commands/o365group/o365group-set.ts#L71-L180

[2021-06-28 14:45] vipulkelkar commented on #2130
https://github.com/pnp/cli-microsoft365/blob/c0d4238592eaff4038e3d26bb9634139dac26375/src/m365/file/commands/convert/convert-pdf.ts#L65-L107

[2021-06-29 08:14] Yvand opened #2563 "Extend 'aad app add' to support granting admin consent"
Extend 'aad app add' to support granting admin consent

Added from #3114

You can currently use the `aad app add` command to create Azure AD app registrations and define both delegate and application scoped permissions to be used, however, if you configure a scope that requires admin consent to be granted, you must manually log into the Azure Portal and consent manually before the permission can b

[2021-06-29 10:51] waldekmastykarz commented on #2563
Thank you for reporting the issue. I wouldn't say it's a bug as granting the API access wasn't meant to automatically grant admin consent. I do agree with you that it would be a good addition to the command.

[2021-06-29 12:19] Yvand commented on #2563
Any thought about the error banner which says "Some actions may be disabled due to your permissions. To request access, contact the application owner(s) or your administrator." ?

[2021-06-29 14:07] ahamedfazil opened #2564 "spo page copy returns Access Denied to copy page between different sites"
### Description
Trying to copy page between two different sites using below script,
`m365 spo page copy --webUrl "https://xxxx.sharepoint.com/sites/faztest" --sourceName "test.aspx" --targetUrl "https://xxxx.sharepoint.com/sites/faztest2/sitepages/test.aspx" --debug`

I am site collection admin for both the site but still getting **Access Denied**, copying page in same site is working, also tried

[2021-06-29 14:23] waldekmastykarz commented on #2563
My bet would be that the account that you're using is lacking some permissions. Are you sure that you're a tenant admin?

[2021-06-29 14:24] waldekmastykarz commented on #2564
Thank you for reporting the issue and sorry for the trouble. Let us check if we can reproduce the error on our end and get back to you as soon as we know more.

[2021-06-29 15:01] ahamedfazil commented on #2564
Found a solution by enabling customize page option for the site (where I would like to copy page), using sposervice

`Set-SPOSite "https://xxxx.sharepoint.com/sites/faztest2" -DenyAddAndCustomizePages $false`

[2021-06-29 15:01] #2564 closed

[2021-06-29 15:10] Yvand commented on #2563
Well, it s weird, but the issue is gone !
I deleted that test app a few hours ago and just ran `m365 aad app add` again, and no more error banner !

So yes, a command to grant admin consent would really be a great addition

[2021-06-29 17:18] waldekmastykarz commented on #2564
Awesome! Great to hear that you're unblocked.

[2021-06-29 17:19] waldekmastykarz commented on #2563
Perhaps it was just a glitch in the matrix. Good to hear it's working now. Let's extend the `aad app add` command like you suggested 👍

[2021-06-30 09:46] dips365 commented on #2533
Could you please assign to me?

[2021-06-30 18:40] appieschot commented on #2532
Oke almost there! Minor issue in posting some info, but we will get there!

[2021-07-01 16:18] geekwhocodes commented on #2476
@appieschot @waldekmastykarz Can I work on this?

[2021-07-01 17:15] waldekmastykarz commented on #2476
Yes, the only challenge is the license key which we'd all need to verify that it's working as expected :(

[2021-07-01 17:20] geekwhocodes commented on #2476
I purchased the API key and tested few APIs they are working fine.

I have one question, in order to implement this command do we need to use `x-anonymous` header option while making an API call?

[2021-07-01 18:01] #2230 closed

[2021-07-01 18:01] #2499 closed

[2021-07-02 01:56] #2254 closed

[2021-07-02 08:06] waldekmastykarz commented on #2476
Yes, we'd need the `x-anonymous` or CLI will try to obtain a token for the request from AAD which would fail.

It's good that you have an API key but we - the maintainers - would also need one to verify your PR.

[2021-07-02 08:25] appieschot commented on #2476
@waldekmastykarz  I was thinking to spend those few box on my CC. As soon as there is a PR ill buy a token and can either review (or share my key with maintainers to test)

[2021-07-02 15:15] geekwhocodes commented on #2476
@waldekmastykarz @appieschot I have already started working on this, can you assign this to me?

[2021-07-03 03:47] plamber commented on #2557
You are no more able to post to the company feed using the new Yammer mode. This throws the exception. You have to specify a Group if you want to post a message to Yammer in this new setup.

Since this setup becomes the default I am going to suggest that we are making the groupId option required. I am going to push the changes

[2021-07-03 11:45] appieschot commented on #2557
Great find!

[2021-07-05 07:57] dips365 commented on #2507
@waldekmastykarz

I completed code part with v1.0 to get teams.

 return Promise.all(
            this.items.filter((e: any) => {
              return e.resourceProvisioningOptions.indexOf('Team') > -1;
            }).map(
              g => this.getTeamFromGroup(g)
            )
          );

Could you please help me out how can I write test cases for this bunch of code ?

[2021-07-05 15:17] waldekmastykarz commented on #2557
@plamber @appieschot, does that mean we need to adjust our command to properly communicate these requirements?

[2021-07-05 15:20] waldekmastykarz commented on #2507
One way to go about it would be to mock the GET call with three responses:

1. Return three groups, two of which are related to Teams and one that isn't
2. Return the Team for the first group related to Teams
3. Return the Team for the second group related to Teams
4. For all other cases return an Invalid request error

If the commands completed without error, the code is proven to work (ie. not t

[2021-07-05 15:50] plamber commented on #2557
Already pushed the changes

[2021-07-05 18:01] #2493 closed

[2021-07-05 18:01] #2510 closed

[2021-07-05 18:01] #2539 closed

[2021-07-05 18:26] Rohitwghela opened #2573 "The received access token has been obtained from wrong audience or resource for the command - m365 flow export"
### Description

When running the commans `m365 flow export --id $flowId --environment $environment --packageDisplayName $_.properties.displayName --path "$exportPath.zip"`, I am getting an error as `The received access token has been obtained from wrong audience or resource`.

However the command `m365 flow export --id $flowId --environment $environment --format json --path "$exportPath.json"` wo

[2021-07-06 06:12] aakashbhardwaj619 opened #2575 "Enhancement: Extend `planner task list` to list tasks in a bucket or plan"
### Usage

Extend `planner task list` command to list tasks in a bucket or plan.

### Description

Lists the planner tasks in a bucket, plan, or tasks for the currently logged in user.

### Options

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `--bucketId [bucketId]` | ID of the bucket to list the

[2021-07-06 06:32] waldekmastykarz commented on #2575
Perfect spec! Nothing to add. Would you like to pick it up yourself or let others chime in?

[2021-07-06 06:34] aakashbhardwaj619 commented on #2575
I can pick it up since I'm already working on some other planner commands.

[2021-07-06 06:35] waldekmastykarz commented on #2575
Awesome! I appreciate your help 👏

[2021-07-06 06:37] waldekmastykarz commented on #2573
Thank you for reporting the issue and sorry for the trouble. It could be that the APIs that we're using internally have changed which would explain the issue you're seeing. Let us have a look at the issue and hopefully we'll be able to fix it soon.

[2021-07-06 07:49] arjunumenon commented on #2573
Hi @Rohitwghela  - We  had tried executing the command by replicating your exact environment and we are unable to reproduce the issue from our end.
![image](https://user-images.githubusercontent.com/10369964/124561273-5555ab00-de5b-11eb-8e64-edce258282ce.png)

Only difference is the beta version and the execution was had done from WSL and that  should not be an issue I suppose. The user which I ha

[2021-07-06 08:06] waldekmastykarz commented on #2573
@Rohitwghela, also, is there anything special about the tenant that you're using it with? Is it a GCC or a Targeted Release tenant? Are you trying to export flow from a production or a different Power Platform environment? Does the user that you use have a valid license assigned? All these things could help us find out what could be wrong.

[2021-07-06 09:15] Rohitwghela commented on #2573
Below is the result of the command you suggested :
User that I am using is tenant admin. And able to export Flows through UI.

{ authority: 'https://login.microsoftonline.com/organizations/',
  uniqueId: '9a25740c-dada-4799-9acf-e973046d7e27',
  tenantId: '**********************************',
  scopes:
   [ 'https://management.azure.com//user_impersonation',
     'https://management.azure.com//.de

[2021-07-06 09:23] Rohitwghela commented on #2573
Below are the details:
![image](https://user-images.githubusercontent.com/12471433/124575352-f72fc480-de68-11eb-8c57-16568c37db24.png)

I am trying to export flows from my default environment.
Its a trial tenant. And the user is tenant admin.
Same user is able to export-Import flows using browser.

It is a trial tenant it seems.
Could this be the reason for this error?

[2021-07-06 10:46] waldekmastykarz commented on #2573
Thank you for the details. It's odd that the command works on one tenant but not on another. Do you have another tenant on which you could try it?

[2021-07-06 10:49] waldekmastykarz commented on #2573
I can reproduce the error you mentioned in my own tenant as well

[2021-07-06 11:14] Rohitwghela commented on #2573
Not sure if I have access to any other tenant. Let me check that.

[2021-07-06 11:17] waldekmastykarz commented on #2573
OK, so I could be onto something. It seems like there have been some changes in Power Platform's API and in order for you to be able to manage Power Platform programmatically, you need to register your AAD app with Power Platform: https://docs.microsoft.com/en-us/power-platform/admin/powerplatform-api-create-service-principal#registering-an-admin-management-application

Once you've done this, you

[2021-07-06 17:37] waldekmastykarz commented on #2575
Looking at the `planner bucket list` command, I wonder if we shouldn't name this command `planner task list`. If it's not possible to have tasks outside of buckets in Planner, then including the `bucket` in the name doesn't add anything as it's implicit. Also, let's use `task` instead of `tasks` to align it with other commands.

[2021-07-06 17:54] #2556 closed

[2021-07-06 17:54] #2557 closed

[2021-07-06 18:05] aakashbhardwaj619 commented on #2575
This command would list the tasks in a single bucket within a plan. So if there are multiple buckets in a plan and we want to list the tasks in a particular bucket, this command would come in handy. We can also add a separate command `planner plan task list` that lists all the tasks across all buckets within a plan. What do you suggest?

[2021-07-07 06:07] waldekmastykarz commented on #2575
What if we had `planner task list --bucketId [bucketId] --planId <planId>` where bucket is optional and if not specified it returns all tasks for the specified plan?

[2021-07-07 12:15] aakashbhardwaj619 commented on #2575
Good suggestion. I think we can extend the existing [`planner task list`](https://pnp.github.io/cli-microsoft365/cmd/planner/task/task-list/) command to list tasks in a plan or bucket (using the options mentioned in this issue specs). Currently, it only lists the tasks assigned to the logged-in user.

[2021-07-07 14:10] appieschot opened #2576 "New sample script: List all lists, its folders and item count for given site"
Based on discussion here: https://twitter.com/jasoosterveld/status/1412442520139730950 a sample that list all doc libs in a site, and for each dob lib list all folders and their item count (recursively)

Sample: https://gist.githubusercontent.com/appieschot/c8f64dbb7657a315b4a1ffebbec098f0/raw/111ec32a2f36bf778e9d55f39e26c20787d16de8/doclibs.ps1

|Docs||
|-----|----|
|Author| Albert-Jan Schot |
|O

[2021-07-07 17:46] waldekmastykarz commented on #2575
Excellent! Let's keep the current behavior as-is and then extend it with additional options.

[2021-07-08 16:54] robertcaretta commented on #2455
@waldekmastykarz - I'm still stuck on this.  The m365 command name is not registering inside of VS Code.

I was able to get the following updated to the latest releases.
- VS Code 1.57.1
- Powershell extension 2021.6.2
- Powershell 7.1.3 is installed.

My execution policy is now set to "RemoteSigned".

When VS Code starts up I see the profile loading, Here is what is in that file, I changed the us

[2021-07-08 17:19] robertcaretta commented on #2455
I added some Write-Host statements. The .ps1 file is loading with the profile in VS Code. However the function doesn't load.

**Register-CLIM365Completion.ps1**
![image](https://user-images.githubusercontent.com/1613085/124964359-8adacf80-dfe6-11eb-9731-4ffdc7f48cc1.png)

**Profile File**
![image](https://user-images.githubusercontent.com/1613085/124964379-929a7400-dfe6-11eb-9edb-10645a9e73b1.png)

[2021-07-09 06:03] waldekmastykarz commented on #2455
Thank you for the additional information. Given the error message you mentioned, I don't think the issue is related to completion. Rather, PowerShell can't find the CLI executable. Do you have Node bin folder in your `$env:PATH` variable?

[2021-07-09 11:29] aakashbhardwaj619 commented on #2575
Updated the specs. Let me know if it looks fine now.

[2021-07-09 13:05] robertcaretta commented on #2455
I didn't add anything to it manually. Here is what I have currently. I do see a reference to nodejs. Am I missing something else?
![image](https://user-images.githubusercontent.com/1613085/125082004-47d33780-e08c-11eb-9e31-741739f59d40.png)

[2021-07-10 13:05] Ofer-Gal opened #2578 "Error: Either scp or roles claim need to be present in the token. with login --authType certificate"
When running "m365 spo site rename --siteUrl" with  certificate login, I get this error:
`Error: Either scp or roles claim need to be present in the token.`
The app has all the permissions
![image](https://user-images.githubusercontent.com/5054931/125163998-779a4200-e155-11eb-946e-b3011071e3a3.png)

Anything else I can do?

[2021-07-10 23:13] sprider commented on #2417
@waldekmastykarz, The coverage is not 100% in the latest main branch on Mac. Any idea?

Node - v14.15.2
npm - 7.6.0

![image](https://user-images.githubusercontent.com/21008316/125178354-b8bc4180-e1a9-11eb-8fa0-5625f557443b.png)

[2021-07-11 17:28] waldekmastykarz commented on #2417
Sorry, but I can't reproduce it. I've just pulled the latest main and ran clean + build + test and I'm getting 100% coverage with all tests passing on node@14.15.1 and npm@7.17.0. Could you please double check that you have the latest source with nothing else in dist with the latest dependencies?

[2021-07-11 17:28] waldekmastykarz commented on #2578
Which options have you used with the `login` command?

[2021-07-11 17:30] waldekmastykarz commented on #2455
Could you see if adding `C:\Program Files\nodejs\bin` to `$env:PATH` would help?

[2021-07-11 17:32] waldekmastykarz commented on #2575
Let's extend `Specify bucketId or bucketName, but not both` to `To retrieve tasks from a bucket, specify bucketId or bucketName, but not both` to make it clear that specifying `bucketId` or `bucketName` is not required but only needed to retrieve tasks from a specific bucket

[2021-07-11 21:51] Ofer-Gal commented on #2578
m365 login --authType certificate --certificateFile "some.pfx" --password "{pass}" --appId "{appId}"

[2021-07-11 22:10] sprider commented on #2417
I did clean and build with nothing in dist folder. Also I completely deleted the repo from my account and tried a new clone in a new folder but same issue.

[2021-07-12 11:12] waldekmastykarz commented on #2417
Have you checked what's missing in the coverage? Could it be that you have specific local settings for CLI that could interfere with testing conditions?

[2021-07-12 11:16] waldekmastykarz commented on #2578
Have you tried running a command like `m365 spo site list` to see if it works?

If that doesn't work, if you run the login command with `--debug` is there anything out of the ordinary in the output?

[2021-07-12 12:31] Ofer-Gal commented on #2578
m365 spo site list
Error: Request failed with status code 403

`m365 login --authType certificate --certificateFile "xxx.pfx" --password "yyy" --appId "abc" --debug`

Output
[code]
I do not see an error

[2021-07-12 14:18] Abderahman88 commented on #2417
I have 100% code coverage. (Win 10 / node@14.15.3 / npm@6.14.9)

![image](https://user-images.githubusercontent.com/36161889/125302464-43c54500-e32c-11eb-84d9-f0fef193bd36.png)

[2021-07-12 14:28] vipulkelkar opened #2579 "Bug report: Cli consent Test fails when connected with certificate authentication"
### Description

A test  for `cli consent` command fails, when the cli is connected using `certificate`

Failing test : _**shows consent URL for yammer permissions for the default multi-tenant app**_

### Steps to reproduce

- Pull the latest master branch
- Logout of the m365 cli if already connected
- Run `npm run clean`, `npm run build`
- Connect using `certificate` mode
- Run `npm test`

### E

[2021-07-12 15:37] robertcaretta commented on #2455
I added it. Didn't seem to make a difference. Still not able to use CLI with VS Code Powershell Integrated Console.

![image](https://user-images.githubusercontent.com/1613085/125315549-de0d9480-e2fc-11eb-9f28-f907bf3041eb.png)

![image](https://user-images.githubusercontent.com/1613085/125315661-f54c8200-e2fc-11eb-9baf-0080efaf69f3.png)

[2021-07-12 17:27] sprider commented on #2417
@waldekmastykarz / @Abderahman88, My overall coverage shows 100% but site-set.ts is not 100%(please refer my screenshot in this conversation). Is it okay proceed with this?

[2021-07-12 19:11] Abderahman88 commented on #2417
@sprider You are right. I also see this issue.

![image](https://user-images.githubusercontent.com/36161889/125342740-88190b00-e355-11eb-8d7b-f9052108f483.png)

[2021-07-12 19:15] Abderahman88 commented on #2417
After a quick check, there is a test missing. Not all paths are covered

[2021-07-13 12:51] vipulkelkar commented on #2171
@waldekmastykarz `onedrive list` command extends `SpoCommand`

[2021-07-13 13:50] vipulkelkar commented on #2130
https://github.com/pnp/cli-microsoft365/blob/4e51be5584b839453f9363b73ee22f0ea8ef3c1c/src/m365/flow/commands/flow-export.ts#L78-L171

[2021-07-13 14:37] waldekmastykarz commented on #2171
To keep thing manageable, I'd suggest we break the issue down into:

1. Extend the login method (this issue)
2. Extend SPO commands with an auth check and return an error if auth is app-only with a client ID and secret. (new issue)

If there is any exception (we call SharePoint in a different command), we'll handle it separetely.

[2021-07-13 14:40] waldekmastykarz opened #2581 "Introduce a CSV output mode"
### Discussed in https://github.com/pnp/cli-microsoft365/discussions/2560

Introduce a CSV output mode. Initially, the first row will contain column names and `,` (comma) will be used as the separator.

Once this is implemented, we can consider extending the feature with additional configuration settings like whether or not to include column names and which separator should be used.

[2021-07-13 14:43] waldekmastykarz commented on #2581
Should we automatically wrap all values in quotes or only when necessary?

[2021-07-13 14:45] waldekmastykarz commented on #2417
Yes, let's open a new issue. Curious to see what's missing and why it's not showing up on mac/CI

[2021-07-13 14:45] waldekmastykarz commented on #2455
Does the `C:\Program Files\nodejs\bin` folder exist on your disk and can you see a reference to the CLI in there?

[2021-07-13 14:47] waldekmastykarz commented on #2579
Thanks for reporting the issue @vipulkelkar. I wonder how we should handle specific local configuration settings in tests that are based on certain assumptions. My gut feeling says, to assume clean slate like we do in CI/CD and if you have any local settings that would interfere with tests, to clear them first, but curious to hear what others think.

[2021-07-13 14:53] waldekmastykarz commented on #2578
CLI uses Microsoft Graph as the default resource to sign in and to automatically discover your tenant URL. You can see this in the above output as it's trying to get an access token for `https://graph.microsoft.com/.default`. Because in your case you only granted CLI permissions for SharePoint, it's failing because the AAD app doesn't have any access to Graph. After logging in, could you call the

[2021-07-13 15:04] robertcaretta commented on #2455
Good question. No it's not there. Did my install go wrong?

There is some info in another directory though. C:\Users\xxxxxxx\AppData\Roaming\npm
![image](https://user-images.githubusercontent.com/1613085/125475674-62dffa53-bccd-4348-87a7-4b289d724a2b.png)

There is also data in this directory
C:\Users\xxxxxx\AppData\Roaming\npm\node_modules\@pnp\cli-microsoft365\scripts\Register-CLIM365Completion.

[2021-07-13 15:06] waldekmastykarz commented on #2455
OK, is `c:\users\xyz\AppData\Roaming\npm` in your `$env:PATH`?

[2021-07-13 15:20] robertcaretta commented on #2455
I added it and the "m365 status" command is working now in powershell. That's what it was!  Thank you Waldek!
![image](https://user-images.githubusercontent.com/1613085/125478735-2b77bf8a-e3ae-4169-93db-2c31c0771be0.png)

[2021-07-13 15:47] waldekmastykarz commented on #2455
Woohoo! Appreciate your help getting to the bottom of it 👏

[2021-07-13 18:24] robertcaretta opened #2582 "Bug report: m365 flow export - permissions error & unhandledpromise rejection errors"
### Description
The script finds 45 flows from the default environment, however only 13 export. I understand that one of the errors is listed on this [export documentation page](https://pnp.github.io/cli-microsoft365/cmd/flow/flow-export/) however as a tenant admin I don't think I should be restricted by permissions. Perhaps this command needs an --asAdmin option?

### Steps to reproduce
I am usin

[2021-07-13 18:44] LuiseFreese opened #2583 "New command: Add Service principal to AAD app registration"
### Usage

The command could look a bit like this

`m365 aad sp add [options]`

It should work similar to the equivalent in Azure CLI where we can achieve the same with ` az ad sp create --id <your-AppID-here>`

### Description

The command shall add a Service principal to a registered Azure AD app.

### Options

| Option                  | Description                               |
| -----------

[2021-07-13 19:23] joshua-probst opened #2584 "New command: 'Get Flow Trigger Information' or Update 'Get Flow run'"
### Usage
The command can look like this:
`m365 flow run trigger get --environment --flow --name`
or it will be updated the `m365 flow run get` command.

### Description

I am of the opinion that the command "flow run get" does not currently have enough information about the specified flow run. For example the trigger output would give me more information about the flow run. This information you c

[2021-07-13 19:40] joshua-probst opened #2585 "Enhancement: include flows from solutions in 'flow list'"
### Description

### Steps to reproduce

### Expected result

### Actual result

### Environment

[2021-07-13 19:41] waldekmastykarz commented on #2584
Thank you for the suggestion! Just to check: you're proposing to have a way to retrieve information about the trigger for the specific run, correct? If that's indeed the case, and we can do it in a backwards-compatible way, then I'd propose extending the existing `flow run get` command

[2021-07-13 19:43] waldekmastykarz commented on #2585
Thank you for reporting the limitation @joshua-probst. The current functionality is by design and is tied to the API that we have available to retrieve flows. We could research if there is a way for us to retrieve flows from solutions in a consistent way. If we can, it would make a great extension for the existing command

[2021-07-13 19:45] waldekmastykarz commented on #2583
Awesome suggestion! To make the command easier to use and consistent with other similar commands, I'd suggest we extend the spec to allow users to specify the objectId, appId or appName of the AAD app for which they'd like to create the sp.

[2021-07-13 19:47] LuiseFreese commented on #2583
That is an excellent idea! - thanks for adding this! This makes me happy!

[2021-07-13 19:48] waldekmastykarz commented on #2582
Thank you for reporting the issue @robertcaretta.

Unfortunately, we're limited by the functionality exposed by the API. If the API doesn't support a particular operation, there is nothing we can do about it. We could definitely have a look if the API supports exporting flows as admin but if it doesn't, I'm afraid there is nothing we can do.

[2021-07-13 19:51] joshua-probst commented on #2584
@waldekmastykarz That sounds great!

[2021-07-13 19:58] garrytrinder commented on #2581
We should look to align with the [RFC 4180](https://www.ietf.org/rfc/rfc4180.txt) format definition which states that:

- there are 0 or 1 header rows (not multiple header rows, nor other metadata)
- after the header rows, each row is a record (not, for example, a “totals” of preceding rows; no blank rows)
- fields are separated by commas (not tabs or pipes)
- quotation with double quotes, always

[2021-07-13 22:44] Ofer-Gal commented on #2578
Error: Request failed with status code 401

[2021-07-14 06:06] arjunumenon opened #2586 "Bug report: Code Coverage lacking 100% in the latest code base"
### Description

The latest codebase is lacking test coverage of 100% in the testing. Initiated based on [this discussion](https://github.com/pnp/cli-microsoft365/issues/2417#issuecomment-879151040)

### Steps to reproduce

[code]

Test coverage for 100% is lacking in the file spo site-set
![image](https://user-images.githubusercontent.com/10369964/125571227-9a967229-00a8-493a-86e2-9e8ec224eb56.pn

[2021-07-14 06:09] arjunumenon commented on #2417
Hi @Abderahman88 , @waldekmastykarz  - I am also getting the same behavior in Remote Development Container environment as well. Have initiated new issue for the same. Issue #2586

[2021-07-14 06:10] waldekmastykarz commented on #2578
Can you see anything relevant in the debug output?

[2021-07-14 06:11] waldekmastykarz commented on #2586
Thanks for documenting this issue. Could you share the coverage report so that we can see what's missing?

[2021-07-14 06:12] waldekmastykarz commented on #2581
That sounds confusing to me. I get that we should use quotes when needed, but do we use them always or only when needed?

[2021-07-14 06:13] waldekmastykarz commented on #2584
Awesome! Would you like to help implementing it?

[2021-07-14 06:15] arjunumenon commented on #2586
My bad Waldek. Should have added along with the issue list. Coverage report is given below.
![image](https://user-images.githubusercontent.com/10369964/125572298-dcb2b79d-6f4f-4cc1-8540-f6168ac697fd.png)

[2021-07-14 07:51] joshua-probst commented on #2584
Yes of course.

[2021-07-14 07:59] waldekmastykarz commented on #2586
So it seems that we don't have a test case for handling errors. That's odd because it's not something that would be OS-specific. Do you happen to have a local CLI config that could affect this test case?

[2021-07-14 08:00] waldekmastykarz commented on #2584
Excellent! All yours and I appreciate your help. Please, don't hesitate to reach out if there is anything that we could help with.

[2021-07-14 09:45] nanddeepn commented on #2209
Can I work on this?

[2021-07-14 13:11] arjunumenon commented on #2586
I don't think it has to do with environment. When I added one more test case which will reject the promise, the coverage went up to 100%. Just tried adding the below line of code in the site-set.spec.ts file, coverage got retained to 100%.
[code]

I will assign the issue to myself and will initiate a PR for the same.

[2021-07-14 13:47] Abderahman88 commented on #2586
Issue already fixed 😄  @arjunumenon on speed mode 🚀

[2021-07-14 14:46] arjunumenon commented on #2586
Thanks @Abderahman88 ❤ .
If it is not too much to ask, do you mind cloning [this branch](https://github.com/arjunumenon/cli-microsoft365/tree/2583-bug-siteset-coverage) and check whether coverage is 100% as expected in your end as well.

[2021-07-14 19:46] Abderahman88 commented on #2586
Works great! Good job 👏

![image](https://user-images.githubusercontent.com/36161889/125683451-eb2a6da4-1629-4534-afa1-d0f43cf1a879.png)

[2021-07-14 21:40] garrytrinder commented on #2579
I’d agree with your statement @waldekmastykarz I think this failure is an edge case that can be mitigated with the instruction to clear any local settings first so that we have a clean slate locally and in CI/CD.

[2021-07-14 21:45] garrytrinder commented on #2581
The detail in the RFC explains it better, see the below extract from page two, point seven appears to clarify the “when needed” comment.

[2021-07-14 21:47] garrytrinder commented on #2209
All yours @nanddeepn

Thank you for your help 👍🏻

[2021-07-15 03:57] arjunumenon commented on #2586
Awesome.. Thanks @Abderahman88 for confirming.. 👍

[2021-07-15 09:22] vipulkelkar commented on #2171
@waldekmastykarz sounds good. Could you please help update the specs here ?

I think we would have a '**secret**' authtype with a `--secret` option to specify the value (masked). Environment variables `CLIMICROSOFT365_AADAPPID` and `CLIMICROSOFT365_TENANT` would be required similar to `certificate` auth. Anything else i have missed ? I'll create a separate issue for Point#2 after we are good to go

[2021-07-15 13:38] waldekmastykarz commented on #2171
I don't think we can add masking as that's something that would need to be supported in the terminal rather than in the CLI. I don't think we need to create a separate issue. I think you've covered it all. So to recap:

- authType: secret
- specify client ID using the existing `appId` option
- specify client secret using a new option named `secret` (could we use for this the existing `password` op

[2021-07-15 15:52] vipulkelkar commented on #2171
@waldekmastykarz  I think password could be confusing. Lets go with `--secret` as that would also align with the general appid-secret terminology.
Please assign this issue to me. I will try to implement it.

For the new issue, I was referring to the below. Should we create this as a separate one.

[2021-07-15 17:29] waldekmastykarz commented on #2171
Ah right, got it. Yes, let's create a separate issue for that that we can pick up once this is done. I appreciate your help 👏

[2021-07-16 10:10] vipulkelkar opened #2591 "Update the base SPO command to display error when authType is app-only with a 'secret'"
### Description

If the CLI is connected in app-only mode with a Client ID and Secret (authType : `secret`), an error message must be displayed to the user on executing any `spo` command, indicating that the operation will fail and recommend the user to connect using an alternate `login` type to execute `spo` commands.

The base SPO command should be updated to check the `authType` and display the

[2021-07-16 10:29] BBokdam opened #2592 "Bug report: Cannot find module chalk"
### Description
When running the command m365 teams team get --id [id of a team], getting error message. When running a list of all teams everything works fine.

### Steps to reproduce

m365 teams team get --id [id of a team]

### Expected result
All information about a Team

### Actual result

m365 teams team get --id 957c8275-9c03-4746-a20a-a557202c8a1a
(node:5387) UnhandledPromiseRejectionWarni

[2021-07-16 11:13] waldekmastykarz commented on #2592
Thank you for reporting the issue and sorry for the trouble @BBokdam. I can reproduce it with the latest beta as well. We'll get it fixed asap.

What I noticed is that while the command works just fine when linking it locally, when you install CLI from npm it fails. We should keep this in mind when investigating the root cause and verifying the solution.

[2021-07-16 11:21] waldekmastykarz opened #2593 "Bug: superseding rules works incorrectly"
### Discussed in https://github.com/pnp/cli-microsoft365/discussions/2590

When upgrading SPFx project from 1.11 to 1.12, CLI won't suggest removing rush-stack-compiler 3.3. While the rule is there, it's superseded by installing rush-stack-compiler 3.7. The problem is, that currently superseding doesn't take into account the difference between installing and uninstalling the package. We need to th

[2021-07-16 11:26] BBokdam commented on #2592
@waldekmastykarz I also did a test on a Windows machine with the same CLI version, but Node is version 14.17.3. But there it's working fine. After installing the update 14.17.3 on my mac the error is still there

[2021-07-16 11:38] waldekmastykarz commented on #2592
Could be a macOS issue

[2021-07-16 12:46] waldekmastykarz opened #2594 "Bug report: Teams channel validation fails when channel ID contains _ (underscore) or - (dash)"
### Description

Teams channel validation fails when channel ID contains _ (underscore)

### Steps to reproduce

[code]

[code]

### Expected result

CLI retrieves information about the specified channel

### Actual result

[code]

### Environment

Latest CLI

[2021-07-16 12:46] waldekmastykarz commented on #2594
We should fix this by extending the validation regex on https://github.com/pnp/cli-microsoft365/blob/4e51be5584b839453f9363b73ee22f0ea8ef3c1c/src/Utils.ts#L56 with `_`

[2021-07-16 12:57] #2505 closed

[2021-07-16 12:57] #2586 closed

[2021-07-16 13:02] appieschot commented on #2475
@BBokdam For some reason I cannot assign this to you but put it on in progress 🚀 let me know if you need anything!

[2021-07-16 13:04] appieschot commented on #2592
Can confirm that it is working properly on Windows even with node `14.15.4` so assuming it is macOS as well. Cant help with that though.

[2021-07-16 13:28] waldekmastykarz commented on #2592
While I can't reproduce the issue, I can see that chalk is not listed as a dependency which is most likely causing the issue. Let's add it back as a dependency and see if it fixes the issue

[2021-07-19 07:52] waldekmastykarz opened #2598 "Enhancement: extend `teams team get` with `name`"
Extend the `teams team get` command with the `name` option that allows retrieving information about a Teams team using its name. After adding the `name` option, we should make the existing `id` and the new `name` option optional and require users to specify either one but not both.

[2021-07-19 08:18] #2592 closed

[2021-07-19 08:18] #2594 closed

[2021-07-19 09:17] BBokdam commented on #2592
I just installed the beta version 3.12 and did a test with this command and it's working

[2021-07-19 13:33] Abderahman88 commented on #2531
I changed the specs for this command. Could the maintainers take a look at it before I start?
If everything is OK, assign to me please ✋

[2021-07-19 15:09] waldekmastykarz commented on #2592
Excellent! Thank you so much for confirming all is good @BBokdam and thank you once again for bringing the issue to our attention ❤️

[2021-07-19 17:37] waldekmastykarz commented on #2531
Awesome! Nothing to add. All yours 👏

[2021-07-19 17:42] #2309 closed

[2021-07-19 18:01] waldekmastykarz commented on #2544
So there is one problem with that. Our list commands are optimized to only show a few selected properties so that we can fit the output in the terminal's width. Our get commands on the other hand, up until now used the key-value pair output which made it fine to output all properties one under the other. If we always use the table output, we'd need to update all get commands to only include the fe

[2021-07-19 18:16] waldekmastykarz opened #2599 "Change default output to JSON"
Raised from https://github.com/pnp/cli-microsoft365/discussions/2238

We should change the default output from text to JSON

[2021-07-20 07:16] arjunumenon commented on #2544
So with that, shall we keep the current functionality intact?

Agree with you on that Waldek. My opinion is, weighing the dependency factor involved in the change, it does not add much value to the dependency it may bring to the table since updating all the get commands would be a herculean change.
Yes, output looks good in the table, just a good to have feature rather than a must to have I would

[2021-07-22 11:39] #2157 closed

[2021-07-22 11:39] #2576 closed

[2021-07-22 11:50] waldekmastykarz opened #2601 "Enhancement: extend `cli doctor` with CLI configuration"
Now that we released the `cli config` command, that output the diagnostic information for the CLI, we should extend it with CLIs configuration which can also be helpful when debugging issues.

[2021-07-22 17:30] waldekmastykarz commented on #2506
Hey @ktskumar, how's the work going?

[2021-07-22 17:30] waldekmastykarz commented on #2533
Hey @dips365, how's the work going?

[2021-07-22 17:57] waldekmastykarz opened #2604 "Enhancement: Add support for upgrading SPFx projects to v1.13.0-beta.13"
Enhancement: Add support for upgrading SPFx projects to v1.13.0-beta.13

[2021-07-22 18:16] #2604 closed

[2021-07-23 11:43] ktskumar commented on #2506
Hi @waldekmastykarz, working on it. Will push the code in the upcoming week.

[2021-07-23 13:06] waldekmastykarz commented on #2506
Awesome! 👍

[2021-07-23 16:13] PathToSharePoint opened #2607 "Error: CLI for Microsoft 365 doesn't support upgrading projects build on SPFx v1.12.1"
### Description

I am trying to upgrade a project built with SPFx 1.12.1 to 1.13.0-beta.13. It errors out with the message:
Error: CLI for Microsoft 365 doesn't support upgrading projects build on SharePoint Framework v1.12.1

### Steps to reproduce

1. Install the latest CLI: beta (v3.9.0-beta.8c84ab1)
`npm i -g @pnp/cli-microsoft365@next`
2. run the upgrade command on SPFx 1.12.1 project:
`m365

[2021-07-23 16:18] waldekmastykarz commented on #2607
Thank you for reporting the issue and sorry for the trouble. Could you please double check the CLI version?

[2021-07-23 16:21] PathToSharePoint commented on #2607
I just ran` m365 version` again, and it gives me v3.9.0-beta.8c84ab1 as indicated above.

[2021-07-23 17:08] waldekmastykarz commented on #2607
If I run `npm i -g @pnp/cli-microsoft365@next` I'm getting `v3.12.0-beta.e4850a1` which is the current `next` version as listed on npm:

![image](https://user-images.githubusercontent.com/11164679/126817152-9ed9dd7e-f116-412a-bb11-4a937881d426.png)

It seems like for some reason you got an older beta version. Could you uninstall CLI and try installing the preview again?

[2021-07-23 17:14] waldekmastykarz commented on #2544
In that case, let's close this issue as something we won't be changing at this time. Thanks!

[2021-07-23 17:14] #2544 closed

[2021-07-23 17:21] PathToSharePoint commented on #2607
ok it seems it was my mistake. I installed CLI @next globally while the project was open in VS Code, and VS Code didn't pick the update. After closing and restarting VS Code, everything works as expected.

Thanks for the quick reply!

[2021-07-23 17:21] #2607 closed

[2021-07-23 17:39] #2520 closed

[2021-07-23 17:39] #2599 closed

[2021-07-23 17:40] #2533 closed

[2021-07-23 17:57] waldekmastykarz commented on #2607
Awesome to hear all is working as intended! Always good to double check that we haven't missed anything. Appreciate your help!

[2021-07-23 18:06] PathToSharePoint commented on #2607
@waldekmastykarz just double checking one more thing if you don't mind:
[code]
Is that correct? The upgrades from 1.12.0 asked me to change to `"deployCdnPath": "./release/assets/"`

[2021-07-24 05:58] waldekmastykarz commented on #2607
Correct, and if you look at 1.13.0-beta.13 you see it reverted.

Could you elaborate on .gitignore?

[2021-07-24 06:15] garrytrinder commented on #2508
Hey @ktskumar 👋 How are you getting on with this? Do you need any assistance?

[2021-07-24 13:06] ktskumar commented on #2508
Hi, @garrytrinder Thanks for asking. I have submitted the pull request for this item.

[2021-07-24 14:01] garrytrinder commented on #2508
Excellent, thank you for your help @ktskumar 👏🏻

[2021-07-24 16:21] PathToSharePoint commented on #2607
Let me just share what is different between the two sets of instructions.

From 1.12.0 to 1.13 beta:
[code]

From 1.12.1 to 1.13 beta:
[code]
So at the end of the day, if I compare my project upgraded from 1.12.0 and my project upgraded from 1.12.1, the files copy-assets.json and .gitignore are different.

[2021-07-25 17:28] waldekmastykarz commented on #2607
Right, it could be that we missed information about superseded rules. Thanks for pointing it out!

[2021-07-25 17:28] waldekmastykarz opened #2610 "Bug: Incorrectly resolved SPFx project upgrade rules"
Let me just share what is different between the two sets of instructions.

From 1.12.0 to 1.13 beta:
[code]

From 1.12.1 to 1.13 beta:
[code]
So at the end of the day, if I compare my project upgraded from 1.12.0 and my project upgraded from 1.12.1, the files copy-assets.json and .gitignore are different.

_Originally posted by @PathToSharePoint in https://github.com/pnp/cli-microsoft365/issues/26

[2021-07-25 17:35] waldekmastykarz commented on #2021
To handle the catch, we'd need a test case with a reject promise for the request. If the mock of the request returns a rejected promise, it should cause the code to go into the `catch` code branch.

[2021-07-25 17:47] waldekmastykarz commented on #2610
@PathToSharePoint thanks again for pointing it out. The issue is more complicated than what I originally thought. Typically, we'd handle such differences by adding superseded information to the rule. The problem in this case though is that it's the same rule which is checked against the original value of the file rather than the value as it would be modified by the rule applied from the previous v

[2021-07-25 17:54] PathToSharePoint commented on #2610
@waldekmastykarz I'm glad that helped. Maybe the easy way is to discard 1.12.0 upgrades? I might be the only one running that version :-)

[2021-07-25 18:03] waldekmastykarz commented on #2610
Right, the challenge is how to determine which rules to discard. From all the changes that are suggested between 1.12.0 > 1.12.1 and 1.12.1 and 1.13.0 only two need to be replaced. I have a possible solution in mind but need to check if it would work properly.

[2021-07-25 19:09] PathToSharePoint commented on #2610
While I'm at it: is it expected that devDependencies don't upgrade?
![image](https://user-images.githubusercontent.com/40323257/126910509-9246cf76-53a8-4a4e-8cef-5ec48491b29e.png)

[2021-07-26 05:33] waldekmastykarz commented on #2610
They should. Let's take it to a separate issue and double check all is working as expected.

[2021-07-26 05:34] waldekmastykarz opened #2611 "Bug: SPFx v1.13.0-beta.13 doesn't upgrade devDevependencies"
While I'm at it: is it expected that devDependencies don't upgrade?
![image](https://user-images.githubusercontent.com/40323257/126910509-9246cf76-53a8-4a4e-8cef-5ec48491b29e.png)

_Originally posted by @PathToSharePoint in https://github.com/pnp/cli-microsoft365/issues/2610#issuecomment-886244839_

[2021-07-26 05:42] waldekmastykarz commented on #2611
@PathToSharePoint when I upgrade an SPFx v1.12.1 project to SPFx v1.13.0-beta.13, I'm getting suggestions to upgrade devDependencies as expected. Could you please provide us with more information so that we can reproduce what you're seeing?

[2021-07-26 06:16] PathToSharePoint commented on #2611
I am getting them too. I re-ran the command on my 1.12.1 project and here is what happened:
![image](https://user-images.githubusercontent.com/40323257/126941650-3bb4cc50-a20e-4c8a-857b-3ed52d13d811.png)

[2021-07-26 06:44] waldekmastykarz commented on #2611
Good catch! Local workbench has been deprecated in v1.13.0 which is why it fails during the installation. Will adjust!

[2021-07-26 07:14] waldekmastykarz commented on #2573
@pnp/cli-for-microsoft-365-maintainers could you please double check if the steps I mentioned above indeed work as expected? We could then start work on fixing the CLI

[2021-07-26 10:45] waldekmastykarz commented on #2529
@stephanbisser, @pnp/cli-for-microsoft-365-maintainers just to double check: are we spec-complete and ready to implement?

[2021-07-26 11:56] appieschot commented on #2573
The mentioned steps make sense; I am not aware of those changes being rolled out, but could totally be part of some initiative we do not have insights in.

[2021-07-26 12:26] Abderahman88 opened #2613 "Enhancement: extend getAllItems with an optional metadata argument"
Extend `getItems` with an optional metadata string argument, where we can pass `none` (default), `minimal` and `full`.
At the moment, only `none` is implemented.

![image](https://user-images.githubusercontent.com/36161889/126987910-e2d2de89-1298-432c-b53d-28aa4a7985db.png)

[2021-07-26 12:27] Abderahman88 commented on #2613
Assign to me, please ✋

[2021-07-26 14:55] waldekmastykarz commented on #2613
Awesome! Appreciate your help 👏

[2021-07-26 14:56] waldekmastykarz commented on #2573
Could you verify that what I outline indeed works rather than just works on my machine? (we won't be shipping my machine 😉 )

[2021-07-26 15:19] Rohitwghela commented on #2573
I have not tried the the steps you have mentioned. Will try that.

[2021-07-26 17:51] #2611 closed

[2021-07-26 18:40] waldekmastykarz opened #2614 "Add support for upgrading SPFx projects to v1.13.0-beta.15"
Add support for upgrading SPFx projects to v1.13.0-beta.15

[2021-07-27 06:04] garrytrinder commented on #2529
I've just made some minor amends on the options and descriptions to make them more consistent with our docs, but all looks good to me 👍

[2021-07-27 07:36] #2614 closed

[2021-07-27 15:58] appieschot opened #2617 "Bug report: m365 teams message reply list authorization issue"
### Description

If you try to execute the command `m365 teams message reply list` you get a error about missing permission levels.

### Steps to reproduce

`m365 teams message reply list --teamId $teamId --channelId "19:FBTH4bThMWtCSA38YquikkrMwmmK7GIsjOK46c5e5101@thread.tacv2"--messageId "1627400708558" --verbose`

[code]

Looks like the preview of the API now requires some additional permission

[2021-07-28 07:45] dips365 commented on #2073
I would like to take this

[2021-07-28 09:28] waldekmastykarz commented on #2617
I've updated the app registration with the scope you mentioned. Could you check if it's working now?

[2021-07-28 09:50] appieschot commented on #2617
Will test today!

[2021-07-28 10:34] appieschot commented on #2617
Works flawlessly! Awesome job 🔥

[2021-07-28 10:34] appieschot commented on #2617
Closed based on updates made by @waldekmastykarz

[2021-07-28 10:34] #2617 closed

[2021-07-28 10:40] appieschot opened #2619 "New sample script: Get Social Champion for a specific Team"
Inspired by #2532 we should provide a similar sample that scans a specific team and get all activity in that team for a specified period (let's say a week). Based on a user activity we should identify the top contributors in that team based on message activity. Idea for script would be to iterate trough all channels, all messages per channel, all replies and reactions per reply and award points fo

[2021-07-28 10:52] appieschot commented on #1987
Hi @ktskumar How are things coming along? You experience any blockers or need any help?

[2021-07-29 08:54] garrytrinder opened #2620 "Rename `PowerShell Core` to `PowerShell` in Docs"
Across our docs, especially in the Samples section, we refer to PowerShell as `PowerShell Core`, however the correct name is now `PowerShell` dropping the `Core`, so we should rename these references.

[2021-07-29 13:48] Abderahman88 commented on #2620
Volunteer ✋ Just give the green light to start 🟢

[2021-07-29 13:55] waldekmastykarz commented on #2620
By including a version number, wouldn't that mean though that we need to bump it each time there is a new release? Could we use instead `Microsoft PowerShell` (as opposed to `Windows PowerShell`) to steer clear of any specific versions?

[2021-07-29 13:57] Abderahman88 commented on #2620
Agree. It makes more sense to leave out the version number.

I vote for `Microsoft Powershell` ✋

[2021-07-29 14:15] waldekmastykarz commented on #2620
It's a good question: is there a difference from our point of view if someone would use our script in `Microsoft-` or `Windows PowerShell`, if not, then we could consider leaving it in the middle. Not sure if there are any specific dependencies.

[2021-07-29 14:22] Abderahman88 commented on #2585
Retrieving a flow from a solution is possible, but this requires a different endpoint than the one in `m365 flow list` . See [Power Automate Web API docs](https://docs.microsoft.com/en-us/power-automate/web-api)

I've tested it with a manual flow on my tenant.

![image](https://user-images.githubusercontent.com/36161889/127507221-96a9ac4a-dbe5-44bc-83ca-a1cf7ecb8cfa.png)
![image](https://user-imag

[2021-07-29 14:37] garrytrinder commented on #2620
Looking at the PowerShell docs more...

So I think the correct answer is to drop `Core` and use `PowerShell` without the version number. I've updated the spec accordingly.

Thank you for your comments @waldekmastykarz @Abderahman88 ❤️

[2021-07-29 17:59] appieschot opened #2622 "New command: m365 aad group list"
### Usage

Provide a `m365 aad group list` command to output Azure AD Groups. The Azure CLI does not provide details on the group type. `az ad group list` does not indicate if something is a dynamic group or not.

Suggestion is to provide all groups using the Microsoft Graph `/v1.0/groups` endpoint.

### Description

Lists all Azure AD  groups in the tenant.

### Options

N/a

### Additional Infor

[2021-07-29 17:59] appieschot commented on #2622
@pnp/cli-for-microsoft-365-maintainers let me know what you think about this!

[2021-07-30 05:55] garrytrinder commented on #2622
Great idea @appieschot 👏

Looking at the Graph API docs, this endpoint supports several OData query parameters such as `$count`, `$expand`, `$filter`, `$orderBy`, `$search`, `$select`, and `$top`, so maybe we should consider implementing some of these in the command so that we can be efficient with our requests as querying groups across AAD could be quite an expensive request.

[2021-07-30 07:43] waldekmastykarz commented on #2622
Awesome suggestion! The `displayName` options seems to me like something that belongs in a `get` command rather than `list`.

@garrytrinder thanks for bringing it up. I have two concerns/questions about it
1. Rather than introducing OData parameters for this specific command, shall we have a look at how to do it consistently for all list commands?
2. Instead of exposing raw `$filter`, which would

[2021-07-30 08:01] garrytrinder commented on #2622
Good catch, I agree.

Absolutely, makes sense.

Agreed, if we can make querying more user friendly then we should always favour that option.

[2021-07-30 08:21] waldekmastykarz commented on #2622
I started a discussion about OData parameters here https://github.com/pnp/cli-microsoft365/discussions/2624. For this particular command, shall we start with the basic functionality and revisit once we reached a consensus around OData?

[2021-07-30 10:33] appieschot commented on #2622
Agree with comments so far; updated spec.

[2021-07-30 14:57] appieschot opened #2625 "New sample script: Render assigned numbers to Teams users"
This script queries Microsoft Teams for assigned numbers and displays them in a formatted table with the option to export to CSV.

|Docs||
|-----|----|
|Author| @ucgeek  |
|Original Post| https://ucgeek.co/2019/12/script-get-microsoft-teams-assigned-numbers/ |
|Description| List teams assigned numbers |
|Keywords| `Teams` |

## Remarks
I don't think we have the appropriate commands for this yet, b

[2021-07-30 15:45] Abderahman88 commented on #2025
Assign to me ✋

![image](https://user-images.githubusercontent.com/36161889/127677976-1665d574-9461-41a4-810c-d4711f6c92bb.png)

[2021-07-30 20:21] garrytrinder commented on #2025
All yours @Abderahman88 thank you for your help 👍🏻

[2021-07-31 06:49] garrytrinder commented on #2625
I am in favour of looking into these commands 👍🏻

[2021-08-02 12:06] Rohitwghela commented on #2573
Thanks a lot for the support. Now I am able to export the flows as a Zip.

There is one more thing I would want your help/suggestion is : Is there any specific permissions required by the account to export the all the flows?

Because, using the command `m365 flow list --environment $environment --asAdmin`, I am getting all the flows in selected environment.
However, I can only export that flows th

[2021-08-03 16:17] ktskumar commented on #2506
Hi,
Need input on implementing this command to use the `-teamName `option,
Because the team endpoint only gives the Team information based on the team Id. To use the TeamName option, we have depended on the groups' endpoint.

Kindly suggest.

[2021-08-04 06:07] garrytrinder commented on #2506
Thank you for reaching out @ktskumar 👍

`--teamName` has been implemented on the `m365 teams app list` command as an alternative to using `--teamId`, so you should be able to follow this as an example.

https://github.com/pnp/cli-microsoft365/blob/main/src/m365/teams/commands/app/app-list.ts

[2021-08-04 11:49] vipulkelkar opened #2633 "Usage of 'cli doctor' command to retrieve environment information while reporting issue"
As the `cli doctor` command is now available, can the `Bug Report` Github issue template be updated to suggest using this command to retrieve the environment information if the user has `V3.12.0` or above ?

[2021-08-04 12:23] dips365 commented on #2622
I would like to take this and want to explore power of graph  :)

[2021-08-04 12:28] plamber commented on #2622
Hi @dips365,
thank you very much. This is all yours.

Just come back to us if you have some questions.

Cheers

[2021-08-04 12:30] garrytrinder commented on #2633
Great suggestion @vipulkelkar 👍

I have just been working on updating our issue templates to use the new Issue Forms, you can see the open PR #2632 in this repo.

The updates include adding the `cli doctor` output to the bug report form.

[2021-08-04 12:38] vipulkelkar commented on #2633
Perfect thanks @garrytrinder, closing this.

[2021-08-04 12:38] #2633 closed

[2021-08-06 05:30] garrytrinder commented on #2573
Thank you for the update @Rohitwghela and great to hear that we have been able to unblock you.

I'm not sure if this is by design, however let's investigate this under a new issue, would you like to create one to help progress this?

[2021-08-06 09:51] RickVanRousselt opened #2635 "New command: m365 tenant security alerts list"
### Usage

`tenant security alert list [options]`

### Description

 `Retrieve security alerts`

### Options
| Option   | Description  |
| ------------- | ------------- |
| `--vendor [vendor]`  | The vendor to return alerts for. Allowed values `Azure Advanced Threat Protection`,`Azure Security Center`, `Microsoft Cloud App Security`,`Azure Active Directory Identity Protection`,`Azure Sentinel`,`Mi

[2021-08-06 14:52] michaelmaillot commented on #2563
Well that's weird. I found out that I wasn't the only one in that case!

Same as @Yvand, I was playing with the `aad app add` command, when I encounter the same permissions banner. Which is strange because I ran the command in the admin context (me). It's even weirder because I was mentioned as owner of the registration, but couldn't do anything with it, except deleting.

I went back a few minutes

[2021-08-08 05:46] garrytrinder commented on #2635
Great idea @RickVanRousselt thank you for creating this issue 👍

Can I suggest that we rename the command slightly to `m365 tenant security alert list`? This will align it with other commands such as `m365 tenant service message list`.

Rather than aligning to the API, I think it would be a good idea to change `--filter` to `-v, --vendor [vendor]` and align the description to align with `m365 aad

[2021-08-10 03:57] dips365 commented on #2622
@garrytrinder  @plamber  @waldekmastykarz
Do I need to create new folder structure under aad group ?
Or I should add new file called "group-list.ts" under o365group directory?

![image](https://user-images.githubusercontent.com/40450958/128806049-661f4456-fecc-4e7e-875b-faeed7c6ade4.png)

[2021-08-10 04:25] plamber commented on #2622
The o365group folder contains commands related to Microsoft 365 Groups. For simplicity you could create a group folder and put these commands there.

[2021-08-10 04:46] dips365 commented on #2622
Thanks !! Gotcha !!

[2021-08-10 06:27] dips365 commented on #2622
@plamber
I display columns below columns in console.
"['id', 'displayName', 'mailNickname','groupTypes', 'securityEnabled','mailEnabled']"

Any other columns that we need to add along with this command?
Please suggest.

![image](https://user-images.githubusercontent.com/40450958/128818582-764976cc-84d7-46f6-be31-62e8afb2669d.png)

[2021-08-10 06:33] plamber commented on #2622
Looks good to me. @appieschot any other suggestions?

[2021-08-10 09:07] JBPuzzled opened #2637 "ADFS authentication works in Office 365 CLI but not CLI for Microsoft 365"
### Description

I encounter an error while trying to login using the password auth type. The device code login works perfectly.

However, I use the same account to login using the latest version of the predecessor (o365).... and that works.

I know many auth issues are related to synced accounts / ADFS, but I would expect both versions of the CLI to fail or succeed. It must be something under the

[2021-08-10 16:40] dips365 commented on #2635
Could you please assign to me ? Would like to work on it.

[2021-08-10 17:03] plamber commented on #2635
All yours.
Thx

[2021-08-11 05:51] #2613 closed

[2021-08-11 05:51] #2620 closed

[2021-08-11 05:54] #2532 closed

[2021-08-11 06:12] garrytrinder commented on #2635
@dips365 @plamber just so you are aware, the design has not yet clarified on this issue (apologies I missed the needs design label), so please be aware that this spec may change.

[2021-08-11 06:21] garrytrinder commented on #2637
Thank you for reaching out @JBPuzzled

We are sorry for the trouble and will look into this as soon as possible for you.

One difference is that we changed from using `adal-node` to `msal-node` for authentication in the [3.9 release](https://techcommunity.microsoft.com/t5/microsoft-365-pnp-blog/cli-for-microsoft-365-v3-9/ba-p/2304639) (April '21).

Could you see if you can replicate the issue usin

[2021-08-11 07:56] JBPuzzled commented on #2637
Thank you for your quick response.

The login works fine with m365 v3.8.0.

The account is synced and AD FS is used for identity and access management. I am still waiting for feedback on version details, but saying that MSAL does not support my scenario is easy guessing.

I looked at certificate login as an alternative but the required permissions - at least Sites.Read.All and Sites.Manage.All - w

[2021-08-12 09:32] #2483 closed

[2021-08-12 12:58] Rohitwghela commented on #2573
Thank you all so much for your assistance.

Sure @garrytrinder . I would like to create a new issue. Let me create a new issue. Also will share a new issue link here as well for the reference.

[2021-08-13 06:00] garrytrinder commented on #2637
Thank you for confirming my assumption that this has been caused due to our backend auth change from `adal-node` to `msal-node`. Does using v3.8 unblock you for the moment?

As a consultant I appreciate your scenario 😄

Would it be possible for you to test this hypothesis in your environment? If we can confirm that AD FS is causing the issue this will give us better repro steps that we can provide

[2021-08-13 12:50] pschaeflein opened #2639 "Bug report: Improve error message (or setup docs) for tenant-scoped spo commands under app-only"
### Description

Connected via app-only/certificate as per documentation.

Application registration in AAD has the SharePoint permission Sites.FullControl.All

![image](https://user-images.githubusercontent.com/8008013/129359045-3d3cebc4-621c-49c8-8ed9-d167ac2bb82e.png)

Running commands  `spo app *` or `spo orgassetslibrary *` fail.  "Error: Request failed with status code 403"

### Diagnosis

Us

[2021-08-13 13:29] pschaeflein commented on #2639
Learned from discussion that Tenant Discovery is part of the process. Perhaps the [Using your own Azure AD identity ](https://pnp.github.io/cli-microsoft365/user-guide/using-own-identity/) page should have a section on Tenant Discovery requirements for app-only.

Twitter thread: https://twitter.com/waldekm/status/1426169579500363784?s=20

[2021-08-13 13:39] arjunumenon commented on #2219
Changing the status back since we have #2483  and #2493 closed. Will start working on this right now.

[2021-08-13 14:30] arjunumenon opened #2640 "New command: List members of a SharePoint Group"
### Usage

`spo group user list [options]`

### Description

List the members of a SharePoint Group

### Options

Option | Description
-- | --
`-u, --webUrl <webUrl>` | URL of the SharePoint site
| `--groupId [groupId]`  | Id of the SharePoint group. Use either `name` or `groupId`, but not both|
| `--name [name]` | Name of the SharePoint group.  Use either `name` or `groupId`, but not both |
| `-o

[2021-08-13 14:33] arjunumenon commented on #2640
Hello @pnp/cli-for-microsoft-365-maintainers  - Can you guys have a look into the spec of the new command please. If you are fine with that, I can take this up.

[2021-08-13 14:35] arjunumenon commented on #2219
Since this script requires a command which is based on issue #2640 , I am keeping this on hold. Once we have the command completed, I can resume building this script.

[2021-08-13 21:28] garrytrinder commented on #2640
Looks good to me, one suggestion would be to make it possible to list users of a group based on its name as a friendly alternative to using id.

[2021-08-16 05:28] garrytrinder commented on #2639
Thank you for this great feedback @pschaeflein and great to hear that you have been able to unblock yourself 👍

Delving into the code for the `getSpoUrl` method, it first checks for the presence of the `spoUrl` environment variable and falls back to calling the Graph, this behaviour is irrespective of the authentication method that is used.

https://github.com/pnp/cli-microsoft365/blob/3232511f80a

[2021-08-16 06:20] garrytrinder commented on #2639
@pschaeflein I have raised a PR (#2641) to include a remark in the `Configure API permissions` section of the `Using your own Azure AD identity` guide.

[2021-08-16 07:37] JBPuzzled commented on #2637
It was not blocking since we are using the latest o365 which uses ADAL as well as m365 v3.8.0. However, we want to move forward to prevent deprecation/security issues.

Yes, but it might take a while due to the nature of large organizations. 😉
Therefore I would appreciate if this issue could remain open for the upcoming weeks.

[2021-08-16 07:37] arjunumenon commented on #2640
Thanks Garry for the nice suggestion 👏. Have updated the spec for the command.

[2021-08-16 11:20] arjunumenon opened #2642 "New command: Remove User from SharePoint Group"
### Usage

`spo group user remove`

### Description

Removes the specified user from specified SharePoint Group

### Options

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `-u, --webUrl <webUrl>` | URL of the site where the SharePoint group is available |
| `--groupId [groupId]`  |  Id of the ShareP

[2021-08-16 11:21] arjunumenon commented on #2642
@pnp/cli-for-microsoft-365-maintainers  - I have created a new command for removing user from SharePoint group. Can you have a look into that and let me know if we need to update the specs.

[2021-08-16 13:46] pschaeflein commented on #2639
Thanks! I was planning on getting to it, but being in a later timezone means I don't need to! ;)

[2021-08-17 05:56] garrytrinder commented on #2637
Absolutely.

No problem with keeping this open 👍

I've done some more research on this, it would appear that `msal-node` should support AD FS, see [Services Supported](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-node/docs/faq.md#what-are-the-services-supported) section in the FAQ.

I have also found a similar issue in the MSAL repo (referenced) which states

[2021-08-17 12:58] appieschot commented on #2642
Let's add a `--groupName` option as well just in case you don't know the ID.

[2021-08-17 15:31] vipulkelkar commented on #2578
@Ofer-Gal has the admin consent been granted to the application permissions of the app ? I see the error you are getting in the `--debug` mode when the admin consent is missing

![image](https://user-images.githubusercontent.com/13727430/129755195-787cbca1-b7f4-43d1-a64a-de2593f9e58c.png)

[2021-08-18 03:30] plamber commented on #2558
Hi @ktskumar,
do you have any updates regarding this?

Thank you for your feedback

[2021-08-18 06:08] arjunumenon commented on #2642
Thanks for the suggestion. My bad. Had missed that during creating the spec 🤦‍♂️.

Updated the spec now.

[2021-08-18 09:38] garrytrinder commented on #2637
I have received an answer.

https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/3445#issuecomment-900647371

The linked to article states the following.

[2021-08-18 12:12] JBPuzzled commented on #2637
Thank you for your effort on this matter. You are really helpful.

I have got information on the AD FS version/server: it runs on Windows Server 2012R2, AD FS 3 that is.

Direct connection is out of the question. I already know we can use MSAL to connect to AAD to sign in. I'm not sure about the exact flow that is supported. Let me elaborate.

If I want to login to for example SharePoint I am redi

[2021-08-18 12:47] Ofer-Gal commented on #2578
Same app registration does everything with PnP.PowerShell so the permissions are OK.
Don't bother with this. I will use PnP.PowerShell for this tasks.

[2021-08-18 12:47] #2578 closed

[2021-08-19 05:39] #2528 closed

[2021-08-20 05:59] garrytrinder commented on #2637
No problem, my pleasure to help 😊

Likewise 😄

In the mean time I have created an issue in the `msal` repo describing your scenario to see if we can get some outside help and also confirm whether this is expected behaviour or something missing in `msal-node`.

[2021-08-20 06:12] garrytrinder commented on #2642
Nice spec @arjunumenon 👍

I noticed that this command doesn't take an array of usernames like its counterpart `spo group user add`, is this intentional?

[2021-08-20 06:40] arjunumenon commented on #2642
Thanks Garry. Actually that was intentional.

When I was thinking through the use case, I did not think there would be more scenarios for **remove** multiple usernames when compared to **add**. Hence had left that out.
Plus, when I did a check there wasn't any endpoint which supports multiple removal in the single call. So that is why I had left that open. Adding to that, with the current spec, it

[2021-08-20 11:16] waldekmastykarz commented on #2642
We could definitely start with the basic support for removing a single user. We need to pay attention if that doesn't break assumptions our users could have based on the `spo group user add` command like @garrytrinder mentioned. Starting with support for a single account and extending to support multiple, comma-separated wouldn't break the spec so we could proceed either way.

[2021-08-20 11:38] waldekmastykarz commented on #2573
Thank you for verifying that the steps I mentioned fix the issue @Rohitwghela.

Is this happening with the changes I suggested in place?

[2021-08-20 12:28] waldekmastykarz opened #2644 "Add support for upgrading SPFx projects to v1.13.0-beta.17"
Add support for upgrading SPFx projects to v1.13.0-beta.17

[2021-08-20 13:21] waldekmastykarz commented on #2635
Good suggestions @garrytrinder. I agree that we should remove `--top` for now. Other than that, nothing to add from my side.

[2021-08-20 18:22] garrytrinder commented on #2637
Unfortunately it would appear that this is expected behaviour of ‘msal-node‘ in regards to ADFS authentication.

See https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/3991#issuecomment-902811368

I will create an issue to add a remark to our docs.

[2021-08-21 06:28] garrytrinder opened #2646 "[Docs] Add remark for ADFS support"
Raised from #2637

Previously we used the `adal-node` library for handling different authentication scenarios, since we moved to use `msal-node` this has impacted users who had previously used classic ADFS authentication flows with no issue.

`msal-node` only supports ADFS 2019, see AzureAD/microsoft-authentication-library-for-js#3991 (comment) and we should reflect this in our documentation.

[2021-08-21 06:30] garrytrinder commented on #2637
We will add a remark to our docs regarding ADFS support under #2646, as this is expected behaviour, I will close this issue.

[2021-08-21 06:30] #2637 closed

[2021-08-21 07:01] garrytrinder commented on #2635
Thank you for the feedback @waldekmastykarz

@dips365 I have updated the spec following feedback.

[2021-08-21 09:24] #2209 closed

[2021-08-21 09:24] #2644 closed

[2021-08-24 04:52] garrytrinder commented on #2508
Looks like this has been completed and merged under PR #2608

The PR title is incorrect which has caused some confusion, but the work has been done, therefore I will close this issue.

[2021-08-24 04:52] #2508 closed

[2021-08-24 05:35] #2025 closed

[2021-08-25 09:32] nanddeepn commented on #1933
Hi @plamber, @waldekmastykarz
Can I work on this?

[2021-08-25 12:01] waldekmastykarz commented on #1933
Of course! I appreciate your help 👏

[2021-08-26 01:58] jjtowles opened #2649 "Reliance on Site Read Write All for File Add"
I noticed that to use File Add that it MUST run this GET command first: https://graph.microsoft.com/v1.0/sites/contoso.sharepoint.com:/?$select=id

That would mean that you must grant Sites.Read.All, Sites.ReadWrite.All presumably (https://docs.microsoft.com/en-us/graph/api/site-get?view=graph-rest-1.0&tabs=http)

The use case involves using the Sites.Selected permission, which would make having t

[2021-08-26 19:48] pschaeflein opened #2651 "Command update: spo sitedesign set -- include thumbnailUri"
### Usage

The `spo sitedesign set` command updates properties of the SharePoint SiteDesign object. The command covers all of the [documented properties ](https://docs.microsoft.com/en-us/sharepoint/dev/declarative-customization/site-design-rest-api#updatesitedesign).

The ThumbnailUrl property of the SiteDesign is not included in the command's options. It is not documented on the referenced page.

[2021-08-27 01:47] plamber opened #2652 "Copy list items between SharePoint lists"
|Docs||
|-----|----|
|Author| Ruud |
|Original Post| https://lazyadmin.nl/it/copy-sharepoint-list-items-to-another-list-with-powershell-and-pnp/ |
|Description| Show how to copy SharePoint list items to another list. |
|Keywords| Migration |

[2021-08-27 10:39] arjunumenon opened #2653 "Enhancement: Update `spo group user add` to make execution as faulty for invalid values of `--userName` Option"
Extend the action for the command `spo group user add`  with additional validation and wait in performing the operation until all the values in `--userName` is valid. If some of the values are invalid, operation should be exited with proper message

### More Details

The command `spo group user add` has the option `--userName`  which supports multiple values in comma separated way.

Currently, eve

[2021-08-27 10:53] arjunumenon opened #2654 "Enhancement: Update `aad o365group add` to make execution as faulty for invalid values of `--owners` and `--members` Option"
Extend the action for the command `aad o365group add`  with additional validation and wait in performing the operation until all the values in `--owners` and `--members` are valid. If some of the values are invalid, operation should be exited with proper message

### More Details

The command `aad o365group add` has the option `--owners` and `--members`  which supports multiple values in comma sep

[2021-08-27 11:18] jjtowles opened #2655 "Need SiteId to be added to a Parameter for Add File"
With the addition of sites.selected permissions, its vital to be able to use app integrations that don't have full access to SharePoint Online.

This creates an issue because the issue query of the SiteId requires more permissions that a company would be comfortable providing. As an example this error comes up if you are granting least privilege:

"url": "https://graph.microsoft.com/v1.0/sites/con

[2021-08-28 14:44] waldekmastykarz commented on #2506
@ktskumar are you still working on this? We want to release v4 including this change at the end of September and would like to give everyone enough time to try the new version before releasing it. Preferably, we'd like to merge it in the coming days.

[2021-08-28 15:51] ktskumar commented on #2506
I have completed the code. will send the pull request in a day.

[2021-08-29 09:39] nanddeepn commented on #2651
Hi @waldekmastykarz
Can I work on this?

[2021-08-29 09:50] garrytrinder commented on #2651
All yours @nanddeepn

Thank you for the help 👍🏻

[2021-08-30 19:04] garrytrinder opened #2659 "[Documentation] CLI for Microsoft 365 v4 Upgrade Guidance"
Following the release of v4 we should also provide upgrade guidance in our documentation, similar to how we did this previously with the release of v3, so that we can make it as easy as possible to move to the latest version.

v3: https://pnp.github.io/cli-microsoft365/v3-upgrade-guidance/

[2021-08-31 03:59] plamber opened #2660 "New sample script: Download attachments from a SharePoint Online list"
|Docs||
|-----|----|
|Author| Ruud |
|Original Post| https://www.sharepointdiary.com/2017/01/sharepoint-online-download-attachments-from-list-using-powershell.html |
|Description| Download attachments from a SharePoint Online list. |
|Keywords| Migration |

[2021-08-31 04:35] plamber opened #2661 "New sample script: Get the attachments names in SharePoint lists"
|Docs||
|-----|----|
|Author| Veronique Lengelle |
|Original Post| https://veronicageek.com/microsoft-365/sharepoint-online/get-the-attachments-names-in-sharepoint-lists-using-powershell-pnp/2020/04/ |
|Description| Get the attachments names in SharePoint lists using PowerShell PnP. |
|Keywords| Migration |

[2021-08-31 21:28] kevmcdonk opened #2662 "New command: Add External Connection"
### Usage

This command will allow users to add a [new External Connection](https://docs.microsoft.com/en-us/graph/api/externalconnectors-external-post-connections?view=graph-rest-1.0&tabs=http) based on the Microsoft Graph.

`search externalconnection add [options]`

### Description

This command will allow the administrator to create a new external connection for use in Microsoft Search and soon

[2021-08-31 21:33] kevmcdonk commented on #2662
Forgot to say that I'm happy to work on this myself!

[2021-09-01 06:17] waldekmastykarz commented on #2662
Awesome suggestion and a great spec, thank you @kevmcdonk.

Before you proceed, let's check a few things:
- is the ID required? Does it need to follow a specific format or can it be any arbitrary string?
- in the spec, the string between brackets, should match the long option name, eg `-a, --authorizedAppIds [authorizedAppIds]`
- let's spell `authorized` with a `z` to follow en-US spelling that we

[2021-09-02 05:42] garrytrinder opened #2663 "[Documentation]: Out of date asciicinema video on `Installing the CLI` page"
The asciicinema video on the page displays the installation of `@pnp/office365-cli`.

<img width="721" alt="image" src="https://user-images.githubusercontent.com/11563347/131788196-2de6dfbc-c9cb-4eb9-b1d2-e9d704e8ebf7.png">

[2021-09-02 06:01] garrytrinder opened #2664 "[Codespaces]: Use of `terminal.integrated.shell.linux` is deprecated"
https://github.com/pnp/cli-microsoft365/blob/a832373b33f4fcdfa3f76001493204c27879369c/.devcontainer/devcontainer.json#L4-L6

<img width="907" alt="image" src="https://user-images.githubusercontent.com/11563347/131790324-5cd1bbaf-70a4-47c9-aa08-7a9376e8542a.png">

[2021-09-02 06:22] garrytrinder opened #2665 "[Codespaces]: Update maintainers list"
The maintainers list is out of date, we should update it to reflect that @mpowney is no longer a maintainer and include @arjunumenon.

https://github.com/pnp/cli-microsoft365/blob/bdd82711f6a0a41cd56e1cd40fa1fe59611e4dbf/.devcontainer/Dockerfile#L3-L12

[2021-09-02 07:53] waldekmastykarz commented on #2663
Ouch, we missed that one 🙁

[2021-09-02 09:55] MarksPoint opened #2667 "Bug report: "m365 spo page control list" lists wrong control id's"
### Description

I used `m365 spo page control list` to get a list of controls (web parts) on my modern page.
The result was a set of 2 controls.
I then used `m365 spo page control get` to get more details of one of these controls, using the ID from the result of first command.
I then got an error that the control with specified ID can't be found

### Steps to reproduce

Use above two commands on

[2021-09-02 10:05] garrytrinder commented on #2667
Thank you for raising this with us @MarksPoint we apologise for the trouble and appreciate you taking the time to also perform root cause analysis ❤

[2021-09-02 11:47] #2639 closed

[2021-09-02 11:47] #2640 closed

[2021-09-03 05:37] garrytrinder opened #2669 "[Enhancement]: Extend `aad o365group teamify` with support for using `mailNickname` identifier"
Currently the `aad o365group teamify` command only supports the use of the `groupId` as an identifier.

As `mailNickname` is a unique property we should consider adding a new option `--mailNickname` as more user friendly alternative to providing the ID of the group.

[2021-09-03 05:47] #2504 closed

[2021-09-03 06:16] garrytrinder commented on #2667
So we have a standardised test case to work from, I have created a modern page using the standard visual template.

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/11563347/131958785-9c05897d-00b5-4f18-aa19-0612ad3530fb.png">

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/11563347/131958954-f860e705-c43f-49ff-a311-f539a88b33de.png">

The

[2021-09-03 06:20] MarksPoint commented on #2667
That’s right because you’re seeing web part id’s instead of
control/instance id’s. This is caused by the code I included earlier.

Mark

On Fri, 3 Sep 2021 at 08:16, Garry Trinder ***@***.***> wrote:

--
Sent from Gmail Mobile

[2021-09-03 06:32] garrytrinder opened #2670 "[Microsoft Graph v1.0]: `teams channel list`"
The `resourceProvisioningOptions` filter is not supported in the v1.0 endpoint, but the `displayName` filter is, therefore we should implement the `v1.0` endpoint in the request, keeping the `displayName` filter but removing the `resourceProvisioningOptions` filter, then filter the request response using JavaScript to remove any groups that are not Teams.

https://github.com/pnp/cli-microsoft365/b

[2021-09-03 06:35] garrytrinder opened #2671 "[Microsoft Graph v1.0]: `teams conversationmember add`"
The `resourceProvisioningOptions` filter is not supported in the v1.0 endpoint, but the `displayName` filter is, therefore we should implement the `v1.0` endpoint in the request, keeping the `displayName` filter but removing the `resourceProvisioningOptions` filter, then filter the request response using JavaScript to remove any groups that are not Teams.

https://github.com/pnp/cli-microsoft365/b

[2021-09-03 06:37] garrytrinder opened #2672 "[Microsoft Graph v1.0]: `teams conversationmember list`"
The `resourceProvisioningOptions` filter is not supported in the v1.0 endpoint, but the `displayName` filter is, therefore we should implement the `v1.0` endpoint in the request, keeping the `displayName` filter but removing the `resourceProvisioningOptions` filter, then filter the request response using JavaScript to remove any groups that are not Teams.

https://github.com/pnp/cli-microsoft365/b

[2021-09-03 07:04] nanddeepn commented on #2670
Hi @garrytrinder
Can I work on this?

[2021-09-03 07:06] SmitaNachan commented on #2672
Hi @garrytrinder, Can I work on this?

[2021-09-03 07:11] garrytrinder commented on #2670
Absolutely, thank you @nanddeepn its all yours 👍🏻

[2021-09-03 07:13] garrytrinder commented on #2672
Absolutely, thank you @SmitaNachan its all yours 👍🏻

[2021-09-03 09:10] waldekmastykarz commented on #2669
Great suggestion! 👏

[2021-09-03 19:52] garrytrinder opened #2674 "[Microsoft Graph v1.0]: `aad siteclassification disable`"
The `aad siteclassification disable` command currently uses the `beta/settings` endpoint in its implementation, this should be updated to use the `v1.0/groupSettings` endpoint.

https://github.com/pnp/cli-microsoft365/blob/1bae1ad9a62301470fee8ae38410df4c289205eb/src/m365/aad/commands/siteclassification/siteclassification-disable.ts#L37-L43

beta docs: https://docs.microsoft.com/en-us/graph/api/di

[2021-09-04 05:33] garrytrinder opened #2675 "[Microsoft Graph v1.0]: `aad siteclassifation enable`"
The `aad siteclassification enable` command currently uses the `beta/settings` and `beta/directorySettingTemplates` endpoints in its implementation, this should be updated to use the `v1.0/groupSettings` and `beta/groupSettingTemplate endpoints.

https://github.com/pnp/cli-microsoft365/blob/1bae1ad9a62301470fee8ae38410df4c289205eb/src/m365/aad/commands/siteclassification/siteclassification-enable.

[2021-09-04 05:36] garrytrinder opened #2676 "[Microsoft Graph v1.0]: `aad siteclassification get`"
The `aad siteclassification get` command currently uses the `beta/settings` endpoint in its implementation, this should be updated to use the `v1.0/groupSettings` endpoint.

https://github.com/pnp/cli-microsoft365/blob/1bae1ad9a62301470fee8ae38410df4c289205eb/src/m365/aad/commands/siteclassification/siteclassification-get.ts#L26-L32

beta docs: https://docs.microsoft.com/en-us/graph/api/directorys

[2021-09-04 05:45] garrytrinder opened #2677 "[Microsoft Graph v1.0]: `aad siteclassification set`"
The `aad siteclassification set` command currently uses the `beta/settings` endpoint in its implementation, this should be updated to use the `v1.0/groupSettings` endpoint.

https://github.com/pnp/cli-microsoft365/blob/1bae1ad9a62301470fee8ae38410df4c289205eb/src/m365/aad/commands/siteclassification/siteclassification-set.ts#L42-L48

beta docs: https://docs.microsoft.com/en-us/graph/api/directorys

[2021-09-04 05:57] garrytrinder opened #2678 "[Microsoft Graph v1.0]: `teams message get`"
The `teams message get` command currently uses the `beta/teams` endpoint in its implementation, this should be updated to use the `v1.0/teams` endpoint.

https://github.com/pnp/cli-microsoft365/blob/1bae1ad9a62301470fee8ae38410df4c289205eb/src/m365/teams/commands/message/message-get.ts#L31-L37

beta docs: https://docs.microsoft.com/en-us/graph/api/chatmessage-get?view=graph-rest-beta&tabs=http
v1.

[2021-09-04 06:01] garrytrinder opened #2679 "[Microsoft Graph v1.0]: `teams report pstncalls`"
The `teams report pstncalls` command currently uses the `beta/communications` endpoint in its implementation, this should be updated to use the `v1.0/communications` endpoint.

https://github.com/pnp/cli-microsoft365/blob/1bae1ad9a62301470fee8ae38410df4c289205eb/src/m365/teams/commands/report/report-pstn.ts#L41-L47

beta docs: https://docs.microsoft.com/en-us/graph/api/callrecords-callrecord-getps

[2021-09-04 06:04] garrytrinder opened #2680 "[Microsoft Graph v1.0]: `teams report directroutingcalls`"
The `teams report directroutingcalls ` command currently uses the `beta/communications` endpoint in its implementation, this should be updated to use the `v1.0/communications` endpoint.

https://github.com/pnp/cli-microsoft365/blob/1bae1ad9a62301470fee8ae38410df4c289205eb/src/m365/teams/commands/report/report-directroutingcalls.ts#L42-L48

beta docs: https://docs.microsoft.com/en-us/graph/api/call

[2021-09-04 06:26] SaNsK11 commented on #2680
@garrytrinder I'd like to contribute. Could you provide some insights?

[2021-09-04 06:29] garrytrinder commented on #2680
Hey @SaNsK11 👋 please checkout our contribution guides in the [Wiki](https://github.com/pnp/cli-microsoft365/wiki)

[2021-09-04 06:39] Atharva321 commented on #2677
Hii, I am interested to work on this issue.

[2021-09-04 06:43] Atharva321 commented on #2677
will only changing endpoint  on line no. 43 and 132 fix the issue?

[2021-09-05 10:46] nanddeepn commented on #2676
Hi @garrytrinder,
Can I work on this?

[2021-09-05 14:15] SmitaNachan commented on #2671
Hi @garrytrinder
Can I work on this?

[2021-09-06 00:21] sudharsank commented on #2678
Hi @garrytrinder
Shall I take this issue?

Can we club multiple issues into a pull request or pull request per issue?

[2021-09-06 05:38] garrytrinder commented on #2677
Thank you for your help @Atharva321 👍

We should also remove the attention remark in the corresponding documentation page and update the requests in the corresponding tests to reflect the change from using the beta endpoint to the v1.0 endpoint.

[2021-09-06 06:06] garrytrinder commented on #2155
As #2146 has now been implemented we have the ability to set specific configurations using the `cli config set` command.

[2021-09-06 06:14] garrytrinder commented on #2490
Just confirming that this is still an issue and it wasn't caused by changes on the GitHub side.

I'll look into both the template and upgrade options.

I think it would be a good idea however to to investigate the impact of upgrading the version of MKDocs Material used for our docs, as we currently use `3.1.0` and the latest is `7.2.6`, we can then include this in our monthly check of updating dep

[2021-09-06 06:17] garrytrinder commented on #2678
Hey @sudharsank thank you for reaching out but looks like @SaNsK11 has already raised a potential PR fix for this.

I would prefer from a change perspective to have 1 PR to 1 Issue this make it easier to track the changes in the release notes and commit log.

[2021-09-06 06:18] garrytrinder commented on #2671
All yours @SmitaNachan thank you for the help

[2021-09-06 06:19] garrytrinder commented on #2676
All yours @nanddeepn thank you for your help

[2021-09-06 06:23] SaNsK11 commented on #2678
@sudharsank @garrytrinder I'm working on the suggested changes in my PR.

[2021-09-06 07:22] waldekmastykarz commented on #2490
I had a look at it a while back. One of the biggest changes are tabs and we'd need to rework all of them. I've started the work (#2498) but put in on-hold to focus on more urgent tasks needed for current releases.

[2021-09-06 17:37] veronicageek opened #2687 "Bug report: ConvertFrom-Json: Cannot convert the JSON string because it contains keys with different casing"
### Description
Trying to list the items of a SPO list (working) but `-o json | ConvertFrom-JSON` returns an error.

### Steps to reproduce

[code]

### Expected result
Convert from JSON so I can use the output

### Actual result

![image](https://user-images.githubusercontent.com/25181757/132249253-e7c8ad61-3dbe-410d-97ab-e3bc0434ceee.png)

### Environment

MacOS Big Sur 11.5.2
Shell: PowerShell

[2021-09-06 17:54] appieschot commented on #2687
Thanks for pointing us to this issue, is one of the ID fields coming from the list, or are both internal fields that you know by any change?

[2021-09-06 19:31] veronicageek commented on #2687
So both `Id` and `ID` seem to be the ones from the list

![image](https://user-images.githubusercontent.com/25181757/132255799-fadc4044-b905-4fbe-81f3-3e3d0401855a.png)

![image](https://user-images.githubusercontent.com/25181757/132255912-b411a1d2-3920-4baf-a40d-e01fd258e4bf.png)

[2021-09-06 19:38] veronicageek opened #2688 "New sample script: Get all the Teams a specific user is part of"
|Docs||
|-----|----|
|Author| Veronique Lengelle (@veronicageek) |
|Original Post| https://veronicageek.com/powershell/powershell-for-m365/get-all-teams-a-user-is-part-of-using-powershell-pnp/2020/10/ |
|Description| Get all the Teams a specific user is part of |
|Keywords| `Microsoft Teams` |

[2021-09-06 19:39] veronicageek commented on #2688
Happy to be assigned to it. Can submit a PR tomorrow.

[2021-09-06 21:25] garrytrinder commented on #2687
Good news is that this has been fixed under https://github.com/pnp/cli-microsoft365/issues/2024 in the latest beta release and will be released in the next stable release at the end of this month.

@veronicageek this should be resolved in the latest beta, you can install it using `npm i @pnp/cli-microsoft365@next`, or you can use the `-AsHashtable` switch on the `ConvertFrom-Json` cmdlet as a work

[2021-09-06 21:27] Abderahman88 commented on #2675
@garrytrinder Can I take this one ✋

[2021-09-06 21:27] Abderahman88 commented on #2674
@garrytrinder Volunteer ✋

[2021-09-06 21:55] veronicageek commented on #2687
Thank you! Will close the issue then 🙂

[2021-09-06 21:55] #2687 closed

[2021-09-06 21:55] garrytrinder commented on #2688
Awesome! Thank you @veronicageek ❤

[2021-09-06 21:58] garrytrinder commented on #2674
All yours @Abderahman88 thank you for your help 👍

[2021-09-06 21:58] garrytrinder commented on #2675
All yours @Abderahman88 thank you for your help 👍

[2021-09-07 05:43] garrytrinder commented on #2667
Thanks @MarksPoint, as you have already looked into this, would you like to take this on and submit a PR to fix the issue?

[2021-09-07 06:11] garrytrinder commented on #2490
Looks like this https://github.com/squidfunk/mkdocs-material/issues/922 is relevant to this issue and looks like we may need to add something custom to fix this specific table overflow problem, unless we can think of an alternative way of representing the information on the page.

[2021-09-07 06:48] garrytrinder commented on #2679
@ben-clist thank you for your contribution

Could you reply to this message so I can assign this issue to you, this way we can avoid other contributors attempting to work on this and duplicate effort, thank you.

[2021-09-07 07:29] plamber commented on #2558
Hi @ktskumar,
sorry to bother you again. Do you have some updates regarding this topic?

Do not worry if you are not able to work on this. If it is the case we can open the issue for other contributors.

Thank you for your feedback,
Patrick

[2021-09-07 07:34] #2575 closed

[2021-09-07 07:34] #2665 closed

[2021-09-07 14:05] veronicageek commented on #2661
I was gonna have a go at this one, but can't find a way to surface the "AttachmentFiles" property. I can only see the "Attachments" property (true or false). Using the "propertybag" didn't give anything either.

[2021-09-07 14:09] plamber commented on #2661
@waldekmastykarz: do you have any suggestions how to retrieve the attachments?

[2021-09-07 19:14] lsavard opened #2692 "m365 spo site classic list not returning all sites ?"
Hi !

Been trying to get list of all sites. Running the command
`m365 spo site classic list --includeOneDriveSites`
returns about 1300 sites only.

There are many more sites than that in our tenant. Running the command
`get-sposite -IncludePersonalSite $true -Limit all`
returns more that 23000 sites.

Note that the command m365 onedrive list seems to be affected exactly in the same manner. In fact

[2021-09-08 06:15] waldekmastykarz commented on #2692
Thanks for reporting the issue and sorry for the trouble. We'll investigate it asap

[2021-09-08 06:25] waldekmastykarz commented on #2661
Right now it seems we can't, because of an inconsistency in the SharePoint API. `AttachmentFiles`, along with a few other properties, is a navigation property, rather than a regular property. So rather than retrieving is using a `select`, like we do now, we'd need to execute a separate query to `/_api/web/lists/getByTitle('test')/items(1)/AttachmentFiles`. This would require extending the `spo lis

[2021-09-08 06:41] plamber commented on #2661
Do you have any suggestions how we should extend the spo listitem get to include this property?

I assume that we might need to implement add, update, delete operations for attachment items too?

[2021-09-08 07:40] MarksPoint commented on #2667
Sure! I'll give it a try later today or perhaps tomorrow.

[2021-09-08 08:25] waldekmastykarz commented on #2661
I'd suggest that we keep the current set of options for the users so that they don't need to bother with knowing that there is a special way to retrieve attachments and other pieces of information. In the command's code, we'd add logic that checks which properties have been selected and if any of the selected properties is a navigation property, we execute an extra call to retrieve the information

[2021-09-08 08:28] plamber commented on #2661
Then I would say that we implement only these commands and do not extend the spo listitem get command. It feels to me more consistent

[2021-09-08 20:47] veronicageek opened #2695 "New command: `spo field list`"
### Usage

`m365 spo field list`

### Description

Lists fields for a given list or site

### Options

Option | Description
-- | --
`-u, --webUrl <webUrl>` | Absolute URL of the site where the fields are located
`-l, --listTitle [listTitle]` | Title of the list where the fields are located. Specify only one of listTitle, listId or listUrl
`--listId [listId]` | ID of the list where the fields are l

[2021-09-09 09:03] waldekmastykarz opened #2696 "Align command's options with our naming convention"
We should review all commands and ensure that all options match our naming convention:
- if the option doesn't have a prefix (eg. `id`, `title`), it refers to the last noun in the command name, eg. `spo listitem get` > last noun = `listitem` so `id` and `title` refer to `listitem`
- if the option needs to point to a property of a different object, it needs to be prefixed to make this clear, eg. `l

[2021-09-09 09:28] waldekmastykarz opened #2697 "Enhancement: Add support for upgrading SPFx projects to v1.13.0-beta.20"
Add support for upgrading SPFx projects to v1.13.0-beta.20

[2021-09-09 11:17] waldekmastykarz commented on #2696
In some commands we use `filePath` and `userName` as options. While we could shorten them to `path` and `name` I wonder if in these cases we should treat the options as a single word. What do you think @pnp/cli-for-microsoft-365-maintainers?

[2021-09-09 11:56] mikeparkie opened #2698 "Bug report: M365 login from behind corp proxy = Error: could not resolve endpoints"
### Description

I'm attempting to setup and configure M365 CLI on some of our servers which are behind a proxy and I'm running into issues with the setup, probably something I'm missing but I'm not overly familiar with node/npm etc.

### Steps to reproduce

Firstly I installed nodejs
Then ran
`npm config set proxy http://proxyname:port
npm config set https-proxy http://proxyname:port
`
and then `

[2021-09-10 05:55] garrytrinder commented on #2695
Thank you for raising this @veronicageek definitely a gap in our commands that we need to fill.

As fields can be present at both the list and site level, I don't think we should limit this command to just returning site fields only, this also makes its behaviour consistent with `spo field get` that you have mentioned.

I have updated the `Options` table to make it explicit which options can be re

[2021-09-10 06:01] garrytrinder commented on #2696
`name` is too generic, so I think we should stick with `userName` and I'm happy with sticking with `filePath` I don't think we would gain any value from changing that.

[2021-09-10 06:20] garrytrinder commented on #2698
Thanks for raising this @mikeparkie apologies for the trouble, we will need to delve into some more detail to understand the issue more.

As the `npm install` has been successful, I don't think that the npm configuration is the issue here and that my initial thoughts are that this related is possibly related to the `msal-node` package which we use for authentication.

Could you execute `m365 login

[2021-09-10 06:43] veronicageek commented on #2695
Yep @garrytrinder. Makes sense 👍🏻 If at the same time, we can think about surfacing the maximum of properties available (at least the "Required" one for that scenario) then that'll be great.

[2021-09-10 08:39] mikeparkie commented on #2698
Hey @garrytrinder thanks for the response and no problem at all, probably me anyway 😊 but thanks for the assist in helping me understand.

Here's the debug

`PS C:\Users\USERNAME> m365 login --debug
Executing command login with options {"options":{"debug":true}}
Logging out from Microsoft 365...
Signing in to Microsoft 365...
No token found for resource https://graph.microsoft.com
[Fri, 10 Sep 202

[2021-09-10 11:57] waldekmastykarz commented on #2695
@garrytrinder good addition. No other remarks from my end

[2021-09-10 12:17] #2697 closed

[2021-09-10 12:18] waldekmastykarz commented on #2506
Hey @ktskumar, are you still working on this? We'd like to include the change in the upcoming release and it's important we give folks sufficient time to test it.

[2021-09-10 17:06] waldekmastykarz commented on #2692
I can indeed reproduce the issue and I'm getting an incomplete list of sites from the `site list` and `site classic list` commands. Let me investigate what's wrong. Once again, thank you for bringing it to our attention and I hope we'll have a working solution soon.

[2021-09-10 20:28] pschaeflein opened #2700 "Bug report: spo theme list writes blank lines"
### Description

`m365 spo theme list` writes blank lines instead of theme information

Including the `-o json` parameter displays the theme information

### Steps to reproduce

Ensure tenant has a custom theme

Run the command `m365 spo theme list`

### Expected results

A list of installed themes

### Actual results

![image](https://user-images.githubusercontent.com/8008013/132913584-96e9c30b-3

[2021-09-11 05:01] garrytrinder commented on #2700
I have be able to repro on my side. Thanks for reporting @pschaeflein apologies for the trouble.

[2021-09-11 05:53] garrytrinder commented on #2700
Your guess was correct, I've raised a PR to update the `defaultProperties` array which fixes this issue.

[2021-09-11 06:15] garrytrinder commented on #1933
I've updated the spec to reflect this change.

[2021-09-12 10:08] garrytrinder commented on #2698
This is unexpected as we use the standard multi-tenant authority to authorise your sign in against, `https://login.microsoftonline.com/common`.

Are you able to use other libraries that would use a similar approach to us? Azure CLI would be a good test.

You shouldn't need to do anything in Azure, however I am curious to know if you have any security policies related to third party Azure AD apps a

[2021-09-12 12:05] #2692 closed

[2021-09-12 12:05] #2700 closed

[2021-09-12 12:07] waldekmastykarz commented on #2700
We've fixed this issue in the latest preview version of CLI v4. You can test it by running `npm i -g @pnp/cli-microsoft365@next`. Once again, thank you for reporting the issue 👏

[2021-09-12 12:08] waldekmastykarz commented on #2692
We've fixed this issue in the latest preview version of CLI v4. You can try it, by running `npm i -g @pnp/cli-microsoft365@next`. Once again, thank you for reporting the issue 👏

[2021-09-12 12:15] waldekmastykarz commented on #2506
Resetting as available for picking up due to lack of response

[2021-09-12 12:16] waldekmastykarz commented on #2558
Resetting as available for picking up due to lack of response

[2021-09-12 12:16] waldekmastykarz commented on #1987
Resetting as available for picking up due to lack of response

[2021-09-12 12:18] waldekmastykarz commented on #1690
Hey @dips365, are you still working on this?

[2021-09-12 12:21] waldekmastykarz commented on #2698
Bear in mind that Azure CLI is built in Python and it could have a different support for handling proxies. So far, it seems like the issue is with msal-node and that's the first place that we should investigate to see if there are any known issues before we continue.

[2021-09-13 06:16] garrytrinder commented on #2698
Good shout 👍

[2021-09-13 11:16] mikeparkie commented on #2698
Typically I'm more of an M365 guy than Azure, so I'll be blocked at some point from a roll point of view. But let's see how far I get 😄

Installed the Azure CLI from the MSI from [here](https://docs.microsoft.com/en-gb/cli/azure/install-azure-cli-windows?tabs=azure-cli), ran `az login --debug`

Full output is:

[2021-09-13 12:17] lsavard commented on #2692
That's great ! Thanks for the fix. I tested with "m365 onedrive list" and it returns the complete list as expected. Note that it returns in json format by default, not sure that was the case before!

[2021-09-13 12:37] waldekmastykarz commented on #2698
Thank you for sharing @mikeparkie. Have you tried to follow the steps outlined at https://docs.microsoft.com/cli/azure/use-cli-effectively#work-behind-a-proxy which is mentioned in the error message?

[2021-09-13 12:38] waldekmastykarz commented on #2692
Thank you for confirming all is working as intended! In v4 we've changed the default output mode to JSON, but if you prefer to use the text output by default, you can configure it using the `cli config set` command. More info: https://pnp.github.io/cli-microsoft365/cmd/cli/config/config-set/

[2021-09-13 12:58] lsavard opened #2704 "Bug report: m365 spo file list -u $siteUrl -f Documents generating errors"
### Description

Trying to retreive list of files in onedrives. The command
`m365 spo file list -u $siteUrl -f Documents`
fails with a few different error message on many of them.

The powershell equivalent
`Get-PnPFolderItem -ItemType File -Recursive -FolderSiteRelativeUrl "Documents"`
does not give errors

### Steps to reproduce

execute the command
`m365 spo file list -u $siteUrl -f Documents`

[2021-09-13 13:40] waldekmastykarz commented on #2704
Thank you for reporting the issue and sorry for the trouble. Having that debug output would be very helpful. I noticed one file name with a single quote. That's something that we can look into already. Having more details about the other two case would help us further.

[2021-09-13 13:54] nanddeepn commented on #2669
Hi @garrytrinder, @waldekmastykarz
Also, can we make use of `v1.0` endpoint as mentioned [here](https://docs.microsoft.com/en-us/graph/api/team-post?view=graph-rest-1.0&tabs=http)?

Can I work on this?

[2021-09-13 14:11] mikeparkie commented on #2698
Thanks... I clearly have `SSLError(SSLError(1, '[SSL: WRONG_VERSION_NUMBER]` in the logs.

I doubly made sure the proxy authentication was set, so ran:

`set HTTP_PROXY=http://proxyserver:port`
`set HTTPS_PROXY=https://proxyserver:port`

and then added the env variable as per the article. Assuming I've not completely mis-understood the instruction:

`Append the proxy server's certificate to this f

[2021-09-13 14:43] lsavard commented on #2704
Here is the debug output for the "list view treshold" error. I'm still investigating for the "File not found" error, will add information as soon as I can. Thanks !
[error list view treshold.txt](https://github.com/pnp/cli-microsoft365/files/7155096/error.list.view.treshold.txt)

[2021-09-13 17:17] lsavard commented on #2704
Hi again !
Here is the (partial) debug output for the "file not found" error. I omitted some info at the beginning as it was really long. Let me know if you need the full output I'll see if I can get it.
Note that this error only happens when I use the "--output json" parameter. If I omit it, the command runs successfully (or stops with another error such as the single quote). This is fine now tha

[2021-09-14 06:31] waldekmastykarz commented on #2704
Thank you! We'll go through all the info you've provided us asap and hopefully we'll be able to fix these issues.

[2021-09-14 06:32] waldekmastykarz commented on #2698
Have you restarted the terminal after applying the changes?

[2021-09-14 06:32] waldekmastykarz commented on #2669
Please do! I appreciate your help 👏

[2021-09-14 07:35] #2667 closed

[2021-09-14 07:35] #2651 closed

[2021-09-14 07:35] #2688 closed

[2021-09-14 08:19] mikeparkie commented on #2698
@waldekmastykarz indeed I have sir. Rebooted it again just in case 😎

[2021-09-14 11:37] mikeparkie commented on #2698
I've also taken a copy of our proxy certificate (converted it to .pem) and stored it in the `C:\Program Files (x86)\Microsoft SDKs\Azure\CLI2\Lib\site-packages\certifi` and reflected that in the env variables. Rebooted and still get the same error.

[2021-09-14 12:48] Atharva321 commented on #2677
Hii, Done the PR . Plz any other changes need to be done or its fine?

[2021-09-14 12:52] lsavard commented on #2704
Thanks ! No hurry about this on my side as I've aklready got the solution running with PnP PowerShell (inspecting all onedrives) but I must admit I'd like it to run with CLI. I think it would run much faster :)

[2021-09-15 08:59] waldekmastykarz commented on #2698
Thanks for doing the extra checks @mikeparkie. Unfortunately, I don't have any other suggestions at this moment.

@wictorwilen, does anything else come to your mind based on your past experience with proxies?

[2021-09-15 09:00] waldekmastykarz commented on #2677
Thank you! We'll review the PR shortly

[2021-09-15 09:28] michaelmaillot opened #2706 "Bug report: Unable to remove a orphaned groupified site"
### Description

When running the `spo site remove` command with a site collection (which Microsoft 365 Group has been deleted) as a parameter, the CLI returns a 404 error.

### Steps to reproduce

1. Create or locate a groupified site collection
2. Remove the Microsoft 365 Group linked to it (with the `aad o365group remove --skipRecycleBin` command for example)
3. Run the `spo site remove` comman

[2021-09-15 09:32] #2591 closed

[2021-09-15 09:32] #2670 closed

[2021-09-15 09:43] michaelmaillot opened #2707 "[Question] `spo site classic remove` documentation link still here"
I saw that there was a consolidation of `spo site remove` and `spo site classic remove`, but the classic one is still available in the command list's documentation.

Even if there's a redirection to `spo site remove`, is it still relevant to keep the command visible as we're on the 3.x version now?

[2021-09-15 12:29] wictorwilen commented on #2698
According to the error message my guess is that there's an issue with the TLS version.

For instance login.microsoftonline.com requires TLS 1.2 or greater. Can be tested with

`curl https://login.microsoftonline.com --verbose  --tlsv1.1 --tls-max 1.1`

That fails, and the following succeeds:

`curl https://login.microsoftonline.com --verbose  --tlsv1.2 --tls-max 1.2`

@mikeparkie - Can you run the

[2021-09-15 12:32] wictorwilen commented on #2698
Also @mikeparkie - I read that some folks *worked around* this by specifying the http address in the `HTTPS_PROXY` environment variable. As in:

`set HTTPS_PROXY=http://proxyserver:port`

[2021-09-16 05:45] waldekmastykarz commented on #2707
Good point! The command is gone and there is no alias, so there is no reason for us to keep the doc.

[2021-09-16 05:47] waldekmastykarz commented on #2706
Thanks for reporting the issue @michaelmaillot. I wonder if this is something that we could fix in the CLI or if it's a limitation of the API that we need to accept.

[2021-09-16 06:32] #2671 closed

[2021-09-16 06:32] #2672 closed

[2021-09-16 06:32] #2674 closed

[2021-09-16 07:11] michaelmaillot commented on #2707
Can you assign it to me? 🤗

[2021-09-16 08:10] michaelmaillot commented on #2706
I had a look at the code and read the enhancement #1561 about it. Actually the command detects if the site is groupified or not and if it is, it only run the DELETE Group Graph API operation, letting Microsoft 365 handling the deletion process (with the 30 days retention and all the stuff).

I would suggest to check if the linked Group is still in the deleted Groups list:

- If it does, notify the

[2021-09-16 11:18] anthonywhite commented on #2698
I am having the same issue as @mikeparkie, latest CLI, begind corporate proxy. @wictorwilen my `http_proxy` and `https_proxy` environment variables are set and recognized fine by most tools in the node chain, so don't quite understand your comment - it's not a workaround?

[2021-09-16 11:30] wictorwilen commented on #2698
@anthonywhite - would you mind sharing the results of the TLS version check on your proxy, as mentioned above? We're collectively, and I don't have an environment such as yours to test on, trying to figure out what's going on with your environments. It's obvious to me that something is going on with the proxy configuration that does not work with the M365 CLI setup, and we're trying to pinpoint wh

[2021-09-16 12:32] anthonywhite commented on #2698
@wictorwilen actually both those commands seem to work for me without error. Here's the 1.1 output (the 1.2 output was very similar):

### CURL TEST

[code]
### M365 LOGIN
[code]

[2021-09-16 12:57] wictorwilen commented on #2698
@anthonywhite Thanks!

It seems like your proxy is accepting TLS 1.1, and Graph has deprecated support for that version, due to it being considered unsecure. I wonder if this could have something to do with it. Ref: https://docs.microsoft.com/en-us/microsoft-365/compliance/prepare-tls-1.2-in-office-365?view=o365-worldwide

If I, without a proxy, run that curl statement I get the message that a con

[2021-09-16 16:33] mikeparkie commented on #2698
Curl results. Hope that's what you were after @wictorwilen. I choose

[code]

[code]

[code]

[code]

I'm OOO now until 6th Oct, so my replies will be limited as I'll be away from my work machine. In the meantime I've asked a colleague to do some WireShark traces, see if that reveals anything.

[2021-09-17 09:11] anthonywhite commented on #2698
@wictorwilen without being a proxy expert myself, I am advised that our proxy just passes through most client requests "as is", without rejecting TLS < 1.2 - and actually we need older TLS for some legacy support.

The question I have is, even if TLS < 1.2 is enabled on the client O/S, is the M365 login toolchain trying to use old TLS? Why would it? Could there be another reason for the MSAL error

[2021-09-18 06:30] plamber commented on #2696
Agree with @garrytrinder. We should stick with this naming

[2021-09-20 17:38] dips365 commented on #1690
Will try to complete in this weekend

[2021-09-21 05:12] garrytrinder opened #2710 "[Azure AD Graph]: `aad oauth2grant list`"
The `aad oauth2grant list` command currently uses the Azure AD Graph endpoint in its implementation, therefore this should be updated to use the corresponding Microsoft Graph v1.0 endpoint instead.

https://docs.microsoft.com/en-us/graph/api/oauth2permissiongrant-list?view=graph-rest-1.0&tabs=http

[2021-09-21 05:17] garrytrinder opened #2711 "[Azure AD Graph]: `aad oauth2grant set`"
The `aad oauth2grant set` command currently uses the Azure AD Graph endpoint in its implementation, therefore this should be updated to use the corresponding Microsoft Graph v1.0 endpoint instead.

https://docs.microsoft.com/en-us/graph/api/oauth2permissiongrant-update?view=graph-rest-1.0&tabs=http

[2021-09-21 05:17] garrytrinder opened #2712 "[Azure AD Graph]: `aad oauth2grant add`"
The `aad oauth2grant add` command currently uses the Azure AD Graph endpoint in its implementation, therefore this should be updated to use the corresponding Microsoft Graph v1.0 endpoint instead.

https://docs.microsoft.com/en-us/graph/api/oauth2permissiongrant-post?view=graph-rest-1.0&tabs=http

[2021-09-21 05:18] garrytrinder opened #2713 "[Azure AD Graph]: `aad oauth2grant remove`"
The `aad oauth2grant remove` command currently uses the Azure AD Graph endpoint in its implementation, therefore this should be updated to use the corresponding Microsoft Graph v1.0 endpoint instead.

https://docs.microsoft.com/en-us/graph/api/oauth2permissiongrant-delete?view=graph-rest-1.0&tabs=http

[2021-09-21 05:41] nanddeepn commented on #2710
Hi @garrytrinder
Can I work on this?

[2021-09-21 05:45] SmitaNachan commented on #2713
Hi @garrytrinder
Can I work on this?

[2021-09-21 06:02] garrytrinder commented on #2713
All yours @SmitaNachan 👍

Thank you for your help ❤️

[2021-09-21 06:02] garrytrinder commented on #2710
All yours @nanddeepn 👍

Thank you for your help ❤️

[2021-09-21 07:27] waldekmastykarz commented on #2707
All yours! Appreciate your help 👍

[2021-09-21 07:35] michaelmaillot commented on #2663
I've also seen those `o365` / `Office 365 CLI` oldies mentioned on other **User Guide** sections:

* [Using the CLI](https://pnp.github.io/cli-microsoft365/user-guide/using-cli/) (videos)
* [Logging in to Microsoft 365](https://pnp.github.io/cli-microsoft365/user-guide/connecting-office-365/) (screenshots / video)
* [Using your own Azure AD identity](https://pnp.github.io/cli-microsoft365/user-gui

[2021-09-21 08:37] waldekmastykarz commented on #2663
Good catch @michaelmaillot. You're right, we should definitely fix all these broken windows asap.

[2021-09-21 14:21] waldekmastykarz commented on #2706
Good suggestion @michaelmaillot! @pnp/cli-for-microsoft-365-maintainers any other concerns before we proceed with implementation?

[2021-09-21 18:41] garrytrinder commented on #2706
Sounds like a good approach, great suggestion @michaelmaillot 👍🏻

[2021-09-21 23:11] michaelmaillot commented on #2706
If it's ok for everyone, would you mind if I give it a try?

[2021-09-22 12:23] michaelmaillot opened #2715 "[Documentation] Update MPA page to specify version of mkdocs-material"
The [local preview documentation](https://github.com/pnp/cli-microsoft365/wiki/Minimal-Path-to-Awesome#preview-docs-using-mkdocs-installed-on-your-machine) part of the MPA page doesn't say which version of `mkdocs-material` theme should be installed locally in order to test the site documentation.

The latest version of the theme is 7.2.8, but the actual documentation is based on version 4.x.

It

[2021-09-22 13:20] garrytrinder commented on #2706
Absolutely, thank you for your help @michaelmaillot its all yours! ❤️

[2021-09-23 11:16] nanddeepn commented on #2712
Hi @garrytrinder
Can I work on this?

[2021-09-23 11:17] SmitaNachan commented on #2711
Hi @garrytrinder
Can I work on this?

[2021-09-23 13:44] waldekmastykarz commented on #2715
We have an issue created to track the different aspects of the upgrade to the latest version of MkDocs: https://github.com/pnp/cli-microsoft365/issues/2498

[2021-09-24 12:54] waldekmastykarz commented on #2696
Across different commands, we also have an inconsistency with the short option name for URL:
- sometimes we use `-u` for `--url`, `--webUrl` or `--siteUrl`
- some commands use `-w` for `--webUrl`, where `-u` is used for `--url`
- some commands use `-s` for `--siteUrl`, where `-u` is used for `--url`

How could we rationalize the use of the `-u` short so that it makes sense across all commands?`

[2021-09-24 12:56] plamber commented on #2696
I would use url only for all commands

[2021-09-24 12:59] waldekmastykarz commented on #2696
Another thing that we should consider and which led to some inconsistencies: in some commands where we have multiple URLs, we chose to explicitly prefix each URL option to disambiguate them, eg:
`spo folder get --webUrl --folderUrl`. If we were to follow our naming convention, we'd use `spo folder get --webUrl --url`, because the last URL refers to a folder which is the last noun in the command. T

[2021-09-24 13:01] waldekmastykarz commented on #2696
@plamber:

That wouldn't be always possible though:
- `spo folder get` requires `webUrl` and `folderUrl`
- `spo group get`, using just URL would indicate that it's the group URL rather than web URL (`webUrl`)

[2021-09-24 13:03] plamber commented on #2696
So what would be your suggestion?

Add the noun of the object in front of all url commands?

GroupUrl
SiteUrl
Etc?

[2021-09-24 13:06] waldekmastykarz commented on #2696
@plamber I guess that's the question
- do we always prefix, even when it's clear what the option is for, eg. `spo web get --webUrl` instead of `spo web get --url`
- do we prefix only when an option is ambiguous, eg. `spo folder get --webUrl --folderUrl` instead of `spo folder get --webUrl --url` because it's not clear what `--url` is referring to
- do we stick to consistency and naming convention

[2021-09-24 13:11] plamber commented on #2696
I would go for the last option

[2021-09-24 14:46] waldekmastykarz commented on #2696
@pnp/cli-for-microsoft-365-maintainers what do you think?

[2021-09-24 14:46] waldekmastykarz commented on #2696
@plamber, what about this?

[2021-09-24 14:51] plamber commented on #2696
I would always go withe the first or first two letters of the words.

E.g.   siteUrl - su or s

[2021-09-24 15:56] ktskumar commented on #2506
Hi,

Apologize for the delay in response. I have submitted the pull request against this item #2718

[2021-09-24 16:05] michaelmaillot commented on #2715
Good to know!

I can suggest to update the current page as long as the v4 is still WIP, or closing this issue since the site's MkDocs version is supposed to be updated.

[2021-09-24 19:16] NWH-SAmin5 opened #2719 "Extend `teams user app list` with teamsAppDefinition information"
### Description

This command is calling this api
`https://docs.microsoft.com/en-us/graph/api/userteamwork-list-installedapps?view=graph-rest-1.0&tabs=http`
to get list of app installed for a user

This call/command returns only this as response
`"id": "YTZiNjMzNjUtMzFhNC00ZjYxUTkyZWMtNzEwYjcxNTU3YWY5IyMwLjk="`

Need to somehow pass $expand=teamsAppDefinition to get more details like this
[code]

[2021-09-24 19:37] garrytrinder commented on #2712
Absolutely, thank you for your help @nanddeepn it's all yours 👍🏻

[2021-09-24 19:39] garrytrinder commented on #2711
Absolutely, thank you for your help @SmitaNachan it's aLl yours 👍🏻

[2021-09-25 00:46] ktskumar commented on #1987
Modified the command and raised the pull request. #2720

[2021-09-25 07:24] waldekmastykarz commented on #2719
Thank you for reaching out! That would be a great addition to the command. 👍

[2021-09-25 07:26] waldekmastykarz commented on #2715
We won't update the MkDocs version just yet, so for the time being it would be a good addition to the docs.

[2021-09-25 07:28] waldekmastykarz commented on #2696
We can only use one letter for a short because -su actually means -s -u.

@pnp/cli-for-microsoft-365-maintainers other opinions?

[2021-09-25 07:36] waldekmastykarz commented on #2696
What if we have `--listId` and `--listTitle`? Current we solve it by exposing respectively `-i` and `-t`. In such cases, `-l` would be ambiguous because the user wouldn't know if it's list ID or Title.

[2021-09-25 08:55] waldekmastykarz commented on #2696
I reviewed all commands and put all inconsistencies in the list.

To recap, here are the things we need to decide:

1. Do we want to disambiguate similar options (eg. web URL vs. list URL vs. folder URL). Available options:
    1. we always prefix options, even when it's clear what the option is for, eg. `spo web get --webUrl` instead of `spo web get --url`
    2. we prefix only when an option is

[2021-09-25 09:03] waldekmastykarz commented on #2506
Awesome, I appreciate your help @ktskumar

[2021-09-25 14:44] appieschot commented on #2696
For 1 I agree with consensus so far to use the iii option.
For 2 I would pick i

However I also want to sleep on it a night cause it feels complex, when writing scripts consistency is key, or at least for me.

[2021-09-25 15:03] waldekmastykarz commented on #2704
I can repro the issue with a single quote and the threshold limit error. Thank you for the information @lsavard

[2021-09-25 16:02] waldekmastykarz commented on #2704
@lsavard If I use the PnP PowerShell equivalent you mentioned (`Get-PnPFolderItem -ItemType File -Recursive -FolderSiteRelativeUrl "Documents"`) on a large list, I'm getting the same threshold error.

[2021-09-25 16:52] sprider commented on #2660
Hi @plamber / @waldekmastykarz, Could you please assign this to me?

[2021-09-25 23:14] plamber commented on #2660
Thank you. All yours

[2021-09-26 06:43] plamber commented on #2696
For 2 I would go with 1

[2021-09-26 07:47] ktskumar commented on #2558
Apologize. Submitted a new command with a pull request.

[2021-09-26 16:42] Abderahman88 commented on #2719
@waldekmastykarz You can assign this one to me 👍

Question: What properties of `teamsAppDefinition` do we want to show when running the command without `output --json`? All the properties or just a subset?

![image](https://user-images.githubusercontent.com/36161889/134816281-2ebc487b-dc4a-45f6-bc0a-3d819eb2f2e3.png)

![image](https://user-images.githubusercontent.com/36161889/134816248-3b4fdab2-9

[2021-09-26 17:09] ktskumar commented on #2695
May I take this up!

[2021-09-27 05:42] garrytrinder commented on #2719
Thanks for your help @Abderahman88 its all yours

I would say it would be best to return all of the `teamsAppDefinition` properties.

[2021-09-27 05:43] garrytrinder commented on #2695
Thank you for your help @ktskumar its all yours! 👍

[2021-09-27 06:06] garrytrinder commented on #2696
To add my thoughts...

I'm not a big fan of using shorts in my scripts, one of the big things I like about CLIs is that each command is descriptive and easy to read, however when using shorts they can introduce ambiguity as to which option is being used, i.e. I am more likely to have to consult the docs to understand what the short relates to. In the majority of cases, we don't use short options i

[2021-09-27 07:30] waldekmastykarz commented on #2696
Thanks for sharing your thoughts @garrytrinder. With prefixing options, would you prefix them always, even though it's clear what the option is for, eg. `spo web get --webUrl` vs. `spo web get --url` or would you prefix it only where there are multiple URLs, IDs, and we want to disambiguate?

[2021-09-27 07:31] waldekmastykarz commented on #2719
For output JSON we should always output all data available to us from the API. In the text output mode, we should trim it so that the output reasonably fits the terminal screen.

[2021-09-27 12:11] garrytrinder commented on #2696
I would always prefix, it might seem overkill for a simple example like you have given, but it provides clarity for more complex examples where you have multiple options that are similar.

[2021-09-27 12:27] lsavard commented on #2704
Well this is bad news. Means that even the PowerShell solution does not work while I thought it did. I'll run the command on a OneDrive that has 5000+ files to confirm this.

[2021-09-27 15:43] waldekmastykarz commented on #2696
Understood @garrytrinder. @rabwill, @arjunumenon, @VelinGeorgiev care to share your opinion?

[2021-09-27 17:01] waldekmastykarz commented on #2704
Thank you for confirming. I'm pretty sure it can be fixed. We just need to look for a suitable solution :)

[2021-09-27 18:04] SekThang commented on #2652
Guys, Almost 50% I have completed. Kindly wait for me. Thanks for all your support :)

[2021-09-27 19:30] Abderahman88 commented on #2719
I've added `displayName` and `version` in text output mode. Is this enough?

![image](https://user-images.githubusercontent.com/36161889/134972250-3542acc9-2415-49df-9f6a-4056dabc5b3c.png)

[2021-09-28 02:53] rabwill commented on #2696
Prefix all the way. Agree with @garrytrinder . Thanks for putting this up as a list @waldekmastykarz 👏🏽

[2021-09-28 05:08] garrytrinder commented on #2719
Seems good to me 👍

[2021-09-28 05:22] garrytrinder opened #2725 "Add GitHub CLI to Codespace"
We should include the GitHub CLI in the build of our Codespace so that we can execute commands against GitHub to make it easier for us checkout pull requests for review (`gh pr checkout`), create pull requests (`gh pr create`) and manage the issues list (`gh issue list`) amongst other operations.

[2021-09-28 07:36] arjunumenon commented on #2696
Been crazy weeks and that's why had been away from all CLI fun.

I am with what @garrytrinder suggested (Option 1), giving full name for the parameter.

Though the con with the approach is that, parameter name would be too big. I would personally be ok with that since our parameters are very clear for usage and the users need not refer the documentation for commands which has multiple id's.

For s

[2021-09-28 13:43] ValerasNarbutas commented on #2696
@patrick-rodgers with having prefixes and renames, old ones will still be working as aliases maybe? in case someone is using it heavily?

[2021-09-28 14:20] waldekmastykarz commented on #2696
@ValerasNarbutas the idea is to introduce these breaking changes in a major version so that we don't need to carry the existing option names forward. Having them available side-by-side would significantly complicate both the codebase and the documentation.

[2021-09-28 17:00] SekThang commented on #2652
An indeed great pleasure to write my very first cli in my own style. Kindly check, let me know any correction required.
Please assign me as much as issues.

$listItems = m365 spo listitem list --title "EmployeeDetails" --webUrl https://xxxxxx.sharepoint.com/sites/SiteCollection1 --output json | ConvertFrom-Json
Write-Host 'Total count in the source list is'-> -fore Green $listItems.Count
$count =

[2021-09-29 01:46] NWH-SAmin5 commented on #2719
@Abderahman88 thats perfect. Thank you so much for taking this one, and thank you @waldekmastykarz @garrytrinder for looking into this.

[2021-09-29 07:58] appieschot opened #2727 "Bug report: Add warning to Social Champion script"
### Description

Add a warning on the sample https://pnp.github.io/cli-microsoft365/sample-scripts/teams/share-socialchampions/ that it does require non hashed user names in reports:

Starting September 1, 2021, we're hiding user information by default for all reports as part of our ongoing commitment to help companies support their local privacy laws. For more information, see Microsoft 365 Repor

[2021-09-29 14:48] SekThang commented on #2652
Do I need create md file? Please let me know the next steps.

[2021-09-29 16:27] sprider commented on #2660
@plamber / @waldekmastykarz, As discussed in #2661, we don't have AttachmentFiles property currently so I created with M365 CLI and classic API to complete this script as shown below:

Are you okay with this plan or I have to wait until AttachmentFiles property is avilable?

[code]

[2021-09-29 16:42] plamber commented on #2660
We should check #2661. I will create some issues for it and come back to you

[2021-09-29 19:50] msnow45 commented on #1931
@waldekmastykarz, our company is in gcc high, and we ran into an issue today, where we had to re-submit a lot of failed flows.  Still in the process of going through the run history and clicking re-submit one at a time.  Let me install your branch and later this week I will try to get you some of the data you asked about.

[2021-09-30 14:00] plamber commented on #2652
Hi @SekThang,
you should download fork the repository, add the md file with links in the project and create a pull request. You have instructions on how to setup your environment [here](https://github.com/pnp/cli-microsoft365/wiki). For a sample script you have to ensure that you add just the MD in the sample script section.

Let us know if you require more information.

Cheers

[2021-09-30 14:23] plamber opened #2730 "New command: spo listitem attachment"
### Usage

m365 spo listitem attachment

### Description

Returns the attachments associated to a list item

### Options

Option | Description
-- | --
-l, --listId [listId]|ID of the list from which to retrieve the item. Specify listId or listTitle but not both
-t, --listTitle [listTitle]|Title of the list from which to retrieve the item. Specify listId or listTitle but not both
-i, --itemId <item

[2021-09-30 14:25] plamber commented on #2661
I created an issue for listing the attachments #2730. Once this is completed we will start working on the other commands

[2021-09-30 14:30] plamber commented on #2660
Hi @sprider,
First of all. Thank you for your efforts. These are highly appreciated.

I created an issue for the `m365 spo listitem attachment list` command (#2730). We should use that one for the example we are referencing here.

On the other hand, I like your approach of solving the issue by calling directly the REST API of SharePoint and using the CLI to retrieve the required tokens. I think th

[2021-09-30 14:50] plamber commented on #2730
@nanddeepn: all yours. We might change still the aliases. But you can start with the work

[2021-09-30 15:11] sprider commented on #2660
Perfect, Thank you @plamber

[2021-09-30 15:12] SekThang commented on #2652
Thank you so much @plamber . An indeed great support.

I got a chance to have word with @arjunumenon who has given all the info to create a pull request.

@arjunumenon provided steps to add md file, update yml file, push the changes from VS code to form. And from my branch how to create PR to push to cli main branch. Thank you so much @arjunumenon .

I will do this by tonight.

[2021-10-01 07:32] waldekmastykarz commented on #2696
Since the discussion isn't complete and we consider changing our naming convention, we decided to postpone these changes to the next major version.

[2021-10-01 13:00] waldekmastykarz commented on #2660
I think there is a room for both: from the functional point of view, we'd preferably want to have a dedicated command. That said, there might always be the case when you want to do something that's not covered by the CLI, so showing how to get an access token is also valuable.

[2021-10-01 13:02] waldekmastykarz commented on #1931
Awesome! I appreciate your help @msnow45

[2021-10-01 13:03] plamber opened #2731 "New sample script: Show how to perform operations if a command is not covered by the CLI"
Following the discussion of #2660 it would be nice to have a sample script showing how to perform operations against a service even if a command is not yet present in the CLI.

[2021-10-01 13:07] plamber commented on #2660
Hi,
just created the issue #2731 and assigned @sprider to it. We should take your example and explain that you can still use the CLI to simplify the creation of scripts that are not yet covered by the CLI. This might be a good sample.

Thank you,
Patrick

[2021-10-01 13:07] sprider commented on #2731
@plamber Sure, I will submit a PR for this.

[2021-10-01 15:54] arjunumenon commented on #2654
Thanks @waldekmastykarz  for the insights and Pardon me for the delay in response. Previous weeks had been unusually crazy. 😰.

About the above, my personal choice would be to favor integrity over performance. Users would be using this command primarily for post-migration actions where integrity would be more important than performance. Hence personally my suggestion would be to,

- Do the validat

[2021-10-01 17:09] SekThang commented on #2475
Team, I would like to explore and write sample script for this. Could you please assign this to me?

[2021-10-01 19:48] SekThang commented on #2652
Team, Just noticed that @plamber would like to see copy the attachment to another list. It's my bad that I didn't notice. Kindly advise here.

May be you can reject my PR.

[2021-10-01 20:16] appieschot commented on #2475
Awesome! All yours!

[2021-10-01 21:41] veronicageek opened #2734 "New sample script: Get all Teams, Channels, and Tabs in each Microsoft Teams teams"
|Docs||
|-----|----|
|Author| Veronique Lengelle (@veronicageek) |
|Original Post| [Get all Teams, Channels, and Tabs in each Microsoft Teams teams](https://veronicageek.com/powershell/powershell-for-m365/get-teams-channels-tabs-and-privacy-settings-using-teams-pnp-powershell/2020/07/) |
|Description| This script will get all the Teams ID, Team display names, all the channel names (excluding priva

[2021-10-01 21:41] veronicageek commented on #2734
Happy to be assigned to it if that's of interest.

[2021-10-01 23:13] veronicageek opened #2735 "Bug report: `m365 spo group user list` not working"
### Description

Running the basic with no variable(s) `m365 spo group user list --webUrl https://contoso.sharepoint.com/sites/SitePnP3 --groupId 3` is returning the following (as if the inputs were wrong).

Tried the URL with double quotes, single quotes, no quotes = same result.
Tried the `--groupName` instead of `--groupId` = same result.

![image](https://user-images.githubusercontent.com/2518

[2021-10-02 03:23] plamber commented on #2652
Hi @SekThang ,
Let us start without attachments first. We can then extend the sample once the attachment commands are integrated in the CLI.

Cheers

[2021-10-02 04:39] SekThang commented on #2652
Thanks @plamber. Great support.

Now, I can take it up more issues to fix. Kindly assign accordingly 😊

[2021-10-02 04:47] plamber commented on #2652
Hi @SekThang,
just comment on the issues you are interested to collaborate. We will then assign you accordingly.

Thank you and cheers

[2021-10-02 07:12] waldekmastykarz commented on #2735
Hey @veronicageek, sorry for the trouble. The command has been added in v4 which is currently in preview and which we're releasing in the coming days. Apologies for the confusion.

[2021-10-02 15:16] waldekmastykarz commented on #2734
Awesome! I appreciate your help 👍

[2021-10-02 15:18] waldekmastykarz commented on #2654
Let's do it 👏

[2021-10-03 19:41] SekThang opened #2739 "New sample script: Copy library's folders and contents to another library"
|Docs||
|-----|----|
|Author| Jerry Xu |
|Original Post| https://docs.microsoft.com/en-us/answers/questions/46716/copy-content-of-a-folder-to-another-sp-online-fold.html |
|Description| Copy document library's folders and their contents to another document library |
|Keywords| Migration |

[2021-10-03 19:44] SekThang commented on #2739
Would that be a good idea to prepare cli scripts?
If it's fine, could you please assign it to me?.

[2021-10-04 08:39] michaelmaillot commented on #2706
Ok during the development, I realized something else.

Actually, when running the `spo site remove` command, the first thing done is [getting the site's group id](https://github.com/pnp/cli-microsoft365/blob/main/src/m365/spo/commands/site/site-remove.ts#L52). But this can't work if the site is already deleted. Which could be ok because when running this command in a classic way (`spo site remove

[2021-10-04 10:09] arjunumenon commented on #2654
Updated the specs and added the labels.

[2021-10-04 10:16] arjunumenon commented on #2653
Updated the spec based on [this discussion](https://github.com/pnp/cli-microsoft365/issues/2654#issuecomment-932769157)