[2022-04-17 21:16] Adam-it commented on #3199
@waldekmastykarz I would like to get back to discussion on this issue. I think we should follow same approach as for managing role inheritance on list. So here we will have a command `spo listitem roleinheritance break`  with flag parameter  `clearExistingPermissions`. And also, as separate issue, I will create a command which will allow to restore the permissions inheritance on item which will be

[2022-04-17 21:38] Adam-it opened #3237 "New command: spo roledefinition list"
### Usage

m365 spo roledefinition list

### Description

should retrieve list of role definitions from web

### Options

Option | Description
-- | --
`-u, --webUrl <webUrl>` | URL of the site from which the list of roles should be retreived

### Additional Info

managing role definitions (for now listing and getting single role will be enough but there is room for additional commands here 😉) is t

[2022-04-17 21:39] Adam-it commented on #3237
ok one comment here (mainly for me 😉) TBH I did not double checked if maybe this information may already be retrieved using MS Graph instead of SP rest API. I will need to check this and if not, what I suggested above is ok 😊. At least I hope so 🤔

[2022-04-18 08:10] waldekmastykarz commented on #3237
Thank you for the spec! A couple of comments:

- let's align the naming convention with our comments and adjust the last noun to singular, so: `spo roledefinition list`
- which properties would you recommend to display by default in the text mode?
- I don't think this information is exposed through Graph so using the API you mentioned is ok

[2022-04-18 08:12] waldekmastykarz commented on #3199
Yes, we should definitely align the commands you mentioned. Could you also please update the spec based on our discussion so far?

[2022-04-18 08:14] waldekmastykarz commented on #3175
Awesome! Thank you for such a quick reply, @milanholemans. All yours @Jwaegebaert 🚀

[2022-04-18 12:35] jacobsian-del commented on #3234
I hate it when I miss the little stuff, escaping the '@' did it.

``m365 aad app add --manifest `@testmanifest.json``

Thanks!

[2022-04-18 12:35] #3234 closed

[2022-04-18 15:59] Adam-it opened #3238 "New command: spo listitem roleinheritance reset"
### Usage

spo listitem roleinheritance reset

### Description

restore role inheritance of list item, file or folder

### Options

Option | Description
-- | --
`-u, --webUrl <webUrl>` | URL of the site from which the item should be retrieved
`--id <id>` | ID of the item to retrieve
`--listId [listId]` | ID of the list. Specify listId or listTitle but not both
`--listTitle [listTitle]` | Title of

[2022-04-18 16:00] Adam-it commented on #3199
✅done and ✅done

[2022-04-18 16:13] Adam-it commented on #3237
- ✅ aligned command to singular
- I would show only Id, Name, Description (even this is optional I think as it may be quite long sometimes) nothing more
- yes this also what I expected but just wanted to double check to be sure 😉. Ok but lets use the suggested API.

BTW thanks for the quick response and feedback during easter time 👍. Seems like you are always available 😊. You rock 👍

[2022-04-18 17:42] waldekmastykarz commented on #3237
Thank you for a quick turnaround! Would you like to pick it up yourself or let others help?

[2022-04-18 17:43] waldekmastykarz commented on #3199
Awesome! Thank you! Would you like to take it on yourself or let others help?

[2022-04-18 17:45] waldekmastykarz commented on #3238
Thank you for the spec and it's a great addition to the CLI. For the spec, I'd suggest removing the `-i`, `-l` and `-t` as they might be ambiguous. Let's offer just the long options instead, and after a while we can have a look at our telemetry to see which options are used and which short might make sense. Other than that, the spec is ready to go 🚀

[2022-04-18 17:47] waldekmastykarz commented on #3234
Awesome! Great to hear you found the solution and thank you for sharing it with us. I'm sure it will help others.

[2022-04-18 17:48] waldekmastykarz opened #3239 "Extend documentation about using the `@` token in PowerShell"
Let's extend the section of the documentation where we show the usage of the `@` token to pass contents of a file into a command's option, so that we mention that it needs to be escaped in PowerShell, which by default uses the `@` token for splatting.

Original issue:

I hate it when I miss the little stuff, escaping the '@' did it.

``m365 aad app add --manifest `@testmanifest.json``

Thanks!

_O

[2022-04-18 18:39] Adam-it commented on #3237
I can give it a shot, let's not keep this one waiting.

[2022-04-18 18:39] Adam-it commented on #3199
That's fine, I can take this one as well 👍

[2022-04-18 18:47] Adam-it commented on #3238
Sure I will update the spec.
Also for now I will this one open so that someone else might contribute (I already have other issues so i wouldn't like to block anything).
I think this one is rather straight forward and also could be very similar to the reset role inehiratnce on list command which is currently an open PR so it could be a good starting point for someone new.
I am rather unsocial perso

[2022-04-19 05:56] nanddeepn commented on #3238
Hi @waldekmastykarz, @Adam-it,
Can I work on this?

[2022-04-19 07:24] Adam-it commented on #3238
@nanddeepn  totally 👍. Let me know if you will need any help with this 👍

[2022-04-19 15:45] jacobsian-del opened #3241 "New command: `spo app register`"
### Usage

m365 spo app register

### Description

Register an SPO addin

### Options

Option | Description
-- | --
`--clientId [clientId]` | ClientID of the app to register.  Autogenerates if not specified.
`--clientSecret [clientSecret]` | Password to register the app with.  Autogenerates if not specified.
`--title <title>` | Title of the SP to be created
`--appDomain <appDomain>` | Appdomain th

[2022-04-19 17:44] milanholemans commented on #3230
Hi @waldekmastykarz

Seems like the Graph docs were wrong. According to the docs it's possible to update the `planId` property. However when I'm trying this, I get following error.

![image](https://user-images.githubusercontent.com/11723921/164063450-76c4ba92-1eb6-4a6c-a5ae-4f9424bdf61f.png)

So I think we have to strip down this command to only support `newName` and `optionHint` options and remo

[2022-04-19 17:47] jacobsian-del commented on #3241
Alternatively, I believe this can be accomplished by loosing the logic in `m365 aad sp add` to not require the appID to be an Azure AD app?

[2022-04-19 19:50] waldekmastykarz opened #3243 "Enhancement: add support for upgrading SPFx projects to 1.15.0-beta.6"

[2022-04-19 21:16] milanholemans commented on #2742
It seems that this command has been lost sight of. @waldekmastykarz I can continue working on this if desired?

[2022-04-20 11:22] Jwaegebaert commented on #3229
I can work on this one if the specs are alright 😄

[2022-04-20 17:20] waldekmastykarz commented on #3229
Please do! We appreciate your help 👏

[2022-04-20 17:21] waldekmastykarz commented on #2742
Please do @milanholemans 👏

[2022-04-20 17:23] waldekmastykarz commented on #3241
Thank you for the feature suggestion @jacobsian-del. Do you know of the underlying API that we could use for this?

Not sure I understand `appId` is Azure AD app. Could you please explain what you mean?

[2022-04-20 17:26] waldekmastykarz commented on #2245
Awesome! Thank you for the heads up!

[2022-04-20 17:29] waldekmastykarz commented on #3199
Awesome! Thank you so much!

[2022-04-20 17:29] waldekmastykarz commented on #3237
All yours! Thank you! 👏

[2022-04-20 19:06] jacobsian-del commented on #3241
Based on my research, this page just creates the Service Principal in Azure AD.
There are some legacy examples of doing this in Powershell here: [Stack Overflow](https://sharepoint.stackexchange.com/questions/112515/how-to-register-a-new-sharepoint-app-using-powershell-instead-of-appregnew-aspx)

I suspect they just use these API's under the hood, but I am not certain.
[Create Service Principal](h

[2022-04-20 19:12] Jwaegebaert opened #3245 "Docs: Wrong description within `planner task set`"
Among the options, it is described that it is possible to change a task's plan.

[code]

However, this is not possible. These options are used if one is going to change the task's bucket by name.
Here we can best adapt the description to the following.

[code]

[2022-04-20 19:37] Jwaegebaert opened #3246 "Enhancement: extend `planner task set` with more options"
`planner task set` has the ability to perform an update on the task details model. Currently we only use this to change the description of a task but with this model we get the ability to change more things. With this, I propose to integrate the following options within this command.

Option | Description
--  | --
`--previewType [previewType]` | This sets the type of preview that shows up on the t

[2022-04-20 20:51] milanholemans commented on #2742
@waldekmastykarz is it ok if I rename
`--bucketId` to `-i, --id`
and
`--bucketName` to `--name`
to keep it consistent with other commands?

[2022-04-20 21:47] sympmarc opened #3247 "Bug report: `m365 spfx doctor` gives invalid suggestion"
### Description

I wanted to make my SPFx dev environment healthy, so I tried running `m365 spfx doctor`. I got the following results:
[code]

### Steps to reproduce

See above

### Expected results

I'd expect the suggestion would be valid and would work.

### Actual results

When I tried to run `npm i react@16.9.51` as suggested, I got the following:
[code]

### Diagnostics

PS C:\code\marc-demo

[2022-04-20 22:17] sympmarc commented on #3247
BTW. doctors have to go to school forever to be good at their craft. This command cannot reasonably work in every instance. It could well be something in my setup, but I figured it was worth logging.

[2022-04-21 05:36] reshmee011 commented on #3227
I can take it.

[2022-04-21 06:39] waldekmastykarz commented on #3247
You're right! I'm not sure where we got the version number from. Sorry for the trouble. We removed the react check in favor of a more detailed check in `spfx project doctor` (#3190) so if you use the latest preview version of the CLI, you should no longer see this issue.

[2022-04-21 06:40] #3247 closed

[2022-04-21 06:50] waldekmastykarz commented on #3227
Awesome @reshmee011! All yours! We appreciate your help 👏

[2022-04-21 07:20] waldekmastykarz commented on #2742
Since we have multiple id's and names, I'd suggest that we don't implement shorts, which would be ambiguous. If need be, we can always add them later.

[2022-04-21 09:30] #3243 closed

[2022-04-21 09:59] waldekmastykarz commented on #3241
Thank you for the additional information. Before we commit to implementing this command, we'd need to know more about what's happening behind the scenes and if there's an API that we can use for it. Would you be willing to do some extra research for that?

[2022-04-21 10:00] waldekmastykarz commented on #3245
Good catch! Your suggestion is a good way to clarify it. Would you like to submit a PR or let others help?

[2022-04-21 10:09] Jwaegebaert commented on #3245
Yeah, sure. I will create a PR for this shortly.

[2022-04-21 10:52] waldekmastykarz commented on #3245
Thank you!

[2022-04-21 19:59] PathToSharePoint commented on #3239
Good topic. I just had an issue with `@` and I still don't know how to address it:
[code]
returns the following error:
Resource '@' does not exist or one of its queried reference-property objects are not present

Escaping didn't help.

[2022-04-21 20:46] jacobsian-del commented on #3241
Day got away from me but I can give it a shot.

[2022-04-21 21:04] PathToSharePoint opened #3252 "m365 teams team add: We're still setting up your team."
### Description

When I try to get the General channel email for a team created with `m365 teams team add`, it returns the following message:
We're still setting up your team

### Steps to reproduce

1. Create a new team using m365 team add --wait
2. Later (e.g. next day) open the context menu of the General channel, and select 'get email address`
3. A popup opens with the message: "We're still se

[2022-04-22 13:14] waldekmastykarz commented on #3252
Thank you for reporting the issue and sorry for the trouble. I can reproduce it. Let me see if I can find out what's wrong.

[2022-04-22 13:15] waldekmastykarz commented on #3241
Thank you, we appreciate your help

[2022-04-22 13:47] waldekmastykarz commented on #3252
It seems that I can reproduce the same issue when using Graph Explorer which indicates that it's related to Graph rather than CLI. I noticed, that if I click on the Files tab, then Posts, then back on Files all works as expected but I don't know if that's an acceptable workaround for you. If not, then that would be a piece of feedback that you'd need to pass to the Graph team.

[2022-04-22 13:47] #3252 closed

[2022-04-22 17:32] waldekmastykarz commented on #3252
I tried a few things and it seems like time doesn't play a role. If I go to the team right after creating it and fiddle with tabs, it gets working as expected.

[2022-04-22 17:39] waldekmastykarz commented on #3246
Thank you for the suggestion, @Jwaegebaert. Passing complex objects into options isn't trivial, because in *sh everything's a string. We could allow passing a JSON string, but it's unlikely anyone would type it in.

We could go about it in two ways: either leave complex objects out and use a separate command for it, or allow specifying only some values, like a checklist could allow a comma-separat

[2022-04-22 21:19] jacobsian-del commented on #3241
Still working on the exact webrequests, bu
[wsdl-formatter.txt](https://github.com/pnp/cli-microsoft365/files/8544098/wsdl-formatter.txt)
t under the hood those cmdlets talk to https://provisioningapi.microsoftonline.com/

Seems to be a very legacy SOAP webservice.  WSDL is attached, but next week I can try and Isolate more specific calls.

[2022-04-23 17:37] waldekmastykarz commented on #3241
When researching it further, please check if it's possible for us to get an access token for it. If it's not, then I'm afraid that we wouldn't be able to use this API in the CLI.

[2022-04-25 18:04] #3175 closed

[2022-04-25 19:56] garrytrinder commented on #2563
Hey @michaelmaillot 👋

Are you still working on this?

[2022-04-25 21:23] michaelmaillot commented on #2563
Hey @garrytrinder 👋

Still working on this one, hope to bring something up soon!

[2022-04-26 07:56] Jwaegebaert opened #3254 "Enhancement: extend `teams channel member` with check for private channel"
When an user uses command `teams channel member [verb]`  we should provide an additional check. There is a good chance that they will use a public channel instead of a private channel and then they will get the following error: `Operation not supported for this Channel`

With this, it would be useful to provide an `isPrivateTeamChannel` check before the logic of the command for the following comma

[2022-04-26 10:19] garrytrinder commented on #2563
Awesome, thank you for the update 👍

[2022-04-26 17:36] waldekmastykarz commented on #3247
Thank you for confirming! Awesome to hear all is working as intended

[2022-04-26 17:46] waldekmastykarz opened #3255 "Add support for Node@18 in the test matrix"
We should verify that CLI works correctly on Node@18 (current)

[2022-04-26 21:42] milanholemans commented on #2908
@waldekmastykarz I'd like to try this one.

[2022-04-26 21:49] jacobsian-del commented on #3241
I've run the legacy `Connect-MsolService`, `New-MsolServicePrincipal` and `New-MsolServicePrincipalCredential` cmdlets as described in the StackOverflow link above and have found that this is what happens under the hood:

- Gets a bearer token with a call to `https://login.microsoftonline.com/{tenantId}/oauth2/token`
- Calls these services to perform their operations:
  - http://provisioning.micro

[2022-04-26 22:09] milanholemans commented on #2908
Do I have to take into account the specified properties in `defaultProperties` method for each command?

[2022-04-27 08:00] Jwaegebaert opened #3257 "Enhancement: Combine `planner task get` with `planner task details get`"
If we take a look at the command `planner task set` we can see here that when it is executed we will get a response that is a combination of the model `PlannerTask` and `PlannerTaskDetails`. We want to make this uniform to the other `planner task` commands.

Here we will start with combining the commands `planner task get` and `planner task details get` into a single command `planner task get`. Wh

[2022-04-27 08:58] Jwaegebaert commented on #3246
Fair point, typing a whole JSON string is indeed not really user friendly. It might not be such a bad idea to split the options `checklist` and `references` into a separate command. With this, we're going to get a whole bunch of new commands though. Because for this split up I was thinking of the following commands.

`planner task checklistitem [verb]` with the verbs being: add, get, list, remove,

[2022-04-28 06:36] waldekmastykarz commented on #3246
I don't think there's a better way about it for now. Looking at the reference model, which properties can you set reasonably?

[2022-04-28 06:45] waldekmastykarz commented on #2908
Awesome! We appreciate your help!

I'd say no. We introduced defaultProperties to help us deal with limited width of a terminal window. Since it's not an issue in a markdown document, I don't think we need to consider it.

Let's strive to make it as human-readable as possible. We could consider expanding complex properties in footnotes/references/appendix or something similar. Let's take a few exa

[2022-04-28 06:47] waldekmastykarz commented on #3241
Thank you for the additional information. If the enterprise application is the only output of running these cmdlets, then we've got it all covered by a combination of `aad app add` and `aad sp add`. I wonder though if there's not more happening behind the scenes in the context of SharePoint.

One more thing that we'd need to research is if we can get a token for `provisioning.microsoftonline.com`.

[2022-04-28 07:26] Jwaegebaert commented on #3246
If we take a look at model `PlannerExternalReference` then we could simplify it to the following:
[code]
Type allows the following options: `PowerPoint`, `Word`, `Excel`, `Other`.

We can also simplify model `PlannerChechlistItem` to this:
[code]

[2022-04-28 08:35] jdaehler opened #3260 "Bug report: Persisting connection issue"
### Description

We noticed that a Persisting connection is dropped after 90 days? So in fact, thats not permanent? Login Status looks like it is connected bute connections fails. After logout + login it works fine.

### Steps to reproduce

Login
wait 100 days
try to use m365cli command

### Expected results

Persisting connection should be persistend

### Actual results

after more than 90 days o

[2022-04-28 10:50] waldekmastykarz commented on #3260
@jdaehler thank you for reaching out to us and sorry to hear that you're running into trouble. After 90 days the refresh token expires which is why you need to login again and there's nothing we can do about that, unfortunately. That said, we should be handling it better rather than showing status as logged in but meanwhile throwing errors on all connections. We'll fix it.

[2022-04-28 14:27] jacobsian-del commented on #3241
How do you mean? The cmdlets don't create an underlying application (at least not a visible one).  Can't use `add sp add` because it's expecting the AD application to exist.  How would I ensure that the SP created is working with the SP addin instead of the AD application?

If you review the fiddler traces I provided, you'll see that the bearer token used is obtained from a standard oauth call to

[2022-04-28 14:40] waldekmastykarz commented on #3241
The application must be coming from somewhere right? I wonder if we could get more information about the app reg from the API comparing to the UI.

That's exactly what we need to figure out.

I understand how obtaining tokens works. The question is, if token to this API is only available to first party AAD app (the one used by MSOL cmdlets) or if we can also get it using CLI for Microsoft 365.

[2022-04-28 14:42] waldekmastykarz commented on #3246
Makes sense. Let's update the spec to reflect these changes.

[2022-04-28 22:02] jacobsian-del commented on #3241
This bared some fruit. I compared the Service Principal created with `aad sp add` and `appregnew.aspx`  and it appears that the key difference is the type of Service Principal being created.

Using `appregnew.aspx` creates a "Legacy" Service principal type, which by [definition](https://docs.microsoft.com/en-us/graph/api/resources/serviceprincipal?view=graph-rest-1.0#properties) does not need to h

[2022-04-28 22:05] jacobsian-del commented on #3241
I'm going to try and pivot to a different approach for our SPO permissions locally which does not require an addin.  Absent a bright idea on how to set up a 'Legacy' SP, you're welcome to close this out or keep it as a future roadmap feature.

[2022-04-29 13:18] Ofer-Gal opened #3263 "The suggestion to remove 4.2 is wrong with @pnp/sp 3.2.0"
### Description

I have @pnp/sp 3.2.0  in my project and it requires rush-stack-compiler-4.2
But the doctor told me to remove it.

### Steps to reproduce

m365 spfx project doctor -o md > report.md

gives
npm un -D @microsoft/rush-stack-compiler-4.2
npm dedupe

### Expected results

no  -D @microsoft/rush-stack-compiler-4.2

### Actual results

npm un -D @microsoft/rush-stack-compiler-4.2

### Dia

[2022-04-29 17:55] waldekmastykarz commented on #3263
Thank you for reaching out to us. Suggestions reported by spfx project doctor are based on the official recommendation by the product group and what's supported. If a higher version of TypeScript is working for you, then you can ignore this recommendation.

[2022-04-29 17:55] #3263 closed

[2022-04-29 17:56] waldekmastykarz commented on #3241
Thank you for all the research you've done. Who knows we might need it in the future if new opportunities become available.

[2022-04-29 17:56] #3241 closed

[2022-04-29 22:04] milanholemans opened #3265 "Enhancement: App only access token check for Planner commands"
Currently it's only possible to request Planner endpoints with a delegated token. App only tokens are not supported.
Instead of getting a Graph error, we could display an error message like `This command is not supported with application permissions`.

We cannot check the token in the `validation` stage. This check should be done first in the `commandAction` method.

Commands to update:
- [x] plan

[2022-04-29 22:13] milanholemans commented on #3265
I am willing to work on this.

[2022-04-30 04:38] #2245 closed

[2022-04-30 04:38] #2742 closed

[2022-05-01 03:50] #3212 closed

[2022-05-01 04:11] plamber opened #3267 "Create an utils class for the Microsoft 365 Group commands"
We are interacting with Microsoft 365 Groups a lot in our commands. Most of the time we are retrieving Groups by id or DisplayName to process other commands.

I think we should start introducing a utils class as we did with spo: https://github.com/pnp/cli-microsoft365/blob/b46b8928d315fabe26579d93b73d4ea843682106/src/utils/spo.ts

I would suggest that we call the utils class aadgroup and I would s

[2022-05-01 04:20] plamber opened #3268 "Create an utils class for the Planner commands"
## Description
Create a `planner` util class. It needs to contain the following functions:

Function | Description
--- | ---
`getPlanById(id: string): Promise<PlannerPlan>` | retrieves a unique plan, and rejects with an error if the Plan can't be found.
`getPlanByName(name: string, groupId: string): Promise<PlannerPlan>` | retrieves plan by name and groupId, shows list of ids if multiple plans wit

[2022-05-01 06:44] garrytrinder commented on #3268
Great suggestion @plamber 👍🏻

My only comment would be to introduce a util function and update the commands to use that function in a single commit (issue).

[2022-05-01 06:44] garrytrinder commented on #3267
Great suggestion @plamber 👍🏻

My only comment would be to introduce a util function and update the commands to use that function in a single commit (issue).

[2022-05-01 12:18] Adam-it opened #3270 "New command: spo roledefinition get"
### Usage

m365 spo roledefinition get [options]

### Description

Should get specified roledefinition from web by id

### Options

Option | Description
-- | --
`-u, --webUrl <webUrl>` | URL of the site from which role should be retreived
`-i, --id <id>` | Role id

### Additional Info

I was thinking that now since we added first command to list the role definitions from web we need other as well

[2022-05-01 12:29] Adam-it opened #3271 "New command: 🔐 spo roledefinition add"
### Usage

m365 spo roledefinition add [options]

### Description

Should add a new roledefinition to web

### Options

Option | Description
-- | --
`-u, --webUrl <webUrl>` | URL of the site to which role should be added
`-n, --name <name>` | role definition name
`-d, --description <description>` | role definition description

### Additional Info

I was thinking that now since we added first comma

[2022-05-01 12:33] Adam-it opened #3272 "New command: spo roledefinition remove"
### Usage

m365 spo roledefinition remove [options]

### Description

Should remove roledefinition from web

### Options

Option | Description
-- | --
`-u, --webUrl <webUrl>` | URL of the site from which role should be retrieved
`-i, --id <id>` | Role definition id

### Additional Info

I was thinking that now since we added first command to list the role definitions from web we need other as well

[2022-05-01 17:33] waldekmastykarz commented on #3265
Great suggestions! We appreciate your help ❤️

[2022-05-01 17:40] waldekmastykarz commented on #3268
Great suggestion @plamber. It will help us remove duplicate code. Like @garrytrinder mentioned, let's make a list of all commands that we'd need to update and in the first PR include one central function will all commands updated. Then in another PR, we'd add another function and again include all affected commands. That way, we keep related changes together and at the same time break the total sc

[2022-05-01 17:41] waldekmastykarz commented on #3267
Great suggestion @plamber. It will help us remove duplicate code. Like @garrytrinder mentioned, let's make a list of all commands that we'd need to update and in the first PR include one central function will all commands updated. Then in another PR, we'd add another function and again include all affected commands. That way, we keep related changes together and at the same time break the total sc

[2022-05-01 17:45] waldekmastykarz commented on #3270
Great suggestion! A couple of question:

- is the ID in the command, the ID of the role or the ID of the role definition? If it's for the role, then we should rename it `roleId` as `id` would indicate `roleDefinitionId` (which we can shorten to `id` to avoid repeating the context)
- is there a way for us to make `BasePermissions` and `RoleTypeKind` more human-readable? We should leave the existing

[2022-05-01 17:47] waldekmastykarz commented on #3271
Great suggestion. `BasePermissions` describe the permissions associated with the role definition. It's a bit-flag composed out of the different permissions, so when creating a new definition, we'd need to find a way for users to specify the permissions the role should contain and then translate them to a flag.

[2022-05-01 17:48] waldekmastykarz commented on #3272
Great suggestion! Since it's a remove command, let's extend it with the `--confirm` flag to suppress prompting for confirming the removal.

[2022-05-01 19:43] Jwaegebaert commented on #3246
Perfect, the specs have been adjusted mentioning the simplified models. Is this properly adjusted like this?

[2022-05-01 19:47] Jwaegebaert commented on #3265
With the command `planner bucket get` being in the final phase of the PR it might be useful to provide this check in here as well. #3253

[2022-05-01 19:49] milanholemans commented on #3265
Ok thanks for letting me know @Jwaegebaert!

[2022-05-01 20:24] Jwaegebaert commented on #3254
I can start working on this one 😄

[2022-05-02 05:37] SmitaNachan commented on #3239
Hello  Waldek @waldekmastykarz
Can I work on this?
Thanks & Regards
Smita Nachan

[2022-05-02 11:14] arjunumenon commented on #3239
Thanks @SmitaNachan for your help.
All yours!

[2022-05-02 11:19] arjunumenon commented on #3254
Thanks @Jwaegebaert for your help ❤.
All yours.

[2022-05-02 17:36] waldekmastykarz commented on #3246
The current spec still assumes folks will pass a JSON string, right? From what I understood from our discussion was that we'd introduce specific commands for complex types and allow setting simple properties in `task set` (if any).

[2022-05-02 17:59] #2695 closed

[2022-05-02 18:25] veronicageek commented on #2695
Thanks for the new command @Adam-it 👍🏻

@waldekmastykarz - I could create a sample script about finding missing required metadata (https://veronicageek.com/2021/find-missing-metadata-using-powershell/) if this is still of interest. Let me know and I'll open an issue.

[2022-05-02 23:05] Adam-it commented on #3270
- I was thinking that this should be the id of `roleDefinition` so lets stay with the `id`🤔
- as for `RoleTypeKind` I suggest we add an enum with possible values (we may get them from [docs](https://docs.microsoft.com/en-us/previous-versions/office/sharepoint-csom/ee536725(v=office.15)) (in the given example we have 5 which means 'Administrator') and add additional property to the response json li

[2022-05-02 23:06] Adam-it commented on #3272
I was thinking for this to be `roleDefinitionId`

[2022-05-03 09:14] Jwaegebaert commented on #3246
Okay perfect, I wasn't a 100% sure. Currently, I have adjusted the specs to add only `previewType` to the `task set` command. Here you do have a good point, that this may become too complex for this command. If we make the comparison to the `add` variant, you will see that it also does not yet have all the available options. The options that are missing are `assigneePriority`, `appliedCategories`

[2022-05-03 10:04] garrytrinder opened #3276 "New command: List Power Platform Data Gateways"
### Usage

`m365 pp gateway list`

### Description

Returns a list of gateways for which the user is an admin

### Options

N\A

### Additional Info

We can use the Power BI REST API to return a list of Data Gateways in the current organisation.

[code]

Requires `Dataset.Read.All` scope.

Source: https://docs.microsoft.com/en-us/rest/api/power-bi/gateways/get-gateways

[2022-05-03 17:19] nanddeepn commented on #3276
Hi @garrytrinder
Can I work on this?

[2022-05-03 18:36] #2635 closed

[2022-05-03 18:36] #3229 closed

[2022-05-03 22:34] garrytrinder commented on #3276
All yours @nanddeepn thank you for the help 👍🏻

[2022-05-04 15:28] waldekmastykarz commented on #3276
Since this is a list command, let's also define a list of properties that we'll show by default in the text output mode

[2022-05-05 07:44] Jwaegebaert commented on #3257
Now that issue #3229 has been completed we can get started. 😄
I can work on this one.

[2022-05-05 09:26] garrytrinder commented on #3276
Good shout @waldekmastykarz 👍

I propose that we show `id`, `name`, `gatewayStatus` and `type` in the text output mode.

[2022-05-05 12:45] milanholemans commented on #3268
I'm willing to work on this one.

[2022-05-05 16:56] veronicageek opened #3277 "New sample script: Find missing (required) metadata in SharePoint Online"
|Docs||
|-----|----|
|Author| Veronique Lengelle |
|Original Post| https://veronicageek.com/2021/find-missing-metadata-using-powershell/ |
|Description| This script will retrieve all the required metadata (fields values) that are missing for a specific SharePoint site (all libraries) |
|Keywords| `SharePoint Online` `Governance` `Metadata` |

[2022-05-05 16:56] veronicageek commented on #3277
Happy to be assigned to it.

[2022-05-05 17:50] waldekmastykarz commented on #3277
Awesome! All yours and we appreciate your help ❤️

[2022-05-05 17:51] waldekmastykarz commented on #3268
Awesome! All yours @milanholemans 🚀

[2022-05-05 17:51] waldekmastykarz commented on #3276
Will all these properties fit in a reasonably sized terminal window?

[2022-05-05 17:52] waldekmastykarz commented on #3257
Awesome! All yours @Jwaegebaert 👏

[2022-05-05 17:54] waldekmastykarz commented on #3246
Please do, and a very good call to start with add, list and remove. We can skip set for now.

Could we simplify these options, eg. make `appliedCategories` a comma-separated string and `assigneePriority` a single value or do they expect a complex object and there's no way to make them simpler?

[2022-05-05 17:55] waldekmastykarz commented on #2695
Please do! Is that #3277?

[2022-05-05 17:56] waldekmastykarz commented on #3272
If it's role definition ID, then we can keep it as `id` and we should update its description to make this explicit (the description is saying `Role ID` at the moment).

[2022-05-05 17:58] waldekmastykarz commented on #3270
👍

Makes perfect sense. That way we retain the original value and at the same time make the output more readable.

This would be awesome 👍

Let's suggest this as an enhancement in a separate issue

[2022-05-05 18:27] veronicageek commented on #2695
Yes that's right 🙂

[2022-05-05 19:18] garrytrinder commented on #3276
They should, however happy to drop `type` if it gets too crowded.

[2022-05-05 19:47] Adam-it commented on #3270
ok so I guess this one is more or less ready to be taken. and when the PR with the roledefinition list will be merged I will create a separate issue to add the RoleTypeKind and BasePermissions translations to that command as well.. In the mean time those might be added together with this command.
If you also agree I a may start this one 🤔

[2022-05-05 19:50] Adam-it commented on #3272
Yes, very good point as always 👍. updated the description 👍. Since this I think may be a very straight forward command and I already have some other work I think this is a good case for 'good first issue'. What do you think?
If you agree we may add the label and I may post a request for some kind developer to try to take this one on on twitter 🤔.

[2022-05-05 20:02] Adam-it commented on #3271
as for the flags concept we may put this issue on hold and when those will be added together with !3270 we may got back to this one. What do you think?

[2022-05-05 20:44] milanholemans opened #3278 "Invalid Teams channel ID in channel member docs"
## Issue
Some docs show an invalid Teams channel ID in their examples (00:00000000000000000000000000000000@thread.skype).

When you check the channel ID validation method, you can see that a channel id must start with `19:`. However some examples show an ID starting with `00:`.

Validation method:
https://github.com/pnp/cli-microsoft365/blob/c04ad6e6c2e75dd41d84fc6edacd17bfc14a3bee/src/utils/valid

[2022-05-05 21:01] Jwaegebaert commented on #3246
Yes, we certainly can. If we are going to apply the same logic as that of `task set`, then they look like this.

- `assigneePriority [assigneePriority]` Hint used to order items of this type in a list view. Based on [order hints](https://docs.microsoft.com/en-us/graph/api/resources/planner-order-hint-format?view=graph-rest-1.0)
- `--appliedCategories [appliedCategories]` Comma-separated categories

[2022-05-05 21:21] Jwaegebaert opened #3280 "New command: `planner task checklistitem add`"
### Usage

planner task checklistitem add

### Description

Adds a new checklist item to a Planner task.

### Options

Option | Description
-- | --
`-i, --taskId <taskId>` | ID of the task.
`-t, --title <title>` | Title of the checklist item.
`--isChecked` | Mark the checklist item as checked.

### Additional Info

Docs: [Update plannertaskdetails](https://docs.microsoft.com/en-us/graph/api/planne

[2022-05-05 21:26] Jwaegebaert opened #3281 "New command: `planner task checklistitem list`"
### Usage

planner task checklistitem list

### Description

Lists the checklist items of a Planner tasks.

### Options

Option | Description
-- | --
`-i, --taskId <taskId>` | ID of the task.

### Additional Info

Docs: [Get plannerTaskDetails](https://docs.microsoft.com/en-us/graph/api/plannertaskdetails-get?view=graph-rest-1.0&tabs=http)

[2022-05-05 21:32] Jwaegebaert opened #3282 "New command: `planner task checklistitem remove`"
### Usage

planner task checklistitem remove

### Description

Removes the checklist item from the Planner task.

### Options

Option | Description
-- | --
`-i, --id <id>` | ID of the checklist item.
`--taskId <taskId>` | ID of the task.
`--confirm` | Suppress the confirmation prompt.

### Additional Info

Docs: [Update plannertaskdetails](https://docs.microsoft.com/en-us/graph/api/plannertaskdeta

[2022-05-05 21:39] Jwaegebaert opened #3283 "New command: `planner task reference add`"
### Usage

planner task reference add

### Description

Adds a new reference to a Planner task.

### Options

Option | Description
-- | --
`-i, --taskId <taskId>` | ID of the task.
`-u, --url <url>` | URL location of the reference.
`--alias [alias]` | A name alias to describe the reference.
`--type [type]` | Used to describe the type of the reference. Types include: `PowerPoint`, `Word`, `Excel`,

[2022-05-05 21:41] Jwaegebaert opened #3284 "New command: `planner task reference list`"
### Usage

planner task reference list

### Description

Lists the references of a Planner tasks.

### Options

Option | Description
-- | --
`-i, --taskId <taskId>` | ID of the task.

### Additional Info

Docs: [Get plannerTaskDetails](https://docs.microsoft.com/en-us/graph/api/plannertaskdetails-get?view=graph-rest-1.0&tabs=http)

[2022-05-05 21:43] Jwaegebaert opened #3285 "New command: `planner task reference remove`"
### Usage

planner task reference remove

### Description

Removes the reference from the Planner task.

### Options

Option | Description
-- | --
`-u, --url [url]` | URL location of the reference.  Specify either `alias` or `url` but not both.
`--alias [alias]` | The alias of the reference.  Specify either `alias` or `url` but not both.
`--taskId <taskId>` | ID of the task.
`--confirm` | Suppress

[2022-05-06 18:07] #3220 closed

[2022-05-06 18:07] #3198 closed

[2022-05-07 19:00] nanddeepn commented on #3276
Hi @garrytrinder, @waldekmastykarz

[Get Gateways](https://docs.microsoft.com/en-us/rest/api/power-bi/gateways/get-gateways) does not return gatewayStatus, only [Get Gateway](https://docs.microsoft.com/en-us/rest/api/power-bi/gateways/get-gateway) (single) returns gatewayStatus.

[2022-05-07 19:27] Adam-it commented on #3103
@waldekmastykarz I think the option sets are added maybe we could rethink and reconsider getting back to this one 🤔?

[2022-05-07 20:16] Adam-it commented on #3281
thanks for adding this issue 👍 I think this could be a very cool addition to the CLI 😉.
I guess we already have the `task details get` command which will also, as part of it's response, give us the checklist and is actually also using the same endpoint you pointed out.🤔 Maybe when developing this we could use the already existing command [task-details-get.ts](https://github.com/pnp/cli-microsoft36

[2022-05-07 20:21] Adam-it commented on #3284
I also love this command 😍 thanks for adding this suggestion 👍. It seems very sweet and would be nice to have it to be consistent with the `add` and `remove` commands.
I only have similar command here like in the `checklistitem list` that internally when developing this we could use the already existing [task-details-get.ts](https://github.com/pnp/cli-microsoft365/blob/main/src/m365/planner/comman

[2022-05-07 20:31] Adam-it commented on #3280
nice spec 👍 TBH for me it is quite clear an good to go 🤔. Maybe @waldekmastykarz  you could double check 😉.
@Jwaegebaert were you planning on taking this one yourself?

[2022-05-07 20:35] Adam-it commented on #3282
thanks @Jwaegebaert for the nice spec 👍you rock 🤩. For me seems quite clear and I have nothing to add.
@waldekmastykarz could I also kindly ask you to double check if you agree?
@Jwaegebaert were you planning to take this one as well?

[2022-05-08 13:55] garrytrinder commented on #3276
Thanks for the update @nanddeepn 👍

I wonder if it is worth calling the GET endpoint for each gateway returned to obtain the `gatewayStatus` 🤔

For me `gatewayStatus` is a useful bit of information, whereby I can see the scenario of listing all gateways and filtering based on `gatewayStatus`, for example ```m365 pp gateway list --query '[?gatewayStatus==`Enabled`]'``` to return all enabled gateway

[2022-05-08 21:38] milanholemans commented on #3267
Willing to work on this one.

[2022-05-09 06:28] plamber commented on #3267
Hi @milanholemans,
thank you. All yours.

Cheers

[2022-05-09 17:37] waldekmastykarz commented on #3276
Adding `gatewayStatus` to `pp gateway list` after it's released wouldn't be a breaking change, so we could also break the work in two pieces to first ship list with just the information that we get from the list endpoint and in the second iteration extend it with a get call for each of the gateways.

[2022-05-09 17:38] waldekmastykarz commented on #3282
Looks good. Nothing to add.

[2022-05-09 17:39] waldekmastykarz commented on #3280
Looks good. Nothing to add 👍

[2022-05-09 17:43] waldekmastykarz commented on #3284
Good suggestion @Adam-it: it makes perfect sense to reuse the existing command to simplify development and reuse code that we already have.

[2022-05-09 17:44] waldekmastykarz commented on #3281
Great suggestion @Adam-it: makes perfect sense to reuse the code that we already have.

[2022-05-09 17:46] waldekmastykarz commented on #3103
Good catch. We need to think through how we want to give users the choice of which option to provide, eg. for each option set, we could provide a choice list and then after you selected an option, let you provide its value. Would that work? Is there a better way?

[2022-05-09 17:49] waldekmastykarz commented on #3285
Nice suggestion @Jwaegebaert! To clarify: removing a reference means retrieving the details, removing the reference in question and then submitting the updated reference object in a PATCH request, right?

[2022-05-09 17:53] waldekmastykarz commented on #3246
Let's do this!

[2022-05-09 17:53] waldekmastykarz commented on #3278
Great catch!

[2022-05-09 17:56] waldekmastykarz commented on #3270
Excellent! Let's do it! 👍

[2022-05-09 17:57] waldekmastykarz commented on #3272
Great idea! This is indeed a good first issue as it's pretty self-explanatory and has just a handful of requests (or maybe even just one, not sure if we'll need request digest).

[2022-05-09 17:58] waldekmastykarz commented on #3271
Makes sense to avoid duplicate work. Let's do that

[2022-05-09 19:02] Jwaegebaert commented on #3280
Perfect, let's open it up to the community.

[2022-05-09 19:07] Jwaegebaert commented on #3281
Mmh, good catch @Adam-it. Would we then possibly omit this command? If the user then wants to retrieve the information, that he fetches it from the `planner task get` command?

Here I mention the `task get` command because it's planned to merge `task details get` with `task get`. #3257

[2022-05-09 19:11] Jwaegebaert commented on #3246
The specs have been updated.

[2022-05-09 19:12] Jwaegebaert commented on #3282
Perfect, let's open it up to the community.

[2022-05-09 19:23] Jwaegebaert commented on #3283
Just double checked. These options aren't required in the request to link the reference.

[2022-05-09 21:42] Adam-it commented on #3281
hard to say. @pnp/cli-for-microsoft-365-maintainers  what do you think?
On one side I think it would be really sweet to have a `planner task checklistitem`: `add`, `remove`, `list` commands (kind of like CRUD operations) pretty clear 😉.
On the other hand we already have the `planner task details get` in near future just `planner task get` which already returns the full json structure, also the che

[2022-05-10 10:08] martinlingstuyl commented on #3281
I would say making a complete set (`add`, `remove`, `list`) would definitely be wise. We'll be reusing code anyway. and we can leave it up to the user to decide what command he wants to use.

[2022-05-10 13:26] garrytrinder commented on #3276
Good shout, thank you for pointing that out @waldekmastykarz 👍

@nanddeepn lets output `id` and `name` as the default properties, we will add `gatewayStatus` later.

[2022-05-10 14:31] martinlingstuyl commented on #3285
Hi @Jwaegebaert, I see your allowing an alias in the reference add issue. Is it an idea to allow one to optionally remove by alias instead of by url?

[2022-05-10 14:50] Jwaegebaert commented on #3285
Great idea @martinlingstuyl. I updated the specs with your suggestion.

[2022-05-10 15:08] martinlingstuyl commented on #3285
Fantastic @Jwaegebaert, I don't see the update though. Forgot to hit the save-button? 😁

[2022-05-10 15:20] Jwaegebaert commented on #3285
Ow, my bad!

[2022-05-10 16:29] martinlingstuyl commented on #3285
I think this one is fine like this.. any other thoughts from you @waldekmastykarz?

[2022-05-10 17:56] waldekmastykarz commented on #3285
All good! Let's do it!

[2022-05-10 17:58] waldekmastykarz commented on #3281
One additional argument for a separate list command: when we introduce md output for documentation, it won't likely include any nested properties so a separate list command would be more convenient

[2022-05-10 19:02] Adam-it commented on #3281
ok thanks for all the response. I also like the idea to have all command sets (list, add, remove) 👍.
@Jwaegebaert do you want to take this one or we should leave this one open?

[2022-05-10 19:04] Jwaegebaert commented on #3281
Good point, let's open it up to the community.

[2022-05-10 19:05] Adam-it commented on #3284
@Jwaegebaert I suggest here we take similar approach like in the checklistitem command 😉. Do you plan to take this one or we should leave this open for a friendly contributor ?

[2022-05-10 19:07] Jwaegebaert commented on #3284
Well, I was just planning on saying that this may also be opened up to the community (if everything was in order) 😄

[2022-05-10 19:10] Adam-it commented on #3284
sure thing 😉.
Once again thanks for all you effort in creating those issues 👍and all your work. You rock 🚀

[2022-05-10 21:25] garrytrinder opened #3288 "Add failed tests and coverage drop job summary to PR check workflow"
With the introduction of the Job Summaries feature in GitHub Actions it would be great if we could provide a summary of failed tests and drop of coverage when a PR is raised, increasing the quality of feedback to contributors and reviewers.

https://github.blog/2022-05-09-supercharging-github-actions-with-job-summaries/

[2022-05-10 22:07] milanholemans commented on #3268
Is it a good idea to provide an extra function `getPlanByName(name: string, groupId: string): Promise` to get a Planner plan by name?
From my experience working on Planner commands, I know that this is also used quite a lot.

[2022-05-11 07:58] martinlingstuyl commented on #3268
Hi @milanholemans, I think two, am correct? `plan-details-get` and `plan-get`.

In your opinion are there more cases to expect this to be useful?

[2022-05-11 08:05] MathijsVerbeeck commented on #3284
@waldekmastykarz I've discussed this with @Jwaegebaert and would like to help on this issue. Please note that this is my first contribution in the CLI, so it might take a while 😄

[2022-05-11 08:06] Jwaegebaert commented on #3283
I can work on this one 😄

[2022-05-11 08:11] milanholemans commented on #3268
Hi @martinlingstuyl
It could also be used in following commands:
1. planner bucket add
2. planner bucket list
3. planner bucket remove
4. planner bucket set
5. planner task add
6. planner task get
7. planner task list
8. planner task set

Basically in all commands with a `--planName` option.

[2022-05-11 08:20] martinlingstuyl commented on #3268
Ah, I see indeed, that's a lot places. I'm also seeing some differences in how the search is executed. Some are using a `$filter` and `$select` param, some without `$select` param, some are retrieving all plans and filtering them clientside. I think it would be awesome if we could refactor this to a neat and central utils function that just gets what is needed 👍. Great idea @milanholemans 🚀

Could

[2022-05-11 08:50] milanholemans commented on #3268
Of course, will do!

[2022-05-11 09:32] martinlingstuyl commented on #3268
I've updated the Specs for this issue @plamber. @milanholemans, please reference this issue when creating the issue for the `getPlanByName` function.

[2022-05-11 10:59] milanholemans opened #3290 "Create an utils class function getPlanByName"
## Description

Create a `planner` util class. It needs to contain the following function:
[code]

## Requirements
* Function retrieves a unique plan by name. Throws error when no plan or multiple plans with this name were found.
* Function should be implemented in all commands that should use it.

## Background
We implemented a lot of planner-based commands lately. Most of the time, commands shar

[2022-05-11 10:59] milanholemans commented on #3290
Willing to work on this one.

[2022-05-11 11:03] martinlingstuyl commented on #3290
Awesome Milan. I assume you mean 'add to existing util class'? instead of create an new one for every shared function. Let's change that.

[2022-05-11 11:05] martinlingstuyl commented on #3290
Let's put it on hold until the #3268 issue is through.

[2022-05-11 11:28] martinlingstuyl commented on #3268
Hi @milanholemans, I see now that you created two PR's on this issue. And also that you started with the `getPlansByGroupId` function. Great work that you have been able to do so much already. 👍👍

We strive to have 1 PR = 1 issue though. I'd like to propose the following:

1. Let's abandon your second pull request for now and let's create a new issue for adding `getPlanById` to the util class. (ju

[2022-05-11 11:32] plamber commented on #3268
Hi @martinlingstuyl, @milanholemans, @milanholemans,
I would prefer to do one single PR and issue for all these functions. It will become a mess merging code otherwise. I am going to review the PRs once this part is done.

Any objections?
Thank you

[2022-05-11 11:36] martinlingstuyl commented on #3268
I was thinking about putting the dependant issues on hold till this one would be merged. That would save some merge conflicts.

But your idea is also fine by me. It's quite a big refactoring, but milan is already at two thirds as it seems 😁.

It's your call. 👍

[2022-05-11 11:44] plamber commented on #3268
Hi,
I would love to see one issue for one pull request. This simplifies the reviews and the closure of topics.

Thank you all for your efforts,
Patrick

[2022-05-11 11:59] martinlingstuyl commented on #3268
Okay, well in that case: @milanholemans since you're at two thirds already and since you wanted to be assigned the third function as well, could you please create one pull request for all three functions?

I'll change the issue specs. 👍

[2022-05-11 12:01] milanholemans commented on #3290
Closing this one in favor of #3268 .

[2022-05-11 12:03] milanholemans commented on #3268
Ok, I closed the new issue.
So basically I should abandon my 2 existing PRs, merge them together, add the extra `getPlanByName` function and create a new single PR of this?

[2022-05-11 12:03] martinlingstuyl commented on #3290
As proposed by @plamber we'll fix everything in 1 PR and 1 issue (#3268)

[2022-05-11 12:04] martinlingstuyl commented on #3268
Yes, that would be the way forward 👍

[2022-05-11 20:33] martinlingstuyl commented on #2813
Hi guys,

It's been a while here, I already started the work some time ago.

The description of this issue feels logical to me: we are modifying aad app permissions and allowing for delegated and application scopes. So far so good.

But I'm running into some questions

- If we redirect this to the `oauth2grant` and `approleassignment` commands, we are actually modifying the Service Principal and n

[2022-05-12 20:33] robdy commented on #2988
Happy to try it once again. Turned out I needed a break to resolve some issues I had with tests 💡

[2022-05-13 02:46] plamber commented on #2988
Hi @robdy,
thank you. All yours.

Cheers

[2022-05-13 07:18] waldekmastykarz commented on #2813
That's a very good catch! Yes, `app` commands are meant to operate on the app registration, not the service principal. These commands are meant to be used in the context of development, for which updating the app reg has more sense than updating the service principal.

Is this necessary in the context of development? We could definitely introduce it, but I don't think it's relevant for this issue,

[2022-05-13 07:20] waldekmastykarz commented on #3285
Awesome! All yours 👏

[2022-05-13 07:23] waldekmastykarz commented on #3284
Awesome @MathijsVerbeeck! Looking forward to the PR, and please, don't hesitate to reach out if you have any questions.

[2022-05-13 08:29] robdy commented on #2993
@waldekmastykarz there's still this open point:

Another consideration: `mailboxId` will work with both type of values (`id` and `UserPrincipalName`) - should we clarify that in the specification or it's enough to mention that in the command documentation?

[2022-05-13 08:40] estruyf opened #3297 "Enhancement: Provide a markdown output option for the m365 spfx doctor command"
### Usage

m365 spfx doctor -o md

### Description

Like the project doctor command, it would be handy to have the same markdown option available on the spfx doctor command.

### Options

Option | Description
-- | --
`-o, --output <output>` | `text` or `markdown`

### Additional Info

_No response_

[2022-05-13 09:20] #3237 closed

[2022-05-13 12:13] arjunumenon commented on #3297
Thanks @estruyf for the suggestion. It is a great suggestion and would definitely be invaluable if you want to know the SPFx diagnostics generated in a md file.
We do have an enhancement issue #2908 to bring in a new Markdown (.md) output format for all the commands. That being the case, once we have that completed, this particular enhancement request would also be taken care of.
I am assuming tha

[2022-05-13 14:14] arjunumenon opened #3298 "New command: Create guest user in the tenant"
### Usage

m365 aad user guest add

### Description

A Command to create guest user in the Tenant

### Options

Option | Description
-- | --
`--emailAddress <emailAddress>` | Email address of the Guest User
`--displayName [displayName]` | Display name of the Guest User
`--sendInvitationMessage` | Specify if you want to send invitation message while inviting the Guest user. If not specified, email

[2022-05-13 14:17] arjunumenon commented on #3298
Hello @pnp/cli-for-microsoft-365-maintainers  - Any suggestions to the spec for creating the guest user.

[2022-05-13 14:28] martinlingstuyl commented on #3298
What about extra optional properties like `firstName`, `lastName` and `personalMessage` (in case `sendInvitationMessage` is true?)

[2022-05-13 14:59] arjunumenon commented on #3298
As of now in the [InvitationObject ](https://docs.microsoft.com/en-us/graph/api/resources/invitation?view=graph-rest-1.0#properties)there are no properties available for `firstname`, `lastname` etc.
But `personalMessage` option is something which could be added along with the options. Nice suggestion 👍.

[2022-05-13 17:47] waldekmastykarz commented on #3298
Great suggestion! Shall we change `sendInvitationMessage` to a flag as we don't need an explicit `false` on it? Also, I noticed it's included twice in the list of options: is there a reason for it?

[2022-05-13 17:52] waldekmastykarz commented on #3297
Great suggestion @estruyf! This case is a bit different @arjunumenon, because we're returning custom output rather than a structured data object. I'd suggest that we handle it separately because it could be an edge case for #2908 that's meant to covered standard data retrieved from API.

[2022-05-13 17:59] waldekmastykarz commented on #2993
Just to check if I understand it correctly: you can pass to the API either the user ID or their UPN and that allows us to get the message? If so, then it's great! We only need to find the right name for this option, something like `user` or `userIdentity` to communicate that we allow multiple values. Alternatively we can introduce two options `userId` and `userPrincipalName` and ask user to specif

[2022-05-13 20:47] Adam-it commented on #3298
great idea 👍
I was wondering if it is also possible to include those properties from invitation object as well 👉https://docs.microsoft.com/en-us/graph/api/resources/invitation?view=graph-rest-1.0
![image](https://user-images.githubusercontent.com/58668583/168387060-9e96ddd9-9368-4e90-a09d-b7f759391305.png)

what do you think 🤔?

[2022-05-13 22:37] Adam-it opened #3300 "New command: 🔐 spo list roleassignment add"
### Usage

m365 spo list roleassignment add [options]

### Description

adds a role assignment to list permissions

### Options

Option | Description
-- | --
`-u, --webUrl <webUrl>` |  URL of the site where the list is located
`-i, --listId [listId]` |  ID of the list. Specify either listId, listTitle or listUrl but not multiple.
`-t, --listTitle [listTitle]` |  Title of the list. Specify either l

[2022-05-13 23:45] #2940 closed

[2022-05-13 23:45] #3226 closed

[2022-05-13 23:50] #2462 closed

[2022-05-14 00:44] #3278 closed

[2022-05-14 01:31] #3265 closed

[2022-05-14 15:24] amirmsai opened #3301 "All sites in Tenant"
### Usage

get site

### Description

get all sites from Tenant  like the command  "Get-PnPTenantSite"

### Options

Option | Description
-- | --
`-i, --teamId <teamId>` | The Id of the Microsoft Team
`-r, --role [role]` | Filter the results to only users with the given role: `Owner` or `Member`.

### Additional Info

Hi all,
thanks a lot for this script.
Is there any possibility to return all sit

[2022-05-14 18:06] #3199 closed

[2022-05-14 18:06] #3238 closed

[2022-05-14 18:09] waldekmastykarz commented on #3301
We already support this functionality through `spo site list` and `spo site classic list`. Is there something you're missing in these commands?

[2022-05-14 18:20] waldekmastykarz commented on #3298
`inviteRedirectUrl` is required so it seems like something we need to have. `inviteRedeemUrl` is read-only so I'm not sure if we can do anything with it. What would be the use case for setting the `status` (assuming that it's even possible)?

[2022-05-14 18:33] amirmsai commented on #3301
@waldekmastykarz  with both commands its not possible to return sites where permission does not exist.
I use Admin Tenant but i cannot return sites (communication) where the admin don't have any permission.

[2022-05-14 21:10] Adam-it commented on #3298
yes.. I guess from the marked params only `inviteRedirectUrl` makes sense 🙂👍

[2022-05-15 13:00] #3268 closed

[2022-05-15 16:15] milanholemans commented on #3301
When using application permissions with `spo site list` I can confirm that **all** sites are returned. Just tested it to be sure.

[2022-05-15 16:23] amirmsai commented on #3301
@milanholemans the goal is to use only delegation permissions

[2022-05-15 20:05] milanholemans commented on #3077
I think this issue is now covered by #3267 .

[2022-05-15 20:08] milanholemans commented on #3076
I think this issue is covered when #3267 completes.

[2022-05-15 20:08] milanholemans commented on #3074
I think this issue is covered when #3267 completes.

[2022-05-15 20:28] milanholemans commented on #3105
Willing to work on this one.
Is there a possibility to test this?

[2022-05-15 21:23] martinlingstuyl commented on #3105
You're too fast @milanholemans. Thanks for willing to work on this.👌 we'll review your pull request asap.

[2022-05-15 22:00] martinlingstuyl commented on #3301
@amirmsai, as far as I can see the command `spo site classic list` is most like `Get-PnPTenantSite`. I just tested it to be sure, but it does list all sites in delegated mode, you need to have access to the SharePoint Admin section for it to work.

`spo site list` also requires access to the admin, but only retrieves modern sites.

Maybe the word 'classic' is a bit confusing...

Could you try that

[2022-05-16 04:09] plamber commented on #3077
Thank you. This is true. We can close this issue

[2022-05-16 04:09] #3077 closed

[2022-05-16 04:10] plamber commented on #3076
Thank you. Closing the issue

[2022-05-16 04:10] #3076 closed

[2022-05-16 04:10] plamber commented on #3074
Thank you. Closing the issue

[2022-05-16 04:10] #3074 closed

[2022-05-16 07:17] arjunumenon commented on #3298
Thanks for the review on the specs.

Have updated  `sendInvitationMessage` to be a flag which make sense rather than having a boolean one 👍. Duplicate options was because of a "copy-paste" error. My bad 🤦‍♂️.
Specs have been updated

Like commented by Waldek rest of the options seems to be either Read-only or not applicable and hence have avoided those.

Making the issue available to be picked up.

[2022-05-16 07:32] arjunumenon commented on #3297
Thanks Waldek for the clarification.

Just a question on the implementation though -
Assuming  we have completed the implementation of md file output for all the commands, and in this command when the user explicitly specifies output to md, it will not be respecting the default output command handling, but would formatting the output explicitly on this command implementation  and would be returnin

[2022-05-16 10:37] MathijsVerbeeck opened #3305 "New command: spo eventreceiver list"
### Usage

spo eventreceiver list [options]

### Description

Lists all the event receivers attached to the web or list (if title filled in)

### Options

Option | Description
-- | --
`-u, --webUrl <webUrl>` | The URL of the web for which to retrieve the event receivers.
`--listTitle [listTitle]` | The title of the list for which to retrieve the event receivers, _if the event receivers should be r

[2022-05-16 10:46] MathijsVerbeeck opened #3306 "New command: spo eventreceiver add"
### Usage

m365 spo eventreceiver add [options]

### Description

Adds an event receiver to the web / list

### Options

Option | Description
-- | --
`--webUrl <webUrl>` | The URL of the web for which to create the event receiver.
`--listTitle [listTitle]` | The title of the list for which to create the event receiver, _if the event receiver should be registered on a list_. Specify either `listTit

[2022-05-16 10:48] MathijsVerbeeck opened #3307 "New command: spo eventreceiver remove"
### Usage

spo eventreceiver remove [options]

### Description

This command will remove an event receiver from a list or web

### Options

Option | Description
-- | --
`-u, --webUrl <webUrl>` | The URL of the web of which to remove the event receiver.
`--listTitle [listTitle]` | The title of the list of which to remove the event receiver, _if the event receiver should be removed from a list_. Spe

[2022-05-16 10:50] MathijsVerbeeck opened #3308 "New command: spo eventreceiver get"
### Usage

spo eventreceiver get [options]

### Description

This command will retrieve the details of a specific event receiver.

### Options

Option | Description
-- | --
`-u, --webUrl <webUrl>` | The URL of the web for which to retrieve the event receiver.
`--listTitle [listTitle]` | The title of the list of which to retrieve the event receiver, _if the event receiver should be retrieved from a

[2022-05-16 11:21] milanholemans commented on #3075
I think this issue is covered when #3267 completes.

[2022-05-16 11:22] milanholemans commented on #3073
I think this issue is covered when #3267 completes.

[2022-05-16 11:27] milanholemans commented on #3053
If I'm not mistaken, I think this issue is covered when #3267 completes right?

[2022-05-16 14:10] plamber commented on #3053
Thank you. This topic is closed

[2022-05-16 14:10] #3053 closed, assigned to Abderahman88

[2022-05-16 14:10] #3073 closed

[2022-05-16 14:10] plamber commented on #3075
Thank you. This topic is closed

[2022-05-16 14:10] #3075 closed

[2022-05-16 17:11] gavdgavd opened #3309 "Bug report: "spo field list" is not working"
### Description

The "spo field list" command is not working (at all)

### Steps to reproduce

01 - Create a SharePoint Site Collection
02 - Create a List in the Site Collection
03 - Login using the CLI (and PowerShell):
         m365 login --authType password --userName "user@domain.onmicrosoft.com" --password "xxxx"
04 - Run the following command:
        m365 spo field list --webUrl https://dom

[2022-05-16 18:38] martinlingstuyl commented on #3309
I can confirm this is indeed the case. Thanks for reporting it @gavdgavd! We'll be looking into it ASAP

[2022-05-16 18:52] martinlingstuyl commented on #3309
Hi @gavdgavd, I checked again... I see you're using version 5.2. The field list command was added in version 5.3.  You can upgrade to that version and it will fix the issue..

[2022-05-16 18:52] #3309 closed

[2022-05-16 19:10] gavdgavd commented on #3309
Hi Martin. Thanks for the speedy response, much appreciated. I see as well that 5.3 is announced in the Release notes (https://pnp.github.io/cli-microsoft365/about/release-notes/), but not yet in GitHub (https://github.com/pnp/cli-microsoft365/tags). Probably it is not yet published because I cannot install (yet) the new release. But that is not a problem at all, I can wait till the new version is

[2022-05-16 19:18] martinlingstuyl commented on #3309
A minor point 🤣.

You can install the beta version though, using `npm install -g @pnp/cli-microsoft365@next`.

Happy coding!

[2022-05-16 19:22] martinlingstuyl commented on #3305
Thanks for the suggestion @MathijsVerbeeck. 🚀 I like the idea.

Please update the specs so it's clear that the optional list options are mutually exclusive.

Any @pnp/cli-for-microsoft-365-maintainers  with ideas about this?

[2022-05-16 19:24] martinlingstuyl commented on #3308
Thanks for the suggestion @MathijsVerbeeck. 🚀

Please update the specs so it's clear that the optional list options are mutually exclusive.

Any @pnp/cli-for-microsoft-365-maintainers  with ideas about this?

[2022-05-16 19:26] martinlingstuyl commented on #3307
Thanks for the suggestion @MathijsVerbeeck. 🚀 I like the idea.

Please update the specs so it's clear that the optional list options are mutually exclusive.
Also, please rename it to `spo eventreceiver remove` to align it with the verbs we use.
And please add a `---confirm` option for suppressing the confirmation prompt.

Any @pnp/cli-for-microsoft-365-maintainers  with ideas about this?

[2022-05-16 19:32] martinlingstuyl commented on #3306
Thanks for the suggestion @MathijsVerbeeck. 🚀
Any https://github.com/orgs/pnp/teams/cli-for-microsoft-365-maintainers with ideas about this?

[2022-05-16 19:55] MathijsVerbeeck commented on #3307
@martinlingstuyl Thanks for the feedback. I've updated the options.

[2022-05-16 19:55] MathijsVerbeeck commented on #3308
@martinlingstuyl Thanks for the feedback. I've updated the options.

[2022-05-16 19:56] MathijsVerbeeck commented on #3305
@martinlingstuyl Thanks for the feedback. I've updated the options.

[2022-05-16 20:11] martinlingstuyl commented on #2813
I completely missed your reply @waldekmastykarz  :-)

[2022-05-16 20:23] Adam-it opened #3310 "Bug report: wrong file title in docs"
### Description

hi all,
I have a script that checks the *.md files of this repo for snippets extensions and I noticed two simple mistakes we have

👉 https://github.com/pnp/cli-microsoft365/blob/main/docs/docs/cmd/spo/userprofile/userprofile-get.md
here in the title it should be get not set
![image](https://user-images.githubusercontent.com/58668583/168675917-ae238691-e0c1-4c1d-8eaf-493fdfde45fc.p

[2022-05-16 20:48] martinlingstuyl commented on #2813
It was hard not to miss it 😁 Let's leave the adminconsent for now. I agree with you that's less important.

I'd like to propose another direction of thought:
- Let's create a series of `appregistration` commands. Things like:
`aad appregistration list`
`aad appregistration get`
`aad appregistration permission add --delegatedPermissions ... --applicationPermissions ...`
`aad appregistration permiss

[2022-05-16 21:22] martinlingstuyl commented on #3307
Oh, and What about adding a --scope option? (Site/Web)

[2022-05-16 21:25] MathijsVerbeeck commented on #3307
@martinlingstuyl  afaik a remote event receiver can only be set on Web level (/_api/web('webUrl')/eventreceivers) and not on Site level.

[2022-05-16 21:33] Jwaegebaert commented on #3307
I also don't think we should necessarily include a scope option. If the user only uses a `webUrl` we can assume it is for web level. Same vice versa. When they pass a `webUrl` and a `listTitle` for instance, we can assume it is for list level.

[2022-05-16 21:34] martinlingstuyl commented on #3301
Hi @amirmsai, assuming this will solve your question, I'm closing this issue down. Happy coding! 🤖

[2022-05-16 21:34] #3301 closed

[2022-05-16 21:43] Adam-it commented on #3306
@MathijsVerbeeck thanks for this awesome suggestion 👍 your rock 🤩. Here are my comments/questions/ideas/opinion/(other similar)🤔
1. were you planning on using the `/_api/web('webUrl')/eventreceivers)` post rest endpoint to achieve this ?
2. also TBH I think we could divide this into two commands (one for web and separate for list) 🤔. So I would suggest we add something like `m365 spo web eventrece

[2022-05-16 21:47] Adam-it commented on #3307
@MathijsVerbeeck thanks for this great suggestion 🤩
similar to `eventreceiver add` issue here I was also thinking we may split this into two commands (one for web other for list) like:
- `spo web eventreceiver remove`
- `spo list eventreceiver remove`
That way we may avoid resolving the 'scope problem' in the single command. The command name is self descriptive and shows at what level (scope) we p

[2022-05-16 21:47] martinlingstuyl commented on #3307
You do have Site / Web scope @MathijsVerbeeck. Check [this link](https://docs.microsoft.com/en-us/sharepoint/dev/schema/receivers-element-event#elements-and-attributes)

This scope is (for example) relevant for event receiver types like `SiteDeleting`. (See [this full list](https://docs.microsoft.com/en-us/previous-versions/office/sharepoint-csom/jj167297(v=office.15)))

[2022-05-16 21:49] Adam-it commented on #3308
@MathijsVerbeeck thanks for this command suggestion as well 👍.
I guess it will be no surprise if here I also suggest we divide this into two commands 😉. One for web and other for list 🙂
Have a great day 👍

[2022-05-16 21:51] martinlingstuyl commented on #3307
I like the idea @Adam-it. Don't you think though that that would 'spread' the eventreceiver commands too much? Bundling them would be better for usability in my opinion (for example when reading the docs.)

[2022-05-16 22:05] MathijsVerbeeck commented on #3307
@Adam-it Thanks for the feedback. I liked to keep this "compact", because the code would basically be the same accross the 2 commands, except that we would get a list on which we would add the Event Receivers, that's why I kept it in one command.

@martinlingstuyl I was unaware of that. I will change the options and add a "--scope" parameter. Thanks for enlightening me about this.

[2022-05-16 22:36] MathijsVerbeeck commented on #3306
@Adam-it Thanks for the feedback.
1. Correct. I was going to use this endpoint (Post for creating).
2. I thought that it would be handier to have it all in one space, and just check what options are filled when the command has been called. Otherwise we would have a lot of duplicate code, with just a seperate URL being called (_api/web()/eventreceivers and _api/web('webUrl')/lists('listTitle')/even

[2022-05-16 23:21] Adam-it commented on #3307
@martinlingstuyl @MathijsVerbeeck I totally agree my approach would 'spread' the code and in some cases would lead to code duplications 😉. In the end I think how we code is one thing (important for sure) but what's most important is how it will be easier/nicer/better for the user that just uses CLI commands (not actually cares about the code behind it).
TBH I am also not sure what is better for th

[2022-05-17 09:07] MathijsVerbeeck commented on #3306
@martinlingstuyl Now I see that we have a duplicate option -u (webUrl and url). Is this supposed to be like this?

[2022-05-17 09:14] martinlingstuyl commented on #3306
Hi @MathijsVerbeeck, good catch!
Typically, the short option refers to the command noun. In this case we should apply the shorts to the eventreceiver object that we are creating. So use the -u for the event receiver url and not for the webUrl option.

[2022-05-17 09:46] MathijsVerbeeck commented on #3306
@martinlingstuyl I've updated the Options for every issue. Could you have a look?

[2022-05-17 14:12] waldekmastykarz commented on #3307
I'd opt for not splitting into separate commands and sticking to the current spec. See [my comment](https://github.com/pnp/cli-microsoft365/issues/3306#issuecomment-1128919614) for more info

[2022-05-17 14:22] MathijsVerbeeck commented on #3308
@waldekmastykarz I've changed the option to optional.

[2022-05-17 14:23] MathijsVerbeeck commented on #3307
@waldekmastykarz I could add that option. However, I do believe that it is possible to have multiple event receivers with the same name, but a different event type. So we should return an error if multiple matches are found.

[2022-05-17 14:49] martinlingstuyl commented on #3307
That's fine 👍, if you find multiple event receivers, the user can be asked to choose one.

[2022-05-17 14:50] martinlingstuyl commented on #3306
Ok, so apparently no other points arise, let's open it up!

[2022-05-17 14:51] martinlingstuyl commented on #3305
Ok, so let's open this up! Thanks for requesting it @MathijsVerbeeck 🎉

[2022-05-17 14:54] martinlingstuyl commented on #3308
Let's open this one up as well!

[2022-05-17 14:55] martinlingstuyl commented on #3305
That's great @MathijsVerbeeck, knock yourself out 🤣👍

[2022-05-17 14:56] martinlingstuyl commented on #3305
@MathijsVerbeeck, I'm seeing a small difference betrween the commands all of a sudden: `eventreceivers` plural vs `eventreceiver` singular.

Let's keep all nouns singular. Changed it...

[2022-05-17 14:59] martinlingstuyl commented on #3307
I've updated it @MathijsVerbeeck. Let's open it up for contribution.

[2022-05-17 15:57] waldekmastykarz commented on #3297
Correct, the command would use its own formatting logic and disregard the default logic that's used by all other commands.

[2022-05-17 16:00] akashkarda commented on #3281
Can I work on this one?

[2022-05-17 18:49] Adam-it commented on #3300
@pnp/cli-for-microsoft-365-maintainers any comments or second opinion on this one 🙂?

[2022-05-17 19:00] martinlingstuyl commented on #3300
Hi @Adam-it, this will be super helpful functionality I think. I'd like it to be a little easier though to add permissions for a user or group. What if we added the following options:
'--upn' --> enter upn/email of user to assign role to.
'--roleDefinition' --> enter the name of a role definition, like 'Contribute', 'Read', etc
'--groupName' --> enter group name of Azure AD or SharePoint group.

[2022-05-17 21:47] milanholemans commented on #3280
Willing to work on this one.

[2022-05-17 21:50] Jwaegebaert commented on #3246
I can start on this one

[2022-05-17 22:27] milanholemans commented on #3280
For this command I do have to generate GUID to create a checklist item. I can't seem to find any existing function that is capable of doing this. Do you know whether we already have a function that generates new GUIDs? If not, I think it's best to centralize it in a utils function. However it's unclear in which utils class we should put this.

[2022-05-18 07:30] martinlingstuyl commented on #3280
Fantastic @milanholemans, assigned and ready to roll!

[2022-05-18 07:31] martinlingstuyl commented on #3246
Fantastic @Jwaegebaert, we'll review your PR asap!

[2022-05-18 11:40] waldekmastykarz commented on #2813
Personally, I find `appregistration` overly verbose which is why initially we went with the shorter version `app`. For working with service principals, which is less common than working with app registrations, we went with `serviceprincipal` - just to explicitly depict what the command is meant for. If we feel that `app` is too ambiguous between app registration and service principal, it's open fo

[2022-05-18 12:23] martinlingstuyl opened #3316 "Bug report: App Open link in documentation throws 404"
### Description

The `aad app open` command in the documentation throws a 404. This is because it is in the wrong place. It should be in `app open`.

### Steps to reproduce

Look at the site:
https://pnp.github.io/cli-microsoft365/cmd/app/app-open/

### Expected results

The link should be in the right place.

### Actual results

The link is not in the right place

### Diagnostics

_No response_

[2022-05-18 18:01] #3115 closed

[2022-05-18 18:13] waldekmastykarz commented on #2813
Let's try to clean up the thread because we're discussing many different things here and it's hard to follow what's what and what's relevant specifically to this issue vs. what's a different topic 😊

If the original assumptions, of us being able to reuse code from the existing commands, are incorrect, then let's adjust the spec and add missing something. For renaming/aligning commands, let's start

[2022-05-18 22:43] MathijsVerbeeck commented on #3308
I would like to work on this one if possible.

[2022-05-19 08:42] garrytrinder commented on #1834
Thank you @milanholemans its all yours!

[2022-05-19 13:19] milanholemans commented on #1834
If you guys agree, I'll  add an extra option called `--viewId`. This way it works the same as `--listId` and `--listTitle`.

[2022-05-19 14:46] martinlingstuyl commented on #1834
Great Idea @milanholemans!

[2022-05-19 14:55] arjunumenon commented on #2170
That is a nice catch @milanholemans. It is indeed a duplicate. Will be closing it from our end

[2022-05-19 14:55] #2170 closed

[2022-05-19 17:53] #3276 closed

[2022-05-19 17:53] #3254 closed

[2022-05-19 17:53] #3316 closed

[2022-05-19 18:01] waldekmastykarz commented on #2790
Resetting as available due to lack of response

[2022-05-19 21:46] MathijsVerbeeck commented on #1763
I would like to work on this one 😃

[2022-05-19 22:35] milanholemans commented on #1834
Got some suggestions

The `_api/web/lists/GetByTitle('...')/views` endpoint didn't work pretty well for me. Views were created but are invisible in the view picker. At the moment I'm using `_api/web/lists/GetByTitle('...')/views/add` this endpoint does work as expected.
Because of this, I do have to drop the option `--orderedView` since it is not supported. Instead I can add a new option `--rowLim

[2022-05-20 03:48] nanddeepn commented on #2790
Can I work on this?

[2022-05-20 06:39] vipulkelkar commented on #3260
@waldekmastykarz would the fix involve trying to fetch the token and show the status accordingly ? I don't know/couldn't find a way to check the expiry of a refresh token.

[2022-05-20 08:34] paul-gladoon opened #3321 "Bug report: Use CLI programmatically -> "login --authType password" -> Command not found"
### Description

I want to execute the "login" command programmatically, with --authType password - unfortunately, I get a message that the command was not found.

### Steps to reproduce

[code]

### Expected results

Successful login

### Actual results

Command not found: login --authType password --userName XXX --password XXX

### Diagnostics

No output

### CLI for Microsoft 365 version

5.2.0

[2022-05-20 14:31] martinlingstuyl commented on #2790
Of course, please go ahead!

[2022-05-20 14:36] martinlingstuyl commented on #1492
Opening this up again as the two commands lead to confusion.

[2022-05-20 14:43] martinlingstuyl commented on #3182
I've opened up an earlier issue #1492, that we created about merging to two commands into one that lists all sites. An enthousiastic contributor willing to pick it up?!

[2022-05-20 20:31] martinlingstuyl commented on #1834
Sounds great @milanholemans, I checked the pnp PowerShell version, I think they use the same API.

We'll update the specs for you. Go right ahead!

Seeing Add-PnPView I'm also wondering why we don't include a camlQuery option as well. @pnp/cli-for-microsoft-365-maintainers thoughts on that? Seems we're missing out if we create a view without allowing it to be filtered.

[2022-05-20 20:37] milanholemans commented on #1834
@martinlingstuyl do you mean the `--viewQuery` option?
There's a separate issue made for this #1862, but I can implement this right away if you want.

[2022-05-20 21:07] milanholemans commented on #2008
I'm willing to work on this one.

[2022-05-20 21:30] milanholemans commented on #1885
Seems like this is a duplicate issue of #2910.

[2022-05-21 05:06] martinlingstuyl commented on #1834
AH, good catch! 😋 no, let's continue as planned. Let's implement it separately

[2022-05-21 07:45] #3284 closed

[2022-05-21 07:45] #2008 closed

[2022-05-21 07:45] #3283 closed

[2022-05-21 07:45] #3310 closed

[2022-05-21 07:51] plamber commented on #1885
Thank you @milanholemans. Closing the issue

[2022-05-21 07:51] #1885 closed

[2022-05-21 09:06] vipulkelkar commented on #3153
Few thoughts below. I will update the specs based on the inputs

- If  `--manifest` is specified, the other options cannot be provided since we consider manifest as desired state. The command will try to find the app using the `id` provided in manifest.
- There can be multiple identifier URIs (#3035) Should we extend the `--uri` parameter to accept a comma-separated list as part of this issue ?
-

[2022-05-21 10:05] martinlingstuyl opened #3324 "Bug report: `planner task get` throws error when executed without `--id` and `--title`"
### Description

When executing `planner task get` an `--id` or `--title` option is required. However, it is possible to execute the command without them. This should not be possible, it should throw a validation error. But it doesn't. It throws a (to the user) unintelligible error.

### Steps to reproduce

Execute `m365 planner task get`

or execute `m365 planner task get --bucketId 'someid' --ow

[2022-05-21 13:00] nanddeepn commented on #3324
Hi @martinlingstuyl
Can I work on this?

[2022-05-21 13:01] martinlingstuyl commented on #3324
Of course, please do! Thanks for all the work @nanddeepn 🔥

[2022-05-21 16:55] martinlingstuyl commented on #3116
This can be closed now

[2022-05-21 16:55] #3116 closed

[2022-05-21 17:48] waldekmastykarz commented on #3153
Yes, we should extend validation to check for this

Good point! Let's do it in a separate issue as it's not related to the manifest itself.

I'm working on optionSets separately in #3218 so we can leave them be for now

[2022-05-21 17:51] waldekmastykarz commented on #1834
Awesome spec @milanholemans, nothing to add 🚀

[2022-05-21 17:55] waldekmastykarz commented on #3321
Sorry for the trouble, and I appreciate you reaching out to us. We'll see if we can reproduce it asap, and we'll get back to you as soon as we know more.

[2022-05-21 17:59] waldekmastykarz commented on #3260
Unfortunately, there's no way to check the validity of a refresh token. 90 days is default, but organization can configure it to be different if I'm not mistaken. One improvement that we could consider, is to extend `m365 status` so that it always receives a fresh token to verify that the user is still connected and the connection is valid, rather than that we connected in the past and have connec

[2022-05-22 05:14] nanddeepn commented on #3324
Hi @martinlingstuyl, @waldekmastykarz, @garrytrinder

This command `planner task get` is currently using beta endpoint `/beta/planner/tasks/{id}` to enrich the results with the `priority` field.

The `priority` field is also available in `v1.0`.

Should we consider upgrading this endpoint from `beta` to `v1.0`?
Please suggest.

[2022-05-22 06:25] plamber commented on #3324
Hi @nanddeepn,
this would definitely make sense.

Please proceed with the suggested changes.

br,
Patrick

[2022-05-22 06:42] plamber commented on #2439
#2462 is implemented. The activities can proceed

[2022-05-22 07:05] plamber commented on #3056
Hi @pnp/cli-for-microsoft-365-maintainers,
I worked today on the solution and noticed the following challenges.

I would rename @me.id and @me.userName to @meId and @meUserName. The main reason is when working with the command line. If we use the dot in the name, we must use quotes around the string. By keeping @meId or @meUserName, this is not required.

I would love to replace the values before

[2022-05-22 07:22] waldekmastykarz commented on #3321
Looking closer at your code, you're passing the command and its arguments as a string. If you look at the [documentation of the `executeCommand` function](https://pnp.github.io/cli-microsoft365/user-guide/use-cli-api/), you can see that the first argument should contain only the command name, and the second argument is an object of key value pairs with options.

[2022-05-22 07:46] #1834 closed

[2022-05-22 07:46] #2790 closed

[2022-05-22 07:46] #3308 closed

[2022-05-22 09:30] milanholemans commented on #1862
I'm willing to work on this one.

[2022-05-22 13:42] martinlingstuyl commented on #1862
Great! Assigned and ready to go

[2022-05-23 07:02] paul-gladoon commented on #3321
@waldekmastykarz Thank you very much for your reply, it's appreciated!

[2022-05-23 14:10] waldekmastykarz commented on #3321
My pleasure!

[2022-05-23 14:10] #3321 closed

[2022-05-23 14:12] waldekmastykarz commented on #1763
All yours! Thank you! 👏

[2022-05-23 14:14] waldekmastykarz commented on #3300
Great spec @Adam-it and awesome suggestions to make it more convenient to use @martinlingstuyl. Let's update the spec and take it from there 👏

[2022-05-23 15:33] appieschot opened #3329 "Minor improvement: add planner migration sample to planner category"
Minor improvement: add planner migration sample to planner category

[2022-05-23 15:38] martinlingstuyl commented on #3182
Great idea 👍

[2022-05-23 15:38] #3182 closed

[2022-05-23 18:00] #3239 closed

[2022-05-23 21:17] milanholemans commented on #1862
If ok, I'll rename this option to `--query`. Since we are using a `view` command I don't think we have to repeat the 'view' word. This way it's also more consistent with `--personal` and `--default` options and is it more consistent with the option naming of other commands.

[2022-05-23 21:52] Adam-it commented on #3056
I like the idea to remove the '.' and use @meid or @meusername 👍
Not sure if I full understand the second part but I think it's always good to validate first before executing more complex logic 🤔
BTW I was not aware of this @me concept 😅 We should have a sample with this and advertise it 😉 or added in the user guide in some 'tips and tricks' page 😉

[2022-05-23 21:54] Adam-it commented on #3300
@martinlingstuyl thanks for you comment. Will recheck it and update the spec 🙂. After I update it I will mark this issue as open for work 😉

[2022-05-23 22:12] milanholemans commented on #1862
Nevermind, forgot `--query` is a default CLI parameter.

[2022-05-24 09:15] milanholemans opened #3332 "Update comparison docs page"
Noticed that the [Comparison to SharePoint and Microsoft 365 PowerShell](https://pnp.github.io/cli-microsoft365/about/comparison-powershell/) page is getting a bit outdated. Some issues I found are listed below. There are probably still many other commands missing. Feel free to comment on this issue and I'll add them to the list.

### Remove
 Can't seem to find these cmdlets in the [PS docs](https

[2022-05-24 09:52] vipulkelkar commented on #3153
@waldekmastykarz  thanks. please assign this to me.
For the implementation, can we extract functions to update the app using manifest that are used in `aad app add` into a util to re-use ? We can re-factor the `app add` command as separate issue

https://github.com/pnp/cli-microsoft365/blob/de62fbe209ee4438efc4072ef5887bbc51ec0d0a/src/m365/aad/commands/app/app-add.ts#L198

https://github.com/pnp/c

[2022-05-24 10:03] vipulkelkar opened #3333 "Extend 'aad app set' command to accept multiple 'uri'"
`IdentifierUri` property of the AAD [application object](https://docs.microsoft.com/en-us/graph/api/resources/application?view=graph-rest-1.0) is a string collection and it is possible to set multiple `identifierUri` on an app  : #3035,

Based on the dicussion in #3153 ,extend the `aad app set` command's `--uri` parameter to accept comma-separated URIs

<html>
<body>

Option | Description
-- | --

[2022-05-24 10:39] appieschot commented on #3332
Yeah great point, we haven't updated it for a while as it is a manual process. Do you think it still has value? Should we invest time in bringing it up to date or drop it? I think we do also have some new planner commands that are not there yet.

[2022-05-24 10:50] waldekmastykarz commented on #3332
Great suggestion @milanholemans! Let's definitely compare to PnP.PowerShell, assuming we want to continue the effort (good point @appieschot!). Personally, I think it's good to have it, in case someone familiar with PowerShell wants/needs to use CLI for Microsoft 365, but let's see if the community sees value in it as well. Last month, the page got 86 views (that we know of) which is 0,52% of tota

[2022-05-24 10:51] waldekmastykarz commented on #3333
Great suggestion @vipulkelkar! 👏  Would you like to work on it yourself or shall we open it up for the community?

[2022-05-24 10:59] vipulkelkar commented on #3333
@waldekmastykarz  sure, i am working on the same command in another issue, can pick this one as well.

[2022-05-24 11:11] waldekmastykarz commented on #3153
Good idea! If we were to do a refactoring, I'd suggest we do it all at once so that we're sure that the refactoring works as intended.

[2022-05-24 11:15] waldekmastykarz commented on #3056
We don't have `@me` just yet. We're going to introduce it here and when we do, we'll absolutely extend our docs to show its usage.

Which part could I explain better?

[2022-05-24 11:58] plamber commented on #3056
@waldekmastykarz, do you have a suggestion where I can extend the validation for guide?

[2022-05-24 17:27] appieschot commented on #3332
As far as I am concerned the community has spoken ;-). Lets pick it up!

[2022-05-24 18:08] appieschot commented on #3260
@waldekmastykarz you cannot configure the lifetime of a refresh token (more on: https://docs.microsoft.com/en-us/azure/active-directory/develop/refresh-tokens). It is correct that the default lifetime is 90 days. However there are some cases (as pointed out in the page linked) where a refresh token can be revoked; an admin or user can revoke all their refresh tokens.

AFAIK the best implementation

[2022-05-24 22:39] milanholemans opened #3336 "New command: `planner plan remove`"
### Usage

m365 planner plan remove [options]

### Description

Removes the Microsoft Planner plan

### Options

Option | Description
-- | --
`-i, --id [id]` | ID of the plan to remove. Specify either `id` or `title` but not both.
`-t, --title [title]` | Title of the plan to remove. Specify either `id` or `title` but not both.
`--ownerGroupId [ownerGroupId]` | ID of the Group that owns the plan. S

[2022-05-25 07:57] appieschot commented on #3336
Great spec, looks to be ready to be picked up 🚀

[2022-05-25 07:58] milanholemans commented on #3336
I'm willing to work on it.

[2022-05-25 08:05] Jwaegebaert commented on #3336
It might be useful if you specify at the options `ownerGroupId` and `ownerGroupName` that they are only needed if they make use of the option `title`

[2022-05-25 08:09] appieschot commented on #2961
Updated title to reflect current state. Will execute POC on authentication options with different endpoints.

[2022-05-25 08:10] milanholemans commented on #3336
Was thinking about that too. I copied this description from other plan commands where this is not mentioned either. But I'll update the specs, thx @Jwaegebaert.

[2022-05-25 08:13] appieschot commented on #2906
So for the list view and list columns all work properly, turns out I just made a typo in escaping a column name resulting in an error.   Same for adaptive cards. they are just really complex to get the escaped json correct. Looks like it still goes wrong on `schemaXml` though.

[2022-05-25 08:15] appieschot commented on #3336
@Jwaegebaert great point!  @milanholemans would you mind creating an issue to update the docs of the other commands that as well then? That way we can keep it consistent as I assume the same implication goes for those commands?

[2022-05-25 08:16] milanholemans commented on #3336
Will do!

[2022-05-25 08:18] appieschot commented on #3152
This issue can be closed as in the latest iteration the planner details are updated with all categories in the `v1` endpoint, so no need to upgrade to `beta`. Discussion still has meaning as we might want to introduce a `--beta` flag later on.

[2022-05-25 08:18] #3152 closed

[2022-05-25 09:04] milanholemans opened #3338 "Planner documentation inconsistency"
Noticed an inconsistency in the Planner documentation. Option sets `--planId`, `--planName` and `--ownerGroupId`, `--ownerGroupName` are used in almost every Planner command.
Discussed in https://github.com/pnp/cli-microsoft365/issues/3336#issuecomment-1136923101, we noticed that in some Planner commands it's not specified when an option should be used.
`--planId` & `--planName` should be used whe

[2022-05-25 20:42] jacobsian-del opened #3339 "Bug report: Error adding spo site"
### Description

Trying to script out creation of sites in SPO, get an error when running a test command from the documentation.

### Steps to reproduce

Run the below command (taken directly from the documentation [here](https://pnp.github.io/cli-microsoft365/cmd/spo/site/site-add/)):
- `m365 spo site add --alias team1 --title "Team 1"`

### Expected results

Site is created in my tenant.

### Ac

[2022-05-25 21:44] Adam-it commented on #3339
@jacobsian-del sorry you are having trouble with the tool.
Thanks for reporting this. You rock 🤩
Will investigate it asap 👍

[2022-05-25 22:09] Adam-it commented on #3339
@jacobsian-del could you please do this additional check:
using https://developer.microsoft.com/en-us/graph/graph-explorer (and being logged in) please execute 'https://graph.microsoft.com/v1.0/sites/root?$select=webUrl' and check if you get your tenant root webUrl 🤔

[2022-05-25 22:09] Adam-it commented on #3332
@milanholemans thanks for taking this 👍
You Rock 🤩

[2022-05-26 10:29] Jwaegebaert commented on #3338
I can work on this one

[2022-05-26 11:32] Jwaegebaert opened #3340 "Remove `chatUtil.convertParticipantStringToArray` from code. Only split by comma."
## Decision
We decided that we won't introduce splitting strings by space in powershell. Instead we advise people to use quotes. The existing splitter needs to be removed.

## The Idea that sparked the discussion (for reference sake)
The idea is to refactor the `chatUtil.convertParticipantStringToArray` function to the formatting util class and rename it to `splitOptionsStringToArray`. This mainly

[2022-05-26 12:55] jacobsian-del commented on #3339
yep comes back as expected:

[code]

[2022-05-26 12:56] Jwaegebaert opened #3342 "Planner `planTitle` inconsistency"
Currently when we use a planner title to search for a plan, bucket or task we have 2 different naming conventions. Within `planner plan ...` we make use of plannerTitle, meanwhile within `planner bucket ...` and  `planner task ...` we use plannerName.

Here I propose to reform the commands `planner bucket ...` and  `planner task ...` to the naming convention of plannerTitle. This then aligns most

[2022-05-26 13:05] Jwaegebaert opened #3343 "Planner bucket missing short options"
Within Planner Bucket commands, we are missing a few short options.
They are the following :

| Command | option(s) |
|---------|----------|
| planner bucket get | `-n, --name [name]` |
| planner bucket remove |  `-i, --id [id]` and `-n, --name [name]` |
| planner bucket set |  `-n, --name [name]` |

[2022-05-26 13:15] Jwaegebaert opened #3344 "Enhancement: Combine `planner plan get` with `planner plan details get`"
Same concept as issue #3257 & #3231

Here we will be combining the commands `planner plan get` and `planner plan details get` into a single command `planner plan get`. When we look at both output models for these commands, there will be one property we have to watch out for.

`planner plan get` > PlannerPlan Model:
[code]

`planner plan details get` > PlannerPlanDetails Model:
[code]

So here I've

[2022-05-26 13:25] Jwaegebaert opened #3345 "Enhancement: extend `planner plan add` with more options"
Extend `planner plan add` with the following extra options.

Option | Description
--  | --
`--shareWithUserIds [shareWithUserIds]` | The comma-separated IDs of the users with whom you want to share the plan. Specify either `shareWithUserIds` or `shareWithUserNames` but not both.
`--shareWithUserNames [shareWithUserNames]` | The comma-separated UPNs of the users with whom you want to share the plan

[2022-05-26 13:46] Jwaegebaert opened #3346 "New command: `planner plan set`"
### Usage

planner plan set

### Description

Updates a Microsoft Planner plan

### Options

Option | Description
-- | --
`-i, --id [id]` | ID of the plan. Specify either `id` or `title` but not both.
`-t, --title [title]` | Title of the plan. Specify either `id` or `title` but not both.
`--ownerGroupId [ownerGroupId]` | ID of the group to which the plan belongs. Specify `ownerGroupId` or `ownerGr

[2022-05-26 14:08] Jwaegebaert opened #3347 "Insufficient documentation for `planner task list` when fetching all plan tasks"
The command `planner task list` contains insufficient information under the heading Options. Mainly when a user wants to retrieve all the tasks of a plan.
For planId and planName, it states that they can only use them in conjunction with bucketName. This isn't the case. If they want to retrieve all the tasks of a plan they shouldn't include bucket information. Here I propose to change the document

[2022-05-26 15:12] martinlingstuyl commented on #3347
Hi @Jwaegebaert, good catch! The docs are not really clear here indeed.
Let's fine tune what you propose though.

[2022-05-26 15:13] Jwaegebaert commented on #3347
Perfect, I will create a PR for it.

[2022-05-26 15:19] martinlingstuyl commented on #3347
What about:

Option | Description
---|---
`--planId` | ID of a plan to list the tasks of. Specify either `planId` or `planName` but not both. Use in combination with `bucketName` to retrieve tasks from a specific bucket.

[2022-05-26 15:19] Jwaegebaert commented on #3347
Of course, on what aspect would you like more fine-tuning?

[2022-05-26 15:26] Jwaegebaert commented on #3347
One more point on this, perhaps. We no longer mention that they can also use these individually to retrieve all the tasks in a plan.

[2022-05-26 15:27] Jwaegebaert commented on #3347
I don't know if this one is directly needed because at `ownerGroupId` it is already stated that it should be used with planName

[2022-05-26 18:39] martinlingstuyl commented on #3340
Wow, this is a very complete issue, thanks @Jwaegebaert!

[2022-05-26 18:40] martinlingstuyl commented on #3340
Anyone with extra ideas or views on this?

[2022-05-26 19:36] akashkarda commented on #3282
Can I work on this one?

[2022-05-26 20:16] martinlingstuyl commented on #3340
What if we rename it to 'splitOptionsStringToArray'?

[2022-05-26 21:37] Adam-it commented on #3282
sure 👍
@akashkarda thanks for you time 🙂. Assigned

[2022-05-26 21:52] Adam-it commented on #3339
I checked the functionality in the latest CLI version and seems to be working ok. Seems like the problem might be connected to some local settings 🤔. If the request using graph explorer works fine (and basically CLI uses the same) lets also ensure we are using the same account for the check.
May I ask you to restart from scratch and do the following steps:
- logout from m365 with `m365 logout` com

[2022-05-26 22:38] milanholemans commented on #3342
Maybe we should also rename the planner utility function from `getPlanByName` to `getPlanByTitle`.

https://github.com/pnp/cli-microsoft365/blob/main/src/utils/planner.ts#L45

[2022-05-27 08:22] Jwaegebaert commented on #3340
Good suggestion. I have adjusted the specs.

[2022-05-27 08:28] Jwaegebaert commented on #3347
All good for me. I've adjusted the specs to your suggestions. 😄

[2022-05-27 10:10] martinlingstuyl commented on #3340
Let's open it up!

[2022-05-27 11:10] martinlingstuyl commented on #3347
Let's open it up for contribution!

[2022-05-27 11:20] appieschot commented on #3342
Will be a breaking change and should be matched against next major release. The refactoring of the utility function could be done without impact and could be a separate issue I guess.

[2022-05-27 11:23] appieschot commented on #3345
Quick check; do we want to automatically share the group with users if the plan is linked to a group? If not we should specify that in the docs (of we do want that, we should also explain that in the docs I guess)

[2022-05-27 11:28] appieschot commented on #3342
Just remembered; it would goes in a bit against our https://github.com/pnp/cli-microsoft365.wiki/spec-checklist.md where we state

@pnp/cli-for-microsoft-365-maintainers  please advise ;-)

[2022-05-27 11:38] milanholemans commented on #3342
If we use `--planTitle` for `planner bucket ...` commands and `planner task ...` commands and `--title` for `planner plan ...` commands. I don't think there will be any violation against the spec checklist.

[2022-05-27 11:39] martinlingstuyl commented on #3342
Agree with @milanholemans:  following the naming convention we should not reuse the last noun, but we could change `planName` to `planTitle` where used:

`m365 planner plan --title sometitle`

`m365 planner task --planTitle sometitle`

Could you adjust the spec @Jwaegebaert?

[2022-05-27 12:22] alpozz opened #3348 "Bug report: Unable to get team after aad o365 teamify"
### Description

Succesfully teamified o365 group by aad o365group teamify, but unable to get the team by teams team get despite the fact that (i) team has been created and can be seen in admin portal; (ii) aad o365group get returns the team. Also cannot list all teams with teams team list.

### Steps to reproduce

Execute aad o365group teamify and then execute teams team list or teams team get.

[2022-05-27 12:28] Adam-it opened #3349 "Update comparison docs page - review PnP.PowerShell with CLI comparison"
## 🎯 Aim
The aim here would be to review and update the [Comparison to SharePoint and Microsoft 365 PowerShell](https://pnp.github.io/cli-microsoft365/about/comparison-powershell/) to align commands coming from PnP.PowerShell with latest work done/added to the CLI.

[2022-05-27 12:30] Adam-it commented on #3349
I added this issue in order to continue the awesome work started by @milanholemans in issue #3332
and review the comparison more globally

[2022-05-27 12:37] Adam-it commented on #3349
@pnp/cli-for-microsoft-365-maintainers any additional comments before I start this 🤔? For now I considered only to recheck PnP.PowerShell with CLI (this already may seem a lot to review and recheck 😋), but we may consider something more 😉

[2022-05-27 13:07] milanholemans commented on #3349
Maybe we should do a new import of all cmdlets of PnP.PowerShell docs to make our comparison page back up-to-date.

[code]

[2022-05-27 13:24] appieschot commented on #3339
@Adam-it we have a `m365 reconsent` command that allows you to make sure all permissions are in place (https://pnp.github.io/cli-microsoft365/cmd/cli/cli-reconsent/) might be a quicker way.

[2022-05-27 13:31] milanholemans commented on #3342
Maybe we could create the new options `--title` and `--planTitle` and mark `--name` and `planName` as deprecated. Then we could create a new issue to remove the deprecated properties in the next major release?

[2022-05-27 17:34] Jwaegebaert commented on #3345
Maybe we should use the description they also use within the graph documentation.

Would this help clarify things?

[2022-05-27 17:59] Jwaegebaert commented on #3342
Here we don't have to update anything special because within the commands `planner plan ...` the naming convetion is already correct. The commands listed in the specs are the ones that currently make use of `planName`.

[2022-05-27 18:01] Adam-it commented on #3339
@appieschot that is sooo cool 🤩 @jacobsian-del may I kindly ask you to check this 👍

[2022-05-27 18:02] appieschot commented on #3345
Yes that totally makes sense to me!

[2022-05-27 18:03] Jwaegebaert commented on #3342
I just updated the specs to the following suggestions.

[2022-05-27 18:14] Jwaegebaert commented on #3345
@appieschot, should we add this explanation as a remark to the documentation or possibly include it in the description of the two options?

[2022-05-27 18:36] martinlingstuyl commented on #3347
Let's get this closed asap! 😁

[2022-05-27 18:42] martinlingstuyl opened #3351 "Fix documentation typo in `planner bucket get`"
Planner bucket get contains the following option in the docs:

`-name, --name [name]`

This is incorrect. This option also does not have a short `-n`.

[2022-05-27 18:47] Jwaegebaert commented on #3351
I also fixed this one in #3341 as a small change. But I will revert it so the fix will be related to this issue 😄

[2022-05-27 19:06] martinlingstuyl opened #3353 "Fix `permission` option in `spo site apppermission add` and `set`"
The `spo site apppermission add` and `spo site apppermission set` commands contain the following description for the `--permission` option:

`Permission to site (read, write, read,write). If multiple permissions have to be granted, they have to be comma separated ex. read,write`

It seems that this is in fact incorrect. You either use `read` or `write`. The `write` permission includes the `read` p

[2022-05-27 19:06] Jwaegebaert commented on #3343
I will create a PR for this one.

[2022-05-27 19:19] martinlingstuyl commented on #3351
I've looked at yours, let's just go with that one. I'll remove mine

[2022-05-27 19:21] #3351 closed

[2022-05-27 20:29] milanholemans opened #3355 "New command: planner tenant settings list"
### Usage

m365 planner tenant settings list [options]

### Description

Returns the Microsoft Planner configuration of the tenant

### Options

None!

### Examples

List the current Planner tenant configuration

[code]

### Remarks
To use this command you must be a global admin.

After executing the command `planner tenant settings set`, it can take some time for all changes to propagate across t

[2022-05-27 20:48] milanholemans opened #3356 "New command: planner tenant settings set"
### Usage

m365 planner tenant settings set [options]

### Description

Sets Microsoft Planner configuration of the tenant

### Options

Option | Description
-- | --
`--isPlannerAllowed [isPlannerAllowed` | Configure whether Planner should be enabled on the tenant.
`--allowCalendarSharing [allowCalendarSharing]` | Configure whether Outlook calendar sync is enabled.
`--allowTenantMoveWithDataLoss [

[2022-05-27 21:32] milanholemans opened #3357 "Bug report: `listTitle` option with single quote results in error"
### Description

First of all, I do not know if this has been discussed yet or it was intentionally made like this.

The problem occurs with all (as far as I checked) spo commands with a `--listTitle` option. When you specify a list title that contains a single quote, an error is thrown. For example when I want to retrieve all fields of a list called `Parker's Library`, I do get following error me

[2022-05-27 22:51] Adam-it commented on #3349
thanks @milanholemans for the suggestion 👍
yes that's what I was going to aim. To go over every PnP PowerShell command and try to find it's CLI equivalent/'s.

[2022-05-28 10:14] garrytrinder commented on #3339
@jacobsian-del are you working behind a corporate proxy?

I have seen this issue before when using Azure CLI, which is caused by the proxy intercepting the CLI's HTTPS traffic, decrypting and re-encrypting it with its own certificate.

We do have an open issue related to Axios, which we use to execute requests from the CLI, not supporting custom certificate CAs, I think these maybe related 👉 https

[2022-05-28 11:39] garrytrinder commented on #3357
Thank you for raising this report @milanholemans

At the moment, yes, you will need to handle the escaping of characters before you pass them to the CLI and adding a remark to the docs is a good idea.

I wonder though whether this is something we can easily check for common issues like this and modify the request url centrally in the request class before it is executed, so we don't pass this compl

[2022-05-28 14:30] martinlingstuyl commented on #3357
Yeah, I think it would be better if we should handle this in the CLI. It's a simple enough change. I think the rest is all handled by the `encodeURIComponent` function.

[2022-05-28 14:38] martinlingstuyl commented on #3348
Hi @alpozz, is this still an issue if you retry `teams team get` today? It seems to me this might be a timing issue with some slow background processes. Additionally I just tried this on my dev tenant and it worked on my end. Though it must be said that was in the beta version of the cli (5.3)

[2022-05-28 15:39] Jwaegebaert commented on #3342
If all is in orde, I could pick this one up.

[2022-05-28 17:43] waldekmastykarz commented on #3056
We've got it here: https://github.com/pnp/cli-microsoft365/blob/de62fbe209ee4438efc4072ef5887bbc51ec0d0a/src/utils/validation.ts#L8-L12

[2022-05-28 17:46] waldekmastykarz commented on #3260
The trick is that currently `m365 status` uses information about the token to display the status, without requesting a new token. So if we're to follow your suggestion, we should ignore the token and always try to get a new use when calling `m365 status`. That way we can verify that we're still connected. If that fails, then we know the connection expired and we can reset the connection status (ba

[2022-05-28 17:47] waldekmastykarz commented on #2906
Even when you pass contents from a file?

[2022-05-28 17:58] waldekmastykarz commented on #3342
Like @milanholemans suggested, let's introduce new set of options and in the docs mention that the old options are deprecated. To ensure that we don't lose track of it, let's also create a new issue linked to v6 where we'll remove those deprecated options. Awesome work everyone! 👏

[2022-05-28 18:02] waldekmastykarz commented on #3357
+1 to handle this in the CLI. We shouldn't bother users with our internals and they should be able to "just" pass the list title and assume all will be working as intended. I'll mark this as a bug as it's an undesired behavior.

[2022-05-28 20:31] Adam-it commented on #3300
@martinlingstuyl I updated the spec. May I kindly ask you to have a double check on this 🙏 and if you feel its ok open this to the community ... I hope I will do it 😉

[2022-05-28 20:44] Adam-it commented on #3346
seems well prepared. Good job 👍
@Jwaegebaert were you planning on taking this or should we open it for the community ?

[2022-05-28 20:46] Jwaegebaert commented on #3346
Thanks @Adam-it , let's open it up.

[2022-05-28 22:59] milanholemans opened #3358 "`spo listitem roleinheritance break` has incorrect option description formatting"
The option `--listTitle` of the command `spo listitem roleinheritance break` does not start on a new line.
<https://pnp.github.io/cli-microsoft365/cmd/spo/listitem/listitem-roleinheritance-break/#options>

[2022-05-28 23:38] milanholemans opened #3361 "`spo listitem list` has incorrect options to specify list"
## Issue

The command `spo listitem list` uses `-i, --id [id]` and `-t, --title [title]` as options to specify the list.
According to our naming conventions, this should be `-i, --listId [listId]` and `-t, --listTitle [listTitle]` (this naming convention is also used in other `spo listitem` commands).

The options are wrong in the [docs](https://pnp.github.io/cli-microsoft365/cmd/spo/listitem/list

[2022-05-29 06:23] martinlingstuyl commented on #3300
Hi @Adam-it, we're forgetting one option: '--listUrl [listUrl]'.

Considering the principalId, what kind of Id are we expecting here? Azure Ad object Id? SharePoint site user Id? We should write that down.

No further comments 😀

[2022-05-29 06:31] martinlingstuyl commented on #3361
Hi @milanholemans, thanks for raising this and looking at the code with a critical eye! That's always a good thing.
Having said that, this is also according to our naming conventions: we try not to reuse the last noun in the options names. As the command noun is 'list', we don't use 'listId' and 'listTitle', but just the plain 'id' and 'title'.

Closing this as by design.

[2022-05-29 06:33] martinlingstuyl commented on #3358
Good catch @milanholemans! I'll assign you

[2022-05-29 06:48] martinlingstuyl commented on #3355
Hi @milanholemans, thanks for raising this, would absolutely be a nice command to add to the toolset!
What I'm wondering is: maybe it's smart to name what kind of permission the user needs to access this api. Like with the 'spo tenant settings list' command. Could you add that to the spec?

[2022-05-29 06:53] martinlingstuyl commented on #3356
Looks great @milanholemans, take care to note in the docs what kind of permissions the user needs to execute this.

[2022-05-29 07:23] Adam-it commented on #3300
@martinlingstuyl thanks for the double check. I will update the spec on my next coding night 😋

[2022-05-29 11:50] milanholemans commented on #3361
Hi @martinlingstuyl

Thank you for your feedback. However I don't think this is the case. For this command `list` is used as a verb and not as a noun. This means that `--id` and `--title` would reflect to the last noun of the command being `listitem`.

I think this command should follow the same principle as other list commands like:
* `spo field list`
* `spo list contenttype list`
* `spo list vie

[2022-05-29 11:55] martinlingstuyl commented on #3361
Ah, you're right. Apparently I was not fully awake yet 😬 I'll open it back up again 👍

[2022-05-29 11:59] milanholemans commented on #3355
Great idea! Updated the spec.

[2022-05-29 12:04] milanholemans commented on #3356
Great idea! Updated the spec.

[2022-05-29 12:05] milanholemans commented on #3361
I'm willing to work on this one.

[2022-05-29 12:09] martinlingstuyl commented on #3361
Fantastic, go right ahead!

[2022-05-29 13:08] MathijsVerbeeck commented on #3307
I could work on this one.

[2022-05-29 20:33] Jwaegebaert opened #3363 "Remove deprecated `planName` options"
Related to #3342

Remove all the deprecated `planName` options for the following commands.

- planner bucket add
- planner bucket get
- planner bucket list
- planner bucket remove
- planner bucket set
- planner task add
- planner task get
- planner task list
- planner task set

Planned for the next major release v6.

[2022-05-29 21:13] milanholemans opened #3365 "Remove deprecated options for `spo listitem list`"
Remove the deprecated options `--id` and `--title` for the command `spo listitem list`.

This should be done in the next major release (v6).

[2022-05-29 22:20] milanholemans commented on #3355
When all is fine, I'd like to work on this.

[2022-05-30 06:05] alpozz commented on #3348
You're right, I am able today to retrieve the team with `teams team get` . Also, `teams team list` now works fine. Sorry for the false alarm.

I will figure out another way to check whether teamify was properly queued or not. Currently it always returns an error. I believe due to the same reason as #1891. Would it be possible to add a --wait option for this? (Possibly related: #2021)

[2022-05-30 06:47] martinlingstuyl commented on #3355
I'd like at least one other @pnp/cli-for-microsoft-365-maintainers to chime in here before you go

[2022-05-30 06:48] martinlingstuyl commented on #3355
After that we'll assign you! Thanks for all the effort and hard work again!

[2022-05-30 07:43] nanddeepn commented on #3346
Can I work on this?

[2022-05-30 14:08] martinlingstuyl commented on #3346
Hi guys,

Of course you can work in it @nanddeepn. I do have a question on the specs though. I personally find the `--number` option a bit vague. Wouldn't it be a lot clearer if we'd have `--key` and `--label`? You'd need to enter the complete category key, like this: `category1`, `category2`, etc.

It's slightly more typing, but then we could use autocomplete to let users be able to quickly type

[2022-05-30 14:28] martinlingstuyl commented on #3346
And maybe, just thinking out loud here:
A category is not an entity within a planner plan as such. It's just a property of the plan.

Wouldn't it be better to name it `planner plan set` and allow the user to update things like `title`, `owner`, `sharedWith` as well as `categoryDescriptions`.

For example:
[code]

[code]

[2022-05-30 16:18] Adam-it commented on #3307
Thanks @MathijsVerbeeck for all of your awesome work 👍. I assigned you to the issue. Can't wait to see the PR 😍.
You rock 🤩

[2022-05-31 07:28] milanholemans commented on #3357
I'm willing to work on this one.

[2022-05-31 13:10] martinlingstuyl commented on #3357
That's great @milanholemans! I've assigned you.

[2022-05-31 17:55] waldekmastykarz commented on #3348
We could introduce `wait` with an upper limit of a few minutes, if that's realistic. If the outcome is always hours, then I wonder if it makes sense, unless we're talking unattended provisioning where it doesn't really matter how long it takes as long as it's done.

Slightly related: if you create a group, teamify it using CLI, go to Teams and click on the Files tab, can you then retrieve it using

[2022-05-31 17:58] waldekmastykarz commented on #3300
Looks good! LGTM 🚀

[2022-05-31 18:27] nanddeepn opened #3368 "Bug report: Invalid option in Examples for "m365 file list" command (Documentation issue)"
### Description

The [m365 file list](https://pnp.github.io/cli-microsoft365/cmd/file/file-list/) command examples have invalid option specified as `folder`, instead it should be `folderUrl`

### Steps to reproduce

Execute the command
`m365 file list --webUrl https://contoso.sharepoint.com/sites/project-x --folder 'Shared Documents' --recursive`

### Expected results

It should return the files f

[2022-05-31 18:52] milanholemans commented on #3357
This indeed solves the issue. Thanks for the tip @waldekmastykarz!

[2022-05-31 19:42] Jwaegebaert commented on #3346
That's definitely a good idea @martinlingstuyl. We don't have so many variables to modify within the plan category model, so we can indeed better apply this in a `plan set` command. Totally agree on that one. Should I update the specs already towards your suggestion?

[2022-05-31 20:49] martinlingstuyl commented on #3346
That would be awesome! And then let's see if others have additional good ideas about this.

[2022-05-31 20:51] Adam-it commented on #3300
@martinlingstuyl I updated the spec. @waldekmastykarz thanks for the double check.
since I am already assigned to some other work and I would not like to block this one I will open it open it up for the community to be taken

[2022-05-31 22:11] MathijsVerbeeck opened #3370 "Replace `recyclefile()` in file-copy and file-move by `Cli.executeCommand(file-removecommand)`"
Currently, the commands `spo file copy` and `spo file move` are using a function `this.recycleFile(params)`.

This should be changed and make use if the command `spo file remove`, called by using `Cli.executeCommand(command, options)`

[2022-06-01 06:31] waldekmastykarz commented on #3361
Like @martinlingstuyl said, very sharp observation @milanholemans 👏  Since it's a breaking change, we need to do some work on our end to ensure that we merge it properly and don't break our users, but we'll get it in nonetheless.

[2022-06-01 06:46] martinlingstuyl commented on #3348
Maybe we could add a config key, something like `maxWaitTime`, so you can choose whether to wait indefinitely or maximize it to a couple of minutes. By default we should maximize it I guess.

@alpozz, do you have a response to Waldeks question?

[2022-06-01 06:58] alpozz commented on #3348
No, prior to posting here on Friday I manually configured the cloud storage in the files tab of the two relevant teams. I ran `teams team get` and `teams team list` both before and after, same error.

For the purposes of my script, I'll now try something like `(m365 aad o365group get --id $newgroup.id | ConvertFrom-Json).resourceProvisioningOptions` instead of `teams team list` or `teams team get`

[2022-06-01 09:37] appieschot commented on #3345
I suggest we add it as a remark in the documentation, or at least for me that feels like the appropriate place.

[2022-06-01 11:17] waldekmastykarz commented on #3348
Config key would be ideal, but then we should have it implemented consistently across all waitable commands. Otherwise it might give a false impression that it's a CLI-wide setting, while in reality we'd implement it only in one place.

Let's wait with the decision to implement the max wait time, until we understand what the waiting times are and if someone would realistically wait for that period

[2022-06-01 21:18] milanholemans opened #3372 "Bug report: Valid ISO date notation results in error"
### Description

When I'm using the `planner task add` command with `--startDateTime` option in PowerShell, I always get following error:
[code]

I'm using PowerShell, passing `startDateTime` like this:
[code]

Using `.ToString("o")` is a proper way to retrieve an ISO string in PowerShell/C#. The [docs](https://docs.microsoft.com/en-us/dotnet/standard/base-types/standard-date-and-time-format-strin

[2022-06-01 21:24] martinlingstuyl commented on #3356
That's good to hear @milanholemans, please do!

[2022-06-01 22:11] martinlingstuyl opened #3373 "Bug report: `spo list list` command throws Access Denied"
### Description

In certain scenario's the command `spo list list` throws an access denied error:

1) App Only authenticated with Sites.Manage.All scope. (It does work correct with Sites.FullControl.All)
2) With a regular user (no SharePoint admin), being a member on a site, using scope AllSites.FullControl or AllSites.Manage.

I already found the probable culprit in the code:
The code calls the R

[2022-06-02 07:38] #1862 closed

[2022-06-02 07:38] #3324 closed

[2022-06-02 07:54] Jwaegebaert commented on #3346
Hey @martinlingstuyl, the specs have been updated. Could you take a look at the option `--category#`. I'm not sure if this is a correct way to phrase this option.

[2022-06-02 09:10] waldekmastykarz opened #3376 "Enhancement: add support for upgrading SPFx projects to v1.15.0-rc.0"

[2022-06-02 19:09] martinlingstuyl commented on #3346
Good question,

We have something a bit like it in the `spo field set` command, where it's only mentioned in the remarks:
https://pnp.github.io/cli-microsoft365/cmd/spo/field/field-set/#remarks

But maybe in this case we should just use:

`--category1 [category1]`
New label for a category. Define the category key within your option to update the related label. Category 1 to 25 available. e.g. --ca

[2022-06-02 19:56] PathToSharePoint opened #3377 "Question on browser authentication"
I was surprised to find out that I can run the CLI without the need for application registration, when I use browser login:
`m365 login --authType browser`

How is that possible? Doesn't the CLI rely on the Microsoft Graph, which itself requires an application registration on Azure AD? Are there any limitations with this specific authentication method?

My test was to create a Teams team, then add

[2022-06-02 21:40] Jwaegebaert opened #3378 "Enhancement: extend `spo hubsite get` with more options"
Extend `spo hubsite get` with the following extra options.

Option | Description
--  | --
`-i, --id [id]` | ID of the hubsite. Specify either `id`, `title` or `url` but not multiple.
`-t, --title [title]` | Title of the hubsite. Specify either `id`, `title` or `url` but not multiple.
`-u, --url [url]` | URL of the hubsite. Specify either `id`, `title` or `url` but not multiple.

[2022-06-02 22:21] milanholemans commented on #3377
Hi @PathToSharePoint

In fact the CLI does use an application registration just like PnP.PowerShell and other PnP solutions. They are all using the same app registration. You can find this app registration in Azure AD --> Enterprise applications --> search for 'PnP Office 365 Management Shell'. Without this app registration, the CLI won't work.

![image](https://user-images.githubusercontent.com/1

[2022-06-02 23:43] PathToSharePoint commented on #3377
@milanholemans thanks for the reply.

That's what I assumed, and someone on twitter even showed me the static id used in the source code. I can see it on my dev tenant, but not on the prod tenant where the commands still created the assets successfully. That's a bit scary...

Is there any way I could troubleshoot the connection, to understand what app the CLI is leveraging?

[2022-06-02 23:51] #3377 closed

[2022-06-03 08:39] waldekmastykarz commented on #3346
Since we're talking about 25 options, I'd suggest that we indeed use the ability to pass unknown options to the command, but then in validation use a regex to validate that the specified options are correct and that no truly unknown options (like --foo) are used. Does this make sense?

[2022-06-03 08:43] nanddeepn opened #3379 "'spo list get' command returns PrincipalType as number instead of human readable string"
### Description

Initiated from discussion here https://github.com/pnp/script-samples/pull/295#discussion_r888505582 by @Adam-it

The [spo list get](https://pnp.github.io/cli-microsoft365/cmd/spo/list/list-get/) command when used with `--withPermissions` option, returns the `PrincipalType` as a number.

![image](https://user-images.githubusercontent.com/8310319/171819089-54e3162a-d33f-4f30-aa89-03

[2022-06-03 10:45] garrytrinder commented on #3372
Good catch @milanholemans 👏

I agree we should update our implementation as you have suggested.

Would you like to take this?

[2022-06-03 11:09] milanholemans commented on #3372
Yes please ☺️

[2022-06-03 11:19] garrytrinder commented on #3372
Awesome, its all yours 👍

Thank you ❤️

[2022-06-03 12:26] martinlingstuyl commented on #3378
Great idea @Jwaegebaert!

[2022-06-03 14:16] martinlingstuyl commented on #3372
Sharp eyes @milanholemans!

[2022-06-03 14:21] martinlingstuyl commented on #3379
I'm wondering whether it would be good to have them both as number AND as string. If you'd have some automation for example, it might be handy to use the number instead of the string representation.

Another important consideration is that we should be consistent about how we handle enums across commands.

Other people with opinions on this?

[2022-06-04 11:04] Adam-it commented on #3300
ok I finished my last command to the CLI and opened a PR  so I guess I may start working on this one

[2022-06-04 11:06] Adam-it commented on #3271
waiting for #3359 to be finished and merged and then I may start working on this

[2022-06-04 16:22] milanholemans opened #3383 "Enhancement: Add `priority` option to `planner task add` and `planner task set`"
## Description
Add an extra option called `priority` to commands `planner task add` and `planner task set`.

Priority field in the Planner UI:
![image](https://user-images.githubusercontent.com/11723921/172015456-f3a07ee4-ef73-4735-aaa8-18ab9d911934.png)

### Valid values

| Name | Value |
| --- | --- |
| Urgent | 1 |
| Important | 3 |
| Medium | 5 |
| Low | 9 |

## Option

| Option | Description

[2022-06-04 16:43] martinlingstuyl commented on #3383
Fantastic, I like it @milanholemans. I would suggest using the text values of the priority and configure them to autocomplete. Other than that no comments

[2022-06-04 16:48] milanholemans commented on #3383
All right, I updated the description. You can assign it to me if everything is fine.

[2022-06-05 15:43] milanholemans commented on #3383
Hi @martinlingstuyl

Just noticed this in the Graph docs (https://docs.microsoft.com/en-us/graph/api/plannertask-update?view=graph-rest-1.0&tabs=http#request-body).
![image](https://user-images.githubusercontent.com/11723921/172058479-5c0cc4fe-df2d-463c-88f6-baceef80ecae.png)

So Planner uses the values 1, 3, 5 & 9 but through API calls you can use any number between 1 and 10. So maybe it's better

[2022-06-05 16:31] martinlingstuyl commented on #3383
Very sharp @milanholemans 👍 in that case you know what to do!

[2022-06-06 13:44] waldekmastykarz commented on #3218
Hey folks, while working on this, I'm having a second guess about how we implement validation in the CLI and if perhaps we shouldn't refactor it. This is also related to #3081.

Right now, we divide the validation logic between the CLI runtime and the command. Checks like [unknown options](https://github.com/pnp/cli-microsoft365/blob/d1a3a17063adc91e719f2650ceb1a85456a5e4c2/src/cli/Cli.ts#L128-L15

[2022-06-06 19:59] Adam-it commented on #3218
so if I understand this correctly in the base validation method you were thinking to have checks for
- unknown,
- required,
- what we have now in option set
- etc.. other kind of universal for each inherited command
and in the command itself just the specific like 🤔... hmmm.. is webUrl valid? or Id is number as well?

as for the array approach seems also interesting. I wonder won't it be more user

[2022-06-07 06:55] waldekmastykarz commented on #3218
Correct: we'd add generic checks centrally and specific checks in the command so that we can avoid repetition and yet have an end-to-end ability to test the assumptions that the command makes on its options.

You brought up an interesting idea, @Adam-it about running all checks rather than just failing after the first one. Once we have an array of checks, we could choose if we want to use all chec

[2022-06-07 06:58] waldekmastykarz commented on #3339
@jacobsian-del the error you mention `Error: unable to get local issuer certificate` is different from the error you mention further down `Error: Cannot convert undefined or null to object`. Could you please run the command with the `--debug` option and share with us the full output (excluding the access token of course)? Thank you, and we appreciate your help to understand what's going on.

[2022-06-07 07:38] Adam-it commented on #3218
That's true, but it was just a random idea I had about it. We could add this as CLI co configuration property like "shouldValidateAll" as maybe not everybody would like this kind of behavior and probably most is already used to what we have now, which is first fail, first message. But this could be a separate discussion, sorry for the confusion.

Anyway, going back on the topic, I feel more like t

[2022-06-07 07:44] waldekmastykarz commented on #3218
All good and always good to get new ideas and perspectives. The challenge with such switch is that it changes the behavior of the code and assumption, so it would add a lot of extra code throughout the command to take into account both possible behaviors.

How do you feel about having to have:

[code]

in each `validate` method and then probably also a custom eslint rule so that we can ensure that

[2022-06-07 08:38] Adam-it commented on #3349
@pnp/cli-for-microsoft-365-maintainers now when this is merged #3332 (thanks @waldekmastykarz 😊) I would like to start working on this.
Anyone has any additional comments before I start 😊?

[2022-06-07 08:43] Adam-it commented on #3218
hmm.. thats true.. I don't feel like repeating that code in every place 😊

[2022-06-07 08:58] #3332 closed

[2022-06-07 08:58] #3343 closed

[2022-06-07 08:58] #3347 closed

[2022-06-07 08:58] #3358 closed

[2022-06-07 08:58] #3376 closed

[2022-06-07 10:59] waldekmastykarz commented on #3349
No additional comments. LGTM! 🚀

[2022-06-07 11:07] Adam-it commented on #3349
Cool, I'll start working on this. In the meantime if someone would like to add something new please feel free 🙂

[2022-06-07 18:08] waldekmastykarz commented on #3363
Awesome suggestion! Thank you! 👏

[2022-06-07 18:56] martinlingstuyl commented on #3346
Ok, so @Jwaegebaert, let's add it to the remarks, like with [spo field set](https://pnp.github.io/cli-microsoft365/cmd/spo/field/field-set/#remarks). Since we don't declare the unknowns a options there as well, let's not do it here either. I'll remove the category option and open it up.

[2022-06-07 19:04] martinlingstuyl commented on #3346
Still interested to work on this @nanddeepn?

[2022-06-07 21:01] martinlingstuyl opened #3386 "Enhancement: Extend `OptionSets` so they can validate optional and dependant sets as well"
Some time ago `OptionSet` was introduced. A way to validate two required options that are mutually exclusive.
Some work is currently being done on #3218 to use OptionSets in all relevant commands.

`OptionSet` currently only validates **required** options. However, there are quite some commands in which there are mutually exclusive options that are **not required**.

For example, the command [plan

[2022-06-08 06:00] vipulkelkar commented on #3153
did some initial re-factoring and tested the `add` command and it works as expected. However, `set`ting an app using the `manifest` isn't working. I get no errors, the request body in the `--debug` mode seems to be fine, but the manifest in the Azure Portal does not reflect the changes. Example, i tried to change the display name of the app like in the [update application graph example](https://do

[2022-06-08 07:17] nanddeepn commented on #3346
Hi @martinlingstuyl
Yes, happy to work on this.

Just one question:
In the example, we have not included options `shareWithUserIds` or `shareWithUserNames`. Are we considering one of these as mandatory option?

[2022-06-08 17:29] waldekmastykarz commented on #3386
I like the idea a lot! Let's think what's the best way to implement this would be. Adding a new class-level getter would be the easy way to go about it, but I think it shows that we're hitting the limitations of the current design and would benefit from a more robust approach that allows us to better accommodate such requirements.

[2022-06-08 17:41] waldekmastykarz commented on #3383
Looking at the spec it's not quite clear to me what do we expect people to provide as the value for priority: the number or the label? Personally, I'd suggest that we let people use the label and we translate it internally to the corresponding number to make it more user-friendly.

[2022-06-08 17:43] waldekmastykarz commented on #3379
We're returning the value as-is from the API so that's by design. We could consider adding a human-readable version as an extra property but I'd keep the original in case someone is used to working with it in a script.

[2022-06-08 17:53] waldekmastykarz commented on #3353
Good catch. I wonder if this has changed at some point. If you look at the [latest docs](https://docs.microsoft.com/en-us/graph/api/resources/permission?view=graph-rest-1.0#roles-property-values), they mention also an `owner` role which we don't have. Let's update this indeed.

[2022-06-08 17:54] waldekmastykarz commented on #3383
If there's no difference in the UI, then I'd use the numbers that are assigned for the values set through the UI. That way we're in sync with what users are seeing in the UI and there's no internal difference between values set in the UI and programmatically.

[2022-06-08 17:57] waldekmastykarz commented on #3340
I don't quite agree with that. If our code expects a comma-separated string, then splitting on a space might introduce undesired behavior where people might specify a value with a space like a person's name. I'd say that we keep both cases separate and only use the space or comma separation behavior where we explicitly expect it and mention clearly in the docs.

[2022-06-08 18:10] Jwaegebaert commented on #3383
Would it be possible to allow both? That they can pass along a number from 0 to 10 or one of the labels Urgent, Important, etc. This gives the user the possibility when they want to copy a task for example, that they don't have to write a transform method to convert the priority number to the correct label.

[2022-06-08 18:17] Jwaegebaert commented on #3383
This is actually quite similar to the `--percentComplete` option. Here the user has the option to pass a number from 0 to 100 while the UI translates this to the following. The value 0 as `Not started`, 1 to 99 `In progress` and 100 as `Completed`

[2022-06-08 21:21] #3227 closed

[2022-06-08 21:21] #3338 closed

[2022-06-08 21:46] martinlingstuyl opened #3389 "Bug report: mkdocs serve fails due to issue with pygments version"
### Description

When running mkdocs serve after cloning the cli repo, the serve task fails with an error. This is due to the pip packages that are installed. Pygments version 2.12 is automatically installed as a dependency. This version [does not work well with mkdocs currently](https://github.com/pygments/pygments/issues/2119).

The documentation release does work correctly, because the deploy_d

[2022-06-08 22:10] MathijsVerbeeck commented on #3370
@waldekmastykarz Am willing to work on this one.

[2022-06-09 06:25] vipulkelkar commented on #3153
- Created a new app using the `m365 aad app add --manifest "@<path to json>"` command.
- Created a new manifest json file using the manifest from the Azure Portal of this new app.
- Updated the 'name' property in the manifest.
- executed the command on this new manifest `m365 aad app set --manifest "@<path to json>" --debug`

[2022-06-09 06:41] waldekmastykarz commented on #3153
Thank you! Could you also share the manifest that you're using, just to rule out that that's not the culprit.

[2022-06-09 06:41] waldekmastykarz commented on #3370
All yours! We appreciate your help 😊

[2022-06-09 06:47] waldekmastykarz commented on #3383
That's actually not a bad idea. Let's ensure that we properly validate the provided value to ensure correct input.

Kinda: in both cases, the user sees a string in the UI. In the input though, for a percentage people will likely to expect a number and can attach meaning to it, while 2,3 or 4 being important is arbitrary and doesn't carry a universal meaning outside of this API. I think your previo

[2022-06-09 07:00] waldekmastykarz commented on #3386
@milanholemans @Jwaegebaert any ideas/opinions? 😊

[2022-06-09 07:01] waldekmastykarz commented on #3218
Hey @milanholemans, @Jwaegebaert, I'd appreciate your feedback on https://github.com/pnp/cli-microsoft365/issues/3218#issuecomment-1147464081 😊

[2022-06-09 07:02] Adam-it commented on #3379
yes I also agree. Lets keep the old value as someone might already use it. As you do already in the sample script 😊. But it would be great if we have a property to show more human readable value 😊.
@nanddeepn were you by any chance planning to work on this one?

[2022-06-09 07:04] vipulkelkar commented on #3153
yup, here it is

[code]

[2022-06-09 07:28] nanddeepn commented on #3379
Yes, I can work on it.
Should we call the new property as `MemberPrincipalType` or any other suggestions?

[2022-06-09 07:31] waldekmastykarz commented on #3379
I'd suggest `PrincipalTypeString` so that it shows up next to the original value

[2022-06-09 07:33] Adam-it commented on #3386
@martinlingstuyl good idea. I noticed this before when I even added a wrong review comment to use option set for this kind of requiredWhen options 😋.
I agree we should search for a way to improve this 👍.
Maybe we could specify some arrays with options to valid when some condition is passed 🤔. This could be any kind of condition made on passed options 🤔

[2022-06-09 07:34] Adam-it commented on #3379
+1 for `PrincipalTypeString` seems fine.
could be also `PrincipalTypeValue` 🤔.
@nanddeepn I will assign you to the issue. thanks for your contribution and initiative 👍
your rock 🤩

[2022-06-09 07:47] martinlingstuyl commented on #3386
You're correct on this. It might not be the right example for the issue. Maybe for such a scenario we could offer `DependentOptionSets`, like @Adam-it suggests here:

Maybe we need to extend `OptionSet` with a `required` function. You can write the function to return `true` in all cases, or just in the case where a certain option is defined. You could also return `false`, saying that the propertie

[2022-06-09 07:58] milanholemans commented on #3383
Should we introduce 2 options? `--priorityNumber` with number value and `--priority` with the label value (important, ...)? Or should we create 1 option `--priority` of type `number | string`?

[2022-06-09 08:07] #3372 closed

[2022-06-09 08:07] #3389 closed

[2022-06-09 08:10] waldekmastykarz commented on #3383
I'd suggest one option named `priority` that allows specifying either the number or the label

[2022-06-09 08:16] waldekmastykarz commented on #3386
So specifying an option set would look like:

[code]

In each option set we'd allow to set the last value to a function that determines if the option set should be used. If that function is not set, the option set is used. Is that what you mean @martinlingstuyl?

[2022-06-09 08:17] waldekmastykarz commented on #3379
`8` is also a value, just a numeric one, which is why I suggested `PrincipalTypeString` to disambiguate it 😊

[2022-06-09 08:29] martinlingstuyl commented on #3386
That's exactly what I mean. And additionally, you could achieve optional OptionSets as follows:

[code]

[2022-06-09 08:43] appieschot commented on #3218
I like this option; sounds like a great way to abstract some of the repetitive stuff to a central location. So that would have my vote.

[2022-06-09 08:52] martinlingstuyl commented on #3386
We do have scenario's in which we have three options in an `OptionSet` I think, so we should take care to check the type of the last item in the array that it is of type `function`

[2022-06-09 09:09] Jwaegebaert commented on #3386
If I'm not mistaken @martinlingstuyl, then the options `assignedToUserIds` and `assignedToUserNames` available in the commands `planner task set` and `planner task add` would be part of the optional optionSet.

[2022-06-09 09:37] Jwaegebaert commented on #3386
If we are going to create three different types of optionSets here. Then it would be interesting to start building interfaces for them. This would create more overview and reduce error margin a bit. For example, the interfaces could look like this.

[code]

When we apply this to our optionSet constant, it could look like this.

[code]

However, this structure will cause a lot of refactor work on t

[2022-06-09 10:30] milanholemans commented on #3386
This is also something I wanted to suggest to be honest. I like the idea of having 3 option sets, but it might become unclear if we put them all mixed together in a single array with option names and a condition. Especially for new contributors, if they don't know the logic behind it, it can get confusing quickly.
I'm more of a fan of dividing things like this into objects with properties like @Jw

[2022-06-09 10:53] martinlingstuyl commented on #3386
I do think that it to be a bit verbose. There is a way in between, for example like this:

[code]

[2022-06-09 12:04] martinlingstuyl commented on #3386
Though I agree this is clearer, still it would take a lot of refactoring.  Plus it's still much more verbose than using `['option1', 'option2', false]` or `['option1', 'option2', (args) => args.options.option3 !== undefined]`.

[2022-06-09 21:06] Jwaegebaert commented on #3218
Wouldn't it be better to make sure this scenario doesn't happen. That we just keep validating our required options, unknown options, options sets, etc at runtime. Then we simply retain the command specific validation within the command itself and don't need to do any speciale refactoring.

If I am not mistaken, this suggestion is mainly to get issue #2988 resolved. To apply validation for the defa

[2022-06-09 21:45] milanholemans commented on #3218
Understandable, repeating code is never fun. On the other hand, we are already doing this today for other methods.
For example in the options function, we have to call the super class.
[code]

In the getTelemetryProperties function, we have to call the super class.
[code]

Because we are already calling the super class in other methods of course doesn't mean you get a free pass to use this even mo

[2022-06-10 06:49] waldekmastykarz commented on #3386
Thank you for chiming in everyone: awesome to get your ideas!

Not defining specific types of option sets, like we discussed here:

[code]

and using a more generic approach with an array of option sets, each having an optional function to determine when it should run, gives us more flexibility for other cases and will likely be more future-proof.

Like I suggested initially and @martinlingstuyl a

[2022-06-10 06:59] waldekmastykarz commented on #3218
#2988 is just one of the things we need it for. #3218 (this issue) is another one, when due to refactoring I'm removing tests that originally belonged in the command in favor of a generic test in the runtime plus a check if the option sets have been defined (but not if they're used!). As I'm removing tests, that we'd need back if we were to move all of the validation into command, I thought it's t

[2022-06-10 08:25] martinlingstuyl commented on #3386
Hi Waldek, I agree with you that the less verbose version has it's downsides. I like your proposition as well.
About the naming of the function: does `runsWhen` make even more sense?

`runsWhen: (args) => args.options.option3 !== undefined`
`runsWhen: (args) => args.options.option5 || args.options.option6`

omitting it means run always

[2022-06-10 08:27] nanddeepn opened #3391 "Bug report: The commands "spo listitem list" and "spo listitem get" does not work with lookup columns"
### Description

Initiated from the discussion https://github.com/pnp/script-samples/pull/310#issuecomment-1152068593 with @Adam-it

The commands [m365 spo listitem list](https://pnp.github.io/cli-microsoft365/cmd/spo/listitem/listitem-list/) with parameter --fields does not seem to work with lookup columns.

When lookup column is passed to `--fields` parameter, it throws below error:

[code]

Als

[2022-06-10 09:14] #3280 closed

[2022-06-10 09:14] #3361 closed

[2022-06-10 09:14] #3267 closed

[2022-06-10 09:14] #3272 closed

[2022-06-10 09:42] waldekmastykarz commented on #3386
Yup, `runsWhen` is a nice and clear way to express it too. I like it! 👏

[2022-06-10 09:45] waldekmastykarz commented on #3391
Thank you for reporting the issue, @nanddeepn. What would be the right way to fix this?

[2022-06-10 11:55] RobertHoegner opened #3393 "Bug report: Gateway timeout on flow export"
### Description

everytime i try to export a flow I am getting a timeout for the Microsoft.BusinessAppPlatform gateway.

### Steps to reproduce

example export command: m365 flow export --id XXX --environment XXXX --packageDisplayName UnlockEscalatedWorkspace --debug

Error received:
Request error:
{
  "url": "https://management.azure.com/providers/Microsoft.BusinessAppPlatform/environments/XXXX/e

[2022-06-10 12:35] Jwaegebaert commented on #3386
Well caught, that will be more convenient to use in the long run.

I'm also a fan of the naming `runsWhen`. Makes more sense, great suggestion @martinlingstuyl!
If we have chosen a design pattern, it would be usefull to implement it asap. This in the manner that @milanholemans suggested for example.

If we can divide the work here among all of us then this can be implemented quickly without too ma

[2022-06-10 13:03] waldekmastykarz commented on #3386
One way that we could consider is:

- refactor how we define and run option sets and refactor options sets that are already defined to the new structure, must be done before everything else by one person because of the dependency
- identify all other option sets that we excluded initially but which we could fit in the new approach
- split the work grouping commands per service/whatever makes sense

[2022-06-10 13:04] waldekmastykarz commented on #3393
Thank you for reporting the issue @RobertHoegner and sorry to hear that you're running into trouble. We'll investigate it asap and get back to you as soon as we know more.

[2022-06-10 13:18] Jwaegebaert commented on #3218
I'm also fan of placing this logic within an `init()` method. When we have a command with several options, then the init method could become quite large. We could split them in more specific methods but that will cause it to be more verbose aswell. However we apply it, I like the `init()` method suggestion. 😄

In regards to your validation logic refactor. Personally, I would also opt for the first

[2022-06-10 13:39] waldekmastykarz commented on #3218
If we'd use the `init` approach, then we wouldn't need to call `super` because all validation functions would end up in an array and in the `Command.validate()` method we'd step through all of them. That would eliminate the need for overly verbose code and custom eslint rules 😄

[2022-06-10 15:00] martinlingstuyl opened #3394 "Bug report: Command Completion does not seem to work in PoSh 5, it does in PoSh 7 though."
### Description

Using the [help section here](https://pnp.github.io/cli-microsoft365/user-guide/completion/) I configured Auto completion. But I can't get it to work on PoSh 5. While on PoSh 7 it works like a glove.

The $profile files all contain the right content referring to the right `Register-CLIM365Completion.ps1` file. No error is thrown on registering or on autocompleting, it just does no

[2022-06-10 19:32] martinlingstuyl commented on #3218
Nice discussion, I'm joining in late. But better late than never!

I think it would make sense to move all the validation logic out of the runtime and into the Command base class.

But I'm not thinking about super calls, but the other way around: we could call the Command-specific validate functions from the base Command-class validate function. In that case you don't need the super functions. You

[2022-06-10 19:54] martinlingstuyl commented on #3386
I've updated the specs. Let's wait to see what the other issue is getting up to

[2022-06-11 12:33] waldekmastykarz commented on #3218
How would that work if we have a chain of classes that inherit from each other, like Command > SpoCommand > SpoWebGetCommand? How would command call both validation from SpoCommand and SpoWebGetCommand?

[2022-06-11 12:34] waldekmastykarz commented on #3394
Have you confirmed if the PowerShell profile is update with the completion registration and if the profile is actually loaded in the PowerShell session?

[2022-06-11 14:13] martinlingstuyl commented on #3394
Yes certainly!

[2022-06-11 14:54] nanddeepn opened #3395 "Bug report: "teams team get" command throws error with name parameter"
### Description

[teams team get](https://pnp.github.io/cli-microsoft365/cmd/teams/team/team-get/) command throws below error with `name` parameter.

**Error: The specified group 'undefined' does not exist.**

![image](https://user-images.githubusercontent.com/8310319/173192800-65298f7d-e541-4664-aa7b-ea0b61ce6687.png)

### Steps to reproduce

Run below command

`m365 teams team get --name "Rock a

[2022-06-11 17:53] waldekmastykarz commented on #3394
Is `Register-ArgumentCompleter` a thing in PowerShell 5? If so, it would be interesting to debug it and see what's coming through and if our logic stands in PowerShell 5.

[2022-06-11 17:55] waldekmastykarz commented on #3395
Thank you for letting us know @nanddeepn. I wonder if this is related to the recent refactoring we've done around groups #3327 @milanholemans

[2022-06-11 18:05] milanholemans commented on #3395
Yeah I see the issue already. `teamName` parameter is passed while the parameter is called `name`. Might be a copy paste issue from me. I'll check all other commands to be sure.

https://github.com/pnp/cli-microsoft365/blob/96022f39869dde434dc3cb576e8fbf5a5e28893a/src/m365/teams/commands/team/team-get.ts#L48

 I wonder how this could pass the tests?

[2022-06-11 18:08] milanholemans commented on #3395
Ok so this is why it passed the tests. The team name is not specified in the URL.

https://github.com/pnp/cli-microsoft365/blob/main/src/m365/teams/commands/team/team-get.spec.ts#L258-L270

[2022-06-11 18:23] milanholemans commented on #3395
@waldekmastykarz just checked every command that uses the aadGroup util, seems like this was the only one that passed a non-existent parameter. Thank god we have @nanddeepn, well spotted! 😅

[2022-06-11 22:10] martinlingstuyl commented on #3218
Well sure, that's something to think about. Because the `validate` functions override each other, only the outer one gets executed. If there is a `validate` function in the middle layer, it is ignored. I just did a quick check and saw such a `validate` function in the `AppCommand` base class. The `SpoCommand` base class doesn't seem to have it.

This might be a downside of my proposal, but we coul

[2022-06-12 05:27] nanddeepn commented on #3395
@milanholemans @waldekmastykarz
Thank you for the quick fix 😀

[2022-06-12 21:36] Jwaegebaert commented on #3393
Hey @RobertHoegner, thanks for reporting this issue. I was able to replicate the problem for myself, so I started to dig a little deeper to see how we can solve it.

What I have found here is that the call made to the following endpoint `https://management.azure.com/providers/Microsoft.BusinessAppPlatform/environments/XXXX/exportPackage?api-version=2016-11-01` doesn't exist or no longer exists.

S

[2022-06-12 21:56] Jwaegebaert commented on #3378
I can work on this one.

[2022-06-12 22:04] martinlingstuyl commented on #3378
Fantastic @Jwaegebaert, do your thing! 👏

[2022-06-12 22:16] RobertHoegner commented on #3393
thanks mate, how can I update the endpoint when using the cli through PowerShell cmdlets? Sorry for the dumb question but I am not a dev 🤣... do I have to wait for the next CLI version, which includes the new endpoint then?

[2022-06-12 22:32] Jwaegebaert commented on #3393
No problem, currently, I have created a PR to resolve this issue. It will then go through a whole workflow process to make sure it has no errors or mistakes before getting an approval. With this approval, one of our great maintainers will merge it with our existing CLI code allowing you to access it with updating your CLI for M365 package to the beta version `npm i -g @pnp/cli-microsoft365@next`.

[2022-06-12 22:43] RobertHoegner commented on #3393
@Jwaegebaert thanks for clarification and helping out, much appreciated!

[2022-06-12 22:48] Jwaegebaert commented on #3393
You're welcome @RobertHoegner, thanks also for reporting this issue! 🚀

[2022-06-13 06:54] Adam-it commented on #3218
What should I say then 😅. Needed some time to re-read this all ... like twice 😋. I feel like time goes twice as fast now then it used to 😅

+1 👍 here  😊 and with method separations to specific init methods. Doesn't it seem like a lot of refactoring 🤔?

I agree here as well. We could divide the refactoring into steps and split work

[2022-06-13 07:19] Adam-it commented on #3391
@waldekmastykarz, @nanddeepn  just thinking out loud here but in general user should pass what data should be retrieved from a lookup column right? so when we check the rest endpoint we get

`_api/web/lists/blablabla... $select=Title,LookupColumn/Id,LookupColumn/Title ... ->rest`
so we could:
1. first add to the docs info that in case of lookup columns we should pass what data should be retrieved

[2022-06-13 10:33] nanddeepn commented on #3391
Thanks @Adam-it
I prefer Option 1.

[2022-06-13 10:37] Adam-it commented on #3391
It's not this or that 😉.
Both things should be done in order for my fix proposal to work. So we should update docs to inform users how to pass lookup column properties but we also have to dynamically add $expand to the request when a lookup column was passed to the options

[2022-06-13 10:41] Adam-it commented on #3346
I think the issue #2531 had an PR which was closed to being inactive for very long time.
@pnp/cli-for-microsoft-365-maintainers I think we discussed it some time before and maybe we could just close that old one and retry taking this command again with this new and fresh issue and power and motivation 💪
@plamber I think you were more or less managing this topic 🤔. What do you think ?
thanks @milan

[2022-06-13 10:43] nanddeepn commented on #3391
Can I work on this?

[2022-06-13 11:21] martinlingstuyl commented on #3346
Indeed, I'd say: let us merge the specs and close the other issue.

[2022-06-13 11:55] Adam-it commented on #3391
I don't see why not. 👍
But lets wait a bit for other @pnp/cli-for-microsoft-365-maintainers opinion. Maybe someone will have a better fix idea 😉.

[2022-06-13 13:08] Jwaegebaert commented on #3346
The specs have been updated to include the suggestions from issue #2531

[2022-06-13 14:00] waldekmastykarz commented on #3393
Awesome work @Jwaegebaert and we'll try to get the PR processed asap. Let's keep the issue open until then so that we know that we're yet to release the fix.

[2022-06-13 15:53] jacobsian-del commented on #3339
The error `Error: unable to get local issuer certificate` is what i get when I run the command without the `--debug` option.  When I run with the `--debug` option I get the `Error: Cannot convert undefined or null to object` message.

Running:
`m365 spo site add --alias team1 --title "Team 1"`
Result:
`Error: unable to get local issuer certificate`

Running:
`m365 spo site add --alias team1 --titl

[2022-06-13 21:10] Jwaegebaert opened #3400 "Bug report: `m365 spo hubsite list --includeAssociatedSites` doesn't include associated sites in the result"
### Description

When I use the command `m365 spo hubsite list` with the option `--includeAssociatedSites`, I would expect the result to include the associated sites from the hubsite. If we take a look at the [docs ](https://pnp.github.io/cli-microsoft365/cmd/spo/hubsite/hubsite-list/#options) we can see that the option is only available when the output type is `JSON`, which is the new default typ

[2022-06-13 21:12] Jwaegebaert commented on #3400
If everyone agrees that this needs to be resolved, then I can take it up. 😄

[2022-06-14 05:31] martinlingstuyl commented on #3355
@waldekmastykarz, @milanholemans, I'm having second thoughts here, should we not call this function `planner tenant settings get`? Instead of list.

The data returned is in the form of an object, not an array. I feel it's  more logical that we should therefore name it `get`.

Extra pointers that using `list` here is wrong:
- I didn't try it but you probably cannot use `--query` with an object.
- t

[2022-06-14 08:36] waldekmastykarz commented on #3339
How are you signing in to Microsoft 365 in the CLI @jacobsian-del? Are you executing just `m365 login` or do you include any specific arguments?

[2022-06-14 08:41] waldekmastykarz commented on #3391
@Adam-it the only question I have is if we should be clever about detecting and building expand ourselves, or if we should expose it as an extra option and expect the user to specify it explicitly? We could support it with an extra validation logic that checks the value of the `fields` option for lookup columns and fails validation if any has been specified without an accompanying expand property.

[2022-06-14 08:46] waldekmastykarz commented on #3355
To me, `settings get` would indicate that we're retrieving a single value and we expect user to specify which exact setting to retrieve. Since this is not the case here, and we're retrieving all settings, I'd go with `list` which indicates multiple values in the output.

[2022-06-14 08:55] martinlingstuyl commented on #3355
Okay, thanks for chipping in 👍

[2022-06-14 08:59] #3257 closed

[2022-06-14 08:59] #3355 closed

[2022-06-14 09:19] Adam-it commented on #3391
I think we may add this additional logic to check fields option and if it is defined as 'aaa/bbb' we may assume that it is a lookup field and we may add expand with 'aaa'. We should expand distinct fields, so if we will get 'aa/Id,aa/title,bb/id' we should expand=aa,bb.
I think this approach will be more user friendly.

If we were to add additional expand option we would anyway need to add additio

[2022-06-14 10:58] waldekmastykarz commented on #3391
I think it will get complicated when we expose `expand` as an option and choose to automatically add expand values based on selected fields. To keep things simple, I'd suggest we choose either one as the approach. If we expose `expand` as an option, then we'll also add validation to verify that everything is in place.

[2022-06-14 14:30] martinlingstuyl commented on #3393
Hi @Jwaegebaert, how did you replicate the issue? I've exported a flow in both zip and json, using the current beta version. I don't get errors.

[2022-06-14 14:43] Jwaegebaert commented on #3393
@martinlingstuyl, I simply executed the command `m365 flow export --id xxx --environment Default-xxx --packageDisplayName UnlockEscalatedWorkspace` and got the same error. I didn't have to do much special to provoke this error. The flow I wanted to export wasn't a heavy one either. It contains one trigger, one action, and is also part of my default environment.

[2022-06-14 15:34] martinlingstuyl commented on #3393
I did too. No error.
<img width="611" alt="image" src="https://user-images.githubusercontent.com/5267487/173617676-c84050fc-621f-404c-9b74-ca54100603c8.png">

[2022-06-14 16:27] milanholemans opened #3403 "`spo field set` options inconsistency"
## Wrong option name
I noticed that this is the only `spo field ...` command that uses `--name` instead of `--fieldTitle`. So I think it is better that we mark this option as deprecated and introduce a new option `-t, --fieldTitle [fieldTitle]`.

What should be done:
* Introduce new option `-t, fieldTitle`
* Mark option `--name` as deprecated
   * Mark as depracated on documentation.
* Create new

[2022-06-14 19:05] martinlingstuyl commented on #3393
I can see it calling the `https://management.azure.com/` endpoint. I've just received a single Gateway timeout, but on the whole I have executed the export like 10-15 times and just got the one exception.

I'll continue this conversation on the PR review @Jwaegebaert.

[2022-06-14 19:34] #3305 closed

[2022-06-14 19:34] #3368 closed

[2022-06-14 19:34] #3395 closed

[2022-06-14 19:52] martinlingstuyl opened #3404 "Bug report: Exporting a flow with reserved character '>' throws exception"
### Description

When exporting a flow (in `json` format mode) with the reserved character `>` (on windows), the command throws an exception.

**Background:**
The > character can easily be included in a flow name when a Flow is created without giving it a name in the first place. Power Automate will determine its name, and will include a > character.

### Steps to reproduce

Create a flow with a >

[2022-06-14 20:39] martinlingstuyl commented on #3339
@jacobsian-del Are you running PowerShell from VS Code, ISE or the plain default terminal?

[2022-06-14 20:47] Adam-it commented on #3391
yes this for sure. My suggestion was not to expose `expand` but instead we should manage it internally in the command

[2022-06-14 20:55] martinlingstuyl commented on #3218
Great start @waldekmastykarz, I can see where you're going with this.

There is one part that I'd personally like to see different: it's the part about adding stuff to arrays in the commands init functions. (`SpoWebGetCommand` in your example) Adding stuff to arrays seems like 'the plumbing' to me. The plumbing should go in the cabinet where I don't see it instantly. 😉 eg: it should be done in the

[2022-06-14 21:17] Jwaegebaert commented on #3393
I think implementing retry logic would make it quite verbose. The reason I changed the resource of the URL is to align it with the resource Power Automate uses. When I do an export through the UI, it calls the following endpoint.

![afbeelding](https://user-images.githubusercontent.com/38426621/173689574-c1fdff5e-3770-4503-9150-bbb9e246c438.png)

@martinlingstuyl, what are your results using the n

[2022-06-14 21:38] jacobsian-del commented on #3339
I've tested from the Terminal and VS Code.

[2022-06-14 22:08] jacobsian-del commented on #3339
I'm trying to capture the requests being made in fiddler but having some trouble setting up the proxies correctly.  Any guidance you can provide?

[2022-06-15 06:40] Jwaegebaert commented on #3218
Love the design @waldekmastykarz! Initially I was a little confused with the use of the `#` char but your comment in the constructor makes it very clear. Definitely interesting to keep this comment block in the final code as well. Now I also see that it will indeed be convenient for all validation to occur in the Command class. This makes it much easier to get an overview of what a command does. 👍

[2022-06-15 06:54] martinlingstuyl commented on #3393
Hi @Jwaegebaert, retry logic is more verbose of course, but in some cases you can temporarily use it to work around errors that occur _infrequently_ on the API side.
In this case though it seems retry logic will not solve @RobertHoegner 's problem. Is it as frequent on your end @Jwaegebaert ?

If Power Automate uses that endpoint it could indeed be a good way forward here. I'm wondering why the cu

[2022-06-15 07:05] Jwaegebaert commented on #3393
That's true. I am getting the same frequently like @RobertHoegner, from the 30+ retries, not one succeeded for me.

This is a more frequent issue with API's used within several commands. But right now, I don't know any other way to fulfill this command logic without this API.

[2022-06-15 07:16] martinlingstuyl commented on #3218
Something like this:

[code]

[2022-06-15 07:18] milanholemans commented on #3344
Should we just merge these 2 objects together? Or should we create a new property called "details" that contains the details of the task?

Option 1:
[code]

Option 2:
[code]

[2022-06-15 07:23] Jwaegebaert commented on #3344
Personally, I am a fan of option 1. This is because we also did it this way with issue #3257. This ensures that the users don't need to know the difference between plan details properties and the default plan properties.

[2022-06-15 11:13] phillipharding commented on #3393
This issue is related to #2923 which concerned both access token audiences and the url the `exportPackage` was called from.

Using `management.azure.com` failed whereas `api.bap.microsoft.com` succeeded.

I'm using v5.1.0 and I'm consistently getting `Error: The gateway did not receive a response from Microsoft.BusinessAppPlatform within the specified time period.` when trying to export a flow.

[2022-06-15 11:28] martinlingstuyl commented on #3393
Thanks @phillipharding!

[2022-06-15 11:40] preavy opened #3405 "Bug report: "m365 spo listitem set" issues with Number and Single Line of Text"
### Description

There are two closely related issues. One is setting a Single Line of Text with a string which contains something which looks like an integer. The other is simply setting a Number.

1.

If you try to set the value of a Single Line of Text with a string as such "example", it will work. If you used "123example", it will work. If you use "123", it will say:
Error: Cannot convert a pr

[2022-06-15 11:58] martinlingstuyl commented on #3393
We'll get this fixed and inform you @phillipharding, so you can test it in the beta.

[2022-06-15 12:34] milanholemans commented on #1982
I'm willing to work on this one. ☺️

[2022-06-15 12:55] waldekmastykarz commented on #3393
I wonder if this couldn't be a tenant-specific issue, where older tenants still work, while newer tenants (or tenants that received the update) don't.

[2022-06-15 13:13] waldekmastykarz commented on #3391
That settles it then 👍

[2022-06-15 14:42] Adam-it commented on #3391
cool
@nanddeepn all yours 👍.
let me know if you will need any help with that

[2022-06-15 15:16] #3393 closed

[2022-06-15 16:13] martinlingstuyl commented on #2923
Closing this one as fixed as a side effect of #3393.

[2022-06-15 16:14] #2923 closed

[2022-06-15 16:14] martinlingstuyl commented on #2923
That's a productive few lines of code @Jwaegebaert...

[2022-06-15 17:40] jacobsian-del commented on #3339
so I don't know how, but it worked once in bash instead of powershell.

Running: `m365 spo site add --alias team1 --title "Team 1" --debug`
Resulted in this:
[code]

However, next run:

Running: `m365 spo site add --alias team2 --title "Team 2" --debug`
Returns:
[code]

Does this new trace provide better information?

[2022-06-15 18:33] martinlingstuyl commented on #1982
You are too fast, @milanholemans 😂

[2022-06-15 18:36] milanholemans commented on #2031
Hey @douglasromao

Are you still working on this one? If not I'm willing to solve this one. ☺️

[2022-06-15 18:47] Jwaegebaert opened #3407 "Refactor BaseCommand for `flow export`"
Change the base command for `flow export` from `AzmgmtCommand` to `PowerPlatformCommand`.

Here we can change all `https://api.bap.microsoft.com` resource occurrences to `this.resource`. Also vice-versa, changing the current `this.resource` to `https://management.azure.com/`.

Initial request: https://github.com/pnp/cli-microsoft365/pull/3397#discussion_r897876014

[2022-06-15 20:05] Adam-it commented on #3218
I had the same impression 😅
@waldekmastykarz I like the idea and the example with arrays is quite solid and clear 👍. Just one question (sorry if it is a stupid one 😋) will it be possible to test each separate #init... method 🤔?
@martinlingstuyl I totally understand your point. TBH this `configuration: IConfig` could sometimes get quite big and in my experience usually when we create big, config ki

[2022-06-15 20:17] martinlingstuyl commented on #3218
You're probably right @Adam-it!

[2022-06-16 06:41] waldekmastykarz commented on #3218
#init methods are there for readability and we won't need to test them. Instead, we'll test the behavior of the command, for example: does it fail as expected when a required option is missing, does it send correct telemetry, etc. How the command does it internally will become less relevant, which is a great way to ensure that our tests are not coupled to the implementation.

[2022-06-16 06:42] waldekmastykarz commented on #3407
Great suggestion. Before we proceed, let's research that it won't lead to breaking changes.

[2022-06-16 06:44] Adam-it commented on #3218
makes total sense 👍.. I like it 😍

[2022-06-16 06:44] waldekmastykarz commented on #3339
Thank you for the additional information @jacobsian-del and I really appreciate your help. It's odd that one request is working as expected, while another, which is almost identical, fails. It almost seems like something intermittent in M365. Is the tenant that you're running this command against an old dev tenant, instant sandbox or a regular tenant? Also, does it have targeted release enabled? I

[2022-06-16 06:46] waldekmastykarz commented on #3393
@phillipharding as product groups at Microsoft evolve their products, they push code updates to M365. These updates are rolled out gradually so it could be that some tenants already have the new code while others are still running on the old one.

[2022-06-16 07:23] waldekmastykarz commented on #3218
So do we agree that we proceed with what I suggested in https://github.com/pnp/cli-microsoft365/issues/3218#issuecomment-1154815279? @pnp/cli-for-microsoft-365-maintainers

[2022-06-16 07:26] waldekmastykarz commented on #3169
Resetting as available due to lack of response

[2022-06-16 07:27] waldekmastykarz commented on #2941
Closing due to lack of response

[2022-06-16 07:27] #2941 closed

[2022-06-16 07:27] waldekmastykarz commented on #2993
Hey @robdy, are you still working on this?

[2022-06-16 07:43] Adam-it commented on #3218
I am all in 👍

[2022-06-16 09:25] waldekmastykarz commented on #3218
So action plan:

1. I'll create a new issue for the refactoring based on what we agreed
2. I'll reset this issue and put it on hold until the refactoring is done. When the refactoring is done, we can restart the work here to implement the missing option sets for the relevant commands.

Once again, thank you all for your feedback and ideas 🤗

[2022-06-16 09:57] #3333 closed

[2022-06-16 09:57] #3373 closed

[2022-06-16 13:30] martinlingstuyl opened #3408 "Remove --executeWithLimitedPermissions option on spo list list"
In 5.4 (beta) we fixed an issue where only SharePoint site owners could execute `spo list list`. Because the returned data changed slightly because of this, we used a temporary option to avoid a breaking change: `--executeWithLimitedPermissions`.

In major v6, we want to remove the option in favor of always executing the code from a limited permission viewpoint.

🏁 This issue is fixed when:
- opti

[2022-06-16 13:32] waldekmastykarz opened #3409 "Refactor command configuration"
Refactor command configuration so that we can have a central place for configuring validation, options, telemetry, etc.

Update commands:

- [x] aad app add
- [x] aad app get
- [x] aad app remove
- [x] aad app role add
- [x] aad app role list
- [x] aad app role remove
- [x] aad app set
- [x] aad approleassignment add
- [x] aad approleassignment list
- [x] aad approleassignment remove
- [x] aad gro

[2022-06-16 20:36] martinlingstuyl commented on #3340
Maybe we should backtrack here and discuss whether we want to support this at all.

The point is: PoSh behavior is not userfriendly when you use an option this way. (Eg: comma separated without quotes)

So what do we do: so we try to help the user here, with the possible side effect of splitting a string the wrong way?

[2022-06-16 21:38] martinlingstuyl commented on #3386
@waldekmastykarz, I think we'd best keep this one on hold till #3409 is done, right?

[2022-06-16 21:40] martinlingstuyl commented on #2813
I like this issue, but I haven't found the time for it yet, I'm opening it up again for other contributors.

[2022-06-17 06:16] waldekmastykarz commented on #3386
Yes, you're right.

[2022-06-17 18:26] nanddeepn commented on #3169
Hi @waldekmastykarz
Can I work on this?

[2022-06-17 19:37] jacobsian-del commented on #3339
It's (what I assume is) a regular tenant created on my M365 developer subscription.

Not to my knowledge, kept it to the default options on creation.  Where would I go to check?

Not at all, thanks for putting up with me for something I strongly suspect is going to end up being a personal problem :-)

[2022-06-17 19:44] cryongen opened #3411 "m365 spfx project upgrade Error: SyntaxError: Unexpected token } in JSON at position 852"
### Description

I'm trying to run spfx project upgrade, but i'm getting an error
Error: SyntaxError: Unexpected token } in JSON at position 852

Using:
NVM for windows
Node 10.13.0
NPM 6.4.1

### Steps to reproduce

1. Open the project folder on powershell
2. Type m365 spfx project upgrade --output md > "upgrade-report.md"

### Expected results

The upgrade steps genereated by de m365 cli

### Ac

[2022-06-17 20:54] cryongen commented on #3411
** Installed NODE 14 to run cli doctor

[2022-06-17 22:20] martinlingstuyl commented on #3411
Hi @cryongen, thanks for reaching out! Let's see if we can narrow this down to help you out.

what kind of SPFx version are you to trying to upgrade?

do you experience the same if you choose another output type, say `--output text`?

[2022-06-17 22:21] martinlingstuyl commented on #3169
Sure you can @nanddeepn, thanks in advance!

[2022-06-18 04:33] #3281 closed

[2022-06-18 09:34] vipulkelkar commented on #3260
@waldekmastykarz  I can try and work on this one.

[2022-06-18 13:09] waldekmastykarz commented on #3409
I've updated the base Command structure and other base classes, updated the CLI runtime to use the new structure and updated 3 commands (aad app add, spo site list and spo site get) to see how it would look like: https://github.com/pnp/cli-microsoft365/compare/main...waldekmastykarz:command-refactoring

[2022-06-18 13:14] waldekmastykarz commented on #3411
Adding to what @martinlingstuyl said, would it be possible for you to share the project that you're trying to upgrade with us so that we can reproduce the issue that you're seeing? Otherwise, please let us know which version of the SPFx project you're trying to upgrade, what components it has (web parts, extensions, ACEs, etc.) and to what version you're upgrading. We appreciate your help.

[2022-06-18 19:00] martinlingstuyl commented on #3403
Thanks for noticing @milanholemans, I've opened it up for contribution.

Could you update the specs with clear requirements so that a possible contributor knows what to do?

[2022-06-18 19:10] milanholemans commented on #3403
Sure, but you can assign it to me if it's ok.

[2022-06-19 13:30] waldekmastykarz commented on #3403
Following our naming convention, we should use `title` instead of `fieldTitle`, because the last noun is `field` so we'd be repeating context.

[2022-06-19 13:39] milanholemans commented on #3403
@waldekmastykarz you are right, but when you check all other `spo field ...` commands, `fieldTitle` is used there as well. I think this is because unknown options are allowed and `Title` is a property of a SharePoint field object.

[2022-06-19 19:42] #3282 closed

[2022-06-19 19:42] #3285 closed

[2022-06-20 07:00] martinlingstuyl commented on #3260
Thanks @vipulkelkar!

[2022-06-20 08:27] Jwaegebaert commented on #3344
I can take this one up. 😄

[2022-06-20 11:23] cryongen commented on #3411
to project is SPFX 1.8.1

Tried the output text and get same error

[2022-06-20 11:26] cryongen commented on #3411
The project is on webparts, it have about 30 web parts in the project,

I tried to upgrade from spfx 1.8.1 to gratear versions, triead 1.10.0 , 1.14, etc.
all of these i'm geteting the same error

[2022-06-20 12:06] #3400 closed

[2022-06-20 12:06] #1982 closed

[2022-06-20 12:06] #3379 closed

[2022-06-20 12:32] cryongen commented on #3411
Already tried a clean install of node 1.10 and 1.14, and the m365 package, and still get the same error.

[2022-06-20 19:25] jacobsian-del commented on #3339
Yep Standard Release.

![image](https://user-images.githubusercontent.com/79284895/174666685-4ad4d076-916b-49fe-8478-e657374dce15.png)

[2022-06-20 19:30] martinlingstuyl opened #3416 "Enhancement: MkDocs update"
This issue concerns updating MkDocs to achieve a couple of things:

- Preparation for allowing people to tag md files
- Update MkDocs-material to the latest version
- Centralize the pip requirements
- (easter egg) Add optional dark mode

[2022-06-20 23:01] milanholemans opened #3419 "Remove `name` option from `spo field set`"
Remove the option `name` from the command `spo field set` in the next major release of the cli (V6).

Related issue: https://github.com/pnp/cli-microsoft365/issues/3403

[2022-06-21 06:51] martinlingstuyl commented on #3339
@jacobsian-del, did you have an answer to this as well?

[2022-06-21 07:09] martinlingstuyl opened #3420 "Refactor commands that expect HTTP 200 calls with `undefined` results"
Some time ago I ran into a few planner commands that check if the API responses are undefined:

[code]

This is accompanied by a test in the testfile:

[code]

I wonder if there is some specific reason why this coded this way. If an endpoint fails, it probably does not return HTTP 200, and henceforth this checks and testcases are superfluous and can be removed.

The places where I noticed this are

[2022-06-21 07:09] martinlingstuyl commented on #3420
@Jwaegebaert, @milanholemans: Do you by any chance have ideas about this? I think you worked on some of these commands.

[2022-06-21 07:37] milanholemans commented on #3420
I think you're right. Either the API call succeeds and you get an etag back. Or the task doesn't exist and the request util throws an error. I can't think of a way to get a HTTP success message without an etag value.
So I think this can be removed indeed.

[2022-06-21 08:08] Jwaegebaert opened #3421 "Enhancement: Add `includeAssociatedSites` option to `hubsite get`"
Add the option `includeAssociatedSites` to the command `hubsite get` so that it can return all associated sites for this individual hubsite.

Option | Description
--  | --
`--includeAssociatedSites` | Include the associated sites in the result (only in JSON output)

### Additional Info

This can be implementend in the same way like the command `hubsite list`.

[2022-06-21 10:51] martinlingstuyl commented on #3420
That's possible yes, but I think it's only a few places, as some other places require a specific extra property, using `$select`.

[2022-06-21 11:06] waldekmastykarz commented on #3420
If it's not needed, let's clean it up. Good catch 👍

[2022-06-21 11:07] waldekmastykarz commented on #3421
Great idea! 👏

[2022-06-21 11:14] Jwaegebaert commented on #3421
Good catch! I updated the specs.

[2022-06-21 12:58] jacobsian-del commented on #3339
Some preliminary findingings, but I'm on another network at another localtion today so this should make sure I have everything covered.  WIll post findings later today

[2022-06-21 13:30] bacca87 opened #3422 "Outlook mail send with attachments"
Hi all,
is it possible to send an email with attachments using the CLI?

Thank you

[2022-06-21 16:58] martinlingstuyl commented on #3422
Hi @bacca87, unfortunately that is not supported. If you'd like you could contribute to the CLI by adding the command 🤗

[2022-06-21 17:07] jacobsian-del commented on #3339
Well it's definitely a problem with me.  Worked with my partner and he is able to run the command without issue from his computer against both his own tenant and mine without issue.

Good news is I have a trace, seems the call to create the Group site is getting rejected.  Don't know why, but it's a concrete problem to trace.
[CLI_Capture.zip](https://github.com/pnp/cli-microsoft365/files/8950969/

[2022-06-21 17:42] martinlingstuyl opened #3423 "Refactor superfluous `Promise.resolve(value)` and `Promise.reject(error)` in `.then()` functions."
There are quite some commands where values are returned from resolved promises using a `Promise.resolve(value)` call. The same goes for Throwing errors from within resolved Promises. This is often done using a returned `Promise.reject(error)`.

Take the following code:

[code]

This works fine and is okay, but it's also more verbose than simply writing `return response.property;`
, and regarding e

[2022-06-21 18:40] milanholemans commented on #3423
I'm in favor of this. What you are proposing is much cleaner in my opinion.
Maybe we can make these functions async as well? But that is somewhat related to #2130. ☺️

[2022-06-21 19:01] martinlingstuyl opened #3425 "Bug report: `tenant serviceannouncements` has wrong _global.md reference in docs"
### Description

`tenant serviceannouncements` has wrong _global.md reference in docs, breaking docs and cli help

### Steps to reproduce

Look at the docs:
https://pnp.github.io/cli-microsoft365/cmd/tenant/serviceannouncement/serviceannouncement-health-get/#options

### Expected results

The global references should be there

### Actual results

it's missing the global options.

Also: it breaks t

[2022-06-21 19:53] #3383 closed

[2022-06-21 19:58] jacobsian-del commented on #3339
Additionally, testing the failing API call in Powershell with curl was successful, while the API call made through the CLI fails.  Fiddler trace and Curl script are attached below.
[CurlResults.zip](https://github.com/pnp/cli-microsoft365/files/8952412/CurlResults.zip)

I'm suspecting that something in my node install is messed up?

[2022-06-21 20:41] waldekmastykarz opened #3427 "Enhancement: Add support for upgrading SPFx projects to v1.15"

[2022-06-21 21:34] martinlingstuyl commented on #3423
I'd really love that as well 😁

[2022-06-21 22:05] milanholemans commented on #3404
I'm willing to work on this one.

I think we can solve this by removing special characters from the file name, in Windows `\ / : * ? " < > |` are considered special characters. However if we just remove these characters from the file name, a ridiculous Flow name like `<>*` would still fail because the file name will be empty.

I see 3 possibilities, what do you guys think?
1. Ignore the ridiculous

[2022-06-22 08:56] martinlingstuyl opened #3430 "Refactor `commandAction` to return a `Promise`"
Say we would refactor the `commandAction` function to return a Promise.

...we could then use async/await for all functions and directly await them from `commandAction`.

...we could use the `cb()` function to resolve that promise.

...we could move `try catch` logic down to the base command, so we don't need to call `this.handleRejectedODataJsonPromise(rawRes, logger, cb))` in every command file.

[2022-06-22 08:57] martinlingstuyl commented on #3430
Related to #3423 and #2130, @milanholemans 🤙

[2022-06-22 09:30] waldekmastykarz commented on #3430
Nice idea! A few considerations:

Makes perfect sense today. When we started working on the CLI, Promises weren't supported by Istanbul (the tool we used for coverage) and Node. Today that's no longer the case, so we could absolutely move away from callback and use promises instead.

I'd actually suggest that we drop the callback altogether and simply return a promise or throw an error. It would b

[2022-06-22 09:44] #3427 closed

[2022-06-22 09:57] milanholemans commented on #3430
I fully support this idea! I'm a big fan of dropping the callback. 😃

I support the idea of refactoring the whole codebase, however it will be a lot of work to do this alone. Can't we split this up in different parts like `aad, spo, teams, planner, ...` just like we want to do with the option sets?

[2022-06-22 11:53] martinlingstuyl commented on #3430
Yeah, I'd thought that as well, I only wrote it down in for fallback purposes, but if we refactor everything in one go, it's perfectly fine to remove it. 👍

[2022-06-22 12:13] martinlingstuyl commented on #3430
Okay, in that case we need a try catch in every command file.

[2022-06-22 15:58] crispinboylan-int opened #3431 "Bug report: login fails with error 400 on 5.4.0"
### Description

When logging in as normal with 5.4.0 using this:

 I get:

Error: network_error: Network request failed. Please check network trace to determine root cause. | Fetch client threw: Error: HTTP status code 400 | Attempted to reach: https://login.microsoftonline.com/REDACTED/oauth2/v2.0/token

REDACTED has my normal tenant id in it.

Reverting to 5.3.0 works fine.

### Steps to reprod

[2022-06-22 17:13] martinlingstuyl commented on #2531
Closed as duplicate.

[2022-06-22 17:35] Dangerous-Mind commented on #3431
We got this error also.

In our case the issue was a password with a special char.
It seams that the new version does not support "#" char.

[2022-06-22 17:39] fonbrauzen opened #3432 "spfx doctor command do not support 1.15"
v5.4.0.
Despite "added support for upgrading SPFx projects to v1.15.0" the doctor wasn't affected by this update.

[2022-06-22 17:45] Jwaegebaert commented on #3430
Great suggestion @martinlingstuyl & @milanholemans!

When we start working on this issue and you need an extra pair of hands, you can count on me. 😄

[2022-06-22 18:13] milanholemans opened #3433 "`planner task get` missing validation + docs addition"
Noticed some things about the `planner task get` command.

* The command has an alias `planner task details get`. However this alias is not specified in the docs. https://pnp.github.io/cli-microsoft365/cmd/planner/task/task-get/
* Noticed a small validation issue. When you provide the option `id`, you can specify all other options like `planId`, `planName`, `bucketId`, `bucketName`, ... We should

[2022-06-22 18:30] martinlingstuyl commented on #3433
Hi @milanholemans, the planner task details get command was combined with planner task get a few weeks ago. It will need to be removed entirely in v6.

The other point is a good observation, we'll also need to take that up as a requirement for when picking up the optionSet validation...

[2022-06-22 20:21] waldekmastykarz commented on #3431
@crispinboylan-int thank you for letting us know of the issue and we'll get on it asap.

@Dangerous-Mind was the `#` at the beginning of your password or in the middle? Have you wrapped the password in double quotes?

[2022-06-22 20:56] milanholemans commented on #3404
I think that will work yes! 🙂

[2022-06-22 21:05] martinlingstuyl commented on #3430
We could cleverly rebase it for once and keep more than one commit. Keeping the authoring info. For example:

1. One Base branch: fix the base command setup
2. 1 branche per contributor on top of that. Each fixes a subsection of commands
3. Squash commits per contributor branch
4. Rebase on base branch
5. PR base branch to upstream. (Keeping x commits for once)

More like a bloody merge war 😂

[2022-06-22 21:42] milanholemans commented on #3433
I understand that these 2 commands became one. But normally when aliases are documented in the docs. Take `teams channel member add` for example. This command has an alias which is also documented in the docs https://pnp.github.io/cli-microsoft365/cmd/teams/channel/channel-member-add.

So since `planner task get` has an alias called `planner task details get`, this should also be documented in the

[2022-06-23 01:18] Dangerous-Mind commented on #3431
The # was at the beginning of the password.
I started getting the error in dev ops. The password was a variable so I cant tell if it uses the double quotes.

I then tried on PowerShell with single quotes, double quotes, no quotes and go the same messages.

On Azure, enterprise applications,  I checked the logs and it had several failed connections with invalid password.
I then changed the password

[2022-06-23 07:31] crispinboylan-int commented on #3431
no # in our password but there is a $ and a !

[2022-06-23 07:55] Dangerous-Mind commented on #3431
We have another service with a ! on the password and it was not affected.

[2022-06-23 07:57] martinlingstuyl commented on #3433
That's true, apparently we missed it during the review.
Could you split this issue in two? that way, the docs change can come through faster.

[2022-06-23 10:51] waldekmastykarz commented on #3431
Thank you for the additional information. What I meant with double quotes is if you wrapped the password in the command line, like:

[code]

vs.

[code]

[2022-06-23 10:53] crispinboylan-int commented on #3431
for us we were already putting the password in quotes to avoid the dollar being interpreted as the start of a variable.

[2022-06-23 10:54] waldekmastykarz commented on #3431
Got it. Let's see if we can reproduce it which would help us to understand what's wrong. I appreciate your help and patience.

[2022-06-23 10:58] waldekmastykarz commented on #3430
I think we should think some more about it. So far, we've been using 1 issue = 1PR = 1 commit and it would be odd to have multiple commits for the same PR. This approach would also mean that we can't ship everyone's work until everyone's work is ready so one person could potentially hold up the whole feature release and everyone else's work.

There's no real urgency behind this refactoring, so I'd

[2022-06-23 11:41] martinlingstuyl commented on #3430
That's true, it's not urgent.

[2022-06-23 11:44] martinlingstuyl opened #3435 "Remove `planner task details get` alias"
Remove `planner task details get` alias as it was combined with `planner task get`.

[2022-06-23 12:25] BasantBPandey opened #3436 "After migration "Spfx doctor" Keep pointing to old version (m365 spfx project doctor)"
I have updated my package with SPFX 1.14.0. All the references point to the latest package. When I use the "doctor" to check the project issue. It is showing the following message to revert back my changes to the old version which is 1.11.0

m365 SPFX project doctor

`{
    "description": "@microsoft/decorators@1.14.0 doesn't match the project version 1.11.0",
    "id": "FN021001",
    "file": "./

[2022-06-23 16:45] SharePointX commented on #3431
I also reproduced it in my Azure devOps CI/CD pipeline.

I just tried it in my local environment.
It reproduces with `npm install -g @pnp/cli-microsoft365`.
It does not reproduce with `npm install -g @pnp/cli-microsoft365@5.3.0`.

Do you need any information to help?

[2022-06-23 16:45] milanholemans commented on #3436
Hi @BasantBPandey

Can you check in the root of your project your `.yo-rc.json` file, and check if the version in this file is set to 1.14.0?
[code]

This property is used by the SPFx doctor to determine what version your project is on.

[2022-06-23 17:15] BasantBPandey commented on #3436
Yes, the file still points to the old yo man generator version. Thanks for the quick response.

![image](https://user-images.githubusercontent.com/106745217/175355316-c822e7af-6038-466f-9141-526524de1fbb.png)

After trying again, it still complained about the unsupported rush stack compiler

![image](https://user-images.githubusercontent.com/106745217/175356550-80c87ebd-05f4-4989-ac9f-0c5df4decac5

[2022-06-23 17:47] Dangerous-Mind commented on #3431
#

Hi,
Something like _m365 login --password "$(pass)" ...._
The password is a variable inside a Dev Ops library.

I tried the same command on powershell with single quotes, double quotes and without quotes always receiving the same reply. 400.

Like @SharePointX said it only happens on the new version of cli.

Probably something to do with msal since also they have a new version.
There is also a

[2022-06-24 10:17] martinlingstuyl opened #3438 "Remove `spo site classic add` as it has already been deprecated for some time now."
Related to #1493

The two commands `spo site add` and `spo site classic add` have been consolidated some time ago. `spo site classic add` has been deprecated since then.
The code is still the codebase though.

The old `spo classic site add` command should be removed from the code base AND removed from the documentation.

[2022-06-24 10:19] martinlingstuyl commented on #1495
Reopening to get this updated once and for all 📣

[2022-06-24 10:34] robdy commented on #2993
Just to check if I understand it correctly: you can pass to the API either the user ID or their UPN and that allows us to get the message?

Yes, that's correct, both options returns the same result:

![image](https://user-images.githubusercontent.com/15113729/175517791-b9d02fda-a332-4f37-b366-49d5938804f3.png)
![image](https://user-images.githubusercontent.com/15113729/175517854-a8707f74-abd1-4fca

[2022-06-24 11:03] Jwaegebaert commented on #3433
My bad, I forgot to write the alias part in the docs. 😅

For the validation, I also noticed this when I was working on #3344. In this issue I had to combine `planId` and `planTitle` with `id` and `title`. Which then also needed additional checks within the validate function.

If it's okay for you guys, then I can pickup this issue.

[2022-06-24 11:47] Jwaegebaert commented on #2389
To add shorthand options for the command `teams tab get`, maybe we first should look at the naming convention used here. The command has the options `tabId` and `tabName` which are better converted to `id` and `name`. This then follows right along with the [Spec checklist](https://github.com/pnp/cli-microsoft365/wiki/Spec-checklist) that is provided for the CLI.

When we apply this, we can also ad

[2022-06-24 12:14] milanholemans commented on #3436
If I got it right, `spfx project doctor` only takes the default project configuration into account.
When scaffolding an SPFx v1.14 project, rush-stack-compiler v3.9 is installed by default. I know v4.2 is needed to make PnPjs v3 work, but these are own adjustments made to the project that are not considered valid by the doctor since this is not the default configuration.
I'm not sure if this can b

[2022-06-24 12:52] milanholemans commented on #3432
I'm willing to work on this one.

[2022-06-24 12:55] waldekmastykarz commented on #3432
Awesome! All yours @milanholemans and I appreciate your help 👏

[2022-06-24 12:56] waldekmastykarz commented on #3436
With `spfx project doctor` we stick to the configuration that's tested and officially supported by engineering. So in this case, it's by design.

[2022-06-24 12:59] waldekmastykarz commented on #3431
I think we have enough information to investigate what's the culprit. Thank you @Dangerous-Mind for the pointer on MSAL, we'll check it out too.

@SharePointX what's the password pattern that you're working with? Also `#` at the beginning?

[2022-06-24 13:53] SharePointX commented on #3431
@waldekmastykarz
It starts with '3', contains two '@' in the middle, and ends with 'n'.
My password is 28 characters long and is a mixture of numbers, uppercase and lowercase letters.
I could not find any other characteristics.
It is a creepy string generated by a password generator.

I had no problems with that password last month.

[2022-06-24 17:41] Jwaegebaert commented on #1619
Hi @waldekmastykarz, is it possible that this enhancement is already implemented. During my testing I noticed the tour points towards a "virtual" file named `CodeTour` when the user needs to create a new file.

![afbeelding](https://user-images.githubusercontent.com/38426621/175613452-62bebb9a-de0b-4ab9-ba75-6a2c387f084c.png)

Started to dig a bit deeper to check when it was introduced, which seem

[2022-06-24 21:41] Adam-it commented on #1492
sorry for the late response... I am still catching up with CLI (a lot is going on lately 😉)

Were you thinking to add additional validation for that and ensure user will do it properly or rather do it under the hood for the user?

option A seems more user friendly, Option B seems less work 🤔

![pirate-geoffreyrush](https://user-images.githubusercontent.com/58668583/175696362-6cf6ea6a-6b38-4c3d-8c6

[2022-06-24 22:15] milanholemans opened #3440 "Support SPFx v1.15.0 for `spfx project doctor` command"
SPFx v1.15.0 is not supported yet for the command `spfx project doctor`.

[2022-06-24 22:15] milanholemans commented on #3440
I'm willing to work on this one.

[2022-06-25 06:35] martinlingstuyl commented on #3440
Fantastic milan, all yours!

[2022-06-25 09:25] Jwaegebaert commented on #3405
Hi @preavy, I was able to reproduce your problem so I did a little digging to see how we can solve this for you.

First of all, with my testing I got the following results. On my test environment I have a list called Demo with 2 columns. Column SLT is a single line of text and column Number is, well a number column.

![afbeelding](https://user-images.githubusercontent.com/38426621/175766677-becf10

[2022-06-25 12:39] waldekmastykarz commented on #3431
I can confirm that `@` in the password causes the login command to fail. I'll check next if there's anything that we could do about it.

[2022-06-25 12:42] waldekmastykarz commented on #3431
This line seems to be the culprit:

https://github.com/pnp/cli-microsoft365/blob/4e973d950c2f806fae20545cf61efc566d186295/src/Auth.ts#L397

By removing the encoding, all seems to work as intended. I'll submit a PR and merge it asap.

[2022-06-25 12:59] waldekmastykarz commented on #3431
I stand corrected: with the latest version of MSAL, changing this line doesn't seem to fix the error. Investigating further.

[2022-06-25 13:15] #3425 closed

[2022-06-25 13:15] #3431 closed

[2022-06-25 13:18] waldekmastykarz commented on #3431
We've merged an issue for this fix and will include it in the next release end of August. You can try the fix early by installing the beta version using `npm i -g @pnp/cli-microsoft365@next`. Once again, thank you for reporting the issue and all your help in getting to the bottom of it.