[2019-07-24 15:50] VelinGeorgiev commented on #1032
I have tried several more things, but I am running out of options here.

I am thinking of enhancing the CLI and introducing our own special character combination for the  input when we have to use `|` char to make it work with Windows cmds that do not accept that. For example `encodeURIComponent('|')` resolves in `%7C`. We can look for `%7C` input and send it to the apis as `|` char. This way we w

[2019-07-24 19:57] munchkin1 commented on #1043
Hi VelinGeorgiev,

Yes it works, this is great thank you!

Also do we have a forum for posting office365-cli questions?  Not sure if I should have asked this question elsewhere first before creating this issue.

Thanks again

[2019-07-24 19:57] #1043 closed

[2019-07-24 22:05] VelinGeorgiev commented on #1043
You are welcome @munchkin1 ! This is the right place to ask questions. We maintain every type of information (question, bug, feature) in the issues list. Feel free to open more issues if you need help.

[2019-07-25 12:22] sprider commented on #1038
@VelinGeorgiev Sure, I will review the same and start this weekend.

[2019-07-25 12:26] VelinGeorgiev commented on #1038
Thank you Joseph! I will assign it to you.

[2019-07-30 01:14] sprider commented on #1038
@VelinGeorgiev
Could you please put this on hold? I will pickup later or someone can work on this. Got up with few activities. Thank you

[2019-07-30 22:03] VelinGeorgiev commented on #1038
@sprider , Thanks for the heads up!

[2019-08-01 15:04] hugoabernier opened #1046 "New command: get tenant diagnostics"
If you look at the issues lists on the sp-dev-fx-webparts, sp-dev-fx-extensions, and sp-dev-docs, the most frequent first response is "what environment are you currently running?". This is especially true when people report issues that occur on one tenant, but not the other.

What if we had a standard command to get tenant diagnostics info, which we could use as a standard way to compare tenant en

[2019-08-01 15:28] garrytrinder opened #1047 "Failing tests on spo list view field"
As per the instructions in 'Minimal Path to Awesome'
After forking, I ran `npm test`
4 tests fail
As below

1) spo list view field add
       uses correct API url when list id option is passed:
     Error: Timeout of 2000ms exceeded. For async tests and hooks, ensure "done()" is called; if returning a Promise, ensure it resolves. (/Users/garrytrinder/Documents/GitHub/office365-cli/dist/o365/spo/co

[2019-08-01 16:01] VelinGeorgiev commented on #1047
Hi @garrytrinder ,

Having the `Error: Timeout of 2000ms exceeded` means something is very slow on your machine.

Could you please see if node 8.x or 10.x is installed and try `npm run clean`, `npm run build` and `npm t`?

These tests are support to be ok since we run pipeline and continuous deployment before and after every pull request and they pass [there](https://circleci.com/gh/pnp/office365-

[2019-08-01 16:08] VelinGeorgiev commented on #1046
This is a great idea @hugoabernier ! We will have to identify all the information that would be initially needed, but we can definitely start with what you added up and investigate if there are apis around it.

I will mark this as `needs design` and we can continue the discussion here. I would like to see what @waldekmastykarz  will say on this. He will be back from vacation soon.

[2019-08-01 16:15] garrytrinder commented on #1047
I'm running Node v8.11.4 on MacOS Mojave 10.14.5, I've completed the steps and still the same.

[2019-08-01 18:33] VelinGeorgiev commented on #1047
Thanks Garry! I will try to reproduce with clean clone on my side.

[2019-08-01 18:51] hugoabernier commented on #1046
What he gets *vacation*?!?! Must be nice!

Just kidding, I'm sure it is well-deserved. I hope he'll come back with great ideas for this command.

Let me know how I can help.

[2019-08-01 20:47] VelinGeorgiev commented on #1047
I did some testing following the steps you did with clean clone of the pnp/office365-cli, but the tests passed for me. I will try few more things tomorrow.
![image](https://user-images.githubusercontent.com/1049476/62326391-e10f7180-b4a5-11e9-9656-3986557dd7c2.png)

[2019-08-01 21:41] garrytrinder commented on #1047
I've just tried this on different versions of Node v8.16.0 and v10.16.1 which result in the same test failures for me. Before each test I removed node_modules and repeated the MPA steps. 🤔

[2019-08-01 21:53] garrytrinder commented on #1047
Not sure if this is relevant but I'm also running TypeScript v3.5.3

[2019-08-01 22:18] VelinGeorgiev commented on #1047
@garrytrinder , what you can do is to increase the timeout limit for a mocha test. You can open the packages.json and add `--timeout 10000` to the `npm test` task.

It should look like this

[code]

Could you please run the tests with it and let me know if they pass?

[2019-08-01 22:25] garrytrinder commented on #1047
Adding the timeout doesn't appear to be making any difference, still getting same four fails 🤔

[2019-08-01 23:08] garrytrinder commented on #1047
I've increased the timeout all the way up to 999999 and I have now seen the tests complete, see below. I have no idea why these specific tests would run so slow though 🤷🏻‍♂️

![image](https://user-images.githubusercontent.com/11563347/62332486-c645f880-b4b7-11e9-9c40-d9ae2cc6820b.png)

I've been able to debug one of the tests and can see that done() is being called quickly but then seems to get st

[2019-08-02 09:57] VelinGeorgiev commented on #1047
This is very interesting. I have not seen that before, we can monitor that behavior and see it someone else will experience the same.

@garrytrinder, this should not be a show stopper for you to build command since you better run only the tests you are adding for the new command.
What I usually do is to change the package.json to
`    "test": "nyc -r=lcov -r=text mocha \"dist/**/<NAME_OF_FILE_OF_M

[2019-08-02 10:03] garrytrinder commented on #1047
@VelinGeorgiev thanks for that tip 😀

For reference, here is my machine spec.

![image](https://user-images.githubusercontent.com/11563347/62362551-2028db80-b515-11e9-90a2-375b5e24fd6e.png)

[2019-08-02 10:20] VelinGeorgiev commented on #1047
That is a top notch hardware + software combination, I doubt this is the reason. I assume it is a combination of nodejs version + npm + mocha + typescript + some other package that makes nodejs to respond slowly.

[2019-08-02 10:28] garrytrinder commented on #1047
Agreed, as I have the issue on my machine, I'm happy to look into it further and if I resolve the issue, I will raise a PR.

[2019-08-02 10:52] VelinGeorgiev commented on #872
I am on it!

[2019-08-02 11:31] VelinGeorgiev opened #1048 "o365 flow list throws error "x-ms-client-scope header must not be null or empty""
### Description:
- o365 flow list throws error "x-ms-client-scope header must not be null or empty"

### Steps to reproduce (office 365 cli - BETA):
- Create azure ad app with the following setup
![authsetup](https://user-images.githubusercontent.com/1049476/62366939-2a9ca280-b520-11e9-8c57-9518b8fbb4af.PNG)
![flowenabled](https://user-images.githubusercontent.com/1049476/62366944-2c666600-b520-11

[2019-08-02 14:50] VelinGeorgiev commented on #715
I cannot proceed due to https://github.com/pnp/office365-cli/issues/1048. I might be missing something in the setup. Once that is solved I will proceed.

[2019-08-02 14:53] VelinGeorgiev commented on #897
I will pickup this now.

[2019-08-02 21:46] VelinGeorgiev commented on #897
Here is my proposal:
`o365 login --authType clientSercet --secret 'abc'`

Introducing additional `clientSercet` authType.
Introducing additional option `sercet` that is mandatory when the type is `clientSercet`:
`--secret [secret]` - A secret string that the application uses to prove its identity when requesting a token. Also can be referred to as application password.

[2019-08-04 13:50] VelinGeorgiev commented on #872
Initial command added to the CLI. We can potentially extend it with `team site url` option in future.

[2019-08-04 13:52] #872 closed

[2019-08-04 14:28] VelinGeorgiev commented on #897
@waldekmastykarz , I seek for your advice here.

I have it almost done in this [branch](https://github.com/VelinGeorgiev/office365-cli/tree/secret-auth), however I have a `blocker`. Here is the current situation:
1. Everything works as expected, token is retrieved when using client secret and can be used with the Microsoft Graph for example.
2. The **issue is with the SharePoint APIs where I get e

[2019-08-04 14:40] BassemNKhalil opened #1050 "Why doesn't O365 CLI keep track of executed commands from previous sessions (like powershell)?"
As stated in the title, I'd like to be able to scroll through the previously run commands (from previous sessions) as I do with PowerShell. Saves a lot of time and effort when specific commands have been run previously - and seems to be a standard-issue now with  Terminal on Mac OSX as well as PowerShell in Windows.

Is this something that needs to be implemented as a feature or maybe a configurat

[2019-08-04 14:54] VelinGeorgiev commented on #1050
Hi @BassemNKhalil ,

Are you running the CLI in interactive mode or non-interactive mode?

What I have noticed is that when I run commands in non-interactive mode, I have the past history stored in my terminal.
For example instead of typing `o365` and waiting the CLI to enter in interactive mode you can execute the command directly from the terminal like for example:
`o365 spo web get -u https://c

[2019-08-04 14:57] VelinGeorgiev commented on #15
Moving back to the backlog due to lack of response.
Free to pickup.

[2019-08-04 14:59] VelinGeorgiev commented on #16
Moving back to the backlog due to lack of response.

Free to be picked up.

[2019-08-04 15:00] BassemNKhalil commented on #1050
Hi Velin,

Thanks for the swift response. While I understand your approach, it would
mean I’d lose auto complete since Terminal itself wouldn’t recognise O365
commands.

I’d understand if it’s too much work for little payoff or if there’s a
certain technical limitation stopping it but it just seems like a standard
behaviour this day and age.

On Mon, 5 Aug 2019 at 12:54 am, Velin Georgiev <notific

[2019-08-04 15:00] VelinGeorgiev commented on #14
Moving back to the backlog due to lack of response.

Free to be picked up.

[2019-08-04 15:03] BassemNKhalil commented on #1050
To further clarify, I use the interactive mode and that's where I'd like history to be available.
Using non-interactive mode loses the auto-complete functionality which is quite useful especially since the commands are not named in line with the corresponding PowerShell commands.

[2019-08-04 15:11] VelinGeorgiev commented on #1050
Yep, I understand your pain.

The underlying command library the CLI uses is [vorpal](https://github.com/pnp/vorpal) and as far as I know it is stateless, meaning that it does not have a mechanism to store history.

We can definitely do something about that, but it would be a custom implementation that would require design and discussion. So my initial thought is that we can introduce a sql lite o

[2019-08-04 15:26] VelinGeorgiev commented on #1048
Ok, I managed to make it work using `device login` as mentioned in [Waldek's blog](https://blog.mastykarz.nl/manage-microsoft-flow-office-365-cli/). I realized that there might not be a way to make it work under my own azure ad app since flow has only delegated permissions and none application (as from I can see in the app permissions tab).

[2019-08-04 15:26] #1048 closed

[2019-08-04 15:28] VelinGeorgiev commented on #715
Ok, ignore my previous comment. I just realized that Flow does not run under application permissions and I was logged in with my own azure ad app instead of `device login`.

[2019-08-04 15:35] VelinGeorgiev opened #1051 "Running `o365 flow export` throws error 'administrator has not consented to use the application'"
Steps to reproduce:
- Run `o365 login`
- Authenticate using device flow
- Run `o365 flow export -e Default-a1214787-77d5-4b72-a96d-1c278f72bbb0 --id 5083f6a3-04bb-4a88-8ff5-095169c289f2 --path "C:/MyFlow.zip"`

Expected:
Zip file.

Actual:
[code]

Additional:
The 'PnP Office 365 Management Shell' consent is actually given. What am I missing?

[2019-08-06 06:37] BassemNKhalil commented on #1050
Hi @VelinGeorgiev
CC @waldekmastykarz

I did a bit of digging on my own and I found [this](https://github.com/dthree/vorpal/issues/36) - seems like it was brought up with the vorpal community and got included with v1.5 onwards. Would that make it more palatable to implement? Keen to hear back what you think.

[2019-08-06 09:21] VelinGeorgiev commented on #1050
This is a great catch @BassemNKhalil !

Lets wait for some feedback from @waldekmastykarz , then we can investigate and try enable that feature if there are no implications.

[2019-08-06 17:03] garrytrinder commented on #1047
@VelinGeorgiev Ok, so I think I've found a fix for this, but i'm not 100% on why.

I noticed that some tests call `stubAllGetRequests();` so I added that to the first line of one of the failing tests and it resolved quickly as you would expect. So I've added that line to the other three failing tests and I can now run a complete suite of tests with success.

![image](https://user-images.githubuser

[2019-08-06 17:14] garrytrinder commented on #814
@waldekmastykarz I'd like to pick this up as my first contribution

[2019-08-06 17:36] garrytrinder commented on #1051
Works for me but I used this flow instead...

 - Run `o365 azmgmt login`
 - Authenticate using device flow
 - Run `o365 azmgmt flow export -e Default-eff8592e-e14a-4ae8-8771-d96d5c549e1c -i d9160435-2822-4baf-a412-7ed676e15c00 -p flow.zip -f zip`

[2019-08-06 18:13] garrytrinder commented on #1047
Code changes can be seen here... let me know if you want me to create a PR...
https://github.com/pnp/office365-cli/compare/master...garrytrinder:TestTimeouts

[2019-08-07 08:17] VelinGeorgiev commented on #1051
Thanks @garrytrinder ! I am currently using the `dev` branch (BETA) that is v2.0 and it has different authentication implementation. I will try to see if what you did with v1 will work for me at least then I will try to test few more things with v2.0, perhaps I am doing something wrong.

I have changed my notes on top to specify the version I am using.

[2019-08-07 08:18] VelinGeorgiev commented on #814
All yours Garry (@garrytrinder), thanks for helping !

[2019-08-07 08:54] VelinGeorgiev commented on #1047
@garrytrinder, that is a great first contribution. I think you nailed it down and this looks like a flaky tests that you've managed to fix. Thank you!

Let me explain what actually happens:
- `stubAllGetRequests();` is a custom function that aims to fake all GET http requests for that particular command so the unit test would not send a GET request, but would be intercepted by the [sinonjs](https:

[2019-08-07 08:58] garrytrinder commented on #1047
Makes sense now, thanks for the explanation @VelinGeorgiev

I'll get a PR raised against dev later today 😀

[2019-08-07 14:33] garrytrinder commented on #1047
@VelinGeorgiev I've just noticed that the changes I have made locally against master, already exist in the dev branch, so these updates will get merged in when the next release happens.

To confirm this is the case, when I checkout dev and run a test I don't get any errors.

I suspect that this is why you also didn't see any issues (making the assumption you just default to dev branch) and also no

[2019-08-07 16:08] muecs opened #1052 "'spo file add' fails to upload files larger than 250 MB"
When trying to upload a file of ~300 MB size using `spo file add` I get the following error message:
[code]

It appears that files of 250 MB or more can't be uploaded in the body of a single request, as done currently.

In [old REST API documentation](https://docs.microsoft.com/en-us/previous-versions/office/developer/sharepoint-rest-reference/dn450841%28v%3doffice.15%29#file-methods) there is men

[2019-08-07 21:51] AJIXuMuK opened #1053 "spfx project upgrade output to file doesn't work"
The command below
[code]
doesn't redirect output to file

[2019-08-08 08:30] VelinGeorgiev commented on #1053
Can you try?
`spfx project upgrade --toVersion 1.5.0 --output md > upgrade-report.md`

You seem to missed the md format spec. You can find examples [here](https://pnp.github.io/office365-cli/cmd/spfx/project/project-upgrade/)

If you are using v2.0, the command params has changed to:
`spfx project upgrade --toVersion 1.5.0 --output md --outputFile upgrade-report.md`
[v2.0 docs here](https://github

[2019-08-08 08:37] VelinGeorgiev commented on #1047
Thanks for your input @garrytrinder !

It is interesting how the master worked without that so far. I am pretty sure tested the `master` and the `dev` on my Mac and the tests passed. I will try to investigate the root cause further when I have more time.

I'd suggest, we can close that issue once we merge `master` with `dev` since you would not experience these issues. We can always open new one i

[2019-08-08 08:46] VelinGeorgiev commented on #1052
Thanks for your input @muecs!

This is interesting, at the moment there aren't other options for `file add` in the CLI, but I will try to investigate and enhance it. We will turn that issue into enhancement request so we have the option to upload files bigger than 250 mb.

I will dedicate some time in the next days to investigate what options we have (including your suggestion), then we can bring

[2019-08-08 08:51] garrytrinder commented on #1047
Happy to help :)

I agree, I'm happy to just leave this open and check after next release 👍🏻

[2019-08-08 09:38] muecs commented on #1052
Thank you Velin, that sounds great.

The `Microsoft.SharePoint.Client.dll` that you refer to in your blog post seems to offer [methods for chunked uploads](https://docs.microsoft.com/en-us/previous-versions/office/sharepoint-server/dn760924%28v%3doffice.15%29) matching the REST API docs, so these endpoints might still be supported.

[2019-08-08 11:43] VelinGeorgiev commented on #1052
@muecs, I did a quick research. It seems that is the  preferred way to do it even from the modern UI of the Document libraries
![image](https://user-images.githubusercontent.com/1049476/62700229-4e0c9500-b9d9-11e9-8f46-c3f0d43c4a54.png)

So, my suggestion would be the `file add` command to check the file size before any other operations and if it is bigger than 250mb to execute the StartUpload(GUI

[2019-08-08 14:14] VelinGeorgiev commented on #882
I will work on this. Lets hope the api works now.

[2019-08-08 19:31] muecs commented on #1052
Thanks @VelinGeorgiev for looking into this. I'm not awfully familiar with the stack but I'll see what I can do.

[2019-08-08 20:29] VelinGeorgiev commented on #1052
That is great @muecs !  Thank you! I will assign that to you then (no rush, no deadlines) . Feel free to ask questions of any kind, I would be happy to help.
The stack is nodejs + typescript + bunch of other js libraries. You can find some useful information on how to get started here:  [Getting started](https://github.com/pnp/office365-cli/blob/master/docs/guides/index.md).
There is also a gitter

[2019-08-08 20:30] AJIXuMuK commented on #1053
Hey @VelinGeorgiev
I'm using version 1.21.0.
I tried to provide `--output`, `--toVersion` parameters  as well, but the result is the same.

[2019-08-08 20:39] VelinGeorgiev commented on #1053
Hi Alex (@AJIXuMuK) the output `--output md > upgrade-report.md` has two parts  i.e. `md` and `upgrade-report.md` so the full example would look like `spfx project upgrade --toVersion 1.5.0 --output md > upgrade-report.md` where `md` is the file format and `>` is something like lambda then you have the name of the report `upgrade-report.md`. Have you specified both? I know it is kind of confusing,

[2019-08-08 21:24] AJIXuMuK commented on #1053
@VelinGeorgiev I know what > means :)
`spfx upgrade --toVersion 1.8.2 --output md > report.md` does not work.
<img width="410" alt="Screen Shot 2019-08-08 at 2 24 35 PM" src="https://user-images.githubusercontent.com/17036219/62738889-443e5e00-b9e8-11e9-9fbc-65882794b871.png">

[2019-08-08 21:31] VelinGeorgiev commented on #1053
Thanks for the screen share Alex (@AJIXuMuK)! This issue is related to that one https://github.com/pnp/office365-cli/issues/984. Its my bad I did not asked if you are using it in immersive more or non-immersive.

 Running it in non-immersive mode directly from the command line will generate the report.
`o365 spfx project upgrade --toVersion 1.5.0 --output md > upgrade-report.md`
In v2 this issue i

[2019-08-08 22:48] AJIXuMuK commented on #1053
Got it! thanks!

[2019-08-08 22:48] #1053 closed

[2019-08-09 00:08] rabwill commented on #14
hey @VelinGeorgiev  I really want to learn more about `MS Graph schema extensions`, could you please assign this to me ? thanks :)

[2019-08-09 07:40] VelinGeorgiev commented on #1053
You are welcome!

[2019-08-09 08:13] VelinGeorgiev commented on #14
All yours Rabia (@rabwill), thanks!

[2019-08-09 11:33] VelinGeorgiev commented on #882
Ok, the banch is [here](https://github.com/VelinGeorgiev/office365-cli/commit/1e6d6501c37d027ea9715d48d8e8d7ea51f56f99), but I could not make it work with access token. Seems the only way it works is by using cookie auth or I am missing something. I opened conversation already. I am waiting for response now.

[2019-08-10 14:47] VelinGeorgiev opened #1054 "New command: Flow enable"
`flow enable [options]`

Enables specified flow

|Options||
|---|---|
|`-n, --name <name>`|The name of the Microsoft Flow to enable
|`-e, --environment <environment>`|The name of the environment for which to enable flow
|`--asAdmin`|Set, to enable the Flow as admin

[2019-08-10 14:49] VelinGeorgiev opened #1055 "New command: Flow disable"
`flow disable [options]`

Disables specified flow

|Options||
|---|---|
|`-n, --name <name>`|The name of the Microsoft Flow to disable
|`-e, --environment <environment>`|The name of the environment for which to disable flow
|`--asAdmin`|Set, to disable the Flow as admin

[2019-08-10 21:03] VelinGeorgiev commented on #1051
This is actually a bug specific to `v2.0` of the CLI. When the command is about to export zip, it is trying to do an OAuth against PowerApps blob storage instance where the zip is stored. Passing bearer token to the blob results in failure where the correct move is to just GET the zip from the blob storage without any access tokens in the headers because the blog key is already know and included i

[2019-08-11 20:59] VelinGeorgiev commented on #1055
Part of the latest CLI now.

[2019-08-11 20:59] #1055 closed

[2019-08-11 21:00] VelinGeorgiev commented on #1054
Part of the latest CLI now.

[2019-08-11 21:00] #1054 closed

[2019-08-11 21:01] VelinGeorgiev commented on #1051
Bug fix applied as part of the latest CLI now.

[2019-08-11 21:01] #1051 closed

[2019-08-15 10:54] VelinGeorgiev commented on #1044
Merged and live.

[2019-08-15 10:54] #1044 closed

[2019-08-16 03:05] sprider commented on #1038
@VelinGeorgiev, Please assign this to me. I will work on this.

[2019-08-16 06:35] VelinGeorgiev opened #1062 "Fix Nodejs 10x `Buffer()` deprication warning"
When I run command using the CLI with Nodejs 10.x, I get the following message:
[code]

Expected:
- No deprecation warnings

[2019-08-16 06:40] VelinGeorgiev opened #1063 "New command: Flow remove"
`flow remove [options]`

Removes specified flow

|Options||
|---|---|
|`-n, --name <name>`|The name of the Microsoft Flow to remove
|`-e, --environment <environment>`|The name of the environment for which to remove flow
|`--asAdmin`|Set, to remove the Flow as admin
|`--confirm`|Confirms deletion

Implementation similar to the Flow-Remove and Flow-AdminRemove cmdlets in PowerShell flow. more inform

[2019-08-16 07:13] VelinGeorgiev opened #1064 "Add more details around how `spfx project upgrade` works and being implemented"
This issue is based on feedback from that tweet:
https://twitter.com/sympmarc/status/1162036884849274880

My suggestion is to create an doc that explains in more details how the command works and how we find the differences. The Microsoft guys started adding steps to upgrade in their release notes and they differ from ours so would be nice to explain how we do it to be extra transparent.

[2019-08-17 02:03] rabwill commented on #1047
@VelinGeorgiev and @garrytrinder  I had the same issue today and the timeout resolved it for me :) phew

[2019-08-18 09:14] waldekmastykarz commented on #1050
Hey @BassemNKhalil, if I understand correctly what you mean, then it's a shell feature, not an application feature. If you were to run the CLI in PowerShell, would you be able to use it the way you mentioned?

[2019-08-18 09:15] waldekmastykarz commented on #1032
@VelinGeorgiev what configuration have you used to repro the issue? As I mentioned, using

- CLI v1.22.0
- PowerShell 5.1.17134.407
- Win 10

everything is working as expected

[2019-08-18 09:18] waldekmastykarz commented on #897
Let's not bring ACS into the game, because it would mean a lot of retrofitting for something, as you mentioned, might go away any time. Do you have some more detail regarding what's wrong with the standard approach?

[2019-08-18 09:20] waldekmastykarz commented on #1046
It's a great suggestion and would be absolutely invaluable. We're however limited with what's exposed by the API. For one I know, that targeted release isn't. I'm all for exposing as much info as we can to help in debug scenarios.

[2019-08-18 12:05] BassemNKhalil commented on #1050
Hi, @waldekmastykarz (and welcome back 😃).
You're correct in that this can be achieved by using the CLI via PowerShell (or terminal as I use Mac) which is what @VelinGeorgiev referred to as 'non-interactive mode' - downside is that there isn't support for auto-complete. I'm hoping to find a way to have both of these features (auto-complete and history).

My understanding is that Vorpal [can do so]

[2019-08-18 16:32] VelinGeorgiev commented on #897
Not sure what do you mean by standard approach @waldekmastykarz .

Once you are authenticated using client secret you cannot work with the SharePoint apis, this is my concern.

[2019-08-18 19:36] #14 closed

[2019-08-18 19:38] YannickRe commented on #897
I don't expect this to change anytime soon, Azure AD App Only authentication has been with certificates authentication only since as long as I can remember.
Docs.microsoft.com statement on this subject: https://docs.microsoft.com/en-us/sharepoint/dev/solution-guidance/security-apponly-azuread#can-i-use-other-means-besides-certificates-for-realizing-app-only-access-for-my-azure-ad-app

[2019-08-18 19:46] VelinGeorgiev commented on #897
Lol, that doc is so rude 😄

[2019-08-19 12:37] BassemNKhalil commented on #887
Hi @waldekmastykarz, are you able to provide more details on this one?

I'm trying to find a test scenario with the upgrade generating bash specific commands like cp but upgrading a web part from 1.1.0 (web part targeting SP16) to latest 1.9.1 did not generate any cp commands - output below for reference.

# Upgrade project HWWP_SP16 to v1.9.1

Date: 19/08/2019

## Findings

Following is the list

[2019-08-19 13:43] ypcode commented on #15
Hi guys @waldekmastykarz @VelinGeorgiev

Sorry for the very long lack of response :$ (shame on me!), I've been really busy for the past few months, and probably will be for another few weeks at least... If that is still free to pickup whenever I get back on track, I will ! Sorry again!

Regards,
Yannick

[2019-08-19 15:35] waldekmastykarz commented on #15
No problem. Thanks for letting us know 👍

[2019-08-19 15:39] waldekmastykarz commented on #887
We use `cp` in rule `FN018003` which is related to deploying web parts to teams.

[2019-08-19 15:44] waldekmastykarz commented on #1050
Good catch. Since we could be persisting confidential data in plain-text (URLs, user names, secrets, etc) I'd say this feature should be an opt-in rather than default, but definitely something we could consider.

Please note that we do offer autocomplete in non-interactive mode for some shells: https://pnp.github.io/office365-cli/concepts/completion/

[2019-08-19 15:47] waldekmastykarz commented on #1047
We should not increase the timeout for tests. With proper mocking we should not need more time per test. An issue like the one you noticed is often a sign of something else, so whenever we hit something similar we should have a closer look at the failing test.

[2019-08-19 20:05] garrytrinder commented on #1047
I have re-cloned the repo tonight, followed the "awesome" steps and confirmed that 1.23.0 (master) still has the four failed tests, but 2.0.0 (dev) does not.

[2019-08-19 22:00] VelinGeorgiev commented on #1047
I agree. Increasing the timeouts was just for troubleshot purposes to see it is ever going to pass :)

[2019-08-19 22:21] garrytrinder commented on #814
Just a quick note to say that I am slowly making progress on this command and hope to have some code to review soon enough.

[2019-08-20 07:08] YannickRe commented on #952
@waldekmastykarz Sorry to push, but did you have a chance to look into this? I'd like your input before trying to get code coverage/starting other commands.

[2019-08-20 12:14] muecs commented on #1052
@VelinGeorgiev, sorry for the radio silence, I've only just now gotten around to working on this.

Just to give you an update, I've got chunked file uploads implemented (3acc20b0ee8b36111cd88dd840df271415a99711) and been running a couple manual tests successfully. I still need to look into updating the unit tests before I can open a PR.

Do you have an ETA on a v2 release yet?

[2019-08-20 12:20] NickSevens opened #1066 "spo login with certificate fails with Error: Failed to sign JWT.This is most likely due to an invalid certificate."
I'm trying to login to spo with the following command:

`o365 spo login https://<tenant>.sharepoint.com/sites/apps --authType certificate --certificateFile .\cert.cer --thumbprint e0b55aac09b496d991f076c3b281b0a9a384a30e`

However, I get the following error:

I have created the certificate using the New-SelfSignedCertificate PS command. I have also tried using New-PnpAzureCertificate - but resulti

[2019-08-20 13:24] BassemNKhalil commented on #887
I can see the rule you mentioned referenced in upgrade-1.7.0 commands under spfx project upgrade (which I assume means this is triggered when upgrading from 1.7.0). I tried to upgrade a vanilla generated web-part from 1.7.0 to latest (1.9.1) but no cp command was generated. I'm assuming I need to enable the webpart for teams prior to running the project upgrade but I can't find an article referenc

[2019-08-20 13:36] BassemNKhalil commented on #1050
Sounds like there's enough there to make this work - I seem to be unable to get it working tho .. based on my understanding from your link, I only need to run o365 --completion:sh:setup and restart terminal. Am I missing a step or is this not supported with the mac terminal?

[2019-08-20 13:55] VelinGeorgiev commented on #1066
Hi @NickSevens , your certificate should be of type  Privacy Enhanced Mail (PEM) certificate. By looking at the error seems the certificate you use is not PEM.

There is a guidance here: https://github.com/pnp/office365-cli/blob/dev/docs/manual/docs/user-guide/connecting-office-365.md

[2019-08-20 14:02] VelinGeorgiev commented on #1052
That is great @muecs, thank you ! ETA on v2 release is September. @waldekmastykarz when in September? Next Sunday? :D

[2019-08-20 15:14] NickSevens commented on #1066
Amazing! Thanks @VelinGeorgiev!
Works perfectly.

[2019-08-20 15:14] #1066 closed

[2019-08-20 15:15] VelinGeorgiev commented on #1066
Thank you @NickSevens! Glad that helped!

[2019-08-22 10:00] waldekmastykarz commented on #1047
Thanks for double checking @garrytrinder. I'll have a look at it if I can repro it and find the reason why it's happening. Appreciate your help 👏

[2019-08-22 10:01] waldekmastykarz commented on #1050
For mac we have support only for the zsh shell, not the default terminal. zsh uses a different completion mechanism.

[2019-08-22 10:05] waldekmastykarz commented on #1052
![image](https://user-images.githubusercontent.com/11164679/63506086-10c5fe00-c4d5-11e9-8dbf-2e7aa47b5e5c.png)

😄

[2019-08-22 10:06] waldekmastykarz commented on #1052
Sorry for chiming in late and I hope it doesn't change things too much, but is there a downside to using one upload method no matter the file size as opposite to checking the file size and using either one or the other? Using the same method for all uploads would simplify our code and maintenance of the command.

[2019-08-22 10:07] waldekmastykarz commented on #952
Sorry, I was away and didn't have time to look into it. Thanks for the reminder though. I'll have a look at it shortly.

[2019-08-22 10:08] waldekmastykarz commented on #887
Thank you for looking into this. I'll try to get you a test scenario asap.

[2019-08-22 10:10] waldekmastykarz commented on #674
Hey @arnieraju, any update on this task?

[2019-08-23 13:15] pkbullock opened #1067 "Running spfx project upgrade output does not output file"
Running command against a V1.7 project and cannot output the report to file:

[code]
As per docs, assuming that 1.9.1 support is available, the output reports to the window but not a file.
[https://pnp.github.io/office365-cli/cmd/spfx/project/project-upgrade/](https://pnp.github.io/office365-cli/cmd/spfx/project/project-upgrade/)

Any ideas?

[2019-08-23 13:35] VelinGeorgiev commented on #1067
Hi Paul (@pkbullock)! This issue is related to that one #984.

Running it in non-immersive mode directly from the command line will generate the report.
`o365 spfx project upgrade --toVersion 1.5.0 --output md > upgrade-report.md`

In v2 this issue is fixed so even in immersive mode should work.

[2019-08-23 13:47] VelinGeorgiev commented on #1032
Here is what I have
- CLI v1.22.0
- I used cmd.exe (have not tested in the PowerShell console, but I can)
![image](https://user-images.githubusercontent.com/1049476/63597189-ccaa2a80-c5b4-11e9-8807-e8273690ead6.png)

[2019-08-24 17:37] waldekmastykarz commented on #952
The current setup looks solid. Nicely done 👍

[2019-08-24 17:41] waldekmastykarz commented on #1047
I've just tried it and I can't repro it :( All tests pass as expected.

I'm on:
- Node v10.15.3
- npm 6.8.0
pulled the latest source from the dev branch, installed deps and ran `npm t`. Also running on macOS 10.14.6

I can try a different machine next week to see if it helps.

[2019-08-24 17:47] waldekmastykarz opened #1070 "New command: set SPO URL"
`spo set --url <url>`

Sets the context URL for the root SharePoint site collection.

|Option|Description|
--|--
`--url`|The URL of the root SharePoint site collection

### Rationale

In v2, Office 365 CLI automatically discovers the URL of the root SharePoint site collection/SharePoint tenant admin site (whichever is needed to run the particular command). In specific cases, like when managing mul

[2019-08-24 17:49] waldekmastykarz opened #1071 "New command: get SPO URL"
`spo get`

Gets the context URL for the root SharePoint site collection and SharePoint tenant admin site.

### Rationale

In v2, Office 365 CLI automatically discovers the URL of the root SharePoint site collection/SharePoint tenant admin site (whichever is needed to run the particular command). Using this command you can see which URLs the CLI has discovered.

[2019-08-24 17:52] waldekmastykarz opened #1072 "New command: get access token"
`accesstoken get -r|--resource <resource> --new`

Get access token for the specified resource

|Option|Description|
--|--
`-r, --resource`|The resource for which to retrieve an access token
`--new`|Retrieve a new access token to ensure that it's valid for as long as possible

[2019-08-24 17:54] waldekmastykarz commented on #1062
@VelinGeorgiev is this coming from a feature branch? It seems that the dev branch doesn't have this command.

[2019-08-24 18:01] garrytrinder commented on #1047
@waldekmastykarz I don’t have an issue with running tests against the dev branch, it’s when I run them against master the failed tests occur.

[2019-08-25 07:30] VelinGeorgiev commented on #1062
That alers pops on every commamd. Try o365 login and you'll get it if you use Nodejs10

[2019-08-25 08:29] stijnbrouwers commented on #1071
Is it OK if I take this one?
I just took a quick look and also see that the tenantId is stored/retrieved the same way.
Is it OK if I also show this info when running the command?

[2019-08-25 12:08] waldekmastykarz commented on #1071
Sure thing! Appreciate you reaching out 👏

[2019-08-25 12:10] waldekmastykarz commented on #1062
I ran `o365 login` on Node 10.15.3 and didn't get the warning.

[2019-08-25 12:18] waldekmastykarz commented on #1047
Ah sorry, my bad. I'll have another look.

[2019-08-25 12:26] waldekmastykarz commented on #1047
There is one test that takes a bit longer to execute, but overall all tests pass.

[2019-08-25 12:29] waldekmastykarz commented on #1032
It could be, that in cmd, you'd need to wrap quotes in another pair of quotes. It could be that the first pair of quotes get removed and what's passed into the cmd is the raw `|` which is parsed as piping rather than a command argument.

[2019-08-25 12:37] waldekmastykarz commented on #1070
Removed the `adminUrl` from the spec, since it's autogenerated based on the root site collection URL.

[2019-08-25 13:19] YannickRe commented on #952
Thank you! I made some changes according to your comments, but I squashed my commits, unintentionally removing them :(

- I cannot inherit directly from `Command`, because it force the authentication. `spfx project upgrade `solves this by overriding `action()` in the command, but for the multiple PowerApps commands that is not ideal.
- I switched my guid code to use uuid.

I'll get there, time to

[2019-08-25 14:11] waldekmastykarz commented on #952
Suppressing auth for all `pa` commands would also not work if in the future we'd like to offer commands for managing apps deployed to the tenant, which would require auth, like we do in Flow commands.

[2019-08-25 15:42] VelinGeorgiev commented on #1032
I tried dozen combinations . Nothing worked for me.

[2019-08-25 15:45] VelinGeorgiev commented on #1062
Well we have to see where in the solution use Buffer() and change it to Buffer.alloc() || Buffer()

[2019-08-25 18:30] garrytrinder commented on #1047
Thanks for checking @waldekmastykarz this does seem to be a really odd issue, not sure what it is... 🤔

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-25 20:15] #1071 closed

[2019-08-25 20:17] #1041 closed

[2019-08-25 20:18] #1038 closed

[2019-08-25 20:22] VelinGeorgiev commented on #897
I closed that issue based on the discussion above. If SPO Apis ever work without the need of ACS authentication we can create new backlog item and implement it.

[2019-08-25 20:22] #897 closed

[2019-08-25 20:29] VelinGeorgiev commented on #882
No response from the Microsoft guys when that can be fixed. This command might not fly soon.

[2019-08-25 22:39] sprider opened #1075 "Enhancement: Export report data of teams reports for the remaining commands"
@VelinGeorgiev
As we discussed at pull #1061, I am going to add two additional parameters to export the report data as csv,text and json for the following commands:

Please assign this to me. Also let me if we need to create one pull request for this or seperate pull requests required for each command.

Thank you.

**New parameters to be added:**
`-f, --outputFile [outputFile]`|Path to the file wh

[2019-08-26 06:57] waldekmastykarz commented on #1062
I'm not sure if we use it in our code at all. I suspect our downstream dependencies, but let's have another look to get a solid repro case.

[2019-08-26 12:10] waldekmastykarz commented on #1032
I'll see if I can repro it with cmd. 👍

[2019-08-27 07:59] waldekmastykarz commented on #1062
I can see the issue when running the CLI in Node v10.16.3 on Windows.

[2019-08-27 08:36] waldekmastykarz commented on #1062
The reason this issue is visible only on Windows is because we're using the deprecated call in the WindowsTokenStorage, here:

https://github.com/pnp/office365-cli/blob/5e0d6efa37b3b0478a0de13bcf7df5319eeced8a/src/auth/WindowsTokenStorage.ts#L100

and here:

https://github.com/pnp/office365-cli/blob/5e0d6efa37b3b0478a0de13bcf7df5319eeced8a/src/auth/WindowsTokenStorage.ts#L134

I'll try to get it f

[2019-08-27 13:35] BassemNKhalil commented on #1050
Had another go at it today - seems to be somewhat working but throwing an error every time I press tab to auto-complete (although it returns the auto-completion result). I've added a gif below with the run results, I'm trying to auto-complete o365 spfx project upgrade
![o365 Omelette](https://user-images.githubusercontent.com/11630074/63775529-de782e80-c922-11e9-9796-99b2e11b9401.gif)

[2019-08-28 07:09] waldekmastykarz commented on #1050
Just to double check: that's default shell on macOS, right?

[2019-08-28 07:11] BassemNKhalil commented on #1050
That’s correct - I’m assuming when you said ‘it should work’ that meant in my settings using Mac terminal, right?

[2019-08-28 07:11] waldekmastykarz commented on #1047
It's interesting indeed. Let's keep an eye out on it to see if we can repro it. For now, let's close this issue, ok?

[2019-08-28 07:11] #1047 closed

[2019-08-28 07:12] garrytrinder commented on #1047
Sure, no problem 👍🏻

[2019-08-28 07:12] waldekmastykarz commented on #1050
Yes, theoretically Omelette, which we use for completion should support it, but since I'm using zsh myself, I've never verified it in the standard shell.

[2019-08-28 13:58] VelinGeorgiev opened #1078 "Missing '1.9.1' version from the 'spfx project upgrade' docs"
Steps to repro:
Open the docs for the 'spfx project upgrade' command

Expected:
Mentions that upgrade to SPFx version 1.9.1 is possible

Actual:
The '1.9.1' version is not present in the docs as available options for upgrade.

[2019-08-28 15:10] VelinGeorgiev commented on #1078
Merged with `dev` now. Thanks @StfBauer !

[2019-08-28 15:10] #1078 closed

[2019-08-28 15:12] VelinGeorgiev commented on #1075
All yours @sprider ! Thanks!

[2019-08-28 15:14] VelinGeorgiev commented on #1070
Merged with `dev` now. Thanks Waldek !

[2019-08-28 15:14] #1070 closed

[2019-08-28 15:15] VelinGeorgiev commented on #1067
@pkbullock , could you please let me know if you have managed to make it work?

[2019-08-28 15:16] VelinGeorgiev commented on #1062
Merged manually. Thanks!

[2019-08-28 15:16] #1062 closed

[2019-08-28 16:45] pkbullock commented on #1067
Hey Velin,

Sorry for not getting getting back to you, on holiday so cannot test till next week or the weekend.

Paul

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Velin Georgiev <notifications@github.com>
Sent: Wednesday, August 28, 2019 4:15:39 PM
To: pnp/office365-cli <office365-cli@noreply.github.com>
Cc: Paul Bullock <paul.bullock@capacreative.co.uk>; Ment

[2019-08-28 18:28] stijnbrouwers commented on #905
Hi guys, can I take this one?

[2019-08-28 19:51] garrytrinder commented on #814
Hey @waldekmastykarz & @VelinGeorgiev

I've implemented this command, see https://github.com/pnp/office365-cli/compare/dev...garrytrinder:teams-channel-remove but I have left out the --channelName parameter for now as I think it might require discussion.

As I've been learning by examples to create this command (first contribution), I've been making sure I stick to existing implementations for con

[2019-08-29 07:44] YannickRe commented on #952
I moved away from `PaCommand` for now, I'll solve the problem when we get to it with the new commands.

For testing the filesystem, can I use `mock-fs`? I need to test if the resulting file and dir structure matches the source structure. Also, I need to test if the files contain the correct data. Not sure how to approach it atm to be honest.

[2019-08-29 08:41] VelinGeorgiev commented on #905
Sure @stijnbrouwers. Thank you! I will assign that to you.

[2019-08-29 11:41] waldekmastykarz commented on #952
We have some mocking for the file system in the SPFx command, you can have a look at that. With regards to testing, it should be enough for us to test that the Node.js copy method is called with the right arguments. We should be able to assume that it works correctly so we don't need to test if the file is actually copied, that's Node's responsibility.

[2019-08-29 11:45] waldekmastykarz commented on #814
It seems like we could work a bit on consistency: `channel get` expects the id, but `channel set` the name. Ideally, we'd support both, so if one or the other are missing in some commands, we should add separate issues to close these gaps.

[2019-08-29 12:03] garrytrinder commented on #814
I'd say that passing the id should be the base level of implementation as this also fits the underlying  Graph API call `/teams/{id}/channels/{id}` also keeps the implementation simple.

How would you like to proceed? I can push what I currently have without --channelName as its ready and tested. Then raise an enhancement for --channelName and raise issues against the others for getting consistenc

[2019-08-30 06:47] waldekmastykarz commented on #814
Sounds good to me. 👍

Keeping the implementation simple is one thing. What I find more important is for us to make using the CLI convenient. If I want to delete a channel, I likely know its name but not the ID. If we can simplify the usage by automatically translating the name to ID, then we should definitely do it. In the end we should support both use cases and starting with ID and extending it

[2019-08-30 06:48] waldekmastykarz commented on #882
If it's not possible, then we put it on-hold until we know more. It is what it is.

[2019-08-30 07:00] garrytrinder commented on #814
Great, I’ll get the PR raised later today 😁

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-30 11:27] sprider commented on #1075
Thank you @VelinGeorgiev

[2019-08-30 13:00] VelinGeorgiev commented on #882
Yes, that is correct. There is a way to still execute the command where we have to build cookie by ourselfs and send it with the request (this is how it is being done in the C# PnP-Core lib), but I would not want to go that path.

[2019-08-31 18:11] waldekmastykarz commented on #882
You're right 👍 Let's close this issue for now and reopen when anything changes.

[2019-08-31 19:59] YannickRe commented on #953
I'm starting this one, if ok?

[2019-09-01 13:26] garrytrinder opened #1083 "New command: create custom connector"
Implemented as `paconn create` in PowerPlatform Connectors CLI (https://github.com/microsoft/PowerPlatformConnectors)
[code]

[2019-09-01 13:28] garrytrinder opened #1084 "New command: export custom connector"
### Usage

`pa connector export [options]`

### Alias

`flow connector export [options]`

### Description

Exports the specified power automate or power apps custom connector

### Options

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
`-n, --name <name>` | The name of the custom connector to export
`-

[2019-09-01 13:30] garrytrinder opened #1085 "New command: update custom connector"
Implemented as `paconn update` in PowerPlatform Connectors CLI (https://github.com/microsoft/PowerPlatformConnectors)

[code]

[2019-09-01 13:32] garrytrinder opened #1086 "New command: validate custom connector"
Implemented as `paconn validate` in PowerPlatform Connectors CLI (https://github.com/microsoft/PowerPlatformConnectors)

[code]

[2019-09-01 14:21] garrytrinder commented on #1063
Hey @VelinGeorgiev 👋🏻 I'd be happy to pick this up 👍🏻

[2019-09-01 15:00] VelinGeorgiev commented on #1063
All yours @garrytrinder ! Thank you!

[2019-09-01 15:02] VelinGeorgiev commented on #1052
I would also recommend keep it to one upload method to keep less code in the command. I know that I initially said to be a check up in the comments, but I now realized that the less code we have the more easily to read it and maintain it is.

[2019-09-01 15:24] YannickRe commented on #953
Got this one done. Do you prefer:
- I merge this one with the open PR #1082, or
- submit this one as a separate PR now (knowing this one depends on the other one),
- wait with submission until you had time to review the first one?

[2019-09-01 21:19] YannickRe commented on #956
I think I figured out how to avoid msbuild for this command. With some slight tweaks to the generated *.pcfproject and *.cdsproject files (targeting netstandard2.0 and having dotnetcore2.2 installed, we can use dotnet to build the projects instead of msbuild.
As a result, #955 might not be necessary anymore since dotnet by default restores dependencies first (unless used with --no-restore flag).

[2019-09-01 21:22] YannickRe commented on #954
I'll start working on this one, it's addictive 😎

[2019-09-02 09:26] NickSevens opened #1088 "[v2.0.0] o365 spo app add results in Error: [object Object] when logged in with certificate"
When running the command `o365 spo app add -p <filePath> --overwrite`, I receive this error message:

No more information is shown or available.

It only seems to occur when being logged in with a **certificate**, not with username/password.

The same command worked fine with the v1 CLI.

[2019-09-02 10:28] VelinGeorgiev commented on #956
You can run dotnet as process running inside nodejs. We do that for storing creadential in the windows credentials manager [here](https://github.com/pnp/office365-cli/blob/cd657ed0fbdd5bec319d846f2dce906390f28dc2/src/auth/WindowsTokenStorage.ts#L163).
As long as your dotnet exe is part of the project you can call it in a child process.

[2019-09-02 10:34] YannickRe commented on #956
Hmm, that would mean packaging the dotnet.exe in the Office365 CLI (specifically the 2.2 version).
I need to investigate this further, it needs to be cross platform etc. My preference would be to not include it, I think, and put it as a prereq to use this command.

[2019-09-02 10:55] VelinGeorgiev commented on #956
Well that is a subject of discussion with @waldekmastykarz. My opinion is that would be nice if we can bundle it together with the dotnet core run-time and add it to the project so the users would not be asked to install another think as prereq.

@waldekmastykarz  what do you think?

[2019-09-02 14:56] VelinGeorgiev commented on #1052
This could be potential issue: https://github.com/SharePoint/sp-dev-docs/issues/2813
So perhaps staying with old approach for small files can reduce the issues raised on our site. @waldekmastykarz  what do you think?

[2019-09-03 13:15] waldekmastykarz commented on #1052
Hmmm, good catch @VelinGeorgiev. If there is no one API that supports everything then I'm afraid we'd need to settle on using two separate calls. It will complicate the implementation but in the end will make things better for the user.

[2019-09-03 13:21] waldekmastykarz commented on #956
I agree with @YannickRe here: I don't think we should embed dotnet for every platform where you could run the CLI. We could include instructions, but ideally, if we offer a command to package a project, then we should implement it ourselves. The same way we don't ask folks to install PowerShell Core to run some commands :)

[2019-09-03 13:22] waldekmastykarz commented on #1088
Thank you for reporting the issue and sorry that you're running into a problem @NickSevens. Could you please run the command with `--debug` to see if you can get more information about what is failing exactly? Are you using .pem or .pfx? Which OS are you running the CLI on?

[2019-09-03 13:24] waldekmastykarz commented on #953
Let's keep it as a separate PR. It will make it easier to review. What is the dependency between the both PRs?

[2019-09-03 15:01] YannickRe commented on #956
The way I see it, we have the following options for this:
1. Include DotNet Core CLI inside the Office 365 CLI
2. Imitate the process DotNet Core CLI does inside the Office 365 CLI
3. Don't create this command in Office 365 CLI (it doesn't exist in the office CLI either, they also say to run msbuild directly).
4. Run DotNet Core CLI from Office 365 CLI if it can be found on the system. If not foun

[2019-09-03 15:06] YannickRe commented on #953
#1082 introduces
- the folder structure for the `pa` commands, which all subsequent commands will need
- introduces the template-instantiator.ts component, that copies the files to disk and replaces the tokens inside them (which is reused by this command).

I noticed that I put the template-instantiator.ts file in an incorrect folder (for reuse in this command). I changed it now, but not sure if I

[2019-09-03 17:35] waldekmastykarz commented on #953
In that case, let's do it one by one.

[2019-09-03 17:42] waldekmastykarz commented on #956
My preference would be 2 although I can imagine that as the build evolves over time, we could hit a block.

If we were to settles for 4, what's the added value of having a command for it as opposed to let folks just run msbuild against the project? Is the packaging of the generated artifacts so complex that having a command would be a significant benefit?

[2019-09-03 17:54] YannickRe commented on #956
I agree option 2 would be the best option, but it's not something I think is fun or maintainable. While the end result looks very simple, I feel we're taking on a complexity that will bite us later.

The commands would be `/t:rebuild /restore /p:PcfForceUpdate=true /p:Configuration=Debug` when you have Visual Studio installed, or `dotnet build -p:PcfForceUpdate=true --configuration Debug` when usi

[2019-09-03 18:01] waldekmastykarz commented on #1032
Unfortunately, I still can't repro it. I tried in both cmd.exe as well as cmder and in both cases the command as mentioned literally in the original comment works as expected. What am I missing guys?

[2019-09-03 22:09] garrytrinder commented on #1063
@VelinGeorgiev are you happy for me to change the confirm description on this command to `Don't prompt for confirmation` ?

This keeps it consistent with other remove commands such as `teams channel remove`.

[2019-09-04 05:43] waldekmastykarz commented on #1063
Good idea @garrytrinder 👍

[2019-09-04 06:33] NickSevens commented on #1088
Hi @waldekmastykarz thanks for the follow-up.
This is the output from the --debug. Hope it helps.

[code]

[2019-09-04 07:15] VelinGeorgiev commented on #1063
Yes. Please do. Thanks!

[2019-09-04 08:13] stijnbrouwers commented on #1088
Seems to me you are having authorization issues
`REQUEST onRequestResponse https://graph.microsoft.com/v1.0/sites/root?$select=webUrl 403`
That 403 at the end is, I suppose, the HTTP status code which indicates "forbidden". In other words, the application doesn't have any permissions to retrieve that resource.

I don't think this will be an issue with the O365 CLI application, however, improving t

[2019-09-04 14:06] NickSevens commented on #1088
@stijnbrouwers indeed didn't have that permission.
Strange though that the same command worked with v1 though?

[2019-09-04 14:08] VelinGeorgiev commented on #1088
Before granting your app more permissions can you please execute
`o365 spo set --url https://contoso.sharepoint.com` where URL is the root site colleciton for your SharePoint Online tenant.
Please test again your command once that is set up and let me know if you still experience the same issue.

Here is more info here: https://pnp.github.io/office365-cli/cmd/spo/set/

[2019-09-04 14:10] stijnbrouwers commented on #1088
ah yes, I see...

Since v2 it is changed to automatically retrieve that url, hence the call to
`https://graph.microsoft.com/v1.0/sites/root`
which didn't occur in v1.

That's why it used to work in v1 and doesn't for v2, am I correct @VelinGeorgiev ?

[2019-09-04 14:13] VelinGeorgiev commented on #1088
Yes, that is correct. Previously `o365 spo login`  was not using Graph. Now since we have single login we use the Graph to resolve the resources including the root site url. There is a option to set the root site url manually by calling `o365 spo set --url https://contoso.sharepoint.com` so the CLI will use it instead having to call the MS Graph.

[2019-09-04 14:23] NickSevens commented on #1088
Makes sense :)
But, why exactly is the root site url needed in this case?

[2019-09-04 14:27] VelinGeorgiev commented on #1088
@NickSevens , the root site is needed to resolve the tenant app catalog in your particular case.

Have you tried to execute:
`o365 spo set --url https://contoso.sharepoint.com` where URL is the root site collection of your SharePoint Online tenant.

Once that is setup, you should be able to run `app add` as normal.

[2019-09-04 14:30] NickSevens commented on #1088
Just granted the application permissions as well, so it'll probably work like that as well.
Thanks for the help guys.

[2019-09-04 14:30] #1088 closed

[2019-09-04 14:45] VelinGeorgiev commented on #1088
You are welcome @NickSevens ! Thanks for the heads up @stijnbrouwers !

[2019-09-04 17:12] waldekmastykarz commented on #956
I understand the added value but I'm still hesitant taking in other dependencies that could change in the future and could render the command useless altogether.

How about we try to investigate the complexity of the current build and see if it's something that we could replicate. Perhaps it's not as bad as we think and it's something that we can address with little effort avoiding unnecessary com

[2019-09-04 19:15] YannickRe commented on #956
Everything MSBuild does looks bad to me 😀, hopefully someone is willing to pick this one up.

[2019-09-04 22:05] garrytrinder commented on #1063
Looks like I've stumbled across a bug in the API, when you pass an invalid Flow Id in the HTTP Delete, you get a '204 No Content' response instead of a 404 or error code 🤔

Any idea on how to capture this in a test?

[2019-09-04 22:53] andrewconnell opened #1092 "O365 CLI doesn't return non-zero exit code on failed commands"
## TL;DR
When login fails, the CLI exit with an error code (1). Apparently it doesn't do that in v2... in fact, it seems like other commands (uploading app package & deploying), when they fail, aren't existing with a non-zero return code.

## Expected Behavior
When a CLI command fails, the CLI returns a non-zero exit code.

## Observed Behavior
When a CLI command fails, the CLI returns a zero exit

[2019-09-04 23:53] garrytrinder commented on #929
Hey @waldekmastykarz I don't mind picking this up 👍🏻

[2019-09-05 00:30] garrytrinder commented on #929
Done some digging into this, no REST endpoint for this, but caught this XML payload in a Fiddler trace whilst executing the New-PnPPersonalSite cmdlet so can pass this to Client.svc

[code]

[2019-09-05 06:59] waldekmastykarz commented on #1092
Thanks for reporting it. This is definitely not intentional and the CLI should be returning non-zero exit codes when a command fails. One of the things that heavily relies on this capability is the Starter Kit provisioning script. I'll have a look at it asap to see if there are some edge cases that we might have missed. Sorry for the trouble.

[2019-09-05 07:04] waldekmastykarz commented on #929
Awesome! Yeah, for some commands there is no REST API in SharePoint and we need to basically mimic CSOM call.

[2019-09-05 07:08] waldekmastykarz commented on #1063
You could check the response code of the HTTP response from the API. I'm not sure if we're doing it anywhere already, but you could see if you can get access to the full response object and its properties and define an extra case where a 204 response is considered an error rather than a success.

[2019-09-05 07:39] waldekmastykarz commented on #1092
When I run `o365 spo login`, you indeed get a 0 exit code. That is an error that we should fix.

When you run a command like `o365 spo web get -u https://contoso.sharepoint.com`, which leads to an error, you get a non-zero exit code, so this is correct.

I also noticed, that when you're not authenticated and try to run a command which requires it, instead of throwing an error, we're issuing a logi

[2019-09-05 08:56] garrytrinder commented on #1063
@waldekmastykarz thinking about this a little more, I could do a GET before the DELETE as a validation step, passing an invalid Flow Id into the GET does return a 404 Not Found.

I think this would be a better approach rather than checking for the 204 No Content as the DELETE will then only happen if the resource does exist and I can confirm that with less code changes.

Interestingly, I posted th

[2019-09-05 08:59] stijnbrouwers commented on #1088
@VelinGeorgiev no problem!
I was thinking to create a ticket (enhancement) where the 403 message is caught and decent output is provided to prevent the
`Error: [object Object]`
message which could lead to confusion and possibly more tickets like this to be created...

Seems like a good idea?

[2019-09-05 10:21] anoopt opened #1094 "New feature: GitHub actions for Office 365 cli"
Can we think of introducing GitHub actions for office365-cli? I had a look at the [actions available for azure cli ](https://github.com/azure/github-actions)so we can do something on similar lines. If ok, then we can think of the following maybe?
- an action for login
- an action for running an office 365 cli command
- (in future) an action to deploy an spfx package to the app catalog

[2019-09-05 11:51] waldekmastykarz commented on #1094
Do you have an idea for a specific scenario/problem they would solve?

[2019-09-05 13:53] waldekmastykarz opened #1095 "CLI doesn't show error details with invalid AAD app configuration"
If the AAD app for use with the CLI is configured incorrectly, the CLI will fail the login with an exception but without any information regarding what went wrong exactly:

[code]

Instead, the CLI should relay the error message from the AAD and fail with a non-zero exit code:

[code]

[2019-09-05 14:35] VelinGeorgiev commented on #1088
Yes @stijnbrouwers . Please do create an issue so we make it useful for the user.

[2019-09-05 15:06] stijnbrouwers opened #1096 "Enhancement: Handle forbidden response when performing authentication"
When during the authentication process a 403 HTTP Status code is returned (=forbidden). It should be handled in such a way that the user is presented with a useful error message.
For example:

This will prevent errors occurring further down the line which may lead to confusion.

See issue #1088 for an example

[2019-09-05 17:20] waldekmastykarz commented on #1092
#1097 solves the issue of trying to execute a non-existent command returns a zero exit code

[2019-09-05 17:22] andrewconnell commented on #1092
Awesome... nice quick work!

![](https://media.giphy.com/media/d0NnEG1WnnXqg/giphy.gif)

[2019-09-05 17:34] waldekmastykarz commented on #1092
#1098 fixes the other part of the issue where for some reason we allowed SPO commands to be executed without having to log in to O365 first. That's fixed now so with the next beta, all should work as expected.

[2019-09-05 17:38] andrewconnell commented on #1092
...or *not* work when expected ;)

[2019-09-05 18:08] waldekmastykarz commented on #1092
Exactly! 👍

[2019-09-06 12:52] anoopt commented on #1094
I was thinking mainly for adding SPFx package to app catalog, like we do in Azure pipelines using office 365 cli currently. E.g. In a DEV tenant, when the code is pushed to a GitHub repo, create the package and add it the app catalog. Something along these lines?

[2019-09-06 13:05] pkbullock commented on #1067
Hi Velin,

This works as expected, thank you for this guidance.

Paul

[2019-09-06 13:05] #1067 closed

[2019-09-06 17:05] waldekmastykarz commented on #1096
@stijnbrouwers how can I repro it? Even if I create an AAD with nothing but the User.Read permission, I can still successfully call MS Graph and retrieve root site URL.

[2019-09-06 17:09] waldekmastykarz commented on #1094
It sounds interesting indeed. Looking at the Actions' docs shows:

Do you think it would be worth investing in this already or would it be better for actions to stabilize and revisit it then?

[2019-09-06 17:19] waldekmastykarz commented on #1063
I agree that it should be a 404. If we can capture the 204 instead of issuing a separate request to check if the Flow is there with the same result, then I'd go with the 204 as it allows us to cut the extra request improving the performance of the command.

[2019-09-06 17:47] stijnbrouwers commented on #1096
Hi Waldek, tbh I haven't tried reproducing it yet.
I based this ticket on the findings in the related ticket #1088 .
I'll try reproducing it one of these days.
I'll keep you posted

[2019-09-06 17:49] waldekmastykarz commented on #1096
Cool! Thank you. It would be very helpful to have repro steps for this 👍

[2019-09-06 18:31] stijnbrouwers commented on #1096
@waldekmastykarz
I did a quick check and was able to reproduce.
However, you don't need look to long into it, you can just assign the ticket to me if you'd like (?)...

Here are the steps to reproduce:
- Create a new app registration
- Keep the permissions restricted to 'User.Read'
![image](https://user-images.githubusercontent.com/9864443/64451547-bf2c8e80-d0e4-11e9-9ffd-6132f779c3d4.png)
- Gener

[2019-09-06 18:41] stijnbrouwers commented on #675
@waldekmastykarz @phawrylak
I took a quick look at how it's done in the PnP PowerShell solution.
It's correct that the scope is optional, but that's just because it always defaults to scope = Web.
It doesn't change, based on the feature that you are trying to enable and the scope to which it applies (web/site). When no scope is provided, it's always web.

Now, when trying to enable a web scoped fe

[2019-09-06 23:49] garrytrinder commented on #1063
Thanks for the suggestion @waldekmastykarz 👍🏻

I found the `resolveWithFullResponse` option that can be added to the request, so I've just implemented a check for the 204 in the success callback to throw an error into the cmd line.

I'll look to get this pushed over the weekend.

[2019-09-07 08:01] garrytrinder opened #1100 "New command: graph subscription add"
`graph subscription add [options]`

Subscribes a listener application to receive notifications when the requested type of changes occur to the specified resource in Microsoft Graph.

| Options        |           |
| ------------- |-------------|
| `-r, --resource <resource>` | The resource that will be monitored for changes |
| `-c, --changeType <changeType>` | The type of change(s) in the monitor

[2019-09-07 11:13] waldekmastykarz commented on #1096
Awesome! I appreciate your help with digging into this and helping out with working on a fix. All yours. Thank you!

[2019-09-07 11:13] waldekmastykarz commented on #1100
Nice suggestion. How would you spec it @garrytrinder?

[2019-09-07 11:14] waldekmastykarz commented on #1063
Nice approach! Looking forward to the PR 👏

[2019-09-07 11:56] garrytrinder commented on #1063
Already submitted and ready for review 👍🏻

[2019-09-07 13:18] garrytrinder commented on #1100
Absolutely, I just threw it in to capture a quick thought I had this morning 😊

I’m struggling to depict —changeType as it has a defined list of options to choose from [‘created’,’updated’,’deleted’] which can be one or all.

I’d see this as a list of options that the user can tab through as it is a defined list and would look like this on the command line

`graph subscription add —changeType crea

[2019-09-07 20:24] VelinGeorgiev commented on #715
This is free to be picked up. I currently do not have all that time this command requires.

[2019-09-08 07:49] plamber opened #1101 "Feature addition: Yammer post message"
Hi guys,
I would like to start providing some contributions to your project. This is the first time for me here and was wondering if you are interested to get some commands in the Yammer space as you already did for the Outlook section.
I thought I am going to start with a simple Yammer post command first.

Is this something you might be interested in?

Best regards,
Patrick

[2019-09-08 16:59] stijnbrouwers commented on #1096
@waldekmastykarz
No problem, happy to help!

[2019-09-08 17:24] #905 closed

[2019-09-08 17:25] #814 closed

[2019-09-08 17:25] #952 closed

[2019-09-08 17:26] #1072 closed

[2019-09-08 17:27] waldekmastykarz commented on #1092
Fixes are available in the latest beta which you can get @ `@pnp/office365-cli@next`. Once again thank you for spotting and reporting the issue 👍

[2019-09-08 17:27] #1092 closed

[2019-09-08 17:28] #1095 closed

[2019-09-08 17:43] waldekmastykarz commented on #1063
Hero! 😄

[2019-09-08 17:47] waldekmastykarz commented on #1101
Of course! On behalf of the team, I appreciate you reaching out and offering help.

Typically, before we start building a command, we agree on its spec. Since you proposed the command, would you like to give it a shot? You can find an example of an issue with a command spec here: https://github.com/pnp/office365-cli/issues/1042. To help you understand how commands work and what's included, we put

[2019-09-08 22:37] garrytrinder commented on #1100
@waldekmastykarz updated the issue with an initial spec, that look ok?

[2019-09-09 06:02] plamber commented on #1101
This command will post a message on behalf of a user. I am going to implement the basic parameters first. It can be extended in a second-round if required.

yammer message add --body "my body" --replied_to_id 1231 --direct_to_user_ids [12,11] --group_id 123123 network_id 123123

I am taking the details from https://developer.yammer.com/docs/messages-json-post.

- body (required): The text of the m

[2019-09-09 06:07] plamber opened #1103 "Outlook commandlet should follow the naming convention"
Hi guys,
when looking at your source code I noticed a minor cosmetic problem with the naming convention of the Outlook command.

The current naming of the command is "outlook sendmail". I think it should rather follow the naming conventions of the other commands like in SharePoint Online. My suggestion would be to rename it to "outlook mail send".

Let me know if this makes sense to you. Feel free

[2019-09-09 08:20] plamber commented on #1101
I have a question on top of this.

How do you want to handle the error messages for these requests? I cannot use the handleRejectedODataJsonPromise method you are using for all the other requests. The error message returned by Yammer looks like this:

Were I am allowed to add the error handling? I created a YammerCommand.ts file in a similar way you did with Graph. I thought I am going to implemen

[2019-09-09 12:26] appieschot commented on #386
@waldekmastykarz / @VelinGeorgiev PR is approved by Vesa, so guess this one can be closed.

[2019-09-09 12:27] appieschot commented on #298
@waldekmastykarz / @VelinGeorgiev PR is approved by Vesa, so guess this one can be closed.

[2019-09-09 15:26] anoopt commented on #1094
Yes @waldekmastykarz let's revisit this later.

[2019-09-10 09:44] plamber opened #1104 "New Command: Yammer list message"
This command will return a message from Yammer.

[code]

- older_than (optional): Returns messages older than the message ID specified as a numeric string. This is useful for paginating messages. For example, if you’re currently viewing 20 messages and the oldest is number 2912, you could append “?older_than=2912″ to your request to get the 20 messages prior to those you’re seeing.
- threaded (opt

[2019-09-10 09:47] plamber opened #1105 "New Command: Yammer get message"
This command will return a message from Yammer.

yammer message get --id <messageId>

messageid (requied): returns the message with the specified message id
br,
Patrick

[2019-09-10 09:48] plamber opened #1106 "New command: Delete Yammer message"
This command will delete a message from Yammer.

yammer message remove --id <messageId>

messageid (requied): returns the message with the specified message id

br,
Patrick

[2019-09-10 11:38] plamber opened #1107 "New Command: return yammer user"
Returns the current user or a user by id or e-mail from the Yammer network

yammer user get --userId number --mail string

--userId (optional): id of the user
--mail (optional): mail of the user

With no params, returns the current user

br,
Patrick

[2019-09-10 14:36] plamber opened #1108 "Outlook send command should not track contents"
Hi,
I noticed that the command to send e-mails with outlook is mistakenly tracking the contents of the e-mail telemetry. This information might contain sensitive data and should not be pushed to centralized telemetry.

You can find the lies of code here:
https://github.com/pnp/office365-cli/blob/master/src/o365/outlook/commands/outlook-sendmail.ts#L37-L38

Please let me know if I am allowed to fix

[2019-09-10 19:14] waldekmastykarz commented on #1108
I'm afraid you misinterpreted the code. The command doesn't track the contents. The fragment you highlighted:

[code]

checks if the contents have been set. In the telemetry it sets the value to a boolean.

I hope it clarifies it.

[2019-09-10 19:17] waldekmastykarz commented on #1084
Thanks @garrytrinder. Could you propose a spec for the CLI equivalent?

[2019-09-10 19:17] waldekmastykarz commented on #1085
Thanks @garrytrinder. Could you propose a spec for the CLI equivalent?

[2019-09-10 19:18] waldekmastykarz commented on #1086
Thanks @garrytrinder. Could you propose a spec for the CLI equivalent?

[2019-09-10 19:19] waldekmastykarz commented on #715
Do you have any work in progress that you could share that could help whoever is to pick this up next?

[2019-09-10 19:22] waldekmastykarz commented on #386
Awesome! Thank you for your help! 👏

[2019-09-10 19:22] #386 closed

[2019-09-10 19:22] waldekmastykarz commented on #298
Awesome! Thank you!

[2019-09-10 19:22] #298 closed

[2019-09-10 19:24] waldekmastykarz commented on #1103
You are right, although renaming the command would lead to a breaking change. So instead, I'd like to suggest that we rename the command, but we define an alias for `outlook sendmail` so that it doesn't break any existing code. Appreciate your help 👏

[2019-09-10 19:56] plamber commented on #1108
yes, thamk you

[2019-09-10 19:56] #1108 closed

[2019-09-10 19:57] plamber commented on #1103
do you have already a similar case in the codebase?

[2019-09-10 23:54] balbany opened #1109 "New command: get replies to a message in a Microsoft Teams channel"
Get replies to a message from a Microsoft Teams channel

command; teams messagereplies get -i| --groupId <groupId> -c|--channelId <channelId> -m|--messageId
groupId: id of the group
channelId: id of the channel
messageId: id of the message

[2019-09-10 23:58] balbany commented on #1109
The above is the obvious option (like for like the REST endpoint), but another (perhaps additional) way to go would be to extend the list or get message commands to include replies.

This (the obvious version) was a really quick addition to do in my fork and will include tests if there is an appetite for a PR. Thanks!

[2019-09-11 15:24] VelinGeorgiev commented on #715
Not really, I tried to reverse engineer the UI and recorder many requests in notepad to some point where I got lost and decided that this is exercise for when I have more time.

[2019-09-11 20:19] HubSaul commented on #715
Hi. I'll pick this back up and progress it. Thanks Saul

[2019-09-13 07:20] quantrpeter opened #1112 "Is there official guide to build this lib and extend the command"
Hi
   Is there official guide to build this lib and extend the command?
thanks

[2019-09-13 08:48] garrytrinder commented on #1112
Welcome @quantrpeter 👋🏻

I would recommend that you read the project guides linked below

https://github.com/pnp/office365-cli/blob/master/docs/guides/index.md

[2019-09-13 11:41] YannickRe commented on #954
I need to read in an XML file, find if a node exists and eventually maybe add a new node to the file.
Is there already functionality that does something similar or can I import an npm package to do this? Any suggestions?

[2019-09-13 11:58] plamber opened #1113 "new command: return yammer user list"
This command is used to enumerate users in a Yammer network. While #1107 is intended to search for an individual user. This will traverse the Yammer network.

[code]

Options:
-- letter (optional) - Return users with usernames beginning with the given character.
-- sort_by [messages | followers] (optional) - Results will be returned sorted by a number of messages or followers, instead of the defau

[2019-09-14 07:46] VelinGeorgiev commented on #875
All yours Rabia. Thank you!

[2019-09-14 08:10] garrytrinder commented on #1100
Thanks @waldekmastykarz 👍🏻 spec has been updated

[2019-09-14 16:56] waldekmastykarz commented on #1100
Looks good to me! You want to take it? 😄

[2019-09-14 17:01] waldekmastykarz commented on #954
I don't think we have anything in that regard already. jsdom is pulling in quite a few dependencies. Isn't there a simpler package that does just XML processing without taking into account all the quirks of HTML?

[2019-09-14 17:03] waldekmastykarz commented on #1101
Since Yammer is a new area, I'd suggest that we start on top of the hierarchy with commands for listing networks, users and other top-level objects which are necessary to perform other actions like posting messages,

[2019-09-14 17:08] waldekmastykarz commented on #1113
Nice suggestion. Thank you! Here are some comments:
- `--page` how would the user of the CLI know how many pages there are? Why not allow retrieving all users instead? What is the default behavior when no page is specified?
- `--letter` is it only possible to specify a letter or could we also support something like 'begins with' or wildcards that could make it easier to narrow down the results to

[2019-09-14 17:10] waldekmastykarz commented on #715
A while I did something similar @VelinGeorgiev and noticed that if the Flow you want to import has connections, it can't be imported because the connections require setup in the UI and if you don't do it, the import is not completed. I hope something has changed since then, which would allow us to programmatically import Flows.

[2019-09-14 17:11] waldekmastykarz commented on #1105
Nice suggestion. Let's wait with implementing this command, until we have `yammer message list` so that you know what ID to pass in this command. Otherwise, I'm afraid this command wouldn't be used much.

[2019-09-14 17:16] waldekmastykarz commented on #1109
Thanks for the proposal. A few comments:

- I'd suggest we implement this as a separate command to keep things separate from `message get` which retrieves one specific message and nothing else
- For the name I'd propose `teams message reply list -i|--teamId <teamId> -c|--channelId <channelId> -m|--messageId <messageId>`. In the CLI we use the verb `get` when we retrieve one specific object and `li

[2019-09-14 17:17] waldekmastykarz commented on #1106
Thanks for the proposal. Let's wait with implementation until we have `yammer message list` so that users know what ID to specify in this command. Otherwise I'm afraid, that this command wouldn't be used much.

[2019-09-14 17:18] waldekmastykarz commented on #1107
Thanks for the proposal. Wouldn't it be easier to specify separate options for email and ID so that we can validate the specified value and it's obvious to the user what value they can pass without having to read the docs?

[2019-09-14 17:40] YannickRe commented on #954
I have no idea, suggestions are welcome. Otherwise I’ll try and find an alternative.

[2019-09-14 17:40] waldekmastykarz commented on #1101
On a related note, have you looked into Yammer auth and if there are any changes required for us to be able to connect to Yammer before we can implement any Yammer command?

[2019-09-14 17:48] waldekmastykarz opened #1114 "Retrieving Flows as admin in debug mode fails with AAD error"
Run:

[code]

Error:

[code]

This is related to the Azure Management API returning `https://emea.api.flow.microsoft.com:11777` in the nextLink property, for which we're trying to automatically retrieve an access token and fail, because it's not a valid resource. We should rewrite the host to keep retrieving data from the Azure Management API.

[2019-09-14 18:19] plamber opened #1115 "New command: get yammer network"
First "high-level" command to retrieve the networks a user is in. I am then planning to implement the user commands for Yammer.

yammer network list --include_suspended

I am planning to use this endpoint.
https://developer.yammer.com/docs/networkscurrentjson

[2019-09-14 18:22] plamber commented on #1107
I am fine in providing two parameters.

[2019-09-14 18:27] plamber commented on #1101
Hi,
My suggestion is to follow this approach.
- network listing: #1115
- user retrieval: #1107
- full user retrieval: #1113
- yammer message list: #1104
- yammer message retrieval: #1105
- yammer message posting: #1105
- yammer message delete: #1106
Then i would got and implement the group commands. Afterward, we should try to look at what is left and improve the current commands further.

You nee

[2019-09-14 18:33] plamber commented on #1113
Let us kill this one. Does not make sense. Let us return all users by default and allow the CLI user to limit the results with the --limit command (e.g. --limit 50 returns the first 50 users)

Only a specific letter. I am using what Yammer provides to me

Not sure if the API provides this option. I am just using what Yammer does. I can explore it further and let you know

Limit the number of recor

[2019-09-14 23:21] balbany commented on #1109
Yep! Will implement as per your recommendations, thanks!

[2019-09-15 09:07] garrytrinder commented on #1100
Absolutely 😁

[2019-09-15 11:22] waldekmastykarz commented on #954
@VelinGeorgiev, haven't you looked into it in the past?

[2019-09-15 11:23] waldekmastykarz commented on #1115
Nice proposal! The only suggestion I have is to change the option to `--includeSuspended` to make it inline with everything else that we already have in the CLI. Other than that, good to go. Do you want to take it?

[2019-09-15 11:24] waldekmastykarz commented on #1107
Could you please update the spec to make it clear to everyone else what we're building?

[2019-09-15 11:26] waldekmastykarz commented on #1101
Makes sense. Let's start with network listing and take it from there. While working on it, you can use a custom AAD app so that you don't need to wait on us updating the CLI AAD app with the necessary permissions. Once you submit a PR we can then update the CLI AAD app so that everyone can use the command.

[2019-09-15 11:29] waldekmastykarz commented on #1113
Thanks for the clarification. I'm ok with your suggestions. Let's rename `--in_group` to `--groupId` so that it's clear for the users what value to specify. Could you please update the spec?

[2019-09-15 11:30] waldekmastykarz commented on #1109
Awesome! All yours! Appreciate your help 👏

[2019-09-15 11:30] waldekmastykarz commented on #1100
Awesome! Appreciate your help! 👍

[2019-09-15 11:32] plamber commented on #1115
Ok, just assign me all Yammer activities

[2019-09-15 11:36] plamber commented on #1107
Done, just assign it to me

[2019-09-15 11:37] plamber commented on #1101
Fine. Wills start with the work

[2019-09-15 11:39] plamber commented on #1113
Done, just assign it to me

[2019-09-15 15:16] #953 closed

[2019-09-15 15:17] #1096 closed

[2019-09-15 15:17] #1114 closed

[2019-09-15 15:19] waldekmastykarz commented on #1115
They're all yours. We add new contributors to the projects after a merged PR 🙂 Looking forward to working with you 👍

[2019-09-15 23:14] muges01 opened #1117 "CLI login issue on Azure DevOps Pipelines for an account with multi-factor authentication"
Hi,

I'm trying to create an azure devops release pipeline using CLI bash for deploy to app catalog. I'm getting error when the script try to login using an account with multi-factor authentication.

The following is the script and i have used app password
`o365 spo login $siteurl --authType password --userName $username --password $password`

The error i'm getting
`To sign in, use a web browser t

[2019-09-16 06:54] garrytrinder commented on #1117
Due to the nature of MFA being an interactive login process it is not possible to automate this in the CLI.

I would consider either using a certificate or an account without MFA enabled automation purposes.

I would suggest consulting the guide below, which details the supported login options of the CLI.

https://pnp.github.io/office365-cli/user-guide/connecting-office-365/

[2019-09-16 12:44] joakimhogberg commented on #740
Hi @waldekmastykarz, can I pick this up?

[2019-09-16 22:44] garrytrinder commented on #929
I've been working on this tonight and stumbled across a permissions issue as I am getting `Error: Access denied. You do not have permission to perform this action or access this resource.` response from the request when authenticated as Global Administrator.

I assume that as the Client.svc request mimics the `ProfileLoader.CreatePersonalSiteEnqueueBulk()` method, the CLI will require `User.ReadWr

[2019-09-16 23:09] garrytrinder commented on #929
I managed to work out how to point to my own app identity after reading through the docs. Who would have thought documentation could be so useful... 😄

Anyway, I tried using my own identity with `User.ReadWrite.All` permissions granted and I'm still getting the same error 🤔 Any ideas?

[2019-09-17 06:02] garrytrinder commented on #929
A quick google has found this, so it looks like it might be a licensing issue with the users I’m using in my testing, rather than a permissions issue.

https://sharepoint.stackexchange.com/questions/234993/access-denied-on-a-createpersonalsiteenqueuebulk-request-by-global-admin

[2019-09-17 09:33] stijnbrouwers commented on #675
Feel free to assign it to me...

[2019-09-17 13:59] stijnbrouwers commented on #676
you can assign this one to me if you like...

[2019-09-17 18:00] waldekmastykarz commented on #1117
Also, since v2 of the CLI, the `spo login` command was replaced with `login` (without the `spo` prefix).

[2019-09-17 18:04] waldekmastykarz commented on #740
Of course! I appreciate your help 👏

[2019-09-17 18:06] waldekmastykarz commented on #929
Great to see that you were able to unblock yourself using the docs 😄 It would be helpful if you could verify that it's indeed a licensing issue rather than something in our code. Appreciate your help 👏

[2019-09-17 18:07] waldekmastykarz commented on #675
Awesome! Appreciate your help 👍

[2019-09-17 18:08] waldekmastykarz commented on #676
Awesome! All yours!

[2019-09-17 18:18] garrytrinder commented on #929
I plan on setting up a new demo tenant to test the license theory against, so this is still work in progress.

[2019-09-17 22:22] muges01 commented on #1117
Hi @garrytrinder ,
I don't think that i can use the certificate approach thou since I'm using in DevOps Pipelines. Please advice me if i'm wrong. I guess creating a new account will be best approach for this.

[2019-09-18 00:13] muges01 commented on #1117
Hi @waldekmastykarz,

I remove the spo when i try manually on the shell and i forget to remove from the code.
However, i'm still getting error invalid username or password error thou.

`Error: AADSTS50126: Invalid username or password.`

The actual script that was running

`o365 login $SITE --authType password --userName $EMAIL --password $PASSWORD

o365 spo app add --filePath "./_SPFx build/SPFx

[2019-09-18 00:49] muges01 commented on #1117
I have tested by updating the script to output all my variables. The password stored in the variable have $ but when it output it just displaying as number not $. I guess this is the main issue.

[2019-09-18 05:56] stijnbrouwers commented on #1117
Hi @muges01

Is the account still using MFA like described above? If so, this type of login won't work, unless you create an app password and use that in the 'password' field instead.
(For information about app passwords, see: [Docs App Passwords](https://support.office.com/en-us/article/Create-an-app-password-for-Office-365-3e7c860f-bda4-4441-a618-b53953ee1183)

To answer your other question:
It

[2019-09-18 19:21] YannickRe commented on #954
I'll try to achieve the same result using [xmldom](https://www.npmjs.com/package/xmldom) instead of jsdom, it has no dependencies. If you had good or (and more important) bad experiences with this package, please let me know :)

[2019-09-18 22:17] muges01 commented on #1117
hi @stijnbrouwers,

No, i was using normal password. I found out that when the password variable contain $ then it is not working. it doesn't like the $ in the password. I guess this is a bug.
However, i have tested the MFA user account with app password and it is still not working.

I have create a new user purely for the devops pipeline without MFA and it is working fine now.

I'm happy to close

[2019-09-18 22:37] garrytrinder commented on #929
I've created a new tenant, assigned a user an E5 licence, but still getting `Access Denied` error thrown, that is also when granted User.ReadWrite.All using a custom app identity. It must be something else... 🤔

[2019-09-18 22:46] garrytrinder commented on #929
@waldekmastykarz looks like I've stumbled across an issue in the API, see referenced issue above.

[2019-09-19 06:25] balbany commented on #1109
@waldekmastykarz any approximate timeframe for when this could be merged? Just working out if I need to apply back-off retry policy on my raw REST call while I wait.

[2019-09-19 07:54] garrytrinder commented on #1117
Here is a link to the Azure DevOps support page

https://azure.microsoft.com/en-us/support/devops/

[2019-09-19 11:05] basilgeorge opened #1121 "Authentication error"
Hi,

I went through other related issues for this repo but none seems to solve my problem.

I am unable to authenticate and get access token.

These are the steps I followed in command-line:

[code]

Visit the following url to give consent:
`https://login.microsoftonline.com/common/oauth2/v2.0/authorize?response_type=code&client_id=XXXX&redirect_uri=https%3A%2F%2Flogin.microsoftonline.com%2Fcommon

[2019-09-19 20:34] muges01 commented on #1117
Thank you @garrytrinder

[2019-09-19 20:34] #1117 closed

[2019-09-20 05:44] plamber commented on #1121
Hi,
Have you tried to change the "Default Client Type" to "yes" already?

br,
Patrick

[2019-09-20 08:49] basilgeorge commented on #1121
Yes, same error persists.

[2019-09-20 09:17] plamber commented on #1121
Oh wait, what is the reason of having Implicit Grant enabled? Not required in this case from my point of view.

[2019-09-20 09:41] basilgeorge commented on #1121
![azure_app_4](https://user-images.githubusercontent.com/38415715/65317127-d1183200-dbb8-11e9-9934-a97d683d0295.jpg)

Still no luck. The same error comes.

[2019-09-20 10:08] plamber commented on #1121
What I did in my setup was following:
- Create the Azure AD app
- Assigned the desired API permissions (similarly as you did)
- Ensured that under authentication I have following settings enabled/disabled

![Capture](https://user-images.githubusercontent.com/18241305/65318817-a3be8a80-db9e-11e9-91f1-5477bc9671c3.PNG)

- Specified before running the command line interface the environment variables:

[2019-09-20 10:25] basilgeorge commented on #1121
Hi @plamber,

I don't exactly follow this. I am not trying to run office365 cli. What I want to achieve is the ability to send out emails from my python application. For this, my understanding is that I need to first download the access token file by authenticating through the following steps:
[code]
Is this not the way of generating the access token file?

Thanks,
Basil

[2019-09-20 11:03] plamber commented on #1121
I haven't tried it with Phyton. I am working in PowerShell. Nevertheless, the concept should be similar.

I installed the CLI on my host.
Now you have two options:
- Option 1: Create your dedicated Azure AD application and specify the desired permissions (as you did)
- Option 2: Use the Azure AD multi-tenant application the PNP group is providing to you (no actions needed)

**Before running the CL

[2019-09-20 11:54] stijnbrouwers commented on #1121
In addition to what @plamber mentioned:
For option 1, I **think** you also need to provide 'OFFICE365CLI_TENANT'
(See [Login Documentation](https://github.com/pnp/office365-cli/blob/master/docs/manual/docs/cmd/login.md))

[2019-09-20 15:49] basilgeorge commented on #1121
Ok, from what I understood from your comments, I did the following:

1. In Windows cmd:
`set OFFICE365CLI_AADAPPID=XXXX <application id>`
`set OFFICE365CLI_TENANT=ZZZZ <tenant id>`

2. Installed office365:
`npm i -g @pnp/office365-cli`

3. Login to office365
`office365`
`o365$ login`
`To sign in, use a web browser to open the page https://microsoft.com/devicelogin and enter the code H65QY72ED to a

[2019-09-20 16:13] plamber commented on #1121
Just specify a fake reply address in the Azure AD mask you used before for configuration

[2019-09-21 07:07] waldekmastykarz commented on #954
I don't. Let's give it a try 👍

[2019-09-21 07:11] waldekmastykarz commented on #929
Nice find! How is this solved in PnP PowerShell? Do they have the same issue?

[2019-09-21 07:15] waldekmastykarz commented on #1109
We'll try to get it in asap. We have limited time to spend on the CLI and typically we want to process the oldest PRs first.

Regarding back-off retry: is that something different than throttling? If no, then throttling is already supported in the CLI and not something you need to implement specifically in your command.

[2019-09-21 10:19] garrytrinder commented on #929
I’ll do some more digging over the weekend but as far as I know PnP-PowerShell uses a single CSOM call using the Tenant Admin URL.

I’ll inspect the request in more detail, see I’m missing a header somewhere.

[2019-09-21 21:06] balbany commented on #1109
Yes, I meant throttling. I'm aware that the CLI handles it, but I'm currently calling that endpoint in my script with a generic Invoke-WebRequest using the CLI's bearer token. All good - thanks for taking the time to respond!

[2019-09-21 22:40] garrytrinder commented on #929
I've tested the New-PnPPersonalSite cmdlet and found that when using Forms Authentication (Get-Credentials) the cmdlet works as expected, however when using an App Identity (Bearer Token) I get the same error.

<img width="1516" alt="image" src="https://user-images.githubusercontent.com/11563347/65379955-db295600-dcc8-11e9-8655-14333f77607d.png">

[2019-09-21 23:03] garrytrinder commented on #929
I have raised this as an issue in PnP PowerShell repo https://github.com/SharePoint/PnP-PowerShell/issues/2267

@waldekmastykarz  I think it would be best to put this on hold for now, looks like an API issue to me.

[2019-09-21 23:28] garrytrinder commented on #1063
APi bug has been reported to Azure Management API team via email

[2019-09-22 13:51] #887 closed

[2019-09-22 13:51] #1103 closed

[2019-09-23 17:21] waldekmastykarz commented on #929
Thank you for all the research around it 👏

[2019-09-24 07:21] VelinGeorgiev commented on #715
Not really. By the time I tryied the connections still had to be setup. It is not impossible, but it might requite more work.

[2019-09-24 07:31] VelinGeorgiev commented on #954
I haven't used any XML lib with JavaScript so far. I was thinking about xpath api in JavaScript if available. Looking at that article seems might be possible https://developer.mozilla.org/en-US/docs/Web/JavaScript/Introduction_to_using_XPath_in_JavaScript.

[2019-09-24 11:22] YannickRe commented on #954
The problem isn't much with traversing through the `Document` object, it's with getting such an object from a file/string representation. In the browser we would use `new DOMParser().parseFromString(content, 'txt/xml')`, the problem is that this doesn't exist in node.js. Also, all methods on `Document` (like getElementById, getElementByTagName, evaluate, etc) aren't implemented...

Btw, `xmldom` i

[2019-09-24 12:04] basilgeorge commented on #1121
Hi,

Thanks @plamber. I was able to login successfully into office365 by giving credentials in https://microsoft.com/devicelogin.

But how do I send out emails from the authenticated account after this (using a Python script)? I am following the instructions given here: https://github.com/O365/python-o365#usage

[code]
This produces the error:
`HTTPError: 401 Client Error: Unauthorized for url: ht

[2019-09-26 04:05] basilgeorge commented on #1121
Ok got it. Thanks

[2019-09-26 06:21] balbany opened #1125 "Teams Message List could use delta endpoint"
It looks like this command could use the delta endpoint, allowing for an optional filter to get only messages (or updated messages) since a specific datetime: [chatMessages: delta](https://docs.microsoft.com/en-us/graph/api/chatmessage-delta?view=graph-rest-beta&tabs=http).

If you don't specify a filter, it will just get all messages (without replies) as per the normal `/messages` endpoint. As th

[2019-09-26 07:09] kiranjunnuthula opened #1126 "Asking for device login every time."
Hi team,

I'm using the Office 365 cli commands in azure devops release pipeline to deploy the sharepoint packages. We have total 10 release pipelines and it is asking for device login every time for all the pipelines.
Please find the commands below which i'm using to deploy the package and let me know if i have to change any of these commands.

o365 spo login https://$(tenant).sharepoint.com/$(ca

[2019-09-26 08:30] garrytrinder commented on #1126
Looks like you are using the older version of Office 365 CLI, I would highly recommend upgrading to v2 which has simplified and improved the login process.

[2019-09-26 10:31] rabwill commented on #1126
I think also you need to login using device login to give consent, if it is the first time in a tenant see here https://pnp.github.io/office365-cli/user-guide/connecting-office-365/

[2019-09-26 10:32] kiranjunnuthula commented on #1126
Hi Garry,
I'm using those commands in release pipeline in Azure DevOps. Before running those command i'm installing the o365 cli using the NPM task with the below mentioned custom command. Please let me know how to mention the version in this task.

"install -g @pnp/office365-cli"

[2019-09-26 10:33] kiranjunnuthula commented on #1126
This is not the first time and it is asking for device login every time. It was working fine till two weeks back suddenly it is started.

[2019-09-26 10:36] rabwill commented on #1126
Can you pls try - npm install -g @pnp/office365-cli@latest

[2019-09-26 10:42] kiranjunnuthula commented on #1126
Thank you for instant reply, will try and let you know

[2019-09-26 13:52] kiranjunnuthula commented on #1126
I have tried using the above command but still it is asking for device login.

[2019-09-26 14:24] VelinGeorgiev commented on #1125
Can we not have that as separate command ? @waldekmastykarz

[2019-09-26 16:20] rabwill commented on #1126
Hey Kiran also I hope you have updated the login command like below as per new login
(From your above command spo should be removed just for login)

login --authType password --userName user@contoso.com --password pass@word1

And still no luck?

[2019-09-26 23:52] balbany commented on #1125
The obvious thing is to make it a new command. I only suggested incorporating it into the main command because a separate one seems redundant. There might be an imperative to match the REST endpoints one-to-one that I'm not aware of, of course. Also, if the beta API diverges for these two, then you might have a problem.

[2019-09-27 05:48] kiranjunnuthula commented on #1126
I'm using the below command for login.

o365 spo login https://$(tenant).sharepoint.com/$(catalogsite) --authType password --userName $(username) --password $(password)

[2019-09-27 05:52] rabwill commented on #1126
Hey Kiran,
So with the new version like Garry mentioned the login command has changed. you don't need to specify `spo` in the above command.
https://pnp.github.io/office365-cli/#getting-started

[2019-09-27 15:03] garrytrinder commented on #1063
I have heard back from Microsoft on the 204 response.

[code]

So they are saying that this is not a bug 🤔

[2019-09-27 17:03] #1121 closed

[2019-09-27 17:06] waldekmastykarz commented on #1063
204 is a success status code, so all is good 👍

[2019-09-28 07:17] waldekmastykarz commented on #1125
I'd actually opt for an additional option as @balbany suggested. So we'd have something like `--since [since]` and when specified, it would retrieve messages using the delta endpoint. Before we implement it in the same command, we'd need to verify that the schema of the returned data is the same. Otherwise it would be confusing if the same command returned two types of data depending on the specif

[2019-09-28 15:45] #1075 closed

[2019-09-28 15:45] #740 closed

[2019-09-30 18:07] garrytrinder commented on #929
Further response from support on this...

1. That the reason for the "204" is to indicate that the request sent was acknowlegded, but no content related to the Flow ID was found
1. That since the request is originating from outside of the Flow environment, "204" is returned as not to reveal sensitive information.

[2019-10-01 12:41] sprider opened #1130 "New Command : Get details about Office 365 Groups activity by group"
@waldekmastykarz / @VelinGeorgiev
Could you please review this new command and assign this to me?

API - https://docs.microsoft.com/en-us/graph/api/reportroot-getoffice365groupsactivitydetail?view=graph-rest-1.0&tabs=http

# aad o365group report activitydetail

Get details about Office 365 Groups activity by group.

## Usage

[code]

## Options

Option|Description
------|-----------
`--help`|outpu

[2019-10-01 17:38] waldekmastykarz commented on #929
@garrytrinder is this the right issue for your comment? 😉

[2019-10-01 17:41] waldekmastykarz commented on #1130
Nice spec! Following the naming of other Office 365 Group commands, I'd suggest we name this command `aad o365group report activitydetail`. Other than that, all yours 👍

[2019-10-01 17:46] waldekmastykarz commented on #1032
Closing due to lack of response

[2019-10-01 17:46] #1032 closed

[2019-10-01 18:13] waldekmastykarz commented on #1050
Looking at this issue https://github.com/kubernetes/kubernetes/issues/48575 could it be that you don't have bash-completion installed which could explain that issues you're experiencing?

[2019-10-01 20:36] garrytrinder commented on #929
No it’s not, that will teach me to make a comment when I need sleep 😴 😂

[2019-10-01 20:37] garrytrinder commented on #1063
Further response from support on this...

1. That the reason for the "204" is to indicate that the request sent was acknowlegded, but no content related to the Flow ID was found
1. That since the request is originating from outside of the Flow environment, "204" is returned as not to reveal sensitive information.

[2019-10-02 09:52] rabwill opened #1131 "The current test implementation for list-webhook-add fails"
Test fails for `passes validation if the expirationDateTime is in the future but no more than six months from now` for list-webhook-add
There is an edge case I think for the way the future date is calculated.

I had created a new branch after synching the upstream and it still threw a failed test and that's when this issue was noted.
If found to be a bug feel free to assign to me.

[2019-10-02 11:09] sprider commented on #1130
Thank you @waldekmastykarz

[2019-10-02 11:54] BassemNKhalil commented on #1050
Not likely. I installed bash-completion and tried again, fresh install of o365 CLI too (and I re-ran the `o365 --completion:sh:setup` as well)

This is what I get when I type _o365_ then press _TAB_
[code]

This is what I get when I type _o365 spfx_ then press _TAB_ (note how it returns project after the error)
[code]

[2019-10-02 12:04] BassemNKhalil commented on #1050
Did some more digging, it seems to be a [Mac shell & bash-completion known issue](https://github.com/jweslley/rails_completion/issues/2). I could fix this by adding `source /usr/local/etc/profile.d/bash_completion.sh` to `~/.bashrc` as per [this one](https://github.com/bramus/composer-autocomplete/issues/2#issuecomment-498560150)

I believe it could be beneficial to update the documentation for o3

[2019-10-03 13:58] rabwill commented on #1131
@waldekmastykarz / @VelinGeorgiev  I have created a PR for this issue, since another contributor also had the same issue. https://github.com/pnp/office365-cli/pull/1133

[2019-10-03 17:43] waldekmastykarz commented on #1050
It would be helpful to include this workaround in the docs. Would you like to submit a PR? Appreciate your help 👏

[2019-10-05 05:42] plamber commented on #1107
@waldekmastykarz as far as I understood from #1115 we are almost done. Is ist fine for you to proceed with this command based on the discussion we had in #1101 ?

[2019-10-05 20:50] garrytrinder commented on #1100
Just an update on this, no progress has been made due to me working on the personal site command which required investigation into a bug in the SharePoint API.

I’ll be planning to work on this in the coming week however

[2019-10-06 10:38] #1131 closed

[2019-10-06 10:46] waldekmastykarz commented on #1100
Perfect. Thanks for the update 👍

[2019-10-06 10:47] waldekmastykarz commented on #1107
Yes! Please do! I'm going through the open PRs as we speak and #1115 should be merged to dev shortly. Appreciate your help!

[2019-10-06 17:53] #1109 closed

[2019-10-06 17:54] #1115 closed

[2019-10-06 17:55] #675 closed

[2019-10-06 17:56] #1050 closed

[2019-10-06 21:57] garrytrinder opened #1137 "New sample: Delete all custom colour themes from SharePoint"
Docs |  
-- | --
Author | Laura Kokkarinen
Original Post | https://laurakokkarinen.com/does-it-spark-joy-powershell-scripts-for-keeping-your-development-environment-tidy-and-spotless/#delete-all-custom-color-themes-from-sharepoint
Description | Have you been creating a lot of beautiful themes lately and testing them in your dev tenant, but don’t want to keep them anymore? If yes, then this script

[2019-10-06 21:58] garrytrinder opened #1138 "New sample: Delete all SharePoint site designs"
Docs |  
-- | --
Author | Laura Kokkarinen
Original Post | https://laurakokkarinen.com/does-it-spark-joy-powershell-scripts-for-keeping-your-development-environment-tidy-and-spotless/#delete-all-sharepoint-site-designs-and-site-scripts
Description | Site designs can be something that ends up just hanging around in your tenant for a long time even though you no longer need them for anything.
Keywor

[2019-10-06 21:58] garrytrinder opened #1139 "New sample: Delete all SharePoint site scripts"
Docs |  
-- | --
Author | Laura Kokkarinen
Original Post | https://laurakokkarinen.com/does-it-spark-joy-powershell-scripts-for-keeping-your-development-environment-tidy-and-spotless/#delete-all-sharepoint-site-designs-and-site-scripts
Description | Site scripts can be something that ends up just hanging around in your tenant for a long time even though you no longer need them for anything. You mi

[2019-10-06 21:58] garrytrinder opened #1140 "New sample: Delete all Office 365 groups"
Docs |  
-- | --
Author | Laura Kokkarinen
Original Post | https://laurakokkarinen.com/does-it-spark-joy-powershell-scripts-for-keeping-your-development-environment-tidy-and-spotless/#delete-all-office-365-groups
Description | There are so many different ways to create Office 365 groups. Teams, Planner, SharePoint team sites, etc. — you can accumulate a lot of them very fast. Use this script below

[2019-10-06 21:59] garrytrinder opened #1141 "New sample: Delete all (non-group connected) modern SharePoint sites"
Docs |  
-- | --
Author | Laura Kokkarinen
Original Post | https://laurakokkarinen.com/does-it-spark-joy-powershell-scripts-for-keeping-your-development-environment-tidy-and-spotless/#delete-all-non-group-connected-modern-sharepoint-sites
Description | When you delete Office 365 groups, the modern group-connected team sites get deleted with them. The script below handles the remaining modern sites

[2019-10-06 21:59] garrytrinder opened #1142 "New sample: Empty the tenant recycle bin"
Docs |  
-- | --
Author | Laura Kokkarinen
Original Post | https://laurakokkarinen.com/does-it-spark-joy-powershell-scripts-for-keeping-your-development-environment-tidy-and-spotless/#empty-the-tenant-recycle-bin
Description | Your deleted modern SharePoint sites are not going to disappear from the UI before they have been removed from the tenant recycle bin. You can either wait for three months,

[2019-10-07 17:40] garrytrinder commented on #1112
Hey @quantrpeter did the guide help you?

Feel free to reach out if you have any further questions.

[2019-10-08 17:41] garrytrinder opened #1144 "New command: Return all modern and classic site collections in the tenant scoped recycle bin"
`spo tenant recyclebinitem list`

Return all modern and classic site collections in the tenant scoped recycle bin

Implementation similar to Get-PnPTenantRecycleBinItem cmdlet (https://docs.microsoft.com/en-us/powershell/module/sharepoint-pnp/get-pnptenantrecyclebinitem?view=sharepoint-ps)

[2019-10-08 17:48] garrytrinder opened #1145 "New command: Permanently delete a site collection from the tenant scoped recycle bin"
`spo tenant recyclebinitem remove [options]`

Permanently deletes a site collection from the tenant scoped recycle bin

Options |  
-- | --
`-u, --url <url>` | The url of the site collection in the tenant scoped recycle bin
`--confirm` | Confirms deletion

Implementation similar to Clear-PnPTenantRecycleBinItem cmdlet (https://docs.microsoft.com/en-us/powershell/module/sharepoint-pnp/clear-pnptena

[2019-10-09 00:30] plamber commented on #1113
@waldekmastykarz I would like to continue with this request if you do not mind. #1107 is covered with #1146

I am following this sequence

[2019-10-09 02:04] quantrpeter commented on #1112
@garrytrinder your guide is perfect, thanks

[2019-10-09 02:04] #1112 closed

[2019-10-09 03:15] plamber commented on #1113
@waldekmastykarz @VelinGeorgiev
I have a command that performs recursive calls. It is similar to the GraphItemsListCommand.ts but is dedicated to Yammer user retrieval. Unfortunately, I am not sure how to test the recursive calls of a web service with success and failure within the recursive call. I am not able to provide 100% coverage due to this. I haven't found any examples in the codebase that

[2019-10-09 08:11] waldekmastykarz commented on #1113
Have a look at tests for handling throttling where we do something similar: https://github.com/pnp/office365-cli/blob/cd657ed0fbdd5bec319d846f2dce906390f28dc2/src/request.spec.ts#L356

[2019-10-09 08:13] waldekmastykarz commented on #1113
I've updated the spec to clearly designate optional values

[2019-10-09 08:18] garrytrinder commented on #1112
Great @quantrpeter 👍🏻

If you'd like to get involved with helping building new commands for the CLI, I'd recommend taking a look through the below list of issues.

If there is a command you want to start work on, just let us know in the comments 😀

https://github.com/pnp/office365-cli/issues?q=is%3Aopen+is%3Aissue+label%3A%22help+wanted%22+label%3A%22good+first+issue%22

[2019-10-09 19:56] garrytrinder opened #1147 "New sample: Govern orphaned Teams"
Docs |  
-- | --
Author | Matti Paukkonen
Original Post | https://mattipaukkonen.com/2019/10/09/govern-orphaned-teams-with-powershell/
Description | Every team needs an owner, at least one. Common best practice is that you should have at least two users in owner role. Teams is not allowing the last owner to leave the team, but there might occasions when last owner is removed, example when people a

[2019-10-09 20:47] garrytrinder opened #1148 "New command: List users in a Microsoft Team"
`teams user list [options]`

Returns list of users from a specific Team

Options |  
-- | --
`-i, --teamId <teamId>` | The Id of the Microsoft Team
`-r, --role [role]` | Filter the results to only users with the given role: Owner or Member.

Already implemented in `aad o365group user list --teamId` so this command should ideally act as an alias.

[2019-10-10 10:16] garrytrinder commented on #1148
Turns out that this has already been implemented as an alias under `aad o365group user list --teamId` so this is not required.

<img width="931" alt="image" src="https://user-images.githubusercontent.com/11563347/66560460-5905b200-eb4f-11e9-9e71-414dddcfb4bf.png">

[2019-10-10 10:16] #1148 closed

[2019-10-10 10:22] garrytrinder opened #1149 "Documentation: Incorrect usage of alias in `aad o365group user list` examples"
The documentation refers to the alias as `aad team user list` but it should be `teams user list`

https://pnp.github.io/office365-cli/cmd/aad/o365group/o365group-user-list/

[2019-10-10 11:29] garrytrinder opened #1150 "teams user alias commands do not appear in teams interactive help"
`o365 help teams` does not display the `teams user` alias commands

This could be confusing for users of the CLI as they would have to look in `aad` and not `teams` to obtain information about a Teams user.

<img width="558" alt="image" src="https://user-images.githubusercontent.com/11563347/66565069-76d81480-eb59-11e9-8e10-4677a6792b56.png">

[2019-10-10 11:33] garrytrinder commented on #1150
@waldekmastykarz looping you in on this... is this expected?

[2019-10-10 11:58] garrytrinder commented on #1100
Opening this up for someone else to pick up

[2019-10-10 18:05] nikagarwal25 commented on #948
I got the following Error:
AADSTS700025: Client is public so neither 'client_assertion' nor 'client_secret' should be presented.
Trace ID: 919964fc-5644-4dc7-8f91-5dfcd6a52e00
Correlation ID: b5b16187-8b67-4291-b308-a95c74fcd830
Timestamp: 2019-10-10 18:00:58Z

Can someone assist?

[2019-10-10 19:13] garrytrinder commented on #948
@nikagarwal25 I'd recommend you create a new issue, please give as much detail as you can 👍🏻

[2019-10-11 00:45] phillipharding commented on #948
@nikagarwal25 have you tried setting Public Client to No
see: https://github.com/pnp/office365-cli/issues/948#issuecomment-487145809

[2019-10-11 06:54] balbany commented on #1125
You can give this one to me - I should be able to get to it before the end of the month.

[2019-10-11 07:02] garrytrinder commented on #1125
All yours @balbany thank you for your help 👍🏻

[2019-10-11 13:08] garrytrinder commented on #1126
Hey @kiranjunnuthula how are you getting on with this?

We have posted a sample since you created this issue using v2 of the CLI which is similar to what you are trying to achieve albeit for Teams apps, hope this helps.

https://pnp.github.io/office365-cli/examples/teams/deploy-teams-app/

[2019-10-11 22:43] StfBauer opened #1153 "spo storageentity set - not working with -u and trailing slash"
When the app catalogue was specified with a trailing slash the command does not succeed.

I submit a PR for the remark.

[2019-10-12 17:31] waldekmastykarz commented on #1150
It's how vorpal, our CLI infra works, but it's definitely confusing. I wouldn't say it's a bug, but it's an enhancement that I'll have a look at. Thanks for bringing it up. 👍

[2019-10-12 23:56] garrytrinder commented on #1150
There is an issue open on Vorpal repo for this, raised in May 2018 with no further comments 😕

https://github.com/dthree/vorpal/issues/311

[2019-10-13 12:45] #1063 closed

[2019-10-13 12:45] #954 closed

[2019-10-13 12:46] #1130 closed

[2019-10-13 12:47] #875 closed

[2019-10-13 12:48] #1149 closed

[2019-10-13 12:48] #1147 closed

[2019-10-13 12:49] #1153 closed

[2019-10-13 12:50] #1137 closed

[2019-10-13 13:51] waldekmastykarz commented on #1150
Unfortunately vorpal is not as actively maintained as you'd want it. Good thing, we have our own fork and it's not that complicated. I have a concept of a possible solution ready at https://github.com/pnp/vorpal/tree/help-alias.

[2019-10-13 17:30] waldekmastykarz commented on #674
Setting back as available to pick up due to lack of response

[2019-10-13 17:35] waldekmastykarz opened #1157 "Bug: On the docs site, menu disappears after scrolling down and back up"
On the docs site, the top menu disappears after scrolling down and back up. This is possibly caused by a recent introduction of the `pymdownx.superfences` extension used for tabbed UI in script examples. The issue can't be reproduced locally using the MkDocs Material Docker image so possibly it's related to a different version of MkDocs/superfences being used locally and in CI.

[2019-10-14 12:35] sprider opened #1159 "New Command : Get the number of group activities across group workloads"
@waldekmastykarz / @VelinGeorgiev
Could you please review this new command and assign this to me?

API - https://docs.microsoft.com/en-us/graph/api/reportroot-getoffice365groupsactivitycounts?view=graph-rest-1.0&tabs=http

# aad o365group report activitycounts

Get the number of group activities across group workloads.

## Usage

[code]

## Options

Option|Description
------|-----------
`--help`|o

[2019-10-14 12:51] sprider opened #1160 "New Command : Get the daily total number of groups and how many of them were active based on email conversations, Yammer posts, and SharePoint file activities."
@waldekmastykarz / @VelinGeorgiev
Could you please review this new command and assign this to me?

API - https://docs.microsoft.com/en-us/graph/api/reportroot-getoffice365groupsactivitygroupcounts?view=graph-rest-1.0&tabs=http

# aad o365group report activitygroupcounts

Get the daily total number of groups and how many of them were active based on email conversations, Yammer posts, and SharePoint

[2019-10-14 16:48] waldekmastykarz commented on #1159
Looks good @sprider. I believe your spec is missing some of the values for output and period. Other than that, all yours! 👍

[2019-10-14 16:49] waldekmastykarz commented on #1160
Looks good @sprider. Seems like some values for period and output are missing in the spec, but other than that, all yours 👍

[2019-10-15 03:13] sprider commented on #1159
Thank you @waldekmastykarz. I guess some rendering issue. I have added the commands as shown below :

Anyways I have submitted the PR for this new command. Please review and let me know the if I need to make any changes.

<img width="648" alt="Screen Shot 2019-10-14 at 10 11 31 PM" src="https://user-images.githubusercontent.com/21008316/66797212-b8f1b500-eecf-11e9-9afe-0e6df8e7ca09.png">

[2019-10-15 03:14] sprider commented on #1160
Thank you @waldekmastykarz. I guess some rendering issue. I have added the commands as shown below :

If required, I will update the command's MD file.

<img width="643" alt="Screen Shot 2019-10-14 at 10 14 17 PM" src="https://user-images.githubusercontent.com/21008316/66797321-fb1af680-eecf-11e9-9564-659e5b9a6672.png">

[2019-10-15 15:52] IvanParedes365 opened #1162 "Can't login without Yammer service enabled"
Dear colleagues,

It's not possible to login if you don't have Yammer enabled getting the following error:
_**AADSTS650052: The app needs access to a service (\"https://api.yammer.com/\") that your organization has not subscribed to or enabled. Contact your IT Admin to review the configuration of your service subscriptions.**_

Thanks and regards,
Ivan

[2019-10-15 17:50] waldekmastykarz commented on #1162
Thank you for reporting the issue and sorry for the trouble. We're considering to do the following:
- for the time being, we'll remove the Yammer permission from the CLI AAD app, so that everyone can use it
- we'll extend the docs with a remark that to use Yammer commands, you need to use a custom AAD app
- we'll research the ability to use dynamic consent with AAD v2 so that everyone can grant ad

[2019-10-15 17:51] waldekmastykarz commented on #1159
Awesome! Thank you for a quick turnaround 👏

[2019-10-15 17:51] waldekmastykarz commented on #1160
Awesome! Thank you for a quick turnaround 👏

[2019-10-15 17:52] waldekmastykarz commented on #1160
`|` are parsed as additional columns which breaks the rendering of the table. I believe in MD files we use `,` instead.

[2019-10-18 12:05] plamber commented on #1104
@waldekmastykarz I would like to continue with this command.

I am following this sequence
network listing: #1115
user retrieval: #1107
full user retrieval: #1113
yammer message list: #1104
yammer message retrieval: #1105
yammer message posting: #1105
yammer message delete: #1106
Then I would go and implement the group commands. Afterward, we should try to look at what is left and improve the curr

[2019-10-18 17:10] waldekmastykarz commented on #1104
Awesome! All yours 👍

[2019-10-20 14:01] #1157 closed

[2019-10-20 14:02] #1159 closed

[2019-10-20 14:03] #1160 closed

[2019-10-20 14:04] #1162 closed

[2019-10-20 14:06] waldekmastykarz commented on #1162
When using the latest beta of the CLI, you should be able to consent the AAD app in your dev tenant as it no longer refers to Yammer API permissions. If you want to use CLI's Yammer command s in a different tenant, after initially consenting CLI's AAD application, you should run `consent --service yammer` which will provide you with a URL to grant the AAD application permissions to the Yammer APIs

[2019-10-20 14:06] #1138 closed

[2019-10-20 14:27] waldekmastykarz commented on #1126
Closing due to lack of response

[2019-10-20 14:27] #1126 closed

[2019-10-21 06:28] kiranjunnuthula commented on #1126
Sorry for the late reply, it is fine with latest Pnp installation and without SPO in the login command. Thank you very much for the reply..

[2019-10-21 11:31] plamber opened #1169 "New-Command(s): implement usage reports for all supported Office 365 services"
Hi guys,
I noticed that usage reporting has been implemented for the Microsoft Teams service (e.g. #1038). Everything is based on the APIs provided [here](https://docs.microsoft.com/en-us/graph/api/resources/report?view=graph-rest-1.0).

As you can see from the documentation, reporting is also available for:
- Outlook
- Office 365 activations
- Office 365 groups
- OneDrive
- SharePoint
- Skype for

[2019-10-22 05:59] plamber commented on #1105
@waldekmastykarz I would like to continue with this command

[2019-10-22 12:31] garrytrinder commented on #1105
@plamber I've moved this to "In Progress" for you...

[2019-10-23 13:16] garrytrinder commented on #882
@VelinGeorgiev did you receive a reply on this from MS? I've just hit this issue 😬

[2019-10-23 13:21] VelinGeorgiev commented on #882
I asked. They did not answer.

[2019-10-23 13:29] garrytrinder commented on #882
Damn... out of interest did you create an sp-dev-docs issue or support ticket?

[2019-10-23 19:14] VelinGeorgiev commented on #882
Nope. Feel free to do so..

[2019-10-25 17:16] waldekmastykarz commented on #1126
Thanks for confirming! 👍

[2019-10-25 17:25] waldekmastykarz commented on #1169
This is a very good observation @plamber. If the approach is the same, then it would make a lot of sense to consolidate the implementation. As you noticed, it would save us a lot of time and simplify our code.

Since we already have a few report commands, what if you'd start with making a base class and refactoring what we have first to ensure backward compatibility and we could then start introdu

[2019-10-25 17:42] plamber commented on #1169
I am going to follow your suggestion. Next week I am going to create the first issue for the refactoring work

[2019-10-25 18:06] waldekmastykarz commented on #1169
Perfect! Thank you! Have a great weekend!

[2019-10-25 18:07] #1150 closed

[2019-10-27 09:43] plamber opened #1174 "Revisit the usage reports implementations for teams - period implementation"
Hi,
as suggested in #1169 I would like to revisit the usage reporting implemented for Teams.
After this exercise, I would like to use this implementation and extend it to all other services.

All usage reports work the same. You have some reports that support the "period" parameter only and some others that accept the period parameter or the date parameter.

My idea was to create a usage reporting

[2019-10-27 09:45] plamber opened #1175 "Revisit the usage reports implementations for teams - period and date implementation"
Continuing the conversation from #1174

I am going to change the TeamsReportDeviceUsageUserCountsCommand implementing the period and date scenario. You can assign this activity to me. I will then continue once #1174 is completed

[2019-10-27 10:14] waldekmastykarz commented on #1174
What if we'd do it in a way, that we have two base classes and the specific reports inherit from either one:
- eg. `PeriodBasedReport` would implement reports based on a period
- eg. `DateBasedReport` would inherit from `PeriodBasedReport` and would add support for dates

Whenever we have a command to show a report, we'd make it inherit from either class depending on if the particular report suppo

[2019-10-27 10:15] waldekmastykarz commented on #1175
See discussion in #1174

[2019-10-27 10:15] waldekmastykarz commented on #1169
Closing this one in favor of #1174 and #1175

[2019-10-27 10:15] #1169 closed

[2019-10-27 11:03] plamber commented on #1174
@waldekmastykarz I thought about having a base class doing both. But Your approach is cleaner. I am going to follow your suggestion

[2019-10-27 11:53] sprider commented on #1175
@plamber, Please let me if you need any help from my side. I have completed the following commands so far

<img width="223" alt="Screen Shot 2019-10-27 at 6 52 33 AM" src="https://user-images.githubusercontent.com/21008316/67634165-6ed0e200-f886-11e9-9981-04dc0883e39b.png">
<img width="247" alt="Screen Shot 2019-10-27 at 6 52 49 AM" src="https://user-images.githubusercontent.com/21008316/67634166-

[2019-10-27 18:21] #1107 closed

[2019-10-29 15:21] phillipharding opened #1177 "o365 spo app remove doesn't remove entries from Client Side Component Manifests list"
When manually deleting a solution package from the tenant app catalog (for a webparts solution) the webparts manifests are also automatically removed from the _Client Side Component Manifests_ list.

However, when using

```o365 spo app retract --id <package id> --confirm```

and

```o365 spo app remove --id <package id> --confirm```

to remove the solution package, the webpart manifests are left

[2019-10-29 18:10] garrytrinder commented on #1177
Thank you for reporting this issue and bringing it to our attention. We will investigate...

[2019-10-29 18:29] waldekmastykarz commented on #1177
@phillipharding since we're not doing anything specific in that regard other than using the SharePoint APIs, I suspect that the issue lies there. If you can see the same behavior when using for example PowerShell or the REST API, then it would be a SharePoint issue which should be raised at https://github.com/sharepoint/sp-dev-docs/issues

[2019-10-30 10:09] phillipharding commented on #1177
Thanks @garrytrinder @waldekmastykarz

Using the PnP "App" command-lets works as expected, but when using the REST API, after running
[code]
the webpart manifests are left in the _Client Side Component Manifests_ list.

Will close this and raise an issue at https://github.com/sharepoint/sp-dev-docs/issues

[2019-10-30 10:09] #1177 closed

[2019-10-30 16:17] munchkin1 opened #1179 "Question: spo file add file name with single quotes"
Hi,

Trouble with using the spo add file command for a file name with a single quote.  We tried escaping it with \ but it didn't work.

example)
o365 spo file add --webUrl URL --folder FOLDER --path /c/Users/me/Downloads/fileWithSingleQuote\\'s.txt

Thanks

[2019-10-30 17:52] phillipharding opened #1180 "spo hubsite list fails when using includeAssociatedSites switch"
When using the ```spo hubsite list --includeAssociatedSites -o json``` command to return Hubsites with associated sites, the command fails because it's looking at the root SharePoint site instead of the SharePoint Admin site, the error message returned is;

[code]
At line 75 in ```hubsite-list.ts```

https://github.com/pnp/office365-cli/blob/cd657ed0fbdd5bec319d846f2dce906390f28dc2/src/o365/spo/co

[2019-10-30 18:22] waldekmastykarz commented on #1179
Which shell and OS are you using so that we can reproduce the issue and look for a solution?

[2019-10-30 19:29] munchkin1 commented on #1179
We are testing in git bash on Windows 10

[2019-10-30 22:44] garrytrinder commented on #1179
Tested on using zsh on MacOS and confirmed that attempting to upload a document with apostrophe in the filename throws an error.

Wrapping path in quotes (single or double) results in `Specified path of the file to add does not exist` message

[2019-11-01 18:32] waldekmastykarz commented on #1179
Thanks for looking into it @garrytrinder. @munchkin1, just to verify, are you seeing the same error as @garrytrinder?

[2019-11-01 18:37] waldekmastykarz commented on #1179
@garrytrinder if you're working on it, see if replacing `'` with `''` would help. I vaguely recall a similar issue in MS Graph where it was the case.

[2019-11-01 18:46] garrytrinder commented on #1179
@waldekmastykarz that was the fix, see #1181 😊

[2019-11-01 21:30] munchkin1 commented on #1179
Yes, confirmed we see the same "_Microsoft.SharePoint.Client.InvalidClientQueryException_" error @garrytrinder posted.

[2019-11-01 21:42] munchkin1 opened #1182 "Question: spo file add with metadata named "Folder""
Hey guys,

We were unable to populate our metadata named "Folder" when calling spo file add (probably conflicts with the predefined --folder parameter):

`spo file add --webUrl URL --folder 'docLibName' --path FILE --Folder 'metadataValue'`

Workaround was to use another metadata name, not sure if this is something worth fixing.

Thanks!

[2019-11-02 08:30] garrytrinder commented on #1182
Thank you for reporting this @munchkin1, we will take a look and get back to you.

[2019-11-02 10:45] garrytrinder commented on #1182
Does the command throw an error when using ‘—Folder’? If so, can you supply the full error message.
What is the observed behaviour when using ‘—Folder’?

[2019-11-03 21:31] munchkin1 commented on #1182
No error message is thrown, it appears to ignore the extra --Folder parameter.  After the command is ran my Folder column remains empty.

[2019-11-05 07:22] plamber opened #1184 "Enhance Yammer message list command"
As promised we implemented in #1171 the standard message enumeration for Yammer ("All" conversation feed).
This issue is going to extend the capability of this command and integrate the missing endpoints for message retrieval

### Usage
yammer message list [options]

### New options added to the existing command
Option | Description
-- | --
`-f, --feedType [feedType]` | All,Top,My,Following,Sent,P

[2019-11-05 07:28] plamber opened #1185 "New command: List Yammer groups"
### Usage
yammer group list [options]

### Description
Returns the list of groups in a Yammer network or the groups for a specific user.

### Options

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `--userId [userId]` | Returns the groups for a specific user
| `-o, --output [output]` | Output type. `

[2019-11-05 07:36] garrytrinder commented on #1184
Thank you for proposing this new command @plamber 👍🏻

Could you add the short (e.g. -f) options to your proposed spec?

[2019-11-05 08:04] garrytrinder commented on #1185
Thank you for proposing this new command @plamber 👍🏻

Could you add the short (e.g. -i) options to your proposed spec?

[2019-11-05 08:20] plamber commented on #1185
@garrytrinder not sure if it makes sense here. Adding a shortener for the userId in a group list command might confuse some users. I am worried that they use the group Id instead

[2019-11-05 08:24] plamber commented on #1184
@garrytrinder added one for the feedType but would avoid having one for the groupId and threadId. I try to be consistent with the other commands. We haven't used shorteners there

[2019-11-05 09:20] plamber commented on #1106
@waldekmastykarz this implementation is a quick win. Just assign it to me

[2019-11-05 09:26] garrytrinder commented on #1184
Thanks @plamber we like consistency 👍🏻

I've made a slight amendment to the OP to 'uncomment' the options table.

Thank you for your continued support to this project ❤️

[2019-11-05 12:20] garrytrinder commented on #1185
Thanks @plamber thats a good point and something we should certainly consider, happy to leave as is.

I've made a slight amendment to the OP to merge the options table.

Thank you for your continued support to this project ❤️

[2019-11-05 18:26] waldekmastykarz commented on #1182
Just to double-check, if you would run the command with the `--debug` option, can you see the `Folder` field included in the request or is it skipped altogether?

[2019-11-08 16:07] munchkin1 commented on #1182
Confirmed with `--debug` option, the `Folder` field is not found in the debug output

[2019-11-10 15:19] garrytrinder commented on #715
Hey @HubSaul 👋🏻 are you still working on this?

[2019-11-10 15:28] garrytrinder commented on #676
Hey @stijnbrouwers 👋🏻 are you still working on this?

[2019-11-10 15:30] garrytrinder commented on #1040
Hey @appieschot 👋🏻 are you still working on this?

[2019-11-10 15:30] garrytrinder commented on #1042
Hey @appieschot 👋🏻 are you still working on this?

[2019-11-10 15:31] garrytrinder commented on #1052
Hey @muecs 👋🏻 are you still working on this?

[2019-11-10 18:27] #1113 closed

[2019-11-10 18:28] #1104 closed

[2019-11-10 18:29] #1179 closed

[2019-11-10 18:30] waldekmastykarz commented on #1179
The fix for this issue is available in the latest beta which you can get through `npm i -g @pnp/office365-cli@next`. Once again, thank you for reporting 👍

[2019-11-10 18:30] waldekmastykarz commented on #1180
The fix for this issue is available in the latest beta which you can get through `npm i -g @pnp/office365-cli@next`. Once again, thank you for reporting 👍

[2019-11-10 18:30] #1180 closed

[2019-11-10 18:32] #571 closed

[2019-11-11 12:55] muecs commented on #1052
@garrytrinder Not at present, although I have been using chunked uploads in production for over two months now. To open a PR only tests are still missing which I need to make time for.

[2019-11-11 13:27] appieschot commented on #1040
Hi @garrytrinder due to some work related issues haven't done much on this. Hope to start working on it on friday again :)

[2019-11-11 13:27] appieschot commented on #1042
Hi @garrytrinder due to some work related issues haven't done much on this. Hope to start working on it on friday again :)

[2019-11-11 17:32] plamber opened #1188 "Not able to run npm run test on fresh Windows install"
Hi,
I made a fresh Windows 10 install and tried to continue on my contributions for the Office 365 CLI. I followed [these instructions](https://github.com/pnp/office365-cli/blob/master/docs/guides/mpa.md) step-by-step.

I am able to build and run a linked Office 365 CLI without issues. I took the latest dev branch as basis. Unfortunately, when I try to run *npm run test*, I receive following outpu

[2019-11-11 17:46] waldekmastykarz commented on #1188
Could you see if you can repro the issue on Node v10? Also, how did you install Node?

[2019-11-11 17:49] waldekmastykarz commented on #1182
Thanks for confirming. Let me have a look if there is a way for us to address it.

[2019-11-11 18:00] plamber commented on #1188
I am able to reproduce the error with the 12.13.0 LTS 64 bits version. The installation has been executed using the MSI package. I tried it out with the 64 version located under https://nodejs.org/dist/latest-v10.x/ and got these results.

Error: Cannot find module 'C:\Users\PatrickLamber\Documents\GitHub\office365-cli\node'
    at Function.Module._resolveFilename (internal/modules/cjs/loader.js:6

[2019-11-11 22:39] VelinGeorgiev commented on #1188
Could it be something in the npm-shrinkwrap.json file?

Patrick @plamber, can you try
- rename the npm-shrinkwrap.json file to something else so `npm` will not use it.
- delete the node_modules directory
- delete the package-lock.json file if such
- npm install

Note: This will create package-lock.json file that must be deleted if we find out the issue is with npm-shrinkwrap.json file and fix it.

[2019-11-12 07:28] plamber commented on #1188
Hi,
installed the 12.13.0 LTS version.

By following @VelinGeorgiev I started receiving hundrets of errors when building the project.

When putting the npm-shrinkwrap.json back as before... everything except npm run test was working again.

[2019-11-12 12:35] garrytrinder commented on #1052
Thanks @muecs 👍🏻

Is your branch available for someone to potentially pick up, if you aren’t able to find the time to finish the tests?

[2019-11-12 13:20] stijnbrouwers commented on #676
Hi Garry,

Thanks for reaching out. Unfortunately, for the moment I'm not really able to perform this task. You can unassign me, if something should change, I will reach out again to re-assign it to me.
Sorry for the inconvenience...

[2019-11-12 13:33] garrytrinder commented on #676
Not a problem, thanks for getting back to us, we fully understand how life can “get in the way” 😊

[2019-11-12 16:47] plamber commented on #1188
Hi,
I performed some additional tests:
- Executed the steps on a Mac... no problems at all
- Created a secondary profile on my Windows 10 Machine. The problem still persists

br,
Patrick

[2019-11-12 18:53] waldekmastykarz commented on #1188
Could you try using Node v10 and see if you can repro the issue?

[2019-11-13 08:12] plamber commented on #1188
Tried it with Node v10 and I am able to reproduce the error. I also tried to create a local account to see if it might be somehow related to my Azure AD joined account.

Meanwhile, I even tried the radical approach. I reset my PC and focused on installing only the necessary components. Same error.

[2019-11-13 18:24] waldekmastykarz commented on #1188
Thanks for confirming @plamber. @VelinGeorgiev, you're on Windows right? Can you reproduce this issue?

[2019-11-13 19:08] waldekmastykarz commented on #1182
OK, so this seems to be an issue in the command, where we first convert all options to lowercase, before removing all known options from the passed arguments. That makes `folder` and `Folder` be the same and getting removed from the properties to be set on the file. We should be able to address this issue by removing the lowercase conversion.

[2019-11-13 21:00] baywet opened #1189 "spfx project externalize: doesn't work with @pnp/spfx-property-controls and @pnp/spfx-controls-react"
Hi,
I'm adding an issue here to help share the information.
The main issue is how the module is defined currently for those library. (commonjs)
Added issues on the respectives repos to help solve this.
https://github.com/SharePoint/sp-dev-fx-property-controls/issues/205
https://github.com/SharePoint/sp-dev-fx-controls-react/issues/415

[2019-11-13 21:02] baywet opened #1190 "spfx project externalize pnpjs shadow requires missing"
The recommandations should also suggest the shadow requires as per https://pnp.github.io/pnpjs/documentation/deployment/#in-code_1

[2019-11-13 21:09] baywet opened #1191 "spfx project externalize pnpjs taxonomy and clientsvc"
as we can see here
https://unpkg.com/@pnp/sp-clientsvc@1.3.7/dist/sp-clientsvc.es5.umd.js
and there
https://unpkg.com/@pnp/sp-taxonomy@1.3.7/dist/sp-taxonomy.es5.umd.js
the global name is in fact pnp["sp-taxonomy"] and pnp["sp-clientsvc"] (we're currently suggesting pnp.sptaxonomy and pnp.spclientsvc but it doens't work, pnp.taxonomy doesn't seem to work either)
It contrasts with the other modules

[2019-11-13 21:14] baywet opened #1192 "spfx project externalize exceptions to patterns"
There are libraries that do not follow the naming patterns we're trying to match.
A few examples are:
Suggested:
"moment-timezone": "https://unpkg.com/moment-timezone@^0.5.27/index.js",
"moment": "https://unpkg.com/moment@^2.24.0/moment.js",
"tinycolor2": "https://unpkg.com/tinycolor2@^1.4.1/tinycolor.js"

Should be:
"moment-timezone": "https://unpkg.com/moment-timezone@^0.5.27/builds/moment-timez

[2019-11-13 21:46] balbany commented on #1125
Sorry for the delay on this. Should be able to finally get to it next week.

[2019-11-14 08:23] VelinGeorgiev commented on #1188
I will try on fresh VM and ket you know.

[2019-11-14 18:37] waldekmastykarz commented on #1189
Is this an issue on our end because we incorrectly determine the module type or is it something that needs to be addressed in the respective projects?

[2019-11-14 18:39] waldekmastykarz commented on #1190
Good suggestion. Do you want to pick it up yourself or would you rather have someone else look at it?

[2019-11-14 18:40] waldekmastykarz commented on #1192
Isn't there a way to retrieve those names from somewhere like package.json?

[2019-11-14 18:42] waldekmastykarz commented on #1191
Shouldn't they be showing in the recommendations at all or should we suggest defining them differently as an exception for v1.x version of pnpJs?

[2019-11-14 18:44] baywet commented on #1192
for the examples I provided the package.json main points to the suggestion we've made.
We could try the jspm/main and jspm/files properties as well. But then if we get multiple results, how could we decide which one is authority?

[2019-11-14 18:45] baywet commented on #1190
I can pick it up, I just wanted to get feedback before I did, you can assign it to me and I'll tackle it when I can.

[2019-11-14 18:46] baywet commented on #1189
IMHO it needs to be addressed in the respective projects. I was adding the issue here to provide visibility to people using the command.

[2019-11-14 18:49] baywet commented on #1191
I'm not sure I understand your proposition.
I was suggesting we add some code so they don't show up in the suggestions. Right now what the command is suggesting something that if implemented will break the solution.

Are you suggesting to display a message like "we ignored these on purpose?".

[2019-11-15 08:18] joakimhogberg commented on #676
Hi guys, feel free to assign me!

[2019-11-15 09:53] garrytrinder commented on #676
All yours @joakimhogberg 👍🏻

[2019-11-15 16:41] VelinGeorgiev opened #1194 "New sample: Lists active SharePoint site collection application catalogs"
Docs |  
-- | --
Inspired by | David Ramalho
Original Post | http://sharepoint-tricks.com/check-all-sharepoint-sites-collection-with-app-catalog-active/
Description | A sample that shows how to find all installed site collection application catalogs within a tenant. IT Professionals or DevOps can benefit from it when they govern tenants or scan tenant for customizations. Pulling a list with site c

[2019-11-15 18:14] waldekmastykarz commented on #1192
I would prefer to avoid exceptions, because once we go down that route, there is no end to it and it will be close to impossible to maintain it.

[2019-11-15 18:15] waldekmastykarz commented on #1189
Since there is no work on our end for it, shall we close it?

[2019-11-15 18:17] waldekmastykarz commented on #1191
Let's clear this one out: we currently suggest adding references to these scripts because they're in package.json but they're there merely as a dependency and there is no need to reference them in config?

[2019-11-15 18:17] baywet commented on #1189
It's up to you, my opinion would be to leave it open to provide visibility to people as long as things need to be fixed. Closed issues are harder to come by, they are not indexed the same by search engines in my experience.

[2019-11-15 18:26] baywet commented on #1191
We are making the suggestion because they are in the package.json and we were able to find something on unpkg. But the module is exported as a global name and that global name format seems not to be supported by the externals configuration in SPFx.
If the global name format was supported by SPFx, it'd work properly.
IMHO there's only three options here:
- Ask SPFx to provide support for that globa

[2019-11-15 18:26] waldekmastykarz commented on #1189
We use issues as a backlog and if there is nothing that we can do about it, I'd prefer to close it. We have the reference, so shall anything come up, it should be possible to find it in this issue list.

[2019-11-15 18:27] waldekmastykarz commented on #1191
So with the current name, is it possible at all to reference these libraries as externals or not?

[2019-11-15 18:28] baywet commented on #1189
Go ahead and close it then, I wouldn't want to go against this repo's etiquette and practices :)

[2019-11-15 18:28] #1189 closed

[2019-11-15 18:30] baywet commented on #1191
Unless there's a syntax I'm not aware of to translate something like pnp['sp-taxonomy'] I don't think so. I played with escaping the quotes and other things like that, no success so far.

[2019-11-15 18:32] baywet commented on #1191
maybe ['pnp']['sp-taxonomy'] according to the footnote of https://webpack.js.org/configuration/externals/#object I'll give it a try

[2019-11-15 18:43] baywet commented on #1192
Agreed, it's a rabbit hole we should try to avoid for as long as we can.
The only things I can suggest:
1. the Rencore API to tell the difference between the types of modules (es6, systemjs, commonjs...)
1. looking as well at the jspm/main property https://github.com/jspm/registry/wiki/Configuring-Packages-for-jspm#prefixing-configuration

This way we could implement something like
1. get me all t

[2019-11-16 07:10] waldekmastykarz commented on #1192
1. would be the easiest one because that API does that internally already. The detected type is just not exposed externally. Let me adjust that and I'll update you when it's available

[2019-11-16 15:56] baywet commented on #1191
unfortunately this doesn't work either :(

[2019-11-16 18:31] #1105 closed

[2019-11-16 18:31] #1174 closed

[2019-11-16 18:33] waldekmastykarz commented on #1182
Fix for this issue has been included in the latest beta of the CLI which you can get from `npm i -g @pnp/office365-cli@next`. Once again, thank you for reporting @munchkin1.

[2019-11-16 18:33] #1182 closed

[2019-11-16 18:33] #1194 closed

[2019-11-16 18:54] waldekmastykarz commented on #1191
ok, so for now exclusion is the only option, right? Is this something that could be included in the pnp rule to keep things contained?

[2019-11-16 18:58] baywet commented on #1191
I think so.
I'm not sure about this one, it's possible that the dynamic rule will try to suggest it so we might need the exclusion mechanism at the command level.
You can assign it to me, I'll take a look when I can. Thanks for the discussion!

[2019-11-16 19:01] waldekmastykarz commented on #1191
Appreciate your research and help 👏

[2019-11-16 19:07] waldekmastykarz opened #1197 "New command: rename site collection"
### Usage

`spo site rename [options]`

### Description

Renames the specified site collection

### Options

Option | Description
-- | --
`-u, --siteUrl` | The URL of the site to rename
`--newSiteUrl [newSiteUrl]` | New URL for the site
`--newSiteTitle [newSiteTitle]` | New title for the site
`--suppressMarketplaceAppCheck` | Suppress marketplace app check
`--suppressWorkflow2013Check` | Suppress

[2019-11-19 12:14] muecs commented on #1052
@garrytrinder Of course; my work so far is on this branch: https://github.com/muecs/office365-cli/commits/file-add-chunking

[2019-11-19 19:32] garrytrinder commented on #1125
No problem, thanks for the update @balbany 👍🏻

[2019-11-24 18:24] #1175 closed

[2019-11-24 18:24] #1184 closed

[2019-11-24 18:31] waldekmastykarz commented on #1188
Hey @VelinGeorgiev, any updates?

[2019-11-24 18:43] waldekmastykarz opened #1202 "Enhancement: Allow setting arbitrary properties on web"
The `spo web set` property should allow users to update the value of any property supported by the Web class in SPO.

At this moment, the `spo web set` command supports only a handful of options that correspond to the properties of the Web class. This is similar to the Set-PnPWeb cmdlet. However, because PnP PowerShell works with CSOM, this limitation is often circumvented, by retrieving the `web`

[2019-11-24 23:19] garrytrinder opened #1203 "Enhancement: Enable batching for SharePoint List Item creation"
The `spo listitem add` command should allow users to create multiple SharePoint List Items without having to execute the same command multiple times.

If you need to create a couple of items this most likely is not an issue but we should consider scenarios where hundreds or even thousands of items need to be created. At the moment the automation script required to perform this action would run int

[2019-11-25 00:17] garrytrinder commented on #1188
I've been able to replicate the same issue on Windows 10 Pro 1903 (19008.1000) & Node LTS 12.13.1, following the same 'Minimal Path to Awesome' as Patrick.

<img width="1024" alt="image" src="https://user-images.githubusercontent.com/11563347/69503861-02ddaa00-0f16-11ea-992f-516e53a00ad8.png">

As the issue is relating to running the tests, it would appear that based on the error stack below, that

[2019-11-25 05:32] janegilring opened #1204 "Enhancement: Include child terms when querying a specific term or term group"
We are currently using the Sharepoint PnP PowerShell module to interact with Sharepoint Term Store programmatically.

That module only works on Windows, and we now want to leverage PowerShell Core cross-platform to do similar tasks. Hence, we have looked into the office365-cli. This looks very promising since it can return JSON output allowing us to customize the output as needed.

However, we do

[2019-11-25 05:59] plamber commented on #1188
Hi,
I am getting the project test failure also on my MAC. I ignored it so far because I was still able to commit my changes without affecting the coverage.

Hope this helps

[2019-11-25 06:26] plamber opened #1205 "Convert current usage scripts to support the new usage base classes"
Hi,
after the implementation of #1175, I would like to merge all existing usage commands in our repository to inherit from our new base classes.

Just assign the task to me. Afterwards, I am going to create an issue for each remaining usage command that hasn't been implemented yet.

br,
Patrick

[2019-11-25 15:46] garrytrinder commented on #1204
Welcome @janegilring 👋🏻

Thank you for your suggestion 👍🏻

This is definitely something that we can look to implement in our `spo term get` command.

After a quick look at the `Get-PnPTerm` cmdlet I see that it has two options, `-IncludeChildTerms` & `-Recursive`, which option do you currently use in your scripts?

[2019-11-25 16:32] janegilring commented on #1204
Thanks! 😊

I actually use both:
Get-PnPTerm -TermGroup Custom -TermSet $TermSet -IncludeChildTerms -Recursive

[2019-11-25 18:02] garrytrinder commented on #1204
I see 😊

So that we are clear about the functionality you are proposing to be added, are the below statements accurate?

`-Recursive` returns the requested term from a given termset irrespective of the level the term is situated in the hierarchy (2nd, 3rd, 4th level terms). If omitted, the command will only return terms that are first level terms.
`-IncludeChildTerms` returns the requested term fr

[2019-11-25 19:01] waldekmastykarz commented on #1202
Here is a proof of concept for the implementation based on `spo web set`: https://github.com/waldekmastykarz/office365-cli/commit/df54ed2945e5a4f1a8c107bd059a114e19292c21

[2019-11-25 19:04] waldekmastykarz commented on #1205
Awesome! Appreciate your help @plamber 👏

[2019-11-25 19:08] waldekmastykarz commented on #1188
@plamber @garrytrinder is this issue specific to Node v12?

[2019-11-25 19:09] VelinGeorgiev commented on #1188
Will try repro to tomorrow.

[2019-11-25 19:10] garrytrinder commented on #1188
I’ve not had chance to test with another version but the closed issue refers to it only being an issue with Node v12.11.0 and higher.

[2019-11-25 19:12] waldekmastykarz commented on #1188
Got it. Shall we then rename this issue to make it clear that it's specific to Node v12 and then we can use it to track the work towards supporting it?

Regarding Istanbul, I've been delaying its upgrade, because each time I did it, the coverage report got empty. After trying out some fixes, I got it to show something, but not the 100% we have, which is odd, given it's the same code.

With that sa

[2019-11-25 19:29] janegilring commented on #1204
Yes, that is correct 👍😊

[2019-11-25 19:32] garrytrinder commented on #1188
Agree on renaming the issue 👍🏻

We first need to confirm the working Node version and go from there, once we know what that version is it will help us get a clearer plan of attack.

I’ll take a look confirming this later this evening.

[2019-11-25 22:55] garrytrinder commented on #1188
I have downgraded to Node 12.10.0 and can confirm that tests do run without upgrading nyc to the 15.0.0-beta.0 version, however an error is still thrown after the test results table is shown.

<img width="984" alt="image" src="https://user-images.githubusercontent.com/11563347/69584953-50215080-0fd6-11ea-9da3-d8c2a06a49b3.png">

Debug log below

[code]

[2019-11-25 23:07] garrytrinder commented on #1188
Oddly, downgrading down to Node 10.17.0, the last LTS build for Node v10, the tests don't run at all.

<img width="986" alt="image" src="https://user-images.githubusercontent.com/11563347/69585613-249f6580-0fd8-11ea-94af-e434dab2e62c.png">

Debug log below

[code]

[2019-11-25 23:13] garrytrinder commented on #1188
@plamber do you still have access to your old machine? If so, would it be possible to find out what version of node was installed on it?

[2019-11-26 08:12] plamber commented on #1188
Hi,
I have the issue with node v12.13.0 but also had the issue with node 10 on the same machine.

br,
Patrick

[2019-11-26 10:27] garrytrinder commented on #1188
Found another closed issue which is a potential fix

https://github.com/istanbuljs/nyc/issues/1163

Looks like the issue lies with npm 6.11 and not node, I’ll take a look at testing the fix later this afternoon.

[2019-11-26 14:14] joakimhogberg commented on #676
Hi guys @waldekmastykarz @garrytrinder

The implementation seems to be working fine, I'm just wrapping up the unit tests and documentation.

I do however have a question regarding the name of the command;

In the original post, and comment below, the suggestion is  `spo feature remove`. But, with the discussion in #675 (and also, the title of this issue) in mind, wouldn't you agree that  `spo feat

[2019-11-26 17:13] garrytrinder commented on #676
Great work @joakimhogberg 👏🏻

Yes, I agree with you that `spo feature disable` would be a better name, as the command to enable a feature is called `spo feature enable` which was implemented under #675 as you have pointed out. Good catch 👍🏻

[2019-11-26 19:20] VelinGeorgiev commented on #676
I agree to go with `disable` since we are not actually removing any features form a site.

[2019-11-27 04:43] plamber opened #1209 "New command: outlook report getEmailActivityUserDetail"
### Usage

### Description
Get details about email activity users have performed.

### Options

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `-o, --output [output]` | Output type. `json\|text`. Default `text` |
| `-p, --period [period]` | The length of time over which the report is aggregated. Supp

[2019-11-27 04:46] plamber opened #1210 "New command: outlook report getEmailActivityCounts"
### Usage

### Description
Enables you to understand the trends of email activity (like how many were sent, read, and received) in your organization.

### Options

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `-o, --output [output]` | Output type. `json\|text`. Default `text` |
| `-p, --period [per

[2019-11-27 04:49] plamber opened #1211 "New command: outlook report getEmailActivityUserCounts"
### Usage

### Description
Enables you to understand trends on the number of unique users who are performing email activities like send, read, and receive.

### Options

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `-o, --output [output]` | Output type. `json\|text`. Default `text` |
| `-p, --perio

[2019-11-27 04:51] plamber opened #1212 "New command: outlook report getemailappusageuserdetail"
### Usage

### Description
Get details about which activities users performed on the various email apps.

### Options

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `-o, --option <option>` | option                                    |
| `-o, --output [output]` | Output type. `json\|text`. Default `t

[2019-11-27 04:52] plamber opened #1213 "New command: outlook report getEmailAppUsageAppsUserCounts"
### Usage

### Description
Get the count of unique users per email app.

### Options

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `-o, --output [output]` | Output type. `json\|text`. Default `text` |
| `-p, --period [period]` | The length of time over which the report is aggregated. Supported valu

[2019-11-27 04:54] plamber opened #1214 "New command: outlook report getEmailAppUsageUserCounts"
### Usage

### Description
Get the count of unique users that connected to Exchange Online using any email app.

### Options

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `-o, --output [output]` | Output type. `json\|text`. Default `text` |
| `-p, --period [period]` | The length of time over which

[2019-11-27 04:55] plamber opened #1215 "New command: outlook report getEmailAppUsageVersionsUserCounts"
### Usage

### Description
Get the count of unique users by Outlook desktop version.

### Options

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `-o, --output [output]` | Output type. `json\|text`. Default `text` |
| `-p, --period [period]` | The length of time over which the report is aggregated. S

[2019-11-27 04:57] plamber opened #1216 "New command: outlook report getMailboxUsageDetail"
### Usage

### Description
Get details about mailbox usage.

### Options

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `-o, --output [output]` | Output type. `json\|text`. Default `text` |
| `-p, --period [period]` | The length of time over which the report is aggregated. Supported values D7,D30,D9

[2019-11-27 04:59] plamber opened #1217 "New command: outlook report getMailboxUsageMailboxCounts"
### Usage

### Description
Get the total number of user mailboxes in your organization and how many are active each day of the reporting period. A mailbox is considered active if the user sent or read any email.

### Options

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `-o, --output [output]` | Ou

[2019-11-27 05:01] plamber opened #1218 "New command: outlook report getMailboxUsageQuotaStatusMailboxCounts"
### Usage

### Description
Get the count of user mailboxes in each quota category.

### Options

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `-o, --output [output]` | Output type. `json\|text`. Default `text` |
| `-p, --period [period]` | The length of time over which the report is aggregated. Sup

[2019-11-27 05:02] plamber opened #1219 "New command: outlook report getMailboxUsageStorage"
### Usage

### Description
Get the amount of storage used in your organization.

### Options

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `-o, --output [output]` | Output type. `json\|text`. Default `text` |
| `-p, --period [period]` | The length of time over which the report is aggregated. Suppor

[2019-11-27 13:46] anoopt commented on #1094
So @waldekmastykarz what I was thinking was we create a GitHub action named something on the lines of "Add and deploy SPFx package using Office 365 CLI". This action would do the following:

1. Login to the tenant
2. Add the app to the app catalog site
3. Deploy the app

To create the action, after reading [this article](https://help.github.com/en/actions/automating-your-workflow-with-github-actio

[2019-11-27 15:13] VelinGeorgiev commented on #1188
I was able to repro with

[code]

Possible solutions:
- Upgrading the `nyc` to `15.0.0-beta.0` solved the issue as mentionaed here: istanbuljs/nyc#1163
- Upgrading the `nyc` to `15.0.0-beta.1` solved the issue as well
- Downgrading `nyc` did not worked for me.

[2019-11-27 18:18] waldekmastykarz commented on #676
`disable` is definitely a better name. Good catch @joakimhogberg 👏

[2019-11-27 18:26] waldekmastykarz commented on #1188
So it fails because of a single test? If that's the case, couldn't we adjust that one test rather than go down the route of fixing dependencies?

[2019-11-27 18:30] waldekmastykarz commented on #1094
There is no docker image with the CLI yet, but the article you mentioned, talks about creating an image specifically for the action, so for now we could take the regular Node.js image as a baseline and include installing the CLI as one of the steps in the dockerfile. Once we get a docker image with the CLI in it, we could update the dockerfile to point to the CLI image instead. Does that make sens

[2019-11-27 18:58] VelinGeorgiev commented on #1188
@waldekmastykarz, it fails because of `nyc` module in the dev dependencies.

The test is a side effect after the upgrade.

[2019-11-27 19:06] waldekmastykarz commented on #1188
After upgrading nyc, have you had a look at the coverage report? It was showing empty for me in v14 and I wonder if it's still an issue with v15.

[2019-11-27 19:49] VelinGeorgiev commented on #1188
According to this istanbuljs/nyc#1205 v14 will not solve the issue, it is `15.0.0-beta.1` and then v15 when it is out.

[2019-11-27 20:55] garrytrinder commented on #1094
Just to chip If we are looking at potentially using a Docker Container for this purpose, there is a potential to re-use the same image to allow us to use Remote Development in VS Code for the CLI, this would help provide a consistent cross platform development environment for project contributors to use. Something we may want to consider...

[2019-11-28 02:09] DaveCalGH commented on #1197
@waldekmastykarz  I can take this one if it hasn't already been allocated.

[2019-11-28 09:16] waldekmastykarz commented on #1192
We've updated the API and a new version that exposes the detected type is available at `https://scriptcheck-weu-fn.azurewebsites.net/api/v2/script-check`

[2019-11-28 10:58] VelinGeorgiev commented on #1197
@DaveCalGH, done.

[2019-11-28 15:32] baywet opened #1221 "spfx project upgrade missing suggestion for some standard @microsoft packages"
# Repro
1. scaffold a spfx 1.8.2 project
1. `npm i install @microsoft/sp-page-context@1.8.2 -DE` (can't remember if it's here by default or not)
1. run `o365 spfx project upgrade -o md -f upgrade.md`

# Current behavior
The report won't suggest you to upgrade the @microsoft/sp-page-context package

# Desired behavior
The report to suggest upgrading that package as well.

[2019-11-28 15:36] baywet opened #1222 "spfx project ugprade suggesting wrong version of rush stack"
# Repro
1. scaffold a 1.8.2 project
1. swap to rush stack 3.3 for example
[code]
1. run the upgrade `o365 spfx project upgrade -o md -f upgrade.md`

# Current behavior
The report will suggest you to update rush stack 2.9, and if you follow blindly the instructions, you'll end up with two versions of rush stack installed.

# Desired behavior
The report to suggest me to update the current rush stack

[2019-11-28 16:35] VelinGeorgiev commented on #1221
@baywet , @waldekmastykarz, this module does not come with OOTB scaffolded solution from yeoman. This is the reason we have not tracked it.

@waldekmastykarz, we can add it to the report, it should not be an issue. Does that mean we should account for the other @microsoft/sp-.. modules that are not part of the yeoman initial project? Ias far as I remember there are few more.

[2019-11-28 16:44] baywet commented on #1221
IMHO we should: the reasoning is if you don't upgrade those as well you might end up with a broken solution because of misaligned type definitions or other things like that.

[2019-11-28 16:44] baywet commented on #1221
thanks for the quick answer!

[2019-11-28 16:48] VelinGeorgiev commented on #1222
Version 2.9 is what comes with a default scaffolded yeoman solution for 1.9.1 and no additional flags specified. That rule is not smart enough to check if you are using different versions of the compiler in your project atm.

@waldekmastykarz, would it be a good idea to enhance it, so it does a detection before it gives you a suggestion?

[2019-11-28 16:51] VelinGeorgiev commented on #1221
My concern is that I do not have a clear path if these modules will always be updated accordingly. What is Microsoft saying about them? Any change you to know if there is official documentation on these modules. For me is more like a grey area.

[2019-11-28 16:54] VelinGeorgiev commented on #1221
Ok, I found something here: https://docs.microsoft.com/en-us/javascript/api/sp-application-base?view=sp-typescript-latest
![image](https://user-images.githubusercontent.com/1049476/69823018-a8876680-11ff-11ea-864f-2a40e53cd288.png)

Maybe we can turn it into enhancement and implement it. Waldek what do you think?

[2019-11-28 23:50] garrytrinder opened #1224 "Extend `spo term get` command to allow retrieval of child terms"
Raised from #1204

We currently do not support the retrieval of child terms when returning a given term, however this functionality is provided in the `Get-PnPTerm` PnP PowerShell cmdlet using the `-IncludeChildTerms` switch.

The `spo term get` command should be extended to include a new option called `--includeChildTerms` which returns the requested term from a given termset and also includes th

[2019-11-29 00:06] garrytrinder opened #1225 "Extend `spo term get` to allow retrieval of a given term by name in a term hierarchy"
Raised from #1204

We currently do not support the searching of terms by name within a term hierarchy, it is only possible to return a non first level term by passing the Id of the term, however this functionality is provided in the `Get-PnPTerm` PnP PowerShell cmdlet using the `-Recursive` switch.

The `spo term get` command should be extended to include a new option called `--recursive` which re

[2019-11-29 00:13] garrytrinder commented on #1204
@janegilring I have raised two new issues, which are referenced, to cover the implementation of the functionality that you have requested. I will therefore close this issue.

If you have any more suggestions, please do submit more 😊 👍🏻

[2019-11-29 00:13] #1204 closed

[2019-11-29 14:37] baywet commented on #1192
Great! do you have a mapping of the values it returns?

[2019-11-29 15:50] baywet commented on #1192
ok so after some poking around your API and guessing here is what I think it returns and the action we should take based on the return information:
- CommonJs, SystemJs => not supported in browser, move on to another file if we can, give up if we don't have more files
- UMD => return direct link to file, but should handle dependencies and global names ideally, would you be able to also expose the

[2019-11-29 16:15] VelinGeorgiev commented on #1222
Thank you for reporting this Vincent @baywet! This is a bug. I created a fix so it should not demand on adding the module anymore.

[2019-11-29 17:46] waldekmastykarz commented on #1188
Have you checked the coverage report produced by v15 @VelinGeorgiev?

[2019-11-29 17:48] waldekmastykarz commented on #1094
I've been thinking about publishing a docker image for the CLI in the past but was stuck in how to tie it in into our release process. Ideally, I'd have the image use the latest version of the CLI but I'm not sure if publishing the CLI to npm and trying to use the just released version of the CLI from an image would work in the same release.

[2019-11-29 17:48] waldekmastykarz commented on #1197
Awesome! Appreciate your help @DaveCalGH 👏

[2019-11-29 17:54] VelinGeorgiev commented on #1188
Yes, I did. One test is failing. We will have to fix it.

[2019-11-29 17:55] waldekmastykarz commented on #1221
We could absolutely implement a rule that checks if the package is being used and if it is, recommend updating it to the suitable version.

[2019-11-29 18:02] waldekmastykarz commented on #1192
Correct, these are the four values supported at the moment. I'm not sure how easy it is to handle dependencies, so let's leave that aside for now and see if it's needed. I could see if I can get the global name for UMD in the API.

[2019-11-29 18:04] baywet commented on #1192
thanks, and to be clear "module" and "script" are gone now?

[2019-11-29 18:07] waldekmastykarz commented on #1188
But the coverage itself is still 100%?

[2019-11-29 18:09] waldekmastykarz commented on #1192
Yes. Now we have the 4 values you mentioned, plus `non-module` if the detected script is not a module.

[2019-11-29 18:14] waldekmastykarz commented on #1222
Good catch @baywet, although a proper solution to it is tricky.

I don't think that this is correct. We're not recommending to use the latest version of available packages. Instead, we bring you to the packages used by the specific version of SPFx. So, suggesting the latest could break you if it wasn't designed for use with the particular version of SPFx. Also, suggesting upgrading to a newer vers

[2019-11-29 18:24] baywet commented on #1222
haha I'm a big advocate of pushing to the latest when possible/not too time consuming even if it means you might break and have to fix a few things (regarding the refactoring comment). But I understand not everyone is like that.
I think I can happily live with something that recommends the corresponding rush stack and package version for the version of spfx I'm upgrading to if no other rush stack

[2019-11-29 18:57] VelinGeorgiev commented on #1222
I am in Waldek's camp on this. I upgrade modules only when I am sure the system will continue to work without interruption. Imagine we suggested a new version, but this breaks a customer solution. That could cause downtime and business losses, no matter how small that change looks for a developer.

I have another issue with the versions of the rush modules. We do not know which one to pick up.
Let

[2019-11-29 19:01] baywet commented on #1222
yeah I think our last to comments are aligned:
If the target spfx version comes with rush stack 2.9 0.7.7 (making up numbers here) let's suggest that unless there's a higher rush stack already in the project (eg 3.3) or a higher package version (0.8.8) in which case we don't suggest anything

[2019-11-29 19:06] VelinGeorgiev commented on #1188
I will try to do the test fix next week and let you know if all is good.

[2019-11-30 05:11] siddharth-vaghasia commented on #1141
@garrytrinder @waldekmastykarz ....wanted to clarify few queries..

1. Do we need to create new command to modify existing command o365group-remove.?
2. Are we looking for a command to delete all non-group connected modern sites or should allow user to pass site names are parameters?
3. Users would have a communication site that intentionally is not connected to office 365 group. should this comma

[2019-11-30 07:10] waldekmastykarz commented on #1222
@VelinGeorgiev will you adjust your PR to reflect our discussion? 🙂

[2019-11-30 07:13] waldekmastykarz commented on #1141
@siddharth-vaghasia this issue is about creating a script sample, like https://github.com/pnp/office365-cli/blob/master/docs/manual/docs/examples/spo/remove-custom-themes.md. If the sample as described above by @garrytrinder requires a new command or updating an existing command, then we should create a separate issue for it. Hope this clarifies it a bit.

[2019-11-30 08:19] VelinGeorgiev commented on #1222
The fix is already making the change as follows:
- When you have different than the suggested module in the SPFx yeoman scaffolded project (2.9 currently) then the report will not include suggestion to add 2.9.

Am I missing something?

[2019-11-30 11:23] waldekmastykarz commented on #1222
Looking at the PR, it seems like we've introduced the `isOptional` option, but which is always set to `false` which already is the default behavior of the DependencyRule, so what's exactly the benefit of this change that seems to be having the same behavior as previously?

[2019-11-30 12:14] garrytrinder commented on #1141
Welcome @siddarth-vaghasia 👋🏼

Thank you for your questions, as @waldekmastykarz has mentioned, this issue is to produce a sample script for our documentation.

The idea behind the sample scripts are to take scripts built by others using PnP PowerShell and replicate the same functionality using CLI commands, in both PowerShell Core & Bash.

This approach helps us identify & document real world sce

[2019-11-30 15:55] anoopt commented on #1094
For now I will submit a PR with a docker container from Node.js and install Office 365 CLI. We can change it to the required one easily in the future.

[2019-11-30 17:23] VelinGeorgiev commented on #1222
It is not optional only when you upgrade to 1.8.x then the package should be added as something new if does not exist.

[2019-11-30 18:01] #1191 closed

[2019-11-30 18:12] waldekmastykarz commented on #1222
You're right. I missed the other reference to the rule and thought that we reference it just in one place. Good call 👍

[2019-12-01 12:34] siddharth-vaghasia commented on #1141
Thanks @waldekmastykarz and @garrytrinder .... Now I understood concept of sample script.... I was able to make same script work with CLI commands... also tested on my dev tenant....please check is this something we are looking for?

`$sparksjoy = "Cat Lovers United", "Extranet", "Hub"
$sites = o365 spo site classic list -o json |ConvertFrom-Json
$sites = $sites | where {  $_.template -eq "SITEPAG

[2019-12-01 13:16] garrytrinder commented on #1141
Looking good @siddharth-vaghasia 👍🏻

[2019-12-01 17:57] siddharth-vaghasia commented on #1141
@garrytrinder ....do you have any suggestions for trying bash on windows machine? Unfortunately,  I don't have linux setup.....

[2019-12-01 18:01] garrytrinder commented on #1141
Git for Windows comes with git bash installed I believe, failing that you could try the new Windows Terminal

[2019-12-01 19:07] siddharth-vaghasia commented on #1141
@garrytrinder ...got it, trying on git bash...!!

[2019-12-02 17:42] siddharth-vaghasia commented on #1141
@garrytrinder @waldekmastykarz ...would you guys be able to help with small issue with bash..I am not able to compare a site title with array value, the issue is not with cli but merely my lack of expertise with bash syntax.

As first step, I have written below to get sites which needs to be deleted.. as we need to ignore site in array, i have to compare site title(from command) with array values

[2019-12-02 18:48] #1205 closed

[2019-12-02 18:49] #1202 closed

[2019-12-02 18:50] #1219 closed

[2019-12-02 18:51] #1218 closed

[2019-12-02 18:52] #1222 closed

[2019-12-03 12:13] siddharth-vaghasia commented on #1141
Please review and let me know if any changes are required..!

[2019-12-05 02:20] DaveCalGH commented on #1197
I'm a bit stuck on the test coverage with this one. I have a branch checked in with the new functionality at [https://github.com/DaveCalGH/office365-cli/tree/issue-1197](https://github.com/DaveCalGH/office365-cli/tree/issue-1197)
I believe my test cases are complete but the coverage report keeps saying line 24 in uncovered but that line is the beginning of the class itself:
`
class SpoSiteRenameCo

[2019-12-05 10:19] VelinGeorgiev commented on #1197
Thanks, @DaveCalGH! I will try to find some time and have a look at your code this week.

[2019-12-05 13:55] eiriksanderfjeld commented on #1188
Hi, i cloned the repo on a fresh windows 10 install (1909) and installed node 12.13.1. I got the same error as @plamber. I removed nyc, and installed 15.0.0-beta.0, which solved the original problem. However three tests (spfx project externalize, spfx project externalize, spfx project externalize) fails.

[2019-12-05 14:21] VelinGeorgiev commented on #1188
@eiriksanderfjeld thanks for reporting that! I will try to apply a fix on there test till the end of the week.

[2019-12-05 18:32] waldekmastykarz opened #1237 "New command: list custom power automate and power apps connectors"
### Usage

`pa connector list [options]`

### Alias

`flow connector list [options]`

### Description

Retrieves information about custom power automate and power apps connectors from the specified environment

### Options

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
`-e, --environment <environment>

[2019-12-06 14:05] plamber opened #1242 "New command: spo report SharePointActivityUserDetail"
### Usage

### Description
Gets details about SharePoint activity by user.

### Options

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `-o, --option <option>` | option                                    |
| `-o, --output [output]` | Output type. `json\|text`. Default `text` |
| `-p, --period [period

[2019-12-06 14:10] plamber opened #1243 "New command: spo report SharePointActivityFileCounts"
### Usage

### Description
Gets the number of unique, licensed users who interacted with files stored on SharePoint sites.

### Options

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `-o, --output [output]` | Output type. `json\|text`. Default `text` |
| `-p, --period [period]` | The length of time

[2019-12-06 14:14] plamber opened #1244 "New command: spo report SharePointActivityUserCounts"
### Usage

### Description
Gets the trend in the number of active users. A user is considered active if he or she has executed a file activity (save, sync, modify, or share) or visited a page within the specified time period.

### Options

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `-o, --output

[2019-12-06 14:16] plamber opened #1245 "New command: spo report SharePointActivityPages"
### Usage

### Description
Gets the number of unique pages visited by users.

### Options

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `-o, --output [output]` | Output type. `json\|text`. Default `text` |
| `-p, --period [period]` | The length of time over which the report is aggregated. Supported

[2019-12-06 14:18] plamber opened #1246 "New command: spo report SharePointSiteUsageDetail"
### Usage

### Description
Gets details about SharePoint site usage.

### Options

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `-o, --option <option>` | option                                    |
| `-o, --output [output]` | Output type. `json\|text`. Default `text` |
| `-p, --period [period]` | T

[2019-12-06 14:19] plamber opened #1247 "New command: spo report SharePointSiteUsageFileCounts"
### Usage

### Description
Get the total number of files across all sites and the number of active files. A file (user or system) is considered active if it has been saved, synced, modified, or shared within the specified time period.

### Options

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `-o,

[2019-12-06 14:22] plamber opened #1248 "New command: spo report SharePointSiteUsageSiteCounts"
### Usage

### Description
Gets the total number of files across all sites and the number of active files. A file (user or system) is considered active if it has been saved, synced, modified, or shared within the specified time period.

### Options

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `-o,

[2019-12-06 14:23] plamber opened #1249 "New command: spo reports SharePointSiteUsageStorage"
### Usage

### Description
Gets the trend of storage allocated and consumed during the reporting period.

### Options

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `-o, --output [output]` | Output type. `json\|text`. Default `text` |
| `-p, --period [period]` | The length of time over which the rep

[2019-12-06 14:26] plamber opened #1250 "New command: spo report SharePointSiteUsagePages"
### Usage

### Description
Gets the number of pages viewed across all sites.

### Options

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `-o, --output [output]` | Output type. `json\|text`. Default `text` |
| `-p, --period [period]` | The length of time over which the report is aggregated. Supported

[2019-12-06 14:28] plamber opened #1251 "New command: spo report OneDriveUsageAccountDetail"
### Usage

### Description
Gets details about OneDrive usage by account.

### Options

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `-o, --option <option>` | option                                    |
| `-o, --output [output]` | Output type. `json\|text`. Default `text` |
| `-p, --period [period]`

[2019-12-06 14:29] plamber opened #1252 "New command: spo report OneDriveUsageAccountCounts"
### Usage

### Description
Gets the trend in the number of active OneDrive for Business sites. Any site on which users viewed, modified, uploaded, downloaded, shared, or synced files is considered an active site.

### Options

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `-o, --output [output]` | O

[2019-12-06 14:30] plamber opened #1253 "New command: spo report OneDriveUsageFileCounts"
### Usage

### Description
Gets the total number of files across all sites and how many are active files. A file is considered active if it has been saved, synced, modified, or shared within the specified time period.

### Options

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `-o, --output [output]

[2019-12-06 14:32] plamber opened #1254 "New command: spo report OneDriveUsageStorage"
### Usage

### Description
Gets the trend on the amount of storage you are using in OneDrive for Business.

### Options

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `-o, --output [output]` | Output type. `json\|text`. Default `text` |
| `-p, --period [period]` | The length of time over which the r

[2019-12-06 14:34] plamber opened #1255 "New command: spo remote OneDriveActivityUserDetail"
### Usage

### Description
Gets details about OneDrive activity by user.

### Options

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `-o, --option <option>` | option                                    |
| `-o, --output [output]` | Output type. `json\|text`. Default `text` |
| `-p, --period [period]`

[2019-12-06 14:35] plamber opened #1256 "New command: spo report OneDriveActivityUserCounts"
### Usage

### Description
Gets the trend in the number of active OneDrive users.

### Options

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `-o, --output [output]` | Output type. `json\|text`. Default `text` |
| `-p, --period [period]` | The length of time over which the report is aggregated. Supp

[2019-12-06 14:36] plamber opened #1257 "New command: spo report OneDriveActivityFileCounts"
### Usage

### Description
Gets the number of unique, licensed users that performed file interactions against any OneDrive account.

### Options

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `-o, --output [output]` | Output type. `json\|text`. Default `text` |
| `-p, --period [period]` | The length

[2019-12-06 18:46] waldekmastykarz commented on #1084
Took a stab at the spec myself 👍

[2019-12-08 12:00] garrytrinder opened #1266 "Bug report: Error thrown when parsing JSON output of `spo sites classic list` command"
### Description

Error is thrown when executing `o365 spo site classic list -o json` command and attempting the parse the output in `bash` and `PowerShell Core`

### Steps to reproduce

Bash: Execute `o365 spo site classic list -o json | jq`
PowerShell Core: `o365 spo site classic list -o json | ConvertFrom-Json`

### Expected result

JSON should be parsed

### Actual result

Error is thrown

bash

[2019-12-09 18:42] #1217 closed

[2019-12-09 18:42] #1215 closed

[2019-12-09 18:43] #1106 closed

[2019-12-09 18:44] #676 closed

[2019-12-10 02:56] DaveCalGH commented on #1197
@VelinGeorgiev I likely wasted way more time on it than necessary but I think I have it under control now. I will do some more verification before sending over a pull request.

[2019-12-10 09:52] VelinGeorgiev commented on #1197
@DaveCalGH I am sorry, I was not able to make it for the last week. I could have saved you some time.

[2019-12-10 15:42] isahackSharePoint opened #1268 "After install npm i -g @pnp/office365-cli on MACOSX zsh: command not found: office365"
Hello Devs,

does anyone have any idea why I can't execute, o365 after install using npm install -g @pnp/office365-cli

![Captura de Pantalla 2019-12-10 a la(s) 12 40 14](https://user-images.githubusercontent.com/58651808/70544176-6be63400-1b4a-11ea-9451-9d18b10494ab.png)

thank you for your help.
Mauro

[2019-12-10 19:28] garrytrinder commented on #1268
Welcome @isahackSharePoint 👋🏻

Thank you for reporting this issue, however it sounds that this is most likely an issue with `npm` rather than with the CLI.

Are you able to run any other global `npm` packages, like `gulp` for example?

Also could you let us know what version of `node` and `npm` you have installed?

[2019-12-10 20:08] isahackSharePoint commented on #1268
@garrytrinder thank for your help.

I don't really know why I can't run o365 or office365,
when use npm I don't have problems, you can view my procedure on:

https://asciinema.org/connect/bbc3f4a6-41c4-4743-965d-877362868542

[2019-12-10 20:17] DaveCalGH commented on #1197
@VelinGeorgiev the sentiment is appreciated. I was able to get the satisfaction of finally getting it to work 😁  Pull request #1269

[2019-12-10 20:40] garrytrinder commented on #1268
How did you install node? Using homebrew or direct install?

Sounds like the npm global prefix is missing in your PATH.

What does executing ‘npm config get prefix‘ return?

[2019-12-10 20:41] isahackSharePoint commented on #1268
maurocastro@iMac-de-Mauro ~ % npm config get prefix
/Users/maurocastro/.npm-global
maurocastro@iMac-de-Mauro ~ %

[2019-12-10 21:13] garrytrinder commented on #1268
Ok, I've only ever installed `node` using `homebrew` which seems to be the much easier and safer way to install packages on `MacOS`.

If you execute `echo $PATH` in your terminal window, what is returned?

[2019-12-10 21:21] isahackSharePoint commented on #1268
@garrytrinder

maurocastro@iMac-de-Mauro ~ % echo $PATH
/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/usr/local/share/dotnet:~/.dotnet/tools:/Library/Frameworks/Mono.framework/Versions/Current/Commands

[2019-12-10 22:06] garrytrinder commented on #1268
Try adding the below line  to the end of your `.zshrc` file

`export PATH=$HOME/.npm-global/bin:$PATH`

[2019-12-11 00:02] isahackSharePoint commented on #1268
@garrytrinder

    https://asciinema.org/a/6IOVIO4cS7AhKikr3V5FaULIk

good news :) now I have more information, but now i can't install @pnp/office365-cli
Maybe can just work on specific version of something?

here is the log.

1 verbose cli [ '/usr/local/bin/node',
1 verbose cli   '/usr/local/bin/npm',
1 verbose cli   'i',
1 verbose cli   '-g',
1 verbose cli   '@pnp/office365' ]
2 info using npm@

[2019-12-11 09:29] garrytrinder commented on #1268
Are you using `npm install @pnp/office365-cli`?

Your error message seems to suggest that you are using `npm install @pnp/office365` instead which is incorrect...

[2019-12-11 09:56] VelinGeorgiev commented on #1197
Thank you very much @DaveCalGH! We'll review shortly.

[2019-12-11 13:36] isahackSharePoint commented on #1268
YEEEEEEEEEIIIIIII!!!!

My last fault.... it's so embarrassing...
it is work now!
Thank you very much @garrytrinder  you are awesome!

  ~ npm install @pnp/office365-cli

Thank you for using core-js ( https://github.com/zloirock/core-js ) for polyfilling JavaScript standard library!

The project needs your help! Please consider supporting of core-js on Open Collective or Patreon:

Also, the author

[2019-12-11 13:36] #1268 closed

[2019-12-11 15:03] garrytrinder commented on #1268
Great! 🚀

Glad that we have been able to unblock you @isahackSharePoint, we hope you enjoy using the CLI.

If you have any suggestions or ideas, we would love to hear from you, raising an issue is the best way to start a discussion 👍🏻

[2019-12-11 21:28] pschaeflein opened #1270 "New command: aad appRoleAssignment list"
### Usage

### Description

The existing command `aad oauth2grant list` will return the grants for delegated permissions. For app-only permissions, OAuth2 grants are not used. This command will return the appRoleAssignments that represent the app-only permissions.

The command should query the related resourceId, retrieving the human-consumable descriptions of the appRoles.

### Options

| Option

[2019-12-12 16:04] siddharth-vaghasia commented on #1139
@waldekmastykarz @garrytrinder ... Let me work on this until we have the resolution to #1236 or #1266

[2019-12-12 18:38] garrytrinder commented on #1139
All yours @siddharth-vaghasia thank you for your help 👍🏻

[2019-12-12 18:50] waldekmastykarz opened #1271 "Update code coverage testing"
Currently, we're using nyc@13 for code coverage. Unfortunately, it doesn't work with Node@12 LTS, which requires newer versions of nyc. The problem with upgrading nyc is that newer versions show decreased coverage on the same code base that shows 100% in nyc@13 and there are a number of other caveats related to upgrading as well. Since Node@12 is now LTS, we need to find a way to support contribut

[2019-12-12 18:55] waldekmastykarz opened #1272 "New command: Get health status of the different services in Office 365"
### Usage

`service status list [options]`

### Description

Gets health status of the different services in Office 365

### Options

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `-o, --output [output]` | Output type. `json\|text`. Default `text` |
| `--verbose`             | Runs command with verb

[2019-12-13 09:24] douglasromao commented on #1272
@waldekmastykarz I really would like to help, but the last time that I tried, I had some issues putting to work :( can I get this one to test/learn the contribution path?

[2019-12-13 10:27] VelinGeorgiev commented on #1251
I left the same comment in the PR, but here is again:

@waldek should we move this to its own separate section specific to `onedrive`?
I see this command more like `onedrive report activityfilecounts `. We did not have any onedrive commands till this point, maybe this is from where the confusion comes.

@plamber , I am sorry for the delay that question might cause, but we have to sort where logica

[2019-12-13 10:29] plamber commented on #1251
@VelinGeorgiev, @waldekmastykarz: indeed, I had the same thought initially. I was about to ask you the same. But once I saw that everything else is residing in SPO, I moved it there.

My worry was that the reports will be the only commands lying under OneDrive

[2019-12-13 10:37] VelinGeorgiev commented on #1251
No worries, that is perfectly fine with me. The OneDrive APIs will be something we can explore in the future, and they definitely deserve its own namespace in the CLI. They are in my todo list as well, my problem is that I have pretty long todo list.

[2019-12-13 10:41] plamber commented on #1251
@VelinGeorgiev: you can rely also on me if you want to tackle your long todo list :)

[2019-12-13 12:35] garrytrinder commented on #1251
Good catch @plamber & @VelinGeorgiev

I agree with @VelinGeorgiev that these reports are put under `onedrive` namespace, gives us a place to add more OneDrive specific commands in the future.

[2019-12-13 12:39] plamber commented on #1251
@VelinGeorgiev: I am fine with this. Do you want me to do all changes? Or are you going to make these while you are checking the code?

[2019-12-13 18:17] waldekmastykarz commented on #1251
+1 for `onedrive`. Good catch @VelinGeorgiev

[2019-12-14 09:46] VelinGeorgiev commented on #1251
@plamber, would you be able to change onedrive commands? Lets rename and move the report commands under folder:

-- onedrive
    -- reports

[2019-12-14 11:04] garrytrinder commented on #1271
If we can remove an external dependency from the project, then this is definitely something to consider.

Changing to use native code coverage means that when the Node versions increase we “should” have less issues.

Short term pain for long term stability.

[2019-12-14 12:37] plamber commented on #1251
Will do it by next week

[2019-12-14 21:43] VelinGeorgiev commented on #1272
@douglasromao, feel free to get this one.

[2019-12-14 23:11] VelinGeorgiev commented on #1237
Thanks, @waldekmastykarz! This will be live with release 2.4.

[2019-12-14 23:11] #1237 closed

[2019-12-14 23:13] VelinGeorgiev commented on #1209
Thanks, Patrick @plamber! This will be live with release 2.4.

[2019-12-14 23:13] #1209 closed

[2019-12-14 23:14] VelinGeorgiev commented on #1210
Thanks, Patrick @plamber! This will be live with release 2.4.

[2019-12-14 23:14] #1210 closed

[2019-12-14 23:15] VelinGeorgiev commented on #1211
Thanks, Patrick @plamber! This will be live with release 2.4.

[2019-12-14 23:15] #1211 closed

[2019-12-14 23:15] VelinGeorgiev commented on #1213
Thanks, Patrick @plamber! This will be live with release 2.4.

[2019-12-14 23:15] #1213 closed

[2019-12-14 23:16] VelinGeorgiev commented on #1212
Thanks, Patrick @plamber! This will be live with release 2.4.

[2019-12-14 23:16] #1212 closed

[2019-12-14 23:17] VelinGeorgiev commented on #1214
Thanks, Patrick @plamber! This will be live with release 2.4.

[2019-12-14 23:17] #1214 closed

[2019-12-14 23:18] VelinGeorgiev commented on #1216
Thanks, Patrick @plamber! This will be live with release 2.4.

[2019-12-14 23:18] #1216 closed

[2019-12-14 23:42] VelinGeorgiev commented on #1270
Hey Paul @pschaeflein, this is a great suggestion. I can see it in action when doing tenant audits.

Are you aware of a REST API (something in MS Graph) or PS Cmdlet we can have a look as a reference? The document you have shared has an overview, but I could not find any links to a specific API or something we can use to get the APIs docs.

I also tried to scan the Microsoft Graph docs very quicky

[2019-12-15 10:40] garrytrinder commented on #1272
Feel free to reach out if you need any assistance @douglasramao 👍🏻

[2019-12-15 18:27] waldekmastykarz commented on #1270
Very nice suggestion @pschaeflein 👏

[2019-12-15 18:54] waldekmastykarz commented on #1270
You can get app role assignments by calling `GET https://graph.windows.net/myorganization/servicePrincipals/030d1fe5-e09d-4ffb-abdc-d88d5305fd99/appRoleAssignments?api-version=1.6`. So far however, I haven't been enable to figure out where you can get the assigned scopes.

[2019-12-15 19:21] waldekmastykarz commented on #1270
Once we have this command, we could consider adding another command that would return both oauth2grants and appRoleAssignments, the same way you get in the Azure portal so that you don't need to know the intricacies of the AAD Graph if all you're interested in are the permissions assigned to your service principals.

[2019-12-16 12:54] pschaeflein commented on #1270
I do have notes on how to do this using Microsoft Graph instead of the AAD Graph that Waldek shows. Same idea, just different endpoints. And if the app was created as multi-tenant, then get interesting.

I'm happy to work on this. I created the issue to see if there was interest.

[2019-12-16 18:24] waldekmastykarz commented on #1271
I've done some additional research around using c8 for coverage testing. It seems like we could get it to work with a couple of minor fixes.

First, we'd need to change the transpilation target from es5 to es2015. There are some weird constructs in es5 that c8 and tests can't properly handle and we'd end up with uncovered branches. Newer version of es means that theoretically folks using older Nod

[2019-12-16 18:27] waldekmastykarz commented on #1270
@pschaeflein aren't the Graph endpoints for this still in beta? Ideally, we should avoid working with beta endpoints in case they change without any upfront notice. When things get stable, we can always port them over to the Graph.

What's special about multi-tenant apps? I believe the app I used in my research was multi-tenant and I haven't found anything but perhaps missed something 😉

I'd love

[2019-12-16 20:52] pschaeflein commented on #1270
The twist in multi-tenant is that the appId that the developer uses (and is registered in the developer tenant) is not used to get the service principal. You have to do something like `servicePrincipals?$filter=appid eq '[appId]'`. This may not be an issue if piped from `aad sp get` - but haven't dug into it yet.

You're right about servicePrincipals being in /beta. Not sure why I thought that wen

[2019-12-17 18:22] waldekmastykarz commented on #1270
Right, so this is how I was getting to the service principal in my tests, which is why I haven't noticed anyting unusual. The good thing is that, as you noticed, we have all the code available already in `aad sp get` which we can reuse here. 💪

[2019-12-17 18:56] waldekmastykarz commented on #1271
If you're okay with it, I can create a PR with the necessary changes so that we can go through it and see if we're ok with the changes going forward.

[2019-12-17 21:53] VelinGeorgiev commented on #1271
I am OK with it. I can help up the coverage to 100%