[2020-09-12 03:19] mpowney commented on #1225
I'm keen to help out with this one if no one's working on it already?

[2020-09-12 03:49] sprider commented on #1766
@waldekmastykarz Can I used m365 for this sample?

[2020-09-12 04:39] mpowney commented on #1224
In addition to #1225 I can pick this one up as well

[2020-09-12 08:01] garrytrinder commented on #1804
I added the `name` options as they provide a much more user friendly way of using the command.

You are right to point out that other commands don't have these options currently, but this is something that we want to change going forwards,

We will be creating issues to extend other commands to make the CLI more user friendly.

[2020-09-12 08:02] garrytrinder commented on #1225
All yours @mpowney thanks for the help 👏🏻

[2020-09-12 08:05] garrytrinder commented on #1224
Absolutely ❤️

Thanks for the help @mpowney

It's all yours 👍🏻

[2020-09-12 09:11] appieschot commented on #1796
Oh thats my bad! I never ran the tests, those are not updated yet. Could you skip the test for now so after `npm run build` just to the `npm link`. The tests are failing because I have changed the logic of saving with the `--asFile` parameter. I will go through the tests asap, but the code it self is correct so you can ignore the test for the first run :). Sorry for the inconvenience!

[2020-09-12 09:30] garrytrinder commented on #1703
Source: https://docs.github.com/en/actions/creating-actions/publishing-actions-in-github-marketplace#about-publishing-actions

Unfortunately, the name property in the `action.yml` files contains `Office 365 CLI`

[code]

This is what is used in the marketplace

![image](https://user-images.githubusercontent.com/11563347/92992381-5b505900-f4e2-11ea-9bd8-76ceedcafea0.png)

Whilst we could change the

[2020-09-12 11:03] #1743 closed

[2020-09-12 11:03] #1789 closed

[2020-09-12 11:03] #1694 closed

[2020-09-12 11:03] #1698 closed

[2020-09-12 11:03] #1723 closed

[2020-09-12 11:06] waldekmastykarz commented on #1723
We have just released a preview version that fixes this issue. Once again thank you for reporting @MarkyDeParky 👏

[2020-09-12 11:07] waldekmastykarz commented on #1698
We have just release a preview version that fixes this issue. Once again thank you for reporting @WinnieThePig 👏

[2020-09-12 12:23] waldekmastykarz commented on #1703
Good find! I guess that settles it then. Let's release a new set of actions tied to v3 using the new name.

[2020-09-12 12:24] waldekmastykarz commented on #1224
Woohoo! Great to have you back @mpowney 👏

[2020-09-12 12:27] waldekmastykarz commented on #1807
Awesome! Appreciate your help 👍

[2020-09-12 13:03] garrytrinder commented on #1703
Should we create the new repos with a more consistent name?

`pnp/cli-microsoft365-action-login`

I will update the existing action readme with a deprecation message and point to the new actions when we have the new actions on the marketplace.

[2020-09-12 15:22] garrytrinder commented on #1703
cc/ @andrewconnell for awareness that the new version will mean a change in the action name.

[2020-09-12 20:40] tobyatgithub commented on #1796
Hi @appieschot ! I was able to get the package installed in docker.
But when I'm using the same script that worked before, it gives this login error.
Shall I add a `filename` attribute to the  `args` when I call `client = O365Client(args)`?

[code]

[2020-09-13 08:47] garrytrinder commented on #1703
Just to clarify, below is an approach for updating the `login` action.

- Create new repo `pnp/cli-microsoft-365-action-login`
- Push current master branch from `pnp/cli-action-login` to `pnp/cli-microsoft-365-action-login`, so this keeps the commit history
- Raise PR to update master branch on `pnp/cli-microsoft-365-action-login` updating all references of `Office 365 CLI` to `CLI for Microsoft 3

[2020-09-13 09:00] waldekmastykarz commented on #1703
Why use v3 for the action? In the actions we have published currently we used v1 for actions using CLI v2. Haven't we agreed to version actions independently of the CLI?

[2020-09-13 09:08] garrytrinder commented on #1703
I was thinking along the lines of matching the current major version of the CLI, but you are correct in that it was agreed to version the actions independently.

Happy to move to `2.0.0`, although now I think about it more there is nothing stopping us from using `1.0.0` as I can remove the existing tag and recreate it before publishing to the marketplace.

Do we want to start a new action from `v2

[2020-09-13 20:40] yeshwanthjagannath commented on #1782
@rabwill - I would like to contribute towards this and @sprider will guide/mentor me as i am a first time contributor . Kindly, assign this to me.

[2020-09-14 03:26] rabwill commented on #1782
Hi @yeshwanthjagannath all yours! We don't assign anyone to an issue before their first contribution is in but you are more than welcome to pick this up 😊 . Thank you!

[2020-09-14 06:03] romanatsogeti commented on #1578
@garrytrinder I got the basic structure of the command and looking at validation and main execution now.  Just curious if there are techniques to better capture the CSOM calls in the PS module that we can capture.  Through dotPeek i can see that client side CSOM method is `Microsoft.Online.SharePoint.TenantAdministration.Tenant.SwapSiteWithSmartGestureOptionForce()`.  Is the team regularly drops d

[2020-09-14 06:18] garrytrinder commented on #1578
Good work @romanatsogeti 👍🏻

Thanks for reaching out.

Yes, where there is no equivalent REST API endpoint, we revert to implementing  CSOM calls, passing XML payloads to `client.svc` endpoint.

Fiddler is great for inspecting the payloads sent when executing the CSOM commands which can then be recreated.

Below is an example in the CLI showing how you can implement a ClientSvc request.

https://g

[2020-09-14 07:05] waldekmastykarz commented on #1703
Let's start with v1. That way, in case there are breaking changes in the action, we can communicate them accordingly. Even though we might update to a newer version of the CLI in the future, as long as the changes aren't affecting actions, actions' users would not need to be concerned.

[2020-09-14 11:08] nanddeepn commented on #1804
Hi @garrytrinder

I started with a generic method to get the teamId from teamName

[code]

But it is getting failrly complicated with nested async calls for channelName and tabName.
Any suggestions?

[2020-09-14 13:11] nanddeepn commented on #1807
Hi @waldekmastykarz
This issue is partially fixed in PR https://github.com/pnp/cli-microsoft365/pull/1781
Once #1781 is approved, I will pick this up.

[2020-09-14 13:18] arjunumenon commented on #1659
Hey @appieschot / @waldekmastykarz  - I am trying to implement the command for getting the file sharing information. While doing that, , I had checked the fiddler trace for the CSOM equivalent and I see that CSOM method is achieving the same by passing payloads to clients.svc using the method `GetObjectSharingSettings`. Can you advise whether this is the way we want to achieve this?

![image](http

[2020-09-14 13:37] yeshwanthjagannath commented on #1782
Hi @rabwill - Thank you, i have registered for the first time contribution session today, so should have that covered :)

[2020-09-14 17:59] waldekmastykarz commented on #1804
Why should the calls for channelName and tabName be nested? Couldn't they be standalone methods assuming teamId and just looking up channel/tab name?

[2020-09-14 18:22] nanddeepn commented on #1804
Hi @waldekmastykarz
The standalone methods to get id from teamName, channelName or tabName will be asynchronous, like the one I posted earlier `getTeamIdFromTeamName`.

Is there any mechanism for us like `await`?
So, we can get the id of team, channel and tab and then make the actual call to get the tab url.
Any pointers are appreciated. Thanks

[2020-09-14 20:10] garrytrinder commented on #1703
Looking into this further, we can change the name and description of the action in the metadata, which is pushed to the marketplace on publish, found this in the repo settings.

The docs refer to name in the metadata only and not the name of the workflow action which comes from a combination of the repo name and the tag versions.

I've raised a PR with changes required for the `Login` action, once

[2020-09-15 05:00] dips365 commented on #1604
@rabwill I am super busy at the moment. I am not able to give contribution on this command till 15 days. So i am Un-assign my self so someone can take this up and move it forward. If this will open when i am available then i can take it up.

[2020-09-15 05:34] garrytrinder commented on #1604
Thank you for the update @dips365 and letting us know that this can be picked up by another contributor. Much appreciated, thank you 👍🏻

[2020-09-15 05:36] dips365 commented on #1690
@garrytrinder  I stuck to write up test cases for this command.
Can you guide me how to write test cases for command which includes multiple request ?
In this case, I send request to get group id and pass it to another request to add user to group by Id which we get from last request.

[2020-09-15 06:55] waldekmastykarz commented on #1804
Right now we're not using `await/async` because our test coverage tool doesn't support it yet. This will likely change in the future, but for now you could use promise chaining, like:

[code]

Makes sense?

[2020-09-15 06:56] waldekmastykarz commented on #1703
Nice! 👏

[2020-09-15 09:30] arjunumenon commented on #1742
Hello @waldekmastykarz  / @rabwill  - I had done the implementation of the command and it will be great if you can confirm on the list of fields which needs to be retrieved in the Text Format.
Following are the fields which we are retrieving currently.

- Workload
- Status
- StatusDisplayName
- StatusTime
- WorkloadDisplayName

![image](https://user-images.githubusercontent.com/10369964/93193151-1

[2020-09-15 10:03] waldekmastykarz commented on #1742
I'd vote for `WorkloadDisplayName`, `StatusDisplayName` and `StatusTime` (in this order)

[2020-09-15 11:26] arjunumenon commented on #1742
Thanks @waldekmastykarz for the direction. Quick question before we finalize on the same. Do you think we need to add `workload` also in the report since that would be helpful for end users if they want to filter based on a particular workload. Just thinking out loud from the usability point of view. Your thoughts please. Or you think it is not quite needed?

[2020-09-15 11:47] #1741 closed

[2020-09-15 11:47] #1577 closed

[2020-09-15 12:01] waldekmastykarz commented on #1742
Would it be possible to allow filtering by `WorkloadDisplayName`?

[2020-09-15 12:31] pschaeflein commented on #1604
I'll do it. Later this week/weekend.

[2020-09-15 14:08] arjunumenon commented on #1742
No. It seems call does not support filter for `WorkloadDisplayName`. Apparently it supports only `Workload`
![image](https://user-images.githubusercontent.com/10369964/93221039-e784a980-f78a-11ea-9d72-9e97c365a244.png)

[2020-09-15 20:04] garrytrinder commented on #1690
Hey @dips365 if your command logic is complete and you are just stuck on completing the tests, you can create a draft pull request, that will let us review your code and help guide you in how to complete the required tests.

[2020-09-15 20:06] garrytrinder commented on #1604
Thanks for the help @pschaeflein 👏 I've assigned to the issue to you.

[2020-09-15 21:05] garrytrinder commented on #1703
All three actions have now been renamed. all use the new package, `@pnp/cli-microsoft365` and have been published to the marketplace.

https://github.com/marketplace/actions/cli-for-microsoft-365-login
https://github.com/marketplace/actions/cli-for-microsoft-365-deploy
https://github.com/marketplace/actions/cli-for-microsoft-365-run-script

[2020-09-15 21:29] andrewconnell commented on #1703
So... that means with the rename, there should be no impact on existing uses, correct? Because it's not an action rename, it's just a _packaging or marketing_ rename in reality... right?

[2020-09-15 21:33] garrytrinder commented on #1703
Yep, exactly that, all existing workflows will still function as they do now.

[2020-09-16 06:06] dips365 commented on #1690
Thank you so much @garrytrinder . I will do that

[2020-09-16 07:15] waldekmastykarz commented on #1561
Settings as available for picking due to lack of response

[2020-09-16 07:16] dips365 commented on #1690
@garrytrinder Created draft pull request.

[2020-09-16 07:18] waldekmastykarz commented on #1575
Hey @appieschot, are you still working on it?

[2020-09-16 07:19] waldekmastykarz commented on #1602
Hey @hugoabernier, are you still working on this?

[2020-09-16 07:20] waldekmastykarz commented on #1492
Hey @ktskumar, are you still working on this?

[2020-09-16 07:21] waldekmastykarz commented on #1345
Hey @siddharth-vaghasia, are you still working on this?

[2020-09-16 07:22] waldekmastykarz commented on #1764
Status update: command code is code-complete. Next step tests

[2020-09-16 07:22] waldekmastykarz commented on #1765
Status update: command code is code-complete. Next step tests

[2020-09-16 07:23] waldekmastykarz commented on #1771
Hey @leeford, are you still working on this? Can we help with anything? 🙂

[2020-09-16 07:57] #1703 closed

[2020-09-16 13:19] arjunumenon commented on #1561
Hey @waldekmastykarz  - Do you mind if I take this enhancement up? I have couple of PR's in pipeline and hence I can squeeze myself for working on this if you are fine with this.

[2020-09-16 17:35] waldekmastykarz commented on #1742
Thanks for looking into this. No easy answer! How about for now we stick with the consistent approach and show `WorkloadDisplayName` in the output and include a remark in the help how to get the workload?

[2020-09-16 17:52] waldekmastykarz commented on #1561
Appreciate your help @arjunumenon 👏

[2020-09-17 02:12] arjunumenon commented on #1742
Sure @waldekmastykarz . Makes sense.. 👍 - We will go ahead with that suggestion and will implement the same.

[2020-09-17 07:53] leeford commented on #1771
Hey @waldekmastykarz. Apologies I haven't gotten to it yet. Everything has been a bit full on. Hoping to get to it in the next few days - if that is OK?

[2020-09-17 11:41] arjunumenon commented on #1742
@waldekmastykarz  - I have initiated a Pull Request for this issue.  Just a quick thing, I have implemented the `tenantid `retrieval for this command using the new `Util `method as per [This Conversation ](https://github.com/pnp/cli-microsoft365/pull/1776#discussion_r488608845). Thought I would give you a heads-up on that.

[2020-09-17 17:31] waldekmastykarz commented on #1688
I can confirm that issue is resolved in the branch related to removing Vorpal #1737. When we ship this version in preview beginning of October, we can double check that this issue is addressed as expected and close if ok.

[2020-09-17 17:34] waldekmastykarz commented on #1552
We're working on removing Vorpal which gives us more control about CLI's output. Once we've closed #1737, we'll be able to look into this issue.

[2020-09-17 18:27] siddharth-vaghasia commented on #1345
@waldekmastykarz  - sorry, I was on kind of break for some personal reasons...would need another 10 days or so to start....is that okay ?

[2020-09-18 03:33] rabwill opened #1819 "Enhancement: Create eslint rule to check if the command's class name matches the naming convention"
Checks if the command’s class name matches the naming convention.
Rule should check if the class name is a combination of `Service` +`CommandName` + *Command*  which is basically the name property of the command.

e.g. A command for installing app in teams

**Service** : Teams
**CommandName**: App Install

**Name property**: TEAMS_APP_INSTALL.

And the class name should be TeamsAppInstallCommand

[2020-09-18 05:24] arjunumenon opened #1820 "Typo / Wrong telemetry property in the Code base for 'tenant status list' - Not a Bug - Wrong parameter / Typo"
Hello,

When I was going through the code base for the command for `tenant status list` There is a wrong parameter given for the `getTelemetryProperties` method (Line No 27.)

![image](https://user-images.githubusercontent.com/10369964/93559092-87655180-f99c-11ea-8db9-9d080c3d06b7.png)

It should have been given as
`telemetryProps.workload= args.options.workload;` rather than  `telemetryProps.shar

[2020-09-18 06:45] waldekmastykarz commented on #1820
Good catch and appreciate your help! 👏

[2020-09-18 07:42] arjunumenon commented on #1820
Sure @waldekmastykarz . Pleasure to help always.. Shouldn't have fallen through the cracks in first place.. My bad...  😞.

Another question if I may;  In these scenarios, say any issue / enhancement in the code base, should we use the blank template or should we use the **Bug Report** template. I wasn't sure what I did was correct. So wanted to confirm on that so that next time, I can follow that.

[2020-09-18 08:45] waldekmastykarz commented on #1737
I also noticed, that `assert.equal` and `assert.notEqual` have been deprecated in favor of `assert.strictEqual` and `assert.notStrictEqual`. I'll replace all calls in this branch as well

[2020-09-18 09:00] waldekmastykarz opened #1821 "Enhancement: remove the CommandInstance construct"
Related to #1737

After removing dependency on Vorpal, we'll be able to further refactor the command code and remove the `CommandInstance` construct. It will help us simplify code and tests and remove obsolete code.

If I understood it correctly, Vorpal requires `CommandInstance` to store information about the current command in its execution context. Since out setup is easier and the context does

[2020-09-18 11:49] MaxTranced commented on #1796
Will the next package release include this fix?

[2020-09-18 12:54] waldekmastykarz commented on #1771
Totally! Thanks for the update 👍

[2020-09-18 12:57] waldekmastykarz commented on #1345
Perfectly fine! No pressure. Appreciate the update 👍

[2020-09-18 12:59] waldekmastykarz commented on #1820
Not your fault, we missed it during the review as well. Seriously, no harm done.

As for the template, what you did was perfect. In fact, we could think of a template for an enhancement although they vary a lot, which is why we haven't done it yet.

[2020-09-18 12:59] waldekmastykarz commented on #1796
As soon as @appieschot submits a PR, we'll try to get it in as quickly as possible.

[2020-09-18 14:08] #1764 closed

[2020-09-18 14:08] #1765 closed

[2020-09-18 22:21] sprider commented on #1766
As suggested by Garry in the pull request, I have updated the title and description.

[2020-09-19 16:01] waldekmastykarz opened #1823 "Enhancement: refactor processing command output"
We should refactor how we process command's output so that it's possible to apply JMESPath queries in all output modes, rather than only in JSON mode. That way we can introduce additional output modes like table, csv, tsv etc. allowing users to select what information they want to include in the output.

This refactor will require `list` command to expose an array of properties that should be incl

[2020-09-19 19:48] garrytrinder commented on #1772
Following the closure of https://github.com/microsoftgraph/microsoft-graph-docs/pull/9859 the permission required for this endpoint is now `CallRecords.Read.All`.

[2020-09-19 19:50] garrytrinder commented on #1771
Following the closure of https://github.com/microsoftgraph/microsoft-graph-docs/pull/9859 the permission required for this endpoint is now `CallRecords.Read.All`.

[2020-09-19 20:28] aakashbhardwaj619 opened #1824 "Bug report: 'Using your own Azure AD identity' docs show incorrect `export` command"
### Description

The User Guide's [Using your own Azure AD identity](https://pnp.github.io/cli-microsoft365/user-guide/using-own-identity/#create-environment-variables) doc shows the command to set `CLIMICROSOFT365_AADAPPID` environment variable on Linux or macOS as `m365 export CLIMICROSOFT365_AADAPPID=506af689-32aa-46c8-afb5-972ebf9d218a`. However, this is not correct and the `m365` alias needs

[2020-09-20 08:35] garrytrinder commented on #1737
Nice, makes for much more robust the tests 👍🏻

[2020-09-20 08:40] garrytrinder commented on #1824
Good catch @aakashbhardwaj619 👍🏻

Looks like this update crept in when we added the `m365` alias to all command examples.

[2020-09-20 10:00] waldekmastykarz commented on #1737
Interestingly, refactoring `equal` to `strictEqual` I noticed a few errors in our tests, so definitely a change for the better 👍

[2020-09-20 10:02] waldekmastykarz commented on #1824
Good catch @aakashbhardwaj619, appreciate your help 👏

[2020-09-21 07:10] waldekmastykarz commented on #1772
I'll add them to our AAD app after the PR is approved. Until then, during dev, @aakashbhardwaj619 you can use a custom AAD app.

[2020-09-21 07:11] waldekmastykarz commented on #1771
I'll add the permission to our AAD app after the PR is approved. Until then, in dev, you can use a custom AAD app with this permission @leeford

[2020-09-21 07:29] arjunumenon commented on #1820
Totally make sense. The enhancement / changes in the code base kind of request will be too specific and might not be able to create a framework template.
A wild suggestion which I can think of is, to have  a template which will just give a pre-defined Title so that we can get an overall stats of those kind of requests. May be in distant future if we start analyzing the type of requests for an insi

[2020-09-22 05:06] tobyatgithub commented on #1796
Hi @waldekmastykarz @appieschot ! Any news on this fix? Thank you!

[2020-09-22 05:22] appieschot commented on #1796
Hi @tobyatgithub i have a few days off in the run up to ignite, hope to work on it at the end of the week based on your replies. Sorry for the delay! Been busy remodeling our home.

[2020-09-22 07:06] waldekmastykarz commented on #1820
Appreciate your thoughts ❤️

[2020-09-22 07:57] #1742 closed

[2020-09-22 07:57] #1807 closed

[2020-09-22 07:57] #1824 closed

[2020-09-22 07:59] #1820 closed

[2020-09-22 12:44] BassemNKhalil opened #1827 "[QUESTION] Difference between m365 flow run get and Run history CSV export in Power Automate"
The results of running "m365 flow run get" on a specific flow are not the same as downloading the CSV file for the runs from Power Automate

### **Steps to reproduce**
**From M365 CLI**
1. m365 login
1. m365 flow environment list (this returns all environments, use the name from the default one in the next step)
1. m365 flow list -e <env.name.from.previous.step> (this returns all flows, use the na

[2020-09-23 03:49] klubis opened #1828 "Enhancement: extend 'flow run get' with approver information"
### Description

Power Automate portal allows to get all flow  runs as JSON response that includes approver information along with other properties. However, m365 CLI Flow Run Get returns only subset of the flow historical data.

### Steps to reproduce

Open Power Automate portal -> My Flows -> Choose Flow -> Click on All Runs -> Get .CSV file

### Expected result

    "body": {
        "responses

[2020-09-23 06:10] waldekmastykarz commented on #1827
Thanks for the detailed description. We'll have a look at it asap

[2020-09-23 06:15] waldekmastykarz commented on #1828
Thank you for reaching out to us. I wouldn't say this is a bug. There is a chance there is a difference between what information is exposed in CSV and what's available when calling the API. That said, we should have a look at what's in the API and if there is a way for us to get this information.

[2020-09-23 06:44] appieschot commented on #1659
@arjunumenon I am not quite sure if things have been changed recently. We have been using the REST api internally, but I haven't heard anything about our code breaking. Initially I had a look at [PnPJS](https://pnp.github.io/pnpjs/v1/sp/docs/sharing/#checksharingpermissions) where they seem to got it working, but I also find that there has been changes to the sharing stuff [REST API Explorer](http

[2020-09-23 06:46] appieschot commented on #1575
Removed myself and opened up for others to pick up.

[2020-09-23 07:53] waldekmastykarz opened #1829 "Enhancement: allow configuring ACS app-only auth in SPO"
Extend the `spo tenant settings set` command with the `DisableCustomAppAuthentication true|false` option to allow admins to configure if ACS-based app-only auth should be enabled or not.

For the implementation see the `Set-SPOTenant` cmdlet

[2020-09-23 09:37] waldekmastykarz commented on #1821
On a related note, we can also simplify validation. Rather than returning a function or `undefined`, we can implement validation directly in the `validate` method and by default have the base `Command` class return `true` which means that validation passed. I can include this change in the same refactoring.

[2020-09-23 10:23] arjunumenon commented on #1659
Thanks @appieschot  for the lead on that. Not sure how PnPJS is handling that. Have not tried my hands on that specific case before.

Based on your suggestion, I will go ahead by passing payload to client.svc. Thanks for the direction on the command which I can refer.

Another question if I may. Do you think the specs need to be updated since we will not be going ahead with that REST API mentioned

[2020-09-23 10:33] appieschot commented on #1659
@arjunumenon done!

[2020-09-23 14:19] ashwintastic opened #1830 "SharePoint file upload API doesn't return where file location."
Hi
I'm using sharepoint API for uploading files, but the API doesn't return the file location. I want the file location so that when a user clicks  on the link in my web app it will take him to sharepoint portal.

API: `base_path + "/sites/" + site_name + "/_api/web/GetFolderByServerRelativeUrl('" + doc_library + "')/Files/add(url='a.txt',overwrite=true)", data="")`

[2020-09-23 18:03] waldekmastykarz opened #1832 "Enhancement: add Codespaces setup"
Now that Codespaces are becoming available to more people, we should consider including a setup with all prerequisites like Node@12 and MkDocs so that developers can contribute more easily.

[2020-09-24 02:54] klubis commented on #1828
Greatly appreciated your help. Thanks.

[2020-09-24 06:48] waldekmastykarz commented on #1830
Is this a generic API issue or an issue that you're experiencing with CLI for Microsoft 365?

[2020-09-24 07:11] #1740 closed

[2020-09-24 07:25] waldekmastykarz commented on #1827
Ok, so it seems like the CSV format uses a different API which we could use as well:

[code]

What if extended the `flow run list` command with an additional option like `--detailed` or `--export` to get data from the CSV export rather than the API? Would that work? Would it be clear?

[2020-09-24 07:33] ashwintastic commented on #1830
It's a generic issue. Ideally, a file -upload API should also send where the file has been stored.

[2020-09-24 07:59] BassemNKhalil commented on #1827
I think it comes down to whether the new API endpoint returns an expanded version of the other one or a different scheme altogether - expanded can overload the same command but a different scheme should warrant a new command.

Thanks a bunch, you’ve done a lot in a short period of time and on Ignite week none the less.

Side note: my question was regarding flow run get and not flow run list but I

[2020-09-24 10:13] waldekmastykarz commented on #1830
In that case, I'd suggest you post the question in the [sp-dev-docs](https://github.com/SharePoint/sp-dev-docs/issues) repo which is intended to handle generic SharePoint development questions.

[2020-09-24 10:13] #1830 closed

[2020-09-24 10:16] waldekmastykarz commented on #1827
The CSV export contains an overview of all runs, so it's actually an equivalent of `flow run list` rather than `flow run get`. As far as I can tell, there is no way to get details for just one run and you get them for all runs in a single call.

From the functional point of view it's really the same as `flow run list`: it returns information about flow runs. Since we can't just replace the current

[2020-09-24 13:27] BassemNKhalil commented on #1827
Gotcha! Makes sense to extend `flow run list` rather than `flow run get` given how the API works

If `report` is more consistent we can go with that but both are fine options for me.

[2020-09-24 16:25] fuentej opened #1833 "Bug report: Unable to login to GCC High Tenant"
Description

Trying to login to a GCC high tenant I get an error about permissions

Request Id: 9cf59280-cfe3-4d8e-b28f-db8ad6ffb500
Correlation Id: 59911e65-ab8a-472a-a491-884179ee3cd2
Timestamp: 2020-09-24T16:17:30Z
Message: AADSTS65006: Resource '797f4846-ba00-4fd7-ba43-dac1f8f63013' had no entitlements matching required permissions configured on the required resource access for client '31359c7

[2020-09-25 11:44] arjunumenon commented on #1575
Hey @garrytrinder  / @appieschot  - I can take this up since I had completed `SET `and `REMOVE `of the Knowledgehub (Issue #1576 #1577). Do you mind assigning this if you are fine with that.

Another quick thing, I guess there is a minor typo in the specs. I am assuming,  command is supposed to be **`spo knowledgehub get`** rather than `spo knowledegehub get`. If you agree to that, can you also up

[2020-09-25 15:22] arjunumenon commented on #1659
Hello @appieschot / @waldekmastykarz  - Diving into the detailed implementation, I am currently in a bit of confused state.

As per the specs, it is mentioned that we will be getting `file sharing info`.
For doing that, I have couple of questions. Pardon me If I have missed the initial thought process of implementation.

- Case 1 : Are we going to get the information of the sharing by invoking the

[2020-09-25 18:51] yeshwanthjagannath opened #1834 "New command: `spo list view add`"
### Usage

spo list view add [options]

### Description

Adds a new view to a SharePoint list with a set of fields.

### Options

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `-u, --webUrl <webUrl>` | URL of the site where the list to remove the view from is located|
| `--listId [listId]`  | ID of

[2020-09-25 19:12] yeshwanthjagannath commented on #1782
@rabwill - Post analysis, figured we will need an add view cmdlet in the CLI, therefore, will resume working on this once issue #1834  is completed, since this cmdlet would have to be a pre-requisite for this script to be developed.

[2020-09-26 12:09] waldekmastykarz commented on #1827
@pnp/cli-for-microsoft-365-maintainers any preference between `flow run report` and extending `flow run list`?

[2020-09-26 12:12] waldekmastykarz commented on #1833
Could you please try logging in using a [custom AAD app](https://pnp.github.io/cli-microsoft365/user-guide/using-own-identity/)? It's possible that our multi-tenant app has configured permissions to services that are not available in GCC High.

[2020-09-26 12:14] waldekmastykarz commented on #1575
Yes and yes! Appreciate your help @arjunumenon 👏

[2020-09-26 12:20] waldekmastykarz commented on #1659
@arjunumenon no need to be sorry. This is actually very good stuff and we should definitely clarify it before dev to avoid building things the wrong way.

Like you noticed, information about the principals is missing in the response. I'm not sure if it's because of the difference of REST vs. CSOM or if there is something else going in? Just to double check: what kind of permissions do you have whe

[2020-09-26 12:24] waldekmastykarz commented on #1834
That's a very nice spec! I've updated the following things:
- marked required options using `<>`: webUrl, viewTitle, fields
- renamed fieldTitle to fields since it accepts both internal and display name
- removed values for flag options `--paged` vs `--paged [paged]`. The latter indicates that you can specify a value whereas the description describes it as a flag.

Would you like to try building i

[2020-09-26 12:55] yeshwanthjagannath commented on #1834
@waldekmastykarz - thank you for the updates. Yes, I will take this, please assign it to me🙂

[2020-09-26 13:15] garrytrinder commented on #1827
My vote goes to `flow run report`.

[2020-09-26 13:17] garrytrinder commented on #1834
All yours @yeshwanthjagannath thank you for your help 👍🏻

[2020-09-28 06:57] klubis commented on #1827
I analyzed Fiddler log when run PowerShell command to get Flow Run History. I found that PowerShell Get-FlowRun calls
GET https://api.flow.microsoft.com/providers/Microsoft.ProcessSimple/environments/~default/flows/b7fef442-5c72-4652-baca-23a183692f65/runs?api-version=2016-11-01

I notice this end-point is very similar to one you mentioned early, however the output I am getting is different from m

[2020-09-28 08:47] arjunumenon commented on #1575
Thanks @waldekmastykarz for assigning this to me.
Do you also mind updating the command name to be **`spo knowledgehub get`**. There seems to be a typo on the current command name in the [usage section](https://github.com/pnp/cli-microsoft365/issues/1575#issue-616781472) of the command description.

[2020-09-28 10:29] arjunumenon commented on #1659
Thanks @waldekmastykarz for the direction. I should have mentioned in the before message that following is the CSOM code which I am using in CSOM.
[code]
Even in the CSOM, we are not getting the principals where the permissions are granted currently. All we are getting is the same output as mentioned in [THIS Conversation](https://github.com/pnp/cli-microsoft365/issues/1659#issuecomment-698992082)

[2020-09-28 13:09] garrytrinder commented on #1575
Spec updated, good catch @arjunumenon 👍🏻

[2020-09-28 15:34] arjunumenon commented on #1806
Hello @garrytrinder / @waldekmastykarz  - As per [This Conversation](https://github.com/pnp/cli-microsoft365/issues/1737#issuecomment-694740905), one of the enhancement in the pipeline is to update `assert.equal` and `assert.notEqual` in all the test cases.

In this PR, do you want me to update the test cases for `m365 todo list set` with that as well when I modify as part of this PR?
Or would tha

[2020-09-28 20:39] leeford commented on #1771
Thank you, planning to start on it shortly :-)

[2020-09-29 07:46] garrytrinder commented on #1806
Thanks for reaching out on this @arjunumenon good spot 👍🏻

Please use the `strict` assertions on the tests for this command, let's not introduce code that uses deprecated methods.

[2020-09-29 09:35] waldekmastykarz commented on #1827
Correct, so this is the same endpoint that we're using in the `flow run get` command if I'm not mistaken.

[2020-09-29 09:37] waldekmastykarz commented on #1806
To add to that, I'm working on some larger refactorings that should include these changes, so for now you can just include the changes in your own work. Appreciate your thoughts on this @arjunumenon ❤️

[2020-09-29 10:52] arjunumenon commented on #1806
Thanks @garrytrinder / @waldekmastykarz  for the recommendation.

Always pleasure to help in whatever ways I can to minimize your effort. 🤟

[2020-09-30 14:27] waldekmastykarz commented on #1659
@arjunumenon just to clarify: initially we found out that we wouldn't get principal information from the REST call and decided to have a look at CSOM, but now it turns out we get principal information from REST after all?

[2020-09-30 14:44] arjunumenon commented on #1659
Hi @waldekmastykarz  - I am sorry the conversations were confusing and I don't blame you for that.  I should have made it clear in the initial conversation itself. ☹. Blame is on me.

**REST based on initial spec**
Initially my research was around the API suggested in the specs which is, `_api/SP.Web.GetObjectSharingSettings` since we were planning to scale it up to sites or other objects if neede

[2020-10-01 05:54] arjunumenon commented on #1561
Hello @waldekmastykarz - Before I go ahead with the implementation, I have couple of questions.

1. We already have a command `spo site remove` which currently supports the deletion of all the sites except the O365 Group connected site. I am assuming we would be enhancing the same command with the support for deletion of site connected to O365 groups as well. Is that correct?
_**Side Note:** As pe

[2020-10-01 14:04] arjunumenon commented on #871
Hello @garrytrinder  - Is this issue available to be picked up for? Haven't tried my hands on Teams command before and where will we find better option than this,.. 🙌
Do you mind assigning this issue to me?

[2020-10-01 22:31] garrytrinder commented on #871
Absolutely, it's all yours!

Thanks for your help @arjunumenon 👍🏻

[2020-10-02 11:41] aakashbhardwaj619 commented on #1772
Hi guys, I started working on this command but struggling with getting the appropriate access token. I've granted the `CallRecords.Read.All` application permission to my custom AAD app but when I try to execute the command, the access token I'm getting does not contain the `CallRecords.Read.All` scope in the `scp` value and only has the delegated permission scopes. Could anyone guide me on how to

[2020-10-02 13:15] BassemNKhalil opened #1837 "[Question] Is there an issue with npm run test?"
I followed the minimum path to awesome: Clone, `npm i` -> `npm run build` then `npm test` but it seems like there's an issue with the test runs. Is that just me?

![Screen Shot 2020-10-02 at 11 11 39 pm](https://user-images.githubusercontent.com/11630074/94927005-01511b00-0505-11eb-862b-3a079c2824cb.png)

[2020-10-03 13:49] BassemNKhalil commented on #1827
Apologies in advance for the lengthy post, I was trying to see if implementing this would be as straight forward as I thought - hit a blocker and wanted to verify:

I cloned the `run-list` command and replaced the base URL with `https://australia.api.flow.microsoft.com` as well as the method to be `exportRuns` but that returned an error:

Assuming that was just because this is an API not consumed

[2020-10-03 18:33] waldekmastykarz commented on #1837
Which version of Node are you using?

[2020-10-03 18:37] waldekmastykarz commented on #1561
1. You're right. Good catch and sorry for the confusion
1. If that's the API to do the job, let's use it 👍

[2020-10-03 18:39] waldekmastykarz commented on #1659
Thank you for clarifying. No blame to take. Async communication is challenging at times so always good to double check if everyone has the same understanding. I appreciate your patience.

Let me have another look at the `_api/SP.Web.GetObjectSharingSettings` API and my notes and I will get back to you ASAP with the next step, deal? 😊

[2020-10-04 02:02] BassemNKhalil commented on #1837
v10.20.1

[2020-10-04 09:34] arjunumenon commented on #1561
Thanks @waldekmastykarz . No need to be sorry it all..
This is the least we can do from our side considering the major chunk which you already doing from your side. 💪💪

[2020-10-04 09:36] arjunumenon commented on #1659
You made me an offer I can't refuse. Done and Deal.. 👊

[2020-10-05 05:51] arjunumenon commented on #1837
Hey @BassemNKhalil  - As per the documentation [Minimal Path to Awesome](https://github.com/pnp/cli-microsoft365/wiki/Minimal-Path-to-Awesome#install-prerequisites), we may need Node.js ?12.0.0 if we want to start running the build and test.

If you want to have multiple versions in the same machine, you can use Node Version manager through which you can juggle between multiple node versions. This

[2020-10-05 06:26] BassemNKhalil commented on #1837
🤦  Yup - v12 sorted things out. Thanks @arjunumenon

[2020-10-05 06:26] #1837 closed

[2020-10-05 06:35] arjunumenon commented on #1837
Awesome.... You are welcome... ✌

[2020-10-05 09:54] waldekmastykarz commented on #1827
Thanks for looking into it @BassemNKhalil! In AAD API permissions, there are two sets of permissions: Azure Management and Flow. It could be that the second endpoint requires the latter permissions while currently we're using the first one. Another thing that could be the case is that the access token is retrieved for example for `https://management.azure.com` but can be used for the other endpoin

[2020-10-05 09:58] waldekmastykarz commented on #1772
You assigned an app-only permission so if you're authenticating with user credentials, that permission won't be included in the token.

[2020-10-05 13:11] waldekmastykarz commented on #1659
Hey @arjunumenon, I can confirm your findings. Looking at the spec though, it's referring to a single file/item rather than a list or web so with the `GetSharingInformation` call, we should be good, right?

[2020-10-05 15:35] MaxTranced commented on #1796
:) Hope that the remodeling is going smoothly!

Is there an ETA for the next release that includes the bugfix? Or would it be better for us to find a workaround in the meantime, @appieschot ?

[2020-10-05 21:05] pschaeflein commented on #1604
Hey team (@waldekmastykarz @garrytrinder @rabwill ),

Was there a specific choice to not include @microsoft/microsoft-graph-types in the project instead of hand-creating interfaces for Graph-supplied objects?

[2020-10-06 04:13] arjunumenon commented on #1575
Hello @waldekmastykarz / @garrytrinder  - I have completed the implementation for this issue and I am ready to initiate a PR for the same.
Since we have an issue in the build process as per #1835 , do you want me hold that till we have that sorted out. Can you advise on that please.

[2020-10-06 07:05] arjunumenon commented on #1659
Thanks @waldekmastykarz for spending your time and confirming the approach. It is perfect. Just to make sure our understanding are in same page.

1. The ID which we are expecting is NOT the GUID, but the ID of the file right, say **1,10**  and **NOT** _7d15b06a-c1c0-48c7-b266-bfc4e917e111_ etc., Is that correct? The REST API expects the item ID and not GUID.
_REST Call Would be something like this

[2020-10-06 08:45] waldekmastykarz commented on #1604
I don't think it was a conscious decision on our part. In many cases, there would be a little added value for us as we're not working with all properties. Also, we're switching a lot between v1.0 and beta endpoints which means that we could have a case where the particular property is not present on the object anyway. So until now, we've been creating interfaces with just the properties that we us

[2020-10-06 08:49] waldekmastykarz commented on #1575
Please open the PR nevertheless. We'll have a look at the issue independently and fix it for all PRs 👍

[2020-10-06 08:52] waldekmastykarz commented on #1659
No need to apologize, @arjunumenon and I really love the way you go about it: measure twice cut once! 👏

With regards to the ID, we could consider allowing users to provide any kind of ID they have and then resolve it whatever type we need internally. For starters though, let's keep it simple and require user to provide the list item ID and we can adjust it in the future.

I like your proposal for

[2020-10-06 09:11] arjunumenon commented on #1575
That is awesome 🚀..  Will initiate the PR right away.... 👍

[2020-10-06 10:51] BassemNKhalil commented on #1827
Thanks @waldekmastykarz - if you can have a look that would be great. I did try with a custom AAD app that was granted both sets of permissions (Azure Management & Flow Service) but neither seem to be providing the right permissions for APIs under [https://australia.api.flow.microsoft.com](https://australia.api.flow.microsoft.com).

[2020-10-07 04:35] rabwill commented on #1819
Will soon get onto this :)

[2020-10-07 04:42] rabwill commented on #1492
@ktskumar Can we leave this issue open for someone else to pick up ? 🙂. Always happy for you to come back to this issue if not already taken.

[2020-10-07 13:36] arjunumenon commented on #1561
Hello @waldekmastykarz  - Just want to confirm on the implementation design before I go ahead with development. It will be great if you can confirm that so that I can go ahead with the implementation.

### Implementation Plan
- Before we go ahead with the removal REST Call implemented currently, we would be initiating a call to get the `GroupId `field using `client.svc` which will fetch the needed

[2020-10-07 16:53] pschaeflein commented on #1604
With the release of [PowerShell](https://docs.microsoft.com/en-us/graph/powershell/get-started) and the upcoming [CLI](https://github.com/microsoftgraph/msgraph-cli), I will not be moving forward on this issue.

[2020-10-07 18:42] garrytrinder commented on #1772
@aakashbhardwaj619 you will need to authenticate using Certificate auth that uses a Custom Azure AD application that has the relevant app permission assigned to it.

I don't think we have any docs covering that scenario end to end, so something we should consider adding gong forwards.

I've found this article which may be able to help.

https://goodworkaround.com/2020/07/07/authenticating-to-azure

[2020-10-07 19:34] garrytrinder commented on #1659
No objections from me.

Great work on this @arjunumenon 👏🏻

[2020-10-08 03:00] arjunumenon opened #1843 "Bug report: Add 'm365' in the documentation for 'spo knowledgehub remove' for consistency"
### Description
Documentation details for the command `spo knowledgehub remove`  does not follow the standard command which is prefixed by `m365`.
[THIS IS](https://pnp.github.io/cli-microsoft365/cmd/spo/knowledgehub/knowledgehub-remove/) the documentation which is being referred

### Steps to reproduce

The command is mentioned as `spo knowledgehub remove`

### Expected result

### Actual result

[2020-10-08 03:01] arjunumenon commented on #1843
Hello all - Please feel free to assign it to me if you guys are fine with that.

[2020-10-08 06:48] waldekmastykarz commented on #1604
OK, thanks for the update @pschaeflein

[2020-10-08 06:54] waldekmastykarz commented on #1561
Implementation plan is 👍

As for the parameters, ideally, we'd do it during validation, but at that stage we can't execute any requests, because auth has not set up yet. So for now, let's do it as a pre-check after determining the type of site.

I'm starting to sound like a broken record, but I really appreciate your thoroughness 👏

[2020-10-08 08:09] arjunumenon commented on #1561
Thanks @waldekmastykarz for the direction and the updates. Now everything is definitely on place.

I had not realized that part. Thanks for highlighting that part which I hadn't thought of...

Not at all. Music which record plays is always amazing.. 👏
All I need is your high level guidance which is golden always. I will be more than happy to fill in the details for you.

[2020-10-08 12:42] #1575 closed

[2020-10-08 12:42] #1737 closed

[2020-10-08 12:42] #1806 closed

[2020-10-08 12:44] #1843 closed

[2020-10-08 12:49] waldekmastykarz commented on #1602
Setting is available for picking due to lack of response

[2020-10-08 12:50] waldekmastykarz commented on #1739
Setting as free for picking up due to lack of response

[2020-10-08 13:02] joshua-probst opened #1845 "Bug report: m365 export flow without suggestedCreationType in manifest.json"
### Description

![image](https://user-images.githubusercontent.com/58293794/95460521-5cf02e00-0975-11eb-9451-6b4a8cd0f30f.png)
After I inserted the parameter (`"suggestedCreationType":"Update",`) manually, the import works.
![image](https://user-images.githubusercontent.com/58293794/95461944-20253680-0977-11eb-9e22-788337ba119e.png)

### Steps to reproduce

`m365 flow export -e Default-XXX -i XXX

[2020-10-08 15:13] Markus-Hanisch commented on #1845
@joshua-probst
I can confirm that behavior.
[code]
The extract from the manifest.json done by means of `m365 flow export`:
[code]
Neither the `"hierarchy": "Root"` nor the dependencies `"hierarchy": "Child"` contain a parameter for `suggestedCreationType`.
The manual export through the PowerAutomate web UI contains depending on your choice `"suggestedCreationType": "New"` or `"suggestedCreationTyp

[2020-10-08 22:55] garrytrinder commented on #1845
Thank you for raising this @joshua-probst and thank you @Markus-Hanisch for the extra detail, apologies for the trouble.

I've looked into this issue and have been able to reproduce the error when importing a Flow exported using the `flow export` command.

The root cause seems to be that we are not passing the `suggestedCreationType` in the body of the request to the `exportPackage` endpoint.

`cr

[2020-10-09 06:26] arjunumenon opened #1847 "Bug report: Docs - unwanted 'm365' prefixed in the command for installing CLI using npm and yarn"
### Description

Command for installing CLI in the document [Installing the CLI](https://pnp.github.io/cli-microsoft365/user-guide/installing-cli/#install-the-cli-for-microsoft-365) is mentioned wrong.

### Steps to reproduce

Go to the page, [Installing the CLI](https://pnp.github.io/cli-microsoft365/user-guide/installing-cli/#install-the-cli-for-microsoft-365)
command is mentioned as `m365 npm i

[2020-10-09 06:27] arjunumenon commented on #1847
Hello all - Please feel free to assign it to me if you guys all are fine with that,

[2020-10-09 07:08] garrytrinder commented on #1847
Good catch @arjunumenon 👍🏻

All yours, thank you for the help ❤️

[2020-10-09 07:48] arjunumenon commented on #1847
Thanks @garrytrinder for assigning that to me.

While going through that, there were 2 section which also needs fixes which are,
**[Update the CLI](https://pnp.github.io/cli-microsoft365/user-guide/installing-cli/#update-the-cli)** and **[Uninstall the CLI](https://pnp.github.io/cli-microsoft365/user-guide/installing-cli/#uninstall-the-cli)** . I would be updating those as well along with this PR.

[2020-10-09 18:48] aakashbhardwaj619 commented on #1604
Hi Guys, I would like to work on this.

[2020-10-09 19:21] sympmarc opened #1849 "Bug report: `spfx project upgrade` path issue"
### Description

If there is a space in the path for the project, the **Execute script** section of the output for `spfx project upgrade` may not run without error.

For example, I have a project at `D:\code\Clientname Legal\Solution`. The script ends up with commands like:
`mkdir D:\code\Clientname Legal\Solutions\MatterExtension/teams`, which fails due to the space.

It would seem the fix would

[2020-10-09 21:21] garrytrinder commented on #1849
Thanks for reporting this @sympmarc and apologies for the trouble, we will take a look ASAP.

[2020-10-09 21:22] sympmarc commented on #1849
I worked around it easily. But it might get others stuck.

[2020-10-10 10:17] garrytrinder commented on #1604
Thank you for the help @aakashbhardwaj619 its all yours 👍🏻

[2020-10-10 11:28] waldekmastykarz commented on #1561
Pleasure to be working with you, sir 👏

[2020-10-10 11:32] waldekmastykarz commented on #1847
Good catch! Thank you 👏

[2020-10-10 11:35] waldekmastykarz commented on #1604
Awesome @aakashbhardwaj619. Appreciate your help 👏

[2020-10-10 11:53] waldekmastykarz opened #1852 "Enhancement: in docs move global options to a separate file"
Recently, we have changed the CLI to always use docs from .md files. This lowers the effort in writing docs and simplifies the maintenance since we have a single version of docs for each command. We could simplify things further by extracting global options, which are the same for all commands, and storing them in a single file so that we don't need to repeat them in every file and can maintain th

[2020-10-10 17:41] waldekmastykarz commented on #1688
This behavior seems to be corrected in the currently released preview version. Closing this issue as resolved. Thanks again for reporting @alexandair

[2020-10-10 17:41] #1688 closed

[2020-10-11 12:11] #1847 closed

[2020-10-11 20:25] garrytrinder commented on #1852
I'm in favour of this enhancement.

We may want to look at https://github.com/RedisLabs/mkdocs-include as well.

[2020-10-12 05:39] arjunumenon commented on #1561
💓. You are being humble like always. Pleasure is definitely mine... 🕺

[2020-10-12 10:44] StfBauer commented on #1852
Not familiar with this but let me check.

[2020-10-12 11:08] #1604 closed

[2020-10-12 13:18] sympmarc commented on #1849
@waldekmastykarz - It's not just the mkdir command. There are others where the space causes a problem.

[2020-10-12 17:17] waldekmastykarz commented on #1852
Good find @garrytrinder. Let's give it a try and see if we can get it to work.

[2020-10-12 17:21] waldekmastykarz commented on #1849
Gotcha. Thought it was specific to mkdir. Thank you for bringing it up 👍

[2020-10-12 20:26] StfBauer commented on #1852
@waldekmastykarz @garrytrinder

markshell@1.3.0-alpha0 should now support the externals.

ATM: I only implemented this form

[code]

I can add the other version too fi needed.

[2020-10-13 11:20] waldekmastykarz commented on #1852
Awesome! Thank you for such a quick turnaround. We'll give it a go asap 🚀

[2020-10-13 13:42] arjunumenon commented on #1561
Hello @waldekmastykarz  - Got couple of questions before I initiate the Pull Request _(though I had told there wouldn't be any more questions 😑. Couldn't keep up that word_.

### `Wait `Parameter
There is a parameter called `wait` which also is not relevant to the Group deletion since we use Graph API group deletion which does not follow the conventional site deletion API which we are using. Addin

[2020-10-13 16:45] juliemturner opened #1857 "Bug report: Possible change needed to verbage/setting on tsconfig.json update"
### Description

When recently doing an SPFX update from 1.10 -> 1.11 the notification said:

Without thinking enough about the ramifications, it I changed my existing line from *.ts to *.tsx as instructed. What I have since realized is that I have updated my localization to use .ts files instead of .js files (because it's easier to see issues with string names and inclusion) and all the sudden al

[2020-10-13 18:00] #1363 closed

[2020-10-13 18:00] #1821 closed

[2020-10-13 18:00] #1849 closed

[2020-10-13 18:03] waldekmastykarz commented on #1849
This should be fixed in the latest preview version that we have just released. Thanks again for reporting @sympmarc 👏

[2020-10-13 18:06] waldekmastykarz commented on #1857
Thanks for reporting @juliemturner. We'll have a look at it and see how we can clarify it 👍

[2020-10-13 18:11] sympmarc commented on #1849
Thanks, @waldekmastykarz!

[2020-10-13 19:59] aakashbhardwaj619 opened #1858 "Enhancement: Update `approleassignment add` command to v1.0 API"
Similar to #1604, `aad approleassignment add` command should be updated to use the v1.0 API

I would like to work on this change if approved

[2020-10-13 20:48] leeford commented on #1771
Sorry, finally getting around to working on this now...

For the fromDateTime and toDateTime options in the table above, should I be using <option> or [option] as they are different. Or does one signify mandatory?

[2020-10-14 07:00] garrytrinder commented on #1858
Good catch @aakashbhardwaj619 👍🏻 thank you for your help ❤️

[2020-10-14 09:32] waldekmastykarz commented on #1771
No problem, thank you for getting back to us. I've updated the spec so that we use the actual option's name rather than `[option]`. Square brackets `[]` indicate an optional value whereas angle brackets `<>` indicate a required value. Thank you for checking 👍

[2020-10-15 23:58] sebastienlevert opened #1860 "Bug report: teams user app add is not using the proper Graph permission to add new apps"
### Description

When using the teams users app add command, we are getting a 403.

### Steps to reproduce

m365 teams user app add --appId $app.id --userId $currentUser.id --verbose --debug

### Expected result

I would expect a 200 if the app is not already installed.

### Actual result

![image](https://user-images.githubusercontent.com/7620955/96197652-b978bd80-0f20-11eb-868c-8793b0859661.png)

[2020-10-16 11:07] arjunumenon commented on #1829
Hey @waldekmastykarz  - Do you mind assigning this to me if you guys are fine with that.? I can take this up.

[2020-10-16 11:10] arjunumenon commented on #1739
Hello @waldekmastykarz / @rabwill  - I guess I can take a stab at this if no one is working on that.

[2020-10-16 11:21] rabwill commented on #1739
All yours @arjunumenon and thank you 😊

[2020-10-16 14:08] waldekmastykarz commented on #1860
We should definitely adjust permissions of our AAD app. Thanks for reporting @sebastienlevert ❤️

[2020-10-16 14:09] waldekmastykarz commented on #1829
Woohoo! Appreciate your help @arjunumenon! 👏

[2020-10-16 14:11] sebastienlevert commented on #1860
Let me know if I can help somehow!

[2020-10-16 18:24] garrytrinder commented on #1860
Good catch @sebastienlevert 👍🏻

I've investigated into this and it looks like the permissions required on the Graph side changed a month after we added this command to the CLI.

As this command uses a beta endpoint, we always run the risk that things maybe changed before it makes it into the v1.0 endpoint.

Whilst we are adding the required permissions to the common identity to fix the issue, a wo

[2020-10-16 19:40] sebastienlevert commented on #1860
This is great! Happy this is a solution, I was actually looking for something similar yesterday!

Do you have the list of permissions the multi-tenant app is requesting for the user? I feel like I could contribute a small script to create an "exact" copy of the app for folks to start from instead of starting from scratch and maybe missing scopes that could break their usage of the CLI knowing they

[2020-10-16 19:46] sebastienlevert commented on #1834
I was reading this and thought it was an amazing idea! What could be even better is to add a parameter where you could define the view XML instead of just the fields. This would allow advanced scenarios like column formatting, etc.

Option | Description
-- | --
-viewXml | Xml [representation](https://docs.microsoft.com/en-us/sharepoint/dev/schema/view-element-list) of the list View

You could eith

[2020-10-16 22:07] garrytrinder commented on #1860
Fantastic, glad to have helped.

Below is a list of the current permissions used on the multi-tenant app.

- Microsoft Graph
	- AppCatalog.ReadWrite.All
	- Directory.AccessAsUser.All
	- Directory.ReadWrite.All
	- Group.ReadWrite.All
	- IdentityProvider.ReadWrite.All
	- Mail.Send
	- Reports.Read.All
	- User.Invite.All
- SharePoint Online
	- AllSites.FullControl
	- User.Read.All
	- TermStore.ReadWri

[2020-10-16 23:27] garrytrinder commented on #1860
I've completed the script I was working on that creates a new identity from scratch, configures the authentication settings, sets the default permissions (as above) and grants admin consent, so it is then ready to use.

https://gist.github.com/garrytrinder/27124b2670580ba97d1a04fe86724758

[2020-10-17 13:34] sebastienlevert commented on #1860
Well done! That's amazing! I Even hear that @mpowney has built a PowerShell version of this 👍

[2020-10-17 15:14] rabwill opened #1861 "Enhancement: Extend the `teams app list` to retrieve Teams info based on `teamName`"
The command currently lists apps from the Microsoft Teams app catalog or apps installed in the specified team with an option to pass `teamId` in which case the command lists apps installed in the specified Microsoft Teams team.

Extend this to pass `teamName` as well, passing either `teamId` or `teamName` but not both.
If we find multiple items matching the `teamName`, return an error with the lis

[2020-10-17 15:39] phillipharding commented on #1860
Nice job Garry 👍

[2020-10-17 15:57] garrytrinder commented on #1860
Thank you 😊

Yes, there is a PowerShell version that Mark has worked on and we will look to get these into the docs shortly 👍🏻

[2020-10-17 16:28] garrytrinder commented on #1861
Good idea @rabwill 💡

Rather than using `displayName`, shall we use `teamName` instead?

I say this as we are using `teamName` in the spec for https://github.com/pnp/cli-microsoft365/issues/1804 so this keeps the options consistent.

[2020-10-17 17:08] waldekmastykarz commented on #1834
If creating a view using XML is supported, definitely! Since this issue is already in progress, how about we define this suggestion in a separate issue as an enhancement and pick it up once this issue is closed?

[2020-10-17 17:09] waldekmastykarz commented on #1861
Good suggestion both @rabwill and @garrytrinder. We should use `teamName` to align with other commands and to make it clear that the name refers to a team rather than the app.

[2020-10-17 17:13] waldekmastykarz commented on #1860
I've added the permission to the app registration. For this change to become effective in your tenant, assuming you used the app in the past, you'd need to reconsent the app by executing `m365 cli reconsent`. Let's keep this issue open until we've updated the docs to include the newly added scope in the list of scopes used by the multitenant app.

[2020-10-17 17:21] sebastienlevert commented on #1834
I'll create the issue and add a bit of details around the APIs we could leverage and will work on it as soon as @yeshwanthjagannath is done doing the magic! Thanks!

[2020-10-17 17:40] sebastienlevert opened #1862 "Update command: `spo list view add`"
### Usage

spo list view add [options]

### Description

Adds a new view to a SharePoint list with a set of fields and providing the viewQuery.

### Options

Would leverage the existing set of options and add :

Option | Description
-- | --
--viewQuery | Xml representation of the list query for the underlying view

### Additional Information

A simple POST to an existing view could be done using t

[2020-10-17 17:48] #1845 closed

[2020-10-17 17:48] #1561 closed

[2020-10-17 17:50] waldekmastykarz commented on #1845
This issue has been fixed in the latest preview release. Thanks again for reporting @joshua-probst 👏

[2020-10-17 17:51] waldekmastykarz commented on #1834
Awesome! Thanks @sebastienlevert 👏

[2020-10-17 17:52] waldekmastykarz commented on #1862
Let's pick this up after #1834 is done

[2020-10-17 17:59] waldekmastykarz commented on #1833
Closing due to lack of response

[2020-10-17 17:59] #1833 closed

[2020-10-17 18:54] aakashbhardwaj619 commented on #1858
Hi Guys, I've checked that the [servicePrincipal](https://docs.microsoft.com/en-us/graph/api/resources/serviceprincipal?view=graph-rest-1.0#properties) resource in Microsoft Graph v1.0 does not contain the `publisherName` property that is being used currently in the AAD Graph command for filtering. Could you please confirm if I should remove this parameter from the command and its tests.

[code]

[2020-10-17 19:40] garrytrinder commented on #1860
Just to let you know that I've updated the gist to use functions, which makes it much more readable and friendlier to admins who may end up running these scripts against production tenants.

![image](https://user-images.githubusercontent.com/11563347/96352121-ca5c3700-10b8-11eb-92a9-89dbe1f8410a.png)

[2020-10-17 19:51] rabwill commented on #1861
@garrytrinder @waldekmastykarz spec update to teamName. Good catch ☺️👏🏾

[2020-10-17 20:32] fuentej commented on #1833
Sorry, didn't see the initial reply...  But I cannot do that, I am working in a customer tenant where I don't have that level of permissions.  But I will try that next time I have the chance.

[2020-10-18 03:25] sebastienlevert opened #1864 "Enhancement: Add link to the documentation site from the README file"
### Description

As of today, it's really hard to get to the documentation site from the README file.

### Expected result

In the getting started, we should be able to click on a link that gets us to the documentation site for any "first timer" that know nothing about the documentation site and / or the CLI for Microsoft 365

### Actual result

We are redirected to the md files in the repo but th

[2020-10-18 03:36] sebastienlevert commented on #1860
@garrytrinder thanks for bringing this into docs! I was wondering if these "ready-made" script should be part of this repo? I would love to just download and run the script rather than finding it as content on a webpart. Was this something that was discussed in the past?

[2020-10-18 04:27] sebastienlevert opened #1866 "New command: teams user app list"
### Usage

`teams user app list [options]`

### Description

Retrieve all apps that are associated to a specific user in Microsoft Teams. This command is useful to know if a user already has an app deployed to ensure successful add or remove.

### Options

Option | Description
-- | --
--userId <userId> | The ID of the user to get the list of apps from

### Additional Information

We should probabl

[2020-10-18 04:27] sebastienlevert commented on #1866
Definitely up for the challenge! Let me know if I can pick this one up when the specs will be fixed!

[2020-10-18 08:54] waldekmastykarz commented on #1858
Is there a similar property? If not, let's remove it indeed. 👍

[2020-10-18 08:54] waldekmastykarz commented on #1833
Understood. Thank you! 👏

[2020-10-18 08:59] waldekmastykarz commented on #1864
Our reasoning was, that since you arrived in the repo, we want to keep you in the repo, rather than redirecting you to an external location. The repo and readme is targeted at contributors while the docs are meant primarily for the users. When you are in the repo, you can navigate to the docs using the link in the about section in the top-right part of the page.

[2020-10-18 09:03] waldekmastykarz commented on #1860
We're looking into the ability to externalize pieces of docs to separate files. If this works out, we could definitely store scripts separately. We haven't discussed it previously, so it's definitely an interesting angle to research further.

[2020-10-18 09:05] waldekmastykarz commented on #1866
Nice suggestion and it would be awesome if you could help out with it!

Regarding the spec, it would be helpful if the command accepted both `userId` and `userName`. If you're using this command in a script, you could theoretically have access to `userId` but for a quick lookup, you're more likely to know the `userName`.

As for decoding the value, I think it would be good to keep the original val

[2020-10-18 09:10] garrytrinder commented on #1860
Interesting suggestion.

We haven't discussed adding these scripts to the repo as downloadable files but is something we can consider.

I'd say in this case however that these scripts are to be amended to individual needs and use cases, rather than just dowloaded and then executed as is.

[2020-10-18 09:18] waldekmastykarz commented on #1860
I guess the question is how much of a trouble is copy-pasting the script. It's a valid point that they often need to be adjusted before running. Shall we start a discussion and take action after getting some more feedback?

[2020-10-18 09:24] waldekmastykarz commented on #1857
@juliemturner would it be clearer if we said: _Update tsconfig.json 'include' property to include:_?

[2020-10-18 10:11] #1804 closed

[2020-10-18 10:11] #1860 closed

[2020-10-18 10:44] nanddeepn commented on #1861
Hi @garrytrinder @garrytrinder @waldekmastykarz
Can I take this up?

[2020-10-18 10:47] garrytrinder commented on #1861
All yours @nanddeepn thanks for the help 👍🏻

[2020-10-18 13:47] juliemturner commented on #1857
Yeah, I think that could work... or leave the wording and change it to .ts*

[2020-10-19 06:44] yeshwanthjagannath commented on #1834
Thank you for the suggestion @sebastienlevert , definitely a good addition.

[2020-10-19 07:02] appieschot commented on #1796
hey @tobyatgithub the current implementation requires that you have a filename specified if you are trying to download large files. We are thinking of making the path required if you are using the asFile, how would you feel about that? If we can get an agreement on that topic I am sure I can wrap up the PR somewhere this week :).

[2020-10-19 07:09] appieschot opened #1870 "New command: flow run cancel"
### Usage

`flow run cancel`

### Description

Cancels a specific flow run for the specified Microsoft Flow

### Options

Option | Description
-- | --
`-n, --name<name>` | The name of the run to cancel
`-f, --flow<flow>` | The name of the Microsoft Flow to cancel
`-e, --environment<environment>`|  The name of the environment where the Flow is located
`--confirm`| Don't prompt for confirmation

###

[2020-10-19 07:14] appieschot opened #1871 "New command: flow run resubmit"
### Usage

`flow run resubmit`

### Description

Resubmits a specific flow run for the specified Microsoft Flow

### Options

Option | Description
-- | --
`-n, --name<name>` | The name of the run to resubmit
`-f, --flow<flow>` | The name of the Microsoft Flow to resubmit
`-e, --environment<environment>`|  The name of the environment where the Flow is located
`--confirm`| Don't prompt for confirmat

[2020-10-19 07:44] waldekmastykarz commented on #1796
@appieschot if I look at the current documentation, it already states that `path` is required when using `asFile`

[2020-10-19 07:50] appieschot commented on #1796
Darn, you are absolutely right! Will update tests and do PR (have to do some rework due to our latest changes but will get them in asap)

[2020-10-19 08:48] waldekmastykarz commented on #1857
In our recommendations we follow the structure you get when creating a new SPFx project using Microsoft's tooling. This allows us to easier check for changes between versions and suggest required and recommended updates for future versions. Since the tooling uses .ts and .tsx we'll stay with the same approach and rephrase our suggestion.

[2020-10-19 08:52] waldekmastykarz commented on #1870
If I look at the REST API call, it refers to run ID rather than run name. Should we rename `-n, --name` to `-i, --runId`?

[2020-10-19 08:55] appieschot commented on #1870
Good point; I tried to be consistent with the `flow run get`: https://pnp.github.io/cli-microsoft365/cmd/flow/run/run-get/.

[2020-10-19 08:58] waldekmastykarz commented on #1871
If I look at the REST API call, it seems like we're missing `triggerName` in our options. Also, shall we align the `-n, --name` with the API and change it to `-i, --runId`?

[2020-10-19 08:59] waldekmastykarz commented on #1870
Gotcha! In that case, let's stay with the current spec 👍

[2020-10-19 09:07] appieschot commented on #1871
To stay consistent well use `name` (see: https://github.com/pnp/cli-microsoft365/issues/1870).

I was hoping that we could read the `triggerName` from the flow as that should be in the flow information.

[2020-10-19 11:01] aakashbhardwaj619 opened #1872 "New command: aad approleassignment remove"
### Usage

`m365 aad approleassignment remove [options]`

### Description

Deletes an app role assignment for the specified Azure AD Application Registration

### Options

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `--appId [appId]` | Application appId also known as clientId of the App Registrati

[2020-10-19 14:12] aakashbhardwaj619 commented on #1872
Yes, this is similar to the [aad approleassignment add](https://pnp.github.io/cli-microsoft365/cmd/aad/approleassignment/approleassignment-add/) command. Maybe we should add a `Remarks` section to clear this out. Let me know what you think.

[2020-10-19 21:20] leeford commented on #1771
Hi All,

Using a cert managed to connect via custom AAD App and can pull the data from Graph.

A couple of questions:

1. When outputting as JSON, is this the expected format for JSON within the CLI?
![image](https://user-images.githubusercontent.com/472320/96512193-08439180-1258-11eb-9332-f1965e3bfbc7.png)

The reason I ask is, looking at another Teams report (m365 teams report useractivitycounts

[2020-10-20 11:22] waldekmastykarz commented on #1771
These are all valid questions: @leeford. Let's take them one by one:

1. Yes. In the recent version of the CLI, we have changed the default output mode to be prettified. You mentioned a command that doesn't do that, which is not by design. Let's log it as a potential issue so that we can investigate it.
1. In the text output, how about we included: `id`, `calleeNumber`, `callerNumber`, `startDateT

[2020-10-20 18:11] waldekmastykarz commented on #1827
@BassemNKhalil it turns out you can call the API with an access token for `https://service.flow.microsoft.com/` and the `Flows.Manage.All` scope. Since the token audience doesn't match the URL, things will get tricky in the CLI as you won't be able to rely on automatic token retrieval. Instead, you will need to:

1. retrieve token for `https://service.flow.microsoft.com/` yourself using `auth.ensu

[2020-10-21 17:49] sebastienlevert commented on #1864
I understand, but there are areas that, as it's built for mkdocs, are not necessarily well display in GitHub (embeds, admonitions (!!!) and other examples). Also as a "consumer" of the docs, I rather prefer the "real" version of the docs to help me in my job. Without that link it's actually impossible to "know" that there is a CLI documentation site, except by Googling...

I love how the other PnP

[2020-10-22 13:06] waldekmastykarz commented on #1864
If you're interested in the CLI as a tool to use (not to contribute), how did you arrive to the GitHub repo? Was is the first link that you got in the search results? If so, what was your search term? Just trying to understand the use case 🙂

[2020-10-22 14:19] #1858 closed

[2020-10-22 14:46] sebastienlevert commented on #1864
Might be that I'm a mix of both users! Google does reference the Docs site as the first link. But if you "start" with GitHub, though, you don't have a link to the docs site, whereas you have a link to GitHub from the Docs site...

I would simply expect to have both links available on both sources! Maybe more of a personal opinion, I guess.

[2020-10-22 14:54] waldekmastykarz commented on #1852
It seems that we can use the syntax of the [PyMdown snippets extension](https://facelessuser.github.io/pymdown-extensions/extensions/snippets/), which is already available in our infrastructure:

[code]

@StfBauer it would be awesome if you could add support for this import notation in markshell. The path is tricky as it's relative to where the `mkdocs.yml` is located. I think it would be the easi

[2020-10-22 14:57] waldekmastykarz commented on #1864
Just to check: this is where we have the link at the moment, which is the default about section of the repo:

![image](https://user-images.githubusercontent.com/11164679/96889996-7b7f1a80-1487-11eb-8b6e-a06b8d3e8b34.png)

It's the same on any repo on GitHub so we wanted to stay consistent 😊

[2020-10-22 17:22] garrytrinder commented on #1864
I have started some work on a refreshing the readme which is available from the below branch, it needs some work but I think the issue that @sebastienlevert raises.

https://github.com/garrytrinder/cli-microsoft365/tree/readme-refresh

You can see I have added a website link near the top of the page with other links to jump to other parts of the readme, as it's near the logo and other information

[2020-10-22 18:07] waldekmastykarz commented on #1864
Awesome! Ship it! 🚀

[2020-10-22 18:25] waldekmastykarz opened #1875 "Enhancement: use stdout for output and stderr for messaging"
Now that we control the CLI's output, we should consider adjusting how we print output and use stdout exclusively for command's output, while use stderr for all verbose and debug messages, warnings, deprecation messages etc. This will be a massive effort, but one that will significantly improve the user-experience.

[2020-10-22 18:41] aakashbhardwaj619 opened #1876 "Bug report: 'Logging in to Microsoft 365' doc contains m365 alias in OpenSSL commands"
### Description

The [Login using a certificate](https://pnp.github.io/cli-microsoft365/user-guide/connecting-office-365/#log-in-using-a-certificate) section on the `Logging into Microsoft 365` doc contains the `m365` alias in the OpenSSL commands for creating new certificates. This needs to be removed as it must have been added by mistake when adding the alias to all command examples.

<img width

[2020-10-22 18:44] StfBauer commented on #1852
OMG that is pretty tricky cause I don't have start and end for this definition. It is a hell of a syntax - might node-gyp help.

I take a look.

[2020-10-22 18:59] sebastienlevert commented on #1864
I love it! Great work! Way better than my stuff 🤣

[2020-10-22 18:59] garrytrinder commented on #1876
Good catch @aakashbhardwaj619 👏

It's all yours, thank you for letting us know and for your continued help to the CLI ❤️

[2020-10-22 19:16] aakashbhardwaj619 commented on #1876
Thanks, Garry! It's my pleasure to be a part of this community ☺️

[2020-10-23 05:45] garrytrinder commented on #1864
Let me make the final changes over the weekend.

There are a few things I want to add & change, as well as recording a new video of the CLI.

[2020-10-23 11:21] leeford commented on #1771
Thanks for clearing that up. Will get back to work!

[2020-10-23 20:13] Abderahman88 commented on #1870
Let me take a shot a this.

[2020-10-23 20:17] garrytrinder commented on #1870
Awesome! Thanks for your help @Abderahman88 its all yours 👍🏻

You can find our contribution guides in the [wiki](https://github.com/pnp/cli-microsoft365/wiki)

Don't hesitate to reach out if you need any assistance.

[2020-10-23 20:19] Abderahman88 commented on #1870
No problem @garrytrinder. Happy to help.

After this one, I will do #1871

[2020-10-24 08:44] plamber commented on #1454
@waldekmastykarz: I am picking up this command again

[2020-10-24 08:45] plamber commented on #1458
@waldekmastykarz I am picking up this command

[2020-10-24 08:51] plamber opened #1878 "New command: teams conversationmember add"
### Usage

`teams conversationmember add [options]`

## Alias
`teams conversationmenber set [options]`

### Description

Adds or sets a conversationmember in a private channel

### Options

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `--teamId [teamId]` | The Team's ID. Specify either the teamName

[2020-10-24 08:53] plamber opened #1879 "New command: teams conversationmember remove"
### Usage

`teams conversationmember remove [options]`

### Description

Removes a conversation member from a private channel

### Options

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `--teamId [teamId]` | The Team's ID |
| `--teamName [teamName]` | The DisplayName of the Team |
| `--channelId [ch

[2020-10-24 08:56] plamber opened #1880 "New command: teams conversationmember list"
### Usage

`teams conversationmember list [options]`

### Description

List all conversational members of a channel.

### Options

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `--teamId <teamId>` | The Team's ID |
| `--teamName <teamName>` | The DisplayName of the Team |
| `--channelId <channelId>`

[2020-10-24 11:59] waldekmastykarz commented on #1852
How about we'd start with supporting just one line with a regex, where the line must end with the quote, something like `^-{2,}8<-{2,}\s"([^"]+)"$`

[2020-10-24 12:07] waldekmastykarz commented on #1879
Looking at the spec, let's allow referring to team, channel and user by their name as well to make it easier to use.

You've got 4 issues assigned to you. Shall we let others help? If you're done with the other 4 and no one has picked up this one, you can still do it 🙂

[2020-10-24 12:07] waldekmastykarz commented on #1878
Looking at the spec, let's allow referring to team, channel and user by their name as well to make it easier to use.

[2020-10-24 12:08] waldekmastykarz commented on #1880
Looking at the spec, let's allow referring to team and channel by their name as well to make it easier to use.

You've got 4 issues assigned to you. Shall we let others help? If you're done with the other 4 and no one has picked up this one, you can still do it 🙂

[2020-10-24 12:32] #1864 closed

[2020-10-24 12:33] #1876 closed

[2020-10-24 22:03] sebastienlevert commented on #1880
Actually this one is really interesting! If you are already @plamber on other things, I'm willing to take on this one!

[2020-10-25 05:33] plamber commented on #1880
@sebastienlevert:  you can take this up. Let us define the specifications before.

#1879 #1878 are somewhat related and should follow the same logic as here.

I worked with this endpoint in the last weeks a lot and there are some important aspects to consider.
- It works for private channels only, in all other situations this command is going to fail
- It is Teams only (merging it with the https:/

[2020-10-25 05:41] plamber commented on #1879
@waldekmastykarz: I do not like the idea to have a filter by displayname (team). This is *too dangerous* considering that the Team DisplayName is not unique

Adding the channel name as additional property is something that I really like. I would rather filter by userprincipalname on top of it. This operation will become quite expensive because you have to retrieve all members before you are able t

[2020-10-25 05:46] plamber commented on #1878
@waldekmastykarz as in #1880 and #1879

I am not sure about the DisplayName of the Team. Is not unique and therefore not super appropriate I believe. Channel name can be considered because it is unique.

Not sure about the DisplayName of the user. I think the userprincipalname is more safe. Do we have other examples regarding this?

What came to my mind is that you can pass multiple userIds as an

[2020-10-25 05:59] rabwill opened #1884 "Enhancement: Extend the `spo sitedesign get` to retrieve site design info using name option"
The command currently lists site design based on the `id` which is a GUID passed , extend this command to be more human friendly and have an option to pass `title` of the site design to retrieve information.

Extend command this to pass `title` as well, passing either id or name but not both.
If we find multiple items matching the name, return an error with the list of matching items and their ids

[2020-10-25 06:01] plamber opened #1885 "New command: aad user signin list"
### Usage

`aad user signin list [options]`

### Description

Retrieve the Azure AD user sign-ins for your tenant. Sign-ins that are interactive in nature (where a username/password is passed as part of auth token) and successful federated sign-ins are currently included in the sign-in logs.

### Options

| Option                  | Description                               |
| -------------------

[2020-10-25 06:01] plamber commented on #1885
First of all I would like to understand together with you where we could place this command. It returns signin activities of a user. Therefore, it could be associated to some user command.

There are a lot of filter criterias available for this command. It will be quite difficult to provide all the options in a simple way. I think we should focus on few that might make sense. For example, we could

[2020-10-25 06:02] plamber opened #1886 "New command: get signin activity"
### Usage

`tbd signin [options]`

### Description

Retrieve the Azure AD user sign-ins for your tenant. Sign-ins that are interactive in nature (where a username/password is passed as part of auth token) and successful federated sign-ins are currently included in the sign-in logs.

### Options

| Option                  | Description                               |
| ----------------------- | ---

[2020-10-25 06:03] plamber commented on #1886
as with #1885 we should define where to place this command

[2020-10-25 06:44] rabwill opened #1887 "Enhancement : Extend `teams channel get` to get information using `teamName` and `channelName` as options"
Currently the command `teams channel get` get's channel information based on `teamId` and `channelId`, to make it more human readable let us introduce options `teamName`  and `channelName` as well.
Use either `teamId` or `teamName` but not both to identify the Microsoft Teams Team.
Use either `channelId` of `channelName` but not both to identify the channel within the specific Team.
If we find mul

[2020-10-25 06:50] rabwill opened #1888 "Enhancement: Extend command `teams channel add` to add option `teamName`"
Currently the command `teams channel add` identifies the Microsoft Teams Team to add the channel using `teamId`. To make it more human readable, let's add `teamName` as an option as well. Specify either `teamId` or `teamName` but not both.
If we find multiple items matching the teamName, return an error with the list of matching items and their IDs to disambiguate.

[2020-10-25 06:58] rabwill opened #1889 "Enhancement : Extend the `teams channel list` to include option `teamName`"
Currently the command `teams channel list` identifies the Microsoft Teams Team by it's id `teamId`.  To make it more human friendly let us extend this command to have option `teamName` as well.
Specify `teamName` or `teamId` but not both.
If we find multiple items matching the teamName, return an error with the list of matching items and their IDs to disambiguate.

[2020-10-25 08:20] plamber opened #1890 "New command: teams list"
### Usage

`teams list [options]`

### Description

Lists all teams in a tenant

### Options

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |

### Additional Information
When looking at the GET-Team command of the MicrosoftTeams Module they perform following operations.

- Enumerate all groups using gra

[2020-10-25 08:22] plamber commented on #1890
The benefit of this command is to retrieve all Teams of a tenant. We should consider what type of object we should return.

I feel a combination of properties of the first query + the results of the second Team specify objects might be an interesting choice

At this stage I haven't found filter options that might make sense. Maybe we could think about filters such as "isArchived" to get back archi

[2020-10-25 08:41] plamber commented on #1890
Just noticed that the command already exist. Closing the issue

[2020-10-25 08:41] #1890 closed

[2020-10-25 09:13] plamber opened #1891 "Bug UnhandledPromiseRejectionWarning - 404 when creating a team using teams team add"
### Description
When executing the m365 teams team add --name 'Architecutre' --description 'Architecture' command you might receive 404 error message like this one:

`UnhandledPromiseRejectionWarning: StatusCodeError: 404 - {"error":{"code":"NotFound","message":"No team found with Group Id 58c19f12-6bb5-4846-8ccd-36d9eb04ef2a","i
nnerError":{"date":"2020-10-25T08:59:38","request-id":"083e431a-deb6

[2020-10-25 10:01] waldekmastykarz commented on #1875
We could go about the implementation in two ways:

1. Extend the existing `Logger.log(message: any)` method with an additional argument that determines whether the message should be passed to stdout or stderr, eg. `Logger.log(message: any, output: Output = Output.stdout)`
1. Extend the `Logger` interface with a new method specific for output that should be redirected to stderr, eg. `Logger.stderr(

[2020-10-25 10:28] waldekmastykarz commented on #1880
I've updated the command name to `teams conversationmember list` (singular) to match our naming convention.

Good points @plamber 👍

This is true and a tradeoff for the bit of convenience. Otherwise, you'd have the same hit when having to lookup the ID yourself, not to mention having to run two commands and copy-paste the ID

We have this implemented in other teams commands, where if we find multi

[2020-10-25 10:32] waldekmastykarz commented on #1879
Updated the command name to singular to match our naming convention.

See the remark on #1880

I'd say it's okay and it's an extra bit of convenience that we can offer. We could explain this in the docs, that if you want maximum performance you'd need the ID, but on the other hand, how would you figure out the ID by yourself?

What would be the use case to remove all members? Wouldn't you delete t

[2020-10-25 10:44] waldekmastykarz commented on #1878
Updated command name to singular to match our naming convention.

See remark on #1880

Good point. I don't think we have a sample with UPN, but it makes sense to use it over the display name

I don't think you can pass an array as an argument in bash. The most we can do is a comma-separated string which we then break up into an array. It absolutely makes sense to allow the ability to pass multiple

[2020-10-25 10:45] waldekmastykarz commented on #1884
Very good idea! 👍

[2020-10-25 10:48] StfBauer commented on #1852
Yeah that is no bigggy for my ;)

[2020-10-25 10:48] waldekmastykarz commented on #1885
To me, it seems like a perfect match for the `aad` namespace

How about we start with UPN and userId and take it from there?

Good idea! I don't think we have an example of that other than the range-based reports you've built.

Love it!

This is definitely good approach for the start. We can always extend it in the future if we notice specific usecases.

[2020-10-25 10:48] waldekmastykarz commented on #1885
Updated the command name to singular to match our naming convention

[2020-10-25 10:49] waldekmastykarz commented on #1886
What is the difference between this command and #1885?

[2020-10-25 10:50] waldekmastykarz commented on #1887
Awesome idea! Let's do it!

[2020-10-25 10:50] waldekmastykarz commented on #1888
Awesome! Let's do it! 👏

[2020-10-25 10:50] waldekmastykarz commented on #1889
Cool! Let's do it! 👏

[2020-10-25 10:52] waldekmastykarz commented on #1891
I believe I've heard something about a new API that should allow for synchronous Teams creation. Let's check if we're using that API already and if not, see if we could switch to it for more reliable teams creation.

[2020-10-25 12:08] plamber commented on #1886
This one retrieves one entry while the other enumerates entries based a query. Should we combine these?

[2020-10-25 12:42] waldekmastykarz commented on #1886
Is there a use case to retrieve a single entry? Is there a significant amount of information on the signin activity that would make it worthwile to differentiate between `list` and `get`? If so, we should definitely do it and have separate commands like we do everywhere else 👍

[2020-10-25 14:49] garrytrinder commented on #1891
You are correct @waldekmastykarz, the beta endpoint returns a team creation object and a reference to another endpoint so you can check the status of your request.

The current v1.0 endpoint returns a 404 if the underlying group is not provisioned immediately as @plamber point out. I believe the guidance from the Graph team is that this can take up to 15 mins for the group to be provisioned.

[2020-10-25 15:31] Abderahman88 commented on #1870
Does the runId has some kind of pattern to check if it's valid?

![checkRunId](https://user-images.githubusercontent.com/36161889/97111513-70bec280-16df-11eb-9164-7d7625e8b71f.PNG)

[2020-10-25 17:34] Abderahman88 opened #1892 "Failed test spfx project rename"
### Description

Test 'replaces project name in README.md' fails.

![failedTest](https://user-images.githubusercontent.com/36161889/97114339-41648180-16f0-11eb-8c76-bfad4b5141dc.PNG)

### Steps to reproduce

1. npm run test

### Expected result

All tests passing

### Actual result

1 test failing

### Environment

O365 CLI v3.2.0

[2020-10-25 19:00] Abderahman88 commented on #1870
Something that I found that seems to me pretty odd.

1) Run ID exists and it's correct --> I get response 200 (what is expected - last part of Run ID = 4637979CU165)

![runRight1](https://user-images.githubusercontent.com/36161889/97115698-5cd38a80-16f8-11eb-95a1-4d90f61527ab.png)

2) Run ID is completely wrong --> I get response 404 (what is expected - last part of Run ID = 4638009ZZ999)
    The

[2020-10-25 19:38] garrytrinder commented on #1892
I'm not seeing the failing test on Mac OS.

- Are you on Windows?
- Do you have the latest changes in your feature branch?

Try the below to update your local master and refresh your local version of the CLI.

[code]

[2020-10-25 19:51] Abderahman88 commented on #1892
Yes, I am on Windows. I will try it. @garrytrinder

[2020-10-25 20:05] Abderahman88 commented on #1892
@garrytrinder Did all the required steps. Same issue.

![errorPath](https://user-images.githubusercontent.com/36161889/97117604-1df80180-1705-11eb-9e81-325e533a0282.PNG)

[2020-10-25 21:14] sprider commented on #1766
@waldekmastykarz, Please close this issue as we closed pull request https://github.com/pnp/cli-microsoft365/pull/1809

[2020-10-25 21:20] sprider opened #1894 "New sample script: Analyze Microsoft 365 User Profile Photos using Azure Computer Vision API and CLI for Microsoft 365"
Hi Team,

Could you please review the article link given below and assign this to me if you are okay to proceed with this sample?

Docs |  
-- | --
Author |Joseph Velliah
Original Post |https://sprider.blog/analyze-microsoft-365-user-profile-photos-using-azure-computer-vision-api
Description |This sample script uses Azure Cognitive Service API and Microsoft 365 CLI to analyze user profile pictures

[2020-10-26 03:11] plamber commented on #1886
At first glance it does not seem to provide more output. This is just the convenience to retrieve a single item based on id

[2020-10-26 09:43] garrytrinder commented on #1892
@pnp/cli-for-microsoft-365-maintainers is anyone able to reproduce this failing test on Windows?

[2020-10-26 10:30] nanddeepn commented on #1888
Hi @rabwill, @waldekmastykarz
Can I work on this?

[2020-10-26 14:14] waldekmastykarz commented on #1891
Let me check if I can dig up any more information on it

[2020-10-26 14:15] waldekmastykarz commented on #1870
I don't know how exactly the run ID is composed, so for now, I'd suggest we skip any validation of it.

[2020-10-26 14:16] #1766 closed

[2020-10-26 14:17] waldekmastykarz commented on #1894
Absolutely! Let's get it in 👍

[2020-10-26 14:19] waldekmastykarz commented on #1886
I wonder if there would be much value to have this command. We can leave the issue and see if there is any interest or any particular scenario that we're missing and for which this command would be helpful.

[2020-10-26 14:23] waldekmastykarz commented on #1888
Appreciate your help @nanddeepn 👏

[2020-10-26 14:49] plamber commented on #1886
I could only imagine having the id reported from some other place and having the need to look it up over script

[2020-10-26 14:53] sprider commented on #1894
Thank you @waldekmastykarz. I have submitted a pull request for the same.

[2020-10-26 15:17] garrytrinder commented on #1891
Looks like the `beta` endpoint just went GA.

https://www.devjhorst.com/2020/10/Microsoft-Graph-API-to-create-a-team-is-now-in-GA-and-supports-a-new-permission-level.html?m=1

[2020-10-26 16:35] plamber commented on #1891
@garrytrinder: from experience it is not taking so long provisioning a group. Usually, the group should be there asap. Looking it up a couple of seconds later if it hasn't been found before should suffice.

[2020-10-26 16:39] plamber commented on #1885
@waldekmastykarz: what about this definition?

[2020-10-26 16:40] plamber commented on #1886
Let us remove this one for now. In case we receive some requests we can still provide the command

[2020-10-26 16:40] #1886 closed

[2020-10-26 16:42] plamber commented on #1880
@sebastienlevert and @waldekmastykarz: what about the updated command definition? Is this fine for you?

[2020-10-26 17:53] sebastienlevert commented on #1880
What is the `--owner` parameter? I would not expect a list command to alter any of the data and here it seems like it. Copy / Paste issue?

[2020-10-26 18:29] plamber commented on #1880
@sebastienlevert good catch. Cleared it up

[2020-10-26 18:44] sebastienlevert commented on #1880
Makes sense to me! Let me know if there is any "guidance" you want to provide to utilize the endpoint or if I can start with it!

[2020-10-26 18:49] plamber commented on #1880
You can start with it from my point of view. I am doing the review afterwards

[2020-10-26 19:42] garrytrinder commented on #1891
Apologies @plamber looks like I didn't quite understand the issue you reported here.

You are referring to the request made below to the `group` endpoint after the `teamsAsyncOperation` status has returned as `Succeeded`.

https://github.com/pnp/cli-microsoft365/blob/630901e5efa0cf413b5a0d22803d70db107887ca/src/m365/teams/commands/team/team-add.ts#L140-L147

As we are currently using the `beta/tea

[2020-10-26 19:58] garrytrinder commented on #1870
Great investigation on the status codes @Abderahman88 from experience with working with this endpoint in the past, there are some status codes returned that you certainly would not expect. See https://github.com/pnp/cli-microsoft365/issues/1063#issuecomment-535977685 as an example.

We could query this with the Azure support and see what they suggest?

[2020-10-26 20:45] garrytrinder opened #1897 "New command: spo userprofile get"
### Usage

`spo userprofile get [options]`

### Description

`Retrieve user profile properties for a SharePoint user`

### Options

| Option | Description |
| -- | -- |
| `-u, --userName <userName>` | Account name of the user |

### Additional Information

`GET https://contoso.sharepoint.com/_api/SP.UserProfiles.PeopleManager/GetPropertiesFor(accountName=@v)?@v=%27i:0%23.f|membership|user@contoso.

[2020-10-26 21:06] garrytrinder opened #1898 "New command: todo task add"
### Usage

`todo task add [options]`

### Description

`Add a task to a Microsoft To Do task list`

### Options

| Option | Description |
| -- | -- |
| `-t, --title <title> ` | The title of the task |
| `--listName [listName]` | The name of the task list in which to create the task in. Specify either `listName` or `listId`, not both |
| `--listId [listId]` | The id of the task list in which to cre

[2020-10-26 21:21] garrytrinder opened #1899 "New command: todo task set"
### Usage

`todo task set [options]`

### Description

`Update a task in a Microsoft To Do task list`

### Options

| Option | Description |
| -- | -- |
| `-i, --id <id>` | The id of the task to update |
| `-t, --title [title]` | Sets the task title |
| `-s, --status [status]` | Sets the status of the task. Allowed values `notStarted,inProgress,completed,waitingOnOthers,deferred` |
| `--listName [

[2020-10-26 21:26] garrytrinder opened #1900 "New command: todo task remove"
### Usage

`todo task remove [options]`

### Description

`Remove a task in a Microsoft To Do task list`

### Options

| Option | Description |
| -- | -- |
| `-i, --id <id>` | The id of the task to remove |
| `--listName [listName]` | The name of the task list in which the task exists. Specify either `listName` or `listId`, not both |
| `--listId [listId]` | The id of the task list in which to tas

[2020-10-26 21:29] garrytrinder opened #1901 "New command: todo task list"
### Usage

`todo task list [options]`

### Description

`List tasks in a Microsoft To Do task list`

### Options

| Option | Description |
| -- | -- |
| `--listName [listName]` | The name of the task list to return tasks from. Specify either `listName` or `listId`, not both |
| `--listId [listId]` | The id of the task list to return tasks from. Specify either `listName` or `listId`, not both |

##

[2020-10-26 21:37] garrytrinder opened #1902 "Bug report: spo list add docs broken"
![image](https://user-images.githubusercontent.com/11563347/97231415-4ea66c80-17d3-11eb-9348-b0a536b6380f.png)

https://pnp.github.io/cli-microsoft365/cmd/spo/list/list-add/

[2020-10-26 22:37] joelfmrodrigues commented on #1582
@ashokswain27 , @VelinGeorgiev , @waldekmastykarz
Sorry to comment on an old issue, but I noticed it was closed only due to lack of response.
This works if you enclose your password with single quotes, not double quotes

[2020-10-27 02:09] nanddeepn commented on #1901
Hi @garrytrinder
Can I work on this?

[2020-10-27 03:11] plamber commented on #1891
@garrytrinder: step 1 is definitively the update. The v1.0 endpoints are much faster. Nevertheless, we need a fallback on that specific command because from experience these operations are not synchronous in nature

Something similar happens if you create a group and you try to immediately create a team afterwards. In many cases it works immediately but in some you have to perform some retries up

[2020-10-27 06:33] arjunumenon commented on #1864
Hey @garrytrinder  - Just now noticed the change in Readme. Wow... Amazing.. Loved the way how it is organized well with all the information... What I loved are the links which are there in top which will take the users to any of the needed sites.

Great thought process and design.. 👏👏👏👏

[2020-10-27 07:17] garrytrinder commented on #1901
Absolutely! It's all yours @nanddeepn thank you for your help 👍🏻

[2020-10-27 07:31] garrytrinder commented on #1864
Thank you @arjunumenon ❤️

I'd love to take all the credit but a lot of the inspiration came from the readme of [spaceship-prompt](https://github.com/denysdovhan/spaceship-prompt) project that I use as my shell and which I love the layout of 😊

[2020-10-27 08:16] aakashbhardwaj619 commented on #1898
Hi @garrytrinder, I'd like to work on this if it's okay.

[2020-10-27 09:03] garrytrinder commented on #1898
All yours @aakashbhardwaj619 thank you for your help 👍🏻

[2020-10-27 09:15] arjunumenon commented on #1829
Hello @waldekmastykarz - Just a quick confirmation before I start implementing this command.
Currently the command set for spo tenant follows  `spo tenant settings set`. Do you think we need to update the specs so that the command follows the consistency.
Pardon me If I am being particular about that, though it is self-explanatory, just wanted to confirm on that. 🤔

[2020-10-27 10:10] StfBauer commented on #1852
Ok so I changed the code and after this comment I will publish the new version of the package.

[code]

Both syntax should include the external files. You never know. 🤷‍♂️

<img width="650" alt="image" src="https://user-images.githubusercontent.com/5503835/97286966-4f2b1b80-1844-11eb-9a02-309857264b9f.png">

Thank you for the head start with the regex I had to modify it a bit and should now be abl

[2020-10-27 10:13] waldekmastykarz commented on #1852
Hero! I'll give it a try asap. Thank you very much! 👏

[2020-10-27 11:19] waldekmastykarz commented on #1885
Let's do it!

[2020-10-27 11:24] waldekmastykarz commented on #1897
Just to clarify: for the user name, let's use `user@contoso.com` rather than the whole claim name.

[2020-10-27 11:28] waldekmastykarz commented on #1829
Good catch @arjunumenon and my bad. I'll update the spec to point to `spo tenant settings set` which is the right command to extend.

[2020-10-27 11:29] plamber commented on #1885
I can take it up if nobody else does

[2020-10-27 11:45] arjunumenon opened #1903 "Bug report: error in the command 'spo tenant settings set'"
### Description
When we execute the command `m365 spo tenant settings set --UserVoiceForFeedbackEnabled false`, we are getting an error "**Error: Field or property "_" does not exist.**"

### Steps to reproduce
Run the command `m365 spo tenant settings set --UserVoiceForFeedbackEnabled false`.
The issue is not confining to the above mentioned property alone. It is there when we try to set any of t

[2020-10-27 11:52] arjunumenon commented on #1903
Some more information I can provide about the issue.

After the removal of Vorpal and simplifying the command validation, the args.options will have the value
`_: [ 'spo', 'tenant', 'settings', 'set' ]` along with user entered argument options.

This command loops through the options and add the information to the payload of the REST API `_vti_bin/client.svc/ProcessQuery`. Due to the presence of t

[2020-10-27 12:31] garrytrinder commented on #1897
Yes, the full claim is only used in the REST call, only the UPN is required to be passed into the command.

[2020-10-27 12:49] garrytrinder commented on #1903
Thank you for reporting @arjunumenon 👏🏻

It's all yours 👍🏻

[2020-10-27 12:59] #1866 closed

[2020-10-27 12:59] #1861 closed

[2020-10-27 12:59] #1872 closed

[2020-10-27 15:08] waldekmastykarz commented on #1885
You've got 4 commands in progress already. Shall we get them done first and see if someone else wants to pick this one? 🙂

[2020-10-27 15:09] waldekmastykarz commented on #1903
Awesome catch @arjunumenon 👏

[2020-10-27 15:16] waldekmastykarz commented on #1852
@StfBauer unfortunately, with markshell@1.3.1 help is not being rendered at all, even if I drop the include marker altogether 🙁

[2020-10-27 15:30] plamber commented on #1885
Everytime I say I can take it up means that I will pick it once my other tasks are done. I thought that was explicit enough :)

[2020-10-27 16:22] sebastienlevert commented on #1880
@waldekmastykarz I'm realizing that we will need a new scope in the AAD app, especially for listing members. The following permissions are documented on the Graph : Chat.ReadBasic, Chat.Read, Chat.ReadWrite (https://docs.microsoft.com/en-us/graph/api/conversationmember-list?view=graph-rest-beta&tabs=http). Interestingly enough, this won't be required for the add / remove as it relies on the Group.

[2020-10-27 16:34] plamber commented on #1880
Hi,
we already have Group.ReadWrite.All. This should suffice. I already have an issue open to ask why the documentation is messed up. I tried the endpoints already in productions. No problems with Group.ReadWrite.All for now.

[Here](https://github.com/microsoftgraph/microsoft-graph-docs/issues/10350) the issue reference.

br,

[2020-10-27 16:41] sebastienlevert commented on #1880
The list endpoint is referencing very different scopes. I get a 403 with the currently consented scopes, so I feel this is a required scope. https://docs.microsoft.com/en-us/graph/api/conversationmember-list?view=graph-rest-1.0&tabs=http#permissions

Especially the list seems to only allow GET on the `/beta` endpoint. In the Graph Explorer, you can see the Permissions tab and see it really require

[2020-10-27 16:44] waldekmastykarz commented on #1880
The way we handled that in the past, is that during dev we used a custom AAD app and when we had a PR open, we extended the scopes on the PnP Management Shell app so that when the PR is merged all is up & running.

[2020-10-27 16:45] plamber commented on #1880
@sebastienlevert: this is the reason why I opened the issue on their end. They are investigating. For now let us work with the scopes you are suggesting. I could imagine that these are no more required in a couple of weeks.

[2020-10-27 17:31] sebastienlevert commented on #1880
I was wondering, and this might be a way bigger topic than it is... But...

Let's say, in this command, that we want to validate the teamId + channelId. Not only that they are valid GUIDs, but that they are actual team IDs and/or channel IDs... Should this be part of the command of we should expect "valid" and "existing" ids? It would make the command a lot more robust, but with a ton more code...

[2020-10-27 17:35] nanddeepn commented on #1889
Hi @rabwill, @waldekmastykarz
Can I take this?

[2020-10-27 17:39] SmitaNachan commented on #1902
Hi @garrytrinder, @waldekmastykarz
Can I take this?

[2020-10-27 17:57] sebastienlevert commented on #1880
@plamber : Been poking around and indeeed, this endpoint is having some interesting behaviors! I'm actually looking at this one and feel it would be the right one to hit : https://docs.microsoft.com/en-us/graph/api/conversationmember-add?view=graph-rest-beta&tabs=http.

From a list perspective, running it on the same end point with a GET gets me the members of the private channel, but only in `bet

[2020-10-27 18:02] garrytrinder commented on #1902
Absolutely! It's all yours 👍🏻

Thank you for your help ❤️

[2020-10-27 18:02] plamber commented on #1880
The enpoint works only for private channels. In v1.0 it requires different permissions as in beta.

The engineers in ms stated they are investigating. Not sure how long it will take.

My suggestion is to work with the v1.0 enpoint and updated permissions. Consider only the private channel usecase. All other channels in theory throw an exception

[2020-10-27 18:37] StfBauer commented on #1852
@waldekmastykarz 🤦‍♂️

1. **If you don't have your config correct, why should you get a content !?!?!?**
No seriously I have returned anything

2. **Regex can be fun - I found the g and removed it**
Should also work now.

1.3.2 looks more promising now

<img width="264" alt="image" src="https://user-images.githubusercontent.com/5503835/97346395-ac968b00-188b-11eb-89ec-6436896f14db.png">

I hope:
<

[2020-10-27 19:05] waldekmastykarz commented on #1852
`docs/docs` is just our path. `docs` is required name for a subfolder by MkDocs and the first `docs` denotes where we have docs (as opposed to `src` or `dist`). If we wanted to get rid of the first `docs`, we'd need to put `mkdocs.yml` in the root, which is kind of odd.

As for not specifying the `includePath`, the reason I brought it up is because it seems like something optional. If you don't wa

[2020-10-27 19:41] StfBauer commented on #1852
Exactly and it is only used now for PyMDown. The only thing I could do to have the same treatment like the other plugin, when not specified. Not sure.

**Case 1: not specified**

[code]

**Case 2: specified**

[code]

[2020-10-27 20:25] garrytrinder commented on #1889
Absolutely! Thank you for your help, it's all yours. 👍🏻

[2020-10-28 03:10] arjunumenon commented on #1892
Hello @garrytrinder  - Pardon me for pitching in. Even I am getting the same failed test in Windows. (Node Version : 12.14.0).
There is a good chance that I might not have realized that since I complete the test cases by restricting to the respective commands and not executing the complete one _(Laziness 🤦‍♂️)._ My Bad!!
Plus, since it does not impact the code coverage, I might not have noticed du

[2020-10-28 04:30] arjunumenon commented on #1892
Just did a bit of drilling down out of sheer curiosity. My initial observation is that, it has to something with the utf-8 matching which is getting failed due to some characters in the ReadMe.md replaced content. Couldn't pin point the exact reason.

Adding to that, removal of the failing test case will not impact the code coverage. So I guess we can remove that if it is not needed. Not at all th

[2020-10-28 10:06] garrytrinder opened #1907 "Bug report: `--help` not displaying interactive help for alias commands"
### Description

When using the global `--help` option to return help for a specific command which has an alias, nothing is returned.

### Steps to reproduce

Execute `m365 teams user add --help`

### Expected result

Should return help from documentation, https://pnp.github.io/cli-microsoft365/cmd/aad/o365group/o365group-user-add/

### Actual result

Nothing is returned

![image](https://user-ima

[2020-10-28 10:12] garrytrinder opened #1908 "Bug report: `aad o365group user add` displays incorrect alias in docs"
Source: https://pnp.github.io/cli-microsoft365/cmd/aad/o365group/o365group-user-add/

Documentation displays alias as `m365 aad teams user add` but it should be `m365 teams user add`

![image](https://user-images.githubusercontent.com/11563347/97422588-ed32ea80-1905-11eb-8aca-4e497a7c46d9.png)

![image](https://user-images.githubusercontent.com/11563347/97422556-dee4ce80-1905-11eb-946d-3acfc9fbf1e

[2020-10-28 10:16] waldekmastykarz commented on #1880
They way the CLI is built at the moment is that we have a separate place to validate arguments, but at that stage, we don't have authentication initialized yet, so we can't execute any requests towards M365. So how we're handling it instead is, that we validate the input's structure but let M365 handle the validity of the actual resources.

[2020-10-28 10:18] waldekmastykarz commented on #1852
OK, so perhaps what was breaking the help is the fact that we had PyMDown include markers but were missing the necessary configuration. What would be helpful in such case to return a clearer error message what's wrong. Not rendering the whole help altogether is an indication that something is wrong somewhere but it's not very clear what's wrong exactly. 😊

[2020-10-28 10:19] waldekmastykarz commented on #1892
Could it be that it's related to BOM by any chance? Has anything changed in the related readme.md file recently that would indicate why this test is breaking now?

[2020-10-28 10:23] waldekmastykarz commented on #1907
This is a tricky one! `teams user add` is an alias and right now we're resolving the command's help from docs based on the command's name but not its alias. Good catch!

[2020-10-28 10:27] waldekmastykarz commented on #1891
Just to verify the proper way forward: what's the best way to handle the error in a consistent way? Imagine you build a script and expect to use the response we typically return in the following actions. If we hide the error, it would mean that we sometimes return something and other times nothing, which is very unpredictable. If we can't rely on the API always returning a value, we should conside

[2020-10-28 10:57] waldekmastykarz opened #1909 "Bug report: 400 error when executing 'aad user list'"
### Description

`aad user list` returns a 400 error from the API when executed

### Steps to reproduce

`m365 aad user list --properties id,displayName,mail`

### Expected result

List of users with the specified properties

### Actual result

400 error

### Environment

Latest CLI version

[2020-10-28 11:11] StfBauer commented on #1852
What are you thinking @waldekmastykarz? I could stack all errors instead of raising the errors and put them up front or at the end of the content? Would that help?

[2020-10-28 12:33] #1903 closed

[2020-10-28 12:33] #1888 closed

[2020-10-28 12:33] #1909 closed

[2020-10-28 13:40] garrytrinder commented on #1875
Looking at the two options I would prefer to add an additional method to the Logger interface, `Logger.stderr(message:any)`, as this is more explicit and I would find it easier to read when skimming through code as to where the messages are heading. With using optional args it is hard to know what the defaults are.

[2020-10-28 13:58] garrytrinder commented on #1832
I'll take this one.

[2020-10-28 16:58] plamber commented on #1891
@waldekmastykarz

The only consistent thing that we can ensure is returning immediately the team ID without performing additional queries for the MS Group. Everything else requires us to create some fallback approaches. If we do not do this, then the person writing the script has to handle these exceptions.

[2020-10-28 18:54] waldekmastykarz commented on #1852
Absolutely! As long as they're displayed, it'll help a lot ❤️

[2020-10-28 18:55] waldekmastykarz commented on #1891
If we can reliably return team ID, then let's do that.

[2020-10-28 19:13] ValerasNarbutas commented on #1891
@garrytrinder we are using 1.0 for team creation, couple of months ago we used beta as 1.0 was not available. Works better than beta, especially when after creation we want to add tabs/apps or call sitedesign for sharepoint. In many cases we get 404 error.

[2020-10-28 19:13] StfBauer commented on #1852
OK if you insist 👍

[2020-10-28 19:29] ValerasNarbutas commented on #1891
@waldekmastykarz, @garrytrinder I found this working better:
1. create/clone team. It does return location in header
2. call graph with https://graph.microsoft.com/v1.0/{Location} which returns operation status. When doing it in the loop in flow very quickly I can see return status of creation operation changing from in Progress to succeed. An only when I get "Succeed" i am doing something with te

[2020-10-29 00:05] garrytrinder commented on #1832
It has been a fun night building this out 😁

![image](https://user-images.githubusercontent.com/11563347/97508375-5d2d8900-1977-11eb-8994-41c5cb1e2af9.png)

I think it has everything required for CLI development, with some added extras.

- Ubuntu 18.04
- Pre-requisites
  - sudo
  - zsh
  - jq
  - curl
  - git
  - wget
- PowerShell (7.0.3)
- node (v12.9.0) & npm (6.14.8)
- Python3 (3.6.9) & pip3 (9

[2020-10-29 00:17] garrytrinder commented on #1897
Just realised that this is already being worked on and is a duplicate of #1670.

Closing issue as it is a duplicate.

[2020-10-29 00:17] #1897 closed

[2020-10-29 02:59] plamber commented on #1891
@ValerasNarbutas the problem lies here:

https://github.com/pnp/cli-microsoft365/blob/630901e5efa0cf413b5a0d22803d70db107887ca/src/m365/teams/commands/team/team-add.ts#L136-L146

When the status !== succeeded the code is immediately calling the groups endpoint to return the group. This is a too optimistic approach considering that all these operations are asynchronous. The moment the code is calli

[2020-10-29 13:05] garrytrinder commented on #1832
Not sure if this is something we can fix in the container, but for the `spaceship-prompt` to work correctly it needs a font that has ligature support.

The default font used in the Codespace is `Consolas` which doesn't have ligature support, however I've been able to update the Settings in the Codespace to use the `JetBrains Mono` font family and enabled ligatures, which has fixed the `[?]` in the

[2020-10-29 18:48] waldekmastykarz commented on #1891
I know for one that it's a complex process involving multiple services. Let me see if I can find out more and get back to you.

[2020-10-29 18:55] waldekmastykarz commented on #1832
Sweet! Have you also installed `pymdown-extensions` which we use in our CI? We need them for a few things among which includes which we are currently working on.

[2020-10-29 19:33] garrytrinder commented on #1832
Yes, all dependencies are installed as part of the `pip install` 😊

https://squidfunk.github.io/mkdocs-material/getting-started/#installation

[2020-10-29 21:25] Abderahman88 commented on #1871
Assign to me, please 👍

[2020-10-29 21:47] garrytrinder commented on #1871
Absolutely! Thank you for your help @Abderahman88 it's all yours 👍🏻

[2020-10-30 07:52] SmitaNachan commented on #1908
@garrytrinder Can I take this?

[2020-10-30 08:19] garrytrinder commented on #1908
Absolutely! Thank you for your help @SmitaNachan it's all yours 👍🏻

[2020-10-30 09:27] nanddeepn commented on #1887
Hi @rabwill, @waldekmastykarz
Can I take this?

[2020-10-30 09:32] rabwill commented on #1887
All yours @nanddeepn 🧡 thanks for your help!

[2020-10-30 09:54] appieschot commented on #1871
@Abderahman88 If we cannot read the trigger from the flow, feel free to let me know and I will update the specs to read it as a param.

[2020-10-30 12:43] waldekmastykarz commented on #1891
@ValerasNarbutas what I've been able to learn so far is that the recommendation is to use the v1.0 API. I don't have any additional information right now, but if there are any specific scenarios for which you'd need to know when the SharePoint site is ready, I'd be glad to pass them on to the Product Group.

[2020-10-30 14:29] Abderahman88 commented on #1871
@appieschot We can read the triggerName from the flow.

![getTriggerName](https://user-images.githubusercontent.com/36161889/97716676-3892f780-1ac4-11eb-8b5a-018efc6bfadb.png)

[2020-10-30 14:44] appieschot commented on #1871
Awesome job!

[2020-10-31 08:49] plamber commented on #1458
This filter is already implemented. Haven't noticed it. Closing the issue

[2020-10-31 08:49] #1458 closed

[2020-10-31 10:18] #1796 closed

[2020-10-31 10:18] #1902 closed

[2020-10-31 10:18] #1908 closed

[2020-10-31 10:31] waldekmastykarz commented on #1796
@tobyatgithub we have just merged the fix for this issue and it's available in the latest beta version v3.2. You can try it by installing the beta using: `npm i -g @pnp/cli-microsoft365@next`. Once again, thank you for reporting! 👏

[2020-10-31 11:18] garrytrinder commented on #1796
Great work on this @appieschot 👏🏻🚀❤️

[2020-10-31 13:40] garrytrinder commented on #1786
As discussed, I'll take this one 👍🏻

[2020-10-31 14:50] garrytrinder commented on #1786
![image](https://user-images.githubusercontent.com/11563347/97782124-abb17200-1b87-11eb-9f1e-dde360a01ad9.png)

- Ubuntu 18.04
- node 12.19.0
- @pnp/cli-microsoft365

Thoughts on including `PowerShell` in the image @waldekmastykarz? 🤔

I'll create tags for `latest`, `next` and the current version `3.1`, so we should look to include a new tag for each monthly release.

[2020-10-31 14:55] garrytrinder commented on #1786
@shurick81 do you have any thoughts on including `powershell` in the image? Would this be useful?

[2020-10-31 15:33] garrytrinder commented on #1786
An alternative image

![image](https://user-images.githubusercontent.com/11563347/97783230-41e89680-1b8e-11eb-899d-7698f7ceb1ef.png)

- node12-alpine
- @pnp/cli-microsoft365

Much smaller image, however at the moment you have to state the shell when starting the container, I think we might be able to add this to ENTRYPOINT however.

[2020-10-31 20:36] shurick81 commented on #1786
@garrytrinder I think it is an interesting idea but I don't know if CLI for Microsoft 365 is often used from PowerShell scripts. Is there such statistics? Will it add more weight on Ubuntu? If it does not add complexity/weight too much, I'd vote for having PowerShell. Especially it will be interesting when PnP PowerShell module becomes multi-platform...

[2020-11-01 09:20] waldekmastykarz commented on #1786
@garrytrinder let's include PowerShell and ensure that we have proper config for command completion. It's best to provide options and allow everyone to use the image no matter which shell they work with.

[2020-11-01 10:01] garrytrinder commented on #1786
Thanks for the comments @waldekmastykarz & @shurick81, I'll take a look. Downside to installing PowerShell is that will need to use the Ubuntu base image which significantly increases the size of the image, however from a UX perspective having everything available to use and configured reduces the friction in using the CLI.

[2020-11-01 16:46] sebastienlevert opened #1920 "Bug report: npm run test can't generate the coverage report anymore"
### Description

Utilizing the latest version on `master`, I simply can't make the coverage report to work anymore.

### Steps to reproduce

[code]

### Expected result

We should get a coverage report.

### Actual result

![image](https://user-images.githubusercontent.com/7620955/97808922-c5aa8d80-1c37-11eb-9892-9c5658fe5b64.png)

### Environment

On both Windows 10 and WSL2 with the latest versi

[2020-11-01 18:27] waldekmastykarz commented on #1920
Which version of Node are you using?

On macOS everything seems to be working just fine, so perhaps it's something related to Windows. @pnp/cli-for-microsoft-365-maintainers can any of you repro this issue?

[2020-11-01 18:29] waldekmastykarz opened #1921 "Enhancement: Display 'next steps' after installing CLI"
After installing CLI using npm, we should display the following next steps:

- setup completion (ideally, based on the current shell)
- login to m365
- how to get help

[2020-11-01 18:38] sebastienlevert commented on #1920
I am using Node 10.23.0. It actually works on 14.15.0.

Good catch. Didn't see the minimum required version in the docs. Now updated and it seems to be back to normal!

[2020-11-01 18:52] #1920 closed

[2020-11-01 18:56] waldekmastykarz commented on #1786
There seem to be PowerShell images on alpine, like this one: https://github.com/PowerShell/PowerShell-Docker/blob/master/release/preview/alpine310/docker/Dockerfile. Shall we check if we could do the same?

[2020-11-01 19:15] garrytrinder commented on #1786
Good find @waldekmastykarz 👍🏻

[2020-11-01 19:45] sebastienlevert commented on #1880
So more findings today with this interesting endpoint!

@plamber I don't know if you've been through this already, but it's definitely interesting...

It works great with Private Channels and I can get all of the conversation members (well... The API does not support paging for now. So this will be definitely documented as we might be missing "some" users). All of this is based on the following ca

[2020-11-02 03:07] plamber commented on #1880
HI @sebastienlevert,
I think we shouldn't fix the API if it does not behave as it should but provide the feedback directly to the Graph team. Lets work on the minimum viable solution and then list down the issues we identified.

Afterwards, I am getting in touch with some colleagues and will report the problem. I could imagine that they are happy to get the feedback.

br,
Patrick

[2020-11-02 03:13] sebastienlevert commented on #1880
Alright, makes a lot of sense. PR incoming tomorrow as it's ready!

[2020-11-02 05:37] arjunumenon commented on #1892
Hey @waldekmastykarz  - My suspicion is that, the error was there right from the beginning of the implementation. I might be wrong here too. How did I conclude is that,

1. As per the closure notes for the issue #1349 which did this implementation, it was released part of V12.2
![image](https://user-images.githubusercontent.com/10369964/97832987-374b1000-1cfa-11eb-88fa-42db559dfcf4.png)

2. I had

[2020-11-02 10:35] garrytrinder opened #1922 "Bug report: `m365 help` not displaying command groups in alphabetical order"
### Description

The list of command groups are not in alphabetical order, `teams` is displayed second in the list

### Steps to reproduce

Execute `m365` or `m365 help`

### Expected result

Command groups should be listed in alphabetical order

### Actual result

![image](https://user-images.githubusercontent.com/11563347/97858326-e554bb00-1cf6-11eb-8af0-80fc4a39508e.png)

### Environment

Ubunt

[2020-11-02 10:36] garrytrinder commented on #1922
Assumption is that this is related to the use of aliased commands in the `teams` command group.

[2020-11-02 18:23] waldekmastykarz commented on #1922
Good catch and definitely good suspicion

[2020-11-02 18:25] waldekmastykarz commented on #1892
Thanks for the investigation @arjunumenon. While we have some contributors on Windows, it's very good possible that we missed it. Let's see if we can find a proper solution for it 💪

[2020-11-02 18:27] waldekmastykarz commented on #1875
I'll pick this up together with #1823. I'm getting some side-effects from the refactoring, which we can address by introducing `stderr` and redirecting debug logging to stderr rather than stdout which is formatted by default due to changes in #1823.

[2020-11-02 23:06] sprider commented on #1900
@garrytrinder, I would like to work on this. Could you please assign this to me?

FYI - This API endpoint is publicaly avilable now https://docs.microsoft.com/en-us/graph/api/todotask-delete

[2020-11-03 03:05] nanddeepn commented on #1901
Hi @garrytrinder, @waldekmastykarz
Microsoft To Do Graph APIs are now generally available. I will now use those instead of beta.

https://developer.microsoft.com/en-us/microsoft-365/blogs/announcing-the-general-availability-of-microsoft-to-do-apis-on-graph/

[2020-11-03 08:06] waldekmastykarz commented on #1880
@sebastienlevert @plamber I think there is something to say for the somewhat odd API behavior and us trying to help users work with it more reliably. I'd suggest we follow both of your suggestions: let's absolutely report it back to the Graph team, but also, let's check if the specified ID is valid. There is nothing worse than thinking you have the right data while it's not the case.

[2020-11-03 08:07] waldekmastykarz commented on #1900
All yours @sprider 👏

[2020-11-03 08:13] waldekmastykarz commented on #1901
Good catch @nanddeepn 👏

[2020-11-03 17:17] sebastienlevert commented on #1880
Totally agree and I just implemented a validation based on the id. If `/channels?$filter=id eq '19:whatever@skype.thread'` returns nothing, we consider it invalid or not existing.

[2020-11-03 18:54] waldekmastykarz commented on #1852
Including contents from external files works like a charm. I'll wait with submitting a PR until we sorted out https://github.com/StfBauer/markshell/issues/23 so that we can do them in one go.

[2020-11-03 23:23] Abderahman88 commented on #1922
PR on the way 🚌

[2020-11-04 07:26] garrytrinder commented on #1922
Awesome, thank you ❤️🚀

[2020-11-04 13:08] nbelyh-visualstrategy commented on #1634
@kunj-sangani
Did you have a chance to look into this issue? Is there any progress?
I'm also interested in getting a list of sites where an app is installed (or at least a check if the app is installed on a particular site) 😄

[2020-11-04 13:26] nbelyh commented on #1634
@kunj-sangani
Did you have a chance to look into this issue? Is there any progress?
I'm also interested in getting a list of sites where an app is installed (or at least a check if the app is installed on a particular site) 😄

@waldekmastykarz
Is it possible to call REST API directly using CLI? I was thinking about a workaround like:
[code]
If I could call that in the authenticated context of CLI,

[2020-11-04 14:36] waldekmastykarz commented on #1880
Awesome @sebastienlevert 👍

[2020-11-04 14:37] waldekmastykarz commented on #1634
Not at the moment, no, but you can get an access token from the CLI and issue the request using `curl` or a similar tool.

[2020-11-04 15:10] nbelyh commented on #1634
Thanks, found it! Token is also good enough 👍

[2020-11-05 04:37] #1887 closed

[2020-11-05 09:34] #1889 closed

[2020-11-05 11:26] arjunumenon commented on #1659
Hello @waldekmastykarz / @garrytrinder  - I am back with couple of questions which may need your valuable guidance. I am kind of done with the implementation of the command. Just a final confirmation on some of the items. I sincerely hope this would be my last set of questions for this issue 🤔

### Parameters - Resorting to GUID as per the initial specs rather than Item Id
In [THIS CONVERSATION](h

[2020-11-05 13:05] #1362 closed

[2020-11-05 13:05] #1829 closed

[2020-11-05 13:05] #1894 closed

[2020-11-05 13:27] waldekmastykarz commented on #1659
Thanks for reaching out @arjunumenon and always great to check things upfront to avoid rework 👍

I like your suggestion of extending the output. Let's do it. Is the `principalType` property something that we create ourselves? If so, let's capitalize the first `p` so that it's consistent with other properties.

As for JSON, let's definitely keep it intact. It allows users to build powerful scripts

[2020-11-05 14:16] arjunumenon commented on #1659
Sure. That is a typo. The info is being taken from an interface properties. Will rename it to follow the standards. Thanks for pointing that you 👍.

👍

When it comes to implementation, we can go through the different things in a PR, where we can refer to the different lines. If you're unsure, you can submit it as a draft and comment on the specific pieces, you'd like our input.

Perfect. Thanks th

[2020-11-05 15:25] sprider commented on #1900
Perfect, Thank you @waldekmastykarz

[2020-11-05 17:42] DakotaWray2 opened #1931 "Enhancement: Add support for connecting to non-public clouds"
### Description

When attempting to login to a GCC High Tenant I receive the following error.
Message: AADSTS50011: The reply URL specified in the request does not match the reply URLs configured for the application

I've seen threads regarding other tenants. Wondering if there is anything I need to do differently or if this is a handshake change required on your side.

Thanks,
Dakota

### Environ

[2020-11-05 18:45] waldekmastykarz commented on #1931
Thanks for reporting @DakotaWray2. I suspect this is caused by us defaulting to `login.microsoftonline.com` instead of `login.microsoftonline.us` which we should use for GCC High. I don't know if this is the only difference between the two clouds, but it's definitely something that we could begin with. This would require a chance on our end.

[2020-11-05 19:12] DakotaWray2 commented on #1931
Thanks for the quick follow up @waldekmastykarz. Happy to test it for you.

[2020-11-06 00:45] nbelyh commented on #1634
May be of some interest, here is a script fragment for Azure DevOps that checks if an app is installed on the target site (assuming "ubuntu-latest" image, o365 CLI installed, and `tenant`, `target_site`, and `app_name` to be tenant name, site name, and the app name respectively.
[code]

and the condition to use in some other task that depends on the fact if app is installed or not (quite dirty, it

[2020-11-06 04:32] plamber opened #1932 "Simplification of m365 aad o365groups and teams commands"
Hello,
I noticed that for many commands used to retrieve and manipulate M365Groups we are using multiple properties that at the end are used for the same purpose.

For example the command `m365 aad o365group user add` asks for two optional properties (groupId, and teamId). But behind the scenes these is the same parameter and are required values. Would it not be better to summarize them into one r

[2020-11-06 04:44] plamber opened #1933 "New command: aad user set"
### Usage

`aad user set [options]`

### Description

`Updates a user in Azure Active Directory AD`

### Options

| Option | Description |
| -- | -- |
| `--id, userPrincipalName <userPrincipalName>` | The object ID or userPrincipalName |
| `--accountEnabled [accountEnabled]` | Indicates whether the account is enabled |
| `--City [City]` | Specifies the user's city |
| `--CompanyName [CompanyName]`

[2020-11-06 08:31] waldekmastykarz commented on #1931
Awesome! Let's see if we can get this moving 💪

[2020-11-06 11:35] estruyf opened #1934 "New command: m365 spo page control set - to allow webpart updates"
### Usage

`m365 spo page control set --webUrl <siteUrl> --name <name> --id <control id> --webPartData '{}'`

`m365 spo page control set --webUrl <siteUrl> --name <name> --id <control id> --webPartProperties '{}'`

### Description

Allows you to set or update control webpart data or properties on a modern page.

### Options

| Option                  | Description                               |
|

[2020-11-06 11:49] pmatthews05 opened #1936 "Bug report: Adding File to SharePoint fails with status code 400, file uploads"
# Description
Receive a 400 status code error when uploading a file to SharePoint Online using m365

### Steps to reproduce

Using Version 3.2.0
I am logged into m365 as myself who is a Site Collection Administrator on the site.

Using Powershell with the following command.

`m365 spo file add --webUrl "https://[tenant].sharepoint.com/sites/Demo" --folder 'Shared Documents' --path 'c:\temp\filetou

[2020-11-06 13:58] waldekmastykarz commented on #1936
Thanks for reporting @pmatthews05 and sorry for the trouble. We'll have a look if we can repro it and will take it from there 👍

[2020-11-06 16:19] estruyf commented on #1936
The `ValidateUpdateListItem` API returns `"Column '_' does not exist`. Will investigate it a bit more, as I currently require this as well for my solution.

[2020-11-06 16:32] estruyf commented on #1936
Found the issue, seems to be an issue in the `mapUnknownOptionsAsFieldValue` method. This passes all options to map them as field values. There is a list to exclude fields, but this list is not complete, as it does not contain all the flags:

[code]

[2020-11-06 18:40] waldekmastykarz commented on #1634
Thanks for sharing @nbelyh 👍

[2020-11-06 18:41] waldekmastykarz commented on #1933
Instead of specifying the different properties one by one, why not allow the command to use any property and then map the specified options to the AAD update request? That way, we'd also offer support for custom properties specified in the organization.

[2020-11-06 18:42] waldekmastykarz commented on #1933
`--id, userPrincipalName <userPrincipalName>` Unfortunately we can't do this. We can't map two different properties to one required properties. Instead, we need to define two separate properties and make them optional.

[2020-11-06 18:43] waldekmastykarz commented on #1936
Our bad and good catch @estruyf.

[2020-11-06 18:48] waldekmastykarz commented on #1932
The original reasoning for this particular case was that people might look for adding users in two context: adding people to a group or adding them to the team. Internally, it's one and the same, but on the outside, it looks like two different things. Our decision was not to bother people with the internal separation in M365 and instead offer an alias that supports both thinking modes.

`-i, --gro

[2020-11-07 09:38] garrytrinder commented on #1936
@arjunumenon did you not fix an issue like this recently on another command?

I think it was by product related to us removing the dependency on Vorpal.

/cc @waldekmastykarz

[2020-11-07 13:43] #1870 closed

[2020-11-07 13:43] #1922 closed

[2020-11-07 13:43] #1936 closed

[2020-11-07 13:44] waldekmastykarz commented on #1936
We have just released a fix for this in the latest preview version. Would you mind checking if all is working as expected @pmatthews05?

[2020-11-07 13:50] pmatthews05 commented on #1936
@waldekmastykarz thank you for this. I will confirm this by Monday at the latest. Not near a PC this weekend.

[2020-11-07 13:54] waldekmastykarz commented on #1936
Excellent! Thank you once again for reporting and please, don't hesitate to reach out if there is anything out of the ordinary. Enjoy your weekend!

[2020-11-07 16:27] arjunumenon commented on #1936
Hey @garrytrinder - Guess I am late for the party. Seems like @waldekmastykarz has already implemented the fix. Guess I should be more fast.. 🏃‍♂️.

You are right Garry. Issue #1903 talks about similar issue. We have to give the exception for the fields in the method which will fix the issue. Now since Waldek has alrady given the fox globally, we may not have to do that from the command scope I gu

[2020-11-07 19:15] garrytrinder commented on #1936
Thank you the reply @arjunumenon I was just sanity checking that we had seen this issue before 😊

[2020-11-08 08:57] #1880 closed

[2020-11-08 09:04] plamber commented on #1933
@waldekmastykarz regarding the userPrincipalname and ID I would then merge them into one property instead. Regarding your suggestion of putting together any properties in a command, do we have an example somewhere?

[2020-11-08 09:09] plamber commented on #1932
While writing longer scripts I always "fell into the same issue". We are not always consistent in the naming of our properties.

I see commands that use "i" as property. Others use the "id" as property but mean the same. On the other hand we are talking of groupIds but use teamId as property. Now that Yammer is also supporting unified groups, should we add yammerId as paramter? Somehow it does not

[2020-11-08 13:04] waldekmastykarz commented on #1936
It was actually @estruyf who fixed it, I just happened to be the messenger. Elio fixed only this one command, not everything, so it could theoretically happen that we'll see it in other places as well.

[2020-11-08 13:09] waldekmastykarz commented on #1933
We've discussing allowing users to specify a single value for ID, kind of like you have `Identity` in PowerShell, in the past, and back then we decided not to do it, and instead let users explicitly choose which option they want to identify the object to work on with. So for now, I'd suggest we stick to this for consistency. If need be, we can revisit our stance and see if the arguments we've used

[2020-11-08 13:15] waldekmastykarz commented on #1932
I'm pretty sure that if you'd look across all commands that we have in the CLI right now, you'd find more inconsistencies. This is something that we picked up over time and didn't get to clean in this version. If you'd like, please feel free to take a stab at it and we can plan it for v4.

When naming options, we use a naming convention, where if possible, the option refers to the last noun in the

[2020-11-08 15:53] pmatthews05 commented on #1936
Hi @waldekmastykarz and @estruyf,
 I can confirm this is now fixed in the v3.3.0-beta.a89af63 this is working correctly. 👍🎉

I've tested with a service principal, added the root folder of a library, and a folder 3 levels deep. With and without the title property filled in.

I'm happy that this is working correctly.

Thank you.

When can I expect v3.3.0 to be available?

[2020-11-09 01:35] rabwill commented on #1892
I can confirm this in windows @garrytrinder @waldekmastykarz

[2020-11-09 02:14] #1901 closed

[2020-11-09 09:10] garrytrinder commented on #1936
Hey @pmatthews05 👋🏻

We release a new stable version of the CLI at the end of every month, so expect the 3.3.0 release to be around 29th November.

[2020-11-09 10:59] arjunumenon commented on #1884
Hey @rabwill  / @waldekmastykarz  - It is a command which  I have used in the past and would love to enhance it by contributing to it.
Do you mind If I take a stab at this?

[2020-11-09 11:02] rabwill commented on #1884
That would be super awesome @arjunumenon ❤All yours !

[2020-11-09 17:22] pmatthews05 opened #1941 "Question: Using m365 teams team list is there a limit to the number of teams"
I have attempted to use the `m365 teams team list` in our production tenant today. I have had no problem in the test environment which has around 90 teams.

Our production environment has 1500+ teams and growing daily. When I run this command I get a response:
`connect ETIMEDOUT [ip address]`

So is there a limit? Is there a way I can call this command in a paging way?

[2020-11-09 17:45] Abderahman88 commented on #1907
@waldekmastykarz I created a PR for this issue.

[2020-11-09 18:15] waldekmastykarz commented on #1941
The command already supports paging and right now we use the default page size as defined by Microsoft Graph. Are you trying to retrieve joined- or all teams?
Have you also tried to use the `--debug` switch to see if it's the first call that's failing already or if some of them come true and it fails at some later point?

[2020-11-10 10:53] pmatthews05 commented on #1941
I'm trying to retrieve all teams. I did try the command with --debug and there was lots of throttling when it was calling getTeamFromGroup.

I need to do some more testing, as I ran the command in PowerShell Core using my account. When it failed it was running inside a PowerShell 5.1 devops pipeline with a service principal account. Unfortunately I need to run it in PowerShell 5.1 at the moment as

[2020-11-11 05:17] rabwill commented on #1819
Removing myself from this until I update my skills on AST for this , meanwhile leaving it open if anyone else wants to take a stab at this ;)

[2020-11-11 05:19] rabwill commented on #1899
I'll take this one up, it's been a while I did a command 👋🏽

[2020-11-11 08:50] waldekmastykarz commented on #1819
Did you have the basic setup in place and were just stuck on AST? If so, is there anything you could share that could help whoever would like to help with this issue?

[2020-11-11 13:26] waldekmastykarz opened #1943 "Enhancement: extend `todo task list` to show task id"
We should extend the `todo task list` command to include task ID. Currently we don't show it, while it's required for other commands like `todo task remove`.

[2020-11-11 13:55] #1145 closed

[2020-11-11 13:55] #1900 closed

[2020-11-11 18:55] waldekmastykarz commented on #1931
All right, I have a first draft ready for you to test.

Setup instructions:

1. Uninstall CLI for Microsoft: `npm un @pnp/cli-microsoft365 -g`
1. Download code as zip from: https://github.com/waldekmastykarz/cli-microsoft365/tree/gcc-high
1. Unpack zip
1. Start terminal and change working directory to where you unpacked the zip
1. Restore dependencies: `npm i`
1. Build: `npm run build`
1. Install:

[2020-11-11 21:49] rabwill commented on #1819
Nothing useful at this stage @waldekmastykarz but I will be looking into this offline so if there is anything useful I can call it out and push a branch in. Just did not want to lock it in so other don't have a chance.

[2020-11-12 07:12] plamber commented on #1878
Hi @sebastienlevert,
is this a command that you would like to pick up? It is using the endpoints you already used in the conversationlist commands.

An important difference here is that you can only execute the operation on private channels only.

Thank you for your feedback.

br,
Patrick

[2020-11-12 09:03] sprider commented on #1943
@waldekmastykarz, could you please assign this to me?

[2020-11-12 12:22] garrytrinder opened #1945 "New command: `cli config set`"
### Usage

`m365 cli config set [options]`

### Description

`Update specific CLI setting with a new value`

### Options

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `-k, --key <key>` | The setting to be updated |
| `-v, --value <value>` | The new value |

### Additional Information

We currently

[2020-11-12 12:25] garrytrinder commented on #1943
All yours @sprider thanks for your help 👍

[2020-11-12 15:12] sebastienlevert commented on #1878
I can, but it will have to wait to next week!

Please assign me!

[2020-11-12 15:15] plamber commented on #1878
@sebastienlevert Thank you. Highly appreciated

[2020-11-12 16:29] phillipharding opened #1947 "m365 spo web set fails with "Error: _ is not a valid web property""
### Description

Calling ```spo web set``` fails with the error **```Error: _ is not a valid web property```** for any command-line parameter passed to it.

_e.g. Simple case_
[code]
Other variations I've tried and result in the same error;
[code]
Attempting to set some of the other properties supported by the command, such as ```--headerEmphasis``` or ```--headerLayout```, yields the same result

[2020-11-12 17:23] garrytrinder commented on #1947
Thank you for reporting @phillipharding and apologies for the trouble.

This has appeared a few times in other commands and looks like a result of removing the vorpal dependency in the latest release (v3.2), if you downgrade to v3.1 you shouldn't see this issue.

@pnp/cli-for-microsoft-365-maintainers looks like this issue is affecting a number of commands so we should look into a other commands a

[2020-11-12 17:53] garrytrinder opened #1948 "Bug report: Error when using CAML Query with `spo listitem list` command"
### Description

Error thrown when attempting to use a Caml query to return a list items from a list.

### Steps to reproduce

Execute a command using a CAML query as per the documentation.

[code]

### Expected result

Returns items from list and does not error

### Actual result

Error is thrown

[code]

### Environment

Docker: m365pnp/climicrosoft365:next (v3.3.0-beta.dfa0e21)
Shell: pwsh

[2020-11-12 17:55] garrytrinder commented on #1948
The fix for this is replace `--query` with `--camlQuery` as `--query` is a global option used for JMESPath queries.

[2020-11-12 17:59] phillipharding commented on #1947
Cheers @garrytrinder shall I close this issue?

[2020-11-12 18:02] waldekmastykarz commented on #1945
I love the idea! Shall we rename the command to `m365 cli config set` to make it clear what we're setting/getting?

[2020-11-12 18:07] waldekmastykarz commented on #1947
I think this is a valid issue @phillipharding, let's keep it open until we have a fix

[2020-11-12 18:44] waldekmastykarz commented on #1891
Hey @plamber, @ValerasNarbutas, @garrytrinder, do we have a consensus as to how to proceed to address this issue?

[2020-11-12 20:15] garrytrinder commented on #1945
Happy to include `config` 👍🏻

In regards to persisting settings, should we create a new file in the home directory to store these values, something like `.climicrosoft365`?

[2020-11-12 23:06] sprider commented on #1439
@waldekmastykarz Please close this issue as we decide drop this.

[2020-11-12 23:13] garrytrinder opened #1951 "Bug report: User-Agent header using old name"
### Description

The User Agent set with every request made by the CLI uses the old name.

### Steps to reproduce

Execute any command in the CLI using the `--debug` option

### Expected result

Output should not contain references to Office 365 CLI.

### Actual result

The User Agent header is set to

[code]

### Environment

Docker: m365pnp/cli-microsoft365:3.1.0
Shell: pwsh

[2020-11-13 03:01] plamber commented on #1891
Hi,
not sure if we have a consensus yet. Its just about to decide if we want to have a fallback loop there or if we do not want to return the MS Group object at all.

I would even consider not returning the Group at all and let the person writing the script doing that for performance reasons. On the other hand, we tend to provide scripts that provide more convenience, therefore, the fallback solut

[2020-11-13 09:16] thomyg opened #1953 "Bug report: m365 teams team list -> Error: Request failed with status code 404"
### Description

Try to list all teams in my tenant with the teams team list command. Throws an error in "regular" mode, but I see the data if I provide the --debug switch.

### Steps to reproduce

D:\DEV\PowerShell\Test
λ  m365 teams team list
Error: Request failed with status code 404

### Expected result

list of all teams in tenant

### Actual result

Error: Request failed with status code 404

[2020-11-13 10:48] waldekmastykarz commented on #1945
I think we already have the logic in place for the tokens file so we could reuse it for this config file as well.

[2020-11-13 10:49] #1439 closed

[2020-11-13 10:50] waldekmastykarz commented on #1891
For backwards compatibility, I'd say let's keep the current behavior. If need be, we can revisit it for the next major version.

[2020-11-13 10:52] waldekmastykarz commented on #1953
Hey @thomyg, thanks for reporting. When running the command against a CDX/MOD tenant, with 8 Teams it works just fine. We'd need some more information about what's going wrong exactly. Can you share some more information from the debug mode about the request that's failing to help us reproduce it?

[2020-11-13 11:28] thomyg commented on #1953
Thx @waldekmastykarz for the quick response!

That is the debug output part I assume to be the problem:

`Request error
data      : {"error":{"code":"NotFound","message":"Failed to execute Skype backend request GetThreadS2SRequest.","innerError":{"date":"2020-11-13T11:19:33","request-id":"379513b6-099a-4e3a-ad36-c2e1c1bed5cd","client-request-id":"379513b6-099a-4e3a-ad36-c2e1c1bed5cd"}}}
headers

[2020-11-13 12:39] appieschot opened #1954 "Bug report: documentation references old env. Variable"
### Description

`using-cli.md` references the `OFFICE365CLI_DEBUG` and `OFFICE365CLI_VERBOSE` environment variables.

### Steps to reproduce

n/a

### Expected result

Should reference the `CLIMICROSOFT365_VERBOSE` and `CLIMICROSOFT365_DEBUG`

### Actual result

References the `OFFICE365CLI_DEBUG` and `OFFICE365CLI_VERBOSE`

### Environment

n/a

[2020-11-13 12:56] appieschot opened #1957 "New command: spo site mailbox list"
### Usage

`spo site mailbox list`

### Description

Given the deprecation of site mailboxes as of April 2021 it seems like a great plan to have the option to list all site mailboxes in a tenant using a `spo site mailbox list` option.

### Options

### Additional Information

See PowerShell alternative on https://docs.microsoft.com/en-us/powershell/module/exchange/get-sitemailbox?view=exchange-ps

[2020-11-13 13:05] appieschot commented on #1953
Running against a tenant with 39 teams using version 3.1.0 is working. Will try to get a test tenant with some more teams :D

[2020-11-13 13:08] appieschot commented on #1945
Sounds like a great plan!

[2020-11-13 13:36] pmatthews05 commented on #1941
Hi @waldekmastykarz, I have attempted to do some extra testing today. I've been using PowerShell Core with a Service Principal AppID and Certificate.

I have attempted to run the following numerous times:
`m365 teams team list`

Sometimes I get a result, sometimes I get "Request failed with status code 500", other times I get a 502 or 504 status code.

500 response
[code]
502 response (haven't bee

[2020-11-13 14:42] garrytrinder commented on #1945
Ok great, so lets reuse the `.cli-m365-tokens.json` file 👍

[2020-11-13 18:59] #1898 closed

[2020-11-13 18:59] #1934 closed

[2020-11-13 19:11] waldekmastykarz commented on #1957
Awesome suggestion! 👏

[2020-11-13 19:13] waldekmastykarz commented on #1953
Thanks for a quick turnaround and the additional info @thomyg. The more data we can gather, the quicker we should be able to fix it 👍

[2020-11-13 19:17] waldekmastykarz commented on #1941
We've just got reported #1953 and I wonder if this is the same issue. Typically, 5xx errors are coming from the service and are not something we can do anything about. That said, if you get these errors consistently when trying to retrieve all Teams and there is no service downgrade then I will follow this up with folks from the Graph team to see if they know anything more about it.

As for the tr

[2020-11-13 19:19] waldekmastykarz commented on #1945
@garrytrinder just to clarify: what I meant was that we have the logic to work with a custom file stored in the user's root folder, not that we should store settings in the same file. That said, we could do it, but then we should consider renaming the file since it no longer would be containing just the tokens.

[2020-11-13 19:25] garrytrinder commented on #1945
Apologies, I think I misread your comment and thank you for clearing this up.

It makes sense to have separate files, I'll update the spec.

[2020-11-14 00:37] thomyg commented on #1953
Looks like something is not working on my tenant. Tried "m365 teams team list" against a regular dev tenant with 181 teams and worked without a problem.

I tried walking through the debug output from the tenant that keeps failing. I have 295 teams in that tenant. And I tried to count the teams I get back from the calls. Looks like there are 3 patches made. If I count "displayName" in each of the r

[2020-11-14 06:54] appieschot commented on #1953
That's some decent research. Thanks for the input!

[2020-11-14 10:43] waldekmastykarz commented on #1945
I've updated code samples in the issue with the new command name. 🚀

[2020-11-14 10:45] waldekmastykarz commented on #1953
Good find! So the question is how we should handle such cases where you can retrieve some data but not all. Shall we show what we can retrieve, potentially giving you the impression that it's all you've got, or shall we throw an error like we do now, even if we can retrieve some data?

[2020-11-14 12:04] #1552 closed

[2020-11-14 12:04] #1907 closed

[2020-11-14 12:04] #1947 closed

[2020-11-14 12:04] #1948 closed

[2020-11-14 12:04] #1951 closed

[2020-11-14 12:04] #1954 closed

[2020-11-14 12:07] waldekmastykarz commented on #1947
We've just released a preview version with this issue fixed. Thanks again for reporting @phillipharding 👏

[2020-11-14 12:10] waldekmastykarz commented on #1552
We've just release a preview version where all secondary output is sent to stderr and only the main command output is sent to stdout. Once again, thank you for your suggestion @alexandair 👏

[2020-11-14 12:11] #1875 closed

[2020-11-14 12:11] #1823 closed

[2020-11-14 19:28] waldekmastykarz commented on #1266
I've found the reason of the issue with

[2020-11-14 19:30] waldekmastykarz commented on #1941
I have more information regarding the truncated output in PowerShell, which I added to #1266

[2020-11-14 19:35] waldekmastykarz commented on #1266
And seems like adding:

[code]

anywhere in the CLI would fix the issue!

[2020-11-15 05:03] #1932 closed

[2020-11-15 05:03] plamber commented on #1932
Closing this issue. We will take up the consolidation of options in another issue

[2020-11-15 16:02] thomyg commented on #1953
I will use one of my MVP support cases to go deeper on the error. At least I would like to know how I can change that team to make the API work again without the obvious solution of deleting it.

I'm not sure that generating the impression of everything worked fine is the way to go if the API returns a 404. I do like the current behaviour of throwing an error. Without it, or with only a warning, I

[2020-11-16 08:43] waldekmastykarz commented on #1953
Awesome! Appreciate your help @thomyg. Please, let us know if you find anything more about what's wrong with some of the Teams in your tenant.

[2020-11-18 01:11] ValerasNarbutas commented on #1891
@waldekmastykarz i do agree, for this specific behavior i do use @plamber  suggestion with loop, to be fare not used in the script but rather MS automate with loop + calls to graph API until I get operation status success :) but its basically does the same thing

[2020-11-18 06:55] yumoraby opened #1960 "Use Certificate in Windows Store to Authenticate to M365"
Both AzureAD and PnP cmdlets have the option to connect using cert for Cert Store without having a cert file:

Connect-AzureAD -AzureEnvironmentName $id.AzureEnvironment -TenantId $id.TenantId -CertificateThumbprint $id.Thumbprint -ApplicationId $id.ApplicationId | Out-Null

Connect-PnPOnline -Tenant $id.TenantDomain -ClientId $id.ApplicationId -Thumbprint $id.Thumbprint -Url https://$domainName-a

[2020-11-18 07:23] waldekmastykarz commented on #1960
Hi @yumoraby, thank you for reaching out. This sounds like a great enhancement. We'll look into what's possible and get back to you as soon as we know more.

[2020-11-18 15:53] DakotaWray2 commented on #1931
I'm getting an error during build. FWIW im on node 10.16.3 and npm 6.9.0 via nvm-windows
`../../../node_modules/@types/request-promise/index.d.ts:26:49 - error TS2694: Namespace 'request' has no exported member 'Response'.`

[2020-11-18 16:45] DakotaWray2 commented on #1931
Hi @waldekmastykarz thanks again for knocking this out. Reporting back that I can successfully hit my GCC High Tenant. Without registering an app in AAD I noted the following (not a conclusive list).

- AAD :white_check_mark:
- SPO :white_check_mark:
- Teams :white_check_mark:
- PowerApps :x: 404
- Outlook :x: 400
- OneDrive :x: 400
- Tenant Status List :x: 500
- Tenant id get :white_check_mark:

[2020-11-18 18:38] waldekmastykarz commented on #1891
All right, so the consensus is to add a loop that will keep waiting until the group has been created, correct?

[2020-11-18 18:45] waldekmastykarz commented on #1931
Thank you for checking out the build! It seems like we've got some things working so we're on a good track!

Re the issue to build the solution on Windows. Let's have a look at it. Other contributors haven't reported it, but perhaps I've introduced a regression in this branch. Let's double check it.

Re connection issues: I'd love to hear more what's wrong and what does it after you created a regi

[2020-11-18 19:01] #1659 closed

[2020-11-19 08:01] waldekmastykarz commented on #1960
Appreciate your offer to help out with the implementation @yumoraby. Please, don't hesitate to reach out if you need any help.

[2020-11-20 06:50] #1899 closed

[2020-11-20 06:55] plamber commented on #1891
@ValerasNarbutas: is this something you would like to pick-up?

Thank you for your feedback

[2020-11-20 10:59] #1266 closed

[2020-11-20 18:29] waldekmastykarz commented on #1941
The truncated output in PowerShell has been solved and is fixed in the latest beta release.

[2020-11-20 18:30] waldekmastykarz commented on #1892
@appieschot weren't you looking into this?

[2020-11-20 18:36] waldekmastykarz opened #1961 "New sample script: install and uninstall package"
Set of sample scripts allowing developers to easily install and uninstall .sppkg packages in their tenant, used during development after running `gulp package-solution`.

Install script:
- [ ] automatically detects the package to install based on the project structure (script assumes it's located in the project root)
- [ ] adds package to the app catalog (overwrite if necessary)
- [ ] deploys to a

[2020-11-20 18:37] waldekmastykarz commented on #1961
@StfBauer once we have these scripts, is this something you could consider for including in the community SPFx generator to help devs work more efficiently?

[2020-11-20 18:53] waldekmastykarz opened #1962 "New command: create Azure AD app registration"
### Usage

`aad app add [options]`

### Description

Creates Azure AD app registration

### Options

Option|Description
----|-----
`-n, --name <name>`|Name of the app
`--multitenant`|Specify to make the app available to other tenants
`-r, --redirectUris [redirectUris]`|Comma-separated list of redirect URIs
`-p, --platform [platform]`|Platform for which the redirectUris should be configured. Allowe

[2020-11-20 18:56] waldekmastykarz commented on #1962
@pnp/cli-for-microsoft-365-maintainers I'd love your feedback on the above spec

[2020-11-21 16:12] waldekmastykarz opened #1963 "New command: create custom AAD app for use with the CLI"
### Usage

`cli app add`

### Description

Creates custom Azure AD app for use by CLI for Microsoft 365

### Options

Option|Description
----|----
`-m, --mode <mode>`|Determines if CLI will be used by a user (delegated) or as a deamon process (appOnly). Allowed values `delegated`,`appOnly`
`-p, --permissions [permissions]`|List of permissions to assign to the app. If not specified, will assign all

[2020-11-21 16:14] waldekmastykarz commented on #1963
@pnp/cli-for-microsoft-365-maintainers I'd love your feedback. In particular, I'd appreciate if you thought about:
- is this spec oversimplified and are we missing some cases?
- are `user` and `deamon` clear enough or do we use different names to denote the different usage modes
- is it correct to assume that in app-only mode folks will be okay with using a secret or should we use a certificate in

[2020-11-21 19:18] waldekmastykarz commented on #1203
Hey @russgove, are you still working on this?

[2020-11-21 19:20] waldekmastykarz commented on #1716
Hey @PrasadKasireddy are you still working on this?

[2020-11-21 19:21] waldekmastykarz commented on #1489
Hey @romanrozinov, are you still working on this?

[2020-11-21 19:21] waldekmastykarz commented on #1225
Hey @mpowney, are you still working on this?

[2020-11-21 19:22] waldekmastykarz commented on #1224
Hey @mpowney, are you still working on this?

[2020-11-21 19:23] waldekmastykarz commented on #1578
Hey @romanrozinov, are you still working on this?

[2020-11-21 19:24] waldekmastykarz commented on #1345
Hey @siddharth-vaghasia, are you still working on this?

[2020-11-21 19:25] waldekmastykarz commented on #871
Hey @arjunumenon, are you still working on this?

[2020-11-21 19:26] waldekmastykarz commented on #1739
Hey @arjunumenon, are you still working on this?

[2020-11-21 19:27] waldekmastykarz commented on #1834
Hey @yeshwanthjagannath, are you still working on this?

[2020-11-21 19:27] waldekmastykarz commented on #1771
Hey @leeford, are you still working on this?

[2020-11-21 19:29] waldekmastykarz commented on #1871
Hey @Abderahman88, are you still working on this?

[2020-11-21 19:31] yeshwanthjagannath commented on #1834
@waldekmastykarz - Yes.

[2020-11-21 19:42] romanrozinov commented on #1578
I'll post my inflight progress, @waldekmastykarz. Apologies for delays due to crazy work schedule, but I do want to wrap this up.

[2020-11-22 01:01] garrytrinder commented on #1963
Great suggestion! 👏 Some of my thoughts...

I don't think it needs to be anymore than what it is.

I would prefer `delegate` and `app`, as this then makes it clear what type of permissions will be added, this is also what the Azure Portal refers to them as.

Thinking from a best practice perspective, certificate is more _secure_ than providing a password or secret, so I think we should promote thi

[2020-11-22 06:41] plamber commented on #1963
Hi,
agree with @garrytrinder regarding delegated and app mode. I would extend the permissions concept by letting the use specify the service he/she wants to enable.

For example:
- ReadWrite.All (enables all permissions of the CLI)
- Read.All (enables all permissions of the CLI for read operations
- ReadWrite.SPO (enables all read and write SPO permissions)
- Read.SPO (enables all read SPO permiss

[2020-11-22 09:24] garrytrinder commented on #1963
Love this, great idea 👏🏻

[2020-11-22 13:40] pmatthews05 commented on #1941
Thank you. I will test it out tomorrow.

[2020-11-22 15:01] Abderahman88 commented on #1871
Hey @waldekmastykarz,

I'm still working on it. (only need to work on the unit tests)

[2020-11-22 16:19] #1943 closed

[2020-11-22 16:32] plamber commented on #1962
Hi @waldekmastykarz,
not sure about the scope section because I find it difficult to oversimplify that part. Could we use the same naming of permissions as in #1963 instead of using "apis"?

Instead of providing a "secretname" I would just provide a flag --secret. I would also provide an option to generate an upload a certificate with a flag.

Cheers,

[2020-11-22 18:23] waldekmastykarz commented on #1834
Awesome! Please, don't hesitate to reach out if you need any help 👍

[2020-11-22 18:24] waldekmastykarz commented on #1578
No problem. Thanks for the quick reply 👍

[2020-11-22 18:32] waldekmastykarz commented on #1963
Thanks for your thoughts gents! Here are some thoughts:

How about `delegated` and `app-only`? _mode: delegate_ sounds weird and _mode: app_ isn't quite self-explanatory.

I like the suggestion to use a cert instead of a secret. I thought first of using a secret, because it doesn't expire. Since there is no reminder on expiring certs, admins are often getting surprised when things stop working. If

[2020-11-22 18:32] waldekmastykarz commented on #1941
Awesome! Looking forward to hear how it's working for you.

[2020-11-22 18:33] waldekmastykarz commented on #1871
Awesome! Thanks for your quick reply.

[2020-11-22 18:38] waldekmastykarz commented on #1962
The name `apis` is mentioned to more easily map the option to the UI/docs for reference. When creating a registration, there are a few different types of permissions that you can set. Would `apiPermissions` be clearer?

I've been thinking about this too, but to me an option named `secret` indicates specifying the actual secret, where in fact, we're expecting the user provide the name of the secret

[2020-11-22 23:40] Abderahman88 commented on #1857
Just stumbled to this issue.

![tsconfigMissing](https://user-images.githubusercontent.com/36161889/99920461-f310c580-2d23-11eb-82d6-dbbb191c0aff.PNG)

Couldn't we not just change the code to get this structure (like a new SPFx project)?

[code]

upgrade-1.11.0.ts
[code]

[2020-11-23 00:42] Abderahman88 commented on #1892
I found the problem of this issue.

![allPassing](https://user-images.githubusercontent.com/36161889/99921511-18ed9880-2d2b-11eb-8aa0-6faf323aac74.PNG)

The spy returns in **Windows** the following string:
![rn](https://user-images.githubusercontent.com/36161889/99921643-fdcf5880-2d2b-11eb-82ba-0cc2dea5bd6e.png)

The replacedContent-string:
![n](https://user-images.githubusercontent.com/36161889/9

[2020-11-23 04:58] arjunumenon commented on #871
Hey @waldekmastykarz  - Sorry for not keeping you updated. My bad. My scheduled had been crazy for the past couple of weeks. Now I  should be in a position to switch gears. Will start looking into this during this week.

Thanks for follow-up and sorry for not updating about that.

[2020-11-23 05:01] arjunumenon commented on #1739
Hey @waldekmastykarz I had started looking into this 2 weeks back. Then I had to keep this on temporary hold due to my hectic schedules. I had plans to commence the dev this week. You asked right on time. 👍. Blame is on me, I should have kept you updated.

I have started back into this and should keep you informed soon about the development. Sorry for keeping you on wait mode. 😞

[2020-11-23 08:32] appieschot commented on #1892
Nice catch! Any thoughts on how to fix it? Could we change the default behaviour of this specific windows test?

[2020-11-23 09:40] pmatthews05 commented on #1941
@waldekmastykarz I can confirm that I can receive all items as json now. Thank you. Also ran 3 times in a row without an error.

Earlier in this question I asked about if another command could be added to skip checking Archive Status. For people who just want a list of teams, this would make this call a lot quicker and less throttling on tenants with large numbers of teams.

would be enough.

Is t

[2020-11-23 09:55] waldekmastykarz commented on #882
According to the [docs](https://docs.microsoft.com/en-us/sharepoint/dev/apis/alm-api-for-spfx-add-ins?tabs=sprest), the REST API should support using access token. Shall we give it another try?

[2020-11-23 11:48] leeford commented on #1771
Apologies, I am - sorry, been a fair bit going on!

[2020-11-23 15:16] Abderahman88 commented on #1892
@appieschot I was thinking about replacing all occurrences of \r\n to \n and then compare the 2 strings.
This will work for both Linux and Windows users.

BTW You may assign this one to me.

[2020-11-23 18:29] waldekmastykarz commented on #1857
Our resolutions are meant to show only the difference (what's missing) not the end state. If we were to change this rule, we'd need to update all of them to stay consistent.

[2020-11-23 18:31] waldekmastykarz commented on #871
Don't worry. No harm done. Happens to all of us 👍

[2020-11-23 18:32] waldekmastykarz commented on #1739
Don't worry about it @arjunumenon. No harm done. 🙂

[2020-11-23 18:34] waldekmastykarz commented on #1941
Awesome to hear you're unblocked @pmatthews05. I think it's a valid suggestion for us to let you choose if you want to check archive status or not. If you could please open a separate issue, then we'll pick it up from there. Appreciate your help! 👏

[2020-11-23 18:43] waldekmastykarz commented on #1771
No problem. Do you want to still work on it or shall we mark it as available and let others pick it up?

[2020-11-23 18:53] waldekmastykarz commented on #1892
@Abderahman88 there is a problem with this solution. If we used it and our code changed to always output `\n` no matter the OS, then the test would pass, but we'd end up with erroneous behavior where we'd be replacing new lines with `\n` no matter the OS, which isn't desireable.

The gist of the test is to verify that the only thing that has changed is the project name.

On macOS, both the test pr

[2020-11-23 22:14] yeshwanthjagannath commented on #1834
@waldekmastykarz - Can you help me understand the POST JSON payload for adding the fields as part of this command for the 'ViewFields' parameter? I am unable to determine JSON request that needs to be sent for the field collection. I believe it is to be an array and when I tried the below snippet, got an error:

"A node of type 'StartArray' was read from the JSON reader when trying to read the con

[2020-11-23 22:58] Abderahman88 commented on #1857
Most people (and me 😄 ) are used to copy and paste. The "missing" "src/**/*.ts"-line can cause problems.
But I understand your point of view.

[2020-11-24 13:12] siddharth-vaghasia commented on #1345
@waldekmastykarz .... apologies.. I could not start, might not able to work on this for awhile....

Really sorry for keeping this open for a long time...

[2020-11-25 01:28] russgove commented on #1203
hey,
haven’t had a chance to work on it in a long,long time.
i  hope to get some time over the holidays.
if i’m blocking someone else from working on it, you can remove me from the task.
russell

Sent from my iPad

[2020-11-25 09:08] #1941 closed

[2020-11-25 12:30] waldekmastykarz commented on #1857
The problem with showing complete solutions is that we'd need to take into account what you already have and merge it with what's missing. If we could do this in a fool-proof way, we could go all the way down to automating the upgrade 😁

[2020-11-25 12:35] waldekmastykarz commented on #1345
No problem. Let's give others a chance to take a try and if you want to pick it up again some time soon and it's still available, you can still help 👍

[2020-11-25 12:36] waldekmastykarz commented on #1203
No problem. I don't think it's blocking anyone.

[2020-11-25 13:32] arjunumenon commented on #1739
Hello @waldekmastykarz  / @rabwill  - I am forced to be back with couple of questions (probably a lot) which would need your guidance / suggestion.
### Default Content Type - SharePoint?

- When I checked the code base of PnP PowerShell, I see that the [default is kept as SharePoint](https://github.com/pnp/PnP-PowerShell/blob/731842308fc3ff5c2aaeb9af32defc2604c211f9/Commands/ManagementApi/GetUnifi

[2020-11-25 18:31] waldekmastykarz commented on #1739
I'd say let's leave it empty and define it as a required value. If we see over time that people use a particular type of content a lot, we can define it as the default value

I think you've got everything

I don't think there is any timeout on command execution as it's a process that could theoretically run forever. To speed things up, we could try to split the requests in blocks of 5 or 10 and th

[2020-11-25 18:49] waldekmastykarz opened #1969 "Node.js warning displayed when using CLI in Node@14"
When using CLI v3.3.0+ in Node@14 you get the following warning:

[code]

You get to see this warning, no matter which command you execute and it's visible even when initializing command completion. The warning comes from markshell and @StfBauer is working on fixing it.

[2020-11-25 19:24] waldekmastykarz commented on #1834
I wonder if `ViewFields` shouldn't be specified as:

[code]

[2020-11-26 06:10] arjunumenon commented on #1739
Thanks a lot @waldekmastykarz . Now the picture is super clear. Definitely I am going to bother with you with more questions if something is stuck up. 😕

Just a final thing before we go ahead with the implementation.

If we are making the parameter as **required value**, do you think it make sense to update the specs that being the case, `-c, --contentType <contentType>`. Currently it is made as o

[2020-11-26 19:07] sebastienlevert commented on #1878
Just wanted to check in on this one. Still on my table, but looking for more cycles. If someone want it, feel free to raise you hands. If not, I'll keep it and come to it somewhere before the end of this year! Sorry about it!

[2020-11-26 19:32] waldekmastykarz commented on #1739
Yes, you're right. Let's update the spec.

[2020-11-26 19:34] waldekmastykarz commented on #1878
No need to be sorry. Life happens, especially around switching jobs 😁 Shall we set it as open for grabs and if it's still available when you have time, you can take it back. Deal?

[2020-11-26 20:08] garrytrinder commented on #882
Updated OP to use new template, add new supporting documentation and opened up.

[2020-11-26 20:36] garrytrinder commented on #1962
How about `--available-to-other-tenants [true|false]`, if omitted, is defaulted to false, same as how Azure CLI implements it.

As above, how about `--allow-implicit-flow [true|false]` ?

As above, how about `--use-secret [true|false]` ?

When we say permissions, do we mean scopes?

`https://graph.microsoft.com/User.Read,https://microsoft.sharepoint-df.com/Sites.Read.All` vs `User.Read,Sites.Read.

[2020-11-26 20:38] garrytrinder commented on #1963
Works for me 👍🏻

Agreed.

Agreed, I like the idea of permission sets.

[2020-11-26 22:45] sebastienlevert commented on #1878
Deal!

[2020-11-27 18:16] waldekmastykarz commented on #1962
We don't use `-` to separate words. So instead, we could use `--availableToOtherTenants`. I don't think it needs to be a `true|false`. If we use it as a flag, if not specified, it's a `false`, so it's easier. Naming-wise, my preference would be still `--multitenant` which is shorter 🙂

See the remark above

For the secret we have to specify name, so it's not enough to just say `useSecret`. We coul

[2020-11-27 18:23] waldekmastykarz commented on #1963
Updated spec

[2020-11-27 19:04] garrytrinder commented on #1963
Ship it 😊

[2020-11-27 19:23] garrytrinder commented on #1963
Actually, can we change `app-only` to `appOnly`, removing the `-`?

Like you said in another issue, we don't use them in option names so using them in values doesn't seem right.

[2020-11-27 19:58] StfBauer commented on #1969
Not really. Don't get the warning in markshell.

[2020-11-27 21:22] StfBauer commented on #1969
1.3.6 - fixed most likely.

[2020-11-28 01:07] garrytrinder commented on #1962
Makes sense, lets go with that 🙂

I think setting a default name would be my preferred option, `default` sounds good, so lets go `--withSecret`.

I see, happy to go with your suggestion then as I've not done much Teams development, hence why I've not used them 😄

[2020-11-28 14:20] waldekmastykarz commented on #1963
Spec updated. Is it ready to go?

[2020-11-28 14:20] waldekmastykarz commented on #1969
Awesome! Will check asap. Thank you! 👏

[2020-11-28 14:22] waldekmastykarz commented on #1962
Additional thing I was thinking is, that as long as they're not required, there is no problem with introducing them, if there is a chance they'd be helpful.

[2020-11-28 16:15] garrytrinder commented on #1963
Ship it (again) :slightly_smiling_face: :rocket:

[2020-11-28 16:18] garrytrinder commented on #1962
Spec is ready but just to be picky, shouldn't it be `multiTenant` instead of `multitenant`? :slightly_smiling_face:

[2020-11-28 18:31] waldekmastykarz commented on #1969
Just tried v1.3.6, unfortunately the warning is still there

[2020-11-28 18:40] waldekmastykarz commented on #1962
Following Microsoft's spelling, it's `multitenant`

<img width="469" alt="image" src="https://user-images.githubusercontent.com/11164679/100523555-909b4780-31b1-11eb-9997-73e494d906e2.png">

[2020-11-28 19:29] garrytrinder commented on #1962
Well, I can't argue with that 😁

[2020-11-28 21:25] YannickRe opened #1971 "Update command: m365 login --certificateBase64Encoded"
### Usage

m365 login [options]

### Description

Allow to login with a certificate, but passed in as a base64 encoded string

### Options

Would leverage the existing set of options and **add** :
| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `-certificateBase64Encoded [certificateBase64Encoded]` |

[2020-11-28 22:07] Abderahman88 commented on #1892
After some further digging, I found some interesting things.

When cloning the repo on my Windows-machine, git was replacing all LF's to CRLF.
This was due to an incorrect settting of git config (core.autocrlf) on my machine.
By adding a .gitattributes file, the problem is solved.

![macOsReadme](https://user-images.githubusercontent.com/36161889/100526679-86864280-31cb-11eb-9073-77bfbf1f0df9.PNG)

[2020-11-29 13:46] YannickRe opened #1973 "Update command: m365 login, remove the need to pass in --thumbPrint"
### Usage

m365 login [options]

### Description

Allow to login, but remove the need to pass in the thumbprint parameter when using certificate based authentication

### Options

Would leverage the existing set of options and **remove**:
| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `-thumbprint [t

[2020-11-29 13:52] YannickRe opened #1974 "Update command: m365 login, allow empty password for a pfx certificate"
### Usage

m365 login [options]

### Description

Allow to login with a .pfx certificate that doesn't require a password.

### Options

Unsure how this would be achieved (for now), just believe this should be possible.

### Additional Information
I believe we should be able to use a .pfx certificate that doesn't have a password (this is the case when fetching a base64 encoded certificate from Azur

[2020-11-29 13:59] YannickRe opened #1975 "Update command: m365 login, pass in --clientId and --tenantId, removing the need for environment variables"
### Usage

m365 login [options]

### Description

Allow to pass in clientId and tenantId as options to the m365 login command when using the certificate authentication option.

### Options

Would leverage the existing set of options and **add** :
| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `—clien

[2020-11-29 17:36] waldekmastykarz commented on #1974
Thanks for the suggestion. By itself, it's pretty odd though. PFX is secured by password so why would you want to use it without a password?

[2020-11-29 18:12] YannickRe commented on #1974
There is no rule that a .pfx needs to be protected by a password. When you export a .pfx certificate from Azure KeyVault, it doesn’t have a password. When you make a .pfx from a base64 encoded string, it doesn’t necessarily have a password.
Even if you export a .pfx from the Windows Certificate Store you don’t HAVE to provide a password.

It would make CLI support certificates like this, even if w

[2020-11-29 18:16] waldekmastykarz commented on #1971
Great suggestion! We should definitely do it 👍

[2020-11-29 18:20] waldekmastykarz commented on #1892
Good find. I wonder though if this isn't something that we want to keep to ensure that CLI works correctly on both Windows and Linux/macOS, rather than assuming that all files that we'll be working on will have LF-line endings.

[2020-11-29 18:23] waldekmastykarz commented on #1973
If it's possible to derive the thumbprint from the cert, we should definitely do it to simplify things. Let's look into this and implement if possible.

[2020-11-29 18:27] waldekmastykarz commented on #1974
Right, so the recommendation is to protect your .pfx with a password because it contains a private key, but it's not necessary. Good catch! We should definitely update CLI to not require password.

[2020-11-29 22:20] Abderahman88 commented on #1892
@waldekmastykarz If we just replace all newlines (\n for Linux and \r\n for Windows) for `replacedContent` in the test to os.EOL?
As test I tried putting a \n as text in the README and the test passes.
This approach will (I think 😄) work on both OS's without manipulating `fs.writeFileSync`. Or am I missing something? 😕

![ReadMeSlash](https://user-images.githubusercontent.com/36161889/100554829-d1

[2020-11-30 00:28] YannickRe commented on #1973
I have a POC for this running, so I can confirm it is possible.

[2020-11-30 07:39] garrytrinder commented on #1973
Awesome, thank you @YannickRe it's all yours 👍🏻

[2020-11-30 15:17] waldekmastykarz commented on #1892
I'm not worried about tests passing on all platforms. Instead, I'm concerned about not catching something platform-specific in our code, because we assume that new lines are always `\n`.

[2020-11-30 15:18] waldekmastykarz commented on #1973
Hero! 👏

[2020-11-30 17:41] yeshwanthjagannath commented on #1834
@waldekmastykarz - Thank you for the response. Yes, i tried setting that, but looks like it is not being accepted. I believe, we will have to use the `/ViewFields/addviewfield('FieldName')` API endpoint through an iteration and build out the view fields.

For `Content-Type` i had `application/json; odata=verbose`

Will give the above a shot and will reach out if i need anything else.

[2020-11-30 18:37] waldekmastykarz commented on #1852
Issue confirmed fixed in markshell@1.3.7. We can proceed with this issue. Thanks @StfBauer ❤️

[2020-11-30 18:38] waldekmastykarz commented on #1969
Fixed in markshell@1.3.7

[2020-11-30 18:42] waldekmastykarz commented on #1975
Thanks for the suggestion @YannickRe! There are quite some differences between how PnP PowerShell and CLI for Microsoft 365 handle authentication. That said, it's a valid suggestion. Let us have a look how we could properly handle it.

[2020-11-30 18:47] waldekmastykarz commented on #1975
Note for implementation, if we can support this in the `login` command, then we should also update the `cli consent` and `cli reconsent` commands to support this as well and offer a consistent experience

[2020-11-30 19:20] garrytrinder commented on #1975
Could we use the same mechanism as we discussed in #1945 to set the `clientId` and `tenantId`?

When passing them via `login` command we persist, effectively using the internal implementation of `cli config set`.

Maybe we should also clear out the settings if `m365 logout` is called.

[2020-11-30 20:14] YannickRe commented on #1974
I struggle with writing clean code for #1973 without also making changes for this improvement... Can I have this one too? I'll make separate PR's ;)

[2020-11-30 20:53] YannickRe commented on #1975
@garrytrinder I'm not sure. I don't like the idea of having these two values persisted on disk, because it would mean they will be reused for every subsequent session (if you don't call `m365 logout` explicitly). I'd prefer to make this explicit every time I make a login command and if I don't supply it, it should fallback to the built-in id and not my previously persisted id.
Just my 2c.

[2020-11-30 21:06] Abderahman88 commented on #1892
The code at this moment works with both LF and CRLF line endings. (Tested with a README in CRLF)
The test projects are not platform bound. I just saw there's a difference between the SPFx-versions, but this is not a problem.
It's only the test for Windows that fails because the line endings for the template literal _replacedContent_ are always \n and the output of `fs.writeFileSync` is \r\n

That'

[2020-12-01 09:23] leeford commented on #1771
I am happy to work on it, will be working on it today :-)

[2020-12-01 13:08] waldekmastykarz commented on #1974
Sounds like a plan! Appreciate your help! 👏

[2020-12-01 13:14] waldekmastykarz commented on #1975
@YannickRe so here's a difference between PowerShell and bash/zsh/cmd: in PowerShell you have the notion of a session. In other shells you don't. So for your suggestion to work, we would have to persist the tenant and clientId along with token information. Each command execution in CLI for Microsoft 365 is each own process that doesn't know anything about what else happened in the current session.

[2020-12-01 13:18] YannickRe commented on #1975
Hah, learned something new. That's what you get for staying in the Windows world for so long 😃
I'll leave the rest of the discussion up to you, as I don't completely "get" it but I "feel" it is going in the right direction 🙂

[2020-12-01 13:20] waldekmastykarz commented on #1892
This is a good find! So knowing that line terminators in template literals, which we use in tests, are always `LF`, shall we replace them with `os.EOL` before running the assert? Should that fix our issue in a cross-platform safe way?

[2020-12-01 13:21] YannickRe commented on #1973
The code for calculating the thumbprint is simple (the effort that went into it is inversely proportional tho 😅), but I lost code coverage and cannot for the life of me figure it out. I submitted the PR, if someone has insights I'd really appreciate it.

[2020-12-01 14:28] mbuergi opened #1979 "Enhancement: Add support for logging in from managed devices when access policy "block access from apps on unmanaged devices" is active"
### Description

With the SharePoint Admin Center Policy "Block access from apps on unmanaged devices" enabled, users are unable to login to M365 CLI, even when using an ADJoined Device.

Login fails for all federated users.
Login is successful for cloud-only accounts (onmicrosoft accounts).

### Steps to reproduce

* Login to https://tenantname-admin.sharepoint.com and enable the Access control p

[2020-12-01 14:33] plamber commented on #1979
Thank you @mbuergi

We will check internally and come back to you asap

[2020-12-01 15:02] waldekmastykarz commented on #1771
Awesome! Appreciate your help!

[2020-12-01 15:04] waldekmastykarz commented on #1979
Following the same setup, can you sign in using device code auth for example in Azure CLI or PnP PowerShell?

[2020-12-01 15:41] mbuergi commented on #1979
PnP PowerShell:
Logging in with "Connect-PnPOnline -Url https://tenant-name.sharepoint.com -PnPManagementShell" I have the exact same behaviour. But there are many other options to login with PnPManagementShell that are working for me.

Azure CLI
Logging in with "az login" I am directly redirected to https://login.microsoftonline.com/common/oauth2/authorize?response_type=code&client_id=xxxxxx-xxxx

[2020-12-01 15:59] leeford commented on #1771
Update:

![image](https://user-images.githubusercontent.com/472320/100763722-76e64400-33ed-11eb-8994-71d00a03a938.png)

I have reduced the columns in text output and the JSON is prettified. I have also added ISO date validation from the existing Utils file.

One thing I have noticed is that you cannot report on a period greater than 90 days on a single Graph call... I am thinking we should be chec

[2020-12-01 20:28] YannickRe commented on #1974
I didn't like my plan anymore, thinking of how to implement this one so we could easily also implement #1971 .

Current approach:
- assume certificate in Buffer is PEM, and decode it.
-- if works => great, it is PEM
-- if fails with exception ==> assume PFX and continue PFX code path

It's not the cleanest of code but I cannot figure out how to determine if a base64 encoded string is a pem or a pf

[2020-12-01 20:58] garrytrinder commented on #1975
This would be a good move however wouldn't we need to keep this duplication so that we don't break existing usage?

Sounds like a plan 🚀

[2020-12-01 21:15] garrytrinder commented on #1979
I've not come across this issue myself however it looks like this is specific to using device code flow and conditional access policies, rather than a specific issue with CLI as you are seeing similar behaviour on other tools.

The below article suggests that this is by design.

Source: https://tech.nicolonsky.ch/device-code-auth-ca/

What login options work for you in PnP PowerShell?

[2020-12-01 21:27] garrytrinder commented on #1771
Thank you for the update @leeford 👍🏻

Sounds sensible, we should certainly validate a maximum date range to ensure the command behaves consistently and in a user friendly way.

Nothing in the docs about a 90 day limit, just that calls are returned in pages of 1000, maybe something we should feed back to the Graph team?

[2020-12-01 21:32] garrytrinder commented on #1974
Feel free to submit a draft PR and lets discuss 😊👍🏻

[2020-12-01 21:34] YannickRe commented on #1974
@garrytrinder The PR is waiting for you 😉

[2020-12-01 22:17] YannickRe commented on #1971
It looked simple to implement, so I just created a separate PR. Maybe you can still assign to me? 😅

[2020-12-01 22:21] garrytrinder commented on #1971
All yours @YannickRe thank you very much for your help :+1:

[2020-12-02 08:05] plamber opened #1982 "New command: m365 aad o365group recyclebinitem remove"
m365 aad o365group recyclebinitem remove

Permanently deletes a Group from the recycle bin

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `--id [id]` | Id of the Group in the recycle bin                                    |
| `-d, --displayName [displayName]` |  Displayname of the Group |
| `-m, --m

[2020-12-02 09:18] mbuergi commented on #1979
On managed device, interactive session, i use either `Connect-PnPOnline -CurrentCredentials` or `Connect-PnPOnline -UseWebLogin`

For scheduled scripts, running on a server which is not hybrid joined, I have registered an App and authenticate with AppID and AppSecret.

[2020-12-02 10:47] leeford commented on #1771
I've submitted a PR for the docs - https://github.com/microsoftgraph/microsoft-graph-docs/pull/10883

[2020-12-02 12:55] waldekmastykarz commented on #1975
In v3 we'd absolutely keep everything as-is to preserve backwards compatibility. We could mark is as deprecated and remove in v4.

[2020-12-02 13:00] waldekmastykarz commented on #1982
I don't think we have it at the moment yet, so it would be a nice addition indeed.

[2020-12-02 13:04] waldekmastykarz commented on #1979
Like @garrytrinder mentioned, since other tools show similar behavior, I'd say this is by design. What's interesting though is, if there is another way we could support authentication that would work in your scenario.

I'd suggest that we rephrase this issue and change it from a bug into a feature request. Agreed?

[2020-12-02 13:05] waldekmastykarz commented on #1771
Great move @leeford. Let's indeed include validation to help users do the right thing 👍

[2020-12-02 14:01] plamber commented on #1982
@waldekmastykarz: what about this suggestion? We might search for another name.

[2020-12-02 14:16] #674 closed

[2020-12-02 14:16] #1852 closed

[2020-12-02 14:18] #1969 closed

[2020-12-02 15:37] Abderahman88 commented on #1892
@waldekmastykarz I think this will work cross-platform. I will do some tests (with LF and CRLF files) and get back to you with the results.

[2020-12-02 21:51] rabwill commented on #1739
Thanks @arjunumenon!

[2020-12-02 22:01] rabwill commented on #1884
Hi @arjunumenon how are you going with this one 😊? any support from our side?

[2020-12-03 08:38] mbuergi commented on #1979
Sure - I leave that up to you guys how you want to handle this.

[2020-12-03 09:26] arjunumenon commented on #1884
Hey @rabwill  - I am sorry I had not notified about that. My schedule seems to be super tight for this week and next. 😞 How about if you un-assign me for the time being so that other can pick this up. I don't want this nice enhancement to be hanging because of my schedule.
If you agree, please feel free to un-assign myself from this issue.

Once I am back, I will be more than happy to pick this up

[2020-12-03 09:30] arjunumenon commented on #871
Hey @waldekmastykarz - My schedule is a bit tight for this week and next. I don't want this enhancement to be untouched because it is stuck with me.

Do you think it make sense to un-assign me from this issue so that someone else can pick it up. As of now, I am thinking of relaxation of my tight schedule by next week. Once I am back, I will be more than happy to take a stab at this.

Sorry to keep

[2020-12-03 11:58] rabwill commented on #1884
No worries at all! I will unassign you for now 👍

[2020-12-03 17:31] nanddeepn commented on #1884
Hi @rabwill
Can I work on this?

[2020-12-03 20:25] garrytrinder opened #1984 "Bug report: `spo listitem set` not updating items"
### Description

Unable to update SharePoint List items using `spo listitem set`

### Steps to reproduce

Execute a simple command to update the `Title` field

`m365 spo listitem set --webUrl https://contoso.sharepoint.com/sites/site--listTitle MyList --id 1 --Title UPDATE`

Or same command using `--systemUpdate` option

`m365 spo listitem set --webUrl https://contoso.sharepoint.com/sites/MockData

[2020-12-03 22:37] garrytrinder commented on #871
Hey @arjunumenon absolutely no trouble, we appreciate you letting us know, as @waldekmastykarz has said, no harm done 😊

Lets open this up, if it is still open when you have free time, by all means let us know and we will be more than happy to assign it back to you.

[2020-12-03 22:38] garrytrinder commented on #1884
All yours @nanddeepn thank you for your help 👍

[2020-12-04 03:26] arjunumenon commented on #871
Thanks @garrytrinder for your understanding and appreciate that. Will do that once my schedule relatively relaxes. 🤞

[2020-12-04 10:04] arjunumenon opened #1985 "Bug report: Issue when building Code Base"
### Description

When we try to build the version of Microsoft 365 CLI after getting the latest version, we are getting an error while builidiing.

Following is the error which are getting.

![image](https://user-images.githubusercontent.com/10369964/101149735-59abb280-3645-11eb-9b39-b43d67d2bfba.png)

### Steps to reproduce

Get the latest version from Git using following command
[code]

Then exe

[2020-12-04 10:14] arjunumenon commented on #1985
Team,

I am so sorry. It was so silly from my end. Should have tested before initiated the issue. 🤦‍♂️

A simple `npm install` fixed the issue. Guess there were some updates for the packages and I did not realize that.

Pardon me for the confusion.

[2020-12-04 10:14] #1985 closed

[2020-12-04 12:34] waldekmastykarz commented on #1982
I'm a bit hesitant to have this as a default behavior. What if we introduced a separate switch `--all` so that it's an explicit action to remove all groups rather than something that you could accidentally do by omission?

As for the naming, right now we have the `aad o365group remove` and `... restore` commands.  In SPO we have `spo tenant recyclebinitem remove` and `...restore` for specifically

[2020-12-04 12:36] waldekmastykarz commented on #1892
Awesome! Appreciate your help @Abderahman88

[2020-12-04 12:42] waldekmastykarz commented on #1985
Always good to double check. No harm done @arjunumenon 👍

[2020-12-04 12:56] plamber commented on #1982
Updated the specs. (Added --all and changed the naming).

I am going to create two more issues:
- alias for restore options
- introduction of skipRecycleBin

[2020-12-04 13:59] plamber opened #1986 "Extend command: aad o365group remove"
### Description
We want to align the aad o365group remove command with other delete commands using recycle bins. The aad o365group command deletes a group and moves it to the recycle bin. We want to provide a switch parameter --skipRecycleBin to permanently delete the group.

### Options
| Option                  | Description                               |
| ----------------------- | -----------

[2020-12-04 14:13] plamber opened #1987 "Modify command: aad o365group restore"
We want to consolidate the restore command for o365group to using the recyclebin namespace.
Move the `aad o365group restore` command to `aad o365group recyclebinitem restore`.

Ensure that the old commands do not break by keeping an alias of the old name.

[2020-12-04 18:38] waldekmastykarz commented on #1982
Can I propose using `recyclebinitem` instead of `recyclebin` as we're not deleting the recycle bin itself but rather an item inside?

[2020-12-04 18:40] waldekmastykarz commented on #1987
May I propose using `recyclebinitem` instead of `recyclebin`, since we're restoring an item inside the bin rather than the bin itself?

[2020-12-04 18:41] waldekmastykarz commented on #1931
Hey @DakotaWray2, did you have a chance to look some more into it?

[2020-12-05 18:42] #1971 closed

[2020-12-05 18:42] #1973 closed

[2020-12-06 22:51] Abderahman88 commented on #1892
@waldekmastykarz

There is an issue with the proposed solution. This will not work in all cases.

This line of code will not work:
`replacedContent = replacedContent.replace(/(\r\n|\n|\r)/gm, os.EOL);`

To get the desired result, we need something like this:
`replacedContent = replacedContent.replace(/(\r\n|\n|\r)/gm, [Line terminator that is used in the README]);`

Depending on which OS the testp

[2020-12-07 06:30] plamber commented on #1979
Hi @mbuergi,
we will verify how to integrate an interactive authentication to the CLI.

To implement it we might need to verify how the azure cli fixes this issue. We need to integrate the interactive authentication through a browser in the solution. The challenge we are facing is that we want to implement the solution in a way to be cross-platform.

We will follow these basic steps:
- verify if t

[2020-12-07 06:37] mbuergi commented on #1979
Hi @plamber
Thanks for the update - let me what you need me to do in order to verify the azure cli interactive authentication on our setup.
regards
Matt

[2020-12-07 15:46] waldekmastykarz commented on #1892
I think the only reasonable thing to do is to change the README.md in question to use LF and accept the possible risk that we could mess up endings if we're not careful and our tests wouldn't pick it up.

[2020-12-07 16:22] SyedAshrafuddin opened #1991 ""m365 outlook mail send" gives error message"
Hi,

I've been trying to use the CLI M365 in order to send a message. During the process, I get the following error:

Error: Request failed with status code 400

In order to check if CLI has got necessary permissions, I'm not able to fetch the consent information for any other services except Yammer API.

How do we troubleshoot this kind of error message?

Thanks.