[2022-09-08 09:24] Adam-it commented on #3595
@nanddeepn along the way we agreed internally that all `roleinheritance reset/break` should have `--confim` option and if not use should prompt the user to confirm this operation. Very similar to what we use in `remove` commands.
I updated the spec. Please consider it as well during you development

[2022-09-08 09:26] Adam-it commented on #3658
@appieschot I updated the current issues for the `reset` and `break` commands. So it will be included in new commands as well. Thanks you for that comment 👍 I thought I already done that but I got a bit lost ☹

[2022-09-08 19:31] Adam-it commented on #3644
closing as related PR got merged. Awesome work 👍

[2022-09-08 19:31] #3644 closed

[2022-09-08 19:31] Adam-it commented on #3481
closing as related PR got merged. Awesome work 👍

[2022-09-08 19:31] #3481 closed

[2022-09-09 05:33] martinlingstuyl commented on #3638
Ok @waldekmastykarz, @Adam-it,  I've done some extra research and rewrote the issue.

@Adam-it, you're a posh user, do you recognize the issue I'm describing?

[2022-09-09 06:45] waldekmastykarz commented on #3103
I wouldn't mark it as a good first issue indeed, as it's too complex for someone brand new to the project, like you noticed. Good call 👍

[2022-09-09 06:46] waldekmastykarz commented on #3638
Great suggestion and it's clearer now, @martinlingstuyl. Let's do it!

[2022-09-09 14:05] waldekmastykarz opened #3660 "Bug report: missing quotes in spfx project upgrade to 1.16.0-beta.1"
### Description

Missing quotes in the FN010008 finding resolution, when upgrading SPFx project to 1.16.0-beta.1

### Steps to reproduce

Upgrade an older project to SPFx v1.16.0-beta.1

### Expected results

FN010008 reporting:

[code]

### Actual results

[code]

### Diagnostics

_No response_

### CLI for Microsoft 365 version

latest from main

### nodejs version

v16

### Operating system (en

[2022-09-09 14:58] waldekmastykarz commented on #3653
Since this is a list command, let's extend the spec to mention which properties we'll show by default in text output

[2022-09-09 14:58] waldekmastykarz commented on #3657
Since this is a list command, let's extend the spec with the list of properties we should show by default in text output

[2022-09-09 15:00] waldekmastykarz commented on #3516
@soyfrien, not a problem at all. You're raising a valid concern that we should investigate and act accordingly. We appreciate your help 😊

[2022-09-09 15:02] waldekmastykarz commented on #3650
So is the skinny that we should close this issue because right now, there's no way for us to implement it?

[2022-09-09 17:46] waldekmastykarz commented on #3636
It seems that our .md files have inconsistent line endings which is why it's working on macOS/linux, but sometimes breaks on Windows. Also, it might or might not show up when you work locally, depending on your local git settings. I'll adjust the regex so that it supports both `\r\n` and `\n` rather than assuming OS-specific line endings.

[2022-09-09 17:58] milanholemans commented on #3636
Nice catch!

[2022-09-09 21:25] martinlingstuyl commented on #3307
Hi @MathijsVerbeeck, are you still working on this?
Let us know if you need any help!

[2022-09-09 21:29] martinlingstuyl commented on #3306
I think this needs some research. It might be impossible implementing this with azure AD auth. @waldekmastykarz, you tried setting up cookie auth a short time ago. I fear we might even need if we want to successfully create event receivers that are actually fired. See the note up top about issues surrounding this in PnP PowerShell.

[2022-09-09 21:41] martinlingstuyl commented on #3171
Hi @kevmcdonk, are you still working on this? Or should we remove you assignment to make room for another contributor doing his/her part?

[2022-09-09 21:44] martinlingstuyl commented on #3153
Hi @vipulkelkar, are you still working on this? Don't feel embarrassed to hand it back to us if other priorities have come in the way. Of course: if it temporarily got off the radar it would be awesome if you could still fix it.
Let us know!

[2022-09-09 21:49] kevmcdonk commented on #3171
No, please do remove me for now

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Martin Lingstuyl ***@***.***>
Sent: Friday, September 9, 2022 10:41:15 PM
To: pnp/cli-microsoft365 ***@***.***>
Cc: Kevin McDonnell ***@***.***>; Mention ***@***.***>
Subject: Re: [pnp/cli-microsoft365] New command: search schema add (Issue #3171)

Hi @kevmcdonk<https://github.com/kev

[2022-09-10 04:50] plamber opened #3662 "Latest version of docs docker file stops running"
I just ran today on a Windows machine following command:
[code]

The command failed with this exception.
![image](https://user-images.githubusercontent.com/18241305/189469356-fa324a75-20cf-4d89-bf27-aaa6f79cfc59.png)

[2022-09-10 04:50] #3651 closed

[2022-09-10 04:50] #3652 closed

[2022-09-10 06:21] martinlingstuyl commented on #3171
Done! Let us know if you want to pick something up again. Thanks for all the work!

[2022-09-10 07:05] martinlingstuyl commented on #3662
Hi @plamber, apparently the docker image you are using does not include the tags dependency that we use in the repo.

You could just run the devcontainer in our repo, that contains everything you need.

[2022-09-10 08:28] plamber commented on #3662
I am using the instructions of our docs. A suggestion how to do tga

[2022-09-10 10:15] martinlingstuyl commented on #3662
Where is this in our docs? Can't find it 😉

[2022-09-10 10:38] plamber commented on #3662
https://github.com/pnp/cli-microsoft365/wiki/Minimal-Path-to-Awesome

Under Windows

[2022-09-10 11:09] martinlingstuyl commented on #3662
Yeah... we should change that!

[2022-09-10 18:30] martinlingstuyl commented on #3662
https://github.com/pnp/cli-microsoft365/wiki/Minimal-Path-to-Awesome#preview-docs-using-mkdocs-installed-on-your-machine

This part has also gone out of date...

It should refer to the pip_requirements.txt file to install all the right dependencies.

[2022-09-11 08:42] #3497 closed

[2022-09-11 08:42] #3589 closed

[2022-09-11 08:42] #3636 closed

[2022-09-11 08:57] waldekmastykarz commented on #3306
My scenario for cookie-based auth was a bit different. The problem with getting a cookie from a terminal is that you need a browser window and you need to do it cross-platform which means bringing in electron which gets complicated pretty quickly and might not be worth the effort.

[2022-09-11 09:06] waldekmastykarz commented on #1931
Closing due to lack of interest in the feature. Let's revisit if it becomes relevant

[2022-09-11 09:08] waldekmastykarz commented on #2610
@pnp/cli-for-microsoft-365-maintainers any ideas how we could solve this short from implementing a virtual file system where we can modify files and have rules work on these virtual files instead of the actual files that we collected from a project?

[2022-09-11 12:18] waldekmastykarz commented on #3662
That's a bit problematic, because so far we've been using the `mkdocs-material` image. With the introduction of the tags plugin, we need to check if we can keep using the existing image, albeit in a different version/setup or if we need to publish our own, or change the way we work with Docker.

[2022-09-11 12:26] waldekmastykarz commented on #3662
So the good news is, that if we reference a newer version of the image, all works as expected. I'll update the MPA. Good catch @plamber 👏

[2022-09-11 12:28] waldekmastykarz commented on #3662
MPA updated

[2022-09-11 12:28] #3662 closed

[2022-09-11 12:46] waldekmastykarz commented on #3630
It seems like a bug in the API, and most likely we'll need to wait until we know more about it. Putting on hold for now

[2022-09-11 16:04] #3419 closed

[2022-09-11 16:05] #3658 closed

[2022-09-11 16:06] #3136 closed

[2022-09-12 03:40] mikezimm opened #3665 "SPFx web parts no longer in tool box after upgrading from SPFx 1.11 to 1.14"
### Description

I attempted to upgrade 3 web parts from v1.11 to 1.14 recently.

## In all 3 cases, after I installed the v1.14 version into the app catalog, I could add to a site through site contents but could not add it to a page.

NOTE:  Two were fairly complex real projects, one was a Hello World just to make sure it was not my projects.

### Steps to reproduce

I took note of each step and

[2022-09-12 03:47] mikezimm commented on #3665
# I apologize if this is too much detail... but here are my notes:

## Part 1:  Create initial v1.11 web part from scratch:

## Created new github project to

- Build as 1.11 and then upgrade the same as other 2 projects
- https://github.com/mikezimm/native1.11.git

## Change to node 10

- nvm use 10.24.1

## Create new project

- yo @microsoft/bla bla, used all default settings
- gulped just fine

[2022-09-12 03:52] mikezimm commented on #3665
## Deployed to app catalog

![image](https://user-images.githubusercontent.com/49648086/189570404-9cdbd9f3-bd71-4f9d-bcde-48ac1b2ef41c.png)

[2022-09-12 03:52] mikezimm commented on #3665
## Refreshed **previously installed page**
No issues, auto-upgraded

![image](https://user-images.githubusercontent.com/49648086/189570456-77f22bc3-e53c-4815-a0db-d3e7e8807d70.png)

## Added to new page in same collection
No issues, also was SPA

![image](https://user-images.githubusercontent.com/49648086/189570607-ce85aa0d-90c6-4cfe-90f8-37ce26b1f7a8.png)

![image](https://user-images.githubuserc

[2022-09-12 03:56] mikezimm commented on #3665
## But in NEW Site collection
Added to contents

![image](https://user-images.githubusercontent.com/49648086/189570852-b9d1b629-bfd4-4ea2-a713-5e15d3dc4f12.png)

## But in NEW Site collection - Not able to find in toolbox

![image](https://user-images.githubusercontent.com/49648086/189571056-577968b0-6289-47d1-a947-be6fd49b8a1d.png)

## NOT visible as SPA unless it was previously installed on site

[2022-09-12 04:21] mikezimm commented on #3665
## NOTE that all of the above was done on my dev tenant.

For my two production web parts, I didn't take any notes because I never had issues like this... but this is roughly what happened:

## Did the upgrade using same CLI and from SPFx v1.11 to SPFx 1.14.

- But I also updated 100's of files and made a lot of other changes so it was a lot messier.

## After doing the minimal upgrades plus the o

[2022-09-12 05:10] mikezimm commented on #3665
## Final thoughts - possibly a bug with the feature id?

I'm wondering if it has something to do with the new 'feature' id in the package-solution.json.
The CLI recommended adding the 'feature' section with an id which was not in my 1.11 projects.
Does this feature id have anything to do with adding the solution/web part to new sites?

What is strange is that when I look at the site features page

[2022-09-12 06:03] vipulkelkar commented on #3153
@martinlingstuyl apologies for the delay, i will try to get to this towards the weekend, if not i will make this available to be picked up..thanks :)

[2022-09-12 06:10] martinlingstuyl commented on #3153
Thanks for the response @vipulkelkar, and for all the work you're doing. Have a great week!

[2022-09-12 07:01] martinlingstuyl commented on #2038
Hi @plamber, @waldekmastykarz, the property is now surfaced when using the `--withGroups` option. Is that enough to close this one?

[2022-09-12 07:07] appieschot commented on #3657
Good point, the result would return this: (and will potentially grow depending on what will be added). How about we put only first level properties in the text output?

[code]

[2022-09-12 07:23] plamber commented on #2038
I would say yes

[2022-09-12 12:22] appieschot commented on #3653
Great feedback! Updated the specs 🦾

[2022-09-12 12:26] Jwaegebaert commented on #3370
Hey there @MathijsVerbeeck, are you still working on this issue?

If you need any help, let us know. 😉

[2022-09-12 15:48] appieschot opened #3668 "New command: m365 pp solution list"
### Usage

m365 pp solution list

### Description

Lists solutions in given environment

### Options

Option | Description
-- | --
`-e, --environment <environment>` | The name of the environment to list all solutions for

### Examples

List all solutions for the given environment

[code]

### Additional Info

Have a look at #3653 to see how to retrieve the required org URL.

`https://ORGURL/api/da

[2022-09-12 15:49] appieschot commented on #3668
@pnp/cli-for-microsoft-365-maintainers please shoot before me opening this up ;-)

[2022-09-12 15:55] MathijsVerbeeck commented on #3307
@martinlingstuyl I've written all the code. I only have to add the code that would handle multiple event receivers with the same name (the selection part). I'll try and finish this this week.

[2022-09-12 16:34] milanholemans commented on #3307
In that case we should just throw an error like we do in other commands.
Example:
https://github.com/pnp/cli-microsoft365/blob/f956c5da7fec2c629abd18947a88f6bd149f9974/src/utils/planner.ts#L50-L56

[2022-09-12 17:42] waldekmastykarz commented on #3668
Could we offer this ability behind an option, eg `--onlyVisible` or `--isvisible true|false`?

Will the values of all these properties fit in a terminal window of reasonable width?

[2022-09-12 17:43] waldekmastykarz commented on #3657
We're limited by the width of the terminal window, so let's select the few properties people would most likely need the most.

[2022-09-12 17:44] waldekmastykarz commented on #3665
Thanks you for all the information! I'm sure it will help us figure out what's wrong. Give us a couple of days to repro and we'll get back to you as soon as we know more.

[2022-09-12 18:05] martinlingstuyl commented on #3630
Hi @pnp/cli-for-microsoft-365-maintainers,

So I've looked into this. These are my conclusions:
- As we thought, the `owner` role cannot be granted currently.
- When you create a new permission, It seems you can only add new permissions with the roles `read` and `write`.
- However: when you update existing permissions, you can use the roles `read`, `write`, `manage` and `fullcontrol`.

That there

[2022-09-12 18:20] appieschot commented on #3668
Yes we could however I do not know what it shows if we list 'invisible' results as I have no clue what is in there. Couldn't find results on my tenant but haven't tested extensivly. Part of the implementation would be to run it against 1 or 2 tenants to see the results if that property is either usefull or not usefull at all. The UI only lists visible according to the rest call that I inspected.

[2022-09-12 21:49] mikezimm commented on #3665
@waldekmastykarz , Thanks for looking into it.

I did some additional testing and have something new to report that might help.

On a separate 3rd production web part that I have been upgrading ... I tried the following in my dev tenant:

Note:  This web part's last deployment to app catalog was SPFx v1.11... I had not deployed and retracted it before.

For this test, I commented out the features

[2022-09-12 22:01] mikezimm commented on #3665
@waldekmastykarz , well my optimism just got a dose of reality.
I am able to add the web part to new pages ONLY on sites where it was previously installed.

When I add it to a NEW site via Site Contents, Add an app,
- I see it in the Site Contents as the latest version,
- But Can NOT find it in the toolbox :(
- So frustrating

![image](https://user-images.githubusercontent.com/49648086/189765797-0

[2022-09-12 22:14] mikezimm commented on #3665
And because I like pain, I also tried the following

- I rolled back the app catalog version one more time
- From the site where I freshly installed the upgraded version (and could not see it on the page)
- Was not able to add to the new site, so I also removed it.
- Still not able to add to page.
- Cleared the recycle bin on the site and 2nd stage collection recycle bin
- Re-added the web part to

[2022-09-13 00:52] mikezimm commented on #3665
@waldekmastykarz ,
I got a suggestion from @AJIXuMuK  to completely delete the feature object in the package-solution.json per
https://github.com/SharePoint/sp-dev-docs/issues/8431#issuecomment-1243778037

This seemed to resolve the issue in my test sample as well as one production web part on my dev tenant.

I hope the other two are salvageable given what I did in the app catalog but I will live

[2022-09-13 06:09] appieschot commented on #3657
In that case my vote would be for `disableEnvironmentCreationByNonAdminUsers` and `disableTrialEnvironmentCreationByNonAdminUsers` as I use those the most. Other input is valued :)

[2022-09-13 07:13] martinlingstuyl commented on #3657
@appieschot, @waldekmastykarz: checkout the text output of spo tenant and planner tenant. We just list the entire props list there.

[2022-09-13 07:41] milanholemans commented on #3500
Is this discussion still relevant now that SPFx 1.15.2 has been released some weeks ago?

[2022-09-13 08:45] appieschot opened #3670 "Implement more PowerPlatform commands"
With the advent of hacktober fest and our ambition to create a set of new good first issues following a list of commands we need for the Power Platform, a first 'shot' at it below. Lets gather additional requests in this issue and create new issues based on them.

# good first issues
Issues that should be relatively easy since we already have some of the stuff in place

- [ ] `m365 pp environment

[2022-09-13 08:46] martinlingstuyl commented on #3670
What about `pp solution export` and `pp solution import`?

[2022-09-13 10:58] quantrpeter commented on #3547
We have updated the code, what we should do? fire a new pull request? thanks

[2022-09-13 11:01] milanholemans commented on #3547
Hey @quantrpeter

Creating a new PR is not needed. All you have to do is push your new code to the same branch you worked on previously. Your old PR will be updated automatically.
If I'm not mistaken, last time you worked on your `main` branch.
Tip for next time: create a new branch based on your main branch to work on one issue.

[2022-09-13 12:20] quantrpeter commented on #3547
sorry for the dumb question, If I switch to a new branch. Will the PR follow? If no, I need to submit a new PR. Thank you very much

[2022-09-13 12:27] milanholemans commented on #3547
As you can see here, your current PR is linked with your main branch.
![image](https://user-images.githubusercontent.com/11723921/189899754-6f5a3dd2-2d23-449a-8f4f-b53b64cfbfa7.png)

This means that every change you push to your `main` branch will be visible in the PR. If you work on another branch, these changes will not show up in this PR. So if you made your changes on a different branch, you s

[2022-09-13 14:51] nanddeepn commented on #3603
Can I work on this?

[2022-09-13 14:52] milanholemans commented on #3603
Sure @nanddeepn

Thank you for contributing! 👏

[2022-09-13 15:44] rudolphpienaar opened #3671 "Ability to search outlook address books?"
As part of (an extension to?) the

[code]

it would be rather useful to also be able to verify possible recipients or search for them in an addressbook. Something like

[code]

that would return a (JSON) structure of responses.

[2022-09-13 15:46] rudolphpienaar opened #3672 "Does anyone know of other applications that build off these CLI apps?"
Hi all --

I have been searching to little avail for client apps that might use/interface with these? For example, a CLI email app that uses `m365 outlook` as backend? It would be amazing if `mutt` was able to leverage this.

Does anyone know of any such apps?

[2022-09-13 18:20] appieschot commented on #3653
Okey minor update, after creating a custom app reg I can confirm that
`m365 request --url "https://digiwijs.api.crm4.dynamics.com/api/data/v9.0/EntityDefinitions" --debug` works (requires some filtering / selecting of proper values) and an update to the base pp command class to figure out what the dynamics URL is as that differs per environment. But I do get a response. Suggest that I pick up this

[2022-09-14 10:19] quantrpeter commented on #3547
thanks @milanholemans

[2022-09-15 06:19] Jwaegebaert commented on #3671
Hey @rudolphpienaar, thanks for your suggestion.

Wouldn't this be quite similar to a command we already have `m365 aad user list`?
Here you can search for user within AAD based on there properties like e.g. displayName, jobTitle, etc.

[2022-09-15 07:45] AkashSatoliya commented on #3612
Hi @martinlingstuyl

Finally able to move one step ahead but still getting same error.

After running 'm365 login' command and feeding the code to https://microsoft.com/devicelogin, I directly got below message instead of asking for permissions as shown in screenshot on https://pnp.github.io/cli-microsoft365/user-guide/connecting-office-365/#log-in-using-the-default-device-code-flow

I'm not sure

[2022-09-15 07:47] martinlingstuyl commented on #3612
Hi @AkashSatoliya, just to be sure: MFA is disabled on that account?

[2022-09-15 07:49] AkashSatoliya commented on #3612
Hi @martinlingstuyl ,

Yes, MFA has already been disabled for this account.

[2022-09-15 08:03] waldekmastykarz commented on #3665
@mikezimm thank you for all the extra information and the effort you put into providing us with so much details to help us understand what's going on. We really appreciate it.

If you want to understand if the issue lies with the CLI or SPFx itself, the easiest would be to upgrade your old project based on the instructions provided by the CLI and then compare the web part manifest with a brand new

[2022-09-15 08:04] waldekmastykarz commented on #3500
I don't think so, because the default set has changed and developers can still decide which rules they want to use. Closing for now.

[2022-09-15 08:04] #3500 closed

[2022-09-15 10:26] waldekmastykarz commented on #3630
Thank you for the research and additional information, @martinlingstuyl. I fully agree with your suggestion that our users should be able to set whatever permission they want without being exposed to the caveats in the API, and which we should handle instead for them. Also, let's remove the erroneous `owner` permission.

[2022-09-15 10:28] martinlingstuyl commented on #3630
Thanks @waldekmastykarz, let's get this fixed and shipped 🚀 Resource Specific Consent should be configurable!

[2022-09-15 22:15] Adam-it commented on #3638
totally 💪
... except 🤔.. te second method "Method 2: Using verbatim strings with single quotes:" I think that you should be using single quotes like `'` not `` ` ``, as the second left at the end will actually break line when enter is pressed

[2022-09-15 23:14] Adam-it commented on #1620
@pnp/cli-for-microsoft-365-maintainers seems like over time there was very little interest in this one 🤔. Do we want to leave this open or maybe close and wait and see if someone will rise this again in future?

[2022-09-15 23:19] Adam-it commented on #1716
@pnp/cli-for-microsoft-365-maintainers seems like over time there was very little interest in this one 🤔. Do we want to leave this open or maybe close and wait and see if someone will rise this again in future?
@appieschot since you are the original author, I guess you were the most interested in this sample?

[2022-09-16 04:19] Adam-it commented on #2281
@pnp/cli-for-microsoft-365-maintainers seems like it's been a while and we still don't support batching. maybe if we are still interested in it we could add a issue for it and for now close this one as it's already been some time?

[2022-09-16 04:32] Adam-it commented on #1782
removing the on hold as the related issue was done 💪 and we could start working on this sample
@yeshwanthjagannath are you maybe still interested in this one ?

[2022-09-16 06:21] AkashSatoliya commented on #3612
Hi @martinlingstuyl,

Any luck with this error?
Also I wonder if consent is completed appropriately as it didn't show the list of permissions. Is it expected behavior?

Thanks.

[2022-09-16 06:31] appieschot commented on #3670
@martinlingstuyl would be a great addition, but already part of the `pac` cli, so my vote would be to prioritize them last and focus on the stuff that's not there yet.

[2022-09-16 07:06] Adam-it commented on #1759
@pnp/cli-for-microsoft-365-maintainers maybe this we could recheck and try to create a spec for this one to make it more appealing to the contributors?
Any ideas? @garrytrinder 🙏?

[2022-09-16 07:10] Adam-it commented on #1828
@appieschot, @klubis did you had some time to have a double check on that endpoint and how we may use it?
@pnp/cli-for-microsoft-365-maintainers this issue seem quite old and with little attention, maybe we could revisit this one?

[2022-09-16 07:27] Adam-it commented on #1716
closing as agreed internally with the author. Thanks @appieschot for the support 🤩

[2022-09-16 07:27] #1716 closed

[2022-09-16 07:36] martinlingstuyl commented on #3670
That's fine with me!

[2022-09-16 07:37] martinlingstuyl commented on #3670
Adding them to the epic would still be good though

[2022-09-16 07:59] milanholemans commented on #2739
Hey @SekThang just checking, are you still working on this?

[2022-09-16 10:52] appieschot commented on #1620
Agree that we should clear up some old ones but this one still feels like a great improvement 🤔

[2022-09-16 12:11] appieschot commented on #3670
Done :D

[2022-09-16 17:11] martinlingstuyl commented on #3612
Hi @AkashSatoliya, if consent is completed you do not get another message about it, so yes, that's expected behavior.

Tell me: if you run `m365 login` (the regular interactive sign in) and use the account you were using on the password type signin, does that work? Can you sign in successfully and execute commands?

[2022-09-17 10:51] waldekmastykarz commented on #3672
Hey @rudolphpienaar, CLI is used by a few tools that I know of, like the Viva Connections Toolkit VS Code extension, and Angular schematic for Microsoft Teams. We [expose an API](https://pnp.github.io/cli-microsoft365/user-guide/use-cli-api/) that apps can use to integrate with the CLI. Is there anything specific that you're interested in?

[2022-09-17 13:04] appieschot commented on #3650
@waldekmastykarz happy to close the command, but as soon as we have #3653 implemented we could use that command to retrieve the required values and provide this command for ppl who are not aware on how to get values from dataverse :)

[2022-09-17 15:16] milanholemans commented on #2988
Hi @robdy just checking, are you still working on this?

[2022-09-17 15:19] milanholemans commented on #2993
Opening it back up due to lack of response.

[2022-09-17 15:27] milanholemans commented on #3277
Hi @veronicageek just checking, are you still working on this?

[2022-09-17 15:32] milanholemans commented on #3386
Blocking issue is completed, opening this issue back up again.

[2022-09-17 15:37] veronicageek commented on #3277
@milanholemans - I'm on annual leave right now but feel free to grab it if you want 🙂

[2022-09-17 15:41] milanholemans commented on #3277
No problem, you can work on it when you're back. 😊
Was just checking old issues that have been silent for a while.
Have great holiday! 🌞

[2022-09-17 15:54] milanholemans commented on #3490
Maybe could create a template called `Command enhancement`. For other enhancements, they should open a blank issue because it will get too wide to fit into a template. Command enhancements are the most used type of enhancement I think.

[2022-09-17 16:12] milanholemans commented on #3546
So short summary:
So we can introduce a new option `--associatedGroupsOnly` to the command `spo group list`. This will list **only** the associated groups of the specified web.

I think it can be opened up?

[2022-09-17 16:25] milanholemans commented on #3615
@martinlingstuyl are all sub tasks of this epic done? If so, can this issue be closed?

[2022-09-17 16:44] martinlingstuyl commented on #3615
No, some extra research needs to be done here.

[2022-09-17 18:32] milanholemans opened #3676 "Ensure all `spo` commands have `--listId`, `--listTitle` and `--listUrl` options"
Noticed some sort of inconsistency for the `spo` commands. To reference a list, you could use 3 ways: title, id or URL.

Below is a summary of all commands with their missing option(s).

Command | Options to add
--- | ---
spo contenttype add | --listId, --listUrl
spo contenttype get | --listId, --listUrl
spo contenttype field remove | --listId, --listUrl
spo field add | --listId, --listUrl
spo fie

[2022-09-17 19:10] milanholemans commented on #3639
Looks good to me 👍
Could you also put the API request in your spec? This way it will be easier for whoever picks up this issue, else he/she has to research everything again.

[2022-09-17 20:55] martinlingstuyl commented on #3676
Nice work @milanholemans! It's a lot of issues if we create them all separately, and the work is rather repetitive. I personally think it would benefit us if we just took it in one go.
What about you?

[2022-09-17 20:58] martinlingstuyl commented on #3676
About this one: that would be a breaking change. I think we should make a separate issue for renaming it, so we can take it up for v6

[2022-09-17 20:58] milanholemans commented on #3676
That was exactly what I was thinking. What about your issue? Should we close it then?

However for `spo list set` where `--title` is already an existing property, maybe we should remove it from this issue and create a separate issue for the v6 branch?

[2022-09-17 20:58] milanholemans commented on #3676
Great minds think alike 😄

[2022-09-17 20:59] martinlingstuyl commented on #3676
Yeah, I noticed it too :)

Let's close that one as a duplicate if we agree on doing this in one issue

[2022-09-17 21:35] martinlingstuyl commented on #3639
Well, I'd still like the freedom of picking either /Lists/some-list or just some-list. Both can be created, which is why I made it web relative.

Regarding the other point: that's okay, I'll look into it.

[2022-09-18 06:03] martinlingstuyl commented on #3627
Closing this as a duplicate of referenced issue

[2022-09-18 06:03] #3627 closed

[2022-09-18 10:50] #3260 closed

[2022-09-18 14:40] waldekmastykarz commented on #3386
Before we start implementation, we should split the feature in two parts:

1. Refactor the option sets interface, which needs to be done at once by one person because it's a breaking change
2. Define the list of commands where we could use the new functionality. We could define each command that needs to be changed as a separate issue so that we can invite other folks to help out as well. We can e

[2022-09-18 15:13] vipulkelkar commented on #3153
@waldekmastykarz  did the updated code work with the `displayName` property ? I made some changes to the code in such a way that manifest transformation only creates the `displayName` property. Again, the Graph API call doesn't throw any error but the app isn't updated either. I might be missing something

Making this issue available as I may not be able to look into it over the next few days. The

[2022-09-18 15:21] milanholemans opened #3678 "Rename `--title` to `--newTitle` for `spo list set` command and add `--title` and `--url` option"
The idea is to add extra options for the `spo list set` command to align it more with other `spo` commands that have a reference to a list.

* Rename option `--title` to `--newTitle`
* Introduce 2 new options `--title` and `--url` to reference the list
* Current option `id` will become optional

| Option | Description |
| --- | --- |
| `--title [title]` | Title of the list to update. Specify eithe

[2022-09-18 17:27] waldekmastykarz commented on #3153
I was testing the API rather than the code to see if the update is possible at all and what's the culprit. Thanks for keeping your code as a starting point for whoever will pick this. I appreciate your help 👏

[2022-09-18 17:29] waldekmastykarz commented on #3650
Let me see if I understand it correctly: while there's no API that we can use, we can grab the list of chatbots from Dataverse, is that correct @appieschot?

[2022-09-18 17:33] waldekmastykarz commented on #3657
@martinlingstuyl the difference there is that the returned object is one object with many properties. Typically, list commands return many items, which is why we're formatting them in a table. If the result of this call is just one item as well, then we don't need to trim the properties that we show because they won't be formatted as a table anyway.

[2022-09-18 17:34] waldekmastykarz commented on #1759
Great idea @Adam-it! 👏

[2022-09-18 17:46] waldekmastykarz commented on #3668
If we're not sure about the visibility, could we then skip it for the first implementation and add it in the future as an extra option if its usage is clearer? Good suggestion to skip display name in favor of Name. Let's check if the rest would fit in a reasonably sized terminal window or if we need to skip some other properties as well.

[2022-09-18 17:48] waldekmastykarz commented on #3490
Before we commit to this, could we share here an example of what would go in the template? It would make it clearer what we're looking at and help us decide if it's something we want to do or if the value add is too little to be meaningful.

[2022-09-18 17:49] waldekmastykarz commented on #1620
I think this is a nice issue to get started. Let's keep it for now

[2022-09-18 20:04] Jwaegebaert commented on #3678
Great suggestion @milanholemans. Looks good to me!

[2022-09-18 20:58] #3271 closed

[2022-09-18 21:03] #3660 closed

[2022-09-19 04:45] AkashSatoliya commented on #3612
Hi @martinlingstuyl

Thanks for reply. Yes, I'm able to run 'm365 login' command interactively using the account I was trying to login using username and password. After device login I'm able to run commands.
For example, I was able to run below commands successfully:
[code]

But it fails when I try to login using same account using `m365 login -t password -u "someupn@contoso.com" -p "zxc098!@#$%^

[2022-09-19 07:22] appieschot commented on #3650
That is correct; there is a fixed dataverse table present if you create chatbots and they hold the references and names to those chatbots

[2022-09-19 18:41] mikezimm commented on #3665
@waldekmastykarz ,
Based on what was mentioned in the other thread, having the features object added once it was already deployed is an issue.

## So at the very least:
It would be a good idea for the CLI **to at least strongly warn the person NOT to add the features object if the solution has already been deployed**.

I still have not received an official answer to:
What impact might this 'bandai

[2022-09-20 09:45] AkashSatoliya commented on #3612
Hi @martinlingstuyl

Is there any specific requirement for running login command with username and password?

I tried to run same command in Azure CD pipeline but it results in same error.

[2022-09-20 10:09] martinlingstuyl commented on #3612
Hi @AkashSatoliya, OK, good to hear it is in fact running using the interactive way.

My recent research has showed that the username/password login flow can return this error in the following scenario's:
- Your username or password is incorrectly written.
- MFA is enabled
- Consent has not been given.

I also got this error just now because I had accidentally written `-userName`  instead of `--us

[2022-09-20 10:41] AkashSatoliya commented on #3612
Hi @martinlingstuyl

Thanks for reverting with suggestion.

- Username and passwords are correct as I logged in with same one in interactive login. I tried with `m365 login --authType password --userName "someupn@contoso.com" --password "zxc098!@#$%^&*()[]{}"` method as well. I tried with exact username case as well but still result is same.
- MFA is already disabled as the account I'm using is a

[2022-09-20 10:55] veronicageek commented on #3277
@waldekmastykarz @garrytrinder - I'm trying to find the property that will dive into the values of each field (`FieldValues`). For example in PowerShell we've got `$doc.FieldValues.FileLeafRef` to get the actual value. Then I can compare if it's `null` or not, but can't seem to find it 😟

[2022-09-20 10:59] martinlingstuyl commented on #3612
Another thought: I'm assuming you are using the UPN, and not the emailaddress in case UPN and e-mailaddress are not exactly the same?

[2022-09-20 11:41] robdy commented on #2993
Thanks, Milan and Waldek. I'm happy for someone else to take over. I updated the spec with the current discussion

[2022-09-20 17:57] waldekmastykarz commented on #3665
Thank you for the additional information and the reference to the other thread. Let me have a look what's the best way to handle upgrade is forward and I'll post here as soon as I know more.

[2022-09-20 18:01] waldekmastykarz commented on #3277
@veronicageek would retrieving the corresponding list items and getting field values from there work?

[2022-09-20 18:31] aaden001 commented on #3656
Hi @martinlingstuyl,

I am currently having the stated problem you mentioned. Is AAD Consent page completely command line friendly -Noniterative?

[2022-09-20 19:47] martinlingstuyl commented on #3618
Hi @pnp/cli-for-microsoft-365-maintainers,
Time for some discussion, as @milanholemans PR is almost merged by @waldekmastykarz 😉.

We have like 560 commands. I was planning on splitting the work into 5 issues, each with a nice task list of 112 commands.

[2022-09-20 19:58] Jwaegebaert commented on #3618
Big fan of splitting the work!

[2022-09-20 21:27] martinlingstuyl commented on #3656
Hi @aaden001,
Glad you got it working!

In this case I think you or someone in your org already consented for you! Initial consent cannot be worked around.

[2022-09-20 22:37] milanholemans commented on #3618
Shouldn't we divide the workload in command groups? Will be more clear if your task is just to refactor all `aad`, `planner` and `pp` commands for example in one go.
This would also be easier to describe in the release notes.
If you just split it by a fixed number of commands it is possible that for example you have to refactor all `aad`, `planner` and few `pp` commands. This might be a bit unclea

[2022-09-21 04:01] martinlingstuyl commented on #3618
That's why I did it like this. But let me check if I can make a more logical split.

[2022-09-21 13:04] #3430 closed

[2022-09-21 14:29] martinlingstuyl commented on #3618
Ok, I updated it. SPO is a bit big. What do you think about splitting it in three?

[2022-09-21 14:36] milanholemans commented on #3618
The proposed chunks are looking good to me. I think we can definitely split `spo` in smaller chunks, else no one will volunteer for that one 😄

[2022-09-21 16:35] milanholemans commented on #3678
Putting this on hold until @waldekmastykarz finishes merging PR #3675 into the v6 branch.

[2022-09-21 17:42] waldekmastykarz commented on #3678
Awesome idea and we can pick up the work already including opening the PR as long as we don't merge the PR 😊

[2022-09-21 17:47] waldekmastykarz commented on #3618
Refactoring some commands will be more work than others. My first thought was to split the work per command but that might make a mess of our issue list so perhaps we should look at slightly bigger chunks but definitely smaller than a whole workload. Also, don't underestimate the time needed to review each change and ensure there are no breaking changes in the commands behavior.

[2022-09-21 17:50] waldekmastykarz commented on #3656
We should consider showing the 3 suggestions you mentioned directly in the terminal, with a link to the specific page in our docs for more info. Since you're in the terminal at the time of error, that's the most probable place for us to help folks fix the error so we should definitely consider making use of it.

[2022-09-21 17:57] milanholemans commented on #3678
Opening it back up again! 😄

[2022-09-21 18:09] martinlingstuyl commented on #3618
Ok, so you would say split it in smaller chunks than I did? like 10-20 commands each or something?

`spo` is a very big task, with a lot of huge commands. But some other workloads (based on the ms graph) are relatively simple.

How about we split it per subsection?

[2022-09-21 21:05] martinlingstuyl commented on #3656
That's a very good idea. I'll add it to the specs!

[2022-09-21 21:16] martinlingstuyl commented on #3678
Should we split this issue into two by the way? Renaming the title option is a breaking change, and should be handled separately, with the old title option showing a deprecation warning.

What do you think?

Also: we need an third issue to remove the deprecation for v6

[2022-09-21 21:34] milanholemans commented on #3678
That is indeed something we can do. The question is whether it is worth it to create 3 issues for this one while  we can do it in 1 go in the v6 branch. That means that this change will be a bit later available, but since this is only 1-2 months it doesn't seem to bad to me.
For me it doesn't really matter, 3 issues or 1 😊

[2022-09-22 04:31] martinlingstuyl commented on #3678
That's a good alternative. Let's make this a v6 issue in its entirety and keep it as one.

[2022-09-22 06:05] waldekmastykarz commented on #3665
So I clarified the mechanics of SPFx with the PG and we arrived at the following inconsistencies that need to be fixed in the CLI:

1. We should add a separate feature for each web part in the project > right now we only add one
2. The ID of the feature should match the component ID of the web part it provisions > right now we use a random ID which leads to errors

[2022-09-22 07:23] Adam-it commented on #3618
That all are good comments and for sure we may try to divide in smaller parts in order to share the workload 👍.
Just a small comment from my side is not to try to find the perfect balance and now check every comment to make perfectly equal chunks 😉.
I guess I have no problem in doing something smaller then others 😅. Only joking. can't wait to try to help out 😉

[2022-09-22 09:06] milanholemans commented on #3618
After some discussion: putting this issue `on hold` until `v6` is shipped.

[2022-09-22 17:25] rudolphpienaar commented on #3671
Aaahhh... many thanks -- yes this is largely what I was thinking of. My "goal" is to consider how to add this transparently to third party clients like Thunderbird -- but I suspect this would entail some intermediate infrastructure.

[2022-09-22 17:31] rudolphpienaar commented on #3672
Ideally I'd like to use a standard 3rd party client (like Thunderbird or mutt) to leverage this. In the vein of "If you an itch, scratch it", I implemented a first-pass solution here:

https://github.com/FNNDSC/mbox2m365

It needs some additional internediate "stuff" -- like a lightly configured `postfix` server that the email client uses instead of Outlook. This server simply dumps emails to file

[2022-09-23 16:16] milanholemans opened #3688 "Add extra options for `teams channel` commands"
We can add extra options to reference a Microsoft Teams team or channel for some commands.

### teams channel remove

Option | Description
--- | ---
`--teamName [teamName]` | The name of the team to which the channel to remove belongs.

* `--teamId` should become optional and form an option set with `--teamName`
* Remove short `-c` from `id` and change it to `-i`
* Remove short `-i` from `teamId`

[2022-09-23 16:18] milanholemans opened #3689 "Align `teams channel` commands with our naming convention"
Align the `team channel` commands with out naming convention.

1. `teams channel get`
   * Remove short `-c` from `id` and change it to `-i`
   * Remove short `-i` from `teamId`
   * Add short `-n` to `name`

1. `teams channel remove`
   * Remove short `-c` from `id` and change it to `-i`
   * Remove short `-i` from `teamId`

1. `teams channel set`
    * Rename `--channelId` to `-i, --id`

[2022-09-23 18:00] waldekmastykarz commented on #3618
When we start working on it, let's split it up indeed in small chunks with a few commands each so that the workload is reasonable and people don't get stuck for weeks working on it.

[2022-09-23 18:01] waldekmastykarz commented on #3678
+1 to doing it at once in v6. A deprecation message at this stage is pretty late anyway, since v6 is just around the corner.

[2022-09-23 18:04] waldekmastykarz commented on #3672
Interesting scenario. Just to see if I understand it correctly, you're proposing to extend the `m365 outlook mail send` command with defining the content-type header and supporting attachments? If that's indeed the case, let's create a new issue with the proposal and take it from there! Great suggestion 👏

[2022-09-23 18:05] milanholemans opened #3690 "[Enhancement]: Support shared teams channels for command `teams channel list`"
Support shared teams channels for command `teams channel list`

Option to update:
Option | Description
--- | ---
`--type [type]` | Filter the results to only channels of a given type: `standard`, `private`, `shared`. By default all channels are listed.

[2022-09-23 18:06] waldekmastykarz commented on #2281
Let's close it for now and revisit when we support batching.

[2022-09-23 18:06] #2281 closed

[2022-09-23 18:12] milanholemans opened #3691 "[Enhancement]: Support shared teams channels for command `teams channel add`"
The idea is to support the creation of Teams shared channels.

## Options to update
Option | Description
--- | ---
`--type [type]` | Type of channel to create: `standard`, `private`, `shared`. Default standard.
`--owner [owner]` | User with this ID or UPN will be added as owner of the channel. This option is required when type is private or shared.

## API request
https://learn.microsoft.com/en-us

[2022-09-23 18:28] milanholemans opened #3692 "Update documentation `teams channel member` commands"
All `team channel member` commands work with Teams shared channels as well. Right now we claim in the docs that they only work for private team channels.

We should update the docs of the following commands:
- [ ] teams channel member add
- [ ] teams channel member remove
- [ ] teams channel member set

[2022-09-23 19:24] martinlingstuyl commented on #3672
Attachments is already being worked on by the way. That will probably be launched In the beta version soon.

[2022-09-23 22:16] Adam-it commented on #1759
@garrytrinder did you find some additional resource we may use to spec this one out? I tried to investigate this a bit but TBH it seems quite hard, for sure not a good one for a "good first issue"

[2022-09-23 22:21] Adam-it commented on #3692
if they work then for sure we should add more clarity to the specs 👍 good catch 🙂

[2022-09-23 22:35] Adam-it commented on #1921
@waldekmastykarz, @garrytrinder could we revisit this one? I think it is a really good idea but maybe if we could add a bit more clarity on what we expect this could be even a "good first issue"?

So I would suggest to add some general info how the user may:
- login (short description of the command and example how it may be used)
- modify cli settings (short description of the command and example

[2022-09-23 22:47] Adam-it commented on #2029
@pnp/cli-for-microsoft-365-maintainers do you agree this could a be a "good first issue" ?

[2022-09-23 22:53] Adam-it commented on #2073
@martinlingstuyl I agree. Since we already have the `m365 teams message list` with `--channelId` option I would leave it and include a new option which is `--userId`. So I totally agree and feel it the same way as you described 👍.
@pnp/cli-for-microsoft-365-maintainers  any other comments?
maybe we could open this up?... and maaaybe even as "good first issue" ?

[2022-09-23 23:05] Adam-it commented on #2439
@plamber any update on this one? maybe you would like to split work or we could open this up🤔?

[2022-09-23 23:53] Adam-it commented on #2226
@appieschot, @waldekmastykarz what do you think on @garrytrinder last comment. Should we go with `--demoteFrom` ?
I must say this option seems pretty sweet 🤩 I would love to implement it myself but I even more I would love to have it ready for hacktoberfast 💪

@pnp/cli-for-microsoft-365-maintainers any other comments 🤔?

[2022-09-23 23:59] Adam-it commented on #2420
@appieschot do you think this might be easy enough for a "good first issue"? what is your opinion on that?

[2022-09-24 00:17] Adam-it opened #3693 "New command: 🔐 spo file roleassignment remove"
### Usage

m365 spo file roleassignment remove [options]

### Description

removes a role assignment from file.

### Options

Option | Description
-- | --
`-u, --webUrl <webUrl>` | URL of the site where the file is located
`--fileUrl [fileUrl]` | The server-relative URL of the file from which role assignment will be removed. Specify either fileUrl or fileId but not both.
`-i, --fileId [fileId]` |

[2022-09-24 00:18] Adam-it commented on #3693
@pnp/cli-for-microsoft-365-maintainers  any comments on this one? I think this is a perfect case for "good first issue"

[2022-09-24 02:42] plamber commented on #2439
Hi @Adam-it,
this issue is open to everyone since May. I am not assigned to it.

Cheers

[2022-09-24 03:40] #3544 closed

[2022-09-24 03:40] #3613 closed

[2022-09-24 03:40] #3630 closed

[2022-09-24 04:34] Adam-it commented on #2439
Sorry for that. Totally missed that your leaving this open from the last comment.
Do you maybe have some tips for a potential contributor that might be helpful? Like what commands or approach you were planning to take?
Do you think this might be a 'good first issue'?

[2022-09-24 09:13] milanholemans commented on #3692
Yep they work, I've tested them 🙂

[2022-09-24 11:34] AaronS16 commented on #3692
Good Morning I'm looking to contribute to some code for the first time and would love to assist in any way needed.

[2022-09-24 12:51] milanholemans commented on #3692
Hi @AaronS16

Awesome to hear that you want to contribute! Welcome!
All our contribution guidelines are listed here: https://github.com/pnp/cli-microsoft365/wiki

I was planning to update these wiki pages pretty soon. Would be awesome to rewrite them with your feedback. So I'd say try to get started with these pages. If you are stuck or anything is unclear, I'm happy to help.

[2022-09-24 13:30] milanholemans opened #3694 "Invalid links to GitHub market place"
On the page https://pnp.github.io/cli-microsoft365/user-guide/github-actions/#reference there are 3 links to the GitHub market place. The last 2 of them guide to user to a non existing page (since CLI renamed from O365 CLI to CLI for Microsoft 365).

## Links to update

### Microsoft 365 Deploy App

View on GitHub Marketplace --> should reference URL https://github.com/marketplace/actions/cli-for-

[2022-09-24 13:42] milanholemans opened #3695 "Update docs title of `outlook mail send`"
The documentation page of the command `outlook mail send` has a title `outlook sendmail`. This is the old name of the command.
We should rename the title of the docs page to `outlook mail send`.

[2022-09-24 13:46] milanholemans commented on #3693
Looks good to me @Adam-it 👍

Only remark is to reread your option descriptions.
`The server-relative URL of the file to retrieve` seems not suitable for a remove command 😊

Also instead of writing
_Specify either file url or file id but not both._

I'd use the exact options like:
_Specify either `fileUrl` or `fileId` but not both._

[2022-09-24 14:16] martinlingstuyl commented on #2073
As spoken about above, We should update the spec a bit first:

`teams message export [options]`

[2022-09-24 14:20] martinlingstuyl commented on #2073
I updated it, what about this?

[2022-09-24 14:23] cyrilckurian commented on #3694
hello ,i would like to work on this issue can you assign this to me @milanholemans

[2022-09-24 14:25] milanholemans commented on #3694
Certainly @cyrilckurian thank you! 👏

[2022-09-24 14:41] cyrilckurian commented on #3694
If I update link in https://github.com/pnp/cli-microsoft365/blob/main/docs/docs/user-guide/github-actions.md , will it reflect on the web page?

[2022-09-24 14:44] milanholemans commented on #3694
If you build the docs locally, you will see the updated link. However this seems a bit overkill for this issue.
Just update it locally and check in a Markdown viewer (like VS Code) if it works as expected. When that is done, you can create a PR.
When the PR is accepted, the links will change on the live environment.

[2022-09-24 14:46] cyrilckurian commented on #3695
hello ,i would like to work on this issue can you assign this to me @milanholemans

[2022-09-24 14:47] cyrilckurian commented on #3694
OK

[2022-09-24 14:47] milanholemans commented on #3695
Certainly, thank you for your help @cyrilckurian 👏

[2022-09-24 15:00] milanholemans commented on #3692
Would you like to work on this issue? Then I'll assign it to you.

[2022-09-24 15:05] ryuusama09 commented on #3692
Hey @milanholemans , if no one has been assigned , can I work on this issue ? . It would help me a lot in gaining experience in open source contributions

[2022-09-24 15:14] cyrilckurian commented on #3694
#3696 Check this out @milanholemans

[2022-09-24 15:26] milanholemans commented on #3694
Looking good @cyrilckurian 👍

[2022-09-24 15:29] milanholemans commented on #3692
Hi @ryuusama09 thank you for your enthusiasm 😊
However I use the 'first come first served' principle, so let's wait for @AaronS16 to respond. If he is looking for another issue or doesn't respond for a week, I will gladly assign this issue to you.

There are plenty of other issues left to work on that are labeled as `good first issue`. Or are you looking for docs contributions specifically?

[2022-09-24 15:34] ryuusama09 commented on #3692
noted @milanholemans . I was looking for some  issues which dont require extensive domain knowledge , but not are of cakewalk difficulty .

[2022-09-24 16:33] AaronS16 commented on #3692
Hello @milanholemans. Yes, please assign it to me and I will begin working on it.

[2022-09-24 16:35] milanholemans commented on #3692
Great, thank you for contributing! 👏

[2022-09-24 16:50] AaronS16 commented on #3692
What should the Remarks be updated to say? Am I removing the line that states "You can only add members and owners of a Team to a private channel.", or am I also adding something to the remarks?

[2022-09-24 16:55] milanholemans commented on #3692
I'd say just add `shared`

"You can only add members and owners of a Team to a private or shared channel."

[2022-09-24 17:05] AaronS16 commented on #3692
@milanholemans I made the changes and committed them on the branch I created. Please let me know if I need to correct anything.

[2022-09-24 17:08] milanholemans opened #3699 "Update incorrect command docs titles"
Noticed there are a few commands which have an incorrect docs title.
Example: the command https://pnp.github.io/cli-microsoft365/cmd/onedrive/report/report-activityusercounts misses a 'd' in the word OneDrive.

- [ ] aad o365group recyclebinitem restore
- [ ] onedrive report activityusercounts
- [ ] teams funsettings set
- [ ] tenant serviceannouncement health get
- [ ] tenant serviceannouncement

[2022-09-24 17:09] milanholemans commented on #3699
@ryuusama09 maybe this issue is something you're looking for? 😊

[2022-09-24 17:11] martinlingstuyl commented on #3587
Yesterday I ran into the need for this: I'm used to running a single script in multiple posh windows to update a lot of sites as fast as possible. This is a possibility with PnP PowerShell because the sign in session is restricted to the PowerShell terminal session. I can sign into multiple posh terminals using multiple identities and update the sites, not having to worry about throttling.

For th

[2022-09-24 17:40] milanholemans opened #3700 "Ensure all docs end on a new line"
We should ensure that all command docs end on a new line. If a doc doesn't end on a new line, the `--help` option will display the help page incorrectly. Notice the markdown code fence characters in the last example.
![image](https://user-images.githubusercontent.com/11723921/192111151-dd834275-2b4d-4698-adbd-06533aac07c8.png)

Following commands don't end on a new line:
- [ ] aad user signin list

[2022-09-24 19:21] martinlingstuyl commented on #3700
Nice @milanholemans, and it's good to finally know the reason for that empty last line in the docs. 😅

[2022-09-24 19:24] milanholemans commented on #3700
It is something we should pay attention to. I've had to do this before 😄
https://github.com/pnp/cli-microsoft365/pull/3208

[2022-09-24 20:12] #3692 closed

[2022-09-24 20:12] #3694 closed

[2022-09-24 20:12] #3695 closed

[2022-09-24 23:40] techsnap commented on #3699
Hi @milanholemans, I would like to work on this issue. Can you assign this to me?

[2022-09-25 03:09] ryuusama09 commented on #3699
yes @milanholemans , I will do this

[2022-09-25 03:47] nightfury-crypto commented on #3700
Hey! I am interested in working on this issue in case no one is working on it. Thanks

[2022-09-25 06:58] Adam-it commented on #3693
thank @milanholemans for your comment. I updated the spec

[2022-09-25 07:09] Adam-it opened #3701 "New command: 🔐 spo folder roleassignment remove"
### Usage

m365 spo folder roleassignment remove [options]

### Description

Removes a role assignment from the specified folder.

### Options

Option | Description
-- | --
`-u, --webUrl <webUrl>` | The URL of the site where the folder is located.
`-f, --folderUrl <folderUrl>` | The server- or site-relative URL of the folder.
`--principalId [principalId]` |  The SharePoint principal id. It may be

[2022-09-25 07:09] Adam-it commented on #3701
@pnp/cli-for-microsoft-365-maintainers any comments on this one? I think this is a perfect case for "good first issue"

[2022-09-25 07:15] Kinshuk2003 commented on #3700
Hey i am also interested to work on this issue it will be great if i can get a small guidance on the issue

[2022-09-25 07:17] Adam-it opened #3702 "New command: 🔐 spo file roleassignment add"
### Usage

m365 spo file roleassignment add [options]

### Description

Adds a role assignment to the specified file.

### Options

Option | Description
-- | --
`-u, --webUrl <webUrl>` | The URL of the site where the file is located.
`-f, --fileUrl [fileUrl]` | The server-relative URL of the file to which the role assignment will be added. Specify either `fileUrl` or `fileId` but not both.
`-i, --

[2022-09-25 07:18] Adam-it commented on #3702
@pnp/cli-for-microsoft-365-maintainers  any comments on this one? I think this is a perfect case for "good first issue"

[2022-09-25 07:22] Adam-it opened #3703 "New command: 🔐 spo folder roleassignment add"
### Usage

m365 spo folder roleassignment add [options]

### Description

Adds a role assignment to the specified folder.

### Options

Option | Description
-- | --
`-u, --webUrl <webUrl>` | The URL of the site where the file is located
`-f, --folderUrl <folderUrl>` | The server- or site-relative URL of the folder.
`--principalId [principalId]` |  The SharePoint principal id. It may be either an u

[2022-09-25 07:23] Adam-it commented on #3703
@pnp/cli-for-microsoft-365-maintainers  any comments on this one? I think this is a perfect case for "good first issue"

[2022-09-25 07:25] Adam-it commented on #2073
@martinlingstuyl weren't we suppose to drop the `userName` option for now?

[2022-09-25 07:33] Adam-it commented on #3540
the list of issues is complete 🤩. I mean we have one left but that is really an enhancement as users may just remove and add new role definition instead of update (I think internally in the command that is what will actually be going on anyway 😉)

[2022-09-25 08:58] milanholemans commented on #3700
Thank you for your enthusiasm. However I handle the principle of first come first served. So I'll assign @nightfury-crypto to this one.
I'm sure you'll find other issues you can work on!

[2022-09-25 09:44] nightfury-crypto commented on #3700
@milanholemans If there are multiple blank spaces in any doc file what should I do leave it as such or can fix it (It's not related to this issue just want to let you know about that).

I was looking for -> are docs are ending with new line and saw multiple blank space inbetween the code.

`attaching screenshot`

file - `docs -> cmd -> aad -> siteclassification`

![image](https://user-images.githu

[2022-09-25 09:49] milanholemans commented on #3700
That's not so bad. I'd leave it as it is

[2022-09-25 10:07] milanholemans commented on #3699
Thank you for your enthusiasm. However I handle the principle of first come first served. So I'll assign @techsnap to this one.
I'm sure you'll find other issues you can work on!

[2022-09-25 10:39] martinlingstuyl commented on #2073
Well, we're using both options in some other places as well, so I think we can use them here.

But before we open it up: we need some additional research here:

https://devblogs.microsoft.com/microsoft365dev/announcing-general-availability-of-microsoft-graph-export-api-for-microsoft-teams-messages/

We might need `teamId` instead or next to `channelId`.

And we certainly need a `licenseModel` opti

[2022-09-25 10:48] martinlingstuyl commented on #2073
Also: what about retrieving chat-attachments:

We could add something of a switch to trigger behavior that downloads the attachments.

[2022-09-25 11:45] martinlingstuyl commented on #2073
Ok, I updated the specs a bit, adding the licenseModel option and teamId.

What do you guys think of auto exporting the attachments as well, (using `--includeAttachments`, and `--filePath` options) or should we leave that to the user, as the attachment urls are provided?

[2022-09-25 11:49] martinlingstuyl commented on #2073
I also did a check: it seems the endpoint `getAllMessages` can only be called on team level, for all channels. It seems to be unavailable on channel level.

I need to do a better test, but it seems we can drop `channelId`

[2022-09-25 12:21] techsnap commented on #3699
Thanks @milanholemans for assigning this to me. As I understand, I just have to update incorrect docs titles with the correct one that you have provided as tasks in 1st comment (so, `graph teams funsettings set` title gets changed to `teams funsettings set`). Is that right?

[2022-09-25 12:33] Adam-it commented on #2073
good research @martinlingstuyl 👍.
I think the `--includeAttachments` option would be ok and not exporting them by default.

[2022-09-25 12:46] milanholemans commented on #3699
Yes that's it! 🙂
You can always look at the "usage" section how the command is called. This should be the title of the docs (without the m365).

[2022-09-25 13:01] techsnap commented on #3699
But, I noticed that in [the document for 3rd task ](https://pnp.github.io/cli-microsoft365/cmd/teams/funsettings/funsettings-set/), document title matches command usage (without m365). I think this is the document for 3rd task. Is the command usage wrong as well or 3rd task document is different from this link?

[2022-09-25 13:14] nanddeepn commented on #3605
Can I work on this?

[2022-09-25 13:26] milanholemans commented on #3699
Good catch @techsnap!
The command is definitely called `teams funsettings set`

https://github.com/pnp/cli-microsoft365/blob/9e5586545c531972c44ccc3b3172b9f2378677ea/src/m365/teams/commands.ts#L29

Seems like we forgot the change the naming in the docs. Could you update the usage section of this doc as well? I also see that in the examples section `m365 graph teams funsettings set` is being used.

[2022-09-25 13:44] techsnap commented on #3699
Sure, I will update usage and examples section as well. Working on it.

[2022-09-25 15:59] martinlingstuyl commented on #3605
@nanddeepn, could you name the option `-u, --url [url]`, instead of `folderUrl` please? Otherwise we're setting ourselves up for useless extra work 😁

[2022-09-25 16:00] martinlingstuyl commented on #3605
Oh no, wait a second, cancel that. :) I just remembered folderUrl is already there and we're only adding id. Please disregard my words @nanddeepn...

[2022-09-25 16:09] martinlingstuyl commented on #2073
Thanks Adam,

Reading the documentation it's either :

Get all messages for a user across all chats
Or get all messages in a team across all channels.

https://learn.microsoft.com/en-us/graph/api/channel-getallmessages?view=graph-rest-1.0&tabs=http

So I'll remove `channelId`.

Any thoughts from other @pnp/cli-for-microsoft-365-maintainers about the attachments?

[2022-09-25 16:23] martinlingstuyl commented on #3084
Related: you can also configure the colors of the vscode frame through these settings.

It would be nice if we used the CLI brand colors so your vscode really looks like you are editing the CLI repo.

Would that be something additional to pick up here, or maybe using another issue @appieschot?

[2022-09-25 18:14] Jwaegebaert commented on #3701
Looks great @Adam-it! 🚀

I have a few pointers.

Let's change `--confirm [confirm]` to`--confirm`.

I think the wording is a bit confusing. Maybe we could change it to e.g. `Don't prompt for confirmation when removing the roleassignment.`

Maybe we could also rewrite this one because I can't really understand it 😅

[2022-09-25 19:19] veronicageek commented on #3277
Still working on it. Just baffled at the moment... 👩🏻‍💻

[2022-09-25 21:58] Adam-it commented on #3701
@Jwaegebaert thanks for the review 👍
I updated the spec I hope it is clearer now 😉.
opening this up

[2022-09-26 07:50] appieschot commented on #2226
Agree with latest spec from @garrytrinder

[2022-09-26 08:03] appieschot commented on #2420
Feels a bit to complex for a good first issue in my taste, but I do hope someone wants to pick this one up 🚀

[2022-09-26 08:05] appieschot commented on #3084
@martinlingstuyl Happy to get this in with a color, but I would opt for a separate issue to see if there is feedback on that. Personally, I wouldn't want a color on my window but that's me so open to others

[2022-09-26 09:31] nanddeepn commented on #3690
Can I work on this?

[2022-09-26 09:39] milanholemans commented on #3690
Sure @nanddeepn thank you!

[2022-09-26 10:24] Jwaegebaert commented on #3701
A few extra typos we could fix 😄

Removes a role assignment from the specified folder.

The URL of the site where the folder is located.

The server- or site-relative URL of the folder.

SharePoint Principal Id. It may be either an user id or group id for which the role assignment will be removed. Specify either `upn`, `groupName` or `principalId`.

The upn/email of the user. Specify either `upn`,

[2022-09-26 11:16] Jwaegebaert commented on #3702
A few typos we can fix 😉

Adds a role assignment to the specified file.

The URL of the site where the file is located.

The server-relative URL of the file to which the role assignment will be added. Specify either `fileUrl` or `fileId` but not both.

The unique id (GUID) of the file to which the role assignment will be added. Specify either `fileUrl` or `fileId` but not both.

The SharePoint pri

[2022-09-26 19:22] martinlingstuyl opened #3706 "Bug report: Examples for `web roleassignment <verb>` mention `list roleassignment <verb>` instead."
### Description

The examples on the `web roleassignment add` and `web roleassignment remove` command documentation are wrongly mentioning `list roleassignment add` and `list roleassignment remove`

https://pnp.github.io/cli-microsoft365/cmd/spo/web/web-roleassignment-add/
https://pnp.github.io/cli-microsoft365/cmd/spo/web/web-roleassignment-remove/

[2022-09-26 19:29] VividhPandey003 commented on #3706
Hey. I am a beginner to Open Source and really looking forward to contribute. Could you please assign this issue to me.

[2022-09-26 19:33] Jwaegebaert commented on #3706
No problem at all @VividhPandey003, I just assigned you to this issue. If you need any help let us know! 🚀

[2022-09-26 19:33] VividhPandey003 commented on #3706
@Jwaegebaert could this be considered for hacktoberfest as well?

[2022-09-26 20:01] Jwaegebaert opened #3707 "Update docs with our community Discord server"
Modify the social media tabs to include our community Discord server.

[2022-09-26 20:42] Phyxsius7 commented on #3431
Even when I use
@pnp/cli-microsoft365@next
the following password is gving me issues
m365 login --authType password --userName my.myname@myhat.com --password ",K:mV!mrIRV!2q@6"

Am I missing something?

[2022-09-26 21:32] martinlingstuyl commented on #3431
@Phyxsius7
Could you check if you already consented to the PnP management shell app for this user: the easiest route to check that is to sign in using the normal flow: `m365 login`.

Also: I assume you have disabled MFA and your account is not using hybrid federation.

[2022-09-26 23:09] Adam-it commented on #2226
ok great.  opening this issue to be taken 👍

[2022-09-26 23:17] Adam-it commented on #3701
thanks @Jwaegebaert for the double check 👍. I updated the spec 👍

[2022-09-26 23:38] Adam-it commented on #3702
@Jwaegebaert thanks for the review. done and ready

[2022-09-27 06:04] frankchen76 opened #3709 "As a Power Platform admin, m365 flow run list cannot get a run history for a flow which was created by someone else"
### Description

When I used a Power Platform admin to run the below cmd, I cannot get a run history list from a flow which was created by someone else.

`m365 flow run list --environment [env-id] --flow [flow-Id] --output json`

### Steps to reproduce

- login using AllanD to create a flow SPOTest and generate some flow run history
- login using admin to run the below script and got the error mes

[2022-09-27 07:38] Jwaegebaert commented on #3702
Super, great job @Adam-it!!

[2022-09-27 09:27] appieschot commented on #3709
Quick feeling would be to implement the --asAdmin option to retrieve this information.

[2022-09-27 10:53] VividhPandey003 commented on #3706
Okay, thanks a lot😄 @Jwaegebaert

[2022-09-27 11:08] reshmee011 commented on #3701
Please assign to me so that I can make a start on it.

[2022-09-27 11:21] milanholemans commented on #3701
Certainly @reshmee011, thank you!

[2022-09-27 11:51] Jwaegebaert commented on #3703
Looks great @Adam-it!

Directly edited some typos similar to the previous issues but it looks ready to go for me. 🚀

[2022-09-27 11:58] reshmee011 commented on #3701
Thanks @milanholemans, it's been a while since last contributing to cli-m365, I am sure with the help of all of you as usual will be feasible.

[2022-09-27 11:59] Adam-it commented on #3703
Thanks @Jwaegebaert 👍. You rock 🤩🤩
I am opening this issue to be taken then

[2022-09-27 12:14] milanholemans commented on #3701
Certainly! It's great to have you back!

[2022-09-27 12:23] waldekmastykarz commented on #3701
Awesome to have you with us @reshmee011 👏

[2022-09-27 12:33] Adam-it commented on #3701
It's great your with us 🤩. Don't be afraid to open a PR in draft and share problems with us if you will be blocked on some level 👍

[2022-09-27 13:03] Adam-it commented on #3693
Sure 🤩🤩💪. You rock 🤩. Assigned.
Make sure to open the PR in October so it will count for the hacktoberfest as well👍👍

[2022-09-27 15:18] nightfury-crypto commented on #3700
@Adam-it Hey! This issue is labeled under hacktoberfest but as I already worked on it and opened a pull request. If you merge this in october will this be counted? `I'm also participating in hacktoberfest.`

[2022-09-27 15:35] Adam-it commented on #3700
@nightfury-crypto TBH I am not 100% sure but checking the rules:
"Have 4 pull/merge requests accepted between October 1 and October 31 to complete Hacktoberfest"
it seems a pull request needs to be accepted within 1.10-31.10.
I will leave a comment in you PR  so that we review/approve/process it during that period so I hope it will count as well 😊.
We will also need to mark it as 'hacktoberfast-ac

[2022-09-27 15:46] nightfury-crypto commented on #3700
@Adam-it Thanks for the reply. Even if you want me to make PR again after oct1 then also no issue. But hope this will get count.😃

[2022-09-27 16:05] Adam-it commented on #3700
Sure. This is also something that does not entirely depend from us but we will do our best 😉.
Thanks for being with us and for your awesome contribution 👍. You rock 🤩.
Hope to see more 😉

[2022-09-27 16:06] appieschot commented on #3668
@waldekmastykarz agreed; added three most important options, we can increase later.

[2022-09-27 16:47] appieschot opened #3710 "New command: m365 pp environment get"
### Usage

m365 pp environment get [options]

### Description

Gets information about the specified Power Platform environment.

### Options

Option | Description
-- | --
`-n, --name <name>` | The name of the environment to get information about.
`--asAdmin` | Run the command as admin and retrieve details of environments you do not have explicitly assigned permissions to.

### Examples

Get inform

[2022-09-27 18:02] appieschot opened #3711 "New command: m365 pp solution list"
### Usage

m365 pp solution list [options]

### Description

Lists Microsoft Power Platform solutions in the specified Power Platform environment.

### Options

Option | Description
-- | --
`-e, --environment <environment>` | The name of the environment for which to retrieve solutions.
`--asAdmin` | Run the command as admin and retrieve solutions for environments you do not have explicitly assigne

[2022-09-27 18:32] martinlingstuyl opened #3712 "Update the 'Call the Microsoft Graph' sample"
This [sample script](https://pnp.github.io/cli-microsoft365/sample-scripts/graph/call-graph/) uses shell-specific web request tooling. We now have the `m365 request` command, shipped in version 5.8.

Let's update the sample to have a code block for using m365 request first, and underneath it the current sample code block as an alternative approach which shows how to use the accesstoken approach.

[2022-09-27 18:36] martinlingstuyl commented on #3712
Do you agree with me on this @garrytrinder?

[2022-09-27 18:37] martinlingstuyl opened #3713 "Update the 'Monitor and notify Microsoft 365 health status' sample"
This sample in it's current state does not work, due to changes in the command surface of the CLI for Microsoft 365.
It needs to be rewritten slightly, using the new commands and incorporating the new data structure that the Microsoft 365 APIs now return.

[2022-09-27 18:42] martinlingstuyl commented on #3713
Any comments @arjunumenon?

[2022-09-27 19:02] martinlingstuyl opened #3714 "Update the 'how to perform operations...' sample to use the request command"
The sample [How to perform operations if a command is not covered by the CLI for Microsoft 365](https://pnp.github.io/cli-microsoft365/sample-scripts/spo/perform-operations-not-covered-by-cli-for-microsoft-365/) uses the Invoke-Restmethod commandlet and can be rewritten to use the `m365 request` command instead. this command can be used to execute web requests against Microsoft 365 APIs and profit

[2022-09-27 19:51] waldekmastykarz commented on #1921
Like I proposed originally, I think that setting up completion, logging in and showing how to get help are good first 3 actions to do after installing the CLI. Configuration might be a nice fourth one (kind of _one more thing_ 😄)

[2022-09-27 19:57] waldekmastykarz commented on #3587
I still have my doubts about this approach. I think it would be preferable to set the identity on a session and we should look for ways to do that.

[2022-09-27 20:05] waldekmastykarz commented on #3587
One way I just realized that would be possible is to assign the identity to the PID of the current shell process which we can get from `process.ppid`. That way we could imitate a "session" and store all kind of information applicable only to the current terminal process.

[2022-09-27 20:27] martinlingstuyl commented on #3587
Freakin' awesome 😁 (And persisted in the GitHub issue/process)

[2022-09-27 20:34] Jwaegebaert opened #3716 "Ensure all sentences start with a capital letter and end with a point"
Like the title states, ensure all sentences start with a capital letter and end with a point. Mainly under the subject [commands](https://pnp.github.io/cli-microsoft365/cmd/login/). There are a lot of commands, maybe even all commands, where there are sentences that don't end with a point. Let's try to harmonize our writing style with each command.

----

E.g. the [documentation](https://pnp.githu

[2022-09-27 20:44] Jwaegebaert opened #3717 "Move all `m365 file` commands to `m365 graph file`"
Let's migrate all the commands within `m365 file` to `m365 graph file`.

These commands all make use of Microsoft Graph so they would be beter located within our Graph section. As this would be a breaking change, let's be sure to the original command name as an alias. E.g. `m365 file add` would become `m365 graph file add` but the original name `m365 file add` would be added as an alias.

- [ ] Mo

[2022-09-27 20:46] Jwaegebaert commented on #3717
@pnp/cli-for-microsoft-365-maintainers any thoughts about this 😄

[2022-09-27 21:27] martinlingstuyl commented on #3717
I'm not sure if I agree on this, @Jwaegebaert, Graph is the technical api we use with the file commands, yes, but that could easily be another api. What Api we use is really unimportant, what's important is the functionality we disclose for users: file access.

The subjects that currently fall under the graph heading (changelog, extensions, etc) are really about the graph itself, which is somethin

[2022-09-27 21:28] milanholemans commented on #3716
Maybe let's discuss it first to see what other maintainers think.

I think it's a good idea to align it. To be honest I have been using full stops all time time while other command don't. 😀

According to me, it makes sense to always end on a full stop, especially when the description consists of multiple sentences (like: title of the list. specify either title or I'd).

If we do this, we should al

[2022-09-28 09:23] appieschot commented on #3717
While I agree with @martinlingstuyl that it feels 'natural' to have them under `file` and not `graph` according to our own [spec list](https://github.com/pnp/cli-microsoft365/wiki/Spec-checklist) they should be under graph:

- command name follows the naming convention of service command (subcommand) verb
- command name aligns as much as possible with existing commands and groups
- command name al

[2022-09-28 09:42] Jwaegebaert commented on #3717
Good pointers, I should have explained the reasoning a bit why we should move it. But it's like @appieschot says, it will be more intune with our guidelines.

[2022-09-28 09:47] Jwaegebaert commented on #3716
Good point, the global options would also need a bit of fine tuning. @pnp/cli-for-microsoft-365-maintainers any feedback regarding this topic?

[2022-09-28 10:14] martinlingstuyl commented on #3717
I'm not fully on board here 😁

While `graph` is the service of `changelog` and `schemaextensions`, `graph` is not the service of the `file` commands. The service of the file commands is more like OneDrive and SharePoint.

I find these lines not very convincing in it's application on the current scenario.

Of course, we could choose to move it to graph because it's an alternative route to m365 file

[2022-09-28 11:51] waldekmastykarz commented on #3717
Agreed with @martinlingstuyl: graph isn't a service/workload, it's an API, hence it shouldn't be included in the command name. An exception here are generic commands that don't belong to a workload such as the change log or subscriptions.

[2022-09-28 12:08] martinlingstuyl opened #3718 "Bug report: Updating a content type property with an empty value throws an exception"
### Description

If I run the following command:

[code]

The command throws a 400 exception.

The reason this happens is because the Description option is translated to a boolean when calling the API:

[code]

### Steps to reproduce

1) Update a content type with a description
2) Now try to empty it by running the same command with an empty value in string quotes.

### Expected results

The prope

[2022-09-28 12:09] waldekmastykarz commented on #3716
Since many descriptions like `Title of the card` miss the verb, they're not really a sentence, so I'm not so fixed on using a period at the end. I do agree that they should start with an uppercase letter.

[2022-09-28 12:10] waldekmastykarz commented on #3718
Good catch! Would it solve the problem to force all unknown properties to be treated as a string or is the Description an exception here and we'd solve it by simply forcing just it to be treated as a string?

[2022-09-28 12:24] martinlingstuyl commented on #3718
I ran into it because I wanted to reset `EditFormClientSideComponentId`  😁
It's not just unknowns I am just finding out.

I tried `spo field set` => did not have the same problem, as it is using the ProcessQuery API

I tried `spo list set --description ''` (which is not an unknown option) => and that fails with the same error.

Could it be a problem with minimist? that it parses '' to true?

[2022-09-28 12:28] martinlingstuyl commented on #3718
By the way, this is in powershell.

In bash `spo list set --description ""` leads to an empty data object that's posted. The request succeeds, but the description is not emptied.

[2022-09-28 12:49] Jwaegebaert commented on #3716
@waldekmastykarz would it be interesting to convert those descriptions to a complete sentece? Of course not in this issue but a new one.

[2022-09-28 13:51] Adam-it opened #3719 "Microsoft 365 CLI PowerShell predictor"
### 🎯 Aim

When CLI for Microsoft 365 is used in PowerShell 7 add support to enable Predicators to improve working and finding the correct command. Together with this feature we should create a clear docs page regarding this feature and how to enable and use it

### Discussed in https://github.com/pnp/cli-microsoft365/discussions/3687

<div type='discussions-op-text'>

<sup>Originally posted by **

[2022-09-28 13:53] Adam-it commented on #3719
@pnp/cli-for-microsoft-365-maintainers lets make a final check what actually we need or what we expect to be done together with this feature to make it ready for @anoopt 🤩🤩

[2022-09-28 14:33] Jwaegebaert commented on #3717
Don't really have any counter arguments on this topic. Those are some good insights. I'll close this issue as redundant 😄

[2022-09-28 14:33] #3717 closed

[2022-09-28 15:28] rudolphpienaar commented on #3672
oh sweet!

[2022-09-28 15:42] rudolphpienaar opened #3720 "m365 outlook mail send -- manipulate the "Content-Type""
### Usage

```m365 outlook mail send --Content-Type <....>```

### Description

Expand the outlook mail send options to allow for Content-Type manipulation

### Options

Option | Description
-- | --
`--Content-Type <contentTypeString>` | The email body content type

### Examples

Allow a user/client to also specify the email content-type. This is useful for attachment handling.

[code]

Assuming t

[2022-09-28 19:01] milanholemans commented on #3716
Depends, everything can be considered as a sentence 😊
Example:
"What is this?"
- "The title of the card."

[2022-09-29 05:38] martinlingstuyl commented on #3718
Correction, it has nothing to do with the API. The call is going through successfully. But the `Description` is updated with value `"true"`.

[2022-09-29 06:08] frankchen76 commented on #3709
@Jwaegebaert, thanks for your follow up. It looks like the CLI is calling "[https://management.azure.com/providers/Microsoft.ProcessSimple/scopes/admin/environments/${environment}/flows/${flow}/runs?api-version=2016-11-01](https://management.azure.com/providers/Microsoft.ProcessSimple/scopes/admin/environments/$%7Benvironment%7D/flows/$%7Bflow%7D/runs?api-version=2016-11-01)" endpoint. If this end

[2022-09-29 06:46] Jwaegebaert commented on #3720
Great suggestion @rudolphpienaar! Let's fine tune the issue a bit before we can open it up.

The content type option shouldn't be forced as required. Let's change the notation from `<contentTypeString>` to `[contentType]`, removing the string part as well.

When we have two words for an option we use lowerCamelCase as naming convention. Here `--Content-Type` would become `--contentType`.

Can we u

[2022-09-29 07:01] Jwaegebaert commented on #3720
Upon further inspection, I found that the command `m365 outlook mail send` already has an option `bodyContentType`. This one is a bit more limit with only allowing the options `Text` and `HTML`. I think we could still implement your suggestion but it should be integrated with our exsiting option `bodyContentType`.

[2022-09-29 08:24] garrytrinder commented on #3712
I agree that it has been replaced with the new command, but I don't think we should remove it, I would prefer to update the sample, this would be a good first issue.

[2022-09-29 08:41] garrytrinder commented on #1759
Managing changes to pages is not trivial, so I agree that this is a wouldn't be a `good first issue`. I think we should revisit this and do some more research as the issue is a couple of years old.

[2022-09-29 15:11] appieschot opened #3722 "New command: m365 pp solution get"
### Usage

m365 pp solution get [options]

### Description

Gets information about the specified solution.

### Options

Option | Description
-- | --
`-e, --environment <environment>` | The name of the environment.
`-i, --id [id]` | ID of the solution. Specify either `id` or `name` but not both.
`-n, --name[name]` | The name of the solution. Specify either `id` or `name` but not both
`--asAdmin` |

[2022-09-29 15:14] appieschot opened #3723 "New command: m365 pp solution remove"
### Usage

m365 pp solution remove [options]

### Description

Removes the specified solution

### Options

Option | Description
-- | --
`-i, --id [id]` | ID of the solution. Specify either `id` or `name` but not both.
`-n, --name [name]` | The unique name (not the display name) of the solution. Specify either `id` or `name` but not both.
`-e, --environment <environment>` | The name of the environ

[2022-09-29 15:16] martinlingstuyl commented on #3723
What about a flag to delete the resources as well? By default I believe it leaves them in the standard solution.

[2022-09-29 15:47] martinlingstuyl commented on #3723
Maybe an unpublished solution in the source env...

[2022-09-29 18:47] martinlingstuyl commented on #3722
Hi @appieschot,

Looks great! Two comments:
- The example mentions the `list` instead of the `get` verb
- Should we add an `id` option as well? To be able to get it by `name` or `id`?

[2022-09-29 18:50] martinlingstuyl commented on #3723
One small comment:

`solution list list` should be `solution remove`

[2022-09-30 05:45] martinlingstuyl opened #3724 "Bug report: login --authType misses 'secret' value in the autocompleter"
### Description

When typing `m365 login --authType` you can use the CLI completion to add values like `device`, `browser`, `certificate`. The value `secret` is missing though. Even though that is a valid value for the option.

### CLI for Microsoft 365 version

5.8

### Additional Info

I've looked in the code and indeed, it is not there:

[code]

[2022-09-30 05:51] martinlingstuyl opened #3725 "Bug report: Some examples for the 'login' command do not mention the other necessary options you need: tenant and appId"
### Description

Check out this example:

[code]

That's not a good example, as it would not log you in successfully. You need the `--appId` value as well. And if your app registration is configured as single tenant, you will need the `--tenant` option as well. Otherwise you get an error. An example should be able to be run as it is (with the right values), so we should add the options here.

All

[2022-09-30 09:15] appieschot commented on #3722
A solution only has an internal name and display name; thus works the same as we currently work with `environment` and `flow` , I would opt to use that internal name and not work with displayname. We couldt in a next release introduce the `displayname` option if that is asked for but in the scenario's I worked with so far I never used a display name 🤔

[2022-09-30 09:17] appieschot commented on #3725
We should also mention that if you use the login with a custom `appId` you need to specify the `tenant` if your app is not multi tenant. Feels like we can pick that up in this same issue.

[2022-09-30 09:21] martinlingstuyl commented on #3725
Updated it

[2022-09-30 10:00] reshmee011 commented on #3703
I can work on this issue.

[2022-09-30 10:06] milanholemans commented on #3703
Sure @reshmee011!
Thank you!

[2022-09-30 10:21] martinlingstuyl commented on #3722
Is the internal name visible from the UI? Copy pasting the display name might be convenient. But I agree, let's see how the command is used. We might add it in a next version.

[2022-09-30 10:26] appieschot commented on #3722
Yes the internal name is visible in the UI and we return it in the `text` output of our `m365 pp solution list` command.

[2022-09-30 12:13] appieschot commented on #3719
Ship it 🚀:D

[2022-09-30 12:21] appieschot opened #3726 "New command: m365 pp dataverse table get"
### Usage

m365 pp dataverse table get

### Description

Gets information about the specified table

### Options

Option | Description
-- | --
`-n, --name<name>` | The name of the dataverse table to be retrieved
`-e, --environment <environment>` | The name of the environment to retrieve the dataverse table from
`--asAdmin` | Set, to retrieve the dataverse table as admin for environments you are no

[2022-09-30 13:22] arjunumenon commented on #3713
That is a good find @martinlingstuyl. Did not realize that the return data structure has got changed. Nothing I can think of to be added. Just that need to execute the script and need to see where it is getting failed and may need to update script accordingly.

If none takes it till end of October (Hactoberfest season), I will take it up and quickly get it pushed since I had written the initial sc

[2022-09-30 14:22] rudolphpienaar commented on #3720
I'm not sure the `bodyContentType` will work? I'm not an email guru, but isn't sending an email with attachments _still_ just a message with `bodyContentType` of `text`?

Attachments are typically base64 encoded into ASCII text and embedded into the body. The `Content-Type` header is the magic sauce that indicates the email is a multi-part message (i.e. has embedded attachments) and moreover each

[2022-09-30 15:07] waldekmastykarz commented on #3725
I think it would work if the values are set in an environment variable, but I do agree that it's not clear, so we should either expand the sample's code or mention it specifically in the sample's description that precedes the code.

[2022-09-30 15:07] rudolphpienaar commented on #3720
I think that is worth looking in to!

Right now, `mbox2m365` actually already encodes attachments into base64 text and adds them to the email "body", which might be unnecessary. Or is it?

I'm still trying to map all that mentally to the above API endpoint... :-/ Is that base64 blob of text... the attachment?

[2022-09-30 15:08] waldekmastykarz commented on #3712
Shall we add another sample that shows the alternative approach using `m365 request`? I agree with @garrytrinder that there might still be cases to use the native PowerShell cmdlet and we shouldn't remove the example.

[2022-09-30 15:09] waldekmastykarz commented on #3724
It also seems that we're not validating the provided value, so ideally, as part of the fix for this issue, we should define an array of all supported options, and reuse this array for validation and autocomplete.

[2022-09-30 15:10] waldekmastykarz commented on #3719
+1 to what @appieschot said. Let's ship it and once it out there, add documentation to explain how to set it up.

[2022-09-30 15:12] waldekmastykarz commented on #3718
First thing we should try is to force these options to be treated as string by minimist and see if that solves it.

[2022-09-30 15:14] waldekmastykarz commented on #3716
Each sentence must have a verb. In "What is this" - it's **is**. In "The title of the card", there's none. So at minimum, we'd need to adjust it to "Defines the title of the card", but then we'd have to add the word _defines_, _specifies_, _contains_, etc. which in my opinion doesn't add any value or makes the text more readable.

[2022-09-30 15:18] waldekmastykarz commented on #3720
If I understand it correctly, [sample 4](https://learn.microsoft.com/en-us/graph/api/user-sendmail?view=graph-rest-1.0&tabs=http#example-4-send-a-new-message-using-mime-format) shows the whole message being in MIME format and base64-encoded. Looking at the request body section:

<img width="594" alt="image" src="https://user-images.githubusercontent.com/11164679/193302197-3415df23-6107-4c57-80f0-a

[2022-09-30 15:18] anoopt commented on #3719
Thank you.

@waldekmastykarz - do you mind creating a repo for this and I will push the code there to begin with.

[2022-09-30 15:19] waldekmastykarz commented on #3714
I'd suggest that we don't rewrite it, but rather create a new sample that shows how to use `m365 request`. There could still be a need to use the native PowerShell cmdlet when running in PowerShell.

[2022-09-30 15:24] rudolphpienaar commented on #3720
Yes... that is what I was thinking, too... so do you agree this means:

1. Create email body:
1a. Encode each attachment (since there can multiple) in base64
1b. Embed into a text body (after whatever intro "human" text is in the email) with appropriate multi-part boundary markers around each attachment

2. Now encode *again* this body into one base64 encoded blob, i.e the human text and each base

[2022-09-30 17:19] appieschot commented on #3712
With Waldek on this one, feels like both can have their purpose

[2022-09-30 17:33] waldekmastykarz commented on #3719
You can start with publishing from your own repo. That way you've got more flexibility with setting everything up. When we get to the point where others want to contribute, and we'll build a team around it, we'll bring it to the PnP org, ok?

[2022-09-30 17:34] waldekmastykarz commented on #3720
Yes, that's what I'm thinking. It would be great to verify this, before we start extending the command.

Additional headers that a mail server would care about?

[2022-09-30 17:37] waldekmastykarz commented on #2988
Resetting due to lack of response

[2022-09-30 17:53] waldekmastykarz commented on #3718
Also, `if (options.description) {` will return false for an empty script, so we'd need to adjust it to check explicitly for `undefined`

[2022-09-30 20:11] Adam-it commented on #3719
@anoopt I assigned it to you 👍. Waiting for the awesomeness to happen 😁.
Thanks @appieschot, @waldekmastykarz for taking this issue under your wings 👍

[2022-09-30 20:14] Adam-it commented on #3703
@reshmee011 you rock 🤩

[2022-09-30 21:28] garrytrinder opened #3728 "New command: m365 pp gateway get"
### Usage

m365 pp gateway get [options]

### Description

Get information about the specified gateway

### Options

Option | Description
-- | --
`-i, --id <id>` | ID of the gateway to retrieve information about.

### Examples

Get information about the specified gateway

[code]

### Additional Info

Data Gateway information can be accessed via the Power BI REST API.

`Dataset.ReadWrite.All` or `D

[2022-09-30 21:54] martinlingstuyl commented on #3725
I see what you mean. I'm in favor of expanding the samples. Using env variables, while a possibility is not the primary mode to work, I think.

[2022-09-30 21:56] martinlingstuyl commented on #3712
Agreed, let's add it as another tab, next to posh and bash. It's a nice way to show the different possibilities as well.

[2022-10-01 07:11] KbWorks opened #3729 "Unshare file"
### Usage

M365 SPO File removeshare

### Description

Stops shareing of a file

### Options

This function would stop the share of a file if it is on SharePoint or Onedrive.
options needed are file
`-i, --teamId <teamId>` | The Id of the Microsoft Team
`-r, --role [role]` | Filter the results to only users with the given role: `Owner` or `Member`.

### Examples

M365 SPO File removeshare

### Add

[2022-10-01 09:13] waldekmastykarz commented on #3729
Thanks for the feature request! Looking at the available APIs, if I'm not mistaken, shares are created as [links](https://learn.microsoft.com/en-us/graph/api/driveitem-createlink?view=graph-rest-1.0&tabs=http#link-types) and stored as [permissions on files](https://learn.microsoft.com/en-us/graph/api/permission-delete?view=graph-rest-1.0&tabs=http), correct? Is this the type of share you mean or s

[2022-10-01 09:46] VividhPandey003 commented on #3706
Hey, @Jwaegebaert, I've made the required changes. Could you please review it and tell me if I need to make any changes.😊

[2022-10-01 12:38] garrytrinder commented on #3712
I think adding this as another tab would be confusing as tabs are used to separate the usage in different shells not commands.

I think we should update the sample to have a code block for using `m365 request` first, and underneath it the current sample code block underneath it as an alternative approach which shows how to use the `accesstoken` approach.

This make is clear that there are two ways

[2022-10-01 18:05] martinlingstuyl commented on #3712
Ok, makes sense. I'll update the issue.

[2022-10-01 19:34] nanddeepn commented on #3603
Hi @Adam-it @milanholemans @martinlingstuyl

`m365 spo folder get` command does not return `listItemId`, `listId`, or `listTitle` which can be passed to `m365 spo listitem roleinheritance reset` command.

If we need to reset the roleinheritance of sub-folder, then we can use
`${args.options.webUrl}/_api/web/GetFolderByServerRelativeUrl('${args.options.folderUrl}')/ListItemAllFields/resetroleinheri

[2022-10-01 19:55] Adam-it commented on #3603
@nanddeepn thanks for the comment.

I agree we should go with `GetFolderByServerRelativeUrl` 👍

BTW for reseting roleinheritance of list we have `m365 spo list roleinheritance reset` not `listitem`

[2022-10-02 04:03] nanddeepn commented on #3603
Thank you @Adam-it

`GetFolderByServerRelativeUrl` does not support resetting the roleinheritance at the list level.

In this case we have 2 options:
Option 1:
If `folderUrl` is specified as list name, we will call `m365 spo list roleinheritance reset` internally.

Option 2:
We can have this command `spo folder roleinheritance reset` only for resetting the roleinheritance of folder inside list/lib

[2022-10-02 08:18] waldekmastykarz opened #3732 "Bug: docs are missing GA tracking code"
When we updated MkDocs to v8 to support tags and dark mode, we missed an [update to the property that stores the GA tracking code](https://squidfunk.github.io/mkdocs-material/changelog/#8.0.3). As a result, the GA tracking code is not rendering and we're no longer tracking docs' usage. We should update the property in the the docs configuration with MkDocs v8.

[2022-10-02 08:37] #3732 closed

[2022-10-02 08:42] Adam-it commented on #3603
TBH I was thinking of the second option. The general aim was to target a command which is supposed to do the same as `listitem` one (as we may also reset folders using `listitem` one) but in order to make easier to find for the user we thought of creating dedicated `file` and `folder` commands which were suppose to do the same as the `lisitem` one. So I would say reseting the `list` permissions wa

[2022-10-02 17:24] Jwaegebaert commented on #3706
Super @VividhPandey003! Thanks so much for your contribution. I'll review it ASAP. 🚀

[2022-10-02 20:22] #3690 closed

[2022-10-02 20:22] #3706 closed

[2022-10-02 20:22] #3605 closed

[2022-10-03 10:47] martinlingstuyl commented on #2155
I'm running into issues with Axios and certificates as well here: axios breaking on 'Unable to verify the first certificate'
Postman shows the same exception by the way. the Invoke-WebRequest commandlet and Fiddler have no issues though.

The certificate looks fine. It's a wildcard certificate issued by DigiCert. All the certs in the chain are OK.

[2022-10-03 12:42] appieschot commented on #3728
Awesome! All yours

[2022-10-03 14:28] garrytrinder opened #3741 "Force text output on `login`, `version`, `status` and `util accesstoken get` commands"
When we changed the default output mode to use JSON, certain commands wrap the command output in quotes, which is unnecessary.

For example, `login`, `version` and `status` return an output which is wrapped, it would be nice if these commands would force `text` output mode to remove the quotes.

<img width="948" alt="image" src="https://user-images.githubusercontent.com/11563347/193602265-e2c46824

[2022-10-03 14:34] garrytrinder commented on #3741
Thoughts @pnp/cli-for-microsoft-365-maintainers ?

[2022-10-03 14:40] garrytrinder opened #3742 "New command: `aad app list`"
### Usage

m356 aad app list

### Description

Retrieves a list of Azure AD app registrations

### Options

None

### Examples

Retrieve a list of Azure AD app registrations

[code]

### Additional Info

[code]

`appId`, `objectId`, `displayName`, and `signInAudience` should be displayed when using text output.

Source: [List applications](https://learn.microsoft.com/en-us/graph/api/application-li

[2022-10-03 18:13] martinlingstuyl commented on #3741
Good point Garry! While we would sacrifice being consistent a bit, I do feel these commands have a special status in the CLI, I'd not mind having a different default output for these.

The same flies for the `util accesstoken get` command by the way.

[2022-10-03 18:17] martinlingstuyl commented on #3742
looks great Garry. Nothing to add!

[2022-10-03 19:25] waldekmastykarz commented on #3718
Good to get this verified. The question stands: shall we treat all unknown options as strings to avoid side-effects of some values being treated as numbers or booleans?

[2022-10-03 19:30] martinlingstuyl commented on #3575
A usecase would be if you are creating files in memory, like I often do within Automation scripts, running on PowerShell. But let's close this issue down for now. Interacting with the filesystems works as well, and is OK for me.

[2022-10-03 19:30] #3575 closed

[2022-10-03 19:48] martinlingstuyl commented on #3718
I think we should!

But this behavior evidently also occurs on known options (`spo list set`). Should we start adding every relevant property to the string and boolean arrays?

And by the way, this is actually also the reason for the [discussion here](https://github.com/pnp/cli-microsoft365/discussions/3715)  In that situation, `true` actually interpreted as a `boolean` type by minimist, while the

[2022-10-03 21:54] #3595 closed

[2022-10-03 21:54] #3699 closed

[2022-10-03 21:54] #3700 closed

[2022-10-03 22:05] garrytrinder commented on #3741
Good catch on the access token command @martinlingstuyl, I've updated the issue.

[2022-10-04 03:36] dgreuel commented on #3742
I would like to work on this

[2022-10-04 07:05] milanholemans commented on #3742
Awesome @dgreuel, thank you!

[2022-10-04 07:51] appieschot commented on #3742
Since there are a lot of potential reply URL's lets limit the values in the text output to `appId, displayName, publisherDomain, signInAudience`

[2022-10-04 10:44] anoopt commented on #3719
@Adam-it - I have create a [new repo](https://github.com/anoopt/CLI.Microsoft365.PowerShell.Predictor) for this as per the name as **CLI for Microsoft 365**.

The PowerShell module details can be found [here](https://github.com/anoopt/CLI.Microsoft365.PowerShell.Predictor/blob/main/src/CLI.Microsoft365.PowerShell.Predictor.Module/CLI.Microsoft365.PowerShell.Predictor/CLI.Microsoft365.PowerShell.Pr

[2022-10-04 11:01] Adam-it commented on #3719
@pnp/cli-for-microsoft-365-maintainers  please double check 🙏🙏🙏🙏

[2022-10-04 11:05] waldekmastykarz commented on #3719
@anoopt perfect! Ship it! I appreciate you checking with us 👏

[2022-10-04 11:06] waldekmastykarz commented on #3719
@anoopt let's do one more adjustment when you get to it 😊

https://github.com/anoopt/CLI.Microsoft365.PowerShell.Predictor#use-m365-cli-powershell-predictor

[2022-10-04 11:53] anoopt commented on #3719
Ah! The effects of copy paste and not updating! I have updated it now.

[2022-10-04 13:49] waldekmastykarz commented on #3084
I know that some folks use colors to distinguish upstream from origin, and other repos as well, so this seems like a user preference rather than something that we'd dictate.

[2022-10-04 13:52] waldekmastykarz commented on #2155
Seems like the underlying issue has been fixed in Axios and as far as I can tell we've been updating to their latest version. Is there anything specific on our end that we should consider for this to work?

[2022-10-04 16:47] appieschot commented on #3742
@waldekmastykarz Sorry that was what my remark was trying to address, ignore the reply URL's in text output and only show mentioned ones

[2022-10-04 18:44] SmitaNachan commented on #3713
Can I work on it?

[2022-10-04 19:06] Jwaegebaert commented on #3713
All yours @SmitaNachan!

[2022-10-04 19:20] martinlingstuyl commented on #2155
Never mind, I've come to the conclusion that there IS something wrong with the configuration of this specific API I am connecting to. I'm taking it up with the developer there.

Would it be a good idea to close this issue?

[2022-10-04 19:24] martinlingstuyl commented on #3741
Now you've got me doubting as well. 🤷‍♂️

[2022-10-04 19:57] #3603 closed

[2022-10-04 22:31] Adam-it commented on #3741
TBH for me it's kinda ok the way it is now 😉. I mean I am totally open for any improvement, but I see no risk/issue also with what we have currently 🤔.
@garrytrinder did you have some specific use case when for example the returned quotes were problematic?

[2022-10-04 22:36] Adam-it commented on #3719
sooo cool .. Will do it ASAP (but for sure not today/night 😋).
@anoopt thanks for your truly awesome contribution. You Rock 🤩🤩🤩

[2022-10-05 00:01] #3633 closed

[2022-10-05 09:04] anoopt commented on #3719
Thank you all.

Quick question - the way the predictor works is, it searches for if the entered input is present in the entire cli command and returns the results. Should it search in the entire command with parameters or just the command i.e. as an example should it search for just the highlighted part below or the entire command with parameters?

![image](https://user-images.githubusercontent.co

[2022-10-05 09:23] #3719 closed

[2022-10-05 10:55] SmitaNachan commented on #3691
Can I work on it?

[2022-10-05 10:59] SmitaNachan commented on #3688
Can I work on this?

[2022-10-05 11:04] Jwaegebaert commented on #3688
All yours @SmitaNachan! Much appreciated.

[2022-10-05 11:05] Jwaegebaert commented on #3691
All yours @SmitaNachan! 🚀

[2022-10-05 11:06] SmitaNachan commented on #3710
Can I work on this?

[2022-10-05 11:11] anoopt commented on #3719
Latest version with above changes is now live - https://www.powershellgallery.com/packages/CLI.Microsoft365.PowerShell.Predictor/0.0.5

[2022-10-05 11:11] Jwaegebaert commented on #3710
You're on fire @SmitaNachan!

[2022-10-05 11:15] Jwaegebaert commented on #3716
It would indeed not add that much value but it would be consistent with descriptions that are relatively bigger. When we have a description with 2 senteces for example, then the statement "The title of the card" would look a bit out of place.

[2022-10-05 11:18] waldekmastykarz commented on #3716
It seems like a significant amount of work with no benefit other than consistency with longer descriptions, which are more of an exception than a rule. I'd suggest that we focus on more valuable features first and close this for now.

[2022-10-05 11:18] Jwaegebaert commented on #3716
The main reason I raised this issue is that our command descriptions are quite diverse. Some are just small statements while others have bigger explanations.

[2022-10-05 11:19] Jwaegebaert commented on #3716
Yeah that's true, it will require a lot of work.

[2022-10-05 11:20] waldekmastykarz commented on #3716
And I think that's perfectly fine. We should strive to use as few words as possible to communicate the purpose of each option, because that's easier to understand than prose. In some cases, we can't avoid longer descriptions and adding an extra sentence in the description rather than remarks, makes it easier to grasp. I'd say let's use our judgement and add punctuation where it improves readabilit

[2022-10-05 11:22] Jwaegebaert commented on #3716
Good for me 👍

[2022-10-05 11:22] #3716 closed

[2022-10-05 11:56] waldekmastykarz commented on #3718
Where it makes sense, yes.

Let's start small and avoid trying to boil the ocean.

[2022-10-05 12:35] martinlingstuyl commented on #3718
If we would let all unknown options be parsed as strings, would we get into trouble with actual numbers or boolean fields that are saved to (for example) SharePoint

[2022-10-05 22:35] Adam-it opened #3749 "Small code refactoring fixes"
### 🤔 Problem

Along resolving PR comments @Jwaegebaert noticed we have some not proper naming of private methods in some permission commands added not so long ago (most are my mistakes, sorry for that 🙏, probably to many transitions TS and C# along the day 😋). In some cases we have private methods names as PascalCase instead of camelCase.
example 👇
https://github.com/pnp/cli-microsoft365/blob/4b1

[2022-10-05 22:35] Adam-it commented on #3749
@pnp/cli-for-microsoft-365-maintainers any comments on this one ?
I think this might be a perfect "good first issue"

[2022-10-05 23:04] milanholemans commented on #3749
For me this is perfectly fine Adam these commands are quite small to refactor.
However I don't know what other maintainers think since we decided to postpone async/await refactoring until V6 has been released.

[2022-10-06 05:58] martinlingstuyl commented on #3719
This is very nice @anoopt, just tried it out, very helpful!

[2022-10-06 07:29] milanholemans opened #3750 "Bug report: wrong error format for commands"
### Description

When running the command `spo folder roleinheritance reset` with wrong parameters, the displayed error is in XML.

![image](https://user-images.githubusercontent.com/11723921/194241890-eb3f1004-267b-4b60-9e59-9e9ab3165e32.png)

The problem can be fixed by editing this line:
https://github.com/pnp/cli-microsoft365/blob/4b19747d800afa8595aa6d3e3929de6595b985b7/src/m365/spo/commands/

[2022-10-06 07:35] Jwaegebaert commented on #3749
Great job @Adam-it. Looks good to go. On the aspect of the async/await refactor. I'm not quite sure it should be included in this issue.

[2022-10-06 07:44] milanholemans commented on #3632
All issues completed 👏

[2022-10-06 07:44] Jwaegebaert commented on #3750
Currently, the same goes for `m365 spo file roleinheritance reset`

![afbeelding](https://user-images.githubusercontent.com/38426621/194247528-3cf78f9f-8524-4e11-93a0-87fe35495f88.png)

[2022-10-06 07:45] Jwaegebaert commented on #3750
Let's analyze which commands are effected so we can fix them all up in this issue 😄

[2022-10-06 07:47] milanholemans commented on #3750
In that case, let's indeed list all commands which are experiencing the same problem, I'll create a separate issue for the docs change. 😃

[2022-10-06 07:50] milanholemans opened #3751 "Change example docs for `spo folder roleinheritance reset`"
Suggestion is to edit the 2nd example in the docs for command `spo folder roleinheritance reset`.
For the folderUrl option we can both provide "Shared Documents/TestFolder" and "/sites/project-x/Shared Documents/TestFolder". It would be nice if we have these 2 examples in the docs.

Therefore I suggest to edit the 2nd example in the docs to:
[code]

[2022-10-06 07:52] TheZal commented on #3751
I can work on this! :)

[2022-10-06 07:53] milanholemans commented on #3751
@TheZal all yours! Thank you!

[2022-10-06 08:18] Adam-it commented on #3750
@milanholemans thanks for pointing this out. Very good catch. Lets research all other commands that have it and group them in this single issue 👍

[2022-10-06 08:19] Adam-it commented on #3749
@Jwaegebaert that's true that async/await is not primary thing to be done with this issue. But if it will be done along the way... all the better 😉

[2022-10-06 09:15] Adam-it opened #3754 "Include response output of a command in docs"
### 💡Idea

The basic idea is to include command output in the command's doc.

### 🤔 Things to consider

#### General pointers

- We display every output format (JSON, Text, CSV)
- We normalize the data. For example, URLs are converted to 'contoso' as the tenant name
- We change any personal information included in the output
- If an option A returns a different output as option B, then we include

[2022-10-06 09:16] Adam-it commented on #3754
@pnp/cli-for-microsoft-365-maintainers any comments

[2022-10-06 09:53] garrytrinder commented on #3741
No use case, it just always bothered me that the output was wrapped in quotes since we changed the default output. 😄

@waldekmastykarz agreed, these are breaking changes.

In the case of `login` the initial output, the string that contains the link to the device login and the code, is always going to be text, this isn't something that you would script against as the login flow is interactive, howe

[2022-10-06 09:58] milanholemans commented on #3754
My suggestion:
Title: Include response output of a command in the docs

Also we agreed to provide an output response for all provided examples since every example can output something different.

[2022-10-06 10:14] Jwaegebaert commented on #3754
Before we open it up to everyone, let's do a few commands like a 'get', 'list', 'add', 'set', and a 'remove' ourselfs so contributors can have an example how it should look like. Afterwards we can convert this to an epic and create bundles of like 5 commands each. All great issues for hacktoberfest 😄

[2022-10-06 10:36] garrytrinder commented on #3724
I just noticed this running the `docker` container, good catch @martinlingstuyl 👍

[2022-10-06 12:38] ryanspain commented on #3670
I'd love to see commands like the below to improve the inner dev loop when working on web resources. This would save having to use other [still great] tools like `spkl` from Scott Durow and XrmToolBox plugins.
- `pp dataverse webresource list`
- `pp dataverse webresource get`
- `pp dataverse webresource export`
- `pp dataverse webresource import`

Each with options to provide a `--solution` and `-

[2022-10-06 15:15] aaden001 commented on #509
Hii @devinprejean mind sharing what worked that was acceptable? I am experiencing the same thing here.

[2022-10-06 17:40] milanholemans commented on #3750
According to me this is only happening for 2 commands.

spo folder roleinheritance reset
spo file roleinheritance reset

Opening it up to the community. If you find more commands, feel free to add them.

[2022-10-06 18:27] appieschot commented on #3670
@ryanspain that totally makes sense, feels like we should put them under our `dataverse` command as from what I know a web resource is stored in the dataverse database and thus feels 'correct' to group under there.

We would love to have them specced. I have added them to the epic and feel free to spec out!.

[2022-10-06 20:23] martinlingstuyl commented on #3741
I agree with you here @garrytrinder, we should be more consistent.

One small thing is that the output with quotes can in fact be converted in PowerShell just fine. The string contains quotes, like this:

`$test = '"this is some parsable string"'`

You can convert that just fine. But other than that I'd not really call it a json object and I agree with you that it would be better to update the out

[2022-10-06 21:39] MathijsVerbeeck commented on #3598
I would like to work on this one!

[2022-10-06 21:40] milanholemans commented on #3598
Awesome @MathijsVerbeeck, all yours!

[2022-10-06 22:08] milanholemans opened #3759 "New command: `spo hubsite connect`"
### Usage

m365 spo hubsite connect

### Description

Connect a hub site to a parent hub site.

### Options

Option | Description
-- | --
`--id [id]` | ID of the hub site. Specify either `id`, `title` or `url` but not multiple.
`--title [title]` | Title of the hub site. Specify either `id`, `title` or `url` but not multiple.
`--url [url]` | URL of the hub site. Specify either `id`, `title` or `url

[2022-10-06 22:09] milanholemans commented on #3759
@pnp/cli-for-microsoft-365-maintainers your feedback is highly appreciated 😃

[2022-10-06 22:20] milanholemans opened #3760 "New command: `spo hubsite disconnect`"
### Usage

m365 spo hubsite disconnect

### Description

Disconnects the specified site collection from its parent hub site.

### Options

Option | Description
-- | --
`-i, --id [id]` | ID of the hub site. Specify either `id`, `title` or `url` but not multiple.
`-t, --title [title]` | Title of the hub site. Specify either `id`, `title` or `url` but not multiple.
`-u, --url [url]` | URL of the hub

[2022-10-06 22:23] milanholemans commented on #3760
@pnp/cli-for-microsoft-365-maintainers feedback is appreciated here.

[2022-10-06 22:29] MathijsVerbeeck commented on #3657
I would like to work on this one!

[2022-10-06 22:30] milanholemans commented on #3657
Awesome @MathijsVerbeeck!
It's all yours!

[2022-10-06 22:41] milanholemans opened #3762 "Fix `spo hubsite` docs typos"
Typos are painful, noticed a few in the docs of our `spo hubsite` commands.

- [ ] spo hubsite disconnect
- [ ] spo hubsite get

### spo hubsite disconnect
Description says: `Disconnects the specifies site collection from its hub site`
This should be Disconnects the specifie`d` site collection from its hub site

### spo hubsite get
In the description of the options you can see `hubsite` multiple t

[2022-10-06 22:43] PriyanshuAhlawat commented on #3762
will like to work on it, pls assign

[2022-10-06 22:44] milanholemans commented on #3762
Awesome, all yours!

[2022-10-07 05:32] martinlingstuyl commented on #3760
Hi @milanholemans, I think we already have that command covered:

https://pnp.github.io/cli-microsoft365/cmd/spo/hubsite/hubsite-disconnect/

[2022-10-07 05:34] martinlingstuyl commented on #3760
Seeing your recent typo issue, I think you figured this out 😀

[2022-10-07 06:21] nanddeepn commented on #3750
Can I work on this?

[2022-10-07 06:39] Jwaegebaert commented on #3750
You sure can @nanddeepn!

[2022-10-07 06:45] martinlingstuyl opened #3765 "Cookie Consent on our docs site"
The mkdocs material theme now has a new Cookie Consent feature to be able to let people accept the cookies a site uses:
https://squidfunk.github.io/mkdocs-material/setup/ensuring-data-privacy/#cookie-consent

The feature is still experimental.

How about we add this to our site, to become more compliant with privacy regulations?

![](https://squidfunk.github.io/mkdocs-material/assets/screenshots/c

[2022-10-07 06:56] MathijsVerbeeck commented on #3711
I could work on this!

[2022-10-07 06:57] Jwaegebaert commented on #3711
You're on fire @MathijsVerbeeck! You're assigned.

[2022-10-07 07:18] milanholemans commented on #3760
Correct me if I'm wrong, but this command disconnects a site from a hub site. It doesn't disconnect a hub site from its parent hub site. As you can see the API request is also different for that command.

Was thinking to merge this "new" command with the already existing one, but I think it will be confusing to have 1 command that is capable of disconnecting a regular site from a hub site **and**

[2022-10-07 07:39] Jwaegebaert commented on #3668
@appieschot could #3711 be a duplicate of this one?

[2022-10-07 07:44] milanholemans commented on #3765
Just asking, do we need cookies for anything?

[2022-10-07 07:44] appieschot commented on #3668
Whoops @Jwaegebaert you are right, looks like I didnt pay attention when speccing out. Let's close this one!

[2022-10-07 07:44] #3668 closed

[2022-10-07 07:46] appieschot commented on #3711
Awesome! And quick reminder; if we are dependent on Dynamics permissions as we are in #3684 you might want to have a quick look at that one as there the helper to determine the Dynamics URL is already in place 🦾

[2022-10-07 07:50] martinlingstuyl commented on #3765
We use them....google analytics...

[2022-10-07 10:02] MathijsVerbeeck commented on #3711
@appieschot I've noticed that I'll have to first execute a different command to get the details from the environment (for getting the org crm api URL, and a PR for this command has already been added,. Is it handy that I'll wait and use this command before beginning on this PR or do you think that it's OK to just use your PowerPlatform util method to retrieve the API Url?

[2022-10-07 10:05] appieschot commented on #3711
@MathijsVerbeeck Whatever you feel easiest; you can wait for the PR to be finished, or just copy the files and reuse the PowerPlatform util and assume those will be there very very soon ;-). (Currently you also need a custom app registration to execute Dynamics queries as those permissions are not added yet. They will be soon though :D

[2022-10-07 10:07] MathijsVerbeeck commented on #3702
I would like to work on this!

[2022-10-07 10:12] Jwaegebaert commented on #3702
No problem @MathijsVerbeeck! You're assigned.

[2022-10-07 11:58] appieschot opened #3766 "New command: `m365 pp solution publisher list`"
### Usage

m365 pp solution publisher list

### Description

Lists Microsoft Power Platform publishers in the specified Power Platform environment.

### Options

Option | Description
-- | --
`-e, --environment <environment>` | The name of the environment
`--asAdmin` | Run the command as admin for environments you are not a member of

### Examples

List publishers in the environment named _Default-

[2022-10-07 12:26] appieschot opened #3767 "New command: `m365 pp card list`"
### Usage

m365 pp card list

### Description

Lists Microsoft Power Platform cards in the specified Power Platform environment.

### Options

Option | Description
-- | --
`-e, --environment <environment>` | The name of the environment for which to retrieve cards.
`--asAdmin` | Run the command as admin and retrieve cards for environments you do not have explicitly assigned permissions to.

### Exa

[2022-10-07 19:31] Adam-it commented on #3719
@anoopt amazing work. using it right now. 🤩
will include this in some near blog post for sure 👍👍👍👍

[2022-10-07 19:31] appieschot opened #3770 "New command: `m365 pp card get`"
### Usage

m365 pp card get

### Description

Gets information about the specified Power Platform card.

### Options

Option | Description
-- | --
`-i, --id <id>` | The ID of the card to retrieve
`-e, --environment <environment>` | The name of the environment for which to retrieve the card details.
`--asAdmin` | Run the command as admin and retrieve card details for environments you do not have ex

[2022-10-07 19:33] Adam-it commented on #3759
looks ok to me ✅ No comments 👍

[2022-10-07 19:40] Adam-it commented on #3741
ok totally clear now. +1 here as well 👍

[2022-10-07 19:41] Adam-it commented on #3754
@Jwaegebaert good idea. Wanna take the lead? If not I can take it 🙂

[2022-10-07 19:54] garrytrinder opened #3771 "Add `CLI for Microsoft 365 PowerShell Predictor` into Docker image"
The recently released `CLI for Microsoft 365 PowerShell Predictor` would be a great user friendly addition to the Docker container.

https://github.com/anoopt/CLI.Microsoft365.PowerShell.Predictor

[2022-10-07 23:36] Adam-it opened #3772 "Small code refactor - avoid overwriting args and consider them as read only"
### 🤔 Problem

We should not overwrite `args` and consider them always as read only. So this kind of code
https://github.com/pnp/cli-microsoft365/blob/4b19747d800afa8595aa6d3e3929de6595b985b7/src/m365/spo/commands/list/list-roleassignment-add.ts#L172

should be refactored to use local variable

### Commands

Currently I did not check if this problem is present also in other commands. This research

[2022-10-07 23:36] Adam-it commented on #3772
@pnp/cli-for-microsoft-365-maintainers any comments ?

[2022-10-08 03:40] plamber commented on #3759
Hi,
looks good to me. Are there any reasons you want to call it "connect"? Other PnP initiatives use the word "join" for this operation (e.g., https://pnp.github.io/pnpcore/using-the-sdk/sites-hubsites.html). I would just align the command name to it.

I would do the same for #3760.

Cheers

[2022-10-08 07:36] Jwaegebaert commented on #3772
Great issue @Adam-it

I found the following commands aswell with the same issue. The numbers next to the commands are the line number.

 **SPFx**

- spfx-doctor 518

**SPO**

- list-roleassignment-remove 151 & 155
- listitem-roleassignment-remove 161 & 165
- web-roleassignment-remove 109 & 113

**Yammer**

- message-list 130

I've got more but these ones should be removed with the v6 release, so t

[2022-10-08 07:57] Jwaegebaert commented on #3754
Yeah sure, I can do that. I'll create an issue for it shortly and link it here.

[2022-10-08 08:09] Jwaegebaert opened #3773 "Include response output: `Planner bucket` & `Planner plan`"
Related to #3754

Update the documentation to include the reponse output for each example. Following the guidelines noted in the related issue.

This will be done for:

- planner bucket add
- planner bucket get
- planner bucket list
- planner bucket remove
- planner bucket set

- planner plan add
- planner plan get
- planner plan list
- planner plan remove

[2022-10-08 10:34] milanholemans commented on #3759
Hi @plamber valid point. I called it connect since we already have a command that joins a regular site to a hub site.
That command is called `spo hubsite connect`. So I just used that naming.

[2022-10-08 10:38] plamber commented on #3759
Thank you. Havent seen that one. Let us keep our naming then

[2022-10-08 11:12] KbWorks opened #3774 "Enhance teams chat list command to list chats for a specific user"
## New specs

Based on the comments, the following specs emerged:

Enhance the `teams chat list` command to be able to query a list of chats for a specified user. (Using app only permissions)

Option | Description
--|--
`--userId [userId]` | The Id of the user for which to list chats. Specify either `userName` or `userId` but not both.
`--userName [userName]` | The upn of the user for which to lis

[2022-10-08 11:48] #3084 closed

[2022-10-08 11:57] waldekmastykarz commented on #3749
Preferable solution would be to introduce an eslint rule that will check it for us and then fix all reported issues. That way, we'll get a sustainable solution long term.

[2022-10-08 11:58] waldekmastykarz commented on #3749
+1 on postponing async/await refactoring, like we agreed

[2022-10-08 12:00] waldekmastykarz commented on #3772
Very good proposal and I'm in favor of enforcing it. Could we spend a little time and see if we can report such assignments with eslint so that we've got something watching our back so that we won't do it again in the future?

[2022-10-08 12:02] waldekmastykarz commented on #3750
Could we use `application/json;odata=nometadata`? `odata.metadata=none` aligns with OData v4 whereas SPO APIs are v3 by default. If there's no need for us to retrieve metadata, we shouldn't to avoid transporting unnecessary data.

[2022-10-08 12:06] waldekmastykarz commented on #3741
@garrytrinder I like your suggestion to return the account information upon successful login. That's an enhancement, so we could add it already.

Correct, but that's just one case when you use `--authType deviceCode`. It might be different in other auth modes, and it would definitely be confusing if we use different output modes depending on which options you use.

[2022-10-08 14:16] Adam-it commented on #3772
Great work @Jwaegebaert 👍.
Good suggestion @waldekmastykarz will try to have a check on that 🤔👍

[2022-10-08 14:55] milanholemans commented on #3750
That might work, haven't tested it. However I don't think this odata header is needed. Only one POST request is performed that returns no data. We only get data back when an error occurs.

[2022-10-08 14:58] milanholemans commented on #3749
Also something I noticed is that right now we can create functions without return type (which result in a `void` by default). Maybe we could add an extra rule to enforce that every function created has a return type (which I believe is best practice).

[2022-10-08 15:15] milanholemans commented on #3774
Hi @KbWorks thank you for your suggestion.
So if I understand it correctly you want a command to list all teams chats for a current user right?
Something like this:
https://learn.microsoft.com/en-us/graph/api/chat-list

[2022-10-08 15:48] martinlingstuyl commented on #3741
@garrytrinder, I think we can convert this issue to an epic and create a new issues for all the things we want to change.

[2022-10-08 17:32] waldekmastykarz commented on #3665
After checking the behavior in SPFx v1.15.2, I noticed that the SPFx generator adds only one feature, with a unique ID, even if you added multiple components to the project. I'll very the mechanics with the PG once again just to be sure that we're recommending the right thing.

[2022-10-08 17:37] waldekmastykarz commented on #3754
To avoid that our docs become overly verbose, I'd propose that we centralize the output in an extra section right after options. If a command has options that change the output, we'd prepend description to each output, eg.

----------

For a command with one output:

## Options

...

## Output

[code]

## Remarks

...

----------

For a command with different outputs:

## Options

...

## Output

[2022-10-08 17:40] waldekmastykarz commented on #3741
@martinlingstuyl isn't the only change showing the same information as in `m365 status` after signing in? If that's the case, we might as well close this issue and create a new one without an epic.

[2022-10-08 17:41] waldekmastykarz commented on #3749
@milanholemans good suggestion! Let's create a separate issue for that.

[2022-10-08 17:42] waldekmastykarz commented on #3750
Still, if we can avoid retrieving data that we don't need, we should do it. It puts less strain on M365 and speeds up the CLI.

[2022-10-08 17:46] waldekmastykarz commented on #3742
Shouldn't we include objectId among the properties we list? What's the benefit of having `publisherDomain` in the overview?

[2022-10-08 17:49] waldekmastykarz commented on #3718
Possibly. One way about it, it so leave unknown options as-is, and for the few options, define known equivalents which we handle properly. If we start adding specific unknown options to types, they won't make much of an unknown, wouldn't you say? 😄

[2022-10-08 17:55] waldekmastykarz commented on #2073
Looking at the different purpose and functionality (and caveats) of the export and the regular list API, I wonder if we should combine both commands after all or if we should rather keep them separate. My gut feeling says to keep them separate, because using the export API requires you to have a specific AAD app, which has been granted special API access and a license, whereas you don't need eithe

[2022-10-08 17:57] waldekmastykarz commented on #2029
@Adam-it this is way too complex for a good first issue, imho, because it requires the contributor to manually build batches, issue requests and parse responses, which isn't as simple as calling a single API. I'd keep it as-is.

[2022-10-08 17:59] waldekmastykarz commented on #1961
We can definitely split it into two separate issues, if that makes it easier to pick up. I'm not sure if it's necessary to explain which commands are necessary for each step or if it's going too much into the direction of actually building the script 😄

[2022-10-08 18:07] waldekmastykarz commented on #3725
I think it all depends on the use case. I think you're unlikely to login interactively with a secret or cert, because these options are typically used in the context of automation with app-only access, where you might define app- and tenant ID in env vars. There's no harm in adding an extra explanation to the existing sample saying that it assumes specific values are set in env vars, and then addi

[2022-10-08 19:09] Adam-it commented on #1961
Ok agreed 👍.
Do you want to open the 'child' issues and close this one or should I do it?

[2022-10-08 19:10] Adam-it commented on #2029
Thanks @waldekmastykarz for your response 👍.
Leaving this open in the current state 👍

[2022-10-08 19:12] Adam-it commented on #2073
@waldekmastykarz this is a very valid comment 😯.
@martinlingstuyl what do you think about making two separate commands? And maybe separate issues?

[2022-10-08 19:19] Adam-it commented on #3749
Thanks @Jwaegebaert, @milanholemans  and @waldekmastykarz  for your awesome input on this issue. You all rock 🤩.
I updated the spec to remove the async/await idea and add the suggestion that we should create a new eslint rule in order to validate this.
Do you think this issue is ok for a 'good first issue'?
If yes I will add the tag and leave this open, otherwise I could try to do it 😉

[2022-10-08 19:24] Adam-it commented on #3754
@waldekmastykarz wouldn't it be better to have the output after the examples? It's just feels like natural reading the spec this way like:
"
This is the command
This are the options
This are the examples how to use it
This is the possible output you will get when success.
"
For me would be a bit strange to see the output right after the command before seeing possible settings and how to use it 🤔.

[2022-10-08 22:59] milanholemans commented on #3754
This is also my preference. Every example gets an output. In my opinion this is the most logical place for outputs. This is also the case for graph docs.

[2022-10-08 23:15] milanholemans opened #3777 "Create eslint rule to enforce function return type"
Right now it is perfectly fine to write a function like this:

[code]

Best practice is to always define a return type for your function. We could enforce this with an eslint rule. The rule we are looking for is `@typescript-eslint/explicit-function-return-type`.

We should enable the eslint rule and fix all the functions that violate this rule.

[2022-10-08 23:34] milanholemans commented on #3749
Imo we can label it as good first issue if we specify which eslint rule to use. Otherwise I wouldn't label it with good first issue 😀

[2022-10-09 04:59] plamber commented on #3765
@martinlingstuyl: I agree that we should integrate this on our sites.

[2022-10-09 05:06] plamber commented on #2982
Hi @Abderahman88,
are you still interested in working on this one?

As suggested by @waldekmastykarz we could use this issue here to describe the _m365 notes pages list_ command and create three separate issues to handle the other three commands.

Thank you for your feedback

[2022-10-09 05:19] plamber commented on #3348
Hi,
Teamify works only if the underlying Group provisioning is completed.

Creating a group and immediately after teamify will fail. From experience, you wait between 10 and 60 seconds until you can teamify. Therefore, I suggest the --wait option should wait 60 seconds max and then let the command fail. It is a command-specific behavior, and we shouldn't use a central option.

Cheers

[2022-10-09 08:32] waldekmastykarz commented on #3777
You mean we should enable the existing rule, right @milanholemans? There's no need for us to create anything, correct?

[2022-10-09 08:35] waldekmastykarz commented on #3754
If all examples have the same output, what's the added value of repeating them?

[2022-10-09 08:36] waldekmastykarz commented on #2073
We already have `teams chat message list`, so we'd just need one new command for export, which this issue is for, correct?

[2022-10-09 08:39] waldekmastykarz commented on #1961
Please create new issues, @Adam-it

[2022-10-09 08:47] waldekmastykarz commented on #3759
Following our naming convention, we should adjust option names:

- `--id` should be `--hubSiteId`
- `--title` should be `--hubSiteTitle`
- `--url` should be `--hubSiteUrl`
- `--parentId` should be `--id`
- `--parentTitle` should be `--title`
- `--parentUrl` should be `--url`

The last noun in the command's name is `parent` so that's the context that we apply to options' names.

[2022-10-09 08:49] waldekmastykarz commented on #3760
Following our naming convention we should rename options:

- `--id` should be `--hubSiteId`
- `--title` should be `--hubSiteTitle`
- `--url` should be `--hubSiteUrl`

The last noun in the command's name is `parent` so that's our working context for options' names.

[2022-10-09 08:54] waldekmastykarz commented on #3671
@rudolphpienaar @Jwaegebaert since you can send emails to people outside your organization, shouldn't we be looking at user's contacts rather than users in the current AAD?

[2022-10-09 08:55] waldekmastykarz commented on #3676
Even though the work is repetitive, it's a lot of work because it includes adding options, updating command logic for retrieving list, updating docs, adding examples, adding tests, so I'd be all for breaking it up and changing this to an epic.

[2022-10-09 09:21] milanholemans commented on #3759
Aw yeah good catch @waldekmastykarz
I probably looked too much to the `spo hubsite connect` command
I'll update the spec.

[2022-10-09 09:26] waldekmastykarz commented on #3665
I just noticed, that somehow, in the definition of the feature that we've been adding, we missed:

[code]

This might very well be the reason why the update instructions led to broken projects.

[2022-10-09 09:36] milanholemans commented on #3676
Would you create 1 issue each command? Will be quite some issues.

[2022-10-09 09:43] milanholemans commented on #3777
Yeah 'create' is maybe a bad choice of words. We shouldn't create the rule but simply add/enable it indeed 🙂

[2022-10-09 09:47] waldekmastykarz commented on #3665
I've had another look at the SPFx mechanics in different situations, and it turns out, that from migration point of view, we shouldn't suggest adding a feature to package-solution.json. When there's no feature in there, SPFx will default to its original behavior of creating a separate feature for each component.

When you however upgrade your project to v1.15.2 and add a new component, you'll get

[2022-10-09 10:02] waldekmastykarz commented on #3676
What if we'd group similar commands and create an issue for each group?

[2022-10-09 10:04] waldekmastykarz commented on #3754
I've updated the issue because we not only want to include the output in future specs but also in docs

[2022-10-09 10:06] waldekmastykarz commented on #3565
Closing due to lack of response

[2022-10-09 10:06] #3565 closed

[2022-10-09 10:10] Adam-it commented on #3749
ok since probably I was the troublemaker 😉 I'll take this one and learn a bit of eslint along the way 👍

[2022-10-09 10:20] Adam-it commented on #3754
TBH I was not thinking to show output for every example 🤔, But that's also an interesting thought 👍.
I was more thinking that we should present (if possible) single output at the very end of the docs and the output should rather be the one you will get when providing values for the obligatory options.
I think creating output for every possible option we may set in a command or example mentioned wo

[2022-10-09 15:32] gaston-flores commented on #3777
@waldekmastykarz Mind if I take this one?

[2022-10-09 15:37] veronicageek commented on #3277
@waldekmastykarz - I'm gonna have to free that issue because unfortunately I simply cannot get it to work 🤷🏻‍♀️

[2022-10-09 16:08] Jwaegebaert commented on #3777
All yours @gaston-flores !

[2022-10-09 16:47] martinlingstuyl commented on #2073
Correct,

We have `teams chat message list`.
The export should be a separate command.

I'm doubting though if we should rename it to `teams chat message export`. It would be more consistent.

What about the question around attachments. What do you think of that?

[2022-10-09 16:51] martinlingstuyl commented on #3277
Thats unfortunate @veronicageek, care to show what you tried, so we can understand how to do this?

[2022-10-09 17:20] waldekmastykarz commented on #2073
`teams message export` seems more suiting indeed. Looking at the docs, it seems like you can't export messages from a specific chat, so adding `chat` in the command's name would be misleading.

How about `--withAttachments`?

[2022-10-09 17:21] waldekmastykarz commented on #3777
Please do @gaston-flores!

[2022-10-09 17:34] waldekmastykarz commented on #1921
Seems that this it not possible since npm 7, which by default suppresses all script output unless explicitly requested by the user, with `--foreground-scripts` or `--loglevel=verbose`, which I think we shouldn't require. Let's close the issue for now, until we find a better way of doing it.

[2022-10-09 17:34] #1921 closed

[2022-10-09 17:45] waldekmastykarz opened #3780 "Enhancement: extend `spfx doctor` to allow specifying version of SPFx to check compatibility for"
We should extend the `spfx doctor` command to allow users to specify the version of SPFx they want to check the compatibility for. This is useful, when you want to install a specific version of the SPFx generator, but first need to know which Node version you'll need. Right now, you can only specify SharePoint environment, but the SPFx version is detected automatically, which requires unnecessaril

[2022-10-09 19:43] martinlingstuyl commented on #2073
Ok, Check the updated specs. How about that?

[2022-10-09 20:52] #3657 closed

[2022-10-09 20:52] #3693 closed

[2022-10-09 22:38] milanholemans commented on #3689
@pnp/cli-for-microsoft-365-maintainers
Any remarks on this one?

[2022-10-10 07:30] martinlingstuyl commented on #3760
Are you guys all on board with the parent thing? I'd personally think it would be way nicer to combine the functionality with the existing `hubsite connect/disconnect` commands. Even if the api is different.

[2022-10-10 07:37] milanholemans commented on #3760
Yeah was thinking the same, but on the other hand, how will we keep it clear.
Then we need something like

[code]

to disconnect a regular site from a hub site.

[code]

to disconnect a hub site from a parent hub site.

I can live with it, but I found a new command the most clear option of all.

[2022-10-10 07:59] appieschot commented on #3742
@waldekmastykarz I used the response sample from https://learn.microsoft.com/en-us/graph/api/application-list?view=graph-rest-1.0&tabs=http and that does not have an `objectid` so I am not sure if we get that returned? When I put my admin hat on I would want to know where info is being send for apps, and if I recall correct that is what the `publisherDomain` is for.

[2022-10-10 08:02] Jwaegebaert commented on #3689
v6 already has some changes that you're suggesting but some points do need some improvement.

1. `teams channel get`
   * Remove short `-c` from `id` and change it to `-i`
   * Remove short `-i` from `teamId`
   * Add short `-n` to `name`

1. `teams channel remove`
   * Remove short `-c` from `id` and change it to `-i`
   * Remove short `-i` from `teamId`

1. `teams channel remove`
    * Rename `-

[2022-10-10 08:05] Jwaegebaert commented on #3689
Maybe we could also remove the short `-i` from `teams channel add` to align it with the other commands

[2022-10-10 08:15] milanholemans commented on #3689
Thank you for the feedback @Jwaegebaert. I've updated the spec!

[2022-10-10 09:45] appieschot commented on #1828
I have not; perhaps we can take this into account when we work on our #3670 epic?

[2022-10-10 10:04] appieschot opened #3781 "New command: `m365 pp card remove`"
### Usage

m365 pp card remove

### Description

Removes the specified Power Platform card.

### Options

Option | Description
-- | --
`-i, --id [id]` | The ID of the card. Specify either `id` or `name` but not both.
`-n, --name [name]` | The name of the card. Specify either `id` or `name` but not both.
`-e, --environment <environment>` | The name of the environment.
`--asAdmin` | Run the command

[2022-10-10 12:16] appieschot commented on #3781
@waldekmastykarz I am not sure; I haven't experimented with the API; as far as I know there is no way to retrieve a card by Name (so we would need to iterate through all cards and map name on ID). I would start with a version with the ID and with that in place extend if we can provide name as well :)

[2022-10-10 12:18] MathijsVerbeeck commented on #3546
I would like to work on this!

[2022-10-10 12:19] milanholemans commented on #3546
@MathijsVerbeeck all yours! Thank you!

[2022-10-10 12:51] waldekmastykarz commented on #2073
I'd suggest we rename `--filePath` to `--folderPath`, since we want people to point to a folder rather than a file

[2022-10-10 12:51] waldekmastykarz commented on #2073
Do we need the `pageSize` and `pageNumber` options?

[2022-10-10 12:55] waldekmastykarz commented on #3689
Let's ensure that we do these changes timely for v6 and also include them in the v6 upgrade guidance.

[2022-10-10 12:59] waldekmastykarz commented on #3760
Looking at both scenarios, you could make a point that the following is clearer:

- connect site to/disconnect from hubsite: spo site hubsite connect|disconnect
- connect hubsite to/disconnect from parent hub: spo hubsite connect|disconnect

[2022-10-10 13:33] martinlingstuyl commented on #3741
I think there's a couple of enhancements that are coming out of this discussion @waldekmastykarz, correct me if I'm wrong @garrytrinder :

- The `m365 login` command does not return anything. It should have an output object similar to `m365 status`.
- The `m365 status` currently returns a JSON object when you are connected, but returns a string (with quotes) when you are not, this is inconsistent.

[2022-10-10 14:43] martinlingstuyl commented on #2073
We don't!

🤦‍♂️ OMC (Cussing for nerds 2.0: oh my code)

[2022-10-10 14:47] martinlingstuyl commented on #3760
I agree that's clearer indeed. It would be a breaking change...

[2022-10-10 15:46] Adam-it commented on #2073
@martinlingstuyl looks ok to me 👍

[2022-10-10 17:33] appieschot commented on #2961
@pnp/cli-for-microsoft-365-maintainers I have the feeling we can close this one; feels like there is not too much interest on this and we should focus on implementing the other `pp` commands first. What do you think?

[2022-10-10 18:19] Abderahman88 commented on #2982
Hi @plamber,

Yes, I will try to make some time this week.

This issue is related to #3097 and #3100

[2022-10-10 18:41] #3653 closed

[2022-10-10 18:41] #3751 closed

[2022-10-10 18:41] #3713 closed

[2022-10-10 18:41] #3762 closed

[2022-10-10 19:08] garrytrinder commented on #3741
Correct, thanks for summarising @martinlingstuyl 👍🏻

[2022-10-10 19:23] garrytrinder commented on #3742
Updated spec to replace `publisherDomain` with `objectId` in text output.

FYI @dgreuel

[2022-10-10 19:26] garrytrinder commented on #3765
+1 great idea @martinlingstuyl 👍🏻

[2022-10-10 19:28] martinlingstuyl commented on #3765
Cool, thanks guys. I've opened it up.

[2022-10-10 19:36] mikezimm commented on #3665
@waldekmastykarz , Thanks again for looking into it.

Couple follow-ups:

1.  I take it we should not even include the features key with an empty array right?  Just totally leave it out?
[code]

2.  Can/Should we include the other parts before the feature that are new?
[code]

[2022-10-10 21:24] martinlingstuyl commented on #2961
It's still a good idea though... shouldn't we just add it to the pp epic?

[2022-10-10 21:34] martinlingstuyl opened #3782 "Enhancement: allow help option to contain values that influence the help output"
Currently, the `--help` option prints the entire command documentation page to the terminal.

As the help pages grow with extra content, this has the side effect of adding unnecessary clutter that's more a hindrance than a help for the user.

I propose that we change this behavior in the following manner:
- [x] allow for the following values in the help option: `options`, `examples`, `remarks`, `r

[2022-10-10 21:49] martinlingstuyl opened #3783 "Interactive Mode for list commands"
It would be a nice idea to have some extra interactivity in the CLI.

As an example see how the [jira CLI](https://github.com/ankitpokhrel/jira-cli) deals with lists.

It would be cool for our CLI if this was possible as well:
Allow for users to run a list command and select the wanted item using the up, down and enter keys, after which the associated get command is executed.

We need to research

[2022-10-10 21:55] martinlingstuyl opened #3784 "Interactive mode for disambiguation prompts"
It would be a nice idea to have some extra interactivity in the CLI.

As an example see how the jira CLI deals with lists.

For the CLI there are several places where such an interactive experience might be helpful.

## Scenario

There are a lot of places in the CLI where it is possible for the user to enter a name or a title or some such. The CLI will try to find the related object. Such as a tea

[2022-10-10 21:58] martinlingstuyl opened #3785 "Interactivity in the CLI"
It would be a nice idea to have some extra interactivity in the CLI.

As an example see how the jira CLI deals with lists.

For the CLI there are several places where such an interactive experience might be helpful.

I've written a few scenarios as issues:

- [x] #3783
- [x] #3784

However: I do not know yet how we should accomplish this, some research is essential. I'm posting this here to keep i

[2022-10-10 22:09] martinlingstuyl opened #3786 "New command: aad group get"
### Usage

m365 aad group get [options]

### Description

Retrieve information about a specific Azure AD Group

### Options

Option | Description
-- | --
`-i, --id [id]` | The object Id of the Azure AD group. Specify either `id` or `title` but not both.
`-t, --title [title]` | The display name of the Azure AD group. Specify either `id` or `title` but not both.

### Examples

Get the group informat

[2022-10-10 22:20] martinlingstuyl opened #3787 "Enhancement: extra options when adding SharePoint Group members for adding Azure AD groups"
In our [spo group user add](https://pnp.github.io/cli-microsoft365/cmd/spo/group/group-user-add/) command, we currently do not allow to add Azure AD groups as a user.

We could add the following option to allow for this

Option | Description
--|--
`--aadGroupId [aadGroupId]` | The object Id of the Azure AD group to add as a member. If multiple groups needs to be added, the Id's have to be comma se

[2022-10-11 06:17] appieschot commented on #2961
@martinlingstuyl my reasoning was to close this one; put a v3 something on the PP epic so that if we ever have 'time' we can come back to this one and spec out an improved version. As we currently already have a baseclass to retrieve the Dynamics info we could 're-use' some of that logic perhaps.

[2022-10-11 06:59] appieschot opened #3788 "New commands to work with OnlineMeetings"
https://twitter.com/Lee_Holmes/status/1578417869418688512 got me thinking, we should build a new command set around this one. We could build the following commands:

- [x] `m365 teams meeting list` to retrieve all online meetings; I am not sure how we can retrieve those; the only endpoint to get details is the events endpoint: `https://graph.microsoft.com/v1.0/me/events` but that does not support

[2022-10-11 07:02] appieschot commented on #3786
We support `deleted` in our list command, do we need to include the same option when retrieving groups, or is there no difference when retrieving the details?

[2022-10-11 08:25] martinlingstuyl commented on #2961
Fine by me: we can't do everything in one go. We'll fix it when it comes up as urgent :)

[2022-10-11 08:26] #2961 closed

[2022-10-11 08:28] appieschot commented on #3711
@MathijsVerbeeck the PR containing #3684 is merged so you should be good to go 🦾

[2022-10-11 08:28] martinlingstuyl commented on #3239
Hi @jacobsian-del, could you explain what you're running into here? Using the @ char is largely OK in PowerShell, if you run into trouble you can escape it with `

[2022-10-11 09:23] appieschot opened #3790 "New command: `m365 pp card clone`"
### Usage

m365 pp card clone

### Description

Clones the specified Power Platform card.

### Options

Option | Description
-- | --
`-i, --id [id]` | The ID of the card. Specify either `id` or `name` but not both.
`-n, --name [name]` | The name of the card. Specify either `id` or `name` but not both.
`--newName <newName>` | The name of the new card
`-e, --environment <environment>` | The name of

[2022-10-11 11:34] arjunumenon commented on #3783
It is a nice thought Martin. But I guess we already had a discussion on the same lines here #3054 . This could be an extension of that feature which we can bring in.

I personally may not be much interested in getting the lists. But I would very well be interested in getting the list AAD App and get the information by selecting the specific app.

[2022-10-11 11:37] arjunumenon commented on #3784
It is a idea Martin. Good that you put it here.
We already had some discussion which was initiated by Waldek around this topic some while back here - #2880 . Please feel free to chime in your valuable thoughts over there.

[2022-10-11 11:44] arjunumenon commented on #3782
That is a nice suggestion to give the option for the help command. Will be helpful for someone who would be looking for getting the options of the command alone.
Another suggestion if it is worth it - we can give it as a [Configuration Setting](https://pnp.github.io/cli-microsoft365/user-guide/configuring-cli/#configuring-settings) as the default output for help

In the same ground, my suggestion

[2022-10-11 11:53] appieschot opened #3791 "New command: `m365 pp dataverse table row list`"
### Usage

m365 pp dataverse table row list

### Description

Lists table rows for the given dataverse table

### Options

Option | Description
-- | --
`-n, --name<name>` | The name of the dataverse table to retrieve rows from
`-e, --environment <environment>` | The name of the environment to list all tables for
`--asAdmin` | Set, to retrieve the dataverse tables as admin for environments you are

[2022-10-11 11:53] appieschot commented on #3791
I did a few assumptions based on some quick checks with postman, will dive into it a bit more to make sure the specs check out.

[2022-10-11 11:59] appieschot commented on #3786
@arjunumenon good point! We should in that case however refactor the `o365group get` as it will not return all groups since it contains a filter for unified groups only

https://github.com/pnp/cli-microsoft365/blob/main/src/m365/aad/commands/o365group/o365group-list.ts?plain=1#L87-L88

[2022-10-11 13:25] martinlingstuyl commented on #3784
Good point @arjunumenon, apparently I did not search there :-)

[2022-10-11 13:31] arjunumenon commented on #3786
Good catch @appieschot 👍. When you are listing the groups, we are getting only unified groups. So when we enhance the command, we may have to update it.

But for this command, getting Group,  when we are getting a particular group, we are not doing any filter as per here.
[Getting group by ID](https://github.com/pnp/cli-microsoft365/blob/1672f8f0ee65d0e7fe3a3f28b38c1750aedbc452/src/m365/aad/comman

[2022-10-11 13:36] martinlingstuyl commented on #3786
Aaahhh 😂 it's not a very logical place though, if you're looking for functionality to retrieve Azure AD groups.
I'd be a proponent for adding `aad group get` as an alias, or creating two commands with shared code.
How are your thoughts about that?

by the way, something similar goes up for the non-existent command `aad group add`. If I'd want to create an AAD security group.

[2022-10-11 14:08] waldekmastykarz commented on #3239
Let's create a new issue to track it separately.

[2022-10-11 15:00] waldekmastykarz commented on #3665
Yes, the easiest way to mitigate it for now is to remove the feature property altogether, because the toolchain doesn't allow an empty array. The developer and metadata properties are good to use and have no impact on the upgrade process.

[2022-10-11 15:02] waldekmastykarz commented on #3741
@martinlingstuyl The string in quotes for m365 status makes it a valid JSON object that you can parse. That's exactly why the string is in extra quotes. Same goes for other commands. We could wrap them in an extra object, but what's the added value of it if we're returning just one property?

[2022-10-11 15:10] martinlingstuyl opened #3792 "Enhancement: Add option to push Content Type changes to children"
When using the [spo contenttype set](https://pnp.github.io/cli-microsoft365/cmd/spo/contenttype/contenttype-set/) command, the changes are not pushed to child contenttypes if you execute them on site level.

The purpose of this issue is to add a flag `--updateChildren` to force the changes to be saved to the child types.

Option | Description
--|--
`--updateChildren` | Use this flag to update chil

[2022-10-11 15:56] appieschot commented on #3786
Whoops I confused `list and `get` sorry ;-), so for `aad o365group get` we can use an alias :), and for `add` we would have new logic while `remove` could be an alias as well ;-)

[2022-10-11 16:01] mikezimm commented on #3665
@waldekmastykarz , on the subject of the developer and metadata properties, do you know where they actually show up to the end user?  Or is it only used directly in the package-solution.json?

[2022-10-11 17:54] waldekmastykarz commented on #3689
For suggestion #3, I'd say, let's merge #3688 directly to v6 and do it right the first time, instead of introducing new functionality in v5.9, only to break it in v6 😄

[2022-10-11 18:13] milanholemans commented on #3689
I'll merge this one with #3688

[2022-10-11 18:13] #3689 closed

[2022-10-11 18:25] milanholemans commented on #3688
@SmitaNachan sorry for the late turnaround. We decided to do this change immediately for v6 together with the renaming of the options.
Are you still willing to work on this one? This means that you'll have to redo your PR in a v6 branch.

[2022-10-11 18:47] martinlingstuyl commented on #3741
You're correct that it's valid JSON and you can parse it fine. However, I do feel like its confusing. You have to look twice before you know what's going on. Certainly if you are not very proficient in JSON.

I think that would be reason enough to move to real JSON objects.

[2022-10-11 21:45] #3598 closed

[2022-10-11 21:45] #3702 closed

[2022-10-11 21:45] #3750 closed

[2022-10-12 06:08] SmitaNachan commented on #3688
Hi @milanholemans
I will redo PR in v6 branch.

[2022-10-12 07:12] milanholemans commented on #3688
Awesome!

[2022-10-12 07:52] Adam-it commented on #3790
Good suggestion and nice spec 👍.
We are missing the `-` before the `n --name` option.
Also the examples show the `remove` not `clone` command

[2022-10-12 07:58] Adam-it commented on #3786
@martinlingstuyl I agree. For me it's totally ok to have also this command on the `aad` level. Does not matter if we do it as alias or as some part of sharable code I guess users may actually be searching for this kind of commands in both namespaces so it's a very good idea to improve the 'visibility' of that.

Also since we have something very similar this will be a perfect case for a `good first

[2022-10-12 08:07] MathijsVerbeeck commented on #3711
Hi @appieschot

I've navigated through the API and noticed that I will have to expand some properties such as Publisher, which is fine.

However, when I used the command from the Power Platform CLI, I noticed that only 2 results are being returned in my environment, and when running it through the API under the url /api/data/v9.0/solutions I get a lot of results. I've noticed that the pac solution

[2022-10-12 09:56] appieschot commented on #3711
@MathijsVerbeeck Hmm, interesting findings, I did not know they passed in a filter in the `pac solution list`. In our case let's align with that and use the same filter. In future releases we could incorporate a flag to show the hidden ones. For the `msdyn` If I recall correctly those are things configured in Dynamics so they should show up.

[2022-10-12 11:37] SmitaNachan commented on #3688
Hi @milanholemans
PR raised in v6 branch at https://github.com/pnp/cli-microsoft365/pull/3797

[2022-10-12 17:45] #3665 closed

[2022-10-12 17:45] #3780 closed

[2022-10-12 17:50] waldekmastykarz commented on #3665
@mikezimm these properties are required when publishing your solution to the Marketplace. More info @ https://learn.microsoft.com/en-us/sharepoint/dev/spfx/publish-to-marketplace-checklist#solution-package-must-contain-valid-developer-metadata.

[2022-10-12 18:03] waldekmastykarz opened #3799 "Update GitHub actions"
Annotations from the currently configured workflows:

- [ ] Update actions to Node@16
- [ ] Update save-state command
- [ ] Update set-output command

[2022-10-12 18:53] daniaalnadir commented on #3728
@nanddeepn You still working on this. I could do if not ?

[2022-10-12 19:39] MathijsVerbeeck commented on #2993
I would like to work on this one!

[2022-10-12 19:44] Jwaegebaert commented on #2993
All yours @MathijsVerbeeck

[2022-10-12 20:56] #3370 closed

[2022-10-12 20:56] #3711 closed

[2022-10-12 21:12] MathijsVerbeeck commented on #3678
I could work on this!

[2022-10-12 21:13] Jwaegebaert commented on #3678
@MathijsVerbeeck 🚀

[2022-10-13 04:23] nanddeepn commented on #3728
Hi @daniaalnadir
I haven't progressed much on this. Please feel free to take it up. I have unassigned myself.

[2022-10-13 10:35] nanddeepn commented on #3765
Can I work on this?

[2022-10-13 10:42] milanholemans commented on #3765
Sure! All yours @nanddeepn !

[2022-10-13 12:08] milanholemans opened #3802 "Fix retrieving all pages for `pp solution list`"
Noticed a thing for the command `pp solution list`:

The command uses the following line to retrieve all data.

https://github.com/pnp/cli-microsoft365/blob/fd24b4ef619456e3dc6e82d6ae5c34fdaa8a1022/src/m365/pp/commands/solution/solution-list.ts#L74

We should refactor the `request.get<{ value: any[] }>(...)` which doesn't support pagination to `odata.getAllItems<any>(...)`

[2022-10-13 12:20] Yashk786 commented on #3802
hi @milanholemans i can try to fix this issue

[2022-10-13 12:26] milanholemans commented on #3802
Thank you @Yashk786! All yours!

[2022-10-13 15:33] appieschot opened #3803 "Fix pagination for `pp dataverse table list`"
https://github.com/pnp/cli-microsoft365/blob/fd24b4ef619456e3dc6e82d6ae5c34fdaa8a1022/src/m365/pp/commands/dataverse/dataverse-table-list.ts#L72

We should refactor the `request.get<{ value: any[] }>(...)` which doesn't support pagination to `odata.getAllItems<any>(...)`

See PR #3684 for inspiration

Also implement a `sinon.stub(pid, 'getProcessName').callsFake(() => '');` and `auth.service.conne

[2022-10-13 16:32] SmitaNachan commented on #3803
Can I work on it?

[2022-10-13 16:32] appieschot commented on #3803
Awesome! All yours 💪

[2022-10-13 17:40] appieschot commented on #3803
@SmitaNachan would you mind adding an additional property for the text output with the `LogicalName` in there as well? That will make subsequent requests a bit easier

[2022-10-13 17:52] appieschot commented on #3791
Contains a bit of complex XML to get columns, needs a bit more research to figure out how to construct that ;)

[2022-10-13 18:47] appieschot opened #3805 "New command: `m365 pp solution publish`"
### Usage

m365 pp solution publish [options]

### Description

Publishes the specified solution

### Options

Option | Description
-- | --
`-n, --name <name>` | The name of the solution
`-e, --environment <environment>` | The name of the environment
`--asAdmin` | Run as admin for environments you are not a member of
`--wait` | Wait for the job to complete

### Examples

Publishes *ContosoDemo* so

[2022-10-13 19:04] milanholemans opened #3806 "Ensure all `spo contenttype` commands have all available list options"
Noticed some sort of inconsistency regarding list options. To reference a list, you could use 3 ways: title, id or URL.

Below is a summary of all commands with their missing option(s).

Command | Options to add
--- | ---
spo contenttype add | --listId, --listUrl
spo contenttype get | --listId, --listUrl
spo contenttype field remove | --listId, --listUrl

[2022-10-13 19:07] milanholemans opened #3807 "Ensure all `spo field` commands have all available list options"
Noticed some sort of inconsistency regarding list options. To reference a list, you could use 3 ways: title, id or URL.

Below is a summary of all commands with their missing option(s).

Command | Options to add
--- | ---
spo field add | --listId, --listUrl
spo field set | --listUrl

[2022-10-13 19:09] milanholemans opened #3808 "Ensure all `spo list` commands have all available list options"
Noticed some sort of inconsistency regarding list options. To reference a list, you could use 3 ways: title, id or URL.

Below is a summary of all commands with their missing option(s).

Command | Options to add
--- | ---
spo list get | --url
spo list label get | --listUrl
spo list sitescript get | --listUrl

[2022-10-13 19:11] milanholemans opened #3809 "Ensure all `spo list roleinheritance` commands have all available list options"
Noticed some sort of inconsistency regarding list options. To reference a list, you could use 3 ways: title, id or URL.

Below is a summary of all commands with their missing option(s).

Command | Options to add
--- | ---
spo list roleinheritance break | --listUrl
spo list roleinheritance reset | --listUrl

[2022-10-13 19:12] milanholemans opened #3810 "Ensure all `spo list contenttype` commands have all available list options"
Noticed some sort of inconsistency regarding list options. To reference a list, you could use 3 ways: title, id or URL.

Below is a summary of all commands with their missing option(s).

Command | Options to add
--- | ---
spo list contenttype add | --listUrl
spo list contenttype list | --listUrl
spo list contenttype remove | --listUrl
spo list contenttype default set | --listUrl

[2022-10-13 19:13] milanholemans opened #3811 "Ensure all `spo list view` commands have all available list options"
Noticed some sort of inconsistency regarding list options. To reference a list, you could use 3 ways: title, id or URL.

Below is a summary of all commands with their missing option(s).

Command | Options to add
--- | ---
spo list view list | --listUrl
spo list view remove | --listUrl
spo list view set | --listUrl
spo list view field add | --listUrl
spo list view field remove | --listUrl
spo list

[2022-10-13 19:14] milanholemans opened #3812 "Ensure all `spo list webhook` commands have all available list options"
Noticed some sort of inconsistency regarding list options. To reference a list, you could use 3 ways: title, id or URL.

Below is a summary of all commands with their missing option(s).

Command | Options to add
--- | ---
spo list webhook add | --listUrl
spo list webhook get | --listUrl
spo list webhook list | --listUrl
spo list webhook remove | --listUrl
spo list webhook set | --listUrl

[2022-10-13 19:16] milanholemans opened #3813 "Ensure all `spo listitem` commands have all available list options"
Noticed some sort of inconsistency regarding list options. To reference a list, you could use 3 ways: title, id or URL.

Below is a summary of all commands with their missing option(s).

Command | Options to add
--- | ---
spo listitem add | --listUrl
spo listitem attachment list | --listUrl
spo listitem get | --listUrl
spo listitem isrecord | --listUrl
spo listitem list | --listUrl
spo listitem re

[2022-10-13 19:17] milanholemans opened #3814 "Ensure all `spo listitem` commands have all available list options part 2"
Noticed some sort of inconsistency regarding list options. To reference a list, you could use 3 ways: title, id or URL.

Below is a summary of all commands with their missing option(s).

Command | Options to add
--- | ---
spo listitem roleinheritance break | --listUrl
spo listitem roleinheritance reset | --listUrl
spo listitem set | --listUrl
spo listitem record declare | --listUrl
spo listitem re

[2022-10-13 19:39] mikezimm commented on #3665
@waldekmastykarz , Thanks for the link.
Based on that, I won't even worry about those sections since I'm not publishing in the MSFT store.

[2022-10-13 19:45] milanholemans opened #3815 "Wrong formatting for options in docs for `pp` commands"
Noticed that few `pp` commands have option descriptions which are not well formatted.
Example: https://pnp.github.io/cli-microsoft365/cmd/pp/dataverse/dataverse-table-list

Every description should start on a new line.

### Affected commands
* `pp dataverse table list`
* `pp environment list`
* `pp solution list`

[2022-10-13 20:00] Conor0Callaghan commented on #3815
Is this the kind of fix you're looking for those files @milanholemans ? https://github.com/Conor0Callaghan/cli-microsoft365/commit/0f9024740e111985d2722dac0bd768aab17eaaaf

[2022-10-13 20:01] milanholemans commented on #3815
Yes that's it! 😃 Willing to take this PR?

[2022-10-13 20:01] Conor0Callaghan commented on #3815
Sure no worries @milanholemans  👍

[2022-10-13 20:02] milanholemans commented on #3815
Thank you! 👏

[2022-10-13 20:05] MathijsVerbeeck commented on #3809
@milanholemans I could work on this :-)

[2022-10-13 20:13] milanholemans commented on #3809
All yours @MathijsVerbeeck !

[2022-10-13 20:44] #3707 closed

[2022-10-14 04:22] AkashSatoliya commented on #3612
Hi @martinlingstuyl,

The Earlier account was AD account. I'm not sure if pass through auth is enable or not and any changes would require different set of approvals. Hence I have requested new AAD account. Awaiting for new AAD account.

[2022-10-14 06:29] martinlingstuyl commented on #3612
Fantastic @AkashSatoliya, we'll wait for it.

[2022-10-14 07:27] milanholemans commented on #3802
Hi @Yashk786
I changed the spec a bit. You can leave the docs issue, I merged the docs issue with issue #3815 because it fits better over there.

[2022-10-14 08:31] waldekmastykarz commented on #3741
That would however introduce additional complexity if you're building a script and want to get the user's name. Rather than being able to do `-o text`, you'll now either use `--query` or pass the output to `jq`/parse JSON in PowerShell.

I wonder if we really need these commands to be JSON objects with a single property merely for the sake of consistency with other commands that retrieve data from

[2022-10-14 08:36] martinlingstuyl commented on #3741
Hmmm... I'd not thought of that. That's correct.

What do you think @garrytrinder?

[2022-10-14 08:56] MathijsVerbeeck commented on #3806
@milanholemans I could work on this!

[2022-10-14 08:56] milanholemans commented on #3806
Great! All yours @MathijsVerbeeck!

[2022-10-14 09:05] waldekmastykarz commented on #3760
It would be indeed. In the past 90d the connect and disconnect commands have been used 70 times, so the impact would be limited, and it's something that we could consider including in v6, if we can do it in the next few days.

[2022-10-14 09:08] waldekmastykarz commented on #3788
Great suggestion @appieschot! If there's no easy way for us to get all online meetings, then we can follow your suggestion and get all meetings and then filter them out locally. It's not the most efficient way but given no alternative, we could start with it.

[2022-10-14 09:09] waldekmastykarz commented on #3790
I'd suggest that we rename `--name` to `--newName`. Otherwise, it might create an expectation that you can retrieve the card by its name, which isn't the case.

[2022-10-14 09:22] appieschot commented on #3790
@waldekmastykarz great, I do however propose to drop the `-n` short in that case as we can keep that for the `--name` option if we implement the lookup by name for retrieving a card

[2022-10-14 10:39] MathijsVerbeeck commented on #3810
I could work on this!

[2022-10-14 10:40] Jwaegebaert commented on #3810
Splendid @MathijsVerbeeck!

[2022-10-14 12:06] waldekmastykarz opened #3818 "Extend the `m365 status` command with appId and tenant"
We should extend the output of the `m365 status` command with information about the appId and tenant used in authentication.

We should extend the output from:

[code]

to:

[code]

### Rationale

After experimenting with a custom AAD app, today, while trying to create an app reg using the CLI, I got an "Insufficient privileges to complete the operation" error. After scratching my head for a sec I

[2022-10-14 17:57] martinlingstuyl commented on #3760
Its not a big change...

[2022-10-14 20:32] martinlingstuyl commented on #3818
Awesome! Let's ship it.

[2022-10-15 05:49] #3546 closed

[2022-10-15 05:49] #3815 closed

[2022-10-15 05:49] #3307 closed

[2022-10-15 07:18] SmitaNachan commented on #3808
Can I work on this?

[2022-10-15 08:54] nanddeepn commented on #3811
Can I work on this?

[2022-10-15 09:04] Jwaegebaert commented on #3811
Splendid @nanddeepn !

[2022-10-15 15:17] reshmee011 opened #3823 "command spo folder roleinheritance break and reset does not work with rootfolder or site relative of folder"
### Description
Command spo folder roleinheritance break and spo folder roleinheritance reset throw an error when root folder of a library or preceding slash is present in the folderUrl parameter.

Aim :
1. Add flexibility to pass preceding slash in the parameter value folderUrl without any errors
e.g.
m365 spo folder roleinheritance reset --webUrl "https://contoso.sharepoint.com/sites/Test_Site"

[2022-10-15 15:30] martinlingstuyl commented on #3823
Hi @reshmee011,

Thanks for reporting this!

One question:

`m365 spo folder roleinheritance reset --webUrl "https://reshmeeauckloo.sharepoint.com/sites/Test_Site" --folderUrl "/Shared Documents/FolderPermission"`

Web relative URL's should not start with a preceding slash, it should be

`--folderUrl "Shared Documents/FolderPermission"`

Could you try that and come back with the results?

[2022-10-15 15:34] martinlingstuyl commented on #3823
As for the second issue:

`m365 spo folder roleinheritance break --webUrl "https://reshmeeauckloo.sharepoint.com/sites/Test_Site" --folderUrl "/sites/Test_Site/Shared Documents"`

Are you not missing the folder? You are currently only referencing the library rootfolder, which might be the reason it's breaking here.

For the library you should use the `spo list roleinheritance <verb>` commands.

[2022-10-15 15:48] milanholemans commented on #3808
Sure @SmitaNachan!
All yours!

[2022-10-15 16:07] reshmee011 commented on #3823
@martinlingstuyl:Thanks for reviewing the bug.

For the first question, passing the folderurl without the preceding slash works. From a usability point of view the command needs to work with preceding slash in the folderUrl like some existing commands like m365 spo folder remove

For the second issue, the root folder of the library without any folder should work as described in the specifications

[2022-10-15 16:42] Adam-it opened #3824 "Enhancement to `spo roledefinition list` command"
## 🤔 Problem

The problem we have currently is that when we run the [`spo roledefinition list`](https://github.com/pnp/cli-microsoft365/blob/main/src/m365/spo/commands/roledefinition/roledefinition-list.ts) command the output values are not really user friendly. I mean the given values are not readable for human and therefore without additional checking in MS SPO docs they don't give any value. Th

[2022-10-15 16:44] Adam-it commented on #3824
@pnp/cli-for-microsoft-365-maintainers any additional comments? If I suggest this to be a `good first issue` as we already have this functionality in CLI but just in different command

[2022-10-15 16:47] Adam-it commented on #2073
@waldekmastykarz any comments?
it has been a long run 🙂 @martinlingstuyl should we open it up ?

[2022-10-15 16:51] Adam-it commented on #1828
ok adding the `needs research` label and lets hope we will find time to investigate it along the way 👍.
thanks @appieschot . You rock 🤩

[2022-10-15 17:01] Adam-it commented on #3823
@reshmee011 thanks for reporting. @martinlingstuyl thanks for your awesome and quick response 🤩

1️⃣ ) I think it is a valid point 🙂 @pnp/cli-for-microsoft-365-maintainers do you think we could add a `good first issue` to add this enhancement for the `folder roleinheritance break` command to support passing the folderurl with the preceding slash? along the way we could revisit other `folder` comma

[2022-10-15 17:29] reshmee011 commented on #3823
@Adam-it : Thanks for prompt response.
1) I agree with point 1 to make to spo folder commands consistent with ability to pass folderUrl with or without preceding slash.
2)Clearer specifications would help. I did the same for PR #3775 as per specifications #3703 but did not realise I miss catering for the root folder for a library as in the specs and implemented a workaround in the code to determin

[2022-10-15 17:54] #3691 closed

[2022-10-15 17:54] #3593 closed

[2022-10-15 17:54] #3803 closed

[2022-10-15 17:56] #3767 closed

[2022-10-15 18:32] milanholemans commented on #3824
I like the idea @Adam-it!
Question is, should we display this by default, or should we include an extra option for this? `--readablePermissions` (there is probably a better naming).

[2022-10-15 18:38] Adam-it commented on #3824
I would rather include it always 🙂. @milanholemans  what would be the benefit to hide those options behind additional option?

[2022-10-15 18:40] milanholemans commented on #3824
Not really a benefit, rather keeping the API response authentic when you don't provide any special options 😊

[2022-10-15 18:52] Adam-it commented on #3824
we would not override any option just add new. I think it should not break anything 🙂. I would not add any option for that 🙂

[2022-10-15 20:43] Adam-it commented on #3786
even better 🙂. And will be consistent with the `o365group list` command which returns only M365 groups so it makes sense that the `get` command should return the same 👍

[2022-10-15 21:15] martinlingstuyl commented on #3823
That's a good point and also you are right that it works on other commands! (Did not know that 😇)

I looked at the code and it appears the command is missing some logic we do implement elsewhere:

[code]

Lets get this fixed!

[2022-10-15 21:34] martinlingstuyl commented on #3823
On point two I agree with @reshmee011 and @plamber. As I commented there:

I think we should either throw an intelligible error or just add the roleassignment. I agree the most user friendly course of action would be to just allow the user to add the roleassignment anyway. Also: a root folder is a folder as well, isn't it? so it's logical as well.

Before we open it up, let's create a better Spec

[2022-10-15 21:54] martinlingstuyl commented on #3792
Hi @pnp/cli-for-microsoft-365-maintainers, any ideas on this?

[2022-10-15 23:09] reshmee011 commented on #3823
@martinlingstuyl: many thanks for the awesome response. I can work on it.

[2022-10-16 03:17] dgreuel commented on #3742
I tried selecting `objectId` and nothing comes back, and I don't see it in the docs either. Is `id` what you're looking for?

[code]

[2022-10-16 06:51] martinlingstuyl commented on #3742
That's correct @dgreuel, `id` here is the `objectId`

[2022-10-16 08:42] reshmee011 commented on #3823
@martinlingstuyl : as part of this current bug , shall I make the spo folder roleinheritance break and spo folder roleinheritance reset work with preceding slash?
And raise a different issue with some specs to make the spo folder roleinheritance break and spo folder roleinheritance reset work for rootfolder?

[2022-10-16 10:13] Jwaegebaert opened #3825 "Remove odata from output for `planner bucket get`"
Remove odata from the command output for `planner bucket get`.

This can be achieved by changing the accept header from `application/json` to `application/json;odata.metadata=none`. In most methods this is already applied except for the method `getBucketById`.

https://github.com/pnp/cli-microsoft365/blob/c3fe008322586bc05bab93d0161d7ecbad255ed6/src/m365/planner/commands/bucket/bucket-get.ts#L205-

[2022-10-16 10:14] Jwaegebaert commented on #3825
@pnp/cli-for-microsoft-365-maintainers what do you think?

[2022-10-16 10:20] martinlingstuyl commented on #3823
As far as I am concerned you can fix both in the same issue. 👍

But do please update the issue spec first so it's clear what you are going to do.

[2022-10-16 10:48] Jwaegebaert commented on #3773
I updated the issue to include the `planner plan` commands. Some of these have reponses that differ based on an option so it will be nice to have an example of them.

[2022-10-16 11:37] milanholemans commented on #3825
We shouldn't retrieve metadata unless we need it. So looks good to me 👍

[2022-10-16 12:27] WG- opened #3827 "Extend command: `todo task add` with additional note and remind or due date"
Following options are missing for the command `todo task add`:

### Options

Option | Description
--- | ---
`--bodyContent [bodyContent]` | The body content of the task.
`--bodyContentType [bodyContentType]` | The type of the content. Possible values are `text` and `html`. Default is `text`.
`--dueDateTime [dueDateTime]` | The date and time when the task is due. This should be defined as a valid I

[2022-10-16 13:28] milanholemans commented on #3827
Hi @WG- thank you for your enhancement!
Looking at the API we are using and the options we provide, there is indeed some improvements possible.
I suggest we add the following options:

Option | Description
--- | ---
`--bodyContents [bodyContents]` | The body content of the task.
`--bodyContentType [bodyContentType]` | The type of the content. Possible values are `text` and `html`. Default is `text

[2022-10-16 13:32] reshmee011 commented on #3823
@martinlingstuyl : I have updated the description of the issue to look more like a spec, please review .

[2022-10-16 14:08] martinlingstuyl commented on #3823
Looks great @reshmee011, you wished to fix it yourself as well, right? You are already assigned 🤙 thanks again for calling this in and picking it up! Great work 👏

[2022-10-16 15:16] milanholemans commented on #3827
Hi @WG-

You suggested `note` as option, I assumed you meant the bodyContent of a todo task (aka the description). Did you mean something else?

About the dates, fair point, I copied it from another docs description, but we do support multiple date formats indeed. I'll update the spec.

[2022-10-16 15:35] huseyinsaatci commented on #3825
Can I work on this?

[2022-10-16 15:37] milanholemans commented on #3825
All yours @huseyinsaatci
Thank you!

[2022-10-16 16:11] WG- commented on #3827
![image](https://user-images.githubusercontent.com/1480116/196046037-58f6d599-75cd-4ee6-ae34-dfaa7e8db23d.png)

This is what I mean with 'note', I guess it is a description. Since you can add quiet a lot of text there.

[2022-10-16 16:17] milanholemans commented on #3827
This is indeed what I meant with `bodyContents`. UI uses different naming but we tend to use the API naming which is `bodyContent`.

[2022-10-16 18:35] WG- commented on #3827
👍

[2022-10-16 19:44] Adam-it commented on #3823
@reshmee011 @martinlingstuyl thanks for taking on this issue 💪.
TBH I was thinking we could go with easiest approach which would be just to throw an error an inform the user to use the `list` command but handling this for the user is also fine and probably even better 👍.

[2022-10-16 21:30] milanholemans commented on #3827
Updated your spec so its clearer for others.
Let's do this!

[2022-10-16 21:48] milanholemans opened #3833 "Bug report: `outlook mail send` wrong validation message for `bodyContentType` option"
### Description

When passing an invalid `bodyContentType` option we're getting a wrong validation message stating our `bodyContents` option is wrong.

This line should be changed

https://github.com/pnp/cli-microsoft365/blob/c3fe008322586bc05bab93d0161d7ecbad255ed6/src/m365/outlook/commands/mail/mail-send.ts#L103

`bodyContents` should be `bodyContentType`

### Steps to reproduce

Run the `m365 o

[2022-10-16 23:08] milanholemans commented on #3774
@KbWorks could you give us some more info?

[2022-10-17 02:02] SmitaNachan commented on #3833
Can I work on it?

[2022-10-17 05:06] martinlingstuyl commented on #3774
We do have a command for listing chats: https://pnp.github.io/cli-microsoft365/cmd/teams/chat/chat-list/

It would be better to update that one with the possibility to call it with app only credentials.

[2022-10-17 07:03] milanholemans commented on #3833
Sure, thank you @SmitaNachan!

[2022-10-17 07:41] milanholemans opened #3835 "Add extra options for `todo task set`"
The command `todo task set` is missing some options.

We could add the following options:

### Options

Option | Description
--- | ---
`--bodyContent [bodyContent]` | The body content of the task.
`--bodyContentType [bodyContentType]` | The type of the content. Possible values are `text` and `html`.
`--dueDateTime [dueDateTime]` | The date and time when the task is due. This should be defined as a

[2022-10-17 09:59] Tanmay-21 commented on #3835
Hi @milanholemans I would be interested in implementing this feature to the project. Could you assign this issue to me please.

[2022-10-17 10:01] milanholemans commented on #3835
Sure @Tanmay-21, all yours!
Thank you 👏

[2022-10-17 11:40] Tanmay-21 commented on #3835
@milanholemans are there any test credentials I could use to test the changes made locally?

[2022-10-17 11:52] milanholemans commented on #3835
Hi @Tanmay-21

You could test your changes on any tenant. We don't have a dev tenant for CLI but you can easily setup your own dev tenant https://developer.microsoft.com/en-us/microsoft-365/dev-program.

[2022-10-17 12:00] Tanmay-21 commented on #3835
Got it! thanks

[2022-10-17 12:32] MathijsVerbeeck commented on #3812
@milanholemans I could work on this!

[2022-10-17 12:33] milanholemans commented on #3812
Awesome @MathijsVerbeeck thank you!

[2022-10-17 12:42] milanholemans commented on #3812
Wups wrong assignment 😄

[2022-10-17 14:35] nicodecleyre commented on #3770
assign me pls

[2022-10-17 14:46] milanholemans commented on #3770
All yours @nicodecleyre
Thank you!

[2022-10-17 15:57] milanholemans commented on #3760
@martinlingstuyl @waldekmastykarz
Should I create an issue to accomplish the commands above?
However I'm feeling that the word 'parent' is missing in the command to connect a hub site to a parent hub site, however that might just be me

[2022-10-17 16:13] MathijsVerbeeck opened #3840 "Remove deprecated options"
When working on the issue #3812 I found out that the command `spo list webhook list` still contains the deprecated options `id` and `title`, which are replaced by `listId` and `listTitle`. I've also noticed that these properties still exist in the v6 branch, so I think that they should be removed.

When checking the code, following commands still have deprecated options:

Command | Deprecated opti

[2022-10-17 16:15] milanholemans commented on #3840
Fair point @MathijsVerbeeck!
There are probably more places with deprecated options. Since `v6` release is next month, let's list them all and remove them all together.

[2022-10-17 16:31] milanholemans commented on #3840
When checking the code, following commands still have deprecated options:

Command | Deprecated options
--- | ---
`spo list webhook list` | `title` and `id`
`spo site add` | `allowFileSharingForGuestUsers`
`teams team set` | `displayName`

[2022-10-17 16:41] MathijsVerbeeck commented on #3840
Sure, @milanholemans

[2022-10-17 16:44] milanholemans commented on #3840
Awesome! All yours

[2022-10-17 16:59] milanholemans commented on #3818
We also have a `isAppOnlyAccessToken` function, to me it looks useful to also add this to the status?

[code]

[2022-10-17 17:29] nicodecleyre commented on #3770
Since we are adding this command, doesn't have the class for the pp list command have to be renamed to PpCardListListCommand instead of PpCardListCommand? Just to be consistent?

[2022-10-17 18:04] Tanmay-21 commented on #3835
@milanholemans  one last clearification.
The sample response [here](https://learn.microsoft.com/en-us/graph/api/todotask-update?view=graph-rest-1.0&tabs=http#response-1) when no importance arg is passed gives it a default of 'low' and not 'normal' as defined in the issue. could you clearify which one should I put in as default?

[2022-10-17 18:41] milanholemans commented on #3835
Hi @Tanmay-21

This is probably because the task had a low importance before the update request was fired, but I'll have to check.

Anyway, you shouldn't provide a default value. I wrongly copied the descriptions of the `todo task add` command.m, let me update that.

When no importance is set (undefined), you should just pass.

"importance": undefined

[2022-10-17 18:42] Tanmay-21 commented on #3835
cool!

[2022-10-17 18:46] martinlingstuyl commented on #3760
Yes, that would be good. One issue (moving hubsite connect/disconnect below site) needs to be taken up before v6. I can help if need be.

[2022-10-17 18:48] martinlingstuyl commented on #3760
The point is that `parent` is not an 'entity' as such. hubsite and site are though, so this setup is better aligned with how we work in the CLI.

[2022-10-17 19:25] martinlingstuyl commented on #3808
Hi @milanholemans, I think you forgot one here. I had an open issue for it ( #3639 ) but I think we can best take it up here.

@milanholemans do you agree on this? If so, could you update the specs?
@SmitaNachan could you include it in your work if milan agrees?

[2022-10-17 19:27] martinlingstuyl commented on #3714
I agree with that. Let's close this issue!

[2022-10-17 19:27] #3714 closed

[2022-10-17 19:35] martinlingstuyl commented on #3712
I know we generally don't take good first issues ourselves. But there's so much open, I wanted to clean up some. ☝️

[2022-10-17 19:38] martinlingstuyl commented on #3638
Ah, yes, sharp. typo by me 😂

[2022-10-17 20:12] MathijsVerbeeck commented on #3840
@milanholemans I will start working on this as soon as pr #3839 is approved, as this contains changes from one of the commands.

[2022-10-17 20:14] milanholemans commented on #3808
Fair point @martinlingstuyl

On the other side, I'm not sure if you can set the list URL via a REST call. Tried to do some research but haven't found anything. Do you know whether this is possible?

[2022-10-17 20:16] milanholemans commented on #3712
We agreed to not take good first issues, except when they are open for quite a while, let's say 3-4 weeks. So for me this is perfectly fine 😊

[2022-10-18 05:24] martinlingstuyl commented on #3808
You're correct. We'll need to do some research there indeed. Lets keep it separate!

[2022-10-18 05:25] martinlingstuyl commented on #3712
Pfew 😃

[2022-10-18 05:50] Tanmay-21 commented on #3835
@milanholemans does the PR get the `hacktoberfest-accepted` label only after it is merged?

[2022-10-18 05:54] milanholemans commented on #3835
Yes. We wrongly added some of the labels to PRs which are already opened. But this will already start the 7 day grace period while the PR is still open which is not ideal.

When the PR is merged, HACKTOBERFEST label should be added. If we forget it you can always remind us 🙂

[2022-10-18 14:03] nicodecleyre commented on #3722
i can work on this one

[2022-10-18 14:53] #3701 closed

[2022-10-18 14:53] #3712 closed

[2022-10-18 15:59] martinlingstuyl commented on #3615
Closing this. We've fixed a few samples. Let's see what comes up later.

[2022-10-18 17:33] milanholemans opened #3846 "New command: `todo task get`"
### Usage

m365 todo task get [options]

### Description

Get tasks from a Microsoft To Do task list

### Options

Option | Description
-- | --
`-i, --id <id>` | ID of the task.
`--listName [listName]` | The name of the task list. Specify either `listName` or `listId` but not both.
`--listId [listId]` | The id of the task list. Specify either `listName` or `listId` but not both.

### Examples

Get

[2022-10-18 17:34] milanholemans commented on #3846
@pnp/cli-for-microsoft-365-maintainers any remarks?

[2022-10-18 17:41] milanholemans opened #3847 "New command: `todo list get`"
### Usage

m365 todo list get [options]

### Description

Get a Microsoft To Do task list

### Options

Option | Description
-- | --
`-i, --id [id]` | The ID of the list. Specify either `id` or `name` but not both.
`-n, --name [name]` | The display name. Specify either `id` or `name` but not both.

### Examples

Get a list by name

[code]

Get a list by id

[code]

### Additional Info

https://lea

[2022-10-18 17:41] milanholemans commented on #3847
@pnp/cli-for-microsoft-365-maintainers any remarks?

[2022-10-18 19:10] Jwaegebaert commented on #3846
Looks good to go!

[2022-10-18 20:34] Jwaegebaert opened #3852 "Formatting issue on `spo eventreceiver get` & `spo eventreceiver remove`"
There's a small formating issue on the page of  `spo eventreceiver get`.
The description for the options `name` and `id` don't start on a new line.

https://github.com/pnp/cli-microsoft365/blob/0d3033483f638048cf75fe5c7295d3fb75512dac/docs/docs/cmd/spo/eventreceiver/eventreceiver-get.md?plain=1#L28-L32

We need to add a `:` before the description.

Update: Same goes for the command `spo eventrecei

[2022-10-18 20:41] martinlingstuyl opened #3853 "Enhancement: Add consistency to boolean options and allow all truthy and falsy values"
This issue is based on the following [discussion](https://github.com/pnp/cli-microsoft365/discussions/3715).

💔 There are a few issues with the CLI way of handling boolean options.

- In PowerShell: Some options allow for using `$true` and `$false` while others do not. This is unfortunate for PoSH users who often use boolean variables in scripting. In Bash there's no such thing as a boolean, but 1

[2022-10-18 20:42] MathijsVerbeeck commented on #3852
I could fix this :-)

[2022-10-18 20:43] Jwaegebaert opened #3854 "Convert options used in validation to option sets"
On a few locations we have validation logic that checks if a option is in use from a set of options. For example within `spo folder roleassignment remove`.

https://github.com/pnp/cli-microsoft365/blob/0d3033483f638048cf75fe5c7295d3fb75512dac/src/m365/spo/commands/folder/folder-roleassignment-remove.ts#L91-L98

This can be achieved by adding the values wihtin `principalOptions` to `this.optionSets

[2022-10-18 20:44] Jwaegebaert commented on #3854
@pnp/cli-for-microsoft-365-maintainers any thoughts regarding this topic? Should we maybe split the work into two issues e.g.?

[2022-10-18 20:46] Jwaegebaert commented on #3852
Perfect @MathijsVerbeeck. You should be quite familiar with these files 😄

[2022-10-18 22:35] milanholemans commented on #3722
@appieschot

When running `pp solution list` a `solutionid` property is returned (GUID).
Also noticed we can retrieve solutions via the same endpoint by Id.
`/api/data/v9.0/solutions(<guid>)`

So shouldn't we add an extra Id option?

`-i, --id [id]` I'd of the solution. Specify either `id` or `name` but not both. ?

[2022-10-19 06:04] nicodecleyre commented on #3847
I can work on this!

[2022-10-19 06:05] nicodecleyre commented on #3846
@milanholemans can you assign me?

[2022-10-19 06:59] Jwaegebaert commented on #3847
Here you go @nicodecleyre.

[2022-10-19 06:59] Jwaegebaert commented on #3846
Here you go @nicodecleyre.

[2022-10-19 08:24] nicodecleyre commented on #3824
i'm interested in working on this one, can you assign me please?

[2022-10-19 08:27] milanholemans commented on #3824
All yours @nicodecleyre
Thank you 👏

[2022-10-19 13:38] Rodibear120 opened #3856 "New sample script: <short description>"
|Docs||
|-----|----|
|Author| Who originally created the script? It doesn't have to be you, but let's make sure the original author is credited |
|Original Post| If your script is based on a blog post, add the address here |
|Description| Give a description of what the script does and why you may want to use it |
|Keywords| Add some keywords for increased discoverability e.g. `SharePoint Online` `

[2022-10-19 13:43] milanholemans commented on #3856
Hi @Rodibear120

Thank you for your request. However could you please fill in the issue template? Right now we don't really have a clue what you mean 😊

[2022-10-19 14:29] arjunumenon opened #3857 "Bug report: Issue when executing command `m365 cli config set --help`"
### Description

When you to execute the help command for the command `m365 cli config set --help`, we are getting the following error

[code]

### Steps to reproduce

Execute the command `m365 cli config set --help`

### Expected results

Get the help details for the command `m365 cli config set`

### Actual results

(node:3264) UnhandledPromiseRejectionWarning: Error: ENOENT: no such file or dir

[2022-10-19 15:53] appieschot commented on #3722
Sure, happy with the suggestion!

[2022-10-19 15:53] 29039 commented on #3565
As an update, I went back to using `npm install -g @pnp/cli-microsoft365` (with the -g) and it seems to install now. Typically I try to keep these commands relatively portable to be able to run as a standard user if need be, but somewhere along the line, \node_modules\.bin has gone missing from the path.

[2022-10-19 16:36] nicodecleyre commented on #3722
so, i change the code that or `id` or `name` has to be provided and throwing an error when the user give both?

[2022-10-19 16:44] nicodecleyre commented on #3722
Also, should the parameter be `id` or `solutionId`?

[2022-10-19 16:48] martinlingstuyl commented on #3565
Hi @29039, yeah you have to be very careful that the node_modules/.bin folder is on your Path.

What you can do is add it to your path (within the ps session) from within your script, using `[System.Environment]::SetEnvironmentVariable()`

[2022-10-19 16:49] milanholemans commented on #3722
Yes please, for this kind of behaviour we have something called 'option sets'. Check any planner command as example.
Option set ensures that at least 1 of the 2 provided options is provided by the user.

We should call the option `id`. The option always reflects the last noun of the command. So for `pp solution get` an option ID reflects to 'solution'.

I'll update the specs to include the ID opti

[2022-10-19 23:22] #3710 closed

[2022-10-20 00:22] Adam-it commented on #3854
good catch 👍 I think it was lost somewhere along the way and we may definitely improve👍.
I don't think we need to split it to smaller issues. It would seem we should have 34 files changed so seems to be ok to do in one PR 🙂

[2022-10-20 00:33] Adam-it commented on #3857
@arjunumenon I seem to be having trouble reproducing it 🤔. Could you recheck on latest beta 🙏?
![image](https://user-images.githubusercontent.com/58668583/196829463-7d1c2fa9-29e7-4856-bb71-de8cb9ca5a74.png)

[2022-10-20 00:40] Adam-it commented on #3853
I like the idea 👍 @martinlingstuyl you rock 🤩.
one small comment is that maybe we could be not key sensitive so `yes` and `YES` should work equally 🤔

[2022-10-20 05:36] martinlingstuyl commented on #3853
👍 That's in the description already, @Adam-it: "booleans are case-insensitive"
I only added the `True` with capital letter to explicitly refer to PoSHes `$true`

[2022-10-20 06:18] Adam-it commented on #3853
AAA ok, sorry I didn't notice it while scanning.
Cool 😎.
Awesome @martinlingstuyl as always 👍.
You rock 🤩 as always

[2022-10-20 14:35] MathijsVerbeeck commented on #3449
I could work on this!

[2022-10-20 14:35] Jwaegebaert commented on #3449
Sure thing @MathijsVerbeeck

[2022-10-20 16:55] waldekmastykarz commented on #3818
We'd get tenant information from the login configuration rather than from the token. We want to show the tenant to which the app belongs rather than the tenant to which you signed up. Which brings up a good point that we should clarify it, and use appTenant rather than just tenant which is ambiguous in this context.

As for the app only, I'm not sure if that won't be clear when you look at connect

[2022-10-20 17:01] waldekmastykarz commented on #3782
+1 to @arjunumenon suggestion to show the full help file by default, at least for now. Since this is a brand new thing we need to give people an opportunity to get used to it.

We should support a way to configure it to a default mode CLI-wide but also override for the current command.

We need to see if it's possible to use --help without any value as well as passing one of the allowed values.

[2022-10-20 17:04] waldekmastykarz commented on #3782
@martinlingstuyl whats not quite clear to me is what's the output that you're proposing: if I specify --help examples do I get only examples or do I always get the first part (title, description, options) + the specified section?