[2021-10-04 10:47] waldekmastykarz commented on #2706
If we skip the group ID check with the `fromRecycleBin` flag, would id still work if the site that was groupified would be deleted?

[2021-10-04 10:47] waldekmastykarz commented on #2739
Excellent! I appreciate your help! 👍

[2021-10-04 10:53] SekThang commented on #2739
Thanks @waldekmastykarz .

These days along with Twitter and LinkedIn, I started keep checking our cli githup too. 😂

[2021-10-04 22:43] Adam-it opened #2740 "New sample script: <short description>"
|Docs||
|-----|----|
|Author| me😉 |
|Original Post| no post, was created to fulfill real case requirement  |
|Description| powershell script runs once a day and sends summary (by mail or on teams) with list of flows with total runs count for current day, number of times the flow succeeded and number of times the flow failed |
|Keywords| `power automate` `adaptive card` |

Hi 👋
I am wondering if I

[2021-10-05 07:40] waldekmastykarz commented on #2740
Great idea! Please do and I appreciate your suggestion 👏

[2021-10-05 16:10] arjunumenon opened #2741 "New sample script: Add multiple users to associated SharePoint groups (Owners, Members, Visitors) of a site"
|Docs||
|-----|----|
|Author| Arjun Menon |
|Original Post| https://arjunumenon.com/add-multiple-users-sharepoint-groups-site/ |
|Description| Add multiple users to associated SharePoint groups (Owners, Members, Visitors) of a site using CLI for Microsoft 365 from a CSV |
|Keywords| `SharePoint Online` `SharePoint Group`|

[2021-10-05 16:14] arjunumenon commented on #2741
Assigning to myself since I can initiate a PR soon.

[2021-10-05 19:27] aakashbhardwaj619 opened #2742 "New command: planner bucket remove"
### Usage

planner bucket remove

### Description

Removes the Microsoft Planner bucket from a plan

### Options

Option | Description
-- | --
`--bucketId [bucketId]` | ID of the bucket to remove. Specify either `bucketId` or `bucketName` but not both.
`--bucketName [bucketName]` | Name of the bucket to remove. Specify either `bucketId` or `bucketName` but not both.
`--planId [planId]` | ID of the

[2021-10-05 20:26] Adam-it commented on #2740
thank for the enthusiasm 👍,
the PR is opened 👨‍💻
The script is quite simple and quite clean but I think it is a nice use case 😉

[2021-10-06 08:27] michaelmaillot commented on #2706
Yes: the site in the [Deleted sites] can be definitely removed with the command.

I think we should review the whole process regarding the site deletion. For now, here's the actual process:

![image](https://user-images.githubusercontent.com/44271458/136164160-2292bf35-7f6d-437a-bff7-7b52d73b8a91.png)

At least, we should consider the `--fromRecycleBin` argument before checking the site group Id.

[2021-10-06 09:00] michaelmaillot commented on #2715
If it's still relevent, I can take that one 🤚

[2021-10-07 06:23] waldekmastykarz commented on #2715
Awesome! We appreciate your help 👏

[2021-10-07 06:31] kevmcdonk commented on #2662
Ahhh, now I get it. Perfect, thanks for quick response

[2021-10-07 06:55] #2659 closed

[2021-10-07 06:55] #2727 closed

[2021-10-07 07:01] aakashbhardwaj619 commented on #2742
Thanks, @ktskumar. I've worked on some of the other Planner commands, so feel free to reach out to me if you face any issues with this.

[2021-10-07 09:38] garrytrinder commented on #2706
Love your approach and the way you brought clarity to this issue @michaelmaillot 👏

No further comments from me 👍

[2021-10-08 03:02] #2676 closed, assigned to nanddeepn

[2021-10-08 12:12] arjunumenon commented on #2706
Very nice depiction of the whole process @michaelmaillot ❤. Nothing more to be added from my end too.

[2021-10-08 19:50] ValerasNarbutas opened #2749 "Bug report: using --help or -h parameter returned help is in raw markdown code"
### Description

When using --help, help description is displayed not in rendered markdown
![image](https://user-images.githubusercontent.com/16476453/136616281-f86ddee9-ddda-4b5c-8ba9-f37e6f6c6dc3.png)

### Steps to reproduce

1. Open PowerShell ise
2. Login to cli with `m365 login`
3. Get any help, for example `m365 spo site get --help`

### Expected results

something similar to this but still

[2021-10-09 17:36] waldekmastykarz opened #2750 "Update default Node.js version to v16"
On October 27, Node@14 will [go into maintenance mode](https://nodejs.org/en/about/releases/) and Node@16 will become the active version. We should switch the default Node.js version in our build steps and contrib guidance to v16, and keep testing on v12, v14 and v16 to ensure compatibility with older yet maintained versions.

[2021-10-10 17:49] waldekmastykarz commented on #2749
Thank you for the details @ValerasNarbutas and I appreciate you wanting to help @nanddeepn, but let's get some more information. It seems like I can't repro it. For me, the help shows just fine in PowerShell. Which version of PowerShell are you using? I'm on 7.1.3.

[2021-10-10 17:52] waldekmastykarz commented on #2583
I appreciate your help @nanddeepn!

1. Yes, but let's take it separately from this issue
2. Of course! If there are specific scenarios for which we should consider adding these commands, we should definitely do so. Let's create separate issues for them for easier work tracking and management.

[2021-10-10 23:58] rabwill opened #2752 "Docs: Update wiki page MPA with npm@7 or higher as a requirement to contribute to CLI for Microsoft365"
Discussion on the topic : [https://github.com/pnp/cli-microsoft365/discussions/2746](https://github.com/pnp/cli-microsoft365/discussions/2746)

Changes in file : [https://github.com/pnp/cli-microsoft365/wiki/Submitting-a-PR](https://github.com/pnp/cli-microsoft365/wiki/Submitting-a-PR) to include npm@7 or higher as a requirement to set up the environment to contribute to CLI for Microsoft365

[2021-10-11 05:57] SmitaNachan commented on #2752
Hi @rabwill
Can I work on this?

[2021-10-11 17:53] #1987 closed

[2021-10-11 18:27] ValerasNarbutas commented on #2749
ok, let me know if i can check something,
i did play with powershell markdown utility, for example if i open in browser with:
`Show-Markdown -Path ./README.md -UseBrowser`
"sh" line in the begining has slight difference in the end.
![image](https://user-images.githubusercontent.com/16476453/136837139-6997d916-d759-482d-a806-09553f8563c4.png)

[2021-10-12 13:18] nanddeepn opened #2754 "[Azure AD Graph]: aad sp get"
Based on the discussion https://github.com/pnp/cli-microsoft365/issues/2583

The `aad sp get` command currently uses the Azure AD Graph endpoint in its implementation, therefore this should be updated to use the corresponding Microsoft Graph v1.0 endpoint instead.

https://docs.microsoft.com/en-us/graph/api/serviceprincipal-get?view=graph-rest-1.0&tabs=http

[2021-10-12 19:15] SekThang commented on #2735
![image](https://user-images.githubusercontent.com/14870216/137015396-6c7bcfe9-7680-41ba-8f54-f4d4b6efd749.png)

Now it works fine. I believe we can close this issue once @veronicageek checked

[2021-10-12 19:29] veronicageek commented on #2735
Thanks @SekThang, please close it for now. I'll check later this week and reopen if any problem 🙂

[2021-10-13 06:09] #2735 closed

[2021-10-13 14:44] #2579 closed

[2021-10-14 15:38] waldekmastykarz opened #2758 "Add support for upgrading SPFx projects to v1.13-rc.1"

[2021-10-15 12:37] #2758 closed

[2021-10-15 17:56] #2719 closed

[2021-10-15 18:48] jmenden opened #2760 "Bug report: m365 spo report ... results in UnhandledPromiseRejectionWarning: RangeError: Too many properties to enumerate"
running the following command on our production tenant (>200.000 site collections) results in a traceback:
m365 spo report siteusagedetail --period D180 --output text >foo.csv

(node:15496) UnhandledPromiseRejectionWarning: RangeError: Too many properties to enumerate
    at Function.getOwnPropertyNames (<anonymous>)
    at Function.formatOutput (C:\Users\z003292x\AppData\Roaming\npm\node_modules\

[2021-10-16 08:50] #2734 closed

[2021-10-16 08:50] #2741 closed

[2021-10-16 09:04] waldekmastykarz commented on #2760
Thank you for reporting the issue and sorry for the trouble @jmenden. Let's see how we can fix that

[2021-10-16 09:12] waldekmastykarz commented on #2649
Closing due to inactivity

[2021-10-16 09:12] #2649 closed, assigned to nobody

[2021-10-16 09:15] waldekmastykarz commented on #2698
I wonder if this issue is related to #2155

[2021-10-16 14:23] waldekmastykarz commented on #2283
#2382 is completed and we're no longer blocked @rabwill

[2021-10-16 14:26] waldekmastykarz commented on #1634
Since we shipped #2025 we're no longer blocked and could pick this up again.

[2021-10-17 10:36] waldekmastykarz commented on #2498
I've got all changes in my branch @ https://github.com/waldekmastykarz/cli-microsoft365/tree/upgrade-mkdocs. @garrytrinder could you please double check that I haven't missed anything in Docker and devcontainer?

[2021-10-17 11:39] #2333 closed

[2021-10-17 14:49] waldekmastykarz commented on #2498
Awesome! Let me have a last look and submit a PR 🚀

[2021-10-17 18:10] waldekmastykarz opened #2766 "Add VSCode launch config to debug CLI and tests"
Somehow we never got to it, but it would simplify the dev work a lot if we had a launch config for VSCode that you can use to debug CLI and tests.

I took a stab at it and the first setup is here: https://github.com/waldekmastykarz/cli-microsoft365/tree/vscode-debug-launch.

The idea is, that you can set a breakpoint anywhere in your code, press F5 and step through your code. For debugging a CLI c

[2021-10-17 18:43] garrytrinder commented on #2766
I think that this is a great idea and any improvement on the development experience on the testing side would be a great help to contributors, as I think writing and running tests is something that most contributors struggle with, so there is definitely value to be found in this area.

I briefly started to look into seeing if we could use something like [Mocha Test Explorer](https://marketplace.vi

[2021-10-17 19:38] veronicageek commented on #2376
@waldekmastykarz @vipulkelkar - I had mentioned that this `--recursive` param could also be useful for `m365 spo folder list`, but I don't see it in that command. Would be nice if it could be added to get the nested folders 🙂

[2021-10-17 20:35] waldekmastykarz commented on #2766
Totally! I think it would be a great improvement of the dev experience.

Thinking about starting the watch process some more, I don't think we need it, because each time you need to restart tests/CLI again, so it would be better to have it run separately just once and then start debugging. Not sure if that's possible but we could look into it later and start with this.

[2021-10-17 20:47] veronicageek opened #2767 "Add `--recursive` param in `m365 spo folder list`"
### Usage

m365 spo folder list --webUrl <URL> --parentFolderUrl <URL> --recursive

### Description

The command will allow us to retrieve nested folders. This has been implemented for `m365 spo file list` with issue #2376.

### Options

Option | Description
-- | --
`-r, --recursive` | Will also retrieve nested folders

### Additional Info

Similar to issue #2376.

[2021-10-17 21:43] veronicageek opened #2768 "New sample script: List all documents with a specific name within a SharePoint site"
|Docs||
|-----|----|
|Author| Veronique Lengelle (@veronicageek) |
|Original Post| https://veronicageek.com/microsoft-365/sharepoint-online/retrieve-files-with-a-specific-name-in-a-sharepoint-online-site-using-powershell-pnp/2019/06/ |
|Description| This script will retrieve all the files in a site that have a specific word (i.e.: search all documents where the word "CLI" is part of the file name

[2021-10-18 07:22] waldekmastykarz commented on #2715
Thanks @michaelmaillot, we'll add it to the Wiki shortly

[2021-10-18 17:56] #2760 closed, assigned to waldekmastykarz

[2021-10-19 06:53] michaelmaillot commented on #2563
I've searched about the admin granting process, as it's used for example in `az cli`, but looks like it's about to be deprecated as it's using old / internal URL. A nice [thread](https://github.com/Azure/azure-cli/issues/12137#issuecomment-819494918) in the CLI team describes everything, including future plans for the `az ad app permission admin-consent`.

What I suggest, as the current `m365 aad

[2021-10-19 11:41] michaelmaillot commented on #2563
Yes, it does. I've tested them with the Graph Explorer (which has __Directory.ReadWrite.All__ permission) and it went like this (as "other permissions":

![image](https://user-images.githubusercontent.com/44271458/137902343-ff7b50a7-7fc6-4dbe-976f-5da917bcd9ef.png)

[2021-10-19 16:46] waldekmastykarz opened #2771 "Align aad sp get and aad serviceprincipal get"
Somehow we totally missed it that we already had the aad sp get command to retrieve information about a service principal and introduce a duplicate named aad serviceprincipal get. The only difference between the two commands is that the first is based on AAD Graph and the latter on MS Graph. Since we already had a command, we should remove the duplicate aad serviceprincipal get and move aad sp get

[2021-10-19 17:32] waldekmastykarz commented on #2558
Hey @ktskumar, we just realized that we already had a command for retrieving information about service principals (`aad sp get`). Somehow we totally missed it when going through this spec review. We'll remove `aad serviceprincipal get` to avoid duplicates. Nanddeep has already submitted a PR to upgrade `aad sp get` to MS Graph v1.0. I'm so sorry we missed it and we really appreciate the effort you

[2021-10-20 09:32] jmenden commented on #2760
"v4.0.0"

btw: I did run npm i @***@***.*** before testing.

jjm

From: Waldek Mastykarz ***@***.***>
Sent: Wednesday, October 20, 2021 11:11 AM
To: pnp/cli-microsoft365 ***@***.***>
Cc: Menden, Juergen (IT IN COL TSQ-1) ***@***.***>; Mention ***@***.***>
Subject: Re: [pnp/cli-microsoft365] Bug report: m365 spo report ... results in UnhandledPromiseRejectionWarning: RangeError: Too many properties

[2021-10-20 09:35] waldekmastykarz commented on #2760
It seems like you're still using the old version without the fix. Could you please install the latest preview version using: `npm i -g @pnp/cli-microsoft365@next`? The `@next` suffix is required for you to get the latest preview version.

[2021-10-20 11:46] waldekmastykarz commented on #2563
If it proves that after a granting permission, it automatically includes admin consent, then I'd say it is relevant. Currently, our commands use the AAD Graph so it could be that you don't get the admin consent by default there. If that's the case, then we should see if we can migrate to using MS Graph while staying backwards compatible.

[2021-10-20 17:14] veronicageek opened #2772 "New sample script: List all large files within a Site"
|Docs||
|-----|----|
|Author| Veronique Lengelle (@veronicageek) |
|Original Post| https://veronicageek.com/microsoft-365/sharepoint-online/retrieve-files-bigger-than-50mb-in-a-sharepoint-online-site-using-powershell-pnp/2019/04/ |
|Description| This script will list all the files for a given size. My sample will list all files (recursively) >500MB but that can be changed. |
|Keywords| `SharePoint

[2021-10-20 17:35] jmenden opened #2773 "Bug report: spo report returns TypeError: Cannot read property 'trim' of undefined"
receiving another UnhandledPromiseRejectionWarning:

[code]

[2021-10-20 17:40] jmenden commented on #2773
a similar error happens with
    m365 spo report siteusagedetail
as well

[2021-10-20 17:40] waldekmastykarz commented on #2760
All good. I appreciate you confirming that all is working as expected.

[2021-10-20 18:41] Abderahman88 commented on #2773
I also can't reproduce the issue. (Windows 10)

![image](https://user-images.githubusercontent.com/36161889/138151950-d3e17615-aac1-4863-83d3-a4641d05fbf4.png)

[2021-10-20 20:47] jmenden commented on #2773
It's unfortunately our production tenant with >250.000 SC.  The output when including --debug is

[code]

[2021-10-20 20:54] Adam-it opened #2774 "command enhancement contenttype get"
👋 hi,
Not sure if it is possible (didn't research it yet 😉) but I think CLI is missing a more or less contenttype list command or a param in contenttype get were we could define to get all content types from a specified category. I came across this when I started adding an CLI version of some sample script 🤔.
What do you think? Maybe I didn't notice something so please let me know 👍. If not I coul

[2021-10-21 15:58] garrytrinder commented on #2774
Thank you for your suggestion @Adam-it 👏

We don't appear to have a command for returning a collection of content types, so we should start with an issue to spec an appropriate command and I would suggest `spo contenttype list` as a good starting point for the command name to keep inline with our conventions.

We need to keep in mind that content types can be scoped at different levels, currently

[2021-10-21 22:27] Adam-it opened #2777 "New command: get content type list"
### Usage

m365 spo contenttype list

### Description

Get list of content types from the site or list. It would be great to get the list  by category as well, like a filter but I suppose it may be optional as long as it is returned.

### Options

Option | Description
-- | --
`-u, --webUrl <webUrl>` | Url of the site from which we want to retrieve the list of content types
`-l, --listTitle [listTi

[2021-10-21 22:30] Adam-it commented on #2777
ok I will try to research any rest api we could use for this functionality 🤔

[2021-10-21 22:48] praveenbattula opened #2778 "CICD deployment failing on Ubuntu 20"
Hi,
I am trying to deploy SPFx web part via Microsoft 365 CLI using Azure DevOps CI/CD.

The environment is Ubuntu 20, nodejs 14+.

I see nodejs, Microsoft365 cli installed successfully. And it printed version 4.0.0 on screen as well.

The issue occurred when it starts executing the commands below. (all parameters are command line arguments passing from pipeline variables)

SITE=$1
EMAIL=$2
PASS=$

[2021-10-21 23:43] praveenbattula commented on #2778
I think the issue is I had wrong node js version. for this to work correct I should be having 14.16+ version. Now Microsost365 cli working fine.

[2021-10-21 23:43] #2778 closed

[2021-10-22 10:28] waldekmastykarz opened #2780 "Enhancement: Add support for upgrading SPFx projects to v1.13.0"
Enhancement: Add support for upgrading SPFx projects to v1.13.0

[2021-10-22 10:48] #2780 closed, assigned to waldekmastykarz

[2021-10-22 16:15] #2774 closed, assigned to nobody

[2021-10-23 17:55] waldekmastykarz opened #2785 "Extend the 'aad oauth2grant remove' command with `confirm`"
The `aad oauth2grant remove` command misses the `--confirm` option to confirm removing a grant. We should add it for consistency with other commands. That will be a breaking change and should go in v5.

[2021-10-23 17:57] waldekmastykarz opened #2786 "In `aad oauth2grant list` command rename clientId to spObjectId"
In the `aad oauth2grant list` command, we have the `clientId` option that's used to specify the `objectId` of the service principal. The naming is confusing and not self-explanatory, and we should rename it to `spObjectId` to clearly indicate that the option expects the object ID of the service principal for which you want to list OAuth2 grants. This is a breaking change that needs to go into v5.

[2021-10-24 21:15] kevmcdonk opened #2790 "New command: search externalConnections list"
### Usage

m365 search externalConnections list

### Description

This command will allow the administrator to list external connections for use in Microsoft Search and soon for Viva Topics.

### Options

Option | Description
-- | --

### Additional Info

This will build on the initial submission of the add command

[2021-10-25 00:23] #2754 closed, assigned to nanddeepn

[2021-10-26 17:17] wobba opened #2792 "Bug report: Getting ReferenceError: define is not defined when running CLI"
### Description

When starting the CLI I get an error `Error: ReferenceError: define is not defined?`

Similar issue #2512

### Steps to reproduce

![image](https://user-images.githubusercontent.com/51104/138928419-176f753f-3383-42d5-9732-918a04bd8a57.png)

### Expected results

Expect the CLI to start

### Actual results

CLI won't run

### Diagnostics

_No response_

### CLI for Microsoft 365 ve

[2021-10-27 18:03] krishnachaluvadi opened #2795 "Bug report: M365 cmdlets does not work for GCC?"
### Description

Hi,
I am trying to re-run the failed power automate flows using M365 CLI cmdlets, when I run the cmdlets to list the flows in my GCC environment, it says "You are not permitted to make flows in this Default-xxxxxxxxxx. Please switch to the defalt environment, or to one of your own environment(s) where you have maker permissions."
I am trying to connect to default environment only,

[2021-10-27 21:04] Adam-it opened #2796 "Enhancement: extend `spo list get` with `--withPermissions`"
We need to extend the command `spo list get` with additional option `--withPermissions`. When the option is passed, the result would include permission information along with other details.

Specs are updated based on [this conversation](https://github.com/pnp/cli-microsoft365/issues/2796#issuecomment-957166833).

### Additional Info

I came across this when I wanted to add a CLI equivalent of and

[2021-10-28 14:15] #2792 closed, assigned to nobody

[2021-10-30 01:41] douglasromao commented on #2031
@plamber @waldekmastykarz do you guys have a preferece/suggestion on how we can call this alias?

[2021-10-30 02:26] plamber commented on #2031
Hi @douglasromao,
in this case the alias should be "O365GROUP_RESTORE: ${prefix} o365group restore".

Cheers

[2021-10-30 03:11] douglasromao commented on #2031
Thanks @plamber !

[2021-10-30 03:14] douglasromao commented on #2031
@plamber It seems that someone already added this there some time ago:

![image](https://user-images.githubusercontent.com/4824775/139518354-29b3cc4a-9804-4ecb-8f70-97d239316751.png)

[2021-10-30 03:17] douglasromao commented on #2031
@plamber also the alias configuration it seems to be there already on the **o365group-recyclebinitem-restore.ts**, looks like only the command options (displayname and mailnickname) that are not implemented if I am not mistaken

[2021-10-30 04:45] plamber commented on #2031
Hi @douglasromao,
I verified the codebase and saw that there is a command that restores the M365 Group [here](https://github.com/pnp/cli-microsoft365/blob/main/src/m365/aad/commands/o365group/o365group-recyclebinitem-restore.ts).

So we should just extend the existing command with additional filter capabilities (displayname and mailnickname). I Updated the specs.

Just let me know if you have addi

[2021-10-30 10:27] Adam-it commented on #2796
not yet.. but I will do so in the coming  weekend and let you know 👍

[2021-10-30 11:19] douglasromao commented on #2031
Awesome @plamber , thanks for clarifying! I will do that!

[2021-10-30 12:43] sprider commented on #2661
@veronicageek Please check the below sample script. We created this to explain how to use cli and regular api call.

https://pnp.github.io/cli-microsoft365/sample-scripts/spo/perform-operations-not-covered-by-cli-for-microsoft-365

[2021-10-30 12:44] sprider commented on #2661
Perfect, Thank you @nanddeepn !

[2021-11-01 19:35] #2583 closed

[2021-11-01 19:37] waldekmastykarz commented on #2583
Hey @LuiseFreese, we've just released a preview version of the CLI with this command. You can try it out by installing the preview version of CLI using: `npm i -g @pnp/cli-microsoft365@next`. Thanks again for the feature request! 👏

[2021-11-01 19:38] LuiseFreese commented on #2583
Awesomeness! Will try soon! Thanks for helping to bring this to life 💖

[2021-11-01 19:39] waldekmastykarz commented on #2583
@nanddeepn did all the heavy work 👏

[2021-11-01 19:51] waldekmastykarz opened #2802 "Extend spfx doctor to support SPFx v1.13.0"
Extend spfx doctor to support SPFx v1.13.0

[2021-11-01 20:14] ValerasNarbutas opened #2803 "Bug report: unable to add site script in PowerShell"
### Description

command
`m365 spo sitescript add --title "This is first script CLI 1" --description "some description " --content $site_script`
does not add site scriptscript. return command list

### Steps to reproduce

[code]

`m365 spo sitescript add --title "This is second script for list CLI 2" --description "Create and Update list CLI2" --content $JsonProividedabove`

this does not add any

[2021-11-01 21:53] Adam-it commented on #2777
anyway.. I did a bit of research 📚 and I was planning to develop it (if I will be doing this of course 😉) in similar way as https://github.com/pnp/cli-microsoft365/blob/main/src/m365/spo/commands/list/list-contenttype-list.ts

I did a bit of a check of SP Rest API which I could use and I was planning  to take advantage of
👉 contenttype list
`https://tenanttocheck.sharepoint.com/sites/demoportal/_a

[2021-11-01 22:33] Adam-it commented on #2796
ok so I checked and for example in web in CLI we have an argument `--withGroups` when this is used we add and expand option to the rest call to get the additional info
[code]

we could do similar thing for the list command 🤔. So we could add and additional argument option `--withGroups` or other like `--permissionInfoOne` (😉😋) and when this is used we may add
`.../roleassignments?$expand=Member/us

[2021-11-02 07:29] waldekmastykarz commented on #2803
Thank you for reporting the issue @ValerasNarbutas and sorry for the trouble. We'll look into it asap.

[2021-11-02 07:34] waldekmastykarz commented on #2796
Thanks for the research @Adam-it. What if we extended the existing `spo list get` command with a new option named `--withPermissions` that would include the additional information you mentioned? @pnp/cli-for-microsoft-365-maintainers any opinions about this approach?

[2021-11-02 07:38] waldekmastykarz commented on #2777
Thanks for looking into it! It makes perfect sense to use the APIs you mentioned. Also, the ability to just get content types from a specific group will be helpful as well. If we already get fields from a content type, then I wonder if it's worth the effort to implement a separate command. On the other hand, if that would be more convenient to work with, we could always do it. For now, shall we st

[2021-11-02 07:47] waldekmastykarz commented on #2803
I can reproduce the issue and I suspect the culprit to be PowerShell and how it handles strings passed to executables. The usage you mentioned works just fine in PowerShell cmdlets, because they handle strings differently. When you use the same string with an executable, like CLI for Microsoft 365, you'd need to manually escape quotes in the PowerShell string so that they're passed correctly into

[2021-11-02 07:50] waldekmastykarz commented on #2704
Looking at the different options, we found out that there is no way for us to extend the existing `spo file list` command with support for large folders in a backwards compatible way with the existing command. So instead, we'll add a new command named `file list`, which will be based on Microsoft Graph and which will support large folders just fine. Using the command you shouldn't notice any diffe

[2021-11-02 07:50] #2704 closed

[2021-11-02 07:52] Adam-it commented on #2777
Yes, and I think first lets do just listing content types. Listing fields of CT with a dedicated command could be a second step and a different issue/PR. I'm a fan of small steps (in my case it's even baby steps 😋).
If it's ok with you guys I may start working on it in the fallowing weekend and as soon as I have anything working I will start with a draft PR to get your opinion on it 🤔? If there is

[2021-11-02 07:54] waldekmastykarz opened #2804 "New command: file list"
### Usage

m365 file list [options]

### Description

Retrieves files from the specified folder and site

### Options

`-u, --webUrl <webUrl>`
The URL of the site where the folder from which to retrieve files is located

`-f, --folder <folder>`
The server- or site-relative URL of the folder from which to retrieve files

`-r, --recursive`
Set to retrieve files from subfolders

### Additional Info

[2021-11-02 07:57] waldekmastykarz commented on #2777
Absolutely a great idea to start small and not try to boil the ocean 😄

If you'd like, please do start and we can take it from there. And if you're stuck at any point, please don't hesitate to reach out. I'm sure we'll be able to figure it out together 💪

[2021-11-02 09:03] michaelmaillot commented on #2563
Makes perfect sense, thank you for clarifying this!

I will have a look at it and let you know.

[2021-11-02 10:32] nanddeepn commented on #2680
Hi @garrytrinder, @waldekmastykarz
If this is available, can I work on it?

[2021-11-02 12:00] waldekmastykarz commented on #2680
Yes, please do! We appreciate your help @nanddeepn 👏

[2021-11-02 12:19] lsavard commented on #2704
Hi !

Thank you for the follow up ! I will be happy to help with testing this new command !

De : Waldek Mastykarz ***@***.***>
Envoyé : 2 novembre 2021 03:51
À : pnp/cli-microsoft365 ***@***.***>
Cc : Savard, Luc ***@***.***>; Mention ***@***.***>
Objet : Re: [pnp/cli-microsoft365] Bug report: m365 spo file list -u $siteUrl -f Documents generating errors (#2704)

Looking at the different options,

[2021-11-02 13:13] #2663 closed

[2021-11-02 16:02] ValerasNarbutas commented on #2803
Thanks @waldekmastykarz ,
i will try. If successfull i will close issue, thanks for looking into this.

[2021-11-02 16:32] harishm1991 opened #2805 "Bug report: <script to export all the power automate flows from the environment is not working>"
### Description

The script mentioned in the below link to export all the power automate flows from the environment is not working

https://pnp.github.io/cli-microsoft365/sample-scripts/flow/export-all-flows-in-environment/

Error screen shot attached.

Error: The provided environment name '[ Default-64afd979-3a89-4d99-b151-29ce686c437f ]' has these invalid characters [ ]. The name can only be a l

[2021-11-02 18:23] Abderahman88 commented on #2805
Hi @harishm1991,

I've found the problem. I will create a PR to fix it.
Thanks for reporting the issue.

Can someone assign this issue to me please?

[2021-11-02 18:46] krishnachaluvadi commented on #2795
Our tenant is not GCC High, it is just GCC, does the remedy referred in #1931 still works? Thank you for your support.

[2021-11-02 19:17] jjtowles commented on #2655
I now get a 403 on creating the upload session:

Searching for drive with a URL ending with /Shared%20Documents...

Resolved URL https://graph.microsoft.com/v1.0/sites/company.sharepoint.com,b358b16f-9af3-46d1-bc2d-ff62c2f7aa35,bfebfc4e-1fed-4956-89da-438f3b17092a/drives/b!b7FYs_Oa0Ua8Lf9iwveqNU7867_tH1ZJidpDjzsXCSq7z1r15zC6QKVYT0eNveJi/root:/Jon/MacProfile.xml

Existing access token XXXXXX-r8JO08

[2021-11-02 22:12] ValerasNarbutas commented on #2803
@waldekmastykarz it did worked from file. Not a big issue but good to know, i thought get-content from powershel would work also but not, only using your example with taking file like @file.json

[2021-11-02 22:12] #2803 closed

[2021-11-03 06:23] arjunumenon commented on #2796
I am with the idea of adding the param  `--withPermissions` which will give the permission details only as and when needed. I am with that.

If that is the case, do you think it make sense to update the specs @waldekmastykarz so that it would be clearer?

[2021-11-03 09:24] waldekmastykarz commented on #2796
Yes, good idea @arjunumenon 👍

[2021-11-03 09:26] waldekmastykarz commented on #2655
Could you please share with

[2021-11-03 09:27] waldekmastykarz commented on #2795
I think it applies both to GCC and GCC High

[2021-11-03 09:28] waldekmastykarz commented on #2704
Awesome! I appreciate your help 👏

[2021-11-03 09:29] waldekmastykarz commented on #2805
Awesome! We appreciate your help @Abderahman88 👏

[2021-11-03 11:15] SaschaHenning opened #2807 "Bug report: spo site list contains \n in property value"
### Description

`spo site list -o json` results in a json containing line breaks in a property value. Therefore it cannot be used directly to work with it using a JSON parser like **jq**

### Steps to reproduce

1. run `m365 spo site list`
2. check json property "\_ObjectIdentity\_" and find unescaped **\n**
Following sample is simplified:
[code]
3. if you now want to do something with this json

[2021-11-03 11:19] waldekmastykarz commented on #2807
Thank you for reporting the issue @SaschaHenning and sorry for the trouble. We'll look into it asap.

[2021-11-03 11:57] SaschaHenning commented on #2807
btw for anyone having this issue, there are multiple workarounds:
- just select the properties you need `sites=$(m365 spo site list --query "[*].{Title: Title, Url: Url}" -o json) `
- remove all newlines after loading the json: `sites="$(echo "$sites"|tr -d '\n')"`

[2021-11-03 16:12] krishnachaluvadi commented on #2795
Hi,
I have tried the below steps in my environment:

1. npm i -g @pnp/cli-microsoft365
2. m365 login --cloud AzureUSGovernment

I got error message -
node.exe : Error: Invalid option: 'cloud'
At C:\Users\xxxxxx\AppData\Roaming\npm\m365.ps1:15 char:3
\+   & "node$exe"  "$basedir/node_modules/@pnp/cli-microsoft365/dist/ind ...
\+   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[2021-11-03 20:32] krishnachaluvadi commented on #2795
Ok, I have followed the steps from #1931 (comment), here are the observations.

1. After executing npm i, got the below error.
PS C:\Install\cli-microsoft365-gcc-high> npm i
npm : npm WARN optional SKIPPING OPTIONAL DEPENDENCY: fsevents@2.1.3 (node_modules\fsevents):
At line:1 char:1
\+ npm i
\+ ~~~~~
    + CategoryInfo          : NotSpecified: (npm WARN option...ules\fsevents)::String) [], Remote

[2021-11-03 20:34] krishnachaluvadi commented on #2795
Please find the attached log files for the 2nd and 3rd commands.
[2021-11-03T20_09_12_325Z-debug.zip](https://github.com/pnp/cli-microsoft365/files/7470531/2021-11-03T20_09_12_325Z-debug.zip)

[2021-11-03T20_27_46_223Z-debug.zip](https://github.com/pnp/cli-microsoft365/files/7470535/2021-11-03T20_27_46_223Z-debug.zip)

[2021-11-03 22:10] jjtowles commented on #2655
I pulled the documentation on the Create Upload Session and that’s clearly the issue:

***@***.***

Jon Towles
Architecture, Sr Tech Lead
Infrastructure Architecture | End User Computing
***@***.******@***.***>
Mobile: 978-609-5545
[Freddie Mac logo]

From: Waldek Mastykarz ***@***.***>
Sent: Wednesday, November 3, 2021 5:27 AM
To: pnp/cli-microsoft365 ***@***.***>
Cc: Towles, Jonathan ***@***.***

[2021-11-04 07:28] waldekmastykarz commented on #2795
It seems like restoring packages failed in step 1. Could you please try to re-run `npm install`? Sometimes, it can fail due to network or other issues.

[2021-11-04 07:28] waldekmastykarz commented on #2655
Hey @jjtowles, could it be that something was removed in your reply?

[2021-11-04 13:37] waldekmastykarz opened #2813 "New command: app permission add"
### Usage

m365 app permission add [options]

### Description

Adds the specified application and/or delegated permissions to the current AAD app API permissions

### Options

Option | Description
-- | --
`--appId [appId]` | Client ID of the Azure AD app registered in the .m365rc.json file to retrieve API permissions for
`--applicationPermission [applicationPermission]` | Space-separated list of a

[2021-11-04 13:38] waldekmastykarz commented on #2813
Hey @pnp/cli-for-microsoft-365-maintainers, I'd appreciate your feedback on this spec.

[2021-11-04 17:29] garrytrinder commented on #2813
Nice idea @waldekmastykarz some thoughts from me...

`Permission scopes to add`, does this mean that `--scopes` can accept multiple values i.e. `--scopes  "AllSites.FullControl, User.Read.All"`? If so, we should state this in the option description, e.g. `Comma-separated list of scopes to add`.

Should we not include an optional `--appId` option so that this command can be used outside of the curr

[2021-11-04 18:15] krishnachaluvadi commented on #2795
Hi, I tried running 'npm install', its same result as mentioned previously, also same result when ran 'npm run build'

[2021-11-04 19:37] waldekmastykarz commented on #2795
Could you try running `npm cache clean --force` and then `npm install` again to see if that helps?

[2021-11-04 19:40] waldekmastykarz commented on #2813
Good point. I included this in the extra information, but we can mention it explicitly in the description to make it even clearer.

If you'd like to add scopes outside of the project context you can use the existing `aad oauth2grant add` and `aad approleassignment add` commands.

I think we might've introduced a short name that we resolve in the code ourselves to make it easier to work with. Let's

[2021-11-04 19:57] krishnachaluvadi commented on #2795
Hi, still same result, I see below error with npm install after clearing the cache.
npm : npm WARN optional SKIPPING OPTIONAL DEPENDENCY: fsevents@2.1.3 (node_modules\fsevents):
At line:1 char:1
\+ npm install
\+ ~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (npm WARN option...ules\fsevents)::String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError

npm WARN notsup SK

[2021-11-05 08:41] waldekmastykarz opened #2815 "Enhancement: extend `aad app add` with `--save`"
In #2813 we introduced a command that allows you to operate on an AAD app using information stored in a `.m365rc.json` file, which contains the `appId` property with the ID of the AAD app. We should extend the `aad app app` command with a new `--save` option. When used, it will cause the command to write the information about the newly created app to the `.m365rc.json` file in the working director

[2021-11-05 08:47] waldekmastykarz commented on #2815
@pnp/cli-for-microsoft-365-maintainers is `--store` clear enough or should we use `--save`, or some other verb that's clearer of its purpose?

[2021-11-05 08:48] waldekmastykarz commented on #2490
I think this is fixed since we updated docs to a newer version of MkDocs

[2021-11-05 08:48] #2490 closed

[2021-11-05 13:49] #2706 closed

[2021-11-05 13:49] #2802 closed

[2021-11-05 13:49] #2807 closed

[2021-11-05 13:52] #2786 closed

[2021-11-05 13:52] #2785 closed

[2021-11-05 13:54] waldekmastykarz commented on #2807
We've just released a preview version with this bug fixed. I'd appreciate if you could try it running `npm i -g @pnp/cli-microsoft365@next` and verify that it works as intended. Once again, thank you for reporting the issue 👏

[2021-11-05 16:59] garrytrinder commented on #2815
I personally would prefer `--save` to `--store`.

[2021-11-06 00:50] garrytrinder commented on #2750
@waldekmastykarz I believe that this has now been completed so can be closed?

[2021-11-06 00:52] garrytrinder commented on #2766
I think it would make sense to include this in the wiki.

[2021-11-06 00:54] garrytrinder opened #2817 "Mocha Test Explorer"
To improve the testing experience during development, it would be great if we could update the CLI codebase to be compatible with a VS Code Test Runner extension such as [Mocha Test Explorer](https://marketplace.visualstudio.com/items?itemName=hbenl.vscode-mocha-test-adapter).

![](https://github.com/hbenl/vscode-mocha-test-adapter/raw/HEAD/img/screenshot.png)

[2021-11-06 13:09] waldekmastykarz commented on #2817
What would we need to do?

[2021-11-06 13:09] waldekmastykarz commented on #2766
Good idea!

[2021-11-06 13:10] waldekmastykarz commented on #2750
Correct

[2021-11-06 13:10] #2750 closed

[2021-11-06 14:30] garrytrinder commented on #2817
Good question 😁

That would need to be investigated.

[2021-11-07 07:10] plamber commented on #2461
@waldekmastykarz, @appieschot: specs are updated. Do you still see some improvements for them?

[2021-11-07 07:11] plamber commented on #2436
@pnp/cli-for-microsoft-365-maintainers do we still see here some benefits or should we close this issue due to lack of interest?

[2021-11-07 07:16] plamber commented on #2245
Related to #2531 and #2255

[2021-11-07 07:28] plamber commented on #1879
@waldekmastykarz: do you still see some changes required to the specs?

[2021-11-07 09:09] plamber commented on #1634
Hi @nbelyh and @waldekmastykarz,
I had a look into this.

Lookup the app by title or Lookup the app by ProductId.

What do you think about this approach:
- loop over all sites using "m365 spo site classic list"
- for each site call m365 spo app instance list and filter by title or productId

This should give you the desired results.

I was thinking about a practical example for SharePoint administ

[2021-11-07 10:18] nbelyh commented on #1634
At the time of creating this issue, the "app instance list" command did not exist, in fact it was added as a solution for this issue, if you look at the history of the linked issue above. It's implementation is based on /api/AppTiles like described here, but that API does not seem to provide any version information. To get the app version, that underlying SharePoint API needs to be extended, as fa

[2021-11-07 15:50] garrytrinder commented on #2436
I'd be interested in keeping this open, maybe we should consider doing some investigation to create a list of commands that currently use custom types that can be replaced with the official types?

Once we have a list of commands, this will help us better understand the scope of this change.

[2021-11-07 16:09] plamber commented on #2436
Instead of going through lists I could just start searching a command and refactor it with types.

I could give it a shot

[2021-11-07 16:12] plamber commented on #1634
Hi @nbelyh ,
are you still interested in  creating the sample code from this issue?

We could then see if we should look for another usecase in a separate issue.

Cheers

[2021-11-07 17:02] nbelyh commented on #1634
@plamber from my side it's not needed, the code that would iterate all sites and then calling "app instance list" on each seems to be obvious. I.e. for me this issue was relevant one year ago, when "app instance list" did not exist, but not now.

[2021-11-08 11:09] arjunumenon commented on #2796
Hello @Adam-it  - Thanks for all the suggestion and all findings which you have made. We have updated the specs based on the conversations.
Do you want to take a stab in updating the command?

[2021-11-08 20:33] garrytrinder commented on #2436
All yours @plamber 👍

[2021-11-08 21:40] Adam-it commented on #2796
@arjunumenon wow that's cool 👍 thanks a lot for the help and fast changes 👍 you're awesome 🤩
TBH I would really love to be assigned to it but currently I have different issue assigned in this repo and also a list of issues in script-samples repo were I also try to increase number of samples with CLI version... and some other as well 🙄😋... so all in all I will leave this open for any other candidat

[2021-11-09 11:16] arjunumenon commented on #2796
Thanks for the kind words @Adam-it ❤.

Totally understand your schedule and appreciate all the help in script-sample areas as well. You have already done a great job in identifying endpoints needed for enhancing the command.

Based on your suggestion, We will keep the issue open to others so that they can contribute it. Appreciate your help 👍.

[2021-11-09 16:17] waldekmastykarz commented on #2436
We use the package already so it would be a matter of identifying custom types and replacing them with a reference to the type from the package. Even if we use beta APIs, we should see if we need access to beta properties or if we can use the information from the main package to avoid having to reference two of them.

[2021-11-10 08:51] garrytrinder commented on #2817
Absolutely, I’ve taken this issue to understand the changes needed. I’ll report back when I know more 👍🏻

[2021-11-10 16:37] krishnachaluvadi commented on #2795
Hi,
This time I have tried the above commands on a brand new Windows 10 workstation, here is what I see now

1. Insalled Node.js, node version 14.18.1 and npm version 6.14.15
2. Downloaded the zip from https://github.com/waldekmastykarz/cli-microsoft365/tree/gcc-high and extracted, then changed the path.
3. Ran npm i command, here is the output
    PS C:\Install\cli-microsoft365-gcc-high> npm i

[2021-11-10 21:53] garrytrinder commented on #2817
Some progress made tonight, I've had to make some minor changes to `Auth.ts` the Test Explorer didn't like us using `require()` to import the `omelette` module, so just need to update that to use an `import` statement instead just to get the tests listed in the UI.

We can run tests through the UI now, next step is adding debugging 👍

<img width="1440" alt="image" src="https://user-images.githubus

[2021-11-10 23:25] Abderahman88 commented on #2796
Volunteer for this one ✋

Do we want to show all the information for the roles and permissions?

[code]

![image](https://user-images.githubusercontent.com/36161889/141209310-12da192a-f99b-4e69-8937-d43ebe3e3225.png)

![image](https://user-images.githubusercontent.com/36161889/141209363-eab40ff3-b53d-4f9b-8f49-6ddfe70b0d7e.png)

[2021-11-11 10:58] waldekmastykarz commented on #2815
Thinking of it, shall we support storing information about multiple apps in case you have a solution with multiple components, like an API, bot and a web app and each one is using a different AAD app?

[2021-11-11 11:01] waldekmastykarz commented on #2817
Did you need to change it in the test or in the actual code?

[2021-11-11 11:02] waldekmastykarz commented on #2795
I appreciate your persistence and sorry to hear you can't get it to work. Let me see if I can reproduce the issue you're seeing on my end.

[2021-11-11 11:36] Adam-it commented on #2796
@Abderahman88 this is way cool 😎. I think I am not in any position to make any kind of final decision here 😋 but yes I would suggest to include both (HasUniqueRoleAssignments and RoleAssignments) information in the json response 👍.
TBH I was thinking that this parameter --withPermissions would return similar information to PnP Powershell `Get-PnPList -Includes HasUniqueRoleAssignments,RoleAssignme

[2021-11-11 12:50] waldekmastykarz commented on #2795
You need to use an account from your GCC tenant.

If you can sign in successfully, but get other errors, you might need to create a custom Azure AD app in your tenant. You can find more information about the necessary steps in our docs at https://pnp.github.io/cli-microsoft365/user-guide/using-own-identity/. I hope this helps.

[2021-11-11 15:02] #2680 closed

[2021-11-11 15:02] #2805 closed

[2021-11-11 15:03] Adam-it commented on #2777
ok @waldekmastykarz  I added the PR with the new command. For now just listing ct from site with option to filter by category. let  me know if it is more or less ok and if we want to remove the old `list contenttype list` command and move this functionality here but just add two params like `listId` and `listTitle` .
also the fields of this ct are returned together with the response but as part of

[2021-11-11 17:39] joakimhogberg opened #2821 "Feature request - m365 spo set --layoutType HeaderlessSearchResults"
### Description

Hi,

Not sure how to make a proper feature request/raise a question, I hope this will do. Been a while since I was here honestly :-)

I Might be missing something obvious, but I can't see how I can set layoutType as HeaderlessSearchResults on a custom search page in spo?

In PnP.PowerShell/Set-PnPPage I can set it to; Article, Home, SingleWebPartAppPage, RepostPage, HeaderlessSear

[2021-11-11 19:14] garrytrinder commented on #2817
Surprisingly, in the actual code.

[2021-11-11 19:16] garrytrinder commented on #2815
Sounds like a great idea, assuming this will be quite a simple case of appending to an array stored in the JSON file?

[2021-11-11 19:33] waldekmastykarz commented on #2817
Let's see what impact it has on running the CLI. I recall adding this specifically to lazy load modules on runtime. If we replace `require` with a top-level `import` it could be that we're reverting to always loading the given module which would slow us down.

[2021-11-11 20:30] garrytrinder commented on #2817
I see.

I did wonder why that library specifically used `require`, now I know 😁

[2021-11-12 07:11] garrytrinder commented on #2817
@waldekmastykarz would using a Dynamic Import Expression in TypeScript be a valid alternative to using `require()` in this scenario?

https://www.typescriptlang.org/docs/handbook/release-notes/typescript-2-4.html#dynamic-import-expressions

[2021-11-12 15:16] waldekmastykarz commented on #2817
I tried it in the past and it didn't work back then. We can certainly try again.

[2021-11-12 15:20] waldekmastykarz commented on #2815
Correct

[2021-11-12 15:21] waldekmastykarz commented on #2749
@StfBauer updated markshell. Let me check if the latest version fixes this issue.

[2021-11-12 15:27] waldekmastykarz commented on #2749
I tried markshell@1.4.0 and there are still some differences. I passed them on to @StfBauer

[2021-11-12 15:31] waldekmastykarz commented on #2777
Awesome! Here are some comments.

Unfortunately, we can't do that because it would break backwards compatibility. So for now, we could add this new command and then mark the other command as deprecated for removal in v5, but not just now.

As for SchemaXml, for now let's leave it as-is. Since this is a command listing content types, there is no easy way we could list fields as well.

[2021-11-12 19:09] arjunumenon commented on #2796
Thanks @Abderahman88 for looking into that and volunteering. It is all yours.

I would also second @Adam-it recommendation to add **HasUniqueRoleAssignments,RoleAssignments** as a staring point.
Then in future, if needed, let us enhance it further.

[2021-11-14 10:24] plamber commented on #2436
Had a look into our commands.

- Almost all team commands implement a dedicated interface in our cli. These can be replaced with the graph types
- Something similar happens for the users and groups endpoints
- Same under rstieclassification

There are also other places but these are the first ones that I found by performing a simple scan.

Should we create dedicated issues for each namespace or ca

[2021-11-14 14:34] veronicageek commented on #2661
@nanddeepn @waldekmastykarz
Is the command working? I literally copied the example from the command documentation and nothing in return.

I also tried `-o json | ConvertFrom-Json` at the end, but got an error:
`ConvertFrom-Json: Conversion from JSON failed with error: Unexpected character encountered while parsing value: C. Path '', line 0, position 0.`

I'm using `v4.1.0`

Could someone try on th

[2021-11-14 21:52] Abderahman88 opened #2824 "New command: planner task set"
### Usage

m365 planner task set [options]

### Description

Updates a Microsoft Planner task

### Options

Option | Description
-- | --
`-i, --id <id>` | ID of the task
`-t, --title [title]` | Title of the task.
`--bucketId [bucketId]` | Bucket ID to which the task belongs. If you want to update the task's bucket, specify either bucketId or bucketName but not both.
`--bucketName [bucketName]`| Bu

[2021-11-14 21:54] Abderahman88 commented on #2824
Still in draft. Maintainers could you look at it?

[2021-11-14 21:56] Abderahman88 commented on #2245
Related to #2824

[2021-11-15 08:33] waldekmastykarz commented on #2436
Ideally, let's create a checklist of all affected commands and tests that need updating so that we can track progress and know when we're done. Once we have it, we could create multiple PRs linked to the same issue.

[2021-11-15 08:35] waldekmastykarz commented on #2661
@veronicageek the command [has been added in v4.2.0](https://pnp.github.io/cli-microsoft365/about/release-notes/#v420), which is currently still in preview and which you can get by executing `npm i -g @pnp/cli-microsoft365@next`.

[2021-11-15 08:37] waldekmastykarz commented on #2796
+1 on the suggestion from @Abderahman88 and @Adam-it 👏

[2021-11-15 08:43] waldekmastykarz commented on #2824
Very nicely done: well thought out and the link to the docs is helpful to confirm the design.

Looking at the sample in the docs, it seems like the bucket isn't required. The _Specify either bucketId or bucketName but not both._ seems similar to what we use in commands where we require one of the two possible options. What do you think if we rephrased it to _If you want to update the task's bucket

[2021-11-15 08:46] waldekmastykarz commented on #1634
@plamber apps are deployed in a site collection app catalog but installed in a web, so if we're to get the list of all sites where the app is installed, we'd need to iterate over all webs and not site collections, right?

[2021-11-15 08:48] waldekmastykarz commented on #1879
Are `membershipId` and `userPrincipalName` interchangeable? If so, let's make it clear in the docs. Other than that, the spec is good to go.

[2021-11-15 08:49] waldekmastykarz commented on #2461
Shall we remove `top` like we discussed? Other than that, it's good to go.

[2021-11-15 15:37] waldekmastykarz commented on #2821
Thank you for submitting the feature request @joakimhogberg. We miss the option indeed. Is this something you'd like to work on and add by any chance?

[2021-11-15 20:26] waldekmastykarz opened #2825 "Bug: slow tests"
When running tests I noticed, that typically the tests themselves run pretty quickly, but then, for some reason, we have a 1 minute delay before running the tests concludes and mocha exits. You can repro this by changing in package.json the test:test task to:

[code]

and then running `npm run test:test`. You should see tests being done in under a second but you won't get the cursor back for anoth

[2021-11-15 20:27] waldekmastykarz commented on #2825
Kudos to @wictorwilen for finding out the culprit: https://github.com/microsoft/ApplicationInsights-node.js/issues/862

[2021-11-15 20:35] waldekmastykarz commented on #2715
Done! Once again, we appreciate your help 👏

[2021-11-15 20:35] #2715 closed

[2021-11-15 20:36] waldekmastykarz commented on #2655
Closing due to lack of reply

[2021-11-15 20:36] #2655 closed

[2021-11-15 20:41] waldekmastykarz commented on #2773
Closing due to lack of response.

[2021-11-15 20:41] #2773 closed

[2021-11-15 20:41] waldekmastykarz commented on #2767
Hey @ktskumar, are you still working on this?

[2021-11-15 20:42] waldekmastykarz commented on #2742
Hey @ktskumar, are you still working on this?

[2021-11-15 20:43] waldekmastykarz commented on #2678
Hey @SaNsK11, are you still working on this?

[2021-11-15 20:45] waldekmastykarz commented on #2642
Hey @dips365, are you still working on this?

[2021-11-15 20:45] waldekmastykarz commented on #2635
Hey @dips365, are you still working on this?

[2021-11-15 20:46] waldekmastykarz commented on #2622
Resetting as available for taking due to lack of response

[2021-11-15 20:47] waldekmastykarz commented on #2454
#2599 duplicate

[2021-11-15 20:47] #2454 closed

[2021-11-15 20:48] waldekmastykarz commented on #2439
Hey @plamber, are you still working on this?

[2021-11-15 20:49] waldekmastykarz commented on #2420
Hey @appieschot, are you still working on this?

[2021-11-15 20:50] waldekmastykarz commented on #2283
Hey @rabwill, are you still working on this?

[2021-11-15 20:51] waldekmastykarz commented on #2240
This is done already when we moved to Node@16

[2021-11-15 20:51] #2240 closed

[2021-11-15 20:52] waldekmastykarz commented on #2225
Hey @ktskumar, are you still working on this?

[2021-11-15 20:55] waldekmastykarz commented on #1690
Hey @dips365, are you still working on this?

[2021-11-15 20:56] waldekmastykarz commented on #2021
Hey @leeford, are you still working on this?

[2021-11-15 20:59] waldekmastykarz opened #2827 "Restrict the CLI runtime version"
### Discussed in https://github.com/pnp/cli-microsoft365/discussions/2798

<div type='discussions-op-text'>

<sup>Originally posted by **waldekmastykarz** October 30, 2021</sup>
In package.json, you can use the [engines property](https://docs.npmjs.com/cli/v7/configuring-npm/package-json#engines) to specify the versions of Node.js that's supported by the package. Since we're testing CLI@4 only on

[2021-11-15 21:49] veronicageek commented on #2661
Had a feeling that would be the case hence why I've put the version I was using. Will upgrade and try again 👍🏻

[2021-11-16 01:28] ktskumar commented on #2742
Yep. I'm working on this. Will push the code by this weekend

[2021-11-16 01:28] ktskumar commented on #2767
Yep. I'm working on this. Will push the code by this weekend

[2021-11-16 01:29] ktskumar commented on #2225
Didn't get time on this. Will try this by next week.

[2021-11-16 02:43] nanddeepn commented on #2622
Hi @waldekmastykarz
Can I work on this, if available?

[2021-11-16 03:01] plamber commented on #2439
Yes,
script is almost done. Waiting for @2558

Cheers

[2021-11-16 03:02] plamber commented on #2622
Hi @nanddeepn,
all yours.

Thank you,
patrick

[2021-11-16 07:22] waldekmastykarz commented on #2439
You mean `aad sp get`? If so, we have it already https://pnp.github.io/cli-microsoft365/cmd/aad/sp/sp-get/

[2021-11-16 07:23] waldekmastykarz commented on #2661
Thank you for double checking 👍

[2021-11-16 07:30] plamber commented on #2439
Sorry, missed the issue. It is #2462

[2021-11-16 09:54] arjunumenon commented on #1690
We already have [`spo group user add`](https://pnp.github.io/cli-microsoft365/cmd/spo/group/group-user-add/) which more or less does the same action which this command does.

Difference which I saw in this command is -  `spo group user add` expects `groupId` while this command supports even group name. Do you think it make sense to extend `spo group user add` which supports `groupName` rather than

[2021-11-16 09:58] #2796 closed

[2021-11-16 09:58] #2804 closed

[2021-11-16 09:58] #2825 closed

[2021-11-16 11:05] joakimhogberg commented on #2821
@waldekmastykarz yes, feel free to assign me!

Question, do you want me to add support for all the above layoutTypes (as in Set-PnPPage)?

[2021-11-16 15:06] waldekmastykarz commented on #1690
Good catch @arjunumenon. I'd definitely say this command is obsolete and we should extend the existing command rather than introduce a similar one. Let's close this issue and create a new one with the additions you suggested.

[2021-11-16 15:06] #1690 closed

[2021-11-16 15:07] waldekmastykarz commented on #2821
We appreciate your help! If you can add all of them, that would be awesome. If you'd prefer to start with just one, that's also fine. 👏

[2021-11-17 07:03] arjunumenon opened #2831 "Enhancement: extend `spo group user add` with options `--groupName` and `--email`"
We need to extend the command `spo group user add` with 2 new options

1.  `groupName`
Currently options only supports specifying `groupId` as parameter which is the id of the SharePoint group. Now we need to extend the command with `groupName` so that users can specify SharePoint Group Name as parameter.
Please note, User can specify either `groupId` or `groupName` but not both.

2. `email`
Curre

[2021-11-17 14:38] appieschot commented on #2815
Makes sense to me; would we also want to add the `--save` option to `aad app set` in case we are updating an app (and at some point we might want to create a `aad app get` command to get details of your app but that's a use case I haven't encountered so far.

[2021-11-17 21:47] Adam-it opened #2833 "New command spo web installedlanguage list"
### Usage

m365 spo web get -InstalledLanguages

### Description

get regional settings installed languages of an SPWeb

### Options

not sure if it would be better to extend current `spo web get` command or develop a new one for it 🤔

### Additional Info

so on my adventure to "show that anything is possible with m365 cli" 😋 I encountered a new functionality which is currently not supported in m3

[2021-11-18 08:41] waldekmastykarz commented on #2815
@appieschot the only bit of the app that we're storing locally is its ID. The name is purely for reference, so I don't think we'd need to have `--save` in the `aad app set` command. `aad app get` would definitely make sense if you want to quickly lookup information about an app. Would you like to create an issue for it?

[2021-11-18 08:52] waldekmastykarz commented on #2833
Good catch! If InstalledLanguages returns a complex data set (ie. more than a simple string), then it would make sense to have a separate `list` command for it, like `spo web installedlanguage list` to keep it consistent with other commands in the CLI. Would you like to write a spec for it?

[2021-11-18 10:01] appieschot opened #2834 "Document improvement for starting contributors"
We have references in the GitHub Wiki as well as some content in our docs; so suggestion: Improve our docs with a central location that contains all the steps for starting contributors to start.

Once we have the docs updated we should totally create a bunch of video's as well, but let us get started with a little more guidance on getting started by bringing all things together.

[2021-11-18 10:37] appieschot commented on #2815
@waldekmastykarz the usecase I was thinking of was as follows; I need to update an existing app somewhere 6 months after I have developed it. Might be that I use the `app set` to update a URI. But since I am still working with that App (building new stuff etc) I might require that ID the next few weeks. Wouldnt it then make sense to have the --save option as well? To update an app you need the ID

[2021-11-18 10:40] appieschot opened #2835 "New command: m365 aad app get"
### Usage

m365 aad app get

### Description

Gets an Azure AD app registration

### Options

Option | Description
-- | --
`--appId [appId]` | Application (client) ID of the Azure AD application registration to get. Specify either `appId`, `objectId` or `name`
`--objectId [objectId]` |  Object ID of the Azure AD application registration to get. Specify either `appId`, `objectId` or `name`
`--name

[2021-11-18 10:40] Adam-it commented on #2833
Of course I would 👍.
Probably I will go with the copy + paste approach 🤔. But I will open an draft for it to get all the needed corrections 👍

[2021-11-18 10:58] waldekmastykarz commented on #2834
Awesome idea! Thanks for bringing it up @Adam-it 👏

[2021-11-18 11:01] appieschot commented on #2420
No totally swamped; hopefully someone else wants to pick this one up!

[2021-11-18 11:04] nanddeepn commented on #2835
Hi @appieschot
Can I work on this?

[2021-11-18 11:13] Adam-it commented on #2834
I think it is always hard to make the first step 🤔. Developers have a lot of great ideas and usually when creating some scripts when something is not possible (there isn't a command supporting this) we tend to find a workaround for it using different tool or maybe just good old CSOM etc (at the end we need to finish the task one way or another 😋)
Then, when the work is done there always is this on

[2021-11-18 12:34] Abderahman88 commented on #2834
My two cents : I struggled in the beginning with writing the tests. The only thing available (at that time) was a video by @rabwill [How to write tests for CLI for Microsoft 365](https://www.youtube.com/watch?v=nXwhSMzTMgc) and the official SinonJS documentation.

[2021-11-18 12:51] arjunumenon commented on #2835
All yours @nanddeepn . Thanks for your help ❤

[2021-11-18 13:48] waldekmastykarz opened #2836 "Introduce a CSV output mode"
### Discussed in https://github.com/pnp/cli-microsoft365/discussions/2560

<div type='discussions-op-text'>

<sup>Originally posted by **plamber** June 26, 2021</sup>
While reading #2544 I was thinking that introducing a CSV output mode might become useful when exporting results from the CLI.

In every shell you can than take this output and pipe it directly to a file. This might become an interes

[2021-11-18 13:52] waldekmastykarz opened #2837 "Prompt for missing values for required options"
### Discussed in https://github.com/pnp/cli-microsoft365/discussions/2383

<div type='discussions-op-text'>

<sup>Originally posted by **waldekmastykarz** April 22, 2021</sup>
Today, when you run a command and haven't specified a required option, the command will fail with an error. What if instead, we'd show a prompt allowing you to specify a value? It would be more user-friendly than just failin

[2021-11-18 13:59] waldekmastykarz commented on #2815
Thinking of it, this could make sense in the context of storing existing AAD apps for future use. Thinking further, `--save` would even make sense for `aad app get`, where you have an existing app, don't need to change it, just want to store a reference to it in `.m365rc.json` for future use with CLI. Good idea @appieschot 👏

[2021-11-18 14:38] waldekmastykarz commented on #2833
Awesome! Looking forward to seeing it and please, don't hesitate to reach out if you have any questions.

[2021-11-18 14:41] waldekmastykarz commented on #2834
@Abderahman88 were the two resources you mentioned sufficient? What could we do better?

[2021-11-18 20:05] Abderahman88 commented on #2834
@waldekmastykarz I definitely found them useful. The video was beginner-friendly, but the SinonJS docs was a bit overwhelming.
An overview and some explanation of the most common used SinonJS functions would be great.

**Examples**
(I've just picked some random commands as an example)

1) `sinon.stub(request, 'get').callsFake((opts)` --> What does it do and how is it related to the actual command

[2021-11-18 20:51] Abderahman88 commented on #2834
Another thing. Is the VS Code configuration in the docs still relevant, since it's build-in in the lastest version of the CLI? Shouldn't the docs be updated?

### Before
![image](https://user-images.githubusercontent.com/36161889/142493873-297d653a-76fd-4058-b1e8-14b535412cee.png)

### Now
![image](https://user-images.githubusercontent.com/36161889/142494472-1d6415a4-c70e-4353-9a8f-6882e0ea5978.pn

[2021-11-19 12:22] waldekmastykarz commented on #2834
Good catch and great suggestions on sinon and mocha. While we don't need to explain everything a few basics specific to what we need would definitely help. 👍

[2021-11-19 14:06] #2654 closed

[2021-11-19 14:06] #2777 closed

[2021-11-19 14:06] #2815 closed

[2021-11-19 14:06] #2821 closed

[2021-11-19 15:04] waldekmastykarz commented on #2824
@Abderahman88 I think we're ready to go. Would you like to take it?

[2021-11-19 15:16] waldekmastykarz opened #2841 "New command: list API permissions for the current AAD app"
### Usage

m365 app permission list [options]

### Description

Lists API permissions for the current AAD app

### Options

Option | Description
-- | --
`-i, --appId [appId]` | The app (client) ID of the Azure AD for which to list API permissions. Specify, if you have multiple Azure AD apps listed in the `.m365rc.json` file

### Additional Info

This command get the ID of the Azure AD registration

[2021-11-19 15:18] Abderahman88 commented on #2824
@waldekmastykarz I need to finish my assigned commands first. Open this one up for the community. 👍

[2021-11-20 21:48] Adam-it opened #2843 "🧑‍💻Get SharePoint Site Recycle Bin Items"
### Usage

m365 spo site recyclebinitem list

### Description

it should retrieve items from recycle bin and secondary recycle bin. I think it would be really nice if we could filter by type (get items, files, folders)

### Options

Option | Description
-- | --
`-u, --webUrl <webUrl>` | URL of the site where the lists to retrieve are located
`-t, --type [type]` | Filter items by type: 1 - item, 2

[2021-11-20 23:01] Adam-it commented on #2833
ok @waldekmastykarz I opened a PR with the docs added to the command. Let me know if it is ok and next I may start working on the command itself 🤔?

[2021-11-21 14:48] plamber commented on #2836
I am taking this up

[2021-11-22 08:29] vipulkelkar commented on #2601
I can work on this one @waldekmastykarz

[2021-11-22 15:56] waldekmastykarz commented on #2601
Awesome! I appreciate your help 👏

[2021-11-22 16:00] waldekmastykarz commented on #2836
Cool! Let's ensure that we only load it when the user selected csv output to avoid unnecessary overhead.

[2021-11-22 16:04] waldekmastykarz commented on #2833
Awesome! The docs look solid. Let's add the command in there so that we have one PR with everything in it.

[2021-11-22 16:08] waldekmastykarz commented on #2843
Great suggestion! Let's do it. I'd suggest we change `-s, --secondary [secondary]` into a flag, so that you don't need to specify `-s true`, but can specify just `-s` or `--secondary`.

Would you like to pick it up yourself or let others work on it?

[2021-11-22 16:09] plamber commented on #2836
@waldekmastykarz a recommendation how to achieve this? Do you have a sample?

[2021-11-22 16:11] waldekmastykarz commented on #2836
One example is how we load markshell to print help only when help's requested: https://github.com/pnp/cli-microsoft365/blob/183f943b37ff5a16c6ec034f277d4c0ab6b14846/src/cli/Cli.ts#L625. Notice the import statement on top which only imports the type but not the whole package.

[2021-11-22 18:14] Adam-it commented on #2843
Sure I may give it a shot in the coming weekend. 👍

[2021-11-22 18:15] Adam-it commented on #2833
Sure. Will do 👍

[2021-11-22 20:43] Abderahman88 opened #2846 "New command: m365 aad user password validate"
### Usage

m365 aad user password validate [options]

### Description

Check a user's password against the organization's password validation policy

### Options

Option | Description
-- | --
`-p, --password <password>` | The password to be validated.

### Additional Info

**Docs**

[user: validatePassword](https://docs.microsoft.com/en-us/graph/api/user-validatePassword?view=graph-rest-beta&tabs=

[2021-11-22 20:45] Abderahman88 commented on #2846
If accepted, I'm volunteer ✋

[2021-11-23 20:36] waldekmastykarz opened #2849 "Add support for SPFx@1.13.1"
Extend spfx project upgrade and spfx doctor to support SPFx@1.13.1

[2021-11-24 12:21] SekThang commented on #2739
Almost 50% of the work completed. Kindly allow me to take some more time. Thank you

[2021-11-24 12:53] #2849 closed

[2021-11-24 12:56] waldekmastykarz commented on #2739
Of course! Please, take all the time you need

[2021-11-24 13:02] waldekmastykarz commented on #2846
Great suggestion! Are there other things related to the user that you think we could validate in the future? If not, then we should consider changing the name. Right now we have a generic `aad user validate` but then in the description we say specifically that we're just validating the password.

[2021-11-25 08:12] Abderahman88 commented on #2846
If we would change the name of the command, do you have a suggestion?

[2021-11-25 10:24] arjunumenon commented on #2846
Personally my suggestion would be to use something like `m365 aad user password validate [options]`

That gives us the ability to bring in Password Change command also in future which can have something like `m365 aad user password change [options]`.

[2021-11-25 10:28] mikeparkie commented on #2698
@wictorwilen I'm just revisiting this as it dropped down my list of priorities.

Exploring the proxy [documentation](https://docs.microsoft.com/en-gb/cli/azure/use-cli-effectively#work-behind-a-proxy) for Azure, it mentioned adding the system variable for the proxies: HTTP_PROXY / HTTPS_PROXY which I've just added:

Without
[code]
With
[code]
So that helps Azure 👍I then get blocked at the consent

[2021-11-26 07:23] waldekmastykarz commented on #2846
👍  to what @arjunumenon suggested, with a small update, that for updates we use the `set` verb, so `m365 aad user password set`, but that's future talking 😁

[2021-11-26 11:30] Abderahman88 commented on #2846
@waldekmastykarz @arjunumenon I've updated the command. I'm ready to go 🚀

[2021-11-26 11:38] Abderahman88 opened #2852 "Extend 'm365 aad user set' to change user password"
### Usage

m365 aad user set [options]

### Description

Enable the user to update their own password.

### Options

Option | Description
-- | --
`--currentPassword [currentPassword]` | Your current password. If this parameter is set, `newPassword `is mandatory.
`--newPassword [newPassword]` | Your new password.  If this parameter is set, `currentPassword` is mandatory.

### Additional Info

**Doc

[2021-11-26 11:42] Abderahman88 commented on #2852
Added the command based on our discussion #2846. Please check, if everything is ok.

[2021-11-26 11:46] Abderahman88 commented on #2852
This command only handles changing your own password. For the record, there is also a possiblity to reset the password of other users.

![image](https://user-images.githubusercontent.com/36161889/143575986-cb8c3bd9-3ede-4dd4-aebd-978f8377fc89.png)

[2021-11-26 15:51] waldekmastykarz commented on #2846
Awesome! I appreciate your help! 👏

[2021-11-26 15:53] waldekmastykarz commented on #2852
Great suggestion! Would it make sense to wrap it under `m365 aad user set` along with other properties that you can update on the user?

[2021-11-26 16:01] Abderahman88 commented on #2852
You have a point. Maybe this is better?

`m365 aad user set --currentPassword "XXX" --newPassword "YYY" `

[2021-11-26 16:08] Abderahman88 commented on #2846
If we shorten the command for setting the password from `m365 aad user password set` to `m365 aad user set`, shouldn't we consider this also for this command?

From` m365 aad user password validate --password "YYYY"`  to `m365 aad user validate --password "YYYY"`

[2021-11-27 07:00] plamber commented on #2836
Hi,
I am running into errors with the latest version of CLI when running tests on Windows 10 using.

`1) Cli
       fails options validation if the command doesn't allow unknown options and specified options match command options:

      AssertionError [ERR_ASSERTION]: The expression evaluated to a falsy value:

  assert(cliErrorStub.calledWith(chalk.red(`Error: Invalid option: 'z'${os.EOL}`)))

[2021-11-29 12:58] waldekmastykarz commented on #2836
Have you tried to reset the CLI configuration? Could it be that it's interfering with the tests?

[2021-11-29 13:01] waldekmastykarz commented on #2846
This is good point and exactly why I asked if there are other things that we'd validate for a user? If password is the only thing, then using `m365 aad user validate` wouldn't be intuitive. On the other hand, if we have some ideas that we could introduce in the future, then it would make perfect sense.

[2021-11-29 13:08] Abderahman88 commented on #2846
Ok. Let's stick to `m365 aad user password validate` for the moment. If any ideas/suggestions might arise in the future for the other option, we'll move the command.

[2021-11-29 13:18] Abderahman88 commented on #2852
@waldekmastykarz I changed the description. This one extends an existing command, so the parameters are not mandatory. If you have any thoughts, let me know 👍

[2021-11-30 06:16] plamber commented on #2836
Hi @waldekmastykarz,
indeed. My bad. Haven't noticed that my configs where customized on both machines.

Thank you.

[2021-11-30 07:37] waldekmastykarz commented on #2836
All good. Awesome to hear that you're unblocked. Shall we include this somewhere in the MPA guidance?

[2021-11-30 08:32] waldekmastykarz commented on #2852
Looks good! Would you like to work on it?

[2021-11-30 11:13] Abderahman88 commented on #2852
Yes, assign to me ✋

[2021-11-30 11:55] waldekmastykarz commented on #2852
Awesome! We appreciate your help 👏

[2021-11-30 14:37] #2662 closed

[2021-12-01 08:02] nanddeepn commented on #2831
Can I work on this?

[2021-12-01 11:18] waldekmastykarz commented on #2831
Please do! Thank you! 👏

[2021-12-02 21:20] garrytrinder commented on #2817
Just coming back to this, I've noticed that some tests in the UI have warnings against them so won't run, this needs more investigation.

[2021-12-03 10:48] nanddeepn commented on #2831
Hi @waldekmastykarz, @arjunumenon

We use `aad user get` internally to filter on `userName` inside method `getOnlyActiveUsers`.
Instead of implemeting filter by `email` in this command (`spo group user add`), should we consider extending `aad user get` command to supprt `email` parameter?

Please share your views.

[2021-12-03 17:07] nanddeepn opened #2855 "Enhancement: extend 'aad user get' with option --email"
Extend the command `aad user get` with a option `--email` so that it will even support email address of the user.
Please note, User can specify either `id`, `userName` or `email` but not multiple.

This issue is created based on [this discussion](https://github.com/pnp/cli-microsoft365/issues/2831#issuecomment-985588397) from https://github.com/pnp/cli-microsoft365/issues/2831

[2021-12-03 17:08] nanddeepn commented on #2855
@arjunumenon, @waldekmastykarz
Please review. Happy to work on this.

[2021-12-03 17:08] nanddeepn commented on #2831
Thank you @arjunumenon
Created new issue https://github.com/pnp/cli-microsoft365/issues/2855. Please review.

[2021-12-03 18:13] arjunumenon commented on #2855
Thanks @nanddeepn  for creating the spec.

We are not supporting multiple email addresses in comma separated way for getting the users, are we?

We will just get one value for the options, not multiple values with comma seperated.
Can you update that in the spec please.

Rest all seems to be fine.

[2021-12-03 18:16] arjunumenon commented on #2855
All yours Nandeep. Thanks for the help 👍

[2021-12-03 18:17] arjunumenon commented on #2831
Thanks for creating the spec.
We will keep this issue in hold till we complete #2855.

[2021-12-04 07:11] nanddeepn commented on #2855
Thank you for the review @arjunumenon
Updated the specs.

[2021-12-04 08:55] waldekmastykarz commented on #2855
Great suggestion @nanddeepn and good catch @arjunumenon 👏

[2021-12-04 15:37] #2835 closed

[2021-12-04 15:37] #2833 closed

[2021-12-06 09:19] appieschot opened #2858 "Bug report: remove value wrapper from sample scripts"
### Description

https://pnp.github.io/cli-microsoft365/sample-scripts/spo/list-site-externalusers/ still uses the value wrapper in our JMESpath query. With the latest version of CLI the sample will not work.

### Steps to reproduce

install latest CLI version and try to run script (no error but no results either)

### Expected results

Show results

### Actual results

No results

### Diagnostics

[2021-12-07 07:26] arjunumenon opened #2860 "New command: List the chat conversations from a Microsoft Teams chat"
### Usage

m365 teams chat message list [options]

### Description

List the conversations from a particular chat (1 on 1 chat OR Group chat OR Meeting Chats etc) in Microsoft Teams

### Options

Option | Description
-- | --
`-i, --chatId<chatId>` | The chat ID / Conversation ID of the Microsoft Teams Chat.

### Additional Info

We hay have to use the Graph API end point - `v1.0/chats/Conversation

[2021-12-07 07:28] arjunumenon commented on #2860
Hello @pnp/cli-for-microsoft-365-maintainers  - Can you have a look into the specs and let me know if any modification is needed for the same.

[2021-12-07 19:05] waldekmastykarz opened #2861 "Bug report: spo site ensure fails with non-existent site"
### Description

When you specify a URL of a non-existent site in the `spo site ensure` command, it fails with the '404 FILE NOT FOUND' error.

### Steps to reproduce

`m365 spo site ensure --url https://contoso.sharepoint.com/sites/team1 --alias team1 --title "Team 1"`

### Expected results

If the site doesn't exist, it should be created, if it exists, it should be updated.

### Actual results

[2021-12-08 06:34] suren-ms commented on #2120
Iam facing this issue now cant upload app to appcatalog.
m365 spo app add -p $(sppkg file) --overwrite --scope sitecollection --appCatalogUrl $(site url)

sppkg file is 11mb
m365 cli v4.2.0
node v16.3.0
should i raise as new issue?

[2021-12-08 11:41] arjunumenon opened #2862 "Bug report: Docs: Wrong PowerShell script file mentioned in Command Completion Docs"
### Description

Name of the PowerShell file is mentioned wrongly in the **Disable PowerShell completion** section [here](https://pnp.github.io/cli-microsoft365/concepts/completion/#disable-powershell-completion).

File name is mentioned as `Register-O365CLICompletion.ps1` currently. While it is supposed to be **`Register-CLIM365Completion.ps1`**
![image](https://user-images.githubusercontent.com/

[2021-12-08 11:42] arjunumenon commented on #2862
Assigning the issue to myself

[2021-12-08 13:54] waldekmastykarz commented on #2860
Thanks for the spec @arjunumenon, here's some feedback.

The `v1.0/chats/ConversationID/messages` API would be suitable for a `teams chat message list` command rather than a `get` as it returns all messages in the specified conversation. Let's double check the API that we want to use or adjust the command name.

This command is indeed related to Microsoft Teams so it would land under the `teams` g

[2021-12-08 13:55] waldekmastykarz commented on #2120
Please do @suren-ms. Sorry for the trouble and I appreciate you letting us know of the issue.

[2021-12-08 15:16] suren-ms opened #2863 "Adding a app to Sharepoint - Error: Request body larger than maxBodyLength limit"
I am using Azure Pipeline to upload the SharePoint application(.sppkg file) to app catalog and deploy it in the app catalog. It was working fine till the file size was within 10MB. now with  just 11MB app file, m365 cli fails with the below error:

m365 spo app add -p $(sppkg file) --overwrite --scope sitecollection --appCatalogUrl $(site url)
`Error: Request body larger than maxBodyLength limit`

[2021-12-09 07:54] waldekmastykarz commented on #2863
Thank you reporting the issue and sorry for the trouble. We'll investigate it asap.

[2021-12-09 08:01] waldekmastykarz commented on #2863
@suren-ms I wonder if this could be a limitation of the underlying SharePoint API that we're using to upload the file. Could you see if you can reproduce the issue by calling the REST API directly? https://docs.microsoft.com/en-us/sharepoint/dev/apis/alm-api-for-spfx-add-ins?tabs=sprest#add-solution-package

[2021-12-09 10:32] waldekmastykarz opened #2865 "Add support for upgrading SPFx projects to 1.14.0-beta.4"
Add support for upgrading SPFx projects to 1.14.0-beta.4

[2021-12-09 10:34] arjunumenon commented on #2860
Totally with you on that point. Thanks for pointing that out 👍.
My intention of the command was indeed to list the chat messages of the chat rather than getting particular chat. I had not realized `get`  chat do have a different meaning in the context. I will update command spec to be,
`m365 teams chat message list [options]`

Here is my thought - currently the commands which are there in the `Mic

[2021-12-09 10:41] waldekmastykarz commented on #2860
So the idea behind our naming convention is that the first segment of the command name indicates a workload. In this case it's Microsoft Teams as whole, not just a specific Teams team. As such, both commands that operate on teams, channels and conversations as teams that relate to the broader Teams workload fall under the `teams` namespace. Does that make sense?

[2021-12-09 10:59] arjunumenon commented on #2860
Yes it does. I perceived the naming convention in a different way, that the commands are related to Teams team alone.
Your explanation make sense. All good for now 👍.

[2021-12-09 14:55] vipulkelkar commented on #2581
The issue looks like a duplicate of #2836 ?

[2021-12-09 15:22] waldekmastykarz commented on #2863
@suren-ms if you can reproduce the issue by calling the raw APIs, then the next would be to create an issue at https://github.com/SharePoint/sp-dev-docs/issues with repro steps where it will be triaged by SharePoint engineering.

[2021-12-09 15:54] #2601 closed

[2021-12-09 15:54] #2865 closed

[2021-12-09 15:54] #2858 closed

[2021-12-09 15:54] #2862 closed

[2021-12-09 16:58] robertcaretta opened #2869 "Enhancement: Flow Exports"
### Description

Does the CLI command for flow exports deal with HttpClient timeouts, and also retry attempts?
https://pnp.github.io/cli-microsoft365/cmd/flow/flow-export/

Here is the related issue with the Export-PnPFlow command.
https://github.com/pnp/powershell/issues/1340

### Steps to reproduce

Not able to provide the steps to reproduce HttpClient timeout.

### Expected results

Ideally the

[2021-12-09 19:03] waldekmastykarz commented on #2581
Good catch @vipulkelkar. Closing this one.

[2021-12-09 19:03] #2581 closed

[2021-12-10 11:27] waldekmastykarz commented on #2869
PnP PowerShell is built on .NET while CLI for Microsoft 365 is built on Node.js, so there could be differences in how both tools respond to restrictions. The best way forward would be to verify how this command works and report issues with steps to reproduce, if any. If we can't reproduce this behavior at this time, I'd suggest that we close this issue.

[2021-12-10 14:21] robertcaretta commented on #2869
I wouldn't be able to reproduce conditions for HTTP timeouts. Was just curious if anyone knows if the CLI is designed to handle that. Feel free to close the ticket either way.

[2021-12-10 14:52] waldekmastykarz commented on #2869
I don't think we've done any specific work in this area, but we also didn't have any issues reported so far, so it could be either a case of good luck or everything that we have working just fine. Thanks for bringing it up and we'll definitely keep an eye out on it 👍

[2021-12-10 14:52] #2869 closed

[2021-12-12 11:43] waldekmastykarz opened #2870 "Enhancement: don't require to reset CLI config to run tests"
Currently, if you configure CLI using the `cli config` command, it interferes with tests and causes them to break. We should see what we can do to prevent this from happening so that our contributors don't need to reset their settings each time they want to run tests.

[2021-12-12 14:51] Jwaegebaert commented on #2255
@waldekmastykarz I would love to take a crack at this one.

[2021-12-13 19:15] appieschot opened #2872 "Enhancements: m365 pa app list"
Enhance the `m365 pa app list` command with a option to specify the environment using following option:

`-e, --environment [environment]`

Implement in code using the following statement in the get request:

`https://{powerAppsEndpoint}/providers/Microsoft.PowerApps/scopes/admin/environments/{environment}/)'`

Enhance the `m365 pa app list` command with a option to retrieve data as admin :

`--as

[2021-12-13 20:54] appieschot commented on #2872
@pnp/cli-for-microsoft-365-maintainers if would implement the same logic for as we did for Flow we would have to make the environment property required. However that would introduce a breaking change. I opt for implementing it as an optional parameter to keep current scripts and scenario's in place, and as part of our efforts for V4/V5 we could introduce a single `m365 pp environment list` impleme

[2021-12-13 21:04] appieschot opened #2873 "Update NPM docs"
We should update our NPM docs where it states node 14: `To build and run this CLI locally, you will need node >= 14.0.0 installed.` We currently are on node 16 according to our build process
![image](https://user-images.githubusercontent.com/15227781/145888485-b2b062f9-d220-41b5-86fa-538247535426.png) (and this discussion: https://github.com/pnp/cli-microsoft365/discussions/2797)

Page can be foun

[2021-12-14 06:05] suren-ms commented on #2863
@waldekmastykarz  through the REST API we can upload and deploy the sppkg fille. so does this mean the issue is with m365 cli alone ?

[2021-12-14 08:04] waldekmastykarz commented on #2873
These docs are sourced from our readme file, where we have the same issue: https://github.com/pnp/cli-microsoft365/blob/fd397f55a5187c2611a7209f9f2ccf7950a9823b/README.md?plain=1#L182

[2021-12-14 08:28] appieschot commented on #2873
That I didn't know! Great good first issue to help us 💪

[2021-12-14 09:54] waldekmastykarz commented on #2863
Could you share the repro steps that you've used with us?

[2021-12-14 10:02] waldekmastykarz commented on #2872
What if we introduced the `pp environment list` command now, deprecate the `flow environment list` command and remove it in v6 (as v5 is just a few months away)?

[2021-12-14 10:03] waldekmastykarz commented on #2255
Awesome! All yours @Jwaegebaert! We appreciate your help! 👏

[2021-12-14 12:55] appieschot commented on #2872
Great idea, agree.

Not 100% sure if we can deprecate both (`flow` and `pa environment list`) it looks like there still is a `Get-PowerAppEnvironment` and `Get-FlowEnvironment` set of PS commands that look to act slightly different as they call different endpoints (not sure why)..

Agree

[2021-12-14 13:10] suren-ms commented on #2863
### Issue
Unable to upload SharePoint SPFx app (.sppkg) file to Site Collection App catalog for file size greater than 10MB using M365 CLI

### Environment
SharePoint Online

### Development model
SharePoint Framework (SPFx)

### Steps to reproduce
1. Create a SP Site Collection
2. Create App catalog within the Site collection (Refer: https://docs.microsoft.com/en-us/powershell/module/sharepoint-o

[2021-12-14 19:25] Jwaegebaert commented on #2255
I just created a pull request with the new command. Just for clarification. I intentionally didn't add the _--description_ parameter. Mainly because it is not used in the default Graph call either. [Create task docs](https://docs.microsoft.com/en-us/graph/api/planner-post-tasks?view=graph-rest-1.0&tabs=http). The description is added via the task details endpoint. [Update task details docs](https:

[2021-12-15 08:37] waldekmastykarz commented on #2255
The description is coming from [plannerTaskDetails](https://docs.microsoft.com/en-us/graph/api/resources/plannertaskdetails?view=graph-rest-1.0). Even if setting is might require a separate call, let's include it in the command to make it easier for folks to create tasks and not require running two separate commands. I'll mark the PR as draft for now, ok?

[2021-12-15 08:43] waldekmastykarz commented on #2863
@suren-ms thank you for the additional information. Could you share with us additional information about how you executed the raw REST call so that we can try it too and use for verifying our solution?

[2021-12-15 08:45] waldekmastykarz commented on #2872
That's odd. Ideally, we'd figure it out to avoid offering our users ambiguous choices. Can you see any differences in the data you retrieve from these different APIs?

[2021-12-15 12:27] Jwaegebaert commented on #2255
True. It will be more interesting indeed to provide it in one call. I will integrate this option.

[2021-12-15 14:03] #2652 closed

[2021-12-15 14:03] #2846 closed

[2021-12-15 14:03] #2873 closed

[2021-12-15 18:45] garrytrinder commented on #2678
Unassigning issue due to lack of response.

[2021-12-15 18:48] garrytrinder commented on #2642
Unassigning issue due to lack of response.

[2021-12-15 18:50] garrytrinder commented on #2635
Unassigning issue due to lack of response.

[2021-12-15 18:51] garrytrinder commented on #2283
Unassigning issue due to lack of response.

[2021-12-15 18:51] garrytrinder commented on #2021
Unassigning issue due to lack of response.

[2021-12-15 19:04] Jwaegebaert commented on #2255
@waldekmastykarz description has been added.

[2021-12-16 01:49] nanddeepn commented on #2678
If available, can I work on this?

[2021-12-16 08:44] waldekmastykarz commented on #2678
Please do @nanddeepn. We appreciate your help 👍

[2021-12-16 08:47] waldekmastykarz commented on #2255
Awesome! Thank you so much for such a quick turnaround @Jwaegebaert 👏

[2021-12-16 12:06] SekThang opened #2878 "New command: Create crawled properties for SharePoint online using CLI"
### Usage

m365 spo search add crawlproperty [options]

### Description

It helps to configure & mapping crawled properties for SPO Search eventually which would be used in query and the conditions.

### Options

Option | Description
-- | --
`-i, --name <Name>` | The name of the crawled property

### Additional Info

[2021-12-16 12:19] suren-ms commented on #2863
We used Postman with following details for uploading the file using REST API method:

var settings = {
"url": "<site_collection_url>/_api/web/sitecollectionappcatalog/Add(overwrite=true, url='appfile.sppkg')",
"method": "POST",
"timeout": 0,
"headers": {
"Authorization": "Bearer <access_token>",
"Accept": "application/json;odata=verbose",
"Content-Type": "application/json;odata=nometadata;charset=

[2021-12-16 12:45] waldekmastykarz commented on #2878
Thanks for the suggestion, @SekThang. Do you have any more information about the underlying API to use for this command to complete the spec?

For the name, we should put the `add` verb at the end to match our naming convention, like `spo search crawledproperty add`. For the options, we should align the short name with the long name, so rather than having `-i, --name`, we should use `-n, --name`.

[2021-12-16 12:46] waldekmastykarz commented on #2863
Thank you! Let's see if we can reproduce the issue and we'll take it from there

[2021-12-16 13:08] waldekmastykarz commented on #2863
I can reproduce the issue and will look for a possible solution

[2021-12-16 15:24] #2863 closed

[2021-12-16 15:25] waldekmastykarz commented on #2863
We've just merged a fix for this issue. It would be awesome if you could try it by installing the latest preview version using `npm i -g @pnp/cli-microsoft365@next`. Once again, thank you for reporting the issue and your help.

[2021-12-16 19:32] Adam-it opened #2882 "🧑‍💻New command: spo site recyclebinitem restore"
### Usage

m365 spo site recyclebinitem restore

### Description

Restores given items from the site recycle bin

### Options

Option | Description
-- | --
`-u, --url <url>` | URL of the site where the lists to retrieve are located
`-i, --id <id>` | List of ids of items which will be restored from the site recycle bin

### Additional Info

I was thinking we could use the this api endpoint in m365

[2021-12-17 11:01] garrytrinder commented on #2882
Great suggestion @Adam-it 👏

Regarding the endpoint you have suggested, this makes sense from a performance point of view as it enables bulk the build restore of items.

One suggestion would be to use the singular naming convention, i.e. `-i, --id <id>` rather than the plural naming, and we  should update the description to show that we do accept multiple IDs and I'm making the assumption here tha

[2021-12-17 14:07] waldekmastykarz commented on #2882
Great spec @Adam-it and good suggestions @garrytrinder. Nothing more to add on top of what @garrytrinder said already.

[2021-12-17 15:09] waldekmastykarz commented on #2841
Command is code-complete and I'm working on tests

[2021-12-17 15:14] Jwaegebaert commented on #2824
@waldekmastykarz if possible then I would like to take a crack at this one too

[2021-12-17 18:18] Adam-it commented on #2882
Sure,
@garrytrinder  and @waldekmastykarz thanks a lot for the comments. I will update the description 👍

[2021-12-17 22:15] garrytrinder commented on #2824
All yours @Jwaegebaert thank you for your help 👏

[2021-12-18 14:37] SekThang commented on #2878
Sure @waldekmastykarz I will check about API and other specifications.👍

Could you please give me some time?

[2021-12-18 16:12] Jwaegebaert commented on #2824
A question about the option bucketName.

If we allow this option then we would also need to add the following options.

`--planId [planId]`
Plan ID to which the task belongs. Specify either `planId` or `planName` but not both.

`--planName [planName]`
Plan Name to which the task belongs. Specify either `planId` or `planName` but not both.

`--ownerGroupId [ownerGroupId]`
ID of the group to which t

[2021-12-18 19:37] Adam-it commented on #2882
ok I updated a bit the description to what was suggested 👍

I just read this last sentence. Thanks 🙂.
Ok I think the description is more or less ready.. so I suppose we may start coding the command 🤔

[2021-12-18 20:02] garrytrinder commented on #2882
Thanks @Adam-it 👍🏻

[2021-12-20 15:54] arjunumenon opened #2885 "Bug report: Docs | Invalid icon for twitter in the Footer of the CLI Docs"
### Description

The icon provided is wrong for Github in the CLI Docs. It is taking us to the Twitter handle. We need to have a twitter icon added and modify the current Github icon URL

### Steps to reproduce

- Open [CLI Docs](https://pnp.github.io/cli-microsoft365/)
- Check the Footer Navigation
- Click GitHub icon
- Twitter handle of PnP is opened

### Expected results

[GitHub repo](https://

[2021-12-20 15:57] arjunumenon commented on #2885
@pnp/cli-for-microsoft-365-maintainers  - I am assuming we can update the link in the Footer to be pointed to CLI GitHub Repo. Can you let me know on that please.

[2021-12-21 07:58] appieschot commented on #2885
@arjunumenon while checking where it was going wrong I figured I could quickly fix it as well; added the correct Twitter icon and added a github URL so we now have both.

[2021-12-21 11:53] waldekmastykarz commented on #2824
Good catch @Jwaegebaert. Let's include them in the spec 👍

[2021-12-21 11:54] waldekmastykarz commented on #2878
Of course! Thank you!

[2021-12-21 13:50] waldekmastykarz opened #2888 "Add docs explaining app commands in CLI for Microsoft 365"
Now that we've added the first app command in CLI for M365, we should add docs that explain the idea behind this (and future) command. After we added this page, we should include it as an additional resource in all `app` commands.

[2021-12-21 13:58] #2872 closed

[2021-12-21 13:58] #2836 closed

[2021-12-21 13:58] #2841 closed

[2021-12-21 13:58] #2885 closed

[2021-12-21 18:31] pkskelly opened #2889 "New command: 'aad oauth2grant scope add' to appending scope to existing OAuth2 grants"
### Usage

m365 aad oauth2grant scope add [options]

### Description

Add scope to existing OAuth2 permission grant

### Options

Option | Description
-- | --
`-g, --grantId <grantId>` | The Id of the grant to append the new scope to
`-s, --scopes <scopes>` | Space separated list of scopes to add to the existing grant.

Example:

[code]

### Additional Info

This enhancement is based on attempting

[2021-12-22 09:04] waldekmastykarz commented on #2889
Thank you for the suggestion @pkskelly! I just checked what we've already got and notice we have https://pnp.github.io/cli-microsoft365/cmd/aad/oauth2grant/oauth2grant-add/. Would this be sufficient for your scenario or would you see us extend it to be more suitable for your needs?

[2021-12-22 09:11] waldekmastykarz opened #2890 "New command: app permission add"
### Usage

m365 app permission add [options]

### Description

Adds the specified application and/or delegated permissions to the current AAD app API permissions

### Options

Option | Description
-- | --
`--appId [appId]` | Client ID of the Azure AD app registered in the .m365rc.json file to retrieve API permissions for
`--applicationPermission [applicationPermission]` | Space-separated list of a

[2021-12-22 09:16] waldekmastykarz commented on #2890
@pnp/cli-for-microsoft-365-maintainers shall we consider defaulting non-qualified scopes/roles to Microsoft Graph scopes? Thinking about the typical scenarios of devs copying the necessary scopes from Graph docs or Graph Explorer, it would be confusing if they got an error. Since the context of this command is Microsoft 365 apps, I think it would be fair to assume that in most cases API permission

[2021-12-22 09:33] martinlingstuyl commented on #2860
Hi guys,
I'll see if I can pick this up the coming days. It would be my first contribution, so I'll need time to look into the setup.

[2021-12-22 09:36] appieschot commented on #2860
Woohoo, awesome! Let us know if you need anything and happy hacking 🔥

[2021-12-22 09:37] appieschot commented on #2890
Agree with that, makes sense!

[2021-12-22 09:38] waldekmastykarz commented on #2827
Looking at the capability of the `engines` property, it doesn't seem to be doing what we need:

So it's only for dependencies and it only shows a warning. We could implement it in custom code but I wonder if it makes sense. Any opinions @pnp/cli-for-microsoft-365-maintainers?

[2021-12-22 09:39] waldekmastykarz commented on #2860
Awesome! We appreciate your help and please let us know if you need any help.

[2021-12-22 10:29] waldekmastykarz commented on #2890
Duplicate of #2813

[2021-12-22 10:29] #2890 closed

[2021-12-22 10:31] waldekmastykarz commented on #2813
Thinking of it, what if we updated the spec to what's below? I think this way it would be more convenient to use.

### Usage

m365 app permission add [options]

### Description

Adds the specified application and/or delegated permissions to the current AAD app API permissions

### Options

Option | Description
-- | --
`--appId [appId]` | Client ID of the Azure AD app registered in the .m365rc.json

[2021-12-22 10:32] waldekmastykarz commented on #2795
Closing due to lack of further discussion

[2021-12-22 10:32] #2795 closed

[2021-12-22 10:57] martinlingstuyl commented on #2860
OK, just one question: would it be beneficial to also add `$top` as optional argument?
https://docs.microsoft.com/en-us/graph/api/chat-list-messages?view=graph-rest-1.0&tabs=http#optional-query-parameters

For example named `pageSize` (or just `top`)

[2021-12-22 11:12] appieschot commented on #2860
@martinlingstuyl we do not have a `top` or `pageSize` parameter anywhere; the CLI assumes you want to retrieve all data and you can use the `query` parameter to filter the locally if you want. Lets stay consistent and not implement this for now.

[2021-12-22 13:47] martinlingstuyl opened #2893 "New command: List the Microsoft Teams chat conversations for the current user"
### Usage

m365 teams chat list [options]

### Description

List the chat conversations (1 on 1 chat OR Group chat OR Meeting Chats etc) in Microsoft Teams

### Options
Option | Description
-- | --
`-t`, `--type [chatType]` | The type of chat conversation (Allows values `oneOnOne`, `group` or `meeting`)

### Additional Info

We will have to use the Graph API end point - v1.0/chats/ as per [this do

[2021-12-22 13:49] martinlingstuyl commented on #2860
👆 I may be able to pick up some more issues. It bugs me that `teams chat list` is not available.

[2021-12-22 15:24] suren-ms commented on #2863
@waldekmastykarz thank you it's working.I tried on my PC. ill try it out in the azure pipeline too.

[2021-12-22 18:08] waldekmastykarz commented on #2863
Awesome! I appreciate you confirming that all is working as intended.

[2021-12-22 18:10] waldekmastykarz commented on #2860
Take as many as you'd like! We appreciate your help 👏

[2021-12-22 20:33] martinlingstuyl commented on #2860
You have to forge the iron while it's hot 🐱‍🏍

...plus you have a fantastic getting started guide, and I could copy paste a lot. (Of course I changed and checked if it worked as well)

[2021-12-22 21:14] martinlingstuyl commented on #2893
I'm a bit fast, maybe too fast. But well...🐱‍🏍🐱‍🏍

[2021-12-23 08:40] martinlingstuyl opened #2896 "New command: List the members of a Microsoft Teams chat conversation for the current user"
### Usage

m365 teams chat member list [options]

### Description

List the members of a chat conversation

### Options

Option | Description
-- | --
`-i`, `--chatId <chatId>` | The chat ID / Conversation ID of the Microsoft Teams Chat.

### Additional Info

We can use the Graph API end point - v1.0/chats/chatId/members as per [this documentation](https://docs.microsoft.com/en-us/graph/api/chat-li

[2021-12-23 08:41] martinlingstuyl commented on #2896
I'm open to adding this command.

[2021-12-23 14:08] appieschot commented on #2896
All yours!

[2021-12-24 10:30] waldekmastykarz commented on #2696
To better understand the impact of prefixing all options with the command noun, let's have a look at some of the examples from our docs:

[code]

[code]

[code]

[code]

[code]

[code]

Looking at these examples I'm seeing two things:
- examples and help would be harder to read because all (or at least most) options start with the same prefix. This makes it harder to scan the help to find the opti

[2021-12-24 11:12] waldekmastykarz commented on #2896
Hey @martinlingstuyl, it seems like the API requires us to provide a chat ID. Shouldn't it be included in the list of options for this command?

[2021-12-24 11:15] waldekmastykarz commented on #2893
If this command is meant to list group or meeting chats, shouldn't it expose options to specify group or meeting for which to retrieve chats?

[2021-12-24 11:15] waldekmastykarz commented on #2860
Thank you for the kind words! Awesome to hear that you could get started so quickly.

[2021-12-24 11:18] martinlingstuyl commented on #2896
Ah, my bad, that's me copy pasting my own previous issue and not checking. The command in question includes the chatId option. I'll edit the issue description immediately.

[2021-12-24 11:29] waldekmastykarz commented on #2896
Awesome! Thank you! Let's update the spec so that it reflects what we intend to build. One of the steps of PR review is verifying that the command matches the spec so having them in sync will help us avoid a back and forth during the review.

[2021-12-24 11:30] martinlingstuyl commented on #2893
Well, meeting and group chat in my understanding always have a single chat conversation. For example: if I create a new group chat and target the same group of people, it will just resolve to the existing chat conversation. So adding a `groupId` or `meetingId` option would always return a single result. Which is not very logical for a `list` command.
Maybe such an option would fit better in a (to

[2021-12-24 11:31] martinlingstuyl commented on #2860
'Remote container: clone in unique volume' --> no fuss 😎

[2021-12-24 11:33] martinlingstuyl commented on #2896
Just to be sure: when you're using of the word 'spec' here, you mean the issue I just updated, right? If I need to change anything else, please let me know.

[2021-12-24 11:35] waldekmastykarz commented on #2893
That's a very good point! In that case:
- let's adjust this command's description so that it mentions only user's chats
- let's include group and meeting chats in a `get` command. Next to `groupId`, let's also include group's name and email to not require users to lookup the ID first if they don't have it already, but they can specify a piece of information that they could know

[2021-12-24 11:36] waldekmastykarz commented on #2896
Correct: spec = above description. In the spec, let's also indicate for each option if it's required (eg. `<chatId>`) or optional (eg. `[chatId]`).

[2021-12-24 11:37] waldekmastykarz commented on #2860
Have you by any chance written about the steps you took to contribute? I think it would be invaluable for new contributors 👏

[2021-12-24 11:40] martinlingstuyl commented on #2896
ah, great point, the `<chatId>` was there, but it was 'removed' by the Markdown interpretation.

[2021-12-24 11:41] martinlingstuyl commented on #2860
I haven't yet. But good I idea, I could write a short blog about it for my website https://www.blimped.nl

[2021-12-24 11:44] martinlingstuyl commented on #2893
Ok, I'll create a new command issue for the `chat get` command.

About your first point: If I adapt the description it will not match the functionality anymore. The command implements the `/chats` endpoint, which returns *all* chat conversations by default (oneOnOne, Group or Meeting)
which is why I would think an optional `--chatType` option would be a nice addition that would also bring extra cl

[2021-12-24 11:44] martinlingstuyl commented on #2893
Also: If I would let the command ONLY retrieve oneOnOne chats, it would be hard to get the chatId's of meeting or group chats to use in the `chat get` command.

[2021-12-24 11:47] garrytrinder commented on #2813
Looks good, I vote for the change in spec 👍🏻

[2021-12-24 11:48] martinlingstuyl opened #2899 "New command: Get a Microsoft Teams chat conversation for the current user"
### Usage

m365 teams chat get [options]

### Description

Get the metadata of a specific chat conversation

### Options

Option | Description
-- | --
`-i, --id [id]` | The Id of the Chat conversation. Specify either `id` or `participants` or `name`.
`-p, --participants [participants]` | One or more emailaddresses to get the chat message by members. Specify either `id` or `participants` or `name`.

[2021-12-24 11:52] garrytrinder commented on #2827
I'm not sure if it would be worth the overhead of adding in the check.

IIRC as long as you are using `node@8` or higher, the CLI works, this is also communicated in the readme in the install section.

[2021-12-24 11:56] garrytrinder commented on #2696
I'm happy with the proposal 👍🏻

Great work @waldekmastykarz to provide the detail and clarity 👏

[2021-12-24 12:50] waldekmastykarz commented on #2827
Since we're not testing on Node versions older than 12, we should update our docs. Still, we can stick with mentioning it in our docs for now.

[2021-12-24 12:50] #2827 closed

[2021-12-24 12:51] waldekmastykarz commented on #2696
Thank you @garrytrinder for bringing up other ideas and constructive discussion on the possible directions 👏

[2021-12-24 12:53] waldekmastykarz commented on #2899
Thank you for the spec @martinlingstuyl. Should we also expose the ability to get the default chat for a group or a meeting?

[2021-12-24 12:56] waldekmastykarz commented on #2893
Ah, sorry. I misunderstood it. Thank you for clarifying. If `/chats` returns all chats, then it would be good to include the type of the chat in the results so that they can be filtered using tools like `jq`. For the ease of use, we could also include `type` to let users filter the type of chats to return, like you suggested.

[2021-12-24 12:56] waldekmastykarz commented on #2860
Awesome! I'd be happy to help share it with others in our community 😊

[2021-12-24 12:57] martinlingstuyl commented on #2899
Something like this? 👆
You need at least one of the properties.

[2021-12-24 12:58] martinlingstuyl commented on #2893
I'll rename `chatType` to `type` in the specs. And I'll add the parameter as soon as I can.

[2021-12-24 14:02] martinlingstuyl commented on #2899
Wait, I updated the options list. We were confusing ourselves between chat groups and o365 groups 🤦‍♂️
you can only get by topic. That would be the meeting name or the groupchat name (if added)

[2021-12-24 14:23] pkskelly commented on #2889
@waldekmastykarz Let me take a look.  For some reason I thought I tried this without success.   I will try this again and provide an update.   Thanks for checking.

[2021-12-24 18:08] pkskelly commented on #2889
Here are some details of my research and findings.

First, I re-consented the PnP Office 365 Management Shell app permissions using ```https://login.microsoftonline.com/common/oauth2/authorize?client_id=<clientId>&response_type=code&prompt=admin_consent``` for the client_id of the PnP Office 365 Management Shell Enterprise app in my tenant.

- The above removed the AuditLog.Read.All permission sco

[2021-12-26 04:45] plamber commented on #2696
Hi @waldekmastykarz ,
I am fine with your proposal.

I had some more thoughts about the impact of such a change and thought that it might be a good idea to introduce "alias" capabilities for parameters as we do with commands. By doing this we are not breaking any scripts after an upgrade.

In the documentation, I would not list all aliases, but just keep the "latest" version of the command.

Cheer

[2021-12-26 04:59] plamber opened #2901 "Configure the CSV output with the m365 cli config set"
### Usage

m365 cli config set --key seeBelow --value seeBelow

### Description

Keep the original text

### Options

Setting name|Definition|Default value
-- | -- | --
`csvHeader` | Display the column names on the first line | true
`csvEscape` | Single character used for escaping; only apply to characters matching the quote and the escape options | "
`csvQuote` | The quote characters surrounding

[2021-12-26 05:44] plamber commented on #2436
*Group*
- [ ] o365group-get
- [ ] o365group-list
- [ ] o365group-set

*DirectoryObject*
- [ ] o365group-recyclebinitem-clear
- [ ] o365group-recyclebinitem-list
- [ ] o365group-recyclebinitem-set

*User*
- [ ] o365group-user-list
- [ ] o365group-user-set
- [ ] user-list

[2021-12-28 10:30] waldekmastykarz commented on #2893
Looking at the values for the `type` option, let's use consistent casing so `oneOnOne`, `group` and `meeting`

[2021-12-28 10:31] waldekmastykarz commented on #2899
Is it required to specify either `chatId` or `name`? If so, let's clarify it in the spec and later in command's help

[2021-12-28 10:36] waldekmastykarz commented on #2889
Thank you for the additional information @pkskelly. Like you mentioned, it would make the most sense to extend the existing `aad oauth2grant add` command to be able not only to add a new grant but also a new scope to an existing grant. One thing that we should consider is if the command's intent would be obvious: the command is named `oauth2grant add` which means _add an OAuth2 grant_ rather than

[2021-12-28 10:51] waldekmastykarz commented on #2696
I think having both old and new option names would significantly complicate our code. Since options are validated, we'd either need to duplicate validation rules or we'd need to extend the CLI so that values passed through aliased options are mapped to the non-aliases equivalents before reaching validation. In both cases, we'd need tests to verify that all code paths work as intended. All of this

[2021-12-28 10:52] waldekmastykarz commented on #2901
Great suggestion @plamber 👏

[2021-12-28 10:53] waldekmastykarz commented on #2436
I moved the list of commands to the issue for readability

[2021-12-28 18:53] #2255 closed

[2021-12-28 18:53] #2861 closed

[2021-12-28 18:53] #2870 closed

[2021-12-28 19:09] #2855 closed

[2021-12-28 19:23] waldekmastykarz opened #2903 "Introduce markdown output for documentation purposes"
### Discussed in https://github.com/pnp/cli-microsoft365/discussions/2851

<div type='discussions-op-text'>

<sup>Originally posted by **waldekmastykarz** November 26, 2021</sup>
What do you think if we introduced in the CLI markdown output? It could be useful for generating documentation for the current configuration.

This idea is based on this thread on twitter: https://twitter.com/wictor/statu

[2021-12-28 19:24] waldekmastykarz opened #2904 "Centralize disambiguation code"
### Discussed in https://github.com/pnp/cli-microsoft365/discussions/2883

<div type='discussions-op-text'>

<sup>Originally posted by **waldekmastykarz** December 17, 2021</sup>
In several `get` commands that support retrieving items by titles, we have logic that prompts the user to disambiguate which item to return when multiple items with the specified title are found. As we strive to implement

[2021-12-28 21:48] martinlingstuyl commented on #2899
That is indeed the idea. Do you have an example of how you would document mutually exclusive arguments like this?

[2021-12-28 21:49] martinlingstuyl commented on #2893
Updated!

[2021-12-28 22:32] pkskelly commented on #2889
Good point on considering the commands intent @waldekmastykarz.  I agree, clarifying to ```oauth2grant add scope``` makes the intent much more obvious and makes more sense from a command perspective.  While this does deepen the command hierarchy, the granular use of a ```scope``` qualifier does have the added benefit of explicitly enabling an admin to increase scopes (and decrease scopes if ```oau

[2021-12-29 15:58] danwatford opened #2906 "Bug report: Cannot create a new SharePoint list using example command with schemaXml option"
### Description

Attempts to create a new list on an existing SharePoint online team site fails with 'Error: Invalid list template.'

Unfortunately there is no information provided in the error response from SharePoint to help determine the issue with the schemaXml.

The same issue occurs if using the schemaXml example from the documentation page, https://pnp.github.io/cli-microsoft365/cmd/spo/lis

[2021-12-29 17:17] subhasishmukhopadhyay2018 opened #2907 "Bug report: SPFx webpart with graph api and aadhttpclient flickers in mobile browser"
### Description

We have a custom spfx webpart that uses graph api and also uses aadhttpclient to connect azure function securely.
Solution works well as expected from all browsers in laptops/desktops but the pages hosting the webparts flicker twice while being accessed from mobile (iPhone/android) phone.
The issue in mobile browser happens only once after authentication and then works as normal.

[2021-12-29 18:37] waldekmastykarz commented on #2907
Hey @subhasishmukhopadhyay2018, how is this issue related to CLI for Microsoft 365? If it's an SPFx issue, then I'd suggest that you submit your issue to https://github.com/sharepoint/sp-dev-docs instead.

[2021-12-29 18:38] waldekmastykarz commented on #2906
Hey @danwatford, sorry for the trouble and thank you for taking the time to submit the issue. Let us have a look at it and get back to you as soon as we know more.

[2021-12-29 18:43] waldekmastykarz commented on #2889
Thank you for sharing your perspective @pkskelly. I think we'll go with it indeed. I'll create two new specs for the commands you mentioned and we'll then close this issue in favor of the new commands, ok?

[2021-12-29 18:45] waldekmastykarz commented on #2899
Take a look at https://github.com/pnp/cli-microsoft365/blob/main/docs/docs/cmd/aad/app/app-get.md for example and the appId, objectId and name options.

[2021-12-29 19:59] martinlingstuyl commented on #2899
Ok, awesome, updated the spec!

[2021-12-29 22:22] danwatford commented on #2906
I tried using the same schemaXml to create a SP list with pnpjs (code below).
A similar error suggesting there was an error with the list template was given: Invalid list template.

I expect the problem is really down to the content of the schema, but I haven't been successful in constructing any list schemas of my own so was hoping the example would have been a good starting point.

[code]

[2021-12-30 08:22] vipulkelkar commented on #2901
Happy to try and work on this one.

[2021-12-30 11:23] danwatford commented on #2906
One area to look at might be how double-quotes in the schema xml are being escaped for inclusion in the JSON body of the request sent to spo.

From the output of --debug, notice that only the first double-quote in xmlns:ows=\"Microsoft SharePoint" is escaped.

[code]

[2021-12-30 11:35] danwatford commented on #2906
Actually, ignore my previous comment, some backslashes were getting dropped in rendering my first post to this issue. Now fixed.

Instead it looks like the first double-quote in the schema xml is getting double escaped (note the 3 backslashes after xmlns:ows):

`"SchemaXml": "<List xmlns:ows=\\\"Microsoft SharePoint\" Title=\"List1\" `

[2021-12-30 18:35] waldekmastykarz opened #2908 "Introduce markdown output for documentation purposes"
### Discussed in https://github.com/pnp/cli-microsoft365/discussions/2851

<div type='discussions-op-text'>

<sup>Originally posted by **waldekmastykarz** November 26, 2021</sup>
What do you think if we introduced in the CLI markdown output? It could be useful for generating documentation for the current configuration.

This idea is based on this thread on twitter: https://twitter.com/wictor/statu

[2021-12-30 18:36] waldekmastykarz commented on #2908
@pnp/cli-for-microsoft-365-maintainers I'd appreciate your feedback.

[2021-12-30 18:38] waldekmastykarz commented on #2906
@danwatford thank you for the additional information and also comparing the functionality with PnPjs. If you have a List Schema that works with the RAW rest API or any other method (PnPjs, PnP PowerShell, CSOM) then it would be a great starting point for us to check if everything's working as intended.

[2021-12-30 18:53] waldekmastykarz commented on #2906
FWIW, I can reproduce the issue you mentioned using the sample from our docs. I also tried to use a different list schema and it's failing with the same error as well. If we can reproduce the issue with schemas that we're pretty sure used to work in the past, then it could indicate that something's changed in the SharePoint API that we're using.

[2021-12-30 18:53] waldekmastykarz commented on #2901
That's a very good catch @vipulkelkar! Definitely, let's fix it indeed.

[2021-12-30 18:57] danwatford commented on #2906
Hi @waldekmastykarz , unfortunately I haven't been able to get any schemaXml content working for list creation. I haven't got as far as using the raw rest-api yet.

[2021-12-30 19:01] danwatford commented on #2906
@waldekmastykarz , that's good news.

I did see something in how the schemaXml command line was being processed before making REST request to SPO:

[code]

In the calls to the replace methods, only the first occurrence of the pattern will be replaced, hence the differences in escaping of the double quotes in my earlier comments.

To replace all occurrences we need to use regular expressions:

`rep

[2021-12-31 09:02] vipulkelkar commented on #2901
sure, please assign this to me.

[2021-12-31 10:44] nanddeepn commented on #2831
Hi @arjunumenon, @waldekmastykarz
I will resume this issue, as #2855 is complete.

[2021-12-31 11:30] waldekmastykarz commented on #2831
Excellent! Thank you!

[2021-12-31 11:30] waldekmastykarz commented on #2901
Awesome! Thank you! 👏

[2021-12-31 11:33] waldekmastykarz commented on #2906
Thank you for the extra information @danwatford. It could be indeed the case that our replacement logic is faulty. If I recall correctly, this used to work as intended and I even used it in the past myself, but it could be that something has changed. Let's try to find a working list schema first, so that we have a reliable sample to test the API and then the CLI with.

[2021-12-31 13:01] waldekmastykarz commented on #2436
Looking at the project, there are other custom types beyond just Group and User that we've added so let's complete the list of affected commands. #2902 only completes this issue partially.

[2021-12-31 13:07] #2678 closed

[2021-12-31 14:24] arjunumenon commented on #2908
I think it covers everything and approach seems to be perfect. Loved the approach of giving the ID in brackets to distinguish items with duplicate Title. 🔥

Just have one question though. Might be trivial.
Would we be restricting the .md output selection  it only to `get` and `list` type?

[2021-12-31 22:49] garrytrinder opened #2910 "New command: Retrieve the Azure AD user sign-ins for your tenant"
### Usage

`aad user signin list`

### Description

`Retrieves the Azure AD user sign-ins for your tenant`

### Options

Option | Description
-- | --
`--userId [userId]` | Filter the user sign ins by the given user id. Specify either `userName` or `userId`
`-n, --userName [userName]` | Filter the user sign ins by the given user name. Specify either `userName` or `userId`
`--appDisplayName [appDisp

[2022-01-01 09:42] waldekmastykarz commented on #2908
No, it's another output type that can be used with any command. I mentioned `get` and `list` because these are two distinct command types: the first returning a single item and the latter multiple. Other commands typically return a single item so they could use the same format as `get`.

[2022-01-01 09:45] waldekmastykarz commented on #2910
Good idea! For the command name:
- shall we consider singular for consistency, eg. `aad signin list`?
- shall we group it under `user`, eg. `aad user signin list`?

Shall we also add support for filtering by user (userPrincipalName) and appId?

[2022-01-02 21:48] #2664 closed

[2022-01-03 08:06] garrytrinder commented on #2910
I think that is a good idea, the API documentation states `Retrieve the Azure AD user sign-ins for your tenant. Sign-ins that are interactive in nature (where a username/password is passed as part of auth token) and successful federated sign-ins are currently included in the sign-in logs.`, so making another command grouping is unnecessary.

Absolutely, good catch :+1:

I've updated the spec accor

[2022-01-04 10:02] martinlingstuyl commented on #2860
Ok, point for discussion! I'm seeing system chat messages in the list. They look like this: `<systemEventMessage/>` and have a `eventDetail.@odata.type` property, like `#microsoft.graph.chatRenamedEventMessageDetail`. In this case it concerns the message:
![image](https://user-images.githubusercontent.com/5267487/148042206-27bd60eb-b22a-47b2-835c-444d40409642.png)

But this might include any type

[2022-01-04 10:21] appieschot commented on #2860
For me it makes sense to to include those by default (as that is what the API is returning and it might have value if you want to retrieve all messages). But an optional flag to exclude any systemEvent from the response (` "messageType": "systemEventMessage",` according to the docs would make sense as well `--excludeSystemEvents` perhaps?

[2022-01-04 11:51] arjunumenon commented on #2860
I am also in an opinion to have the complete result retrieved along with `systemEventMessage`.
Even if we want to, If I am not mistaken, I don't think the endpoint supports filter so that we can retrieve the results without `systemEventMessage` in the results.

That being the case, we may have to filter after getting the results in our command code.
Even if the user wants the result without `syste

[2022-01-04 12:37] robdy opened #2913 "Bug report: Docs paths in Adding a command wiki article are incorrect"
### Description

Seems like the `docs` folder has been moved from `./docs/manual/docs` to `./docs/docs` but the wiki paths were not updated.

#### Command files paragraph

In [Command files paragraph](https://github.com/pnp/cli-microsoft365/wiki/Adding-a-command#command-files):

Should be:

And later in the same paragraph:

Should be:

#### Add the command manual page paragraph

In [Add the comman

[2022-01-04 13:04] arjunumenon commented on #2913
Good catch @robdy and thanks for taking time in reporting the issue ❤.

Like you rightly said, editing the Wiki pages could only be directly done from the repo and not via PR.
So can do that from our end 👍. Thanks for bringing that to our notice.

[2022-01-04 13:21] arjunumenon commented on #2913
Completed the changes in the docs. Closing the issue.
Thanks once again for reporting @robdy 👏

[2022-01-04 13:21] #2913 closed

[2022-01-04 15:28] martinlingstuyl commented on #2860
I'll check if I can `$filter` serverside

[2022-01-04 15:36] martinlingstuyl commented on #2860
You where correct @arjunumenon : no `$filter` option on this endpoint as of yet

[2022-01-04 18:49] appieschot commented on #2860
Let us keep it then; we can always write a nice sample with a JMESPath query to exclude all those sytemEvents.

[2022-01-05 09:10] martinlingstuyl opened #2916 "New command: Send a Microsoft Teams chat message"
### Usage

m365 teams chat message send [options]

### Description

Send a Microsoft Teams chat message to a person or group or meeting chat

### Options

Option | Description
-- | --
`--chatId [chatId]` | The Id of the Chat conversation. Specify either `chatId` or `userEmails` or `chatName`.
`-e, --userEmails [userEmails]` | One or more emailaddresses to send the chat message to. Specify either `

[2022-01-05 12:41] waldekmastykarz commented on #2916
Thank you for the feature suggestion @martinlingstuyl. A few considerations before we continue:

- to clarify the command's intent, I'd suggest naming it `teams chat message send`, as we're sending a message rather than a chat
- following the naming convention for options, assuming the name I suggested, we'd have: `chatId`, `userEmail` and `chatName`

What makes you doubt it?

What if you send mul

[2022-01-05 13:02] martinlingstuyl commented on #2916
I updated the small changes.

### Regarding the point of discussion
- It feels like wrong/misusing the `Create` endpoint if we use it to *Ensure* a conversation. Obviously we're using a `POST` verb and get a `201 Created` response. Instead being able to use the `PATCH` verb.
- I tested it using Graph Explorer. It only works correctly for `oneOnOne` conversations. When creating `group` chats, it wi

[2022-01-05 19:52] robdy commented on #2916
What if there are two chats with the same topic? I think it should return an error.

Proof from Graph Explorer that it's possible:

![image](https://user-images.githubusercontent.com/15113729/148279863-42a6246d-9ac8-461e-9eaf-0a6e3423f9c2.png)

That might be considered an edge case, but I think it should be considered. Business case: an important meeting is organized and in the same time a group c

[2022-01-06 09:54] martinlingstuyl commented on #2916
Good point, we have a few options:

1. throw an error and do nothing.
2. select the most recent and throw a warning
3. not implement the `chatName` option.
4. only allow send with a required `chatId` and have users find their own `chatId` using `list` and `create` commands.

Considering my earlier point of discussion, I'm drifting towards option 4...

[2022-01-06 16:37] appieschot opened #2917 "New command: m365 pp managementapp add"
### Usage

m365 pp managementapp add

### Description

Register management application for Power Platform

### Options

Option | Description
-- | --
`--appId [appId]` | Application (client) ID of the Azure AD application registration to register as management app. Specify either `appId`, `objectId` or `name`
`--objectId [objectId]` | Object ID of the Azure AD application registration to register a

[2022-01-06 18:38] martinlingstuyl commented on #2860
Hi Waldek,

I just published it!
https://www.blimped.nl/contributing-as-a-holiday-season-present/

[2022-01-06 18:58] appieschot opened #2919 "New command: m365 pp managementapp list"
### Usage

m365 pp managementapp list

### Description

Lists management applications for Power Platform

### Options

No options to specify

### Additional Info

https://docs.microsoft.com/en-us/powershell/module/microsoft.powerapps.administration.powershell/get-powerappmanagementapps?view=pa-ps-latest

[2022-01-07 09:28] waldekmastykarz commented on #2860
Awesome and a great read! Thank you so much for contributing and taking the time to share your experiences. I'm sure it'll be invaluable for new contributors and it got us a few ideas to include in our docs as well.

[2022-01-07 09:49] waldekmastykarz commented on #2916
Typically, we choose to prompt the user to disambiguate the choice by providing them with a list of IDs (and whatever other information is relevant to help them make a choice). Picking an arbitrary first item could have undesired side-effects. Given that it's not possible to create multiple separate conversations with the same name in the Teams client, I think it will be a rather exceptional case.

[2022-01-07 10:18] waldekmastykarz commented on #2696
@pnp/cli-for-microsoft-365-maintainers which would have your preference:

1. include new options in v5 and delay releasing v5 until summer '22
2. include new options in v6 to be released in the fall of '22

[2022-01-07 10:25] waldekmastykarz opened #2920 "Migrate aad sp get to Microsoft Graph"
Currently the 'aad sp get' command uses the AAD Graph which will be deprecated later this year. We should migrate the command to use Microsoft Graph instead.

[2022-01-07 10:26] waldekmastykarz opened #2921 "Migrate 'aad oauth2grant list' to Microsoft Graph"
Currently the 'aad oauth2grant list' command uses the AAD Graph which will be deprecated later this year. We should migrate the command to use Microsoft Graph instead.

[2022-01-07 10:28] waldekmastykarz opened #2922 "Remove obsolete AadCommand base class"
After completing #2920 and #2921, we can remove the `AadCommand` class which will be no longer used.

[2022-01-07 10:35] plamber commented on #2696
Since this is not a critical issue there is no hurry. I would make it dependent on other activities and priorities

[2022-01-07 12:50] martinlingstuyl commented on #2916
I agree, that solves the duplicate names challenge.

So what about the 'send group chat' challenge and the 'create/ensure chat' challenges? Those still bug me. Do you have any thoughts on those?

[2022-01-07 13:43] arjunumenon commented on #2696
My vote would be to include in v6 rather than including the changes in v5 which may delay the release.
Vote for 2.

[2022-01-07 17:59] phillipharding opened #2923 "Bug report: 403 Forbidden on Flow Export as ZIP, the client certificate C5F9D3ED02E06B0148CD8D82B131AB1A88C74414 is not allowed"
### Description

Attempting to export a flow as a **JSON** file is successful

Attempting to export a flow as a **ZIP** file returns:-
[code]
Running the command with the ```--debug``` parameter shows the response returned as
[code]
Reference:
[Bug report: 403 forbidden on Flow Export #2091](https://github.com/pnp/cli-microsoft365/issues/2091)

### Steps to reproduce

Login to M365 using the **dev

[2022-01-07 21:12] robdy commented on #2920
As it's labelled as good first issue, I'd be happy to work on this.

[2022-01-09 12:25] MaximeINFOSSO opened #2924 "New command: Teams channel conversion add tags classification and related reports"
### Usage

Add #tags in conversation, select predefined value list like emoticons for problems solving usage... Then dashboard button for weekly, monthly studies. Then search by #tag

### Description

We use some channels for business support of an Information System. It's very efficient for our internal customers. It could be better if we could do reporting based on classification #tags and resol

[2022-01-09 12:31] MaximeINFOSSO commented on #2924
It's not an issue but a suggestion for improving the product

[2022-01-09 12:33] MaximeINFOSSO commented on #2924
In the same way we could switch on start time and switch off to measure the spent time!

[2022-01-09 14:41] waldekmastykarz commented on #2924
Hey @MaximeINFOSSO, thank you for the suggestion. Could you please clarify it a bit? Looking at the title, usage, description and options I don't quite understand what you're suggesting.

[2022-01-09 14:43] waldekmastykarz commented on #2920
Awesome! All yours! When submitting the PR, please target the v5 branch as it's a breaking change that we can't include in the next minor release from the main branch.

[2022-01-09 14:45] waldekmastykarz commented on #2923
Thank you for the solid report @phillipharding and sorry for the trouble.

@appieschot, since you've done some work in this area, have you seen it before or could it be related to #2914?

[2022-01-09 14:47] waldekmastykarz commented on #2696
Planning for v6 then. If need be, we can always adjust.

[2022-01-09 14:49] waldekmastykarz commented on #2916
My gut feeling says to align with the Teams client and avoid creating duplicate conversations with the same title.

[2022-01-09 14:52] sprider opened #2925 "New sample script: Detecting PII exist in SharePoint List using AWS Comprehend"
Hi Team,
Is it okay to add this as a sample script?

Docs |  
-- | --
Author |Joseph Velliah
Original Post |https://blog.josephvelliah.com/detecting-pii-exist-in-sharepoint-list-using-aws-comprehend
Description |In this post, I showcased using Amazon Comprehend to detect PII entities from a specific SharePoint List column and record the results in another list and CSV report via the AWS CLI and CL

[2022-01-09 14:59] robdy commented on #2916
Correct me if I'm wrong, but you can create conversations with the same title using Teams client. This is what I did for the example above. These two conversations had different members though.

[2022-01-09 15:06] MaximeINFOSSO commented on #2924
Hello @waldekmastykarz, 1st happy new year to you and your team. Surprised to see so quickly reply... Lets try to be clearest on my suggestion.

Title: use teams Conversion channel as simple business support solution.

Usage : possible for any business support. Like information systems, products support, process support...

Description.
Step 1, teams users can add #tags in conversation and replies

[2022-01-09 15:50] waldekmastykarz commented on #2925
Totally! Great suggestion! 👏

[2022-01-09 15:57] waldekmastykarz commented on #2924
Thank you for clarifying @MaximeINFOSSO. Where would you see the CLI fit in? Are there any commands that you'd see us add to support this scenario or would this rather be a script that you/others would build to show how to combine multiple commands to support this scenario?

[2022-01-09 17:36] martinlingstuyl commented on #2916
Yeah, the point is you can create multiple ‘group’ chats with the same members using the api, but using the client they resolve to the same.

When creating oneOnOne conversations with the same member using the api, they do resolve to the same conversation, but using the create function for this feels wrong (POST verb, 201 response) also because this is different from how Group conversations are cr

[2022-01-09 18:57] MaximeINFOSSO commented on #2924
@waldekmastykarz i suspect that i ve post at wrong places... Sorry

[2022-01-09 18:57] #2924 closed

[2022-01-10 10:43] phillipharding commented on #2923
Doing some investigation in the Power Automate UI;

The ```listPackages``` request URL is ```https://api.bap.microsoft.com/providers/Microsoft.BusinessAppPlatform/environments/Default-9b4f4fcf-59ca-4fb5-878f-4dea4046b5c6/listPackageResources?api-version=2016-11-01``` in the Power Automate UI which matches the CLI

But the ```exportPackage``` request URL is ```https://api.bap.microsoft.com/provider

[2022-01-10 11:30] heinrich-ulbricht commented on #2923
Just a heads up that I ran into exactly this today as well. I think last week this still worked.

[2022-01-10 15:38] waldekmastykarz commented on #2924
All good. I appreciate your idea 👍

[2022-01-10 15:40] waldekmastykarz commented on #2923
Let's wait for @appieschot to respond, as I believe he might have some useful input here.

[2022-01-10 16:12] phillipharding commented on #2923
Bit more detective work (sorry) 😉

The ```listPackages``` request is sent to ```api.bap.microsoft.com``` with an access token whose ```audience``` is ```https://management.azure.com/```

The ```exportPackage``` request is sent to ```management.azure.com``` with an access token whose ```audience``` is ```https://management.azure.com``` -- _no trailing backslash_

Both access tokens are identical ex

[2022-01-10 16:55] appieschot commented on #2923
great find @phillipharding ! We should totally fix the trailing backslash but once #2914 is implemented we should be able to tackle it as well

[2022-01-10 19:03] #2622 closed

[2022-01-11 12:48] nanddeepn commented on #2921
Hi @waldekmastykarz
Can I work on this?

[2022-01-11 15:19] martinlingstuyl commented on #2916
Hi guys,

Maybe we're trying to solve a problem that we should leave with the user:
- Change the spec so this command runs like this: `m365 teams chat message send --chatId <chatId> --message 'Hello world'`
- Add another command to create a new chat: `m365 teams chat create --userEmails <userEmails>`

In which case the user can decide how to get a chatId. (using `teams chat list` or `teams chat cr

[2022-01-12 09:33] waldekmastykarz commented on #2916
It's indeed a trade-off between projecting APIs to commands, exposing the CRUD operations and expecting the users to express their exact intent, and offering intent-driven commands that combine multiple calls.

If we know that you can get a chatId in two ways, why not make it easier for our users and run the necessary commands in the background for them? At the same time, if they want additional c

[2022-01-12 09:33] waldekmastykarz commented on #2921
Please do! We appreciate your help 👏

[2022-01-12 09:36] waldekmastykarz commented on #2923
@phillipharding, based on your research, if I understand it correctly, all we need to do is to replace the host in the `exportPackage` request from `management.azure.com` to `api.bap.microsoft.com`, correct?

[2022-01-12 09:54] martinlingstuyl commented on #2916
You got a good point there.

Ok, so I would propose the following then:
1) for `oneOnOne`: Use the `Create` endpoint to ensure the chat conversation. This works currently, though I dislike it for reasons mentioned above.

2) for multiple userEmails aka `group`: first query the `list` endpoint to get all chat conversations of type group with expanded members. Search for an existing chat with given

[2022-01-12 10:00] phillipharding commented on #2923
@waldekmastykarz looks like it yes, I don't know if the host varies by region, my PA environment is the EMEA region and replacing ```management.azure.com``` with ```api.bap.microsoft.com``` was successful

[2022-01-12 10:09] waldekmastykarz commented on #2916
@martinlingstuyl these are good. I don't think that we need to worry about speed, because we offer a way out: if you need to do it fast, you can always pass an existing `chatId` and circumvent the discovery. I think the suggestions you shared offer a nice balance between convenience and flexibility and we should consider them as the way to move forward.

[2022-01-12 10:10] waldekmastykarz commented on #2923
It doesn't seem like the region is expressed in the URL so we should be said. That said, we can implement the necessary change in a beta and check with our users across the globe to help us confirm that it works as intended for everyone.

[2022-01-12 10:22] martinlingstuyl commented on #2916
Awesome. I'll update the spec.
There is one extra question that I thought of:

You can either use `chatId`, `userEmails` or `chatName` options.
But people might want to use `chatName` together with `userEmails`... to give a chat a topic.

This would for example give a new group chat a topic while creating it, or update an exising group chat topic.
It adds some potential confusion though. Does it a

[2022-01-12 11:51] waldekmastykarz commented on #2916
Good point and awesome that you're considering the different scenarios. For now, I'd say, let's keep these options for retrieval only. We can always revise them in the future if need be.

[2022-01-12 11:57] arjunumenon commented on #2642
Assigning this to myself so that we can close #2219 which is dependent on this command.

[2022-01-12 15:16] arjunumenon commented on #2642
Just noticed that the Options were not following as per [this conversation](https://github.com/pnp/cli-microsoft365/issues/2696#issuecomment-927812764). Hence updated the specs accordingly.

[2022-01-12 15:40] #2896 closed

[2022-01-12 15:40] #2901 closed

[2022-01-12 19:44] garrytrinder opened #2930 "Bug report: `teams tab get` command always returns duplicate team name error when using `--teamName` option"
### Description

I noticed this on the `teams tab get` command first when using the `--teamName` option, that the error message (shown below) was returned when only one team with that name exists in the tenant.

[code]

After inspecting the code, when `--teamName` is used in the command, the `$filter` parameter is used on the `v1.0/me/joinedTeams` endpoint, however this endpoint does not support a

[2022-01-12 20:04] garrytrinder commented on #2930
I've noticed that other commands that use `--teamName` option such as `team channel get` use the `v1.0/groups` endpoint which does support the `$filter` parameter, so we should look to move both the commands identified in this issue to this endpoint.

[2022-01-13 07:20] waldekmastykarz commented on #2930
If we move the endpoint, wouldn't that alter the shape of data returned by the command leading to a breaking change?

[2022-01-13 08:21] appieschot commented on #2923
There should not be a region for that URL; however there is a difference between GOV tenants etc.

[2022-01-13 12:25] garrytrinder commented on #2930
Not in this case, the request that uses the `$filter` only returns the team (group) id, which is then used in another request to get the channel info which is returned by the command.

https://github.dev/pnp/cli-microsoft365/blob/f2c98173bdfb04b5569e743ea5c3e78609b552ab/src/m365/teams/commands/tab/tab-get.ts#L50-L78

[2022-01-13 15:15] appieschot opened #2932 "Upgrade deprecated endpoints in `m365 tenant status list` and `m365 tenant service`"
Currently `m365 tenant status list`  and `m365 tenant service ..` use https://docs.microsoft.com/en-us/office/office-365-management-api/office-365-service-communications-api-reference#get-current-status as described in that article the endpoint is deprecated since 17-12-2021.

We should consider upgrading to the Graph: https://docs.microsoft.com/en-us/graph/service-communications-concept-overview

[2022-01-13 15:44] pstrindlund commented on #2923
@waldekmastykarz. I can confirm that this bug remains in US West region (commercial tenants) this week. Any estimates on when next release will be that will include the fix?

[2022-01-13 16:59] appieschot commented on #2932
It seems to still be working, so would opt for the next major release as well; but no guarantee as to it staying that way 😉

[2022-01-13 17:00] waldekmastykarz commented on #2932
What if we introduced new commands with new names and deprecated the ones we have now based on the deprecated API?

[2022-01-13 17:16] garrytrinder commented on #2932
We have done this in the past so not against this, we should add a remark to the docs of the commands highlighted with the API deprecation.

[2022-01-13 18:50] #2476 closed

[2022-01-13 18:50] #2893 closed

[2022-01-13 19:38] garrytrinder commented on #2923
@pstrindlund thank you for confirming the issue in this region, however we cannot provide estimates on when this will be fixed, as this command uses an API (as stated in the docs) which is not GA, we have to be mindful there may not be a fix.

Our current process is to release any fixes in to a beta release, which we release regularly throughout the month for folks to be able to test fixes and try

[2022-01-14 08:06] waldekmastykarz commented on #2916
Right now, that's indeed the case. In `app *` commands we have an [interactive version of it](https://github.com/pnp/cli-microsoft365/blob/ffe290f1ea68d1b01ee2e515bbc7cf343cd76c7e/src/m365/base/AppCommand.ts#L63-L77). We have an [idea to implement it across the CLI](https://github.com/pnp/cli-microsoft365/discussions/2880) but need to put it behind a config setting so that it doesn't interfere whe

[2022-01-14 08:09] waldekmastykarz commented on #2923
@appieschot as you've done some work here already, would you like to give it a stab and submit a PR with a fix?

[2022-01-14 10:19] Jwaegebaert commented on #2930
So I created a PR for this issue with the solution @garrytrinder provided. Hope this helps!

[2022-01-14 10:26] waldekmastykarz opened #2934 "New command: download Teams app package for an SPFx solution"
### Usage

m365 spo app teamspackage download [options]

### Description

Downloads Teams app package for an SPFx solution

### Options

Option | Description
-- | --
`--appItemUniqueId [appItemUniqueId]` | The unique ID of the SPFx app to download the Teams package for. Specify `appItemUniqueId`, `appItemId` or `appName`
`--appItemId [appItemId]` | The ID of the list item behind the SPFx app to do

[2022-01-14 17:00] garrytrinder commented on #2930
Fantastic, thank you @Jwaegebaert 👏

[2022-01-14 19:04] waldekmastykarz opened #2935 "Bug report: Unhandled exception when trying to add user to a non-existent SharePoint group referred to by ID"
### Description

When you try to add a user to a non-existent SharePoint group, referring to the group by its ID, we throw an unhandled exception.

### Steps to reproduce

[code]

### Expected results

Error: group not found

### Actual results

[code]

### Diagnostics

_No response_

### CLI for Microsoft 365 version

Latest from main

### nodejs version

v16.13.0

### Operating system (environme

[2022-01-14 19:07] #2930 closed

[2022-01-14 19:07] #2831 closed

[2022-01-15 12:56] kevmcdonk opened #2936 "Bug report: Search->External Connection->Add doc references wrong application"
### Description

On the Add External Connection for Search page, it references a Test application but the sample below talks about "My Application". Small tweak but would be nice to be consistent.

### Steps to reproduce

View doc at https://pnp.github.io/cli-microsoft365/cmd/search/externalconnection/externalconnection-add/#examples

### Expected results

Should reference My Application

### Actu

[2022-01-15 13:16] kevmcdonk commented on #2936
I'll pick this one up. Promise it's not just to get a badge!

[2022-01-15 13:18] garrytrinder commented on #2936
Thank you @kevmcdonk its all yours!

[2022-01-15 19:02] #2860 closed

[2022-01-15 20:15] robdy commented on #2920
I was preparing the PR for it and I noticed it's already fixed in 95842c95999a20c5b5199e7bd4f6c74e8ece3cc1. In that case I think I should drop the PR, shouldn't I?

[2022-01-16 18:34] waldekmastykarz commented on #2920
That's my bad. Apparently I created a duplicate issue. Sorry for the trouble and I hope I didn't waste your time working on something that's already fixed 🙁

[2022-01-16 18:34] #2920 closed

[2022-01-16 19:09] robdy commented on #2920
@waldekmastykarz no worries, at least I checked that my approach was more or less good :) it's never waste if I learned something

[2022-01-16 19:13] robdy commented on #2935
I can take this

[2022-01-16 21:02] martinlingstuyl commented on #2899
What about updating the options here: check out the updated specs.

[2022-01-17 07:26] arjunumenon commented on #2935
Thank you @robdy for your help 👍. All yours.

You are right. Before adding the users to group, you may have to check the presence of the valid SharePoint group in the web. Please feel free to let us know if you have any doubts or questions.

[2022-01-17 08:33] waldekmastykarz opened #2939 "Enhancement: extend `aad app get` with --save"
From: https://github.com/pnp/cli-microsoft365/issues/2815#issuecomment-972742278

In #2813 we introduced a command that allows you to operate on an AAD app using information stored in a `.m365rc.json` file, which contains the `appId` property with the ID of the AAD app. We should extend the `aad app get` command with a new `--save` option. When used, it will cause the command to write the informat

[2022-01-17 09:09] waldekmastykarz opened #2940 "New command: open Azure portal on the page to manage the selected AAD app reg"
### Usage

m365 app open [options]

### Description

Returns deep link to open Azure portal on the page to manage the current AAD app registration

### Options

Option | Description
-- | --
`--appId [appId]` | Client ID of the Azure AD app registered in the .m365rc.json file to retrieve API permissions for
`--preview` | Specify, to open the page in the preview version of the Azure portal (preview.

[2022-01-17 09:50] robdy commented on #2935
I'm not sure if this is a good idea. We'd potentially add one more request to each command execution, while error handling does not add anything in terms of the performance.

I can imagine it's not a big deal, though. The question would be - what's the general approach?

Based on [`m365 teams team set`](https://github.com/pnp/cli-microsoft365/blob/main/src/m365/teams/commands/team/team-set.ts) - w

[2022-01-17 11:54] ag0059985 opened #2941 "Bug report: add webpart with properties not working"
### Description

Hi Team,
i am trying to add webpart on modern page with pre-configured properties, but not working.
i have used below lines from https://pnp.github.io/

`m365 --% spo page clientsidewebpart add --webUrl https://contoso.sharepoint.com/sites/a-team --pageName page.aspx --standardWebPart BingMap --webPartProperties `"{""Title"":""Foo location""}"``

`m365 spo page clientsidewebpart a

[2022-01-17 13:53] waldekmastykarz opened #2942 "New command: retrieves information about the current Azure AD app"
### Usage

m365 app get [options]

### Description

Retrieves information about the current Azure AD app

### Options

Option | Description
-- | --
`--appId [appId]` | Client ID of the Azure AD app registered in the .m365rc.json file to retrieve API permissions for

### Additional Info

Internally executes the `m365 aad app get` command passing the clientId of the Azure AD app resolved by the `m36

[2022-01-17 15:14] alaakh42 commented on #2833
Hello @waldekmastykarz , I am trying to run this command against a hubsite. but not getting results. Although sending a request to this REST API <site_url>/_api/web/RegionalSettings/InstalledLanguages I get a list of the installed languages

[2022-01-17 17:56] Adam-it commented on #2833
@alaakh42 TBH I didn't check it for hub sites but I would expect it to work like for any other team to communications site 🤔. I will try to give it a check today and let you know. Do you think you could open a separate issue on this as this one is already closed?

[2022-01-17 18:00] waldekmastykarz commented on #2833
Thank you for letting us know of the trouble @alaakh42 and I appreciate you looking into it @Adam-it. Like @Adam-it suggested, @alaakh42, could you please create a new issue so that we can track it? Thank you!

[2022-01-17 18:01] waldekmastykarz commented on #2941
Thank you for reporting the issue @ag0059985 and we'll look into it asap. Sorry for the trouble.

[2022-01-17 18:02] waldekmastykarz commented on #2935
I think in this case we could handle the empty response and assuming it's an error, show a relevant error message.

[2022-01-17 18:04] waldekmastykarz opened #2944 "Docs: Move 'Command completion' and 'GitHub Actions' to 'User Guide'"
### Discussed in https://github.com/pnp/cli-microsoft365/discussions/2937

<div type='discussions-op-text'>

<sup>Originally posted by **waldekmastykarz** January 15, 2022</sup>
In our docs, we have a _User Guide_ and _Concepts_. User Guide is meant for CLI's users to help them understand how CLI works and what the different options are. Concepts is meant more for folks who either contribute to CL

[2022-01-17 18:06] waldekmastykarz commented on #2899
Sorry @martinlingstuyl, what do you mean?

[2022-01-17 18:10] alaakh42 opened #2945 "command spo web installedlanguage list doesn't work for Hubsites"
### Description

command spo web installedlanguage list doesn't work against Hubsites

### Steps to reproduce

Run command `m365 spo web installedlanguage list --webUrl <site_url>` against a communication hubsite

### Expected results

List of installed languages in a site collection similar to the output from

`https://<site_url>/_api/web/RegionalSettings/InstalledLanguages`

### Actual results

[2022-01-17 18:12] alaakh42 commented on #2833
Thank you for your quick response @waldekmastykarz  @Adam-it . New issue created [https://github.com/pnp/cli-microsoft365/issues/2945](2945)

[2022-01-17 18:13] waldekmastykarz commented on #2945
Thank you for the additional information. @Adam-it, since you already had a quick look at it, would you mind checking out the extra details @alaakh42 provided?

[2022-01-17 18:13] waldekmastykarz commented on #2920
Thank you and once again, sorry 😊

[2022-01-17 18:16] Adam-it commented on #2945
@waldekmastykarz Sure, I will give it a check today. You may assign me to it

[2022-01-17 18:25] martinlingstuyl commented on #2899
Not my most explanatory comment 😌

I meant: get chat by Id OR by name OR (this part is new) by userEmails.

[2022-01-17 18:36] #2888 closed

[2022-01-17 18:44] waldekmastykarz commented on #2899
The new options look good. I'd suggest removing the shorts `-i` and `-n` because they're ambiguous and could theoretically mean `userId` and `userName` as well which could theoretically be valid options for this command.

As for the option name, what do you think about using `usersEmails`, instead of `userEmails` to indicate that it's possible to enter emails for multiple users rather than multipl

[2022-01-17 18:45] waldekmastykarz commented on #2945
Thank you so much! I appreciate your help 👏

[2022-01-17 18:49] Adam-it commented on #2843
Cool the PR is merged so I can now finish of the CLI version of the script sample 👍

[2022-01-17 18:49] waldekmastykarz commented on #2941
Which version of PowerShell are you using @ag0059985?

[2022-01-17 19:03] waldekmastykarz commented on #2941
Tested in PowerShell 7x on macOS, the script seems to work when you drop outer backticks from webPartData:

[code]

[2022-01-17 22:00] Adam-it commented on #2945
@alaakh42 , @waldekmastykarz  I had a check on this and so far I am unable to reproduce this issue 😔. I created 3 test sites (team, communication and communication as hub site) and I was able to get the installed languages list from all of those sites
![image](https://user-images.githubusercontent.com/58668583/149838854-d4ad8511-6a33-4699-97b9-1eab6b7c655b.png)
I was running this on windows in pow

[2022-01-17 22:15] alaakh42 commented on #2945
Thank you for picking up this very quickly @Adam-it yes this is true for every hubsite I create.

yes, I will try to match the scope to yours and feedback.

Another point, getting the installed languages was a way to re-write a code snipped I wrote previously using pnp powershell

` $Web = Get-PnPWeb -Includes RegionalSettings.InstalledLanguages`
 `$installedLanguages = $Web.RegionalSettings.Insta

[2022-01-17 23:14] Adam-it commented on #2945
@alaakh42 TBH I don't think CLI currently supports `AddSupportedUILanguage`  and `RemoveSupportedUILanguage`. The `installedlanguage list` was one of the first command added that supports this part of the `web` 🤔

[2022-01-17 23:19] alaakh42 commented on #2945
Okay, good to know. I may go for a hybrid approach then. Do you have an idea when this extension can be applied or Where can I keep an eye on that, please?

[2022-01-17 23:42] Adam-it commented on #2945
It's hard for me to say when this functionality will be added I am not sure if it is on some kind of timeline 🤔. Maybe @waldekmastykarz knows more 😉.
I didn't see any opened issue for this functionality and if @alaakh42 you have some time you could open an issue for each of those as an new command suggestion so that we could check if it is supported by any rest API and add it 👍. I strongly encoura

[2022-01-18 00:10] alaakh42 commented on #2945
Thank you @Adam-it you've been a great help. I am definitely going to create the issues for each command suggestion, this is the least I can do 😊

[2022-01-18 04:15] ag0059985 commented on #2941
Powershell version is 5.1
![image](https://user-images.githubusercontent.com/524177/149869983-ce2bf923-293a-40b6-a89c-8c03fe1420e9.png)

[2022-01-18 04:16] ag0059985 commented on #2941
@waldekmastykarz i am trying it in windows 10.

[2022-01-18 06:45] pramod74 commented on #2944
Hi @waldekmastykarz,

I would like to work on this issue. Kindly assign the issue to me.

Thanks,
Pramod

[2022-01-18 07:33] arjunumenon commented on #2935
Thanks @robdy for looking further into that and chiming in your thoughts.

Since the API which are using does not return anything as a error response, that is why I was suggesting to check it beforehand.
![image](https://user-images.githubusercontent.com/10369964/149890905-aea1d4c5-c994-4eaf-b79c-acea43348889.png)

Having said that, like Waldek suggested, we can respond with a generic error messag

[2022-01-18 07:46] arjunumenon opened #2946 "Docs: Add link for 'Using your own Azure AD identity' in the 'Azure AD application used by the CLI for Microsoft 365' section"
Based on the [discussion 2937](https://github.com/pnp/cli-microsoft365/discussions/2937#discussioncomment-1981268) , we need to add the link to the page : https://pnp.github.io/cli-microsoft365/user-guide/using-own-identity/ in the [Authorization and access tokens](https://pnp.github.io/cli-microsoft365/concepts/authorization-tokens/#azure-ad-application-used-by-the-cli-for-microsoft-365) concepts

[2022-01-18 07:55] martinlingstuyl commented on #2899
I'll remove the shorts.

Regarding `userEmails` or `usersEmails`. I personally don't like the multiple plural `usersEmails`. If feels wrong to me. If it's up to me I'd stick with `userEmails`, certainly in the context of sending a chat. Let people read the documentation if they don't know for sure what is meant.

[2022-01-18 08:23] appieschot opened #2947 "New command: m365 tenant serviceannouncement health list"
### Usage

m365 tenant serviceannouncement health list

### Description

This operation provides the health report of all subscribed services for a tenant.

### Options

N/a

### Additional Info

See https://docs.microsoft.com/en-us/graph/api/serviceannouncement-list-healthoverviews?view=graph-rest-1.0&tabs=http for details

Build to deprecated issues named in: https://github.com/pnp/cli-microsoft

[2022-01-18 08:24] appieschot opened #2948 "New command: m365 tenant serviceannouncement healthissue list"
### Usage

m365 tenant serviceannouncement  healthissue list

### Description

This operation retrieves information about all service health issues that exist for the tenant.

### Options

N/a

### Additional Info

See https://docs.microsoft.com/en-us/graph/api/serviceannouncement-list-issues?view=graph-rest-1.0&tabs=http

Build to deprecated issues named in: #2932

[2022-01-18 08:25] appieschot opened #2949 "New command: m365 tenant serviceannouncement message list"
### Usage

m365 tenant serviceannouncement message list

### Description

This operation retrieves all service update messages that exist for the tenant.

### Options

N/a

### Additional Info

See https://docs.microsoft.com/en-us/graph/api/serviceannouncement-list-messages?view=graph-rest-1.0&tabs=http

Build to deprecated issues named in: #2932

[2022-01-18 08:28] appieschot opened #2950 "New command: m365 tenant serviceannouncement health get"
### Usage

m365 tenant serviceannouncement health get

### Description

This operation provides the health information of a specified service for a tenant.

### Options

Option | Description
-- | --
`-s, --ServiceName <serviceName>` | The service name to retrieve services for

### Additional Info

See https://docs.microsoft.com/en-us/graph/api/servicehealth-get?view=graph-rest-1.0&tabs=http

Build

[2022-01-18 08:33] appieschot opened #2951 "New command: m365 tenant serviceannouncement healthissue get"
### Usage

m365 tenant serviceannouncement healthissue get

### Description

This operation retrieves a specified service health issue for tenant.

### Options

Option | Description
-- | --
`-i, --issueId <issueId>` | The issue id to get details for

### Additional Info

See https://docs.microsoft.com/en-us/graph/api/servicehealthissue-get?view=graph-rest-1.0&tabs=http

Build to deprecated issues

[2022-01-18 08:37] nanddeepn commented on #2949
Hi @appieschot
Can I work on this?

[2022-01-18 08:51] appieschot opened #2952 "New command: m365 tenant serviceannouncement message get"
### Usage

m365 tenant serviceannouncement message get

### Description

This operation retrieves a specified service update message for the tenant

### Options

Option | Description
-- | --
`-i, --id <id>` | The message id to get details for

### Additional Info

See https://docs.microsoft.com/en-us/graph/api/serviceupdatemessage-get?view=graph-rest-1.0&tabs=httpp

Build to deprecated issues name

[2022-01-18 08:53] appieschot commented on #2932
Closing out this issue as I created 6 new issues for these commands. Lets deprecate after we implemented those 6 issues.

[2022-01-18 08:53] #2932 closed

[2022-01-18 08:53] appieschot commented on #2949
Hi @nanddeepn all yours!

[2022-01-18 10:36] appieschot commented on #2951
Totally 🚀 assigned to you!

[2022-01-18 11:57] appieschot commented on #2944
Awesome! Assigned to you 🦾

[2022-01-18 13:10] alaakh42 opened #2953 "Add/Install Language on web level given the language lcid"
### Usage

m365 spo web add language

### Description

This command will be used to add/ install specific language on a web level by providing lcid or language id i.e. en-en 1033

### Options

Option | Description
-- | --
`-i, --teamId <teamId>` | The Id of the Microsoft Team
`-r, --role [role]` | Filter the results to only users with the given role: `Owner` or `Member`.

### Additional Info

This

[2022-01-18 13:10] alaakh42 opened #2954 "Remove Installed Language on web level given the language lcid"
### Usage

m365 spo web remove language

### Description

This command will be used to remove/uninstall specific language on a web level by providing lcid or language id i.e. en-en 1033

### Options

Option | Description
-- | --
`-i, --teamId <teamId>` | The Id of the Microsoft Team
`-r, --role [role]` | Filter the results to only users with the given role: `Owner` or `Member`.

### Additional Inf

[2022-01-18 13:12] alaakh42 commented on #2945
Both issues now raised for a New Command suggestion
[2953](https://github.com/pnp/cli-microsoft365/issues/2953)
[2954](https://github.com/pnp/cli-microsoft365/issues/2954)

[2022-01-18 13:20] arjunumenon commented on #2941
Hello @ag0059985  - I had tried recreating the issue in Windows 10 with PowerShell Version `5.1.18362`. If you modify your script based on @waldekmastykarz 's [suggestion by removing the outer backticks](https://github.com/pnp/cli-microsoft365/issues/2941#issuecomment-1014819626), it is working as expected.
![image](https://user-images.githubusercontent.com/10369964/149944752-2461fef8-9dca-4223-82

[2022-01-18 14:44] Jwaegebaert commented on #2947
Hey @appieschot. If possible, I would be available to work on this on.

[2022-01-18 15:45] appieschot commented on #2947
Awesome, all yours! 🚀

[2022-01-18 18:52] Adam-it commented on #2945
that's cool 👍 will have a look at those when I will finish my current assignments 😉.

[2022-01-19 03:41] ag0059985 commented on #2941
@arjunumenon will post an update once I have tested in windows.
Anyway thanks for quick responses @waldekmastykarz  @arjunumenon

[2022-01-19 09:42] Jwaegebaert commented on #2947
Quick question. What is the correct procedure to add a new permission to the `PnP Management Shell` enterprise application?

[2022-01-19 09:57] appieschot commented on #2947
You can't; we have to do that when publishing (tagging @waldekmastykarz as he does that usually 🔥). Quickest way to test stuff is using your own identity: https://pnp.github.io/cli-microsoft365/user-guide/using-own-identity/ if you have that working in general during the review (before accepting) we will make sure permissions are on par as part of the release.

[2022-01-19 13:09] appieschot opened #2955 "Extend command: `m365 aad user list` with `--deleted` flag"
### Usage

`m365 aad user list  --deleted`

### Description

Extend command: `m365 aad user list` with an additional option `--deleted` to retrieve deleted users from the recycle bin.

### Options

Option | Description
-- | --
`--deleted ` | Use to retrieve deleted users

### Additional Info

Can be retrieved using a get on https://graph.microsoft.com/v1.0/directory/deletedItems/microsoft.graph.us

[2022-01-19 13:11] appieschot opened #2956 "Extend command: `m365 aad group list` list with `--deleted` flag"
### Usage

`m365 aad group list  --deleted`

### Description

Extend command: `m365 aad group list` with an additional option `--deleted` to retrieve deleted groups from the recycle bin.

### Options

Option | Description
-- | --
`--deleted ` | Use to retrieve deleted groups

### Additional Info

Can be retrieved using a get on https://graph.microsoft.com/v1.0/directory/deletedItems/microsoft.grap

[2022-01-19 13:15] appieschot commented on #2954
@alaakh42 Thanks for raising the issue! Would you mind taking a look at how we could design the issue? What options are required to remove a language?

Another quick tip; we should swap `remove` and `language` all our commands are based on grouping; so we should use `m365 spo web language remove`. That way we can use the add or list in the same grouping.

[2022-01-19 13:16] appieschot commented on #2953
@alaakh42 Thanks for raising the issue! Would you mind taking a look at how we could design the issue? What options are required to set the language?
And similar to #2953 ; we should swap `add ` and `language` to get `m365 spo web language add`.

[2022-01-19 14:04] Jwaegebaert commented on #2950
Hey @appieschot, can I tackle this one as well?

[2022-01-19 14:11] appieschot opened #2957 "New sample script: Check all users for known breaches with HBIP"
|Docs||
|-----|----|
|Author| Albert-Jan Schot
|Original Post| https://www.cloudappie.nl/cli-microsoft-haveibeenpwned-status/ |
|Description| List all breaches for all users in your Azure AD |
|Keywords| `Azure Active Directory` `Security` |

[2022-01-19 14:39] appieschot commented on #2950
Your on a roll! Assigned!

[2022-01-19 18:33] waldekmastykarz commented on #2953
Also, let's update options. It seems like they still refer to the issue from which they're copied.

[2022-01-19 18:33] waldekmastykarz commented on #2954
Also, let's review options as they seem to be referring to a different command

[2022-01-19 18:38] waldekmastykarz commented on #2945
Just to check, @alaakh42: is everything working as intended and we need to add the two commands for which you created an issue or do we still have an issue with retrieving the list of installed languages?

[2022-01-19 18:40] waldekmastykarz commented on #2951
We should verify the command's name. First, typically we don't use plural, so we should consider `tenant service issue` instead of `tenant service issues`. Second, if we're retrieving multiple items, then the verb should be `list` instead of `get`.

[2022-01-19 18:42] waldekmastykarz commented on #2949
@appieschot @nanddeepn we should review the command's name. Typically we use singular instead of plural nouns, so `tenant service message` instead of `tenant service messages`.

[2022-01-19 18:44] appieschot commented on #2951
@waldekmastykarz Great feedback; will update the spec

[2022-01-19 18:47] waldekmastykarz commented on #2952
Let's change the noun to singular `message` instead of `messages` to align with other commands in the CLI

[2022-01-19 18:48] appieschot commented on #2952
Done

[2022-01-19 18:49] appieschot commented on #2949
If we want to keep both versions we could use `announcement` instead of message for this and the get command.

[2022-01-19 18:49] waldekmastykarz commented on #2899
@pnp/cli-for-microsoft-365-maintainers any opinions on the naming?

[2022-01-19 18:52] waldekmastykarz commented on #2949
What if we used `tenant serviceannouncement message list` to align with the underlying Graph API?

[2022-01-19 18:52] appieschot commented on #2899
I guess we need to get @garrytrinder in here for the official linguistics but I feel more for `userEmails`

[2022-01-19 18:54] appieschot commented on #2949
If so we should upgrade all the other commands as well as they are all part of the `serviceAnnouncement` identifier in the graph. I am ok with that but it wonder if it shouldn't be `tenant service announcement messsage list` in that case. 🤔

[2022-01-19 18:57] waldekmastykarz commented on #2949
The Graph API is `/serviceAnnouncement/message` rather than `/service/announcement/message` which is why I went with `tenant serviceannouncement message`

[2022-01-19 19:04] appieschot commented on #2949
Updated the specs @nanddeepn sorry for the trouble :(

[2022-01-19 19:06] appieschot commented on #2951
@SmitaNachan sorry for the confusion but based on #2949 the specs have slightly changed

[2022-01-19 19:09] appieschot commented on #2950
Hi @Jwaegebaert sorry to ask but based on #2949 we have changed the specs a little bit. Would you mind updating both PR's with the `serviceannouncement` instead of `service`? If you dont have the time ill pick it up as it was my mistake but if you do have a minute spare that would be save us some time! Thanks

[2022-01-19 19:14] Jwaegebaert commented on #2950
No problem. I can do it 👍

[2022-01-19 19:30] appieschot opened #2961 "Update PowerPlatformCommand base class with authentication options"
Since we are working on #2917 and #2919 (and more to come as we move along) we should introduce a new type of command class. The `PPCommand`. That base class should have the following:

- logic to handle different environments
- handle all Power Platform services based on this environment

The PowerShell samples use a `-Endpoint` parameter within the `Add-PowerAppsAccount` cmdlet (and picks the de

[2022-01-19 19:37] Jwaegebaert commented on #2950
The PR's are updated with the latest specs now

[2022-01-19 19:38] Jwaegebaert commented on #2955
If possible, then I would like to work on this one.

[2022-01-19 20:10] martinlingstuyl commented on #2899
I've updated the spec, removed two shorts. I'll remove them on #2916 as well, as that one is similar.

[2022-01-19 20:37] pramod74 commented on #2944
Thanks, @appieschot.

I have submitted a PR (# 2962). Kindly review.

Thanks,
Pramod

[2022-01-19 22:53] Adam-it commented on #2954
@alaakh42  thanks for opening this issue 👍. As before I think it is a great suggestion and a new command which CLI could have. Let me know if you need any support or help with the details of this issue (options, description, other) 👍.
If needed I may do some investigation myself to check for rest API endpoints to see what's possible here or even try to take the issue if you don't have time 🤔.
Plea

[2022-01-19 22:53] Adam-it commented on #2953
@alaakh42  thanks for opening this issue 👍. As before I think it is a great suggestion and a new command which CLI could have. Let me know if you need any support or help with the details of this issue (options, description, other) 👍.
If needed I may do some investigation myself to check for rest API endpoints to see what's possible here or even try to take the issue if you don't have time 🤔.
Plea

[2022-01-20 08:52] garrytrinder commented on #2961
Good suggestion @appieschot 👍

As the word `environment` has a special meaning in Power Platform, would using tenant in the naming be more appropriate? In the sense that the tenant type determines the difference in endpoint?

[2022-01-20 09:00] martinlingstuyl commented on #2916
Hi guys,

for my work on this I'm extending the `GraphCommand` instead of the `GraphItemsListCommand<T>`, which is logical because I'm not listing stuff. But I do need to use a `getAllItems` function in my code while trying to find chats. That  is currently implemented as a protected method in `GraphItemsListCommand<T>`.
Now I can see multiple (non-listing) commands extending `GraphItemsListComman

[2022-01-20 09:04] garrytrinder commented on #2899
I would say that `userEmails` is a little ambiguous, as we are talking about a variable number of people taking part in a conversation, maybe `participants` or `chatParticipants` would be more appropriate?

[2022-01-20 09:05] robdy commented on #2952
I can work on this 👍

[2022-01-20 09:09] garrytrinder commented on #2817
For the tests showing warnings against them in the test explorer window, these are due to some tests having the same name and so the extension cannot determine between them to display a result therefore a warning is displayed, this isn't a huge deal to update the names of the tests to be unique. Will need to look into how many need to be updated as a next step.

[2022-01-20 09:24] martinlingstuyl commented on #2899
Just `participants`? or would you need to add the expected type of string, like `participantEmails` or `participantsEmails`. (in which case the question remains the same. 😉)

[2022-01-20 09:50] alaakh42 commented on #2945
@waldekmastykarz not yet working unfortunately but I am planning to do the upgrade for the latest version of m365 CLI and nodejs if this is still the way to go as Adam suggested.

[2022-01-20 10:22] appieschot commented on #2961
Yeah was struggling a bit with that one, the Power Platform cmdles use `Environement`, the official MS docs talk about `environements` as well, but I figured we are using an endpoint, hence the `PowerPlatformEndpoint` property..  The option to use a  `TenantType` also makes sense.

[2022-01-20 10:23] appieschot commented on #2952
Awesome! All yours 🚀

[2022-01-20 12:10] garrytrinder commented on #2940
Love this idea, streamlining the workflow from command line to browser ❤️

[2022-01-20 12:56] appieschot opened #2963 "New command: m365 outlook room list"
### Usage

m365 outlook room list

### Description

Returns all available rooms

### Options

Option| Description
--------|----------
--roomlistEmail [roomlistEmail]	| Use to filter returned places by their roomlist

### Additional Info

Read more on: https://docs.microsoft.com/en-us/graph/api/place-list?view=graph-rest-1.0&tabs=http

~~pnp/cli-for-microsoft-365-maintainers please advice on the co

[2022-01-20 14:39] waldekmastykarz commented on #2934
The `downloadteamssolution` API is available only on the tenant app catalog.

[2022-01-20 17:38] appieschot commented on #2963
Totally makes sense; only thing I am not sure about is the `m365 outlook room list --roomlistEmail`. We potentially can update a room as well (new number or title: https://docs.microsoft.com/en-us/graph/api/place-update?view=graph-rest-1.0&tabs=http). We could use a `m365 outlook room set --roomlistEmail` but that might be confusing if we do not have a get for a single room.

[2022-01-20 18:28] garrytrinder commented on #2961
I was thinking more of `PowerPlatformTenantType` as the setting name as an alternative to `Endpoint`, it doesn't feel to me an an appropriate name for it albeit it's used in the official commands.

[2022-01-20 20:39] garrytrinder commented on #2899
Great 👍🏻

@waldekmastykarz @appieschot if we all agree then I propose we update the spec so we are clear on the design.

[2022-01-20 21:06] martinlingstuyl commented on #2916
Work continues :-) I've submitted my PR on this. I'm curious as to your ideas about my implementation. There are a few points of interest... I just chose a route through it.

[2022-01-20 21:37] garrytrinder commented on #2916
Thank you for your contribution @martinlingstuyl

The pull request process is a better place to discuss implementation details as we can comment and feedback directly against the code, whilst being able to track those changes until the PR is ready to be merged, it is a collaborative process 👍

[2022-01-20 22:20] martinlingstuyl commented on #2916
I concur

[2022-01-21 08:39] garrytrinder commented on #2963
I'm unsure on this one, why would we need to provide an identifier to the room list when updating a room?

Btw, the implementation for the `places` endpoint seems odd to me, the same endpoint but can return two different objects, `room` and `roomList` depending on the input value given, also the relationship between a `roomList` and `room` is read-only in the docs, so not sure how we would update

[2022-01-21 09:25] appieschot commented on #2963
Well happy to know that I am not the only one who is struggling a bit. Ill try and spend a few more minutes on reading more docs to figure out a better way. In Exchange a place is actually a `resource` from a technical perspective but that still doesn't make much sense if we only return rooms..

[2022-01-21 10:23] garrytrinder commented on #2963
Naming is hard 😂

[2022-01-21 12:29] appieschot commented on #2961
Like the `PowerPlatformTenantType` minor bump for @pnp/cli-for-microsoft-365-maintainers but for me that settles it :D

[2022-01-21 20:48] robdy opened #2968 "Bug report: Screenshot in 'Using own identity' article is outdated"
### Description

Screenshot about Default client type has different option under 'Advanced settings'. This is misleading for a reader.

### Steps to reproduce

Go to https://pnp.github.io/cli-microsoft365/user-guide/using-own-identity/#configure-authentication-settings

Scroll down to the 4th screenshot

### Expected results

Image should be: ![image](https://user-images.githubusercontent.com/1511

[2022-01-21 20:49] robdy commented on #2968
I can volunteer to fix this 👍

[2022-01-21 21:00] garrytrinder commented on #2968
Good catch 👍🏻

All yours @robdy thank you for your help ❤️

[2022-01-22 13:19] appieschot commented on #2772
@veronicageek thanks for opening this one up again! Quick question from me; as the `m365 spo file list` returns the `lenght` the same way the `m365 spo file get` any reason you run both in the sample script? Happy to learn if I mis anything; otherwise ill pick it up and filter out the empty files to prevent issues.

[2022-01-22 14:19] veronicageek commented on #2772
@appieschot - No reason 😅
I've just tested without the `m365 spo file get` and it gives the same results...

[code]

[2022-01-22 15:23] appieschot commented on #2772
Cool lets see if I can find a way to exclude files we don't want /or prevent errors!

[2022-01-22 15:47] appieschot commented on #2772
Thank I have it solved, the problem was not the libraries being used but rather that some libs are having spaces in the `title` and the CLI doesn't like those. Using a `--folder $lib.Url` solved all problems. Thanks for all the hard work, now lets hope I didn't mis anything 🤭

[2022-01-22 15:49] appieschot commented on #2768
Looks like the same problem as we had in #2770 will pick it up

[2022-01-22 16:02] waldekmastykarz commented on #2961
Great suggestion. Aren't DOD, GCC, etc. cloud types? Also, should we require users to specify it or shall we rather handle it end to end? If you use a different cloud, wouldn't you also need to login to that cloud using the correct AAD login URL (which we currently don't support)?

[2022-01-22 16:04] waldekmastykarz commented on #2963
Since the API returns both rooms and room lists, shouldn't we follow the API and use `outlook place list` which is generic enough to accommodate both rooms and room lists?

[2022-01-22 16:08] waldekmastykarz commented on #2916
I came across this a few times as well. So far, it was sufficient to extend the list command after all, but if we're to follow what you're suggesting, then we'd need to refactor how the method works so that it doesn't store results in a class-level variable but rather returns all data and the caller can decide how it wants to handle/store it.

[2022-01-22 16:13] waldekmastykarz commented on #2952
I've updated the spec to reflect our discussion

[2022-01-22 16:14] waldekmastykarz commented on #2945
Excellent, please let us know the outcome once you had a chance to look at it.

[2022-01-22 16:17] waldekmastykarz commented on #2955
All yours @Jwaegebaert! We appreciate your help! Let's keep the PRs separate. It's easier for us to review them that way, especially as they affect two different commands.

[2022-01-22 16:25] Jwaegebaert commented on #2955
Okaj great, then I would like to start on this one if possible.

[2022-01-22 16:31] garrytrinder commented on #2963
I'd didn't realise at first that was the case, let's stick to `places` 👍🏻

[2022-01-22 16:51] appieschot commented on #2961
@waldekmastykarz Great question; I think you can get `preview` one assigned to your tenant without having to login to a different AAD login but for the others I am not sure ..

[2022-01-22 21:45] veronicageek commented on #2283
@waldekmastykarz @garrytrinder - Happy to be assigned to it.

[2022-01-23 10:41] SmitaNachan commented on #2946
Can I work on this?

[2022-01-23 10:43] garrytrinder commented on #2283
All yours @veronicageek thank you for your help ❤️

[2022-01-23 10:56] nanddeepn commented on #2948
Can I work on this?

[2022-01-23 12:33] alaakh42 commented on #2945
Hey @waldekmastykarz, I found some time to do the upgrade over the weekend.

nodejs version: **v16.13.2**
m365 cli version: **v4.3.0**
running the command:
`m365 spo web installedlanguage list --webUrl "https://vodafoneitc.sharepoint.com/sites/testhubsite"`
I get the following ` Error: Exception of type 'Microsoft.IdentityModel.Tokens.AudienceUriValidationFailedException' was thrown.`

[2022-01-23 12:49] garrytrinder commented on #2817
Auth.spec.ts

<img width="529" alt="image" src="https://user-images.githubusercontent.com/11563347/150677820-23123c77-d326-49c2-b4a5-fce00d5a5603.png">

<img width="860" alt="image" src="https://user-images.githubusercontent.com/11563347/150677837-fbeb89ad-2de7-4c5b-aec9-ca6008ef3b89.png">

MsalCache.spec.ts

<img width="464" alt="image" src="https://user-images.githubusercontent.com/11563347/1506

[2022-01-23 13:02] Adam-it commented on #2945
@alaakh42 lets also try to logout and login and reconsent to all the permissions that should be given to the CLI to be sure.
So please lets:
1. logout `m365 logout`
2. then please find the PnP Management Shell in the Azure AD and remove it
![image](https://user-images.githubusercontent.com/58668583/150679584-5ea4db36-fa7e-4956-965a-1c80c958847d.png)
3. then login using `m365 login`
4. please be su

[2022-01-23 13:31] garrytrinder commented on #2817
I've pushed my branch with the changes

https://github.com/garrytrinder/cli-microsoft365/tree/mocha-test-explorer

Needs testing to understand the performance impact of the change needed to import the `omelette` package.

[2022-01-23 14:08] waldekmastykarz commented on #2817
Omelette is not the only package that we load on runtime so theoretically we should see similar failures in other areas as well.

[2022-01-23 14:10] waldekmastykarz commented on #2945
m365 spo web installedlanguage list --webUrl "https://vodafoneitc.sharepoint.com/sites/testhubsite"
I get the following Error: Exception of type 'Microsoft.IdentityModel.Tokens.AudienceUriValidationFailedException' was thrown.

@alaakh42 have you logged in to this tenant before running this command? If you run the `m365 status` command, what account do you see? Is it one from the same tenant as wh

[2022-01-23 14:12] waldekmastykarz commented on #2948
Please do @nanddeepn 👏

[2022-01-23 14:13] waldekmastykarz commented on #2946
Please do @SmitaNachan 👏

[2022-01-23 14:16] alaakh42 commented on #2945
It is working now and I am able to retrieve the installed languages. Thanks @waldekmastykarz  @Adam-it

I believe it was fixed by the upgrade for both nodejs and m365 cli

[2022-01-23 14:18] waldekmastykarz commented on #2945
Excellent! Thank you for confirming @alaakh42 👏

[2022-01-23 14:18] #2945 closed

[2022-01-23 14:23] waldekmastykarz commented on #2961
Let's have a close look at it before we proceed

[2022-01-23 14:24] waldekmastykarz commented on #2963
But then singular `place` 😎

[2022-01-23 14:25] waldekmastykarz commented on #2955
All yours @Jwaegebaert. Thank you! 👏

[2022-01-23 17:02] garrytrinder commented on #2817
Ok, so this is a little odd, I decided to take another look at the code in my branch, that I'm sure I had committed, but it looks like I have it working without needing to change the code like I had before 🚀

[2022-01-23 17:14] garrytrinder commented on #2817
Debugging of tests is working nicely 🚀

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/11563347/150689858-334c727b-ab92-42d3-b55a-62421ca694ab.png">

[2022-01-23 18:24] Adam-it commented on #2882
@garrytrinder I see no one wanted to take this one and since I am more or less free with other stuff on this repo maybe I could take this and try to add this command? What do you think? Could I get assigned?

[2022-01-23 18:41] #2921 closed

[2022-01-23 19:13] #2824 closed

[2022-01-23 20:39] garrytrinder commented on #2882
All yours @Adam-it thank you for your help 👍

[2022-01-24 08:41] garrytrinder commented on #2817
Ok, so apart from updating the names of the test cases I think this is a good MVP position.

Easiest way to test this is to create a new Codespaces/Remote Container from my branch as I have included the required extensions into the `devcontainer.json` file so they will be auto installed.

However you can manually install the [Test Explorer UI](https://marketplace.visualstudio.com/items?itemName=hb

[2022-01-24 09:27] martinlingstuyl commented on #2899
I updated the specs. And I reintroduced the shorts @waldekmastykarz.

[2022-01-24 15:38] arjunumenon opened #2977 "Bug report: Update short URL for creating new issue from CLI"
### Description

The redirect URL of short URL which will be returned when you execute the following commands is taking to the old GitHub issue creation URL. It currently redirects to the old URL of the GitHub issue creation.

Following are the URL changes which needs to be done.
ShortURL | OLD URL | NEW URL
-- | -- | --
https://aka.ms/cli-m365/bug  | [Old Bug URL](https://github.com/pnp/cli-micro

[2022-01-24 15:41] arjunumenon commented on #2977
Hello @waldekmastykarz  - Guess we need to update the aka.ms short URL so that new Form template URL for GitHub will be opened. Will you be able to update the same please.

[2022-01-24 16:27] waldekmastykarz commented on #2977
Good catch @arjunumenon. Both aka.ms links are now updated.

[2022-01-24 16:27] #2977 closed

[2022-01-24 16:28] appieschot commented on #2961
So you can get whitelisted for `preview` (MS employees might get whitelisted for `tip1`). Those environments do not require a different authentication approach; so we should support those. assuming we should also do `tip2` to be sure. The others I have no clue if we can figure out how to support those. Would those environments allow connections if you would use the OOB Azure AD App registration (a

[2022-01-24 16:33] appieschot commented on #2477
Duplicate of #2957

[2022-01-24 16:33] #2477 closed

[2022-01-24 18:53] appieschot commented on #2977
Must have been the fastest turnaround ever 🦾

[2022-01-24 20:25] appieschot commented on #2963
Updated specs, please review @pnp/cli-for-microsoft-365-maintainers before I open it up ;-)

[2022-01-25 08:24] appieschot opened #2978 "Refactor"
Discussion started here: https://github.com/pnp/cli-microsoft365/pull/2918#issuecomment-1019300287

We currently have some base methods that provide helper functionality in that base class. We also use the `getAppObjectId` in the `m365 aad app` commands. We could pick to have a an abstracted `AppCommand` class so we can have 1 implementation instead of the multitude we have now (used in `app-get`,

[2022-01-25 09:46] appieschot commented on #2245
Since we have `m365 planner plan add`, `m365 planner bucket add` and `m365 planner task add` this one can be picked up again 🚀

[2022-01-25 12:20] waldekmastykarz commented on #2978
There was also another thread related to the `getAllItems` method that we have in some base classes and which is responsible of retrieving all data from paged results. There are some limitations in the current implementation and the suggestion was to change its implementation so that it can be used as a utility rather than something tied to a base class.

The original motivation behind implementin

[2022-01-25 12:25] waldekmastykarz commented on #2963
Is the `type` required or can we make it an optional filter?

[2022-01-25 12:26] #1957 closed

[2022-01-25 12:27] waldekmastykarz commented on #1957
Agreed! ....and closed

[2022-01-25 12:29] waldekmastykarz commented on #2961
If we're talking about different clouds (GCC, Azure Germany, etc.) then you need an AAD app registered in that cloud to connect to it and you need to use the specific set of URLs tied to that cloud to login. I don't know though if that's in any way related to Power Platform clouds/environments or not.

[2022-01-25 13:55] appieschot commented on #2961
Technically speaking the way Power Platform works (in PowerShell is as follows):
- you log in using an account (by default it logs you into the production environment)
- you can specify a `Environement` parameter
- Each time you execute anything against the Power Platform a helper method is called to determine the correct Power Platform URI
- By no parameter it falls back to the default (productio

[2022-01-25 13:56] appieschot commented on #2963
Technically it could be optional; functionally I am not sure if you would retrieve both rooms and roomlists in a single call (not really see a use case for that). But I did update the specs to clarify that.

[2022-01-25 15:26] waldekmastykarz commented on #2961
Does the login command allow you to specify the cloud?

[2022-01-26 09:21] to-s opened #2982 "New command: m365 notes"
### Usage

`m365 notes pages list` / `m365 notes pages get` / `m365 notes pages patch` / `m365 notes pages add`

### Description

List, get, patch, create and patch onenote notebooks, sections and pages.

### Options

m365 notes pages list
Option | Description
-- | --
`-ui, --uid <id>` | ID of the user. Specify uid or gid but not both.
`-gi, --gid <id>` | ID of the group. Specify uid or gid but no

[2022-01-26 13:45] waldekmastykarz commented on #2982
Thank you for the feature request @to-s. To keep the work manageable, I'd suggest that we break the issue into 4 separate commands. That way, more folks can help with the implementation and we can track the progress independently.

As for the spec, let's consider a few adjustments before we continue:
- in command names, we use singular nouns, so `page` instead of `pages`
- options will differ betw

[2022-01-26 19:38] waldekmastykarz opened #2983 "Add support for upgrading SPFx projects to v1.14.0-beta.5"

[2022-01-26 20:54] gavdgavd opened #2984 "Bug report: "flow get" command returning error "Cannot read properties""
### Description

Using the "flow get" command returns the error "Cannot read properties of undefined (reading 'triggers')"

### Steps to reproduce

1 - Create a flow (Power Automate) with two steps:
      - Star step with "Manually trigger a flow"
      - Step "Send an email notification (V3)" fully configured
2 - Test that the flow runs correctly using the Power Automate interface
3 - Create the

[2022-01-26 21:07] robdy commented on #2922
Seems like all the prerequisites are now ready. I can work on this.

[2022-01-26 21:31] veronicageek commented on #2767
@ktskumar - Are you still working on this? I've got a script ready that needs this `--recursive` parameter so it can be useful 🙂
@waldekmastykarz - I'll create an issue for a new sample script and reference this parameter needs to be in place before my PR.

[2022-01-26 21:45] veronicageek opened #2985 "New sample script: List empty folders on a Site (for multiple libraries)"
|Docs||
|-----|----|
|Author| [Veronique Lengelle](https://twitter.com/veronicageek) |
|Original Post| https://veronicageek.com/2020/find-empty-folders-in-spo |
|Description| This script will list all the empty folders for each library on a specific site. This can be useful for Governance, especially with the number of libraries we can create in SharePoint. |
|Keywords| `SharePoint Online` `Govern

[2022-01-26 21:46] veronicageek commented on #2985
Happy to be assigned to it, script ready 🙂

[2022-01-26 22:33] alaakh42 commented on #2953
As referred here in this [repo](https://github.com/pnp/PnP/tree/master/Samples/Core.Settings.LocaleAndLanguage#controlling-supported-languages), I don't think there is a SharePoint REST API to add and remove installed languages but I am thinking it could be something like this: https://vodafoneitc.sharepoint.com/sites/testhubsite/_api/web/RegionalSettings/AddSupportedUILanguage()

[2022-01-27 00:03] akashkarda commented on #2963
Hi Team, I would like to contribute to PnP community, can I take this one as my first contribution?

[2022-01-27 07:43] waldekmastykarz commented on #2963
Excellent! Please do @akashkarda and don't hesitate to let us know if you need any help 👏

[2022-01-27 07:44] waldekmastykarz commented on #2953
@alaakh42 thank you! If the REST API you shared works, then we could definitely add a command around it. Do you have any more information about how to use this API?

[2022-01-27 07:44] waldekmastykarz commented on #2985
Awesome! All yours!

[2022-01-27 07:45] waldekmastykarz commented on #2922
Awesome! All yours 👍

[2022-01-27 07:46] waldekmastykarz commented on #2984
Thank you for reporting the issue @gavdgavd and sorry for the trouble. We'll get to it asap

[2022-01-27 13:38] akashkarda commented on #2963
@waldekmastykarz Thank you! Quick Question - As the endpoint for Room and Roomlist are different, we cannot get both in a single call. Can we make Type as required option?

[2022-01-27 15:44] waldekmastykarz commented on #2963
Good catch! Is the data retrieved for the two endpoints the same or different?

[2022-01-27 15:53] akashkarda commented on #2963
@waldekmastykarz -  It is different, room has many properties like capacity, building, floorNumber, audio video device and many more. This properties are not available for Roomlist.

[2022-01-28 05:10] plamber opened #2988 "Bug report: no error message is thrown if an invalid output is selected"
### Description

During my code validations, I noticed that you can pass any type of output value in the output flag. This shouldn't be possible since we are only supporting three major outputs "JSON, TEXT, CSV".

At first glance, it looks like it falls back to TEXT. If this is the intended behavior, then we should change it in a way to return the new default output which is JSON.

### Steps to re

[2022-01-28 08:00] #2983 closed

[2022-01-28 08:00] #2772 closed

[2022-01-28 08:00] #2935 closed

[2022-01-28 08:03] waldekmastykarz opened #2989 "Refactor helper methods: utils class vs command classes"
### Discussed in https://github.com/pnp/cli-microsoft365/discussions/2979

<div type='discussions-op-text'>

<sup>Originally posted by **appieschot** January 25, 2022</sup>
Discussion started here: https://github.com/pnp/cli-microsoft365/pull/2918#issuecomment-1019300287

We currently have some base methods that provide helper functionality in that base class. We also use the `getAppObjectId` in t

[2022-01-28 10:08] appieschot commented on #2984
Minor additional detail the command will not fail if you run the script without `--asAdmin` parameter.  When we use the `--asAdmin` we get a different response, the main difference is the size (with the admin the same flow is 20.000 lines vs 200 lines without the admin parameter), and with the `asAdmin` we do not get a `definition` object.

The problem lies in line 51 of the `flow-get`:
`res.trigg

[2022-01-28 12:12] gavdgavd commented on #2984
Albert-Jan: confirmed that it happens only when using the --asAdmin parameter. Thanks for your help.

[2022-01-28 13:50] waldekmastykarz commented on #2988
Good catch. We should validate the specified output type, just like we do with any other option

[2022-01-28 13:51] waldekmastykarz commented on #2963
In that case, I'd say that we should have two separate commands. What do you think @appieschot?

[2022-01-28 16:01] martinlingstuyl commented on #2939
Hi Waldek,

You can assign me on this one...

[2022-01-28 18:57] appieschot commented on #2963
That would bring us back to the discussion as to what the best command structure would be 😆. Two commands could work; we would get `m365 outlook place room list` and `m365 outlook place roomlist list` I guess? The `-type` parameter could then be skipped and the `-roomlistEmail` parameter would only be available on the `room list` parameter as that is the only place where you can filter. Happy to c

[2022-01-28 18:59] appieschot commented on #2939
Awesome! Assigned 🚀

[2022-01-28 20:46] robdy opened #2993 "New command: m365 outlook message get"
### Usage

m365 outlook message get [options]

### Description

Retrieves specified message

### Options

Option | Description
-- | --
`-i, --id <id>` | The Id of the message
`--userId [userId]` | The id of the userfrom which to get the message
`--userPrincipalName [userPrincipalName]` | The UPN of the user rom which to get the message

### Additional Info

Above to be added to the docs.

#### Ope

[2022-01-29 09:37] nanddeepn commented on #2948
Hi @plamber, @waldekmastykarz
We can have an optional parameter as below:

`-s, --service [service]`
Retrieve service health issues for the particular service. If not provided, retrieves health issues for all services

Please sugget.