[2022-11-18 10:48] appieschot opened #4107 "New command: `m365 pp chatbot get`"
### Usage

m365 pp chatbot get

### Description

Get information about the specified chatbot

### Options

Option | Description
-- | --
`-i, --id [id]` | The ID of the chatbot. Specify either `id` or `name` but not both.
`-n, --name [name]` | The Name of the chatbot. Specify either `id` or `name` but not both.
`-e, --environment <environment>` | The name of the environment for which to retrieve av

[2022-11-18 10:49] appieschot commented on #4106
@pnp/cli-for-microsoft-365-maintainers please review

[2022-11-18 10:49] appieschot commented on #4107
@pnp/generator-teams-maintainers please review :)

[2022-11-18 10:53] appieschot commented on #3670
Note to self: https://learn.microsoft.com/en-us/power-automate/web-api we can use this to retrieve flows as well :)

[2022-11-18 11:14] Jwaegebaert commented on #4107
I've a few remarks we could add.

- Let's add a short option for `--asAdmin`
- Maybe remove the IDs from the example descriptions
- The example options contain a single dash, so let's change those to doubl dashes

[2022-11-18 11:15] Jwaegebaert commented on #4107
Besides that, looks good for me 😄 Great job!

[2022-11-18 12:03] Jwaegebaert commented on #4106
I've a few remarks we could add.

- Let's add a short option for `--asAdmin`
- Maybe remove the IDs from the example descriptions
- The example options contain a single dash, so let's change those to doubl dashes

Besides that, looks good for me 😄 Another great job!

[2022-11-18 12:05] Jwaegebaert commented on #4095
We could write an eslint rule for that. Then it would be easier to maintain the order.

[2022-11-18 12:55] milanholemans commented on #4107
Maybe another enhancement is to let the user also specify the bot name.
Apart from that, looking good 👍

[2022-11-18 12:57] milanholemans commented on #2852
Forgot to open the issue back up again.

[2022-11-18 13:02] MathijsVerbeeck commented on #2852
I could work on this!

[2022-11-18 13:03] milanholemans commented on #2852
Aaand it goes back into "in progress" 😃

[2022-11-18 13:11] milanholemans commented on #4104
Hi @JJFranko

Node.js version `16.14.8` doesn't exist. Could you run the `m365 cli doctor` command and paste the output here please?

[2022-11-18 13:32] nicodecleyre commented on #4107
This can be obtained by the api `dynamicsApiUrl/api/data/v9.0/bots?$filter=name eq '[Botname]'`

[2022-11-18 13:41] JJFranko commented on #4104
Sorry - 16.14.8 was a typo.  I'm on 16.18.1.
I just uninstalled and then re-installed the CLI (elevated prompt). Then launched code from the folder w/project (again, elevated).

========================================

**Running this:` nvm list`
Results in this:**
    19.1.0
    18.4.0
  * 16.18.1 (Currently using 64-bit executable)
    16.15.1
    14.21.1
    14.19.3

===========================

[2022-11-18 15:02] MathijsVerbeeck commented on #2852
I have noticed that we currently have to provide a value in the one of the following options when calling `aad user set`:
- `objectId`
- `userPrincipalName`
The API-call to change the password is only possible on the `me` endpoint, so in my opinion, it wouldn't be useful to add the functionality to this command, but rather create a new command for this (e.g. `aad user password set`).

What is your

[2022-11-18 15:06] MathijsVerbeeck commented on #2852
Another possibility would be to call the following endpoint, but I'm not sure if this is the way-to-go:
![image](https://user-images.githubusercontent.com/9193870/202735911-9a1bcfa1-19fe-4245-8515-734c90d4476f.png)

[2022-11-18 16:26] milanholemans commented on #3911
Hi @waldekmastykarz

Just played a bit around. I can't find much documentation about the new endpoint `SP.MoveCopyUtil`, but from my findings, this request completes when the file has been copied. The larger the file, the longer it takes for the request to complete.
I wrote a script that copied the file using this new endpoint, after this I immediately loaded the destination file, the script never

[2022-11-18 17:11] milanholemans commented on #4059
I think we can open this up right?

[2022-11-18 17:29] milanholemans commented on #4104
Hi @JJFranko
In the latest stable release there is indeed a bug that prevents users from using `md` or `tour` output.
We fixed this in our current beta release.
Original post: https://github.com/pnp/cli-microsoft365/issues/3979

So when you download our latest beta release via `npm i -g @pnp/cli-microsoft365@next` you'll be able to use these options again. https://github.com/pnp/cli-microsoft365/i

[2022-11-18 17:38] JJFranko commented on #4104
Message received and confirmed. BUG FIXED!
I now am able to generate both a tour and also a .md file
Thank you for following up and tracking/squashing that bug.
I appreciate it very much!

[2022-11-18 17:40] milanholemans commented on #4104
Ok awesome! Thank you for using our tool and giving us feedback!

Will close this issue.

[2022-11-18 17:40] #4104 closed

[2022-11-18 18:50] #3449 closed

[2022-11-18 18:50] #3859 closed

[2022-11-18 20:25] milanholemans opened #4109 "Create `Telemetry` page"
It's very important to be transparent to our users. CLI uses telemetry to track the usage of commands, while this project is open source, it's not trivial for everyone to check what we are actually logging.
Therefore we could add a new docs page where we explain what we are actually logging and why. According to me, this page should go under the 'about' tab.

[2022-11-18 20:27] milanholemans commented on #4109
@pnp/cli-for-microsoft-365-maintainers good idea? Remarks?

[2022-11-18 20:42] appieschot commented on #4107
@Jwaegebaert we use the `--asAdmin` in a whole lot of commands and we never use a short for it. For me it feels like we should not introduce a short for 'enforcing' an admin run but thats my 2ct. Will update with name

[2022-11-18 20:44] milanholemans commented on #4106
Also here, maybe we could include the bot name as well.

[2022-11-18 20:46] appieschot commented on #4106
Updated as #4107 and still not added a short for the `--asAdmin`. Let's pull that one into a separate issue and replace everywhere if we feel like that should be done 🦾

[2022-11-18 20:49] appieschot commented on #4109
Agree we should be transparent about that, having a location with some details to quickly glance what is tracked would make sense for me :)

[2022-11-18 20:50] Jwaegebaert commented on #4107
I wouldn't say never because there are a bunch of pp comands, for example, that make use of the short option. 😄

[2022-11-18 22:18] Adam-it commented on #4037
done ✅

[2022-11-18 22:18] Adam-it commented on #4037
@pnp/cli-for-microsoft-365-maintainers any other remarks or should we open this up ?

[2022-11-18 22:27] Adam-it commented on #3787
@martinlingstuyl should ii be possible to add user and aadgroup at the same time ?
if not maybe we should extend the options description so that only one is possible. Either: `userName` or `email` or `aadGroupId` or `aadGroupName`
besides that looks good 👍

[2022-11-18 22:40] martinlingstuyl commented on #3787
Yeah, I was not sure about that. The question is: what is clearer for the end user...

[2022-11-18 22:44] Adam-it commented on #3772
@waldekmastykarz sorry for the late reply on this. So I checked this and the result is quite promising. it seems this would be our 'error' list to be corrected
It seems that `args.options.option` reassignment is also considered. Also, many internal private methods inputs are overwritten like when setting webpart properties etc. this will need refactoring as well.

@pnp/cli-for-microsoft-365-mainta

[2022-11-18 22:45] Adam-it commented on #3787
I would say adding either user or aadgroup in one go. But I am open for an alternative approach here 😉

[2022-11-18 22:46] martinlingstuyl commented on #2852
I'm not sure. In the UI, resetting the password is separate from other properties. That would speak for option one.
We could add an optional userId option in there so you can change passwords for yourself AND others as well.

[2022-11-18 22:54] martinlingstuyl commented on #3772
That's quite a list and a lot of work probably. But I do think this is they way to go. A good rule like this will eventually improve the quality of our code...

[2022-11-18 23:00] MathijsVerbeeck commented on #2813
I could give this a go.

@martinlingstuyl @waldekmastykarz  Am I correct that I should mostly pay attention to the following and use the rest of the documentation as reference?
![image](https://user-images.githubusercontent.com/9193870/202817046-ff5e97e7-93b4-4120-8685-ccb2c8445959.png)

[2022-11-18 23:32] Adam-it commented on #3772
I agree.
Since this is a lot of work I would not push it for v6 😉. Also not to break the current PR's which maybe we could still merge before v6 release.

[2022-11-19 01:12] #3808 closed

[2022-11-19 07:36] martinlingstuyl commented on #2813
Yes, the lower half was the original.

Don't forget that you can use existing commands to implement this 👍

[2022-11-19 07:37] martinlingstuyl commented on #2813
Thanks @MathijsVerbeeck for picking it up!

[2022-11-19 11:05] appieschot commented on #4107
Hmmm, and here I thought I specked them all. Let's then create a new issue to improve all other commands and update this spec :-)

[2022-11-19 11:28] milanholemans commented on #3676
All done, great job everyone!

[2022-11-19 11:28] #3676 closed

[2022-11-19 12:33] waldekmastykarz commented on #4109
Since we're working on this, we should also add support for disabling the telemetry using a config value, like `disableTelemetry`.

[2022-11-19 13:18] waldekmastykarz commented on #4037
Nothing to add. Let's open it up

[2022-11-19 13:25] waldekmastykarz commented on #2852
I think we've got two scenario's here:

1. Change password for the current reset
2. Reset password for any user

I'd say that scenario 1 fits `aad user set`. Since it's limited to just the current user, we could validate that when the password is specified, the ID matches the current user from the information from the token.

We could implement scenario 2 as part of `aad user set` with options lik

[2022-11-19 13:28] waldekmastykarz commented on #3772
Sometimes this is by design. If the methods args are not coming from user input, and there's a valid need to overwrite them, we should be able to do so.

We'll always have open PRs that could be possibly be affected by this, so I don't think we'll be able to escape some breaking changes, v6 or not. That's just inherent for a refactoring of that sort.

[2022-11-19 13:55] MathijsVerbeeck commented on #2852
But then we would always require the user to specify it's own userId or email address. Wouldn't it be possible to add let's say an option `--currentUser` that goes into the same optionset as `userPrincipalName` and `objectId` in which case we will call the `/me` endpoint (or we indeed get the objectId from the bearer token) instead of `/users/{UPN}`? We can then still implement the extra checks fo

[2022-11-19 15:13] MathijsVerbeeck commented on #2813
Just one final question.

In the specs, we specify the `--appId`, however, in the description, we state that we retrieve the appId from the `.m365rc.json` file.  Also we describe it below in the example: Grant multiple API permissions to the current AAD app.

What should we do. Should I add the option `appId` or do we only support adding permissions to the application specified in the .m365rc.json

[2022-11-19 15:32] MathijsVerbeeck commented on #2813
I think that I already found an answer to my own question by looking at the documentation of the command `app open`.  I will add the appId as an optional parameter as done there ;-)

[2022-11-19 15:42] nicodecleyre commented on #4107
Would love to work on this one!

[2022-11-19 16:20] waldekmastykarz commented on #2852
Correct. The easiest way to do it is to use the `@meId` token: https://pnp.github.io/cli-microsoft365/user-guide/using-cli/#meid-and-meusername-tokens

[2022-11-19 16:26] MathijsVerbeeck commented on #2852
Alright. I'll give this one a go with what we know now and we can always review later if it is indeed the way to go.

[2022-11-19 16:27] waldekmastykarz commented on #2852
Awesome! I appreciate your help @MathijsVerbeeck 👏

[2022-11-19 16:29] waldekmastykarz commented on #3911
Thorough research @milanholemans. Nothing more to add. Let's follow your recommendation and get it in v6.

[2022-11-19 16:36] appieschot commented on #4107
You are on fire!

[2022-11-19 17:40] garrytrinder opened #4116 "Epic: Align commands that return Microsoft Teams apps"
In the Microsoft Graph an installed Microsoft Teams app is represented by the `teamsAppInstallation` resource type, which has two relationships, `teamsApp` and `teamsAppDefinition`, which provide further information about the app store distribution method used and the version specific information about the app when they are both included in the `$expand` query parameter.

Currently in the CLI we h

[2022-11-19 19:22] waldekmastykarz opened #4117 "Extend CLI output docs with CSV output"
A while back we've introduced the csv output, but it seems like we don't explain it in the [CLI output docs](https://pnp.github.io/cli-microsoft365/user-guide/cli-output-mode/). We should explain how it works and how it shows data.

[2022-11-19 19:25] waldekmastykarz commented on #4116
Interesting. Do you know if this difference is coming from Graph or from our implementation? If the former, before we commit to this change, I'd be interested to understand why it's different.

What's also interesting: why is adding `teamsApp` data to `teams user app list` non-breaking, but adding `teamsAppInstallation` and `teamsAppDefinition` to `teams app list` breaking?

[2022-11-19 21:03] Adam-it commented on #3772
ok so if we all agree I will start working on resolving those issues and if something will be 'by design' I will leave it as is so that we may double-check during PR review

[2022-11-19 21:32] nicodecleyre commented on #4106
Can i work on this one?

[2022-11-19 21:33] milanholemans commented on #4106
Definitely!

[2022-11-19 21:50] nicodecleyre commented on #4106
Just for the record. When you perform a DELETE request to `dynamicsApiUrl/api/data/v9.0/bots([botid])`, it results in a 400 Bad Request. This is because the bot has a lot of dependencies (bot components) and the bot can't be deleted before the bot components are deleted.

To obtain a deletion of a chabot with a single api, you have to perform a POST request to `dynamicsApiUrl/api/data/v9.0/bots([b

[2022-11-19 21:58] garrytrinder commented on #4116
Great comments @waldekmastykarz let me expand

In the case of `m365 teams user app list` its our implementation, we only expand the `teamsAppDefinition` relationship. We can add the `teamsApp` relationship to the existing $expand query parameter and add that to the output, I don't see this as a breaking change as we are just adding new property to the existing shape, i.e. the existing properties a

[2022-11-20 10:07] nanddeepn commented on #4059
Can I work on this?

[2022-11-20 10:10] milanholemans commented on #4059
Sure thing @nanddeepn!

[2022-11-20 10:10] nanddeepn commented on #4095
Can I work on this?

[2022-11-20 10:27] nicodecleyre commented on #4117
Can I work on this?

[2022-11-20 18:33] waldekmastykarz opened #4124 "Enforce unique test names using eslint"
Let's see if we can enforce unique test names using a custom eslint rule. I'd suggest that we aim for unique names within a `describe` clause.

_Originally posted by @garrytrinder in https://github.com/pnp/cli-microsoft365/issues/4123#issuecomment-1321202368_

[2022-11-20 19:38] MathijsVerbeeck commented on #3171
Could I pick this one up? 🙂

[2022-11-20 19:46] milanholemans commented on #3171
Certainly @MathijsVerbeeck!

[2022-11-20 21:57] martinlingstuyl commented on #4095
Sure @nanddeepn, thanks for picking it up! ❤️

[2022-11-20 22:01] martinlingstuyl commented on #4095
I'd personally say: let's just pick these things up in our PR reviews, as we are already doing. We could add an extra note in the PR checklist for example.

[2022-11-20 22:04] martinlingstuyl commented on #4124
If you're using the Mocha Test explorer, you'll see duplicated tests highlighted with a warning icon. I picked out two of those last week when fixing some tests.

[2022-11-20 23:07] MathijsVerbeeck commented on #3171
As the API call is `/external/connections/{id}/schema`, am I right to assume that I should place the command under `search` - `externalconnection` and name the command `externalconnection schema add`? If so, could you please update the specs file? I've read through the documentation and can't really see why it should be placed directly under `search`.

[2022-11-20 23:35] #3925 closed

[2022-11-20 23:35] #3931 closed

[2022-11-20 23:35] #4086 closed

[2022-11-20 23:35] #2226 closed

[2022-11-21 10:02] nanddeepn commented on #4093
Can I work on this?

[2022-11-21 15:29] waldekmastykarz commented on #4116
Thanks for the additional information. You're right. Let's align this now and include as a breaking change in v6

[2022-11-21 16:39] nicodecleyre commented on #3650
Can i work on this one?

[2022-11-21 17:57] milanholemans commented on #3900
Hi @Jwaegebaert @appieschot @nanddeepn

I was reviewing the PR of @nanddeepn.
We state here in the spec that it's impossible to get a meeting by id, you should always specify the `joinUrl`. However when checking the Graph docs, https://learn.microsoft.com/en-us/graph/api/onlinemeeting-get?view=graph-rest-1.0&tabs=http#example-2-retrieve-an-online-meeting-by-meeting-id this seems possible?

[2022-11-21 18:25] appieschot commented on #3900
@milanholemans how do you get that `meetingId`? From the docs the only way seems to be if you create the meeting through the API (a call we currently do not have)?

[2022-11-21 18:32] milanholemans commented on #3900
@appieschot when I run the command `teams meeting list`, I seems to be getting the ID of the meeting as well.

![image](https://user-images.githubusercontent.com/11723921/203132839-6c621828-1bdc-421f-a694-2bda2d0fdd97.png)

[2022-11-21 19:10] appieschot commented on #3900
Hmm, and if we use that ID it does work? Would be nice :-)

[2022-11-21 19:16] milanholemans commented on #3900
Haven't tested it yet, but according to the docs it should. Will test in a minute.

[2022-11-21 20:31] garrytrinder opened #4128 "Enhancement: Extend `m365 teams user app list` output with `teamsApp` relationship data"
Currently we only expand the `teamsAppDefinition` relationship in the query to retrieve the list of apps installed for a given user. We should include the `teamsApp` relationship to the existing `$expand` query parameter and add that to the output.

This returns information about the app distribution method used, which enables us to distinguish between apps that are installed from the `store`, `or

[2022-11-21 21:05] garrytrinder opened #4129 "New command: `m365 teams team app list`"
### Usage

`m365 teams team app list`

### Description

List apps installed in the specified team

### Options

Option | Description
-- | --
`-i, --id [id]` | The Id of the Microsoft Team to list installed apps from. Specify either `teamId` or `teamName` but not both
`-n, --name [name]` | The display name of the Microsoft Team to list installed apps from. Specify either `teamId` or `teamName` but

[2022-11-21 21:14] garrytrinder opened #4130 "Enhancement: Remove ability to return installed apps in a Microsoft Team from `teams app list` command"
This issue will remove team specific implementation from `teams app list` command to ensure single responsibility and make it specific to returning a list of apps from the app catalog.

- [ ] Remove `--teamId` and `--teamName` options
- [ ] Remove `--all` option
- [ ] Add a new optional option called `distributionMethod`, which can be either `store`, `organization` or `sideloaded` to filter the ap

[2022-11-21 21:22] garrytrinder commented on #4116
OP updated to be an epic and issues created

[2022-11-21 22:34] milanholemans commented on #3900
Apparently the ID we are getting from `teams meeting list` is an event ID and no meeting ID. So no this doesn't work. Sorry for the hassle, I wonder why it's so hard to just list online meetings.

[2022-11-21 22:43] martinlingstuyl commented on #3986
Assuming the functionality implemented in the Boolean parsing implentation will probably not change significantly anymore, I already checked out what commands are affected and fixed them in some spare time I had. 😇

Now of course, I'm still eagerly awaiting your PR-review @waldekmastykarz. If all is good there, I'll PR this one.

[2022-11-21 23:14] milanholemans commented on #4129
Nice idea @garrytrinder
Few remarks:

- your 2nd example uses `id` instead of `name`
- let's not repeat the IDs etc in the example description. E.g. "List applications installed in a specific Microsoft Teams team"

[2022-11-22 00:17] garrytrinder commented on #4129
Good catch @milanholemans 👍🏻

I've updated incorrect option in the second example.

I've updated the example description, we should also look to update the examples in `teams team get` which I used to be consistent with existing commands.

I've added default properties. I always forget about stating these, so we should consider adding this to the new command template as a new field also.

[2022-11-22 08:05] appieschot commented on #3900
My exact feeling when speccing the commands for these meetings 😂.

[2022-11-22 08:47] Jwaegebaert commented on #3171
Good catch @MathijsVerbeeck, this will make it more aligned with our naming convention, so I'm all for it. @pnp/cli-for-microsoft-365-maintainers what do you think? We already have several search externalconnection commands, so it will fit right in.

[2022-11-22 08:53] Jwaegebaert commented on #4129
Looks good @garrytrinder!

[2022-11-22 09:22] Jwaegebaert commented on #4124
We could make use of the package [eslint-plugin-mocha](https://github.com/lo1tuma/eslint-plugin-mocha) for this scenario. They have a specific rule [no-identical-title](https://github.com/lo1tuma/eslint-plugin-mocha/blob/master/docs/rules/no-identical-title.md) that fits this scenario perfectly 😄

[2022-11-22 12:47] Jwaegebaert opened #4132 "Remove short options for `asAdmin`"
A few commands currently have a short option `-a` for the option `asAdmin`. As discussed here, https://github.com/pnp/cli-microsoft365/issues/4107#issuecomment-1320502875, the specs didn't introduce a short option and it isn't directly necesary to create one for `asAdmin`. With this, let's remove this short option for the following commands:

- pp card clone
- pp card get
- pp card list
- pp datav

[2022-11-22 12:48] Jwaegebaert commented on #4132
I'll pick this one up so we can get this in the v6 release

[2022-11-22 12:52] garrytrinder commented on #4124
Great research @Jwaegebaert 👍🏻 That's sounds perfect.

[2022-11-22 13:02] Jwaegebaert commented on #4124
I can pick this up then, if that's alright for everybody.

[2022-11-22 13:12] MathijsVerbeeck commented on #4129
Pick me!

[2022-11-22 13:39] nicodecleyre commented on #4130
Can I work on this?

[2022-11-22 15:14] Jwaegebaert commented on #4130
Nice going @nicodecleyre. All yours!

[2022-11-22 15:15] Jwaegebaert commented on #4128
All yours @nanddeepn. Keep up the good work! 💪

[2022-11-22 19:39] garrytrinder commented on #4124
All yours @Jwaegebaert 👍🏻

[2022-11-22 19:44] garrytrinder opened #4135 "Add default properties to new command issue template"
We currently don't ask for default properties when creating issues to implement new commands.

These properties are returned when a command is executed when the text output mode is used.

Therefore, we should add a new field to the issue template to provide guidance and capture the properties to be used in the command implementation.

[2022-11-22 19:47] garrytrinder commented on #4130
As this is a breaking change, we should also include this change in the [v6 upgrade guidance](https://pnp.github.io/cli-microsoft365/v6-upgrade-guidance/)

@nicodecleyre are you OK to add this?

[2022-11-22 19:51] nicodecleyre commented on #4130
It's already in the pr :smile:

[2022-11-22 19:54] Jwaegebaert commented on #4135
Great suggestion!

[2022-11-22 20:16] garrytrinder commented on #4130
Awesome 🤩

[2022-11-22 21:44] stijnhaerkenss commented on #4132
I will fix this

[2022-11-22 21:46] stijnhaerkenss commented on #3907
I can work on this

[2022-11-22 21:47] Jwaegebaert commented on #3907
Awesome @stijnhaerkenss. All yours!

[2022-11-22 22:11] nicodecleyre commented on #4030
Can i work on this?

[2022-11-22 22:15] Jwaegebaert commented on #4030
Awesome, all yours @nicodecleyre

[2022-11-22 22:54] milanholemans commented on #3907
Maybe we should also say in the docs: `This method does not support channel meetings.`

[2022-11-22 23:08] Adam-it commented on #3996
@milanholemans @Jwaegebaert @MathijsVerbeeck lets recheck/refresh this one and reconsider @waldekmastykarz last comment 😉

[2022-11-23 00:38] #4038 closed

[2022-11-23 00:38] #4039 closed

[2022-11-23 00:38] #4040 closed

[2022-11-23 00:38] #4041 closed

[2022-11-23 00:53] Adam-it commented on #3972
All done 🤩
nice 👍

[2022-11-23 00:53] #3972 closed

[2022-11-23 08:49] nicodecleyre commented on #4135
Would love to work on this one! Should the field be required?

[2022-11-23 09:11] milanholemans commented on #4135
Since we should only use it for `list` commands, the field should be optional.

[2022-11-23 21:03] #3782 closed

[2022-11-23 21:03] #3884 closed

[2022-11-23 22:57] #3900 closed

[2022-11-23 22:57] #4059 closed

[2022-11-23 22:57] #4132 closed

[2022-11-23 23:07] milanholemans opened #4142 "Remove duplicate util that checks for app only permissions"
I noticed that we currently have 2 util functions that let us determine whether an access token has app only permissions or not.

1st util function:

https://github.com/pnp/cli-microsoft365/blob/fa2dfa85d34e501ff26a7d8525542e41b23fda07/src/Auth.ts#L682-L704

2nd util function:

https://github.com/pnp/cli-microsoft365/blob/fa2dfa85d34e501ff26a7d8525542e41b23fda07/src/utils/accessToken.ts#L2-L23

<h

[2022-11-23 23:08] milanholemans commented on #4142
I feel like this util function fits best in the `accessToken.ts` util (option 2).
What do you think @pnp/cli-for-microsoft-365-maintainers?

[2022-11-24 06:41] waldekmastykarz commented on #4132
@Jwaegebaert will this be a breaking change or have all these commands been added in the current beta?

[2022-11-24 08:20] milanholemans commented on #4132
@waldekmastykarz it was a breaking change, I also updated the `v6` upgrade guidance.
https://pnp.github.io/cli-microsoft365/v6-upgrade-guidance/#removed-short-notation-for-option-asadmin-in-pp-commands

[2022-11-24 09:05] martinlingstuyl opened #4144 "New command: Get a list of purview retention labels"
### Usage

m365 purview retentionlabel list [options]

### Description

Get a list of retention labels

### Options

_None but global options_

### Examples

Get a list of retention labels

[code]

### Additional Info

The following Graph endpoint can be used:
https://graph.microsoft.com/beta/security/labels/retentionLabels

[More information](https://learn.microsoft.com/en-us/graph/api/security-r

[2022-11-24 09:29] martinlingstuyl opened #4145 "Add purview commands around retention labels"
## Add commands to manage purview retention labels:

- [x] #4144
- [x] #4146
- [x] #4147
- [x] #4148
- [x] #4149

## Add commands to list, apply en remove retention labels on SharePoint

- [x] #4152
- [x] #4156
- [x] #4246
- [x] #4221
- [x] #4158
- [x] #4159
- [x] #4160
- [x] #4162
- [x] #4163
- [x] #4164
- [x] #4237
- [x] #4239
- [x] #4290

## Event-based retention

The basic scenario for Purview

[2022-11-24 09:30] martinlingstuyl opened #4146 "New command: Get a purview retention label"
### Usage

m365 purview retentionlabel get [options]

### Description

Get a retention label

### Options

Option | Description
-- | --
`-i, --id <id>` | The Id of the retention label.

### Examples

Get a retention label

[code]

### Additional Info

The following Graph endpoint can be used:
https://graph.microsoft.com/beta/security/labels/retentionLabels/{id}

I initially had added a `displayNam

[2022-11-24 09:38] martinlingstuyl opened #4147 "New command: Create a purview retention label"
### Usage

m365 purview retentionlabel add [options]

### Description

Create a retention label

### Options

Option | Description
-- | --
`-n, --displayName <displayName>` | The display name of the label
`--behaviorDuringRetentionPeriod <behaviorDuringRetentionPeriod>` | Specifies how the behavior of a document with this label should be during the retention period. Allowed values: `doNotRetain`,

[2022-11-24 09:50] garrytrinder commented on #4144
Looks fine to me @martinlingstuyl only suggestion would be to include the default properties for the text output in the spec.

[2022-11-24 10:15] martinlingstuyl opened #4148 "New command: Update a purview retention label"
### Usage

m365 purview retentionlabel set [options]

### Description

Update a retention label

### Options

Option | Description
-- | --
`-i, --id <id>` | The Id of the retention label.
`--behaviorDuringRetentionPeriod [behaviorDuringRetentionPeriod]` | Specifies how the behavior of a document with this label should be during the retention period. Allowed values: `doNotRetain`, `retain`, `retain

[2022-11-24 10:26] martinlingstuyl opened #4149 "New command: Delete a purview retention label"
### Usage

m365 purview retentionlabel remove [options]

### Description

Delete a retention label

### Options

Option | Description
-- | --
`-i, --id <id>` | The Id of the retention label
`--confirm` | Don't prompt for confirming to remove the label.

### Examples

Delete a retention label

[code]

### Additional Info

The following Graph endpoint can be used:
https://graph.microsoft.com/beta/se

[2022-11-24 11:07] martinlingstuyl opened #4150 "Enhancement: Extend `csv` output mode to include more properties than `text` output mode"
The `csv` output mode is currently restricted to return the properties that are also returned in `text` mode.

For example, the following will force `csv` output mode to return just three columns.

[code]

The problem with this is that the `defaultProperties` have been limited on purpose because `text` mode is ugly when too many properties are side by side. CSV however is not limited by the breadt

[2022-11-24 11:14] waldekmastykarz commented on #4144
Let's do it! 👏

[2022-11-24 11:24] martinlingstuyl commented on #4144
Almost done @garrytrinder, @waldekmastykarz :-)

[2022-11-24 11:29] martinlingstuyl commented on #4145
Check this out @bjdekker 👍

[2022-11-24 12:41] timdelavoorde commented on #4146
I can work on this

[2022-11-24 12:42] martinlingstuyl commented on #4146
That's fantastic @timdelavoorde, I've assigned you. If you need any help, let me know.

I've removed the displayName option by the way, so it's only get by Id for now.

[2022-11-24 12:43] martinlingstuyl commented on #4146
Check my PR for inspiration

https://github.com/pnp/cli-microsoft365/pull/4151

[2022-11-24 13:26] MathijsVerbeeck commented on #4150
I love the idea @martinlingstuyl, but I've also noticed when we execute --output csv for a simple get command, for example `spo listitem get --withPermissions` we get the following response in json:
[code]

If we execute the following using --output csv, we get something like this:
[code]

Notice that, when we have an object in the csv-format, it will just return this object under roleAssignment a

[2022-11-24 14:29] martinlingstuyl commented on #4150
Yeah, that's what I meant with nested objects... I'd say strip them out...

[2022-11-24 14:48] #4014 closed

[2022-11-24 14:48] #2029 closed

[2022-11-24 15:29] martinlingstuyl opened #4152 "New command: Get a list of retention labels for a specific SharePoint site"
### Usage

m365 spo web retentionlabel list [options]

### Description

Get a list of retention labels that's available on a site.

### Options

Option | Description
-- | --
`-u, --webUrl <webUrl>` | The url of the web to get retentionlabels for.

### Examples

Get a list of retention labels for the _Sales_ site

[code]

### Response

[code]

### Additional Info

The following endpoint can be used

[2022-11-24 19:02] bjdekker commented on #4145
@martinlingstuyl very useful commands indeed 👍

[2022-11-24 20:58] Adam-it commented on #4142
+1 on removing the duplicates and sticking with option 2.

[2022-11-24 23:49] milanholemans opened #4155 "Remove `supports debug mode` tests"
Currently we have a ton of tests called `supports debug mode`. This command tests if the `--debug` flag is available for the command. In the past we had to add this test in order to get 100% code coverage.
However after refactoring the code base to use the `#` functions we are using now, this is currently not needed anymore.
Since the test has no added value in my eyes, I'd say we should delete it

[2022-11-24 23:49] milanholemans commented on #4155
@pnp/cli-for-microsoft-365-maintainers is it worth it or overkill? 😊

[2022-11-25 00:25] milanholemans commented on #4055
Good catch @MathijsVerbeeck
After some research I found out that the field `PromotedState` used to be a regular field. Since some time, the field is marked as read only and thus cannot be updated via the SharePoint REST API.

I would suggest that we just update the command to use `spo listitem set` to set the `PromotedState` value just like we do for the `--demoteFrom [demoteFrom]` option.

[2022-11-25 01:30] martinlingstuyl commented on #4155
Good idea: less code saves on build times...

[2022-11-25 08:20] stijnhaerkenss commented on #4147
I can work on this :)

[2022-11-25 08:50] martinlingstuyl opened #4156 "Enhancement: Rename and add alias to `spo list label set` and `spo list label get`"
I find the command names for the following commands a bit unclear:

`spo list label set`
https://pnp.github.io/cli-microsoft365/cmd/spo/list/list-label-set/

`spo list label get`
https://pnp.github.io/cli-microsoft365/cmd/spo/list/list-label-get/

It's not clear what kind of label this is about. It would be clearer if we would use the word retentionlabel here. This seems to be used in purview thes

[2022-11-25 08:54] martinlingstuyl opened #4158 "New command: Apply a retentionlabel to a listitem using `spo listitem retentionlabel ensure`"
### Usage

m365 spo listitem retentionlabel ensure [options]

### Description

Apply a retention label to a list item

### Options

Option | Description
-- | --
`-u, --webUrl <webUrl>` | The url of the web.
`--listId [listId]` | ID of the list where the item should be labelled. Specify either `listTitle`, `listId` or `listUrl`.
`--listTitle [listTitle]` | Title of the list where the item should be

[2022-11-25 09:16] martinlingstuyl opened #4159 "New command: Apply a retentionlabel to a file using `spo file retentionlabel ensure`"
### Usage

m365 spo file retentionlabel ensure [options]

### Description

Apply a retention label to a file

### Options

Option | Description
-- | --
`-u, --webUrl <webUrl>` | The url of the web
`--fileUrl [fileUrl]` | The server-relative URL of the file that should be labelled. Specify either `fileUrl` or `fileId` but not both.
`i, --fileId [fileId]` | The UniqueId (GUID) of the file that shoul

[2022-11-25 09:16] martinlingstuyl opened #4160 "New command: Apply a retentionlabel to a folder using `spo folder retentionlabel ensure`"
### Usage

m365 spo folder retentionlabel ensure [options]

### Description

Apply a retention label to a folder

### Options

Option | Description
-- | --
`-u, --webUrl <webUrl>` | The url of the web.
`--folderUrl [folderUrl]` | The site-relative URL or server-relative URL of the folder that should be labelled. Specify either `folderUrl` or `folderId` but not both.
`i, --folderId [folderId]` | Th

[2022-11-25 09:23] martinlingstuyl commented on #4159
Putting this on hold till #4158 is implemented.

[2022-11-25 09:26] martinlingstuyl commented on #4160
Putting this on hold till #4158 is implemented.

[2022-11-25 09:39] martinlingstuyl opened #4161 "Update `fileUrl` options to include ability to get by site relative URL"
The following commands have `fileUrl` options that do not accept _site relative URL's_:

- [spo file add](https://pnp.github.io/cli-microsoft365/cmd/spo/file/file-add/)
- [spo file checkin](https://pnp.github.io/cli-microsoft365/cmd/spo/file/file-checkin/)
- [spo file checkout](https://pnp.github.io/cli-microsoft365/cmd/spo/file/file-checkout/)
- [spo file copy](https://pnp.github.io/cli-microsoft

[2022-11-25 09:40] martinlingstuyl commented on #4161
@pnp/cli-for-microsoft-365-maintainers , should we split this up in an epic or just let one person refactor it all?

[2022-11-25 09:55] martinlingstuyl commented on #4147
Sounds great @stijnhaerkenss! I'm first waiting for some feedback before we open up this issue up though.

[2022-11-25 10:15] nanddeepn commented on #3909
Hi @appieschot, @Jwaegebaert

Are we missing `path` option here?

`-p, --path [path]`
: The local path where to save the retrieved file. Must be specified when the `--asFile` option is used

[2022-11-25 10:25] nanddeepn commented on #3932
Can I work on it?

[2022-11-25 10:35] milanholemans commented on #4155
Exactly what I was thinking 😁

[2022-11-25 10:41] milanholemans commented on #3932
Certainly!

[2022-11-25 10:56] milanholemans commented on #4161
I'd split it in 2 or 3 parts 😃

[2022-11-25 10:57] martinlingstuyl commented on #4145
Any feedback is welcome @pnp/cli-for-microsoft-365-maintainers

[2022-11-25 10:57] martinlingstuyl commented on #4152
Any feedback @pnp/cli-for-microsoft-365-maintainers?

[2022-11-25 11:11] martinlingstuyl opened #4162 "New command: Remove a retentionlabel from a listitem using `spo listitem retentionlabel remove`"
### Usage

m365 spo listitem retentionlabel remove [options]

### Description

Clear the retention label from a list item

### Options

Option | Description
-- | --
`-u, --webUrl <webUrl>` | The url of the web.
`-l, --listId [listId]` | ID of the list where the item label should be removed. Specify either `listTitle`, `listId` or `listUrl`
`-t, --listTitle [listTitle]` | Title of the list where th

[2022-11-25 11:18] martinlingstuyl opened #4163 "New command: Remove a retentionlabel from a file using `spo file retentionlabel remove`"
### Usage

m365 spo file retentionlabel remove [options]

### Description

Clear the retention label from a file

### Options

Option | Description
-- | --
`-u, --webUrl <webUrl>` | The url of the web
`--fileUrl [fileUrl]` | The server-relative URL of the file of which the label should be removed. Specify either `fileUrl` or `fileId` but not both.
`i, --fileId [fileId]` | The UniqueId (GUID) of th

[2022-11-25 11:18] martinlingstuyl opened #4164 "New command: Remove a retentionlabel from a folder using `spo folder retentionlabel remove`"
### Usage

m365 spo folder retentionlabel remove [options]

### Description

Clear the retention label from a folder

### Options

Option | Description
-- | --
`-u, --webUrl <webUrl>` | The url of the web
`--folderUrl [folderUrl]` | The server-relative URL of the folder of which the label should be removed. Specify either `folderUrl` or `folderId` but not both.
`i, --folderId [folderId]` | The Uni

[2022-11-25 11:35] martinlingstuyl commented on #4161
It's a lot, isn't it 😀

[2022-11-25 12:10] arjunumenon commented on #4150
Nice idea Martin. Definitely make sense to have the more fields than what is there in the text.

My personal suggestion is not to strip the nested objects automatically when you export, but rather include a new column like you suggested.
Personally I would love to have `--excludeColumns` rather than `--csv-columns` which will enable the users to avoid the columns which they think might be problema

[2022-11-25 12:51] arjunumenon commented on #4155
Good idea Milan. Fine with that.

Anything which reduces testing time would be totally fine in my opinion.

[2022-11-25 13:31] arjunumenon commented on #3909
Very good point @nanddeepn 👍. Thanks for pointing it out.  We would need to have the `--path` or `--outputFile`  in place if we are selecting `--asFile`.

Just a quick confirmation on that front though.
@appieschot  / @Jwaegebaert  - When I checked the endpoint, my understanding is that, it returns as object and that being the case when you select  `--asFile`, the users will have the option to exp

[2022-11-25 13:37] MathijsVerbeeck commented on #4055
Noticed that the field `PromotedState` is also changed when setting the option `layoutType` with value `Article`. So this should be changed too I think. Same goes for the `page add` command.

If wanted, I could change this for the commands.

[2022-11-25 15:01] appieschot commented on #3909
@nanddeepn so sorry! Based on the discussion in #3908 I removed the wrong parameter. Updated our specs and removed the `--asFile` and only kept `path` parameter.

[2022-11-25 15:03] appieschot commented on #3909
@arjunumenon  I went for `path` as we use that here: https://pnp.github.io/cli-microsoft365/cmd/spo/file/file-get/ 🤔

[2022-11-25 15:24] milanholemans commented on #4055
All right, thank you @MathijsVerbeeck!

[2022-11-25 15:49] arjunumenon commented on #3909
Totally understand that Appie.

My thought is, unlike `spo file get` where we actually have actual file to download and here we are basically getting the data as an object and generating the file for them, similar to what we have in `spo report siteusagepages`. That's why I thought we can follow the convention we have for the command `spo report siteusagepages`.

[2022-11-25 16:49] westerdaled opened #4165 "Bug report: m365 flow list --environment: You are not permitted to make flows in this 'Default - xxxx' environment"
### Description

I have been testing out the M365 CLI against a number of tenants

On my developer tenant , logged as the M365 admin
![image](https://user-images.githubusercontent.com/937208/204018639-daf1bc99-1981-470e-8e02-c552052f6ba2.png)

[code]
_Error: You are not permitted to make flows in this 'Default-XXXXXXX-2d13-40fa-86d7-XXXXXXX'. Please switch to the default environment, or to one of

[2022-11-25 18:53] milanholemans commented on #4165
Thank you for reporting this bug @westerdaled
We'll have a look at it

[2022-11-25 19:31] appieschot commented on #3909
That does indeed make sense as well. Just checked all other reports and we do have the `outputfile` on each of them. Will upgrade both specs. Thanks for keeping us consistent 🚀

[2022-11-25 22:07] Adam-it commented on #4145
awesome work @martinlingstuyl . Lots of great work 🤩

[2022-11-25 22:10] Adam-it commented on #4161
lets maybe split it to commands for `file` and for `folder` 🤔

[2022-11-25 23:00] milanholemans opened #4166 "Make sure that command args are typed"
Noticed some commands where the command args are typed as `any` instead of `CommandArgs`.
E.g.:

https://github.com/pnp/cli-microsoft365/blob/291f17c88e12ee6c155dbba1c20727934f43ecc0/src/m365/pp/commands/card/card-clone.ts#L93

This is quite annoying because there is no intellisense on an `any` object.

Commands to update:

- [x] pp card clone
- [x] pp card get
- [x] pp card list
- [x] pp card rem

[2022-11-25 23:14] Adam-it commented on #4147
looks solid 👍

[2022-11-25 23:26] #4095 closed

[2022-11-25 23:26] #4129 closed

[2022-11-25 23:26] #4130 closed

[2022-11-25 23:26] #3650 closed

[2022-11-25 23:26] #4124 closed

[2022-11-25 23:32] Adam-it commented on #4148
@martinlingstuyl do `newDisplayName`, `behaviorDuringRetentionPeriod`, `actionAfterRetentionPeriod`, `retentionDuration` need to be obligatory options 🤔 wont `id` be enough to get the label we want to edit.
also in the examples you have `...update --displayName 'some label'` which seems like we may get the label by `displayName` and not only `id`🤔
could we double check that before we open it up?

[2022-11-25 23:34] Adam-it commented on #4149
@martinlingstuyl seems like we are missing `displayName` option defined in the options table.
could we double check that before we open it up?

[2022-11-25 23:37] Adam-it commented on #4147
maybe one a bit stupid comment 😉 maybe for the `retentionDuration` the 365 could be a default value and we could make it optional?

[2022-11-25 23:41] Adam-it commented on #4152
looks solid 👍
great work @martinlingstuyl

[2022-11-25 23:46] Adam-it commented on #4156
fine for me 👍
@pnp/cli-for-microsoft-365-maintainers any other comments ?

[2022-11-25 23:49] Adam-it commented on #4158
in the spec the `listId` should be marked as optional and `listItemId` as obligatory.
could we double check that before we open it up?

[2022-11-25 23:50] Adam-it commented on #4159
looks solid 👍

[2022-11-25 23:51] Adam-it commented on #4160
looks solid 👍

[2022-11-25 23:54] Adam-it commented on #4162
same here. `listId` should be marked as optional and `listItemId` as obligatory

[2022-11-25 23:54] Adam-it commented on #4163
shouldn't we add a `confirm` option ?
@martinlingstuyl what do you think?

[2022-11-25 23:54] Adam-it commented on #4164
@martinlingstuyl did you consider adding a `confirm` option ?

[2022-11-26 05:57] arjunumenon commented on #4149
Couple of things which I can think of @martinlingstuyl .

- Add `confirm` flag to option since we are doing deletion
- Since `displayName` is not possible as a filter, you may have to update the same in  the example with `id` instead of `displayName`.

[2022-11-26 07:07] martinlingstuyl commented on #4158
That's a typo, I overlooked it, thanks!

[2022-11-26 07:13] martinlingstuyl commented on #4162
I've also added the confirm option

[2022-11-26 07:15] nicodecleyre commented on #4155
Can i work on this?

[2022-11-26 07:15] martinlingstuyl commented on #4164
Done!

By the way: adding retention labels can have significant impact as well, shouldn't we have confirms both ways?

By the way, the UI doesn't have a confirm anywhere. Which is odd I think

@pnp/cli-for-microsoft-365-maintainers any opinion on confirms here?

[2022-11-26 08:06] martinlingstuyl commented on #4149
Right @Adam-it, @arjunumenon, I removed the displayName option because `$filter` is not implemented here.

I'll fix the issues

[2022-11-26 08:21] arjunumenon commented on #4156
I am sorry, I can't comment on naming convention since I have not worked much in that area.

Having said that, your reasoning seems logical to me too.

[2022-11-26 08:28] arjunumenon commented on #4164
My vote would be not to add confirm for the addition. Though it will have impact, I would bank on the case that, it typically should be known to the initiator.
Plus like you mentioned already, current UI does not have that.

[2022-11-26 08:55] martinlingstuyl commented on #4164
Ok, agreed. Clearing the label also has no confirm in the UI. Do you still think we should add it here @arjunumenon?

The only reason I can think of is that it's consistent with other `remove` commands.

Maybe `retentionlabel clear` would be a better verb here. But I'm not sure if our naming convention agrees with that.

[2022-11-26 09:15] martinlingstuyl commented on #4166
Sure @nanddeepn! Thanks again! 👏

[2022-11-26 09:35] Adam-it commented on #4155
All yours 👍.
Thank you for all your awesome work.

[2022-11-26 09:43] Adam-it commented on #4164
Well it's not always `remove`, I think we add the `--confirm` when the impact may be quite big and may break/remove some stuff. For example we added it for `break` and `reset` permission commands. Although those also have confirmation popup on UI.
I think it's more up to us what do we feel is best and more secure.
It this case I would add the confirm for this command but I am also open for the alt

[2022-11-26 09:48] arjunumenon commented on #4164
I would say YES.

1, like you said it is consistent with our existing remove commands.
2, Giving an extra check before deletion.

I think we use clear when we have delete multiple items in a single go. Something like https://pnp.github.io/cli-microsoft365/cmd/spo/customaction/customaction-clear/. So I would still stick on to remove

[2022-11-26 10:34] waldekmastykarz commented on #4166
Very good catch @milanholemans. We should use `any` only when absolutely necessary

[2022-11-26 11:03] #3911 closed

[2022-11-26 11:15] waldekmastykarz commented on #4150
I like the idea. I'm not sure if we should automatically filter out objects, or let users choose which properties they want to get using the `--query` option. While JMESPath queries are not trivial, they offer flexibility for things we wouldn't have known. An alternative would be to exclude objects from output unless user specified `--query`. That way we've got a sane default with an advanced mode

[2022-11-26 11:23] waldekmastykarz commented on #4155
Great suggestion @milanholemans, let's remove what we no longer need

[2022-11-26 11:26] waldekmastykarz commented on #4142
Option #2 is simplified but it introduces a side-effect where we assume delegated auth when something goes wrong when reading a token. We should have a closer look if this won't lead to side-effects that in turn will cause exceptions or worse, undesired behavior.

[2022-11-26 11:28] waldekmastykarz commented on #4161
Great suggestion to make it more consistent and abstract away the API intricacies to make the CLI more user-friendly. Let's review the implementation of these commands and group similar ones together in a single issue so that we can apply the necessary changes efficiently, and change this issue into an epic.

[2022-11-26 11:35] waldekmastykarz commented on #4156
What other types of labels are available in SharePoint that make you feel this name is ambiguous?

[2022-11-26 11:38] waldekmastykarz commented on #4164
Very good points @arjunumenon. Fully agreed with both remarks.

[2022-11-26 12:41] milanholemans commented on #3911
Hi @silviyanedelcheva

We managed to update the `spo file copy` command with a new option `newName`. Check out the new options of the command in the docs: https://pnp.github.io/cli-microsoft365/cmd/spo/file/file-copy

The update of this command is currently in our beta release (install it via `npm i -g @pnp/cli-microsoft365@next`). Note that this release is a new major release (`v6.0.0`) which has

[2022-11-26 15:44] martinlingstuyl commented on #4156
Well, `Sensitivity labels` for example.

https://learn.microsoft.com/en-us/microsoft-365/compliance/sensitivity-labels?view=o365-worldwide

But aside from that, label is an ambiguous term. Even regular metadata could be perceived as labels you add to an item.
Or you could perceive the word as a categorization mechanism.

You simply do not know what's meant immediately. Retention label communicates

[2022-11-26 15:46] martinlingstuyl commented on #4156
By the way, I've updated the specs as I'd mistakenly written `spo label set` instead of `spo list label set`
And `spo retentionlabel set` instead of `spo list retentionlabel set`

[2022-11-26 23:21] MathijsVerbeeck opened #4167 "Bug report: Issue when updating multiple fields executing `spo listitem set` specifying --systemUpdate"
### Description

When executing the command `spo listitem set` using `--systemUpdate´ as an option and wishing to update multiple fields I got the following error:

![image](https://user-images.githubusercontent.com/9193870/204112359-5a64b68f-4e29-4fa6-9277-c5c25886d024.png)

When specifying a single field, this works without any issues.

### Steps to reproduce

Execute the command spo listitem se

[2022-11-27 00:50] milanholemans commented on #4167
Thank you for reporting this @MathijsVerbeeck
We'll have a look at it.

[2022-11-27 12:43] waldekmastykarz commented on #3465
@martinlingstuyl how did you went through this scenario? Have you extended the existing entry, or removed it and added a new one with the desired configuration? I think this should determine what this command should do?

As for `tenant extension`, it's too broad, because it would indicate something that's available m365-wide, while here, we're talking about something for the SharePoint tenant, so

[2022-11-27 16:24] Adam-it opened #4168 "Expose script samples to the Sample Solution Gallery"
## 🎯 Aim

The aim of this PR is to prepare script samples in CLI repo so that they will get exposed to the [sample solution gallery](https://adoption.microsoft.com/en-us/sample-solution-gallery/).

## ❗Remarks

Whats important is that our work is in sync with @pkbullock changes in script sample repo done in this issue https://github.com/pnp/script-samples/issues/398.

## 👨‍💻Todo

What needs to be

[2022-11-27 16:28] waldekmastykarz commented on #4156
From what I read, sensitivity labels are stored in files, not set on a list, so I wonder if the ambiguity truly applies here, given our context is `spo list`, not Microsoft 365 all-up.

[2022-11-27 16:31] waldekmastykarz commented on #3787
Agreed with @Adam-it: we should allow specifying just one identifier

[2022-11-27 16:42] waldekmastykarz commented on #4152
If it's specifically for a site, why not include `web` in the name to clarify its scope?

[2022-11-27 16:43] waldekmastykarz commented on #4145
Is the a reason we need commands using both Graph and SharePoint API @martinlingstuyl?

[2022-11-27 16:44] pkbullock commented on #4168
Reference list here: https://github.com/pnp/script-samples/issues/398

[2022-11-27 16:53] waldekmastykarz commented on #4090
It seems that we indeed should use `encodeURIComponent` instead of `formatting.encodeQueryParameter` in this case. If only passed the value for the filter, then we'd need `formatting.encodeQueryParameter`. But since the user enters the whole filter expression, they need to escape single quotes, not us, so we should use `encodeURIComponent` instead. When fixing this issue, let's ensure that we add

[2022-11-27 16:55] waldekmastykarz commented on #3171
Good call @MathijsVerbeeck. Let's update the spec as you suggested.

[2022-11-27 16:57] martinlingstuyl commented on #4145
In this case yes, @waldekmastykarz. The scope and purpose of both is different. The graph endpoint is more for the purpose of managing the labels themselves. The SharePoint endpoints are scoped to using them in SharePoint. It's possible to have less labels on SharePoint than there are in total. It's also possible to have a limited set of labels on a specific site as far as I understand it. You can

[2022-11-27 16:58] waldekmastykarz commented on #4068
Awesome work! If a command test suite doesn't have an option set test, it means that it properly tests for validation already, and we should be able to remove these commands from the list here.

[2022-11-27 17:02] waldekmastykarz commented on #4145
Let's be sure that we make the differences clear. For example, #4144 and #4152 seem very much the same just using the different API. Unless you know the specific differences, you wouldn't know which one to choose which hurts discoverability. We should make it clear so that when both commands come up in search results, people will know which one they need for their scenario.

[2022-11-27 18:35] waldekmastykarz commented on #4155
Thinking of it some more, in the past it served 100% coverage, but also an important constrain: the command properly inherits base options and doesn't override them. In the current setup, we don't need it for coverage, but theoretically, if we didn't pay attention, someone could commit code that clears options added in the base command class and just assign options from the command itself. The deb

[2022-11-27 22:23] martinlingstuyl commented on #4156
Yes, but then again: as a user you might not be familiar with the different labels and their application, which makes it easy to get confused. I myself was confused last week, when searching for cli support of retentionlabels.
It still is a generic term.

Also: since we're doing some work on purview retentionlabels, it makes sense to name the commands the same across the board. Those commands incl

[2022-11-27 22:27] martinlingstuyl commented on #3787
Changed it and opened it up 👍

[2022-11-27 22:30] martinlingstuyl commented on #4152
Updated the specs 👍

[2022-11-27 22:32] martinlingstuyl commented on #4145
Is it clear enough now as it is with the descriptions? We could also add a remark pointing to the other command and explaining the difference...

[2022-11-27 22:35] martinlingstuyl commented on #3465
I think I've done both things multiple times...

[2022-11-28 06:30] pkbullock commented on #4168
Consider adding a CLI friendly no preview images much like the community rocks one. I don't think your samples have images. It could make easier to identify samples in adoption gallery.

[2022-11-28 06:34] Adam-it commented on #4168
Thanks for that very good comment.
I think I already added like a general preview image even to the current single script exposed from CLI which is the Todo cleanup done by Garry but I will for sure double check it 👍

[2022-11-28 09:55] AkashSatoliya commented on #3612
Hi @martinlingstuyl,

Hope you are doing good.

MFA disabling is still in progress. Team is working on it.

While I'm waiting for response from them I was working commands for next steps like adding sppkg package and perform deployment. While running command to Add the solution to SP App Catalog, I got error 403

Error: Request failed with status code 403

This is because of authorization error. W

[2022-11-28 12:03] waldekmastykarz commented on #4156
Understood. As we're about to release v6, we should:

- rename the command to use the new name
- add the alias using the old (current) name to avoid breaking changes
- add a deprecation warning of the old name (alias)
- add a new issue linked to the v7 milestone to remove the deprecated alias and update the v7 upgrade guidance

[2022-11-28 12:12] waldekmastykarz commented on #4145
If the verb for using labels is _apply_, then we could clarify the use of #4152 by updating the description to _Gets the list of retention labels applied to a SharePoint site_

[2022-11-28 12:17] waldekmastykarz commented on #3465
For `spo tenant applicationcustomizer add` we'd still have to clarify its logic: should the command update the existing entry overwriting the properties and webtemplate or shall it fail with an error if an entry already exists?

It's a good idea to split the commands up into two as you suggested.

[2022-11-28 13:24] MathijsVerbeeck commented on #3171
@waldekmastykarz I do not believe that I have the correct permissions to be able to update specs created by another user. Could you please do this for me?

[2022-11-28 13:29] MathijsVerbeeck commented on #4055
FYI: Putting this currently 'on hold' as I require the issue in #4167 to be resolved for this to work properly.

[2022-11-28 15:12] waldekmastykarz commented on #3171
Done

[2022-11-28 21:17] martinlingstuyl commented on #4145
Well, not exactly: you apply labels to _content_ (list items, files, etc). In MS Purview you can configure a policy for the scope of labels. For example: allow labels to be applied to content in Exchange and SharePoint or even just allow them to be applied to content within a specific SharePoint site or sites.

You mean like adding links to the 'Remarks' sections or something?

[2022-11-28 21:18] MathijsVerbeeck commented on #3921
I could work on this!

[2022-11-28 21:20] martinlingstuyl commented on #4145
What do you think though, should we use the verbs apply/clear instead of add/remove? (eg `spo file retentionlabel apply`)

[2022-11-29 05:26] plamber opened #4173 "Provide CRUD operations for site collection administrators?"
Hello,
this is a suggestion of a command that might be useful for manipulating SharePoint site collection administrators. I haven't found a way to add and remove site collection admins from a dedicated set of commands in the CLI.

Administrators can be added/demoted from the site collection admin list by using this pseudo code.
[code]

I leave it open to the team to decide if this use case is inte

[2022-11-29 08:40] nicodecleyre commented on #4173
Hi @plamber , good suggestion!

You can obtain this by performing a post request to the url `https://tenant-admin.sharepoint.com/_api/SPOInternalUseOnly.Tenant/SetSiteSecondaryAdministrators` with following json as body:

[code]

The ambitious thing is that you have to provide the full array of `secondaryAdministratorLoginNames` when performing this request.

So we would have to get the admins fir

[2022-11-29 09:20] AkashSatoliya commented on #3612
Hi @martinlingstuyl,

Hope you are doing good.

MFA disabling is still in progress. Team is working on it.

While I'm waiting for response from them I was working commands for next steps like adding sppkg package and perform deployment.

I'm able to add the package and deploy it. After deployment I want to copy few files from local drive `C:\Users\User1\Downloads\app\temp\`  to a folder `/sites/Si

[2022-11-29 09:44] Jwaegebaert commented on #3921
U sure can! 💪

[2022-11-29 09:45] stijnhaerkenss commented on #2159
I can work on this

[2022-11-29 10:00] appieschot opened #4174 "New command: `m365 pp aibuildermodel list`"
### Usage

m365 pp aibuildermodel list

### Description

List available AI builder models in the specified Power Platform environment.

### Options

Option | Description
-- | --
`-e, --environment <environment>` | The name of the environment for which to retrieve AI Builder models.
`--asAdmin` | Run the command as admin and retrieve AI Builder models for environments you do not have explicitly ass

[2022-11-29 10:25] Jwaegebaert commented on #4174
Looks good to me!

[2022-11-29 13:37] nicodecleyre commented on #4174
Nice suggestion!

Do you want to list all the available AI builder models from the UI or just all that are present in the environment?
Because there's a difference between prebuild and custom models. The custom models are the ones that you see in the UI and are customizable, the prebuilt aren't customizable

[2022-11-29 13:45] milanholemans commented on #4173
Nice suggestion @plamber 👍

I think it is indeed impossible right now to set/unset a user as site collection admin. We are missing a command `spo user set`. If we create this, we can set the `IsSiteAdmin` property of the user like you mentioned.
In my opinion creating a new command to set a site collection admin is a bit overkill. A good example for the `spo user set` command should be enough in m

[2022-11-29 13:47] milanholemans commented on #4173
Hi @nicodecleyre

In my opinion setting the `IsSiteAdmin` property like Patrick mentioned is more straightforward than getting all site admins and update them. This way we'll only have 1 HTTP request.

[2022-11-29 16:08] nicodecleyre commented on #4167
nice catch!

There were a couple of problems with the way this worked.
First of all, with multiple values, there is an array created and afterwards this array is joined. Meaning it is joined with a comma. So when the error message appears `The element 'Method' in namespace 'http://schemas.microsoft.com/sharepoint/clientquery/2009' cannot contain text.`, it means that there is a comma in the method

[2022-11-29 19:12] mhincapie opened #4176 "Add support for Exchange Online"
Hello,

I am new here and just found this great project to help me administer M365. I searched through the source files and issues and could not see why Exchange is not supported with this CLI. I was wondering if you could tell me. Is this related to the current ability in Microsoft Graph API, or is there a need to contribute to this service?

Thank you in advance for your response.

[2022-11-29 23:12] martinlingstuyl opened #4177 "Remove alias for `spo list retentionlabel <verb>` commands"
The following two commands:

- `spo list retentionlabel get`
- `spo list retentionlabel set`

...have aliasses that can be removed:

The aliasses to remove:
- `spo list label get`
- `spo list label set`

As this is a breaking change, this should be done for v7

[2022-11-29 23:52] michaelmaillot opened #4179 "Update CI/CD documentation to include certificate login"
It could be nice to provide some additional guidance on [this page](https://pnp.github.io/cli-microsoft365/user-guide/github-actions), to indicate that you now have the choice to use the GitHub Action Login with user / password or through a certificate.

Or maybe just redirect to the marketplace page that provides all the info we need?

[2022-11-30 09:19] appieschot commented on #4174
@nicodecleyre for me it feels we should do only the custom models; like you say the prebuilt models cannot be changed or removed so not much added value of retrieving those.

[2022-11-30 17:51] milanholemans commented on #4176
Hi @mhincapie

We have a few commands related to exchange (named `outlook` in our case) but I agree that these are limited. We depend of course on what Graph supports, however if Graph doesn't support something, we can use other APIs as well. For these APIs we should do some research tho.
But the main reason is probably because we are not getting feedback that we should support more `outlook` comm

[2022-11-30 18:25] waldekmastykarz opened #4180 "Update CLI to support SPFx v1.16.0"
- [x] #4181
- [x] #4182
- [x] #4183

[2022-11-30 18:25] waldekmastykarz opened #4181 "Update spfx project upgrade to support SPFx v1.16.1"

[2022-11-30 18:25] waldekmastykarz opened #4182 "Update spfx doctor to support SPFx v1.16.1"

[2022-11-30 18:25] waldekmastykarz opened #4183 "Update spfx project doctor to support SPFx v1.16.1"

[2022-11-30 18:28] waldekmastykarz commented on #4173
+1 to @plamber proposal. Let's look into simplifying the request by setting the content-type to `application/json;odata=nometadata` which should allow us to remove the `__metadata` property

[2022-11-30 18:51] waldekmastykarz opened #4185 "Bug report: the "Cli/shows full help when specified -h with a number" test is failing when you have helpMode configured"
### Description

When you configure helpMode, the Cli/shows full help when specified -h with a number test is failing

### Steps to reproduce

- get the latest dev code
- `m365 cli config set -k helpMode -v options`
- `npm run test:test`

### Expected results

All tests pass

### Actual results

Error:

[code]

### Diagnostics

_No response_

### CLI for Microsoft 365 version

Latest from main

##

[2022-11-30 22:47] MathijsVerbeeck commented on #4090
I could quickly fix this 😄