[2022-01-29 10:36] plamber commented on #2948
Sounds good. Could you create a separate issue for this?

[2022-01-29 13:06] nanddeepn commented on #2948
I have included the optional `service` parameter in current PR.

[2022-01-29 13:33] #2984 closed

[2022-01-29 13:33] #2661 closed

[2022-01-29 13:35] waldekmastykarz commented on #2984
We've released a fix for the issue in the latest preview version which you can install using `npm i -g @pnp/cli-microsoft365@next`

[2022-01-29 13:45] waldekmastykarz commented on #2993
Thank you for the spec @robdy. Here are a few questions to clarify the spec.

- when is it necessary to use the `folderId` option?
- we should consider adding a `folderName` option to allow users pass the name of the folder which we can then look up for them rather than expecting them to look it up manually themselves

Would it be useful in cases where you want to get a message from another user's

[2022-01-29 13:46] waldekmastykarz commented on #2963
If we're talking about two different entities then I'd suggest for naming `m365 outlook room list` and `m365 outlook roomlist list`. I suggested using `place` instead of `room` to accommodate both `room` and `roomlist` but if they're two different types of information then we shouldn't mix them as it would be confusing.

[2022-01-29 16:29] waldekmastykarz opened #2996 "Expose CLI API to execute commands"
To allow integrating CLI for Microsoft 365 in other tools we should export CLI's API for executing commands in the CLI's npm package. This will allow other tools that want to use CLI get a direct access to the API and not need to rely on executing CLI as a child process and interact with it through stdout, stderr and exit codes. When you install CLI for M365 as a dependency in your Node.js project

[2022-01-29 16:50] waldekmastykarz commented on #2989
After going through our code base, I came up with the following structure:

- formatting
  - escapeXml
  - getSafeFileName
  - parseJsonWithBom
  - filterObject
  - parseCsvToJson
  - encodeQueryParameter
  - removeEmptyLines
- misc
  - restore (objects before spy)
- validation
  - isValid...
  - isDateInRange
  - isJavascriptReservedWord
  - validateGraphReportPeriod (currently named validatePeri

[2022-01-29 16:53] waldekmastykarz opened #2997 "Bug report: csv missing from the list of outputs"
### Description

`csv` is missing in the list of outputs for the `output` option: https://github.com/pnp/cli-microsoft365/blob/5a0b256b4e158406b7684cbc5e3ae43362415e57/src/Command.ts#L153

### Steps to reproduce

n/a

### Expected results

`csv` included in the list of outputs

### Actual results

`csv` missing from the list of outputs

### Diagnostics

_No response_

### CLI for Microsoft 365 ver

[2022-01-30 11:41] waldekmastykarz commented on #2817
Awesome! Great experience and cool to see that you no longer need to fiddle with `.only` to run a specific suite/test. 👏

[2022-01-30 13:20] waldekmastykarz opened #2998 "Enhancement: extend command definition with option set"
In many commands we have a set of options where we require users to specify value for one of them, eg. in `aad app get`, we require user to specify `appId`, `objectId` or `name`. In all such cases, we implement validation logic in commands that checks if one of the options has been specified. We also check if only one of these options has been specified and not multiple. We repeat the validation f

[2022-01-30 18:50] waldekmastykarz commented on #2934
Updated the spec renaming `appId` to `appItemUniqueId` to disambiguate between the unique item ID and Product ID. When you use `spo app list`, we show a column named `ID`, which contains the unique item ID. When you browse to the app catalog however, the only ID you see by default is the app product ID. It could be confusing to users to understand what they should provide if we had an option named

[2022-01-30 20:23] robdy commented on #2993
Good questions @waldekmastykarz! My comments below:

Honestly, I have no idea. From what I tested, when you provide the message id, Graph checks all the folders anyway. The only case I can see is when two messages with same id are in different folder.

Question - is it even possible in the real life? I checked one possible case - sending messages to yourself. The message in *Sent Items* has differ

[2022-01-30 23:05] akashkarda commented on #2963
Thank you. Can we please update the specs? Also I will be happy to work on both commands and submit two separate PRs.

[2022-01-31 07:26] appieschot commented on #2996
Sounds like a great addition!

[2022-01-31 07:30] appieschot commented on #2989
Yes would work; i can imagine that if we would need specific helpers for power platform we could do a pp grouping as well.

[2022-01-31 07:31] appieschot commented on #2997
Nice catch!

[2022-01-31 09:24] waldekmastykarz commented on #2989
correct. If it's generic things like validating names and other values, they could go into validators. If there are things like retrieving data from Power Platform, we could indeed create a pp-specific module.

[2022-01-31 09:49] arjunumenon commented on #2998
That will be an excellent enhancement. Code will be super cleaner with introduction of this centralized validation 🔥

[2022-01-31 13:51] robdy commented on #2903
Isn't it a duplicate of #2908?

[2022-01-31 14:41] roberAlb opened #3000 "m365 teams app publish doesn't work with app permissions"
### Description

We are trying to deploy Teams app using app permissions in an automated process but it looks like is just allowed for a user with global admin permissions.

### Steps to reproduce

we are authenticating using this line
m365 login --authType certificate --certificateFile "xxxxxxxx" --password "xxxxxxxx"--appId "xxxxxxxx" --tenant "xxxxxxxx"

and executing this line which is not wor

[2022-01-31 18:34] waldekmastykarz commented on #3000
Unfortunately, the [underlying API only supports delegated permissions](https://docs.microsoft.com/en-us/graph/api/teamsapp-publish?view=graph-rest-1.0&tabs=http) and there's nothing that we can do about it.

I'd suggest that you share this feedback with the team behind Microsoft Graph at: https://docs.microsoft.com/en-us/answers/products/graph.

[2022-01-31 18:34] #3000 closed

[2022-01-31 18:37] waldekmastykarz commented on #2963
I'll update this spec to list rooms. @akashkarda, could you please create a new issue for the `outlook roomlist list` command? Thank you!

[2022-01-31 18:41] waldekmastykarz commented on #2993
If it's unclear when the folder is needed, then let's skip it for now and see if anyone raises a valid use case for it.

Good catch! In that case we should change the option to `folderPath` and clarify in the docs how it works.

Does the API accept both user ID and mailbox ID or are they the same value?

[2022-01-31 20:41] akashkarda opened #3002 "New command: m365 outlook roomlist list"
### Usage

m365 outlook roomlist list

### Description

Returns all available roomlist

### Options

global

### Additional Info

Read more on: https://docs.microsoft.com/en-us/graph/api/place-list?view=graph-rest-1.0&tabs=http
Return values for CSV and Display should be Type,displayName,emailAddress,phone

Reference: #2963

[2022-01-31 20:44] akashkarda commented on #2963
Can we please add a optional parameter for -roomlistEmail to rooms command to filter the rooms by roomlistEmail?

Also, created a new issue #3002  for roomlist command.

[2022-01-31 20:45] akashkarda commented on #3002
Can I work on this one?

[2022-02-01 08:19] appieschot commented on #3002
All yours!

[2022-02-01 08:21] appieschot commented on #2963
Thanks, updated spec and assigned #3002

[2022-02-01 08:50] #2947 closed

[2022-02-01 08:50] #2950 closed

[2022-02-01 18:52] #2768 closed

[2022-02-01 18:52] #2968 closed

[2022-02-01 18:52] #2955 closed

[2022-02-01 19:31] Jwaegebaert commented on #2956
@appieschot I would like to work on this one as well 😁

[2022-02-01 22:14] reshmee011 opened #3004 "new cmdlet teams channel primary get"
### Usage

m365 teams channel primary get

### Description

Retrieves primary channel for a team

### Options

Option | Description
-- | --
`-i, --teamId <teamId>` | The Id of the Microsoft Team

### Additional Info

_No response_

[2022-02-01 22:17] reshmee011 commented on #3004
Assign the issue to me as I am working on it

[2022-02-02 01:17] ktskumar commented on #2767
Will work on this command this week

[2022-02-02 05:16] arjunumenon commented on #2956
Thank you @Jwaegebaert for your help ❤.
All yours.

[2022-02-02 17:11] pmatthews05 opened #3006 "m365 spo userprofile set -"Error: Property Not Editable: This property can only be modified by an administrator""
### Description

We have created a custom user profile property in SharePoint online. This has been set to be visible by everyone but not editable.

When trying to modify my profile to update this property, I receive an error message

I am a global administrator, I have also ensured that I'm a SharePoint Administrator. I have also set the spo url to the admin url.

If I try to modify another profi

[2022-02-03 10:28] appieschot opened #3008 "New command: aad app delete"
### Usage

aad app delete

### Description

Removes an Azure AD app registration

### Options

Option | Description
-- | --
`--appId [appId]` | Application (client) ID of the Azure AD application registration to remove. Specify either `appId`, `objectId` or `name`
`--objectId [objectId]` |  Object ID of the Azure AD application registration to remove. Specify either `appId`, `objectId` or `name`
`

[2022-02-03 10:35] appieschot commented on #3004
@reshmee011 awesome work! A quick question on the specs; could it also make sense to extend the `channel get` command with a `--primarychannel` parameter instead of a separate command? I am assuming the goal of the command is to retrieve a channel for a team if you do not know the channelid right?

Additionally if we would keep this approach can we extend the command with a `--teamName` option as

[2022-02-03 10:39] appieschot commented on #3006
Thanks for raising this issue, will try to reproduce. In the mean time for future reference it might be related to https://github.com/pnp/powershell/issues/277 as we use the same app registration.

[2022-02-03 10:40] appieschot opened #3009 "Typo in docs `teams channel get`"
The docs for `teams channel get` refer to `channelid` as a required parameter (see: https://pnp.github.io/cli-microsoft365/cmd/teams/channel/channel-get/).

The option is optional as you are required to specify `channelId` OR `channelName`

[2022-02-03 10:52] SmitaNachan commented on #3009
Hello,
Can I work on this?

[2022-02-03 10:58] nanddeepn commented on #3008
Hi @appieschot
Can I work on this?

[2022-02-03 11:08] appieschot commented on #3008
Awesome! Assigned 🚀

[2022-02-03 11:08] appieschot commented on #3009
Great! Assigned 🦾

[2022-02-03 11:19] reshmee011 commented on #3004
@appieschot : Thanks for reviewing the PR. Another option to channel get to retrieve the primarychannel would work too. The goal is to retrieve the default channel, General of a team:https://docs.microsoft.com/en-us/graph/api/team-get-primarychannel?view=graph-rest-1.0&tabs=http.

[2022-02-03 12:45] appieschot commented on #3004
@pnp/cli-for-microsoft-365-maintainers feel free to chime in; my vote would be to make it part of the `channel get`

[2022-02-03 14:17] pmatthews05 commented on #3006
@appieschot Thank you for your response, I believe you could be correct, as I've attempted with pnp powershell and getting the same response. However, if the answer is to use SharePoint Legacy App-only, I do not believe you can log in M365 cli with this ClientId and Secret.

[2022-02-03 15:04] waldekmastykarz commented on #3004
+1 for extending the existing `channel get` command with a `--primary` flag. When specified, it should not require the user to specify either the channelId or -name.

[2022-02-03 15:14] appieschot commented on #3006
@PrasadKasireddy havent checked yet; but the cli does support secret (https://pnp.github.io/cli-microsoft365/cmd/login/) `m365 login --authType secret --secret topSeCr3t@007` Hope to find some time to test it for you but feel free to try if you have a spare minute ;-)

[2022-02-03 15:19] pmatthews05 commented on #3006
Using the --secret command according to the docs, is for Azure AD application to use for authentication. However when setting up a SharePoint Legacy App-Only this isn't an Azure AD application.

[2022-02-03 15:24] appieschot commented on #3006
If you would get your Azure AD App ID you can go to https://yourtenant-admin.sharepoint.com/_layouts/15/appinv.aspx and specify the AppId and click lookup. Then you can specify the app permissions xml:

[code]

Doing so should provide the proper permissions (but not tested if that is indeed working)

[2022-02-03 15:25] pmatthews05 commented on #3006
I'll try and test, I honestly didn't think the clientId created through the appinv.aspx was an Azure Ad App ID.

[2022-02-03 16:34] appieschot commented on #2961
Yes the login command allows you to specify the cloud type by passing in the `environment` parameter.

[2022-02-03 16:35] appieschot commented on #2989
I vote in favor; @pnp/cli-for-microsoft-365-maintainers please chime in!

[2022-02-03 18:28] waldekmastykarz commented on #2961
We should have a closer look at how it fits into our structure. Do you have some code that we could review or a PoC for the CLI?

[2022-02-04 12:16] appieschot opened #3013 "New sample script: Migrate planner plan to SPO"
Based on thread:
https://twitter.com/appieschot/status/1489573168595546112?s=20&t=qhoB3p_ZxPyBudfIHeqH3Q

|Docs||
|-----|----|
|Author| Albert-Jan Schot |
|Original Post| https://www.cloudappie.nl/migrate-planner-plan-list-climicrosoft365/ |
|Description| Use CLI to migrate a Planner plan to a SPO list |
|Keywords| `SharePoint Online` `Planner` |

[2022-02-04 13:46] appieschot commented on #2961
Okey there is a little bit of magic in place for for the audience so I am not 100% sure if we can replicate that (all code below); but it also doesn't feel like something should be possible. Will try to find some time to do a PoC for CLI.

The current implementation in PowerShell is as follows:
Step 1: Pass the `EndPoint` Parameter
[code]
Step 3: Determine the Audience (remark that the PowerShell

[2022-02-04 14:48] martinlingstuyl commented on #2939
Let's get this party started 🐱‍🏍

[2022-02-04 14:50] martinlingstuyl commented on #2813
You can assign me for this command.

I'll add it after the chat send command has been merged, as I want to reuse some code as 'chat utility functions'.

[2022-02-04 14:51] martinlingstuyl commented on #2899
You can assign me for this command.

I'll add it after the chat send command has been merged, as I want to reuse some code as 'chat utility functions'.

[2022-02-04 14:53] waldekmastykarz commented on #2996
Here's a first working proof of concept for how it could work:
- sample code using CLI through its API https://github.com/waldekmastykarz/cli-api
- CLI branch with the necessary changes: https://github.com/waldekmastykarz/cli-microsoft365/tree/cli-api

tl;dr: in the current setup, the necessary changes are minimal and we can run commands and get their output programmatically. There are some limita

[2022-02-04 15:00] appieschot commented on #2996
Sweet! My take is that we do not need validation for options for a first version. I would assume (yes I know assumption is bad) that the tool that will take a dependency does some input sanitization themselves before passing it on. Getting this live would provide us with feedback if it is used and if there are requests for more refactoring we can always put it on the backlog 🚀

[2022-02-04 15:14] waldekmastykarz commented on #2996
We need to double check what exactly we're skipping and if we're okay with releasing the first version with that. I'm all for fast iterations 😄

[2022-02-04 16:02] waldekmastykarz commented on #2996
After a closer look, here are the things that the current implementation is missing:

- update notification
- showing help
- running command using an alias
- using short options
- checking if the specified options are valid
- checking if all required options are specified
- validating options' values
- loading options' value from file (value prefixed with @)
- getting output value specified by the

[2022-02-04 19:16] appieschot opened #3015 "New command: planner task details get"
### Usage

planner task details get

### Description

Retrieve the details of planner task

### Options

Option | Description
-- | --
`-i, --taskId <taskId>` | The Id for planner task to retrieve details from

### Additional Info

Required for #3013, graph request: https://docs.microsoft.com/en-us/graph/api/plannertaskdetails-get?view=graph-rest-1.0&tabs=http

[2022-02-04 20:06] robdy commented on #2993
Removed from spec

Based on the response from `v1.0/users/` these are two different values:

![image](https://user-images.githubusercontent.com/15113729/152595987-a04902c2-aaf4-410f-ae4a-64a6a7ffd557.png)

I'll double check it later to be sure

[2022-02-04 20:18] appieschot opened #3017 "New command: m365 aad o365group conversation post list"
### Usage

m365 aad o365group conversation post list

### Description

Retrieve conversation details

### Options

Option | Description
-- | --
`-i, --groupId [groupId]` | The Id of the Office 365 Group. You can specify the groupId or groupDisplayName, but not both.
`-d, --groupDisplayName [groupDisplayName]` | The Displayname of the Office 365 Group. You can specify the groupId or groupDisplayNam

[2022-02-05 05:39] #2949 closed

[2022-02-05 05:39] #2952 closed

[2022-02-05 05:49] plamber commented on #2988
Hi @waldekmastykarz,
I would also provide a small "service" when checking the output. If the output is misspelled e.g. capital CSV instead of csv, the CLI should just put the value in the code to lowercase.

Cheers

[2022-02-05 06:01] plamber commented on #2462
@michaelmaillot: are you still working on this?

Thank you for your feedback.

[2022-02-05 08:24] #2948 closed

[2022-02-05 08:24] #2951 closed

[2022-02-05 08:36] waldekmastykarz commented on #2996
Another limitation that I just realized we have is lack of support for interactive commands such as login. Currently, we wait for the command to execute and then return all of its output at once. If you run login with the default device code auth, the command returns some output and waits for your action but you won't see it because the command is still running. To support interactive commands we'

[2022-02-05 09:02] waldekmastykarz commented on #2996
Thinking of events some more, we could add events on top of the current logging infrastructure so you could get input as it comes as well as in the end all at once. This would make a difference for stderr where we log output during execution and for interactive commands like login. When handling events you'd need to ensure that you don't show the same output twice. Basically you'd choose to either

[2022-02-05 11:03] waldekmastykarz commented on #2988
Would you see us do this only for `output` or for other options as well?

[2022-02-05 11:07] waldekmastykarz commented on #3017
You made a good call with regards to the name. I don't think there's a better way structure for it, given you might want to retrieve all conversations in a group which would be `aad o365group conversation list`

[2022-02-05 11:14] plamber commented on #2988
Options came into my mind. Do you have other ideas?

[2022-02-05 15:16] appieschot commented on #3017
In thats case lets open it up 🦾

[2022-02-05 15:55] waldekmastykarz commented on #2988
I think right now we might do it in some places but definitely not everywhere. I think our original stance was to treat values case-sensitively when there is an enum. I'm open to revisit but would then suggest to do it consistently across all options. Shall we move this part of discussion to go through pro's and cons with others before we commit to it?

[2022-02-05 15:56] waldekmastykarz commented on #3015
Updated spec to match the naming convention for options

[2022-02-05 15:58] waldekmastykarz commented on #2899
If you add the same code in the same place, git should take care of when merging changes, but we can also wait until the PR you mentioned is merged. We appreciate your help! 👏

[2022-02-05 16:06] waldekmastykarz commented on #2767
Thank you for the update @ktskumar

[2022-02-05 16:35] waldekmastykarz commented on #3015
As mentioned in the PR review, if we're calling the `/tasks/<task>/details` API, shouldn't the command be named `planner task details get` so that we could still have `planner task get` which would retrieve task information from `/tasks/<task>`?

[2022-02-05 16:43] appieschot opened #3019 "planner task get"
### Usage

planner task get

### Description

Retrieve the a planner task

### Options

Option | Description
-- | --
`-i, --id <id>` | The Id for planner task to retrieve details from

### Additional Info
based on discussion in PR for #3015

[2022-02-05 17:22] appieschot commented on #2923
Will have a look upcoming days

[2022-02-05 17:25] appieschot commented on #2906
Will have a look upcoming days; this might be a bigger problem with our current implementation. I had similar issues when creating new list columns from XML, updating an existing view, and sending adaptive cards.

It might be related to Windows vs Linux as the commands for creating columns seems to be working on Unix. But haven't investigated to much so will spend some time checking a few more com

[2022-02-05 18:32] waldekmastykarz commented on #3015
Reverted `id` back to `taskId` since the last noun is now `details`

[2022-02-05 18:55] #3015 closed

[2022-02-05 18:55] #3019 closed

[2022-02-05 19:13] waldekmastykarz commented on #2906
If this is the issue, then it's coming from the underlying shell that requires a specific sequence for escaping quotes and it's nothing that we could do about. One workaround for such cases is to store the payload in a file and pass the argument [from a file using `@`](https://pnp.github.io/cli-microsoft365/user-guide/using-cli/#passing-complex-content-into-cli-options). That way you don't need to

[2022-02-05 19:31] garrytrinder commented on #2989
In favour 👍

[2022-02-06 10:01] #2642 closed

[2022-02-06 10:01] #3009 closed

[2022-02-06 10:03] #2922 closed

[2022-02-06 17:03] garrytrinder commented on #2817
All duplicate test names have been fixed, this resulted in a number of duplicate test cases being removed, reducing the number of tests we have. Always nice to remove code 👍

[2022-02-06 20:34] michaelmaillot commented on #2462
Yes, sorry for the delay. Hope to bring something soon.

[2022-02-07 04:08] plamber commented on #2462
Don't worry @michaelmaillot, thank you for your feedback.

Cheers

[2022-02-07 09:41] robdy commented on #2988
I can work on fixing the bug.

For the service, I think the model that git uses would work fine. If there's a typo detected, it would respond with: *Did you mean --output csv instead of --output cvs*.

Providing suggestions would not go against the principle to be case sensitive, but could improve user experience

[2022-02-07 11:48] #2957 closed

[2022-02-07 12:02] waldekmastykarz opened #3025 "Enhancement: extend teams app install to support installing personal apps"
Currently the `teams app install` command only supports installing apps to teams. We should extend it to support installing personal apps. This would be beneficial especially for developers who want to quickly deploy the app they're working on Teams to preview it. To indicate that you want to install a personal app, use a newly added `--personal` option.

Requires the `TeamsAppInstallation.ReadWri

[2022-02-07 12:34] waldekmastykarz opened #3026 "Enhancement: extend 'teams app update' to support updating the app using its name"
Currently, to update a Teams app you need to know its ID. As this ID is generated after the app has been published, it's not known to the user unless they run the `teams app list` command first to lookup the ID using the app's name. To make this flow more convenient, we should allow users specify the app's name and look up the corresponding ID for them in the background.

[2022-02-07 12:47] nanddeepn commented on #3026
Hi @waldekmastykarz
Can I work on this?

[2022-02-07 13:00] waldekmastykarz commented on #3026
Please do! We appreciate your help 👏

[2022-02-07 17:31] waldekmastykarz commented on #2988
I'd suggest that we keep this issue focused on fixing the issue at hand and take the idea of making option values case-insensitive separately.

[2022-02-07 17:39] robdy commented on #2988
For the bug fixing you can assign me :)

[2022-02-07 19:17] martinlingstuyl commented on #2940
You can assign this one to me guys 👍

[2022-02-07 23:46] zhenyasav commented on #2996
Can we also discuss the should-be picture if we had infinite time to write the next iteration? My understanding would be that there is some place which is more like an "api" that is being called from the "cli", and what we're looking for is an export of that api, from underneath the CLI, right? Any multi-turn steps are collapsed (by the cli) into object arguments before calling the API, or at wors

[2022-02-08 03:58] plamber commented on #2988
@robdy: all yours

[2022-02-08 06:31] vipulkelkar commented on #2998
@waldekmastykarz happy to try and work on this, please assign it to me.

[2022-02-08 10:33] appieschot commented on #2998
@vipulkelkar all yours 🚀

[2022-02-08 11:43] appieschot opened #3029 "Improvement in spo listitem add"
Encountered while building #3013. When passing empty values in `spo listitem add` (null values or empty strings) the response when adding an item is `Error: Item does not exist. It may have been deleted by another user.`

I suggest we add logic to exclude empty values before adding an item to prevent this (for a me a weird error); that way writing scripts becomes easier (sometimes you want to crea

[2022-02-08 13:07] appieschot opened #3030 "New command: m365 aad o365group conversation list"
### Usage

m365 aad o365group conversation list

### Description

Retrieve conversations for the specified group

### Options

Option | Description
-- | --
`-i, --groupId <groupId>` | The Id of the Office 365 Group

### Additional Info

https://docs.microsoft.com/en-us/graph/api/group-list-conversations?view=graph-rest-1.0&tabs=http

For readability CSV and Text output should return `topic`, `last

[2022-02-08 13:19] waldekmastykarz commented on #3029
Could you share some more information how to reproduce this? Is the matching field in the list required or not? I wonder if there are cases where you might want us to pass empty values through and if this changes wouldn't lead to a breaking behavior.

[2022-02-08 18:44] akashkarda commented on #3030
Can I work on this one?

[2022-02-08 19:10] appieschot commented on #3030
Awesome! There you go!

[2022-02-09 08:10] waldekmastykarz commented on #2996
That's a great idea @zhenyasav. For the first iteration I've got the following rudimentary API:

[code]

As a consumer, you can choose if you want to get the output from the Promise (which is available after the command completed execution) or through events which are raised as the command executes. The way CLI is built today, in 99% cases you won't see any difference, but if you want to programma

[2022-02-09 08:33] zhenyasav commented on #2996
yeah zod is probably going to help delete many lines and offer free types. "parse, don't validate!" :)

[2022-02-09 08:38] waldekmastykarz commented on #2996
One more area that it could potentially help us could be defining and validation option sets #2998

[2022-02-09 09:02] waldekmastykarz commented on #2998
Hey @vipulkelkar, in #2996 @zhenyasav mentioned zod as a possible alternative to manual validation that we're doing now. I wonder if it could help us with validation option sets as well. Perhaps you could have a look at it?

[2022-02-09 10:15] vipulkelkar commented on #2998
@waldekmastykarz sure, i will take a look at it

[2022-02-09 10:50] waldekmastykarz opened #3035 "New command: Ensure that the particular Azure AD app registration exists and updates its properties if necessary"
### Usage

m365 aad app ensure [options]

### Description

Ensures that the particular Azure AD app registration exists and updates its properties if necessary

### Options

Option | Description
-- | --
`-- manifest <manifest>` | Azure AD app manifest as retrieved from the Azure Portal to configure the app registration from

### Additional Info

The command is a combination of `aad app get`, `aad

[2022-02-09 11:32] waldekmastykarz commented on #3030
In text/CSV output, shall we also include the id (assuming there's one) so that you can use it to retrieve the conversation's details (assuming that's relevant and that we'd have `aad o365group conversation get` at some point)?

[2022-02-09 11:58] appieschot commented on #3030
@waldekmastykarz Happy to include that one in the specs; however the ID you get returned is quite long and most likely will not fit on your typical screen:

`"id": "AAQkAGFhZDhkNGI1LTliZmEtNGEzMi04NTkzLWZjMWExZDkyMWEyZgAQAH4o7SknOTNKqAqMhqJHtUM="`

I do agree that it has added value, just wasn't sure it would fit :)

[2022-02-09 12:22] waldekmastykarz commented on #3030
I think in this case it's justified, while I fully agree that it's not ideal. We need bigger screens 😄

[2022-02-09 12:25] appieschot commented on #3030
@akashkarda please make sure to include `id` as well, I have updated the specs ;-)

[2022-02-09 12:34] waldekmastykarz commented on #3025
If you don't specify `teamId` couldn't we assume that you want to install a personal app?

[2022-02-09 12:46] waldekmastykarz commented on #2961
Awesome research. Let's try to make a PoC to see how we could make it fit with the CLI 👏

[2022-02-09 13:41] akashkarda commented on #3030
Sure. Thank you!

[2022-02-09 14:07] appieschot opened #3036 "Update `planner task list` to use beta graph endpoint"
We should update the `planner task list` command to use the beta graph endpoint as that provides us with a `priority' property.

The response payload is exactly the same except for two properties:

[code]

We should update the documentation as well. As discussed in #3034 the implementation should be so that all calls keep using the `v1.0` endpoint and we introduce an extra call that calls `beta`.

[2022-02-09 14:09] appieschot opened #3037 "Update `planner task get` to use beta graph endpoint #3036"
We should update the `planner task get` command to use the beta graph endpoint as that provides us with a `priority' property.

The response payload is exactly the same except for two properties:

[code]

We should update the documentation as well. As discussed in #3034 the implementation should be so that all calls keep using the `v1.0` endpoint and we introduce an extra call that calls `beta`. T

[2022-02-09 14:58] appieschot commented on #2923
Hmm, looks like this might be simpler then initially thought; changing the URL to `api.bap` solves the issue on my side. @pstrindlund  or @phillipharding any change you can validate my findings? You can find the code here:   https://github.com/appieschot/cli-microsoft365/tree/feature/issue-2923

[2022-02-09 16:09] waldekmastykarz opened #3041 "Bug report: creating an Azure AD app from the manifest fails"
### Description

When you try create an Azure AD app from the manifest you get error.

### Steps to reproduce

Save the following manifest to a file:

[code]

Execute:

[code]

### Expected results

Azure AD app created and configured as defined in the manifest

### Actual results

Error: Unexpected contents in the request body

### Diagnostics

_No response_

### CLI for Microsoft 365 version

la

[2022-02-09 19:00] #2283 closed

[2022-02-09 19:00] #2946 closed

[2022-02-09 20:42] waldekmastykarz commented on #3025
If you misspell `teamId`, CLI would throw an error saying that you're using an unknown option. If you misspell its value, it would fail because it wouldn't find the team with the specified ID. I understand what you're getting at. I don't think we have this risk with the current guardrails, but perhaps we should make it explicit like we do with tenant-wide deployment for SPFx apps.

[2022-02-09 20:50] appieschot commented on #3025
Hmm that makes sense; I was thinking we could screw up but you are right; with guardrails in place we should be good.

[2022-02-10 08:28] waldekmastykarz commented on #2996
For researching zod, I'd suggest taking the [validation logic of `aad app add`](https://github.com/pnp/cli-microsoft365/blob/6d4dbfbaa9b774775cfbbdc64bb7d664b9b78b85/src/m365/aad/commands/app/app-add.ts#L559), which has a nice combination or option sets, enums, dependent property and optional properties with specific format (JSON)

[2022-02-10 08:29] waldekmastykarz commented on #2998
@vipulkelkar, when you're looking at zod, you could take as an example the [validation logic of `aad app add`](https://github.com/pnp/cli-microsoft365/blob/6d4dbfbaa9b774775cfbbdc64bb7d664b9b78b85/src/m365/aad/commands/app/app-add.ts#L559), which has a nice combination or option sets, enums, dependent property and optional properties with specific format (JSON)

[2022-02-10 08:42] waldekmastykarz commented on #3025
I'm not against adding `--personal` to explicitly indicate that it's a personal app and which could function as a guardrail in case we allow installing apps by name and both the ID and name become optional which could lead to undesired side-effects. Thank you for bringing it up. Good call 👍

[2022-02-10 08:55] waldekmastykarz commented on #2996
After looking at different options together with @manekinekko, we came to the following implementation:

[code]

We use current CLI's implementation with Promises to return command output after the command finished its execution. If you need to get command output while the command is still running, you can pass an optional listener attached to stdout (main output) or stderr (verbose, debug, and er

[2022-02-10 12:31] waldekmastykarz opened #3043 "Enhancement: extend 'aad app set' with updating redirect URL"
Extend the `aad app set` command with the ability to update redirect URLs:

`-r, --redirectUris [redirectUris]`
Comma-separated list of redirect URIs to add to the app registration. Requires `platform` to be specified

`-p, --platform [platform]`
Platform for which the `redirectUri` should be configured. Allowed values `spa,web,publicClient`

`--redirectUrisToRemove [redirectUrisToRemove]`
Comma-s

[2022-02-10 12:32] waldekmastykarz commented on #3043
@pnp/cli-for-microsoft-365-maintainers I'd appreciate your 👀, especially around the `redirectUriToRemove` option. I've added it so that we can keep the app reg clean instead of keep adding new redirect URIs indefinitely.

[2022-02-10 13:43] appieschot commented on #3043
Can those parameters contain multiple `Uris` or do we then need to call the command multiple times?

[2022-02-10 13:51] waldekmastykarz commented on #3043
Right now, I chose to support a single URL, but we could make it more consistent with `aad app add` and support multiple URLs.

[2022-02-10 13:57] appieschot commented on #3043
When updating an app reg I can imagine that you might want to set both a localhost and a azurewebsite URL; so supporting multiple URL would definitely make sense for me. Same goes for deleting multiple :)

[2022-02-10 14:57] waldekmastykarz commented on #3043
My original idea was that you'd create the app with the necessary URLs and then only need to adjust one, like the one related to a tunnel that you're using. There's no reason not to support multiple URLs though. We have the code already so could definitely add it if it makes other scenarios possible.

[2022-02-10 15:13] waldekmastykarz commented on #3043
Updated spec to support multiple redirect URIs

[2022-02-10 17:34] waldekmastykarz opened #3045 "Enhancement: add support for upgrading SPFx projects to v1.14.0-rc.2"

[2022-02-10 18:59] #2936 closed

[2022-02-10 18:59] #2996 closed

[2022-02-10 22:04] veronicageek opened #3046 "New sample script: List all checked out documents in a SharePoint site"
|Docs||
|-----|----|
|Author| Veronique Lengelle ([@veronicageek](https://twitter.com/veronicageek)) |
|Original Post| https://veronicageek.com/2020/find-checked-out-files-across-multiple-site-collections |
|Description| The script will list all documents in a multiple libraries (or a single one) to fetch only the checked out files. We can also scan multiple sites with a CSV file (with a warning f

[2022-02-10 22:05] veronicageek commented on #3046
Happy to be assigned to it. Script ready 🙂

Note: I haven't found the `CheckedOutTo` property but if it exists in CLI, then I can add it to the script.

[2022-02-11 08:14] waldekmastykarz opened #3047 "Add support disclaimer to CLI docs"
We should add a disclaimer to CLI's docs that clearly state that CLI for Microsoft 365 is not a Microsoft product and not a subject to any SLA. Here's a similar snippet from PnP PowerShell:

[2022-02-11 08:43] appieschot commented on #3047
Updated spec to link to our issue location ;-)

[2022-02-11 11:26] waldekmastykarz commented on #3046
I don't think we expose this property in the command to use it in a query but if it's a part of the data returned by the API, we should be able to query for it on the client.

[2022-02-11 12:19] #3045 closed

[2022-02-11 16:28] appieschot opened #3051 "New command: `planner plan details get`"
### Usage

planner plan details get

### Description

Retrieve the planner details.

### Options

Option | Description
-- | --
`-i, --planId [planId]` | ID of the plan. Specify either `planId` or `planTitle` but not both.
`-t, --planTitle [planTitle]` | Title of the plan. Specify either `planId` or `planTitle` but not both.
`--ownerGroupId [ownerGroupId]` | ID of the Group that owns the plan. Spec

[2022-02-11 19:04] #3037 closed

[2022-02-12 09:07] #3008 closed

[2022-02-12 09:07] #2956 closed

[2022-02-12 09:11] #3036 closed

[2022-02-12 09:28] plamber opened #3052 "Bug report: planner task list returns wrong data"
### Description

The planner task list command requires at least one option to be able to locate the tasks. Right now you are able to call planner task list without receiving an error message that this option won't be able to return anything at all.

### Steps to reproduce

call m365 planner plan task list without options

### Expected results

Receive an error message which option is expected to

[2022-02-12 09:34] plamber opened #3053 "Bug report: m365 planner plan list --ownerGroupName migth be misleading if there are multiple groups with the same displayname"
### Description

m365 planner plan list --ownedGroupName allows you to return the planner plans of a group with the displayName specified under --ownedGroupName.

If you have multiple groups with the same displayName, the command will take the first group it finds and return the plans or not. This might be misleading compared to other commands where we return an error message if multiple matches h

[2022-02-12 10:17] waldekmastykarz commented on #3052
Good catch! We should definitely extend our validation logic to prevent this from happening.

[2022-02-12 14:47] appieschot commented on #3053
Great catch!

[2022-02-12 17:12] appieschot commented on #3053
Assuming the problem will also occur in the following commands:
- `planner bucket add`
- `planner bucket list`
- `planner plan get`
- `planner task add`
- `planner task list`
- `planner task set`

They all use either a `getPlan` or `getPlanId` method to translate a `groupName` to an ID (the first in the array)

[2022-02-12 18:27] waldekmastykarz commented on #3053
Great catch both! @appieschot, if we could confirm this, we should create separate issues for all these bugs to ensure that we'll fix them. We should also ensure that fixes contain a test case that proves that the issue has been fixed.

[2022-02-12 18:59] #2925 closed

[2022-02-12 18:59] #3004 closed

[2022-02-12 20:17] reshmee011 commented on #3051
Please assign it to me to attempt.

[2022-02-13 04:21] plamber commented on #3053
Hi @waldekmastykarz, @appieschot,
I can confirm that all these commands are affected (it has been stated under "additional info"). I am going to create the issues.

Cheers

[2022-02-13 06:00] #2963 closed

[2022-02-13 06:00] #3002 closed

[2022-02-13 06:00] #3030 closed

[2022-02-13 19:04] #2653 closed

[2022-02-13 19:04] #2916 closed

[2022-02-13 19:04] #3043 closed

[2022-02-13 19:10] waldekmastykarz commented on #3053
Awesome! Thank you @plamber

[2022-02-13 19:11] waldekmastykarz commented on #3051
Awesome! We appreciate your help 👏

[2022-02-13 20:37] Abderahman88 commented on #3053
Hi @plamber @waldekmastykarz @appieschot,

You can assign this one to me. I'm aware of this issue and planning to fix it in my next PR. (#2845)

![image](https://user-images.githubusercontent.com/36161889/153773688-e6164de1-0aa2-466b-9078-87b4cce70883.png)

[2022-02-13 20:53] Abderahman88 commented on #3052
No, it will not always be empty, Calling without parameters gives the tasks for the currently logged user.

![image](https://user-images.githubusercontent.com/36161889/153774552-da742000-4f69-4004-be0d-d146a8ad2602.png)

[2022-02-14 05:02] plamber commented on #3053
Hi @Abderahman88,
thank you very much. Could we just change the wording? Please disambiguate sounds a little bit strange. Could we use something like "Please choose between the following IDs" instead?

I am going to create issues except for the planner set command.

Thank you,
Patrick

[2022-02-14 05:04] plamber commented on #3052
Thank you @Abderahman88,
Haven't seen that and most likely missed the docs explanation. I am going to close this issue.

Thank you for your feedback,
Patrick

[2022-02-14 05:11] plamber commented on #3052
I am just wondering @waldekmastykarz  and @Abderahman88 if we should change the wording in the help.

I wasn't assigning tasks to me, therefore I haven't seen that. When using the other parameters I am not only getting assigned tasks to me but also tasks from other people (so compared to the first mode this is unfiltered).

It feels that this command tries to solve many different combinations that

[2022-02-14 05:13] plamber commented on #3051
Hi @reshmee011,
could you please have a look into this issue: https://github.com/pnp/cli-microsoft365/issues/3053#issuecomment-1038412351. There is a discussion how the ownerGroupName parameter should be handled.

Cheers

[2022-02-14 08:25] waldekmastykarz commented on #3052
Good point @Abderahman88. @plamber we do mention this behavior explicitly in help as the first example:

<img width="336" alt="image" src="https://user-images.githubusercontent.com/11164679/153826602-2ccfd74a-748d-441c-9b30-aa8e5e40b02b.png">

@plamber what behavior would you expect when not specifying any other options?

[2022-02-14 08:28] plamber commented on #3052
The behavior of the command feels just a little bit off.

List tasks for the currently logged-in user. -> I think would be better if you state "List of assigned tasks for the currently logged-in user".

Then I would expect to have at least an option to return my assigned tasks for all other combinations. But maybe I am just overthinking

[2022-02-14 08:31] waldekmastykarz commented on #3052
That's a good suggestion that makes the intent more explicit. I'm for updating it as you suggested.

It makes sense to be able to use an option like `--assignedToMe` to filter your tasks. The question though remains, what would the default `planner task list` without any options do? Would we even allow to run it?

[2022-02-14 09:13] reshmee011 commented on #3051
Hi

Sure, read the bug details and will incorporate it in the implementation.

Thanks
Reshmee

On Mon, Feb 14, 2022 at 5:14 AM Patrick Lamber ***@***.***>
wrote:

[2022-02-14 09:55] waldekmastykarz commented on #3025
I've just noticed that the underlying API allows you to install an app for any user, not just the current user. As such, instead of using `--personal`, shall we add `--userId` and `--userName` as an alternative to `--teamId`?

[2022-02-14 11:32] plamber commented on #3052
I would keep planner task list as it is and extend the rest with --assignedToMe

[2022-02-14 12:28] waldekmastykarz opened #3056 "Introduce @me.id and @me.userName to simplify working with the current user"
### Discussed in https://github.com/pnp/cli-microsoft365/discussions/3055

<div type='discussions-op-text'>

<sup>Originally posted by **waldekmastykarz** February 14, 2022</sup>
We have commands that require you to specify the user's ID or name. Currently, there's no way to easily specify information about the current user. There are some workarounds like retrieve the user name from the `status`

[2022-02-14 13:00] plamber commented on #3052
this wouldn't make any difference and wouldn't harm either

[2022-02-14 13:09] waldekmastykarz commented on #3052
In that case, shall we update this issue with the new spec for `assignedTo`?

[2022-02-14 13:13] plamber commented on #3052
No, I would close this one and create a separate issue instead

[2022-02-14 13:51] Abderahman88 commented on #3053
@plamber Great suggestion. I'll change it 👍

[2022-02-14 15:13] AJIXuMuK opened #3057 "New command: SPFx project doctor"
### Usage

`spfx project doctor`

### Description

Validates correctness of SPFx solution

### Options

Option | Description
-- | --
`-p, --package` | validate `package.json`
`-i, --imports` | validate imports

### Additional Info

Let's start with `package.json` validation.
Here are some thoughts:
## Validate SPFx Versions
We can check that SPFx packages have correct versions and version referenc

[2022-02-14 15:25] AJIXuMuK commented on #3057
I think analyzing `package.json` is an atomic command that should not be split.
If in future we add more options, like analyze imports`, then definitely yes - we can allow specifying what exactly to analyze as different types of check could be done during different stages of the lifecycle.

[2022-02-14 15:28] waldekmastykarz commented on #3057
If we expose options to analyze specific parts of the project, then I think it would be also good to have an `--all` switch that allows you to check everything. We could then over time see which options people use and if they indeed analyze the different parts or default to analyzing everything.

[2022-02-15 08:32] #3025 closed

[2022-02-15 08:32] #2817 closed

[2022-02-15 08:32] #2939 closed

[2022-02-15 08:32] #2944 closed

[2022-02-15 09:18] arjunumenon opened #3059 "Bug report: cmd : `m365 aad user list` : unhandled exception when using unknown flags"
### Description

When you use an unknown flag with `m365 aad user list`, it leads to an unhandled exception.

### Steps to reproduce

- Execute command `m365 aad user list --unknownFlag`
- Getting the following error message
`(node:6072) UnhandledPromiseRejectionWarning: TypeError: options[key].replace is not a function
    at C:\Users\USERNAME\AppData\Roaming\nvm\v14.15.0\node_modules\@pnp\cli-mi

[2022-02-15 10:03] martinlingstuyl opened #3060 "Bug report: the spfx project upgrade command returns badly formatted text"
### Description

When running the `spfx project upgrade` command, the returned text is not formatted in a helpful way.

**This probably has to do with the default output type being json. If I run the command with `--output text` the text is formatted fine.**

### Steps to reproduce

Run `spfx project upgrade` on a project that needs an upgrade.

### Expected results

The expected result would be h

[2022-02-15 12:00] appieschot commented on #3060
Most likely because our default output is `json` for a readable output you can use `--output text`

[2022-02-15 12:09] vipulkelkar commented on #2998
haven't been able to dig deeper into this, here is the initial high level analysis. I was looking at a way to implement oneOf/anyOf type validation and came across [this thread](https://github.com/colinhacks/zod/issues/61) which led to '[Yup](https://www.npmjs.com/package/yup)'
The dependent property validation, enum etc are available in Yup, below is the sample code (partially implemented) for th

[2022-02-15 13:08] martinlingstuyl commented on #3060
See description 👆 😁

[2022-02-15 13:37] martinlingstuyl commented on #3060
So maybe it's not literally a bug, but it's not as you would expect.
(For the issue I had to choose between Bug report, new command or sample script)

[2022-02-15 13:41] appieschot opened #3061 "New command: m365 pp environment list"
### Usage

m365 pp environment list

### Description

Retrieve PowerApps environments

### Options

Option | Description
-- | --
`--asAdmin ` | Run the command as admin and retrieve all environments. Lists only environments you have explicitly are assigned permissions to by default.

### Additional Info

You can find inspiration in  `flow environment list` and `pa environment list` but this comman

[2022-02-15 19:01] waldekmastykarz commented on #2934
Working on it 😎

![image](https://user-images.githubusercontent.com/11164679/154130625-78579604-9151-4c94-b79b-be3c5a854055.png)

[2022-02-15 22:13] veronicageek commented on #2245
@waldekmastykarz @appieschot - Happy to take that one on if that's OK 🙂

[2022-02-16 04:04] plamber commented on #2245
Hi @veronicageek,
all yours.

Cheers

[2022-02-16 16:17] waldekmastykarz commented on #2998
Thanks for looking into it @vipulkelkar. When I heard of zod and based on the few examples I've seen, I had hoped it would let us simplify validation. Looking at the above sample, it doesn't really feel like a simplification. I wonder if there are other ways to handle it. If not, then we could drop the whole idea for now and implement option sets like we speced initially.

[2022-02-16 16:31] zhenyasav commented on #2998
this seems like a situation where you're actually looking for a union of multiple kinds of shapes that can be passed into a function. One of the benefits of this approach is that you can obtain typescript types from your validation schemas that are not redundant with it (i.e. you make one expression, and you get both a validator and a type which are guaranteed to be aligned).

Expressing some of t

[2022-02-16 18:36] waldekmastykarz commented on #2998
Do you have an example of how that would look like @zhenyasav?

[2022-02-16 18:40] waldekmastykarz commented on #3060
Good catch @martinlingstuyl. Like @appieschot mentioned, this became more evident recently when we switched the default output to text. I agree that we shouldn't manually override the output type. While this behavior is by-design, I agree that we should consider JSON output for the command. Let's close this issue as by-design and start a new issue with a suggested enhancement where we can spec wha

[2022-02-16 18:47] waldekmastykarz commented on #3059
`aad user list` allows the use of [unknown properties for the purpose of filtering](https://pnp.github.io/cli-microsoft365/cmd/aad/user/user-list/#remarks), so this behavior is intentional. The reason why it's failing, is because we assume that each option has a value passed, while in your case, you passed it as a flag which is converted to a boolean which we in our code assume is a string. We cou

[2022-02-17 07:28] #3047 closed

[2022-02-17 09:07] reshmee011 commented on #3061
please assign it to me

[2022-02-17 09:44] appieschot commented on #3061
Awesome! All yours 🚀

[2022-02-17 15:51] waldekmastykarz opened #3067 "Enhancement: add support for upgrading SPFx projects to v1.14.0"

[2022-02-17 18:50] waldekmastykarz opened #3069 "Enhancement: update 'spfx doctor' to support SPFx v1.14.0"

[2022-02-17 21:50] #2573 closed

[2022-02-18 07:24] #3067 closed

[2022-02-18 07:24] #3069 closed

[2022-02-19 04:31] #3046 closed

[2022-02-19 04:31] #3026 closed

[2022-02-19 04:58] plamber opened #3071 "Bug report: mkdocs docker file fails to run in Visual Studio Code (Windows 11)"
### Description

On Windows 11 you receive this error message when trying to run the docker image for mkdocs in interactive mode.

<img width="1112" alt="image" src="https://user-images.githubusercontent.com/18241305/154786804-e9862de6-86f3-4416-b466-6e0792760746.png">

### Steps to reproduce

- Open Visual Studio Code
- Go to the image squidfunk/mkdocs-material -> vs 3.1.0 and run interactive
- I

[2022-02-19 05:03] plamber opened #3072 "Enhancement: extend planner task list with assignedTo"
Based on conversation #3052 we should extend the planner task list command with a new option.

Option | Description
-- | --
`--assignedToUserIds [assignedToUserIds] ` | The comma-separated IDs of the assignees the task is assigned to. Specify either assignedToUserIds or assignedToUserNames but not both.
`--assignedToUserNames [assignedToUserNames] ` | The comma-separated UPNs of the assignees the

[2022-02-19 05:08] plamber commented on #3053
@Abderahman88: since all commands mentioned by @appieschot are using the same methods over and over (getPlanId, getGroupName, getPlan), could we create a base class and add these commands there and inherit from that base class? It would be awesome if we can reduce some code in all commands.

I am going to create the related issues for all other commands. Once the base class is created, we can work

[2022-02-19 05:11] plamber opened #3073 "BUG report: planner bucket add --ownedGroupName returns wrong data"
### Description

Most planner commands use the --ownedGroupName option to return values based on Group DisplayName.
If you have multiple groups with the same displayName, the command will take the first group it finds and return the plans or not. This might be misleading compared to other commands where we return an error message if multiple matches have been found.

Check related issue #3053

###

[2022-02-19 05:11] plamber opened #3074 "BUG report: planner bucket list --ownedGroupName returns wrong data"
### Description

Most planner commands use the --ownedGroupName option to return values based on Group DisplayName.
If you have multiple groups with the same displayName, the command will take the first group it finds and return the plans or not. This might be misleading compared to other commands where we return an error message if multiple matches have been found.

Check related issue #3053

###

[2022-02-19 05:12] plamber opened #3075 "BUG report: planner plan get --ownedGroupName returns wrong data"
### Description

Most planner commands use the --ownedGroupName option to return values based on Group DisplayName.
If you have multiple groups with the same displayName, the command will take the first group it finds and return the plans or not. This might be misleading compared to other commands where we return an error message if multiple matches have been found.

Check related issue #3053

###

[2022-02-19 05:13] plamber opened #3076 "BUG report: planner task add --ownedGroupName returns wrong data"
### Description

Most planner commands use the --ownedGroupName option to return values based on Group DisplayName.
If you have multiple groups with the same displayName, the command will take the first group it finds and return the plans or not. This might be misleading compared to other commands where we return an error message if multiple matches have been found.

Check related issue #3053

###

[2022-02-19 05:13] plamber opened #3077 "BUG report: planner task set --ownedGroupName returns wrong data"
### Description

Most planner commands use the --ownedGroupName option to return values based on Group DisplayName.
If you have multiple groups with the same displayName, the command will take the first group it finds and return the plans or not. This might be misleading compared to other commands where we return an error message if multiple matches have been found.

Check related issue #3053

###

[2022-02-19 18:45] waldekmastykarz commented on #3053
Considering #2989 I'd like to suggest that we add the method in `Utils` for now and when we start working on #2989 we'll move it to a Planner-specific util module. Let's not create a separate base class that we'd need to remove later as that would introduce additional work.

[2022-02-19 18:47] waldekmastykarz commented on #3072
If we look at https://pnp.github.io/cli-microsoft365/cmd/planner/task/task-add/ and https://pnp.github.io/cli-microsoft365/cmd/planner/task/task-set/ we have separate options for user ID and name. I'd suggest that we use the same pattern here to keep the commands consistent.

[2022-02-19 18:51] waldekmastykarz commented on #3071
A while back we upgraded to mkdocs 7.1.7 so you should use that image instead:

![image](https://user-images.githubusercontent.com/11164679/154814779-76435e58-6ee1-4868-b7fc-a006cb6d7417.png)

If we reference the old version anywhere, then we should definitely update it to point to 7.1.7.

[2022-02-19 23:44] akashkarda commented on #3017
Can I work on this one?
Also, let me know what will be the folder structure for new files?

[2022-02-20 06:14] plamber commented on #3017
@akashkarda ,@appieschot : apart from using the thread ids, is there anything else that can be used to structure a conversation thread? This might come handy when you plan to build other conversation structures

I am thinking of a discussion board like scenario.

- level 1: you have a board/folder where threads can be stored. Having some properties
- level 2: you have a thread
- level 3: you have

[2022-02-20 09:00] reshmee011 commented on #3061
@appieschot : hope you are well, does pp mean Power Platform? I am waiting for another PR to get started on it. Is it worthwhile that I wait for #2917 to be done before I start working on it?

[2022-02-20 11:21] nanddeepn commented on #3075
Hi,
Can I work on this?

[2022-02-20 11:34] #2158 closed

[2022-02-20 13:30] SmitaNachan commented on #3073
Hello,
Can I work on this?

[2022-02-20 13:35] garrytrinder commented on #3073
All yours @SmitaNachan 👍🏻

Thank you for your support ❤️

[2022-02-20 13:42] plamber commented on #3073
Hi @SmitaNachan ,

@Abderahman88 is working on this problem on the original issue. Would it make sense to align with @Abderahman88  before proceeding here? We could avoid double work. Same holds for @nanddeepn that would like to pick up another similar issue on #3075.

Just let me know your preference.

Cheers

[2022-02-20 13:44] plamber commented on #3075
Hi @nanddeepn , thank you. All yours.

Please check this comment first.

https://github.com/pnp/cli-microsoft365/issues/3073#issuecomment-1046240990

Cheers

[2022-02-20 15:09] garrytrinder opened #3080 "Enhancement: Extend `aad o365group add` with options to set `resourceBehaviorOptions`"
`resourceBehaviorOptions` can be set only at creation time of an Microsoft 365 Group however currently we do not provide the ability to set them, therefore only the default behaviours are set. We should provide the ability to set these options to our own preference if they are provided.

### Options

Option | Description
-- | --
`--allowMembersToPost [allowMembersToPost]` | Set if only group membe

[2022-02-20 19:56] waldekmastykarz commented on #2989
WIP: https://github.com/waldekmastykarz/cli-microsoft365/tree/utils-modules

The `Utils` class is no more and all methods are split into functions divided over multiple modules. Code compiles, but there are still some broken tests. I got rid of a few base classes but still need to do another pass. Last part left will be the removal of `ItemsListCommand` with the special `getAllItems` method which

[2022-02-20 21:36] Abderahman88 commented on #3073
@plamber @SmitaNachan @nanddeepn Yes, I'm working on the issue. To avoid double work, it's better to assign the other issues on my name or put them on hold.

[2022-02-21 04:32] nanddeepn commented on #3073
Hi @Abderahman88
I too have started working on it.

[2022-02-21 04:48] plamber commented on #3073
Hi @Abderahman88, @nanddeepn,
I am going to put these issues on hold for now. Once the PR of @Abderahman88 is merged we can continue with the work. Let's keep the items assigned as they are for now.

Cheers

[2022-02-21 04:51] plamber commented on #3072
@waldekmastykarz: changed the specs

[2022-02-21 05:28] nanddeepn commented on #3080
Hi,
Can I work on this?

[2022-02-21 08:14] garrytrinder commented on #3080
All yours @nanddeepn 👍🏻

Thank you for your help ❤️

[2022-02-21 09:16] appieschot commented on #3061
Hi @reshmee011 yes; the PP stands for Power Platform; it will come in handy to wait for #2917 but you can also have a look at https://github.com/pnp/cli-microsoft365/pull/3007 if you can't wait to get started ;-). I am sure we can get that PR in fairly quick.

[2022-02-21 22:42] akashkarda commented on #3017
@plamber  - Thank you for your input.
As per my understanding, currently the conversation (or thread) is just an email to a group and all the replys to that email are posts. We only have two levels for group conversation(thread and then post). And based on the output json of [thread ](https://docs.microsoft.com/en-us/graph/api/conversation-list-threads?view=graph-rest-1.0&tabs=http#example)and [po

[2022-02-22 04:10] plamber commented on #3017
Thank you. I was not thinking of the current planner case but I was looking if there are other ways to extend this command. I am wondering which options we can expose to simplify the provisioning of a thread. But most likely this can be moved in a separate discussion

[2022-02-22 08:14] appieschot commented on #3017
Agree that this might be a separate discussion; the result for the planner case (as far as I am aware) is just a single thread. When submitting a new reply you can use the `inReplyTo` property but I am not sure if we can retrieve that already but perhaps that could be an identifier to build a hierarchical view.  Let's keep the specs for this one as is and start a new discussion how to leverage the

[2022-02-22 09:22] waldekmastykarz commented on #3080
@garrytrinder great suggestion! Looking at the options, could they be flags? If we'd consider the value being not specified the default, which is the behavior we have now, and then specifying the value as `true`, wouldn't that be enough? What's the added value of specifying `false` in any of these options while creating the group and where `false` is already the default? I agree that it would be d

[2022-02-22 10:41] EMaarten commented on #3080
I've submitted [a similar request](https://github.com/pnp/powershell/discussions/1428) for the PnP PowerShell module, will this be supported as well?

[2022-02-22 12:43] akashkarda commented on #3017
Thank you both. Please assign it to me.

Can we confirm the folder structure? It will be two new folder under o365group - Conversation and Post. Correct?

[2022-02-22 13:38] garrytrinder commented on #3080
Thanks for reaching out @EMaarten unfortunately I can't speak for the PnP PowerShell team, so I would suggest reaching out to that team for guidance.

[2022-02-22 14:59] waldekmastykarz commented on #3080
That's a good point. Would it be then the right thing to do to change `--isPrivate` into a flag to better express its intent? We could include it as part #2696 if it needs changing as it would be a breaking change.

[2022-02-22 15:00] plamber commented on #2989
Hi,
I would go with option 4.

Cheers

[2022-02-22 17:00] garrytrinder commented on #3080
It is definitely the right thing to do, lets get it added to #2696 and I'll update the spec for this issue.

[2022-02-22 17:10] garrytrinder commented on #2989
I would prefer option two, but amended slightly, rather than defining the function outside of the object literal, do it inside and then you don't need to remember to add it to the end of the file in the export.

[code]

[2022-02-22 17:26] nanddeepn commented on #3080
Thank you @garrytrinder
Just to confirm, `--isPrivate` will continue to be an option instead of flag (at least as of now for this issue)?

[2022-02-22 17:39] waldekmastykarz commented on #3080
Correct @nanddeepn. We keep isPrivate as-is for now.

[2022-02-23 17:57] akashkarda commented on #3017
Hello All, I am trying to fetch 3 default properties but the Id is so long that the results are not displaying properly. Can you please let me know what are the properties should I include as default properties? I have added the last snapshot which shows the json with all props.

![image](https://user-images.githubusercontent.com/14875265/155378035-de6a8172-7792-4a7b-8595-e1efffdb5460.png)

![imag

[2022-02-23 19:20] appieschot commented on #3017
Meh that indeed does not look pretty .. I would opt for `from.emailaddress.address` @pnp/cli-for-microsoft-365-maintainers what do you think?

[2022-02-23 23:46] dunlapm opened #3083 "Bug report: SPFX upgrade command does not support latest release"
### Description

The documentation for [spfx project upgrade](https://pnp.github.io/cli-microsoft365/cmd/spfx/project/project-upgrade/) specifies it will upgrade to the latest version of the SDK (1.14.0 as of this writing) but the latest release does not support that version.

### Steps to reproduce

Run `m365 spfx project upgrade --preview -v 1.14.0`

### Expected results

Project upgraded succes

[2022-02-24 08:37] vipulkelkar commented on #2998
@zhenyasav  Pardon me but I don't follow, an example would help understand a little better. For both Zod and Yup, the checks for dependent fields/any one field being required don't seem to necessarily reduce the code. But I may be missing something.

[2022-02-24 08:49] appieschot commented on #3083
Sorry for the inconvenience, The `spfx project upgrade` for `1.14.0` is currently supported in our beta release available with `npm i -g @pnp/cli-microsoft365@next`. We hope to release `v5` this weekend, but we didn't want to rush things as `v5` will contain a few breaking changes.

[2022-02-24 09:21] appieschot opened #3084 "Enhance our project with a default vscode settings file"
Raised by @plamber a great idea: Most of our users are using Visual Studio Code and thus we should provide a workspace setting file with some additional configuration that we expect in our code:

- what formatting do we expect when working with file (some of us use `alt+shift+f` but we could introduce `editor.formatOnSave` so you don't have to execute that
- Do we want to trim trailing spaces
- Ad

[2022-02-24 10:57] waldekmastykarz commented on #3017
Can we get a single post using the e-mail address? If not, then I'm afraid we don't have much choice other than stick with the ugly output :(

[2022-02-24 11:01] appieschot commented on #3017
You're right we can't, ID is the only unique identifier in the set :(

[2022-02-24 11:03] waldekmastykarz commented on #3017
In that case, let's keep the ugly ID

[2022-02-24 11:37] garrytrinder commented on #3084
Great idea 👏🏻

[2022-02-24 13:23] akashkarda commented on #3017
Thank you both. In that case, I will keep only 2 properties - id & receivedDateTime.

[2022-02-24 15:02] dunlapm commented on #3083
The documentation should be updated to at least clarify that since I was only attempting the upgrade based off what the documentation said I could do.

[2022-02-24 15:06] appieschot commented on #3083
Agree that we could have communicated that clearly, however since we are planning to release a `v5` this weekend I am sure that it will be solved before we would get a docs PR in ;-). Hope you can either wait a few more days or use our beta version.

[2022-02-25 11:43] waldekmastykarz commented on #2982
Hey @to-s, are you still interested in working with us on these commands?

[2022-02-26 12:32] michaelmaillot commented on #2462
Currently, beyond the expand operation made to the serviceprincipals endpoint, the command performs a filter operation based on available parameters such as the app id or the display name, which are not acceptable parameters when querying the serviceprincipals endpoint (which only accepts object id).

The command actually make at least two queries:

* one for getting the service principal data
* a

[2022-02-28 18:40] waldekmastykarz commented on #3083
We've just released v5 so you should no longer see any discrepancy between what the docs say and what's supported in the CLI. Once again, sorry for the trouble.

[2022-02-28 18:40] #3083 closed

[2022-02-28 18:53] #2989 closed

[2022-02-28 18:53] #3051 closed

[2022-02-28 19:05] waldekmastykarz commented on #3057
Thinking some more about it and I'd like your feedback @AJIXuMuK if that would work:

- this command should follow output similar to `spfx project upgrade` where when a check fails, we show the location in the project where it failed and offer instruction how to fix it
- design-wise, we follow a similar approach with rules so that we can extend the functionality in the future with additional thing

[2022-03-01 00:10] AJIXuMuK commented on #3057
@waldekmastykarz - thanks for reaching out!
I agree with the proposal.
Small remarks are below:

Agree, but I'd definitely add "all" option (or no parameters means all).

Probably, it's still the best way to check for the version.

List of the dependencies:

| Template | Dependencies | DevDependencies |
| --- | --- | --- |
| Web Part - Minimal | @microsoft/sp-core-library <br />@microsoft/sp-prope

[2022-03-01 08:35] waldekmastykarz commented on #3057
This information is invaluable, thank you!

In `spfx project upgrade` we always run all rules/checks. I'd suggest that we use the same approach here and if we see that there's a need to have the ability to disable some of them, we can always introduce it later.

[2022-03-01 19:53] martinlingstuyl commented on #2940
Is it an idea if we would add an optional parameter `autoOpenBrowser`, just like with the auth config param `autoOpenBrowserOnLogin`?

[2022-03-01 20:46] waldekmastykarz commented on #2940
Absolutely! Great suggestion!

[2022-03-02 21:34] Abderahman88 commented on #2982
@waldekmastykarz If needed, I can pick this one up. 👍

[2022-03-03 11:15] waldekmastykarz commented on #2982
Awesome @Abderahman88! We should start with creating separate specs for the different commands. Once we have them, we could proceed with the implementation.

[2022-03-03 22:35] Abderahman88 opened #3097 "New command: Retrieve a list of OneNote notebooks"
### Usage

m365 onenote notebook list

### Description

Retrieve a list of notebook objects.

### Options

|Option | Description|
|-- | --|
|`--userId [userId]` | Id of the user. Use either userId or userName, but not both.|
|`--userName [userName]` | Name of the user. Use either userId or userName, but not both.|
|`--groupId [groupId]` | Id of the SharePoint group. Use either groupName or groupId

[2022-03-04 03:14] reshmee011 commented on #3072
Please assign it to me.

[2022-03-04 03:16] plamber commented on #3072
Thank you, all yours

[2022-03-04 10:37] waldekmastykarz commented on #3097
Perfect! Nothing to add. Would you like to take it?

[2022-03-04 11:05] vipulkelkar commented on #3035
@waldekmastykarz  i'll try this one, please assign it to me

[2022-03-04 11:29] reshmee011 commented on #3072
@plamber : Thanks for assigning the issue to me. I am testing the HTTP  GET /users/{id}/planner/tasks from https://docs.microsoft.com/en-us/graph/api/planneruser-list-tasks?view=graph-rest-1.0&tabs=http using the Graph Explorer to ensure I can get tasks assigned to other users.  Unfortunately the delegated permissions Tasks.Read seem to allow only your tasks and none of the other users to be retri

[2022-03-04 11:39] plamber commented on #3072
I can see that group.read.all should be the right one. We already have the permissions in our cli

[2022-03-04 12:04] reshmee011 commented on #3072
@plamber : I have given admin consent to the group.read.all permissions from the graph explorer, I still can't retrieve tasks assigned to other users. I can retrieve the tasks for the logged in user , e.g. https://graph.microsoft.com/v1.0/users/me@contoso.onmicrosoft.com/planner/tasks ,  but if I tried to get tasks for another user , e.g., https://graph.microsoft.com/v1.0/users/testuser1@contoso.o

[2022-03-04 13:36] waldekmastykarz commented on #3035
All yours! Thank you!

[2022-03-04 13:37] waldekmastykarz commented on #2998
@vipulkelkar for now, let's use our original idea as we outlined in the spec. We can revisit the schema-based validation in the future as it would be a larger refactoring.

[2022-03-04 14:23] DonKirkham opened #3098 "spfx project devcontainer add"
### Usage

spfx project devcontainer add

### Description

Adds the .devcontainer files for the current project

### Options

Option | Description
-- | --
`-v, --version [version]` | The version of SPFx to initialize a devcontainer for.
`-g, --generator [generator]` | The SPFx generator to use to initialize a devcontainer with. Allowed values: `official`, `pnp`.

### Additional Info

This command

[2022-03-04 15:07] garrytrinder commented on #3098
Thank you for reaching out @DonKirkham, I absolutely love this idea and can see the immediate benefit this could bring ❤️

Do you have a sample that uses a dev container that we could use as a candidate for replicating using this command?

I think it makes sense to centralise the dev container files in there own repo, so we have a version for each SPFx version, we can then just reference these in

[2022-03-04 15:11] waldekmastykarz commented on #3098
Great idea like you mentioned @garrytrinder! I'd however like to propose that we keep the devcontainer files inside CLI for Microsoft 365. If we maintain them separately then we could have discrepancy between the containers in the external repo and what's supported by the CLI. Having everything in one place would allow us to validate integrity of the command.

Also, I updated the spec to put the v

[2022-03-04 15:12] waldekmastykarz commented on #3098
@DonKirkham in the spec you mentioned:

[2022-03-04 15:17] waldekmastykarz opened #3099 "Bug report: incorrect `spo listitem list` documentation"
### Description

In the documentation of `spo listitem list` we have the following issues:

1. We prompt users to specify either id or title, but list id as required:
<img width="618" alt="image" src="https://user-images.githubusercontent.com/11164679/156789141-591b6a59-218c-494c-acde-ff5955e8e358.png">

2. The long name of the title option should be `listTitle` as it's listed between brackets. Ho

[2022-03-04 15:56] #2837 closed

[2022-03-04 16:30] hugoabernier commented on #3098
The `devcontainer.json` is the same for every SPFx solution, with the exception of the SPFx Docker container version that we are pointing to.

In our current implementation, we call a `spfx-startup.sh` after the container is built to load all dependencies. There are two versions; one for SPFx versions pre-1.12.1, one for SPFx 1.12.1 and later.

The `spfx-startup.sh` is also where we can make custo

[2022-03-04 17:05] DonKirkham commented on #3098
All of the above are excellent suggestions.

As far as how to best get the version of SPFx, I defer to those that are more knowledgeable about how SPFx versions are tracked in a project. I always use package.json, since yo-rc.json make not have been updated. But I noticed that upgrade command always instructs that yo-rc.json be updated.

I love the idea that the spfx project upgrade command would

[2022-03-04 17:46] Adam-it commented on #2837
Hi @waldekmastykarz.

I wonder if this issue is like 100% closed 🤔.
I mean for the commands with two required options where only one is needed to be specified not both (for example only list I'd or list name) this functionality will actually not work as currently both are optional and in the command definition we have validators that check if at least one is specified and not both. So in terms of

[2022-03-04 20:49] Abderahman88 commented on #3097
Yes, put it on my name 👍

[2022-03-04 21:08] Abderahman88 opened #3100 "New command: Create a new OneNote notebook"
### Usage

m365 onenote notebook add

### Description

Create a new OneNote notebook.

### Options

|Option | Description|
|-- | --|
|`-n, --name <name>` | Name of the notebook. Notebook names must be unique. The name cannot contain more than 128 characters or contain the following characters: ?*/:<>|'"
|`--userId [userId]` | Id of the user. Use either userId or userName, but not both.|
|`--userNa

[2022-03-05 07:51] plamber commented on #3072
Hi,
I would suggest following.

If there is no way to retrieve tasks from another user, then lets block the option if you do not pass a group.

When you go through group tasks you should be able to filter. If there is no way to do it with a graph call, then lets do it in memory.

Is this ok for you?

Cheers

[2022-03-05 11:34] reshmee011 commented on #3072
@plamber : I will give a try and see how I get on.

[2022-03-05 13:26] gavdPublic opened #3101 "Bug report - "spo tenant recyclebinitem restore" is not restoring the associated Group"
### Description

The "spo tenant recyclebinitem restore" command used to restore a deleted Site Collection from the SharePoint tenant (secundary) Recycle Bin does not restore the Site Collection associated Group.

### Steps to reproduce

- Create a new SharePoint Team Site Collection using the SharePoint Central Administration (Sites -> Active sites -> Create -> Team site) (name used in this examp

[2022-03-05 15:55] reshmee011 commented on #3072
@plamber : I have created a feedback issue https://github.com/microsoftgraph/microsoft-graph-docs/issues/16080 on the api /users/{id}/planner/tasks as from the documentation it seems possible to retrieve tasks assigned to another user. Hope to get response soon , otherwise I will start working on the implementation.

[2022-03-05 15:58] plamber commented on #3072
Thank you

[2022-03-05 18:22] waldekmastykarz commented on #2837
Thank you for giving this another thought and considering the bigger picture. Right now, we have no way to express an option set. Vipul is working on this @ #2998. Once we have it, we could extend the functionality you contributed with checking option sets. I'd suggest we take it in a separate issue to keep things more manageable and easier to track. Could you please create a separate issue so tha

[2022-03-05 18:25] waldekmastykarz commented on #3098
@hugoabernier, could you tell us more what customizations we do and how we could spec if for this command?

Is there a difference between the two? I thought that Codespace is using the devcontainer and there's nothing specific to it. Is there more to Codespaces after all?

Oh, that's a very good point! Could you please create a separate issue so that we won't lose track of it?

[2022-03-06 00:10] losito105 commented on #3099
@waldekmastykarz Can I take this?

[2022-03-06 00:15] nickhonen commented on #3099
Hi, can I handle this issue? @waldekmastykarz

[2022-03-06 00:49] nickhonen commented on #3099
Just submitted PR https://github.com/pnp/cli-microsoft365/pull/3102

[2022-03-06 08:38] garrytrinder commented on #3098
This is also my understanding from implementing the dev container for the CLI.

For “local” use you need to have Docker running and the Remote Container extension installed in VSCode, however this is provided for you in the Codepace.

The extension will detect the devcontainer file in the repo and prompt to build the container from the specified image, which can be either a remote or local Docker

[2022-03-06 08:44] garrytrinder commented on #3099
Thank you for your help @nickhonen 👍🏻

[2022-03-06 12:00] Adam-it opened #3103 "Second part of prompt for missing values for required options"
### 🤔 current problem
Currently the prompt functionality only works when user will not define a option (parameter) which is required. But some commands may have options were at least one is required. For example user has to define either listName or listId but not both. Current prompt functionality will not work if user will not define name or id as neither of them are actually required but rather

[2022-03-06 16:35] garrytrinder commented on #3100
Great suggestion and spec @Abderahman88 👍

[2022-03-06 19:01] waldekmastykarz commented on #3057
@AJIXuMuK do you have any more information about fluentui vs office-ui-fabric-react? Looking at our docs we only mention office-ui-fabric-react which also comes preinstalled with projects using SPFx v1.8.2+. I can't find any references to fluent and also none of the SPFx web parts samples we have in the community shows any references to fluent either.

[2022-03-06 19:18] AJIXuMuK commented on #3057
@waldekmastykarz - that is correct. But devs can add fluent ui by themselves. And have both libs. Sometimes it may make sense. But I would pay attention on such situation

[2022-03-06 19:24] PeterWCox opened #3104 "m365 spfx project upgrade --output tour - Allow a "one click" script for tours as well as markdown files"
See context here - https://twitter.com/DavidWarnerII/status/1300819767289241601

It would be great to have a "one click" button for tours as well as markdown files :)

[2022-03-06 21:56] garrytrinder opened #3105 "Update New Command template to include an Examples section"
Inspired by recent submissions for new Microsoft OneNote based commands by @Abderahman88 (#3097 & #3100) we should look to add a specific section to the new command issue template to include a new section for detailing examples of the proposed command.

Including examples in the design spec, by providing examples in the design stage we can provide more clarity of how the command can be used and th

[2022-03-07 06:31] vipulkelkar commented on #3035
@waldekmastykarz
`aad app add` command ignores both , 'id' and 'appId' if provided in the manifest
https://github.com/pnp/cli-microsoft365/blob/55e5dfb910c3abcede4db24cb29b041052a61ada/src/m365/aad/commands/app/app-add.ts#L175-L180

So if we don't find the 'id' property in the provided manifest of the `ensure` command, do we first try to `get` the app using 'appId' property (if present) or straigh

[2022-03-07 07:57] waldekmastykarz commented on #3035
I'd say we consider the app non-existent and consider new app creation. As far as I know it's not possible to create an app with a predefined objectID or clientID so in that sense they're equal and checking either one is sufficient.

[2022-03-07 08:00] waldekmastykarz commented on #3105
Great idea!

[2022-03-07 08:01] waldekmastykarz commented on #3104
Awesome suggestion! Would it work for us to mention in the first step that we'll provide a full script at the end so that you can browse through the changes but know that you don't need to run them one by one and will be able to run all changes in one go at the end?

[2022-03-07 08:03] waldekmastykarz commented on #3057
@AJIXuMuK got it, so we should look for presence of both `@fluentui/react` and `office-ui-fabric-react` and recommend uninstalling `@fluentui/react` correct?

[2022-03-07 08:03] martinlingstuyl opened #3106 "Refactor `teams chat message send` commandAction to not return a Promise"
The `commandAction` function of the `teams chat message send` command returns a Promise because it was implemented to use async/await. As the cli calls the function synchronously, it should be better to refactor this so that it does not return a promise.

[2022-03-07 08:05] martinlingstuyl opened #3107 "Refactor `teams chat message send` command to use the `odata.getAllItems` utility function."
the `teams chat message send` command currently implements a `getAllChats` function to call the microsoft graph to get all chats. This should be refactored so that it uses the new `odata.getAllItems` utility function.

[2022-03-07 08:06] martinlingstuyl commented on #3106
You can assign me if you like

[2022-03-07 08:08] waldekmastykarz commented on #3103
This would be a great improvement! For it to work, we need #2998 so that we can express option sets and know which options belong together.

[2022-03-07 08:13] waldekmastykarz commented on #3101
Thank you for taking the time to report the issue @gavdPublic and sorry to hear you ran into it. We'll get on it asap.

[2022-03-07 08:17] martinlingstuyl commented on #3107
You can assign me 👍

[2022-03-07 08:33] garrytrinder commented on #3104
It would be nice to include a reference in the first step to the step that contains the full script. This reference will generate a hyperlink so the user can easily jump to the relevant step.

https://github.com/microsoft/codetour#step-references

[2022-03-07 09:11] waldekmastykarz opened #3109 "Bug report: in 'spfx project upgrade' invalid allowed value for `--shell`"
### Description

In the `spfx project upgrade` command, we allow the `logger` value as a valid value for the `--shell` option which is incorrect. `logger` should be replaced by `cmd`: https://github.com/pnp/cli-microsoft365/blob/55e5dfb910c3abcede4db24cb29b041052a61ada/src/m365/spfx/commands/project/project-upgrade.ts#L722

### Steps to reproduce

n/a

### Expected results

n/a

### Actual results

[2022-03-07 10:54] vipulkelkar commented on #3035
ok @waldekmastykarz  we will go with only 'id' as required in the manifest to determine existing app.
Also, if multiple 'identifierUris' are provided in manifest.json, `aad app add` command configures all, however, `aad app set` command only accepts a single `--uri` and replaces all the existing identifierUris with the one specified.
This way, the `set` operation of the `ensure` command will not c

[2022-03-07 13:37] PeterWCox commented on #3104
Thanks a lot guys :)

[2022-03-07 14:16] martinlingstuyl opened #3110 "Add options to `spo tenant settings set` to enable B2B integration between SharePoint Online/OneDrive and Azure AD"
It's possible these days to configure your SharePoint Online/OneDrive tenant to integrate with Azure AD B2B for external guest access. This is fantastic news in a number of ways.
More info: https://docs.microsoft.com/en-us/sharepoint/sharepoint-azureb2b-integration

To configure this integration, a few options have been added to the SPO commandlets:

[code]

I'd like to see these options in the CL

[2022-03-07 14:24] martinlingstuyl commented on #3110
Of course 👍😁

[2022-03-07 14:43] waldekmastykarz commented on #3057
Can we recommend either package and help people make the choice?

[2022-03-07 14:46] waldekmastykarz commented on #3035
@vipulkelkar in the Azure Portal it seems like you can configure only one application ID URI. Do you mean redirect URI for auth by any chance?

[2022-03-07 20:02] Abderahman88 commented on #3100
@garrytrinder Yes, you may assign to me

[2022-03-07 20:35] garrytrinder commented on #3100
Great, thank you for your support @Abderahman88 👏

[2022-03-07 21:11] Abderahman88 commented on #3109
@waldekmastykarz Assign to me please. Did the quick fix.

[2022-03-07 21:11] SergiyKostenko opened #3112 "Bug report: Unable to deploy spfx app"
### Description

Hello,

I am unable to add spfx package via m365 cli. I can get site details with `m365 spo web get --webUrl $siteUrl`
Am I doing somethin wrong? Permissions are added and approved by global admin.

### Steps to reproduce

[code]

### Expected results

App added

### Actual results

node.exe : Error: Request failed with status code 403

### Diagnostics

Request error:
{
  "url": "

[2022-03-08 07:32] tpoth opened #3113 "Bug report: m365: The term 'm365' is not recognized as a name of a cmdlet, function, script file, or executable program."
### Description

Yesterday i startetd to install version 5.0 on my windows 11 machine.
After installing the m365 cli with yarn, the following error message appears:

[code]

### Steps to reproduce

**I ran the following commands:**
Install nvm for Window version 1.1.9
Run Terminal pwsh 7.2.1 as admin
nvm install 16.14.0
nvm use 16.14.0
corepack enable
yarn global add @pnp/cli-microsoft365
m365

**

[2022-03-08 07:48] waldekmastykarz commented on #3113
Is the location where you installed CLI in your PATH environment variable? Can you install any other Node executable (gulp or yo) and see if it works to verify if this is an issue with the CLI or your environment?

[2022-03-08 07:57] michaelmaillot commented on #2321
Now that we've closed #2158, I can give a try on this one if you're agree 🙂

[2022-03-08 08:00] waldekmastykarz commented on #3112
Thank you for taking the time to report the issue @SergiyKostenko and sorry to hear you're running into trouble. It seems like the CLI is failing on SharePoint URL discovery. For some reason, Microsoft Graph is rejecting the access token. While we research the issue, could you see if it helps if you run `m365 spo set --url https://yourtenant.sharepoint.com` after your logged in and before you run

[2022-03-08 08:01] waldekmastykarz commented on #2321
Please do! Awesome!

[2022-03-08 08:11] waldekmastykarz commented on #3035
Good find! I think we should consider the manifest as the desired state, so after running the ensure command, the AAD app you get should match what's in the manifest.

[2022-03-08 08:20] waldekmastykarz commented on #3112
Have you looked at https://github.com/pnp/cli-microsoft365/issues/1738 by any chance? Could it be that you're missing the `Sites.Read.All` Graph permission in your AAD app registration?

[2022-03-08 09:01] SergiyKostenko commented on #3112
@waldekmastykarz Wow, thanks for promt reaction
`m365 spo set --url https://yourtenant.sharepoint.com` fixed issue!

I had `Sites.Read.All` permissions applied

[2022-03-08 09:06] waldekmastykarz commented on #3112
Awesome to hear that you're unblocked. You can apply `Sites.Read.All` via SharePoint and Microsoft Graph. Which one have you applied?

[2022-03-08 09:07] SergiyKostenko commented on #3112
@waldekmastykarz SharePoint

[2022-03-08 10:45] waldekmastykarz commented on #3057
@AJIXuMuK I've got the basic setup and the first set of rules ready to try.

The things we need to verify before we continue:

- is this the user experience that we want to offer?
- are the reported issues clear enough for folks to understand what's wrong and how to fix?

1. If you have CLI for M365 installed, uninstall it first `npm un -g @pnp/cli-microsoft365`
1. Grab the code from https://githu

[2022-03-08 12:22] waldekmastykarz commented on #3112
Could you please try with Graph as CLI uses Microsoft Graph to detect the SharePoint URL?

[2022-03-08 12:31] AJIXuMuK commented on #3057
Will give it a try in the next couple of days

[2022-03-08 13:53] vipulkelkar commented on #3035
`aad set` only accepts a single `--uri`. So if we use `set` command in `ensure`, we will not be able to configure multiple identifieruris to ensure the manifest desired state.
Should we first extend the `set` command to accept comma separated URI's ? (similar to --redirecturis parameter ).

[2022-03-08 14:04] garrytrinder opened #3114 "Extend `aad app add` with the ability to grant admin consent for API scopes"
You can currently use the `aad app add` command to create Azure AD app registrations and define both delegate and application scoped permissions to be used,  however, if you configure a scope that requires admin consent to be granted, you must manually log into the Azure Portal and consent manually before the permission can be used.

I propose that we add a new option to the command named `--grant

[2022-03-08 14:10] waldekmastykarz commented on #3114
Awesome suggestion! Let's get it in! 👏

[2022-03-08 14:22] arjunumenon opened #3115 "Extend `aad app add` to add certificate to AAD App while creating the App"
Create the option of adding the certificates to the Azure AD App while creating the App using the command `aad app add`.
Following would be the expected options for the command.

|Option | Description|
|-- | --|
|`--certificateFile [certificateFile]` | Path to the file with certificate private key. Specify either `certificateFile` or `certificateBase64Encoded`
|`--certificateBase64Encoded [certifi

[2022-03-08 14:23] waldekmastykarz commented on #3115
Great suggestion! As both parameters are optional, let's mark them as such.

[2022-03-08 14:25] arjunumenon commented on #3115
Thanks Waldek for the catch.
Updated the spec.

[2022-03-08 14:34] SergiyKostenko commented on #3112
Unfortunatly, I am not able to test it right know. I don`t enough permissions to assign Microsoft Graph permissions to my app registration.

[2022-03-08 14:43] arjunumenon commented on #3115
Had seen the comment before the edit. So had missed that.

I was following the same convention which is followed in [`m365 login`](https://pnp.github.io/cli-microsoft365/cmd/login/#options) and hence added the shortcode.

But thinking out loud, it would make sense not to have the shortcode since certificate could be file as well as the encoded string. Will update it without code in the spec.

[2022-03-08 14:46] waldekmastykarz commented on #3112
No problem. I'll close this issue for now but if you ever get a chance to test it and could get back to us, I'd appreciate it.

[2022-03-08 14:46] #3112 closed

[2022-03-08 14:48] waldekmastykarz commented on #3115
One more thing just popped into my mind: last year we removed options that explicitly point to files because we support passing their contents using `@` tokens (#2055). Do we need two separate options here in case the certificate is binary (I don't know off the top of my head if that's a limitation for the current implementation of the @-token) or would one option be sufficient as well?

[2022-03-08 15:06] waldekmastykarz commented on #3115
Got it. To keep things simple for now, let's use two separate options and if need be, we can always revisit it in the future.

[2022-03-08 15:07] waldekmastykarz commented on #3104
Following @garrytrinder suggestion, let's add the full script as the last step and then mention it at the beginning and include a link to the last step.

[2022-03-08 15:16] arjunumenon opened #3116 "Extend `aad app set` to add certificate to already available App"
Create the option of adding the certificate to already available Azure AD App using the command `aad app set`.
Following would be the expected options for the command.

|Option | Description|
|-- | --|
|`--certificateFile [certificateFile]` | Path to the file with certificate private key. Specify either `certificateFile` or `certificateBase64Encoded`
|`--certificateBase64Encoded [certificateBase64

[2022-03-08 22:28] michaelmaillot commented on #2321
Regarding the copy to clipboard, I'd suggest to use [clipboardy](https://github.com/sindresorhus/clipboardy), which is cross-platform and actively maintained.

Is that ok for you?

[2022-03-09 06:02] arjunumenon commented on #2219
Now since all the dependencies for the script sample is available, changing the status to resume working on the sample.

[2022-03-09 07:00] waldekmastykarz commented on #2321
We have the same issue with a few other packages from Sindre where we can't move to the latest version because we still use cjs. For now, we could use the previous version.

[2022-03-09 07:14] vipulkelkar commented on #3035
Using the `set` command as-is in `ensure` makes sense. My vote is to  extend `set` command to accept the manifest.

[2022-03-09 11:27] waldekmastykarz opened #3117 "Enhancement: add support for upgrading SPFx projects to v1.15.0-beta.1"

[2022-03-09 14:52] martinlingstuyl commented on #3106
@waldekmastykarz I don't know if I read it somewhere, but is it acceptable to solve two issues with one pull request?

[2022-03-09 18:38] waldekmastykarz commented on #3106
In this case, yes. They affect the same command and the changes are pretty small so we can definitely combine them. I appreciate you double checking with us 😊

[2022-03-10 07:11] arjunumenon opened #3118 "New Setting `autoOpenLinksInBrowser` for `cli config` for the default behavior while opening browser window"
Introduce a new settings called `autoOpenLinksInBrowser` which will be of boolean value (**true** / **false**) in the  [CLI Configuration Settiings](https://pnp.github.io/cli-microsoft365/user-guide/configuring-cli/#configuring-settings)

There are commands which is currently showing the URL in the console. End user is expected to copy and paste the URL in the window.
With this enhancement, if the

[2022-03-10 07:12] arjunumenon commented on #3118
Hello @pnp/cli-for-microsoft-365-maintainers  - Would be great if you can give suggestions for the above enhancement.

[2022-03-10 07:55] waldekmastykarz commented on #3118
Great suggestion @arjunumenon! I'd suggest that we try to align all commands where we support automatically opening browser windows so that they work the same way.

In the `login` command, we use the `autoOpenBrowserOnLogin` config option. Thinking of it, should that option be named `autoOpenLinksInBrowser` so that we can use it beyond the `login` command? If so, we can't rename the setting option

[2022-03-10 08:41] tpoth commented on #3113
I think this isn't the case. How can i figure out the path to add?

This doesn't work also. But  only if i use `yarn`. `npm` works fine.
So the root cause is the `yarn environment`, which i have enabled with the command `corepack enable`.
So even if the root cause isn't the `m365 cli` maybe you have eny hint on this.

Currently i've switched over to `npm` for getting m365 cli installed.

[2022-03-10 08:45] waldekmastykarz commented on #3113
I'm not using yarn myself so don't have more info unfortunately, but I'm sure there are others on the internet who run into a similar issue. As this issue is not related to CLI itself, I'll close it. Thank you for checking the alternatives and getting back to us.

[2022-03-10 08:45] #3113 closed

[2022-03-10 16:56] arjunumenon commented on #3118
That is a nice idea to have a generic settings which could be used in Login and reconsent here 👍.

Like you said, we can keep both the settings to avoid a breaking change.
As a next step, we will create a new enhancement for adding the option `autoOpenLinksInBrowser`?
Then we will modify the current enhancement spec to respect the behavior based on the configuration? Do you see any other actions t

[2022-03-10 17:51] nanddeepn commented on #2942
Hi @waldekmastykarz
Can I work on this?
Just curious, are we going to maintain both `m365 aad app get` and `m365 app get` ?

[2022-03-10 21:20] martinlingstuyl opened #3123 "Refactoring `teams chat message send` to align with review `teams chat get`"
Some small refactorings like:

- Add TelemetryProperties for optional parameters
- rename 'topic' to 'name' to stay consistent.
- refactor `ensureChatIdByUserEmails` function for readability to stay consistent with other code.
- Refactor string to array conversion into a function

You can assign me on this. I'll combine it with #3106 and #3107.

[2022-03-11 08:32] rabwill opened #3125 "Enhancement: Update SPFx doctor command with default output type as text"
Currently the [spfx doctor](https://pnp.github.io/cli-microsoft365/cmd/spfx/spfx-doctor/)command's default output type is `json` for consistency with other commands.
It will however result in an output in the terminal as shown below.
![image](https://user-images.githubusercontent.com/20379311/157830406-7611a60c-61e0-428b-8537-cd3374a00846.png)
Update the command so the default value and the **only

[2022-03-11 08:50] waldekmastykarz commented on #3125
Great suggestion! You mean the `spfx doctor` command, right?

[2022-03-11 08:53] waldekmastykarz opened #3126 "In spfx project upgrade don't suggest removing .editorconfig"
### Discussed in https://github.com/pnp/cli-microsoft365/discussions/3122

<div type='discussions-op-text'>

Why does the project upgrade command suggest removing .editorconfig?

<sup>Originally posted by **pschaeflein** March 10, 2022</sup>
<EOM></div>

[2022-03-11 08:55] waldekmastykarz commented on #3118
Right now I can only think of login and reconsent, but we might introduce it to other commands in the future as well.

[2022-03-11 10:09] rabwill commented on #3125
Good catch! Updated. This is why they say never hit publish on Friday afternoons 🤣

[2022-03-11 10:55] waldekmastykarz commented on #2942
Please do! Yes, we'll have both commands because their use case is slightly different. `app get` retrieves information about the AAD app stored in the `.m365rc.json` file. To avoid doubling the code, it uses the `aad app get` command which isn't tied to a project and can be used in any directory. So you could think of `app get` as a shortcut to `aad app get` with the aad app already preset

[2022-03-11 13:08] martinlingstuyl commented on #3110
Hi guys,
by default, the `Set-SPOTenant` command throws a warning if you are enabling the integration:

[code]

This warning does not come from the REST Api, but is thrown inside the PowerShell commandlets.

I would think it's advisable to add this warning in the cli as well, if you are setting the property.
Or to implement getting the OTP status...

You could get the OTP status using Microsoft Gr

[2022-03-11 13:22] martinlingstuyl commented on #3110
By the way, this would be a usecase to have a `CommandWarning` class. Like CommandError, but yellow. I'm thinking out loud here, there's probably a reason why it isn't there.

[2022-03-11 13:31] martinlingstuyl commented on #3125
Ah, this is the same issue as with the `spfx project upgrade` command.
We spoke about that earlier: #3060

[2022-03-11 13:36] martinlingstuyl commented on #3118
Was thinking about that one as well

[2022-03-11 13:39] waldekmastykarz commented on #3118
Let's try to align all commands so that we don't force our users to use 5 different ways of opening links in the browser

[2022-03-11 13:41] martinlingstuyl commented on #3125
Did you guys fix it already? `spfx project upgrade` does not support text mode AFAIK.
This needs further thought I guess. There are more commands where the commant output is actually a text message, and not JSON. For example: just a single line of text in #3118 and #2940

[2022-03-11 13:46] martinlingstuyl commented on #3116
Hi guys, I like this one, you can assign me here!

[2022-03-11 13:46] martinlingstuyl commented on #3115
Hi guys, I like this one, you can assign me here!

[2022-03-11 13:57] martinlingstuyl commented on #2813
Hi guys, you can assign me here if you like!

[2022-03-11 15:34] arjunumenon commented on #3118
Thanks @waldekmastykarz for the direction.
I have updated the spec for the current issue.

Another question, Do we  create separate issues for changes in each command or we can have single issue which does implementation for all the commands. Thoughts?

[2022-03-11 15:37] arjunumenon commented on #3116
Thanks @martinlingstuyl for your help.
All yours!!

[2022-03-11 15:40] arjunumenon commented on #3115
Thank you @martinlingstuyl for the help. Love your enthusiasm in contribution ❤.

All yours!!

[2022-03-12 05:17] #3017 closed

[2022-03-12 05:17] #3080 closed

[2022-03-12 05:36] rabwill commented on #3125
I had the same thought when I added this issue. And my only argument for keeping it is consistency with other commands.

[2022-03-12 05:57] #3013 closed

[2022-03-12 05:57] #3106 closed

[2022-03-12 09:06] waldekmastykarz commented on #3125
If the command doesn't support md or JSON output then there's no point in exposing it as an allowed value only to find out that you still get plain text output, right?

[2022-03-12 09:07] waldekmastykarz commented on #3118
We can do it from a single issue and PR

[2022-03-12 09:13] waldekmastykarz commented on #3110
Very good catch and I like your proposed idea of including this message.

We have a class for error, because next to the message, it includes additional information, like stack trace, error codes, etc. For the warning we'd need only formatting, which we could better implement in a helper function named `warn` similar to `error`: https://github.com/pnp/cli-microsoft365/blob/6ab68db2af593cc741ad2852

[2022-03-12 10:03] #3109 closed

[2022-03-12 10:03] #3117 closed

[2022-03-12 10:03] #2882 closed

[2022-03-12 10:04] #3107 closed

[2022-03-12 10:05] #3123 closed

[2022-03-12 12:02] Jwaegebaert commented on #3126
Could I work on this one?

[2022-03-12 12:59] waldekmastykarz commented on #3126
Please do!

[2022-03-12 13:52] waldekmastykarz commented on #2889
Thinking of it more, I think it would be clearer if it was a separate command named `aad oauth2grant scope add`. If we combined adding grants to service principals and adding scopes to existing grants, it could get confusing quickly. I'll adjust the spec accordingly

[2022-03-12 16:08] waldekmastykarz commented on #3101
I had a quick look at it, and it seems that the SPO admin UI issues the following request to restore a deleted site:

[code]

The same API is used for team- and communication sites and automatically restores the associated group. It's an internal API but it does what we need. Shall we consider switching to it @pnp/cli-for-microsoft-365-maintainers? It would be an internal change that doesn't affec

[2022-03-12 22:22] rabwill commented on #3125
So let's remove that option all together ! I vote 👍🏾. Let me know @pnp/cli-for-microsoft-365-maintainers and I will update the issue.

[2022-03-13 01:51] arjunumenon commented on #3118
Thanks Waldek. Updated the label for opening up the contribution.

[2022-03-13 09:05] plamber commented on #3071
Hi @waldekmastykarz,
looks fine now. Indeed, I had an old reference of the image. I haven't noticed it.

Thank you,
Patrick

[2022-03-13 09:05] #3071 closed

[2022-03-13 10:54] waldekmastykarz commented on #3125
I don't think we can remove the output option altogether as it's too tightly woven into CLI's internal, but we can definitely ensure that for this command you can only use `text` as output type

[2022-03-13 10:55] waldekmastykarz commented on #3118
I just noticed that in the spec you mention that the default value for the setting is `true`. I think it should be `false` because using `true` would be a breaking change. We can make it default in v6, but not just now.

[2022-03-13 17:29] garrytrinder commented on #3114
Looks like we already discussed this enhancement in #2563

[2022-03-13 22:28] garrytrinder opened #3128 "`aad app delete` and `aad app role delete` use incorrect verb"
All our commands use `remove` but these don't, for consistency, we should update these commands to use the correct verb.

- [ ] #3133
- [ ] #3134

[2022-03-14 01:38] rabwill commented on #3125
@waldekmastykarz  updated the issue to throw and error if any other output type is chosen other than `text`. Hope that solves it. Do we need more discussion on this? Or can we open it for contributors?

[2022-03-14 10:15] arjunumenon commented on #3118
Thanks Waldek and that is a nice catch since default `true` value would be a breaking change 👍.
Have updated the spec for the default value of the settings to be `false`.

[2022-03-14 18:33] waldekmastykarz commented on #3128
Whoa, good catch! We totally missed it. I'd suggest that we solve it in twostep:

1. Rename the command and add the current but invalid name as alias, marking it as deprecated
2. We remove the deprecated alias in v6

Agreed?

[2022-03-14 18:35] waldekmastykarz commented on #3114
Which one should we close as duplicate?

[2022-03-14 18:36] waldekmastykarz commented on #3118
I think that would be too complicated @martinlingstuyl. I'd suggest that we use only the global setting

[2022-03-14 18:39] waldekmastykarz opened #3130 "Bug report: creating AAD app with a secret from manifest fails"
### Description

When you try to create an AAD app with a secret using a manifest, you get an error

### Steps to reproduce

- Create an AAD app
- In the Certificates & secrets section, create a new secret
- Get the generated manifest and save to a local file
- Run the `m365 aad app add --manifest @manifest.json` command

### Expected results

AAD app created with a secret

### Actual results

Err

[2022-03-14 18:48] waldekmastykarz opened #3131 "Bug report: creating AAD app with a approle from manifest fails"
### Description

When you try to create an AAD app with an approle using a manifest, you get an error

### Steps to reproduce

- Create an AAD app
- In the App roles section, define a new app role
- Get the generated manifest and save to a local file
- Run the `m365 aad app add --manifest @manifest.json` command

### Expected results

AAD app created with the specified app role

### Actual results

[2022-03-14 18:51] waldekmastykarz opened #3132 "Bug report: creating AAD app with public client from manifest fails"
### Description

When you try to create an AAD app with public client enabled using a manifest, you get an error

### Steps to reproduce

- Create an AAD app
- In the Authentication section, enable the Allow public client flows option
- Get the generated manifest and save to a local file
- Run the `m365 aad app add --manifest @manifest.json` command

### Expected results

AAD app created with the

[2022-03-14 18:55] martinlingstuyl commented on #3118
Perhaps you're right 😄 classic trap: overengineering

[2022-03-14 19:37] martinlingstuyl commented on #3125
Certainly, but in that case the same should be true for the upgrade command. That one also only has correct output in text mode.

I believe @appieschot made an argument on my issue there about needing to conform to json as default mode. The issue was closed as by design, we planned to create a new issue to give the command a json output representation. Which is a different direction of solving the

[2022-03-14 23:47] garrytrinder commented on #3128
Agreed, let's create separate issues to track the work.

[2022-03-14 23:53] garrytrinder opened #3133 "Rename `aad app delete` to `aad app remove` and `aad app role delete` to `aad app role remove`"
All our commands use `remove` but these don't, for consistency, we should update these commands to use the correct verb.

To ensure that these changes do not introduce a breaking change, we should include the old command name as an alias on the command and these changes should be reflected in the documentation.

[2022-03-14 23:53] garrytrinder opened #3134 "Remove `aad app delete` and `aad app role delete` alias"
Following the closure of #3133 we should remove the old command alias names in the next major release.

[2022-03-14 23:59] garrytrinder commented on #3114
I think we should close this one and update the original with the spec proposed in this issue.

[2022-03-14 23:59] #3114 closed

[2022-03-15 00:05] garrytrinder commented on #2563
Updated issue with spec from #3114

[2022-03-15 01:19] garrytrinder commented on #3104
I'll grab this one.

[2022-03-15 02:57] mcannava opened #3135 "m365 tenant status list fails, uses deprecated API"
When using v5.0.0 of the M365 CLI, the command:

`m365 tenant status list`

yields:

`Error: Please use MSGraph to access this resource https://docs.microsoft.com/en-us/graph/api/resources/service-communications-api-overview?view=graph-rest-1.0&preserve-view=true`

I believe the CLI is using the old API that is now deprecated and should be using the Graph API for this status information.

[2022-03-15 07:19] waldekmastykarz commented on #3135
Thank you for reporting the issue and sorry that you're running into trouble. Let us double check it and get back to you asap

[2022-03-15 07:20] waldekmastykarz commented on #3133
Just to add, alias should be added both in the commands' code and their docs.

[2022-03-15 07:55] michaelmaillot commented on #2563
Can I give a try on this one?

[2022-03-15 08:42] waldekmastykarz commented on #3128
Closing this issue because the related issues to track the work are created

[2022-03-15 08:42] #3128 closed

[2022-03-15 08:43] waldekmastykarz commented on #3125
That's not quite true. For `spfx project upgrade` we have valid outputs for text, md, json and tour.

[2022-03-15 09:04] garrytrinder commented on #2563
Absolutely @michaelmaillot thank you for your help 🚀

[2022-03-15 09:30] garrytrinder commented on #3135
Looks like the API was retired in December and we missed the announcement, apologies

[code]

With this in mind we should also look to other commands to use Graph API that currently use the retired API.

[2022-03-15 09:37] waldekmastykarz opened #3136 "In AppInfo replace secret with secrets"
In the `aad app add` command we have the `AppInfo` interface that describes the shape of data returned by the command: https://github.com/pnp/cli-microsoft365/blob/04832fc5cbaa6a78248170fc2605916ea66e43be/src/m365/aad/commands/app/app-add.ts#L32-L38. Unfortunately, AppInfo allows only for a single value for a secret, where in reality you could define multiple. This is especially the case when you'

[2022-03-15 09:56] waldekmastykarz commented on #3135
Good find @garrytrinder. Let's fix this asap.

[2022-03-15 11:42] martinlingstuyl commented on #3060
Could you reopen this @waldekmastykarz?
I got confused because of the other issue, so I tried out all possible outputs with the latest cli version. This is what I found:

`m365 spfx project upgrade --output json` returns fine
`m365 spfx project upgrade --output md` returns fine
`m365 spfx project upgrade --output csv` returns fine
`m365 spfx project upgrade --output text` returns fine
`m365 spfx p

[2022-03-15 11:44] martinlingstuyl commented on #3125
Ok, you're correct on that. But I'm not completely wrong either, I just tried it out. But let's take this conversation to the other issue.

[2022-03-15 11:54] waldekmastykarz commented on #3060
I've just had a look and you're right: we're producing text output which is rendered as JSON. That's a bug indeed. Thank you for bringing it up

[2022-03-15 11:56] waldekmastykarz commented on #3060
I think the main problem is that we assume that the output type will be specified using the `output` option and our default is still based on the text output mode we had in the past, so we need to adjust our assumptions to correctly reflect default configuration.

[2022-03-15 11:57] waldekmastykarz commented on #3118
When in doubt, hit it with the simple stick 😄

[2022-03-15 12:24] martinlingstuyl commented on #3118
I keep forgetting that stick 😂

[2022-03-15 13:39] mcannava commented on #3135
Yup -- we ran into this with our internal applications hitting the same services endpoint. Deprecated, and we discovered it when our applications stopped working! So we were just as surprised, and I figured it bit the M365 CLI similarly.

Thanks for the quick turn-around!

[2022-03-15 13:53] AJIXuMuK commented on #3057
Hey @waldekmastykarz - sorry for the delay!

I really like how the command works! It's awesome!
One small change I'd add is related to `@types` included as `dependencies`.
Currently it says

Execute the following command:
[code]

Maybe it's better to provide script to both uninstall and install?
[code]

[2022-03-15 14:41] waldekmastykarz commented on #3135
Again, so sorry for the trouble. We should've been on top of it. We'll get it patched asap

[2022-03-15 18:34] Jwaegebaert commented on #3126
If I am not mistaken, this is only requested when upgrading to version 1.12.0. Currently I have removed this suggestion from here. I will open a PR soon so you can see the changes I did.

[2022-03-15 19:01] #3130 closed

[2022-03-15 19:01] #3131 closed

[2022-03-15 19:01] #3132 closed

[2022-03-15 19:01] #2917 closed

[2022-03-15 19:06] waldekmastykarz commented on #2698
Do you have any tips what's the easiest way for us to mimic your setup without standing up a fully-fledged infra with a proxy so that we can test any changes that we'd do?

[2022-03-15 21:52] AJIXuMuK commented on #3057
@waldekmastykarz - honestly, was not aware of that :)

Then ship! yes :)

[2022-03-15 23:16] milanholemans commented on #3133
I'd like to try this one.

[2022-03-15 23:27] garrytrinder commented on #3135
It looks like we should have deprecated this command along with `tenant service list`, according to the research by @appieschot in https://github.com/pnp/cli-microsoft365/issues/2932, we should also look to deprecate `tenant service report historicalservicestatus`, `service message list` and `tenant auditlog report` that also use the deprecated API.

@waldekmastykarz when executing any of the abov

[2022-03-15 23:44] garrytrinder commented on #3133
Thank you for your help @milanholemans its all yours 👍

[2022-03-16 01:37] mcannava commented on #3135
Ah, thanks, @garrytrinder -- that substitution was a drop-in replacement in my script and works great! Perfect, I'm up and running again!

[2022-03-16 02:00] mcannava commented on #3135
..except for one thing.. the old method returned a _StatusTime_ field, listing the time the service left _serviceOperational_ status. I don't see that in the Graph version of this call (the _serviceHealth_ objects only have id, service and status). Given that it's not in Graph, there's probably no work-around for this, but I thought I'd mention it. Thanks again!

[2022-03-16 07:44] Jwaegebaert commented on #3125
I could work on this issue.

[2022-03-16 09:32] garrytrinder commented on #3135
Great to hear that you are unblocked! Again, apologies for the inconvenience this may have caused.

Thank you for raising this, I've had a quick look through the Graph API docs and it looks like this information is no longer provided, whilst we can't resolve this we can make the Graph team aware of this.

[2022-03-16 12:18] teixejoe commented on #2698
We try to use cli only on servers and there we need to define manually the proxy.

[2022-03-16 18:39] waldekmastykarz commented on #2698
Do you have any suggestions how we could reproduce your configuration so that we're looking at the same thing?

[2022-03-16 18:43] waldekmastykarz commented on #3135
Yes, there's no use to hold on to commands that don't work.

[2022-03-16 18:45] waldekmastykarz commented on #3057
Always best to double check. I'll get on with finalizing the command and adding tests and hopefully we'll be able to ship it in the next few days 🚀

[2022-03-16 18:50] waldekmastykarz commented on #2749
Given the complexity of getting a consistent ux across the different shells, terminals and OSes we decided that we'll use a simpler plain-text output going forward. We appreciate all the work that @StfBauer has done on markshell and setting us on the track to even consider using our existing md help for contextual help in the terminal ❤️

[2022-03-16 18:50] #2749 closed

[2022-03-16 18:52] waldekmastykarz opened #3142 "Replace markshell with a plain-text output"
Related to #2749. We'll replace markshell with a plain-text output to have a more consistent ux across the different shells, terminals and OSes. The PoC for the implementation is available at https://github.com/waldekmastykarz/plainmd.

[2022-03-16 20:53] garrytrinder commented on #3135
@mcannava I have passed back your comments to the Graph team, if I hear anything I will let you know.

As you are unblocked, I will close this issue and we will clean up the commands highlighted that use the deprecated API in another issue.

Thanks again for raising this issue and your feedback ❤️

[2022-03-16 20:53] #3135 closed

[2022-03-16 21:07] garrytrinder opened #3143 "Remove dependencies on Office 365 Communications API"
Raised from #3135

The Office 365 Service Communications API was retired on December 17, 2021 and replaced with equivalent endpoints in the Microsoft Graph.

The API now returns a HTTP 500 error, therefore any commands that use the API no longer work, the below task list defines the tasks to remove dependencies on the deprecated API.

- [ ] Remove `tenant status list` command and related documenta

[2022-03-16 21:56] garrytrinder commented on #3101
I've looked into this, following the steps provided by @gavdPublic

`m365 spo tenant recyclebinitem list` returns

[code]

`m365 aad o365group recyclebinitem list` returns

[code]

Unfortunately, there is no identifier on the deleted site to the deleted group and likewise on the response for the deleted group to the deleted site.

With the above in mind I am happy to switch to this API call, we sh

[2022-03-16 22:01] Jwaegebaert commented on #3125
I have just created a PR for this enhancement.
Here I have provided the following logic, that if a user doesn't provide an output option it will default to `text`. If they give an output option that isn't text they get the following message `The output options only accepts the type "text"`.
Within the documentation I have added an info call-out to state that only the output type `text` is supporte

[2022-03-17 00:56] garrytrinder opened #3147 "Implement JMESPath Terminal in Docker image"
https://github.com/jmespath/jmespath.terminal

## Usage

[code]

![image](https://user-images.githubusercontent.com/11563347/158715131-8b4b7e7b-bf04-45aa-9c5c-9c6ff1976340.png)

## Tasks

- [x] Update Dockerfile
- [x] Update [Run CLI for Microsoft 365 in a Docker Container](https://pnp.github.io/cli-microsoft365/user-guide/run-cli-in-docker-container/#prerequisites)

[2022-03-17 01:11] mcannava commented on #3135
@garrytrinder Much appreciated! Thank you!

[2022-03-17 08:58] waldekmastykarz commented on #3147
Awesome idea!

[2022-03-17 09:00] waldekmastykarz commented on #3125
Brilliant @Jwaegebaert! 👏

[2022-03-17 09:02] waldekmastykarz commented on #3101
We don't do this in all other places where we use internal/undocumented APIs. Is this something that we should consider to do consistently for other commands as well?

[2022-03-17 10:06] martinlingstuyl commented on #3125
And fast! 👍👍

[2022-03-17 10:39] waldekmastykarz commented on #3057
Another thing I've just found out, that if you have a dependency registered in both dependencies and devDependencies, and you uninstall it, it's gone from both sections! So the solution is not to uninstall it, but rather install as the type of dependency you want to keep it. The things we learn! 😄

[2022-03-17 12:03] Jwaegebaert commented on #3143
I could work on this one

[2022-03-17 12:12] milanholemans commented on #3136
I would like to work on this one.

[2022-03-17 12:14] waldekmastykarz commented on #3057
Btw, @AJIXuMuK, thinking about the version matrix at https://docs.microsoft.com/en-us/sharepoint/dev/spfx/compatibility and version-specific dependencies, how would you prefer that we handle them? Let's take React as an example: would it be okay if an SPFx@1.12.1 project was using React@16.13.1 which we introduced as a default in SPFx@1.13.0 or would we recommend (or require?) that it downgrades t

[2022-03-17 13:28] vipulkelkar commented on #3035
@waldekmastykarz  Should I create a separate issue to extend the `aad app set ` command to accept manifest ?

[2022-03-17 18:16] teixejoe commented on #2698
you have in attachment an example of configuration to redirect all web requests (or almost depends of the application) to proxy
![image](https://user-images.githubusercontent.com/25454402/158868504-8e734585-2294-41bb-9a13-418c497eeb93.png)

[2022-03-17 18:43] waldekmastykarz commented on #3143
Awesome @Jwaegebaert! All yours 👏

[2022-03-17 18:46] waldekmastykarz commented on #3136
I appreciate your help @milanholemans. We're not working on v6 just yet. We're planning to release it around September this year so if we're to pick up this change already now, we'd either need to keep a v6 branch aligned with the current work already or wait a long time before merging your changes which could likely lead to merge conflicts down the road. So instead, I'd suggest that we wait a bit

[2022-03-17 18:48] waldekmastykarz commented on #3035
Please do @vipulkelkar

[2022-03-17 18:49] waldekmastykarz commented on #2698
Thank you @teixejoe. Am I understanding it correctly, that above only registers a proxy for all requests but I'd still need to have a proxy server set up on port 80?

[2022-03-17 19:29] teixejoe commented on #2698
In my case it's 3125 😀

[2022-03-17 19:34] garrytrinder commented on #3101
That's a good observation, however we do add a remark in the docs when we use beta endpoints in the Graph API. Example 👉 https://pnp.github.io/cli-microsoft365/cmd/aad/user/user-password-validate/

Using an internal/undocumented API has the same level of risk of being changed or removed as using a beta endpoint in my opinion.

I guess the question is, does the end user really care? I don't think t

[2022-03-17 20:06] milanholemans commented on #3136
No problem, I didn't know this. I was a bit confused because another issue was labeled with a v6 milestone and an 'on hold' label. Since this issue had no 'on hold' label I thought we could work on it.
I totally understand the reason so will look for other issues. :smile:

[2022-03-17 21:36] AJIXuMuK commented on #3057
@waldekmastykarz we don't need to ask for downgrade.
React is loaded by SPFx itself. So it's OK to have the latest v16 supported by SPFx in the config.

[2022-03-18 07:17] waldekmastykarz commented on #3057
@AJIXuMuK so we basically compare on the major range, correct? Does that apply to all dependencies like React, OUIF, etc or only to some (and if so which ones)?

[2022-03-18 07:19] waldekmastykarz commented on #3136
Sorry for the confusion. We use on hold to indicate that the issue is blocked by something external. In this case it's our planning that's in the way, but perhaps we should communicate it better.

[2022-03-18 07:22] waldekmastykarz commented on #3101
Using an internal/undocumented API is even worse because there is no external communication about it, whereas the Graph team has been doing awesome work communicating changes to beta endpoints.

I think as a user you'd want to know where there are potential risks of things possibly changing without any upfront warning. Yes, at the end of the day you have little choice if you want to achieve some t

[2022-03-18 07:24] waldekmastykarz commented on #2698
Right, but the question remains: how can our contributors, or us maintainers replicate this? For example, I don't have a proxy ready to use on my network and it's not something I'm setting up regularly, so having some more information about how we could replicate your setup so that we can reproduce the error would significantly cut the implementation time.

[2022-03-18 08:08] waldekmastykarz opened #3151 "Bug report: command name deprecation message no longer works"
### Description

CLI no longer displays deprecation messages for command name

### Steps to reproduce

execute the `m365 spo site classic add` command with valid arguments

### Expected results

A message showing that the command is deprecated and you should use `spo site add` instead

### Actual results

No deprecation message

### Diagnostics

_No response_

### CLI for Microsoft 365 version

la

[2022-03-18 08:28] #3126 closed

[2022-03-18 08:28] #3133 closed

[2022-03-18 09:12] garrytrinder commented on #3101
So back to your original question, I think the answer is yes from what we have discussed 😁

[2022-03-18 09:35] appieschot opened #3152 "Consider moving 'planner plan details get' to the beta endpoint to return more labels"
### Description

`m365 planner plan details get` only returns the first 6 categories and their label. Turns out this is a limitation of the Microsoft Graph v1 endpoint (undocumented) but easily testable by running the query in the graph explorer.

V1.0 endpoint
[code]

vs beta endpoint
[code]

### Steps to reproduce

Run `m365 planner plan details get` on a plan with more then 6 categories.

### E

[2022-03-18 10:25] appieschot commented on #3152
@pnp/cli-for-microsoft-365-maintainers there should be no blockers to change from v1 to beta (no information lost). If we agree on the spec we could do the same implementation as discussed in #3034 let me know what you think

[2022-03-18 10:44] waldekmastykarz commented on #3152
From the reliability point of view, I'd say that we should strive to use v1.0 endpoints whenever possible. Beta endpoints are meant to be changed. If there are specific use-cases that we can support, that would be a different argument, but I wonder if it's the case here. Yes, the beta endpoint supports more labels today, but what if tomorrow it will only return 3?

What we currently have is by des

[2022-03-18 10:46] waldekmastykarz commented on #3101
In that case, I'd suggest that we define a separate issue where we can identify all commands that use internal/undocumented APIs and can add a relevant label to their docs.

[2022-03-18 10:50] appieschot commented on #3152
Well it is technically by design but it's not reporting all info, if I would have know that it would be missing 14 categories I would have speced against the `beta` endpoint right away. Based on discussion #3034 we opted to implement the beta endpoint for a single property on #3037. I would be happy with that same approach in this scenario, but also open to add a --beta flag on commands if we need

[2022-03-18 11:34] waldekmastykarz commented on #3152
If we're to look at it case-by-case, then here I'd be more inclined to use the v1.0 endpoint with a `--beta` flag. Thinking back about #3037, exposing `--beta` there as well would be better than issuing two separate calls. The challenge with adding `--beta` to the CLI is how we build and execute requests. In the current architecture, it literally means upgrading all commands which isn't trivial. I

[2022-03-18 11:52] martinlingstuyl commented on #3118
You can assign me on this 👍 It's not a lot of work, let' get it over with 😁

[2022-03-18 12:27] gavdPublic commented on #3101
Waldek, Garry, thanks for your efforts to solve the issue.
Regarding the question of "...does the end user really care?", from my perspective as user the answer is no, I don't care as long the command stay working. And if it stops working, we will let you know. The problem is that, in my case and I assume I am not the only one, around half of the scripts that we implement are used for automation w

[2022-03-18 12:47] appieschot commented on #3152
Pondering on the meaning of urgently I am not sure ;-), but I will go with `--beta` first then ;-). Do you want me to create a new issue for #3037 so we can refactor that one to use a `--beta` as well to keep things somewhat aligned?

[2022-03-18 12:51] AJIXuMuK commented on #3057
@waldekmastykarz - that is applicable to React and ReactDOM.
OUIFR is bundled with the SPFx application. So for OUIFR we can recommend to use version that is specific to the SPFx version.
And for dev dependencies - we recommend use the versions provided by the generator. Otherwise we can't assure all will work :)

[2022-03-18 13:06] waldekmastykarz commented on #3057
Understood, these are all great checks that I'll add in the command. Thanks!

[2022-03-18 13:09] waldekmastykarz commented on #3152
Ideally, yes, but since we can't remove the existing flag because it would be a breaking change, I wonder if it wouldn't tangle the existing code too much. We'd need to keep the existing behavior with the extra call, plus accommodate the new `--beta` flag. Perhaps we should mark this as a change for v6.

[2022-03-18 13:13] waldekmastykarz commented on #3101
Thank you for taking the time to share your feedback @gavdPublic. It's extremely helpful for us to understand what's the best way for us to help you. Having integration tests that we could use to verify the working of the CLI would be awesome. It would require specific orchestration and a test environment, but it would be a great way to verify that all is working as intended. It's not trivial to i

[2022-03-18 13:13] waldekmastykarz commented on #3118
Awesome! Thank you so much @martinlingstuyl 👏

[2022-03-18 13:34] vipulkelkar opened #3153 "Enhancement: Extend 'aad app set' with ability to pass the application manifest"
Based on the discussion in #3035, extend the `aad app set` command with the ability to pass the Azure AD application manifest.

Option | Description
-- | --
--manifest [manifest] | Azure AD app manifest as retrieved from the Azure Portal to update the app registration

[2022-03-18 13:57] anthonywhite commented on #2698
@waldekmastykarz Could something like this help (please note I have not tried myself - I already have a corporate proxy ;-))?

[Simulate-an-enterprise-proxy-on-a-single-developer-machine](https://github.com/mapbox/mason/wiki/Windows:-Simulate-an-enterprise-proxy-on-a-single-developer-machine)

I appreciate this is a pain for your authors/contributors, but the uncomfortable fact is that a percentag

[2022-03-18 14:18] martinlingstuyl commented on #3118
Just to be sure: @arjunumenon: I'm going to rename the existing setting `autoOpenBrowserOnLogin`

[2022-03-18 15:09] arjunumenon commented on #3118
I don't think we can rename the current setting since it [would bring in a breaking change](https://github.com/pnp/cli-microsoft365/issues/3118#issuecomment-1063761743) for the current login settings.

- We will introduce a new setting called `autoOpenLinksInBrowser` with default value as `false`
- The commands, #2940 and [m365 cli consent](https://pnp.github.io/cli-microsoft365/cmd/cli/cli-consen

[2022-03-18 16:30] martinlingstuyl commented on #3118
Ah, right 😁 hadn't thought of breaking changes...

[2022-03-18 18:46] waldekmastykarz opened #3154 "Enhancement: extend spfx project upgrade with guidance for SPFx fast serve"
### Discussed in https://github.com/pnp/cli-microsoft365/discussions/3139

<div type='discussions-op-text'>

<sup>Originally posted by **Jwaegebaert** March 15, 2022</sup>
When an SPFx project makes use of `SPFx Fast Serve`. Suggesting that the package helper of this should be upgraded to the same version. I personally use this a lot and recently came across this when upgrading to version 1.14.

e

[2022-03-18 18:48] waldekmastykarz commented on #3118
Perfect @arjunumenon. You got it 100%. Creating an issue for v6 to track the breaking change is a great idea. Let's do it 👍

[2022-03-18 18:49] waldekmastykarz commented on #2698
Happy to help any way I can and I'm sure that our contributors feel the same way! If we can get to a representative setup, then we can definitely work on a solution. Let's do this!

[2022-03-18 18:50] waldekmastykarz commented on #2698
@anthonywhite the instructions help for sure! I'm on a macOS so I'll either try for an alternative or use a VM, unless someone else who's on Windows would like to help with addressing this limitation 😄

[2022-03-18 18:54] waldekmastykarz commented on #3153
Great suggestion! Let's get it in! Perhaps an important detail to mention is that in this case the values from the manifest are not additive but represent the desired state. In other words, if you have a redirect URI, and the manifest has two different redirect URIs, then after running this command, the AAD app should have only the two redirect URI from the manifest and nothing else.

[2022-03-19 07:01] #2219 closed

[2022-03-19 07:01] #3143 closed

[2022-03-19 12:35] Jwaegebaert commented on #3154
I would like to try this one out if possible.

[2022-03-19 17:25] garrytrinder commented on #3154
All yours @Jwaegebaert 👍🏻

[2022-03-20 09:32] #2998 closed

[2022-03-20 09:32] #3125 closed

[2022-03-20 13:07] #2934 closed

[2022-03-20 13:07] #3147 closed

[2022-03-20 22:31] reshmee011 commented on #3061
@appieschot , I am unable to call the bap endpoint to retrieve list of environments, I have run the cmdlet to register cli for m365 as a management application for power platform
![image](https://user-images.githubusercontent.com/7693852/159188688-48d5f5da-627d-42eb-bc66-7cd8ed54dc56.png)
The error message I am getting retrieving list of environments ,any advice will be appreciated.
![image](https

[2022-03-21 07:17] waldekmastykarz commented on #3061
@reshmee011 looking at the URL, it seems like you're missing a `/` before providers in `https://api.bap.microsoft.comproviders`

[2022-03-21 09:39] reshmee011 commented on #3061
@waldekmastykarz: thanks for spotting the mistake, it is working now :) fresh pair of eyes help though feeling gutted for wasting time thinking it was a permission issue.

[2022-03-21 09:40] waldekmastykarz commented on #3061
My pleasure! Sometimes, where you're deep in the weeds, it's hard to spot typos, so always a good idea to get a fresh pair of eyes 😊

[2022-03-21 21:47] martinlingstuyl commented on #3118
Ok, so I created the pull request. I included two commands that use it.

A third command that will benefit from this, is 'aad app open', for which I already created a pull request some time ago. I'll update that one with the new setting as soon as this one is accepted and merged.

And on we go 🚀

[2022-03-22 07:24] waldekmastykarz commented on #3118
Excellent! 👏

[2022-03-22 12:03] AJIXuMuK commented on #3057
@waldekmastykarz

Yes, you can use another version of rush stack. Theoretically, even v4. But I won't guarantee that right now :)

Although it was our mistake in the configuration, I would still report it.

[2022-03-22 12:05] waldekmastykarz commented on #3057
Would you then say, that when folks experience issues, we suggest they revert to a version of rush stack that was shipped with that particular version of SPFx, just to eliminate it as a possible source of trouble?

[2022-03-23 13:38] waldekmastykarz opened #3162 "Enhancement: from 'spfx doctor' remove the React check"
As we're about to release the `spfx project doctor` command #3057 that verifies the integrity of SPFx projects, we should remove the React check (https://github.com/pnp/cli-microsoft365/blob/c51892964f48e7c11ad3a7365af991c072d3e191/src/m365/spfx/commands/spfx-doctor.ts#L548) from `spfx doctor`, which is meant to verify the setup of the dev environment. Checking React version will be done by the `s

[2022-03-23 14:58] #2942 closed, assigned to nobody

[2022-03-23 15:04] arjunumenon opened #3163 "Remove the setting `autoOpenBrowserOnLogin` to follow new settings `autoOpenLinksInBrowser`"
Currently we have a [cli config settings](https://pnp.github.io/cli-microsoft365/user-guide/configuring-cli/#available-settings) called `autoOpenBrowserOnLogin` which if value is `true` will open the browser window automatically.
Now we have introduced a new generic settings config called `autoOpenLinksInBrowser` as per issue #3118 , we will have to

- Remove the config settings `autoOpenBrowserOn

[2022-03-23 16:30] Jwaegebaert opened #3164 "Enhancement: extend `spfx project upgrade` documentation"
As mentioned in #3161, it would be interesting to write more documentation regarding the command `spfx project upgrade`. This would then be the various aspects that we all take into account to make the upgrade report.

This could be, for example.

- It will be important to upgrade your `.yo-rc.json` file to the corresponding SPFx version
- If you are making use of the package `spfx-fast-serve-help

[2022-03-23 18:10] waldekmastykarz opened #3165 "Bug report: web requests from commands called by other commands don't show up in debug mode"
### Description

Web requests from commands called by other commands don't show up in debug mode

### Steps to reproduce

`m365 app get --debug`

### Expected results

Information about the executed request

### Actual results

No information about the executed request

### Diagnostics

_No response_

### CLI for Microsoft 365 version

latest from main

### nodejs version

v16

### Operating syste

[2022-03-24 06:52] waldekmastykarz commented on #3164
I think it's a great suggestion! We should not only mention the importance of updating the version in .yo-rc.json but also document all findings that we report to increase transparency.

[2022-03-24 12:17] patrick-rodgers commented on #3057
This is a great thread, excited to see this feature come to the CLI. Would definitely benefit ISVs and partners in getting their solutions updated and help shorten the long tail of deployed versions.

If/when we can safely update the rushstack to newer versions of TS that would also be a big win, and any help we can give folks the better. We've considered releasing a quick package to run with npx

[2022-03-24 12:58] waldekmastykarz commented on #3057
Thank you so much for your feedback @patrick-rodgers!

Right now we implemented checks based on the versions that we list at https://docs.microsoft.com/en-us/sharepoint/dev/spfx/compatibility#spfx-development-environment-compatibility. For simplicity, we used these exact versions but if experience shows that we can ease up the recommendations and use major ranges as boundaries (eg. v3.x for SPFx@1

[2022-03-25 11:46] kevmcdonk opened #3169 "New command: search externalConnections get"
### Usage

m365 search externalconnection get [options]

### Description

This command will allow the administrator to get a specific external connection for use in Microsoft Search.

### Options

Option | Description
-- | --
`-i, --Id [Id]` | The Id of the External Connection
`-n, --name [name]` | The name of the External Connection.

### Additional Info

_No response_

[2022-03-25 11:47] waldekmastykarz commented on #3169
Just to check: the user must specify either `id` or `name`, correct?

[2022-03-25 11:49] kevmcdonk opened #3170 "New command: search externalConnections remove"
### Usage

m365 search externalconnection remove

### Description

This command will allow the administrator to remove a specific external connection used in Microsoft Search.

### Options

Option | Description
-- | --
`-i, --id [id]` | The ID of the connection. Specify either `id` or `name`
`-n, --name [name]` | The name of the connection. Specify either `id` or `name`
`--confirm` | Don't prompt

[2022-03-25 11:52] kevmcdonk opened #3171 "New command: externalconnection schema add"
### Usage

m365 externalconnection schema add [options]

### Description

This command will allow the administrator to add a schema to a specific external connection for use in Microsoft Search.

### Options

Option | Description
-- | --
`-i, --externalConnectionId <externalConnectionId>` | The ID of the External Connection
`-s, --schema <schema>` | The schema object to be added

### Additional In

[2022-03-25 11:58] kevmcdonk commented on #3169
Yes, that's right. Wasn't sure where to add that comment but will be in the doc

[2022-03-25 11:59] kevmcdonk commented on #3169
Also forgot to say that I'm happy to work on this.

[2022-03-25 12:00] kevmcdonk commented on #3170
Happy to work on this

[2022-03-25 12:00] kevmcdonk commented on #3171
Happy to work on this

[2022-03-25 16:43] waldekmastykarz commented on #3171
Is the `id` the only option that we need here? Looking at the description I'd expect some other options as well, but maybe that's just lack of knowledge how it all works behind the scenes.

Also, since we're expecting the ID of the external connection, rather than the schema, the option should be named `--externalConnectionId` to clearly indicate the expected value.

[2022-03-25 16:46] waldekmastykarz commented on #3170
Thank you for the suggestion! For `remove` commands, we typically also include a `--confirm` flag which suppresses the confirmation prompt when used. I assume users must specify either ID or name? If so, let's clarify this in the spec.

[2022-03-25 16:46] waldekmastykarz commented on #3169
Perfect! All yours and we appreciate your help! 👏

[2022-03-25 18:30] kevmcdonk commented on #3171
You're right, I missed the actual schema.

Option | Description
-- | --
-i, --externalConnectionId <externalConnectionId> | The ID of the External Connection
-s, --schema <schema> | The schema object to be added

The schema object should be passed as https://docs.microsoft.com/en-us/graph/api/externalconnectors-schema-create?view=graph-rest-1.0&tabs=http

[2022-03-25 18:33] kevmcdonk commented on #3170
Yes, will include both

[2022-03-25 22:01] milanholemans opened #3174 "Rename `teams conversationmember add` to `teams channel member add`"
* Rename `teams conversationmember add` to `teams channel member add`
* Set `teams conversationmember add` as alias with deprecation warning

[2022-03-25 22:04] milanholemans commented on #3174
Maintainers could you have a look at the proposed command?

[2022-03-25 22:08] milanholemans opened #3175 "New command: teams channel member remove"
### Usage

`teams channel member remove`

### Description

Removes user from the specified Microsoft Teams private channel

### Options

Option | Description
-- | --
`--teamId [teamId]` | The Id of the Microsoft Team. Specify either teamId or teamName but not both.
`--teamName [teamName]` | The name of the Microsoft Team. Specify either teamId or teamName but not both.
`--channelId [channelId]` |

[2022-03-25 22:12] milanholemans commented on #3175
Maintainers could you have a look at the proposed command? If the above is fine, I'd like to work on this one.

[2022-03-25 22:15] milanholemans opened #3176 "New command: teams channel membership list"
### Usage

teams channel membership list

### Description

Lists users for the specified Microsoft Teams channel

### Options

Option | Description
-- | --
`--teamId [teamId]` | The Id of the Microsoft Team. Specify either teamId or teamName but not both.
`--teamName [teamName]` | The name of the Microsoft Team. Specify either teamId or teamName but not both.
`--channelId [channelId]` | The Id of

[2022-03-25 22:15] milanholemans commented on #3176
Maintainers could you have a look at the proposed command? If the above is fine, I'd like to work on this one.

[2022-03-25 22:18] milanholemans opened #3177 "New command: teams channel member set"
### Usage

teams channel member set

### Description

Updates role of the specified user in the specified Microsoft Teams private channel.

### Options

Option | Description
-- | --
`--teamId [teamId]` | The Id of the Microsoft Team.  Specify either teamId or teamName but not both.
`--teamName [teamName]` | The name of the Microsoft Team. Specify either teamId or teamName but not both.
`--channelI

[2022-03-25 23:44] Jwaegebaert commented on #3177
If all is fine for this command, then I would like to work on this one.

[2022-03-26 05:45] plamber commented on #3174
Hi @milanholemans,
Thank you for your submission. Looks good to me.

I will assign you the issue.

Thank you

[2022-03-26 05:48] plamber commented on #3176
Hi @milanholemans,
this command looks good to me. I would like to ask you to start with the teams channel user list, then move to #3174, #3177, and #3175.

I will assign you two commands for now. Once we are through with these we can definitely assign you the other commands.

Thank you

[2022-03-26 05:52] plamber commented on #3177
Hi @milanholemans,
thank you for your submission. Highly appreciated. I am going to assign this command to @Jwaegebaert if you do not mind since you are already assigned to #3176 and #3174.

Thank you,
Patrick

[2022-03-26 10:49] Jwaegebaert commented on #3175
I could also work on this one if help is still needed 😁

[2022-03-27 09:09] waldekmastykarz commented on #3175
Thank you for the spec @milanholemans. To align it with our conventions:

- since it's a `remove` command, let's include a `--confirm` flag that will suppress the confirmation prompt
- we should shorten `userName` and `userId`, to `name` and `id` since they refer to the last noun in the command's name and we shouldn't repeat the context
- I'm not sure if we should use `-i` as a short for `--teamId

[2022-03-27 09:14] waldekmastykarz commented on #3177
Thank you for the spec @milanholemans! Looking at the command's name, it seems like we're updating user in a channel. As we're updating user's _role_, I'd suggest that we have another look at the command's name to clarify it. As you can see in the relevant API, we're posting to user's membership not to user, so an equivalent name could be `teams channel usermembership set` or `teams channel member

[2022-03-27 09:19] waldekmastykarz commented on #3176
Looks good @milanholemans! The only suggestion I have is to remove the short `-i` because it's ambiguous whether it refers to team's or channel's ID.

[2022-03-27 09:23] waldekmastykarz commented on #3174
To align the command with our conventions:

- let's shorten userName and userId to name and id, because they refer to the last noun in the command's name and we don't need to repeat the context
- let's remove the `-i` and `-n` shorts because they're ambiguous as to which name and ID they refer to
- looking at the referenced docs, it seems like `owners` is the only allowed option. Let's double chec

[2022-03-27 09:25] waldekmastykarz commented on #3171
I updated the spec 👍

[2022-03-27 09:26] waldekmastykarz commented on #3171
Would you like to work on this @kevmcdonk?

[2022-03-27 09:28] kevmcdonk commented on #3171
Yes please

[2022-03-27 12:52] milanholemans commented on #3175
@waldekmastykarz I have adjusted the specs with your feedback.

[2022-03-27 12:58] milanholemans commented on #3176
@waldekmastykarz I have adjusted the specs with your feedback.
I also added an extra option `role` as enhancement. This way only the owners, members or guests are returned as result.

[2022-03-27 13:24] milanholemans commented on #3174
@waldekmastykarz I have adjusted the specs with your feedback.

For the role property, when you don't specify a role in your Graph request, the user will be added as member (or guest if it's an external account). If you specify `owner` as role in your Graph request, the user will be added as owner. I think it's best to provide something, maybe a boolean `--owner` instead of a choice field? Anyway,

[2022-03-27 13:53] plamber commented on #3174
Hi,
Maybe an isOwner flag might do the trick.

Cheers

[2022-03-27 13:53] milanholemans commented on #3177
@waldekmastykarz I have adjusted the specs with your feedback.

About the command name, I can agree with you in this.

**Looking at the API, it seems like we don't require information about the user because it's already encapsulated in the membership. Is that correct? Or is the user's ID/name an alternative way to specify membership ID so that user's don't need to look it up themselves and instead

[2022-03-27 15:31] plamber commented on #3177
Hi,
I would provide both options like suggested in the initial spec. We are doing the same with team and channel. Processing the info per id will always be more performant. The username is an option for conveniance.

Cheers

[2022-03-27 16:20] milanholemans commented on #3176
@waldekmastykarz @plamber during testing I encountered a quite big problem. For all suggested commands to manage users in private channels, we need `ChannelMember.ReadWrite.All` permission. These permissions are currently not in the PnP app registration so all graph calls are failing.

![image](https://user-images.githubusercontent.com/11723921/160290867-1da24c35-6b44-44a3-a5cc-40925c20b4ff.png)

[2022-03-27 16:57] milanholemans commented on #3176
@waldekmastykarz I also noticed that we need more permissions. The permission level `ChannelMember.ReadWrite.All` is needed to make this (and other) commands work.

[2022-03-28 06:47] waldekmastykarz commented on #3176
Thank you! If I look at the API, roles seem to be lowercase. Let's adjust our spec to reflect that as our enum comparisons are case-sensitive. Also, since role is optional, let's include in its description what the default behavior is.

For the options, where we have an ID and a name pair, let's extend the descriptions mentioning which options belong to a set, eg. _Specify either `teamId` or `team

[2022-03-28 06:48] waldekmastykarz commented on #3176
Thanks for the heads up. We'll add it when we'll review the PR. For development, you can either use a custom app with this permission or manually grant the missing scope in your tenant.

[2022-03-28 06:50] waldekmastykarz commented on #3177
Excellent. Let's make this clear in options' description that we expect the user to specify either `userName`, `userId` or `membershipId`.

As we've updated the command name to `teams channel membership set`, let's rename `membershipId` to `id` so that we're not repeating the context and are consistent with other commands.

[2022-03-28 06:51] plamber commented on #3177
@waldekmastykarz: this will become the teams channel membership list command: https://github.com/pnp/cli-microsoft365/issues/3176

[2022-03-28 06:54] waldekmastykarz commented on #3174
Thinking of it some more, I wonder if it's not a part of intentional design to have a `role` option with right now just one value, but in the future potentially more values. I wonder if it weren't more future-proof to align with the API and have a `--role` option that allows just one value named `owner` at the moment, but which could allow more roles in the future if need be.

[2022-03-28 06:56] waldekmastykarz commented on #3177
So that's my point: as the command is not named `membership`, unless I know the underlying API and the data it returns, I wouldn't know that I can get membershipId by listing channel's users. This is why I suggested to expand the documentation for `membership set` to instruct our users that they can use the `teams channel user list` command to get membershipIds.

[2022-03-28 06:57] waldekmastykarz commented on #3175
Excellent! One more thing: let's clarify which options belong to a set, eg. _Specify either `teamId` or `teamName`_, etc. Otherwise it might seem like all options are optional and the command just works without specifying any arguments which isn't the case.

[2022-03-28 06:58] waldekmastykarz commented on #3171
Awesome! All yours! We appreciate your help 👏

[2022-03-28 07:04] plamber commented on #3174
This is definitely part of the design because you can already pass 3 different values. We do not know which additional options will be available in future

[2022-03-28 07:05] plamber commented on #3177
The teams channel user list is returning memberships. Therefore, since we are renaming all "teams channel user" commands with "teams channel membership", we should do the same for the "teams channel user list"

[2022-03-28 17:33] waldekmastykarz commented on #3174
I think the confusing part is that the property can have 3 values, but the request accepts only one. I think it does make sense to align with the API to accommodate for future changes that we don't know about today.

[2022-03-29 14:03] robdy opened #3180 "Bug report: 'Debug Tests' pulls from config file"
### Description

While trying to debug tests from a specific file using 'Debug Tests' from `launch.json` file, all tests run.

### Steps to reproduce

Change 'Debug Tests' args in `launch.json` to:

[code]

### Expected results

Run only tests from _m365/aad/commands/app/app-add.spec.ts_.

### Actual results

All tests run

### Diagnostics

_No response_

### CLI for Microsoft 365 version

"v5.0.0

[2022-03-29 19:26] milanholemans opened #3181 "Enchancement: Create private teams channel"
Currently it's only possible to create a general teams channel. We could extend the existing command `teams channel add` with following properties.

## Options
| Option | Description |
|---|---|
| `--type [type]` | Type of channel to create. Possible values: `standard, private`. Default is standard. |
| `--owner [owner]` | User UPN. This user is added as owner to the private channel. This option i

[2022-03-29 20:45] gavdgavd opened #3182 "Bug report: "spo site list" vs. "spo site classic list""
### Description

The command "spo site classic list" is reporting Classic AND Modern SharePoint Site Collections

### Steps to reproduce

01 - Make a new Microsoft 365 tenant (this is not a requisite to reproduce the issue, but it makes it easier to review the logs because there will be a limited number of Site Collections in the tenant)
02 - Make a new Site Collection in SharePoint. Ensure that y

[2022-03-29 21:18] akashkarda commented on #2910
Can I work on this one?

[2022-03-30 12:33] martinlingstuyl commented on #3116
Hi @arjunumenon,

would it be an idea to add an extra option: `--certificateDisplayName`?

Using the `displayName` property on the Microsoft Graph AAD app update call is optional. If not filled in, the displayName will be set to the certificate subject.
In my case it became something like: `CN=Test Certificate for CLI`

[2022-03-30 14:03] waldekmastykarz commented on #3180
Good catch @robdy! I think we should move all settings from the `test:test` script to the .mocharc.json file and update our guidance with instructions how to run only specific (group of) tests.

[2022-03-30 14:05] waldekmastykarz commented on #2910
Please do @akashkarda! We appreciate your help! 👏

[2022-03-30 15:57] waldekmastykarz commented on #3116
Makes perfect sense @martinlingstuyl. Great suggestion! 👏

[2022-03-30 17:05] arjunumenon commented on #3116
Wonderful suggestion @martinlingstuyl 👍. I have updated the spec for the same.

I have also updated the spec for #3115 which also deals with the similar enhancement

[2022-03-30 17:06] arjunumenon commented on #3115
Hi @martinlingstuyl - Please note that the spec for this issue is updated based on [this conversation](https://github.com/pnp/cli-microsoft365/issues/3116#issuecomment-1083083768)

[2022-03-30 22:16] martinlingstuyl commented on #3116
A small thing. The specs speak about a private key, but I assume you mean public key...

[2022-03-31 06:41] martinlingstuyl commented on #3116
Hi guys, is it acceptable if I close #3115 and #3116 in a single PR?

[2022-03-31 07:12] waldekmastykarz commented on #3116
Yes, but please keep the commits separate so that it's clear which changes apply where.

[2022-03-31 07:15] waldekmastykarz commented on #2695
That would be awesome! Unfortunately we closed the PR which wasn't ready to merge, due to lack of response from the author. If you'd like to finish it, that would be awesome! We appreciate your help! 👏

[2022-03-31 07:17] waldekmastykarz commented on #3182
Thank you for reporting the issue @gavdgavd and sorry for the trouble. If I'm not mistaken, we haven't changed anything in this command recently so it could be that what you're seeing is a result of the changes in the underlying API. If that's indeed the case, would you expect us to filter out modern sites and just show classic sites?

[2022-03-31 07:18] Adam-it commented on #2695
Please assign me then and let's start coding

[2022-03-31 07:19] waldekmastykarz commented on #3181
Great suggestion @milanholemans and very good decision with regards to the design. Nothing to add. Would you like to work on it?

[2022-03-31 07:20] milanholemans commented on #3181
Yes please 😃

[2022-03-31 07:35] gavdgavd commented on #3182
Good morning. Thanks for taking a look at this issue. Allow me to make a bolder challenge: do we need to maintain compatibility with the Classic SharePoint? I see in other commands ("spo site classic add") that you are already deprecating compatibility with Classic ("This command is deprecated. Please use [spo site add](https://pnp.github.io/cli-microsoft365/cmd/spo/site/site-add/) instead."). If

[2022-03-31 08:24] #2321 closed

[2022-03-31 09:17] martinlingstuyl commented on #3116
By the way, I'm not replacing the certificate. I'm adding it to the list of available certificates. Seems to me the best route, as you would want to have some form of fallback to use the older certificates if they are referenced somewhere.

[2022-03-31 10:30] martinlingstuyl commented on #3115
There it is guys, as promised! 🚀

on to the next

[2022-03-31 12:08] gavdgavd opened #3186 "Bug report: "spo site remove" command does not delete Site Collection"
### Description

The "spo site remove" is not deleting SharePoint Site Collections

### Steps to reproduce

01 - Create a new modern SharePoint Team Site Collection (SharePoint Admin center -> Sites -> Active sites -> Create -> Team site -> give it a name and owner)
02 - After creation, review that the Site Collection is indeed created (SharePoint Admin center -> Sites -> Active sites -> it should

[2022-03-31 13:42] waldekmastykarz commented on #3116
That's definitely the right approach: let's not replace whatever is in there but rather add another certificate

[2022-03-31 13:43] waldekmastykarz commented on #3181
All your! We appreciate your help! 👏

[2022-04-01 06:29] waldekmastykarz commented on #3186
Good catch and it's indeed a bug. It seems like for groupified sites, we only remove the group and not the site itself. We'll get to it asap. Sorry for the trouble :(

[2022-04-01 06:30] waldekmastykarz commented on #3182
@pnp/cli-for-microsoft-365-maintainers any opinion on leaving or deprecating `site classic list`?

[2022-04-01 06:49] vipulkelkar commented on #3035
created #3153 , we can put this one on-hold for now till the other one is implemented.

[2022-04-01 21:38] milanholemans commented on #3162
I'll delete it if it's ok.

[2022-04-02 08:28] waldekmastykarz commented on #3162
Awesome! All yours 👏

[2022-04-02 23:10] milanholemans opened #3191 "Enhancement: Type filter for 'teams channel list' command"
Currently the `teams channel list` command lists all channels. We could add a `type` option and filter the results so only `standard` or `private` channels are listed.

## Options
| Option | Description |
|---|---|
| `--type [type]` | Filter the results to only channels of a given type: `standard, private`. All channels are listed by default. |

## Additional info
This is already possible with a `

[2022-04-02 23:38] SHAnders opened #3192 "pnp/cli m365 spo from Powershell looses encoding"
### Description

With files names containing chars ÆØÅ in a SharePoint calling the following from powershell provides different results

Putting the result into a powershell parameter or otherwise interact with normal powershell result in encoding errors

### Steps to reproduce

Have a SharePoint document library, list or other result containing ÆØÅ and return this within powershell with pnp/cli m

[2022-04-03 07:04] #3101 closed

[2022-04-03 07:04] #3142 closed

[2022-04-03 07:04] #2899 closed

[2022-04-03 07:35] #3176 closed

[2022-04-03 08:36] waldekmastykarz commented on #3192
Thank you for reporting the issue @SHAnders. Like you noticed, CLI prints the output as expected but for some reason it gets tangled in PowerShell. Let's try to do some more research to understand why this is happening and what we could do about it.

[2022-04-03 08:49] waldekmastykarz commented on #3101
We've just released a preview version with this bug fixed. You can try it by running `npm i -g @pnp/cli-microsoft365@next`. Once again, thank you for reporting the issue and we appreciate your help.

[2022-04-03 08:50] waldekmastykarz commented on #3191
Nice idea! Let's extend the `type` option's description to clarify that when it's not specified, the command will return all channels.

[2022-04-03 08:56] waldekmastykarz commented on #2462
@plamber, I think @michaelmaillot is waiting on your response

[2022-04-03 08:56] waldekmastykarz commented on #2907
Closing due to lack of response

[2022-04-03 08:56] #2907 closed

[2022-04-03 08:57] waldekmastykarz commented on #2941
Hey @ag0059985, do you have any more information for us?

[2022-04-03 08:58] waldekmastykarz commented on #2953
Closing due to lack of response

[2022-04-03 08:58] #2953 closed

[2022-04-03 08:59] waldekmastykarz commented on #2954
Closing due to lack of response

[2022-04-03 08:59] #2954 closed

[2022-04-03 09:00] waldekmastykarz commented on #2993
@garrytrinder @robdy is there anything else that we should clarify before we proceed with implementation?

[2022-04-03 09:02] waldekmastykarz commented on #3006
@appieschot were you able to confirm that it's indeed an issue with the CLI and not a limitation in the underlying APIs?

[2022-04-03 09:59] waldekmastykarz commented on #3053
@Abderahman88 are you still working on this? Not sure if you've seen that we've merged #2989 and we can have the util method stored centrally and reused across all relevant commands.

[2022-04-03 10:04] waldekmastykarz commented on #3192
In which version of PowerShell have you seen this issue? If I test it in v7.2.1 on macOS, I can see the output as expected:

![image](https://user-images.githubusercontent.com/11164679/161422280-86f217b3-e84e-4768-ae19-0d284dc16c25.png)

[2022-04-03 10:14] waldekmastykarz commented on #3180
I updated the guidance in https://github.com/pnp/cli-microsoft365/wiki/Adding-a-command. I'll also submit a PR that moves all settings from the npm script to .mocharc.json.

[2022-04-03 10:34] Adam-it opened #3198 "New command: break role inheritance on list/lib"
### Usage

m365 spo list roleinheritance break

### Description

break inheritance on list or library. Keeping  existing permissions is the default behavior.

### Options

Option | Description
-- | --
`-u, --webUrl <webUrl>` | URL of the site where the list to retrieve is located
`-i, --listId [listId]` | ID of the list to retrieve information for. Specify either id or title but not both
`-t, --li

[2022-04-03 10:39] Adam-it commented on #3198
Hi all. I already have one issue assigned (which I hope to finish quite soon) but if there is no better candidate for this one I may give it a shoot. But of course if there is someone interested to try this one out please feel free to do so 👍. If any help or advice would be needed I am always available 😉

[2022-04-03 10:45] Adam-it opened #3199 "New command: spo listitem roleinheritance break"
### Usage

m365 spo listitem roleinheritance break

### Description

break inheritance of list item, file or folder. Keeping  existing permissions is the default behavior.

### Options

Option | Description
-- | --
`-u, --webUrl <webUrl>` | URL of the site from which the item should be retrieved
`-i, --id <id>` | ID of the item to retrieve
`-l, --listId [listId]` | ID of the list. Specify listId o

[2022-04-03 10:47] SHAnders commented on #3192
The examble was created on PowerShell: 5.1.22000.282

However earlier test a few days old was created on annother machine with both v5 and on newly installed v7 to verify if v7 could fix the issue.
Both test was on Windows, one on win 10pro the other a new vm with win 11pro.

Mvh
Søren Hvidkjær Andersen

Fra: Waldek Mastykarz
Sendt: 3. april 2022 12:04
Til: pnp/cli-microsoft365
Cc: SHAnders; Menti

[2022-04-03 10:49] Adam-it commented on #3199
hi all, similar here I would also love to take this one, but I already have something  assigned so I would not like to be any blocker for this functionality so if there is someone which would start then I am available for any help needed on this one 😉.
@waldekmastykarz also I have one additional question. As this endpoint will work to break inheritance on any list item, file and folder. So I am no

[2022-04-03 10:55] waldekmastykarz commented on #3192
Would information from this thread help: https://stackoverflow.com/questions/49476326/displaying-unicode-in-powershell? Specifically, around the need to explicitly configure Windows PowerShell (versions <6) to use UTF-8, which is default in v6+.

[2022-04-03 11:12] SHAnders commented on #3192
Yes setting output encoding before calling does seem to fix the issue.

$OutputEncoding = [Console]::OutputEncoding = New-Object System.Text.Utf8Encoding
write-output $(m365 spo file list -u 'https://[myTenant]/sites/hr/Medarbejder304' -f 'Kontrakter/Udgåede/')
[
  {
    "Name": "ÆØÅ.txt",
    "ServerRelativeUrl": "/sites/hr/Medarbejder304/Kontrakter/Udgåede/ÆØÅ.txt",
    "UniqueId": "c296f998-a4c

[2022-04-03 16:36] milanholemans commented on #3191
Yes please.

[2022-04-03 16:39] plamber commented on #2462
Hi @michaelmaillot,
I completely missed your reply, sorry for that.

I am fine with your suggestion. Are you still working on this?

Thank you for your feedback,
Patrick

[2022-04-03 17:20] waldekmastykarz commented on #3191
Awesome! All yours and we appreciate your help 👏

[2022-04-03 17:21] waldekmastykarz commented on #3192
Thank you for confirming and great to hear all is working as intended. Because there's nothing we can do about it in the CLI, I'll close the issue. Once again, thank you for bringing up and I'm sure it will help others who come across it too.

[2022-04-03 17:21] #3192 closed

[2022-04-03 17:26] waldekmastykarz commented on #3199
Thank you for the spec @Adam-it!

I'd suggest that we choose a different name for the `breakInheritance` option to something more descriptive of its purpose, like `keepExistingPermissions` which users can then set either to `true` or `false`. Alternatively, is there a common default that we could consider, and then offer a switch (eg. by default we clear permissions unless you specify `--keepExist

[2022-04-03 17:28] waldekmastykarz commented on #3198
Thank you for the spec @Adam-it!

I'd suggest that we choose a different name for the breakInheritance option to something more descriptive of its purpose, like `keepExistingPermissions` which users can then set either to `true` or `false`. Alternatively, is there a common default that we could consider, and then offer a switch (eg. by default we clear permissions unless you specify `--keepExistin

[2022-04-03 17:41] waldekmastykarz commented on #3199
Thinking of the command's name: what if we wanted to restore role inheritance? Would it then make sense to have two commands name like `spo listitem roleinheritance break` and `spo listitem roleinheritance restore` (or `reset`, whichever is more suitable)?

[2022-04-03 17:42] waldekmastykarz commented on #3198
Thinking of the command's name: what if we wanted to restore role inheritance? Would it then make sense to have two commands name like `spo list roleinheritance break` and `spo list roleinheritance restore` (or `reset`, whichever is more suitable)?

[2022-04-03 17:44] waldekmastykarz opened #3201 "Bug: invalid description for the validation message in 'spo file checkout'"
In `spo file checkout` we show an invalid validation message here:

https://github.com/pnp/cli-microsoft365/blob/119724d0ee251808a51477b6bbf4a0a9f89136ed/src/m365/spo/commands/file/file-checkout.ts#L91

and here:

https://github.com/pnp/cli-microsoft365/blob/119724d0ee251808a51477b6bbf4a0a9f89136ed/src/m365/spo/commands/file/file-checkout.ts#L95

In both cases we refer to the `UniqueId` property i

[2022-04-03 17:47] waldekmastykarz opened #3202 "Bug report: unescaped md chars in 'spo site classic add' help in terminal"
### Description

When you request help for the `spo site classic add` command in the terminal, you see unescaped markdown characters

### Steps to reproduce

`m365 spo site classic add -h`

### Expected results

No markdown characters in the displayed help

### Actual results

![image](https://user-images.githubusercontent.com/11164679/161441061-74264c57-b312-4719-a53a-9fae27f34ca5.png)

### Diagn

[2022-04-03 19:05] Adam-it commented on #3198
that's right, we also need to be able to restore the roles 😉. I totally forgot we also need this functionality 😅.
for me those are very good suggestion. ok so lets have:
- lets have a commands `spo list roleinheritance break`  and `spo list roleinheritance reset` (yes I think reset more corresponds to the WebApi). The first one will use `breakroleinheritance` endpoint and the second one `ResetRole

[2022-04-03 19:09] Adam-it commented on #3199
ok. As for the first comment my response is the same as in #3198.
as for aliases I loved the idea 😍. I totally forgot we could use that 👍

[2022-04-03 20:52] Adam-it commented on #3198
ok for the issue I was assigned I added a PR. If this is ok with you I could start working on this on. Could I get assigned?

[2022-04-04 08:05] michaelmaillot commented on #2462
Thanks for your feedback, I'm working on it 👍

[2022-04-04 09:02] milanholemans commented on #3174
So you think we should provide a `role` option that accepts only 1 value `owner` ?

[2022-04-04 15:31] appieschot commented on #3006
@waldekmastykarz it turns out this is a underlying API thing; however I am not quite sure why the apinv route wouldn't work in our case. We should keep an eye on https://github.com/pnp/powershell/issues/277 and hope at some point it gets fixed (either by a new endpoint / permission set or whatever route is chosen by MS). We then might have to update the command but we can only spec that after chan

[2022-04-04 19:50] garrytrinder opened #3205 "New command: `teams cache remove`"
### Usage

`m365 teams cache remove`

### Description

Removes the Microsoft Teams client cache

### Options

Option | Description
-- | --
`--confirm ` | Don't prompt for confirmation

### Additional Info

Raised from #3172

The command should implement the official guidance in the Microsoft Docs article, [Clear the Teams client cache](https://docs.microsoft.com/en-us/microsoftteams/troubleshoot/t

[2022-04-05 06:54] appieschot commented on #3182
I haven't touched classic sites for the last year myself but we should have some feeling around usage of that command before opting to deprecate the command. If that is relatively low we can totally get rid of it.

[2022-04-05 08:28] Jwaegebaert commented on #3205
Could I work on this one?

[2022-04-05 13:53] Jwaegebaert commented on #3175
Hey @waldekmastykarz, @milanholemans
There is already another issue that contains this functionality. But under a different name. `teams conversationmember remove` #1879

This also applies to the following two commands.
- #3174 similar to #1878
- #3176 similar to #1880

[2022-04-05 14:42] garrytrinder commented on #3182
+1

[2022-04-05 17:09] garrytrinder commented on #3205
Absolutely, thank you @Jwaegebaert it's all yours 👍🏻

[2022-04-06 08:07] waldekmastykarz commented on #3182
In the last 90d `spo site classic list` was used 2649 times. In comparison, `spo site list` was used 1136 times.

[2022-04-06 08:20] Abderahman88 commented on #3053
@waldekmastykarz I'll take a look at it 👍

[2022-04-06 10:46] waldekmastykarz commented on #3205
Shall we consider the case where we're running inside a Docker container and might not be able to remove the contents of a folder on the host?

[2022-04-06 17:43] waldekmastykarz commented on #3175
Ah, good catch @Jwaegebaert! Shame that we missed the list command for which we have a duplicate now.

Looking at the two commands: which name is more intuitive: `teams conversationmember [verb]` or `teams channel member [verb]`? @pnp/cli-for-microsoft-365-maintainers any opinion?

[2022-04-06 17:49] waldekmastykarz commented on #3006
Thank you for checking @appieschot. If it's an API thing, then we can't do anything about it.

[2022-04-06 17:49] #3006 closed

[2022-04-06 17:50] waldekmastykarz commented on #3174
yes, let's do that

[2022-04-06 17:53] waldekmastykarz commented on #3198
If the default behavior is to keep existing permissions, then I'd suggest that we introduce a flag named `--clearExistingPermissions` that will not copy existing permissions. That way we have a safe default behavior and allow users to change it without having to always specify a value.

[2022-04-06 17:55] waldekmastykarz commented on #3199
Before we take that route, we should see if all options make sense for all names, to ensure that we're not confusing users and exposing options that don't make sense in some context.

[2022-04-06 19:21] milanholemans commented on #3202
I'd like to solve this one.

[2022-04-06 20:20] Adam-it commented on #3198
Sure, good idea. 👍

[2022-04-06 20:24] Adam-it commented on #3198
@waldekmastykarz do you want me to update the issue description to align with your latest suggestion?

[2022-04-06 20:57] Jwaegebaert commented on #3175
Personally, I am also in favor of the `teams channel member [verb]`. But this is entirely up to the maintainers. 😄
Here I do have a small question. One of the suggestions is for `teams channel member [verb]` but originally this issue was for a command like `teams channel membership [verb]`. Is this correct?

[2022-04-06 23:49] garrytrinder commented on #3205
Absolutely, good catch @waldekmastykarz 👍

In this case we should look to check for the presence of the `CLIMICROSOFT365_ENV`environment variable. If the value is equal to `docker`, then we should return a message, `Unsupported environment`.

I've updated the spec.

[2022-04-07 07:30] wilecoyotegenius opened #3207 "Bug report: "Error: The operation 'read' on resource type 'XXX' is disallowed" returned by certain commands"
### Description

I am not sure whether this is an issue or some sort of misconfiguration on my side.

I have just installed 5.1.0 version of the CLI and I am experiencing issues when running certain commands, mostly related to PowerPlatform.

Commands return following error messages:
`Error: The operation 'read' on resource type 'XXX' is disallowed.`
where XXX is either _environments_ or _apis_, d

[2022-04-07 08:34] waldekmastykarz commented on #1879
Closing in favor of #3175 which we'll use as the preferred name

[2022-04-07 08:34] #1879 closed

[2022-04-07 10:36] garrytrinder commented on #3175
We agree that `teams channel member [verb]` is the correct naming convention, I've just updated the spec to align with our decision, we will update the other related issues to align 👍🏻

[2022-04-07 11:23] waldekmastykarz commented on #3202
All yours @milanholemans! We appreciate your help 👏

[2022-04-07 18:06] #3060 closed

[2022-04-07 18:06] #3186 closed

[2022-04-07 18:06] #3151 closed

[2022-04-07 18:06] #3165 closed

[2022-04-07 18:06] #3180 closed

[2022-04-07 18:07] #3118 closed

[2022-04-07 18:09] waldekmastykarz commented on #3186
We've just released a preview version with the bug fixed. You can try it by running `npm i -g @pnp/cli-microsoft365@next`. Once again, thank you for reporting it @gavdgavd and we appreciate your help 👏

[2022-04-07 18:10] waldekmastykarz commented on #3060
We've just released a preview version with the bug fixed. You can try it by running `npm i -g @pnp/cli-microsoft365@next`. Once again, thank you for reporting it @martinlingstuyl and we appreciate your help 👏

[2022-04-07 19:49] garrytrinder opened #3209 "`channelName` option missing dashes on `teams channel membership list` command"
https://github.com/pnp/cli-microsoft365/blob/a814a27dc11b37d1f3d4bda12961021891872394/docs/docs/cmd/teams/channel/channel-membership-list.md?plain=1#L22-L23

should be `--channelName`

[2022-04-07 19:53] milanholemans commented on #3209
I also noticed this yesterday. Didn't know if I could fix this as the command was under discussion. But I can fix it if you want. 😃

[2022-04-07 20:01] garrytrinder commented on #3207
Thank you for reporting this @wilecoyotegenius we apologise for the trouble.

I can replicate this issue using the latest docker build, it looks like something has changed on the API side.

<img width="748" alt="image" src="https://user-images.githubusercontent.com/11563347/162285835-516a045e-c23a-461f-98a3-d743bd6bc7ec.png">

@appieschot are you aware of any changes?

[2022-04-07 20:09] garrytrinder opened #3210 "Bug report: bash autocomplete not working in docker container"
### Description

In the docker image we configure autocomplete for both `bash` and `pwsh`, unfortunately when in `bash` the autocomplete doesn't work, however when in `pwsh` works fine.

### Steps to reproduce

Execute `docker run --rm -it m365pnp/cli-microsoft365:latest`
At the prompt, type `m365` and press `<tab>`

### Expected results

The top level m365 options should appear in autocomplete

#

[2022-04-07 20:12] garrytrinder opened #3211 "Upgrade node version in docker container"
The version of `node` used in the docker container is `v12.22.10` which is in maintenance and has end of life of 30th April 2022, the latest active LTS is `v16.14.2`.

https://nodejs.org/en/about/releases/

[2022-04-07 21:24] milanholemans commented on #3201
If I'm not mistaken, the validation message should be '**Specify either id or fileUrl but not both**' right?
I can correct this if you like.

[2022-04-08 06:26] waldekmastykarz opened #3212 "Remove Node@12 from the project"
In April Node@12 reaches end of life. We should align with its lifecycle and remove it from our GitHub actions. We should do this end of April/beginning of May.

[2022-04-08 07:08] nanddeepn commented on #2635
Hi,
Can I work on this?

[2022-04-08 08:15] waldekmastykarz commented on #2635
Please do @nanddeepn! We appreciate your help 👏

[2022-04-08 08:16] waldekmastykarz commented on #3201
Correct. Please do @milanholemans! We appreciate your help 👏

[2022-04-08 12:26] waldekmastykarz commented on #3207
Some of the Power Platform APIs that we use are internal and could indeed change without prior notice. I think recently the Power Platform team released a new set of APIs. We should see if we can migrate to them to provide the necessary functionality.

[2022-04-08 12:27] waldekmastykarz commented on #3209
All yours @milanholemans. We appreciate your help 👏

[2022-04-08 12:30] waldekmastykarz commented on #3205
I'd suggest that the message we return is a bit more elaborate like _Because you're running CLI for Microsoft 365 in a Docker container, we can't clear the cache on your host. Instead run this command on your host using `npx ...`_

[2022-04-08 12:32] waldekmastykarz commented on #3198
Please do. Thank you! 👏

[2022-04-08 14:07] garrytrinder commented on #3205
That's a better way of saying `unsupported` 😁 but giving the user a possible follow up action, I like it 👍🏻

[2022-04-08 14:10] milanholemans commented on #3175
Can we already create a new issue to rename the `teams channel membership list` command to `teams channel member list` or should we wait for this to be fully discussed?

[2022-04-08 14:15] Jwaegebaert commented on #3205
Good suggestions. I will certainly include these.

Quick question. Now I have written logic to handle certain things on a MacOS but I can't test it. I myself don't have a Mac device or a VM that runs on Mac. What is the best way to address this?

[2022-04-08 17:30] waldekmastykarz commented on #3205
I have a mac so can test mac-specific things if needed.

[2022-04-08 17:31] waldekmastykarz commented on #3175
Yes, we can. Please do. Since we've just released it in this beta, we don't need to worry about it being a breaking change.

[2022-04-08 17:59] #3110 closed

[2022-04-08 17:59] #3201 closed

[2022-04-08 17:59] #3209 closed

[2022-04-08 21:26] milanholemans opened #3215 "Rename `teams channel membership list` to `teams channel member list`"
As discussed in #3175, the `teams channel membership list` command should be renamed to `teams channel member list`.

[2022-04-08 21:27] milanholemans commented on #3215
If possible I'd like to work on this one.

[2022-04-08 22:04] milanholemans commented on #3175
Should I also create an issue to delete the old commands?

- Delete `teams conversationmember add`
- Delete `teams conversationmember list`
- Add `teams conversationmember list` alias for `teams channel member list` command.
- Add `teams conversationmember add` alias for `teams channel member add` command.

This issue should probably stay on hold until #3215 and #3174 are completed.

[2022-04-09 04:23] plamber commented on #3175
Hi,
conversationmember command should only be deleted in the rename process. In the rename process we have to ensure that the conversationmember command becomes an alias of the teams channel member command to ensure we do not have breaking changes. The conversationmember command is already in production.

See for example https://github.com/pnp/cli-microsoft365/pull/2690

Cheers,
Patrick

[2022-04-09 04:28] plamber commented on #3215
Hi,
you can work on this one. Thank you for your help.

Would you please ensure that during this process we are going to align with the command functionality of conversationmember list, delete it, and create an alias of conversationmember list on teams channel memeber list?

Thank you,
Patrick

[2022-04-09 08:45] #3061 closed

[2022-04-09 08:45] #3181 closed

[2022-04-09 08:45] #3191 closed

[2022-04-09 08:46] #3177 closed

[2022-04-09 17:42] waldekmastykarz opened #3217 "Bug: missing `]` in teams app install, teamId option definition"
In the `teams app install`, `teamId` option definition, we're missing the closing `]`:

https://github.com/pnp/cli-microsoft365/blob/4df87d946660814423b3bb7af4d9b9ce31b3df5c/src/m365/teams/commands/app/app-install.ts#L98

[2022-04-09 17:53] waldekmastykarz opened #3218 "Enhancement: replace validation with optionsets"
As we've extended CLI with support for optionsets (#2998), we can proceed and replace the validation of option sets in all commands with optionset definitions. We should also replace the obsolete validation tests with ones that check that correct optionsets have been defined in each command.

Following commands need updating:

- [x] aad app get
- [x] aad app remove
- [x] aad app role add
- [x] aad

[2022-04-09 18:23] milanholemans commented on #3218
I think `teams channel member set` is missing. Also, `teams channel membership list` is being renamed. Won't this cause merge conflicts?

[2022-04-10 11:45] waldekmastykarz commented on #3218
It's a new command so it could very well be that I missed it. Thank you!

[2022-04-10 11:57] milanholemans commented on #3174
@waldekmastykarz can I start working on this command? I added an extra section to the issue to remove the existing command `teams conversationmember add`.

[2022-04-10 12:13] plamber commented on #3174
@milanholemans all yours. Thx

[2022-04-10 12:20] #3202 closed

[2022-04-10 12:20] #3154 closed

[2022-04-10 12:23] #2919 closed

[2022-04-10 13:08] milanholemans commented on #3174
Question, currently this issue has 2 user options (`--userName` and `--userId`). When I check the [ms docs](https://docs.microsoft.com/en-us/graph/api/channel-post-members?view=graph-rest-1.0&tabs=http) I notice that I can call Graph with both user ID and user UPN (it's the same request). Is it an idea to merge these 2 optional options into one required option `-u, --user <user>`?
Also should I in

[2022-04-10 13:20] plamber commented on #3174
Hi @milanholemans,
by verifying again I see that the command conversationmember add already implements all desired features with specs that we should keep. If we do not do this and follow the specs presented here, we are going to break the running commands. The command is in place for 13 months.

You find details here: https://github.com/pnp/cli-microsoft365/blob/main/docs/docs/cmd/teams/conversat

[2022-04-10 14:52] waldekmastykarz commented on #3174
They only thing I'd add is to include a deprecation message for the alias as we'll remove it in the next major version.

[2022-04-10 14:54] plamber commented on #3174
Hi @milanholemans,
do you have any questions? Do you want to proceed with the activities?

Thank you,
Patrick

[2022-04-10 15:14] milanholemans commented on #3174
All right thanks, I'll just rename the command.

[2022-04-10 17:32] Adam-it commented on #3198
ok I updated the description and I will add an separate issue for `spo list roleinheritance restore` command in a while

[2022-04-10 21:22] Adam-it opened #3220 "New command: restore role inheritance on list/lib"
### Usage

spo list roleinheritance reset

### Description

restore role inheritance on list or library

### Options

Option | Description
-- | --
`-u, --webUrl <webUrl>` | URL of the site where the list to retrieve is located
`-i, --listId [listId]` | ID of the list to retrieve information for. Specify either id or title but not both
`-t, --listTitle [listTitle]` | Title of the list to retrieve i

[2022-04-10 21:23] Adam-it commented on #3198
ok I opened issue for the restore command here 👉#3220

[2022-04-10 21:33] Adam-it commented on #3220
hi since I added issue for the break role inheritance we also need a command to restore it back which I totally forgot😅.
Let me know if there is something which should be clarified here or we (maybe I 😉) could start coding this 😊?

[2022-04-11 17:50] waldekmastykarz commented on #2635
I'll add the permissions when we'll be reviewing the PR. For development, you can either use a custom app or manually add the permission to CLI for M365 in your tenant through Enterprise apps in AAD.

[2022-04-11 17:52] waldekmastykarz commented on #3220
Very nice spec. Since the last noun in the command is `roleinheritance`, let's update the `id` and `title` options so `listId` and `listTitle`. Otherwise we'd make it seem like they refer to roleinheritance ID and title, which isn't the case.

[2022-04-11 20:06] milanholemans opened #3222 "Bug report: `teams channel member set` has no teams channel id validation"
### Description

Right now it is possible to pass any value as `--channelId` option.

### Steps to reproduce

Run `m365 teams channel member set --teamId {teamId} --channelId "Invalid ID" --userName {userName} --role owner`.

### Expected results

Should show an error saying that the `--channelId` value is invalid.

### Actual results

Graph error.

### Diagnostics

_No response_

### CLI for Micr

[2022-04-11 20:07] milanholemans commented on #3222
I would like to resolve this.

[2022-04-12 11:42] reshmee011 commented on #3072
@plamber: I raised a question https://docs.microsoft.com/en-us/answers/questions/809634/cannot-retrieve-list-of-tasks-for-a-user-except-fo.html?childToView=809617#answer-809617 after https://github.com/microsoftgraph/microsoft-graph-docs/issues/16080 was closed without an answer and got the confirmation because of application permission is not yet supported therefore tasks for other users cann't b

[2022-04-12 11:50] plamber commented on #3072
Thank you.

[2022-04-12 21:33] Jwaegebaert opened #3226 "New command: `planner bucket get`"
### Usage

planner bucket get

### Description

Retrieve the the specified planner bucket.

### Options

Option | Description
-- | --
`-i, --id [id]` | ID of the bucket. Specify either `id` or `title` but not both. When you specify the bucket ID, you no longer need to provide the information for `plan`, and `ownerGroup`.
`-t, --title [title]` | Title of the bucket. Specify either `id` or `title` b

[2022-04-12 21:42] Jwaegebaert opened #3227 "New command: `planner task remove`"
### Usage

planner task remove

### Description

Removes a Microsoft Planner task

### Options

Option | Description
-- | --
`-i, --id [id]` | ID of the task. Specify either `id` or `title` but not both. When you specify the task ID, you no longer need to provide the information for `bucket`, `plan`, and `ownerGroup`.
`-t, --title [title]` | Title of the task. Specify either `id` or `title` but no

[2022-04-12 22:07] Jwaegebaert opened #3228 "New command: `planner plan set`"
### Usage

planner plan set

### Description

Updates a Microsoft Planner plan

### Options

Option | Description
-- | --
`-i, --id <id>` | ID of the plan.
`-t, --title [title]` | New title of the plan.
`--ownerGroupId [ownerGroupId]` | ID of the group to move the plan to. Specify either `ownerGroupId` or `ownerGroupName` but not both.
`--ownerGroupName [ownerGroupName]` | Name of the group to mov

[2022-04-12 22:09] Adam-it commented on #3220
done ✅. @waldekmastykarz, as always thanks for the comment 👍.
Do you think it is ready to start coding ?

[2022-04-12 22:11] Jwaegebaert commented on #3228
Should we include the update options from the `Planner Plan Details` endpoint?
These are the following:

- `categoryDescriptions`: An object that specifies the descriptions of the six categories that can be associated with tasks in the plan
- `sharedWith`: Set of user ids that this plan is shared with. If you are leveraging Microsoft 365 groups, use the Groups API to manage group membership to sha

[2022-04-12 22:14] Adam-it commented on #3198
corrected this as well 👍

[2022-04-12 22:26] Jwaegebaert opened #3229 "Enhancement: extend `planner task get` with more options"
Within the `planner` aspect, there are typically more options provided on `get` level with the ability to retrieve it by `plannerName`, `bucketName`, etc. I think it could be interesting to align `planner task get` with this capability. Then we would get the following options.

Option | Description
-- | --
`-i, --id [id]` | ID of the task. Specify either `id` or `title` but not both. When you spec

[2022-04-12 22:55] Jwaegebaert commented on #3228
Duplicate issue

[2022-04-12 22:55] #3228 closed

[2022-04-12 22:55] milanholemans opened #3230 "New command: planner bucket set"
### Usage

m365 planner bucker set [options]

### Description

Updates a Microsoft Planner bucket

### Options

Option | Description
-- | --
`-i, --id <id>` | ID of the bucket.
`-n, --name [name]` | Name of the bucket.
`--orderHint [orderHint]` | Hint used to order items of this type in a list view. The format is defined as outlined [here](https://docs.microsoft.com/en-us/graph/api/resources/plann

[2022-04-13 01:28] reshmee011 opened #3232 "Update the planner task list documentation for "List the Microsoft Planner tasks in the bucket My Bucket belonging to plan My Plan in group My Group""
Correct the last example in the task-list.md for "List the Microsoft Planner tasks in the bucket My Bucket belonging to plan My Plan in group My Group" from m365 planner bucket tasks list  to m365 planner tasks list.

[2022-04-13 17:26] waldekmastykarz commented on #3230
Thank you for the spec, @milanholemans. What are the values that you can update on the bucket, its name? If so, then I'd suggest that we use `name` as an alternative to `id` to retrieve the bucket and then introduce a new option named `newName` where users can specify the new name to set. That way we can disambiguate it and allow users to conveniently retrieve the bucket using values they're likel

[2022-04-13 17:28] waldekmastykarz commented on #3229
Nice suggestion, @Jwaegebaert! It would be helpful to expand the descriptions of other options saying that they're only necessary when you want to retrieve task by its title. When you use its ID, you don't need to specify the plan, bucket, etc.

[2022-04-13 17:29] waldekmastykarz commented on #3198
Excellent! Would you like to take it on yourself or let others help out?

[2022-04-13 17:29] waldekmastykarz commented on #3220
Yes, it is! Would you like to take it on yourself?

[2022-04-13 17:32] waldekmastykarz commented on #3227
Nice spec, @Jwaegebaert! A few comments:

- when you reference task by ID, you don't need the additional information like plan or bucket, so we should clarify that in the description
- `confirm` is a flag, so we should specify it as `--confirm` instead of `--confirm [confirm]` which indicates that we're expecting a value

With these adjustments, the spec would be good to go. Would you like to take

[2022-04-13 17:34] waldekmastykarz commented on #3226
Perfect! Nothing to add. Would you like to take it on yourself or let others help?

[2022-04-13 17:41] waldekmastykarz commented on #3222
Good catch! Thank you! 👏

[2022-04-13 22:04] milanholemans commented on #3230
Hi @waldekmastykarz

Thanks for your reply.

According to the [Graph docs](https://docs.microsoft.com/en-us/graph/api/plannerbucket-update?view=graph-rest-1.0&tabs=http#request-body) we can update 3 values.
Property | Description
---|---
name | Name of the bucket.
orderHint | Hint used to order items of this type in a list view.
planId | Plan id to which the bucket belongs.

This is indeed the way

[2022-04-13 22:53] Adam-it commented on #3198
The first option please 😉

[2022-04-13 22:54] Adam-it commented on #3220
No not really... Only joking ... Yes 😉

[2022-04-14 09:10] Jwaegebaert commented on #3226
I currently have a few more issues to my name that I will wrap up first. This command might also be a nice one for a first time contributor to jump aboard the CLI train. 😁 So let's open it up to the community.

When I am done with the open issues and this one is still waiting for someone, then I will take it.

[2022-04-14 09:45] Jwaegebaert commented on #3229
Good suggestion, I updated the specs. Should we also apply this to the new issue `planner bucket get` #3226. That when they make us of ID that they don't need to specify `plan` and `ownerGroup`

[2022-04-15 08:51] waldekmastykarz commented on #3229
Absolutely!

[2022-04-15 08:52] waldekmastykarz commented on #3220
Sold! 🚀

[2022-04-15 08:52] waldekmastykarz commented on #3198
Awesome! Looking forward to seeing the PR 👏

[2022-04-15 08:58] waldekmastykarz commented on #3230
This is a typical case of what's in the API vs. what's the convenience that we could offer. I think it's fair to assume that no one has the bucket ID ready beforehand and they need to get it from somewhere, so why not make it easier and retrieve it for them? When you build a script, you'd typically retrieve a list of plans, buckets, etc. and have all IDs ready, but in other cases, if we can allow

[2022-04-15 09:05] milanholemans commented on #3230
Ok, I agree, what about the option `--orderHint`? Should we name it `orderHint` or `newOrderHint` (so it matches `newName` and `newPlanId`)?

[2022-04-15 10:32] garrytrinder commented on #3104
Apologies, I've not been able to progress this due to changing priorities, opening up for someone else to pick up.

[2022-04-15 10:40] garrytrinder commented on #3182
@appieschot following on from the stats provided by @waldekmastykarz it looks like this command is still very much in use.

I think we should a deprecation remark, this keeps the command in place but notifies users that they should use the `spo site list` command going forwards.  We can then revisit removing the command in the future when the usage of `spo site list` exceeds that of `spo site clas

[2022-04-15 13:01] waldekmastykarz commented on #2988
Here's some additional information about the preferred solution: https://github.com/pnp/cli-microsoft365/pull/3081#discussion_r819677074

[2022-04-15 13:04] waldekmastykarz commented on #3230
If you look at other set commands, you'll see that we typically don't prefix options that can be set with `new`. We only do that to disambiguate between options that can be used to retrieve an object and options that can set the same value. It's inconsistent, but I think it makes sense and it's easier to follow when you have a lot of options and not all of them begin with `new`.

[2022-04-16 04:39] #2910 closed

[2022-04-16 04:39] #3215 closed

[2022-04-16 04:39] #3174 closed

[2022-04-16 04:39] #3222 closed

[2022-04-16 04:39] #3232 closed

[2022-04-16 04:40] #3217 closed

[2022-04-16 07:13] reshmee011 commented on #3226
I can work on it.

[2022-04-16 11:15] waldekmastykarz commented on #3226
Awesome! We appreciate your help 👏

[2022-04-16 12:17] #3099 closed

[2022-04-16 12:17] #3162 closed

[2022-04-16 14:09] jacobsian-del opened #3234 "Unable to create an AD App from a manifest file"
### Description

Unable to create an AD App from a manifest file using the `m365 aad app add` command.  I'm sure I'm doing something wrong, Looking for guidance on how to move forward.

### Steps to reproduce

1. In the Azure Portal, create an AD App with the default settings and some name.
2. Navigate to that app and download the manifest file
3. Update the name of the app within the manifest to

[2022-04-16 14:37] milanholemans commented on #3230
@waldekmastykarz I've updated the specs. Can you check this again?

[2022-04-16 15:21] Jwaegebaert commented on #3175
Is it alright if I start working on this command?

[2022-04-17 17:41] waldekmastykarz commented on #3234
Sorry to hear you're running into trouble and I appreciate you reaching out to us. Which version of PowerShell are you using?

For the first case, where you're storing the contents of a manifest file in a variable, I suspect that you're getting an error because the contents of the variable contain spaces and quotes which must be escaped as you're passing them to an executable.

In the second case,

[2022-04-17 17:42] waldekmastykarz commented on #3230
Perfect! Would you like to work on it or let others help?

[2022-04-17 17:44] waldekmastykarz commented on #3175
@milanholemans would you like to work on this command yourself or is it okay if @Jwaegebaert picks it up?

[2022-04-17 17:48] milanholemans commented on #3175
No problem, he can have it :)

[2022-04-17 17:49] milanholemans commented on #3230
Sure, I'm willing to take this.