[2018-05-11 17:36] waldekmastykarz opened #452 "New command: Remove group setting"
Removes the particular group setting

- command: `graph groupsetting remove -i|--id <id> --confirm`
- id: The ID of the group setting to retrieve
- confirm: Don't prompt for confirmation before removing the group setting

For more information see the [groupsetting_delete](https://developer.microsoft.com/en-us/graph/docs/api-reference/v1.0/api/groupsetting_delete) MS Graph API.

[2018-05-12 10:52] phawrylak commented on #450
Hello @waldekmastykarz, feel free to assign that to me.

[2018-05-12 10:53] phawrylak commented on #451
Hello @waldekmastykarz, feel free to assign that to me.

[2018-05-12 10:53] phawrylak commented on #452
Hello @waldekmastykarz, feel free to assign that to me.

[2018-05-12 11:33] waldekmastykarz commented on #450
Excellent! All yours!

[2018-05-12 11:35] waldekmastykarz commented on #451
All yours! 😄

[2018-05-12 11:35] waldekmastykarz commented on #452
All yours!

[2018-05-13 12:34] mpowney commented on #269
Hey there @sebastienlevert - I've been doing some work on the other listitem cmds, would you mind if I take a look at implementing this cmd as well?

[2018-05-13 16:46] phawrylak commented on #200
Hello @waldekmastykarz, feel free to assign that to me.

[2018-05-13 18:54] #343 closed

[2018-05-13 18:54] #424 closed

[2018-05-13 18:54] #341 closed

[2018-05-13 18:55] #342 closed

[2018-05-13 18:55] #431 closed

[2018-05-13 18:56] #441 closed

[2018-05-13 18:57] #442 closed

[2018-05-13 18:57] #443 closed

[2018-05-13 19:49] waldekmastykarz commented on #200
Excellent! Appreciate you reaching out @phawrylak 👏

[2018-05-14 20:54] phawrylak commented on #54
Hello @waldekmastykarz, feel free to assign that to me.

[2018-05-15 05:19] waldekmastykarz commented on #54
All yours @phawrylak!

[2018-05-20 17:15] #450 closed

[2018-05-20 17:16] #200 closed

[2018-05-24 17:31] #404 closed

[2018-05-24 17:32] #449 closed

[2018-05-24 19:37] rdorrani commented on #366
Hi Waldek,

Is there an option coming to add the Stream web part?

[2018-05-25 09:16] waldekmastykarz commented on #366
@rdorrani Using the Office 365 CLI you meant?

[2018-05-28 23:38] mpowney commented on #269
FYI I asked @sebastienlevert if he's cool with me taking this one - https://twitter.com/mpowney/status/1000634171209928705

[2018-05-30 08:02] waldekmastykarz commented on #269
Cool! Thanks for the update. Assigned it to you @mpowney. Appreciate your help

[2018-06-01 22:56] VelinGeorgiev commented on #284
@waldekmastykarz  I can complete this one. Feel free to assign it to me.

[2018-06-01 22:56] VelinGeorgiev commented on #285
@waldekmastykarz  I can complete this one. Feel free to assign it to me.

[2018-06-02 09:18] waldekmastykarz commented on #285
Cool! Thanks @VelinGeorgiev!

[2018-06-02 09:18] waldekmastykarz commented on #284
Will do! Thanks @VelinGeorgiev!

[2018-06-04 09:55] biste5 opened #467 "Installation with yarn without admin privileges"
Hi,

I encounter some issues when installing Office365-CLI (1.3.0) **using Yarn on a machine without admin privileges**.

`yarn global add @pnp/office365-cli`

completes correctly, but then no reference to `office365.cmd` is made or available, so the CLI can't be found and started.

Note that: on the same machine, works when installing using NPM (global). On another machine with admin privileges w

[2018-06-04 16:56] waldekmastykarz commented on #467
Can you reproduce the same behavior with another CLI like the NG CLI?

[2018-06-04 16:58] waldekmastykarz opened #468 "0 error code on exit when an error has occurred"
When an error has occurred in a CLI command, the error code is 0 (OK). Instead the CLI, should close with a non-0 error code to indicate the error. This is important when using the CLI for building scripts.

cc: @estruyf

[2018-06-04 19:29] biste5 commented on #467
just tested. Same behavior (I don't get the `ng` command in that case)

[2018-06-05 08:31] waldekmastykarz commented on #467
In that case I'd suggest closing this issue as it's nothing we can fix in the CLI. Agreed @biste5?

[2018-06-05 08:33] #467 closed

[2018-06-05 08:34] biste5 commented on #467
yes, not too serious either

[2018-06-07 11:16] ymihir commented on #251
@waldekmastykarz above command is taking about REST option. Currently there is no option to update site script/site design through powershell command as `Update-SPOSiteDesign`?

[2018-06-07 13:54] waldekmastykarz commented on #251
The link I included above points to a REST operation for update a Site Design. Anything specific that you're missing?

[2018-06-07 15:18] ymihir commented on #251
I am looking for PowerShell command.
Like `Add-SPOSiteDesign`, I am checking whether `Update-SPOSiteDesign` command is available or not!

[2018-06-08 05:35] waldekmastykarz commented on #251
In that case, you would better ask that question at https://github.com/SharePoint/sp-dev-docs/issues.

[2018-06-08 14:44] pkskelly opened #470 "Calling "graph user sendmail" returns "Access Denied""
After installing the latest v1.3 version and trying some of the new commands, the ```graph user sendmail``` command fails consistently with Access Denied across environments.  Here are some details around my initial attempts. I will continue to see if I can determine the actual cause.

1.  ```graph status``` indicates connection to correct tenant/userid
2.  Other commands (e.g. ```graph user list`

[2018-06-08 15:08] pkskelly commented on #470
Any chance the [Mail.Send scope](https://developer.microsoft.com/en-us/graph/docs/concepts/permissions_reference#mail-permissions) is the issue and must be included? Or is this included in one of the other scopes?

[2018-06-08 18:23] waldekmastykarz commented on #470
Mail.Send seems to be a separate permission scope. When we introduced the sendmail command in the CLI, we also added a command to reconsent the CLI with the latest permissions:

[code]

https://sharepoint.github.io/office365-cli/user-guide/connecting-office-365/#re-consent-the-pnp-office-365-management-shell-azure-ad-application

Could you please check if that helps solve your problem?

[2018-06-08 21:37] pkskelly commented on #470
Perfect! Helps to read the documentation :-).  Just did not see that part of the docs and it now makes perfect sense.  Problem solved!

[2018-06-09 14:03] waldekmastykarz commented on #470
Awesome! Sorry for the trouble and great to hear it's working for you. Thanks for using the Office 365 CLI and please don't hesitate to reach out if there is anything else that's unclear or could be improved! 💪

[2018-06-09 14:03] #470 closed

[2018-06-09 14:05] waldekmastykarz commented on #283
Hey @rfjschouten, are you still working on it?

[2018-06-09 14:05] waldekmastykarz commented on #284
Hey @VelinGeorgiev, are you still working on it?

[2018-06-09 14:06] waldekmastykarz commented on #364
Hey @kshsbala, are you still working on this one?

[2018-06-09 15:55] #429 closed

[2018-06-09 15:55] #468 closed

[2018-06-09 16:43] waldekmastykarz opened #471 "New command: upgrade SharePoint Framework project to the specified version"
Provides instructions to upgrade the current SharePoint Framework project to the specified SharePoint Framework version

- command: `spfx project upgrade -v|--toVersion [toVersion]`
- toVersion: The version of the SharePoint Framework to which the project should be upgraded. If not specified, upgrades the project to the latest version supported by the command

[2018-06-10 17:30] #471 closed

[2018-06-10 23:53] mpowney opened #473 "Error when executing spo listitem add with listId parameter specified"
When executing the cmd:

```o365 spo listitem add --webUrl https://onenil.sharepoint.com/sites/utasdev01 --listId 973042c5-1d47-4d5b-90b1-2d4801406b41 --Title 'Çreated with office365-cli'```

.. this error is returned:

```Error: The expression "web/lists/(guid'973042c5-1d47-4d5b-90b1-2d4801406b41')/contenttypes" is not valid.```

This can be assigned to me for a resolution. The same fix detailed

[2018-06-11 06:28] waldekmastykarz commented on #473
Thanks @mpowney!

[2018-06-11 10:35] kshsbala commented on #364
Hi @waldekmastykarz ...I am very sorry for the late reply and delay. I haven't started it yet. But I will start tomorrow and try to complete asap.

[2018-06-11 10:38] waldekmastykarz commented on #364
No problem. Thanks for the heads-up 👍

[2018-06-11 12:53] mpowney commented on #473
Hi @waldekmastykarz - take a look at PR #474 for a fix to this error

[2018-06-12 08:50] Simo9552 opened #475 "ValidateUpdateListItem() in Edge/IE adds left to right tokens to datefields. Result : invalid date"
When callling ValidateUpdateListItem() with a date field it format the dates like so:

Formvalues
In
{\"ErrorMessage\":null,\"FieldName\":\"NewsArticleDate\",\"FieldValue\":\"‎21‎-‎6‎-‎2018\",\"HasException\":false},
{\"ErrorMessage\":null,\"FieldName\":\"FirstPublishedDate\",\"FieldValue\":\"‎12‎-‎6‎-‎2018\",\"HasException\":false}]}"

Response
Out
{"ErrorMessage":"Enter a date like this: 23-2-20

[2018-06-12 15:20] waldekmastykarz commented on #475
Sorry, but how does that relate to Office 365 CLI?

[2018-06-13 06:20] VelinGeorgiev commented on #284
Hey @waldekmastykarz I checked the PnP powershell and pnpjs. They both use just `server relative url` and no Id option is available (see: https://docs.microsoft.com/en-us/powershell/module/sharepoint-pnp/set-pnpfilecheckedin?view=sharepoint-ps). Do you still want to checkin by doc id as well since this might make the command more complex and id might not be enough so we would have to specify a doc

[2018-06-13 09:34] waldekmastykarz commented on #284
Which one do we need in the underlying API call?

[2018-06-13 09:35] waldekmastykarz commented on #285
Which one do we need in the underlying API call?

[2018-06-13 12:45] waldekmastykarz commented on #284
Then let's use that and clarify that in the command description

[2018-06-13 12:45] waldekmastykarz commented on #285
Then let's use that and clarify that in the command description

[2018-06-13 15:16] RobinBreman opened #477 "No exit code when failure"
When e.g. using ```office365 spo app add -p solution/myapp.sppkg --overwrite``` and the file does not exist the returned exit code is 0 (success). This should be 1 or preferably 2

[2018-06-13 17:32] waldekmastykarz commented on #477
This should be fixed in the latest beta (https://github.com/SharePoint/office365-cli/issues/468). Which version of the Office 365 CLI are you using?

[2018-06-13 18:55] waldekmastykarz opened #478 "Add support for upgrading SharePoint Framework 1.4.0 projects"
Add support for upgrading SharePoint Framework 1.4.0 projects

[2018-06-13 18:55] waldekmastykarz opened #479 "Add support for upgrading SharePoint Framework 1.3.4 projects"
Add support for upgrading SharePoint Framework 1.3.4 projects

[2018-06-13 18:55] waldekmastykarz opened #480 "Add support for upgrading SharePoint Framework 1.3.3 projects"
Add support for upgrading SharePoint Framework 1.3.3 projects

[2018-06-13 18:56] waldekmastykarz opened #481 "Add support for upgrading SharePoint Framework 1.3.2 projects"
Add support for upgrading SharePoint Framework 1.3.2 projects

[2018-06-13 18:56] waldekmastykarz opened #482 "Add support for upgrading SharePoint Framework 1.3.1 projects"
Add support for upgrading SharePoint Framework 1.3.1 projects

[2018-06-13 18:57] waldekmastykarz opened #483 "Add support for upgrading SharePoint Framework 1.3.0 projects"
Add support for upgrading SharePoint Framework 1.3.0 projects

[2018-06-13 18:58] waldekmastykarz opened #484 "Add support for upgrading SharePoint Framework 1.2.0 projects"
Add support for upgrading SharePoint Framework 1.2.0 projects

[2018-06-13 18:58] waldekmastykarz opened #485 "Add support for upgrading SharePoint Framework 1.1.3 projects"
Add support for upgrading SharePoint Framework 1.1.3 projects

[2018-06-13 18:58] waldekmastykarz opened #486 "Add support for upgrading SharePoint Framework 1.1.2 projects"
Add support for upgrading SharePoint Framework 1.1.2 projects

[2018-06-13 18:59] waldekmastykarz opened #487 "Add support for upgrading SharePoint Framework 1.1.1 projects"
Add support for upgrading SharePoint Framework 1.1.1 projects

[2018-06-13 19:16] waldekmastykarz opened #488 "Add support for upgrading SharePoint Framework 1.1.0"
Add support for upgrading SharePoint Framework 1.1.0

[2018-06-13 19:20] waldekmastykarz commented on #422
Closing, assuming the question is answered

[2018-06-13 19:20] #422 closed

[2018-06-13 23:16] VelinGeorgiev commented on #478
@waldekmastykarz  feel free to assign that to me

[2018-06-14 07:46] waldekmastykarz commented on #478
All yours @VelinGeorgiev!

[2018-06-14 09:21] RobinBreman commented on #477
Using the latest beta ```npm i -g @pnp/office365-cli@next``` the issue is fixed!

[code]
It also reflects nicely in my build pipeline

![image](https://user-images.githubusercontent.com/25765614/41403236-b973479a-6fc4-11e8-9080-c43f1cdbbfb9.png)

[2018-06-14 09:56] waldekmastykarz commented on #477
Cool! Thank you for confirming! 💪

[2018-06-14 09:56] #477 closed

[2018-06-16 10:09] waldekmastykarz commented on #271
The issue with `listId` seems to be fixed, but I've found something else. If I use the `--systemUpdate` option, I'm getting the following error:

[code]

I'm connected to the tenant admin site and trying to update an item in a regular site collection.

[2018-06-17 11:48] waldekmastykarz commented on #480
There is no `@microsoft/generator-sharepoint@1.3.3`

[2018-06-17 11:48] #480 closed

[2018-06-18 22:34] VelinGeorgiev commented on #485
@waldekmastykarz I can try this one

[2018-06-19 06:39] waldekmastykarz commented on #485
Perfect! All yours!

[2018-06-20 14:55] ypcode commented on #366
Hi @waldekmastykarz,

Since I am pretty familiar with the PnP Sites core/PowerShell implementation, I can start working on a portage.
However I can see the #364 is in progress, since it is highly related, Should I wait for it to be completed ?

Regards,
Yannick

[2018-06-20 15:21] ypcode commented on #366
Actually, If I go with the existing @pnp/js methods, that would be fine, I'll come up with something, just tell me if I need to espcially care about anything :)

[2018-06-20 15:57] waldekmastykarz commented on #366
@ypcode we're trying to keep the dependencies to the minimum and have consistent implementation across all commands. We borrowed some code from PnPJS for parsing the field contents but not for calling the API, that will stay implemented as a REST call.

[2018-06-20 15:58] waldekmastykarz commented on #366
Regarding #364, I don't think you'd need to wait for the implementation of that command. Using the available pieces, you should be able to implement this command by itself.

[2018-06-20 16:07] ypcode commented on #366
Perfect, I will copy the needed code then, will first dig into several commands to follow the conventions and reuse what could be :)

Cordialement
Yannick Plenevaux
________________________________
From: Waldek Mastykarz <notifications@github.com>
Sent: Wednesday, June 20, 2018 5:58:30 PM
To: pnp/office365-cli
Cc: Yannick Plenevaux; Mention
Subject: Re: [pnp/office365-cli] New command: add client-

[2018-06-20 17:31] waldekmastykarz commented on #366
Perfect! Looking forward to the PR and please, don't hesitate to reach out if you have any questions, either here or on [gitter](https://gitter.im/office365-cli/cli)

[2018-06-20 17:32] waldekmastykarz commented on #452
Hey @phawrylak, are you still working on this?

[2018-06-20 17:32] waldekmastykarz commented on #451
Hey @phawrylak, are you still working on this?

[2018-06-20 17:37] waldekmastykarz commented on #268
Assuming you're not working on this one @sebastienlevert

[2018-06-20 18:01] waldekmastykarz commented on #486
There is no `@microsoft/generator-sharepoint@1.1.2`

[2018-06-20 18:01] #486 closed

[2018-06-22 17:28] waldekmastykarz commented on #446
Closing for now due to lack of update

[2018-06-22 17:28] #446 closed

[2018-06-22 17:31] waldekmastykarz commented on #283
For now I'll assume you're not working on this one anymore and will put it back to the pool.

[2018-06-23 17:29] #271 closed

[2018-06-23 17:29] #479 closed

[2018-06-23 17:30] #481 closed

[2018-06-23 17:30] #482 closed

[2018-06-23 17:31] #483 closed

[2018-06-23 17:32] #478 closed

[2018-06-23 17:34] #484 closed

[2018-06-24 19:03] rfjschouten commented on #283
Hi @waldekmastykarz, sorry for the late response. I am very busy at some big projects at the moment and not in the circumstances to work on this. The command itself is pretty much there, but the tests need some more work. Maybe you can grab it from my branch? https://github.com/rfjschouten/office365-cli/tree/spo-file-add

[2018-06-24 19:15] waldekmastykarz commented on #283
Cool! Totally understood. I'm sure we'll be able to reuse the branch. Thanks!

[2018-06-24 19:18] rfjschouten commented on #283
Sure no problem and when I can get some more time available, I will grap up some new issues...

[2018-06-25 06:54] dariuszbz commented on #283
May I help ? Extend command to upload file with metadata, inspect metadata required, etc ?

[2018-06-25 08:28] waldekmastykarz commented on #283
Of course you can help! Command specs are listed above. @rfjschouten has done some work already so you could go through what he's already got and add the missing parts if necessary.

[2018-06-25 13:15] baywet opened #501 "Upgrading 1.3.4 to 1.5.0 doesn't update package.json"
Hey Guys,
First off, great work on the CLI, and the project upgrade stuff!
So I was trying to upgrade my samples (js-skype-status, react-skype-status) from 1.3.4 to 1.5.0 and I was instructed to run the following commands
[code]

The issue with that is it doesn't save to the package.json for the update commands.

[code]
Instead does the trick
node: 10.3.0
npm: 6.1.0

[2018-06-25 14:43] baywet opened #503 "upgrade 1.3.4 to 1.5.0: re-running upgrade command tells you to ugprade packages to 1.4.1"
Consider the following scenario.
I have a solution created on 1.3.4.
I run the upgrade command, get the report, make all the updates.
Now I want to make sure I didn't forget anything so I downgrade the yo rc to 1.3.4, run the command again.
Now the report is instructing me to "update" all the @microsoft/ packages to 1.4.1.

[2018-06-25 18:51] waldekmastykarz commented on #501
Thanks for checking @baywet! Have you checked if it modifies package-lock.json?

[2018-06-25 18:54] waldekmastykarz commented on #503
We haven't tested this scenario although I can totally understand why you'd want to do it. When upgrading the project initially, did you upgrade to 1.5.0 or to 1.4.1?

[2018-06-25 19:03] baywet commented on #503
To 1.5.0

[2018-06-25 19:04] baywet commented on #501
On top of my head it wasn't. 70% confidence though

[2018-06-25 19:32] ypcode commented on #365
@waldekmastykarz  I can take this one if you're happy with #366

[2018-06-25 19:39] waldekmastykarz commented on #501
Either way, you’re right. Package.json should be updated, especially as we’re using it to detect changes required to upgrade project. Flagging as bug. Thanks for reporting!

[2018-06-25 19:41] waldekmastykarz commented on #503
Check. To what extent do you think this is related to #501?

[2018-06-25 19:59] baywet commented on #503
I don't think it is. At this point I had fully ran my migration including making sure package and package lock were updated. I just wanted to run a final check to see if I didn't forget anything.

[2018-06-26 11:20] waldekmastykarz commented on #365
Please do! 👏

[2018-06-26 11:31] andrewconnell commented on #501
Update only respects symver... in this case install should be used.

[2018-06-26 12:44] ypcode commented on #365
Ok, I will pretty soon.

Quick question, since most of the code would be copy of the clientsidewebpart add command, do you prefer to refactor, or to copy/paste the code ?

if refactoring, should I go for an base class or a helper class to consume ?

[2018-06-26 13:08] baywet commented on #501
yeah, in this case ~ was specified before 1.3.4 FYI https://github.com/SharePoint/sp-dev-fx-webparts/pull/545/files#diff-c2fdb5502e5ed6e580d5e7cb08778c80

[2018-06-26 14:27] StfBauer opened #504 "o365 spfx project upgrade - Invalid option: 'u'"
I just wondered what option u is when the wrong value is `-output` instead of `--output`

![screen shot 2018-06-26 at 16 23 22](https://user-images.githubusercontent.com/5503835/41918944-a74faaca-795d-11e8-9ffb-e88babb51bd9.png)

[2018-06-26 14:29] waldekmastykarz commented on #504
It’s a Linux thing: when you use a single dash, each letter is considered a separate option. Since there is no option -u, you’re getting an error

[2018-06-26 14:56] StfBauer commented on #504
Thanks, rarely recognized it before ;)

[2018-06-26 14:56] #504 closed

[2018-06-26 19:50] baywet opened #505 "Add support for upgrading to SharePoint Framework 1.5.1"
https://github.com/SharePoint/sp-dev-docs/wiki/Release-Notes-for-SPFx-Package-Version-1.5.1
Beating @waldekmastykarz to the punch creating the issue ;-)

[2018-06-27 06:14] waldekmastykarz commented on #505
Brilliant! Will do!

[2018-06-27 06:16] waldekmastykarz commented on #365
Let's go with a helper. That gives us more flexibility in case we need to refactor in the future

[2018-06-27 06:38] waldekmastykarz commented on #503
I'll have another look after I fixed #501 and see if I can repro it.

[2018-06-28 13:42] #501 closed

[2018-06-28 13:43] #505 closed

[2018-06-28 14:00] baywet opened #508 "Upgrading projects enhancements for dependencies"
Today when you upgrade a project it gives you the following commands to upgrade the dependencies.
[code]
This is slow to execute as you need to run these commands one by one, it would be better if it could regroup the commands per attribute with something like:
[code]
(the only thing that really bugs me in this sample is that Microsoft puts the `@types` in the deps and not dev deps…)
The categorie

[2018-06-28 20:50] devinprejean opened #509 "Error: Self signed certificate in certificate chain with spo connect"
I took a look at the other issue located https://github.com/pnp/office365-cli/issues/447

I have a similar issue. I'm behind a corporate proxy.
Here is my ouput with --debug
[code]

[2018-06-29 06:50] waldekmastykarz commented on #509
I'm suspecting this is not related to the Office 365 CLI specifically but rather the network/machine setup but I can see if I can find any more information how to deal with it 👍

[2018-06-29 06:52] waldekmastykarz commented on #508
This is a good idea for improvement and I've been thinking about it myself as well. Good to see, we're on the same page 🙂

[2018-06-29 09:56] VelinGeorgiev commented on #509
Could be related with the request native library we use, because it is enforcing strict ssl for the https requests. The corporate security proxies sometimes are not recognized as strict ssl ... then we have issues.

[2018-06-29 11:55] waldekmastykarz commented on #509
@VelinGeorgiev I'm not sure if it's that. A while back we switched to using ADAL JS for auth, so these requests shouldn't be coming through request native. I can check if there is anything similar in ADAL JS.

[2018-06-29 21:55] VelinGeorgiev commented on #509
@devinprejean have you tried to authenticate with user and password? I believe it uses other mechanics for that type of authentication and that might work.

[2018-06-30 01:01] devinprejean commented on #509
I have also tried with user and password. Fails immediately

[2018-06-30 17:30] waldekmastykarz commented on #503
I can repro it and understand why it's happening. Working on a fix.

[2018-07-01 14:14] waldekmastykarz commented on #509
@devinprejean could you see if setting the `NODE_TLS_REJECT_UNAUTHORIZED=0` environment variable solves the issue and if so, if it would it be an acceptable solution for you?

[2018-07-01 15:31] devinprejean commented on #509
I will try it ASAP.

[2018-07-01 16:59] waldekmastykarz commented on #503
Fixed the bug in the latest beta, which should be released in a matter of days as v1.4.0. Thanks again for reporting the bug @baywet!

[2018-07-01 16:59] #503 closed

[2018-07-01 16:59] waldekmastykarz commented on #509
Thank you @devinprejean!

[2018-07-02 19:18] devinprejean commented on #509
Ok the suggestion worked. We are still working internally to decide if this is an acceptable risk. I hope to have an answer by next week.

[2018-07-03 07:37] waldekmastykarz commented on #509
Great! Thanks for checking @devinprejean!

[2018-07-03 18:01] waldekmastykarz opened #511 "'spo site add' exits with 0 exit code when an error occurred while creating a site"
If an error occurs while creating a new site using the `spo site add` command, the command exits incorrectly with 0 exit code, rather than 1.

Repro steps:

- sign in to your tenant admin site
- execute the `spo site add` with a non-existent URL to force an error

[2018-07-03 19:00] waldekmastykarz opened #513 "New command: update site properties"
Update properties of an existing site

- command: `spo web set -u|--webUrl <webUrl> -t|--title [title] -d|--description [description] --quickLaunchEnabled [quickLaunchEnabled]`
- webUrl: URL of the site to update
- title: new title for the site
- description: new description for the site
- quickLaunchEnabled: set to control if quick launch should be enabled or not

For more information see the Set

[2018-07-03 19:04] waldekmastykarz commented on #513
Closing as a duplicate of #191

[2018-07-03 19:04] #513 closed

[2018-07-03 20:40] RARomano commented on #411
Can I take this one?

[2018-07-04 06:06] waldekmastykarz commented on #411
Please do!

[2018-07-04 06:16] ypcode commented on #365
Hi @waldekmastykarz , just to keep you up to date, I am a bit delayed on that, but I started refactoring and had to refactor the specs as well. But still on going, don't worry :)

By the way, what do you think of closing the #366 PR and process the upcoming one with the WebPart and the Text commands ?

[2018-07-04 06:42] waldekmastykarz commented on #365
Thanks for the update @ypcode. I'm processing open PRs typically once a week. I try not to add new commands just before a release to avoid last-minute issues, which is why I haven't processed your PR yet. Still, it's on my to-do list for the coming weekend, and if all is well, will be included in the next beta.

[2018-07-04 07:42] ypcode commented on #365
Don't worry, that is totally fine, no rush here :)
I was just thinking, since all the common code will be moved in a helper class. I think that might be not worthy to spend time on that one, since there will big "changes" in this one here...

[2018-07-04 10:38] waldekmastykarz commented on #365
You can include the same file in the next PR and when I'll merge them, it will become one and the same.

[2018-07-04 17:44] waldekmastykarz opened #516 "Enhancement: Allow retrieving apps by their name"
Extend the 'spo app get' command to allow retrieving apps by their name

[2018-07-07 18:38] waldekmastykarz opened #518 "New command: add field from XML"
Adds a new list or site column using the CAML field definition

- command: `spo field add -u|--webUrl <webUrl> -l|--listTitle [listTitle] -x|--xml <xml>`
- webUrl: Absolute URL of the site where the field should be created
- listTitle: Title of the list where the field should be created (if it should be created as a list column)
- xml: field XML

For more information see the [Add-PnPFieldFromXml](

[2018-07-07 19:21] waldekmastykarz opened #519 "New command: Add content type"
Adds a new content type

- command: `spo contenttype add -u|--webUrl <webUrl> -n|--name <name> -i|--id <id> -d|--description [description] -g|--group [group]`
- webUrl: Absolute URL of the site where the content type should be created
- name: Name of the content type
- id: ID of the content type
- description: Description of the content type
- group: Group with which the content type should be ass

[2018-07-07 19:31] waldekmastykarz opened #520 "New command: add field to content type"
Adds a field to a content type

- command: `spo contenttype field add -u|--webUrl <webUrl> -c|--contentTypeId <contentTypeId> -f|--fieldId <fieldId> --required --hidden`
- webUrl: Absolute URL of the site where the content type is located
- contentTypeId: ID of the content type to which the field should be added
- fieldId: ID of the field to add to the content type
- required: Set, if the field sh

[2018-07-07 20:00] waldekmastykarz opened #521 "New command: add navigation node"
Adds a navigation node

- command: `spo navigation node add -u|--webUrl <webUrl> -l|--location <location> -t|--title <title> --url <url> --isExternal`
- webUrl: Absolute URL of the site to which navigation should be modified
- location: Navigation type where the node should be added. Available options: QuickLaunch|TopNavigationBar
- title: Navigation node title
- url: Navigation node URL
- isExter

[2018-07-07 20:04] waldekmastykarz opened #522 "New command: list navigation nodes"
Lists navigation nodes

- command: `spo navigation node list -u|--webUrl <webUrl> -l|--location <location>`
- webUrl: Absolute URL of the site for which navigation nodes should be listed
- location: Navigation type for which nodes should be listed. Available options: QuickLaunch|TopNavigationBar

For more information see the [Get-PnPNavigationNode](https://docs.microsoft.com/en-us/powershell/modul

[2018-07-07 20:07] waldekmastykarz opened #523 "New command: remove navigation node"
Removes navigation node

- command: `spo navigation node list -u|--webUrl <webUrl> -l|--location <location> -i|--id <id> --confirm`
- webUrl: Absolute URL of the site for which navigation should be updated
- location: Navigation type from which the node should be removed. Available options: QuickLaunch|TopNavigationBar
- id: ID of the node to remove
- confirm: Set, to prevent being prompted for co

[2018-07-08 06:16] #511 closed

[2018-07-08 16:16] RARomano commented on #411
@waldekmastykarz,

I noticed that part of the code is being repeated throughout different commands:

https://github.com/pnp/office365-cli/blob/c00236962597f14fa6f06687c3ddb6de3ca5a7ce/src/o365/spo/commands/page/page-control-get.ts#L43

https://github.com/pnp/office365-cli/blob/c00236962597f14fa6f06687c3ddb6de3ca5a7ce/src/o365/spo/commands/page/page-control-list.ts#L42

https://github.com/pnp/offic

[2018-07-09 12:10] mpowney commented on #268
Hey there @waldekmastykarz can I pick this one up?

[2018-07-09 12:36] mpowney commented on #268
Also.. what do you think @waldekmastykarz if I go off-script a little bit and include a parameter that allows the user to specify a REST $filter string instead of only allowing CAML queries?  I always find REST filters easier to write than CAML queries.

The parameter specification would look something like:

* pageSize: The number of items to retrieve per page request
* query: The CAML query to u

[2018-07-09 18:16] waldekmastykarz commented on #268
Awesome suggestion @mpowney! Please do! 👏

[2018-07-11 19:18] waldekmastykarz opened #528 "New command: Get information about a field"
Retrieve information about the specified list or site column

- command: `spo field get -u|--webUrl <webUrl> -l|--listTitle [listTitle] -i|--id <id>`
- webUrl: Absolute URL of the site where the field is located
- listTitle: Title of the list from which to retrieve the field (if it's a list column)
- id: Field ID

[2018-07-14 10:40] #521 closed

[2018-07-14 10:40] #522 closed

[2018-07-14 10:41] #523 closed

[2018-07-14 10:42] #518 closed

[2018-07-14 10:42] #528 closed

[2018-07-15 10:28] waldekmastykarz opened #532 "New command: Get content type"
Retrieves information about a list or site content type

- command: `spo contenttype get -u|--webUrl <webUrl> -i|--id <id>`
- webUrl: Absolute URL of the site where the content type should be created
- id: ID of the content type to retrieve information about

[2018-07-19 09:56] mcraiha opened #534 "Add documentation about AADSTS90094 issue"
I am trying to use separate CI/CD account via office365-cli and there is a problem with
`spo connect https://contoso.sharepoint.com`
because the browser login stops to

It would nice to have some guidance for situation like that in https://pnp.github.io/office365-cli/user-guide/connecting-office-365/#connect-using-the-default-device-code-flow

From security point of view it would be best if CI/CD

[2018-07-19 11:41] waldekmastykarz commented on #534
We have some documentation about it, just in a different place. Have you seen https://pnp.github.io/office365-cli/concepts/authorization-tokens/#azure-ad-application-used-by-the-office-365-cli?

[2018-07-19 19:11] #519 closed

[2018-07-19 19:12] #366 closed

[2018-07-19 19:13] #411 closed

[2018-07-19 19:14] #532 closed

[2018-07-19 19:56] RARomano commented on #412
Can I take this one as well? It is more of the same I just did :)
Also the https://github.com/pnp/office365-cli/issues/410 and https://github.com/pnp/office365-cli/issues/409?

[2018-07-19 19:57] waldekmastykarz commented on #412
Absolutely! All yours! 👏

[2018-07-19 19:59] waldekmastykarz commented on #509
Hey @devinprejean any update or shall we close this issue for now?

[2018-07-20 11:59] baywet opened #535 "Add support for upgrading SharePoint Framework 1.0.0"
Everything is in the title.
I was looking to upgrade https://github.com/SharePoint/sp-dev-fx-webparts/tree/master/samples/knockout-sp-pnp-js to latest + @pnp/sp as well as https://docs.microsoft.com/en-us/sharepoint/dev/spfx/web-parts/guidance/use-sp-pnp-js-with-spfx-web-parts

[2018-07-22 13:47] waldekmastykarz commented on #535
Originally, we were planning to stop at v1.1.0 which is the version currently recommended for on-prem but we could go even further to v1.0.0. Want to take a stab at it?

[2018-07-23 13:03] baywet commented on #535
@waldekmastykarz thanks for the follow up!
I think it'd be important to support it as quite a few samples are running 1.0.0, as well as because people might have started real life projects back then that they want to pick up.
For the preview versions, my opinion is I think we can leave it for a couple of reasons:
- Only a few "early adopters" (MVPs, partners, …) used those versions
- Nobody is sup

[2018-07-23 13:03] baywet opened #536 "Add support for upgrading SharePoint Framework 1.0.1"
Everything is in the title

[2018-07-23 13:04] baywet opened #537 "Add support for upgrading SharePoint Framework 1.0.2"
everything is in the title

[2018-07-23 15:31] devinprejean commented on #509
We can close this for now. We decided to go another route so it seems this wasn’t acceptable for our use case. Thank you!

[2018-07-23 15:31] #509 closed

[2018-07-24 18:04] waldekmastykarz commented on #509
Thanks for confirming. Mind sharing what you decided to do eventually? It might help others (unless you decided not to use the CLI altogether)

[2018-07-25 19:15] waldekmastykarz commented on #535
Fully agreed that we should skip preview versions. Regarding the guidance on implementing SPFx project upgrades: unfortunately I didn't get to document it yet, but @VelinGeorgiev and myself implemented a few things so I'd say: have a look at the other versions that are already implemented and don't hesitate to [reach out](https://gitter.im/office365-cli/cli) if something isn't clear. Sorry, we don

[2018-07-26 22:00] baywet commented on #535
alright, thanks for the details! You can assign it to me, I'll try to tackle it next week.

[2018-07-27 01:36] baywet opened #538 "Upgrade from 1.3.2 to 1.5.1 no tslint.json"
I was upgrading a project from 1.3.2 with one webpart and one extension, knockout, to 1.5.1.
Back then the yeoman generator was not scaffolding tslint.json for projects, but 1.5.1 is.
However the upgrade report didn't recommend me to add one. I know it's a rather big file, maybe the solution could be to store the same on this repos and recommend using a wget command?

[2018-08-12 11:28] waldekmastykarz commented on #538
Do you mean `config/tslint.json`? If so, then I can see it in each version all the way back to v1.1.0 (I haven't checked previous versions yet) which is why the CLI isn't reporting adding the whole file. Are you sure you haven't removed it manually?

[2018-08-12 11:33] waldekmastykarz commented on #534
Closing due to inactivity. If the documentation I mentioned is insufficient, please feel free to respond/reopen the issue.

[2018-08-12 11:33] #534 closed

[2018-08-12 12:48] baywet commented on #538
No I mean the one at the root of the project. Maybe I'm mistaking but it looks like previous versions didn't have it and now it's created by default.

[2018-08-15 14:31] appieschot commented on #125
You can assign this one to me

[2018-08-16 06:28] appieschot commented on #125
Quick question(s):
- deletion can take some time as well (most deletions are handled within the first request, but some larger sites take up to a few minutes), do you expect a --wait option as well?
- When you delete without --skipRecycleBin the site will be moved to the recycle bin. In PnP they introduced a --fromRecycleBin to remove it from there (otherwise you would not have an option to delete

[2018-08-16 06:40] waldekmastykarz commented on #125
yes and yes. Good ideas!

[2018-08-17 18:32] #487 closed

[2018-08-17 18:33] #488 closed

[2018-08-17 18:34] #485 closed

[2018-08-17 18:35] #410 closed

[2018-08-17 18:35] #520 closed

[2018-08-18 20:20] VelinGeorgiev opened #548 "New command: list tenant global settings"
Lists the global tenant settings

command: `spo tenant settings list`

Similar behavior like: [Get-PnPTenant](https://docs.microsoft.com/en-us/powershell/module/sharepoint-pnp/get-pnptenant?view=sharepoint-ps)

Require tenant admin access.
Will not be possible with app principle authentication.

[2018-08-18 20:25] VelinGeorgiev opened #549 "New command: set tenant global setting"
Sets tenant global setting

command: `spo tenant settings set  [options]`

optional options:
--minCompatibilityLevel `<Int>`
--maxCompatibilityLevel `<Int>`
--externalServicesEnabled `<Boolean>`
--noAccessRedirectUrl `<String>`
--sharingCapability `<SharingCapabilities>`
--displayStartASiteOption `<Boolean>`
--startASiteFormUrl `<String>`
--showEveryoneClaim `<Boolean>`
--showAllUsersClaim `<Boole

[2018-08-18 20:26] VelinGeorgiev commented on #548
@waldekmastykarz, feel free to assign that to me.

[2018-08-18 23:05] VelinGeorgiev commented on #283
@dariuszbz , @waldekmastykarz  any progress on that?

[2018-08-19 12:47] waldekmastykarz commented on #283
Good of you to ask @VelinGeorgiev. @dariuszbz?

[2018-08-19 12:50] waldekmastykarz commented on #548
Looking at Get-PnPTenant, it seems like it returns tenant information rather than information about a specific site, unless I'm mistaken?

[2018-08-19 12:51] waldekmastykarz commented on #549
Set-PnPTenant seems to be setting tenant properties which are global and not specific to the particular site, unless I'm mistaken?

[2018-08-19 13:04] waldekmastykarz opened #550 "Bug: created content type have different ID than specified"
When creating content types, the CLI doesn't honor the specified content type ID. Instead the content type gets a new ID.

This has to do with the fact that the REST API used by the CLI, doesn't use the specified content type ID and instead always generates a new ID.

[2018-08-19 15:36] VelinGeorgiev commented on #548
Yes, you are right. I was actually after the [Get-PnPTenantSite -Detailed switch](https://docs.microsoft.com/en-us/powershell/module/sharepoint-pnp/get-pnptenantsite?view=sharepoint-ps).

Seems we are missing similar option, I cannot see something like `spo classic site get --detailed` and `spo
 site get --detailed`.

BUT, I can implement the command as global tenant settings, I am sure the would

[2018-08-20 06:29] wictorwilen commented on #17
I'm on it...

[2018-08-20 08:43] VelinGeorgiev commented on #548
Hi @waldekmastykarz  I updated the description. What do you think about that?

[2018-08-20 09:05] VelinGeorgiev commented on #549
Hi @waldekmastykarz , I updated the description. What do you think?

[2018-08-20 09:16] ypcode commented on #365
Hi,

Just a quick update on this, I implemented the new command, but I found a quite significant bug when playing with sections (the layout of the page is being screwed up) at this is probably also present in the clientsidewebpart command.
I found out there was some issues in the code copied from pnp js at the time.
All are now fixed so I recopied the latest implementation.

However, some tests ar

[2018-08-20 17:04] waldekmastykarz commented on #549
To keep it consistent with other tenant-level commands, I'd suggest removing the webUrl option in favor of requiring connection to the tenant admin site. Other than that, looks good! 👍

[2018-08-20 17:05] waldekmastykarz commented on #548
To keep it consistent with other tenant-level commands, I'd suggest removing the webUrl option in favor of requiring connection to the tenant admin site. Other than that, looks good! 👍

[2018-08-20 17:07] waldekmastykarz commented on #365
Thanks for the update @ypcode! Have you checked if the bug is fixed in PnPjs from which we borrowed the code? If so, it would be great if you let the guys know and share your findings.

[2018-08-20 17:32] waldekmastykarz commented on #452
With no response, I'll assume you're not working on it anymore.

[2018-08-20 17:33] waldekmastykarz commented on #451
With no response, I'll assume you're not working on it anymore.

[2018-08-20 17:34] waldekmastykarz commented on #364
Hey @kshsbala, are you still working on this one?

[2018-08-20 20:08] ypcode commented on #365
Yes, it is fixed on their side since I actually ported back the latest implementation of the clientsidepage file with some changes to remove the pnpjs dependencies, that is what actually causes some tests to fail...
I am digging into it to find out what exactly has changed.

BTW, I also added one method to properly handle the --order argument. I realized the specs say it is the order of the sectio

[2018-08-21 07:38] waldekmastykarz commented on #365
Cool! Glad that we have tests that verify how things work ☺️

[2018-08-21 14:43] ypcode commented on #363
Hey @waldekmastykarz , I can take this one :)

[2018-08-21 16:58] waldekmastykarz commented on #363
Excellent! All yours!

[2018-08-22 11:42] ypcode commented on #304
I can take this one

[2018-08-22 14:11] ypcode commented on #304
Hi @waldekmastykarz , feel free to assign this one to me :)

Regards,
Yannick

[2018-08-24 14:18] waldekmastykarz commented on #304
Thanks!

[2018-08-26 10:26] #409 closed

[2018-08-26 10:28] #537 closed

[2018-08-26 10:28] #550 closed

[2018-08-30 06:15] appieschot commented on #230
You can assign this to me

[2018-08-30 06:47] waldekmastykarz commented on #230
Perfect! Thank you!

[2018-08-30 17:04] appieschot commented on #301
And we'll do a retry; happy to pick this one up :)

[2018-08-30 18:49] appieschot opened #563 "[Refactor] Refactor SPO duplicate methods"
Some methods in SPO stack are defined in multiple commands and could be moved to a Utils class to prevent duplicate code. The following methods could be moved / combined (present in site-classic-set, site-classic-add & site-classic-remove:

- ensureFormDigest
- waitUntilFinished

[2018-08-31 06:14] waldekmastykarz commented on #301
All yours!

[2018-08-31 06:15] waldekmastykarz commented on #563
Good idea!

[2018-08-31 13:54] appieschot commented on #301
Do you want to implement a -disable: flag on this method to disable site classifications, or do you want to have an additional command called disable site classification (as testing the creation without the option to delete is a bit weird)? If it is an additional command I would love to pick it up in the same PR.

Additionally we do have a property called **GuestUsageGuidelinesUrl** in the directo

[2018-08-31 13:56] waldekmastykarz commented on #301
Let's use a separate command for disable. If we don't have an issue for it, let's create one.

Good idea to include **GuestUsageGuidelinesUrl** 👍

[2018-08-31 14:13] appieschot opened #564 "New command: disable site classification"
Disable site classification

command: graph siteclassification disable
- `confirm` don't prompt for confirmation before disabling siteclassification

See https://docs.microsoft.com/en-us/powershell/module/sharepoint-pnp/disable-pnpsiteclassification?view=sharepoint-ps

[2018-08-31 14:13] appieschot commented on #564
Feel free to assign this one to me so I can combine it with #301 as adding can only be done once :-)

[2018-08-31 14:13] waldekmastykarz commented on #564
Perfect! Thank you!

[2018-08-31 15:37] appieschot commented on #564
@waldekmastykarz sorry this one is a duplicate from #302 that I missed when searching for it.. Please assign that one :)

[2018-08-31 15:39] appieschot commented on #301
@ypcode that would definitely make sense, do you have the command synced to your repo? I have the command implemented as well but do also need the tests and documentation :). You can find my implementation on: https://github.com/appieschot/office365-cli/tree/feature/enable-site-classification

[2018-08-31 16:50] ypcode commented on #301
Let me make sure it is, I will do it tonight

[2018-08-31 17:57] #564 closed

[2018-09-01 09:51] ypcode commented on #301
Here is the current state of this future PR : [](https://github.com/ypcode/office365-cli/tree/dev-graph-site-classification-set). As I said, the docs and testing are not done, will do it after being back from vacation after September, 10th.

I didn't check yours @appieschot , but maybe  we can have some sort of sync in each other PRs.

Will be more active soon :)
Cheers,
Yannick

[2018-09-01 17:04] kshsbala commented on #364
Hi @waldekmastykarz , Sorry for the delay. I didnt had a chance to look because of my daily work. Started looking today. I will try to complete asap.

[2018-09-01 17:05] waldekmastykarz commented on #364
Thanks for letting us know @kshsbala. Totally understood if you need to prioritize your time differently. Either way, appreciate your help.

[2018-09-05 16:27] aaronhawryluk opened #568 "npm install fails"
Error text when installing from command line:

λ npm i -g @pnp/office365-cli
npm ERR! code 128
npm ERR! Command failed: C:\Program Files\Git\cmd\git.EXE clone --mirror -q git://github.com/pnp/vorpal.git C:\Users\XXXXXX\AppData\Roaming\npm-cache\_cacache\tmp\git-clone-d488038d\.git --config core.longpaths=true
npm ERR! warning: templates not found in C:\Users\XXXXXX\AppData\Local\Temp\pacote-git-te

[2018-09-05 18:44] waldekmastykarz opened #569 "Add support for upgrading SharePoint Framework projects to v1.6.0"
Add support for upgrading SharePoint Framework projects to v1.6.0

[2018-09-05 18:55] arjenbloemsma commented on #399
Hi Waldek,

If you like I could pick this one up 😎

[2018-09-05 20:12] waldekmastykarz commented on #568
Sorry to hear you're having trouble. What version of Node and npm are you using?

[2018-09-06 06:36] #412 closed

[2018-09-06 06:37] #363 closed

[2018-09-06 06:38] #548 closed

[2018-09-06 06:39] #268 closed

[2018-09-06 06:39] #125 closed

[2018-09-06 06:42] #54 closed

[2018-09-06 06:42] #452 closed

[2018-09-06 06:43] #451 closed

[2018-09-06 06:43] #569 closed

[2018-09-06 08:53] waldekmastykarz commented on #400
All yours!

[2018-09-06 08:53] waldekmastykarz commented on #399
Awesome! All yours and great to have you with us!

[2018-09-06 13:52] baywet opened #571 "New command: spfx project externalize"
I had an idea a couple of days ago. Based on the spfx project upgrade command, why not building a spfx project externalize command?
The idea is that it'd be based on detection rules, scan the package.json (and maybe some source files) to detect packages that could be externalized and suggest a config.json external configuration.
This way a developer could be sure he has the proper configuration, d

[2018-09-06 14:00] waldekmastykarz commented on #571
Interesting suggestion. How would you determine, which packages could be externalized?

[2018-09-06 14:05] baywet commented on #571
For example, if we detect that @pnp/sp is being used and/or in the package.json, we know that could be offloaded to a CDN instead of bundling it. The idea would be to build detection rules this first one would be CDN001_pnp_sp or something like that. Of course this set of rules would be separate from the upgrade ones.

[2018-09-06 19:49] baywet commented on #571
Agreed, however each package can have different module definition, a global var or not exposed as well as different supported CDNs and url formats (meaning file name on the CDN, versioning tag…). So I can't think of a reliable consistent approach.
The idea was to help sharepoint devs move faster improving performances with more commonly used libraries in our ecosystem, things like lodash, moment,

[2018-09-06 20:02] waldekmastykarz commented on #571
It might be interesting to build a proof of concepts to see if this is viable. As you mentioned, it might be hard to get this done reliably so having something to look at would give us a better idea what's possible.

[2018-09-07 05:20] wictorwilen commented on #571
I would recommend to have a dedicated tool for this as there would be to many "options" in making a decision on externalizing or not. The reason for externalizing could be many (compliance, reuse, performance, size...) which would it extremely difficult to create this command without building in biased thoughts.

[2018-09-07 05:55] waldekmastykarz commented on #571
Depending on the complexity, it could be a separate tool or a separate command in the CLI, which would free folks from having to install yet another tool. But yes, definitely something separate.

[2018-09-07 06:05] wictorwilen commented on #571
"One tool to rule them all" :-)

[2018-09-07 13:34] appieschot commented on #301
@ypcode i just wrote my tests, but have a slightly different implementation than yours. I did use the PowerShell code sample, but will consolidate with your implementation to ease integration in the next release. The set requires one additional property (DefaultValue) as when enabling it, it requires the default value for usageGuidelinesUrl when it is not specified

[2018-09-07 17:25] waldekmastykarz opened #574 "Rename the '[service] connect' commands to '[service] login'"
We should rename all `connect` commands (like `spo connect`, `graph connect`, etc.) to `login` (`spo login`, `graph login`), to clearer indicate that the command is meant to obtain an access token rather than establish a working context.

The currently used `connect` name is particularly confusing when working with SharePoint commands. If you've worked with CSOM or PnP PowerShell, you know that be

[2018-09-07 17:34] andrewconnell commented on #574
Piling on... why `login` & `logout`? It matches what the Azure CLI uses.

[2018-09-07 19:00] muges01 opened #576 "Upgrading from 1.5.1-plusbeta to 1.6 error"
Hi guys,

I'm trying to run the upgrade commands **'spfx project upgrade'** on my project (version 1.5.1-plusbeta) and I'm getting '**Error: Project doesn't need to be upgraded**'.

Does the cli 1.6.0 support for upgrade from 1.5.1-plusbeta?

Can anyone advice me.

This is my environment setup:
Windows 10
sharepoint framework version 1.6.0
Office365-cli version 1.6.0

Thank you
Mugilan

[2018-09-07 19:03] waldekmastykarz commented on #576
Hey @muges01, thanks for reaching out. Unfortunately, at this moment, we don't support upgrading from 1.5.1-plusbeta. It's definitely something that we should consider though. Hopefully we'll have some better news in the future.

[2018-09-07 19:06] muges01 commented on #576
Thank you @waldekmastykarz for the fast reply. Since it's not supported then i'll close this ticket.

[2018-09-07 19:18] muges01 commented on #576
Hi @waldekmastykarz when i try to run the upgrade commands **'spfx project upgrade'** on my project (version 1.5.1) and I'm getting the same error.  Why is that?

[2018-09-07 19:29] muges01 commented on #576
Thank you.
Is there anyway i can find out what is the SPFx support versions by CLI vX.X.0 in the future?

[2018-09-07 19:34] waldekmastykarz commented on #576
Yes, the supported versions are listed in the command help: `o365 spfx project upgrade --help`

[2018-09-07 19:36] muges01 commented on #576
Thank you very much @waldekmastykarz . That was really helpful.

[2018-09-07 19:36] #576 closed

[2018-09-07 19:39] waldekmastykarz commented on #576
My pleasure!

[2018-09-08 18:59] #399 closed

[2018-09-08 18:59] #400 closed

[2018-09-09 11:06] waldekmastykarz commented on #574
If you're interested how it would look like, check out #578

[2018-09-09 16:37] arjenbloemsma commented on #574
I agree that this is much clearer. Just a small remark; shouldn't lines like the following also be updated to match the change from connect to login?

[code]

So maybe use something like 'Logged in to' and 'Logged in as'?

Lines like these can be found in the following files

- office365-cli/src/o365/aad/commands/status.ts
- office365-cli/src/o365/azmgmt/commands/status.ts
- office365-cli/src/o365

[2018-09-10 07:37] arjenbloemsma opened #579 "New command: spo list webhook list"
Lists all webhooks for the specified list

Command: spo list webhook list [options]

Options:

-u|--webUrl <String> | URL of the site where the list to retrieve the webhook info for is located
-i|--id <String> | ID of the list to retrieve information for. Specify either id or title but not both
-t|--title <String> | Title of the list to retrieve information for. Specify either id or title but not

[2018-09-10 07:52] arjenbloemsma commented on #579
@waldekmastykarz If you agree please assign to me 🤓 I will then also add issues for retrieving a specific webhook for a list as well as adding, updating and removing a webhook.

[2018-09-10 10:56] waldekmastykarz commented on #579
Perfect! Well done @arjenbloemsma and all yours 🚀

[2018-09-10 17:28] waldekmastykarz commented on #390
It's taken a while but I've found and fixed the issue in vorpal, the underlying engine behind the CLI. The issue has been fixed in our fork of vorpal and the fix should be available immediately in all versions of the CLI after reinstalling the CLI. For more information see https://github.com/pnp/vorpal/commit/f90d9e1924cfbcf21e4b5abae333f06b79b26561

[2018-09-10 17:28] #390 closed

[2018-09-10 22:05] baywet opened #580 "Upgrade spfx 1.6.0 FN012012 always returns a finding"
# Issue
This rule always says the node is missing, even though it's been set.

# Repro steps
have a spfx 1.5.1 project
run the upgrade command
add the following node to the tsconfig.json
[code]
DO NOT change the yo rc version
delete the report
re-run the command
the report still says it's missing

[2018-09-10 22:08] baywet opened #581 "Upgrade spfx 1.6 FN002008 saves exact when it shouldn't"
When upgrading a project from spfx 1.5.1 to 1.6.0 the report instructs the following command:
[code]
However the default version specification for this package when scaffolding a net new project is `~5.0.0`. I don't think this is a big problem, however if tomorrow 1.6.1 comes along and the cli implements the upgrade sequence as well, a project that was upgraded from 1.5.1 will trigger a finding fo

[2018-09-11 06:57] waldekmastykarz commented on #581
Why do you think this is the case? The package you mentioned above wasn't present in v1.5.1, so when you update the project to v1.6.0 it will suggest running the command you mentioned. If v1.6.1 still requires `tslint-microsoft-contrib@5.0.0`, then the rule will match the previously installed package and shouldn't yield a finding.

[2018-09-11 08:17] waldekmastykarz opened #582 "Only one occurrence of each finding reported in `spfx project upgrade`"
When upgrading SPFx projects, only one occurrence of each finding is reported. For example, if you have a project with two web parts and both their manifests require updating, only one manifest will be reported.

[2018-09-11 09:17] wictorwilen commented on #389
Any work/progress on this one?

[2018-09-11 09:27] mpowney commented on #383
Hey there @waldekmastykarz, can I give this one a go?

[2018-09-11 11:35] mpowney commented on #383
hmm - I may have spoken too soon.

It doesn't seem there's any easy to call API's available to implement the ZIP export.  It might be possible to turn an export into a ZIP locally, but I'm not sure that'll be compatible with importing back in to the Flow interface...

[2018-09-11 11:57] wobba opened #583 "Upgrade path from SPFx v1.5.1-plusbeta to v1.6"
It would be nice to be able to upgrade a project from v1.5.1-plusbeta to v1.6. At lease package wise, so you can move off the experimental and onto production packages. If some API's break, that's ok, as this is something you should then have to deal with in your code.

[2018-09-11 12:01] mpowney commented on #383
Ignore my previous comment, after reverse engineering the Flow web UI, I think I'm able to replicate the process.  Please assign this one to me.

[2018-09-11 12:27] baywet commented on #581
Thanks for the fast answer!
It makes sense, because the rule is only included in the version specific sequence, which is based on the version detected on the yo rc.

Allow me to correct my scenario:
- Upgrade a project from 1.5.1 to 1.6.0
- do no change the yo rc version
- re-run the upgrade sequence to make sure you didn't forget anything.
- this rule will trigger again because of the version spe

[2018-09-11 12:35] wictorwilen commented on #389
Progress is going on here now...

[2018-09-11 12:49] waldekmastykarz commented on #389
💪 All yours

[2018-09-11 12:50] waldekmastykarz commented on #581
Let me check if I can repro it 👍

[2018-09-11 12:52] waldekmastykarz commented on #580
I was able to repro it. I will have a closer look at it and fix it. Thanks for reporting

[2018-09-11 12:59] baywet commented on #581
side note, if this needs fixing, that probably means that #572 needs the "inexact" arrays again.
Let me know how this goes, I'll update my PR accordingly.

[2018-09-11 13:32] waldekmastykarz commented on #383
Thanks for double-checking @mpowney! All yours!

[2018-09-11 18:03] waldekmastykarz commented on #581
I can't repro it. In my project I ran the upgrade from 1.5.1 to v1.6.0, ran the command as suggested by the CLI, and when I run upgrade again, the finding is not reported.

[2018-09-12 05:37] wictorwilen opened #586 "New command: list Microsoft Teams channels"
List channels in a Microsoft Teams team:

* command;  `teams channel list -i| --teamId <teamId>`
* teamId: id of the team

[2018-09-12 05:39] wictorwilen opened #587 "New command: add channel to Microsoft Teams"
Add a channel to a Microsoft Teams team:

* command;  `teams channel add -i| --groupId <groupId> -n| --name <name> -d|--description [description]`
* groupId: id of the group
* name: name of the channel
* description: description of the channel

[2018-09-12 05:42] wictorwilen opened #588 "New command: list messages in a Microsoft Teams channel"
List messages in a channel in a Microsoft Teams team:

* command;  `teams channel message list -i|--groupId <groupId> -c|--channelId <channelId>`
* groupId: id of the group
* channelId: id of the channel

[2018-09-12 05:43] wictorwilen opened #589 "New command: get a message in a Microsoft Teams channel"
Get a message from a Microsoft Teams channel

* command;  `teams channel message get -i| --groupId <groupId> -c|--channelId <channelId> -m|--messageId`
* groupId: id of the group
* channelId: id of the channel
* messageId: id of the message

[2018-09-12 06:09] waldekmastykarz commented on #587
Is the description of the channel required?

[2018-09-12 06:16] wictorwilen commented on #587
@waldekmastykarz  - nope, it's not required, updated post

[2018-09-12 06:16] wictorwilen commented on #586
Please, assign to me (as I already got this one working)

[2018-09-12 11:16] arjenbloemsma opened #590 "New command: Get information about the specified webhook"
Gets information about the specified webhook

Command: `spo list webhook get -u|--webUrl <webUrl> -t|--listTitle [listTitle] -l|--listId [listId] -i|--id <id>`

Options:

-u, --webUrl | URL of the site where the list to retrieve the webhook info for is located
-l, --listId | ID of the list from which to retrieve the webhook. Specify listId or listTitle but not both
-t, --listTitle |Title of the li

[2018-09-12 12:28] waldekmastykarz commented on #590
Awesome! You want to pick it up @arjenbloemsma?

[2018-09-12 13:15] wobba opened #591 "Improve the default text output when upgrading an SPFx project"
It might just be me, but when updating an SPFx solution using the CLI, I always output the report as an md file, and I always scroll to the summary to get the aggregated pieces of what I need to do.

So for me, having a default ouput as a file named something like `upgrade-1.4.0-1.5.1.md`, and also having the summary at the top and not at the bottom of the report would save me a few keystrokes and

[2018-09-12 17:08] arjenbloemsma commented on #590
I sure do @waldekmastykarz 😎

[2018-09-12 17:18] #508 closed

[2018-09-12 17:19] #580 closed

[2018-09-12 17:19] #582 closed

[2018-09-12 18:13] baywet commented on #581
I'm still having the issue with the latest version that was just published.
Easier repro path.
Scaffold a spfx 1.6.0 project, edit the yo rc to 1.5.1 and run the upgrade command, you'll get the finding.
Technically you should not get any findings in this scenario.
Hope that helps.

[2018-09-12 18:14] waldekmastykarz opened #593 "Extend the 'spo page clientsidewebpart add' command to allow reading web part properties from a file"
We need to extend the 'spo page clientsidewebpart add' command to allow reading web part properties from a file. If the web part properties JSON string is too long, it cannot be read in bash.

[2018-09-12 18:30] baywet commented on #581
So if I understand things properly the idea would be to make the version detection "more permissive" by considering ~5.0.0 or ^5.0.0 or 5.0.0 the same thing in the package.json? thus not triggering any finding.

[2018-09-12 20:00] waldekmastykarz commented on #581
Not quite: what we do at the moment, is to detect if the specified version or the range satisfy the requirement coming from a rule. If the exact version equals the upgrade requirement we don't yield a notification. If the upgrade range meets the requirement, we yield a notification with the exact version just to be sure that you have the particular version which might be higher than the minimal ve

[2018-09-13 06:48] waldekmastykarz commented on #591
The first change we could do easily. I'm curious about the second part as currently the text output is kind of useless with the resolutions which you need to do the upgrade. Thinking if the text mode shouldn't be merely a listing of the issues without any resolutions, but would that be helpful at all?

[2018-09-13 07:08] wobba commented on #591
This is how I'd like to see the text output.

[code]

etc.

[2018-09-13 10:27] waldekmastykarz commented on #591
So for the text output, you'd like resolutions grouped per file/type without additional explanation?

[2018-09-13 11:56] baywet commented on #581
That however doesn't bring fidelity with what a net new SPFX project with the newer version would be if I'm understand things properly? If the new project comes with ~5.0.0 and the cli instructs -DE (so 5.0.0), it technically makes a difference. The SPFX team intended people to get updates for that dependency and now we're locking it down. Don't you think a project upgraded with the CLI should be

[2018-09-13 12:04] waldekmastykarz commented on #581
By default, when you use npm, you're already getting a lock file, so even if you restore dependencies tomorrow, you will get the same version of each package as you installed initially. Without specifying the exact version to upgrade to, we couldn't update packages to newer versions if they're in the original version range, unless we manually rewrote package.json and instructed users to delete nod

[2018-09-13 12:07] baywet commented on #581
Yes, I'm aware of that :)
However omitting the ~ means npm outdated won't yield something and npm update won't do anything. That'll make it harder for projects maintainers to know if it's lock down because it absolutely has to be that version or just because the tool the use didn't make the proper recommendation, making it harder to stay up to date.

[2018-09-13 13:46] wobba commented on #591
As a summary yes. The why is not important to me, I need to upgrade :-)

[2018-09-13 17:34] waldekmastykarz commented on #283
With the lack of response setting this item as available for picking

[2018-09-13 17:46] waldekmastykarz commented on #302
Hey @appieschot, still working on it?

[2018-09-13 17:46] waldekmastykarz commented on #304
Hey @ypcode, still working on it?

[2018-09-13 17:47] waldekmastykarz commented on #364
Hey @kshsbala, did you have a chance to pick it up?

[2018-09-13 17:48] waldekmastykarz commented on #549
Hey @VelinGeorgiev, still working on it?

[2018-09-13 17:54] waldekmastykarz opened #594 "New command: Add content type to list"
Add content type to list

command: `spo list contenttype add -u|--webUrl <webUrl> --listId [listId] --listTitle [listTitle] --contentTypeId <contentTypeId>`
- webUrl: URL of the site where the list is located
- listId: ID of the list to which to add the content type, specify listId or listTitle but not both
- listTitle: Title of the list to which to add the content type, specify listId or listTitl

[2018-09-13 17:56] waldekmastykarz opened #595 "New command: List list content types"
List content types configured on the list

command: `spo list contenttype list -u|--webUrl <webUrl> --listId [listId] --listTitle [listTitle]`
- webUrl: URL of the site where the list is located
- listId: ID of the list for which to list configured content types, specify listId or listTitle but not both
- listTitle: Title of the list for which to list configured content types, specify listId or li

[2018-09-13 18:41] waldekmastykarz commented on #593
The initially noticed behavior was caused by incorrectly escaped quotes. Passing long strings works just fine and this is not necessary.

[2018-09-13 18:41] #593 closed

[2018-09-13 19:05] waldekmastykarz opened #596 "New command: list taxonomy term groups"
List taxonomy term groups

command: `spo term group list`

[2018-09-13 19:06] waldekmastykarz opened #597 "New command: Get taxonomy term group"
Get taxonomy term group

command: `spo term group get -n|--name [name] -i|--id [id]`
- name: Name of the term group to retrieve. Specify name or id but not both
- id: ID of the term group to retrieve. Specify name or id but not both

[2018-09-13 19:09] waldekmastykarz opened #598 "New command: Add taxonomy term group"
Add taxonomy term group

command: `spo term group add -n|--name <name> -i|--id [id] -d|--description [description]`
- name: Name of the term group to create
- id: ID of the term group to create
- description: Description of the term group to create

[2018-09-14 07:12] kshsbala commented on #364
Hi @waldekmastykarz, I have started working on this.

[2018-09-14 07:27] appieschot commented on #302
@waldekmastykarz yes! I am hoping to finalize the 'enable' today so I can move on and implement the disable.

[2018-09-14 07:34] waldekmastykarz commented on #364
Cool! Do you have a rough idea how much work is still left?

[2018-09-14 08:06] kshsbala commented on #364
40% completed. Planning to continue during this weekend as well.

[2018-09-14 08:27] kshsbala commented on #364
Hi @waldekmastykarz , I am very sorry for the delay and will try to complete asap.

[2018-09-14 08:41] VelinGeorgiev commented on #549
Hi Waldek, Almost there, I just need to find some free time to complete it.

@waldekmastykarz

[2018-09-14 08:42] VelinGeorgiev commented on #283
@waldekmastykarz , please assign me, I need that completed to finish a blog post of mine :)

[2018-09-14 15:37] arjenbloemsma commented on #579
Chose not to show field 'notificationUrl' as the values for this field are quite big and thus taking up (too) much of the screen. Think it is better to leave it out of this command. If a user requires this info he or she could of course use the 'spo list webhook get' command (#590).

Another option is to add a parameter/option which a user could pass to the command that would indicate if the field

[2018-09-14 17:57] phawrylak commented on #594
Hi @waldekmastykarz, feel free to assign that to me.

[2018-09-14 17:57] waldekmastykarz opened #600 "New command: List taxonomy term sets"
List taxonomy term sets

command: `spo term set list --termGroupId [termGroupId] --termGroupName [termGroupName]`
- termGroupName: Name of the term group from which to retrieve term sets. Specify termGroupName or termGroupId but not both
- termGroupId: ID of the term group from which to retrieve term sets. Specify termGroupName or termGroupId but not both

[2018-09-14 17:57] phawrylak commented on #595
Hi @waldekmastykarz, feel free to assign that to me.

[2018-09-14 17:59] waldekmastykarz opened #601 "New command: Get taxonomy term set"
Get taxonomy term set

command: `spo term set get -n|--name [name] -i|--id [id] --termGroupId [termGroupId] --termGroupName [termGroupName]`
- name: Name of the term set to retrieve. Specify name or id but not both
- id: ID of the term set to retrieve. Specify name or id but not both
- termGroupId: ID of the term group to which the term set belongs. Specify termGroupId or termGroupName but not bot

[2018-09-14 18:00] waldekmastykarz commented on #594
Awesome! All yours!

[2018-09-14 18:01] waldekmastykarz commented on #595
All yours @phawrylak 👏

[2018-09-14 18:09] waldekmastykarz opened #602 "New command: Add taxonomy term set"
Add taxonomy term set

command: `spo term set add -n|--name <name> --termGroupId [termGroupId] --termGroupName [termGroupName] -i|--id [id] -d|--description [description] --customProperties [customProperties]`
- name: Name of the term set to add
- termGroupId: ID of the term group in which to create the term set. Specify termGroupId or termGroupName but not both
- termGroupName: Name of the term g

[2018-09-14 18:15] waldekmastykarz opened #603 "New command: List taxonomy terms"
List taxonomy terms

command: `spo term list  --termSetId [termSetId] --termSetName [termSetName] --termGroupId [termGroupId] --termGroupName [termGroupName]`
- termSetId: ID of the term set for which to retrieve terms. Specify termSetId or termSetName but not both
- termSetName: Name of the term set for which to retrieve terms. Specify termSetId or termSetName but not both
- termGroupId: ID of th

[2018-09-14 18:17] waldekmastykarz opened #604 "New command: Get taxonomy term"
Get taxonomy term

command: `spo term get -i|--id [id] -n|--name [name]  -s|--termSetId [termSetId] --termSetName [termSetName] -g|--termGroupId [termGroupId] --termGroupName [termGroupName]`
- id: ID of the term to retrieve. Specify id or name but not both
- name: Name of the term to retrieve. Specify id or name but not both
- termSetId: ID of the term set where the term is located. Specify termS

[2018-09-14 18:31] waldekmastykarz opened #605 "New command: Add taxonomy term"
Add taxonomy term

command: `spo term add -n|--name <name> -s|--termSetId [termSetId] --termSetName [termSetName] -g|--termGroupId [termGroupId] --termGroupName [termGroupName] -i|--id [id] -d|--description [description] --customProperties [customProperties] --localCustomProperties [localCustomProperties]`
- name: Name of the term to add
- termSetId: ID of the term set in which to create the term.

[2018-09-15 15:40] pkskelly opened #606 "Error removing or setting additional AAD Grants with objectId containing leading dash '-'"
When assigning an OAuth2 grant using the following:

[code]
and then checking the objectId to add additional permissions the objectId contained a dash ('-') prefix.
[code]

When attempting to call ```o365 aad oauth2grant set``` or ```o365 aad oauth2grant remove``` with this objectId, you simply receive the help message indicating the ```--grantId``` is missing.

This is easily fixed with escaping

[2018-09-15 17:04] waldekmastykarz commented on #606
Thanks for reporting @pkskelly! This is something we should add to the docs. Would you like to submit a PR with the extra information in:

- https://github.com/pnp/office365-cli/blob/86d69eb6af6fb0b678021548fefb3543510851cf/src/o365/aad/commands/oauth2grant/oauth2grant-set.ts#L117
- https://github.com/pnp/office365-cli/blob/86d69eb6af6fb0b678021548fefb3543510851cf/src/o365/aad/commands/oauth2grant

[2018-09-15 18:51] #574 closed

[2018-09-15 18:52] #579 closed

[2018-09-15 18:53] #596 closed

[2018-09-16 10:06] waldekmastykarz commented on #383
It would be interesting to track the format that people use to export the Flow to. Other than that, we have no use for environment or flow ID.

[2018-09-16 18:02] kshsbala commented on #364
Hi @waldekmastykarz , I might have missed this. Wondering is there a plan to share some common code between PnPJs and this project?

[2018-09-16 18:04] waldekmastykarz commented on #364
Currently, we're using code from PnPjs to handle parsing modern page HTML to objects. Because that's the only part that we're using from PnPjs, we grabbed the relevant pieces and its dependencies which you can find at https://github.com/pnp/office365-cli/blob/7e1dfe5d96bfd09951e859b9efa9eae1f522853a/src/o365/spo/commands/page/clientsidepages.ts

[2018-09-16 18:08] kshsbala commented on #364
Thanks @waldekmastykarz, I have extended this for adding a section. I was thinking whether we can have a common helper so that both can use the same datatype, helper methods....which cane be used for all the commands.

[2018-09-16 18:55] waldekmastykarz commented on #364
Adding a section should be possible using the code from clientsidepages.ts if I'm not mistaken, so we shouldn't need an additional helper class. Totally understood if you're not using that now though.

[2018-09-19 11:38] waldekmastykarz opened #612 "Consider adding `npm dedupe` to project upgrade instructions"
When upgrading SPFx projects from one version to another, when you need to upgrade one or more npm packages, often you end up with a bunch of TS errors about duplicate incompatible types. I found out, that running `npm dedupe` after upgrading packages, solves this issue and prevents you from having to delete node_modules and the lock file. Should we consider adding `npm dedupe` to the set of upgra

[2018-09-19 12:57] wobba commented on #612
Sounds like a good plan to me! If this solves me not having to nuke the modules folder at times I'm all for it :)

[2018-09-19 12:57] baywet commented on #612
I've not run into that issue so far and I've upgraded a few projects over the last few weeks. It might be related to the fact I'm using node 10 (with npm 6.4), which is not officially supported by SPFX but I found works much better with installations, package-lock creation and a few other things like that.
As far as I know npm install was already supposed to do some level of deduplication https://

[2018-09-19 14:07] waldekmastykarz commented on #612
If we did it as an optional step, how would that be handled with the shortened command that you've added recently @baywet?

[2018-09-19 14:16] baywet commented on #612
the regex I built only matches npm un and npm i so npm dedupe should not be considered for shortening. The only thing to adapt would be this https://github.com/pnp/office365-cli/blob/7e1dfe5d96bfd09951e859b9efa9eae1f522853a/src/o365/spfx/commands/project/project-upgrade.ts#L347 as far as I can see

[2018-09-19 14:27] waldekmastykarz commented on #612
I could add it as optional and see how it gets surfaced in the report

[2018-09-19 17:18] kshsbala commented on #587
Hi @waldekmastykarz, Can I have a look into this?

[2018-09-19 18:03] waldekmastykarz commented on #587
All yours!

[2018-09-20 19:40] waldekmastykarz commented on #568
Closing due to lack of response

[2018-09-21 08:53] wictorwilen opened #615 "New command: add a Microsoft Team"
Create a new MIcrosoft Teams team

We have two options:
1) using the  `o365group add` and `teams add` - that is first create the group and then add a team to it. Which is how Microsoft Graph works and how the API's is exposed.

command; `teams add --groupId <groupId> [..additional settings]`
groupId: id of the group

OR

2) using just `teams add` which would optionally take a group id as parameter

[2018-09-21 11:33] aaronhawryluk commented on #568
Hi @waldekmastykarz, sorry, I didn't see your response. Node is version 8.12.0. Npm is version 6.4.1.

[2018-09-21 12:39] waldekmastykarz commented on #568
Are you behind a firewall or on a specific network that might be blocking the git protocol?

[2018-09-21 12:41] waldekmastykarz commented on #615
I'd vote for 2). Even if creating the team would fail, you could still add it afterwards by passing the ID of the group created previously.

[2018-09-21 12:41] aaronhawryluk commented on #568
I am behind a firewall but my proxy information is set in my global git prefs and git works fine normally. I will try this on an open network later today and see if anything is being blocked.

[2018-09-21 17:04] sympmarc opened #616 "Errors after upgrading to SPFx 1.6.0 (beta)"
I've upgraded one of my projects to SPFx 1.6.0 using the @next version of the CLI. After following all the steps, I'm seeing errors when I run gulp serve which look like they come from the updates to tsconfig.json.

I'm attaching the output of the command:
`office365 spfx project upgrade --toVersion 1.6.0`
as well as the tsconfig.json file after I made the changes and the errors I see in the termi

[2018-09-21 17:08] sympmarc commented on #612
I'm not sure if this is connected or not, but after I run each npm command, I get messages similar to this:
[code]
The number of vulnerabilities seems consistent. Is this just par for the course (my guess)?

[2018-09-21 17:14] sympmarc opened #617 "Upgrade SPFx - add --package-manager option"
As with
`yo @microsoft/sharepoint --package-manager pnpm`
it would be great to get the commands with the right package manager. It's not hard to edit the commands  manually, but there may be some syntactical differences over time.

The current options are:

(See: https://docs.microsoft.com/en-us/sharepoint/dev/spfx/toolchain/scaffolding-projects-using-yeoman-sharepoint-generator)

[2018-09-21 18:28] waldekmastykarz commented on #616
`include` and `exclude` shouldn't be under `compilerOptions` but rather on the same level.

You can see the difference when you compare two findings, one that involves changing the `compilerOptions` section and one that refers to adding a property on the root level of the JSON file:

### FN012011 tsconfig.json compiler options outDir | Required

Update tsconfig.json outDir value

In file [./tsconf

[2018-09-21 18:29] waldekmastykarz commented on #617
Good suggestion!

[2018-09-21 18:31] waldekmastykarz commented on #612
What you're seeing @sympmarc is something different. Audited dependencies are not related to duplicate packages and the reported vulnerabilities depend on what's currently tracked in the vulnerabilities database used by npm.

[2018-09-21 18:33] sympmarc commented on #616
Doh! I honestly thought that was what I did.

To make it easier, I wonder if you could show the whole file with the changes required highlighted. You're showing JSON snippets without the surrounding context and that's probably part of what caused me to make the mistake. Unfortunately, there's no good way to highlight lines of code in markdown, right?

[2018-09-21 18:35] waldekmastykarz commented on #616
I can definitely see it be clearer to highlight the affected lines like you mentioned. I don't think vanilla markdown has anything for that, but maybe there are some other options that we could use. Let's investigate it 💪

[2018-09-21 18:52] sympmarc commented on #612
That was my guess. I'm wondering if there's a logical place in the docs to explain the fact that the the vulnerability messages may show up and what to think about them? It's tempting to try to clean them up with `npm audit fix`, but that's likely to cause other issues.

[2018-09-21 19:07] waldekmastykarz commented on #612
Ideally, that would belong in the SPFx docs as it's something that's been coming up, and will be coming up in each SPFx version no matter if you're creating a new project or upgrading an existing one.

[2018-09-22 11:11] #606 closed

[2018-09-22 11:13] #364 closed

[2018-09-22 11:14] #597 closed

[2018-09-22 11:15] #612 closed

[2018-09-22 17:43] waldekmastykarz commented on #591
Thinking about it, the challenge with showing only the file name and all resolutions grouped per file is that it would be impossible for you to tell the difference between adding something to the file and removing something from it. Currently the resolution shows the affected code but whether you should add that to the particular file or remove from it is included in the finding's description. So

[2018-09-24 11:58] baywet commented on #581
we could create a inexact dependency rule that instruct users to enter `npm i package@5.X -S`, and then put back the different arrays I had in the part I was "compressing" the commands. I can take it on if you want.

[2018-09-24 12:50] waldekmastykarz commented on #581
How would this rule deal with a case where package.json says ~5.0.0 but the latest version is 5.0.1 which meets the rule and which wouldn't trigger the upgrade?

[2018-09-24 13:14] baywet commented on #581
you're right it wouldn't solve the issue. Besides a save (which translates by a caret), a save exact (which translated by the exact version number) and a range (which saves the range) there doesn't seem to be a way anymore to save a tilde in the package.json even if you specify it in the command `npm i package@~5.0.0`.
I think the only way to have full fidelity would be to build some kind of grep/

[2018-09-24 14:19] waldekmastykarz commented on #581
With that approach, we'd also need to remove the lockfile, which would otherwise prevent parsing  package.json. Given the trade-offs I'd say, let's not do it for now, even if it means that your project file is a bit different than if you created a new project.

[2018-09-24 14:31] waldekmastykarz commented on #581
If you look back at the previous versions of SPFx, the same applied to the core packages as well. And it might get hard to get it fool-proof for a case like, in SPFx@1.4.0, all core packages were referenced by ~1.4.0. Back then, when you created the project, you'd get 1.4.0. If you installed the same project today, you'd get 1.4.1, which would give you a different project than what you'd get origi

[2018-09-26 00:11] baywet commented on #581
One could argue that if they properly followed semver, a patch bump should not contain any breaking change. But I don't want to digress.
I think we can assume that most open source packages properly implement semver and a patch or minor bump should not be an issue. We should also be able to assume that if Microsoft didn't lock down that specific package, they trust that minor changes to it should

[2018-09-26 05:49] waldekmastykarz commented on #581
Let's skip it for now. Let's keep an eye out on future updates. If we ever stumble upon any problems, we can reiterate this discussion and see what the best approach would be.

[2018-09-26 12:15] baywet commented on #581
thanks for taking the time to discuss this item. closing for now

[2018-09-26 12:15] #581 closed

[2018-09-29 18:08] waldekmastykarz commented on #579
Sorry, totally missed your question. Using the get command to show the details is definitely the way to go.

[2018-10-01 01:31] mpowney opened #625 "spo customaction set with --clientSideComponentProperties param results in invalid JSON object"
Running the command:

[code]

Results in the following when running the corresponding get command:

[code]

Expected behaviour:
* The value of the ```ClientSideComponentProperties``` property should be a valid JSON object
* When the value is parsed by SPFx app customizer code that inherits from the ```BaseApplicationCustomizer``` object - the ```properties``` object should be hydrated with the "te

[2018-10-01 08:10] mpowney commented on #625
Adding --debug to the ```o365 spo customaction set``` command call shows the body payload of the ```_api/<scope>/UserCustomActions``` call is as follows:
[code]

Tried escaping the ```-p``` parameter in different ways, e.g.
* `{'testMessage':"Test message"}`
* '{\"testMessage\":\"Test message\"}'

But none of these seem to work either.

If I re-run the same API call in Postman, with the following

[2018-10-01 09:52] VelinGeorgiev commented on #625
@mpowney  have a look at the REMARKS here, https://pnp.github.io/office365-cli/cmd/spo/customaction/customaction-add/#remarks.

That might help you.

[2018-10-01 16:41] waldekmastykarz commented on #625
@mpowney which OS and shell are you running into this? We could see if we can clarify this in the command's help. As @VelinGeorgiev noted, different shells handle it differently so not sure if there is one way across all shells, but if we know the differences, then we can document them.

[2018-10-01 19:32] mpowney commented on #625
The shell was node js command prompt on Windows 10. I think I tried escaping the double quotes with no luck. I’ll confirm which escape sequences I’ve tried later today.

W

[2018-10-01 20:08] VelinGeorgiev commented on #625
@mpowney  have you tried with what we have in the remarks. I am with Windows 8.1 and it worked for me using the Windows shell.

[2018-10-01 20:46] VelinGeorgiev commented on #625
I will have a look asap and try to reproduce it

[2018-10-02 17:55] waldekmastykarz commented on #625
One we have it sorted out, we should have a dedicated page in the docs for this 🧐

[2018-10-03 15:42] joelfmrodrigues opened #626 "tslint.json"
I have used the CLI to test the update of a project from 1.5.1 to 1.6.0 and all seems to be working, with the exception of the tslint.json file.

The script generated contained an instruction to remove the old file from the config folder, but didn't give me the instructions to the new file at the root.
I assume this was because my solution already had a tslint.json file at the root (with different

[2018-10-03 18:07] waldekmastykarz commented on #625
FWIW, when using the CLI in zsh on macOS, I can pass a JSON string like:

[code]

[2018-10-03 18:13] baywet opened #627 "Support pipe into commands"
Let's assume somebody wants to write the following command `spo site list | spo app install` (imagine some filters in the site collection selection and an app id provided).
Today that's not possible because commands don't support pipe input.
More context https://github.com/pnp/office365-cli/pull/624#issuecomment-426727846

[2018-10-03 18:28] waldekmastykarz commented on #627
I can have a look to see what's possible in vorpal, the engine behind the CLI. Meanwhile, how would we decide what could be passed through the pipe? For the `spo app install` command you mentioned above, it could be just as convenient to pass the list of sites or the list of apps.

[2018-10-03 18:33] baywet commented on #627
As far as I remember from my PowerShell cmdlet development, the way it's done in PS is you handle it through declaring the types that can be piped in and testing the type when you get something. You can also declare associations between parameters and piped types so if I'm piping a bunch of site collections, the site parameter is disabled (for auto-completion/availability).

[2018-10-03 18:33] baywet commented on #627
I'm not sure how vorpal works but it'd be cool to have a similar behavior if we could

[2018-10-03 18:52] waldekmastykarz commented on #627
That's true, but if I'm not mistaken, everything that's coming through a pipe in Bash is a string. If we have distinct input types such as id (guid) and site URL then detecting the type of input parameter could just work. Either way, it's something that we could decide per command. Good idea 👍 I'll have a look at what's possible.

[2018-10-03 20:35] joelfmrodrigues commented on #626
What I thought, but raised the item anyway in case you guys wanted to do something about it.
Closing the item. Thanks Waldek

[2018-10-03 20:35] #626 closed

[2018-10-03 21:11] VelinGeorgiev commented on #625
Here are my findings for tonight:
Windows 8.1
[code]
Works for:
- cmder (ConEmu [64] (version 171025))
- Windows command prompt

Does not work for:
- Windows PowerShell.exe - Error: 500. The body in the request is `{"ClientSideComponentProperties":"{"}`

#### I managed to make it work with the Windows PowerShell using:
[code]
Body request is
[code]

Seems the web service is able to convert single

[2018-10-04 17:29] waldekmastykarz commented on #626
Thank you for bringing it up @joelfmrodrigues 👏

[2018-10-04 17:35] waldekmastykarz commented on #625
Thanks for the detailed findings @VelinGeorgiev! @mpowney, does that help or are there some cases that we haven't covered yet?

[2018-10-04 19:13] VelinGeorgiev commented on #625
I am thinking if there isn't a way to create a smart guessing functionality in case JSON parse fails before the post request and try to fix the quotes from within a CLI function. However, this may still not cover all the cases and could be more complex that I initially think would be.

[2018-10-04 19:32] waldekmastykarz commented on #625
From what I've seen, the first part of processing quotes happens already in the shell so if incorrectly quoted JSON string is passed into the CLI, it might be tough to make something out of it.

[2018-10-06 18:17] waldekmastykarz commented on #627
I had a look at it and indeed, bash doesn't have the notion of objects. Instead, what you get is a string. So if you wanted to pipe the output of one CLI command to another, using the JSON output would be the way to go. From the CLI point of view, the underlying tech supports it, so we'd need to implement the base support for processing stdin and then handle it on a per-command basis.

[2018-10-06 18:36] baywet commented on #627
I think that's a good plan. To keep the type information maybe we could leverage the odata type property? Add it when serializing for pipe output and then read it on the input to determine what we're getting?

[2018-10-07 10:55] waldekmastykarz commented on #627
Very nice suggestion! It would work perfectly when chaining multiple CLI commands together. I wonder if we could extend the identity (talking in PowerShell terms 😉) to support single properties like URL or GUID as well. This would be helpful in cases where you want to pipe a list of URLs or IDs which aren't complete odata objects and don't have a type designation.

[2018-10-07 12:06] #549 closed

[2018-10-07 12:07] #591 closed

[2018-10-07 12:08] #598 closed

[2018-10-07 12:08] #600 closed

[2018-10-07 12:09] #601 closed

[2018-10-08 06:34] StfBauer opened #630 "SPFx: project upgrade should return a state beside error and log"
Currently, in the callback of the project upgrade, only log and error get returned. This allows the following scenarios.

**Case 1: Cannot downgrade:** current project is newer than the generator - **ERR** filled but not **LOG**
**Case 2: All good:** Current project matches generator - **ERR** filled but not **LOG**
**Case 3: Upgrade required:** Current project is older and needs to be upgraded -

[2018-10-08 06:36] waldekmastykarz commented on #630
This is a good point, especially when you think of integrating CLI in other solutions and need more information than a faulty error code.

[2018-10-08 18:50] waldekmastykarz commented on #630
@StfBauer could you please check if #631 has the information you'd need?

[2018-10-10 05:51] #630 closed

[2018-10-12 18:18] waldekmastykarz commented on #283
Hey @VelinGeorgiev, are you still working on this?

[2018-10-12 18:19] waldekmastykarz commented on #304
Setting back as help wanted due to lack of response

[2018-10-12 18:20] waldekmastykarz commented on #587
Hey @kshsbala, are you still working on this?

[2018-10-12 18:21] waldekmastykarz commented on #594
Hey @phawrylak, are you still working on this?

[2018-10-12 18:21] waldekmastykarz commented on #595
Hey @phawrylak, are you still working on this?

[2018-10-13 08:06] kshsbala commented on #587
Hi @waldekmastykarz , yes...still working on it. I will let you know with an update by end of tomorrow.

[2018-10-13 16:57] #602 closed

[2018-10-13 16:58] #590 closed

[2018-10-13 16:58] #603 closed

[2018-10-13 17:00] #301 closed

[2018-10-13 17:00] #604 closed

[2018-10-14 20:11] kshsbala commented on #587
Hi @waldekmastykarz, Almost completed. I will do the pull request tomorrow.

[2018-10-14 20:39] kshsbala commented on #588
Can I start looking into this?

[2018-10-15 09:28] appieschot commented on #302
@waldekmastykarz we currenlty use `spo cdn set with --enabled false` to disable the CDN option. For site classification the suggestion is `graph siteclassification disable --confirm`.

It feels like we should use one and the same approach although I do not have a preference for either one. What would you prefer?

[2018-10-15 13:58] waldekmastykarz commented on #302
Let's stick with `graph siteclassification disable --confirm` for now. Thanks for checking 👍

[2018-10-15 13:59] waldekmastykarz commented on #588
All yours!

[2018-10-15 15:08] juliemturner opened #636 "SPFX Upgrade instructions: TSLint change to file that should be deleted"
SPFX Upgrade documentation to 1.6.0 includes removing the ./config/tslint.json file, but later in the instructions includes modifying the schema property of that file.

[2018-10-15 16:58] waldekmastykarz commented on #636
That's a correct observation @juliemturner. It's currently the consequence of the current design (deduping rules based on their IDs rather than on what they do), but if you have an idea how we could improve it, I'm open for suggestions 😃

[2018-10-16 09:27] phawrylak commented on #595
Hi @waldekmastykarz, yes, a little busy again, but I should be able to finish it to the end of this week.

[2018-10-16 09:28] phawrylak commented on #594
Hi @waldekmastykarz, yes, a little busy again, but I should be able to finish it to the end of this week.

[2018-10-17 01:36] ktskumar opened #637 "office365-cli installtion failed"
Hi,

When I am installing @pnp/office365-cli through PowerShell in Windows 10, I am getting the following error message,

PS E:\> npm install @pnp/office365-cli -global
npm ERR! code ENOGIT
npm ERR! Error while executing:
npm ERR! undefined ls-remote -h -t ssh://git@github.com/pnp/vorpal.git
npm ERR!
npm ERR! undefined
npm ERR! No git binary found in $PATH
npm ERR!
npm ERR! Failed using git.
npm E

[2018-10-17 10:40] waldekmastykarz commented on #637
Could it be that installing npm packages over ssh is blocked in your organization/on your machine?

[2018-10-17 16:02] ktskumar commented on #637
I am running this command from my personal machine and ssh is not blocked here. Because I can install other npm packages.

[2018-10-17 17:56] waldekmastykarz commented on #637
As stated in your error message:

At this moment, we reference one of the dependencies directly from GitHub which requires the git binary to be installed and referenced in your $PATH environment variable. We're considering publishing it to npm to avoid such issues in the future. Thanks for bringing it up.

[2018-10-18 21:47] VelinGeorgiev commented on #283
I do , but there are too much pieces to be implemented. Even with the code from Robert I still have to do a fair bit of work.

I am working to ensure the folder tree that is specified for the folder options exists and also have to implement list item values specification.

[2018-10-21 17:48] #587 closed

[2018-10-21 17:49] waldekmastykarz commented on #637
This issue should be fixed in the latest beta.

[2018-10-21 17:49] #637 closed

[2018-10-22 20:55] arjenbloemsma commented on #304
Hey @waldekmastykarz, back from vacation, so feel free to assign this one to me 😄

[2018-10-23 09:34] appieschot opened #640 "Graph siteclassification get missing GuestUsageGuidelinesUrl"
The siteclassification allows for retrieving and setting the GuestUsageGuidelinesUrl.

When using the  `graph siteclassification get ` option the value for GuestUsageGuidelinesUrl is ignored and not presented to the user.

Suggested approach is to add return this value as well.

You can assign this one to me

[2018-10-23 10:18] arjenbloemsma commented on #304
Hi @ypcode, in that case I think the best option would be that you finish the laat bits.

@waldekmastykarz just assign me any of the other open issues and i’ll start working on that one 😎

[2018-10-23 11:10] appieschot commented on #304
@ypcode tests can be found in current beta release, they might help you speed things up!

[2018-10-23 12:01] appieschot commented on #304
If needed I can pick it up as well as I have done the other settings as well, should be enough to choose from ;-)

[2018-10-23 12:33] bpringe commented on #636
I'm just going to note this here, but it may need to be a separate issue (I'll create it if you think so). I just ran into the issue @juliemturner noted, and also noticed that when we update the tslint.json schema URL in the later instruction, after adding the new tslint.json file at the root of the project, it complains that property "rules" is not allowed, even though we were instructed to add i

[2018-10-23 17:56] waldekmastykarz commented on #304
Assigning to @arjenbloemsma for now. Thanks guys, you rock! 💪

[2018-10-23 18:00] waldekmastykarz commented on #636
@bpringe Looking at your screenshot, I see that you have the `$schema` property in there. If I look at the finding reported by the CLI, there is no `$schema` in the contents of the `tslint.json` file to create in the root. Could you see if you still get the issue, when you remove the `$schema` property?

[2018-10-24 12:28] bpringe commented on #636
@waldekmastykarz Hmm.. I'm pretty sure I copied and pasted that from the upgrade instructions from the CLI, but I ran the upgrade report on another branch of my project and indeed I do not see it in the report. Sorry! I don't know how/why I put that in there. Thanks!

[2018-10-24 20:44] waldekmastykarz commented on #636
Not a problem! Thank you for double checking @bpringe!

[2018-10-27 18:09] #302 closed

[2018-10-27 18:09] #640 closed

[2018-10-27 18:10] #605 closed

[2018-10-28 15:17] arjenbloemsma commented on #589
@waldekmastykarz You can assign this one to me

[2018-10-28 17:38] waldekmastykarz commented on #589
Excellent!

[2018-10-29 08:54] arjenbloemsma commented on #589
Hi @wictorwilen,

Should the option 'messageId' be optional or required? If we make it optional this would mean that if the user does not provide this we will retrieve all messages from the given channel. Is this how you had that in mind Wictor?

[2018-10-29 11:59] waldekmastykarz commented on #589
In the CLI `get` commands always retrieve a single item, so messageId is required. If we want to retrieve multiple messages, then that would go to a `list` command.

[2018-10-30 19:55] waldekmastykarz commented on #627
@andrewconnell and I had a discussion about this lately and we couldn't find examples of other CLIs doing this. It seems like such behavior (piping complex output of one command to another) is something specific to PowerShell. CLIs are typically used in scripts where the values are assigned to and passed via variables. So while adding support for piping could be done, it might be confusing for fol

[2018-10-30 19:58] andrewconnell commented on #627
Piping isn't something you do with CLI's... that's a POSH concept. If you want to pipe, use POSH, but  POSH-*ifying* a CLI isn't the right approach for the target audience.

What you're describing is done using a bash script, not by introducing support for piping with the CLI.

I fully acknowledge some bash commands support limited piping, but this opens up a can of worms.

[2018-10-30 20:16] waldekmastykarz commented on #625
Closing for the lack of further discussion

[2018-10-30 20:16] #625 closed

[2018-10-30 20:17] waldekmastykarz commented on #568
Closing due to lack of response

[2018-10-30 20:17] #568 closed

[2018-10-30 21:51] baywet commented on #627
From what I remember if the ages before powershell (and yes I was young so memories might be blurry) one of the big advantages of bash over the windows command prompt was it's much better pipe support and tooling around it (see, grep...).
Now I might be mistaking but I can see a "bash aficionado" having a file full of site urls or something similar, greping it and then piping that into one of the

[2018-10-31 10:55] VelinGeorgiev commented on #405
Hey @andrewconnell, do you mind if I pickup your [branch](https://github.com/andrewconnell/office365-cli/tree/almapi-spsite-support-405) and complete the command. I can see that you almost completed it.

The reason: I am planning workshop on 10 of November on automating the SPFx pipeline and my intention is to use the Office 365 CLI with site app catalogs.

[2018-10-31 17:52] andrewconnell commented on #405
No problem at all... there's no chance I'll get to it by then...

[2018-10-31 19:01] waldekmastykarz commented on #627
Looking at your original example `spo site list | spo app install`, that wouldn't work, even in PowerShell, because you'd need to pass each list separately rather than a list of lists.

Where it would make perfect sense I think is for things like JSON theme file or certificate contents, or contents of a script to set on a custom action, where you want the whole large string to be passed as-is with

[2018-10-31 19:38] waldekmastykarz commented on #627
Even for things like JSON files of JS scripts?

[2018-10-31 19:54] VelinGeorgiev commented on #405
Thanks @andrewconnell! No worries, I should be able to sync it in no time.

[2018-10-31 19:59] waldekmastykarz opened #647 "New command: add API permission grant"
List content types configured on the list

command: `spo serviceprincipal grant -r|--resource <resource> -s|--scope <scope>`
- resource: The name of the resource for which permissions should be granted
- scope: The name of the permission that should be granted

[2018-10-31 20:40] baywet commented on #627
@waldekmastykarz to reply to your comment around the sample command I provided, yes in PS I'd have to use a % {$_ } syntax (a foreach basically). The equivalent syntax in bash looks much more verbose and from my readings people tend to use scripts then when they want to do something like that as AC mentioned.
So yeah maybe we could start with trivial ones, like the files and see from there?

[2018-10-31 20:52] waldekmastykarz commented on #627
If I look at the amount of trouble quotes are causing, it would be helpful if we could alleviate it.

[2018-11-01 03:49] ktskumar commented on #637
Great. 👍

[2018-11-01 10:17] VelinGeorgiev commented on #637
I tested it on a fresh Windows 10 with proxy and no git installed. Worked for me.

[2018-11-01 11:03] arjenbloemsma opened #649 "New command: spo tenant deletedsite list"
Lists the deleted site collections in the tenant recycle bin.

Command: spo tenant deletedsite list

Options:
--includePersonalSite [includePersonalSite] | Include Personal Sites with the returned results (switch parameter like --verbose)
--includeOnlyPersonalSite [includeOnlyPersonalSite] | Only include Personal Sites in the returned results (switch parameter like --verbose)

For each deleted sit

[2018-11-01 11:05] arjenbloemsma commented on #649
@waldekmastykarz Is my assumption correct that convention dictates that switch parameters like '--verbose' don't have a shorthand version?

If you agree with this proposal then please assign to me.

[2018-11-01 18:56] waldekmastykarz commented on #649
What do you think if we added it to the existing [spo site classic list](https://pnp.github.io/office365-cli/cmd/spo/site/site-classic-list/) command? That way, it would be in sync with the [spo site classic remove](https://pnp.github.io/office365-cli/cmd/spo/site/site-classic-remove/) command which already has the ability to remove things from the recycle bin.

[2018-11-02 06:36] arjenbloemsma commented on #649
Wouldn't that be confusing? Since - if I understood correctly - most of the times we use the SPO Powershell cmdlets as 'examples' on how to implement a certain functionality in the CLI. So in this cases I looked at the cmdlet 'Get-SPODeletedSite' which fires a query which make no difference between a classic or a modern site and thus will return all site collections in the recycle bin; classic as

[2018-11-02 13:57] arjenbloemsma opened #650 "New command: spo list webhook remove"
Removes the specified webhook from the list

Command: `spo list webhook remove [options]`

Options:

-u, --webUrl &lt;webUrl&gt; | URL of the site where the list to remove the webhook from is located
-l, --listId [listId] | ID of the list from which the webhook should be removed. Specify either id or title but not both
-t, --listTitle [listTitle] | Title of the list from which the webhook should b

[2018-11-02 13:59] arjenbloemsma commented on #650
As mentioned [here](https://github.com/pnp/office365-cli/issues/579#issuecomment-419820831) and [here](https://blog.mastykarz.nl/office-365-cli-1-7-0/)

Belofte maakt schuld he 😉

[2018-11-02 14:00] arjenbloemsma commented on #650
And feel free to assign this to me @waldekmastykarz

[2018-11-02 14:34] arjenbloemsma opened #651 "New command: spo list webhook set"
Updates the specific webhook

Command: spo list webhook set [options]

Options:

-u, --webUrl &lt;webUrl&gt; | URL of the site where the list to remove the webhook from is located
-l, --listId [listId] | ID of the list which contains the webhook which should be updated. Specify either id or title but not both
-t, --listTitle [listTitle] | Title of the list which contains the webhook which should b

[2018-11-02 14:56] arjenbloemsma opened #652 "New command: spo list webhook add"
Adds a new webhook to the specified list

Command: spo list webhook add [options]

Options:

-u, --webUrl &lt;webUrl&gt; | URL of the site where the list to add the webhook to is located
-l, --listId [listId] | ID of the list to which the webhook which should be added. Specify either id or title but not both
-t, --listTitle [listTitle] | Title of the list to which the webhook which should be added

[2018-11-05 20:32] phawrylak opened #657 "Use pnpjs to make requests"
Currently requests are prepared manually for each command. @waldekmastykarz, is there any reason for not using pnpjs to do that? It would simplify code a lot.

[2018-11-06 03:31] baywet opened #658 "spfx upgrade: MS Graph Client from 1.5.1-plusbeta"
Repro:
- Have a project from 1.5.1 (with plus beta)
- Implement a graph call (see sample)
- Tested with cli version 1.8.0

Issue:
The cli doesn't instruct to update the code when it does it for the AADHttpClient

Expected:
The report to contain instructions to update my code.

Sample
[code]
Should be
[code]

[2018-11-06 16:44] arjenbloemsma commented on #649
Well, you missed this "hidden gem" in Office 365 where it all depends how the modern site is created and deleted. 🤓

I took the following steps to create a modern team site, that will show up in the list of deleted sites that the Get-SPODeletedeSite cmdlet will generate:

1. Create a new team via MS Teams, which will also create a modern site. <img width="609" alt="createsite" src="https://user-im

[2018-11-06 20:10] waldekmastykarz commented on #657
We've discussed this in the past already. It would simplify requests as you mentioned, but:
- only for SharePoint, we're supporting other services as well, so it would require us to use two different approaches for requests and tests, making it harder to reuse code across the CLI
- it would require contributors to learn PnPjs before they can help, not everyone might know it already
- it would requ

[2018-11-06 20:11] waldekmastykarz commented on #658
This is by design. At this moment, the CLI doesn't support upgrading plusbeta projects.

[2018-11-06 20:12] waldekmastykarz commented on #649
So this is indeed interesting behavior. @VesaJuvonen, care to shed some light if this is desired behavior?

[2018-11-06 20:54] baywet commented on #658
Thanks for the reply. Is it something we want to support in the future or just leave it like that?

[2018-11-07 18:01] waldekmastykarz commented on #658
We discussed it previously with @wobba in #583. The challenge is, that currently, we have a linear upgrade path, in which we can't squeeze plusbeta. So if we were to support this, we'd need to find a way to fit it in.

[2018-11-07 18:04] baywet commented on #658
So recommendation I got for the AadHttpClient was actually coming from a rule for 1.4.1 then? Could we consider the 1.5.1 plus beta version like a "1.5.2" more or less or do you see other challenges?

[2018-11-08 13:47] waldekmastykarz commented on #658
According to Microsoft, there is no guarantee that whatever is in a plusbeta will be included in the next release. So such assumption could lead to incorrect upgrade report. What you could do is to update the version in .yo-rc.json to the version without plusbeta and leave the rest of the project as-is. There is still a chance that you might get some incorrect upgrade suggestions, because we haven

[2018-11-08 13:57] baywet commented on #658
hum ok so we might end up in a dead end in some cases with plusbeta based solutions.
I think I'm ok with that, I think we can assume people on plusbeta know what they are doing, that they were testing a specific aspect of SPFX and know what's the upgrade path (if any is required/exists).
Thanks for the discussion! Closing

[2018-11-08 13:57] #658 closed

[2018-11-08 14:08] waldekmastykarz commented on #658
That was exactly the thinking! Thanks for checking and sharing thoughts!

[2018-11-08 18:50] waldekmastykarz opened #661 "New command: update existing list or site column"
Update exiting list or site column

command: `spo field set -u|--webUrl <webUrl> -l|--listTitle [listTitle] -i|--id <id> --updateExistingLists`
- webUrl: Absolute URL of the site where the field is located
- listTitle: Title of the list where the field is located (if it is a list column)
- id: The ID of the list or site column to update
- updateExistingLists: Set to push the update to existing lis

[2018-11-08 19:02] waldekmastykarz opened #662 "New command: update existing list view"
Update exiting list view

command: `spo list view set -u|--webUrl <webUrl> --listTitle [listTitle] --listId [listId] --viewTitle [viewTitle] --viewId [viewId]`
- webUrl: Absolute URL of the site where the list is located
- listTitle: Title of the list where the view is located. Specify listTitle or listId but not both
- listId: ID of the list where the view is located. Specify listTitle or listId

[2018-11-08 20:48] waldekmastykarz opened #663 "Add support for upgrading SharePoint Framework projects to v1.7.0"
Add support for upgrading SharePoint Framework projects to v1.7.0

[2018-11-09 18:33] #663 closed

[2018-11-11 09:12] #304 closed

[2018-11-11 09:12] #589 closed

[2018-11-11 09:13] #647 closed

[2018-11-11 09:14] #650 closed

[2018-11-11 09:15] #662 closed

[2018-11-11 09:15] #661 closed

[2018-11-11 14:06] waldekmastykarz commented on #594
Hey @phawrylak, are you still working on this?

[2018-11-11 20:14] phawrylak opened #668 "New command: Remove content type from list"
Remove content type from list

command: `spo list contenttype remove -u|--webUrl <webUrl> --listId [listId] --listTitle [listTitle] --contentTypeId <contentTypeId>`

- webUrl: URL of the site where the list is located
- listId: ID of the list from which to remove the content type, specify listId or listTitle but not both
- listTitle: Title of the list from which to remove the content type, specify

[2018-11-11 22:35] phawrylak opened #670 "New command: Remove content type from site"
Remove content type from site

command: `spo contenttype remove -u|--webUrl <webUrl> --contentTypeId <contentTypeId> --confirm`

- webUrl: URL of the site from which to remove content type
- contentTypeId: ID of the content type to remove from site
- confirm: Don't prompt for confirming removing the content type from site

[2018-11-11 22:55] phawrylak opened #671 "New command: Move a file to a different location"
Move a file to another location

command: `spo file move -u|--webUrl <webUrl> -s|--sourceUrl <sourceUrl> -t|--targetUrl <targetUrl> --deleteIfAlreadyExists`

- webUrl: The URL of the site where the file is located
- sourceUrl: Site-relative URL of the file to move
- targetUrl: Server-relative URL where to move the file
- deleteIfAlreadyExists: If a file already exists at the targetUrl, it will be

[2018-11-11 23:09] phawrylak opened #672 "New command: Move a folder to another location"
Move a folder to another location

command: `spo folder move -u|--webUrl <webUrl> -s|--sourceUrl <sourceUrl> -t|--targetUrl <targetUrl>`

- webUrl: The URL of the site where the folder is located
- sourceUrl: Site-relative URL of the folder to move
- targetUrl: Server-relative URL where to move the folder

[2018-11-12 21:09] VelinGeorgiev commented on #672
@phawrylak, I would recommend looking at the copy folder command. It can look the same as the copy command with switching few params for the CreateCopyJobs API.

[2018-11-12 21:10] VelinGeorgiev commented on #671
@phawrylak, I would recommend looking at the copy file command. That one can look similar as the copy command with switching few params for the CreateCopyJobs API.

[2018-11-12 23:33] phawrylak opened #673 "New command: Remove a site column from a content type"
Remove a site column from a content type

command: `spo contenttype field remove -u|--webUrl <webUrl> -c|--contentTypeId <contentTypeId> -f|--fieldId <fieldId> --confirm`

- webUrl: Absolute URL of the site where the content type is located
- contentTypeId: ID of the content type from which the field reference should be removed
- fieldId: ID of the field to which the reference should be removed
-

[2018-11-13 00:01] phawrylak opened #674 "New command: Set the default content type for a list"
### Usage

`spo list contenttype default set [options]`

### Description

Set the default content type for a list

### Options

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `-u, --webUrl <webUrl>` | URL of the site where the list is located |
| `--listId [listId]` | ID of the list on which to set d

[2018-11-13 00:28] phawrylak opened #675 "New command: Enable a feature"
Enable a feature on site collection

command: `spo site feature add -u|--url <url> -f|--featureId <featureId> --force`

- url: The URL of the site collection on which to enable feature
- featureId: The ID of the site collection scoped feature to enable
- force: Specifies whether to overwrite an existing feature with the same feature identifier. This parameter is ignored if there are no errors.

En

[2018-11-13 00:35] phawrylak opened #676 "New command: Disable a feature"
Disable a feature on site collection

command: `spo site feature remove -u|--url <url> -f|--featureId <featureId> --force --confirm`

- url: The URL of the site collection on which to disable feature
- featureId: The ID of the site collection scoped feature to disable
- force: Specifies whether to continue if an error occurs when deactivating the feature
- confirm: Don't prompt for confirming disa

[2018-11-13 00:49] phawrylak opened #677 "New command: List enabled features"
List features enabled on site collection

command: `spo site feature list -u|--url <url>`

- url: The URL of the site collection from which to list enabled features

List features enabled on site

command: `spo web feature list -u|--webUrl <webUrl>`

- webUrl: The URL of the site from which to list enabled features

[2018-11-13 01:24] phawrylak commented on #675
Consider single command with --scope option:
`spo feature add -u|--webUrl <webUrl> -f|--featureId <featureId> -s|--scope <scope> --force`

[2018-11-13 01:25] phawrylak commented on #676
Consider single command with --scope option:
`spo feature remove -u|--webUrl <webUrl> -f|--featureId <featureId> -s|--scope <scope> --force --confirm`

[2018-11-13 01:26] phawrylak commented on #677
Consider single command with --scope option:
`spo feature list -u|--webUrl <webUrl> -s|--scope <scope>`

[2018-11-13 18:14] waldekmastykarz commented on #670
You want to take it? 😄

[2018-11-13 18:14] waldekmastykarz commented on #671
You want to take it @phawrylak?

[2018-11-13 18:15] waldekmastykarz commented on #672
You want to take it @phawrylak?

[2018-11-13 18:16] waldekmastykarz commented on #673
You want to take it @phawrylak?

[2018-11-13 18:19] waldekmastykarz commented on #674
Do you want to take it @phawrylak?

[2018-11-13 18:52] #657 closed

[2018-11-13 19:40] phawrylak commented on #670
Yes, with pleasure. 😊

[2018-11-13 19:42] phawrylak commented on #671
I will leave it for others. 😃

[2018-11-13 19:42] phawrylak commented on #672
@waldekmastykarz, I will leave it for others. 😃

[2018-11-13 19:43] phawrylak commented on #673
@waldekmastykarz, yes, I will take it.

[2018-11-13 19:43] phawrylak commented on #674
@waldekmastykarz, yes, I will take it.

[2018-11-13 19:53] phawrylak commented on #675
1. Yes, good idea. 👍
2. I think we can't get feature definitions/inactive features using REST API. I believe we can't do it even in CSOM, so we can't forge request for `ProcessQuery` too. We would have to try enable on web and if it weren't successful, we would have to try it on site. I don't think we should go this way.

[2018-11-13 19:57] phawrylak commented on #677
I'll leave this for others, so feel free to take it, guys. 😃

[2018-11-14 09:22] simonagren commented on #671
Is it ok if I'll have a look at it guys? :)

[2018-11-14 10:02] simonagren commented on #671
```spo file move -u|--webUrl <webUrl> -s|--sourceUrl <sourceUrl> -t|--targetUrl <targetUrl> --deleteIfAlreadyExists```
So then in the code we assume `IsMoveMode` to be true?

[2018-11-14 11:03] VelinGeorgiev commented on #671
I would suggest to have `--ignoreVersionHistory` param in the command so let the admin decide if they want to more the history. Defaults to true

[2018-11-14 11:05] simonagren commented on #671
@VelinGeorgiev  then I'll change it so it's the same in the spo file copy aswell? Ok to do this in the same PR in that case or should I make separate PRs?

[2018-11-14 11:07] VelinGeorgiev commented on #671
I think copy is never meant to keep your history, since it is a copy. That is why I have not included it in the command, however when you move you might want to keep the history.

[2018-11-14 11:09] simonagren commented on #671
Ok, let's go with  it :) Could you change the label for this? I'm also gonna do the move folder, gonna comment there now

[2018-11-14 11:10] simonagren commented on #672
I can take this aswell, thanks @phawrylak for easy ones to begin with :)

[2018-11-14 11:10] VelinGeorgiev commented on #671
@waldekmastykarz, could you please change the label?

[2018-11-15 07:10] simonagren commented on #672
@VelinGeorgiev I see that `AllowSchemaMismatch` is not included as an option in any of the file/folder copy/move.
Should it be?

[2018-11-15 08:15] VelinGeorgiev commented on #672
I would say, yes and the default should be false.
Perhaps @waldekmastykarz can comment on this?

[2018-11-15 08:50] simonagren commented on #672
I agree, because I think it should be an option for the user.

[2018-11-15 09:38] simonagren commented on #677
I can look at this soon :)

[2018-11-15 18:16] waldekmastykarz commented on #670
Excellent! All yours!

[2018-11-15 18:19] waldekmastykarz commented on #675
2. Actually, according to the docs, scope in Enable-PnPFeature is optional: https://docs.microsoft.com/en-us/powershell/module/sharepoint-pnp/enable-pnpfeature?view=sharepoint-ps, which is why I thought we should follow the same pattern

[2018-11-15 18:29] simonagren commented on #677
No probs man, glad to contribute in the humble ways I can :)

[2018-11-15 18:31] waldekmastykarz commented on #677
And it's very much appreciated! 👏

[2018-11-15 18:32] simonagren commented on #672
@waldekmastykarz  when you try to move from one library to another, there could be different fields on the target destination.
If there is a mismatch we just get an error.
So an AllowSchemaMismatch thats true moves/copies anyways  :)

[2018-11-15 18:33] waldekmastykarz commented on #672
Gotcha. In that case, definitely something we need. Not sure about the default value, but it feels like we should allow mismatch by default and only fail if the user explicitly specified that the schemas should match.

[2018-11-15 18:36] simonagren commented on #672
Ok! I guess because theres not error in allowing a mismatch, and the user need to be quite explicit so use these commands. It would be a better user experience if it just works, right?

[2018-11-15 18:40] simonagren commented on #672
@waldekmastykarz you can review my PRs but keep in mind I will have a look at the "mismatch" thing.
Just a question, if we need it for the `spo file copy` and `spo folder copy` I could change this in two separate PRs, for structure?

[2018-11-15 20:35] VelinGeorgiev commented on #671
It is false by default.

[2018-11-15 20:53] waldekmastykarz commented on #671
Then we should use that as the default too.

[2018-11-15 20:53] waldekmastykarz commented on #672
Yes, please do two separate PRs as it will be easier to review

[2018-11-15 20:55] waldekmastykarz commented on #672
I can wait with reviewing both PRs until you're done. I'll label them as work in progress for the time being, ok?

[2018-11-15 20:56] VelinGeorgiev commented on #671
@simonagren could you please test if `--ignoreVersionHistory` has any effect at all. Seems it might be used when the api is used to copy files just.

[2018-11-15 20:58] simonagren commented on #672
Nice! Is there a rush or is sunday ok for me to have looked at the default behavior and changed/made the PRs?:)

[2018-11-15 20:59] simonagren commented on #671
@VelinGeorgiev I will test the default behaviours, and I just asked Waldek if sunday is ok as a deadline? :)

[2018-11-15 21:00] waldekmastykarz commented on #672
No rush. We have a number of open PRs that we need to catch up on. If your commands are done when we're releasing the next beta, we'll include them. Otherwise, we'll include them in the next slot. Just let us know when you're ready.

[2018-11-15 21:00] waldekmastykarz commented on #671
No deadlines! You're ready when you're ready 😄

[2018-11-15 21:00] VelinGeorgiev commented on #672
Yes, `AllowSchemaMismatch` by default is false.

[2018-11-17 04:10] mpowney opened #680 "spo disconnect freezes with error "Could not remove account from keychain" on macOS Mojave 10.14.1"
When I execute the following:

[code]

or

[code]

I get the following output:
[code]

* Running the latest macOS Mojave 10.14.1 here, but not sure if that's related or not
* Built from the latest dev branch
* Tried running ```sudo /usr/bin/security delete-generic-password -a SPO -s SPO -D Office 365 CLI``` the same error is returned

Is anyone else able to reproduce this?

[2018-11-17 11:20] #283 closed

[2018-11-17 11:38] waldekmastykarz commented on #680
I can repro it. Let's investigate it further

[2018-11-17 16:05] waldekmastykarz commented on #680
FWIW, I'm seeing the same error, but the CLI doesn't freeze. Still, it shouldn't be there in the first place.

[2018-11-17 16:13] waldekmastykarz commented on #680
OK, having looked at it closer, it could be by design. Before connecting to a service, we first disconnect. If you weren't connected previously, there is no password to remove, which is why the command returns an error. If you are connected and disconnect, it works as expected and no error is returned. Could you confirm that this is indeed the case for you as well?

[2018-11-18 01:42] mpowney commented on #680
Perhaps the freezing behaviour is something different then.  The freezing means I can't do any SPO commands at all. If no one else can repro that, then it might be environment specific.

When I ctrl-c while it's frozen, I see the following:

[code]

... perhaps this is an indication its frozen on the app insights ping. I'll keep investigating.

[2018-11-18 02:10] mpowney commented on #680
Further investigation shows that the ```spo login``` and ```spo logout``` commands work fine.  I can't find the code path for ```spo disconnect``` so this is difficult to track down.

[2018-11-18 14:42] rfjschouten opened #685 "[Refactor] Refactor SPO duplicate ensure folder method"
The list item-add command in the SPO stack uses a private method ensureFolder. The Folder command has a FolderExtensions class with an ensureFolder method. Just like in the command file-add, the item-add should use this method instead of its own method.

[2018-11-18 14:56] rfjschouten commented on #615
@wictorwilen how are you going with this one? Can I help on this?

[2018-11-18 18:06] waldekmastykarz commented on #680
`spo disconnect` is an alias of `spo logout` so it's the same code. I wonder if it's something related to using the alias rather than the name.

Regarding the exception you mentioned, it occurs when cancelling a command in non-immersive mode. I was aware of just didn't prioritize high enough.

[2018-11-18 18:06] waldekmastykarz commented on #685
Good catch. Want to pick it up?

[2018-11-19 09:51] rfjschouten commented on #685
Yes, assign it to me @waldekmastykarz

[2018-11-19 19:30] waldekmastykarz opened #686 "Add support for adding child terms"
Extend the `spo term add` command with support for adding child terms.

`spo term add --parentTermId [parentTermId] ...`

- parentTermId: The ID of the term to use as a parent for the term to add

[2018-11-20 09:59] arjenbloemsma commented on #649
@waldekmastykarz @VesaJuvonen Any updates on this?

[2018-11-20 18:16] waldekmastykarz commented on #649
@VesaJuvonen?

[2018-11-26 09:02] #316 closed

[2018-11-26 09:10] #686 closed

[2018-11-26 13:57] phawrylak opened #688 "SPFx upgrade script doesn't work if there are spaces in path"
Upgrade script generated by `o365 spfx project upgrade` doesn't work correctly when there are spaces in path, because paths are not in quotes and spaces are not escaped.

Also I think that we should emphasize in report that this is shell (sh) script, not PowerShell script.

[2018-11-26 14:35] appieschot opened #689 "New command: List all users for a Microsoft Teams team"
List all users for a Microsoft Teams team

Command; `teams users list -i| --teamId <teamId>`

- teamId: id of the group

[2018-11-26 14:36] appieschot opened #690 "New command: Add a new user to a Microsoft Teams team"
Add a new user to a Microsoft Teams team

command: `teams user add -u| --userName [userName] -i| --groupId <groupId> -r|--role [role]`

- userName: the UPN of the user to add
- groupId: id of the group
- role: Member or Owner. Default Member

[2018-11-26 14:37] appieschot commented on #690
Feel free to assign me if you agree on spec.

[2018-11-26 14:37] appieschot commented on #689
Feel free to assign me if you agree on spec.

[2018-11-26 16:29] waldekmastykarz commented on #689
Awesome! All yours!

[2018-11-29 11:48] joaojmendes opened #691 "New Command: get / set PnPProvisioningTemplate"
This is a request to implement new commands, Get and Set PnP-ProvisioningTemplate

Thank you!

[2018-11-29 15:47] sympmarc opened #692 "Error in "spfx project upgrade""
I was upgrading a solution from 1.4.1 to 1.7, and the report told me this:

### Modify files

#### [./config/package-solution.json](./config/package-solution.json)

Update package-solution.json isDomainIsolated:

[code]
However, isDomainIsolated is not a valid property for solution in that file.

[2018-11-29 16:33] waldekmastykarz commented on #690
All yours!

[2018-11-29 16:37] waldekmastykarz commented on #691
While I understand the need, both commands depend on PnP Provisioning Engine which currently is available only on Windows. As such, we can't implement equivalent commands without implementing the whole engine in the Office 365 CLI which is not trivial. Will close this for now. If new options will emerge in the future, we can always reopen and re-evaluate the request. Thank you for bringing it up.

[2018-11-29 16:37] #691 closed

[2018-11-29 16:39] waldekmastykarz commented on #692
Do you mean it's not valid due to squiggly lines displayed in the file? If so, this is the same behavior that you get in a newly created v1.7.0 project because the schema was not updated yet. Is that what you're seeing or something else?

[2018-11-29 16:48] sympmarc commented on #692
Yeah, that's what I get. Thought it might be a bug in your logic. If not, close away.

[2018-11-30 07:03] waldekmastykarz commented on #692
Just to be sure, could you create a new v1.7.0 project and see if you're getting the same result?

[2018-11-30 21:04] waldekmastykarz opened #693 "Allow specifying page title when creating modern pages"
When creating modern pages, allow to specify the title of the page. If no title is specified, the command should automatically generate it based on the specified page name, as it does now.

[2018-12-02 10:03] waldekmastykarz opened #695 "Add support for adding child navigation nodes"
Extend the 'spo navigation node add' command with support for adding navigation nodes below existing nodes. If no parent node is specified, the navigation node should be created as a top-level node.

[2018-12-02 19:03] waldekmastykarz opened #697 "New command: Set modern page header"
Set modern page header

`spo page header set -n|--pageName <pageName> -u|--webUrl <webUrl> -t|--type [type] --imageUrl [imageUrl] --altText [altText] -x|--translateX [translateX] -y|--translateY [translateY] --layout [layout] --textAlignment [textAlignment] --showKicker --showPublishDate --kicker [kicker] --authors [authors]`

- pageName: name of the page to set the header for
- webURL: URL of the

[2018-12-04 19:15] appieschot commented on #689
Oke, so one more review while building. Suggest we stick to the implementation in teams PowerShell (https://docs.microsoft.com/en-us/powershell/module/teams/get-teamuser?view=teams-ps).

Command; `teams users list -i| --groupId <groupId>` -r| --role [Owner,Member,Guest]

@waldekmastykarz it would be the same implementation for group user list, do you want me to implement that as well?

[2018-12-05 16:52] mike-morr opened #700 "AADSTS165000: Invalid Request: The request did not include the required tokens for the user context."
➜  ~ o365 version
1.10.0

When trying to connect using:

```o365 spo login https://tenantname-admin.sharepoint.com```

I enter the device code and get prompted for username and password.  After entering the password I get the following error:

AADSTS165000: Invalid Request: The request did not include the required tokens for the user context. One or more of the user context values (cookies; form f

[2018-12-05 18:20] waldekmastykarz commented on #689
For consistency, let's stick to `teamId` instead of `groupId`. Also, let's use `user` (singular) instead of `users` to keep it consistent with our naming convention. I like the idea of specifying the role. If you can spec `group user list` as a separate issue, then we can track it separately for progress.

[2018-12-05 18:21] waldekmastykarz commented on #700
Is this a regular tenant or something specific like O365-D, government cloud, etc?

[2018-12-05 18:22] mike-morr commented on #700
@waldekmastykarz It's a regular tenant

[2018-12-05 18:22] waldekmastykarz commented on #17
Closing this one in favor of separate issues for each command for easier progress tracking

[2018-12-05 18:22] #17 closed

[2018-12-05 18:23] waldekmastykarz commented on #700
Did you setup anything specific regarding authentication, like MFA, conditional access, etc?

[2018-12-05 22:12] mike-morr commented on #700
@waldekmastykarz MFA using Duo (3rd party)

[2018-12-06 18:16] waldekmastykarz commented on #700
I had a quick look and it seems like it's an issue with AAD rather than something specific to the CLI. Have you tried looking up the error and seeing if any of the suggestions help?

[2018-12-06 18:19] waldekmastykarz opened #701 "When adding web parts, add support for setting serverProcessedContent"
For adding web parts, the CLI should allow specifying the value of the serverProcessedContent web part property. Some web parts, like Hero, use this property to store their data and without it, the web part cannot be correctly configured.

[2018-12-06 18:24] ohthreesixtyfive opened #702 "Bug: 'spo file add' removing leading zeros"
**Description:**

When adding a file and attempting to set a field (in this case a single-line of text), a value passed through with leading zeros will have those zeros removed.

**Steps to reproduce:**

[code]

**Expected:**

[code]

**Actual:**

[code]

**Additional notes (Updated: 12/6/2018):**

After further testing, this only appears to affect values that contain _only_ numerical characters.

[2018-12-07 07:50] waldekmastykarz commented on #702
Thanks for bringing it up! I'll have a look into it and hopefully we'll be able to fix it quickly. Sorry for the trouble.

[2018-12-08 11:32] waldekmastykarz commented on #702
@ohthreesixtyfive following is a note-to-self based on my investigation for documentation purposes. Nothing you need to handle or respond to 🙂

I did some investigation and the reported behavior is caused by minimist deducting the type of args values unless they're explicitly set to strings. Unfortunately, for commands that allow unknown args, we can't know the names of all string args upfront and

[2018-12-08 17:32] VelinGeorgiev commented on #702
Just as reference: we might expect similar behavior for commands 'spo listitem add' and update.

[2018-12-08 18:00] waldekmastykarz commented on #702
Basically, any command that allows unknown properties could have this issue. I've been thinking about fixing it in the SpoCommand or maybe even Command class so that it's automatically fixed without us having to worry about it in specific commands. Let's see if it will work out.

[2018-12-08 18:53] #693 closed

[2018-12-08 18:53] #695 closed

[2018-12-08 18:54] #563 closed

[2018-12-08 18:55] #652 closed

[2018-12-08 18:55] #697 closed

[2018-12-08 21:35] waldekmastykarz opened #703 "Looking up existing web parts fails in some scenarios"
When trying to add a custom web part to the page, looking up existing web parts fails in cases, where the registered web part id either uses a different case or is wrapped it curly braces. Code comparing the IDs at https://github.com/pnp/office365-cli/blob/20495a1c0f378a28e584ef434f55de3cece64b63/src/o365/spo/commands/page/page-clientsidewebpart-add.ts#L242 should be extended to accommodate for th

[2018-12-09 09:50] waldekmastykarz commented on #389
Putting back as up for taking. @wictorwilen did some great work for start, but we need to have it implemented consistently for all services rather than just for SPO.

[2018-12-09 09:51] waldekmastykarz commented on #586
Putting back as up for taking due to lack of response.

[2018-12-09 09:52] waldekmastykarz commented on #588
@kshsbala are you still working on this?

[2018-12-09 09:53] waldekmastykarz commented on #615
@rfjschouten if you're still interested, feel free to pick it up.

[2018-12-09 09:55] waldekmastykarz commented on #670
@phawrylak are you still working on this?

[2018-12-09 09:55] waldekmastykarz commented on #673
@phawrylak Are you still working on this?

[2018-12-09 09:56] waldekmastykarz commented on #674
@phawrylak Are you still working on this?

[2018-12-09 09:57] waldekmastykarz commented on #677
@simonagren Are you still working on this?

[2018-12-09 10:15] simonagren commented on #677
I will finish the other prs tonight. I took a decision to go with the url.resolve.

This one I started to look at yersterday, and I had a look at some of the other commands on how to solve it. I could get a pr done on tuesday for this one

[2018-12-10 19:40] ypcode commented on #365
Hey @waldekmastykarz, actually, As I recopied manually all my changes to a new branch from the updated dev trunk, I forgot to recopy the updated PnPJS class that has fix many issues.
What I don't understand is how it can work on your side Oo ??

Will make this work ASAP

[2018-12-10 20:14] waldekmastykarz commented on #365
Perhaps we're looking at different scenarios. If the issue is with PnPjs, rather than just fixing it in our copy, it would be better, to log it in the PnPjs repo. Patrick and the crew spent significantly more time dealing with modern page HTML than us so they can be a better judge of whether it's really an issue and how it should be fixed, or we're just using it in an odd way.

[2018-12-11 01:31] ypcode commented on #365
Hi @waldekmastykarz , I resynced the clientsidepage class from pnpjs.

Everything works fine except that many tests are now failing mainly because the expected HTML was erroneous (there was a single closing div tag in the html returned by the pnpJS code.

The branch is available on my own repo : https://github.com/ypcode/office365-cli/tree/dev-spo-page-text-add

It takes a lot of time to correct t

[2018-12-11 18:41] ohthreesixtyfive opened #707 "Bug: 'spo file add' submitting $null or blank values as 'true'"
**Description:**

When adding a file and attempting to set a field using a variable, if the variable is $null or empty the value passed through is the string 'true'.

**Steps to reproduce:**
[code]
---------------------------------------------------------------------

**Scenario A)**

 Variable set to $null

[code]

**Expected**
[code]

**Actual**
[code]
-------------------------------------------

[2018-12-11 19:10] ohthreesixtyfive commented on #702
My pleasure! Major thanks to you and the other contributors for developing this as I've been able to use it on a major migration from an aging ECM to our SharePoint site.

Originally, I was using _SharePointPnP PowerShell_ (Add-PnPFile), but was facing excessive memory usage issues when the amount of items being written was too large. Your very timely release of 'spo add item', which has not exhib

[2018-12-11 20:37] waldekmastykarz commented on #702
Thank you for the kind words and great to hear we could help you. Please, never hesitate to reach out if you find anything out of the ordinary or if we can help with anything 😊

[2018-12-11 20:41] waldekmastykarz commented on #365
I can grab the code from your fork and work on that. You will of course get the credit for your work 😊

With regards to properly handling web part order, I'd expect to be handled correctly by PnPjs. If it's not, then we should raise an issue there and sync the updated version which will help a broader audience benefit of the fix.

Once again thanks for your help and I appreciate your time 👏

[2018-12-11 21:13] ohthreesixtyfive commented on #707
You're very welcome. Your assumption is correct, this issue has been spotted in PowerShell using non-immersive mode. Apologies for not including it in the original issue report.

Looking forward to your fix, in the meantime I'm working out how to dynamically build the parameters passed to 'spo file add' to only include non-null attributes.

Best regards,

Ramiro

[2018-12-11 21:39] ypcode commented on #365
Sounds good 😃
I would definitely prefer to work much more on it and on the CLI in general but these days, it's become complicated, so much work and different projects and occupation, I just can't scale 😀

I will also make sure, if not handled in the meantime, the WebParts command works fine with order + need some refactoring also...

Thanks for this wonderful and very addictive project, you're lea

[2018-12-11 22:03] ypcode opened #708 "Question: Integration testing"
Hi guys,

First of all, a small statement in my humble opinion
The CLI project is a first class project in term in development practices with the specs unit testing, the documentation, the project structure, ... Well, in mostly all of its aspects.
A real state-of-the-art project I often refer to when I need to follow best practices in my day to day projects!
Congrats on that to all of you !

Howev

[2018-12-11 23:53] VelinGeorgiev commented on #708
Here is my understanding of unit tests. First, if I can unit test all lines, branches and statements of my app then the code is well designed with less technical depth, making it more extensible and flexible to changes. Second, when the change occurs I can easily test my solution for regression in no time. Third, unit tests are a good way to backup myself and the business logic within the solution

[2018-12-12 10:39] ypcode commented on #708
Hi @VelinGeorgiev,

Thanks for your accurate reply,
I totally agree with all of your statements. I really approve the unit testing concept and all its advantages.
(I admit on my side, I should be more aligned on TDD, unfortunately, I can't always afford it, but it's kind of unrelated 😛 , I always try to find out the good trade-off between productivity and quality with short deadlines 😄 I think we

[2018-12-12 20:37] waldekmastykarz commented on #708
I wonder to what extent the modern page-related commands are the exception here, because there is a lack of public API to interact with them and we need to take a dependency on the HTML structure which is still in flux.

If you look at the bigger API surface, I can't recall the response ever changed in a backwards incompatible way. Sure, new properties were added, but nothing was removed or change

[2018-12-12 20:39] waldekmastykarz commented on #707
Just to check if I'm getting it correctly: you're passing a set of options to the `spo file add` command and would like the command to only submit those to SharePoint, which are not-null?

[2018-12-12 20:54] waldekmastykarz commented on #365
It's not always easy to prioritize hobby side-project with everything else in life, so when we do get a contribution, we appreciate it, no matter how small it is.

[2018-12-13 09:04] ypcode commented on #708
Fair point Waldek, I suppose exceptional handling steps might be taken for some specific areas, even maybe not with a complete integration testing process, but maybe some scripts we run occasionnally to make sure the target commands still work. That should be good enough :)

However, on a more general topic, when we need to update unit tests because of some refactoring or changing code used in var

[2018-12-13 11:31] arjenbloemsma commented on #586
You can assign this one to me @waldekmastykarz

[2018-12-13 18:05] waldekmastykarz commented on #708
Ideally, the data used in tests should be coming from the REST API responses. It's hard to tell whether it's always the case, because there is no way to verify it: data is data.

In order to verify that the API surface hasn't changed, we'd need to have a test tenant, a set of tests to verify all commands and then a set of tests to restore the tenant to its original state. These are basically the i

[2018-12-13 18:06] waldekmastykarz commented on #586
All yours @arjenbloemsma!

[2018-12-13 18:07] ohthreesixtyfive commented on #707
To clarify, in my case I'm querying a SQL Database to get all the files in a given table and their information (filepath, filename, and other metadata) - from there, I'm iterating over each object and using the 'spo file add' command to send it up to SharePoint. There's about 30 different pieces of metadata, but not all of them are populated for each item.

In my initial script (which is how I stu

[2018-12-13 18:15] waldekmastykarz commented on #649
I'm trying to get some answers. Let's wait a bit longer

[2018-12-13 18:17] waldekmastykarz commented on #707
This is great info! Thanks for the details on the use case and  the workaround. I bet others will find it helpful should they come across a similar problem 👏

[2018-12-13 18:46] waldekmastykarz commented on #649
OK, got some more info, so the behavior is intentional and apparently you can see deleted modern sites in the modern admin center. Either way, to keep it consistently with [graph o365group list](https://pnp.github.io/office365-cli/cmd/graph/o365group/o365group-list/) what if we extended the existing `spo site list` command with the `--deleted` option?

[2018-12-13 20:52] arjenbloemsma opened #709 "Add new option to the spo hub site list command"
I would like to propose to extend the command `spo hubsite list` with a new option `--includeAssociatedSites`, which will be the o365cli version of the info presented in the column "Hub site association" that is shown in the "Active Sites" overview of the new Central Admin experience.

<img width="1105" alt="image" src="https://user-images.githubusercontent.com/8061052/49966475-50891e80-ff20-11e8-

[2018-12-13 20:54] waldekmastykarz commented on #702
@ohthreesixtyfive #710 should be fixing the behavior you're seeing. If you can, could you please verify it before we merge it? Otherwise, the fix will come in the next beta and you'll be able to test it then. Once again, thanks for bringing it up.

[2018-12-13 20:56] arjenbloemsma commented on #649
That sounds good to me Waldek 😎 If you like you can assign this one me.

[2018-12-13 20:57] waldekmastykarz commented on #709
Good idea! Let's do it. You want to take it?

[2018-12-14 09:18] arjenbloemsma commented on #709
Yeah! I would really like that.

And thanks 👊🏻

[2018-12-14 15:47] ohthreesixtyfive commented on #702
I'd be happy to test it. I'm a bit new to this so please forgive my ignorance, but how would I go about pulling the fix into my Office365 CLI version?

[2018-12-14 18:11] waldekmastykarz commented on #709
Awesome! All yours! 👊

[2018-12-14 18:15] waldekmastykarz commented on #702
No problem, thanks for asking. The following steps should do it:

1. Uninstall the version of the CLI that you have installed globally
1. Go to https://github.com/waldekmastykarz/office365-cli and clone my fork
1. Pull the `fix-numbers-unknownargs` branch
1. Run `npm i` to restore dependencies
1. Run `npm run build` to build the project
1. Run `npm link` to register the local version of the CLI gl

[2018-12-14 20:01] waldekmastykarz commented on #707
I had a look into it, and it seems that the problem might be beyond our reach. When you pass a PowerShell `$null` as an option value, it gets removed from the list of arguments passed into Node.js. So running a command like `o365 spo web get -u $a` (where `$a` is `$null`) passes an array of arguments such as `o365`, `spo`, `web`, `get`, `-u`. Nothing is passed in place of the $null argument, which

[2018-12-14 20:36] waldekmastykarz commented on #680
Closing due to lack of response

[2018-12-14 20:36] #680 closed

[2018-12-15 02:36] ohthreesixtyfive commented on #707
That's a bummer. Thanks for looking into it all the same!

**On a related note:**

The workaround I described above seemed way too inefficient, as it was iterating _n_ number of times for each _n_ number of objects to build a unique string, so I went back to the drawing board to come up with something cleaner.

Since _iex_ worked just fine, I simply turned my existing 'hardcoded' command from earl

[2018-12-15 10:48] kshsbala commented on #588
Hi @waldekmastykarz, Sorry about the delay. Yes I have started working on this and it will be ready by tomorrow or Monday.

[2018-12-15 20:34] waldekmastykarz commented on #365
FWIW: I had a look at the order option and it turns out that it never worked. Like you mentioned, it isn't there and the order option specified while adding web part is ignored. We'll be able to make a good use of your code so far! 👏

[2018-12-16 14:33] ypcode commented on #365
Hi waldek, will definitely need to refactor the webpart command as well then ;) if it can wait a few days I’d like to do it :)

________________________________
De : Waldek Mastykarz <notifications@github.com>
Envoyé : samedi, décembre 15, 2018 9:34 PM
À : pnp/office365-cli
Cc : Yannick Plenevaux; Assign
Objet : Re: [pnp/office365-cli] New command: add text to modern page (#365)

FWIW: I had a loo

[2018-12-16 14:33] ypcode commented on #365
And I will also PR it to pnpjs ;)

________________________________
De : yannick Plenevaux <yannick.plenevaux@gmail.com>
Envoyé : dimanche, décembre 16, 2018 3:33 PM
À : pnp/office365-cli; pnp/office365-cli
Cc : Assign
Objet : Re: [pnp/office365-cli] New command: add text to modern page (#365)

Hi waldek, will definitely need to refactor the webpart command as well then ;) if it can wait a few day

[2018-12-16 18:27] #702 closed, assigned to waldekmastykarz

[2018-12-16 18:43] waldekmastykarz commented on #365
There is no rush for it as so far no one spotted it. I can log an issue for it and assign it to you. Thanks again for bringing it up.

[2018-12-16 18:44] waldekmastykarz opened #712 "Bug: When adding web parts to modern pages the order option is ignored"
The order option in the `spo page clientsidewebpart add` command is not used for anything, while it should make it possible to specify the placement of the web part in the specified column. Currently, web part is always added to the end of the column.

[2018-12-16 18:45] waldekmastykarz commented on #615
@rfjschouten are you working on this or is it free for picking?

[2018-12-16 18:47] waldekmastykarz commented on #685
Are you still working on this @rfjschouten?

[2018-12-16 18:50] waldekmastykarz commented on #692
Closing due to lack of response

[2018-12-16 18:50] #692 closed

[2018-12-16 18:51] waldekmastykarz commented on #688
Closing due to lack of response

[2018-12-16 18:51] #688 closed

[2018-12-17 14:04] sympmarc commented on #692
Sorry @waldekmastykarz  - I didn't get a chance to try this...

[2018-12-17 18:14] waldekmastykarz commented on #692
No problem. Happy to reopen the issue, if you want to give it a try? 🙂

[2018-12-17 20:18] waldekmastykarz opened #713 "New command: Create site script from an existing list"
Creates site script from an existing list

command: `spo list sitescript get -u|--webUrl <webUrl> -i|--id [id] -t|--title [title]`

- webUrl: The URL of the site where the list is located
- id: The ID of the list for which to generate site script. Specify id or title but not both
- title: The Title of the list for which to generate site script. Specify id or title but not both

For more informatio

[2018-12-17 20:23] waldekmastykarz opened #714 "Enhancement: Allow applying large site designs"
Extend the existing [spo sitedesign apply](https://pnp.github.io/office365-cli/cmd/spo/sitedesign/sitedesign-apply/) command to allow applying large site designs. To schedule applying a large site design, the user should include the new `--asTask` option, eg.

[code]

For more information see https://docs.microsoft.com/en-us/powershell/module/sharepoint-online/add-spositedesigntask?view=sharepoint

[2018-12-17 21:17] ypcode commented on #713
Hi @waldekmastykarz ,
I already have a good start for that feature in Site Designs Studio.
I can take care of this one :)

However, one question: does it have to handle built-in list template and extract the delta only?
It is how I started in my code, but I didn't find a reference documentation with all builtin list templates and, overall, their associated fields. To have it fully feature this doc

[2018-12-17 21:18] waldekmastykarz commented on #713
I think there is a server-side API available for it nowadays (see the referenced PoSh cmdlet) so ideally we'd use the same for consistency.

[2018-12-18 11:16] HubSaul opened #715 "New command: Import Flow"
Lets add a command to import a flow.

- command: azmgmt flow import -e|environment <environment> -f|file <file>-o|overwrite <boolean>
- file : The name of the environment where the Flow is located
- format: A base 64-encoded zip file that contains the solution
- overwrite: If there are existing instances of these flows, this flag needs to be set to true to import them. Otherwise they will not be o

[2018-12-18 11:35] waldekmastykarz commented on #715
Just to double check the above spec: in the list of arguments, file should be environment and format should be file? Other than that, sounds cool and appreciate your help! All yours!

[2018-12-18 11:46] HubSaul commented on #715
Opps, yes. Here the updated version:
- command: azmgmt flow import -e|environment -f|file -o|overwrite
- environment : The name of the environment where the Flow is located
- file: A base 64-encoded zip file that contains the solution
- overwrite: If there are existing instances of these flows, this flag needs to be set to true to import them. Otherwise they will not be overwritten.
- requires #37

[2018-12-18 18:23] waldekmastykarz commented on #715
Given that in the export command we're specifying a path to the file on disk, why not point to the file path here as well, rather than having users base64-encode the file first and pass its contents as an option?

[2018-12-23 18:03] #672 closed

[2018-12-23 18:04] #365 closed

[2018-12-23 18:04] #405 closed

[2018-12-23 18:35] waldekmastykarz commented on #708
Closing for now. If need be, we can revisit in the future.

[2018-12-23 18:35] #708 closed

[2018-12-23 18:35] waldekmastykarz commented on #700
Closing due to lack of response

[2018-12-23 18:35] #700 closed

[2018-12-23 18:37] waldekmastykarz commented on #615
Setting as free for picking due to lack of response

[2018-12-23 18:39] waldekmastykarz commented on #685
Setting back as free for picking due to lack of response

[2018-12-23 18:40] waldekmastykarz commented on #689
Are you still working on this @appieschot?

[2018-12-23 18:40] waldekmastykarz commented on #690
Are you still working on this @appieschot?

[2018-12-23 20:56] VelinGeorgiev commented on #685
@waldekmastykarz, assign that to me. I planned to do it, that is why I created the FolderExtensions class as shared.

[2018-12-23 21:19] waldekmastykarz commented on #685
All yours @VelinGeorgiev!

[2018-12-26 14:20] Laul0 opened #720 "Add appcatalog error"
Hi,

I'm working on a full CI solution with Office365-CLI but I can't create an App Catalog to the targeted site collection because I'm front of an error :

[code]

## More information
1. I'm connecting with spo login
2. I'm using a Docker node
3. My user account is a Global Admin
4. It works with SPO cmdlet

## Version

[code]
Someone else meet the same issue ? I made something wrong ?

Thx

[2018-12-26 14:54] Laul0 opened #721 "Trouble spo login with an account with multi-factor authentication"
Hi,

I'm occurs an issue with login cmdlet :

[code]

that's because my user account use MFA.... Fine, use App Password :

[code]

## Informations

$TENANT is URL : https://tenant-admin.sharepoint.com

Office365-cli version :

[code]
But it doesn't work 😢

What's wrong in my script ?

[2018-12-26 14:55] Laul0 commented on #720
Erratum, it works !!!
I have an other issue in relation with authentication #721

[2018-12-26 14:55] #720 closed

[2018-12-26 17:53] VelinGeorgiev commented on #720
@Laul0, could you please share with us what was the main issue in case someone else encounter the same issue?

I am guessing, but seems you were not added to the app catalog site as site collection administrator. Similar issue here https://github.com/SharePoint/sp-dev-docs/issues/1348.

[2018-12-26 18:11] VelinGeorgiev commented on #721
I think that if you go with username and password, the only way is to use service account that does not require MFA (this applies to SPO and PnP PowerShell as well). More information here: https://techcommunity.microsoft.com/t5/Identity-Authentication/Authenticating-to-O365-using-Powershell-and-MFA/td-p/3954.

Other options is to use the device authentication, but you cannot automate a process or

[2018-12-26 19:16] Laul0 commented on #720
Hi @VelinGeorgiev,

Yes, you right, maybe that can be help someone.
So, this is not in relation with the tenant app catalog at all... I guess, Office365-cli use some MSGraph parts.
I enabled the "Microsoft Graph data connect" on my Tenant (since a lot of time), I specified I security group but the account that I used it was not a member of it... I added the account to the security group and voilà

[2018-12-26 19:20] Laul0 commented on #721
Hi @VelinGeorgiev ,

- Yes, but a Service Account with a password that never expire is not very secure, isn't it ? 😉
- As you said, a pipeline can not really works with a device authentication
- I have no other choice that waiting for the support of app principle authentication 😢

[2018-12-26 19:54] VelinGeorgiev commented on #721
Hi @Laul0,

I am working with @waldekmastykarz  to bring the app principle authentication as soon as possible since even I need it for our build and release pipelines.

Stay tuned, we may make it available sooner than you'd expect. Right Waldek? :)

[2018-12-26 19:56] VelinGeorgiev commented on #720
Thank you @Laul0 !

That was helpful even for me, I hope it might help someone else.

[2018-12-27 10:20] Laul0 commented on #721
Hi @waldekmastykarz,

That you are saying is, PnP PowerShell, SPO Console Management and PSSession (for exchange) don't use APIs secured with AAD ?
If I don't say mistake, they work fine with an user account with App Password.

In this case, what they use to connect to SPO services ?

[2018-12-27 10:34] waldekmastykarz commented on #721
If you have an account secured with MFA, when using PnP PowerShell you have to use the weblogin option which shows a popup to support MFA. It's an interactive process that you couldn't implement in a build pipeline. That's just the consequence of using MFA which always requires user interaction.

[2018-12-27 12:37] waldekmastykarz commented on #721
So how is that exactly different from using an account without MFA enabled? 🙂

[2018-12-27 12:44] waldekmastykarz commented on #721
I recall a conversation I had a while ago with people responsible for AAD and OAuth and they mentioned, that username + app password is considered legacy and is available only for legacy clients which don't support MFA (such as old versions of Outlook or some other mail clients). As such, username + app password are not supported in the credentials OAuth flow.

[2018-12-27 13:09] waldekmastykarz commented on #712
@ypcode if you haven't started working on this, I'd be glad to pick it up. I've include the needed logic (based on your original code) in the `page text add` command so could easily reuse it.

[2018-12-27 13:59] ypcode commented on #712
Hi Waldek, I was planning to do it this week-end, but if you are in the middle of this, it is probably more efficient :) the text command is working well then ? have you had to change anything ?

[2018-12-27 14:42] Laul0 commented on #721
I'm sure, you're right about OAuth and the support between Microsoft Graph and App Password. That why you can use App ID and App Secret, isn't it ?

They are a lot of differences / reasons to enable MFA (I'm writing a post on my blog about that, I think it's interesting 👨🏼‍💻, here a sample ) :
1. An user cannot use App Password to connect the Office Portal
2. App Password never expire (you can set

[2018-12-27 17:15] VelinGeorgiev commented on #721
MFA is a must have for any tenant admin role, this is my opinion.

I was trying to understand, if App Password is viable option and can be used for scripts. Now, looking at your comments @Laul0, App Password is not something I would use since looks like we are basically bypassing the MFA.

My approach would be cert authentication stored in a Azure Key Vault with the CLI tool when cert auth is avai

[2018-12-28 05:40] ClientIco opened #725 "Batch Script of commands"
I am new to the project but couldn't find a batch script execution.
Step 1 : 0365
Step 2 : SPO Login
Step 3 : spo file add --webUrl https://clientico.sharepoint.com --folder 'Shared folder/release/apk' --path './afile.txt'
Step 4 : exit out og 0365

I would like to be able to run all of those commands as one script
maybe something like

o365 -u user -p pass -t password --http://url --batchscript a

[2018-12-28 16:09] waldekmastykarz commented on #210
PR merged. Closing this issue. Thanks again @VelinGeorgiev 👏

[2018-12-28 16:09] #210 closed

[2018-12-28 16:33] waldekmastykarz opened #728 "Allow specifying site's locale when creating new site"
When creating a new site using the `spo site add` command, allow to specify the site's locale.

Currently, sites are created using the default tenant locale, which sometimes leads to unexpected results, like https://github.com/waldekmastykarz/pnp-starterkit-setup/issues/4

[2018-12-28 17:23] Laul0 opened #729 "How to manage SharePoint list view ?"
We can "Set List view" :
* Update title
* Update / set formatter (json)

But
* I would like add existing list column to existing view
* Create new list view
* We can use "set view" but can't "get view" (for retrieve the Id for example)

Currently, I can't deploy a SharePoint list based on template and apply view formatter directly from my CI without manual action on the list to select which column

[2018-12-28 18:08] VelinGeorgiev commented on #729
@Laul0, you can suggest them as separate commands like 'spo listview get' and 'spo listview add'. Someone from the community can implement them. Even you can contribute if you are interested.

That project is community driven and not all the apis are implemented yet since the cli is quite new project.

If you are not interested in writing code, I can assist you so we get the commands available asa

[2018-12-28 18:37] Laul0 commented on #729
@VelinGeorgiev, it was exactly what I mean about cmdlet.
I'm not against writing code and contributing to this project.

I first opened this issue because as part of an internal training, I'm trying to implement a completely automated solution and these are the cases I am facing today 😕

But ok to start implementing these new commands 😄
If you want, I can split this question to specific issues...

[2018-12-28 18:55] waldekmastykarz commented on #729
That would be helpful @Laul0. I appreciate your help 👏

[2018-12-28 18:55] Laul0 opened #730 "Add 'spo list view get' command capability"
## Summary

Add a support for `spo list view get` command in order to :

- [ ] Get informations about specific SharePoint view
- [ ] Here the list of necessary parameters :
    - [ ] `--listId` / `--listTitle` (ID or Title not both)
    - [ ] `--viewId` / `--viewTitle`  (ID or Title not both)
    - [ ] `-u, --webUrl` Web URL
- [ ] Support at least the following additional parameters :
    - [ ]  `

[2018-12-28 18:58] waldekmastykarz commented on #730
Thanks for the suggestion @Laul0. In the CLI we use a naming convention, where `get` is reserved for retrieving a single instance of an object. If you want to get multiple objects, then you should list `list` as a verb instead. See others specs, like https://github.com/pnp/office365-cli/issues/268 (spo list item list) and https://github.com/pnp/office365-cli/issues/269 (spo list item get)

[2018-12-28 18:58] Laul0 opened #731 "Add 'spo list view remove' command capability"
## Summary

Add a support for `spo list view remove` command in order to :

- [x] Remove specific SharePoint view based on his ID or Title (ID or Title not both)
- [x] Here the list of necessary parameters :
    - [x] `--listId` / `--listTitle` (ID or Title not both)
    - [x] `--viewId` / `--viewTitle`  (ID or Title not both)
    - [x] `-u, --webUrl` Web URL
    - [x] `--confirm` (to suppress pro

[2018-12-28 18:59] waldekmastykarz commented on #731
Thanks for the suggestion @Laul0. In order to remove a list view you would also need the URL of the site where the list is located and the list ID/Name. See https://github.com/pnp/office365-cli/issues/269 for a comparable spec.

[2018-12-28 19:02] Laul0 commented on #730
Hi, sorry I didn't take notice on that 🙏
In accordance with this guidance, that is not confusing if the command for retrieve multiple list view look like `spo list view list` ?

If you think that's ok, no problem 😉 I'll update this issue

[2018-12-28 19:04] Laul0 commented on #731
Yes, it was implicit for me... The web URL cannot be omit of course, you right. I'll precise

[2018-12-28 19:19] Laul0 opened #732 "Add 'spo list view list' command capability"
## Summary

Add a support for `spo list view list` command in order to :

- [ x Get all views informations for a targeted SharePoint list
- [x] Here the list of necessary parameters :
    - [x] `--listId` / `--listTitle` (ID or Title not both)
    - [x] `-u, --webUrl` Web URL
- [ x Support at least the following additional parameters :
    - [x]  `-o, --output`
    - [x]  `--verbose`
    - [x]  `-

[2018-12-28 19:58] Laul0 opened #733 "Update 'spo list view set' command capabilities"
## Summary

### Current behavior

Currently, with the `spo list view set` command, you can :

- [x] Update title of the specific SharePoint view
- [x] Update SharePoint view formatting (json)

### Additional behavior

- [ ] Update existing list column position to an existing list view
    - [ ] `--fieldId` / `--fieldTitle` (ID or Title not both)
    - [ ] `--viewId` / `--viewTitle` (ID or Title no

[2018-12-28 20:45] waldekmastykarz commented on #730
No problem. It's your first time here, so happy to show you around 🙂

Yes, to list the available views, having a command named `spo list view list` would be matching the existing naming convention. Let's create a separate issue for it so that we can track it.

[2018-12-28 20:48] waldekmastykarz commented on #731
The spec looks solid. You want to take it or want to give someone else a shot at it?

[2018-12-28 20:48] waldekmastykarz commented on #732
Spec looks good. You want to pick it up yourself or want to give someone else a shot at it?

[2018-12-28 20:51] waldekmastykarz commented on #733
For simplicity, I'd suggest we split this spec into multiple commands, eg. `spo list view field add` to add a column to an existing view, `spo list view field remove` to remove it. As for changing the order, perhaps extending `spo list view set` would make the most sense.

[2018-12-28 21:04] waldekmastykarz commented on #729
Closing this issue in favor of the issues for the specific commands you created, @Laul0

[2018-12-28 21:04] #729 closed

[2018-12-28 21:20] VelinGeorgiev commented on #730
Hey @waldekmastykarz, feel free to assign that to me.

[2018-12-28 21:30] Laul0 commented on #731
I'll take it, unless someone is faster than me ^^

[2018-12-28 21:31] Laul0 commented on #732
I'll take it too, unless someone is faster than me ^^

[2018-12-28 21:35] Laul0 commented on #733
Are you agree with the fieldPosition parameter ?

[2018-12-28 21:35] Laul0 opened #735 "Add 'spo list view field add' command capability"
## Summary

Add a support for `spo list view field add` command in order to :

- [x] Add existing list column to an existing list view
    - [x]  `--fieldId` / `--fieldTitle` (ID or Title not both)
    - [x]  `--viewId` / `--viewTitle` (ID or Title not both)
    - [x] `--listId` / `--listTitle` (ID or Title not both)
    - [x]  `-u, --webUrl Web URL`
    - [x]  `--fieldPosition` value : [integer o

[2018-12-28 21:37] Laul0 opened #736 "Add 'spo list view field remove' command capability"
## Summary

Add a support for `spo list view field remove` command in order to :

- [x] Remove/hide existing list column to an existing list view
    - [x] `--fieldId` / `--fieldTitle` (ID or Title not both)
    - [x] `--viewId` / `--viewTitle` (ID or Title not both)
    - [x] `--listId` / `--listTitle` (ID or Title not both)
    - [x] `-u, --webUrl Web URL`
    - [x] `--confirm` (to suppress prom

[2018-12-29 00:42] Laul0 opened #738 "Add 'spo field remove' command capability"
## Summary

Add a support for `spo field remove` command in order to :

- [ ] Remove existing list column to an existing list
    - [ ] `--fieldId` / `--fieldTitle` (ID or Title not both)
    - [ ] `--listId` / `--listTitle` (ID or Title not both)
    - [ ] `-u, --webUrl Web URL`
    - [ ] `--confirm` (to suppress prompt)

## To Do

- [ ] Add command from solution
- [ ] Add documentation of usage

[2018-12-29 11:45] waldekmastykarz commented on #730
Perfect! All yours @VelinGeorgiev!

[2018-12-29 11:48] waldekmastykarz commented on #731
Perfect! All yours!

[2018-12-29 11:49] waldekmastykarz commented on #732
All yours!

[2018-12-29 12:03] waldekmastykarz commented on #733
Just to check if I understand your proposal correctly. To change the order of a field in the view you would call:

[code]

It would work, if you wanted to change the order of one field. It could quickly get complicated though, if you wanted to change the order of multiple fields. Let's start with this implementation and we can extend it in the future if need be to allow reordering all fields.

[2018-12-29 12:04] waldekmastykarz commented on #735
Don't forget `listId` and `listTitle`. Other than that, looks solid! You want to take it yourself or want to let others take a shot at it?

[2018-12-29 12:05] waldekmastykarz commented on #736
Don't forget `listId` and `listTitle` to specify the list where the view is located. Other than that, the spec looks solid. You want to take it yourself or let others take a shot at it?

[2018-12-29 12:08] waldekmastykarz commented on #738
Looks good! You want to take it yourself or let others pick it up?

[2018-12-29 16:00] Laul0 commented on #733
Yes, we can extend the order management for several columns through JSON for example

[2018-12-29 16:05] waldekmastykarz commented on #733
Let's ship the above first and then add support for several columns as a separate enhancement.

[2018-12-29 17:43] #721 closed

[2018-12-30 13:46] #671 closed

[2018-12-30 13:49] #588 closed

[2018-12-30 13:51] #712 closed

[2018-12-30 13:52] #728 closed

[2018-12-30 17:13] baywet opened #739 "spfx project upgrade 1.6.0 > 1.7.1 sp-http not reported"
Error message:
[code]
Repro:
Create a project under 1.6.0
reference @microsoft/sp-http (installing it with -SE)
Upgrade to 1.7.1
This package is not listed in the packages to upgrade in the commands.
At build time you get the error mentioned.

[2018-12-30 17:47] waldekmastykarz commented on #739
I don't recall having to install the package separately. I noticed the error you mentioned previously, but in other cases I managed to solve it by running `npm dedupe` after upgrading packages. Have you tried it?

[2018-12-30 18:07] baywet commented on #739
I tried dedupe, the thing is the package was still referenced to 1.6.0 in the package.json after running all the upgrade commands.
I think the history of that project is 1.5.1-plusbeta (which included sp-http at the time) and upgrading it to 1.6.0 I probably manually fixed sp-http.
Might be related to https://github.com/pnp/office365-cli/issues/583

[2018-12-30 18:55] waldekmastykarz commented on #739
That would make sense, as `sp-http` is not a part of a standard project setup. Since the CLI doesn't currently support upgrading plusbeta project, I'd consider this out of scope for now. We can definitely revisit it in the future, should we implement support for upgrading plusbeta projects.

[2018-12-30 18:55] #739 closed

[2018-12-30 18:57] baywet commented on #739
Yep, thanks for taking the time to discuss it, at least we have it documented here in case we choose to support plus beta upgrades.

[2018-12-30 21:11] kshsbala commented on #615
Can I work on this?

[2018-12-31 16:35] arjenbloemsma commented on #709
Hi @waldekmastykarz, I need you advise in the following:

I'm retrieving the associated sites for hubs by querying the list "DO_NOT_DELETE_SPLIST_TENANTADMIN_AGGREGATED_SITECOLLECTIONS" as described in my proposal. Since there can be a lot of associated sites in a tenant I'm doing this in batches (currently I do this in batches of 30 rows). This part must also be covered in tests, however, I do no

[2019-01-02 11:57] simonagren commented on #677
@waldekmastykarz @VelinGeorgiev
Do you think we should have the option of "All" in the scope aswell, as in `spo customaction list`?

The custom action Rest result has `scope` included that is being utilized in the combined return values of `all`.
While Features we don't have the scope if we don't add it "manually".

So IF we allow for all as a scope, do we care about the scope of it in the result?

[2019-01-02 19:37] waldekmastykarz commented on #709
You could store the batch size in a private class property and then in the test set it to a smaller number. To do this you would need to cast the class instance to any, but other than that it should work just fine.

[2019-01-02 19:38] Laul0 opened #740 "Update 'spo page clientsidewebpart add' command capabilities"
## Summary

### Current behavior

Currently, with the `spo page clientsidewebpart add` command, you can :

- [x] Add a Client Side Web Part to a SharePoint page only if this you have at least one section

### Additional behavior

- [ ] Update existing page and add a section if not exist

## To Do

- [ ] Update command from solution
- [ ] Update documentation of usage (MkDocs)
- [ ] Validate cmdlet

[2019-01-02 19:40] waldekmastykarz commented on #740
Sounds like a good idea to add some convenience to using the method. Have you compared how this works in PnP Sites Core/PnP PowerShell? Which type of section is auto-added if necessary?

[2019-01-02 19:42] waldekmastykarz commented on #677
I don't think an all scope makes sense in this case. Features have particular scope per definition and mixing site- and web-scoped features seems confusing.

[2019-01-02 20:49] simonagren opened #742 "Bug: 'spo customaction list' should be scope 'All' as default"
Command is working in general, but if not any `--scope` is provided the default value should be 'All'.
So if not any scope is provided it's undefined here:
https://github.com/pnp/office365-cli/blob/8306c5b9067a412948c91c763143e4d1c654f253/src/o365/spo/commands/customaction/customaction-list.ts#L63

I think we should define the scope constant in the beginning of `commandAction`

[2019-01-02 21:18] Laul0 commented on #740
I had a doubt but after verification, with the following cmdlet:

[code]

in fact, when you add a Client Side WebPart to an empty page (without section) the cmdlet create a default section if not exist and add Web Part.

[2019-01-02 23:04] VelinGeorgiev commented on #730
@Laul0, @waldekmastykarz, how about getting the list by url as well? It seems that the pnp powershell does it https://docs.microsoft.com/en-us/powershell/module/sharepoint-pnp/get-pnpview?view=sharepoint-ps.

In that case we will have to add additional option so:
`--listId / --listTitle / --listUrl (One of the following options is enough)`

[2019-01-03 08:19] Laul0 commented on #730
With PnP Powershell you can get list by URL or ID only. With CLI you can get list by ID or Title.

I think it is more revenant to use internal name or url (without talk about ID) because that not change. But, because several cmdlet of CLI use title/id, all cmdlets should be update to keep coherent no ?

[2019-01-03 10:21] Leif-Frederiksen opened #743 "SPFx project upgrade suggestion"
Hi,
I have just used to spfx project upgrade command on a series of "old" web part project.
On one of them I spent a long time trying to find out why it would not build (with gulp bundle) correctly.
No .js file was generated for the web part in the lib directory.
It turned out, that my web part file had the extension ".tsx". When I changed that to ".ts" everything worked fine.
It seems like the ".

[2019-01-03 17:38] waldekmastykarz commented on #743
Thank you for the suggestion @Leif-Frederiksen. Since this is something that's beyond the scope of the standard SharePoint Framework project, I'd say it's out of scope for the Office 365 CLI which currently focuses on upgrading projects. If you look for tools that would help you avoid common in issues in SharePoint Framework projects, I'd suggest you look at [Rencore](https://rencore.com/sharepoin

[2019-01-03 17:38] #743 closed

[2019-01-03 18:00] waldekmastykarz commented on #742
Makes sense. Good catch! 👏

[2019-01-03 18:01] waldekmastykarz commented on #740
Default section = 1 column?

[2019-01-03 18:04] waldekmastykarz commented on #730
@VelinGeorgiev good suggestion and I agree with @Laul0 that we should aim for consistency. So I'd be up for introducing all three options here, and then we could have separate issues for extending each relevant command with support for list URL.

[2019-01-03 19:33] VelinGeorgiev commented on #730
Ok, I will implement it with the three options. Then we replicate.

[2019-01-03 20:07] Laul0 commented on #740
Yes

[2019-01-04 10:48] Laul0 opened #747 "Update 'spo list webhook list' command parameters"
## Summary

### Current behavior

Currently, with the `spo list webhook list` command, you have to use the following parameters :

- `-i, --id [id]` of list
- `-t, --title [title]` of list

### Expected behavior

Instead of :
- `-i, --id [id]` of list
- `-t, --title [title]` of list

use :

- `--listId`
- `--listTitle`

since all other cmdlets use this parameters (keep coherence with other cmdlets

[2019-01-04 13:46] Laul0 opened #748 "Add 'spo list view add' command"
## Summary

Add a support for `spo list view add` command in order to :

- [ ] Add/create a view to a target list located to a specific site
- [ ] Here the list of necessary parameters :
    - [ ] `--listId` / `--listTitle` (ID or Title not both)
    - [ ] `-u, --webUrl` Web URL
    - [ ] `--title` title of the new view
    - [ ] `--query` a valid CAML Query
    - [ ] `--fields` list of fields to

[2019-01-04 15:34] waldekmastykarz commented on #748
Without the ability to specify the query and fields, this commands adds little value, because when you create a view, you want it to be custom. The first version of the command should support the basic capabilities like specifying fields, query and limit. Things like paging and personal could be set in the second phase if require significant effort. Otherwise, let's add them in one go.

[2019-01-04 15:58] ktskumar commented on #738
May I work on this?

[2019-01-04 16:00] Laul0 commented on #748
I agree !
I thought do simple for a first step. Because currently, if someone wish create a new view to provide custom formatter (for example), this people will can't do that.
Add field in to existing view is an improvement already noted. So, add view + add field to view can answer a basic need.

[2019-01-05 11:56] waldekmastykarz commented on #738
All yours @ktskumar 👏

[2019-01-05 12:01] waldekmastykarz commented on #748
Being able to apply a formater is definitely useful, but it relies upon being able to select the right data and for that we need to be able to specific the basics like query, sorting and fields. Let's include them in the first version and we can then extend it with more options in the next run.

[2019-01-05 14:54] Laul0 commented on #735
I'll take it 😉

[2019-01-05 15:11] Laul0 commented on #748
What do you mean by 'sorting' ? Columns sorting ?

[2019-01-05 17:20] mpowney commented on #680
Just a quick follow up for completeness, I was experiencing this issue when executing the command ```spo connect``` - the ```spo connect``` command is deprecated, and is replaced with ```spo login```. Using ```spo login``` works as expected.

[2019-01-05 18:25] mpowney opened #750 "Update 'spo page control get' to retrieve dynamicData properties"
## Summary
Two new JSON properties are added to ClientSideWebpartData when a web part has dynanicData enabled properties.

The example below JSON is an extract of the ClientSideWebpartData object when there are 10 dynamicData enabled properties added to it.  The first (index 0) has been attached to a dynamic data source, the remaining nine (index 1 through 9) have not been attached, and have blank

[2019-01-05 19:30] mpowney commented on #750
The dynamicDataPaths and dynamicDataValues properties are documented in the SharePoint TypeScript SDK:

* [dynamicDataPaths](https://docs.microsoft.com/en-us/javascript/api/sp-webpart-base/iserializedwebpartdata?view=sp-typescript-latest#dynamicdatapaths)
* [dynamicDataValues](https://docs.microsoft.com/en-us/javascript/api/sp-webpart-base/iserializedwebpartdata?view=sp-typescript-latest#dynamicda

[2019-01-06 11:33] waldekmastykarz commented on #748
Sorting as in, specifying the order of the data displayed in the view. Not sure off the top of my head if this is a part of the query or if it's a separate property.

[2019-01-06 11:35] waldekmastykarz commented on #680
Thanks for confirming @mpowney 👍

[2019-01-06 11:37] waldekmastykarz commented on #750
Very nice suggestion @mpowney. You want to take it yourself?

[2019-01-06 16:11] #685 closed

[2019-01-06 16:12] #677 closed

[2019-01-06 16:12] #742 closed

[2019-01-06 16:13] #732 closed

[2019-01-06 16:14] #689 closed

[2019-01-06 16:14] #731 closed

[2019-01-06 19:02] waldekmastykarz commented on #384
Hey @joaojmendes, are the following cmdlets covering the scenarios you mentioned?

- Clear-PnPListItemAsRecord
- Set-PnPListItemAsRecord
- Test-PnPListItemIsRecord
- Get-PnPLabel
- Set-PnPLabel

I think there might be a gap with regards to setting label on items, but I haven't worked with labels myself so can't tell for sure what's needed. Other than the links you shared previously, do you have li

[2019-01-06 21:17] mpowney commented on #750
Yes I'll take a look, thx!

[2019-01-06 21:29] mpowney opened #751 "Add dynamicData parameters to 'spo page clientsidewebpart add' command"
## Summary

With the new properties in the TypeScript SDK that support dynamic data web part properties:
* [dynamicDataPaths](https://docs.microsoft.com/en-us/javascript/api/sp-webpart-base/iserializedwebpartdata?view=sp-typescript-latest#dynamicdatapaths)
* [dynamicDataValues](https://docs.microsoft.com/en-us/javascript/api/sp-webpart-base/iserializedwebpartdata?view=sp-typescript-latest#dynamicd

[2019-01-07 08:11] Laul0 commented on #733
@waldekmastykarz
Since we're adding the cmdlet `spo list view field add`, do you want to conserve the `spo list view field set` with the same parameters ? Because the target is the same, that made a doublon, isn't it ?

[2019-01-07 08:13] Laul0 commented on #736
Because I'm working on the `spo list view field add` may I suggest to take this one too ?

[2019-01-07 09:54] simonagren commented on #714
You think I can handle this @waldekmastykarz ? :)

[2019-01-07 09:59] ktskumar commented on #738
Great. Thanks

[2019-01-07 20:57] joaojmendes commented on #384
Hi @waldekmastykarz ,

The goal is apply Label to Items or declare/undeclre items as record

The cmdlets:

Clear-PnPListItemAsRecord
Set-PnPListItemAsRecord
Test-PnPListItemIsRecord

To work with labels (Office 365 Labels Data Governance)

 the cmdlets:

Get-PnPLabel
Set-PnPLabel

work on list settings and when defined apply a label automatically to Items.

I think don't have a Cmdlets to apply a

[2019-01-08 13:08] Laul0 opened #753 "Add 'spo mail send' command"
## Summary

Since some people use Office365-CLI with pipeline or for an automation script on Azure or whatever... can sent an email of notification can be really useful... Send a mail ? Yes ! BUT as SharePoint like [Send-PnPMail](https://docs.microsoft.com/en-us/powershell/module/sharepoint-pnp/send-pnpmail?view=sharepoint-ps).

Currently, I'm using it ([Send-PnPMail](https://docs.microsoft.com/en

[2019-01-08 14:03] VelinGeorgiev commented on #753
Should we utilize the MS Graph apis to do that? I am not sure how it is implemented with the pnp cmdlets.

[2019-01-08 14:37] Laul0 commented on #753
It works with REST API of SharePoint

[2019-01-08 15:47] VelinGeorgiev commented on #753
@waldekmastykarz, what do you think?

[2019-01-08 20:40] Laul0 opened #754 "Update 'spo field get' command capabilities"
## Summary

### Current behavior

Currently, with the `spo field get` command, you can get field :

- [x] By list title only
- [x] ID of field only

### Additional behavior

- [ ] Update existing cmdlet by adding parameters
    - [ ] `id` to `--fieldId`
- [ ] Add cmdlet parameters
    - [ ] `--fieldTitle` (ID or Title not both)
    - [ ] `--listId` (ID or Title not both)
- [ ] Introduce these opti

[2019-01-08 20:48] Laul0 opened #755 "Update 'spo field set' command capabilities"
## Summary

### Current behavior

Currently, with the `spo field set` command, you can set field :

- [x] By list title or list id
- [x] by field id or field title

### Additional behavior

- [ ] Update existing cmdlet by renaming parameters
    - [ ] `id` to `--fieldId`
    - [ ] `name` to `--fieldTitle`
- [ ] Introduce these options along the existing ones instead of replacing them. For the old

[2019-01-08 20:51] arjenbloemsma commented on #753
I think this will be a useful addition as users will probably want to send emails from their O365 CLI script. Sending emails this way will be easier for most users than sending a mail via, for instance, mailx (MacOS/Linux) or the SMTPClient object (Win).

The PowerShell version facilitates sending mails via SharePoint _and_ O365, so the [Graph API ](https://docs.microsoft.com/en-us/graph/api/user-

[2019-01-09 07:46] VelinGeorgiev commented on #753
Maybe we can have commands for both, where `spo mail send` is the SharePoint apis version.

[2019-01-09 16:16] Laul0 commented on #753
Totally agree with @VelinGeorgiev 😉

[2019-01-09 19:47] arjenbloemsma commented on #753
That indeed sounds like a good plan!

[2019-01-11 07:57] appieschot opened #757 "New command: Add a remove user from a Microsoft Teams team"
Suggestion for a new command:
Remove an existing user from a Microsoft Teams team

command: `teams user remove -u| --userName [userName] -i| --groupId <groupId> --confirm``

- userName: the UPN of the user to add
- groupId: id of the group
- confirm don't prompt for confirmation before removing user from team

Feel free to assign to me

[2019-01-11 18:34] waldekmastykarz commented on #751
Aren't dynamicDataPaths and -values already a part of webPartData?

[2019-01-11 18:34] waldekmastykarz commented on #750
Closing this one as we're using #751 to track the progress

[2019-01-11 18:34] #750 closed

[2019-01-11 18:38] waldekmastykarz commented on #735
No problem to issue an additional request if position is specified.

[2019-01-11 18:39] waldekmastykarz commented on #733
Sorry, I don't understand what you mean @Laul0 😊

[2019-01-11 18:40] waldekmastykarz commented on #736
All yours!

[2019-01-11 18:40] waldekmastykarz commented on #714
You can certainly give it a try! 😃

[2019-01-11 18:41] waldekmastykarz commented on #384
Yes, you have. Thank you!

[2019-01-11 18:43] waldekmastykarz commented on #754
Changing `id` to `fieldId` is a breaking change, so I'd suggest we avoid it. I'm all for introducing `listId` as an additional option, but I'd keep `id` as-is.

[2019-01-11 18:47] waldekmastykarz commented on #753
We already have `graph user sendmail` 😊 so I wonder what the added value of using the SharePoint version would be

[2019-01-11 18:51] waldekmastykarz commented on #757
In the CLI we use `remove` as the verb for deletion. Following the naming convention, the command should be named `graph teams user remove`. If this command is meant to change roles, then it should be named `set` instead of `remove` to make it clear that it's meant to update a user rather than remove it. Also, for removing, we typically use `--confirm` option to suppress confirmation prompt.

[2019-01-11 20:12] appieschot commented on #757
Agree with remarks, updated specs. Focus of the command should be to remove users only, demoting them from admin to member can be moved to a different command.

[2019-01-11 21:14] brassman2000 opened #759 "Add 'spo login' support for vanity Url"
Some SPOnline customer come from BPOS-D and SPO-D support vanity Url for SP Admin.  spo login is expecting the '*.sharepoint.com' suffix in the Url.

Feature request - spo login support for Vanity Url for SPO Admin Url.

[2019-01-12 15:20] Laul0 commented on #733
We had planned to add the capability of `list view set` cmdlet to add a column.
We had planned to add cmdlet  `list view field add` that allow to add a column to a view.
The purpose is the same, isn't it ?

[2019-01-12 17:47] Laul0 commented on #753
hmmmmm why not ^^

[2019-01-12 18:05] simonagren commented on #714
I'm traveling for work almost the entire next week, but will try to start looking at this quite soon.
Let me know if it's time critical! :)

[2019-01-12 18:59] brassman2000 commented on #759
Yes - easiest would be to allow any SPO Admin URL.  I am happy to help test any alpha / pre-release if you need a tester :)

[2019-01-12 19:51] waldekmastykarz commented on #714
It's not. All yours!

[2019-01-12 19:51] waldekmastykarz commented on #759
Perfect! I'll reach out to you as soon as we have a version ready for testing. Thank you for bringing it up!

[2019-01-13 17:31] #690 closed

[2019-01-13 17:39] waldekmastykarz commented on #755
What's the added value of applying this change @Laul0?

[2019-01-13 17:43] Laul0 commented on #755
Use same parameters than other cmdlet to keep coherent

[2019-01-13 17:45] waldekmastykarz commented on #755
So the rule of thumb across all commands is, if there is only one noun and it's immediately clear, we use the short versions (id, title). If it's not clear because there are multiple things that you could be referring to, then we use the longer ones (fieldId, listId). In `spo field set` it's clear that the id and title refer to the field so there is no need to prefix them with `field`.

[2019-01-13 17:47] Laul0 commented on #755
Ok, noted

[2019-01-13 17:49] #755 closed

[2019-01-13 17:51] waldekmastykarz commented on #759
Just to confirm: do SPO-D URLs are all https:// or can you also use http://?

[2019-01-14 14:19] appieschot opened #760 "New command: Set user for Microsoft Teams team"
Suggestion for a new command:
Add a set user for Microsoft Teams team that allows for promoting a member to owner, or demoting owner to member

command: `teams user set -u| --userName <userName> -i| --teamId <teamId> --role <role>`

- userName: the UPN of the user to add
- teamId: id of the group
- role: Member or Owner. Default Member

[2019-01-14 17:49] waldekmastykarz commented on #760
userName should be required and I don't think we need the confirm option: we don't use it in other `set` commands either. Other than that, looks good 👍

[2019-01-15 10:53] appieschot commented on #760
Agree, updated spec.

[2019-01-15 20:33] waldekmastykarz commented on #760
Awesome! You want to pick it up yourself?

[2019-01-16 17:16] appieschot commented on #760
Sure! Will have to finish the remove user first but will definitely do this one after that.

[2019-01-16 18:37] waldekmastykarz commented on #760
All yours! 💪

[2019-01-17 11:08] jonathanhotono opened #762 "o365 spo login doesn't seem to save"
I'm just trying to follow the CI docs:
https://docs.microsoft.com/en-us/sharepoint/dev/spfx/toolchain/implement-ci-cd-with-azure-devops#connecting-to-the-app-catalog

I tried to login and check for the status without specifying the command prompt scope to 0365 as follows:
[code]
While entering o365, then login using just `spo login` it seems to works fine.
[code]

Is this the expected behaviour?

[2019-01-17 12:38] ypcode commented on #13
Hi @waldekmastykarz , can I work on this ?

[2019-01-17 18:03] waldekmastykarz commented on #762
No, it's not. In the first case, you should stay connected too. Which OS are you using the CLI on?

[2019-01-17 18:04] waldekmastykarz commented on #13
Of course! All yours!

[2019-01-17 18:17] waldekmastykarz commented on #759
OK @brassman2000, I have done some changes and it would be very helpful if you could verify that all is working as expected:

1. Uninstall the version of the CLI that you have installed globally
1. Go to https://github.com/waldekmastykarz/office365-cli and clone my fork
1. Pull the `enh-spo-d-urls` branch
1. Run `npm i` to restore dependencies
1. Run `npm run build` to build the project
1. Run `np

[2019-01-17 18:19] waldekmastykarz commented on #754
You want to pick it up yourself @Laul0 or leave it for someone else?

[2019-01-17 23:34] jonathanhotono commented on #762
@waldekmastykarz windows 10

[2019-01-17 23:38] VelinGeorgiev commented on #754
May I suggest `--fieldTitle` to be `--fieldName`. We always called the `field name` based on the onet.xml properties.

May I suggest we also add `--listUrl` along with `--listId` so we will have 3 ways to get it.

Feel free to assign that to me I can see @Laul0 has few on him already in progress.

[2019-01-18 09:56] Laul0 commented on #754
Hi guys!
Yes, I currently have some issues in progress... If @VelinGeorgiev has more time, he can take it ;)

@VelinGeorgiev : `fieldTitle` or `fieldName` it does not change much... Generally, when someone look for field, the first reflex is to get it by display name (title). Name is more used for internal Name (more complicate : Field_x0020_Name).

So, as you wish :) what do you think @waldekmast

[2019-01-18 16:05] Laul0 commented on #754
I think that the same parameter should be support both of them.

[2019-01-19 23:45] Laul0 commented on #736
I need some help to understanding the coverage.

I don't know what in my spec file is missing and why a statement is not covered :/

![screenshot 2019-01-20 at 00 43 30](https://user-images.githubusercontent.com/15279205/51433531-6dfe8600-1c4c-11e9-98b9-abfe4855c3e0.png)

Someone can explain to me ? 😃

[2019-01-20 09:18] VelinGeorgiev commented on #736
The coverage identifies if that specific line has been triggered/visited by a test at least one.

If you aim for 100 persent then that line should be covered by at least one test that goes all the way to call the cb() function.

In your case, you probably do not have a test that checks if the command has successfully executed I.e last request.post succeeded and returned success primise.

Even the

[2019-01-22 21:04] brassman2000 commented on #759
The login for SPO-D Tenant Admin vanity Url now works.
However, other Commands (like spo site list) that rely on the Tenant Admin Url are still trying to validate the Url, i.e.
o365$ spo site list --type TeamSite --filter "Url -like 'jhk'"
Error: https://o365spo-admin.gsk.com is not a tenant admin site. Log in to your tenant admin site and try again.
I'll report other issues here as I find them.

[2019-01-23 11:52] saper opened #767 "spo login results with AADSTS900941 Need admin approval"
When trying to log in with "spo login" I am getting the following error on https://microsoft.com/devicelogin

     AADSTS900941: An administrator of $CUSTOMER has set a policy that prevents you from granting
     PnP Office 365 Management Shell the permissions it is requesting.
     Contact an administrator of $CUSTOMER who can grant permissions to this application
     on your behalf.

Is there a

[2019-01-23 18:47] waldekmastykarz commented on #762
Unfortunately I can't reproduce it @jonathanhotono. Are you running your terminal in admin mode? Also, could you try to add the `--debug` option to the login method to see if it would give us some more info why it's not working for you?

[2019-01-23 18:50] waldekmastykarz commented on #754
I think so far in all other commands, we've been using fieldTitle with the display name, right? In such case, I'd suggest that we stick with fieldTitle for now for consistency, and then in the next iteration expand with fieldName based on the internal name

[2019-01-23 18:57] waldekmastykarz commented on #759
Thanks for confirming! I'll have a look at the commands you mentioned. They all should be using the same way to validate URLs, but maybe that's not the case.

Regarding the logout issues: how can I reproduce them?

[2019-01-23 18:59] waldekmastykarz commented on #767
Yes, you can. To do this, you would create a custom Azure AD application with the desired permissions and have the CLI use it instead of the standard one. You can find more information about this at https://pnp.github.io/office365-cli/concepts/authorization-tokens/#azure-ad-application-used-by-the-office-365-cli

[2019-01-23 19:18] waldekmastykarz commented on #759
OK, I've updated how the CLI detects tenant admin sites, which should address the issues you noticed. Could you please give it another try?

[2019-01-24 08:34] VelinGeorgiev commented on #754
Ok. Let's do that. @waldekmastykarz, please assign that to me.

[2019-01-24 10:02] saper commented on #767
Thank you. I don't have any serious Azure/Office365/whatever foo to understand what I need to do now to get this working and I hope I have enough permissions to create such an app. (I was hoping to be able to easily upload and download files to Sharepoint).

But I understand that the CLI is using the default app anyway, so it has its own collection of server-side grants.

[2019-01-24 11:37] jonathanhotono commented on #762
@waldekmastykarz with debug doesn't seem to show any good result
![image](https://user-images.githubusercontent.com/6864547/51675641-5d715580-2028-11e9-8033-f8532f93e964.png)

I have a high suspicion that it might be the password complexity that causes this issue as I tried to login to another tenant with simpler password:
![image](https://user-images.githubusercontent.com/6864547/51675668-7084258

[2019-01-24 18:55] waldekmastykarz commented on #754
All yours @VelinGeorgiev!

[2019-01-24 19:11] waldekmastykarz commented on #767
Alternatively you could use the AAD app used by PowerShell: `9bc3ab49-b65d-410a-85ad-de819febfddc`. That way you wouldn't need to create a new AAD app yourself.

[2019-01-24 19:30] waldekmastykarz commented on #762
Using your complex password, I can indeed reproduce the issue. What seems to help is wrapping it in double quotes. The auth then proceeds as expected and the quotes are not included in the password sent to AAD.

[2019-01-24 19:52] saper commented on #767
Trying to access a guest account with this resulted in `AADSTS50001` error. A "proper" tenant account worked. Go figure.

[2019-01-24 22:14] jonathanhotono commented on #762
@waldekmastykarz yep I did tried with double quotes and it does work. Thanks!

[2019-01-24 22:14] #762 closed

[2019-01-25 15:07] brassman2000 commented on #759
@waldekmastykarz  - spo commands behave as expected - thanks.  I can investigate the logout issues separately.  In terms of support for vanity Url for SPO-D customers, this looks good to me.

[2019-01-26 14:13] waldekmastykarz commented on #759
Awesome! Thank you for confirming. If you find any issues in the logout commands, let's track them in separate issues.

[2019-01-26 14:39] #709 closed

[2019-01-26 14:40] #713 closed

[2019-01-26 14:40] #730 closed

[2019-01-26 18:10] waldekmastykarz commented on #762
Perfect! Thanks for confirming!

[2019-01-27 12:35] waldekmastykarz opened #769 "New command: Declare list item as record"
Declare the specified list item as a record

command: `spo listitem record declare -u|--webUrl <webUrl> -i|--id <id> -l|--listId [listId] -t|--listTitle [listTitle] -d|--date [date]`

- webUrl: The URL of the site where the list is located
- id: The ID of the list item to declare as record
- listId: The ID of the list where the item is located. Specify listId or listTitle but not both
- listTitle:

[2019-01-27 12:37] waldekmastykarz opened #770 "New command: Undeclare list item as record"
Undeclare the specified list item as a record

command: `spo listitem record undeclare -u|--webUrl <webUrl> -i|--id <id> -l|--listId [listId] -t|--listTitle [listTitle]`

- webUrl: The URL of the site where the list is located
- id: The ID of the list item to declare as record
- listId: The ID of the list where the item is located. Specify listId or listTitle but not both
- listTitle: The title of