[2019-01-27 12:43] waldekmastykarz opened #771 "New command: Test if list item is a record"
Tests if the specified list item is a record

command: `spo listitem record test -u|--webUrl <webUrl> -i|--id <id> -l|--listId [listId] -t|--listTitle [listTitle]`

- webUrl: The URL of the site where the list is located
- id: The ID of the list item to undeclare as record
- listId: The ID of the list where the item is located. Specify listId or listTitle but not both
- listTitle: The title of the

[2019-01-27 12:51] waldekmastykarz opened #772 "New command: Set classification label"
Sets classification label on the specified list

command: `spo list label set -u|--webUrl <webUrl> -l|--listId [listId] -t|--listTitle [listTitle] --label <label> --syncToItems --blockDeletion --blockEdit`

- webUrl: The URL of the site where the list is located
- listId: The ID of the list on which to set the label. Specify listId or listTitle but not both
- listTitle: The title of the list on wh

[2019-01-27 12:53] waldekmastykarz opened #773 "New command: Get classification label"
Gets classification label set on the specified list

command: `spo list label get -u|--webUrl <webUrl> -l|--listId [listId] -t|--listTitle [listTitle]`

- webUrl: The URL of the site where the list is located
- listId: The ID of the list on which to get the label. Specify listId or listTitle but not both
- listTitle: The title of the list on which to get the label. Specify listId or listTitle but

[2019-01-27 13:05] waldekmastykarz opened #774 "New command: Set in-place records management"
Activates or deactivates in-place records management

command: `spo web inplacerecordsmanagement set -u|--webUrl <webUrl> --enabled <enabled>`

- webUrl: The URL of the site on which to activate or deactivate in-place records management
- enabled: Set to `true` to activate in-place records management and to `false` to deactivate it

For more information see: https://docs.microsoft.com/en-us/powers

[2019-01-27 13:12] waldekmastykarz opened #775 "New command: Configures manual in-place record declaration for the list"
### Usage

`spo list recorddeclaration set [options]`

### Description

Configures manual in-place record declaration for the list

### Options

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `-u, --webUrl <webUrl>` | The URL of the site where the list is located |
| `-l, --listId [listId]`| The ID o

[2019-01-27 13:14] waldekmastykarz commented on #384
Closing this issue in favor of #769, #770, #771, #772, #773, #774 and #775 so that we can track them separately.

[2019-01-27 13:14] #384 closed

[2019-01-27 13:15] waldekmastykarz commented on #670
Setting as available for picking due to lack of response

[2019-01-27 13:15] waldekmastykarz commented on #673
Setting as available for picking due to lack of response

[2019-01-27 13:16] waldekmastykarz commented on #674
Setting as available for picking due to lack of response

[2019-01-27 13:18] waldekmastykarz commented on #751
Hey @mpowney are you working on this?

[2019-01-28 15:59] wnzn opened #776 "List all Flows in environment does not return all Flows"
I'm trying to list all the flows in my environment. When logged in to the Flow admin center I get 2 flows and a load more button. When using the cli, my results are limited to those same 2 flows.

`azmgmt flow list --environment Default-The-Guid --asAdmin`

[2019-01-29 13:14] appieschot commented on #776
When you click the load more button; does the UI actually provide more flows? In my test tenant I do see the button as well, even though there are no additional flows available. Clicking the button does not change anything (it does a request but that does not return additional results).

[2019-01-29 22:07] wnzn commented on #776
Sorry, I should have been more specific. Yes, it does load more flows. There are plenty in the environment but I can't seem to list them using the command. I'll try and see if I can replicate in another tenant.

[2019-01-30 11:21] wnzn commented on #776
Can't replicate the behaviour, possibly because there aren't that many in the other environment. What API does the command use?

[2019-01-30 18:34] waldekmastykarz commented on #776
Here is the API call issued by the CLI to get the list of all flows: https://github.com/pnp/office365-cli/blob/8306c5b9067a412948c91c763143e4d1c654f253/src/o365/azmgmt/commands/flow/flow-list.ts#L52

[2019-01-30 19:12] waldekmastykarz opened #779 "New command: List site designs applied to the specified site"
Lists site designs applied to the specified site

command: `spo sitedesign run list -u|--webUrl <webUrl> -i|--siteDesignId [siteDesignId]`

- webUrl: The URL of the site for which to list applied site designs
- siteDesignId: ID of the site design for which to display information

For more information see the `Microsoft_SharePoint_Utilities_WebTemplateExtensions_SiteScriptUtility_GetSiteDesignRun`

[2019-01-30 20:08] waldekmastykarz opened #780 "New command: Get information about the site scripts executed for the specified site design"
Gets information about the site scripts executed for the specified site design

command: `spo sitedesign run status get -u|--webUrl <webUrl> -i|--runId <runId>`

- webUrl: The URL of the site for which to get the information
- runId: ID of the site design applied to the site

For more information see the `Microsoft_SharePoint_Utilities_WebTemplateExtensions_SiteScriptUtility_GetSiteDesignRunStatus

[2019-01-30 20:18] waldekmastykarz opened #781 "New command: List site designs scheduled for execution on the specified site"
Lists site designs scheduled for execution on the specified site

command: `spo sitedesign task list -u|--webUrl <webUrl>`

- webUrl: The URL of the site for which to list scheduled site designs

For more information see the `Microsoft_SharePoint_Utilities_WebTemplateExtensions_SiteScriptUtility_GetSiteDesignTasks` function in `_api/$metadata`

[2019-01-30 20:21] waldekmastykarz opened #782 "New command: Get information about the specified site design scheduled for execution"
Gets information about the specified site design scheduled for execution

command: `spo sitedesign task get -i|--taskId <taskId>`

- taskId: The ID of the site design task to get information for

For more information see the `Microsoft_SharePoint_Utilities_WebTemplateExtensions_SiteScriptUtility_GetSiteDesignTask` function in `_api/$metadata`

[2019-01-30 20:25] waldekmastykarz opened #783 "New command: Remove the specified site design scheduled for execution"
### Usage

`spo sitedesign task remove [options]`

### Description

Removes the specified site design scheduled for execution

### Options

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `-i, --taskId <taskId>` | The ID of the site design task to remove |
| `--confirm` | Don't prompt for confirming r

[2019-02-02 06:55] mpowney commented on #751
Yes I am :) pull request imminent

[2019-02-02 07:01] mpowney commented on #751
hmm you might be right @waldekmastykarz - the functionality described here may be redundant...

[2019-02-02 09:43] waldekmastykarz commented on #751
Thanks for digging into this @mpowney. Are you still investigating this or shall we close it?

[2019-02-02 18:43] waldekmastykarz commented on #586
Hey @arjenbloemsma, are you still working on this?

[2019-02-02 18:43] waldekmastykarz commented on #615
Hey @kshsbala are you still working on this one?

[2019-02-02 18:44] waldekmastykarz commented on #649
Hey @arjenbloemsma, are you still working on this?

[2019-02-02 18:45] waldekmastykarz commented on #715
@HubSaul just checking if you've seen my last remark and are still working on this?

[2019-02-02 18:49] waldekmastykarz commented on #733
Hey @Laul0 are you still working on this?

[2019-02-02 18:50] waldekmastykarz commented on #738
Hey @ktskumar, are you still working on this?

[2019-02-02 18:51] waldekmastykarz commented on #740
Hey @Laul0 are you still working on this?

[2019-02-02 18:53] waldekmastykarz commented on #747
Hey @Laul0 are you still working on this?

[2019-02-02 20:43] Laul0 commented on #747
I'm trying to fix my spec first and after that I'll work on it

[2019-02-02 20:45] Laul0 commented on #733
I have to finish my spec for spo list view field add and I'll work on it

[2019-02-03 16:37] #736 closed

[2019-02-03 16:38] #779 closed

[2019-02-03 16:39] #780 closed

[2019-02-04 14:55] wnzn commented on #776
I was able to perform the API calls with Postman and get the same 2 Flows returned on the first call and a "nextLink" JSON object. If I then send a GET request to the URL value of that object, I get more results and another "nextLink". So its similar in operation as the web UI. I suspect some logic is required to list all Flows when this nextLink is part of the response.

[2019-02-04 17:50] waldekmastykarz commented on #776
We have this logic implemented in Graph commands, just not in Azmgmt commands. Thanks for reporting. Will update shortly!

[2019-02-04 17:51] Laul0 commented on #747
Question about the documentation and help : do you prefer to update the documentation with the new options or to keep the old ones and add "deprecated" into the comment ? And update the examples with the new ones ?

[2019-02-04 18:48] Laul0 commented on #747
If options title and listTitle are define, do you want a warning too ? An error ?

[2019-02-04 19:04] waldekmastykarz commented on #776
@wnzn how can I reproduce this behavior? When I go to the Flow admin center, I'm getting all my Flows at once. Any way to get the paged behavior like you mentioned?

[2019-02-04 22:13] VelinGeorgiev commented on #754
@waldekmastykarz , @Laul0 how about making the listid, listtitle and listurl options optional. That means the if you do not specify list option it will pull all the site  columns for that web `/_api/web/fields` similar to Get-PnPField with no list option specified?

What do you think? So we make the list options optional?

[2019-02-05 08:08] VelinGeorgiev commented on #754
@waldekmastykarz , @Laul0 I have another suggestion. Should we instead of `--fieldTitle` keep it to just `--title`. This way we will be consistent with the current options `--id` and the command is about `spo field` anyway so I do not see a reason to double type `field` on my keyboard when using it.

The `--fieldTitle` options makes sense for commands like `spo list view ...`, but this one is abou

[2019-02-05 09:08] Laul0 commented on #747
It's what I did. My PR should be ready

[2019-02-05 09:15] Laul0 commented on #754
Hi @VelinGeorgiev, personally, when I'm scripting, I like use same parameters regardless of cmdlet what I'm using. Switch from fieldId to id and fieldTitle to title is a little bit unpleasant... I don't know if is your case or if I'm too lazy 😅

[2019-02-05 09:46] VelinGeorgiev commented on #754
My idea was perhaps duplication in general. I know that it is very clear for you, but let me put my opinion here for transparency :) :
- spo **field** get --**field**Title '..'
- spo list view **field** add --**field**Title '..'

We have declaration i.e. `field` on the left side of the command and because of that I already know that is about field, but we duplicate that on the right side in `--fie

[2019-02-05 10:41] Laul0 commented on #754
Understood 👍🏻

[2019-02-05 12:03] VelinGeorgiev commented on #754
@waldekmastykarz , what is your opinion?

[2019-02-05 15:24] wnzn commented on #776
I can't reproduce on another tenant either. The one I have the problem with contains multiple environments (Dynamics, Office) and a large amount of Flows. Don't know if it is related. Let me know if I can help test the changes.
________________________________
Van: Waldek Mastykarz <notifications@github.com>
Verzonden: maandag 4 februari 2019 20:04
Aan: pnp/office365-cli
CC: wnzn; Mention
Onderwer

[2019-02-05 17:10] peterremote1980 opened #788 "possible to pass username and password for login?"
Hi, possible to pass username and password for login?

[2019-02-05 17:16] peterremote1980 commented on #788
so , dump question

[2019-02-05 17:16] #788 closed

[2019-02-05 18:37] waldekmastykarz commented on #754
I like less typing, but I also like clarity. Is there a risk that it won't be clear what `title` is if we include just `title` as opposite to `fieldTitle`? If there was only one title option, then it would be clear, but both list and field have a title so I'm not quite confident if typing `title` is clear that it refers to the field which is the last noun.

In the bigger scheme of things: this is

[2019-02-05 18:39] waldekmastykarz commented on #776
I have a PR ready which and by slightly adjusting the API call I was able to get paged results. The new implementation should handle the nextLink correctly. Thanks for spotting it!

[2019-02-05 20:45] waldekmastykarz commented on #649
Good luck!

[2019-02-06 10:14] VelinGeorgiev commented on #754
Fair play! pull request created https://github.com/pnp/office365-cli/pull/790

[2019-02-06 10:22] VelinGeorgiev commented on #772
@waldekmastykarz do you know if there is a rest for that or we have to do it the old school way?

Assign me please.

[2019-02-06 17:13] Laul0 opened #791 "❓Question : use case with 'spo app install' cmdlet"
## My use case

1. I developed a xFx extension for SharePoint 🥳
2. I have to add my solution package to the AppCatalog of the target site collection (`spo app add` : it works)
3. I have to deploy my solution package from the AppCatalog of the target site collection (`spo app deploy` : it works)
4. I have to install my solution package from the AppCatalog of the target site collection (`spo app ins

[2019-02-06 18:07] ktskumar commented on #738
Yes Waldek. Will pull the request this week.

[2019-02-06 18:13] simonagren commented on #714
@waldekmastykarz I'm so sorry.
I realize I have taken on too much in general right now. I need to pause the O365 cotributions for a few weeks I think.
Hope I'm welcome back later? :)

[2019-02-07 08:41] VelinGeorgiev commented on #791
spo app install is just calling the rest API for install. I am not sure what the API is doing under the hood. In my opinion it should not deploy a custom action unless this is declared in your elements.XML (features XML) in the solution package (your-foldr/SharePoint site/assets).

https://docs.microsoft.com/en-us/sharepoint/dev/spfx/web-parts/get-started/provision-sp-assets-from-package

[2019-02-07 09:13] Laul0 commented on #791
Good point @VelinGeorgiev !
I did think about `element.xml`... I just comment the `<CustomAction>` node.

[code]

Thx

[2019-02-07 09:13] #791 closed

[2019-02-07 18:03] waldekmastykarz commented on #772
I haven't looked at what API is exactly called by PowerShell, but once you do, you could check _api/$metadata for anything alike

[2019-02-07 18:04] waldekmastykarz commented on #738
Perfect! Looking forward to it!

[2019-02-08 11:58] VelinGeorgiev commented on #774
@waldekmastykarz , assign that to me please.

[2019-02-08 12:47] mpowney commented on #751
I've investigated further - the internal handling of 'spo page clientsidewebpart add' and 'spo page control get' doesn't seem to facilitate dynamicDataPaths and dynamicDataValues. I've persisted with the dev, and have a pull request ready.

[2019-02-08 12:55] mpowney commented on #751
Pull request #793 has no changes to the command signatures, just the way objects are handled internally.

* ```spo page clientsidewebpart add``` now passes any ```dynamicDataValues``` and ```dynamicDataPaths``` specified in the ```webPartData``` param through to the page HTML
* ```spo page control get``` now outputs two additional properties ```dynamicDataPaths``` and ```dynamidDataValues```, if t

[2019-02-08 17:40] waldekmastykarz commented on #774
Awesome! All yours!

[2019-02-09 14:06] #757 closed

[2019-02-09 14:06] #735 closed

[2019-02-09 14:07] #747 closed

[2019-02-09 14:08] #776 closed

[2019-02-09 14:09] #781 closed

[2019-02-09 14:09] #754 closed

[2019-02-09 14:10] #714 closed

[2019-02-09 14:11] #751 closed

[2019-02-09 14:29] waldekmastykarz commented on #586
Setting as available for taking due to lack of response

[2019-02-09 14:30] waldekmastykarz commented on #615
Setting as available for taking due to lack of response

[2019-02-09 14:31] waldekmastykarz commented on #715
Setting as available for taking due to lack of response

[2019-02-09 19:48] waldekmastykarz commented on #627
Closing this for now as we don't have a specific use case for implementation. Let's revisit in the future if need be.

[2019-02-09 19:48] #627 closed

[2019-02-09 23:43] BobGerman opened #794 "New commands: get teams template and create team from template"
The beta Teams Create resource includes a JSON structure that's able to provision most aspects of a Team. This JSON structure could easily be saved as a "template" (string or file), and then passed to the Graph API using Office 365 CLI, removing the need for a developer.

This issue proposes two commands: one to generate a JSON template from an existing Team, and another to create a new Team based

[2019-02-10 02:14] rabwill commented on #773
Hi @waldekmastykarz , is there any known rest api for this yet? Or should we mimic CSOM call `Microsoft.SharePoint.Client.CompliancePolicy.SPPolicyStoreProxy.GetListComplianceTag`  instead.

[2019-02-10 18:32] waldekmastykarz commented on #794
Thank you for the proposal @BobGerman and both are great ideas. Here is some feedback:

1. Get Team template

For simplicity, we could consider skipping the asString/asFile/path options. Instead, we'd always return the template as command output. If you want to store it in a file, you could redirect the command output using `> ./mytemplate.json`, so there is less need for us to implement file syst

[2019-02-10 18:35] waldekmastykarz commented on #773
There is a REST API. Search in `_api/$metadata` for `SP_CompliancePolicy_SPPolicyStoreProxy_GetListComplianceTag`.

All yours and I appreciate you reaching out 👏

[2019-02-11 12:56] VelinGeorgiev commented on #774
@waldekmastykarz , should we change the namespace from `spo web` to `spo site`? This is actually a site collection feature (scoped on site level).

so instead of
`spo web inplacerecordsmanagement set -u|--webUrl <webUrl> --enabled <enabled>`

we can have
`spo site inplacerecordsmanagement set -u|--siteUrl <siteUrl> --enabled <enabled>`

[2019-02-11 18:16] BobGerman commented on #794
That sounds great @waldekmastykarz  - I wanted to take a shot at the commands but figured I'd probably not get it quite right. It's important to be consistent with the other commands and the realities of how people use the CLI. Thanks very much for the feedback!

Do we need to discuss the overall idea of using the CreateTeam JSON payload as a "template"?

I'm prototyping the create action in an Az

[2019-02-11 18:39] waldekmastykarz commented on #774
Good catch @VelinGeorgiev! Let's change as you suggested

[2019-02-11 18:43] waldekmastykarz commented on #794
Sounds like a plan! Shall I assign #615 to you and leave this one open for others or would you like to implement them both @BobGerman?

[2019-02-11 22:21] rabwill commented on #773
Thanks Waldek! I am on it.

[2019-02-12 19:13] waldekmastykarz opened #798 "Add support for the latest modern UI options"
Extend the `spo web set` command with the following options to support the latest modern UI options:

- `headerLayout [headerLayout]` - Configures the site header. Allowed values `standard|compact`
- `headerBackground [headerBackground]` - Configures the site header background. Allowed values: `0|1|2|3`
- `megaMenuEnabled [megaMenuEnabled]` - Set to `true` to change the menu style to megamenu. Set

[2019-02-16 15:37] kshsbala commented on #615
Hi @waldekmastykarz, somehow missed the notification for the above. If it is still available...I can look into this.

[2019-02-16 17:48] #773 closed

[2019-02-16 17:49] #782 closed

[2019-02-16 17:50] #760 closed

[2019-02-16 17:50] #798 closed

[2019-02-16 17:51] waldekmastykarz commented on #615
Sure thing, still available and all yours 👍

[2019-02-17 08:50] rabwill commented on #586
Hey @waldekmastykarz is this good to pick up?

[2019-02-17 10:29] arnieraju commented on #769
@waldekmastykarz G'day Waldek, I'd love to pick this up as my first contribution!  Any chance you can assign it to me?

[2019-02-17 11:19] waldekmastykarz commented on #586
Yes it is! All yours! 👏

[2019-02-17 11:20] waldekmastykarz commented on #769
All yours! Looking forward to your PR! Please, don't hesitate to reach out if you have any questions 👏

[2019-02-17 11:26] waldekmastykarz commented on #13
Hey @ypcode, are you still working on this?

[2019-02-17 11:38] waldekmastykarz commented on #753
Hey @Laul0 are you still working on this? It seems like you have quite a few items on your name, all in progress. Shall we keep one and make other available for picking?

[2019-02-17 12:43] Laul0 commented on #753
Hi @waldekmastykarz, I almost finish the dev locally for this issue.
I have to finish the recovery.
After this one, I have 2 other issues. I hope submit a least 2 PR next week

[2019-02-17 16:17] waldekmastykarz commented on #753
Awesome! Looking forward to it!

[2019-02-17 18:11] ypcode commented on #13
Hi Waldek, I am still on it, it was a bit delayed but will PR in the upcoming days :)

[2019-02-17 19:09] waldekmastykarz commented on #13
Awesome! Looking forward to it!

[2019-02-17 22:03] douglasromao commented on #674
@waldekmastykarz is there anyone working on this item? if doesn't I would like to take it.

[2019-02-18 00:14] arnieraju commented on #769
Brilliant! Thanks Waldek will do!

[2019-02-18 07:27] appieschot opened #802 "New command: List all users for a O365 Group"
List all users for a O365 Group

Command; `groups users list -i| --groupId <groupId>`
    * groupId: id of the group

_Should use this command to 'refactor' some of the teams-user-list and teams-user-set actions like getOwners and getMembersAndGuests to prevent duplicate methods_

[2019-02-18 07:28] appieschot commented on #802
Feel free to assign to me if you assign on spec

[2019-02-18 18:09] waldekmastykarz commented on #674
All yours @douglasromao! Thank you for reaching out and I'm looking forward to your contribution! Please, don't hesitate to reach out if you have any questions 👏

[2019-02-18 18:11] waldekmastykarz commented on #802
Good suggestion! Following the naming convention of the existing commands, let's name it `graph o365group user list -i|--groupId <groupId>`. Other than that: all yours! 💪

[2019-02-18 22:42] douglasromao commented on #674
Thanks @waldekmastykarz let's do it! 💪

[2019-02-20 09:03] rabwill commented on #770
Hey @waldekmastykarz is date required to `undeclare` an item already declared as a record? Also in the description it's mentioned  ` id: The ID of the list item to declare as record`. Am I missing something? Please assign this to me.

[2019-02-20 11:22] VelinGeorgiev commented on #772
Hey @waldekmastykarz , I will add `listUrl` (server relative or web relative) as param. Are you ok?

[2019-02-20 12:03] VelinGeorgiev commented on #772
Hey @waldekmastykarz, I will also rename the `--blockDeletion` to `--blockDelete` because this is how it is being specified in the $metadata. Are you ok?

![image](https://user-images.githubusercontent.com/1049476/53090516-90174c80-3507-11e9-942a-7602343b988b.png)

[2019-02-20 18:08] waldekmastykarz commented on #770
You're right, the date doesn't belong here. Good catch. Other than that, all yours! 👏

[2019-02-20 20:06] rabwill commented on #770
Thank you

[2019-02-22 10:59] VelinGeorgiev commented on #772
@waldekmastykarz , the PR is submitted. One thing I am not certain of is how blockEdit and blockDelete works. I am calling the right thing using the REST, but I was not able to make it work as per your description up in the command. I do not know how it is suppose to work either, but I was not able to make it work with the PnP PowerShell command either.

I might be doing something wrong. Could you

[2019-02-22 19:08] waldekmastykarz opened #808 "New command: Get information about the specific Microsoft Teams team channel"
Gets information about the specific Microsoft Teams team channel

* command: `teams channel get -c|--channelId <channelId> -i|--teamId <teamId>`
* teamId: The ID of the team to which the channel belongs
* channelId: The ID of the channel for which to retrieve more information

[2019-02-22 19:21] waldekmastykarz opened #809 "New command: Get Microsoft Teams team fun settings"
Gets Microsoft Teams team fun settings:

* command: `teams funsettings list -i|--teamId <teamId>`
* teamId: The ID of the team for which to list fun settings

[2019-02-22 19:23] waldekmastykarz opened #810 "New command: Get Microsoft Teams team guest settings"
Gets Microsoft Teams team guest settings:

* command: `teams guestsettings list -i|--teamId <teamId>`
* teamId: The ID of the team for which to list guest settings

[2019-02-22 19:24] waldekmastykarz opened #811 "New command: Get Microsoft Teams member settings"
Gets Microsoft Teams team member settings:

* command: `teams membersettings list -i|--teamId <teamId>`
* teamId: The ID of the team for which to list member settings

[2019-02-22 19:26] waldekmastykarz opened #812 "New command: Get Microsoft Teams team messaging settings"
Gets Microsoft Teams team messaging settings:

* command: `teams messagingsettings list -i|--teamId <teamId>`
* teamId: The ID of the team for which to list messaging settings

[2019-02-22 19:28] waldekmastykarz opened #813 "New command: Delete Microsoft Teams team"
Deletes the specified Microsoft Teams team

* command: `teams remove -i|--teamId <teamId> --confirm`
* teamId: The ID of the team to remove
* confirm: don't prompt for confirmation

[2019-02-22 19:31] waldekmastykarz opened #814 "New command: Delete Microsoft Teams team channel"
Deletes the specified Microsoft Teams team channel:

- command: `teams channel remove -c|--channelId [channelId] -n|--channelName [channelName] -i|--teamId <teamId> --confirm`
- channelId: The ID of the channel to remove. Specify channelId or channelName but not both
- channelName: The name of the channel to remove. Specify channelId or channelName but not both
- teamId: The ID of the team to whic

[2019-02-22 19:41] waldekmastykarz opened #815 "New command: Update Microsoft Teams team properties"
Updates Microsoft Teams team properties:

* command: `teams set -i|--teamId <teamId> --displayName [displayName] --description [description] --alias [alias] --classification [classification] --visibility [visibility]`
* teamId: The ID of the team for which to update properties
* displayName: New display name for the team
* description: New description for the team
* alias: New alias for the team
*

[2019-02-22 21:37] waldekmastykarz opened #816 "New command: Update properties of the specified Microsoft Teams channel"
Updates properties of the specified Microsoft Teams channel

* command: `teams channel set -i|--teamId <teamId> --channelName <channelName> --newChannelName [newChannelName] --description [description]`
* channelName: The name of the channel to update properties of
* teamId: The ID of the team to which the channel belong
* newChannelName: New display name for the channel
* description: New descrip

[2019-02-22 21:47] waldekmastykarz opened #817 "New command: Update fun settings of a Microsoft Teams team"
Updates fun settings of a Microsoft Teams team

* command: `teams funsettings set -i|--teamId <teamId> --allowGiphy [allowGiphy] --giphyContentRating [giphyContentRating] --allowStickersAndMemes [allowStickersAndMemes] --allowCustomMemes [allowCustomMemes]`
* teamId - The ID of team for which to update fun settings
* allowGiphy - Set to `true` to allow giphy and to `false` to disable it
* giphyCon

[2019-02-22 21:53] waldekmastykarz opened #818 "New command: Update guest settings of a Microsoft Teams team"
Updates guest settings of a Microsoft Teams team

* command: `teams guestsettings set -i|--teamId <teamId> --allowCreateUpdateChannels [allowCreateUpdateChannels] --allowDeleteChannels [allowDeleteChannels]`
* teamId - The ID of the team for which to update guest settings
* allowCreateUpdateChannels - Set to `true` to allow guests to create and update channels and to `false` to disallow it
* allow

[2019-02-22 22:07] waldekmastykarz opened #819 "New command: Update member settings of a Microsoft Teams team"
Updates member settings of a Microsoft Teams team

* command: `teams membersettings set -i|--teamId <teamId> --allowCreateUpdateChannels [allowCreateUpdateChannels] --allowDeleteChannels [allowDeleteChannels] --allowAddRemoveApps [allowAddRemoveApps] --allowCreateUpdateRemoveTabs [allowCreateUpdateRemoveTabs] --allowCreateUpdateRemoveConnectors [allowCreateUpdateRemoveConnectors]`
* teamId - The I

[2019-02-22 22:11] waldekmastykarz opened #820 "New command: Update messaging settings of a Microsoft Teams team"
Updates messaging settings of a Microsoft Teams team

* command: `teams messagingsettings set -i|--teamId <teamId> --allowUserEditMessages [allowUserEditMessages] --allowUserDeleteMessages [allowUserDeleteMessages] --allowOwnerDeleteMessages [allowOwnerDeleteMessages] --allowTeamMentions [allowTeamMentions] --allowChannelMentions [allowChannelMentions]`
* teamId - The ID of the team for which to u

[2019-02-22 22:13] waldekmastykarz opened #821 "New command: Update picture of the specified Microsoft Teams team"
### Usage

`teams picture set [options]`

### Description

Updates picture of the specified Microsoft Teams team

### Options

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `-i, --teamId <teamId>` | The ID of the team for which to update the picture |
| `--imagePath <imagePath>` | Path to the image

[2019-02-23 00:16] BobGerman commented on #794
Yes please do assign #615 to me and leave this open, that sounds good.

[2019-02-23 11:19] waldekmastykarz commented on #794
@kshsbala is already working on #615 but I don't think that creating a Team using a template is in scope, so let's wait for him to finish and then take it as an enhancement. Meanwhile, would you like to pick up this one?

[2019-02-23 16:18] waldekmastykarz opened #822 "New command: Request re-indexing the specified subsite"
Requests re-indexing the specified subsite

command: `spo web reindex -u|--webUrl <webUrl>`

- webUrl: The URL of the site to re-index

For more information see https://github.com/SharePoint/PnP-Sites-Core/blob/a794db71c8ea954250c5ec3a506ee04dad3b9186/Core/OfficeDevPnP.Core/Extensions/WebExtensions.cs#L995

[2019-02-23 16:25] waldekmastykarz opened #823 "Extend the 'spo site add' command to allow specifying site owners"
Extend the `spo site add` command to allow specifying a comma-separated list of site owners (optional), eg.

`spo site add --alias team1 --title Team 1 --owners admin@contoso.com`

[2019-02-23 18:17] waldekmastykarz commented on #823
There seems to be an error in the SharePoint API used to create modern team sites. The moment you specify site owners, you get the following error:

[code]

Passed the information on to Microsoft for further review

[2019-02-24 08:16] estruyf opened #824 "New command: Publish Teams apps to your organization's app catalog"
Publish an app to the Microsoft Teams apps catalog. API details:
https://docs.microsoft.com/en-us/graph/api/teamsapp-publish?view=graph-rest-1.0

* command: `graph teams app publish --filePath <filePath>`
* filePath - Path to the Teams Manifest package

[2019-02-24 08:20] estruyf opened #825 "New command: Remove Teams app from your organization's app catalog"
Remove an app to the Microsoft Teams apps catalog. API details:
https://docs.microsoft.com/en-us/graph/api/teamsapp-delete?view=graph-rest-1.0

* command: `graph teams app delete --appId <appId> --confirm`
* appId - ID of the app to remove
* confirm: Don't prompt for confirmation

[2019-02-24 08:22] estruyf opened #826 "New command: List the published apps from the Microsoft Teams app catalog"
List all apps from the Microsoft Teams apps catalog. API details:
https://docs.microsoft.com/en-us/graph/api/teamsapp-list?view=graph-rest-1.0

* command: `graph teams app list`

[2019-02-24 08:25] estruyf opened #827 "New command: Updates Teams apps in your organization's app catalog"
Update an app previously published to the Microsoft Teams app catalog. API Details:
https://docs.microsoft.com/en-us/graph/api/teamsapp-update?view=graph-rest-1.0

* command: `graph teams app update -i|--appId <appId> --filePath <filePath>`
* appId - The ID of the app to update
* filePath - Path to the Teams Manifest zip

[2019-02-24 09:24] waldekmastykarz commented on #824
Nice suggestion @estruyf!

[2019-02-24 09:25] waldekmastykarz commented on #825
Nice suggestion @estruyf. For consistency with other commands in the CLI, I've added the `confirm` option which we use for all delete commands.

[2019-02-24 09:29] estruyf commented on #824
Feel free to assign it to me

[2019-02-24 09:29] waldekmastykarz commented on #824
😄 I was just about to ask if you wanted to pick any of them 💪

[2019-02-24 12:08] vman commented on #826
Hi guys, this looks like a good one for me to pickup and get my hands dirty with the CLI! Would be happy to contribute.

[2019-02-24 12:10] waldekmastykarz commented on #826
Awesome! All yours!

[2019-02-24 13:58] #774 closed

[2019-02-24 13:59] #586 closed

[2019-02-24 14:00] #772 closed

[2019-02-24 14:01] waldekmastykarz commented on #772
I had a look at the API call and seemed all fine. If there is an API issue, then we should circle it back to Microsoft.

[2019-02-24 15:29] estruyf commented on #824
@waldekmastykarz in order for this to work, think we'll have to add the `AppCatalog.ReadWrite.All` permission scope to the app. Is this something you can do?

[2019-02-24 15:43] waldekmastykarz commented on #824
Yes, I can. I'll let you know when it's done

[2019-02-24 15:48] waldekmastykarz commented on #824
...and done. You can reconsent the application in your tenant by running:

[code]

[2019-02-24 16:38] kshsbala commented on #615
Are we going with the Option 2 - Create group if doesnt exist and add a team. We have a command to create a group which takes displayName, description, mailNickName as a mandatory parameters. Wondering whether to call the command or use the helper method here to create the group before creating the team.

[2019-02-24 20:58] estruyf commented on #825
@waldekmastykarz will pick this one up.

[2019-02-24 21:01] estruyf commented on #827
Implemented this one already, available in PR #829.

[2019-02-24 21:33] waldekmastykarz commented on #615
Let's go with 2 indeed. I wouldn't call the command internally as there is some odd mechanics behind it. If there is common functionality, let's put it in a common place and reuse.

[2019-02-24 21:34] waldekmastykarz commented on #825
Awesome!

[2019-02-25 21:09] #824 closed

[2019-02-25 21:10] #827 closed

[2019-02-25 21:11] #826 closed

[2019-02-25 21:12] #825 closed

[2019-02-25 22:26] arnieraju commented on #817
@waldekmastykarz I would love to give this one a crack.  Can you assign me to this also?

[2019-02-26 04:44] arnieraju commented on #769
@waldekmastykarz From the looks of it, it does not appear as though we are able specify a date when declaring a record.

![image](https://user-images.githubusercontent.com/1208184/53387893-b55afd80-39d4-11e9-9f81-944516510d53.png)

Possibly a rookie error, so just thought I'd call this out in case I am looking in the wrong spot.

[2019-02-26 11:01] VelinGeorgiev commented on #808
Hey @waldekmastykarz , please assign that to me. Thanks!

[2019-02-26 17:05] eugenedauphin opened #833 "Get File results in error when using o365 and --webUrl"
When running the _spo file get_ like in the PnP Starter Bash script the following command results in an error:

`o365 spo file get --webUrl https://tenant.sharepoint.com/sites/pnp_tst_portal --url /sites/pnp_tst_portal/SiteAssets/hero.jpg`

Error: serverRelativeUrl

[2019-02-26 17:16] eugenedauphin commented on #833
Also, when I construct the _api call that is behind the _spo file get_ command I get a result:

https://tenant.sharepoint.com/sites/pnp_tst_portal/_api/web/GetFileByServerRelativeUrl('/sites/pnp_tst_portal/SiteAssets/hero.jpg')

[2019-02-26 17:46] VelinGeorgiev commented on #833
@erwinvanhunen , could you please let me know what is the behavior in `interactive mode` where you execute commands without the `o365`?

Can you also test adding single and double quote around file server relative url like:
[code]

[2019-02-26 18:10] waldekmastykarz commented on #833
@eugenedauphin on which OS and in which shell are you calling the command?

[2019-02-26 18:13] waldekmastykarz commented on #833
I can't repro it in zsh on macOS. When I call the command like you mentioned, it's working as expected.

[2019-02-26 18:16] eugenedauphin commented on #833
I am running Git Bash on Windows 10.

[2019-02-26 18:19] waldekmastykarz commented on #769
I'm not sure if it's the same API as used by the PnP PowerShell cmdlet that I mentioned: https://github.com/SharePoint/PnP-PowerShell/blob/f05a9fcb6f9e29d7d159ca2c22eb735c331067b5/Commands/RecordsManagement/SetListItemAsRecord.cs#L40

[2019-02-26 18:19] waldekmastykarz commented on #817
All yours! 💪

[2019-02-26 18:20] eugenedauphin commented on #833
When I run the command with single or double quotes I get the same error with `o365 spo file get`
With interactive mode you mean first executing `$ office365`? In that case I do get a result (as described above).

[2019-02-26 18:21] waldekmastykarz commented on #808
All yours! 💪

[2019-02-26 18:23] siata13 commented on #673
Hey @waldekmastykarz , just started working on that.

[2019-02-26 18:27] waldekmastykarz commented on #833
Still can't repro. I'm calling the following in bash on Windows 10:

[code]

[2019-02-26 18:28] waldekmastykarz commented on #673
Awesome! Great to have you with us! Don't hesitate to reach out if you have any questions 💪

[2019-02-26 18:30] waldekmastykarz commented on #833
If you add `--debug` to the command, what is the generated URL of the REST request?

[2019-02-26 18:36] eugenedauphin commented on #833
The generated request is the issue, calling this url results in an error (serverRelativeUrl
 Parameter name: Specified value is not supported for the serverRelativeUrl parameter.):

`https://tenant.sharepoint.com/sites/pnp_tst_portal/_api/web/GetFileByServerRelativeUrl('C%3A%2FProgram%20Files%2FGit%2Fsites%2Fpnp_tst_portal%2FSiteAssets%2Fhero.jpg')`

I am installing the Windows bash and will retry

[2019-02-26 18:38] waldekmastykarz commented on #833
It's odd that for some reason the CLI is resolving the local file path before issuing the request. Do you have any aliases defined or anything else that could explain this behavior?

[2019-02-26 20:05] eugenedauphin commented on #833
I fount out that it is related to Git Bash
https://github.com/git-for-windows/build-extra/blob/master/ReleaseNotes.md

_If you specify command-line options starting with a slash, POSIX-to-Windows path conversion will kick in converting e.g. "/usr/bin/bash.exe" to "C:\Program Files\Git\usr\bin\bash.exe"._

So this command will work in Git Bash:

`o365 spo file get --webUrl https://sogetiexperience.

[2019-02-26 20:06] eugenedauphin commented on #833
I found out that it is related to Git Bash
https://github.com/git-for-windows/build-extra/blob/master/ReleaseNotes.md

_If you specify command-line options starting with a slash, POSIX-to-Windows path conversion will kick in converting e.g. "/usr/bin/bash.exe" to "C:\Program Files\Git\usr\bin\bash.exe"._

So this command will work in Git Bash:

`o365 spo file get --webUrl https://tenant.sharepoint

[2019-02-26 20:17] VelinGeorgiev commented on #833
That is a very good catch indeed. Thanks for your finding! That will help to someone else using Git Bash.

[2019-02-26 20:29] waldekmastykarz commented on #833
Closing as unrelated to the CLI. Thanks for sharing the details @eugenedauphin. I'm sure it will be helpful to others! 👏

[2019-02-26 20:29] #833 closed

[2019-02-26 21:30] RickVanRousselt commented on #809
Time for me to finally help out. Can you assign this one to me? Looks like a good place to start.

[2019-02-27 11:32] rabwill commented on #770
@waldekmastykarz  I tested the api `_api/SP_CompliancePolicy_SPPolicyStoreProxy_UnlockRecordItem` in *Postman* and it is throwing `-1, System.NotSupportedException Flight not enabled`  error, not sure why this is. Does it mean this api is not functional and we have to use `_vti_bin/client.svc/ProcessQuery` and do this action the old way?

[2019-02-27 16:15] vman opened #835 "Extend the graph teams app publish command to allow updates"
Right now, `graph teams app publish` and `graph teams app update` are separate commands.

There should be an `update` option to the publish command which will allow updating of apps already deployed to the teams app catalog:

`graph teams app publish -filePath <filePath> --u|--update`

This is similar to how the CLI handles updates to SPFx packages:
`o365 spo app add -p somepackage.sppkg --overwri

[2019-02-27 16:18] vman commented on #835
@waldekmastykarz @estruyf I can pick this one up if the syntax if Ok with you.

[2019-02-27 18:26] waldekmastykarz commented on #809
Awesome! Great to have you with us Rick! All yours!

[2019-02-27 18:28] waldekmastykarz commented on #770
I'm not sure if the API you mentioned is the same as what's being used by the PnP PowerShell cmdlet. If we can't verify that it's doing the same, then let's use CSOM instead for now. 👍

[2019-02-27 18:29] waldekmastykarz commented on #835
In `spo app add` you can retrieve the original package name to detect which app to update. Can you do the same here? Otherwise, it won't be possible to update the app without specifying its id which justifies doing it all in a separate command.

[2019-02-27 20:41] rabwill commented on #770
Sure, thanks @waldekmastykarz !

[2019-02-27 23:27] vman commented on #835
Ok I have had some time to investigate this now and looks like we are better off not having this in the CLI. I was originally thinking if the `--update` option was specified, then we check if the app exists in the teams app catalog and if it does, we would update it (This can be checked by filtering on the externalId property of the app)

But on second thought, it's better if we leave it out of th

[2019-02-27 23:27] #835 closed

[2019-02-28 07:58] rabwill commented on #769
Hey @arnieraju g’day :)
I think we are in the same boat with this one. We may have to mimic the call made by Pnp cmdlet for record inplace management. I could not find an api to undeclare as well.

[2019-02-28 23:42] arnieraju commented on #769
@waldekmastykarz Yep, looks like I was looking in the wrong place.  Again, probably a rookie observation :) but it looks like the PowerShell and CSOM are using the same underlying libraries.

I've unpacked the calls they use and am going to use the following for implementation:

![image](https://user-images.githubusercontent.com/1208184/53606161-8d061580-3c05-11e9-8b7e-58e344f8f628.png)

![image](

[2019-02-28 23:49] rabwill commented on #769
Wohoo @arnieraju !Yes that’s it, fiddler is your best friend 😊

[2019-03-01 23:32] rabwill commented on #770
Hey @waldekmastykarz  just an update, I am still working on this and it is working functionality wise. Just a bit slow getting the spec file ready. Hope it's okay was a crazy week :)

[2019-03-02 01:27] vman commented on #812
Hi @waldekmastykarz , I can pick this one up. Can you please assign it to me when you get a chance?

[2019-03-02 01:29] vman commented on #810
I can pick this one up as well :)

[2019-03-02 01:30] vman commented on #811
I can pick this one up as well. Looks very similar to #810 and #812

[2019-03-02 07:01] rabwill commented on #816
@waldekmastykarz should I take this one next :) ?

[2019-03-02 10:23] waldekmastykarz commented on #770
No problem and no rush. Take your time 👍

[2019-03-02 10:24] waldekmastykarz commented on #811
All yours!

[2019-03-02 10:25] waldekmastykarz commented on #812
Here you go!

[2019-03-02 10:25] waldekmastykarz commented on #810
All yours @vman!

[2019-03-02 10:26] waldekmastykarz commented on #816
Perfect! All yours @rabwill!

[2019-03-03 08:38] kshsbala commented on #615
Thanks @waldekmastykarz. Started creating the common method for both and will let you know once it is completed.

[2019-03-03 13:14] arnieraju commented on #769
Fire in the hole - PR heading your way @waldekmastykarz

That was fun!  Looking forward to your feedback, and jumping onto the next one.  Teams fun settings here we come.

@rabwill thanks for the morale support! ;)

[2019-03-03 13:15] arnieraju commented on #771
@waldekmastykarz sign me up for this one please!

[2019-03-03 14:09] vman opened #842 "New command: Add an app to a Microsoft Team"
Add an app from the Teams App Catalog to a Microsoft Team

- command: `graph teams app add -id|--appId -i|--teamId`
- appId: Id of the app from the catalog, returned from the `graph teams app list` command
- teamId: Id of the team to which the app should be added
- Graph API endpoint: https://docs.microsoft.com/en-us/graph/api/teamsappinstallation-add?view=graph-rest-1.0

[2019-03-03 14:13] vman opened #843 "New command: Remove an app from a Microsoft Team"
Remove an app from a Microsoft Team

- command: `graph teams app remove -id|--appId -i|--teamId`
- appId: Id of the app from the catalog, returned from the `graph teams app list` command
- teamId: Id of the team from which to remove the app
- Graph API endpoint: https://docs.microsoft.com/en-us/graph/api/teamsappinstallation-delete?view=graph-rest-1.0

[2019-03-03 14:14] vman commented on #843
Hi @waldekmastykarz, feel free to assign this one and #842 to me :)

[2019-03-03 14:34] waldekmastykarz commented on #842
Nice suggestion @vman! Short options can consist of a single letter, so we can't do `-id`. Because the command has two IDs, I wonder if we should use the short `-i` at all or if we should use the long versions which are more explicit.

[2019-03-03 14:37] waldekmastykarz commented on #843
Nice suggestion @vman! Unfortunately, we already have a command with this name which is now used to remove the app from the catalog. Did you mean to extend the existing command or introduce a new one?
Similarly to #842, short options can consist of a single letter, so we can't do `-id`. Because the command has two IDs, I wonder if we should use the short `-i` at all or if we should use the long ve

[2019-03-03 14:42] vman commented on #842
Sure I am happy with using only the long versions if that is how it's done for other similar commands:

`graph teams app add --appId --teamId`

[2019-03-03 14:48] vman commented on #843
Ok makes sense to have the `--confirm` option.

Yes I noticed that there is a `graph teams app remove` command already. Either we update it to add a `--teamId` option or create a new command entirely e.g. `graph teams app removefromteam`.

If we go with the first option, there could be confusion if someone forgets to add the --teamId option and the app is removed from the entire catalog (which wil

[2019-03-03 14:53] waldekmastykarz commented on #843
Looking at the API, I see that it mentioned installation and installed apps. Would it make sense to use `install` and `uninstall` instead of `add` and `remove` when it comes to instances of app in teams?

[2019-03-03 14:57] waldekmastykarz commented on #842
See #843: what do you think if we renamed this command to `install` to make it clearer that it's about installing the app in a Team?

[2019-03-03 15:03] vman commented on #842
Hmm could be. Do you think there could be confusion around `add` vs `install`? We are using `add` to publish the app to the catalog but `install` to add it to a team. I suppose the docs could help with this to a certain extent.

[2019-03-03 15:26] vman commented on #842
`graph teams app install --appId --teamId` works for me 👍

[2019-03-03 15:27] vman commented on #843
Let's go with `graph teams app uninstall --appId --teamId`

[2019-03-03 18:22] waldekmastykarz commented on #842
Actually, for pushing to catalog we're using publish. There might not be much confusion between `add` and `install` but there is between `remove` and `remove` and it would make sense if the `remove` from site had a logical counterpart, so `uninstall` <> `install`, rather than `uninstall` <> `add`

[2019-03-03 18:23] waldekmastykarz commented on #843
Game on!

[2019-03-03 18:25] waldekmastykarz commented on #769
Awesome! I'll have a look at your PR asap. Appreciate your help 👏

[2019-03-03 18:26] waldekmastykarz commented on #771
All yours @arnieraju 👏

[2019-03-04 02:02] Viipiin opened #844 "why cls command is not available in immersive mode?"
Hi, I'm wondering why cls is not available in the immersive mode of O365CLI.
Every time I really don't want to type o365 before using any command.

[2019-03-04 10:09] appieschot opened #846 "New command: Add a remove user from a Office 365 Group"
Suggestion for a new command:
Remove an existing user from a Office 365 Group

command: `o365group user remove -u|--userName <userName> -i|--groupId <groupId> --confirm`

- userName: the UPN of the user to add
- groupId: id of the group to remove user from
- confirm don't prompt for confirmation before removing user from the group

**suggestion is to refactor the teams user remove action to remove

[2019-03-04 10:10] appieschot opened #847 "New command: Add a new user to a Office 365 Group"
Add a new user to an Office 365 Group

command: `o365group user add -u| --userName <userName> -i| --groupId <groupId> -r|--role [role]`

- userName: the UPN of the user to add
- groupId: id of the group
- role: Member or Owner. Default Member

feel free to assign to me

[2019-03-04 11:16] VelinGeorgiev opened #848 "Upgrade path for SPFx version 1.8.0"
Make upgrade to version 1.8.0 possible so we have it as early as possible after the 1.8.0 release of the SharePoint framework.

`spfx project upgrade --toVersion 1.8.0 --output md > upgrade-report.md`

[2019-03-04 12:44] NWessel opened #849 "New command: List all tabs in a channel in a Microsoft Teams team"
Microsoft Graph Beta Doc: https://docs.microsoft.com/en-us/graph/api/teamstab-list?view=graph-rest-beta

GET /teams/{id}/channels/{id}/tabs

command: `graph teams tab list -i|--teamId <teamId> -c|--channelId <channelId>`
teamId: The ID of the team to where the channel exists
channelId: The ID of the channel to list tabs from

[2019-03-04 12:47] NWessel opened #850 "New command: Add a tab in a channel in a Microsoft Teams team"
### Usage

`teams tab add [options]`

### Description

Add a tab to the specified channel

### Options

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `-i, --teamId <teamId>` | The ID of the team to where the channel exists |
| `-c, --channelId <channelId>` | The ID of the channel to add a tab to |
|

[2019-03-04 18:11] waldekmastykarz commented on #844
You can use CLI in two ways: immersive - where you basically start a command line application with its own command prompt, and non-immersive where you prepend each command with `o365` and execute commands directly from the shell. The immersive mode opens the CLI's own prompt which only understands commands implemented in the CLI. Standard shell commands are not interpreted in the immersive mode be

[2019-03-04 18:13] waldekmastykarz commented on #846
Nice suggestion. Fixed formatting and changed `userName` to be a required option. All yours! 👏

[2019-03-04 18:15] waldekmastykarz commented on #847
Nice suggestion! Changed `userName` to be required. All yours! 👏

[2019-03-04 18:18] waldekmastykarz commented on #848
_Ran out of emojis to add_. Game on!

[2019-03-04 18:22] waldekmastykarz commented on #849
Nice suggestion and a proper spec! I've updated the formatting so that the command format is easier to read. Want to pick it up yourself @NWessel or want to let others help out?

[2019-03-04 18:25] waldekmastykarz commented on #850
Nice feature request and spec. I've updated the formatting so that it's easier to read. With regards to the tab's body, would it make sense to accept the full JSON blob as a string or shall we break it down to specific properties and construct the blob behind the scenes ourselves?

@wictorwilen @vman @estruyf what do you think?

[2019-03-04 19:48] VelinGeorgiev commented on #848
Hey @waldekmastykarz, you can assign me on that if you do not have time. I can try to prioritize it over other commands I am doing so we deliver it on time.

[2019-03-04 20:20] waldekmastykarz commented on #848
Awesome! All yours! Looking forward to it!

[2019-03-04 20:38] vman commented on #850
Nice one, I was going to suggest this next but @NWessel beat me to it :)

This API is already available in v1.0 of the Graph so we could use that one instead of the beta endpoint.
https://docs.microsoft.com/en-us/graph/api/teamstab-add?view=graph-rest-1.0

Also, +1 to specifying properties as options to the command (similar to how it works for other commands)

[2019-03-04 20:45] #822 closed

[2019-03-04 20:46] #819 closed

[2019-03-04 20:47] #809 closed

[2019-03-04 20:59] waldekmastykarz commented on #850
Is the tabs JSON fixed or would we have to support all properties and somehow deal with the nested properties under configuration?

[2019-03-05 00:11] vman commented on #850
So turns out the `configuration` object can contain custom properties depending upon the tab itself:
https://docs.microsoft.com/en-us/graph/api/resources/teamstabconfiguration?view=graph-rest-1.0

So the custom properties could be json/string and we might have to go with something like:
`graph teams tab add --teamId --channelId --appId --appName --config <config>`

[2019-03-05 14:37] eugenedauphin opened #851 "Page header set does not work with sites in a different language"
Page header set does not work with sites in a different language. Line 289 of is referring to 'Site Pages' this does not work if your lcid is not 1033 https://github.com/pnp/office365-cli/blob/33c9780a8664ef0c0a4595ea5ab7db0de8f9e3b0/src/o365/spo/commands/page/page-header-set.ts

 `url: ${args.options.webUrl}/_api/web/lists/getByTitle('Site Pages')/items(${pageItemId})`

[2019-03-05 15:22] ktskumar commented on #738
Submitting pull request today

[2019-03-06 08:51] ktskumar commented on #670
Hi @waldekmastykarz  , May I pickup this?

[2019-03-06 17:23] VelinGeorgiev opened #854 "FN002009_DEVDEP_microsoft_sp_tslint_rules rule has wrong id"
FN002009_DEVDEP_microsoft_sp_tslint_rules rule has id=FN002003, but should be FN002009.

As a result some e2e tests will have to be fixed.

[2019-03-06 17:57] VelinGeorgiev opened #855 "Currently the coverage fails under Windows OS"
The coverage fails under Windows, but does not under unix like system.

![image](https://user-images.githubusercontent.com/1049476/53902053-3d29b300-4038-11e9-841b-81e290849584.png)

I have no idea why this is not caught by non windows system, but there is actually a statement that should be covered. So, the coverage finds that there is a missing unit test for the case of the else block. It is not

[2019-03-07 07:16] waldekmastykarz commented on #850
What if we'd allow specifying custom options like we do in for example `spo listitem add` (https://github.com/pnp/office365-cli/blob/master/src/o365/spo/commands/listitem/listitem-add.ts#L40-L42, https://github.com/pnp/office365-cli/blob/master/src/o365/spo/commands/listitem/listitem-add.ts#L392)? That way we'd simply specifying the properties and not have users have to deal with escaping the JSON

[2019-03-07 07:20] waldekmastykarz commented on #851
Thanks for reporting the issue @eugenedauphin, I'll fix it asap

[2019-03-07 07:22] waldekmastykarz commented on #670
Of course! All yours!

[2019-03-07 07:30] NWessel commented on #849
@waldekmastykarz i would love to pick it up, but i'm not able to reserve time for it for the next period. So it is open to take! When i get some available time, and if no one started it then will definitely do it :)

[2019-03-07 07:33] NWessel commented on #850
Would it be possible to allow for different ways of doing it?
Personally i prefer to build the entire JSON object myself and then just apply that instead of doing it in bits. I feel like it gives more control and transparency

[2019-03-07 07:38] waldekmastykarz commented on #849
No problem. Let's leave it open for taking and check back when you have time: if it's still available, all yours. If it's already taken, then we could find something else for you. Once again thank you!

[2019-03-07 07:41] waldekmastykarz commented on #850
That's definitely an option! So we could allow passing the whole JSON string or break it up in separate properties.

[2019-03-07 16:06] JakeStanger commented on #389
Hi, could somebody explain where I can obtain/generate the relevant certificate file please? Thanks in advance.

[2019-03-07 19:29] waldekmastykarz commented on #389
Which OS are you using @JakeStanger?

[2019-03-07 21:53] JakeStanger commented on #389
Windows 10 on my workstation, CentOS on the build server.

[2019-03-08 00:01] vman opened #859 "Update command: List all apps installed in a Team"
Extend the `graph teams app list` command to show apps installed in the specified team

- command: `graph teams app list -i|--teamId [teamId]`
(couldn't think of a better name tbh. Suggestions welcome)
- teamId: Id of the team from which to list the installed apps
- Graph API endpoint: https://docs.microsoft.com/en-us/graph/api/teamsappinstallation-list?view=graph-rest-1.0

I realised this is need

[2019-03-08 07:00] waldekmastykarz commented on #389
This should help you started with Windows: https://blogs.msdn.microsoft.com/richard_dizeregas_blog/2015/05/03/performing-app-only-operations-on-sharepoint-online-through-azure-ad/. Unfortunately, I'm not familiar with CentOS, so can't be of any help there.

[2019-03-08 07:06] waldekmastykarz commented on #859
We could go around it three ways:

1) We add `team` to the command name, eg. `graph teams team app list -i|--teamId <teamId>`. We do this in other places, **but** in Teams so far we haven't used the word `team` to denote team scope, like in channels, messages, etc. Even in the `app install` command we're not saying `teams team app install`, just `teams app install`, so while clear, it might not be

[2019-03-08 08:03] JakeStanger commented on #389
Thanks! I believe only the key generation should vary from platform to platform so I'll have a play around and perhaps update the docs if I get it working.

[2019-03-08 09:00] vman commented on #859
2. Seems most sensible and clean to me.

On Fri, 8 Mar 2019 at 7:06 am, Waldek Mastykarz <notifications@github.com>
wrote:

[2019-03-08 09:15] phillipharding commented on #389
This might also help as offers a way to keygen using an NPM package;

Scroll down to the section **"1.1 Backtrack"**
[Azure Functions, JS and App-Only Updates to SharePoint Online](http://johnliu.net/blog/2016/5/azure-functions-js-and-app-only-updates-to-sharepoint-online)

You can also use [OpenSSL](https://www.openssl.org/) to generate signing keys for use with app-only authentication, I've got

[2019-03-08 18:26] #844 closed

[2019-03-09 09:25] ypcode commented on #14
Hi @waldekmastykarz ,

I can take this one as well as #15 if you are OK with it

[2019-03-09 10:52] kshsbala commented on #615
Hi @waldekmastykarz, My initial pull request had a conflict which I resolved it now. But couldnt able to update my initial pull request.

[2019-03-09 12:39] ypcode commented on #14
Actually I already have this one complete 😄 , but branched from PR of #13. Should I wait for this one to be processed before submitting PR?

by the way can I include #15 in this PR or do you prefer only one command per PR ?

[2019-03-09 12:48] ypcode commented on #15
Hi,

`command graph schemaextension update --id <id> --description|-d [description] --targetTypes|-t [types] --status|-s [status] --properties|-p [properties]`

Shouldn't we use `set` instead of `update` to remain consistent ?

[2019-03-09 18:20] waldekmastykarz commented on #615
No problem. Thanks for catching it!

[2019-03-09 18:21] waldekmastykarz commented on #14
Ideally 1 command per PR: it makes it easier to process the PR and in case something needs to be adjusted, it doesn't hold up the whole PR.

If you have this one ready but branched of #13 then you need to wait until it's merged. Otherwise, you will get errors when trying to submit the PR because there are things missing in dev on upstream.

[2019-03-09 18:23] waldekmastykarz commented on #15
Yes, you are right @ypcode. Good catch

[2019-03-10 09:50] waldekmastykarz commented on #855
Have you updated dependencies? When I run the tests on windows using the latest source from dev upstream and with the latest dependencies, I'm getting 100% coverage.

[2019-03-10 15:51] ktskumar commented on #670
Thanks @waldekmastykarz

[2019-03-10 16:05] #770 closed

[2019-03-10 16:06] #810 closed

[2019-03-10 16:06] #811 closed

[2019-03-10 16:07] #812 closed

[2019-03-10 16:08] #738 closed

[2019-03-10 16:09] #854 closed

[2019-03-10 16:09] #842 closed

[2019-03-10 16:26] waldekmastykarz commented on #859
Then we go with 2). You want to pick it up yourself @vman or want to let others give it a shot?

[2019-03-10 19:13] waldekmastykarz commented on #851
@eugenedauphin in your site using locale different than 1033, does the `spo page list` command work as expected?

[2019-03-10 23:53] rabwill opened #865 "Upgrade our Microsoft Teams commands from beta to GA endpoints"
Many of our rest endpoints are still using graph beta endpoints, should we change them to `v1.0` instead so we are updated as well?
Below are the commands which can be upgraded to API v1.0
* [ ] `o365group list`
* [ ] `o365group restore`
* [ ] `graph teams channel add`
* [ ] ~graph teams list~
* [ ] `graph teams channel list`

[2019-03-11 00:35] vman commented on #859
Let's leave this one open if someone else wants to pick it up. Otherwise I could always come back to it later.

[2019-03-11 07:08] eugenedauphin commented on #851
@waldekmastykarz Yes, works as expected.

[2019-03-11 07:28] waldekmastykarz commented on #865
Sounds like a good idea! Could you please add here a list of all commands that we should update so that we can track the progress and verify that we haven't missed anything? We could then include all of them in a single PR including removing the beta remark from the docs.

[2019-03-11 07:32] waldekmastykarz commented on #851
Perfect! Thank you for confirming @eugenedauphin 👏

[2019-03-11 08:49] rabwill commented on #865
Hey @waldekmastykarz I have updated the issue with the list of commands.

[2019-03-11 10:45] vman opened #867 "New command: Create a Microsoft Teams team with a custom template"
Create a new Microsoft Teams team by specifying a custom template.

- command: `graph teams add --templateFile <templateFilePath>`
- templateFilePath - Path of the json file describing the teams custom template
- Graph API Endpoint (beta) - https://docs.microsoft.com/en-us/graph/api/team-post?view=graph-rest-beta

[2019-03-11 11:21] vman commented on #867
I could pickup this one up @waldekmastykarz if you think the syntax is fine.

[2019-03-11 18:10] waldekmastykarz commented on #865
Perfect! I've just turned them into a checklist so that we can track the progress. Would you like to pick it up yourself @rabwill?

[2019-03-11 18:16] waldekmastykarz commented on #867
Great suggestion @vman! This is actually a duplicate of #794. @kshsbala has just submitted a PR with the basic add command #862. Once I've processed it, we could extend it with the support for templates. @BobGerman wanted to pick it up initially, but I haven't heard from him lately, so let's see where we stand when the PR is merged, ok? I'm going to close this one so that we can track it in #794.

[2019-03-11 18:16] #867 closed

[2019-03-11 18:28] waldekmastykarz commented on #794
Hey @BobGerman, are you still interested in picking this one up?

[2019-03-11 18:59] waldekmastykarz commented on #649
Hey @arjenbloemsma, just checking if you have room to work on this one or if we'd better let others chime in and you can pick up something else when you have time again?

[2019-03-11 19:00] waldekmastykarz commented on #674
Hey @douglasromao, just checking in how everything is going and if you needed any help

[2019-03-11 19:00] waldekmastykarz commented on #733
Hey @Laul0, did you have a chance to pick this up or should we let others chime in?

[2019-03-11 19:01] waldekmastykarz commented on #740
Hey @Laul0, did you have a chance to pick this one up or shall we let others help out?

[2019-03-11 19:05] waldekmastykarz commented on #583
Closing as this is most likely no longer relevant

[2019-03-11 19:05] #583 closed

[2019-03-11 21:23] VelinGeorgiev commented on #855
@waldekmastykarz , will test it asap.

[2019-03-11 21:33] douglasromao commented on #674
Hi @waldekmastykarz , yes actually I was about to send you guys a message just to confirm, I was using an approach to test some of the codes that I wrote but I would like to ask you guys how are you testing, if only with the test class or if you are implementing in some different way (sorry if it is a dumb question but is the first time that I work with an application that generates actions like t

[2019-03-12 08:36] Laul0 commented on #740
Hi @waldekmastykarz, I'm finishing the `mail send` cmdlet first and I'll work on it.
Sorry for the delay, it is a period of holiday and family.

However, if someone else want to work on it, to be quicker, he is welcome

[2019-03-12 08:36] Laul0 commented on #733
Hi @waldekmastykarz, I'm finishing the `mail send` cmdlet first and I'll work on it.
Sorry for the delay, it is a period of holiday and family.

However, if someone else want to work on it, to be quicker, he is welcome

[2019-03-12 10:56] kshsbala commented on #783
Can I work on this one?

[2019-03-12 18:40] waldekmastykarz commented on #674
No dumb questions. Each command has corresponding unit tests in the same file name but with a .spec.ts extension. The easiest way to see what we have is to find a command that is similar to the one you're building and then open its .spec.ts file.

[2019-03-12 18:42] waldekmastykarz commented on #740
No problem. I'll set this command as available for picking and you can always take it back when you have time and it's still available.

[2019-03-12 18:43] waldekmastykarz commented on #733
No problem! I'll reset this command as available for picking and you can always take it back when you have time.

[2019-03-12 18:44] waldekmastykarz commented on #783
Of course! All yours @kshsbala! Thank you for reaching out! 👏

[2019-03-12 19:57] waldekmastykarz opened #870 "New command: Renew Office 365 group's expiration"
Renews Office 365 group's expiration

* command: `graph o365group renew -i|--groupId <groupId>`
* groupId - The ID of the group to renew

API call: https://docs.microsoft.com/en-us/graph/api/group-renew?view=graph-rest-1.0

[2019-03-13 01:47] BobGerman commented on #794
Yes - sorry, the "POC" version of this (in an AZ function) took longer than expected due to some issues w/the Graph call (mainly when using app permissions).  https://bob1german.com/2019/03/12/provisioning-teams-with-azure-functions-and-microsoft-flow-part-1-solution-overview/

This one belongs to @kshsbala - I'll respond further over at #867

[2019-03-13 01:51] BobGerman commented on #867
Hey @waldekmastykarz , @vman  - I'm interested in this but may not have the cycles to keep up with you all. I'd love to collaborate with you on this @vman if it makes sense. I've been working on a set of (Node) Azure functions that use these template "files" to provision; there may be some reuse opportunity.
https://github.com/BobGerman/TeamsProvisioning

My vision is O365 CLI commands to extract

[2019-03-13 07:17] douglasromao commented on #674
Perfect @waldekmastykarz , that's what I was using to test. I'll try to speed up the tests here to make sure that everything is working so we can review and finish it. thanks!

[2019-03-13 18:36] waldekmastykarz commented on #867
Ideally you should be able to use the CLI to both extract a template from an existing Team and provision a Team using a template. The latter is already supported by a Graph API and uses a formalized template structure which makes it better to ensure that the generated template is exchangeable between the CLI and other solutions/provisioning engines.

[2019-03-13 18:38] waldekmastykarz commented on #794
I'll close this one and create a new item with a spec for the template extract command with a reference to this original discussion.

[2019-03-13 18:38] #794 closed

[2019-03-13 18:41] waldekmastykarz opened #871 "New command: Export Microsoft Teams team to a template"
### Usage

`teams export [options]`

### Description

Exports the specified Microsoft Teams team to a template

### Options

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `-i, --teamId <teamId>` | The ID of the team to export |
| `-p, --filePath <filePath>` | The path to the file where the exported

[2019-03-13 18:52] waldekmastykarz opened #872 "New command: Connect existing Office 365 Group to Microsoft Teams"
Connects existing team site to Microsoft Teams

* command: `graph o365group teamify -i|--groupId <groupId>`
* groupId: The ID of the Office 365 Group to connect to Microsoft Teams

API: https://docs.microsoft.com/en-us/graph/api/team-put-teams?view=graph-rest-1.0

[2019-03-13 18:58] waldekmastykarz opened #873 "Enhancement: alias 'spo site office365group set' as 'spo site groupify'"
Alias `spo site office365group set` as `spo site groupify`. Groupify is a commonly used term to refer to the process of connecting an existing site to an Office 365 Group and we should use it to make the command more intuitive.

[2019-03-13 19:11] waldekmastykarz opened #874 "New command: Create a single part app page"
Creates a single-part app page

`spo apppage add -u|--webUrl <webUrl> -t|--title <title> -d|--webPartData <webPartData> --addToQuickLaunch`

- webUrl: The URL of the site where the page should be created
- title: The title of the page to create
- webPartData: JSON string of the web part to put on the page
- addToQuickLaunch: Set, to add the page to the quick launch

Request:

[code]

Source: https

[2019-03-13 19:13] waldekmastykarz opened #875 "New command: Update a single-part app page"
Updates a single-part app page

`spo apppage set -u|--webUrl <webUrl> -n|--pageName <pageName> -d|--webPartData <webPartData>`

- webUrl: The URL of the site where the page to update is located
- pageName: The name of the page to update, eg. `page.aspx`
- webPartData: JSON string of the web part to put on the page

Request:

[code]

Source: https://spblog.net/post/2019/03/05/what-s-new-and-what-s-

[2019-03-14 21:22] VelinGeorgiev commented on #855
Thanks for the hint! I cannot reproduce after clean `npm install`. Will close that one.

[2019-03-14 21:22] #855 closed

[2019-03-15 18:53] #851 closed

[2019-03-15 18:54] #848 closed

[2019-03-15 19:48] siata13 commented on #875
Hey Waldek, I would like to pick it.

[2019-03-15 19:48] siata13 commented on #874
Hey Waldek, I would like to pick it.

[2019-03-16 17:58] arjenbloemsma commented on #649
Hi @waldekmastykarz, just created a pull request 😎

However the bad news is, while locally all tests run successful, remote they are failing 🥺 The cause seems to be in the spec file at line 523 and 592, where the JSON for the promise.resolve is specified. Thus far I was not able to reproduce this error on my machine. Do you have an idea what could be the issue?

[2019-03-16 18:27] arjenbloemsma commented on #649
I stand corrected; the line numbers on the build server are referring to the outputted JS files. Not the TS files. 🤦🏼‍♂️ So then the problem seems to be in this line: `assert(cmdInstanceLogSpy.calledWith([`

[2019-03-17 04:00] rabwill commented on #865
Yeah sure why not :)

[2019-03-17 04:03] rabwill commented on #820
Hey @waldekmastykarz is this open to pick up next?

[2019-03-17 16:11] waldekmastykarz commented on #875
Perfect! All yours!

[2019-03-17 16:12] waldekmastykarz commented on #874
All yours! 💪

[2019-03-17 16:19] waldekmastykarz commented on #649
I'll have a look if I can repro the issue

[2019-03-17 16:24] waldekmastykarz commented on #865
Awesome!

[2019-03-17 16:25] waldekmastykarz commented on #820
Yes, it is. All yours! 💪

[2019-03-19 20:55] waldekmastykarz opened #882 "New command: Sync solution package to Microsoft Teams"
### Usage

`spo app synctoteams [options]`

### Description

`Sync Sync solution package to Microsoft Teams`

### Options

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `-i, --id <id>` | The ID of the solution package to sync to Microsoft Teams |

### Additional Information

[code]

The `itemId` pas

[2019-03-20 04:26] paulryan opened #884 "Enhancement: Support specifying typescript version with 'o365 spfx project upgrade'"
**Enhancement:**
`o365 spfx project upgrade` is a great utility, thanks! With SPFx 1.8.0 now supporting a range of  versions of TypeScript, it would be really handy if the command supported selecting a version of TypeScript to upgrade to.

E.g.
`o365 spfx project upgrade --toTypeScriptVersion 3.3.4`

Or perhaps, to simplify the issue, a switch to update to the latest version of TypeScript (that th

[2019-03-20 16:59] waldekmastykarz commented on #884
Very nice idea!

[2019-03-20 17:05] thomyg commented on #849
@waldekmastykarz as discussed a couple of minutes ago I would like to get started with this one. Will try to reserve some time in the next 2-4 weeks. If this timeframe is ok with everyone I'm happy to be assigned to that issue.

[2019-03-20 18:33] waldekmastykarz commented on #849
Of course! Happy to have you with us! Please don't hesitate to reach out if you have any questions 👏

[2019-03-21 22:15] paulryan commented on #884
I'll pick it up in the next week. Thanks

[2019-03-23 01:40] waldekmastykarz commented on #884
Perfect! All yours!

[2019-03-23 04:48] #818 closed

[2019-03-23 04:49] #859 closed

[2019-03-23 04:50] #816 closed

[2019-03-23 04:50] #873 closed

[2019-03-23 17:19] ypcode commented on #15
Hi @waldekmastykarz , Can I take this one?

[2019-03-23 17:20] ypcode commented on #16
Hi @waldekmastykarz , can I take this one as well ?

[2019-03-24 13:40] waldekmastykarz commented on #15
Of course! All yours! 👏

[2019-03-24 13:40] waldekmastykarz commented on #16
Of course! 👏

[2019-03-24 22:40] thomyg commented on #865
@waldekmastykarz I started playing with the CLI with creating the graph teams tab list command. To get started I copied the code of graph teams list in my new command and started playing. First thing I changed was the beta endpoint to V1. I got it working but I get back a totally different result set than by using the beta endpoint. I'm assuming /beta/groups?$filter=resourceProvisioningOptions/Any

[2019-03-25 07:30] waldekmastykarz commented on #865
There are indeed differences in how the v1.0 and beta endpoints in MS Graph behave. @rabwill is working on updating the beta commands to v1.0. Ideally, we should try to build commands on v1.0. If not possible, only then we should defer to using beta endpoints. Hope this helps @thomyg.

[2019-03-25 07:33] waldekmastykarz opened #887 "Enhancement: allow specifying shell for `spfx project upgrade`"
Allow to specify the shell for which commands should be generated in the SPFx project upgrade report in the `spfx project upgrade` command.

`spfx project upgrade --shell [shell]`
- shell: shell for which upgrade commands should be generated. Available values: `bash|powershell|cmd`. Default `bash`

Currently, we're generating upgrade commands based on bash with commands such as `cp` which don't wo

[2019-03-25 18:15] thomyg commented on #849
@waldekmastykarz @NWessel

![image](https://user-images.githubusercontent.com/10920072/54943519-bcbcea80-4f31-11e9-8379-d6f70c6c2093.png)

That's what I got after the first two hours, so far so good, needs polishing, testing and so on, but it's a start.

Questions:
Which format should the output have?
In terms of channels, how should the CLI operate? I could just take the teamsId param and iterate

[2019-03-25 19:05] waldekmastykarz opened #888 "Centralize executing HTTP requests"
We should centralize executing HTTP requests. This will allow us to simplify the command code and centrally manage settings like gzip compression, default headers or handling throttling.

- [x] centralize executing HTTP requests
- [x] enable gzip compression on all requests
- [x] set default User-Agent on all requests
- [x] add support for throttling
- [x] handle debugging
- [x] refactor all comma

[2019-03-25 19:06] waldekmastykarz commented on #888
Working PoC available at https://github.com/waldekmastykarz/office365-cli/tree/http. `spo app list` is the only command that has been refactored to illustrate how a command would use the new request handler. To illustrate handling throttling, the request to SharePoint API is being forced to return a 429 response.

[2019-03-25 19:13] waldekmastykarz opened #889 "Simplify login in the CLI"
We should simplify logging in to Office 365 so that there is only one `login` command. Instead of having to login to each API separately (eg. `spo login`, `graph login`, `azmgmt login`) you would login once in the CLI and then each command would use the Multi-Resource Refresh Token to obtain access token it needs. Internally all retrieved tokens would be stored the same way they are being stored n

[2019-03-25 19:24] waldekmastykarz opened #890 "Remove API name from the command name"
Currently we have some commands that are prefixed with the API they use, eg `graph teams add` or `azmgmt flow list`. The `graph` or `azmgmt` part of the command name indicates the API that we're using in the command to communicate with Office 365 and is a technicality irrelevant to the user. We should remove the API part from the command name so that it begins with the service, eg. `teams add`, `f

[2019-03-25 19:30] waldekmastykarz opened #891 "Make command names consistent"
We have some deprecated names which we should clean up, but perhaps some command names can be shortened as well. In some cases we should also consider simpler names, eg. `spo site groupify` instead of `spo site office365group set`.

- [ ] create list of all command names
- [ ] propose new names
- [ ] agree on changes
- [ ] apply changes

This is a breaking change that should be included in v2

[2019-03-25 20:42] waldekmastykarz commented on #849
Awesome @thomyg 💪

Output is being formatted by the CLI so you don't need to worry about it. All you need to do is to pass the object/array you want to show in the output and the CLI will take care of the rest. When you pass an array, multiple items will be displayed in a table where each item represents a row and each property becomes a column. If objects have too many properties or their values

[2019-03-25 23:46] rabwill opened #892 "Update command: site set to include option for SharingCapability"
We have a command for setting tenant global setting where we can mention the sharing capability of the tenant globally. Do we have one for site collection level (site level)?
[code]
[Docs for PnP command of the same] (https://docs.microsoft.com/en-us/powershell/module/sharepoint-pnp/set-pnpsite?view=sharepoint-ps)
Ignore and close this issue if it's already opened somewhere

[2019-03-26 07:57] waldekmastykarz commented on #892
I think we have it already in `spo site classic set` https://pnp.github.io/office365-cli/cmd/spo/site/site-classic-set/

[2019-03-26 08:08] rabwill commented on #892
Thank you, I think you can close this then.

[2019-03-26 08:10] #892 closed

[2019-03-26 09:00] cwdata opened #893 "SPFx project upgrade missing react types"
Hi,
when upgrading some solutions from SPFx 1.7.0 and 1.7.1 to 1.8.0 I noticed that the upgrade report is missing the steps to upgrade @types/react and @types/react-dom.
The solutions to be upgraded where still on React 15, so I got the steps to upgrade to React 16 in the report:
- FN001008 react | Required
- FN001009 react-dom | Required

Expected behavior:
If the React version is still v15 and t

[2019-03-26 09:46] VelinGeorgiev commented on #891
@waldekmastykarz , I assigned that to myself. I will start with the list of commands and provide it shortly.

[2019-03-26 09:48] VelinGeorgiev commented on #890
@waldekmastykarz , I assigned that to myself. I will start working on that in my branch before the end of the week.

[2019-03-26 11:00] waldekmastykarz commented on #893
Thank you for reporting this issue @cwdata. I'll investigate it and get back to you as soon as I know more.

[2019-03-26 11:02] waldekmastykarz commented on #891
Awesome! Thanks!

[2019-03-26 11:03] waldekmastykarz commented on #890
Awesome! Thanks!

[2019-03-26 13:19] arnieraju commented on #817
Just a quick update. I've started getting into this one now.

[2019-03-26 13:21] arnieraju commented on #771
Quick update - I am getting stuck into this one now.

[2019-03-26 18:11] waldekmastykarz commented on #817
Thanks for the update @arnieraju 👏

[2019-03-26 18:12] waldekmastykarz commented on #771
Do you mean you need some help @arnieraju?

[2019-03-26 18:48] waldekmastykarz commented on #893
So this behavior is by design. The way project upgrades are implemented in the CLI is that they are based on the difference between one version of the project and another. For example, with regards to react, the only change that has been changed between v1.7.1 and v1.8.0 is the version of react and react-dom. @types/react and @types/react-dom are still on the same version. If you had a project usi

[2019-03-27 09:13] cwdata commented on #893
Ok I see - thanks for the clarification.

[2019-03-27 09:13] #893 closed

[2019-03-27 11:06] waldekmastykarz commented on #889
Work in progress available here: https://github.com/waldekmastykarz/office365-cli/tree/v2-login

[2019-03-28 08:49] SebastianSchuetze opened #895 "Cannot log in with custom AAD Application with user credentials"
I have a problem to log in with the following scenario:
- custom AAD application with the [described permissions](https://pnp.github.io/office365-cli/concepts/authorization-tokens/#azure-ad-application-used-by-the-office-365-cli) (also admin granted already)
- I used PowerShell for setting environment variable and logging in
- I am not behind a proxy
- set the environment variable $env:OFFICE365CL

[2019-03-28 17:18] waldekmastykarz commented on #895
Thanks for reporting the issue and the detailed description. I will investigate it asap.

[2019-03-28 20:58] thomyg commented on #849
@waldekmastykarz

Opened the PR. Feedback welcome!

[2019-03-28 21:18] thomyg commented on #872
hi @waldekmastykarz -> ok if I start working on this?

[2019-03-28 23:00] ypcode opened #897 "Enhancement: login with appId/appSecret to AAD/Microsoft Graph"
Hi guys,

I was wondering if it was by design that the aad and graph login commands do not support (yet) using app Id / app secret to connect in app-only context ?

The PnP PowerShell has that capability:
[See command doc](https://docs.microsoft.com/en-us/powershell/module/sharepoint-pnp/connect-pnpmicrosoftgraph?view=sharepoint-ps#examples)

Regards,
Yannick

[2019-03-29 06:35] waldekmastykarz commented on #849
It's not really the test framework: it's just how string comparison in JavaScript works. Isn't it the same in C#? 😉

[2019-03-29 06:36] waldekmastykarz commented on #872
Please do! Appreciate your help! 👏

[2019-03-29 06:40] waldekmastykarz commented on #897
Nope, it's not on purpose. It's something that simply never came up. It would be a good addition to the login options in the CLI, but if we were to add it, then we should do so consistently to all login commands instead of just aad and graph.

[2019-03-29 08:42] thomyg commented on #849
Ok, let's call it a Thursday night brain fart, agreed.

In my defense, neither postman nor graph explorer cares about "v1.0" vs "V1.0". It took me some time to realize that string comparison is the true enemy here ;)

[2019-03-30 15:15] thomyg commented on #872
hm, @waldekmastykarz it seems I need your help.

I have the comment ready to test but apparently, all I get as an answer from SharePoint is:

<?xml version="1.0" encoding="utf-8"?>
<m:error xmlns:m="http://schemas.microsoft.com/ado/2007/08/dataservices/metadata">
    <m:code>10005</m:code>
    <m:message xml:lang="en-US">Authentication method is not allowed.</m:message>
</m:error>

I tried to auth

[2019-03-31 04:47] rabwill commented on #870
Hey @waldekmastykarz I could take this one next.

[2019-03-31 04:52] rabwill commented on #814
Hey @waldekmastykarz should we make this command accept channeName too? Incase people want to delete a channel with id or name but not both are passed.

[2019-03-31 13:14] sprider opened #899 "New command: Archive team"
Archive the specified team. When a team is archived, users can no longer send or like messages on any channel in the team, edit the team's name, description, or other settings, or in general make most changes to the team. Membership changes to the team continue to be allowed.

- command: `graph teams archive -i|--teamId 6f6fd3f7-9ba5-4488-bbe6-a789004d0d55 --shouldSetSpoSiteReadOnlyForMembers true

[2019-03-31 13:14] sprider opened #900 "New command: Unarchive team"
Restore an archived team. This restores users' ability to send messages and edit the team, abiding by tenant and team settings.

- command: `graph teams unarchive -i|--teamId <teamId> `
- teamId: The ID of the team to unarchive

Note: I would like to build this feature

[2019-03-31 18:47] #13 closed

[2019-03-31 18:48] #615 closed

[2019-03-31 18:49] #769 closed

[2019-03-31 18:50] #843 closed

[2019-03-31 18:51] #847 closed

[2019-03-31 18:52] #849 closed

[2019-03-31 19:16] waldekmastykarz commented on #899
Very nice suggestion @sprider! What would be the API call that would be used for this command?

[2019-03-31 19:17] waldekmastykarz commented on #900
Very nice suggestion @sprider! What would be the API call that would be used for this command?

[2019-03-31 19:18] sprider commented on #899
https://docs.microsoft.com/en-us/graph/api/team-archive?view=graph-rest-1.0
This will be the API @waldekmastykarz. Could you please assign this to me? I would to contribute for the firtst time :)

[2019-03-31 19:19] sprider commented on #900
https://docs.microsoft.com/en-us/graph/api/team-unarchive?view=graph-rest-1.0
This will be the API @waldekmastykarz. Could you please assign this to me?

[2019-03-31 19:19] waldekmastykarz commented on #899
All yours! We add contributors to the project after their first accepted contribution (merged PR). Nevertheless, this one is all yours. Looking forward to it! 💪

[2019-03-31 19:20] sprider commented on #899
Great, Thank you @waldekmastykarz

[2019-03-31 19:20] waldekmastykarz commented on #900
All yours! We add contributors to the project after their first accepted contribution (merged PR). Nevertheless, this one is all yours. Looking forward to it! 💪

[2019-03-31 19:20] sprider commented on #900
Great, Thank you @waldekmastykarz

[2019-03-31 19:21] waldekmastykarz commented on #899
Thank _you_ for the suggestion and offering a helping hand 👏

[2019-03-31 19:24] waldekmastykarz commented on #872
Thanks for reporting the issue @thomyg. I'll have a look at it asap to see if I can repro it.

[2019-03-31 19:25] waldekmastykarz commented on #870
Excellent! Appreciate your help @rabwill 👏

[2019-03-31 19:26] waldekmastykarz commented on #814
Yes! Very nice suggestion @rabwill, spec updated

[2019-03-31 22:07] sprider commented on #899
Hi @waldekmastykarz,

I have submitted a [pull request.](https://github.com/pnp/office365-cli/pull/901) I will work on the [Unarchive](https://github.com/pnp/office365-cli/issues/900) part of the same as soon as I get the confirmation from you. Please test and let me know if you have any feedbacks.

Thank you.

[2019-04-01 06:29] waldekmastykarz commented on #899
Thank you for such a quick turnaround! We'll review your PR shortly 👏

[2019-04-01 18:43] waldekmastykarz commented on #895
I was able to reproduce your issue. It seems to be fixed, when in the app registration, you change the app to be treated as public client by default:

<img width="726" alt="image" src="https://user-images.githubusercontent.com/11164679/55351485-c230ac80-54be-11e9-840c-fb3b72e754de.png">

[2019-04-01 21:37] SebastianSchuetze commented on #895
Thank you very much! I will check tomorrow. I think this is not mentioned in the documentation. I would suggest adding a notice box maybe, as this is not a default configuration when I create a new application.

If understand correctly, this setting is needed, because a redirection could / should not be handled with a CLI? Does this also solve MFA issues?

[2019-04-02 09:51] SebastianSchuetze commented on #895
I tried it and it worked!

[2019-04-02 13:40] waldekmastykarz commented on #895
Yes, it is related to the fact, that the CLI is a client tool that can't handle a redirect to a URL. MFA is a different problem as it requires an interactive login, so unfortunately not something that you can use in the credentials flow.

Good suggestion to extend the docs with this information. Once again, sorry for the trouble and thank you for reporting it 👍

[2019-04-02 17:22] phillipharding commented on #895
@waldekmastykarz do you know what that setting changes in the AD application manifest?

[2019-04-02 18:28] SebastianSchuetze commented on #895
I can take it up to improve the documentation and make a PR.

_Sent from my Mate 10 lite using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2019-04-02 19:50] Laul0 opened #902 "Add 'spo homepage' command ?"
# Summary

I found only one way to define a page as HomePage `spo page set`.
I didn't find:

* a cmdlet "dedied" to define a page as home page: `spo homepage set --webUrl [...] --page [/sitepages|pages/mycustomhomepage.aspx]`
* a cmdlet to retrieve/get the current home page: `spo homepage get --webUrl`

Why? Because, if the home page is not `home.aspx` how can you retrieve the home page by script?

[2019-04-02 19:56] Laul0 opened #903 "Add 'spo feature' command ?"
# Summary

Currently, is existing a cmdlet that allow you to list the features: `spo feature list`
But, I didn't find cmdlets that allow you to enable or disable a feature...

* create a cmdlet to disable a feature: `spo feature set --webUrl [...] --feature [id] --scope [web|site] --disable`
* create a cmdlet to enable a feature: `spo feature set --webUrl [...] --feature [id] --scope [web|site] --

[2019-04-02 20:00] Laul0 opened #904 "Add 'spo contenttype remove' command"
## Summary

Allow to remove an existing **Content Type** of the specified SharePoint site.

## Usage

The cmdlet should like:

[code]
_Delete a Content Type by ID_

[code]
_Delete a Content Type by name_

[code]
_Delete a Content Type by name without confirmation prompt_

### Use cases

* If the content type is used by one or more SharePoint lists, the content type cannot be delete (return error m

[2019-04-02 20:05] Laul0 opened #905 "Add 'spo contenttype huburl' command"
## Summary

Retrieve the SharePoint content type hub site of the Tenant thank to specific command.

## Usage

The command should like:

[code]
_Return the URL of the SharePoint Content Type Hub of the Tenant_

### Use cases

* Once I am logged, I can get the URL of the default ContentTypePublishingHub site

### Options

The following options of the cmdlet have to be supported:

- [ ] `-o, --output

[2019-04-02 20:10] Laul0 opened #906 "Add 'spo list contenttype default' command?"
# Summary

I had to create new content types and define one of them by default rather than keep the default by SharePoint.
I didn't found a cmdlet that allow to define that...
If does not exist, create a cmdlet that allow to do that `spo list contenttype default --webUrl [...] --listId/--listTitle --contentTypeId/--contentTypeName`

What do you think about this cmdlet? If you agree with this idea,

[2019-04-02 20:18] Laul0 opened #907 "Add 'spo propertybag' command?"
# Summary

I didn't find a solution that allow to create/edit/remove a property bag of the web or site.

* `spo propertybag set`
* `spo propertybag add`
* `spo propertybag remove`

What do you think about this cmdlet? If you agree with this idea, I'll write a properly the specs of this issue ;)

[2019-04-02 20:19] Laul0 commented on #907
Eratum! Exist ^^ sorry

[2019-04-02 20:19] #907 closed

[2019-04-02 20:27] VelinGeorgiev commented on #903
@Laul0 , should that be related to issues:

https://github.com/pnp/office365-cli/issues/676 and https://github.com/pnp/office365-cli/issues/675.

They are still open.

[2019-04-02 20:50] Laul0 commented on #903
Oups, I didn't see them :(

[2019-04-02 20:53] Laul0 commented on #903
Even if they're not totally the same...
I thought 1 cmdlet to disable or enable feature even the scope.
I didn't speak about remove or add feature like asked in #676 and #675.

[2019-04-03 07:18] SebastianSchuetze commented on #895
@phillipharding the purpose of this option is to use clients, that cannot handle redirections. E.g. this CLI. When you go to the AAD you can see the following which should give the explanation:

![image](https://user-images.githubusercontent.com/7256168/55460083-54d16880-55f1-11e9-936c-5125bc806c35.png)

@waldekmastykarz I could make the PR for the doc change if it's ok with you.

[2019-04-03 09:59] waldekmastykarz commented on #895
Please do @SebastianSchuetze! Appreciate your help 👏

[2019-04-03 09:59] waldekmastykarz commented on #895
@phillipharding I haven't compared the before and after state of the manifest

[2019-04-03 10:02] waldekmastykarz commented on #903
In retrospect, I agree that the add/remove verbs might not be the best match for what the commands would do and perhaps we should use activate/deactivate instead to match the strings in the UI.

I see that you reopened the issue @Laul0. Did you have anything else in mind than #676 and #675?

[2019-04-03 13:17] Laul0 commented on #903
No, it was just to be ensure that my proposition have the same target that #676 and #675.
It seem the case so I close it.

[2019-04-03 13:17] #903 closed

[2019-04-03 17:13] waldekmastykarz commented on #904
Nice suggestion! Please, write a spec for it and we're taking it from there 👏

[2019-04-03 17:15] waldekmastykarz commented on #906
I like the idea, but using `default` as a verb isn't clear to me if it's a get or a set operation. What if we'd name the command like `spo list contenttype set` and then use a `--default` option to denote that we want to set the particular content type as default on the list?

[2019-04-03 17:17] waldekmastykarz commented on #905
I can imagine the need for such a command if you have a solution using the Content Type Hub. To make it clear that the command is about the Content Type Hub and not content types, what if we'd name it like `spo contenttypehub get` and as part of the result, you'd get the URL?

[2019-04-03 17:21] waldekmastykarz commented on #902
Yes, we don't have support for setting the welcome page of a classic site at this moment. Rather than doing it through the page, I'd suggest extending the `spo web set` command with an additional option named `--welcomePage` where you can specify the URL of the page. How does that sound?

[2019-04-03 17:24] Laul0 commented on #902
And for get the home page url?

[2019-04-03 17:25] Laul0 commented on #905
Exactly! Content Type Hub URL is the target.

[2019-04-03 17:25] waldekmastykarz opened #908 "The 'spo page section add' command is not adding new sections"
The 'spo page section add' command is not adding new sections.

Repro steps:

- create a modern page
- remove all sections
- run `o365 spo page section add -u https://contoso.sharepoint.com/sites/team-a -n home.aspx --sectionTemplate TwoColumnLeft --order 1`
- no section is added

CLI version: 1.16.0

Most likely this is caused by recent changes to modern pages DOM.

[2019-04-03 17:26] Laul0 commented on #906
I like `--default` option. This option can be use for the `set` and `get` cmdlet too?

[2019-04-03 22:47] Laul0 commented on #904
Ok, that's wrote, check if that sound good for you 😉

[2019-04-03 23:43] phillipharding commented on #895
I might be hijacking this thread a bit, but I did some digging and turned up an interesting oddity.

Firstly, changing the **Default Client Type** setting in the portal changes the **allowPublicClient** property in the application manifest, which is described as setting the default client type when a _redirect_uri_ is not used - [the documentation](https://docs.microsoft.com/en-us/azure/active-dir

[2019-04-04 09:37] thomyg opened #909 "Create central validation for Teams channel IDs"
As discussed in https://github.com/pnp/office365-cli/pull/896#issuecomment-478964344 it would be a good idea to check the format of Teams channel IDs before calling the graph endpoints.

@waldekmastykarz suggested adding a validation method to the already existing utilities. We could validate the string provided for a leading "19:" and an ending "@thread.skype.com"

Idea is to provide a useful mes

[2019-04-04 18:35] waldekmastykarz commented on #902
Is there a way to extend the `spo web get` command to include it?

[2019-04-04 18:36] waldekmastykarz commented on #905
All right, feel free to write the spec @Laul0 and we can take it from there 👍

[2019-04-04 18:37] waldekmastykarz commented on #906
Good idea! Let's create two separate issues to track the changes.

[2019-04-04 18:38] waldekmastykarz commented on #904
Let's change `title` to `name`. Other than that, good to go 💪

[2019-04-04 18:46] waldekmastykarz commented on #909
Nice suggestion @thomyg. I'd say, let's create a single issue for adding the logic and updating all necessary commands. Since this is a relatively small change, there is no need to create a separate issue for updating commands. Also, to double check we had all commands, let's include a checklist with all commands that should be updated.

[2019-04-04 19:57] waldekmastykarz opened #911 "The 'spo page header set' command is not setting header"
The 'spo page section add' command is not adding new sections.

Repro steps:

- create a modern page
- remove all sections
- run `o365 spo page header set -u https://contoso.sharepoint.com/sites/pnp_portal -n about-us --type Custom --imageUrl /sites/pnp_portal/SiteAssets/hero.jpg --translateX 42.3837520042758 --translateY 56.4285714285714`
- no header image is set

CLI version: 1.16.0

Most likely

[2019-04-04 21:46] Laul0 commented on #904
Ok, done

[2019-04-04 21:47] Laul0 commented on #906
Ok, I'll do

[2019-04-04 21:49] Laul0 commented on #902
A sort of option that allow you to return only the home page url you mean? (I didn't check yet if this information is present to the current output)

[2019-04-04 21:49] Laul0 commented on #905
Ok, I'll do it

[2019-04-05 17:03] waldekmastykarz commented on #902
Either that or to include the welcome page URL in the set of returned properties. If I'm not mistaken it's a property of SPWeb but I'm not sure if it's exposed through the client OM on Web or not.

[2019-04-05 18:51] waldekmastykarz opened #913 "The 'spo page clientsidewebpart add' command is not adding web part"
The 'spo page clientsidewebpart add' command is not adding web parts.

CLI version: 1.16.0

Most likely this is caused by recent changes to modern pages DOM.

[2019-04-06 14:45] sprider commented on #900
@waldekmastykarz / @VelinGeorgiev,
This is done with the pull request [915](https://github.com/pnp/office365-cli/pull/915).

[2019-04-07 06:16] #911 closed

[2019-04-07 06:17] #908 closed

[2019-04-07 07:13] waldekmastykarz commented on #867
@vman if you're still interested in doing this, would you mind creating a new issue with a spec to extend the existing `graph teams add` command with support for templates?

[2019-04-07 11:04] vman commented on #867
@waldekmastykarz I will create the new issue with the proposed spec but I don't think I will have the cycles to work on it soon. Happy for someone else to pick it up.

[2019-04-07 11:10] vman opened #916 "Update 'graph teams add' to include specifying a template"
Following on from https://github.com/pnp/office365-cli/issues/867:

- command: `graph teams add --templateFile <templateFilePath>`
- templateFilePath - Path of the json file describing the teams custom template
- Graph API Endpoint (beta) - https://docs.microsoft.com/en-us/graph/api/team-post?view=graph-rest-beta

We will have to consider some validations for this one:
1) If `--templateFile` is sp

[2019-04-07 17:05] waldekmastykarz commented on #867
Perfect! Appreciate your help 👏

[2019-04-07 17:06] waldekmastykarz commented on #916
Thanks @vman. I think there is a usage for both creating using teams using a template as well as just specifying a name and description. Let's extend the existing command with support for templates and keep the existing functionality intact.

[2019-04-07 17:16] waldekmastykarz commented on #889
Another thing that we need to verify is that lazy-loading commands keeps working as intended. Currently we have some logic implemented that tries to find the corresponding command class based on the length of args and if we simplify `_service_ login` to just `login` it could cause some side effects.

[2019-04-07 17:24] vman commented on #916
Yup we would not change any existing functionality. It's just that we would need to set some validations as the template allows specifying a name and description in it as well:

![image](https://user-images.githubusercontent.com/173794/55687144-7e77f000-5961-11e9-83a3-ea0ac5737ae8.png)

So if a command is specified something like this:

`graph teams add --name "my team" --description "my awesome t

[2019-04-07 19:52] waldekmastykarz commented on #916
This makes perfect sense @vman 👍

[2019-04-08 19:13] #820 closed

[2019-04-08 19:14] #808 closed

[2019-04-08 19:15] #900 closed

[2019-04-08 20:53] thomyg commented on #909
My suggestion for the validation would be: ^19:[0-9a-zA-Z]+@thread\.skype$ As this checks for the leading and ending parts and allows digits and chars in between in whatever length.

The commands checklist would be:

- teams-message-get.ts
- teams-message-list.ts
- teams-tab-list.ts

If this is ok, I would update those commands with the above-mentioned validation by adding "isValidTeamsChannelId"

[2019-04-08 21:58] thomyg commented on #821
Do you suggest using https://docs.microsoft.com/en-us/graph/api/profilephoto-update?view=graph-rest-1.0 -> PUT /groups/{id}/photo/$value for that command?

[2019-04-09 03:12] sprider commented on #900
Thank you team

[2019-04-09 06:44] waldekmastykarz commented on #909
Perfect! Please do @thomyg 👏

[2019-04-09 06:45] waldekmastykarz commented on #821
Seems like the right fit for the job @thomyg

[2019-04-09 11:49] thomyg commented on #813
Would like to put this on my backlog.

[2019-04-09 11:49] thomyg commented on #814
Would like to put this on my backlog.

[2019-04-09 16:54] waldekmastykarz commented on #813
Awesome @thomyg! All yours!

[2019-04-09 16:55] waldekmastykarz commented on #814
Awesome @thomyg!

[2019-04-09 16:57] waldekmastykarz commented on #821
All yours @thomyg!

[2019-04-09 17:59] thomyg commented on #813
working on it ...

The initial implementation is done, tests and documentation missing. Aiming for finishing EOW.

[2019-04-10 11:31] rabwill commented on #865
Hey @waldekmastykarz seems like the graph v1.0 commands do not support filter yet see ms doc [here](https://docs.microsoft.com/en-us/graph/teams-list-all-teams?view=graph-rest-1.0#get-a-list-of-groups-using-beta-apis) so from the list I am excluding `graph teams list`. I will find out about other commands not ready to be v1.0 along the way and update the issue. Does that sound good?

[2019-04-10 13:42] anoopt opened #920 "Extend 'spo theme apply' to support out of the modern themes"
First of all thanks to Paweł for developing the `spo theme apply` command.

As we know it supports applying the custom themes created. I was wondering if it is worth extending that command to support the out of the box themes as well? If yes, then I am happy to work on it based on one of my [blogs](https://medium.com/@anoopt/applying-out-of-the-box-modern-themes-via-rest-api-69b79151edae).

[2019-04-10 16:02] thomyg commented on #814
Would need some noobie help it seems @waldekmastykarz . I have the command up and running for the -c option.

If using -n I'm already able to call the graph to get a list of all the channels and to query for the right one. I have the correct channel as a Channel object in my code, but whenever I want to access channel.id I get undefined although if I log the object I see the id.

Example code:
[co

[2019-04-10 17:21] waldekmastykarz commented on #865
Absolutely @rabwill 👏

[2019-04-10 17:23] waldekmastykarz commented on #920
Seems like a very nice addition indeed. Is there a way to retrieve the standard themes' colors dynamically instead of hard-coding them to avoid inconsistencies should they change in the future?

[2019-04-10 17:27] waldekmastykarz commented on #814
res.value.filter returns an array so `const channelToDelete: Channel` is in fact `const channelToDelete: Channel[]`. Because you're trying to get `.id` of an array, it comes back as undefined. Instead of filter you could use `res.value.find` which returns `Channel | undefined` but I wonder if there is no way for us to retrieve the right channel directly from the Graph instead of having to retrieve

[2019-04-10 18:08] thomyg commented on #814
Thx Waldek for the fast response, will look for a more direct way. Will keep you posted.

[2019-04-10 20:28] thomyg commented on #814
Thx for the hint Waldek -> https://graph.microsoft.com/v1.0/teams/851bce33-1196-4ca6-9358-25139ebd2975/channels?$filter=displayName eq 'DeletePls' does the trick. Will use that for getting the correct channel by name.

[2019-04-11 19:53] waldekmastykarz commented on #872
I can repro the issue @thomyg. It seems like something has changed recently. Let's see if we can find a different approach

[2019-04-12 01:22] sprider opened #924 "New command: Clone a Microsoft Teams Team"
Create a copy of a team. This operation also creates a copy of the corresponding group. We can specify which parts of the team to clone:

apps - Copies Microsoft Teams apps that are installed in the team.
channels – Copies the channel structure (but not the messages in the channel).
members – Copies the members and owners of the group.
settings – Copies all settings within the team, along with key

[2019-04-12 05:51] waldekmastykarz commented on #872
Seems like this is a viable alternative @thomyg https://docs.microsoft.com/en-us/graph/api/team-put-teams?view=graph-rest-1.0. Since it's an MS Graph call, we should update the spec to point to `graph`

[2019-04-12 06:01] waldekmastykarz commented on #924
How about the following spec:

- command: `graph teams clone -i|--teamId <teamId> -n|--displayName <displayName> -m|--mailNickname <mailNickname> --partsToClone <partsToClone> -d|--description [description] -c|--classification [classification] --visibility [visbility]`
- teamId: The ID of the team to clone
- displayName: The display name for the new Team
- mailNickname: The mail alias for the new

[2019-04-12 06:22] waldekmastykarz commented on #872
Next to using the teamId, we could also use the site URL. Laura has a nice write up about how to retrieve the URL of the site that belongs to an Office 365 Group at https://laurakokkarinen.com/provisioning-teams-with-a-site-design-flow-and-microsoft-graph/.

Thank you for the API suggestions @LauraKokkarinen 👏

[2019-04-12 08:31] VelinGeorgiev commented on #872
That can be incorporated also in a base class for the teams commands.

[2019-04-12 10:38] thomyg commented on #872
Gotcha. Will try with the help of Laura's blog to create the command and agreed on the base class @VelinGeorgiev . I will use the base class first for this command as it adds a feature. As soon as I finished all my assignments that add commands I will go for the utils things of teams like the channel validation.

[2019-04-12 11:55] VelinGeorgiev commented on #891
Hey @waldekmastykarz , I created list of commands and their option list here: https://github.com/VelinGeorgiev/office365-cli/commit/aaf49a3fafd18b34358f7296fcd94f506affa1eb

Anyone is welcome to propose new names and options. Since that is in the source control I guess we will be able to track how this changes over time and from the different suggestions.

[2019-04-12 12:06] appieschot opened #926 "Fix list-webhook-add test"
The current test implementation of list-webhook-add fails as of the current date:

`
  it('fails validation if the expirationDateTime more than six months from now', () => {
    const actual = (command.validate() as CommandValidate)({
      options:
      {
        webUrl: 'https://contoso.sharepoint.com',
        listTitle: 'Documents',
        notificationUrl: 'https://contoso-funcions.azurewebs

[2019-04-12 17:40] waldekmastykarz commented on #872
Excellent @thomyg! Looking forward to it!

[2019-04-13 03:49] sprider commented on #924
Perfect, Thank you @waldekmastykarz. I will start working on this from tomorrow.

[2019-04-13 05:37] Laskewitz opened #929 "Add 'spo personalsite add' command"
Hi,

I would love to see the new-pnppersonalsite cmdlet ported to the office365-cli. @waldekmastykarz is this the right naming?

Cheers,
Daniel

[2019-04-14 18:14] #753 closed

[2019-04-14 18:15] #673 closed

[2019-04-14 18:16] #899 closed

[2019-04-14 18:17] #895 closed

[2019-04-14 18:18] #909 closed

[2019-04-14 18:19] #813 closed

[2019-04-14 18:20] #913 closed

[2019-04-14 18:20] #865 closed

[2019-04-14 18:22] #926 closed

[2019-04-14 20:45] thomyg commented on #814
@waldekmastykarz & @VelinGeorgiev the first version of a teams base class is accessible at https://github.com/thomyg/office365-cli/blob/DeleteTeamsChannel/src/o365/graph/commands/teams/teams-base.ts and I use it at the teams-channel-remove command here https://github.com/thomyg/office365-cli/blob/DeleteTeamsChannel/src/o365/graph/commands/teams/teams-channel-remove.ts

May I ask you for a short re

[2019-04-14 20:50] thomyg commented on #872
Moved this command a little bit down in my backlog. I started with the base class in the context of the teams-channel-remove command. If we agree on the shape of the base class I will add the connection of an existing group as discussed here.

[2019-04-14 21:21] thomyg commented on #871
From my understanding the export should be build by the following graph calls:

- GET /teams/{id} to get the base values from the team
- GET /teams/{id}/channels to get all the channels (if needed GET /teams/{id}/channels/{id} to get all the channel data)
- GET /teams/{id}/channels/{id}/tabs to get all the tab data
- GET /teams/{id}/installedApps to get all the installed apps

The exported file wi

[2019-04-14 22:33] thomyg commented on #821
Need to dig a little deeper here. The graph call from above sets the image of the group immediately but not for the Team or the SharePoint SiteCollection. At least it's the same experience as in the UI which also isn't synced immediately. I ask around what options might be available.

[2019-04-15 07:56] anoopt commented on #920
I'm not able to find an API which returns the standard themes' colours. The `GetTenantThemingOptions` endpoint returns all the custom themes. I will keep looking for other options. Any help is appreciated. Thank you.

[2019-04-16 11:47] fanuelsen opened #931 "spo file get --asFile on macOS"
When trying to get a file with specified local path to where file should be saved it throwes the following error:

(node:19607) UnhandledPromiseRejectionWarning: TypeError [ERR_INVALID_ARG_VALUE]: The argument 'path' must be a string or Uint8Array without null bytes. Received <Buffer 50 4b 03 04 14 00 06 00 08 00 00 00 21 00 26 d0 bb 06 5c 01 00 00 88 04 00 00 13 00 08 02 5b 43 6f 6e 74 65 6e 74 5

[2019-04-16 17:03] waldekmastykarz commented on #929
Absolutely! Want to propose a spec @Laskewitz?

[2019-04-16 17:11] waldekmastykarz commented on #814
1) The code looks good so far. One thing I'd suggest changing is to replace `<Object>` with `<string>` (I assume channelId is a string)

2) Export team is a unique case as it doesn't have a corresponding API and basically means we need to manually extract all different artifacts ourselves. Something's telling me (not based on any inside knowledge, but just a hunch) that at one point such API will

[2019-04-16 17:14] waldekmastykarz commented on #871
I haven't looked in detail into creating teams from a template: does it require us to provide unique IDs each time we create a team or does it only require names and structure and creates the IDs itself?

[2019-04-16 17:25] waldekmastykarz commented on #920
If there is no API for it at this moment, then let's use hard-coded values for the time being and adjust in the future, if things change.

[2019-04-16 17:28] waldekmastykarz commented on #931
I can reproduce the issue. Thank you for reporting it and sorry for the trouble. We'll try to handle it as soon as possible.

[2019-04-16 18:34] waldekmastykarz opened #932 "Add support for upgrading SPFx@1.8.0 projects"
Add support for upgrading SPFx@1.8.0 projects

[2019-04-16 19:44] #932 closed

[2019-04-16 21:53] VelinGeorgiev opened #934 "Add support for upgrading SPFx@1.8.1 projects"
Add support for upgrading SPFx@1.8.1 projects

[2019-04-17 06:19] thomyg commented on #871
Will double check that, at the moment I'm assuming that the team creation won't be happy with a json file containing URLs. For example, the channelId ist used a URL parameter in the web client, and when you look at the difference between a "General" channel in different teams, the URL only changes in terms of that ID, that's why I thought it won't be able to add a channelId in the definition.

As

[2019-04-17 19:33] waldekmastykarz commented on #934
Is this for upgrading 1.8.1 to 1.8.2?

[2019-04-17 22:07] VelinGeorgiev commented on #934
More like upgrading from 1.8.0 to 1.8.1. Should we have that?

[2019-04-17 22:09] VelinGeorgiev commented on #934
Lol @waldekmastykarz  that was so quick https://github.com/pnp/office365-cli/pull/933 that I somehow missed it.

We can keep that issue for upgrading from 1.8.1 to 1.8.2 or just close it. As you wish.

[2019-04-18 17:11] waldekmastykarz commented on #934
Let's keep it open for upgrading v1.8.1 to v1.8.2 when it becomes available. Have a great Easter! 🥚 🐰

[2019-04-18 19:15] VelinGeorgiev commented on #934
Have a great Easter too! :egg: :rabbit: :egg: :rabbit:

[2019-04-18 21:05] thomyg commented on #871
I have the first version of the export ready:
graph teams export -i 851bce33-1196-4ca6-9358-25139ebd2975 --verbose --debug -p out.json
gives me the following output:
https://solvionat-my.sharepoint.com/:u:/g/personal/thomas_goelles_solvion_net/ES3e5yXQhZhDvXkrvMacs1MBP7C_EA3EG5RavypEnQF8nw?e=bSN4l3

![image](https://user-images.githubusercontent.com/10920072/56391055-dfd77300-622d-11e9-8e89-69aca7

[2019-04-19 18:11] Laul0 commented on #902
Hi @waldekmastykarz,

I tried to get the welcome page from the current command `spo web get` and you can found at the last row:

[code]

And I tried to set welcomePage from rest api and it works but the property can be only set from `RootFolder` endpoint.
With this information in mind, how do you think we should implement the `set --welcomePage`?
From the current `spo web set` and if the parameter

[2019-04-19 18:52] waldekmastykarz commented on #871
Awesome @thomyg 👏 The best way to validate the export is to create a new Team from the exported template and compare it to the source

[2019-04-19 18:54] waldekmastykarz commented on #902
I'd opt for extending `spo web set` and handling the RootFolder nuance internally without bothering the user with it.

[2019-04-19 23:51] Laul0 commented on #902
By the way, I thought about the "get" option... That could have sense to add for a command `get` a parameter that look like `--value`?

Examples:

[code]

[code]

This behavior could be add progressively to other command... If I took as example the Starter Kit that you have create the provisioning script based on Office365-CLI, you have to use `jq` to extract the 'Id' of list... If you had this op

[2019-04-20 00:33] sprider commented on #924
Hi @waldekmastykarz,

Just picked up this task.

Could you please review the below files in my repo and let me know your feedbacks?

- [teams-clone.ts](https://github.com/sprider/office365-cli/blob/clone-team/src/o365/graph/commands/teams/teams-clone.ts)
- [teams-clone.md](https://github.com/sprider/office365-cli/blob/clone-team/docs/manual/docs/cmd/graph/teams/teams-clone.md)

The displayName is

[2019-04-20 17:19] waldekmastykarz commented on #902
Is the use case here to avoid requiring jq for things like retrieving a specific property? It might be interesting to investigate the need for this with CLI's users.

While I like the simplicity, I have a few thoughts about it:
- I'd prefer to use `select` instead of `value` as it more clearly reflects what's happening behind the scenes and maps to a concept people already know
- `select` typicall

[2019-04-20 17:20] waldekmastykarz commented on #924
Hi @sprider, any reason why you'd like us to review the files in your fork rather than submitting a PR? Having a PR would make it easier to leave comments and discuss things.

[2019-04-20 17:45] Laul0 commented on #902
Yes, it is the idea... If some users are not familiar with jq, this solution could make sense for them and save them time?

I understand the `select` choice and the purpose. It's a little bit more advanced than my idea. I thought kept simple by retrieving only one value. Why? Because, in lot of use case, you just need Id, title or whatever (ex: welcomePage) and not the entire object. If you need m

[2019-04-20 17:45] sprider commented on #924
Hi @waldekmastykarz,
I can not create a PR as it is not complete yet. As I mentioned in my comments, the value I am passing for the displayName property is setting as **true** instead of the value passed so I just wanted to clarify.

[2019-04-20 20:01] sprider commented on #924
@waldekmastykarz, I fixed the issue. There was a small spacing issue. I will create the PR after testing the test case file.

Thank you.

[2019-04-20 20:21] waldekmastykarz commented on #902
I think we have a common understanding of what you're proposing. The benefit of using `select` would be alignment with an existing concept and minimizing the amount of data that's sent over the wire. It wouldn't address your specific use case though. How about we create a separate issue with the proposal for `value` as you mentioned it (select single property and return its value as plain text) an

[2019-04-20 20:22] waldekmastykarz commented on #924
Awesome! Thank you @sprider!

[2019-04-20 22:20] Laul0 commented on #902
Yes, we can do that in fact!
Create an issue that look like a question? Did you already do that on your repo?

[2019-04-21 07:01] waldekmastykarz commented on #902
Well, not really a question, but a spec that we could directly implemented if there is sufficient interest.

[2019-04-21 14:25] Laul0 commented on #902
Ok

[2019-04-21 19:29] #846 closed

[2019-04-21 19:31] #870 closed

[2019-04-21 19:31] #888 closed

[2019-04-21 21:04] Laul0 commented on #905
If you agree with this spec, it's done for this one ;)

[2019-04-22 07:39] waldekmastykarz commented on #905
Game on!

[2019-04-22 10:46] waldekmastykarz opened #937 "New command: enable communication site"
Changes existing site to a modern communication site

`spo site commsite enable -u|--url <siteUrl> -i|--designPackageId [designPackageId]`

- url: The URL of the site to change to a modern communication site
- designPackageId: The ID of the site design to apply when changing the site

Equivalent of the Enable-SPOCommSite PowerShell cmdlet

[2019-04-22 12:12] waldekmastykarz commented on #889
To implement simplified login in the CLI, we'll need to update most, if not all, commands because many have dependencies on things like `auth.service`, `auth.site.url`, etc. - things that are affected by this change. As we'll be updating commands anyway, I wonder if it wouldn't make sense to already implement automatically retrieving the necessary access token for the particular request to avoid h

[2019-04-22 13:12] waldekmastykarz opened #938 "Add logging HTTP request's response body in debug mode"
In debug mode, we should be logging the response body of each HTTP request.

Recently we switched to using request's standard debug facilities to simplify our code (#888). Unfortunately, by default, request logs only request and response headers and request body but not the response body which could be useful when debugging the CLI.

[2019-04-22 13:43] waldekmastykarz commented on #889
I've added an example of how automatically retrieving access tokens, SPO (admin) URL and tenant ID would look like. See the following commands for example:

- `spo app list` - working with SPO
- `spo cdn get` - working with tenant ID
- `spo storageentity set` - working with tenant admin site
- `graph teams list` - command on MS Graph

[2019-04-23 13:46] waldekmastykarz opened #942 "'SyntaxError: Invalid or unexpected token' error when running the latest beta of the CLI"
In the latest beta of the CLI (1.18.0-beta.af0cef8) you get the following error when running the CLI:

[code]

Repro steps:
- `$ npm i -g @pnp/office365-cli@next`
- `$ o365`

[2019-04-23 15:06] anoopt commented on #920
Ok @waldekmastykarz . I will start working on it. Would the command be something like `spo theme apply --isOutOfTheBox --name Blue --webUrl https://contoso.sharepoint.com/sites/project-x`

[2019-04-23 16:54] #942 closed

[2019-04-24 07:10] waldekmastykarz commented on #920
Let's use `--sharePointTheme` instead of `--isOutOfTheBox` to make it consistent with the UI.

[2019-04-24 12:03] JakeStanger commented on #389
Sorry to bring this thread up again but it seems sensible to keep the issue here rather than a new thread. I've granted permissions to my app and installed the certificate, and I'm now getting this error:

`Client is public so 'client_assertion' should not be presented.`

[2019-04-24 15:11] agtenr opened #944 "spo login not working with double quotes in password"
#### Category
[ X ] Bug
[ ] Enhancement

#### Expected or Desired Behavior
Using the spo login command with username and password should result in a successfull login when the password has a double quotes.

#### Observed Behavior
When using a double quote in the password the spo login command fails

#### Steps to Reproduce
[code]

The command above throws the following error:

[code]

I tried esca

[2019-04-24 15:40] VelinGeorgiev commented on #944
Hi @agtenr, thanks for reporting this! Could you please specify what Operating System (Windows 10, Linux etc.) are you using? Also what command line program (cmd, PowerShell or other) are you using to execute the script? I am asking since different command line programs escape quotes differently.

Thanks!

[2019-04-24 16:03] VelinGeorgiev commented on #389
@JakeStanger , thanks for reporting that! I will reopen the issue and we will take a look asap.

[2019-04-24 17:33] waldekmastykarz commented on #389
Actually, it would be better to have a separate issue with clear repro steps. @JakeStanger, could you please give us some more information that we can use to replicate the issue ourselves? I'll close this one to avoid confusion.

[2019-04-24 17:33] #389 closed

[2019-04-24 19:55] waldekmastykarz opened #946 "Extend 'spo web set' with controlling the footer's visibility"
Extend the 'spo web set' command with controlling the footer's visibility.

`spo web set --footerEnabled [footerEnabled]`

- footerEnabled: Set to `true` to enable site footer and to `false` to disable it

[2019-04-24 20:04] waldekmastykarz opened #947 "Extend 'spo web set' with controlling the search scope"
Extend 'spo web set' with controlling the search scope

`spo web set --searchScope [searchScope]`

- searchScope: Search scope to set in the site. Allowed values `DefaultScope|Tenant|Hub|Site`

The value should be passed as integer (DefaultScope = 0, Tenant = 1, Hub = 2, Site = 3) to the Web.SearchScope property.

[2019-04-25 05:40] agtenr commented on #944
Hi @VelinGeorgiev , I am using windows 10. I tried it in PowerShell and cmd but both have the same behaviour.

KR, Robin

[2019-04-25 07:44] JakeStanger opened #948 "Authenticating via certificate: 'client_assertion' should not be presented"
Trying to authenticate via certificate gives me the following:
[code]

I have had this on multiple tenants.

I'm not sure which parts of the AD app are relevant, but here's a few things from the manifest:
[code]
Let me know if you need to see more of the config.

I have already granted admin consent for the application.

[2019-04-25 12:08] waldekmastykarz commented on #944
Thanks for the details @agtenr. We'll have a look at it asap.

[2019-04-25 12:10] waldekmastykarz commented on #948
You need to set _allowPublicClient_ to `true`. For more information see the docs at https://pnp.github.io/office365-cli/concepts/authorization-tokens/#azure-ad-application-used-by-the-office-365-cli.

[2019-04-25 12:45] waldekmastykarz commented on #944
OK, so it seems like it's not related to the CLI itself but rather how PowerShell passes variables to node executables. Following it's what's working for me:

[code]

Here is why:

Using `--%` disables PowerShell processing everything that follows. If you did `--% $pwd` without quotes surrounding `--%`, you would end up passing `$pwd` literally as password rather than its value. By surrounding `--

[2019-04-25 13:35] JakeStanger commented on #948
Switiching it to `true` does not change the error. It does change the displayed application type in Azure to `Native`, which is why I presumed it had to be set to false.

[2019-04-25 13:45] waldekmastykarz commented on #948
CLI is a native app from the auth point of view, because it's not capable of doing a web-based redirect to a URL. Have you seen this thread? https://github.com/pnp/office365-cli/issues/895

[2019-04-25 14:33] JakeStanger commented on #948
Makes sense. I hadn't seen that thread before but after re-tracing the steps they took to fix their issue, I can't find anything in there that makes a difference. I've tried setting the `OFFICE365CLI_` env variables and I'm getting the same error.

[2019-04-25 17:03] rjesh-git commented on #946
I'll take this one

[2019-04-25 18:40] waldekmastykarz commented on #948
Could you try to write the exact steps you've taken which we could use to reproduce the issue in our environments? Without it, it will be hard to find out exactly what's wrong and where. Appreciate your help.

[2019-04-25 18:40] waldekmastykarz commented on #946
Excellent! Appreciate your help!

[2019-04-25 19:21] JakeStanger commented on #948
Here's everything we've done as far as I can remember:

- Go to Azure portal > AAD app registrations (preview)
- Create new application, leave account types as default, add dummy web redirect URI
- Add API permissions for SharePoint
- Generate certificates using PS scripts [from MS docs](https://docs.microsoft.com/en-us/sharepoint/dev/solution-guidance/security-apponly-azuread)
- Use OpenSSL to co

[2019-04-25 19:31] waldekmastykarz commented on #948
Thank you! I'll have a look asap

[2019-04-26 06:17] agtenr commented on #944
I tested and it seems to work that way. Thanks a lot for the quick response and explanation.

[2019-04-26 17:19] waldekmastykarz commented on #944
Happy to help! Glad to hear it's working!

[2019-04-26 17:19] #944 closed

[2019-04-26 17:55] waldekmastykarz commented on #948
So it seems like, if you want to authenticate using certificate, you shouldn't use a public client.

Here's what's working for me:

<img width="781" alt="image" src="https://user-images.githubusercontent.com/11164679/56826582-e896fd00-685c-11e9-8e75-88907cf01671.png">

<img width="733" alt="image" src="https://user-images.githubusercontent.com/11164679/56826603-f3ea2880-685c-11e9-9986-8b82e43e4933

[2019-04-27 05:29] rabwill commented on #815
Hey @waldekmastykarz is this merely a Microsoft Graph api - [group update](https://docs.microsoft.com/en-us/graph/api/group-update?view=graph-rest-1.0) ? I could not find the property **alias** for this, am I in the wrong rest call? Feel free to assign this one to me.

[2019-04-27 09:39] YannickRe opened #950 "New commands: PowerApps CLI"
The PowerApps team released their CLI to create custom components for model-driven apps. The CLI is Windows only, in the [Twitter thread](https://twitter.com/waldekm/status/1121306091927875584) we thought it would be feasible to recreate the functionality in the O365 CLI, so here is the draft proposal for all the necessary commands.

I tried being consistent with the PowerApps CLI commands (and ad

[2019-04-27 09:46] JakeStanger commented on #948
I deleted the existing application and re-traced the documentation exactly, and made sure to exactly match your config (which appears to be the defaults conveniently). I've managed to get it working twice so I don't know what was happening before.

There are a couple of differences, being that this time I'm using my home Linux machine outside of our enterprise network so I'll have to do some inves

[2019-04-27 14:01] waldekmastykarz commented on #950
Thanks for taking a stab at the spec @YannickRe! Here are some thoughts:

It would be better to use `pa` as prefix instead of `pac`. That way, we could include other commands related to PowerApps under the same namespace rather than including a new root-level element `pa` for things like managing the environment and keeping `pac` exclusive to components (although not quite sure if the `c` in `pac`

[2019-04-27 14:08] waldekmastykarz commented on #815
I believe I've taken the spec for it from the `Set-Team` cmdlet. You could have a look at what it does internally. Appreciate your help! 👏

[2019-04-27 14:09] waldekmastykarz commented on #948
You mean when calling `spo app add`?

[2019-04-27 14:12] JakeStanger commented on #948
Yep. Should have specified that, sorry.

[2019-04-27 15:30] YannickRe commented on #950
You’re welcome! I’ll change them to “pa” and split the issues, probably tomorrow.

[2019-04-28 04:44] rabwill commented on #815
Thanks @waldekmastykarz , so I checked the [Set-Team](https://docs.microsoft.com/en-us/powershell/module/teams/set-team?view=teams-ps) cmdlet and it has property **MailNickName** instead of **alias**  Should we update the command spec for consistency and make it  `--mailNickName [mailNickName]` instead of `--alias [alias]` ?

[2019-04-28 07:01] waldekmastykarz commented on #815
Let's do that @rabwill!

[2019-04-28 08:08] #938 closed

[2019-04-28 08:09] waldekmastykarz commented on #931
@fanuelsen The fix for this issue has been implemented in the latest beta which you can install using `npm i -g @pnp/office365-cli@next`.

[2019-04-28 08:09] #931 closed

[2019-04-28 08:09] #937 closed

[2019-04-28 08:10] #946 closed

[2019-04-28 08:15] waldekmastykarz commented on #948
Looking at the screenshot above, it seems that you've granted delegated permissions to your AAD application. Delegated means on behalf of the user. Because you're signing in using a certificate without the user context, you should assign Application permissions instead.

<img width="839" alt="image" src="https://user-images.githubusercontent.com/11164679/56861128-6f072800-699e-11e9-9bc0-5189a0661b

[2019-04-28 08:16] waldekmastykarz commented on #950
Perfect, thank you! I'll close this one then in favor of the separate issues for the specific commands.

[2019-04-28 08:16] #950 closed

[2019-04-28 11:44] YannickRe opened #952 "New command: Create PowerApps component framework project structure"
Creates new PowerApps component framework project

`pa pcf init --namespace <namespace> --name <name> --template <template>`
- namespace: string value, with some limitations (need to decompile PAC)
- name: string value, with some limitations (need to decompile PAC)
- template: enum value, only __field__ and __dataset__ are currently possible

Equivalent to the [PowerApps CLI command](https://docs.

[2019-04-28 11:47] YannickRe opened #953 "New command: Create PowerApps component framework solution project"
Initializes a directory with a new CDS solution project

`pa solution init --publisherName <publisherName> --publisherPrefix <publisherPrefix>`

- publisherName: Name of  the publisher (need to decompile PAC)
- publisherPrefix: Prefix for the components (need to decompile PAC)

Equivalent to the [PowerApps CLI command](https://docs.microsoft.com/en-us/powerapps/developer/component-framework/create

[2019-04-28 11:51] YannickRe opened #954 "New command: Add PowerApps Component Framework project reference to solution project"
Adds a reference from the project in the current directory to the project at 'path'

`pa solution reference add -p|--path <path>`

- path: The path to the referenced project

Equivalent to the [PowerApps CLI command](https://docs.microsoft.com/en-us/powerapps/developer/component-framework/create-custom-controls-using-pcf#deploying-your-powerapps-component-framework-components).

[2019-04-28 11:53] YannickRe opened #955 "New command: Restore dependencies for a PowerApps Component Framework solution project"
Restores the dependencies of a PowerApps component framework solution

`pa solution restore`

Equivalent to the [PowerApps CLI command](https://docs.microsoft.com/en-us/powerapps/developer/component-framework/create-custom-controls-using-pcf#deploying-your-powerapps-component-framework-components).

[2019-04-28 11:54] YannickRe opened #956 "New command: Package a PowerApps Component Framework solution project"
Packages a PowerApps component framework solution

`pa solution package`

Equivalent to the [PowerApps CLI command](https://docs.microsoft.com/en-us/powerapps/developer/component-framework/create-custom-controls-using-pcf#deploying-your-powerapps-component-framework-components).

[2019-04-28 11:55] YannickRe commented on #950
Created separate issues #952, #953, #954, #955 & #956

[2019-04-28 12:00] waldekmastykarz commented on #952
Nice! I've updated the description a little, but other than that, ready to go! 💪

[2019-04-28 12:03] waldekmastykarz commented on #953
I've updated the description a little but other than that, it's ready to go 🚀

[2019-04-28 12:06] waldekmastykarz commented on #954
Updated the description slightly. Other than that, ready to go! 👍

[2019-04-28 12:09] waldekmastykarz commented on #955
Changed the verb to `restore` which better reflects the command's purpose

[2019-04-28 12:11] waldekmastykarz commented on #956
Updated description slightly

[2019-04-28 12:17] YannickRe commented on #955
Your change didn't save, I think, because I still see my original submission.

[2019-04-28 12:20] waldekmastykarz commented on #929
Creates personal site for the specified users

`spo personalsite add -e|--emails <emails>`

- emails: Comma-separated list of e-mail addresses of users for whom to create a personal site

Equivalent of the New-PnPPersonalSite PowerShell cmdlet

[2019-04-28 12:22] waldekmastykarz commented on #955
Good catch. Thanks!

[2019-04-28 19:16] ghurlman commented on #952
Have you left feedback on the PowerApps forum for PCF for this issue (https://aka.ms/PCFForum) before shoehorning it into an office tool?

[2019-04-28 20:32] waldekmastykarz commented on #952
Thanks for the pointer @ghurlman. I haven't posted an issue there yet.

[2019-04-28 20:40] ghurlman commented on #952
@waldekmastykarz, saw your post, thanks! I’ll make sure the PCF CLI team sees it if you don’t get a timely response.

[2019-04-28 20:41] waldekmastykarz commented on #952
Thank you! Appreciate your help! 👏

[2019-04-29 07:46] JakeStanger commented on #948
Hm, I tried that first but it didn't work initially. I've just tried it again and it worked though, so thanks.

I suppose it makes sense - I saw the PnP application uses delegated permissions, but that signs in as a user, where as this signs in as an app.

Everything seems to be working now, so many thanks!

[2019-04-29 07:46] #948 closed

[2019-04-29 11:48] waldekmastykarz commented on #948
Glad to hear it's working!

[2019-04-30 17:58] Asfiti commented on #946
I tried to turn off/on footer with "SPO web set" but didn't work. Here are the repo steps:
1. Latest Cli 1.18.0 upgraded
2. run " office365"
3. $ Spo web set --webUrl https://contoso.sharepoint.com/sites/team --footerEnabled true

[2019-04-30 19:50] waldekmastykarz commented on #946
@Asfiti could you please create a new issue with the repro steps? It would help us to track the issue. Thank you

[2019-04-30 21:48] Asfiti opened #957 "Footer Visibility with SPO web set extended"
I tried to turn off/on footer with "SPO web set" but didn't work. Here are the repo steps:
Environment is upgraded to latest Cli 1.18.0 and have custom design.
I used the commandlet after i run "spo web set --help" to set footer property
1. run " office365"
2. $ Spo web set --webUrl https://contoso.sharepoint.com/sites/team --footerEnabled true

[2019-05-01 19:26] waldekmastykarz commented on #957
Thank you for reporting the bug. We'll have a look asap

[2019-05-01 19:45] waldekmastykarz commented on #957
It seems like the Footer capability is available only on Communication Sites at this moment. You can confirm this by navigating to the Change the look options in the site settings in SharePoint. Controlling the footer visibility is only visible on a Communication site. It could be that the SharePoint API allows setting the option on any web, but at this time it has only effect on Communication sit

[2019-05-01 19:59] Asfiti commented on #957
@waldekmastykarz Thank you for looking into this. The site is actually is communication site and the only difference is it's use of custom design/script.

[2019-05-01 20:32] waldekmastykarz commented on #957
Gotcha! I thought it was a team site given the URL. Could you please confirm two things:

1. When running `o365 spo web get --url <url>` FooterEnabled is set to `true`
1. When you turn the the Footer on using the SharePoint UI it's visible?

[2019-05-01 21:55] Asfiti commented on #957
Sorry for the typo. It should have said "/comn" at the end. FooterEnabled is true. "spo web get --webUrl" not "--url" is working by the way :)

[2019-05-02 12:50] waldekmastykarz commented on #957
What about trying to change the footer visibility in the UI? Does it work as expected?

[2019-05-02 15:56] Asfiti commented on #957
@waldekmastykarz That's a good point. Footer option is not available on UI for newly provisioned or existing communication sites with even out-of-the-box templates.

[2019-05-02 19:32] Asfiti commented on #957
@waldekmastykarz It seems footer is rolled back by Microsoft at least in our case but the property remains true which is a default value. Thank you for your help.

[2019-05-03 17:50] #957 closed

[2019-05-04 11:10] sprider opened #959 "New command: list orphan Office 365 groups"
@waldekmastykarz @VelinGeorgiev

It is a good practice to find teams and groups without owners. Can we write a seperate command for this?

- command graph o365group listorphan --includeSiteUrl

Alternatively we can add an option in graph o365group list command.

- graph o365group list --orphan

Thoughts?

[2019-05-04 11:22] sprider opened #960 "New command: Get details about Microsoft Teams device usage by user"
@waldekmastykarz @VelinGeorgiev

With Microsoft Graph, we can access Office 365 usage reports resources to get the information about how people using Office 365 services. For example, use the Microsoft Teams device usage reports to get information about Microsoft Teams device usage in an organization.

graph reports teamsdeviceusageuserdetail --period D7

graph reports teamsdeviceusageuserdetail -

[2019-05-04 15:41] waldekmastykarz commented on #959
Very nice idea! I like the second option better. Would you like to pick it up yourself?

[2019-05-04 15:43] waldekmastykarz commented on #960
Very nice suggestion! Would you like to pick it up yourself or let others chime in?

[2019-05-04 16:53] sprider commented on #959
@waldekmastykarz

Sure, I will on this.

[2019-05-04 16:54] sprider commented on #960
@waldekmastykarz

Sure, I will on this.

Do we need to change anything to get the needed permission?

[2019-05-05 05:47] DaveCalGH commented on #904
I was wondering if I could try taking this on if someone isn't already working on it.

[2019-05-05 20:49] Laul0 commented on #904
Ok for me, you can take it 😉

[2019-05-05 22:22] VelinGeorgiev commented on #904
Hi @DaveCalGH, feel free to take it.

[2019-05-07 17:42] Asfiti opened #962 "List view formatting"
I've formatted list view with below Json:
{
  "schema": "https://developer.microsoft.com/json-schemas/sp/view-formatting.schema.json",
  "additionalRowClass": "=if([$Grouping_x0020_Color] == 'Red', 'ms-bgColor-red', if([$Grouping_x0020_Color] == 'Green', 'ms-bgColor-green', if([$Grouping_x0020_Color] == 'Yellow', 'ms-bgColor-yellow', if([$Grouping_x0020_Color] == 'Blue', 'ms-bgColor-blue',if([$Gro

[2019-05-07 18:46] #962 closed

[2019-05-07 18:47] waldekmastykarz commented on #959
Excellent! I appreciate your help! 👏

[2019-05-07 18:49] waldekmastykarz commented on #960
Yes, I need to update the AAD app used by the CLI and we need to update this page in docs https://pnp.github.io/office365-cli/concepts/authorization-tokens/ with the additional permission. You can include it in your PR.

[2019-05-07 18:51] waldekmastykarz commented on #904
Appreciate your help @DaveCalGH. Please, don't hesitate to reach out if you have any questions.

[2019-05-08 18:46] #934 closed

[2019-05-11 14:12] sprider commented on #959
Thank you @waldekmastykarz. I will work on this tomorrow.

[2019-05-11 14:14] sprider commented on #960
Thank you @waldekmastykarz.
Sure, I will update the documentation. Should I wait for your permission update or I can start from my side?

[2019-05-12 08:55] waldekmastykarz commented on #960
I've granted the permission to the CLI AAD application. You're ready to go. Don't forget to reconsent the application in your AAD to use the new permission. You can do this by executing in the command line `o365 --reconsent`

[2019-05-12 11:22] YannickRe opened #967 "SPFx project upgrade from 1.7.1 to 1.8.2 suggests both rush 2.7 and 2.9 install"
Upgrading a project from 1.7.1 to 1.8.2, the install commands suggest both `@microsoft/rush-stack-compiler-2.7` and `@microsoft/rush-stack-compiler-2.9`

[code]

[2019-05-12 12:00] YannickRe opened #968 "SPFx project upgrade 1.7.1 to 1.8.2 doesn't suggest react type resolution update"
Running the project upgrade command on a 1.7.1 project to get 1.8.2 doesn't suggest an update to the resolutions section of package.json.

Package.json contains:
[code]

Command output:
[code]

I expected a suggestion to update package.json to:
[code]

[2019-05-12 19:33] #802 closed

[2019-05-12 19:34] #924 closed

[2019-05-12 19:35] #920 closed

[2019-05-12 19:36] #904 closed

[2019-05-12 19:55] waldekmastykarz commented on #967
Shouldn't there be also a command to remove 2.7?

[2019-05-12 19:56] waldekmastykarz commented on #968
Thanks for reporting the issue and the repro steps. I'll have a look if I can reproduce the issue and get back to you as soon as I know more.

[2019-05-12 20:01] waldekmastykarz commented on #968
I've just tried running the upgrade command on a React web part built using v1.7.1 and I'm getting the recommendation as expected. Could you please try again on a new project so that we can see if it's working there and see if there is anything specific about your other project that cause this command to work incorrectly?

[2019-05-12 20:01] YannickRe commented on #967
Even if there would be (but there isn't, see output below), it is still strange that it tells me to install both versions first, no?

Output from the upgrade command on a 1.7.1 project:
[code]

[2019-05-12 20:17] YannickRe commented on #968
I reinstalled SPFx 1.7.1, created a new project with all the defaults (except that I selected React, of course). This is the output from the `spfx project upgrade` command:
[code]

I'm executing on Windows, that might be the issue ;)
I'll go check on macOS, but it'll take some time.

[2019-05-12 20:26] YannickRe commented on #968
Output on macOS on a newly created project:
[code]

[2019-05-13 04:09] sprider commented on #959
Submitted the pull request. Thank you.

[2019-05-13 17:03] waldekmastykarz commented on #967
I see the problem and it's related to the limitation that we currently have in detecting rules that supersede each other. In v1.7.1 there is no reference to rush so first by going to 1.8.1 you get a suggestion to install 2.7. Then, in going to 1.8.2 you get a suggestion to install 2.9. Uninstalling 2.7 is not triggered, because at that stage it's not in package.json yet, so the rule is not trigger

[2019-05-13 17:03] #967 closed

[2019-05-13 17:06] waldekmastykarz opened #970 "Add support for defining superseded SPFx upgrade rules"
When upgrading SharePoint Framework project, it should be possible to define superseded rules to avoid performing unnecessary upgrade action when upgrading multiple versions ahead. More information and example in #967 and #636

[2019-05-13 17:14] waldekmastykarz commented on #968
I can reproduce the issue. Let me investigate it further and see what's wrong. Thanks for reporting!

[2019-05-13 18:20] waldekmastykarz commented on #968
Fix for this bug is available in v1.20.0 which should be available in the next few mins

[2019-05-13 18:20] #968 closed

[2019-05-13 18:31] waldekmastykarz commented on #636
Closing in favor of #970 which we will use to track this feature.

[2019-05-13 18:31] #636 closed

[2019-05-15 02:42] sprider commented on #960
Sure @waldekmastykarz. I will start this tomorrow or day after.

[2019-05-15 11:33] PiWiBardy opened #972 "ClientSideInstance.xml missing while upgrading from 1.5.0 with cli 1.19.0"
Hello,

While upgrading a solution from SPFX version 1.5.0 to 1.7.1 and finally to 1.8.2, there's no creation of the file sharepoint/assets/ClientSideInstance.xml, and if it's missing the custom action is not activated on the site after the package deployment.

if we're initializing a project in SPFX 1.8.2 the file is created.

**Steps To Reproduce:**

- Create a Extension Project with SPFX 1.5.0

[2019-05-15 18:02] waldekmastykarz commented on #960
Excellent! Thank you!

[2019-05-15 18:03] waldekmastykarz commented on #972
Thank you for reporting the issue and the details. I'll try to repro it and will get back to you as soon as I know more.

[2019-05-15 19:46] waldekmastykarz commented on #972
You're right: the CLI doesn't suggest adding the file. The tricky part, and I believe the reason why we haven't added it initially, is that it would change the characteristic of your solution. Where originally it would not support tenant-wide deployment, after adding this file it would, without it being an explicit choice on your part.

I'm open for a discussion and arguments if you think this beh

[2019-05-15 20:03] DaveCalGH commented on #670
@waldekmastykarz it looks like this is a duplicate of #904 which has since been resolved.

[2019-05-15 20:25] DaveCalGH commented on #674
Hey @douglasromao I recently finished my first contribution and was surprised to find that test cases took the most time to get full coverage. Let me know if I can help with anything while it's still fresh in my mind.

[2019-05-16 17:37] waldekmastykarz commented on #670
You're right @DaveCalGH

[2019-05-16 17:37] #670 closed

[2019-05-16 18:04] waldekmastykarz commented on #889
All commands and tests have been refactored to use the new login system. Next stop, docs.

[2019-05-17 19:51] #889 closed

[2019-05-18 18:56] #815 closed

[2019-05-19 17:28] waldekmastykarz opened #974 "New command: mark site as an organizational news site"
Marks site as an organizational news site

`spo orgnewssite set -u|--url <url>`

- url: The URL of the site to mark as an organizational news site

Equivalent of the Set-SPOOrgNewsSite PowerShell cmdlet

[2019-05-19 17:29] waldekmastykarz opened #975 "New command: get all organizational news sites"
Gets all organizational news sites

`spo orgnewssite list`

Equivalent of the Get-SPOOrgNewsSite PowerShell cmdlet

[2019-05-19 17:34] waldekmastykarz opened #976 "New command: remove an organizational news site"
Removes site as an organizational news site

`spo orgnewssite remove -u|--url <url> --confirm`

- url: The URL of the site to remove from being an organizational news site
- confirm: don't prompt for confirming removing a site from being an organizational news site

Equivalent of the Remove-SPOOrgNewsSite PowerShell cmdlet

[2019-05-19 17:35] waldekmastykarz commented on #14
Hey @ypcode, are you still working on this?

[2019-05-19 17:36] waldekmastykarz commented on #15
Hey @ypcode, are you still working on it?

[2019-05-19 17:37] waldekmastykarz commented on #16
Hey @ypcode, are you still working on it?

[2019-05-19 17:38] waldekmastykarz commented on #649
Resetting as open for taking due to lack of response

[2019-05-19 17:40] waldekmastykarz commented on #674
Hey @douglasromao, are you still working on it?

[2019-05-19 17:40] waldekmastykarz commented on #771
Resetting as open for taking due to lack of response.

[2019-05-19 17:41] waldekmastykarz commented on #783
Are you still working on it @kshsbala?

[2019-05-19 17:42] waldekmastykarz commented on #814
Hey @thomyg, are you still working on it?

[2019-05-19 17:42] waldekmastykarz commented on #817
Are you still working on it @arnieraju?

[2019-05-19 17:43] waldekmastykarz commented on #821
Are you still working on it @thomyg?

[2019-05-19 17:43] waldekmastykarz commented on #871
Are you still working on it @thomyg?

[2019-05-19 17:44] waldekmastykarz commented on #872
Are you still working on it @thomyg?

[2019-05-19 17:45] waldekmastykarz commented on #874
Are you still working on it @siata13?

[2019-05-19 17:45] waldekmastykarz commented on #875
Are you still working on it @siata13?

[2019-05-19 17:46] waldekmastykarz commented on #884
Hey @paulryan, would you like to take another stab at it or should we mark it as open for taking and let others help?

[2019-05-19 17:46] waldekmastykarz commented on #905
Hey @Laul0, are you still working on it?

[2019-05-19 17:55] paulryan commented on #884
Hi Waldek,

Please do mark it as open, I think it will be some time before I have another look at this unfortunately.

Thanks,
Paul

From: Waldek Mastykarz <notifications@github.com>
Sent: Monday, 20 May 2019 3:46 AM
To: pnp/office365-cli <office365-cli@noreply.github.com>
Cc: Paul Ryan <paul.ryan@outlook.com>; Mention <mention@noreply.github.com>
Subject: Re: [pnp/office365-cli] Enhancement: Supp

[2019-05-19 18:05] waldekmastykarz opened #977 "Extend 'spo page add' with support for promoting as template"
Extend the 'spo page add' command with support for promoting as template.

`spo page add --promoteAs Template`

Equivalent of the `PromoteAs Template` option in the [Add-PnPClientSidePage](https://github.com/SharePoint/PnP-PowerShell/blob/fc5b2ac57721262a10b56dc4ead49fde14955b92/Commands/ClientSidePages/AddClientSidePage.cs) cmdlet.

[2019-05-19 18:10] waldekmastykarz opened #978 "Extend 'spo page set' with support for promoting as template"
Extend the 'spo page set' command with support for promoting as template.

`spo page set --promoteAs Template`

Equivalent of the `PromoteAs Template` option in the [Set-PnPClientSidePage](https://github.com/SharePoint/PnP-PowerShell/blob/fc5b2ac57721262a10b56dc4ead49fde14955b92/Commands/ClientSidePages/SetClientSidePage.cs) cmdlet.

[2019-05-19 18:51] waldekmastykarz commented on #884
No problem. Thank you for your quick reply. 👍

[2019-05-20 04:02] DaveCalGH commented on #974
@waldekmastykarz may I take this as well as the related #975 and # #976 ?

[2019-05-20 07:28] ypcode commented on #14
Hi @waldekmastykarz , I unfortunately had to delay my tasks on the schema extension due to sliding pro priorities..., I won't probably be able to work on it before June. But you can leave them assigned to me except it there are more urgent need for them :)

Regards,
Yannick

[2019-05-20 07:28] ypcode commented on #15
Hi @waldekmastykarz , I unfortunately had to delay my tasks on the schema extension due to sliding pro priorities..., I won't probably be able to work on it before June. But you can leave them assigned to me except it there are more urgent need for them :)

Regards,
Yannick

[2019-05-20 07:28] ypcode commented on #16
Hi @waldekmastykarz , I unfortunately had to delay my tasks on the schema extension due to sliding pro priorities..., I won't probably be able to work on it before June. But you can leave them assigned to me except it there are more urgent need for them :)

Regards,
Yannick

[2019-05-20 08:29] waldekmastykarz commented on #974
Excellent! All yours @DaveCalGH! Appreciate your help! 👏

[2019-05-20 08:31] waldekmastykarz commented on #14
June is ok. Thank you for the update 👍

[2019-05-20 08:32] waldekmastykarz commented on #15
June is ok. Thank you for the update 👍

[2019-05-20 08:32] waldekmastykarz commented on #16
June is ok. Thank you for the update 👍

[2019-05-21 02:56] Laul0 commented on #905
Hi @waldekmastykarz, currently not... I'm working on several things and I have to finish others before come back on Office365-CLI.
In some days, I'll can come back. If someone else want to take it, I let the issue available during this time 😉
Sorry for the delay

[2019-05-21 15:20] PiWiBardy commented on #972
Hi @waldekmastykarz ( sorry for the delay ),

As per my understanding of the post https://github.com/SharePoint/sp-dev-docs/issues/3690 by @andrewconnell  the tenant-wide deployment is only triggered if we have the **ClientSideInstance.xml** file & the **skipFeatureDeployment** setting set to true.

So what about a suggest about adding the file only if the **skipFeatureDeployment** is set to true,

[2019-05-21 17:23] waldekmastykarz commented on #972
What if we added is an optional update step? So, the person upgrading the project can choose if they want to apply it or not?

[2019-05-21 17:32] PiWiBardy commented on #972
It sounds better than my solution ;) as expected from you haha

Sent from My iPhone
________________________________
De : Waldek Mastykarz <notifications@github.com>
Envoyé : Tuesday, May 21, 2019 7:23:51 PM
À : pnp/office365-cli
Cc : Pierre-Yves Bardy; Author
Objet : Re: [pnp/office365-cli] ClientSideInstance.xml missing while upgrading from 1.5.0 with cli 1.19.0 (#972)

What if we added is an op

[2019-05-21 22:18] DaveCalGH commented on #975
Progress update: code functional, documentation complete, working test cases.

[2019-05-21 22:18] DaveCalGH commented on #974
Progress update: code functional, documentation complete, working test cases.

[2019-05-21 22:18] DaveCalGH commented on #976
Progress update: code functional, documentation complete, working test cases.

[2019-05-22 06:29] waldekmastykarz commented on #972
It takes two to arrive to it. I would've never given it a thought if it wasn't for your comment 👏

[2019-05-23 04:38] arnieraju commented on #817
@waldekmastykarz thanks for the message! I've been waylaid with work, but this is still on my radar!  Hoping to be back onto this by the end of next week if that works for you and the team.  If not I am happy if someone else has got their eye on this before then.

[2019-05-23 19:27] waldekmastykarz commented on #817
Thanks for the reply, @arnieraju. By the end of next week is good! Looking forward to your PR!

[2019-05-23 22:28] appieschot opened #982 "New command: Set user for O365 group"
Suggestion for a new command:
Add a set user for a O365 Group that allows for promoting a member to owner, or demoting owner to member.

Current implementation is done through Teams and the same rework approach should be taken as #847 and #846 (add new command, and keep old alias for backwards compatibility)

command: `o365group user set -u| --userName <userName> -i| --teamId [teamId]| --[groupId]

[2019-05-24 18:04] waldekmastykarz commented on #982
Awesome suggestion! All yours!

[2019-05-25 17:42] #976 closed

[2019-05-25 17:42] #975 closed

[2019-05-25 17:42] #974 closed

[2019-05-26 18:40] waldekmastykarz commented on #674
Setting as free to pick up due to lack of response

[2019-05-26 18:41] waldekmastykarz commented on #783
Setting as free to pick up due to lack of response

[2019-05-26 18:42] waldekmastykarz commented on #874
Setting as free to pick up due to lack of response

[2019-05-26 18:42] waldekmastykarz commented on #875
Setting as free to pick up due to lack of response

[2019-05-27 14:44] waldekmastykarz opened #984 "Extend the 'spfx project upgrade' command with output to a file"
Currently, the command outputs its information to console. To save the information to a file, you need to redirect the output, eg. `> output.md`. Unfortunately, this isn't possible, when using the CLI in immersive mode. We should extend `spfx project upgrade` with an additional, optional parameter named `-f|--outputFile` that, when specified, would cause the CLI to store the output in the given fi

[2019-05-28 23:48] sprider commented on #960
Submitted the PR for your review.

[2019-05-30 17:59] vimalpatel1826 commented on #984
I tried all > output.md, -f|--outputFile with no luck. It still outputs the information to the console.

[2019-05-30 20:08] waldekmastykarz commented on #984
If you run the CLI in immersive mode (eg. you first type `o365` and then in the `o365$` prompt type the upgrade command), you will always get the report in the console, because the immersive mode can't redirect the output. This issue is about extending the command with an additional option to save the output to a file no matter if you ran the command in immersive mode or not. The `--outputFile` op

[2019-05-30 20:08] waldekmastykarz commented on #960
Excellent! Thank you very much @sprider. We'll review it shortly.

[2019-05-31 09:32] appieschot commented on #298
Feel free to assign to me, lets see if I can do something that is 'nocode' ;-)

[2019-05-31 17:18] waldekmastykarz commented on #298
Woohoo! Appreciate your help in the no-code area 😄

[2019-05-31 23:40] joakimhogberg commented on #978
@waldekmastykarz , I want to work on this. Can you assign me please?

[2019-06-01 10:57] JayakumarB opened #990 "New Command: Get planner tasks"
Suggestion to a new command.

Planner is one of popular tool used by most of the organizations to manage their project tasks. I would like to cover the areas in planner. To start with, I suggest to list the tasks of a user in planner.

- command `planner tasks listtasks --userid <useremail/userid>`

- userid: Either user email or the user id. Optional, if no values passed, it will list current use

[2019-06-01 11:06] JayakumarB opened #991 "New Command: Get planner task by taskid"
Suggession to a new command.

This command helps to retrieve the properties and relationships of plannertask based on the taskid.

- command: `planner tasks gettask --taskid <taskid>`

- taskid: The Id of the task to get details.

- Graph API docs: [https://developer.microsoft.com/en-us/graph/docs/api-reference/v1.0/api/plannertask_get](https://developer.microsoft.com/en-us/graph/docs/api-referenc

[2019-06-01 17:27] waldekmastykarz commented on #978
Excellent! Appreciate you reaching out. All yours! 👏

[2019-06-01 17:31] waldekmastykarz commented on #990
Hey @JayakumarB. Appreciate your help and taking the initiative! To match the current naming convention:

- let's change the command name to `graph planner task list`. Currently, we're still grouping tasks by the API they use. We're dropping this convention for v2, which is in early preview, but for consistency with the current v1, let's prefix the command with `graph`
- let's define two separate

[2019-06-01 17:33] waldekmastykarz commented on #991
Awesome suggestion. To match the naming convention in the CLI, let's update the command spec to: `graph planner task get -i|--id <id>`. Other than that, all yours! 🚀

[2019-06-02 10:18] JayakumarB commented on #990
@waldekmastykarz  Thank you for accepting the request. I will make sure to follow the naming guidelines as you said.

[2019-06-02 10:19] JayakumarB commented on #991
Great, thank you @waldekmastykarz

[2019-06-02 14:31] joakimhogberg commented on #978
OK, so this seems to working fine now. I have a of questions thhough;
What should happen if users specifies `--publish` or `--commentsEnabled` along with `--promoteAs Template`?

Should this publish and enable/disable comments on the page that you are currently promoting as a template? Should it say "Templates can't be published" and update commentsEnabled setting on the newly created template pag

[2019-06-02 17:05] waldekmastykarz commented on #978
@joakimhogberg given the command name `spo page set` it should be clear that the selected actions, like publish or enable comments, apply to the page not the template. I'd say, let's keep the existing behavior as-is and add publishing as template on top. If we see in the future that it causes confusion, then we'll address it then.

Thanks for double checking 👍

[2019-06-02 19:01] #959 closed

[2019-06-02 19:02] #823 closed

[2019-06-02 19:03] #970 closed

[2019-06-02 19:04] #617 closed

[2019-06-02 19:05] #982 closed

[2019-06-03 07:33] joakimhogberg commented on #977
I want to work on this. Will start as soon as my PR for #978 is merged.

[2019-06-04 22:15] sympmarc opened #993 "Installation fails behind firewall with content blocking"
### Bug Report

- __Package version(s)__: 1.15 -> 1.21
- __Browser and OS versions__: Chrome on Windows

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes, No)

Requested priority: (Normal)

Products/sites affected: Office365 CLI

#### Describe the issue:

When installing the Office 365 CLI from behind a firewall, in some cases, do

[2019-06-07 01:46] JayakumarB commented on #990
Hi @waldekmastykarz ,

I'm making progress in the command and referred other commands to clarify my doubts. Which alerts about this commands options. It's better to mention `username` instead of `useremail`. Because we need userprincipalname to process this command, not email. In some cases useremail and userprincipalname will be different.

So the command will be `planner task list --userid [user

[2019-06-07 18:16] waldekmastykarz commented on #993
Thank you for reporting this issue @sympmarc. Is it the main .tgz that's failing or one of the dependencies?

[2019-06-07 18:17] waldekmastykarz commented on #990
Makes perfect sense. Thank you for the update.

[2019-06-07 18:22] sympmarc commented on #993
It was the main tgz in this case. I expect there are lots of places where some piece that should download would be blocked. If you had instructions to install manually, it could be helpful.

[2019-06-09 07:53] waldekmastykarz commented on #993
Have you seen similar instructions elsewhere? Not trying to justify if we need it but looking for a good place to start. The fact that you've stumbled upon it is proof enough that we need it so now it's a matter of _how_ rather than _if_. Thank you for your help 👏

[2019-06-09 08:18] #978 closed

[2019-06-09 08:19] #960 closed

[2019-06-09 13:48] joakimhogberg commented on #977
Just started working on this one

[2019-06-09 17:13] waldekmastykarz commented on #977
Awesome! Looking forward to the PR! 👏

[2019-06-10 01:03] rabwill commented on #874
Hey @waldekmastykarz assign this to me please if not already taken. Thanks

[2019-06-10 15:15] arnieraju commented on #817
@waldekmastykarz and team, PR #997 submitted ready for your review.

There was one conflict with the npm-shrinkwrap.json.  In future would you like me to just pull through the latest from dev before submitting?

[2019-06-10 17:02] waldekmastykarz commented on #874
All yours @rabwill! Thank you!

[2019-06-10 17:04] waldekmastykarz commented on #817
@arnieraju rebasing your fork to upstream before submitting a PR is always a good idea. It decreases the chances of merge conflicts and makes it easier for us to review and merge your PR. 👍

[2019-06-12 02:25] sprider opened #998 "New command: get office 365 tenant id from domain name"
Get tenant id from domain name

command: tenant -d|--domain **xyz.com**
**Logic :**
- call https://login.windows.net/xyz.com/.well-known/openid-configuration
- parse **token_endpoint.Split('/')[3]**

Note: we donot need to run graph login for this endpoint. If this is a valid suggestion, I can take this.

[2019-06-12 11:44] VelinGeorgiev commented on #817
@arnieraju, I never commit `npm-shrinkwrap.json` file. You can just discard it and let Waldek update it when needed.

[2019-06-12 12:27] arnieraju commented on #817
@VelinGeorgiev Good to know!  After I saw the conflict I did have my suspicions!  Thanks for the tip! :)

[2019-06-12 13:43] arnieraju commented on #817
Okay Take 2 with PR #999! :) Cleaned up and ready for review

[2019-06-12 17:18] waldekmastykarz commented on #998
Nice one! Let's get it in! To make it match the naming convention, let's rename it to `tenant id get`. If the endpoint returns other interesting information, we could do `tenant get` and return ID along with other bits

[2019-06-12 18:13] waldekmastykarz opened #1000 "New command: Get URL of the SharePoint Home Site"
Gets the URL of the SharePoint Home Site

`spo homesite get`

Request:

[code]

[2019-06-12 18:31] waldekmastykarz opened #1001 "New command: Set the specified site at Home Site"
Sets the specified site as the Home Site

`spo homesite set -u|--siteUrl <siteUrl>`

- siteUrl: The URL of the site to set as Home Site

For more information see the Set-SPOHomeSite cmdlet

[2019-06-12 18:34] waldekmastykarz opened #1002 "New command: Remove the current Home Site"
Removes the current Home Site

`spo homesite remove --confirm`

- confirm: Don't prompt for confirmation before removing the current Home Site

For more information see the Remove-SPOHomeSite cmdlet

[2019-06-14 12:16] sprider commented on #998
Sure, thank you @waldekmastykarz.

[2019-06-14 13:20] appieschot commented on #298
Just added a PR based on the PowerShell documentation that references all links to O365CLI at: https://github.com/SharePoint/sp-dev-docs/pull/4148. Will track actions from that PR and notify in this thread once approved.

[2019-06-14 13:24] appieschot commented on #1002
Feel free to assign to me :)

[2019-06-14 16:47] waldekmastykarz commented on #298
Awesome! Thank you! 👏

[2019-06-14 16:48] waldekmastykarz commented on #1002
Woohoo! All yours! Appreciate your help 👏

[2019-06-15 04:35] arnieraju commented on #771
@waldekmastykarz apologies, I completely missed your message on this one!  Let me take this one so we can get it off the backlog!

[2019-06-16 05:25] arnieraju commented on #771
@waldekmastykarz and team, I've wrapped this one up and PR #1005 is now ready for review!

[2019-06-16 05:30] arnieraju commented on #674
@waldekmastykarz I've been working on a client project where this would have come in super handy.  Please assign this one to me!

[2019-06-16 18:14] #817 closed

[2019-06-16 18:15] #1001 closed

[2019-06-16 18:15] #998 closed

[2019-06-16 18:16] #977 closed

[2019-06-17 09:43] rabwill commented on #874
Hey @waldekmastykarz  there is a strange issue after pulling down the latest beta code base to add a command to it, I clone the branch , fetch upstream to keep upto-date , I ran ```npm run build``` and ```npm link``` but it keeps complaining  **Invalid Command**.
Not sure what is different or if I am missing a step. It builds fine and even the test  is 100% for this command. I can see the files ge

[2019-06-17 17:05] waldekmastykarz commented on #674
All yours @arnieraju. Appreciate your help 👍

[2019-06-17 17:08] waldekmastykarz commented on #874
Recently, we've updated the project dependencies. Could that be the culprit?

Could you please try:

- `npm run clean`
- remove node_modules
- `npm i`
- `npm run build`
- `npm link`

Please let me know if this helps. If it doesn't, we'll keep looking further until we find what's not working.

[2019-06-17 21:59] VelinGeorgiev commented on #715
I am taking that!

[2019-06-17 23:29] rabwill commented on #874
Hey there,

Tried it , even clone a fresh repos

here is how things look
![image](https://user-images.githubusercontent.com/20379311/59643121-e0977180-91aa-11e9-8abd-fbedcc943e81.png)

![image](https://user-images.githubusercontent.com/20379311/59643178-f86ef580-91aa-11e9-8a98-cd68bad46db4.png)

Here are my new files

![image](https://user-images.githubusercontent.com/20379311/59643237-39ffa080-91

[2019-06-18 03:57] rabwill commented on #874
Also adding to this if we find a fix so someone else can benefit https://stackoverflow.com/questions/55141031/how-can-i-fix-npm-link-on-windows-10

[2019-06-18 04:46] pdtane commented on #947
I can work on this.

[2019-06-18 17:31] waldekmastykarz commented on #874
Screenshots look all fine. Do you have your changes in a branch somewhere where I could have a look at them?

[2019-06-18 17:32] waldekmastykarz commented on #947
Awesome! All yours! Appreciate your help 👍

[2019-06-18 17:51] rabwill commented on #874
I have pushed the branch to my remote just now.
https://github.com/rabwill/office365-cli/tree/issue-apppage-874/src/o365/spo/commands/apppage
Thank you.

[2019-06-18 18:04] #890 closed

[2019-06-18 21:08] pdtane commented on #947
Hi @waldekmastykarz, I created PR #1008 for this.  Thanks!

[2019-06-21 08:43] rabwill commented on #874
Hey @waldekmastykarz, you can leave this for now, i will be able to pick it up today in my mac.

[2019-06-23 18:15] #990 closed

[2019-06-23 18:16] #771 closed

[2019-06-23 18:16] #1000 closed

[2019-06-24 12:10] sprider opened #1011 "New command: Get the number of Microsoft Teams daily unique users by device type"
graph report getTeamsDeviceUsageUserCounts --period D7

API Reference - https://docs.microsoft.com/en-us/graph/api/reportroot-getteamsdeviceusageusercounts?view=graph-rest-1.0&tabs=cs

This is a continuation of the report located at office365-cli/docs/manual/docs/cmd/graph/report.

Please assign to me. Thank you.

[2019-06-24 12:11] sprider opened #1012 "New command: Get the number of Microsoft Teams unique users by device type over the selected time period"
graph report getTeamsDeviceUsageDistributionUserCounts --period D7

API Reference - https://docs.microsoft.com/en-us/graph/api/reportroot-getteamsdeviceusagedistributionusercounts?view=graph-rest-1.0&tabs=cs

This is a continuation of the report located at office365-cli/docs/manual/docs/cmd/graph/report.

Please assign to me. Thank you.

[2019-06-24 15:34] appieschot commented on #386
Feel free to assign to me though I have not heard from my other docs PR I think this is an old one that we should pick up as well.

[2019-06-24 15:45] VelinGeorgiev commented on #386
All yours @appieschot. Thanks for helping!

[2019-06-25 17:08] waldekmastykarz commented on #1011
Let's use `graph report teamsdeviceusageusercounts` as the command name. Other than that, all yours! 👏

[2019-06-25 17:09] waldekmastykarz commented on #1012
Let's use `graph report teamsdeviceusagedistributionusercounts` as the command name. Great addition. All yours!

[2019-06-26 23:25] sprider commented on #1011
@waldekmastykarz
Sure, Thank you.

[2019-06-26 23:25] sprider commented on #1012
@waldekmastykarz
Sure, Thank you.

[2019-06-30 14:15] #947 closed

[2019-06-30 14:15] #874 closed

[2019-07-03 13:46] phettz opened #1019 "Graph Team Clone and suffix/prefix policy"
If the tenant has a prefix/suffix policy with something like "O365_" etc the team clone command will not work since it uses a regex on the displayName as mailNickname:

https://github.com/pnp/office365-cli/blob/c7ad6cf12f5fa947fc2ab60e0257ee1bff9bd789/src/o365/graph/commands/teams/teams-clone.ts#L205

[2019-07-03 13:59] VelinGeorgiev commented on #1019
@phettz we automatically assign mailNickname since that setting is currently ignored by the Microsoft Graph. This is a known issue, but once it is fixed on the Microsoft Graph level, then we will let the Office 365 CLI user specify the mailNickname instead of automatically assigning value. You can have a look at https://docs.microsoft.com/en-us/graph/api/team-clone?view=graph-rest-1.0#request-body

[2019-07-04 08:01] mpriem opened #1023 "Please support better certificate logon on Windows 10"
Hi,

Logon to Office 365 using certificates in Windows 10 was quite challenging. The documentation is not very clear on the prerequisites. Windows out-of-the-box only provides means to generate a keypair from a certificate store by export to a protected .pfx file (protection is either by password or Active Directory account). Office 365 CLI does not support using a protected .pfx, nor does it supp

[2019-07-04 08:45] VelinGeorgiev commented on #1023
Thanks for your feedback Mark (@mpriem)! These are all good points, definitely there is room for improvement.

Here are my thoughts:
- We can improve the documentation with your suggestion immediately, but would you be willing to participate in that and help us by adding that to the [documents yourself](https://github.com/pnp/office365-cli/blob/dev/docs/manual/docs/user-guide/connecting-office-365

[2019-07-04 09:40] mpriem commented on #1023
Thanks for the reply @VelinGeorgiev. I created a piece of documentation for you to review.
As for the Nodejs libraries I cannot really comment on the stability, but I found one a few days back I though was worth looking into. Not sure if you've seen this one: https://github.com/ukoloff/win-ca

[2019-07-04 11:35] VelinGeorgiev commented on #1023
Thank you and welcome to the team!

Yes, I know this library and already had a thought about it, but there might be edge cases where your certificate is not exportable and that might cause issues since that library does not support it. You can see me commented on this already [here](https://github.com/ukoloff/win-ca/issues/13). So event if we go with it, it could be a half baked solution.

[2019-07-04 12:12] phettz commented on #1019
ah I see @VelinGeorgiev , this the command and error I get when the tenant have O365 group naming policy:

[code]

[2019-07-04 12:59] sprider opened #1025 "Update V2 code on teams report deviceusageuserdetail [options] command"
@VelinGeorgiev,

We have to update the following two files based on the feedback you have prodivded in [this](https://github.com/pnp/office365-cli/pull/1021) pull request

https://github.com/pnp/office365-cli/blob/dev/src/o365/teams/commands/report/teams-report-deviceusageuserdetail.spec.ts

https://github.com/pnp/office365-cli/blob/dev/src/o365/teams/commands/report/teams-report-deviceusageuserde

[2019-07-04 14:39] VelinGeorgiev commented on #1025
Yep, this seems like a bug.

Steps to repro:
Run `o365 teams report deviceusageuserdetail --period 'D7'`

Expected:
Report as output on the screen

Actual:
`Error: Access token is empty.`

Suggestions:
Adding headers for json the requestOptions should fix the issue.

So change from

[code]
to
[code]
should solve the issue.

If will also require fix of a unit test that is currently not valid.

@spr

[2019-07-04 14:58] sprider commented on #1025
Yes, Please assign to me.

[2019-07-04 16:41] Abhiekande commented on #947
Hi,
Is this option available now to use?
Today I have installed O365 cli npm package and tried to use --searchscope option, but it is giving error as invalid option.

Thank you in advance.

[2019-07-04 18:23] VelinGeorgiev commented on #947
It is available in the beta version so of you'd like to give it a try you'll have to install the beta using 'npm i -g @pnp/office365-cli@next'

[2019-07-05 09:20] VelinGeorgiev commented on #1019
Hey @phettz, I double checked if the mailNickname is still ignored and it is. When I executed the following command

[code]
it created teams with completely different email, but matching the naming.

![image](https://user-images.githubusercontent.com/1049476/60712105-32abf700-9f0e-11e9-94a4-d3424c1cf759.png)
Note: that I do not have naming policy enabled.

My thought is that there has to be someth

[2019-07-05 10:31] Abhiekande commented on #947
Hello,
Thank you for reply.
I tried to use beta version, but facing some issues as below:
1. When i tried to execute command "spo login <siteurl>" it is giving error as invalid command.
Then I tried with "login <siteUrl>" then it worked.
2. After login I have executed "spo web set --searchScope 2"
then error as: Required option webUrl missing
3. So I tried-  "spo web set --webUrl <siteurl>--search

[2019-07-05 10:42] VelinGeorgiev commented on #947
@Abhiekande the beta version has major change and it is version 2 of the CLI. There is only one login with it so you have to execute `o365 login` to login and this is it. There is no more `spo login` or `graph login` etc. all these have been replaced by just `o365 login`. Please do give it a try and let me know if it worked for you.

[2019-07-06 17:09] waldekmastykarz commented on #1023
It would be a great addition to add support for PFX secured with password. Let's investigate what's the best way to do it. Appreciate your feedback and help @mpriem 👏

[2019-07-06 22:54] sprider opened #1027 "New command: Get the number of Microsoft Teams users by activity type"
Note: Please assign to me. Thank you.

# teams report useractivityusercounts

Get the number of Microsoft Teams users by activity type. The activity types are number of teams chat messages, private chat messages, calls, or meetings.

## Usage

[code]

## Options

Option|Description
------|-----------
`--help`|output usage information
`-p, --period <period>`|The length of time over which the report

[2019-07-06 22:57] sprider opened #1028 "New command: Get the number of Microsoft Teams activities by activity type"
Note: Please assign to me. Thank you.

# teams report useractivitycounts

Get the number of Microsoft Teams activities by activity type. The activity types are team chat messages, private chat messages, calls, and meetings.

## Usage

[code]

## Options

Option|Description
------|-----------
`--help`|output usage information
`-p, --period <period>`|The length of time over which the report is aggre

[2019-07-06 23:01] sprider opened #1029 "New command: Get details about Microsoft Teams user activity by user."
Note: Please assign to me. Thank you.

# teams report useractivityuserdetail

Get details about Microsoft Teams user activity by user.

## Usage

[code]

## Options

Option|Description
------|-----------
`--help`|output usage information
`-p, --period <period>`|The length of time over which the report is aggregated. Supported values `D7, D30, D90, D180`
`-d, --date [date]`|The date for which you w

[2019-07-07 07:33] waldekmastykarz commented on #1027
Nice suggestion! If D7 is the only allowed value, why should we require it? What if we skipped the `period` option altogether and if later additional periods become available, we introduce it with D7 being the default value?

[2019-07-07 07:39] waldekmastykarz commented on #1028
Nice suggestion! If D7 is the only allowed value, why should we require it? What if we skipped the `period` option altogether and if later additional periods become available, we introduce it with D7 being the default value?

[2019-07-07 07:49] waldekmastykarz commented on #1029
Nice suggestion! In the above spec it seems that you can specify either the period or the date, so the period should not be required (`<period>`) but optional (`[period]`).

[2019-07-07 12:16] sprider commented on #1027
@waldekmastykarz,
Period parameter accepts the following values but is not showing in the suggestion properly.
-p, --period <period> - The length of time over which the report is aggregated. Supported values D7|D30|D90|D180

[2019-07-07 12:17] sprider commented on #1028
@waldekmastykarz,
Period parameter accepts the following values but is not showing in the suggestion properly.
-p, --period <period> - The length of time over which the report is aggregated. Supported values D7|D30|D90|D180

[2019-07-07 12:19] sprider commented on #1029
@waldekmastykarz,
Sure, I have corrected the period parameter as optioanl.

Period parameter accepts the following values but is not showing in the suggestion properly.
-p, --period <period> - The length of time over which the report is aggregated. Supported values D7|D30|D90|D180

[2019-07-07 14:16] VelinGeorgiev commented on #1025
Thank you Joseph (@sprider )! It is part of the v2 beta now.

[2019-07-07 14:16] #1025 closed

[2019-07-07 14:22] VelinGeorgiev commented on #1011
Thank you Joseph (@sprider )! It is part of the v2 beta now.

[2019-07-07 14:22] #1011 closed

[2019-07-07 14:23] VelinGeorgiev commented on #1012
Thank you Joseph (@sprider )! It is part of the v2 beta now.

[2019-07-07 14:23] #1012 closed

[2019-07-07 14:24] VelinGeorgiev commented on #1002
Thank you Albert (@appieschot )! It is part of the v2 beta now.

[2019-07-07 14:24] #1002 closed

[2019-07-07 14:34] VelinGeorgiev commented on #1023
Hey @mpriem , the documents are now updated with your suggestion in the latest beta. Thank you very much for that and welcome to the team!

- I will close this issue and create separate issue for connection using cert with password.

- I can try and take a look at the different possibilities for getting cert from the Windows store then I will create another separate issue if that is really worth's

[2019-07-07 14:34] #1023 closed

[2019-07-07 14:40] VelinGeorgiev opened #1030 "Enhancement: Allow specifiying a certificate with password when `o365 login`"
Currently the CLI supports only certificates that are not protected. Let's explore whether we can add support for protected by password certificates.

Currently we can do that to login with cert:
[code]

Adding additional option `--certificatePassword [certificatePassword]` would be required.

[2019-07-08 09:38] Abhiekande commented on #947
@VelinGeorgiev , Thank you for your reply.
I am able to login using just  **o365 login** but issue with next command
o365 spo web set --searchScope 2 - for this command it is giving error as "Required option webUrl missing".
And if I try with command
"o365 spo web set --webUrl <siteURL> --searchScope 2"- Then it gives error as mentioned in my previous command.

Thank you in advance !

[2019-07-08 10:14] VelinGeorgiev commented on #947
@Abhiekande , I will have a look asap. Thanks for your input!

[2019-07-08 14:05] pdtane commented on #947
@Abhiekande:

In your case you should try:

o365 spo web set --webUrl "siteURL" --searchScope Hub

[2019-07-08 14:47] pdtane commented on #947
@VelinGeorgiev, @waldekmastykarz:  To resolve Abhiekande's issue, he needs to pass a string, not a number.

But based on his testing, I discovered a minor issue.  When sending a number (as he described in his report) in the command line, the ```searchScope``` value is sent in as numeric value in ```args.options```, which does not have the ```toLowerCase``` function.  This is why the string validat

[2019-07-08 15:13] VelinGeorgiev commented on #947
@pdtane  could you please open a new issue with steps to reproduce. Then I can assign the new one to you so we can keep track of the progress in a new issue.

I wold suggest even if number is passed as param to turn it to string value so the user will have maximum user experience where the cli transforms the value to the desired body payload. Peter what do you think?

[2019-07-08 17:02] pdtane opened #1031 "Validating search scope parameter in spo web set does not work if value passed is an integer."
When issuing the following command:

[code]
the validation doesn't kick in but instead throws an error:
[code]

[2019-07-08 17:04] pdtane commented on #947
@VelinGeorgiev Opened one - please see #1031.  Thanks.

[2019-07-08 21:01] VelinGeorgiev commented on #1031
I would suggest we fix it using 'searchScope.toString().toLowerCase()'. Would you like to pick it up and submit a pull request?

[2019-07-08 22:28] pdtane commented on #1031
Sounds good to me.  That was how I was planning to fix it… .

So are still supporting passing a number (0 - 3) as you suggested in the other thread?    My only hesitation is if this is how it was done in the past - to support two ‘input types’ - string and integer.  If we’ve been allowing both, then it makes sense.  Otherwise, it’s best to keep the string inputs for consistency.  Let me know what

[2019-07-09 06:54] VelinGeorgiev commented on #1031
@pdtane, I am sorry, I forgot that we have a list of string values. Lets keep the string values (no numbers), bit fix the validation error so when someone uses numbers it returns validation error that the available values are 'DefaultScope|Tenant|Hub|Site'

[2019-07-09 08:36] VelinGeorgiev commented on #1029
@sprider , we have to validate and sure that either `period` or `date` is specified when validation kicks in. Other than that, great suggestion. I assigned that to you.

[2019-07-09 08:37] VelinGeorgiev commented on #1028
@sprider , we have to validate and sure that either `period` or `date` is specified when validation kicks in. Other than that, great suggestion. I assigned that to you.

[2019-07-09 11:13] ahyland opened #1032 "spo listitem set SingleMetadataField"
When executing the cmd:

`o365 spo listitem set -u "https://tenant.sharepoint.com/sites/sitecol" -i "9" -t "All Documents" --SingleMetadataField "Term Name|448496d0-f253-46a1-ad02-5e6d84f84b58;"
`

I get the error:
**'448496d0-f253-46a1-ad02-5e6d84f84b58' is not recognized as an internal or external command,
operable program or batch file.**

When running the following:

`o365 spo listitem set -u

[2019-07-09 14:34] pdtane commented on #1031
@VelinGeorgiev This is fixed by PR #1033.  Thanks.

[2019-07-09 18:40] waldekmastykarz commented on #1027
Got it. For the readability of the spec, I replaced the pipes with commas.

[2019-07-09 18:48] waldekmastykarz commented on #1031
The command clearly specifies the allowed values. If the command should support specifying numbers then I'd say it's an extension and not a bug. In all other commands where we have enum values, we support only the labels and not their numeric equivalents. Is there any reason why this command should work differently?

[2019-07-09 18:51] waldekmastykarz commented on #1028
For the readability of the spec I replaces the pipes with commas.

[2019-07-09 18:52] waldekmastykarz commented on #1032
In which shell and on which OS are you seeing this?

[2019-07-09 18:56] pdtane commented on #1031
The bug is that the validation code is throwing an error when the input is a number.  The fix in #1033 does not add numeric inputs as valid options.  It just avoids the exception and shows the validation error message when someone specifies a number.  Hope this helps.

[2019-07-09 19:31] waldekmastykarz commented on #1031
Ah sorry, my bad. You're absolutely right. Thank you and sorry for the trouble 😊

[2019-07-09 19:50] ahyland commented on #1032
Hi Waldek,

This is on Windows 10 using Windows PowerShell version 5.1.17134.590

[2019-07-10 07:23] VelinGeorgiev commented on #1031
Yes, I am not sute if this is a bug or enhancemet Waldek. I was thinking to mark it as bug, not sure what was the reason to mark it as enchancement, but I had one at that time 🙂

[2019-07-10 09:25] VelinGeorgiev commented on #1032
Seems that the `|` char is causing the issues when cmd or powershell , I found some documents saying the `^` should escape the `|` char and thread it as text so I tried specifying term value like that `"'Term name'^|GUID"`, but it did not worked for me.

I am thinking on we can simplify that to the user so just term guid is passed or just user email is passed as option value and then the cli does

[2019-07-10 12:22] sprider commented on #1027
Sure, Thank you @waldekmastykarz.

[2019-07-10 13:25] phillipharding commented on #1032
The command below works when using a **bash** shell on macOS

```spo listitem set -u https://contoso.sharepoint.com/sites/somesite -t "Library Title" -i <id> --MetadataFieldName '`Label|Termguid`'```

Sounds like it could be similar to #625

[spo customaction set with --clientSideComponentProperties param results in invalid JSON object](https://github.com/pnp/office365-cli/issues/625)

[2019-07-10 14:07] waldekmastykarz commented on #1032
@VelinGeorgiev I would prefer avoiding introducing any specific constructs in the CLI if it's a shell-specific thing. Let's see if there are any known issues and ways around it.

[2019-07-10 14:08] waldekmastykarz commented on #1032
@ahyland could you please try what @phillipharding proposed and see if it helps?

[2019-07-10 15:19] ahyland commented on #1032
@waldekmastykarz I have just tried this now using Windows PowerShell however I get the same output.

**'448496d0-f253-46a1-ad02-5e6d84f84b58`' is not recognized as an internal or external command,
operable program or batch file.**

[2019-07-11 07:28] waldekmastykarz commented on #1032
Unfortunately, I can't reproduce the issue. When I try to execute the exact command, it's working just fine. I'm using:

- CLI v1.22.0
- PowerShell 5.1.17134.407
- Win 10

Anything else that I could try?

[2019-07-11 07:44] ahyland commented on #1032
@waldekmastykarz could you please give me the cmd you have run so I can give it a try. Thanks!

[2019-07-11 07:49] waldekmastykarz commented on #1032
It's exactly what you put in your original issue:

[code]

[2019-07-11 12:58] sprider commented on #1029
Sure @VelinGeorgiev. We have this validation already in an exsiting command. I will use the same. Thank you.

[2019-07-11 22:04] VelinGeorgiev commented on #1030
I am proposing the use of `node-forge` to read personal information exchange (.pfx) files to then get the access token.

Instead of introducing new options, I will reuse the existing `--password` option and when it is specified with authentication type of `certificate` can be considered as the password of the pfx file. So for example the command will look like:

[code]

I already started working o

[2019-07-12 16:16] appieschot commented on #386
Just added a PR based on the PowerShell documentation that references all links to O365CLI at: https://github.com/SharePoint/sp-dev-docs/pull/4285. Will track actions from that PR and notify in this thread once approved. If approved we can extend with an additional article as well, but new articles seems to take a while so wanted to push this one asap to get it live.

[2019-07-12 17:28] VelinGeorgiev commented on #386
Great stuff! Thank you very much Albert!

[2019-07-12 18:52] VelinGeorgiev commented on #386
Great stuff! Thank you very much Albert!

[2019-07-13 14:44] waldekmastykarz commented on #1030
Looks good @VelinGeorgiev. Let's get it in! 👍

[2019-07-13 14:44] waldekmastykarz commented on #386
Awesome! Thank you! 👏

[2019-07-13 14:47] waldekmastykarz commented on #1019
@VelinGeorgiev so is the conclusion that it's nothing that we can address in the CLI and we should close this issue?

[2019-07-13 14:47] waldekmastykarz commented on #993
Closing due to lack of response

[2019-07-13 14:47] #993 closed

[2019-07-13 14:48] waldekmastykarz commented on #14
Hey @ypcode, are you still planning to work on this?

[2019-07-13 14:48] waldekmastykarz commented on #15
Hey @ypcode, are you still planning to work on this?

[2019-07-13 14:49] waldekmastykarz commented on #16
Hey @ypcode, are you still planning to work on this?

[2019-07-13 14:50] waldekmastykarz commented on #674
Hey @arnieraju, are you still working on this?

[2019-07-13 14:50] waldekmastykarz commented on #814
Setting as available to pick up due to lack of response

[2019-07-13 14:51] waldekmastykarz commented on #821
Setting as free to pick up due to lack of response

[2019-07-13 14:52] waldekmastykarz commented on #871
Setting as free to pick up due to lack of response

[2019-07-13 14:53] waldekmastykarz commented on #872
Setting as free to pick up due to lack of response

[2019-07-13 14:54] #991 closed

[2019-07-13 15:37] VelinGeorgiev commented on #1019
@waldekmastykarz , It seems that is a Microsoft Graph issue. All we can do it to create issue on their board, but I cannot repro since o365 group sufix/prefix policy requires AAD premium if I am not mistaken so I simply do not have that to repro and create an issue on their board.

[2019-07-13 15:38] VelinGeorgiev commented on #1030
I am working on it. There is only one last piece to be done. We should expecting that feature in `dev` next week.

[2019-07-13 17:38] waldekmastykarz commented on #1019
In that case, let's close this issue

[2019-07-13 17:38] #1019 closed

[2019-07-13 19:19] sympmarc commented on #993
Sorry I never followed up, @waldekmasykarz. It’s probably an unusual occurrence.

[2019-07-13 20:58] YannickRe commented on #952
@waldekmastykarz I finally gave this a shot, while familiarizing myself with the code structure. Current implementation can be found at https://github.com/YannickRe/office365-cli/tree/pa-pcf-init
It doesn't have the necessary tests yet, it seems I need to study up on this... Also, the .md documentation isn't done.

Before I go any further with this, do you mind checking this and give pointers?
Spe

[2019-07-14 08:49] waldekmastykarz commented on #993
We'll keep eyes and ears open and if we come across it again, we'll see if we can address it in some way. Thanks for getting back to us @sympmarc 👍

[2019-07-14 08:55] waldekmastykarz commented on #952
I'll have a look at it asap. Thanks! It will be a good first step to be able to create a project using the same templates as the original PCF tooling. In the end we should strive to create projects that can also be built on any platform, which will require reverse-engineering the build process and adjusting the templates.

[2019-07-14 08:58] YannickRe commented on #952
Thank you! I’m aiming to make the tooling and all the commands work cross platform, and I hope I can convince some MS people to make minor changes in their NPM packages so they work cross platform 😉

[2019-07-14 15:10] #1031 closed

[2019-07-14 15:12] #1029 closed

[2019-07-14 15:13] #1028 closed

[2019-07-14 15:14] #1027 closed

[2019-07-14 15:17] #984 closed

[2019-07-17 09:28] ahyland commented on #1032
Hi @waldekmastykarz  sorry for the delay in getting back to you.

I have had other users test this and they confirm that they have the same issue?

[2019-07-17 10:20] VelinGeorgiev commented on #1032
I @ahyland , I can also reproduce it. I do not have enough time to troubleshot and see If I can find a solution. I will try to find some time until the end of the week so see if I can find working solution.

[2019-07-19 22:33] sprider opened #1038 "Enhancement: Export report data of teams report useractivityuserdetail command"
@VelinGeorgiev

As we discussed [here](https://github.com/pnp/office365-cli/pull/1013), I am planning to add an additional parameter to output the result in json file for the following command:

**teams report useractivityuserdetail** [options]

I will implement the same for the following commands once we successfully merge this change

<img width="1066" alt="Screen Shot 2019-07-19 at 5 15 22 PM"

[2019-07-21 11:15] arnieraju commented on #674
@waldekmastykarz Thanks for the message, and your patience on my reply.  It's been another busy few weeks.  I am on it :) Please expect to have a PR for the end of the week.

[2019-07-21 14:03] VelinGeorgiev commented on #1030
Support for .PFX (with password) is now in the latest beta. Have a try and let me know if any issues

 @mpriem tagged for visibility.

[2019-07-21 14:03] #1030 closed

[2019-07-21 14:23] VelinGeorgiev commented on #1038
@sprider , I would suggest we make it the same format as the `spfx upgrade` commands. They have

[code]

You can have a look how Waldek did it in that pull request https://github.com/pnp/office365-cli/pull/1037

If we'd go with the json format first, we would have to convert the response body from CSV to json. I would propose the following json object structure to match what is in the csv coming b

[2019-07-23 12:27] appieschot opened #1040 "New command: Create an organization asset library"
Promotes an existing library to become an organization assets library

`
spo orgassetslibrary add --libraryUrl<url> --thumbnailurl[url] --cdnType[Public,Private]
`
--cdnType: default Private

For more information see the Add-SPOOrgAssetsLibrary cmdlet

Feel free to assign to me

[2019-07-23 12:29] appieschot opened #1041 "New command: List organization asset library"
List all libraries that are assigned as assets library

`
spo orgassetslibrary list
`

For more information see the Get-SPOOrgAssetsLibrary cmdlet

Feel free to assign to me

[2019-07-23 12:31] appieschot opened #1042 "New command: Remove organization asset library"
Removes a library that was designated as a central location for organization assets across the tenant.

`
spo orgassetslibrary remove --libraryUrl<url> --confirm
`
--confirm: prompt before deletion

For more information see the Remove-SPOOrgAssetsLibrary cmdlet

Feel free to assign to me

[2019-07-23 20:03] munchkin1 opened #1043 "Enhancement: Unable to approve document using o365 spo listitem set"
Hi,

I'm trying to update the approval status field "OData_ModerationStatus" with the "spo listitem set" command but it doesn't recognize this field.

**example 1)** setting "OData_ModerationStatus"

o365 spo listitem set --listTitle "myList" --id 3 --webUrl https://myTenant/sites/mySite --OData_ModerationStatus true --verbose

response:
Error: Column 'OData__ModerationStatus' does not exist. It m

[2019-07-24 14:21] VelinGeorgiev commented on #674
Great to hear @arnieraju . Thanks for the update!

[2019-07-24 14:23] VelinGeorgiev commented on #1041
All yours @appieschot. Thanks!

[2019-07-24 14:25] VelinGeorgiev commented on #1042
All yours @appieschot. Thanks!

[2019-07-24 14:27] VelinGeorgiev opened #1044 "Add support for upgrading SPFx@1.8.2 projects"
Add support for upgrading SPFx@1.8.2 projects

[2019-07-24 14:47] VelinGeorgiev commented on #1043
Hi @munchkin1 ,

You can make it work like:
`o365 spo listitem set --listTitle "Documents" --id 1 --webUrl https://velingeorgiev.sharepoint.com/sites/aad2 --_ModerationStatus " 2" --_ModerationComments "My comment" --debug`

Adding an empty space and quotes like `" 2"` will make it being string for nodejs, the underling language begind the CLI.

Will this work for you?

The problem with the dynami