[2020-12-07 18:50] waldekmastykarz commented on #1991
Thanks for reporting the issue and sorry for the trouble. When you execute the command with the `--debug` option, can you get some more information about the request that's being issued?

[2020-12-07 18:53] waldekmastykarz opened #1992 "Enhancement: remove short options from args passed to commands"
We should remove short options from args passed to the command.

### Rationale

In some commands, we allow using unknown options. Unfortunately, after the recent migration to minimist, both the short option and its resolved equivalent are passed into the command. Historically, we've excluded only the resolved equivalents and not the short options from being added to the request. In the current sta

[2020-12-07 19:00] #1984 closed

[2020-12-07 19:18] waldekmastykarz commented on #1991
I can reproduce the issue and have sufficient information to take it further

[2020-12-07 19:25] waldekmastykarz commented on #1991
I've opened a PR with the fix. We should get it released in the next preview version in the coming days.

[2020-12-07 22:24] DakotaWray2 commented on #1931
Hi again @waldekmastykarz, I haven't yet had a chance but I will try to soon!

[2020-12-08 04:57] nanddeepn commented on #1884
Hi @rabwill, @waldekmastykarz, @garrytrinder
Should we rename the option `name` to `title`?

The output of command `m365 spo sitedesign list` is as follows:

[code]

We have `Title` in the output.
Please share your views.

[2020-12-08 06:11] SyedAshrafuddin commented on #1991
Thanks Waldek for your help. 😊

From: Waldek Mastykarz <notifications@github.com>
Sent: 08 December 2020 00:55
To: pnp/cli-microsoft365 <cli-microsoft365@noreply.github.com>
Cc: MOD Administrator <admin@M365x996240.OnMicrosoft.com>; Author <author@noreply.github.com>
Subject: Re: [pnp/cli-microsoft365] "m365 outlook mail send" gives error message (#1991)

I've opened a PR with the fix. We should g

[2020-12-08 14:48] waldekmastykarz commented on #1884
Good catch @nanddeepn! I'll update the spec

[2020-12-08 19:30] #1974 closed

[2020-12-08 19:30] #1991 closed

[2020-12-08 19:30] #1975 closed

[2020-12-08 19:32] waldekmastykarz commented on #1991
We have just release a preview version with the bug fixed. Once again, sorry for the trouble and appreciate you reporting it. If you ever see anything out of the ordinary or have ideas for improvement, please, don't hesitate to reach out to us. 👍

[2020-12-09 05:34] SyedAshrafuddin commented on #1991
Hi,

After executing the command to upgrade the version, I still don't see it being upgraded. Is it just me who is not able to upgrade or is it a bug? Am I missing something here?

PS C:\Windows\system32> npm i @pnp/cli-microsoft365@3.4.0-beta.0dbd08d

removed 184 packages, and audited 254 packages in 2s

found 0 vulnerabilities
PS C:\Windows\system32> m365 version
(node:8416) Warning: Accessing n

[2020-12-09 11:51] pmatthews05 opened #1995 "Bug report: Unable to use the certificateBase64Encoded for M365 login"
### Description

Tying to pass the certificateBase64Encoded instead of a certificate file. Using PowerShell.
I have grabbed latest version of M365 cli V3.3.0

Looking through the code, the login.ts file shows --certificateBase64Encoded as an option.
https://github.com/pnp/cli-microsoft365/blob/0dbd08d45ca95fcb755de52ed572ebc87c19ff3d/src/m365/commands/login.ts#L154

However, when I view the help f

[2020-12-09 12:53] waldekmastykarz commented on #1991
If you executed `npm i @pnp/cli-microsoft365@3.4.0-beta.0dbd08d` without `-g` then npm has installed CLI in the `C:\Windows\System32` folder rather than as a global tool on your machine. To fix it, execute:

[code]

[2020-12-09 12:54] waldekmastykarz commented on #1995
This option is available in the latest beta, which you can install with `npm i -g @pnp/cli-microsoft365@next`. It will released as v3.4.0 in the first week of January '21.

[2020-12-09 13:13] SyedAshrafuddin commented on #1991
Thanks. It works now. 😊

From: Waldek Mastykarz <notifications@github.com>
Sent: 09 December 2020 18:24
To: pnp/cli-microsoft365 <cli-microsoft365@noreply.github.com>
Cc: MOD Administrator <admin@M365x996240.OnMicrosoft.com>; Author <author@noreply.github.com>
Subject: Re: [pnp/cli-microsoft365] "m365 outlook mail send" gives error message (#1991)

If you executed npm i @pnp/cli-microsoft365@3.4.0

[2020-12-09 13:37] pmatthews05 commented on #1995
Thank you for your quick answer, and yes I have now tested with the @next version without any problems.

I've just seen the "tag" on branches, I will make sure I'm looking at the right branch in future. I thought master was the latest released.

Slowly understanding and learning Node with your code. Awesome work.

[2020-12-09 13:37] #1995 closed

[2020-12-09 13:54] pmatthews05 opened #1996 "Question/Feature Idea: Separating out the node 'engine' from the cli"
Looking through the code of M365 CLI, it is an awesome amount of node code that calls into Graph, SharePoint, OneDrive etc.

Is it possible to import the M365 cli into my Node Azure functions (for example) and use the engine part that makes the calls, and not worry about the CLI, as the CLI is just calling the node functions that performs the work. If so, could someone provide a blog post/example

[2020-12-09 18:26] #1996 closed

[2020-12-09 18:27] waldekmastykarz commented on #1991
Awesome! Thank you for confirming that all is working as intended 👍

[2020-12-09 18:27] waldekmastykarz commented on #1995
Great to hear you got it to work. Is there anything that we could clarify in our docs to make this more explicit?

[2020-12-09 19:06] pmatthews05 commented on #1995
My experience when learning how to use M365 cli is to go directly to your documents to understand how the commands work. So today for example I went to https://pnp.github.io/cli-microsoft365/cmd/login/ to understand different ways you could log in. I would have thought that these instructions should show the currently released version, not the beta version.

I'm afraid I don't know enough of how h

[2020-12-09 19:41] garrytrinder commented on #1995
Thanks for the feedback @pmatthews05 👍🏻

We can look at adding a version switch to our docs, we use MkDocs Material and that has this capability now, essentially this would version our docs creating a lockdown copy for every version we release.

https://squidfunk.github.io/mkdocs-material/setup/setting-up-versioning/

[2020-12-09 20:04] pmatthews05 commented on #1995
Lockdown version docs would also be good for people that cannot always update to the latest version. But need to extend an existing piece of code and need to check documentation.

Thanks.

[2020-12-09 20:35] garrytrinder commented on #1995
Would you mind creating a new issue, so we can credit you with the feedback and discuss it further?

It's not quite a simple as upgrading MkDocs, we also have to think about our integration with MarkShell which we use to display the docs in the CLI `--help` command, certainly not impossible though.

[2020-12-09 20:45] pmatthews05 commented on #1995
Sure, I will raise a new issue first thing in the morning.

[2020-12-10 09:28] pmatthews05 opened #1999 "Docs improvement: Docs version matching CLI version."
My experience when learning how to use M365 cli is to go directly to your documents to understand how the commands work. So today for example I went to https://pnp.github.io/cli-microsoft365/cmd/login/ to understand different ways you could log in. I didn't realise until I raised an issue, that I was viewing commands that were only available for the latest beta version of M365 CLI.

Benefit of hav

[2020-12-10 11:55] garrytrinder commented on #1999
Thank you for raising this @pmatthews05 👍🏻

@pnp/cli-for-microsoft-365-maintainers any thoughts on this?

[2020-12-10 15:30] plamber commented on #1979
Hi all,
I have a short summary of all the findings related to this case.

**Azure CLI**
The Azure CLI opens tries to open the browser of the user and authenticates the user. If it fails it follows the device code flow logic we already implemented in our CLI. This might be a nice user experience for our CLI authentication but does not seem to solve the issue.
We found out that the Azure CLI has not

[2020-12-10 16:01] plamber commented on #1979
@pnp/cli-for-microsoft-365-maintainers: I have some ideas that might require your input.

I thought we could use a technique like the one presented [here](https://www.digitalocean.com/community/tutorials/how-to-scrape-a-website-using-node-js-and-puppeteer) to open a chromium session using Puppeteer. This session will open a site with an MSAL authentication that will ask the user to authenticate to

[2020-12-10 22:37] ksdaniel opened #2000 "Bug report: spo apppage add errors out"
### Description

"spo apppage add" errors out with the message: Cannot find resource for the request CreateFullPageApp.

My suspicion is that CreateFullPageApp is not provisioned on all tenants.

Running the request with the same webpart data but using the CreateAppPage API works as expected.

### Steps to reproduce

 m365 spo apppage add --title "TestAppPage" --webUrl "https://kloyberdev.sharepoi

[2020-12-10 22:44] garrytrinder commented on #2000
Thank you for reporting the issue @ksdaniel we are sorry for the trouble. Lets see if we can solve this for you.

Could you provide the error message that you receive after running the command?

Also, if you run the command with the `--debug` flag, could you provide the output, omitting the bearer tokens shown in the response.

[2020-12-10 22:53] ksdaniel commented on #2000
Error message is: Cannot find resource for the request CreateFullPageApp.

Command runs in Windows Terminal / Powershell.

Full debug output below.

Executing command spo apppage add with options {"options":{"_":["spo","apppage","add"],"title":"TestAppPage","t":"TestAppPage","webUrl":"https://kloyberdev.sharepoint.com/sites/ClosingProcessTracking","u":"https://kloyberdev.sharepoint.com/sites/Closi

[2020-12-11 10:11] waldekmastykarz commented on #1995
I think this is the easy part. The docs shipped with the CLI package reflect exactly what's available to you in that particular version. It's the docs available on the web that are causing confusion because it's not clear that they reflect the @next version of the CLI.

[2020-12-11 10:14] waldekmastykarz commented on #1999
Thanks for the suggestion @pmatthews05 and I agree that it would be a great addition.

Since we already maintain our docs along with versions and our versions are tagged, the only question left is if MkDocs, which we use for generating docs, supports this. Let us have a look at what's possible and get back to you as soon as we know more.

[2020-12-11 10:22] waldekmastykarz commented on #1979
@plamber thanks for sharing your findings

That is correct indeed. Azure CLI uses a 1st party AAD app which work under different rules than 3rd party apps like the one we use. Since CLI for Microsoft 365 is not a Microsoft product, it's unlikely that we'd get a 1st party app to use. We could fallback to using the Azure CLI AAD app but it doesn't have all API permissions which means that you couldn

[2020-12-11 12:46] waldekmastykarz commented on #2000
Hey @ksdaniel, I can reproduce the error. Let me see if I can find out more about it.

[2020-12-11 12:52] waldekmastykarz commented on #2000
It's seems like there was a change in the underlying API that we use for this. Let's see if we can fix it quickly. Sorry for the trouble.

[2020-12-11 12:55] ksdaniel commented on #2000
The workaround, for those who need to create app pages, is to use the CreateAppPage API (I call it directly from Insomnia for my current needs) - so its not really a blocking issue.

But in terms of CLI - the functionality is missing for now.

Thanks for the quick response... awesome team.

[2020-12-11 15:57] waldekmastykarz commented on #2000
We have a PR with a fix to the issue which we will get merged and release in a preview release in the coming days. I'll post an update here when it's available for testing. Thanks again for reporting the bug 👍

[2020-12-12 09:53] plamber commented on #1979
@waldekmastykarz

After some more digging I can state that we are not able to support synchronized AD accounts that are secured with second factors. I think of admin accounts that are secured with more complex conditional access rules such as trusted devices.
In bigger corporations definitely a must.

For these cases you require an interactive authentication that opens a browser and authenticates

[2020-12-12 10:34] garrytrinder commented on #1979
The GitHub CLI seems to have solved this problem, during Auth setup, after showing a device code in the terminal, it asks you to hit return which opens your default browser, navigating to a login page where the device code is entered.

It's written in python but looks like it should be possible to open the default browser a navigate to a custom url.

[2020-12-12 11:18] plamber commented on #1979
Navigating alone will most likely not solve our problem. I am sure that we require a browser session performing the authentication. The results of the authentication in this browser instance need to go back to our cli.

This is how the useweblogin session does it in the pnp powershell solution

[2020-12-12 18:52] waldekmastykarz commented on #1979
I don't think that's an option for us. Theoretically, we might try to use electron for this. My gut feeling says it would be overcomplicated (code & dependencies size + complexity) but perhaps we should research it to form a sound opinion. Let me also check a few things to see if we're not missing anything.

[2020-12-12 19:10] waldekmastykarz commented on #1979
So it seems that my assumption about the Azure CLI app was wrong: it's not a 1st party but a 3rd party app and we should be able to replicate what the Azure CLI does.

[2020-12-12 19:13] waldekmastykarz commented on #1979
It seems like Azure CLI launches a local web server on `https://localhost:8400` when calling `az login` and this is where the launched browser redirects to, to finish the auth flow.

[2020-12-13 02:29] garrytrinder commented on #1979
We could use https://github.com/expressjs/express as our local web server and use https://github.com/sindresorhus/open to provide a way of opening the browser window.

[2020-12-13 08:28] waldekmastykarz commented on #1979
Express is way too bloated for what we need. I don't think we need anything more than starting an instance of http server.

[2020-12-13 09:18] garrytrinder commented on #1979
Good shout on using `http` server @waldekmastykarz no extra dependencies that way 👍🏻

[2020-12-13 09:35] waldekmastykarz commented on #1979
Express is a great option if you have routing, middleware, auth, etc. In our case though, all we need is to monitor an endpoint for incoming requests and show a basic response in the browser, which we should be able to achieve using the standard http server. And indeed, it allows us to avoid any extra dependencies.

[2020-12-13 09:47] waldekmastykarz commented on #1999
This package seems promising and inline with what I had in mind thinking about how we could address this issue: https://github.com/jimporter/mike. I'm not sure if we should offer separate docs for all preview versions or limit docs to latest and next and the previously released versions that we'd need to backfill manually.

One challenge that I see though is with this approach is, that if there is

[2020-12-13 10:01] pmatthews05 commented on #1999
To me, it make sense having docs for each release and @next version only. As you publish a release @next would just become the latest version number, and the new @next would be for the new beta stuff.

Typos would be like bugs, in that version it was a bug/typo then in later version its fixed.

With the Url it's a shame its not a parameter at the end of the url. That would just be passed as you cl

[2020-12-13 10:46] waldekmastykarz commented on #1999
The way mike works is that it adds the version or alias as the second segment of the URL, so you would stay in the selected version when clicking around until you choose another version

[2020-12-13 10:48] waldekmastykarz commented on #1953
Hey @thomyg, were you able to find anything more or shall we close this issue for now?

[2020-12-13 10:48] waldekmastykarz commented on #1716
Setting as available for picking up due to lack of response

[2020-12-13 10:49] waldekmastykarz commented on #1225
Setting as available for picking due to lack of response

[2020-12-13 10:50] waldekmastykarz commented on #1224
Setting as available for picking up due to lack of response

[2020-12-14 00:14] rabwill opened #2005 "New command: m365 adaptivecard send"
This command will use `Incoming Webhooks` to send a message (which is a JSON payload) to Microsoft Team Team's channel.

Option|Description
--|--
`-u, --url <url>`|URL where to send the card to
`-t, --title [title]`|Title of the card
`-d, --description [description]`|Contents of the card
`-i, --imageUrl [imageUrl]`|URL of the image to include on the card
`-a, --actionUrl [actionUrl]`|URL that user

[2020-12-14 00:40] rabwill commented on #2005
@pnp/cli-for-microsoft-365-maintainers initial draft of an issue is ready. There are few things to note here.
The payload should be wrapped around the below code in order to send adaptive cards.
[code]

For text message it needs to be in the below format
{"text":"Hello world"}

Should we cater to both scenarios or just cards? I feel we should add both e.g. for logs this one line text could be usef

[2020-12-14 04:47] nanddeepn opened #2006 "Enhancement: Remove `request digest` from `m365 spo sitedesign list` implementation"
### Description

We should remove `request digest` from `m365 spo sitedesign list` implementation.
This request does not require the request digest.

[2020-12-14 08:49] garrytrinder commented on #2005
Nice idea @rabwill 💡

I'm curious however, how is this different from calling the `chatMessage` endpoint in the Graph?

[2020-12-14 14:20] waldekmastykarz commented on #2005
A few ideas:

1. Since it's just a web request, that could be used with any API that accepts adaptive cards, I'd propose to move the command to its own namespace, like `m365 adaptivecard send`
1. While we could absolutely allow folks to specify the whole card, like you specified, I see the real benefit in simplicity and using preconfigured cards, so that all you need to specify is the actual data,

[2020-12-14 19:06] #1884 closed

[2020-12-14 19:06] #1992 closed

[2020-12-14 19:06] #2000 closed

[2020-12-14 19:10] waldekmastykarz commented on #2000
We have just released a preview version with the fix to this issue. You can install it by running `npm i -g @pnp/cli-microsoft365@next`. Once again, thank you for reporting the issue 👏

[2020-12-15 02:01] rabwill commented on #2005
This command does not require a chat Id, only cares about the webhook url. And the context is always a Teams Channel and not every chat as in the Graph call.

[2020-12-15 02:04] rabwill commented on #2005
So If I grasped this correctly, this predefined adaptive card is something we have as a template? And we simply replace the values? Would that not limit the user from sending the cards he designed. Or is that what we are trying to do?

[2020-12-15 04:27] arjunumenon opened #2008 "Enhancement: in the output, follow the order of properties as defined in `defaultProperties`"
## Description - Display Order Mentioned on the method defaultProperties() not following the order mentioned

In the code base, we recently changed the approach in which default fields are shown in Command shell using the method
[code]

## Current Behavior
Even if we have given the list of fields to be displayed in a specific order, it does not follow the given order. It will just show the results

[2020-12-15 07:36] plamber commented on #1979
Hi,
I am going to take this up.

br,

[2020-12-15 07:56] plamber opened #2009 "Accessing non-existent property '_theme' message shown in CLI output"
### Description
I noticed when you run the latest version of the CLI you are getting an output like this when executing commands.

(node:18312) Warning: Accessing non-existent property '_theme' of module exports inside circular dependency
(Use `node --trace-warnings ...` to show where the warning was created)

![image](https://user-images.githubusercontent.com/18241305/102186757-5e792d80-3eb3-11eb

[2020-12-15 08:23] garrytrinder commented on #2005
The `message` endpoint is available on a Teams channel to perform CRUD operations against.

[code]

The resource created is a `chatMessage`, which is different to a `chat` which can be between users or an app but also returns a `chatMessage` resource.

See https://docs.microsoft.com/en-us/graph/api/channel-post-message?view=graph-rest-1.0&tabs=http which shows examples for creating messages, menti

[2020-12-15 08:49] waldekmastykarz commented on #2008
Thanks for reporting @arjunumenon. `defaultProperties` were originally not meant to define the order in which properties are displayed, just define which properties  should be included in the output if no JMESPath query has been specified. That said, there is something to say for the output to follow the order in which properties are specified in the `defaultProperties` property. I think it would

[2020-12-15 08:51] waldekmastykarz commented on #2009
Have you updated dependencies by executing `npm i` after pulling the latest source?

[2020-12-15 08:55] plamber commented on #2009
Made a fresh installation yesterday on a customers device with this result:
![image](https://user-images.githubusercontent.com/18241305/102192895-a9973e80-3ebb-11eb-8dae-36d39032a12b.png)

Noticed the same error today on my dev environment.

[2020-12-15 08:59] arjunumenon commented on #2008
Thanks a lot for the response @waldekmastykarz . I was in an assumption that the fields will be shown in the same order how it is mentioned in the Array. Totally understand the thought process. I did not think of the JMESPath approach. Haven't used it before. So I am kind of used to get the result in the order which is mentioned in the specs.

Thanks for initiating it as an enhancement. I would ha

[2020-12-15 09:01] waldekmastykarz commented on #2005
@rabwill as I suggested, we can offer both options, so if all you need is a quick notification, you don't need to bother with building the whole card and can just specify the title and description yourself and be done with it. If you want to specify a more elaborate card, you're free to reference a file with the card or even specify it inline if that's more convenient. The latter being already pos

[2020-12-15 09:10] waldekmastykarz commented on #2009
Could you please try installing `@next` to see if the issue still persists?

[2020-12-15 09:11] waldekmastykarz commented on #2008
Let's see if anyone wants to pick it up earlier. When you have time and if it's still available, it's all yours 👏

[2020-12-15 09:30] waldekmastykarz opened #2010 "New command: convert file to PDF"
### Usage

`file convert pdf [options]`

### Description

Converts the specified local file to PDF using Microsoft Graph

### Options

Option|Description
--|--
`-s, --sourceFile <sourceFile>`|Local path or full URL to the source file to be converted to PDF
`-t, --targetFile <targetFile>`|Local path or full URL to where the generated PDF file should be saved

### Additional Information

When CLI is

[2020-12-15 09:31] waldekmastykarz commented on #2010
@pnp/cli-for-microsoft-365-maintainers I'd appreciate your feedback on this spec.

Should we also allow downloading files that are already in SharePoint/OneDrive for Business as PDF? If so, should this be possible in this command and then we allow the `sourceFile` to contain either a URL or a local path?

[2020-12-15 11:46] garrytrinder commented on #2010
I think that conversion to PDF and downloading of files already stored in Microsoft 365 is a strong use-case so I think changing --sourceFile to accept a URL is a good idea, I also think we should apply the same to `--targetFile` to also accept a URL, so you can convert and move a document from one location to another, useful for publishing scenarios where you want to seperate working and publishe

[2020-12-15 12:01] plamber commented on #2009
Uninstalled it and installed it with @next. Same issue

[2020-12-15 12:12] garrytrinder commented on #2009
Working for me in Docker.

![image](https://user-images.githubusercontent.com/11563347/102213522-c38e4c80-3ece-11eb-833e-0f3e63fc6aed.png)

What does `node -v` return?

[2020-12-15 12:28] #1454 closed

[2020-12-15 12:28] #2006 closed

[2020-12-15 12:52] waldekmastykarz commented on #2010
Makes sense. The only restriction we need to put on `targetFile` that for URLs it must be absolute. If we'd allow relative URLs to the `sourceFile` location, we wouldn't be able to distinguish between a URL and a local path.

[2020-12-15 12:56] garrytrinder commented on #2010
I was expecting the URLs to be absolute, similar to how the commands that accept `--webUrl` work currently, so I don't think that's a problem.

[2020-12-15 13:06] waldekmastykarz commented on #2010
Updated the spec to allow both paths and URLs. Anything else or is it ready to go?

[2020-12-15 13:30] plamber commented on #2010
Hi @waldekmastykarz,
is there a way to specify an alternate target location for the PDFs?

I think this would be useful if you do not want to store the PDF on OneDrive or the root site of SharePoint.

br,
Patrick

[2020-12-15 14:10] garrytrinder commented on #2010
Ship it 🚀

[2020-12-15 18:59] waldekmastykarz opened #2011 "Bug report: creating folders fails when a part of the host name is uppercase"
### Description

If a part of the specified hostname in the `spo folder add` command (but possible other commands as well) is uppercase, creating the folder will fail with an error.

This issue is caused by the fact that `url.parse` in `Utils.getServerRelativePath` converts the specified URL to lowercase, but if the original URL is uppercase, then resolving the server-relative URL by replacing the

[2020-12-16 12:40] #2011 closed

[2020-12-16 15:51] rabwill commented on #2005
I like the mapping bit 👍 So how does the final spec look like?

[2020-12-17 09:14] waldekmastykarz commented on #2005
I'd propose the following:

`m365 adaptivecard send [options]`

Option|Description
--|--
`-u, --url <url>`|URL where to send the card to
`-t, --title [title]`|Title of the card
`-d, --description [description]`|Contents of the card
`-i, --imageUrl [imageUrl]`|URL of the image to include on the card
`-a, --actionUrl [actionUrl]`|URL that users should be sent to after clicking the View button on the

[2020-12-18 07:45] estruyf commented on #2009
Just discovered the same issue on my end with version `3.3.0` and `3.4.0`. Think it might be related to node version 14. Going to test it out on version 12.

[2020-12-18 08:06] estruyf commented on #2009
Node version 12 on Windows btw, seems to fix it. Don't have the issue when running it on macOS. Might be Windows related.

[2020-12-18 08:30] waldekmastykarz commented on #2009
It was an issue with v3.3.0 and Node@14 on macOS. @StfBauer updated markshell and the issue seems to be fixed in v3.4.0 preview on Node@14 on macOS. I'll check Windows

[2020-12-18 09:00] waldekmastykarz commented on #2009
I can reproduce the issue but only with v3.3.0 (@latest) on Node@14 on Windows. v3.3.0 on Windows an macOS works fine with Node@12. v3.4.0 (@next) also doesn't show this error on Node@14 on both macOS and Windows.

[2020-12-18 09:21] garrytrinder commented on #2009
Latest beta on Linux (alpine) using Node@14 is also working fine, so does indeed seem to be only Windows related.

![image](https://user-images.githubusercontent.com/11563347/102597267-4c48fa80-4112-11eb-92ba-4393f9a59e42.png)

[2020-12-18 09:27] garrytrinder commented on #1832
Looping in @arjunumenon as he's been testing the very early version and we've been having some offline conversations about feedback.

Lets discuss the way forward in the issue and work in the open 👍

[2020-12-18 10:26] arjunumenon commented on #1832
Thanks @garrytrinder for looping me. More than happy to help you in whatever way I can. Looking forward that to be rolled and shipped 🚀

[2020-12-19 10:31] garrytrinder commented on #2009
Not sure if this is entirely Windows related, I just got the `_theme` error on Ubuntu 20.04 LTS in WSL2.

[code]

![image](https://user-images.githubusercontent.com/11563347/102687186-43752900-41e5-11eb-8be9-32fa2be56727.png)

[2020-12-19 15:40] waldekmastykarz commented on #2009
Correct: as I mentioned, the issue is visible in v3.3.0 on Node@14 on al OSes.

[2020-12-20 18:31] #1786 closed

[2020-12-20 22:24] shurick81 commented on #1786
Well done! I have tried it already and it works even better than I expected. Really great job!

[2020-12-20 22:27] garrytrinder commented on #1786
Awesome, that's great news @shurick81 thank you 👍

[2020-12-21 09:41] plamber opened #2016 "Enhancement Control AllowMembersEditMembership property for SharePoint Online sites"
### Description
I was looking in the CLI for a way to control the AllowMembersEditMembership property for an SPO web as described [here](https://skodvinhvammen.wordpress.com/2018/08/08/configure-settings-for-access-requests-and-sharing-using-microsoft-flow-and-rest/). I can see that PnPPowerShell supports this setting when provisioning a new Group.

I saw in the CLI that we are retrieving this set

[2020-12-21 18:15] waldekmastykarz commented on #1786
Awesome @shurick81! Thank you for the kinds words! 👏

[2020-12-21 18:17] waldekmastykarz commented on #2016
The `spo web set` allows setting arbitrary properties. Have you checked if it works to call `spo web set --url <url> --AllowMembersEditMembership true`?

[2020-12-21 18:55] #1602 closed

[2020-12-21 18:55] #1771 closed

[2020-12-21 21:43] garrytrinder commented on #1999
I agree, I don't think we need docs for every version, just the `@latest` & `@next` releases.

A typo I can live with, but if we stick to @latest and @next releases then the typo will only be around for a few days for `@next` or month for `@latest`.

This could be quite painful, could we setup a redirect?

[2020-12-22 00:54] rabwill commented on #2005
Sounds good, will update the spec now 😊

[2020-12-22 08:13] garrytrinder commented on #1772
Hey @aakashbhardwaj619 👋🏻

How are you getting on with this command?

Feel free to reach out if you have any questions.

[2020-12-22 08:19] garrytrinder commented on #1921
I really like this idea, it's something I had thought about for when using Dev Container or Codespaces for the first time.

[2020-12-22 08:23] garrytrinder commented on #1891
@waldekmastykarz @plamber

As there are two changes to be made here, I think we should we create two new issues to carry out the work.

One to update to the v1.0 endpoint and another to include the loop as an enhancement as we have discussed here, this makes our intentions clearer.

Do you agree?

[2020-12-22 08:29] garrytrinder commented on #1772
Discussed with @aakashbhardwaj619 offline, he's happy to let someone else take this on.

@leeford as discussed, this is all yours, thanks again for your help ❤️

[2020-12-22 08:47] M365Bass opened #2017 "Bug report: cli broken in azure shell"
### Description
Creating a new shell in azure does not provide a working m365 cli

### Steps to reproduce
1. Open portal.azure.com, click on the shell in the top right corner.
2. Create a storage account if not already created
3. type m365 help

### Expected result
Should provide the help section

### Actual result
Error - see below
[code]

### Environment
Bash on Azure Shell
Node v8 (which isn't

[2020-12-22 08:55] leeford commented on #1772
Thank you, will get started 👍

[2020-12-22 09:31] garrytrinder commented on #2017
Thanks for raising @BassemNKhalil

Yes, unfortunately this is the case and we are aware of this, @appieschot has raised an issue in the Azure Cloud Shell Repo which has been acknowledged by the team, I expect that this will be looked into further in the New Year.

https://github.com/Azure/CloudShell/issues/63

Feel free to add to the above issue, I'll leave this issue open so we can track from our

[2020-12-22 09:52] BassemNKhalil commented on #2017
Thanks @garrytrinder - appreciate the swift response and the linking, didn’t know Azure Cloud Shell had its own repo. I’ll keep an eye on both into the new year, enjoy the holidays!

[2020-12-22 10:55] waldekmastykarz commented on #1999
I think we'd need to take it a bit further. For the setup to be beneficial to users, we'd need `@latest` and `@next` but also each release, eg. `v3.2.0`, `v3.1.0`. There is plenty of folks using older versions and just `@latest` and `@next` would add little value.

Since we're talking about a static site, the only way to setup a redirect would be to create an HTML file at the old URL and have it p

[2020-12-22 10:56] waldekmastykarz commented on #1891
Good idea. Let's do it.

[2020-12-22 11:07] estruyf opened #2019 "Bug report: page header set command removes all configured web parts from the page"
### Description

When using the `m365 spo page header set` command, it removes any web part which has already been defined on the page. So you'll end up with an updated header, but no page content.

![Screenshot 2020-12-22 at 11 56 06](https://user-images.githubusercontent.com/2900833/102881138-b3391d00-444c-11eb-86ea-78d698806f80.png)

Tested with various web parts.

### Steps to reproduce

Run `

[2020-12-22 11:53] waldekmastykarz commented on #2019
That's a bad one! Thanks for reporting it and sorry for the trouble. Let's get it fixed asap!

[2020-12-22 11:57] estruyf commented on #2019
Working on a fix, already found the issue.

[2020-12-22 11:58] garrytrinder commented on #1999
Ah yes, good point, this does the bring back the headache of fixing typo issues going forwards in older versions of the docs, but I'm thinking that this isn't a showstopper, more of an annoyance.

Noted, something to investigate further then, trivial is not impossible right? 😄

I still think that despite the above pains, this is worth pursuing as it is a gap, as @pmatthews05 has highlighted, which

[2020-12-22 12:01] garrytrinder commented on #2019
Ouch, thanks for reporting and taking a look at a fix 🙌

I've assigned the issue to you so we don't double efforts 👍

[2020-12-22 12:01] waldekmastykarz commented on #2019
Awesome! Appreciate your help @estruyf 👏

[2020-12-22 12:03] waldekmastykarz commented on #1999
It would come down to getting paths of all files we currently have and creating html files with a redirect to the new URL. The trick is that all that needs to be done on the gh-pages branch to which we commit from CI/CD rather than manually.

[2020-12-22 12:50] garrytrinder opened #2020 "Enhancement: Update `teams team add` command to use Microsoft Graph v1.0 API"
The `teams team add` command currently uses the `beta` version of the Microsoft Graph API, as the `teams` endpoint is now available in `v1.0` API we should update the command accordingly.

Create team - https://docs.microsoft.com/en-us/graph/api/team-post?view=graph-rest-1.0&tabs=http

[2020-12-22 13:03] garrytrinder opened #2021 "Enhancement: Add Group creation wait to `teams team add` command"
Raised from #1891 and related to #2020

When provisioning Microsoft Teams teams using the `teams team add` command, on some occasions an error can be thrown,  `No team found with Group Id <id>`.

[code]

The Microsoft Team is being created but the operation to retrieve group information which we return to the prompt fails because the Microsoft Graph has not updated accordingly and the newly create

[2020-12-22 13:05] garrytrinder commented on #1891
Issues #2020 & #2021 raised as discussed.

Thank you for your input all, lets move this forward 👍

[2020-12-22 13:05] #1891 closed

[2020-12-22 13:09] nanddeepn commented on #2020
Can I work on this?

[2020-12-22 13:18] garrytrinder commented on #2020
Absolutely, all yours @nanddeepn thanks for the help 👍🏻

[2020-12-22 15:12] waldekmastykarz commented on #1371
Closing this issue as we now support `-h` for showing help

[2020-12-22 15:12] #1371 closed

[2020-12-22 15:45] waldekmastykarz commented on #1827
@BassemNKhalil is this question still relevant?

[2020-12-22 15:48] waldekmastykarz commented on #1982
@pnp/cli-for-microsoft-365-maintainers any other feedback before we start working on this?

[2020-12-22 15:49] waldekmastykarz commented on #2009
@plamber are our observations correct and can you use v3.3.0 on Node@12 or v3.4.0 (beta) on Node@14 without the warning?

[2020-12-22 16:19] plamber commented on #2009
Can confirm this. Issue fixed in next release. Closing the issue.

[2020-12-22 16:19] #2009 closed

[2020-12-22 18:07] waldekmastykarz commented on #1892
Is the issue still there in the master branch? I can't repro it on Windows in PowerShell v7.0.1.

[2020-12-22 23:10] garrytrinder opened #2024 "Enhancement: Remove duplicate ID properties in JSON output for `spo listitem` commands"
Raised from https://github.com/pnp/cli-microsoft365/discussions/1762

When `ConvertFrom-Json` is used to parse the JSON output from the `spo listitem` commands it can fail as it cannot determine that `Id` and `ID` properties are different as it does not take casing into account.

For PowerShell 5 users, the workaround is to use replace to change the Id property name before parsing

[code]

For Pow

[2020-12-23 00:11] garrytrinder commented on #1871
Hey @Abderahman88, are you still working on this?

Feel free to reach out if you need any assistance getting this over the line 👍🏻

[2020-12-23 00:17] BassemNKhalil commented on #1827
I think you can close it off. I was tinkering with the idea of how to add that as a new command in the CLI but I think given the level of interest it’s not required at this point. Thank you for the help and assistance @waldekmastykarz, enjoy the holidays!

[2020-12-23 00:24] garrytrinder opened #2025 "New command: Retrieve apps installed in a site"
Raised from #1634

### Usage

`spo app instance list [options]`

### Description

`Retrieve apps installed in a site`

### Options

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `-u, --siteUrl <siteUrl>` | Absolute URL of the site to return app instances from |

### Additional Information

[code]

A

[2020-12-23 09:51] plamber opened #2026 "Providing support for the Migration API"
Currently there is no documentation or support on how to consume the Migration API from Microsoft.
Is this a topic we would like to explore in the CLI?
Information can be found [here](https://techcommunity.microsoft.com/t5/sharepoint/migration-manager-api/m-p/1870929)

The API exists but there is not documentation on how to utilize it. It could be useful for all Fileshare Migration scenarios to th

[2020-12-23 10:36] #1857 closed

[2020-12-23 10:37] waldekmastykarz commented on #1857
We've rephrased the message. Let's see if it's clearer now. Thanks again! 👍

[2020-12-23 10:38] waldekmastykarz commented on #1569
We've removed the extra message and it now should be clearer what needs to be done. Thanks again for reporting the issue 👍

[2020-12-23 10:38] #1569 closed

[2020-12-23 11:02] waldekmastykarz commented on #2024
It's weird that there are two IDs that we get back from the API and it makes sense to merge them. Let's keep in mind, that it's a breaking change so not something we should implement immediately.

[2020-12-23 11:04] waldekmastykarz commented on #1827
Thank you for confirming. Have a great holidays!

[2020-12-23 11:04] #1827 closed

[2020-12-23 11:06] waldekmastykarz commented on #2026
Good suggestion! If we can help with it, we should definitely consider it 👍 Care to research it and write the spec?

[2020-12-23 11:06] #2026 closed

[2020-12-23 11:36] arjunumenon opened #2027 "Bug Report - Code base - Test Coverage is less than 100% for the file src/m365/spo/commands/file/file-add.ts"
When we run npm test after getting the latest code base from upstream, we are not getting 100% code coverage. Coverage is there only for **99.1 %** in the file `src/m365/spo/commands/file/file-add.ts`.

Coverage is missing in the line #

### Expected Behavior
Coverage is needed for 100%

### Current Behavior
Overall Coverage is available only for 99.99.
![image](https://user-images.githubuserconte

[2020-12-23 11:52] garrytrinder commented on #2027
Thanks for reporting @arjunumenon 👍🏻

This is an odd one, I don't think we've made any changes to this specific command recently that would cause this drop in coverage.

[2020-12-23 11:55] arjunumenon commented on #2027
Hey @garrytrinder  - That is even weirder. Recent timeline does not show any update either.

Had tried one more test. Had upgraded node version to 14 confirmed that the Issue is there only for the Node version 12.15.0.
![image](https://user-images.githubusercontent.com/10369964/102993655-92072800-4543-11eb-88a1-feadc0675c65.png)
 It works well for node version 14.15.3
![image](https://user-images.

[2020-12-23 12:01] garrytrinder commented on #2027
Thanks for the further research @arjunumenon 👏

We've recently updated the CI pipeline to use `node@14`, so I would recommend staying with `node@14` as the default for now.

Bringing @waldekmastykarz into the loop, we may have to bump the required dev node version up to `node@14` for the required coverage.

[2020-12-23 12:08] arjunumenon commented on #2027
We've recently updated the CI pipeline to use node@14, so I would recommend staying with node@14 as the default for now.

Thanks @garrytrinder for the update about node version. I guess I had missed that communication. _Still in catching-up mode 👀_

[2020-12-23 12:13] garrytrinder commented on #2027
It's not something that we had really communicated, so that's on us, sorry.

Again, thanks for raising though, appreciate you taking the time to inquire ❤️

[2020-12-23 12:22] arjunumenon commented on #1892
Hello @waldekmastykarz  - I had tried in the Windows from my end. Unfortunately the issue still persists.

![image](https://user-images.githubusercontent.com/10369964/102995626-7e5dc080-4547-11eb-9b0f-3abbaec42249.png)

My environment is,
Node : 14.0.0
OS : Windows 10
PowerShell Version : 5.1.16.

Not sure whether it is failing due to a PowerShell version difference which you are using.

[2020-12-23 14:39] Abderahman88 commented on #1892
You could have 2 Windows-users and for one the test will pass and the other not.

I think it has to do with your git global settings (https://docs.github.com/en/free-pro-team@latest/github/using-git/configuring-git-to-handle-line-endings)

If a user does a git clone (without correct git settings) the original README in the repo with LF-endings is converted to CRLF-endings. Thus failing the test.

[2020-12-23 14:47] Abderahman88 commented on #1871
Hi @garrytrinder,

I will pick this up this week. I will definitely reach out for assistance.
The commands are already working, just stuck with writing the tests. (In my opinion, much harder than the actual command 😄 )

[2020-12-23 14:57] Abderahman88 commented on #1871
The command has a GET-request to get the trigger-name and then a POST-request to resubmit the flow.
Is there an example how to test 2 HTTP-requests (most commands are 1 request)

[code]

[2020-12-23 15:47] plamber commented on #2016
It fails with "Error: AllowMembersEditMembership is not a valid web property"

[2020-12-23 16:16] garrytrinder commented on #1871
The `teams team add` command makes multiple requests when creating Teams that might be helpful https://github.com/pnp/cli-microsoft365/blob/master/src/m365/teams/commands/team/team-add.spec.ts

[2020-12-23 22:08] garrytrinder commented on #1982
There is a screen in the Microsoft 365 Admin Center that displays `Deleted groups`, `https://admin.microsoft.com/AdminPortal/Home#/deletedgroups` and in the SharePoint Admin Center what would be the recycle bin is now called `Deleted sites`. Whilst not explicitly stated I think that using the recycle bin name is something that the majority of users would understand.

Based on existing commands, I

[2020-12-23 23:24] garrytrinder opened #2029 "New command: Add SharePoint List Items in a Batch"
Raised from #1203

<details>
<summary>Proposal</summary>

The `spo listitem add` command should allow users to create multiple SharePoint List Items without having to execute the same command multiple times.

If you need to create a couple of items this most likely is not an issue but we should consider scenarios where hundreds or even thousands of items need to be created. At the moment the autom

[2020-12-23 23:33] garrytrinder commented on #1203
I have created a new issue (#2029) with a defined spec in the new command template to provide some clarity around the initial ask for this proposal, therefore I will close this issue as the work will be carried out against the new issue.

[2020-12-23 23:33] #1203 closed

[2020-12-24 05:50] plamber commented on #1979
@waldekmastykarz and @garrytrinder

I am currently implementing a first version of the authentication flow using an HTTP server. We have different experiences to choose from.

**Option A**
- We start an HTTP server
- We ask the user to open the browser and use a link such as http://localhost:8888
- When navigating to that link it shows a page with a short instruction and a "login" button
- The log

[2020-12-24 06:28] plamber commented on #1979
I came up with an option C.

This is an extension of option B opening automatically the defaultbrowser with open

If ope ails, the authorization link is sown in the console.

This is eve a better flow than A

What do you think?

[2020-12-24 07:55] waldekmastykarz commented on #2029
For completeness, let's include options for specifying web and list. Other than that 🚀

[2020-12-24 08:56] plamber commented on #1979
I have some more updates. Implemented a basic project that follows **Option C**. You can check it out [here](https://github.com/plamber/nodeauthcode/). To run it in your environment just change the values [here](https://github.com/plamber/nodeauthcode/blob/b20d7ec2822c2c312752fe4eed6a3eec914a22a4/auth_server.ts#L5-L9).
- npm i
- npm start

The solution uses the node-adal package to acquire a token

[2020-12-24 10:23] arjunumenon commented on #1892
Thanks @Abderahman88  for the tip. It did work like a charm. Following is the recap of the steps which I followed.

- Changed the autocrlf settings to `true` by running this command `git config --global core.autocrlf true`
- Did a clone of the forked M365CLI Repo
- Did npm build and test
- All tests were passing.

Just out of curiosity, I also had done another step

- Change autoclrf to false by e

[2020-12-24 13:26] #2019 closed

[2020-12-27 10:26] waldekmastykarz commented on #2027
I'm pretty much sure that it's caused by Node@14 like @garrytrinder mentioned.

[2020-12-27 10:28] waldekmastykarz commented on #2016
Ah right, because it's not a web property but a group property. As such, I think it would be a better fit for an `spo group set` command (which we currently don't have)

[2020-12-27 10:30] waldekmastykarz commented on #1982
Good suggestions @garrytrinder 👍 @plamber, what do you think about updating the spec to follow Garry's suggestions?

[2020-12-27 10:46] waldekmastykarz commented on #1979
I'd suggest that we try to build an experience similar to az cli with which people are already familiar. Since our client is public anyway, why not create a secret that we use with the local server? Isn't that what az cli is doing too?

[2020-12-27 10:48] waldekmastykarz commented on #1892
So the question remains @Abderahman88, how do we reproduce it?

[2020-12-27 11:07] plamber commented on #1979
As long we ensure we are not requesting any app permissions, this approach might work fine. The moment our public CLI requests app prrmissions, we are imposing a security risk

Furthermore, we might require a certificate that doesnt expire soon

Let me know if this might work out

[2020-12-27 11:11] plamber commented on #1982
I am going to update the specs and create separate issues for all remaining commands

[2020-12-27 16:38] plamber opened #2031 "Enhance command: aad o365groups recyclebinitem restore"
aad o365group recyclebinitem restore

Restores a Group from the recycle bin shoudl get the DisplayName and Mailnickname options to search for a Group

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `--id [id]` | Id of the Group in the recycle bin                                    |
| `-d, --displayN

[2020-12-27 16:40] plamber opened #2032 "New command: aad o365groups recyclebinitem list"
aad o365group recyclebinitem list

Lists Groups from the recycle bin

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `-d, --displayName [displayName]` |  Lists groups with displayName starting with the specified value |
| `-m, --mailNickname [mailNickname]` |  Lists groups with mailNickname starting

[2020-12-27 16:42] plamber opened #2033 "New command: aad o365groups recyclebinitem clear"
aad o365group recyclebinitem clear

Clears all Groups from the recycle bin

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `--confirm` |  Does not ask for confirmation |

Related issues: #1982 #2032 #2031

[2020-12-27 16:47] plamber commented on #1979
@waldekmastykarz: are we fine to generate a certificate that expires in a couple of years and that we ensure to never add application permissions to our permission list?

[2020-12-27 18:42] waldekmastykarz commented on #1982
Looking at the spec, is there a reason why the name and mail shouldn't be an exact match rather than a 'begins with'? In other commands we use an exact match so for consistency it would be better to follow the same approach here.

Also, let's change `o365groups` to a singular `o365group`

[2020-12-27 18:43] waldekmastykarz commented on #2031
Looking at the spec, is there a reason why the name and mail shouldn't be an exact match rather than a 'begins with'? In other commands we use an exact match so for consistency it would be better to follow the same approach here.

Also, let's change `o365groups` to a singular `o365group`

[2020-12-27 18:43] waldekmastykarz commented on #2032
Is there a reason why we expect user's to provide a matching value rather than always display all deleted groups?

[2020-12-27 18:48] waldekmastykarz commented on #1979
Yes, we should be able to do that. We should also put a reminder to renew it timely.

That's been the case already, but always good to keep this in mind and check it regularly.

[2020-12-27 22:17] Abderahman88 commented on #1892
@waldekmastykarz

**Steps to reproduce on Windows**:
1) git clone https://github.com/pnp/cli-microsoft365.git
2) npm i
3) npm run build
4) npm t

**Result**:
Test is failing
![failingTest](https://user-images.githubusercontent.com/36161889/103180352-4d59f480-4895-11eb-8e72-de205adda1e7.PNG)

**Reason**:
Installing 'Git for Windows' sets core.autocrlf=true as default config. This will turn LF line

[2020-12-27 22:26] Abderahman88 commented on #1892
@arjunumenon If you set `git config --global core.autocrlf true` and then a `git clone`, I would expect failing tests. 🤷

[2020-12-28 02:11] douglasromao commented on #2032
I would like to try it out (it is my first time contributing to this project) 😀

[2020-12-28 04:47] plamber commented on #2032
Hi @douglasromao,
you are welcome. You can support us here. Let us finish the specs and you can get started.

@waldekmastykarz: I think the default behavior is to return all items from the recycle bin. But if you want to filter by some criteria, you should be able to do this.

Had enough cases to search for a deleted Group based on the display name or mail nickname in the past couple of years.

br

[2020-12-28 08:20] waldekmastykarz commented on #1892
@Abderahman88 as I mentioned previously, I followed these steps but were unable to reproduce the issue

[2020-12-28 08:21] waldekmastykarz commented on #2032
Understood @plamber. Let's make it clear that filters are optional and if not specified, the command will return all deleted O365 groups.

@douglasromao woohooo! Awesome! Please, don't hesitate to reach out if you have any questions

[2020-12-28 08:35] plamber commented on #2032
@douglasromao thank you for your help. All yours :)

[2020-12-28 09:50] #1772 closed

[2020-12-28 12:06] arjunumenon commented on #1892
Hello  @waldekmastykarz / @Abderahman88  - After @Abderahman88 's suggestion, I am able to recreate the issue from my end, Following is what I did.

1. Executed the command `git config --global core.autocrlf true`
2. Cloned my forked repo `https://github.com/arjunumenon/cli-microsoft365.git `
3. Excuted `npm i` `npm run clean` `npm run build` `npm test`
4. The test fails

@Abderahman88  - Just out

[2020-12-28 14:18] waldekmastykarz commented on #1892
Thanks for the extra check @arjunumenon. I'll see if I can repro this on my end as well.

[2020-12-28 14:39] Abderahman88 commented on #1892
Thanks for re-confirming the issue @arjunumenon.

There are different types of configs :
![configLocations](https://user-images.githubusercontent.com/36161889/103220449-96a35600-4920-11eb-9702-b116e05e85fc.PNG)
(https://www.theserverside.com/blog/Coffee-Talk-Java-News-Stories-and-Opinions/Where-system-global-and-local-Windows-Git-config-files-are-saved)

You can run `git config --list --show-origi

[2020-12-28 14:51] Abderahman88 commented on #1892
Hi @waldekmastykarz.

Before you try to reproduce the issue, can you check the line endings of the README-file

Steps (with NotePad++) :
1. Open the README-file used in the test (../test-projects/spfx-182-webpart-react)
![openReadme](https://user-images.githubusercontent.com/36161889/103221828-d7509e80-4923-11eb-9bf5-dea41551d6a2.png)
2. Show line endings in the file. (View -> Show Symbol -> Show

[2020-12-28 18:26] waldekmastykarz commented on #1892
I've got LF on Windows. I'm using default git setup without changing anything

[2020-12-28 18:51] waldekmastykarz commented on #882
Just had another look. Seems that docs are incorrect. Bearer token is still not supported

[2020-12-28 19:06] Abderahman88 commented on #1892
Ok. This explains why the tests are passing on your side.

If you run `git config --list` do you also have `core.autocrlf=true` ?

[2020-12-28 22:00] douglasromao commented on #2032
Nice @plamber ! I will start and I will ping you guys in case I have some trouble or something like that! thanks!

[2020-12-29 03:16] arjunumenon commented on #1892
Thanks a lot @Abderahman88 for the detailed explanation. IT did explain in detail about various Git configs which I was not aware of myself. I really feel enlightened now.. Thanks again. I am so happy that I asked the question.. 🙌🙌.

I had changed the settings to `core.autocrlf` to `false` and realized that local takes precedence over the global. But I was not sure the duplicate entry.  Now everyt

[2020-12-29 03:23] douglasromao commented on #2032
@plamber @waldekmastykarz , it is the first time that I see the JMESPath structure, do you guys have a place where this is already implemented so I can check?

[2020-12-29 04:17] plamber commented on #2032
Hi @douglasromao,
you do not have to bother about it since it is already integrated in the CLI core.

br,
Patrick

[2020-12-29 04:44] douglasromao commented on #2032
@plamber oh, nice! so should I consider just the displayName and mailNickName as command options?

[2020-12-29 05:18] plamber commented on #2032
You have four modes.
- No options at all: return all items
- DisplayName: filter by displayname
- Mailnickname: filter by mailnickname
- DisplayName + Mailnickname: filter by displayname and mailnickname

[2020-12-29 05:19] douglasromao commented on #2032
Perfect @plamber, I'm finishing up tests and docs so I can create the PR.

[2020-12-29 09:03] waldekmastykarz commented on #1892
@Abderahman88 I'm using a brand new Windows VM. I don't have the setting configured

[2020-12-29 14:44] douglasromao commented on #2032
@waldekmastykarz @plamber I think I'm failing on merging this using the right path :( sorry about that.
I've created a branch from my fork, merged it through a PR into my master branch.

Should I create a PR here now?

[2020-12-29 15:01] plamber commented on #2032
Hi @douglasromao,
that is not required. Ensure that your branch is up to date and then create a PR here.

Here the steps that you should follow before creating the PR [here](https://github.com/pnp/cli-microsoft365/wiki/Submitting-a-PR)

[2020-12-29 17:23] Abderahman88 commented on #1892
@waldekmastykarz Ok. This makes sense why you don't have any issues. Now the question becomes, why the setting is not present in your configuration?

How did you install git on the machine? With "Git for Windows"-installer?
During the setup, it will ask about `core.autocrlf`-setting. Default, it is set to true.
![gitSetupImage](https://user-images.githubusercontent.com/36161889/103301776-59af9000-

[2020-12-29 18:04] waldekmastykarz commented on #1892
Sorry, but I don't recall the exact settings used to install git on that VM. What I wonder about though is, if there is a way to acomodate all the different settings for us in a reliable way?

[2020-12-29 19:16] douglasromao commented on #2033
I would like to work with this one since I'm already working with the same chain of commands

[2020-12-29 19:30] douglasromao commented on #2031
I would like to work with this one since I'm already working with the same chain of commands

[2020-12-29 20:12] plamber commented on #2031
Thank you. All yours

[2020-12-29 20:13] plamber commented on #2033
Thank you. All yours

[2020-12-29 21:31] Abderahman88 commented on #1892
We can't rely on the global git configuration. Adding a local git config to the repo (.gitattributes file) will override the global config and gives us the right behaviour. Don't see any other options at the moment 🤷‍♂️

![eolExplain](https://user-images.githubusercontent.com/36161889/103314521-ace60a80-4a23-11eb-9cc7-71d01dc3dcca.PNG)
(Source: https://www.edwardthomson.com/blog/advent_day_1_gitat

[2020-12-30 19:56] garrytrinder commented on #2029
Thanks @waldekmastykarz updated spec.

[2020-12-30 20:11] garrytrinder commented on #2027
I've just updated the [Minimal Path to Awesome](https://github.com/pnp/cli-microsoft365/wiki/Minimal-Path-to-Awesome) to state `node@14` for development, this then matches the `Build` section on the readme.

As you are unblocked @arjunumenon I will close this issue, thanks again for reporting. 👍

[2020-12-30 20:11] #2027 closed

[2020-12-31 05:58] arjunumenon commented on #2027
Totally fine @garrytrinder. Trying my best to help in whatever way I can.

 Wonderful that it is updated in the Minimal Path to Awesome so that new contributors will be aware of that. 🚀

[2020-12-31 06:24] arjunumenon commented on #2025
Hey @garrytrinder  - Do you mind If I take this issue up. All I need is an awesome start for a New Year ⚒ and there is nothing better than CLI for M365. 💪

[2020-12-31 06:31] arjunumenon commented on #871
Hello @waldekmastykarz  / @garrytrinder  - Can I take a stab at this issue if you guys are fine with that. Hopefully this time, I will be be able to complete without discontinuing in between. 🤞

[2021-01-01 15:57] waldekmastykarz commented on #2025
All yours @arjunumenon! Thank you! 👏

[2021-01-01 15:58] waldekmastykarz commented on #871
All yours! Looking forward to seeing it in action! 👏

[2021-01-01 18:15] waldekmastykarz commented on #1892
Correction, I might have been looking in the wrong place: I've got `core.autocrlf=false` on my VM where I can't repro the issue

[2021-01-01 18:18] plamber opened #2038 "New command: spo group set"
Raised from #2016

<details>
<summary>Proposal</summary>

The `spo group set` allows you to manipulate web settings for a Microsoft 365 Group connected site.

In Microsoft Teams (and in Microsoft 365 Groups), you need to be an Owner to add a new Member. However, members of the associated SharePoint team site can add people to the site. You can align the same sharing behavior between a Group and th

[2021-01-01 18:18] #2016 closed

[2021-01-01 18:47] waldekmastykarz commented on #2038
If I understand it correctly, the article you referred to, explains manipulating the SharePoint group rather than the M365 Group. If this is the case, we should adjust the description.

We should adjust the example so that it follows our usage convention, eg `spo group set --allowMembersEditMembership false`

In order for us to be able to manipulate a great, we will need its display name/and or ID

[2021-01-01 19:02] plamber commented on #2038
@waldekmastykarz : I want to implement [this](https://docs.microsoft.com/en-us/powershell/module/sharepoint-pnp/set-pnpweb?view=sharepoint-ps) set-pnpweb MembersCanShare.

We manipulate the sharing options for the site. We do not manipulate a M365 Group.

[2021-01-02 11:12] waldekmastykarz commented on #2038
`MembersCanShare` is a Web property. Have you tried setting it using `spo web set --MembersCanShare true`? How is that related to updating the group we spec here?

[2021-01-02 11:20] waldekmastykarz commented on #1763
Hey @Chuckler22, sorry for dropping the ball on your proposal. Would you like to give it a try and implement it?

[2021-01-02 18:31] waldekmastykarz commented on #929
Since this is still not supported in the API, shall we close this issue for now and re-open should anything change?

[2021-01-02 18:33] waldekmastykarz commented on #1555
Since CLI is now available as a part of Cloud Shell, this is no longer necessary.

[2021-01-02 18:33] #1555 closed

[2021-01-02 18:36] waldekmastykarz commented on #1046
@appieschot @plamber @garrytrinder @mpowney do you happen to have any scripts that you use and which extract information mentioned in this issue that we could use as a starting point for a spec?

[2021-01-02 18:38] hugoabernier commented on #1046
I was thinking that we could use the Microsoft 365 DSC project as a starting point

[2021-01-02 18:41] waldekmastykarz commented on #1933
I've updated the spec to reflect our discussion about accepting unknown properties

[2021-01-02 18:44] waldekmastykarz commented on #882
Since this is not supported by the API, let's close this issue for now and reopen in the future when this becomes possible.

[2021-01-02 18:44] #882 closed

[2021-01-02 18:48] waldekmastykarz commented on #1046
Do you have any additional pointers that we could look at to speed things up?

[2021-01-03 14:33] garrytrinder commented on #929
We can close it, that's not a problem.

I have the branch saved on my fork for when (if) it is supported.

[2021-01-03 18:05] #929 closed

[2021-01-03 18:28] waldekmastykarz commented on #2005
Looking at https://docs.microsoft.com/en-us/microsoftteams/platform/webhooks-and-connectors/how-to/connectors-using it seems that it would be Teams-specific after all. If that's the case indeed, shall we rename the command to `m365 teams adaptivecard send`?

[2021-01-03 21:31] Chuckler22 commented on #1763
Hello!

I'm sorry to be the guy who requests/suggests a feature, and then gets a
new job where they don't do the thing that they used to do, but I guess I
am that guy.

Best of luck with the project!

Regards

Dean

On Sat, 2 Jan 2021 at 21:20, Waldek Mastykarz <notifications@github.com>
wrote:

[2021-01-04 08:01] waldekmastykarz commented on #1763
Life happens! No worries and thanks for your suggestion either way. I'm sure it will help others.

Good luck with the new job!

[2021-01-04 10:20] waldekmastykarz commented on #2005
I came across an interesting problem when implementing the templating part. Theoretically, you can pass data of any structure onto am adaptive card template, eg.

[code]

If we're to map unknown CLI options to the data structure to be applied to the template, we'd end up with a flat structure, which could be limiting some scenarios. We have a couple of ways around it:

1. Introduce some special an

[2021-01-04 10:29] leeford commented on #2021
Hi @garrytrinder, When creating a Team, in the past I've looked at the "Location" header of the response, there is an async operation that you can query to check the status of the Team creation - could you use this to check the status until the team is created and then return the output - I guess this covers all aspects of the Team and not just the group? You could also just query the group until

[2021-01-04 13:24] garrytrinder commented on #1046
Sorry @waldekmastykarz I don't have any scripts to hand for this purpose, but I very much like the idea of this command.

[2021-01-04 23:05] garrytrinder commented on #2005
This is a tough one, however I think that we should follow conventions used by other CLIs, see below from the Azure CLI docs.

I'm not keen on this approach, coming from Azure CLI the `@` symbol is used to specify a file rather than a value and so could be confusing.

I would like to see a combination of `--cardData '{"prop": "value"}'` as it is explicit and `--cardData @<file>` to read the conten

[2021-01-04 23:35] garrytrinder commented on #2021
@leeford we are currently checking the "Location" header in this command, however it appears that the next call to obtain the Microsoft Graph info fails as the Group has not yet been provisioned, on some occasions, based on feedback from @plamber in #1891.

When #2030 is merged the command will use the `v1.0` endpoint rather than the `beta` endpoint which could provide more stability, however intr

[2021-01-05 08:09] waldekmastykarz commented on #2005
If we introduced `--cardData` as the way to specify data that should be applied to the card template, would we merge data specified through unknown properties, eg. `--Title 'My card'` with what specified through `--cardData` or would you be able to use either `--cardData` or unknown options but not both?

[2021-01-05 08:16] leeford commented on #2021
Awesome, will take a look!

[2021-01-05 10:34] #2020 closed

[2021-01-05 10:34] #1871 closed

[2021-01-05 10:34] #2010 closed

[2021-01-05 19:51] garrytrinder commented on #2005
I would say the latter, use either `--cardData` or unknown properties, but not together, I think that would be confusing.

[2021-01-06 11:25] michaelmaillot commented on #1142
Hi,

I can take that one if you don't mind 🙂

[2021-01-06 12:44] plamber commented on #2038
Hi @waldekmastykarz,
this is a web property that specify this setting:

![image](https://user-images.githubusercontent.com/18241305/103769488-aa3b7480-5024-11eb-937b-c1823012666a.png)

From my point of view it is not directly related with a Microsoft Group. Therefore, the command name might be misleading.

I tried to set the property using the command suggested, but I am getting following error me

[2021-01-06 13:45] waldekmastykarz commented on #1142
Awesome! Appreciate your help @michaelmaillot 👍

[2021-01-06 13:47] waldekmastykarz commented on #2038
Like I mentioned: `MembersCanShare` needs to be set on a group rather than a web. If you look at the command name it's `spo group` rather than `aad o365group`. Even though it's exposed on the web settings in the UI, it's a group setting, so the question is if we should introduce a convenience command that abstracts away the underlying object model or do we follow the object model and make it a two

[2021-01-06 13:52] waldekmastykarz commented on #2005
To make the command consistent, shall we then rename `cardFile` to just `card`? Initially, `card` would allow only specifying the whole card as a JSON string, but when we add support for `@` globally, we would automatically allow either passing a string or using a file. Otherwise we have `cardFile` expecting a file path but `cardData` supporting JSON string or path which is confusing.

[2021-01-06 13:56] plamber commented on #2038
Could you elaborate how you could set the property above?

Do we have to retrieve the SPO Group and apply some changes? In PnP PowerShell this is abstracted in a way that you do not have to know these details.

[2021-01-06 14:16] michaelmaillot opened #2041 "[Documentation] Missing commands equivalent"
I noticed that some commands available in CLI are missing in the [Comparison to SharePoint and Microsoft 365 PowerShell](https://pnp.github.io/cli-microsoft365/about/comparison-powershell/) page.

I started to list them:

PowerShell Cmdlet | CLI for Microsoft 365 command
------------ | -------------
Remove-SPODeletedSite | spo tenant recyclebinitem remove
Clear-PnPTenantRecycleBinItem | spo tenant

[2021-01-06 14:39] waldekmastykarz commented on #2041
Good catch @michaelmaillot! Would you like to submit a PR with the necessary changes? 😊

[2021-01-06 14:43] waldekmastykarz commented on #2038
I've just tried the following and it seems to be working:

[code]

[2021-01-06 14:46] plamber commented on #2038
Yes indeed, it works also without double quotes.

Is there a way to read this property with a command?

[2021-01-06 14:50] waldekmastykarz commented on #2038
Seems like it's not included in the response of `spo web get`, which is where you'd expect it. We should see if we can extend `spo web get` to include it by default.

[2021-01-06 14:58] waldekmastykarz opened #2042 "Enhancement: add support for passing complex content from files into command options"
Raised from #1732

We should extend CLI for Microsoft 365 with support for passing complex content directly from files. To avoid re-inventing the wheel, we should follow the implementation in az cli, where you can pass the contents of a file by denoting the file path with a `@`, eg.:

[code]

The implementation should be done in such a way so that it's done centrally in the CLI rather than in each

[2021-01-06 15:43] michaelmaillot commented on #2041
Sure!

[2021-01-06 18:17] garrytrinder commented on #2005
Make sense, let's go with `--card` 👍🏻

[2021-01-07 05:30] plamber commented on #2038
Hi @waldekmastykarz,
would you always add the contents to the spo web get response or do we provide a dedicated option in the command?

br,

[2021-01-07 09:29] waldekmastykarz commented on #2038
If we can add it to the default response without an additional call, then I'd say let's do it. If it requires an additional call to retrieve it, then let's introduce an option so that we allow users to avoid unnecessary calls.

[2021-01-07 10:35] waldekmastykarz opened #2043 "Bug report: incorrect guidance for escaping quotes in *sh"
In our guidance @ https://github.com/pnp/cli-microsoft365/blame/fea0c9ac7bf3dc8e54252011f2f253f81906b803/docs/docs/user-guide/using-cli.md#L52-L56 we mention that values with quotes in *sh should be escaped with a single quote and backtick. This is incorrect. To escape a value with double quotes all you need is the single quote. If you add a backtick, *sh will try to process the value which will l

[2021-01-07 13:05] estruyf opened #2044 "Enhancement: add support to add the page description to the `page add` and `page set` commands"
### Usage

The `SavePage` API supports you setting the page its description. I noticed this is not yet supported by the `page add` and `page set`.

### Options

Option to be added

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `--description`               | The description to set for the page

[2021-01-07 14:38] waldekmastykarz commented on #2044
Great suggestion @estruyf! Would you like to pick it up? 😊

[2021-01-08 09:29] waldekmastykarz opened #2045 "Enhancement: Move `chalk.green('DONE')` outside of the commandAction"
Currently, in our commands we output in verbose mode `chalk.green('DONE')` to confirm that the command has completed its execution. We implement this separately in each command. To improve consistency and simplify our code base, we should move it outside `commandAction` so that it's executed centrally and for each command without us having to think twice about implementing it. An added benefit is,

[2021-01-08 14:24] estruyf opened #2049 "Bug report: `page header set` the kicker properties have been renamed to `topic`"
### Description

The `kicker` name has been updated to `topic`. This means that `kicker`, should become `topicHeader` and `showKicker` would become `showTopicHeader`.

### Steps to reproduce

SavePage API has been updated over time.

### Expected result

Ability to set the topic header of the page header

### Actual result

Topic header cannot be set.

@waldekmastykarz @garrytrinder - I can take t

[2021-01-08 14:34] estruyf opened #2050 "Bug report: `page header set` the layout type misses options"
### Description

At the moment the header type only supports `FullWidthImage` and `NoImage`. The `ColorBlock` and `CutInShape` options are missing.

### Steps to reproduce

Just missing options.

I'll pick it up, and will be solving it together with #2049

[2021-01-08 15:28] #2032 closed

[2021-01-08 15:28] #1962 closed

[2021-01-08 15:28] #2005 closed

[2021-01-08 15:51] waldekmastykarz commented on #2049
Appreciate your help @estruyf! If the old names no longer work, then we should remove them and replace them with working equivalents.

[2021-01-08 15:52] waldekmastykarz commented on #2050
Awesome! Thank you so much! 🚀

[2021-01-08 20:46] garrytrinder commented on #1724
As Microsoft have recently announced that they are deprecating many features in FQL.

Source: https://techcommunity.microsoft.com/t5/microsoft-search-blog/we-re-making-changes-to-search-in-sharepoint-online/ba-p/1971119

Based on the above announcement, I don't believe that creating this command would deliver much value, therefore I will close the issue.

[2021-01-08 20:46] #1724 closed

[2021-01-10 11:23] #2041 closed

[2021-01-10 11:23] #2042 closed

[2021-01-10 11:23] #2049 closed

[2021-01-10 11:25] #2050 closed

[2021-01-10 11:38] waldekmastykarz opened #2055 "Deprecate command options that point specifically to file paths"
In the latest v3.5.0 beta we introduced support for passing file contents into options using `@` token #2042. This change makes it possible to pass file contents into any option. We should go through all our commands and deprecate options that allow users to specify file path. The only exception are options that allow users to point to binary files that they wouldn't pass as raw contents anyway.

[2021-01-10 15:43] michaelmaillot commented on #1945
I can try to implement this command if it's ok for you 🙂

[2021-01-11 10:33] waldekmastykarz commented on #1945
Before we start, @garrytrinder with the recent introduction of the `--appId` and `--tenant` options for the login command, is this command still necessary?

[2021-01-11 13:24] waldekmastykarz opened #2058 "Enhancement: configure eslint rules to reflect our PR checks"
When checking PRs, we typically check if variables that are not being re-assigned are defined as `const`, if local variables are camelCase or if `else` statements are on a new line. We should be able to check this automatically and provide feedback directly during development by enabling the relevant eslint rules.

[2021-01-11 13:28] appieschot opened #2059 "New command: spo list view field set"
### Usage

`spo list view field set`

### Description

Updates existing column in an existing view (eg. move to a specific position).

### Options

 Option | Description
 -- | --
 `-u, --webUrl<webUrl>` | URL of the site where the list is located
 `--listId [listId]` | ID of the list where the view is located. Specify `listTitle` or `listId` but not both
 `--listTitle [listTitle]` | Title of the l

[2021-01-11 13:30] appieschot commented on #733
Create a new spec for the last remaining issue #2059.
Commands that are already updated in the CLI are:

- `spo list view field add`
- `list view set`

[2021-01-11 13:30] #733 closed

[2021-01-11 13:47] waldekmastykarz commented on #2059
Is `fieldPosition` intended to be required?

[2021-01-11 13:51] appieschot commented on #2059
@waldekmastykarz my reasoning was that to update a field to a new position we require that position, did I mis anything and is there another way to do so?

[2021-01-11 13:59] waldekmastykarz commented on #2059
Ah sorry, I was looking at the command name `spo list view field set` and assumed it allows you to do other modifications than just repositioning the field. In that context, making this option required makes perfect sense.

[2021-01-11 15:32] michaelmaillot commented on #1945
Ok, I'll try with that updated approach...! 😅

I've got a couple of questions:
 * When / where should the config be loaded? In the `cli\Cli.ts` file or somewhere else?
 * What is the best between
     * loading the configstore on a higher level of the CLI
     * loading it on the fly, when executing the `cli config set` command
 * Should the `configstore` be initialized at first start with pre-con

[2021-01-11 17:15] waldekmastykarz commented on #1945
I think it's twofold: setting config and loading config. For the purpose of this command, loading config is out of scope. We could decide if we implement validation for checking config names, which allows for more flexibility, or if we validate the specified name and each time introduce a new setting, we'll also need to update the whitelist.

How does git handle it for example? My preference would

[2021-01-11 18:17] waldekmastykarz commented on #1892
While there is something to say for using `core.autocrlf=true` to ensure cross-platform line ending consistency, I don't think it's going to help us with testing. Like I mentioned before: I find it dangerous to assume that line endings are always LF or CRLF where in reality they vary per platform. I'm afraid such an assumption could lead to us not spotting errors related to EOL only until we shipp

[2021-01-11 18:19] waldekmastykarz commented on #1931
Hey @DakotaWray2, did you have a chance to test if we correctly support GCC High?

[2021-01-11 18:22] waldekmastykarz commented on #1953
Closing due to lack of response

[2021-01-11 18:22] #1953 closed

[2021-01-11 19:13] appieschot opened #2061 "New command: m365 graph changelog list"
### Usage
 `m365 graph changelog list [options]`

### Description

Gets an overview of specific API-level changes in Microsoft Graph v1.0 and beta

### Options

Option | Description
-- | --
`-v, --versions [versions]` | Comma-separated list of Versions to show changes for. `Beta, v1.0`. Default `v1.0`
`-c, --changeType [changeType]` | Comma-separated list of change types to show changes for. `Addi

[2021-01-11 19:13] appieschot commented on #2061
@pnp/cli-for-microsoft-365-maintainers did I mis anything?

[2021-01-11 20:50] sinhakislay opened #2063 "Bug report: Wrong command used in sample script"
### Wrong command used in sample script

# Sample script on this URL uses o365 instead of m365
https://pnp.github.io/cli-microsoft365/sample-scripts/teams/list-teams-app-usage/

### Expected result

Replace o365 with m365

### Environment

Any enironment

[2021-01-11 21:36] michaelmaillot commented on #1945
AFAIK on the `gh config set` command, it only allows to set already defined properties : `git_protocol`, `editor`, `prompt` and `pager`.

So even if we let it free to configure for users, the CLI should own some keys to configure its usage, right?

[2021-01-11 22:44] garrytrinder commented on #2063
Thank you for reporting this @sinhakislay and providing an update to the sample, it is much appreciated 👍🏻

Apologies for the trouble, we will look to merge your update ASAP.

[2021-01-11 22:56] Abderahman88 commented on #1892
@waldekmastykarz I agree. Re-writing the test could be the safest option.

[2021-01-12 13:25] waldekmastykarz opened #2064 "Enhancement: in `aad app add` change the default secret expiration from 100 years to 1 year"
In the recently introduced `aad app add` command, we chose to create secrets that expire in 100 years. In hindsight, that seems excessive, and we should adjust it to 1 year following the settings in the Azure Portal.

Thanks for bringing it up @wictorwilen 👍

[2021-01-12 15:34] estruyf opened #2065 "New command: `spo page template list` get a list of all the available templates on the site"
### Usage

In order to create new pages based on a template, we need to know how which templates are actually available. This command would provide this capability.

### Description

Returns a list of available page templates from the specified site.

### Options

| Option                  | Description                               |
| ----------------------- | -----------------------------------

[2021-01-12 15:38] mcannava commented on #1953
Actually just tripped across this same issue here, but in my case the Team that is causing the problem has no issues in my administration console. I can also take the exact same Graph call that fails in the CLI debug log, issue it through Graph Explorer, and it succeeds. We're in a GCC tenant, though, so there might be something different in our environment that's causing it. If I can gather any i

[2021-01-12 17:23] waldekmastykarz commented on #1953
Right now, we don't support GCC High as it requires issuing different requests. We have a possible solution but we can't test it ourselves because we don't have access to a GCC tenant. If you'd be so kind, would you mind giving it a try? You can find more information about how to test at #1931

[2021-01-12 18:29] waldekmastykarz commented on #1945
I see configuring the settings and actually using them in the CLI as two separate things. This command is meant to allow users to configure CLI settings, whatever these settings are. Making specific pieces of the CLI configurable based on users' preferences should be specced and implemented separately. If we want to introduce a validation of keys, then we'd need to know at least one or we won't be

[2021-01-12 18:31] waldekmastykarz commented on #1892
@Abderahman88 sounds like a plan then. Would you like to adjust your PR (or open a new one) and change the broken test so that it works across all supported platforms?

[2021-01-12 18:32] waldekmastykarz commented on #2065
Great suggestion! 👏

[2021-01-12 18:48] michaelmaillot commented on #1945
We're agree on that point 😊

But I don't have any idea about key settings to start with...

Le mar. 12 janv. 2021 à 19:30, Waldek Mastykarz <notifications@github.com>
a écrit :

[2021-01-12 18:58] #2044 closed

[2021-01-12 19:16] mcannava commented on #1953
Oh, actually we're on GCC, not GCC High. Is this fix still relevant to our environment? I'm happy to try it anyway.

[2021-01-12 19:19] Abderahman88 commented on #1892
Yes, will work on it 👍

[2021-01-13 09:32] appieschot opened #2067 "New sample script: Export Flow to Logic App"
|Docs||
|-----|----|
|Author| Albert-Jan Schot |
|Original Post| [https://www.cloudappie.nl/cli-m365-exportflow/](https://www.cloudappie.nl/cli-m365-exportflow/) |
|Description| Easily export a Flow to use in Logic Apps in the CLI for Microsoft 365 |
|Keywords|  `Flow` `Power Automate` |

[2021-01-13 11:01] estruyf opened #2068 "Bug report: `m365 spo page clientsidewebpart add` removes all previously set settings on the page"
### Description

When adding a new web part to a page, it removes all previously set properties like topic header, description, ...

### Steps to reproduce

- Create a page
- Add a page description
- Run the `m365 spo page clientsidewebpart add` command and you'll notice that `description` is gone

### Expected result

Previously set properties should not be removed.

You can assign it to me.

[2021-01-13 11:19] estruyf opened #2069 "Bug report: Many of the page commands leave the pages checked out"
### Description

At the moment, the page commands leave the pages checked out. For better version management, and not to override changes, it would be better to use the `SavePageAsDraft` at the end of the commands, so that the page gets saved and checked in.

### Steps to reproduce

- Create a page with the `page add` command and not use the publish argument
- Page is kept checked out

### Expecte

[2021-01-13 11:58] estruyf opened #2070 "Bug report: `spo page header set` the authors argument isn't working"
### Description

Using the `--authors` doesn't set the authors to the page header. This is due to the API change.

### Steps to reproduce

- Create a page
- Set the header with a username
- No user on the page is shown

### Expected result

A specified username should be shown on the page.

### Actual result

Nothing is shown.

You can assign this on to me.

[2021-01-13 13:30] kfrymus opened #2071 "Login issue with authType password"
Hi,

I have an issue login in one tenant with authType password, the production one. On the other(QA or dev) do not have the issue. I'm able to login with deviceCode option only on the production tenant.
I have received confirmation that MFA is disabled for the account, but I do not have permissions to check this.

On QA or dev tenant I'm able to login using the command:
`o365 login --authType pas

[2021-01-13 14:17] waldekmastykarz commented on #1945
`showHelpOnFailure` which controls if we automatically show help when command fails or not

[2021-01-13 14:17] waldekmastykarz commented on #1953
Yes, I believe it would be. Thank you so much for willing to give it a try 👏

[2021-01-13 14:19] waldekmastykarz commented on #2068
Good find and thank you for your help ❤️

[2021-01-13 14:20] waldekmastykarz commented on #2069
Good catch! I don't think there is a reason for us to keep the page checked out. Your suggestion makes absolute sense. Appreciate your help 👏

[2021-01-13 14:21] waldekmastykarz commented on #2070
Good catch! Appreciate your help 👏

[2021-01-13 14:22] waldekmastykarz commented on #2071
Do you happen to have conditional access enabled for this account?

[2021-01-13 14:26] kfrymus commented on #2071
Yes, we have the conditional access configured for the tenant where the issue is present for all users in this tenant(we do allow only access from Intranet).

[2021-01-13 17:21] nanddeepn commented on #2064
Hi @waldekmastykarz
Can I work on this?

[2021-01-13 18:21] waldekmastykarz commented on #2071
Possibly. We have a similar issue with device code auth. I wouldn't be surprised if this was related. Do you have a way to test it with and without the conditional access policy to see if you can repro the issue? Meanwhile, we're working on a solution that will address this issue and which should be available in the coming weeks #1979

[2021-01-13 18:22] waldekmastykarz commented on #2064
Please do! Appreciate your help 👏

[2021-01-13 19:13] #1142 closed

[2021-01-13 19:13] #2063 closed

[2021-01-13 22:09] kfrymus commented on #2071
With device code auth(default one) I'm able to login to this tenant where I have issue with password authtype:
`o365 login --userName user@mycompany.eu`
Then I'm asked to go to the webpage and put the code and I'm logged in.

In my case I'm also using ADFS and onprem account synced into AzureAD as in the issue you have metnioned.

I will not be able to test this without conditional access policy i

[2021-01-14 02:09] Abderahman88 commented on #1892
I changed the test. I removed the line endings in the test, so it's independent from OS.

Tested on Windows with both CRLF/LF endings and it passed both times.

[2021-01-14 08:05] waldekmastykarz commented on #2071
Have you tried using `domain\user` instead? I've seen a number of articles about this error and often they relate to other systems like SharePoint or CRM Online in combination with ADFS, so it could be related. Do you have other apps on the same machine where you also authenticate using username and password so that we can verify that it's not a machine configuration issue but rather something on

[2021-01-14 09:46] plamber commented on #2071
Hi @kfrymus,
the username and password authentication used the [Resource Owner Password Credentials flow](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth-ropc).

Federated identities have issues with that approach. Note also the important points listed on that site:
- The Microsoft identity platform endpoint only supports ROPC for Azure AD tenants, not personal accounts. T

[2021-01-14 12:01] rabwill opened #2073 "New command: Export all the Microsoft Teams messages for a given user"
### Usage

`m365 teams user message list [options]`

### Description

`Export all the Microsoft Teams messages for a given user`

### Options

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `--userId<userId>` | The ID of the user whose messages are to be retrieved |
| `-f, --filter<filter>` | Filter

[2021-01-14 12:02] rabwill commented on #2073
@pnp/cli-for-microsoft-365-maintainers here is a new command for review of spec, please let me know if this is okay and then we can put it in the backlog and label it appropriately. Thanks 😊

[2021-01-14 12:27] rabwill opened #2074 "New sample script: list all application customizers in a tenant"
|Docs||
|-----|----|
|Author| n/a |
|Original Post| n/a |
|Description| List all application customizers in a tenant |
|Keywords| `SharePoint Framework` `Governance` |

### Additional information
[https://pnp.github.io/cli-microsoft365/cmd/spo/customaction/customaction-list/](https://pnp.github.io/cli-microsoft365/cmd/spo/customaction/customaction-list/)
The [scope] parameter will be default `All`

[2021-01-14 12:41] rabwill opened #2075 "New sample script: List all tabs in Microsoft Teams teams"
|Docs||
|-----|----|
|Author| [Veronique Lengelle](https://twitter.com/veronicageek) |
|Original Post| [https://veronicageek.com/powershell/powershell-for-m365/get-teams-channels-tabs-and-privacy-settings-using-teams-pnp-powershell/2020/07/](https://veronicageek.com/powershell/powershell-for-m365/get-teams-channels-tabs-and-privacy-settings-using-teams-pnp-powershell/2020/07/) |
|Description| List

[2021-01-14 14:11] waldekmastykarz opened #2076 "Enhancement: extend `aad app add` with support for authorized apps"
Raised from: https://twitter.com/wictor/status/1349697060187107331

We should extend the `aad app add` command with support specifying authorized apps.

Before we proceed with implementation, let's research what's the most convenient way for specifying multiple apps and for each one multiple scopes.

Thanks for bringing it up @wictorwilen 👏

[2021-01-14 14:13] waldekmastykarz opened #2077 "Enhancement: extend `aad app add` with support for app roles"
Raised from https://twitter.com/wictor/status/1349697060187107331

We should research the opportunity to extend the `aad app add` command with support for specifying app roles. Before we proceed with implementation, let's sync on the approach and spec.

Thanks for bringing it up @wictorwilen 👏

[2021-01-14 15:10] kfrymus commented on #2071
Hi Waldek,
I cannot use the domain\user, since the domain from the email address is used to determine the sts service against which to authenticate.
I'm able to authenticate from the same machine in other tenants.

`o365 login --authType password --userName domain\user --password XXX --debug --verbose`
Logging out from Office 365...
DONE
Signing in to Office 365...
No token found for resource http

[2021-01-14 16:38] plamber commented on #2071
Hi @kfrymus,
as far as I understood you are using an identity synchronized from the local AD.  Our CLI uses the [Resource Owner Password Credential flow](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth-ropc) that does not work with such identities. You can use cloud only identities.

The device code flow works with synchronized identities.

If your process requires you to

[2021-01-14 19:09] Laul0 opened #2080 "Bug report: spo app add does not return App Id only anymore"
### Description

The command `spo app add` allow to upload .sppkg file into an Apps Catalog.
This command returns some information once done.

### Steps to reproduce

Launch the command `m365 spo app add ...`

### Expected result

Return the GUID of the uploaded app only

### Actual result

The command return `Unique Id: [UID]`

For the case of the custom scripts to deploy app, the current solutio

[2021-01-14 20:31] mcannava commented on #1953
Well, my experimenting was halted, the GCC High version didn't seem to want to do much with my GCC tenant; I had trouble even logging in and getting credentials to the shell. A lot of the commands didn't work, but again we're not in a GCC High environment, just good old GCC.

I can live with the 404 for now and use PowerShell to list all Teams. :-)

Thanks for the help, though!

[2021-01-14 21:34] garrytrinder commented on #2061
Looks good to me, I do have one comment though, are we to assume that if we choose a service such as `Identity and access` that includes all of the sub services, such as `Identity and sign-in`, `Governance` and so on?

It may be beneficial to include the sub services as options as valid choices to help narrow down the response further.

[2021-01-14 21:39] garrytrinder commented on #2080
Thanks you for letting us know @Laul0 apologies for the trouble we will take a look ASAP.

[2021-01-15 08:27] kfrymus commented on #2071
Hi Patrick,

I need to check what could be possible in our case. This could be the issue:
`ROPC is not supported in hybrid identity federation scenarios (for example, Azure AD and ADFS used to authenticate on-premises accounts). If users are full-page redirected to an on-premises identity providers, Azure AD is not able to test the username and password against that identity provider. Pass-through

[2021-01-15 09:51] waldekmastykarz commented on #2061
Very nice! Also, let's add remarks about the default behavior for the `changeType`, `service` and date options. I'd assume that if no value is specified, you get all available data.

[2021-01-15 09:52] waldekmastykarz commented on #2061
Also, I'd suggest removing `-d` from `startDate` because it's ambiguous between the start and end date.

[2021-01-15 12:04] appieschot commented on #2061
@garrytrinder agree on the option to use the subservices, however they seem to be not reflected in the RSS response . The response always returns `<title>Reports</title>` even though the filter is Microsoft usage reports (see: [Rss source](view-source:https://developer.microsoft.com/en-us/graph/changelog/rss/?filterBy=Change,Microsoft%20365%20usage%20reports)). So that might end up being confusing

[2021-01-15 12:23] waldekmastykarz commented on #1953
You mean you couldn't use the version from the issue I referenced at all? If so, then we'd need to investigate what's wrong because it's meant to work on all clouds rather than just GCC High

[2021-01-15 14:14] waldekmastykarz commented on #2080
Has this changed recently?

[2021-01-15 14:19] waldekmastykarz commented on #2073
Thanks for the suggestion.

1. I wouldn't call the command `export`. As it retrieves all items, we should name it `Get all Microsoft Teams messages for the given user`
2. To make the command easier to use, I'd suggest that we allow specifying user's UPN rather than ID, which users would need to retrieve separately first
3. Are `filter`, `pageSize` and `pageNumber` meant to be required? If not, let

[2021-01-15 14:22] waldekmastykarz commented on #2071
So could this be that it's a limitation of identity setup and there is not much that we can do about it?

[2021-01-15 14:23] waldekmastykarz commented on #2061
@appieschot does that mean that we'd need to retrieve the parent category and then apply filtering ourselves? Sounds like something we could do assuming it makes sense. We could also start with just the top categories and add second level later if there is any interest in it.

[2021-01-15 14:49] appieschot commented on #2061
@waldekmastykarz the filter works as it is passed in the URL, so we could add the filter option. The only results is that if you filter by *Microsoft usage reports* the response would say results for *Reports* unless we implement custom logic to override that (something I rather not do).

[2021-01-15 16:03] waldekmastykarz commented on #2061
I don't we will show the title anywhere, rather just the results themselves, right?

[2021-01-15 18:40] waldekmastykarz opened #2083 "Move from CircleCI to GitHub Actions"
We decided that we want to move from CircleCI to GitHub Actions to consolidate as much of the project as possible in one place.

[2021-01-15 19:49] Laul0 commented on #2080
Approximately 1 week ago

[2021-01-15 21:33] rabwill commented on #2073
Good catch on point # 3! thanks @waldekmastykarz.
In the filter they can specify the date range or messageType etc. See sample response here
[code]
The API gives back @odata.nextlink in case there are multiple values similar to other commands or this sort.

[2021-01-16 01:23] mcannava commented on #1953
I may have done something silly on my side, I was incredibly busy and trying to multitask when I tested it. I'll give it another go and let you know. Don't worry yet. :-)

[2021-01-16 05:02] plamber commented on #2073
Hi,
not sure if we will be able to use this command at a large scale. I fell into this already a couple of times with some other interesting endpoints.

The command will throw a 401 exception until you got an approval from Microsoft and your AppId has been enabled.
@waldekmastykarz I do not believe that MS will enable our PnP CLI app with these permissions due to security reasons. I tried to get t

[2021-01-16 07:43] plamber commented on #2075
I would like to pick this up

[2021-01-16 11:06] aakashbhardwaj619 commented on #2059
Hey guys, can I take this up? It's been a while since I did a command 😊

[2021-01-16 11:07] waldekmastykarz commented on #1953
Thank you for giving it another try, much appreciated!

[2021-01-16 11:21] waldekmastykarz commented on #2073
@rabwill rather than having a catch-all `filter` property, I'd suggest we introduce specific options for the specific values so that we can apply validation to it.

@plamber I wouldn't expect getting clearance for our app, especially as it doesn't support app-only auth. Instead, users would get clearance for their own app and use it in combination with CLI. In the past, I requested and got approva

[2021-01-16 11:22] waldekmastykarz commented on #2059
Awesome! All yours! Appreciate your help and glad to have you back! 👏

[2021-01-16 11:32] waldekmastykarz commented on #2080
It seems like we've unintentionally changed the command output during a refactoring last November. We should revert our change to prevent breaking changes in minor versions and reconsider the current implementation for v4 later this year.

[2021-01-16 19:40] #1892 closed

[2021-01-16 19:54] waldekmastykarz commented on #1489
Resetting as available due to lack of response

[2021-01-16 19:55] waldekmastykarz commented on #1633
Resetting as available due to lack of response

[2021-01-16 21:35] garrytrinder commented on #1832
This is now ready to be tested locally and in Codespaces (if you have access to the preview) and I would love to hear your feedback before we go forward with this.

To test locally, you will need to pull down the [`gh-codespaces`](https://github.com/garrytrinder/cli-microsoft365/tree/gh-codespaces) branch from my fork and install the[Remote Development](https://marketplace.visualstudio.com/items?i

[2021-01-17 11:55] rabwill commented on #2073
@waldekmastykarz so just the date range to start off now, and we can add any as we please?

[2021-01-17 12:20] rabwill commented on #1832
Nice work @garrytrinder 💪🏾. Tested in Codespaces and works like a charm. Build, test and docs serve on local. Not tested locally. On it now

[2021-01-17 12:49] waldekmastykarz commented on #1832
Tested in Codespaces and works awesome! One thing I had to do, was to manually run `npm i` before I could run `npm run build` and `npm t`. Looking at the config it seems like it should've been done automatically, but it seems like it wasn't in my case.
Building and previewing docs also works like a charm and the whole thing is blazing fast. Well done! 👏

[2021-01-17 12:53] waldekmastykarz commented on #2073
@rabwill is date the most common filter?

[2021-01-17 12:54] rabwill commented on #1832
Yes good point I thought we had to run npm i. Looks like that's not the expected. I saw in our PnP call last time npm i was run so assumed that was needed.

[2021-01-17 13:03] rabwill commented on #2073
Since it is already mentioned as a filter example in the doco, perhaps it's a good start? ☺️

[2021-01-17 13:06] waldekmastykarz commented on #1832
I forgot to mention that building the image took a moment and the symbol denoting the branch was missing in codespaces.

[2021-01-17 13:13] waldekmastykarz commented on #1832
Testing locally, I noticed that the setup is slower than in Codespaces. Building the image took again a moment. Building CLI and running tests took significantly longer (build ~1m, tests ~2min). Previewing docs worked like a charm.

[2021-01-17 13:51] #2074 closed

[2021-01-17 13:51] #2064 closed

[2021-01-17 14:02] waldekmastykarz commented on #2073
Good point 👍

[2021-01-17 14:08] garrytrinder commented on #1832
Thank you for the feedback @rabia & @waldekmastykarz ❤️

This could be a quirk in Codespaces, I did have an issue with the default terminal displaying bash instead of zsh on startup, which has since been resolved. https://github.community/t/integrated-terminal-setting-not-respected/145625

Does this automatically run when using the container locally?

Yes the build takes a while, not much can be d

[2021-01-17 14:16] waldekmastykarz commented on #1999
With that I think we have identified an action plan:

- [ ] verify that mike works with our theme
- [ ] verify that we can integrate mike with our CI/CD pipe
- [ ] verify that we can combine static redirects from old docs to /latest/page when using mike for publishing versioned docs
- [ ] create redirects to /latest/page for all existing pages so that we don't break existing links
- [ ] extend CI/

[2021-01-17 15:16] waldekmastykarz commented on #1832
I didn't pay attention to it. Sorry. Will have another look.

While the prompt we have at the moment is different than what I'm using myself, I'm fine with giving an opinionated default and let users customize it.

[2021-01-18 00:21] rabwill commented on #2073
Shall we move this to backlog then? Do we need more discussion @plamber @waldekmastykarz ?

[2021-01-18 01:48] douglasromao commented on #2031
I'm working on it and expect to finish in the next couple of days.

[2021-01-18 12:11] kfrymus commented on #2071
Hi,
I suppose you are right Waldek.
I will ask MS to support us with those checks, since we have issue with Connect-PnpOnline either on one env and not the other to understand the differences.
Thank you.

[2021-01-18 13:33] sinhakislay commented on #1763
I am ready to take this one, please assign to me if possible

[2021-01-18 15:54] garrytrinder opened #2086 "Enhancement: Update `spfx project externalize` to support SPFx v1.10 and higher"
Currently the `spfx project externalize` command only supports up to SPFx v1.9.1, therefore we should add support for newer projects.

<img width="844" alt="image" src="https://user-images.githubusercontent.com/11563347/104937108-4fe7cf80-59a5-11eb-9531-d4dc98cbdad6.png">

`Error: CLI for Microsoft 365 doesn't support externalizing dependencies of SharePoint Framework projects of version 1.10.0. S

[2021-01-18 18:18] waldekmastykarz commented on #2071
Sorry we don't have a better answer. If you find out something that could help us address this issue, please, don't hesitate to reach out.

[2021-01-18 18:18] #2071 closed

[2021-01-18 18:20] waldekmastykarz commented on #2073
I think we're good to go 👍

[2021-01-18 19:05] #2065 closed

[2021-01-18 19:05] #2068 closed

[2021-01-18 19:05] #2069 closed

[2021-01-18 19:06] #2070 closed

[2021-01-19 06:07] arjunumenon commented on #1832
Got time just now to test the same .

Super Awesome work @garrytrinder. Like always, nothing better than a clean consistent development environment. Your effort is super worthy I can see lot of use-cases right away.

I was super late to the **Codespaces** party and hence do not have access to that. Still in waiting mode. So could test only on the local one. Like @waldekmastykarz and @rabwill [ment

[2021-01-19 09:22] garrytrinder commented on #1832
Thank you for your feedback @arjunumenon it is much appreciated.

You shouldn't have to run `npm I`, as it is included in the `postCreateCommand` property in the `devContainer.json` file.

[code]

Can I ask how you started the Remote Container? In the screenshot below, options one shows an auto prompt to open in the Container, or you can use option 2, by click the button in the bottom left which o

[2021-01-19 10:02] arjunumenon commented on #1832
Thanks @garrytrinder for the super explained response.

I had gone ahead with Step # 1 as per your screenshot. The moment I opened the VS Code, it identified the the container file and asked me whether I need to **Reopen in container** and I did that. Then for the first time, it went ahead with some steps which took around 9 minutes (550 seconds approx.) After that when I tried npm command, I am u

[2021-01-20 07:19] estruyf commented on #2083
This is also on my list for the controls 🙂

[2021-01-20 07:22] estruyf opened #2088 "New command: `spo page copy` to be able to create a page from an existing one"
### Usage

The page copy command can be used to create a copy from an existing page. This is useful when using page templates.

### Description

Allows you to copy a modern page from an existing page or template.

### Options

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `--sourceName <sourceName>`

[2021-01-20 09:50] waldekmastykarz commented on #2083
I have a test setup in place @ https://github.com/waldekmastykarz/cli-githubactions.

Originally I was thinking about including a matrix for building and testing but then realized that while you can use CLI on Node@10+, we build and test on Node@14. While building might work on previous versions, test coverage will fail on older Node versions, so I need to give it another thought how we want to go

[2021-01-20 09:52] waldekmastykarz commented on #2088
Great suggestion! 👏

[2021-01-20 14:38] #1739 closed

[2021-01-20 14:38] #2080 closed

[2021-01-20 14:40] waldekmastykarz commented on #2080
Hey @Laul0, we've just released a new preview version with this bug fixed. Current version will be released at the end of the month. Once again, thank you for reporting the issue and sorry for the trouble.

[2021-01-20 18:15] garrytrinder commented on #2088
Great suggestion! 👏🏻

Maybe something to consider as an enhancement but as it's easy to go cross site with the CLI and not have to re-authenticate we could add `sourceUrl` and `targetUrl` options which take absolute paths.

[2021-01-21 00:02] michaelmaillot commented on #1945
Just to be sure: can I start to work on it or should we wait for maintainers folks?

[2021-01-21 10:22] m-carter1 opened #2091 "Bug report: 403 forbidden on Flow Export"
### Description

When running `m365 flow export --environment [env] --id [id] `  I get the error "Error: Request failed with status code 403"

Running the command with --format json does work however.

If I grab the access token and run the command in postman I get same error but with more information:

{"error":{"code":"AuthorizationFailed","message":"The client certificate 'DF4D2C02B7F733BB44849

[2021-01-21 13:36] garrytrinder commented on #2091
Thank you for raising this @m-carter1 apologies for the trouble, we will take a look ASAP.

[2021-01-21 14:12] estruyf commented on #2088
@garrytrinder that is also an option. Shall we change `targetName` to `targetUrl`? That can be relative or absolute. This way, you can copy it to the same site, or another site.

[2021-01-21 14:39] eiriksanderfjeld opened #2092 "Bug report: Updating an app for teams gives a 403."
### Description
When i try to push a new version of the Teams app, i get a 403 unauthorized error. The user i am using are a global administrator. I've even created a new global admin, just to verify.

I successfully log in using this method:
m365 login --authType password --userName brandnewusername --password password
m365 teams app update --id guid --filePath  "d:\temp\TeamsApp_buildId-dev.zip"

[2021-01-21 14:43] garrytrinder commented on #2088
Sounds like a plan 👍🏻

[2021-01-21 14:44] garrytrinder commented on #2092
Thanks for reporting @eiriksanderfjeld apologies for the trouble, we will take a look ASAP.

Can I ask whether this is the first time you have used the command or has this just stopped working?

[2021-01-21 14:45] garrytrinder commented on #2091
Can I ask whether this is the first time you have used the command or has this just stopped working for you?

[2021-01-21 14:47] eiriksanderfjeld commented on #2092
This worked before new year. It worked both locally and in Azure DevOps deploy pipeline.

[2021-01-21 14:57] garrytrinder commented on #2092
Thanks for the extra information, it seems like we've introduced a regression when refactoring the code base to remove some dependencies.

Again, apologies for the trouble, we will aim to get you unblocked ASAP.

[2021-01-21 14:58] m-carter1 commented on #2091
This is the first time I've used it so it may be something I'm doing wrong but I was able to successfully get the flow json back just not the zip file. I get the same results on another tenant also.

[2021-01-21 14:58] appieschot commented on #2091
When prepping my pnp demo I had the exact same issue for 15 out of the 20 flows I wanted to export. The weird thing is that it did work 15m later for some of those 15 that first failed.. Could it be that MSGraph has perf. degredation?

[2021-01-21 15:11] estruyf commented on #2088
I'll do the change

[2021-01-21 18:02] waldekmastykarz commented on #1945
We had the spec approved, so you can definitely start working on it. Appreciate your help! 👍

[2021-01-21 18:04] waldekmastykarz commented on #2091
@m-carter1 before we start investigating it, could you please check if you can still repro the issue?

[2021-01-21 18:11] waldekmastykarz commented on #2092
Hey @eiriksanderfjeld, I can't reproduce the issue using the latest preview version. Could you please give it a try and see if the issue is still there? If you're still seeing the issue, could you please run the command with `--debug` and share with us the detailed output (don't forget to truncate the access token). Appreciate your help.

[2021-01-21 18:13] Laul0 commented on #748
Close this one because of duplicate #1834

[2021-01-21 18:13] #748 closed

[2021-01-22 08:09] arjunumenon opened #2093 "Bug report (Docs): Wrong command name in the Documentation for spo listitem get"
### Description

Open the documentation for [spo list item get](https://pnp.github.io/cli-microsoft365/cmd/spo/listitem/listitem-get/). You can see that heading for the command is wrong.

### Steps to reproduce

Open the command documentation for [spo list item get](https://pnp.github.io/cli-microsoft365/cmd/spo/listitem/listitem-get/).
The command header is given as `spo listitem add` instead of

[2021-01-22 08:10] arjunumenon commented on #2093
Hello - Please feel free to assign it to me if you guys are fine with that. More than happy to make the change

[2021-01-22 09:11] m-carter1 commented on #2091
@waldekmastykarz  yes still getting the 403 issue this morning

I'm authenticating using `m365 login` and then using the device code in a browser I assume that's correct and I'm not missing anything?

[2021-01-22 09:20] eiriksanderfjeld commented on #2092
Right, thanks. Here is the output from debug. I've removed ids, token and data buffer. If i decode the token i get this scp:
"scp": "AllSites.FullControl AppCatalog.ReadWrite.All Directory.AccessAsUser.All Directory.ReadWrite.All Group.ReadWrite.All IdentityProvider.ReadWrite.All Mail.Send Reports.Read.All TermStore.ReadWrite.All User.Invite.All User.Read.All",

`

+   & "node$exe"  "$basedir/node

[2021-01-22 10:24] garrytrinder commented on #2093
Good catch @arjunumenon 👏

All yours 👍

[2021-01-22 10:40] garrytrinder commented on #1832
When you start the remote container, you will see a prompt flash up with a link to show the log, this will display all the commands that are run when building and running the container.

[2021-01-22 11:59] waldekmastykarz commented on #2091
That is correct. Are you the owner of the flow that you're trying to export? Can you open it in the browser?

[2021-01-22 12:03] m-carter1 commented on #2091
Yes I am the owner and I'm able to open it in the browser.
The export works when setting `--format=json`  but without that it's a 403 error

[2021-01-22 12:04] waldekmastykarz commented on #2092
Using the same account, can you update the same app through the Teams UI?

[2021-01-22 12:05] waldekmastykarz commented on #2091
@appieschot does that sounds like anything you've see in the past few days?

[2021-01-22 12:57] waldekmastykarz opened #2095 "Bug report: Incorrect output when selecting a single property using JMESPath query"
### Description

When you use JMESPath query to select a single property from the object retrieved from the API, CLI incorrectly renders the output in the terminal.

### Steps to reproduce

[code]

### Expected result

[code]

### Actual result

[code]

### Environment

Latest preview (v3.5.0)

[2021-01-22 13:09] waldekmastykarz opened #2096 "Enhancement: allow retrieving access token for SharePoint using `sharepoint` as resource"
We should consider simplifying retrieving access token for SharePoint by using `sharepoint` as a resource rather than the exact SharePoint URL. If SharePoint URL has been previously retrieved (this can be confirmed using `m365 spo get`), you could specify `m365 util accesstoken get -r sharepoint` and the command would replace `sharepoint` with the actual SharePoint URL and return the token. If the

[2021-01-22 13:25] #2059 closed

[2021-01-22 14:39] kfrymus commented on #2071
Hi,
We have resolved the issue and it was issue in our prod env. We saw in logs in ADFS that there is an issue with recognizing the user and we noticed two users with the same email, so ADFS could not authenticate user. After the fix I'm able to login with authType password.
Thank you

[2021-01-22 18:22] waldekmastykarz commented on #2071
Awesome! Great to hear you're unblocked and thanks for sharing the root cause. There is always a chance someone else will come across a similar issue so it could help others 👏

[2021-01-23 09:44] waldekmastykarz commented on #2091
@m-carter1 do you get this issue on all or some flows?

[2021-01-23 21:04] douglasromao commented on #2031
@waldekmastykarz and @plamber , I was looking that there is another command that seems to do the same thing as this one, is this correct?

O365GROUP_RESTORE: `${prefix} o365group restore`

[2021-01-24 05:10] plamber commented on #2031
Hi @douglasromao,
yes. You are right. In the issue #1982 we mentioned that we are extending the existing command with the new parameters and create an alias for the old one. In such a way we ensure that we do not have breaking changes for scripts using the old command name.

Maybe we were not explicit enough in this issue. Sorry for that.

My recommendation would be to take the existing command, r

[2021-01-24 19:11] waldekmastykarz opened #2100 "Bug report: `spo site list` doesn't return all sites"
### Description

`spo site list` doesn't return all site collections. The following types of sites are not being returned:

- app catalog
- communication site
- team site without group
- classic

### Steps to reproduce

`m365 spo site list`

### Expected result

Returns all existing site collections

### Actual result

Returns some site collections

### Environment

Latest beta v3.5.0

[2021-01-24 19:13] waldekmastykarz commented on #2100
This is by design. To get all sites, use the `spo site classic list` command instead.

To avoid this confusion in the future, we should merge both commands.

[2021-01-24 19:13] #2100 closed

[2021-01-25 09:15] m-carter1 commented on #2091
@waldekmastykarz yes all of them, I've just tried creating a new flow and same issue with that one too

[2021-01-25 10:50] erwinvanhunen commented on #2091
@waldekmastykarz We're seeing the same issues in PnP PowerShell, which is calling exactly the same end points.

[2021-01-25 10:52] appieschot commented on #2091
I have the same issue on all flows on my dev tenant :(

[2021-01-25 15:35] waldekmastykarz commented on #2091
Is the option in the UI available or gone? Could it be that the functionality has been removed from the service?

[2021-01-25 15:37] m-carter1 commented on #2091
@waldekmastykarz I am still able to export flows as a zip from the UI

[2021-01-25 18:52] waldekmastykarz commented on #2091
Seems like there were some changes in the underlying API. Let's see if we can adjust the command to accommodate the changes.

[2021-01-26 08:12] #2091 closed

[2021-01-26 08:12] #2093 closed

[2021-01-26 08:23] waldekmastykarz commented on #2091
@m-carter1 we've just released a new preview version where this issue should be fixed. Could you please give it a try by running `npm i -g @pnp/cli-microsoft365@next`?

Once again thank you for reporting the issue! 👏

[2021-01-26 09:12] m-carter1 commented on #2091
thanks @waldekmastykarz I've updated and it now works as expected

[2021-01-26 09:41] sdacalor commented on #2091
Hi,
I have been working on this error since january 11th. Also open an MSFT incident ticket.
The bug is present on 3.4.0 and 3.5.0 since january 11th.

Don't know how is happened.

[2021-01-26 12:15] sprider opened #2104 "New sample script: Export conversations from Microsoft Teams Channel"
Hi Team,

Could you please review the below sample and let me know if we can add this under sample scripts?

|Docs||
|-----|----|
|Author| Joseph Velliah(sprider) |
|Original Post| https://sprider.blog/export-conversations-from-microsoft-teams |
|Description| Export conversations from Microsoft Teams Channel with CLI for Microsoft 365|
|Keywords| `Microsoft Teams` `PowerShell` |

[2021-01-26 22:15] Abderahman88 commented on #1986
I would like to help with this issue. 🤚

[2021-01-26 22:44] Abderahman88 opened #2106 "Bug report: Failed file convert pdf test on Node < 14.14.0"
### Description
Failing test for `file convert pdf` on Windows 10

### Steps to reproduce
1. get latest code
2. npm run build
3. npm t

### Expected result
All tests passing.

### Actual result
![rmSyncFail](https://user-images.githubusercontent.com/36161889/105915467-114eb680-6030-11eb-9ac3-836391820c7e.PNG)

### Environment
- Windows 10
- Node  v12.19.0
- M365 CLI v3.5.0

[2021-01-26 22:48] Abderahman88 commented on #2106
Can someone replicate this issue?

[2021-01-27 03:16] plamber commented on #1986
Hi @Abderahman88,
thank you for your contribution. The issue is all yours.

Please let us know if you have some questions or if you require some help.

br,
Patrick

[2021-01-27 04:21] arjunumenon commented on #2106
Hey @Abderahman88  - I am able to repro the failing test in my environment as well. My node version is `14.0.0`. That is the only difference I am having compared @Abderahman88 's version.

![image](https://user-images.githubusercontent.com/10369964/105942373-1e49c500-6085-11eb-84f7-4aa61eaca682.png)

[2021-01-27 04:40] arjunumenon opened #2107 "New sample script: Monitor and Notify Microsoft 365 health status"
|Docs||
|-----|----|
|Author| Arjun Menon (https://twitter.com/arjunumenon) |
|Original Post| https://arjunumenon.com/tenant-status-solution-m365cli/ |
|Description| This is a script which monitors the health status of your Microsoft 365 tenant and notifies if something is not Normal. Script creates a SharePoint List and will add the outage content to that. It will also will send an email notifica

[2021-01-27 08:35] waldekmastykarz commented on #2106
@Abderahman88 for development, we require Node@14.
Thanks for checking @arjunumenon, let us check if we can repro it 👍

[2021-01-27 08:37] waldekmastykarz commented on #2107
Awesome! Let's get it in 👏

[2021-01-27 08:39] waldekmastykarz commented on #2104
Looks good! Let's get it in 👏

[2021-01-27 11:13] waldekmastykarz commented on #2106
Hey folks, I can't repro it in PowerShell@7.1.0 on Node@14.15.3.

Steps I tried:

- `git pull origin main`
- `npm install`
- `npm run build`
- `npm test`

I'm getting 100% coverage with all tests passed

[2021-01-27 12:44] #2095 closed

[2021-01-27 12:44] #2043 closed

[2021-01-27 14:38] appieschot opened #2108 "New command: pa environment list"
### Usage

`pa environment list [options]`

### Description

Lists Microsoft Power App environments in the current tenant

### Options

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `-o, --option <option>` | option                                    |
| `-o, --output [output]` | Output type. `json,t

[2021-01-27 14:43] appieschot opened #2109 "New command: pa environment get"
### Usage

 `pa environment get [options]`

### Description

Gets information about the specified Microsoft Power Apps environment

### Options

Option | Description
-- | --
`-n, --name <name>` | The name of the environment to get information about

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `-o,

[2021-01-27 14:52] appieschot opened #2110 "New command: pa app get"
### Usage

`pa app get [options]`

### Description

Gets information about the specified Microsoft Power App

### Options

Option | Description
-- | --
`-n, --name --<name>` | The name of the Power App to get information about

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `-o, --option <option>` |

[2021-01-27 15:00] eiriksanderfjeld commented on #2092
Yes, i have no issues when i add the same app through the Teams UI. (Microsoft Teams admin center).

[2021-01-27 15:07] Abderahman88 commented on #2106
@waldekmastykarz I will add Node@14 to my nvm-list. 👍

[2021-01-27 18:33] waldekmastykarz commented on #2106
@arjunumenon any additional information that you could provide to help determine if it's indeed a bug?

[2021-01-27 18:34] waldekmastykarz commented on #2092
Do you get the same error when trying to update another app using CLI?

[2021-01-27 18:35] waldekmastykarz commented on #2110
Good spec. Let's rephrase `Power Automate App` to `Power App` as that's the official name

[2021-01-27 18:36] waldekmastykarz commented on #2109
Let's rephrase `Power Automate` to `Power App`

[2021-01-27 18:36] waldekmastykarz commented on #2108
Let's rephrase `Power Automate` to `Power App`

[2021-01-27 18:42] waldekmastykarz opened #2112 "Enhancement: Remove option description from code"
Raised from #2078

Let's remove the option description from code to avoid duplication and discrepancy between .ts and .md.

[2021-01-28 04:28] plamber commented on #2075
Hi @rabwill,
I have a sample script [here](https://www.nubo.eu/List-all-tabs-in-Microsoft-Teams-teams-in-the-tenant-using-CLI-for-Microsoft-365/). I am going to make a PR soon.

br,

[2021-01-28 04:55] arjunumenon commented on #2106
Hello @waldekmastykarz  - I had tried couple of more cases with multiple machines as well.

For each cases, I had done the below steps which you also had executed.
`git pull origin main`
`npm install`
`npm run clean`
`npm run build`
`npm test`

### Machine 1 - PowerShell
PowerShell Version : 5.1.16299. Node : 14.0.0
Test Result : FAIL

### Machine 1 - PowerShell
#### Cloned the main branch Repo in

[2021-01-28 08:58] rabwill commented on #2075
Wohoo thanks so much @plamber 😎

[2021-01-28 18:11] estruyf opened #2114 "Bug report: JSON parsing issue with multiple `spo page` commands"
### Description

There are issues with the `escapedStringToJson` method which is used for web part property JSON parsing.

![Screenshot 2021-01-28 at 18 35 17](https://user-images.githubusercontent.com/2900833/106180333-73c4c580-619c-11eb-9863-a8f1839516d3.png)

It seems to be related to the contents which some web parts return.

### Steps to reproduce

Seeing this issue from time to time with the

[2021-01-28 18:51] waldekmastykarz commented on #2106
OK, so seems we might have a problem. The [`rmSync`](https://nodejs.org/api/fs.html#fs_fs_rmsync_path_options) function that we're using here, has been added in Node v14.14.0, so it's not related to Windows but rather to the version of Node that you're using. I think we need to look for an alternative that works in older Node versions as well. Good catch! 👏

[2021-01-28 18:58] waldekmastykarz commented on #2114
Thanks for reporting the issue. Do you have clearer repro steps that we could use to fix the issue?

[2021-01-28 19:22] estruyf commented on #2114
Not at the moment, it goes wrong with the decoding HTML sting and JSON parsing afterwards. Once I know more why or how it happens, I'll add it here.

[2021-01-29 07:37] estruyf commented on #2114
Found the issue, it seems that one of the contents of markdown web parts contained a `\`. This doesn't get correctly escaped to two `\\` in the method, hereby it fails.

[2021-01-29 08:55] #2106 closed

[2021-01-29 08:55] #2114 closed

[2021-01-29 08:57] waldekmastykarz commented on #2106
I've replaced `rmSync` with `unlinkSync` which should do the job. Once again thanks for catching and reporting this 👏

[2021-01-29 09:16] arjunumenon commented on #2106
Awesome. Just tested the same in my machine and works like a charm. 👏.

Nothing cooler than an awesome teamwork.. 💓

[2021-01-29 13:29] Abderahman88 commented on #2106
Great teamwork 💪

I have a small remark. The CLI-documentation says node v8 or higher is needed. Does this change also works in v8?
If not then the documentation need to be changed.

![nodeDoc](https://user-images.githubusercontent.com/36161889/106280260-35c3b200-622d-11eb-8392-0e6aba8fd477.PNG)

[2021-01-29 14:35] plamber opened #2119 "Is there a way to retrieve the regional settings of a SPO site?"
Hello,
I am looking for a way to retrieve the regional settings assigned to an SPO site.

Is there a command that allows me to perform this operation?

Furthermore, is there a command that allows me to change these?

Thank you,
Patrick

[2021-01-29 16:12] ibodrin-rogers opened #2120 "Adding a file to Sharepoint - Error: Request body larger than maxBodyLength limit"
m365 spo file add --webUrl xxx --folder 'xxx' --path xxx

Cannot upload file larger than 10MB to SharePoint and getting the error:
Error: Request body larger than maxBodyLength limit

Is there a workaround?

CLI for Microsoft 365 v3.4.0
node v14.15.4

[2021-01-29 16:23] appieschot commented on #2120
Thanks for reporting the issue, are you running on OSX or Windows?

[2021-01-29 16:32] ibodrin-rogers commented on #2120
RHEL 7.8

[2021-01-29 16:32] appieschot commented on #2119
I don't think we currently support that; the `m365 spo site get -u "https://contoso.sharepoint.com/" -o json` does not return it as it is not part of the REST API. You can use the `m365 spo propertybag list -u "https://contoso.sharepoint.com/"` to get the `vti_defaultlanguage`. That will tell you the language settings, but not other settings. Think you are looking at time zone settings as well?

[2021-01-29 16:38] appieschot commented on #2120
Can confirm that the issue occurs on Windows 10 with PowerShell Core with 3.5.0 as well (and old v12.18.3 off node in this test machine).

Thanks for reporting, we will get into it!

[2021-01-29 18:17] waldekmastykarz commented on #2106
`unlinkSync` works in Node@8 so the docs are correct. Thanks for double checking @Abderahman88 👍

[2021-01-29 18:19] waldekmastykarz commented on #2120
@appieschot are you looking into it already?

[2021-01-29 18:24] appieschot commented on #2120
Doing dinner first, can have a look tomorrow!

[2021-01-30 13:48] plamber commented on #2038
I will pick this up and verify what is feasible

[2021-01-30 13:50] plamber commented on #2119
Hi @appieschot,
getting the default language of the site is already something. On the other hand, it would be nice to see and modify the regional settings of the site.

br,
Patrick

[2021-01-30 17:15] waldekmastykarz commented on #2119
Shall we investigate if it's possible to extend the current `spo site get` command to include the necessary information?
If we also want to update support updating these settings, then let's create a separate issue for easier tracing.

[2021-01-30 19:07] aakashbhardwaj619 commented on #1878
Hey Guys! I would like to work on this if it's still available.

[2021-01-30 22:44] appieschot commented on #2120
I took a first stab at it but haven't found the issue yet. Hopefully I can wrap up on Monday,

[2021-01-31 06:00] plamber commented on #1878
Hi @aakashbhardwaj619,
thank you for reaching us out. It's all yours.

Feel free to contact us if you have some questions.

br,
Patrick

[2021-01-31 10:00] waldekmastykarz opened #2123 "Simplify returning command name"
In some commands we return command name using:

[code]

Since the only thing we're returning is the actual command name, there is no need to use string interpolation and we should refactor it to just:

[code]

O365GROUP_GET is not the only command where we do this, so we should check all commands as a part of this refactoring (regex to the rescue! 😎)

[2021-01-31 12:02] waldekmastykarz opened #2124 "Research: can we use async?"
In the past we couldn't use async because c8, which we use for coverage, didn't support it properly.
Since we're now on Node@14 and use a newer version of c8, we should check if we can use async.
There are cases when async is easier to use than Promises so knowing if we can use it, would be beneficial.

We can prove that we can use async by refactoring one of the pieces of code that uses promises

[2021-01-31 13:21] waldekmastykarz opened #2125 "Bug report: 8 failing tests in `tenant auditlog report` on Node@10"
### Description

When you run tests without coverage on Node@10, 8 tests for the `tenant auditlog report` fail.

### Steps to reproduce

1. Use Node@14
1. Build project `npm run build`
1. Switch to Node@10
1. Run tests without coverage `./node_modules/.bin/mocha "dist/**/*.spec.js"`

### Expected result

All tests pass

### Actual result

8 tests fail

### Environment

Node@10.18.0
CLI@3.6.0 lates

[2021-01-31 18:45] waldekmastykarz commented on #2076
What if we used the following:

[code]

Would this work, or is there an easier/more convenient way?

The Azure Portal expects you to provide the ID of the authorized app, so would it be okay to assume that it's something you know and don't need to spend more time looking up than the app's name for example?

For the scopes, would it be fair to assume that we don't need the application ID URI and yo

[2021-01-31 18:54] waldekmastykarz commented on #2077
Just to check: the idea here is to be able to define one or more roles with the app registration, right?

I suspect, typically you'd specify more than one role. If that's the case, in order for us to support specifying multiple roles, each with multiple properties, would likely require users to specify the data using JSON which isn't really convenient. What if instead, we'd introduce a new command

[2021-02-01 03:39] rabwill commented on #2124
Can take this up to check!

[2021-02-01 04:15] rabwill commented on #2124
Looks good 😀

Updated below code in `teams funsettings list`  command

This
[code]

Became
[code]

And ran `npm run build` followed by `npm t`

With 100% coverage and all tests passed.
Did we need anything to check further?

[2021-02-01 08:10] wictorwilen commented on #2076
This looks great, thanks!

[2021-02-01 08:12] wictorwilen commented on #2077
I'd prefer the second option with `aad app role list|add|delete|set`

[2021-02-01 11:19] IAMBasantPandey opened #2129 "Bug report: Unable to create the appcatalog"
### Description

### Steps to reproduce

### Expected result

### Actual result

    at SpoTenantAppCatalogUrlGetCommand.getUsedCommandName (C:\Users\PandeyB\AppData\Roaming\npm\node_modules\@pnp\cli-microsoft365\dist\Command.js:47:37)
    at SpoTenantAppCatalogUrlGetCommand.initAction (C:\Users\PandeyB\AppData\Roaming\npm\node_modules\@pnp\cli-microsoft365\dist\Command.js:219:24)
    at Auth_1.de

[2021-02-01 12:41] waldekmastykarz commented on #2124
Nice! 👏 I think this concludes our research.

Now that we know this is available to us, we could have a look at our codebase and identify some candidates for refactoring. I know that we have some commands where we pass around promises and which could benefit from this simplicity. Let's create a separate issue to identify these commands.

[2021-02-01 12:41] #2124 closed

[2021-02-01 12:43] waldekmastykarz opened #2130 "Research: identify commands to refactor to async"
Related to #2124

Now that we confirmed that we can use async without losing coverage, let's have a look at our codebase and identify commands that could benefit from refactoring promises to async. I know that we have some commands where we pass around promises and which makes the code unnecessarily complicated, so if we refactored it to async, it would simplify maintaining that code going forward

[2021-02-01 12:45] waldekmastykarz commented on #2077
Thanks! Let's give other @pnp/cli-for-microsoft-365-maintainers to chime in to verify there is nothing we're forgetting. If we didn't forget anything, we'll proceed with spec'ing the separate commands you mentioned.

[2021-02-01 12:51] waldekmastykarz commented on #2129
Thanks for reporting and sorry for the trouble. Which version of Node are you using?

[2021-02-01 13:04] garrytrinder commented on #2077
I agree with @wictorwilen 👍🏻

Great suggestion 👏🏻

For convenience, we should also include an option for specifying the `appName`so we don't have to make another request to get the `appId` to pass in.

[2021-02-01 13:08] waldekmastykarz commented on #2077
The `add app add` command returns `appId` but if you're looking into extending an existing app reg then using a name is definitely easier. 👍

[2021-02-01 14:43] JakubWoo commented on #2120
We experience the same issue on Linux. If you lower fileChunkingThreshold value to 10MB upload goes fine in chunk mode, but it requires node.js source code editing:

[code]

[2021-02-01 14:46] JakubWoo commented on #2120
Another "workaround" is adding maxBodyLimit option in line 160 of file-add.js:
[code]

[2021-02-01 16:47] appieschot commented on #2120
@JakubWoo thanks for the pointer! Did update our chunk size to 250mb as well and added the maxbodylength to match the maxchunksize. Will do a PR right away.

[2021-02-01 16:57] appieschot commented on #2077
App Names are not unique so potentially so when speccing the name option lets do a are you sure check like with deleting I guess.

[2021-02-01 18:31] nanddeepn commented on #2123
Hi @waldekmastykarz
Can I work on this?

[2021-02-01 21:35] garrytrinder commented on #2123
All yours @nanddeepn

Thank you for the help 👍🏻

[2021-02-01 23:49] rabwill commented on #2130
Hey @waldekmastykarz , so to be just to be clear, the commands we are looking for are like `teams channel get` where we are getting `teamId` from `teamName`, we could refactor this [function](https://github.com/pnp/cli-microsoft365/blob/7d100202b667e69f83848dd832c524e784b40940/src/m365/teams/commands/channel/channel-get.ts#L100) to be async  and then keep the the main function [request](https://gi

[2021-02-02 04:14] IAMBasantPandey commented on #2129
@waldekmastykarz  The Bug has been updated with the Node version.

Node Version V10.22.1
![image](https://user-images.githubusercontent.com/54974327/106551167-9fe49b80-653a-11eb-95fd-c52bc456f7d2.png)

Just FYI not sure if this related to this bug or not, created another [bug](https://github.com/pnp/powershell/issues/199). This time the issue in the PNP.PowerShell command let. They both doing the

[2021-02-02 09:18] waldekmastykarz commented on #2077
Good point. Where the names are not unique, we prompt users to disambiguate before proceeding. We have this implemented in a few commands already so we should use the same pattern.

[2021-02-02 09:21] waldekmastykarz commented on #2130
This is an easy case. Cases like https://github.com/pnp/cli-microsoft365/blob/7d100202b667e69f83848dd832c524e784b40940/src/m365/tenant/commands/auditlog/auditlog-report.ts#L94-L110 would benefit more so ideally we should handle them first.

[2021-02-02 09:22] waldekmastykarz commented on #2129
Interesting, so perhaps something has changed in the underlying API. Let us investigate the issue and get back to you as soon as we know more, ok? Thanks again for all the details, it's very helpful 👍

[2021-02-02 11:18] JakubWoo commented on #2120
Adding possibility to set chunk size as optional command parameter would be just awesome ;)

[2021-02-02 11:39] #1979 closed

[2021-02-02 11:39] #2120 closed

[2021-02-02 11:39] #2125 closed

[2021-02-02 11:41] waldekmastykarz commented on #2120
We've just released a new preview version v3.6 with this bug fixed. Once again thank you for reporting and helping to fix the issue ❤️

[2021-02-02 11:42] waldekmastykarz commented on #1979
It's taken a bit longer than originally planned, but we've just released a preview version v3.6 with this option implemented. Once again thank you for bringing the limitation to our attention and helping us with addressing it 👏

[2021-02-02 12:50] appieschot opened #2133 "New command: pa app remove"
### Usage

`pa app remove [options]`

### Description

Removes the specified Microsoft Power App

### Options

Option | Description
-- | --
`-n, --name --<name>` | The name of the Power App to get information about
`-e, --environment <environment>` | The name of the environment for which to retrieve available Power App
`--asAdmin` | Set, to retrieve the Power App as admin
`--confirm` | Don't promp

[2021-02-02 17:16] Tinathnath opened #2134 "Login fails if password starts with @"
### Description

Hi,
I have an AZ Devops Pipeline to deploy SPFx packages.
There are multiple jobs running the same commands so I created a template.
It works like a charm... until today. The service account I use to login to my environment has a password starting with an "@" and it seems like the CLI does not like it.

### Steps to reproduce

- Create a template pipeline with M365 CLI commands, i

[2021-02-02 18:38] waldekmastykarz commented on #2134
Thank you for reporting the issue and sorry for the trouble. You're absolutely right: our recent addition to support passing file contents is affecting this. We'll fix it asap

[2021-02-02 18:54] waldekmastykarz commented on #2129
Looking closer, it seems to be an issue in our code. Working on it...

[2021-02-02 19:15] Tinathnath commented on #2134
That was a fast reply ! Thank you !
I didn’t see anything in the docs mentioning a file path as a parameter. Is that a future release feature ?

[2021-02-02 19:17] waldekmastykarz commented on #2134
We have introduced it in v3.5 so it's brand new. More info: https://pnp.github.io/cli-microsoft365/user-guide/using-cli/#passing-complex-content-into-cli-options

[2021-02-02 19:17] waldekmastykarz commented on #2134
The PR is ready and most likely we'll release a preview version with the fix tomorrow

[2021-02-02 19:42] anilkumar82 opened #2137 "Unable to add SPFX package to Site Collection App catalog using M365 cli"
Dear All,

Have been trying to setup Azure DevOps (CI/CD). The CI part (build) is working fine, however the CD (release) part fails wherein Adding .sppkg package (using Microsoft 365 cli) to site collection app catalog fails with "Error: Request failed with status code 403" (below is detailed error message). The account being used is "Global admin" & "SharePoint admin". Any pointers is much apprec

[2021-02-02 20:37] garrytrinder commented on #2137
Thank you for reporting the issue @anilkumar82 apologies for the trouble, let's see what is causing the issue.

We recently had an issue raised recently #2092 with a similar report, so this maybe related.

Using the same account, are you able to add the app through the UI?

Could you also provide some more information on the Azure DevOps agent environment and version of CLI you are using?

[2021-02-02 23:38] garrytrinder commented on #1832
I've just tested with a fresh Codespace, the `npm install` was performed automatically on build and I was able to execute `npm run build` successfully at the terminal.

Are we happy to move this forward?

/cc @pnp/cli-for-microsoft-365-maintainers

[2021-02-03 08:00] waldekmastykarz commented on #1832
Totally! LGTM 🚀

[2021-02-03 09:19] anilkumar82 commented on #2137
@garrytrinder - Thank you for your quick response.

Just to give more clarity, we have 2 tenants (QA & Prod). Yes, using the account package can be successfully added to site collection app catalog & also tenant app catalog (both for QA & Prod tenant).

Did some further investigation & found that issue might not be related to Azure DevOps specifically.

When I run same Microsoft365 CLI commands lo

[2021-02-03 10:24] waldekmastykarz commented on #2137
@anilkumar82 using the same credentials as in the `m365 login` command, could you run the `m365 spo app add` command with the `--debug` option, take and access token, put it in https://jwt.ms and share the value of the `scp` property (below is an example of how it looks like)?

![image](https://user-images.githubusercontent.com/11164679/106733544-4e0f4480-6612-11eb-9014-6fea1088b843.png)

It could

[2021-02-03 11:13] arjunumenon commented on #1832
I am sorry @garrytrinder that I had not responded. Somehow conversation was missed from my end.

I had done another round of testing today and I guess I am the black sheep. I am still unable to get expected result. 😞.
Going into the details, I see that the failure is happening in the last line of the `container.json` file which is `npm i &&  npm run clean && npm run build && npm run link`.

I have

[2021-02-03 12:35] waldekmastykarz opened #2138 "Enhancement: improve error messages"
When API requests fail, we used to print the error message returned by the API, eg. `The destination file already exists.`. After switching to Axios, we now print the generic web request error, eg. `Request failed with status code 400`. As you can see, the generic error is meaningless and doesn't tell you what went wrong and how to fix it. We should therefore bring back the old behavior and show t

[2021-02-03 13:23] anilkumar82 commented on #2137
Tried placing access token in https://jwt.ms, but not getting any output. See screen attached. Am I missing anything?

<img width="736" alt="jwt_output" src="https://user-images.githubusercontent.com/40851643/106748942-3a6dd900-6626-11eb-96ad-f8a16a226699.png">

[2021-02-03 14:42] #2129 closed

[2021-02-03 14:42] #2088 closed

[2021-02-03 14:42] #2134 closed

[2021-02-03 14:45] waldekmastykarz commented on #2137
You should see the output that I've shared in the window below in the "Decoded Token" section.

Since the token is like a password, unless you're using a dummy account on a test tenant, I'd recommend you delete the image/comment to avoid others abusing your token.

[2021-02-03 14:47] waldekmastykarz commented on #2129
We've just released a preview version 3.6 with the issue fixed. Once again, sorry for the trouble and thank you for reporting the issue.

[2021-02-03 14:56] waldekmastykarz commented on #2134
We have just released a new preview version 3.6 with this issue fixed. Once again, sorry for the trouble and thank you for reporting the issue.

[2021-02-03 16:47] anilkumar82 commented on #2137
@waldekmastykarz - Tried couple of times, but nothing appearing in Decoded section. Is it possible to setup a call, please?

[2021-02-03 18:44] waldekmastykarz commented on #2137
I've just noticed that you're trying to add the app to the site collection app catalog. Could you please verify if the account that you're using can access that site collection and the app catalog underneath it?

[2021-02-03 18:56] waldekmastykarz commented on #1832
I can confirm that everything is working as intended for me. Just to be sure, I chose to rebuild the container. `npm i` runs as expected and I can also build the project.

[2021-02-03 19:06] waldekmastykarz commented on #2092
Closing due to lack of response

[2021-02-03 19:06] #2092 closed

[2021-02-03 19:08] waldekmastykarz commented on #2077
Keeping this issue open for now as a reminder to spec the `aad app role list|add|delete|set` commands. Once specs are in place we can close this issue

[2021-02-03 19:32] Tinathnath commented on #2134
You're welcome. Thank you for your reactivity !

[2021-02-04 07:40] garrytrinder commented on #1832
Thanks for the update @waldekmastykarz 👍🏻

I'm catching up with @arjunumenon today to make sure we aren't overlooking something.

[2021-02-04 09:48] estruyf opened #2140 "Enhancement: `spo page set` add title argument so that the page title can be updated"
### Description

Add the `--title` option so that the page title can be updated as well.

[2021-02-04 10:24] #1404 closed

[2021-02-04 10:24] #2108 closed

[2021-02-04 10:24] #2112 closed

[2021-02-04 10:24] #2140 closed

[2021-02-04 10:26] anilkumar82 commented on #2137
@waldekmastykarz - Yes, the account was having site collection admin rights. However, this issue got resolved now.

Executing below command did the trick for us ([ref article](https://pnp.github.io/cli-microsoft365/user-guide/connecting-office-365/)).

**m365 cli reconsent**

Thank you for your support :)

[2021-02-04 18:36] garrytrinder commented on #2137
Great to hear that this has now been resolved for you @anilkumar82 👍🏻

[2021-02-04 18:37] #2137 closed

[2021-02-04 18:44] garrytrinder commented on #2092
If this is still an issue, could you run the `reconsent` command and see if that fixes the issue for you?

[code]

[2021-02-04 18:47] waldekmastykarz commented on #2137
Brilliant! Sorry for the trouble and great to hear you're unblocked.

[2021-02-04 18:53] waldekmastykarz opened #2144 "New command: get AAD app registration roles"
Raised from #2077

### Usage

`aad app role list [options]`

### Description

Get Azure AD app registration roles

### Options

Option | Description
-- | --
`--appId [appId]`|ID of the Azure AD app registration for which to retrieve roles. Specify `appId` or `appName` but not both
`--appName [appName]`|Name of the Azure AD app registration for which to retrieve roles. Specify `appId` or `appName`

[2021-02-04 18:58] waldekmastykarz opened #2145 "New command: add Azure AD app registration role"
Raised from #2077

### Usage

`aad app role add [options]`

### Description

Adds roles to the specified Azure AD app registration

### Options

Option | Description
-- | --
`--appId [appId]`|ID of the Azure AD app registration for which to retrieve roles. Specify `appId` or `appName` but not both
`--appName [appName]`|Name of the Azure AD app registration for which to retrieve roles. Specify `app

[2021-02-05 10:17] arjunumenon commented on #1832
Hey @garrytrinder  / @waldekmastykarz  - I guess we have a better news.

My initial setup was running the containerized code inside a WSL2 running on top of Docker.

Now instead, I cloned the project in my native Windows machine file system. After that when I open the project from the container, all the commands which are part of `devcontainer.json` is working as expected. Without the need for run

[2021-02-05 12:56] aakashbhardwaj619 commented on #1878
Hi @plamber! Could you please confirm if user's UPN should be used instead of the displayName? And if so, should I update the `userDisplayName` option with `userName` like in the [user app list](https://pnp.github.io/cli-microsoft365/cmd/teams/user/user-app-list/) command?

[2021-02-05 12:57] waldekmastykarz opened #2147 "3 failing tests for `spo file add` in Node@14 on Windows"
### Description

We have 3 failing tests in `spo file add` in Node@14 on Windows:

### Steps to reproduce

1. Pull latest from main
2. `npm run build`
3. `npm test`

### Expected result

No errors

### Actual result

[code]

### Environment

- main
- Node@14.15.3
- Windows
- PowerShell 7.1.0

[2021-02-05 12:58] waldekmastykarz commented on #2147
@appieschot would you mind taking a look at it? I wonder if these errors are related to the recent change for supporting uploading large files.

[2021-02-05 13:09] waldekmastykarz commented on #2083
We've just moved to GitHub actions. We've extended building to macOS and Ubuntu and testing to Node@10, 12 and 14. Coverage is now reported as a part of the test step and if it drops, the build will drop as well and you can check the artefacts for the detailed coverage reports.

When moving over, we wanted to include building and testing on Windows as well. Unfortunately testing on Windows fails d

[2021-02-05 13:09] #2083 closed

[2021-02-05 13:14] appieschot commented on #2147
Will pick this up tomorrow, might be related. I ran the tests against `v12.18.3`.

[2021-02-05 13:35] plamber commented on #1878
Hi @aakashbhardwaj619,
the endpoint changed lately. What is your recommendation based on what you saw so far?

br,
Patrick

[2021-02-05 13:51] aakashbhardwaj619 commented on #1878
To add the user to the Private Channel, I'm using the user id as specified in this [example](https://docs.microsoft.com/en-us/graph/api/channel-post-members?view=graph-rest-1.0&tabs=http#example-1-add-a-member-to-a-channel) and it is working fine.

To get the userId from UPN, we would need to execute the query `https://graph.microsoft.com/v1.0/users/admin@contoso.com` and it would return the appro

[2021-02-05 13:54] plamber commented on #1878
I can recall that we had this discussion already somewhere. Indeed, for simplicity we should add these queries and add to the docs the information that this operation is less performant.

In case there are two users with the same name, i would return a warning and do not perform the operation

[2021-02-05 16:13] appieschot commented on #2147
So had some spare time this afternoon. Did a quick check after upgrading node (both `v14.15.3` and `v14.15.4`, with PowerShell `5.1.19041.610` and `7.1.0-preview.6`, in all 4 cases the tests succeeded. The only thing that triggers me is that those 3 failing testcases you mention are all taking quite some time to process:

Running in PowerShell `5.1.19041.610`

[code]

Running in PowerShell `7.1.0-

[2021-02-05 16:13] appieschot commented on #2147
Or could it be that the max timeout a 100ms is?

[2021-02-05 16:31] aakashbhardwaj619 commented on #1878
So the suggestion is to use the `userDisplayName` option with `displayName` filter query and give the warning if multiple users are found, right?

I think if we use the userPrincipalName instead of displayName, then we would not need to add the "less performant" part in the docs as it would return only a single user with the unique UPN. Let me know what you think @plamber, @waldekmastykarz. 😊

[2021-02-06 05:15] plamber commented on #1878
The idea was to use the userId for that. The specs say:
The user's ID or userprincipalname. You can also pass a comma separated list of userIds

Is the endpoint accepting the userprincipalname without additional queries in the backend or only the userId?

[2021-02-06 06:19] plamber opened #2148 "New sample script: Provision a Team with channels and assign a custom icon"
|Docs||
|-----|----|
|Author| Patrick Lamber |
|Original Post| [here](https://www.nubo.eu/Provision-A-Team-With-CLI-For-Microsoft-365/) |
|Description| Shows you how to use the CLI to provision a new Team based on a Teams template. Afterwards, it assigns a new logo to this Team |
|Keywords| Microsoft Teams, Provisioning |

I have some provisioning scripts lying on my computer that I would like to

[2021-02-06 14:27] appieschot commented on #2148
All yours

[2021-02-06 18:24] waldekmastykarz commented on #2147
Max timeout is now set to 10,000ms, due to timeouts we had on GitHub actions, so that shouldn't be the case.

[2021-02-06 18:31] waldekmastykarz commented on #2147
Tried again and I'm getting the same errors as reported. Repro steps on my end:

- pull latest from upstream main
- `npm run clean`
- `npm run build`
- `npm t`

[2021-02-06 18:34] waldekmastykarz commented on #1878
Ideally, we should accept all values. Display name might be tricky, especially for management purposes so settling on user ID and upn are a good balance of convenience and reliability. If you want to look up person's upn based on their preferred/display name, that's a separate operation.

[2021-02-06 18:35] waldekmastykarz commented on #2148
Totally! 🚀

[2021-02-06 18:52] #2045 closed

[2021-02-06 18:52] #2096 closed

[2021-02-06 18:52] #2123 closed

[2021-02-07 09:35] #2067 closed

[2021-02-07 18:56] waldekmastykarz opened #2150 "New command: delete Azure AD app registration role"
Raised from #2077

### Usage

`aad app role delete [options]`

### Description

Deletes the specified Azure AD app registration role

### Options

Option | Description
-- | --
`--appId [appId]`|ID of the Azure AD app registration for which to remove the role. Specify `appId` or `appName` but not both
`--appName [appName]`|Name of the Azure AD app registration for which to remove the role. Specify

[2021-02-07 21:33] garrytrinder commented on #1832
Thank you for troubleshooting @arjunumenon 👍🏻

As this looks like it is specific to WSL, then let's make sure we mention this in the docs when we release.

[2021-02-08 09:40] arjunumenon commented on #1832
Awesome. Sounds like a solid plan. 🚀🚀

In the docs, we just need to mention that they need execute `npm i`. Rest everything works as expected.
Atleast that is the behavior which I was having and I am sure that might be the case for everyone too who works on WSL.

Nevertheless, this development from your end is going to be super achievement considering that contributors need not do pre-requisite se

[2021-02-09 15:34] DakotaWray2 commented on #1931
@waldekmastykarz sorry for the tardiness but here are some follow up error code received when running some of the commands.

**$ m365 pa app list --debug**
data      : {"error":{"code":"TenantNotFound","message":"The tenant 'XXXXXXX' was not found."}}

**$ m365 outlook report mailactivitycounts -p D7 --debug**
data      : {"error":{"code":"BadRequest","message":"Resource not found for the segment

[2021-02-09 18:34] waldekmastykarz commented on #1931
@DakotaWray2 thank you for the additional info and I appreciate that you're still with us.

For the failed requests, would you mind sharing the request URLs? Totally OK to redact anything that's referring to your organization. What would be helpful though is the host name which we use to calculate resource URLs from. Could you share that with us as well?

Thank you for your help 👏

[2021-02-10 06:42] BassemNKhalil commented on #2017
Just a quick update on my end (seeing the updates [here](https://github.com/Azure/CloudShell/issues/63)) - I've since worked around this by installing nvm and my own version of node (in my case the latest LTS, to avoid coming back to it often) which seems to be working fine for me.

I was a bit hesitant at first to try this as I couldn't uninstall the the node version already installed on the shel

[2021-02-10 10:20] appieschot opened #2153 "Enhancement: improve environement get commands with text results"
### Description

Enhance the text result for both `m365 flow environement get` and `m365 pa environement get` to return the full JSON but only a subset of the properties.

### Proposed solution

run `m365 pa environement get --output text` or `m365 pa environement get --output text`. The response will be a JSON object as text. Should return the following properties:

- name (id)
- location
- displ

[2021-02-10 17:07] waldekmastykarz commented on #2017
Thanks for sharing! I'm sure this will help others who are stuck as well.

[2021-02-10 18:00] nanddeepn commented on #2153
Hi @appieschot
Can I work on this?

[2021-02-10 18:04] waldekmastykarz commented on #2153
Awesome! Appreciate your help @nanddeepn 👏

[2021-02-10 18:54] #2109 closed

[2021-02-10 19:17] waldekmastykarz opened #2154 "Enhancement: add support for upgrading SPFx projects to v1.12"
When SPFx v1.12 is released, CLI should allow users to upgrade their SPFx projects to v1.12.

[2021-02-11 03:04] melcloud opened #2155 "Bug report: Axios doesn't seem to use custom CA certificates"
### Description
In our enterprise setup, the SharePoint site is protected by internal issued certificates. With cli version 3.2.0 and above, any requests to SharePoint objects result 400 bad requests due to invalid SSL certificate.

This doesn't happen in version 3.1.0, where `request` library is used.

Given it is the same environment, the only change I can see is the move to Axios library. So ho

[2021-02-11 14:01] waldekmastykarz commented on #2155
Thank you for reporting the issue @melcloud and sorry for the trouble. We'll have a look at Axios and get back to you asap, ok?

[2021-02-11 14:02] waldekmastykarz opened #2156 "Enhancement: replace adal-node with msal-node"
Raised from #1399

Since adal-node is deprecated and msal-node is scheduled for GA in February '21, let's see if we can move off of adal-node to msal-node.

[2021-02-11 14:06] waldekmastykarz opened #2157 "New command: cli doctor"
### Usage

`cli doctor [options]`

### Description

Retrieves diagnostic information about the current environment

### Options

global options only

### Additional Information

This command retrieves diagnostic information that will help us debug issues:

- OS
- shell
- CLI version
- Node version
- AAD app ID
- AAD app tenant (`common` or `single` in case app tenant is a GUID)
- authentication mo

[2021-02-11 14:07] waldekmastykarz commented on #2157
Anything else we need @pnp/cli-for-microsoft-365-maintainers?

[2021-02-11 14:09] waldekmastykarz opened #2158 "Enhancement: allow automatically opening the browser with device code login"
After running the `m365 login` command in device code mode, we should offer to automatically open the default browser pointing to https://aka.ms/devicelogin. Whether the browser should open or not, should be configurable using the `autoOpenBrowserOnLogin` settings, which can be configured using `cli config set`.

Requires #2146 to be merged first

[2021-02-11 15:32] wictorwilen commented on #2155
@melcloud - have you looked into this Axios issue: https://github.com/axios/axios/issues/3005? What file are you using? Are you sure it is the root cert?
And finally what's between SharePoint Online and your app, that replaces the certificate?

[2021-02-11 16:39] leeford commented on #2021
Haven't forgotten about this, will be working on it shortly :+1:

[2021-02-11 16:46] plamber commented on #2021
Thank you for your efford

[2021-02-11 17:15] melcloud commented on #2155
Hi @wictorwilen, thank you for looking into this. We added the entire CA chain into Linux certificate trust store. The as a cautionary approach, set node extra CA to /etc/ssl/certs/ca-certificates.crt.

The host running m365 is behind corporate proxy, which talks to the SharePoint site with custom domain and certificate. The proxy has certificate inspection to make sure requests contain correct CA

[2021-02-11 17:22] wictorwilen commented on #2155
@melcloud - thanks for the clarification. I honestly don't know how Linux handles certificates. But have you tried setting the `NODE_EXTRA_CA_CERTS` and have it point to a PEM file with the root cert?

[2021-02-11 18:11] garrytrinder commented on #2157
We provide an environment variable in the Docker image called `CLIMICROSOFT365_ENV` with the value of `docker` so we should also return that if it is present.

[2021-02-11 18:14] waldekmastykarz opened #2159 "New command: update Azure AD app registration role"
Raised from #2077

### Usage

`aad app role set [options]`

### Description

Updates the specified Azure AD app registration role

### Options

Option | Description
-- | --
`--appId [appId]`|ID of the Azure AD app registration for which to update the role. Specify `appId`, `appObjectId` or `appName`
`--appName [appName]`|Name of the Azure AD app registration for which to update the role. Specify `

[2021-02-11 18:15] waldekmastykarz commented on #2077
Closing as all commands have been spec'ed

[2021-02-11 18:15] #2077 closed

[2021-02-11 18:16] waldekmastykarz commented on #2157
Updated spec @garrytrinder

[2021-02-11 18:48] garrytrinder commented on #2025
Hey @arjunumenon are you still working on this?

[2021-02-11 19:02] melcloud commented on #2155
Yes. This is what we did. And why 3.1.0 worked

On Fri, 12 Feb 2021, 04:23 Wictor Wilén, <notifications@github.com> wrote:

[2021-02-11 21:59] garrytrinder commented on #1763
Hey @sinhakislay 👋

Are you still working on this?

[2021-02-11 22:00] garrytrinder commented on #871
Hey @arjunumenon 👋

Are you still working on this?

[2021-02-11 22:00] garrytrinder commented on #2033
Hey @douglasromao 👋

Are you still working on this?

[2021-02-11 22:01] garrytrinder commented on #1834
Hey @yeshwanthjagannath 👋

Are you still working on this?

[2021-02-11 22:02] garrytrinder commented on #1578
Hey @romanrozinov 👋

Are you still working on this?

[2021-02-11 22:03] sinhakislay commented on #1763
Hi @garrytrinder Yes I am working on it, unfortunately I was not able to work on this last week due to personal commitments but I am getting back on track and plan is to be done by end of next week. I hope this is fine.

[2021-02-11 22:06] garrytrinder commented on #1763
That's absolutely no problem, thank you for the update 👍

[2021-02-11 22:11] garrytrinder commented on #1690
Hey @dips365 👋

Are you still working on this?

[2021-02-11 22:11] garrytrinder commented on #1670
Hey @dips365 👋

Are you still working on this?

[2021-02-12 08:36] waldekmastykarz commented on #2155
Thanks for the suggestion @wictorwilen. We could definitely see if `syswide-cas` makes any difference. Looking at it, it seems like it's made to support specifying multiple CAs, whereas @melcloud uses a single one. But perhaps there are some subtle differences that would unblock @melcloud.

Another thing I thought of that might be helpful is to create a minimal repro scenario that we could share w

[2021-02-12 08:38] appieschot commented on #2147
Same steps on my side works as expected, all tests are green. I am running in Windows Terminal on Windows V20H2 (19042.804). Any ideas on what could be different between our machines? @pnp/cli-for-microsoft-365-maintainers anyone else can reproduce the issue?

[2021-02-12 09:05] melcloud commented on #2155
Hi all,

Thank you for looking into this. I can get a more detail --debug output on Monday (AEDT), as I don't have access to the environment during weekend. But the issue is definitely Axios related. I tried a simple Axios request to the sharepoint site without using the cli, and it returned the same 400 error. It works fine with old `request` library

Not sure about syswide-cas, I can run a quick

[2021-02-12 09:30] waldekmastykarz commented on #2155
Appreciate your help @melcloud. The more information we have about it, the easier it will be for us to find the root cause and ideally a solution.

[2021-02-12 09:49] wictorwilen commented on #2155
Good stuff. I agree, this is not a CLI bug but an Axios issue.

[2021-02-12 11:07] waldekmastykarz commented on #2147
The weird thing is that now that we have testing on Windows, all tests pass just fine. Since we can't repro it, let's close it. Thank you for double checking @appieschot 👏

[2021-02-12 11:07] #2147 closed

[2021-02-12 13:27] estruyf opened #2161 "New command: `spo site chrome set` which allows you to set the chrome options from the site"
### Usage

At the moment only the site can be changed. In order to change the chrome settings (header layout, mega menu, ...) this command is needed.

### Description

This command allows you to set the chrome header and footer.

### Options

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `-u, --url

[2021-02-12 14:14] waldekmastykarz commented on #2161
Great suggestion! Are there so many specific settings that we need a separate command for it rather than integrating it inside `spo site set`?

[2021-02-12 14:41] estruyf commented on #2161
Think it is better to separate it, as these are all the settings for the `SetChromeOptions` API:

[code]

[2021-02-12 15:50] yeshwanthjagannath commented on #1834
Hi @garrytrinder - No, my apologies, it has been quite a busy period on my end with other assignments, so please go ahead and reassign this.

[2021-02-12 16:40] appieschot commented on #2110
After close inspection of the calls by PowerShell I updated the specs as the `--asAdmin` and `--environement` are not possible.

[2021-02-12 20:59] garrytrinder commented on #1834
Thank you for the update @yeshwanthjagannath

Absolutely no problem, life and family takes priority 👍🏻

[2021-02-13 19:30] waldekmastykarz commented on #2156
Work in progress is @ https://github.com/waldekmastykarz/cli-microsoft365/tree/msal.

Currently there are some compilation errors but the different auth flows seem to be working correctly. What's left is double checking the whole setup and fixing broken tests.

[2021-02-14 18:28] waldekmastykarz commented on #2161
You're right 👍

[2021-02-14 18:30] waldekmastykarz commented on #2110
Does that also mean that these options are no longer available for `pa flow get` or is it just this API that doesn't support them?

[2021-02-14 23:33] garrytrinder opened #2164 "New command: `aad policy list`"
### Usage

`aad policy list [options]`

### Description

`Returns policies from Azure AD`

### Options

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `-p, --policyType [policyType]` | The type of policies to return. Allowed values `activityBasedTimeout`, `claimsMapping`,`homeRealmDiscovery`, `tokenL

[2021-02-15 01:25] sprider commented on #2164
Hi @garrytrinder, Could you please share the endpoint detials from https://docs.microsoft.com/en-us/graph/api/overview?view=graph-rest-1.0?

[2021-02-15 01:28] sprider commented on #2144
Hi @waldekmastykarz, Is this issue different from https://pnp.github.io/cli-microsoft365/cmd/aad/approleassignment/approleassignment-list ?

[2021-02-15 08:13] appieschot commented on #2110
It is only this API that doesn't support them, so we are good on the `pa flow get` version.

[2021-02-15 12:08] arjunumenon commented on #2025
Hey @garrytrinder  - I am sorry that I couldn't progress much on this issue. I am currently trying to wrap up issue #2107 . Post that I will start digging into this. Time had not been kind with me for past weeks 😞. Should be able to dig into that by next week beginning. Hope that works.

[2021-02-15 12:13] arjunumenon commented on #871
Hey @garrytrinder  - Been a bit busy past week and I am expecting the same to be this week too. Currently trying to finish off issue #2107 and #2025 . This issue seems to be a bit challenging in the initial look. Wanted to have a blank mind before I dig in.

How about this plan - , you can unassign me from this issue till then so that someone else can pick it up. As of now, I might be able to take

[2021-02-15 12:46] garrytrinder commented on #2164
Each policy type has its own resource endpoint, so you will need to look at the API calls for each, for example, `activityBasedTimeout` policies can be returned using `GET policies/activityBasedTimeoutPolicies`.

See https://docs.microsoft.com/en-us/graph/api/activitybasedtimeoutpolicy-list?view=graph-rest-1.0&tabs=http

[2021-02-15 13:05] garrytrinder commented on #2025
Not a problem @arjunumenon

Whilst you are currently working on another issue, shall we open this up for potential contributors to pickup? If its still available when you've finished, you can always pick it back up again.

How does that sound?

[2021-02-15 13:07] garrytrinder commented on #871
Thats absolutely fine 👍

Issue now open.

[2021-02-15 13:24] waldekmastykarz commented on #2144
Yes. This command is about app roles which allow you to more easily assign permissions for an app to users. The command you mentioned is about app-only permissions for APIs granted to an app.

[2021-02-15 13:30] waldekmastykarz commented on #2164
@garrytrinder could we change `--all` into one of the values of the `--policyType` options, like `--policyType all`? Wouldn't that be more convenient to use?

[2021-02-15 14:06] garrytrinder commented on #2164
Good idea @waldekmastykarz 👍

Spec updated.

[2021-02-15 14:06] arjunumenon commented on #2025
That is totally fine with me @garrytrinder . Please feel free to go ahead with that 👍.

If it is available when my schedule frees up, I will more than happy to take it up.

[2021-02-15 14:09] waldekmastykarz commented on #2164
With `all` being a value of `policyType`, should `policyType` become required or do we default to `all` if no value has been specified?

[2021-02-15 14:13] waldekmastykarz commented on #2025
@garrytrinder shall we use `-u` as a short for the URL?

[2021-02-15 14:15] garrytrinder commented on #2164
Hmm, interesting... 🤔

`aad policy list` vs `aad policy list --all`

I prefer the first, so let's make `policyType` optional and remove the `all` option, this makes policyType explicit and default the behaviour to return all policies as you've suggested.

Deal? 😄

[2021-02-15 14:22] garrytrinder commented on #2025
@waldekmastykarz  oh yes, wow, not sure which I picked `s` 🤦‍♂️

Spec updated.

[2021-02-15 15:01] waldekmastykarz commented on #2164
Deal!

[2021-02-15 18:34] waldekmastykarz opened #2166 "Docs: extend docs with a Team page"
To credit our contributors and acknowledge their work, we'd like to extend the About section of our docs with a Team page where we have two sections: maintainers and contributors. Maintainers lists current maintainers and contributors shows all our contributors (which are listed in package.json).

We should strive for a UI similar to https://pnp.github.io/#team.

[2021-02-15 18:37] sprider commented on #2164
@garrytrinder, Could you please assign this to me?

[2021-02-15 18:40] sprider commented on #2144
Got it. Thanks @waldekmastykarz !

[2021-02-15 20:58] melcloud commented on #2155
This is an output with debug, I definitely believe it is Axios problem:

[code]

I think it doesn't perform the same CONNECT request as what `Request` library does.

[2021-02-15 21:01] garrytrinder commented on #2164
All yours @sprider thank you for the help 👍🏻

[2021-02-16 06:59] wictorwilen commented on #2155
Thanks @melcloud. I'm a bit confused though, if it was an issue with the certificates then we would not get an HTTP 400 error. The HTTP 400 error code means that the server did respond and for that to happen the certificate negotiation must have succeeded.

Also, just to verify  - `internal.sharepoint.com` is not the URL you're actually using, but rather an obfuscated one?

[2021-02-16 07:28] melcloud commented on #2155
yes, that is correct. The URL is not real. But the issue is definitely not on the SharePoint side. When I use curl with the JWT token, it works fine. The same for version 3.1.0 where request lib sends correct CONNECT call.

With Axios, it failed with 400. I believe the request is rejected from corporate proxy side as correct CA chain is not padded on.

I tried a quick nodejs script with Axios to s

[2021-02-16 07:46] waldekmastykarz commented on #2144
Let us know when you're ready for it and we'll assign it to you if no one else picked it by then

[2021-02-16 08:55] plamber opened #2168 "New sample script: retrieve all site collection owners"
|Docs||
|-----|----|
|Author| Patrick Lamber |
|Description| Retrieves all site collection owners in your tenant |
|Keywords| SharePoint, Governance |

Hi,
was not sure if we already have an example like this. At least, I haven't found anything.
[Gist](https://gist.githubusercontent.com/plamber/6e327e9260853d2d816fe355da27cf2d/raw/47ee58b23551169d401e0a31f04a55f6f0325292/gistfile1.txt)

Should I c

[2021-02-16 09:14] wictorwilen commented on #2155
Interesting, so the request is rejected by your proxy? The TLS handshake must be successful, otherwise you would not get an HTTP error. Any chance you could work with your proxy team and see why they are blocking this? Might be differences in headers/formatting in Axios vs request? Wireshark or Fiddler might reveal that - which would be interesting to see a comparison of! If you could get a networ

[2021-02-16 09:25] melcloud commented on #2155
Not sure about proxy team, need to check. But should be able to get some comparison between those two versions.

Will report back

[2021-02-16 09:25] waldekmastykarz commented on #2168
I don't think we do. Please do! Awesome! 👏

[2021-02-16 10:03] waldekmastykarz commented on #2155
Also, could you please double check if the access token that you're getting is valid? You could try issuing a request outside of the CLI with the access to see if you can get data from SharePoint as expected.

[2021-02-16 10:24] waldekmastykarz opened #2169 "Spec new commands for managing resource-specific consent in SharePoint"
On Feb 11, Microsoft announced [support for resource-specific consent in SharePoint via Microsoft Graph](https://developer.microsoft.com/en-us/microsoft-365/blogs/controlling-app-access-on-specific-sharepoint-site-collections/). We should spec the necessary commands to allow users to manage app access using CLI for Microsoft 365.

Let's spec each command in a separate issue for easier tracking pro

[2021-02-16 10:24] melcloud commented on #2155
Yes, the access token is valid. That is why curl with the outputed token works.

[2021-02-16 10:26] waldekmastykarz commented on #2155
Thank you for double checking 👍

[2021-02-16 11:51] waldekmastykarz opened #2170 "Enhancement: extend the `aad app add` command with support for specifying a certificate"
We should extend the `aad app add` command with support for specifying a certificate to register with the app. We already support generating secrets, but there are organizations who prefer using certificates instead and it would be good to support both not to exclude anyone.

[2021-02-16 11:54] waldekmastykarz opened #2171 "Question: should we extend the login method with support for auth using client ID and -secret?"
Should we extend the login method with support for auth using client ID and -secret? Currently, for app-only auth, we support certificates and managed identity. There are however organizations that find using secrets more convenient. Since it's supported in AAD, should we support it as well?

[2021-02-16 11:55] waldekmastykarz commented on #2171
@pnp/cli-for-microsoft-365-maintainers I'd love to hear what you think of it

[2021-02-16 12:35] appieschot commented on #2171
For a few use-cases we have that would be great, there are some orgs that we work with that rather hand out clientid+secret vs the managed identity. But its only a portion of our total as we try to move them to managed identity.

[2021-02-16 13:06] plamber commented on #2171
Would love it. But as far as I can recall the SharePoint authentication fails with a secret. You must have a certificate for it to work properly.

[2021-02-16 13:27] waldekmastykarz commented on #2171
Correct @plamber, but that's just SharePoint 🙂 if other services work correctly, then we should consider offering it still.

[2021-02-16 13:28] waldekmastykarz opened #2173 "Enhancement: verify that `spfx doctor` is inline with SPFx v1.12 requirements"
When SPFx v1.12 is released, we should verify that `spfx doctor` is inline with requirements for SPFx v1.12.

[2021-02-16 13:29] plamber commented on #2171
If we do this we should properly document it. We might consider adding the warning in the SPO commands directly in the output because most likely nobody will read the documentation

[2021-02-16 16:13] waldekmastykarz commented on #2171
We could definitely check the auth type in the base SPO command and show a warning (or even an error). I wonder thought, if we're not calling SharePoint outside of SPO commands. That's something that we'd need to check. 🤔

[2021-02-16 18:39] waldekmastykarz opened #2174 "Enhancement: extend `pa app get` to allow retrieving apps by their display name"
Currently, `pa app get` allows you to retrieve information of an app by specifying its name which is a GUID. We should also allow specifying the display name which is more user-friendly and something that you could know upfront without having to look it up.

This can be picked up after merging #2172

[2021-02-16 18:55] #2161 closed

[2021-02-16 18:55] #2110 closed

[2021-02-16 18:55] #2153 closed

[2021-02-16 20:42] estruyf opened #2175 "Enhancement: extend the `spo site set` command with support for setting the site's logo"
We should extend the `spo site set` command with support for setting the site's logo. We'd do this by introducing a new option named `siteLogoUrl`.

While this is similar functionality to what's already available on the `spo web set` and `aad o365group set` commands, it adds setting the logo to where users would expect it, especially that these days on the outside everything is called a site rathe

[2021-02-17 08:48] estruyf commented on #2175
Will extend the `spo site set` command to support setting the logo. Seems to be an easy implementation.

[2021-02-17 09:24] waldekmastykarz commented on #2175
We already have support for setting the logo on the web and O365 group. Would this be different?

[2021-02-17 09:32] estruyf commented on #2175
Oh, on `web` so confusing 🤣. Didn't even spot that there was still a `web` reference. It seems that this still works, although site one uses the newest `siteiconmanager` API.

[2021-02-17 09:34] waldekmastykarz commented on #2175
Well, the logo is stored on the web, isn't it? 😉 But I can totally imagine that it's confusing and requires you to know how things work behind the scenes, so perhaps this duplication of functionality isn't a bad idea after all 😄

[2021-02-17 09:34] estruyf commented on #2175
Also, in that case, I will create a bug as well, as you cannot unset the logo at the moment.

[2021-02-17 09:35] waldekmastykarz commented on #2175
Let's call it an enhancement 😄

[2021-02-17 09:38] estruyf commented on #2175
I will also update the `--logo` to `--siteLogoUrl`.

[2021-02-17 09:41] waldekmastykarz commented on #2175
Updated the issue so that we have a complete spec and justification for the review and future reference.

[2021-02-17 09:43] estruyf commented on #2175
Updated the code as well. Will now create the bug that is called an enhancement 😉

[2021-02-17 09:46] estruyf opened #2177 "Enhancement 🐞 report: implement the ability to unset the logo of the web via `spo web set`"
### Description

At the moment the `spo web set` command can only be used to set the logo, but not to unset it.

### Steps to reproduce

`spo web set --siteLogoUrl ""`

### Expected result

The logo on the current web should be unset.

### Actual result

Just runs the command, but nothing changed.

[2021-02-17 13:17] estruyf opened #2179 "Bug report: Unexpected token * in JSON at position when using `spo age get`"
### Description

There seems to be another character that needs to be escaped correctly.

### Steps to reproduce

Fetch a page where a webpart contains `\*` in its contents.

### Expected result

Should return the content correctly.

### Actual result

[code]

[2021-02-17 13:31] waldekmastykarz commented on #2179
Good catch! Odd that we haven't noticed it earlier. Let's get it fixed asap 👍

[2021-02-17 13:36] waldekmastykarz opened #2180 "Docs: Command samples vs. shells"
In her PR #2167, @LuiseFreese brought up a good point that the command samples we show in our docs assume that you run them in *sh shells. When you try to use them with PowerShell, you get errors because PowerShell expects values to be enclosed in `"` rather than `'`.

How should we handle it to give our users the best experience? Using `"` would probably work on any shell, but it decreases readab

[2021-02-17 13:48] waldekmastykarz opened #2181 "Enhancement: extend the `test` npm script with checking Node version"
Since we require Node@14 to get correct code coverage, we should verify that the `test` script is execute on Node@14. If the script is executed on a different Node version, we should throw an error and not run tests.

We could implement it by adding a new script to the script folder that checks that the current major Node version is 14. If the version is different, it writes an error using `consol

[2021-02-17 13:50] estruyf commented on #2179
Problem is this RegEx: `[/\\\*/g, "*"]`. The `\*` comes in, gets escaped to `*`, and in the JSON parsing this goes wrong. Removing this part from the RegEx fixes the issue. Question is, why was it needed in the first place?

[2021-02-17 13:55] estruyf commented on #2179
@waldekmastykarz what if we add a `simple`/`advanced` mode to the `spo page get` command?

Advanced: like it is right now and will be the default option.
Simple: skip the client-side page JSON -> HTML -> JSON processing for getting the number of sections and controls. As this is something we can also retrieve with the `spo page controls list` and `spo page section list` property.

In most cases, I

[2021-02-17 14:17] #2177 closed

[2021-02-17 21:45] leeford commented on #2021
Interestingly enough, in my testing, all my unhandled promise errors (404) are actually against the `TeamsAsyncOperation` call using the URI from the `Location` header. I am guessing the operation isn't always immediately available after the `/teams` call.

When you look at the error message again, it makes sense as it mentions `team` in it:

`No team found with Group Id 58c19f12-6bb5-4846-8ccd-36

[2021-02-18 01:30] douglasromao commented on #2033
Hi @garrytrinder sorry about the delay :( had some personal problems, but I will be back working on that in the next weekend if you guys agree with that.

[2021-02-18 04:45] plamber commented on #2021
Hi @leeford,
thank you for digging into this.

I would suggest to check a 404 against both calls to be sure with a timeout. I wouldn't change the specs to avoid a breaking change for existing scripts.

@garrytrinder: do you agree?

br,
Patrick

[2021-02-18 07:33] waldekmastykarz commented on #2033
Totally fine! Life happens. Hope all is good and we appreciate your help 😊

[2021-02-18 07:37] waldekmastykarz commented on #2021
Like @plamber suggested, let's check both calls and avoid introducing breaking changes.

[2021-02-18 09:55] levalencia opened #2186 "Error: No matching policiesBug report:"
### Description

Implementing Continuous Integration fails with errors on m365 login

### Steps to reproduce

Follow steps here: https://docs.microsoft.com/en-us/sharepoint/dev/spfx/toolchain/implement-ci-cd-with-azure-devops

### Expected result

Sucessfully m365 login

### Actual result

on the m365 login step (after the cli install) I get these 2 errors

[code]

### Environment

Azure Devops

[2021-02-18 10:07] appieschot commented on #2186
Your account may require interactive login, is that something you can check?

[2021-02-18 10:14] levalencia commented on #2186
How can I check this? I am not an admin on the O365 Tenant.

[2021-02-18 10:19] appieschot commented on #2186
@levalencia if you run `m365 login` locally on your machine you will get a device code flow to login, if you use that are you challenged for MFA? (https://pnp.github.io/cli-microsoft365/user-guide/connecting-office-365/#log-in-using-the-default-device-code-flow for some background on what happens when you login)

[2021-02-18 10:35] levalencia commented on #2186
Yes I tried locally  and my organisation has MFA with our own Login Provider. Then I get the device code. but I never get the consent screen.  Anyway I authenticated in my browser and ran the Release pipeline again to see if that made any difference but no.

[2021-02-18 10:49] appieschot commented on #2186
@levalencia unfortunately running it locally does not fix the release pipeline, and a release pipeline does not allow interactive auth (with custom MFA), You would have two options to get the pipeline working;

- You can use a certificate: https://pnp.github.io/cli-microsoft365/user-guide/connecting-office-365/#log-in-using-a-certificate
- Or you can use a service account (where you disable the MF

[2021-02-18 11:07] levalencia commented on #2186
thank you, I will try that.

[2021-02-18 11:28] #2186 closed

[2021-02-19 09:17] waldekmastykarz opened #2187 "Enhancement: extend `aad app add` with returning the directory ID"
When creating Azure AD app registrations, we should extend the information returned by the `aad app add` command, with the directory ID. This ID is needed when you work with single-tenant apps and it would be convenient to have it in next to the app ID.

[2021-02-19 09:36] SmitaNachan commented on #2187
Hi @waldekmastykarz
Can I work on this?

[2021-02-19 09:41] waldekmastykarz commented on #2187
Please do! Please check the code that is already there, because it could as well be that we already have directory ID available and just need to expose it in the returned data.

[2021-02-19 11:50] rajyraman opened #2188 "Bug report: aad app add does not get service principals that only have trailing slash"
### Description

When I use the aad app add command, I get the error the Service principal not found, even though the api name is correct. When I looked at the code it seems that the reason is this line

https://github.com/pnp/cli-microsoft365/blob/c3a619d80658b529896ca0bb7c016d2ad1a3b3d2/src/m365/aad/commands/app/app-add.ts#L247

For example when I try to register a new application with API acces

[2021-02-19 18:19] waldekmastykarz commented on #2188
Thank you for reporting the issue and sorry for the trouble. Let's get it fixed asap. Seems like we need to extend our URL matching to include both URI with and without the trailing slash.

[2021-02-19 19:10] #2104 closed

[2021-02-19 19:10] #2175 closed

[2021-02-19 19:10] #2179 closed

[2021-02-19 19:10] #2181 closed

[2021-02-20 06:21] plamber commented on #2180
We should indeed have a look in the example section and make it as simple as possible in these cases. The way you fixed it in that PR might work fine but adds more text to the output. I would change the organization of samples differently. Rather than having a separate section with PowerShell we should think about adding both examples under one hood. Maybe something like that:

**This is your awes

[2021-02-20 11:20] rabwill commented on #2188
Happy to pick this up

[2021-02-20 16:07] waldekmastykarz commented on #2180
You're bringing up valid points @plamber. Let's break them up into separate issue to make it easier to discuss them in more detail, define what needs to be done and track the work.

[2021-02-20 16:15] #2180 closed

[2021-02-20 17:48] estruyf commented on #2179
Think we might have to remove the `*` from the JSON parsing. As this now gives errors in the `spo controls list` and `spo controls get`.

[2021-02-20 17:55] estruyf opened #2192 "Bug report: Unexpected token * in JSON at position when using `spo page control list` and `spo page control get`"
Think we might have to remove the `*` from the JSON parsing. As this now gives errors in the `spo controls list` and `spo controls get`.

_Originally posted by @estruyf in https://github.com/pnp/cli-microsoft365/issues/2179#issuecomment-782722023_

[2021-02-20 18:08] estruyf commented on #2192
This will require a lot of refactoring like @waldekmastykarz and I have discussed in a call. Closing this issue, and will create another one to enhance the `spo page get` to get the JSON response from CanvasContent1 as well.

[2021-02-20 18:08] #2192 closed

[2021-02-20 18:11] estruyf opened #2193 "Enhancement: add the `CanvasContent1` response to the output in order to temporarily resolve issues in `spo page control` and `spo page section` commands"
Due to the problem of how the commands currently use the HTML parser to retrieve the information about the controls/sections it leads to issues with JSON parsing of specific characters. These issues will later be resolved, but for now, an enhancement would be to pass the JSON content of the `CanvasContent1` field with the `spo page get` command until the issue in the other commands is resolved.

[2021-02-20 18:14] waldekmastykarz commented on #2179
Let's do that for now 👍

[2021-02-20 18:23] waldekmastykarz commented on #2193
Is this workaround worth the effort or can we wait until we know more in the next few days? It would be a shame to spend all the time updating commands and tests if we'll rework it in the next few days to something else.

[2021-02-20 18:40] estruyf commented on #2193
The workaround is a one-liner and now that the second call is already done. It makes sense to include it. The refactoring of the other commands might take a bit more time. Currently, I'm blocked by it, as I cannot retrieve or update pages.

[2021-02-21 08:51] waldekmastykarz commented on #2193
Got it. If it's not a breaking change, let's get it in 👍

[2021-02-21 11:59] estruyf commented on #2193
Nope, you can check the PR. Only one extra property which gets added.

[2021-02-21 13:57] estruyf opened #2195 "Bug report: Unexpected token * in JSON at position when using `spo page control set`"
Similar to issue #2179 - the `getPage` call can be replaced with the call to the `pages` API instead of parsing the HTML which leads to encoding issues.

[2021-02-21 23:37] sinhakislay commented on #1763
@garrytrinder  just to let you know that  I will take couple of more days, it is almost done from my side but needs 2 days more I think, I hope it is fine

[2021-02-22 01:40] Abderahman88 commented on #2174
Volunteer 🤚

[2021-02-22 08:29] waldekmastykarz commented on #1763
Thanks for the update @sinhakislay 👍

[2021-02-22 08:30] waldekmastykarz commented on #2174
Sold! All yours @Abderahman88. Appreciate your help 👏

[2021-02-22 22:29] SMcCash commented on #2064
It would be really handy to be able to chose the length of the default secret either 1 year, 2 years or never to match the portal

[2021-02-23 06:58] fthorild commented on #2169
So great that we finally got this functionality - I would happily work with this one.

[2021-02-23 13:10] estruyf opened #2198 "Bug report: Unexpected token * in JSON at position when using `spo page control list`"
Similar to #2195 and #2179

The HTML Parsing needs to be removed and we need to rely on the Pages API for the columns, sections, and controls data.

[2021-02-23 15:25] JakubWoo opened #2199 "Bug report: Uploaded files have incorrect size (m365 spo file add)"
### Description

Large files uploaded to Sharepoint with `m365 spo file add` command have invalid size. Size is rounded to multiplicity of chunk size.
Looks like header attribute `content-length` is ignored and whole buffer is send and written when uploading file chunks.

### Steps to reproduce

Upload file larger than chunk size (250MB).

### Expected result

File has size and content matching ex

[2021-02-23 16:07] waldekmastykarz commented on #2064
@SMcCash good suggestion. Could you please create a new issue and we can take it from there?

[2021-02-23 16:08] waldekmastykarz commented on #2169
Awesome! Let's start with a spec so that we're sure that what we build is in line with everything else that we have? Want to give it a shot? 🙂

[2021-02-23 16:09] waldekmastykarz commented on #2198
Good suggestion. We can remove it as soon as it's not longer used.

[2021-02-23 16:11] waldekmastykarz commented on #2199
Thank you for reporting the issue @JakubWoo and sorry for the trouble. We'll get it fixed asap.

@appieschot since you worked on it in the past, could you please help us get it fixed?

[2021-02-23 16:22] appieschot commented on #2199
Will look into it tomorrow; sounds like a screw up in the way we implemented the chucnksize in the last fix we did :O

[2021-02-23 16:46] JakubWoo commented on #2199
@waldekmastykarz  @appieschot this fix worked for me - buffer for last chunk is trimmed. Please share with your feedback.
Thanks.

[2021-02-23 16:49] appieschot commented on #2199
Running a small test with another implementation as well; slow internet connection ;-), but will make sure to test this fix as well!

![image](https://user-images.githubusercontent.com/15227781/108877273-5cdc8c00-75ff-11eb-9b86-ab6279852ddc.png)

[2021-02-23 18:00] appieschot commented on #2199
So @JakubWoo your solution works flawlessly, only had to add a max-contentlenght in windows as well to make sure it can upload larger files. Will prep a PR tonight.

[2021-02-24 03:31] dips365 commented on #1670
Yes !! Will complete it as soon as possible.

[2021-02-24 03:32] dips365 commented on #1690
Yes !! Will complete it as soon as possible.

[2021-02-24 07:05] fthorild commented on #2169
Sure! Given what we can get through the graph api I would say something like the below. The full cli-cmd spec can go into the individual issues, right?

`spo sites permissions list --url<url>`
Lists the current permissions for the given site, any app granted will be listed. - _Returns Array of permission objects_
https://docs.microsoft.com/en-us/graph/api/site-list-permissions?view=graph-rest-1.0&

[2021-02-24 07:47] waldekmastykarz commented on #2169
Let's take them one by one:

Yes, please. That will allow us to track work more easily and perhaps let other help build these commands as well.

- let's align it with existing commands by using `spo site permission` as prefix for all of them (we use singular nouns in CLI)
- let's change `--url <url>` to `--siteUrl <siteUrl>`. When building commands we aim to align option names with the last noun.

[2021-02-24 08:10] fthorild commented on #2169
Great! I'll go ahead and create the separate issues and spec them one-by-one with what we have so far 👍

[2021-02-24 09:56] estruyf opened #2202 "Bug report: Unexpected token * in JSON at position when using `spo page control get`"
Similar to #2195, #2179, and #2198

The HTML Parsing needs to be removed and we need to rely on the Pages API for the columns, sections, and controls data.

[2021-02-24 10:37] #2187 closed

[2021-02-24 10:37] #2199 closed

[2021-02-24 10:37] #2188 closed

[2021-02-24 10:37] #2193 closed

[2021-02-24 10:37] #2198 closed

[2021-02-24 10:38] waldekmastykarz commented on #2199
We've just released a new preview version with this bug fixed. Once again, sorry for the trouble @JakubWoo and thank you for helping us fix it so quickly ❤️

[2021-02-24 12:49] JakubWoo commented on #2199
Thx guys.

[2021-02-24 14:50] estruyf opened #2204 "Bug report: Found an issue in the `spo page control list` when CanvasContent is not defined"
It seems a page is able to return no `CanvasContent1` at all. An extra check is required. Related to #2198.

[2021-02-24 18:19] sprider commented on #2164
@garrytrinder, I haven't started the work due to poweroutage in Austin, Texas last week. I will start working on this command this weekend.

[2021-02-24 19:30] fthorild opened #2206 "New command: site apppermission list"
### Usage

`spo site apppermission list [options]`

### Description

Lists the AAD applications granted permission to a SharePoint site collection.

### Options
Option | Description
-- | --
`-u, --siteUrl <siteUrl>` | The site collection url
`-i, --appId [appId]` | App Id
`-n, --appDisplayName [appDisplayName]` | App display name
`-o, --output [output]` | Output type. `json,text`. Default `text`
`

[2021-02-24 19:31] fthorild opened #2207 "New command: site apppermission get"
### Usage
`spo site apppermission get [options]`

### Description

Gets a specific permission object.

### Options
Option | Description
-- | --
`-u, --siteUrl <siteUrl>` | The site collection url
`-i, --id <permissionId>` | The permission id
`-o, --output [output]` | Output type. `json,text`. Default `text`
`--verbose`             | Runs command with verbose logging
`--debug`               | Runs

[2021-02-24 19:31] fthorild opened #2208 "New command: site apppermission add"
### Usage
`site apppermission add [options]`

### Description

Adds a permission object to a site.

### Options
Option | Description
-- | --
`-u, --siteUrl <siteUrl>` | The site collection url
`-p, --permission <permission>` | Permission to site, (read, write or read and write)
`-i, --appId [appId]` | App Id
`-n, --appDisplayName [appDisplayName]` | App display name
`-o, --output [output]` | Outpu

[2021-02-24 19:31] fthorild opened #2209 "New command: site apppermission remove"
### Usage
`site apppermission remove [options]`

### Description

Removes a permission object from a site.

### Options
Option | Description
-- | --
`-u, --siteUrl <siteUrl>` | The site collection url
`--appId [appId]` | App Id
`-n, --appDisplayName [appDisplayName]` | App display name
`-i, --id [permissionId]` | The permission id
`--confirm` | Don't prompt for confirmation
`-o, --output [output]`

[2021-02-24 19:34] fthorild opened #2210 "New command: site apppermission set"
### Usage
`site apppermission set [options]`

### Description

Updates a permission object for a site.

### Options
Option | Description
-- | --
`-u, --siteUrl <siteUrl>` | The site collection url
`-i, --id <id> `| The permission id
`-p, --permission <permission>` | Permission to site, (read, write or read and write)
`--appId [appId]` | App Id
`-n, --appDisplayName [appDisplayName]` | App display

[2021-02-24 23:46] Abderahman88 commented on #2174
At the moment, I'm getting all apps using `https://management.azure.com/providers/Microsoft.PowerApps/apps?api-version=2016-11-01` and filtering out the required name. It works, but is there not an other way?

![paGet](https://user-images.githubusercontent.com/36161889/109080947-b7f6a780-7701-11eb-80da-76afc3d0d6c4.png)

I'm trying to use the $filter-parameter in the API call above, but I get foll

[2021-02-25 04:19] rajyraman commented on #2188
Thank you @rabwill and @waldekmastykarz

[2021-02-25 10:27] waldekmastykarz commented on #2169
Awesome! Since we have the separate specs, let's close this issue. Appreciate your help @fthorild 👏

[2021-02-25 10:27] #2169 closed

[2021-02-25 10:39] waldekmastykarz commented on #2164
First things first @sprider. Most importantly you're okay. Perfectly fine if you need some time to get to it and sort out more urgent things first. Thank you for the update.

[2021-02-25 10:41] waldekmastykarz commented on #2206
Looking at the spec again, I wonder if it won't be confusing with regular user and group permissions you can configure on a site and if we shouldn't disambiguate these commands by adding `app` to it, like `spo site apppermission list`. What do you think?

[2021-02-25 10:43] waldekmastykarz commented on #2174
If the API doesn't support it then the approach you have at the moment is good 👍

[2021-02-25 11:41] fthorild commented on #2206
Oh that is very true - too focused on apps and the new fresh Sites.Selected I guess. What we actually discuss is to retrieve "grantedToIdentities" of type "application". "grantedToIdentities" can also be other things such as user, at least when you fire off /permissions on an item/document.

I have seen no samples where you on **sites** get back anything but application. Tried it out by sharing th