[2020-05-02 14:23] waldekmastykarz opened #1542 "Update `consent --service yammer` references to `cli consent --service yammer`"
We should update `consent --service yammer` references to `cli consent --service yammer` in both commands' help and docs.

Recently we've moved the `consent` command under the `cli` namespace. We haven't however updated all references in the docs and commands' help which still refer to the original, deprecated name.

[2020-05-02 14:46] plamber commented on #1542
@waldekmastykarz assign it to me

[2020-05-02 14:48] plamber commented on #1495
@waldekmastykarz assign it to me

[2020-05-02 14:48] plamber commented on #1494
@waldekmastykarz assign it to me

[2020-05-02 14:49] plamber commented on #1493
@waldekmastykarz assign it to me

[2020-05-02 14:51] plamber commented on #1381
@waldekmastykarz assign it to me

[2020-05-02 18:02] appieschot commented on #1375
As it fails on the `assert.equal(emptyReport.length, 122);` we could either add an or clause to check for 124 as well. Looks like a difference in how windows handles empty spaces/tabs vs how Mac/Linux handles them?

We also now have some failing tests on how slashes are handled (/ vs \) but will create a separate issue for that.

[2020-05-02 18:07] appieschot opened #1544 "Bug report: multiple failing tests on Windows"
### Description

Besides the failing test described in #1375 there are an additional 12 tests failing on the spfx side of things. All tests that use comparison or assertions on the `\\` fails on windows.

### Steps to reproduce

Follow path to awesome and `run npm test`

### Expected result

all test pass

### Actual result

Be aware that the first failing issue is described in #1375

[code]

###

[2020-05-02 19:19] garrytrinder commented on #1375
@appieschot as this failing test is also present in #1544, lets close this and manage the work to fix the tests in one issue 👍🏻

[2020-05-02 19:19] #1375 closed

[2020-05-03 05:43] ashokswain27 commented on #1532
Yes, I have specified the thumbprint. Certificate is password-protected.

[2020-05-03 05:45] ashokswain27 commented on #1532
How do I pass the OFFICE365CLI_AADAPPID and OFFICE365CLI_TENANT variables into the command?
I am assuming the PowerShell command is ot reading the local variables while executing the below command
o365 login --authType certificate --certificateFile ".\protected.pfx" --thumbprint ""

[2020-05-03 07:45] garrytrinder commented on #1540
Absolutely, thank you for your submission @sprider 👍🏻

[2020-05-03 08:15] #1192 closed

[2020-05-03 08:16] #1457 closed

[2020-05-03 08:17] #1456 closed

[2020-05-03 08:18] #1412 closed

[2020-05-03 08:19] #1467 closed

[2020-05-03 08:19] #1469 closed

[2020-05-03 08:19] #1531 closed

[2020-05-03 09:11] waldekmastykarz commented on #1495
Awesome! Appreciate your help! Before you start working on this, let us first merge https://github.com/pnp/office365-cli/pull/1537. It contains some references to `spo site classic set` that will be affected by this issue.

[2020-05-03 09:12] waldekmastykarz commented on #1494
Awesome! Appreciate your help!

[2020-05-03 09:13] waldekmastykarz commented on #1493
Appreciate your help! 👏

[2020-05-03 09:14] waldekmastykarz commented on #1381
Appreciate your help! All yours!

[2020-05-03 09:15] waldekmastykarz commented on #1544
Ouch! Good catch. Let's try to fix it asap to prevent blocking our contributors on Windows.

[2020-05-03 09:16] waldekmastykarz commented on #1532
These are environment variables that should be set on your machine and which will then be picked up by the CLI.

[2020-05-03 09:17] waldekmastykarz commented on #1532
@ashokswain27 are you also specifying the certificate password?

[2020-05-04 00:53] alexandair opened #1549 "Bug report: pnp.github.io Sample Scripts pages need an updated URLs"
### Description

It looks like when repo got reorganized and "sample-scripts" changed to "examples, pnp.github.io Sample Scripts URLs are not updated.

`https://pnp.github.io/office365-cli/sample-scripts/graph/call-graph/` should be `https://pnp.github.io/office365-cli/examples/graph/call-graph/`

Right now, the Sample Scripts pages are not updated when examples are updated in the GitHub repo, and

[2020-05-04 01:50] ashokswain27 commented on #1532
Got it working now by specifying environment variables on my local dev machine. Is there any generic way to pass these variable explicitly in CI/CD pipeline in yml ? Otherwise, I have to set it up in the Azure VM under which the CI/CD pipeline is running.

[2020-05-04 05:45] waldekmastykarz commented on #1549
Good catch! @garrytrinder, we need to rename the folder with script samples to match the URL we use in the docs to fix the edit functionality.

[2020-05-04 05:47] waldekmastykarz commented on #1532
If you execute CLI in bash you can do it like `ENV1=value1 ENV2=value2 o365 command`. Not sure if you can inline it the same way in PowerShell.

[2020-05-04 07:10] garrytrinder commented on #1549
This is an interesting one, the `dev` branch shows the correct folder name but `master` does not.

https://github.com/pnp/office365-cli/tree/master/docs/manual/docs

![image](https://user-images.githubusercontent.com/11563347/80943199-9036fb80-8dde-11ea-92b9-d7b196acb168.png)

https://github.com/pnp/office365-cli/tree/dev/docs/manual/docs

![image](https://user-images.githubusercontent.com/1156334

[2020-05-04 07:28] waldekmastykarz commented on #1549
Yes, we have merged it just this past week after we've done the release. This is why the change is in dev but not in master. Seems like the edit link goes to the master branch. It will get fixed when we do the next release at the end of May. I thought it's something that we've missed but it turns out to be just poor planning on my end. Sorry for that.

Shall we keep this issue open until the next

[2020-05-04 09:27] garrytrinder commented on #1549
Happy to leave this fix till the next release.

The only impact is the GitHub link not working from what I can see, all other menu links work as expected.

Thank you for bringing this to our attention @alexandair 👍🏻

[2020-05-04 11:21] alexandair commented on #1549
Thank you.

Another impact is that content on pnp.github.io is not in sync with the GitHub repo.
For example, the call_graph example to get the access token contains 2 code blocks (for PowerShell and Bash) in the repo, and only PowerShell one on the site.

[2020-05-04 11:59] waldekmastykarz commented on #1549
The code is displayed in tabs which perhaps isn't as clear as it should've been. Do you mean this:

![image](https://user-images.githubusercontent.com/11164679/80963580-837ecb80-8e0f-11ea-8b71-7b1fba6615d7.png)

[2020-05-04 12:10] alexandair commented on #1549
Oh, I've missed that. Thanks.

[2020-05-04 12:25] alexandair opened #1550 "Bug report: Installation of Office 365 CLI in Azure Cloud Shell fails"
### Description

I've tried to install Office 365 CLI in Azure Cloud Shell. Installation fails with the error message " tarball data for typescript@3.8.3 has been corrupted".

Installation of the beta version (2.10.0-beta.9e086a8) has worked.

### Steps to reproduce
I've created the `~/.npm-global` folder and change the `~/.npmrc` file accordingly.
[code]

### Expected result

`npm install -g @pnp

[2020-05-04 12:37] alexandair opened #1551 "Bug report: The file that provides a tab completion in PowerShell is missing"
### Description

I've installed Office 365 CLI beta (2.10.0-beta.9e086a8) in Azure Cloud Shell.

The `Register-O365CLICompletion.ps1` file that should provide a tab completion for Office 365 CLI in PowerShell is missing.

`/home/<USERNAME>/.npm-global/lib/node_modules/@pnp/office365-cli/scripts/Register-O365CLICompletion.ps1` doesn't exist.

[2020-05-04 12:55] appieschot commented on #1544
Suggestion to add an or clause to all checks that fail due to this issue to validate against \ as well as to / to support both Windows and Linux. If you agree you can assign to me and I will pick up asap :)

[2020-05-04 14:04] alexandair opened #1552 "Enhancement: deprecation warning should be written to stderr instead of stdout"
### Description

Command 'accesstoken get' is deprecated, but it still works and outputs wrongly the warning message in stdout stream and invalidates the token.

### Steps to reproduce
[code]

### Expected result

[code]
### Actual result
[code]

[2020-05-04 14:17] alexandair opened #1553 "Bug report: Adding --pretty to "aad user list" results in an unhandled exception"
### Description
Adding --pretty to "aad user list" results in an unhandled exception.
Office 365 CLI version: 2.10.0-beta.9e086a8
[code]

[2020-05-04 18:33] ashokswain27 commented on #1532
Awesome! in bash command : it is working fine. Thank you!

[2020-05-04 19:05] VelinGeorgiev commented on #1532
Thank you @ashokswain27 ! Please let us know if you have any questions.

Great collaboration on this one. Thank you @waldekmastykarz !

[2020-05-04 19:55] waldekmastykarz commented on #1550
Thanks for reporting. Is Azure Cloud Shell the only place where the installation fails? Could be something temporary being wrong with npm?

[2020-05-04 20:03] alexandair commented on #1550
I haven't tried anywhere else. I've tried 4 times in a period of 30 minutes, and then I decided to install a beta and that worked.

Btw, installation, by default, asks for an elevated user. That's not possible in Cloud Shell, or some people would like to install it as a standard user. Those steps should be documented in the installation section of the docs.

[2020-05-04 20:23] ashokswain27 commented on #1532
No, I am good. Closing the issue!

[2020-05-04 20:23] #1532 closed

[2020-05-04 20:31] garrytrinder commented on #1553
Thank you for reporting this @alexandair and apologies for the trouble.

I've been able to recreate this in both immersive and non-immersive mode, we will take a look ASAP.

[2020-05-04 20:48] garrytrinder commented on #1551
Thank you for reporting this @alexandair and apologies for the inconvenience.

I've been able to reproduce in the cloud shell using a local install.

![image](https://user-images.githubusercontent.com/11563347/81012099-e6448700-8e50-11ea-9006-ef3930d42876.png)

[2020-05-04 21:18] garrytrinder commented on #1551
I also have this issue locally when installing the CLI globally, using either the @latest & @next releases.

![image](https://user-images.githubusercontent.com/11563347/81014062-19d4e080-8e54-11ea-8bf1-67dc7bc72151.png)

Interestingly, I had setup completion previously on my machine with no issues, it however transpires that this was working fine for me due to having the CLI source on my machine f

[2020-05-04 21:43] alexandair commented on #1551
@garrytrinder Could you share the steps you've used to install Office 365 CLI in Cloud Shell? (this is not related to a bug; just curious about your approach)

[2020-05-05 06:50] garrytrinder commented on #1551
Sure, I just did a local install, `npm i @pnp/office365-cli`, so I can then execute `o365` from within the `node_modules/.bin` folder without installing it globally.

I can then use `node_modules/.bin/o365 <command>` to execute commands in non-immersive mode.

[2020-05-05 06:55] appieschot commented on #1551
Reproduced on my windows 10 machine (node v12.14.1) and cli version 2.9.0

[2020-05-05 07:15] waldekmastykarz commented on #1550
Good suggestion! Our docs follow the typical setup for installing Node.js executables, but like you mentioned, things work slightly different in Azure Cloud Shell. We'll create a separate issue for extending the docs. Meanwhile, we'll also investigate the issue you mentioned regarding installing the latest version of the CLI and see if we can find out more. Once again, thank you for reporting it 👍

[2020-05-05 07:18] waldekmastykarz opened #1555 "Extend documentation with other installation options"
Related to: #1550

Extend documentation with other installation and usage options such as `npx` or when installing the CLI locally, such as is the case in Azure Cloud Shell.

[2020-05-05 07:23] waldekmastykarz commented on #1544
Not sure I follow, could you please explain it? 😊

[2020-05-05 07:24] waldekmastykarz commented on #1552
This is indeed the current behavior. Would you say that outputting deprecation messages to stderr would be a better choice?

[2020-05-05 07:33] waldekmastykarz commented on #1551
@garrytrinder seems like we're excluding the `scripts` folder in .npmignore, so while it works locally with `npm link` it doesn't when the package is installed by itself because the folder isn't there :(

https://github.com/pnp/office365-cli/blob/b3d1515a82b701a099d803943a14fa7a97d9b6b0/.npmignore#L7

Removing scripts from .npmignore should fix the issue. Good catch @alexandair and pretty bad that

[2020-05-05 08:07] waldekmastykarz commented on #1551
Rather than including all scripts in the package, I've included only the PowerShell completion registration script. Other, admin-related scripts are still excluded to keep things clean for users.

[2020-05-05 08:15] waldekmastykarz commented on #1550
Does Azure Cloud Shell use any kind of npm cache? I've tried reproducing the issue you mentioend locally, but can't. Despite clearing the local cache, the latest version of the CLI installs just fine. Both versions, @latest and @next use the same version of typescript with identical package hash so that theoretically eliminates issues with npm. Do you have any kind of log that we could use to get

[2020-05-05 08:55] alexandair commented on #1552
The current behavior breaks scripts. So, the message needs to go into some stream other than stdout. I know that "accesstoken get" is depricated, but it still works and it's actually mentioned in help as an alias for "util acceestoken get". We need to assume that people will continue to use it.

[2020-05-05 08:59] alexandair commented on #1550
I have very limited experience with npm (practically just following the docs; if it works, I'm a happy camper, if it doesn't I google for a solution). I will ask the Cloud Shell team about the npm cache.

[2020-05-05 09:19] appieschot commented on #1544
We now fail on windows because it handles the comparison on / different. We could add a or clause to all the test that now fails to check either the \ as used in Linux and a // as used in Windows.

[2020-05-05 10:09] waldekmastykarz commented on #1544
What if rather than checking specifically just for paths, we ran the whole test suite also on Windows so that we cover these, as well as other kinds of OS-specific errors?

[2020-05-05 10:36] appieschot commented on #1544
Not quite sure if I follow, but my take is that it had to do with the path package: `import * as path from 'path';` As that is used to construct to create the paths to return that acts different on Windows and OSX and Linux:

Sample:
[code]

I am not sure if the path part actually has an option to return the same value in all scenario's so the tests won't fail. But if there is a better approach I

[2020-05-05 11:19] waldekmastykarz commented on #1552
We have a number of choices how we could inform people about deprecation. Our goal is to give everyone enough time to update their scripts.

We could print the deprecation in stderr rather than stdout but I'm not sure if that would change the exit code which might be undesirable as well. We could show the message only in verbose or debug mode, with the risk that it's not seen and people are surpri

[2020-05-05 11:20] waldekmastykarz commented on #1550
Awesome! Appreciate your help with finding out what's wrong ❤️

[2020-05-05 11:22] waldekmastykarz commented on #1544
Shouldn't the path be different on each OS?

[2020-05-05 11:24] appieschot commented on #1544
I guess so, but since we assert the path in the tests we should assert on both outcomes right?

[2020-05-05 13:23] VelinGeorgiev commented on #1555
We badly need that :)

[2020-05-05 15:34] edyoung commented on #1550
[code]

Worked fine for me. I haven't tried repointing npm_global.

[2020-05-05 15:37] alexandair commented on #1550
From a user perspective, what is the difference between installing it globally and locally?

[2020-05-05 16:13] garrytrinder commented on #1550
From https://nodejs.org/en/blog/npm/npm-1-0-global-vs-local-installation/

[2020-05-05 16:20] alexandair commented on #1550
I've found a similar doc. And, from a user perspective the only difference is will I get man pages or not.
Why should I care where are files installed?

I also found a note saying "if you will use an npm package at the command line, install it globally".

It's obviously easier to install it locally in Cloud Shell (no need for an additional folder, setting up a prefix).

[2020-05-05 17:04] waldekmastykarz commented on #1544
If use path separator from Node.js and then run tests on both OS-es, we should be good, right?

[2020-05-05 17:11] waldekmastykarz commented on #1550
In most cases you'd install Node.js-based executables globally. After all, you want to be able to run them from any directory. Local installations are typical for packages used in projects. If you install an executable locally, the entrypoint is not registered with the system, which is why you need to run it by calling `./node_modules/bin/exec`. So while a local installation for an executable is p

[2020-05-05 17:34] waldekmastykarz commented on #1544
For the teams file paths, should the path actually follow the OS or not? Can you see what the default project contents are on Windows so that we can compare them and make right assumptions?

[2020-05-05 18:01] #1522 closed

[2020-05-05 18:02] #1313 closed

[2020-05-05 18:05] waldekmastykarz commented on #1551
We have just released a new preview version that should have this issue fixed. Once again sorry for the inconvenience and thank you for bringing it to our attention 👏

[2020-05-05 18:05] #1551 closed

[2020-05-05 21:41] garrytrinder commented on #1553
This issue was caused by the global `pretty` option not being included in an array called `excludeOptions` in the `getFilters()` implementation.

Having looked at a few other commands that contain similar implementations, this issue is more widespread than just this one command, therefore I will raise another issue to track the work required to resolve this on all commands affected.

[2020-05-06 01:19] alexandair commented on #1553
@garrytrinder Excellent idea. I thought that issue might be present in some other commands.

[2020-05-06 07:11] appieschot commented on #1544
Oke sorry for the confusion; turns out the manifest packages expect a / in the format. That does mean that the test are correct on OSX / Linux and are working as expected. The reason they fail on Windows is because we are using `path.join` in our reports. That means the reports return a incorrect value on Windows (and thus the test fail correctly). We should not update the tests but rather update

[2020-05-06 11:52] waldekmastykarz opened #1561 "Enhancement: extend 'spo site remove' to support groupified sites"
Extend the `spo site remove` command to support groupified sites.

- Start with determining the type of site
- If the site is not groupified, used. the existing removal logic. If the site is groupified, use the Graph site delete API
- When the user  specified the`skipRecycleBin` or `fromRecycleBin` options with a groupified site, we should show a warning that these options don't apply, after deter

[2020-05-06 17:58] #1450 closed

[2020-05-06 21:05] garrytrinder opened #1563 "Ensure excludeOptions array contain all global options"
Following on from #1553

A number of commands that use an `excludeOptions` array are missing some global options which could cause undesirable behaviour if used in the command execution.

`debug`, `verbose`, `output` and `pretty` should be included in the array

The commands with missing options are

- [x] aad groupsetting add
	- [x] pretty
- [x] aad groupsetting set
	- [x] pretty
- [x] spo field

[2020-05-06 21:13] alexandair commented on #1552
I've had a conversation with the Azure CLI team. They are printing the deprecation and other warning messages to stderr.
I would suggest to do the same in Office 365 CLI.

[2020-05-07 01:07] ktskumar commented on #1561
Hi Waldek, May I take this!

[2020-05-07 14:25] waldekmastykarz commented on #1552
Thank you for checking with them and I appreciate your help. We'll adjust accordingly to follow the az cli behavior.

[2020-05-07 14:29] waldekmastykarz commented on #1561
Please do! Thank you! 👏

[2020-05-07 15:22] thomyg opened #1566 "Bug report: Sample Script Govern orphand Microsoft Teams misses authentication/login"
### Description

Tried to run the PowerShell sample "Govern orphaned Microsoft Teams" under https://pnp.github.io/office365-cli/sample-scripts/teams/govern-orphan-teams/

Did a copy and paste approach and the script throws an error. It misses just a minor thing -> authentication. For sure a small and minor thing, but if this script is the first one you are trying to use and you don't have a backgr

[2020-05-07 17:26] waldekmastykarz commented on #1566
Hey Thomy, thanks for reporting this. We typically don't include the login step in the sample scripts, because if you're already authenticated, it would reset your existing connection. Also, there are different ways to authenticate: interactively by yourself or using credentials, like you mentioned, in a daemon mode. So rather than forcing a particular way of authenticating in a given script, we t

[2020-05-07 17:58] waldekmastykarz opened #1567 "Enhancement: add support for retrieving service principals using their objectId"
We should extend the `aad sp get` command with support for retrieving service principals using their objectId. This becomes useful for example when working with managed identity and assigning permissions to the principal.

The request to retrieve a service principal using its objectId is very similar to the existing request: `https://graph.windows.net/myorganization/servicePrincipals?api-version=1

[2020-05-07 21:13] thomyg commented on #1566
Gotcha, and agree with your argument. Was just confused, because the other script had the login thing present, no problem though.

What about a small hello world like chapter in the introduction making the login steps clear? If you agree, I try to create something and let's see if you like it.

But I'm good with closing this one.

[2020-05-07 21:13] #1566 closed

[2020-05-07 22:24] tommymaynard commented on #1496
I could use this document(s), right about... now.

[2020-05-07 23:37] garrytrinder commented on #1496
@tommymaynard I've been putting an outline together for this, its rough round the edges but might be enough to help you out, I hope to complete it tomorrow and get it into the docs over the weekend.

As an example, this will guide you through creating custom Azure AD application with only SharePoint Read Access and use it with Office 365 CLI.

### Create Azure AD app
Go to Azure Portal
Azure Activ

[2020-05-08 07:37] waldekmastykarz commented on #1566
That would be great! Appreciate your help! 👏

[2020-05-08 18:50] #1314 closed

[2020-05-08 22:56] tommymaynard commented on #1496
@garrytrinder This write up was _**huge**_. I know so little about Azure (AWS is more of a specialty at the moment), although I've spent several years consuming and writing everything I could about PowerShell. Anyway, there's no way I could've ever known how to walk though and configure AAD and this app without this assistance. I would've walked away from this project today without it, and I _real

[2020-05-09 16:16] digbar opened #1569 "SPFx project upgrade: clarify the message when need to remove code"
I just used o365cli to upgrade my project version from v1.1.0 to v.1.4.1.

spfx project upgrade --toVersion 1.4.1 --output md > report.md

The report appointed some json files to update.
However some of those were already created and had content within,so I wasn't sure if I was supposed to append the config, or if I was supposed to replace it entirely.

In my case, I just appended the config keepi

[2020-05-09 17:02] waldekmastykarz commented on #1569
Thanks for letting us know! We could definitely clarify what you should do with the provided fragments.

[2020-05-09 17:39] waldekmastykarz opened #1570 "Bug report: logged out after running tests"
### Description

After running all tests, you get logged out from Office 365

### Steps to reproduce

- log in to Office 365 using `o365 login`
- run tests using `npm t`
- check login status using `o365 status`

### Expected result

Signed in to Office 365

### Actual result

Signed out

### Environment

CLI v2.10

[2020-05-09 18:16] #1540 closed

[2020-05-09 18:17] #1497 closed

[2020-05-09 18:17] #1478 closed

[2020-05-09 18:19] waldekmastykarz commented on #1495
We've just merged #1537. You can start working on this issue. Thanks again! 👍

[2020-05-09 19:12] garrytrinder commented on #1496
Thank you for your kind words @tommymaynard 😊

I'm glad I was able to help you out and thank you for your honesty. We are really appreciative that you stuck with our project and hope that you will continue to use it in the future. 👍🏻

It will certainly be added to the website in more detail, if you have any other feedback or suggestions around documentation that would help you, we would absolutely

[2020-05-09 20:06] waldekmastykarz commented on #1569
@pnp/office-365-cli-maintainers any ideas how we could clarify what needs to be done with the snippets we provide in the upgrade report?

[2020-05-11 12:38] garrytrinder commented on #1569
@digbar would you be able to share the report with us? I’d like to see what was generated for your project, we can then make a more informed decision on how we could change our instructions to better assist you.

[2020-05-11 13:37] digbar commented on #1569
[report.txt](https://github.com/pnp/office365-cli/files/4609839/report.txt)

Hi @garrytrinder find it attached. I have already concluded my upgrade.
My suggestion was for future reference. I believe if there is any way to specifying if the "manual"update is either a replacement or addition. Or even, if it's the case, setting a comment in all updates mentioning that if there is already things there

[2020-05-11 18:15] #1542 closed

[2020-05-11 18:15] #1553 closed

[2020-05-11 18:16] waldekmastykarz commented on #1553
We have just released a new preview versions that has this issue fixed. Once again, thank you for bringing it to our attention 👍

[2020-05-11 18:16] #1544 closed

[2020-05-11 18:17] #1563 closed

[2020-05-11 18:17] #1509 closed

[2020-05-11 18:18] #1570 closed

[2020-05-11 18:18] #1484 closed

[2020-05-11 18:19] #1485 closed

[2020-05-11 22:43] alexandair commented on #1552
Azure CLI team has shared the doc about deprecating commands and arguments and some links to code examples (I know they are developing in Python and Office 365 CLI is based on Node.js, but it still might be useful, I hope.)

A doc about [deprecating commands and arguments](
https://github.com/Azure/azure-cli/blob/dev/doc/authoring_command_modules/authoring_commands.md#deprecating-commands-and-argu

[2020-05-12 06:55] waldekmastykarz commented on #1552
Thank you for the pointer. That's helpful 👍

[2020-05-12 09:24] westerdaled opened #1574 "Bug report: Update componentType in .you-rc.json seems incorrect for an extension"
### Description

Run SPFx Upgrade command ( see attached report) on a forked copy [React Application Regions Footer extension ](https://github.com/pnp/sp-dev-fx-extensions/tree/master/samples/react-application-regions-footer).

In  Update componentType in .yo-rc.json:

[code]
However, given I this is a  SPFx extension, the recommended compentType looks incorrect.

### Steps to reproduce

spfx proj

[2020-05-12 11:58] waldekmastykarz commented on #1574
Hey @westerdaled, thanks for reporting this. This doesn't seem right indeed. We'll get it fixed asap.

[2020-05-12 13:03] westerdaled commented on #1574
@waldekmastykarz  Thanks for the update.   I have some thoughts on some of the .vscode  changes but will formulate these, outside this issue.

[2020-05-12 16:10] appieschot opened #1575 "New command: get knowledge hub site url"
### Usage

`spo knowledgehub get`

### Description

Gets the Knowledge Hub Site URL for your tenant

### Options

n/a

### Additional Information

Use same implementation as PnPPowershell: https://docs.microsoft.com/en-us/powershell/module/sharepoint-pnp/get-pnpknowledgehubsite?view=sharepoint-ps

[2020-05-12 16:11] appieschot opened #1576 "New command: set knowledge hub site url"
### Usage

`spo knowledgehub set`

### Description

Sets the Knowledge Hub Site for your tenant

### Options

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `-u, --url <url>` | URL of the site to set as Knowledge Hub

### Additional Information

Use same implementation as PnPPowershell: https://docs.

[2020-05-12 16:11] appieschot opened #1577 "New command: remove knowledge hub setting"
### Usage

`spo knowledgehub remove`

### Description

Removes the Knowledge Hub Site setting for your tenant

### Options

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `--confirm` | Don't prompt for confirming removing the knowledge hub setting

### Additional Information
Use same implementation a

[2020-05-12 18:29] waldekmastykarz commented on #1574
Awesome! Appreciate your help!

[2020-05-12 18:30] waldekmastykarz commented on #1575
Does the command return only the URL or other properties as well?

[2020-05-12 18:45] garrytrinder opened #1578 "New command: SharePoint Site Swap"
### Usage

`spo site swap [options]`

### Description

Swap the location of a site with another site while archiving the original site

### Options

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `--sourceUrl <sourceUrl>` | URL of the source site                  |
| `--targetUrl <targetUrl>` | URL o

[2020-05-12 18:48] appieschot commented on #1575
Currently it only returns the url.

[2020-05-13 06:28] waldekmastykarz commented on #1578
Is the swap instantaneous or is it a long-running operation? If the latter, would it make sense to add a `--wait` option in case you want to use it in a script and subsequent commands depend on the site being swapped?

[2020-05-13 08:20] garrytrinder commented on #1578
It is a long running operation, by default, Invoke-SPOSiteSwap waits and actually has a `-NoWait` switch. Good catch, OP updated 👍🏻

[2020-05-14 10:20] VelinGeorgiev opened #1579 "Extend the `aad approleassignment list` with `--objectId` option"
### Usage

`aad approleassignment list --objectId b2307a39-e878-458b-bc90-03bc578531dd`

### Description

Extend the  `aad approleassignment list`  command with `--objectId` option so it will be easy to retrieve app role assignments when ObjectId is available. For example in a case of System Managed Identity, the Object Id is the quickest option to get.
![image](https://user-images.githubuserconte

[2020-05-14 14:36] VelinGeorgiev opened #1581 "New command: 'add approleassignment add'"
### Usage

`add approleassignment add [options]`

### Description

Adds service principal permissions also known as scopes and app role assignments for specified Azure AD application registration

### Options

Option | Description
-- | --
`--appId [appId]` | Application appId also known as clientId of the App Registration on which the configured scopes (app roles) should be applied
`--objectId [ob

[2020-05-14 16:35] ashokswain27 opened #1582 "Bug report: o365 login command failed if the password contains a special character (>, ;)"
o365 login syntax error issue
### Description
o365 login command failed if the password contains a special character (>, ;)

### Steps to reproduce
login --authType password --userName user@contoso.com --password U#*h$CpY>GiU7q9:.KJ6sncYVL|;

### Expected result
Login command should work correctly

### Actual result
invalid syntax with ;

### Environment
Git Bash on Windows 10

[2020-05-14 17:09] ktskumar commented on #1492
Hi Waldek, To show the list of classic sites, shall we include 'ClassicSite' as a value for parameter '--type' in addition to 'TeamSite' and 'CommunicationSite'?

Command example:
`spo site list --type ClassicSite`

please let me know your thoughts.

[2020-05-14 17:14] ktskumar commented on #1441
I am unable to replicate duplicate activations of a tenant extensions in my environment. So I need to follow any specific steps to get that?

[2020-05-14 17:18] VelinGeorgiev commented on #1582
@ashokswain27 have you tried to enclose the password in double quotes? For example:

 --password "U#*h$CpY>GiU7q9:.KJ6sncYVL|;"

[2020-05-14 18:29] waldekmastykarz commented on #1581
Typically all these were a separate option. Having them all in one would be potentially easier for the users, but it's not the pattern we follow in other commands. Shall we keep them separate for now (we can still offer three options) and then perhaps consider such a consolidation consistently across all commands?

[2020-05-14 18:35] waldekmastykarz commented on #1492
We shouldn't make any distinctions between classic and modern sites and the command should always show all sites. Filtering for a specific type of site should be done using the filtering options combined from `spo site list` and `spo site classic list`. Does this make sense?

[2020-05-14 19:12] VelinGeorgiev commented on #1581
I tried to simplify it as much as possible for the user. I can change it to different options, but this is more cognitive load and knowledge what that id actually is appid or objectid or name.

Do you see starting to use one id instead of separate as bigger initiative? .. something lile v3.

I am just thinking is it just the consistency that is stopping us from breaking the consistency rules with

[2020-05-14 20:20] westerdaled commented on #1488
After running

`spfx project upgrade --toVersion 1.10.0 --output md --outputFile "upgrade-report.md"`

Then going through all the summary steps, project hasn't upgraded and I can no longer run `gulp bundle --ship`:

A quick check to see

![image](https://user-images.githubusercontent.com/937208/81980380-670c3b80-9626-11ea-824d-57d9b3c9705c.png)
`.yo-rc.json` looks fine
[code]
Whereas` package.json

[2020-05-14 20:56] westerdaled opened #1583 "spfx project upgrade seems to break gulp bundle --ship"
### Description

Firstly, not  sure if this a bug or indeed can be fixed easily with any file modifications.

Gone through the steps as listed in [upgrade report](https://github.com/pnp/office365-cli/files/4614569/upgrade-report.zip) and referenced in [ Issue#1574 ](https://github.com/pnp/office365-cli/issues/1574) . See also my comments on the incorrect spfx version:
[Enhancement: Extend SPFx pro

[2020-05-15 06:44] waldekmastykarz commented on #1581
I get the reasoning behind it and I do agree that it would be easier for the user. Perhaps to make it clear we shouldn't use `id` but `identity`. `id` is a defined property on many objects whereas `identity` can refer to any value uniquely identifying the specified object, basically what you have in PowerShell.

We could consider including consolidation in v3 or v4 depending on the effort involved

[2020-05-15 06:47] waldekmastykarz commented on #1488
Yes, this is a known issue where we don't pick up all `@microsoft` packages in the upgrade process. We have a number of issues created to change this behavior but at the moment we look only at the standard packages that are referenced when you create a project so whatever else you add yourself, that's not included in the report.

I hope we'll have this behavior changed soon because, like you notic

[2020-05-15 06:49] waldekmastykarz commented on #1583
Thanks for bringing this to our attention @westerdaled!

- Which version of Node.js do you use?
- Have you run `npm dedupe` after upgrading all packages? If not, could you please see if it helps?
- In odd cases, I noticed that the previously existing lockfile leads to issues similar like yours. If `npm dedupe` doesn't help, could you try deleting the lockfile and running `npm install` again to see

[2020-05-15 06:52] VelinGeorgiev commented on #1581
Thanks for the explanation @waldekmastykarz ! That is fair for now, I have introduced --appId, --objectId and --displayName instead of --id in the command description and have changed the examples accordingly.

Will start working on it.

[2020-05-15 07:13] VelinGeorgiev commented on #1581
I changed the `resourceId` with `resourceName` since we I am actually requesting for name like for e.g "SharePoint" instead of resourceId which is usually related with GUID.

[2020-05-15 08:36] westerdaled commented on #1583
Thanks for replying.  The irony, is I wanted to quickly  upgrade this project; so I could help out on those "good first issues", but I kept running into issues 😏. _Note to self: run from away from elderly SPFx 1.2 project upgrades!_

Anyway, Node version
`* 10.15.3 (Currently using 64-bit executable)`

Late last night, I created a local standalone  repo of the upgraded project .  @hugoabernier kin

[2020-05-15 17:26] ktskumar commented on #1492
Yep. Got it.
After consolidation, the command would be like this.
To get modern team sites,
`spo site list --webTemplate 'GROUP#0'`

To get classic team sites,
`spo site list --webTemplate 'STS#0'`

please let me know your thoughts.

[2020-05-15 17:42] ktskumar commented on #1492
Please do share, how to achieve the above one!

[2020-05-15 18:00] #1507 closed

[2020-05-15 21:37] ashokswain27 commented on #1582
o365 login --authType password --userName "guest@onmicrosoft.com" --password "U#*h$CpY>GiU7q9:.KJ6sncYVL|;"
o365 login --authType password --userName guest@onmicrosoft.com --password "U#*h$CpY>GiU7q9:.KJ6sncYVL|;"

Yes, tried with double quotes. It shows the below error:
 **Invalid Command. Showing Help.**

[2020-05-16 08:13] waldekmastykarz commented on #1492
We'll do this. Don't worry about it 👍

[2020-05-16 08:17] waldekmastykarz commented on #1582
If you add the `--debug` option to the command line, can you see what's exactly going over the wire and if the password is altered in any way?

[2020-05-16 14:42] #1512 closed

[2020-05-16 17:12] hugoabernier opened #1592 "Enhancement: spo project upgrade --output tour"
### Usage

Add a new output type `tour` for project upgrade reports.

### Description

The output would be another `json` report type, but would follow the [CodeTour](https://marketplace.visualstudio.com/items?itemName=vsls-contrib.codetour) schema and would have a `.tour` extension.

After running the `spo project upgrade` command, the project would have a CodeTour that would walk users through t

[2020-05-16 17:15] waldekmastykarz commented on #1592
Brilliant! Appreciate your help with this and please don't hesitate to reach out if you have any questions. 👏

[2020-05-16 17:59] #1510 closed

[2020-05-16 18:00] #1511 closed

[2020-05-16 18:00] #1513 closed

[2020-05-16 18:01] #1514 closed

[2020-05-16 18:01] #1515 closed

[2020-05-17 13:44] #1455 closed

[2020-05-17 13:45] #1579 closed

[2020-05-17 13:46] #1496 closed

[2020-05-17 17:44] waldekmastykarz opened #1600 "Remove immersive mode"
Related: https://github.com/pnp/office365-cli/discussions/1599

To prepare for possible removal of Vorpal in the Office 365 CLI, we should remove support for immersive mode and allow it to be used only in non-immersive mode.

When this change is implemented, we should also re-record the demo asciinema video showing how to work with Office 365 CLI, since it's based on the immersive mode.

[2020-05-18 17:39] waldekmastykarz opened #1602 "Enhancement: all SPFx project upgrade rules should return location information"
We should extend SharePoint Framework project upgrade rules so that all of them return information about the location where the change should be applied. Currently only .ts and .scss rules do that. This information is needed to properly display upgrade report in CodeTour format or to automate the upgrade process shall we want to do this in the future.

[2020-05-19 12:48] westerdaled commented on #1583
λ npm dedupe
up to date in 1.893s
found 0 vulnerabilities

2) after deleting` pakage-lock.json` and then running `npm install`

[code]

[2020-05-19 14:53] waldekmastykarz commented on #1583
Thanks for the info. Could you share the contents of your `tsconfig.json` file?

[2020-05-19 15:41] westerdaled commented on #1583
Hi yes,

[tsconfig.zip](https://github.com/pnp/office365-cli/files/4651461/tsconfig.zip)
Note, this is from the repo that has all the changes applied as per the upgrade report.

I do have another version of the repo that  @hugoabernier and I worked on, which has addtional  changes retro fitted from a newly scaffolded #SPFx extension project.

[2020-05-19 17:57] waldekmastykarz opened #1604 "Update `approleassignment list` command to v1.0 API"
Related to https://github.com/pnp/office365-cli/discussions/1603

We should update the `approleassignment list` command to use the generally available v1.0 API.

[2020-05-19 18:01] waldekmastykarz commented on #1583
OK, so the problem is with the `include` and `exclude` options. I've tripped a few times about it myself. Currently, they're nested in the `compilerOptions` property:

[code]

Instead, they should be on the same level:

[code]

[2020-05-19 19:15] westerdaled commented on #1583
Ah I see as in they should be outside `compilerOptions`  .Is this a recent bug as in affects 1.10.0 upgrades and not the earlier upgrades?

[2020-05-19 19:56] waldekmastykarz commented on #1583
`include`/`exclude` was introduced to tsconfig.json in SPFx v1.6.0

[2020-05-20 10:10] InfosysAdmin opened #1605 "Sharepoint- Documents failed to open in client application by default"
Expected result
1. Upload a document in document library in a sharepoint online site
2. Open the document to view it in Client application

Observed result
Documents are opening in web app(Word Online/Excel Online)

[2020-05-20 12:47] waldekmastykarz commented on #1605
Thank you for reaching out to us. What is the behavior when you upload the same files to the same library manually?

[2020-05-20 13:14] InfosysAdmin commented on #1605
They are still opening in Web application. Activated the site feature "Open Documents in Client Applications by Default"  and in library settings also

[2020-05-20 14:46] waldekmastykarz commented on #1605
So if I understand it correctly, even if you upload files to the library manually, they still open in the browser rather than the client, correct?

[2020-05-20 18:20] #1444 closed

[2020-05-20 18:22] #1516 closed

[2020-05-20 18:22] #1438 closed

[2020-05-21 02:58] hugoabernier commented on #1602
@waldekmastykarz would we add a `position` method to each rule that allows us to customize how each rule can resolve the line (and column, if applicable) that will need to be fixed?

However, if we remove or add lines, the instructions should be sorted in reverse line order, so that changing content earlier in the file (i.e.: the top) does not affect findings later down the file. For example `FN02

[2020-05-21 05:50] InfosysAdmin commented on #1605
Yea exactly

[2020-05-21 17:16] waldekmastykarz commented on #1602
@hugoabernier we already expose the location on each rule, but it's attached to [occurrence](https://github.com/pnp/office365-cli/blob/b3d1515a82b701a099d803943a14fa7a97d9b6b0/src/o365/spfx/commands/project/project-upgrade/Occurrence.ts#L3). We use it already in ts-, and scss-rules just not in JSON. The reason why it's attached to occurrence because each finding can apply multiple times in the pro

[2020-05-21 17:21] waldekmastykarz commented on #1605
Thank you for confirming. So if no matter if you upload files manually or using the CLI they open in the browser, what is the issue with using the CLI exactly?

[2020-05-21 19:41] waldekmastykarz commented on #1602
As a pointer, please have a look at https://github.com/pnp/office365-cli/blob/master/src/o365/spfx/commands/project/project-upgrade/rules/TsRule.ts. It has the `addOccurence` method with AST Node from TypeScript being one of the arguments that is used. You can't pass a JSON string to TypeScript to build AST, but we could try to use https://github.com/vtrushin/json-to-ast (there is a link at the en

[2020-05-22 06:36] VelinGeorgiev commented on #1604
@waldekmastykarz , @pschaeflein however doing this has to make sure to test it with the object Id option.

I think that in the Graph Id the objectId is referenced as `objectId`, but in the Graph the `objectId` is referenced as `id` so the filter query should change from `$filter=objectId eq '123'` to `$filter=id eq '123'`

[2020-05-22 07:54] VelinGeorgiev opened #1607 "Bug report: The `aad approleassignment list` objectId options contains reserved shortcut `-o`"
### Description

The `aad approleassignment list` objectId options contains reserved shortcut `-o`

### Expected result

The shortcut is reserved for the --output option

[2020-05-22 18:11] waldekmastykarz commented on #1602
This is a nice example while string matching to determine location in the file is not reliable:

<img width="641" alt="image" src="https://user-images.githubusercontent.com/11164679/82696859-32246800-9c68-11ea-9ab9-ecbf2f4e5fa6.png">

While the resolutions mentions to `resolutions['@types/react']` the tour points to `dependencies['@types/react']` because it's the first location where it matches `@

[2020-05-23 11:43] #1592 closed

[2020-05-23 17:48] garrytrinder opened #1609 "New command: List Microsoft To Do task lists"
### Usage

`todo list list [options]`

### Description

Returns a list of Microsoft To Do task lists

### Options

No additional options

### Additional Information

`GET https://graph.microsoft.com/beta/me/todo/lists`

[2020-05-23 18:07] garrytrinder opened #1610 "New command: Add a Microsoft To Do task list"
### Usage

`todo list add [options]`

### Description

Adds a new Microsoft To Do task list

### Options

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `-n, --name <name>` | The name of the task list to add            |

### Additional Information

[code]

If a task list already exists with same nam

[2020-05-23 18:20] garrytrinder opened #1611 "New command: Remove Microsoft To Do task list"
### Usage

`todo list remove [options]`

### Description

Removes a Microsoft To Do task list

### Options

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `-n, --name [name]` | The name of the task list to remove. Specify either `id` or `name` but not both            |
| `-i, --id [id]` | The ID of t

[2020-05-23 18:43] ypcode commented on #1610
Hi @garrytrinder can I take this one ?

[2020-05-23 18:43] garrytrinder commented on #1610
Absolutely @ypcode 👍🏻

It’s all yours

[2020-05-23 19:42] garrytrinder opened #1612 "New command: Update a Microsoft To Do task list"
### Usage

`todo list set [options]`

### Description

Update a Microsoft To Do task list

### Options

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `-i, --id <id>` | The ID of the list to update                   |
| `-n, --name <name>` | The name of the task list            |

### Additional Info

[2020-05-23 21:29] ypcode commented on #1611
Hi again @garrytrinder, done with the add command ( #1613 ), can I please take this one too ?

[2020-05-24 06:29] ypcode commented on #1611
Hi @garrytrinder , since I was already in the middle of it, I already have done this one without your confirmation .$ :D, I submit the PR right ahead. I can actually take #1609  and #1612 if you are okay with it ?

[2020-05-24 06:33] ypcode commented on #1612
@garrytrinder can I please take this one too ? I'll wait for your confirmation this time :P

[2020-05-24 06:33] ypcode commented on #1609
@garrytrinder can I please take this one too ? I'll wait for your confirmation this time :P

[2020-05-24 08:42] waldekmastykarz commented on #1611
Awesome @ypcode, appreciate your help 👏

[2020-05-24 08:43] waldekmastykarz commented on #1609
Please do! Thank you! 👏

[2020-05-24 08:44] waldekmastykarz commented on #1612
Please do @ypcode. Thank you! 👏

[2020-05-24 09:13] ypcode commented on #1612
@waldekmastykarz do you know a good way to start these ones without redoing manually the common changes (with the add and remove commands) before the PR are merged to dev? I would like to avoid any cumbersome (and maybe nasty) conflict

[2020-05-24 09:34] #1581 closed

[2020-05-24 09:35] #1567 closed

[2020-05-24 09:36] #1607 closed

[2020-05-24 09:51] waldekmastykarz commented on #1612
The approach I follow is:

- keep dev in my fork synced with upstream dev (`git pull upstream dev` + `git push origin dev`)
- for each PR I create a separate feature branch: `git checkout -b feature-123`
- I submit a PR from that feature
- if I want to start working on another feature, I get back to dev (`git checkout dev`) and create a new feature branch (`git checkout -b feature-456`)

That way

[2020-05-24 10:43] ypcode commented on #1612
It's the main approach I generally use,
however in this case, I forked from my first PR branch and forgot to rebase and did not take care the previous commit was obviously ncluded.
Actually, I think I just got the easier approach here.
- fork branch from previous PR branch
- git reset to the upstream dev, and clean up the unrelated changes with the current PR.

Somehow, it might be a little "extra

[2020-05-24 13:42] waldekmastykarz commented on #1612
You mean files like commands.ts or mkdocs.yml? These changes are typically easy to merge so no additional work for us ☺️

[2020-05-24 14:44] ypcode commented on #1612
Then I know how to keep smooth! Thanks for your answers. I definitely love working on the CLI. I earn a lot of experience from it!

[2020-05-24 17:32] waldekmastykarz commented on #1612
Thank you for the kind words. Happy to hear you find it worth your time 😊

[2020-05-24 17:46] waldekmastykarz commented on #1550
Hey @alexandair is your question answered or is there anything else that we could clarify?

[2020-05-24 18:00] alexandair commented on #1550
@waldekmastykarz You can close it. Thank you.

[2020-05-24 18:00] waldekmastykarz commented on #1550
Thank you for confirming all is well 👍

[2020-05-24 18:00] #1550 closed

[2020-05-24 18:10] waldekmastykarz opened #1619 "Enhancement: use content steps for creating new files in spfx tour upgrade report"
In the SPFx project upgrade CodeTour report, we should use [content steps](https://github.com/vsls-contrib/codetour/blob/master/README.md#content-steps) to provide instructions for creating new files. Right now we fallback to `package.json` line 1 because the file to be created doesn't exist yet and the tour step needs a file.

[2020-05-24 18:11] waldekmastykarz opened #1620 "Enhancement: use directory step for creating new folders in spfx tour upgrade report"
In the SPFx project upgrade CodeTour report, we should use [directory steps](https://github.com/vsls-contrib/codetour/blob/master/README.md#directory-steps) to provide instructions for creating new folders. Right now we fallback to package.json line 1 because the file to be created doesn't exist yet and the tour step needs a file.

[2020-05-24 18:15] waldekmastykarz commented on #871
Hey @anoopt, are you still working on this?

[2020-05-24 18:39] anoopt commented on #871
Sorry. Yes I'll work on it in the coming days.

On Sun, 24 May 2020, 19:15 Waldek Mastykarz, <notifications@github.com>
wrote:

[2020-05-25 07:10] waldekmastykarz commented on #871
Cool! Thank you!

[2020-05-25 15:02] #1610 closed

[2020-05-27 12:32] AnoopNagappan opened #1621 "Release pipeline error while authenticating with certificate to o365:- AADSTS700027 Client assertion contains an invalid signature."
### Description
As part of CICD in azure DevOps, the release pipeline tried to authenticate using certificate(cert.pem) to o365 and getting below Error and error code is **AADSTS700027**

**Error: AADSTS700027: Client assertion contains an invalid signature. [Reason - The key was not found., Thumbprint of key used by client: '1C74D736BEA6C95459FD38D02D0A2514A52FC9E9', Please visit 'https://develop

[2020-05-27 17:39] waldekmastykarz commented on #1621
Thank you for reporting this issue and we'll look into it asap. Could you also please share the environment variables and their values you've configured in your build pipe? Also, which version of the CLI are you using?

[2020-05-28 08:32] AnoopNagappan commented on #1621
Sure, I have updated environment details above and seems like the CLI version is 2.9.0..please verify the attached screen capture
![image](https://user-images.githubusercontent.com/40852965/83118246-bdc84980-a0eb-11ea-9362-0f385fe86745.png)

[2020-05-28 11:30] waldekmastykarz commented on #1621
I'm not seeing any environment variables related to the AAD app ID and your tenant. Could it be that they're configured just not included in the output you've shared?

[2020-05-28 13:03] AnoopNagappan commented on #1621
![image](https://user-images.githubusercontent.com/40852965/83144408-e9a9f600-a110-11ea-90c1-feb08a73aa48.png)

I have added to the release pipeline both environment variables with reference to AAD application as shown in the screen capture ....

Please let me know if anything i have missed any steps?

[2020-05-28 17:19] waldekmastykarz commented on #1621
It seems like the name of your AAD app ID variable is incorrect. It should've been `OFFICE365CLI_AADAPPID`

[2020-05-29 06:41] appieschot opened #1625 "Bug report: windows test fails"
### Description
The test: `aad approleassignment add rejects if not app roles found for the specified resource option value` fails on window:

### Steps to reproduce

Follow path to awesome and run npm test

### Expected result

Working tests

### Actual result

  1) aad approleassignment add
[code]
### Environment

Windows 10, PowerShell, 2.7.0, Node v12.10.0

### Solution
Implement `${os.EOL}` i

[2020-05-29 07:53] AnoopNagappan commented on #1621
Thank you for notifying me , it was my bad..
![image](https://user-images.githubusercontent.com/40852965/83235480-8f13a700-a1af-11ea-8bca-2b0f048a1015.png)

[2020-05-29 15:17] waldekmastykarz commented on #1621
No problem. Great to hear all is working now 👏

[2020-05-29 15:17] #1621 closed

[2020-05-31 06:29] plamber commented on #1493
@waldekmastykarz : I started working on this command and have some challenges on merging the parameters.

We have for example the <owner> that seems to be a required field in the site-classic-add command but is not in the site-add command. In the documentation we have [owners]. How do we want to show the options to users here?

[2020-05-31 09:45] waldekmastykarz commented on #1549
We have just released an update to the docs and this issue is now fixed. Once again, thank you for bringing it to our attention @alexandair 👏

[2020-05-31 09:45] #1549 closed

[2020-06-01 18:09] waldekmastykarz commented on #616
@sympmarc in v2.10 of Office 365 CLI we've implemented a new SPFx project upgrade report based on VSCode CodeTour. Would that report provide you the additional context you were looking for?

[2020-06-01 18:10] waldekmastykarz commented on #1582
Closing due to lack of response

[2020-06-01 18:10] #1582 closed

[2020-06-01 18:10] waldekmastykarz commented on #1464
Closing due to lack of response

[2020-06-01 18:10] #1464 closed

[2020-06-01 18:11] waldekmastykarz commented on #1605
Closing due to lack of response

[2020-06-01 18:11] #1605 closed

[2020-06-01 18:13] waldekmastykarz commented on #1583
@westerdaled if you're okay with it, I'll close this issue as there are no further actions on our end, ok?

[2020-06-01 18:51] westerdaled commented on #1583
@waldekmastykarz if the issue has been fixed, and tested on other samples then yes pls close.  I am happy to try the project upgrade again, if needed.

[2020-06-01 20:58] sympmarc commented on #616
@waldekmastykarz I'm not sure what that means. I hear you mention it on a call, but I didn't know what it was. (I'm lame.) I just looked at the docs, and I didn't see anything. Is there a way for me to try it out?

[2020-06-01 22:48] garrytrinder commented on #616
Hey @sympmarc we are lacking in some docs on this but we will get some out there, for now though this might help.

 - CodeTour is an extension for VSCode which you can download from the [marketplace](https://marketplace.visualstudio.com/items?itemName=vsls-contrib.codetour)
 - You can use `spfx project upgrade --output tour` which generates a tour file in the project
 - You can then navigate the "

[2020-06-01 23:14] garrytrinder commented on #1345
Hey @jhagstrom 👋🏻 How are you getting on with this command?

[2020-06-01 23:16] garrytrinder commented on #1506
Hey @rabwill how are you getting on with this sample?

[2020-06-01 23:21] rabwill commented on #1506
Hey Garry was planning to pick this up next week :) as I am on annual leave this week.

[2020-06-01 23:24] garrytrinder commented on #1506
Thanks for the update, enjoy your week off 👍🏻

[2020-06-02 05:18] jhagstrom commented on #1345
Not at all I am afraid. I have not had the time for a while now.

[2020-06-02 07:16] waldekmastykarz commented on #1583
@westerdaled based on our exchange earlier I understood that there is no issue in the CLI itself and the issue was caused by the `include` / `exclude` properties being in the wrong place in your tsconfig.json file. Did I misunderstand it?

[2020-06-02 07:17] waldekmastykarz commented on #616
Sorry for cutting a corner @sympmarc and thank you for the explanation @garrytrinder. We need to ensure that our docs properly describe this.

[2020-06-02 07:59] waldekmastykarz commented on #1345
Understood and it's fine. Do you want to keep it or let others help?

[2020-06-02 12:30] sympmarc commented on #616
You should always assume I'm dumber than you are, @waldekmastykarz. :) I'll give it a try!

[2020-06-02 21:15] westerdaled commented on #1583
oK

When I generated the report ( prior to making any changes) the
`tsconfig`

`{
  "compilerOptions": {
    "target": "es5",
    "forceConsistentCasingInFileNames": true,
    "module": "commonjs",
    "jsx": "react",
    "declaration": true,
    "sourceMap": true,
    "experimentalDecorators": true,
    "types": [
      "es6-promise",
      "es6-collections",
      "webpack-env"
    ]
  }
}
`
Loo

[2020-06-03 12:07] aakashbhardwaj619 opened #1630 "Bug report: The `spo app get` command's documentation example refers to incorrect siteUrl argument"
### Description

The `spo app get` command's documentation example refers to usage of `siteUrl` argument that does not exist. The argument in place should be `appCatalogUrl`

**Willing to raise a PR to fix the issue.**

### Steps to reproduce

Execute the last command added in the `spo app get` documentation https://pnp.github.io/office365-cli/cmd/spo/app/app-get/#examples

`
spo app get --id b230

[2020-06-03 12:53] waldekmastykarz commented on #1583
In the latest version we have released a new upgrade report format based on VS Code CodeTour (https://developer.microsoft.com/en-us/sharepoint/blogs/office-365-cli-2-10/). That reports points exactly where in code the particular change belongs. We have currently an issue with properly highlighting lines in JSON files but @hugoabernier is working on it (#1602) and hopefully we'll see some improveme

[2020-06-03 12:54] waldekmastykarz commented on #1630
Good catch! PR would be most welcome! 😊

[2020-06-03 14:29] westerdaled commented on #1583
Ah Yes, @hugoabernier  did give me a quick demo of that. Yes, being guided whilst making the changes will be great.

[2020-06-03 17:44] alexabramkin opened #1631 "Bug report: Error on 'spo theme set' with JSON. Theme works in SPO powershell."
### Description

Running
spo theme set --verbose -n XYZ-Green -p C:\...\theme.json

Error
File contents is not a valid theme

### Steps to reproduce

Create theme in theme designer, save json in a file

### Expected result

New XYZ-Green theme in tenancy

### Actual result

Error
File contents is not a valid theme

### Environment
Windows Server 16

o365 version 2.10.0

theme.json below:
{
    "th

[2020-06-03 19:13] garrytrinder commented on #1631
Thank you for reporting this issue @alexabramkin and sorry for the trouble.

We recently introduced validation on this command (issue #1466) as it was possible to send an invalid theme object to the SharePoint API and not receive an error, resulting in a false positive.

Having checked the Theme Generator site (https://aka.ms/themedesigner), all colours in the generated theme object are hex values

[2020-06-03 19:28] garrytrinder commented on #1631
@waldekmastykarz we previously agreed that all colours should be hex values for the validating the incoming theme object, is there anything specific that requires hex values?

[2020-06-03 20:53] alexabramkin commented on #1631
Thank you for prompt reply!

2c:
Explanation works for me (suspected that, but was not sure). I think the problem was that color I was trying to match in Generator was originally in rgba and I did cut and paste (might have also been me playing with color selector in genrator). Also that "half-tone" did not match color selected once applied  via SO PowerShell.

Might be a good idea to enhance docs

[2020-06-03 21:28] garrytrinder commented on #1631
Great suggestion, we can absolutely do that. I will raise a separate issue to track the work to update the docs with some guidance on how the theme is validated. Would you be happy for this issue to be closed now that you are unblocked?

Thank you for the kind words ❤️

[2020-06-03 21:34] garrytrinder opened #1633 "Documentation: Add theme validation guidance to `spo theme set` command"
Raised from #1631

We should add guidance to the `spo theme set` command to cover how we validate themes supplied to the command and provide a good example for people to follow.

A valid theme object is as follows

[code]

Validation checks the following:

- the specified string is a valid JSON string
- the deserialized object contains all properties defined in the above example
- the deserialized

[2020-06-04 00:14] alexabramkin commented on #1631
Yes to closing the issue and thank you for your help!

[2020-06-04 00:14] #1631 closed

[2020-06-04 06:57] waldekmastykarz commented on #1583
It would be great if you could give it a try and tell us what you think. Meanwhile, since there are no specific next steps, I'll close this issue. Thanks again for your input! 👏

[2020-06-04 06:57] #1583 closed

[2020-06-04 18:19] #1517 closed

[2020-06-04 18:19] #1518 closed

[2020-06-04 18:19] #1519 closed

[2020-06-04 18:19] #1625 closed

[2020-06-04 18:19] #1630 closed

[2020-06-05 06:52] waldekmastykarz opened #1634 "New sample script: list sites where the particular app is installed"
|Docs||
|-----|----|
|Author| n/a |
|Original Post| n/a |
|Description| List all sites where the particular app is installed |
|Keywords| `SharePoint Framework` `Governance` |

[2020-06-05 17:44] #1520 closed

[2020-06-05 17:44] #1521 closed

[2020-06-05 17:49] waldekmastykarz commented on #916
Hey @garrytrinder, are you working on this?

[2020-06-05 17:52] waldekmastykarz commented on #1381
Hey @plamber, are you still working on this?

[2020-06-05 17:54] waldekmastykarz commented on #1441
@ktskumar are you still unable to replicate duplicate activations based on the latest info from @deanbot?

[2020-06-05 17:54] waldekmastykarz commented on #1454
Hey @plamber, are you still working on this?

[2020-06-05 17:54] waldekmastykarz commented on #1458
Hey @plamber, are you still working on this?

[2020-06-05 17:55] waldekmastykarz commented on #1490
Hey @plamber, are you still working on this?

[2020-06-05 17:55] plamber commented on #1381
Have not started yet unfortunately. Planned to do it asap. Same holds for the other assigned tasks

[2020-06-05 17:58] plamber commented on #1454
Yes

[2020-06-05 17:58] plamber commented on #1458
Yes

[2020-06-05 17:58] plamber commented on #1490
Yes

[2020-06-05 18:13] garrytrinder commented on #916
I am, just got the `--wait` option to implement, will look to get that in over the weekend 👍🏻

[2020-06-05 18:14] waldekmastykarz opened #1635 "Rename 'Office 365 CLI' to 'CLI for Microsoft 365'"
Related to #1598

- [x] rename all references in code
- [x] rename all references in docs
- [x] update logo in docs
- [x] remove the `o365` and `office365` executables
- [x] update asciinema video on welcome page
- [x] ~deprecate the `@pnp/office365-cli` package~
- [x] publish as `@pnp/cli-microsoft365`
- [x] `Microsoft Office 365` > `Microsoft 365`
- [x] `Office 365 CLI` > `CLI for Microsoft 365`

[2020-06-05 18:16] waldekmastykarz opened #1636 "Rename this repo to 'cli-microsoft365'"
Related to #1598

- [ ] Rename this repo to `cli-microsoft365`. Do it shortly before releasing v3.
- [ ] update URLs and references in package.json and other files
- [ ] update aka.ms/cli-m365

[2020-06-05 18:17] waldekmastykarz opened #1637 "Add `m365` and `microsoft365` executables"
Related to #1598

Preparing for renaming Office 365 CLI to Microsoft 365 CLI, we can already add `m365` and `microsoft365` executables to allow everyone to start preparing for upgrading their scripts.

[2020-06-06 04:39] plamber commented on #1494
Hi @waldekmastykarz,
I am working on this command.

The deletion of any SPO site works fine with the current version of the "site classic remove command". It fails with the error message "This site belongs to an Office 365 group. To delete the site, you must delete the group." if you try to delete a site connected with an Office 365 group.

From my point of view this behavior is fine and shouldn't

[2020-06-06 06:57] plamber commented on #1381
@waldekmastykarz

In this specific case I have two solutions how to retrieve the site URL coming from the GroupId. I can use the Graph API using https://graph.microsoft.com/v1.0/groups/$groupId/sites/root/weburl or I could use the hidden list in the SharePoint Online admin catalog to retrieve the URL by filtering it using the GroupId.

I prefer using Graph in this case. This requires me to write s

[2020-06-06 09:54] thomyg opened #1640 "Example scripts: List app usage in Microsoft Teams"
hi!

I created to CLI samples:
https://gist.github.com/thomyg/02eabc39ee2be2e06878e5351f3b2edf & https://gist.github.com/thomyg/1ec1c47eb5bbcf1acaabfa2124a49c32

Description and details at https://thomy.tech/list-teams-app-usage/

Feel free to copy links or content to the sample section.

[2020-06-06 17:25] waldekmastykarz commented on #1381
I think the idea behind this command was to remove all fields belonging to the specified field group, not an Office 365 group. 😊

[2020-06-06 17:27] waldekmastykarz commented on #1640
Awesome! We will! Thank you for the heads up 👏

[2020-06-06 17:53] #1494 closed

[2020-06-07 09:07] plamber commented on #1381
@waldekmastykarz

Requirements are clear now :/

I am almost done with the implementation. I just wanted to ask you a favor. I am struggling to find the reason why my branch test coverage is still reporting that I am missing some branches. I do not find the line in question.

I made a commit of the solution here: https://github.com/plamber/office365-cli/commits/spo-field-remove-group

Do you mind

[2020-06-07 14:55] waldekmastykarz commented on #1381
c8, our code coverage solution, doesn't properly support async methods which is why the reported coverage isn't accurate. To keep things simple and consistent, I'd suggest you used promises instead of async. Sorry for the trouble

[2020-06-08 17:41] #1574 closed

[2020-06-08 17:41] #1637 closed

[2020-06-08 17:41] #1506 closed

[2020-06-08 17:43] waldekmastykarz commented on #1574
We have just release a new beta version with the fix. Once again, thank you for reporting it 👏

[2020-06-09 14:52] sympmarc commented on #616
I'm going to try this today on a project I built for SharePoint 2019 (thus v1.4.1) and will upgrade to 1.10.0. Should be interesting!

[2020-06-09 17:51] waldekmastykarz commented on #616
Crossing my fingers! Looking forward to hear what you think 😊

[2020-06-09 18:08] sympmarc commented on #616
Ok, I'm going to ask some dumb questions right here in case it helps someone else...

My existing solution seems to be 1.9.1, but targeted to SP2019, which I believe uses 1.4.1?

[code]
What I want to do is take one of the solutions in the project (it contains an Extension and a Web Part) and contribute it as a sample to [sp-dev-fx-webparts](https://github.com/pnp/sp-dev-fx-webparts).

I thought I

[2020-06-09 18:08] waldekmastykarz opened #1646 "New command: create tenant app catalog site"
### Usage

`spo tenant appcatalog add [options]`

### Description

Creates new tenant app catalog site

### Options

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
|`-u, --url <url>` | Absolute URL of the tenant app catalog site to create|
| `--owner <owner>` | The account name of the site owner|
`-z,

[2020-06-10 06:46] waldekmastykarz commented on #616
This isn't a dumb question and I believe you've uncovered something we haven't taken into account so far. Up until now, we've been assuming that the version of the generator used to create the project = the version of SPFx. We've found this to me more reliable than looking at the versions of packages in package.json, which in the 1.0.0-1.4.0 timeframe were inconsistent. What we didn't take into ac

[2020-06-10 18:11] waldekmastykarz opened #1647 "Bug report: incorrect project version detected in spfx project upgrade"
Related to #616

### Description

For SharePoint onprem projects, `spfx project upgrade` incorrectly detects the project version

### Steps to reproduce

[code]

### Expected result

version 1.4.1

### Actual result

version 1.9.1

### Environment

latest

[2020-06-10 20:16] miscs opened #1648 "New command: shareByLinkEnabled true"
### Usage

spo site set --url https://contoso.sharepoint.com/sites/sales --shareByLinkEnabled true

### Description

As it is possible to set ShareByEmailEnabled it would be great if we could set ShareByLinkEnabled as well.

ShareByEmailEnabled                   : true
ShareByLinkEnabled                     : true

### Additional Information

Should be work the same as
spo site set --url https://c

[2020-06-11 12:46] waldekmastykarz commented on #1648
Great suggestion! Thank you! Would you like to contribute this addition yourself? 🙂

[2020-06-11 12:48] waldekmastykarz commented on #616
Good catch! Yes, this is a known issue and @hugoabernier is working on it #1602. We hope that we will be able to ship it shortly 😊

[2020-06-11 17:03] plamber commented on #1381
@waldekmastykarz tried it out with a promise.all and have still the same issue.

Do you have a suggestion how to handle multiple commands and wait for all of them to complete until calling cb?

[2020-06-11 17:07] waldekmastykarz commented on #1381
Just to double check that I'm looking at the right question: your code is working and you'd like me to look at the coverage or your code isn't working as expected and you'd like me to have a look at that? 😊

[2020-06-11 17:11] plamber commented on #1381
Yes, the code coverage is still not ok. I can't find the issue

[2020-06-11 17:38] waldekmastykarz commented on #1381
Cool, I'll take a look

[2020-06-11 17:46] waldekmastykarz commented on #1381
There are two methods decorated with `async`:

https://github.com/plamber/office365-cli/blob/1555189c1220a85f67799f6362173b376b0ce0ce/src/o365/spo/commands/field/field-remove.ts#L57

and

https://github.com/plamber/office365-cli/blob/1555189c1220a85f67799f6362173b376b0ce0ce/src/o365/spo/commands/field/field-remove.ts#L112

This causes TypeScript to generate a helper that isn't fully covered.

Righ

[2020-06-11 18:07] plamber commented on #1381
@waldekmastykarz ahh... now I got it.

Would it be possible to subscribe to **waldekAsADebuggingService**?  :)

Just pushed the changes for review

[2020-06-12 13:35] waldekmastykarz commented on #1381
Happy to help! 😄

[2020-06-12 15:21] ktskumar commented on #1441
@waldekmastykarz  Yes, I couldn't replicate that.

[2020-06-12 17:13] waldekmastykarz commented on #1441
In that case, let's close this issue. Thank you for investigating. 👍

[2020-06-12 17:13] #1441 closed

[2020-06-13 18:17] #916 closed

[2020-06-13 18:17] #1647 closed

[2020-06-14 12:13] waldekmastykarz commented on #1569
@digbar In the latest version of Office 365 CLI we have introduce a new report type based on VSCode CodeTour. It would be great if you could take a look and tell us if it's clearer than the MD report you have used previously.

[2020-06-14 15:34] harp365 commented on #1637
@waldekmastykarz  - Is this suggesting that I would be able to do m365 anywhere in place of what was o365 as if so, I just tried and it just came back with: m365 : The term 'm365' is not recognized as the name of a cmdlet, function, script file, or operable program. Check the spelling of the name, or if a path was included, verify that the path is correct and try
again.
At line:1 char:1
+ m365
+ ~

[2020-06-14 16:09] harp365 commented on #1637
@waldekmastykarz Thank you for this, it was killing my OCD having to still do o365

[2020-06-14 16:12] harp365 commented on #916
@garrytrinder  - Had a quick play and loving this. This is going to condense my massive script that goes through collating 3 lots of tab creation, joining them together and sending as a batch call to the graph into one line and just some effort on a reusable template.

Absolutely loving the wait feature too as that is massive for these types of operations, where a script can carry on before the pr

[2020-06-14 17:10] waldekmastykarz commented on #1637
😁 the rename is coming soon as well. We just want to do it right and give everyone enough time to prepare.

[2020-06-14 17:11] waldekmastykarz commented on #916
Appreciate your kind words! 😊

[2020-06-14 17:31] garrytrinder commented on #916
Thank you @harp365 😊

Great to hear that this simplifies your workflow 🚀💪🏻

[2020-06-14 20:59] sprider opened #1653 "New sample script: Insert pictures in a SharePoint Document Library into a Word document"
Docs |  
-- | --
Author |Joseph Velliah
Original Post |https://sprider.blog/insert-pictures-in-a-sharepoint-document-library-into-a-word-document
Description |This PowerShell script shows how to download and insert many pictures in a SharePoint Document Library into a Word document in a two-column table with file name using Office 365 CLI commands and PowerShell Script.
Keywords |`SharePoint Onlin

[2020-06-14 21:46] sprider commented on #1653
Could you please assign this to me?

[2020-06-15 07:13] garrytrinder commented on #1653
All yours 👍🏻

Thanks for your help @sprider 👏🏻

[2020-06-15 07:49] waldekmastykarz opened #1654 "Enhancement: return information about newly created team"
Related to #1652

After creating a team, we should return the information about that team returned by the API so that it can be used for subsequent operations.

[2020-06-15 11:11] garrytrinder commented on #1654
In the case of the `teams team add` command, as it returns a `teamsAsyncOperation ` operation response, we won't be able to return the full team object until the operation has completed.

I see that we have a couple of options

1. Remove the `--wait` option and make this the default behaviour, we can then make an additional call to return either the true `team` object, or `group` object for that t

[2020-06-15 11:39] harp365 commented on #1654
@garrytrinder Part of me wants to say go for the bake in the wait operation and get the full set of created Team info back, however thinking on it some more. I feel that the Id is the key and I suppose it would be nice perhaps not for me but others if they are doing this as part of a script and the rest of the script does not depend on the Team being in place to have the option to not wait. As onc

[2020-06-15 11:45] waldekmastykarz commented on #1654
What if we used different output depending if you used `wait` or not? If you use `wait`, you get the group object back (I think it's more valuable then the team object, right?). If you don't use `wait`, you get the job info which you can use yourself to check if the team has been created (assuming you even care about it).

[2020-06-15 11:50] harp365 commented on #1654
I mean at its core it is a group, so the group object would certainly still serve my purpose.

[2020-06-15 14:45] garrytrinder commented on #1654
Sounds like a plan, we should add a note into the docs to let users know of the difference in responses based on the presence of the `--wait` option.

[2020-06-15 15:43] garrytrinder opened #1656 "New command: teams deeplink tab generate"
### Usage

`teams tab deeplink get [options]`

### Description

Generates a Microsoft Teams deep link from an existing Tab in a Channel

### Options

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `--teamId <teamId>` 	  | The ID of the team where the tab exists   |
| `--channelId <channelId>`  | The

[2020-06-16 13:10] sprider commented on #1653
Thank you @garrytrinder. I have submitted the pull request for your review.

[2020-06-17 06:36] rashmivsharan opened #1658 "I want to know whether PnP SharePoint can Work in Powershell On RHEL -7 (Linux Platform) I have 1 TB of files to be migrated from LInux Platform i.e. RHEL 7 to sharepoint . For that i have installed Powershell and Install-Module SharePointPnPPowerShellOnline also. But PnP is not establishing connection with sharepoint online. I want to know if the mentioned PnP will work or not on Linux Platform, and if not which PnP i have to Install. We have installed .NetCore as well."
I want to know whether PnP SharePoint can Work in Powershell On RHEL -7 (Linux Platform) I have 1 TB of files to be migrated from LInux Platform i.e. RHEL 7 to sharepoint . For that i have installed Powershell and Install-Module SharePointPnPPowerShellOnline also. But PnP is not establishing connection with sharepoint online. I want to know if the mentioned PnP will work or not on Linux Platform,

[2020-06-17 10:41] appieschot opened #1659 "New command: spo file sharinginfo get"
## Usage

`spo file sharinginfo get [options]`

### Description

Generates the sharing information report for specified file

### Options

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `-w, --webUrl<webUrl>` | The URL of the site where the file is located |
| `-i, --id[id]` | The UniqueId (GUID) of

[2020-06-17 20:45] souravkar123 opened #1660 "Bug report: Error: Access denied. You do not have permission to perform this action or access this resource"
### Description

### Steps to reproduce

![image](https://user-images.githubusercontent.com/15612807/84948077-28e8b880-b0b9-11ea-9f61-eebbadf6ce13.png)

### Expected result

### Actual result

![image](https://user-images.githubusercontent.com/15612807/84947994-1c646000-b0b9-11ea-8511-91072c621fa5.png)

### Environment

[2020-06-17 20:54] garrytrinder commented on #1660
Hey @souravkar123 thank you for reporting this and apologies for the trouble.

Could you execute the command with the `--debug` option and paste the output into this issue?

[2020-06-17 21:02] souravkar123 commented on #1660
PS C:\windows\system32> C:\Sourav\Tutorials\Powershell scripts\O365CLI Test.ps1
To sign in, use a web browser to open the page https://microsoft.com/devicelogin and enter the code D4V6BFUS9 to authenticate.
connectedAs: Sourav.Kar@honeywell.com

No token found for resource https://honeywellprod.sharepoint.com
Retrieving new access token using existing refresh token AQABAAAAAAAm-06blBE1TpVMil8KPQ41

[2020-06-17 22:10] garrytrinder commented on #1660
Can you use the `o365 --reconsent` command and follow the link that it returns.

You will be asked to consent to the permissions that the `PnP Office 365 Management Shell` Azure AD application requires and it will list the permissions being requested, as the screenshot below shows.

Can you screenshot this screen and paste into this issue?

![image](https://user-images.githubusercontent.com/115633

[2020-06-17 23:24] souravkar123 commented on #1660
![image](https://user-images.githubusercontent.com/15612807/84960570-01511a80-b0d0-11ea-9e1a-7ef19fdd27ce.png)

[2020-06-18 13:44] juliemturner opened #1661 "Bug report: update from project without "teams" folder"
When upgrading an SPFx project pre Microsoft Teams support the mkdir command to create the "teams" folder has an incorrect slash in both the **FN018001 Web part Microsoft Teams tab resources folder | Optional** section as well as the **Summary** section.

[code]
### Environment

Windows 10, VS Code Terminal (cmd), 2.10.0

[2020-06-18 13:57] juliemturner opened #1662 "Bug report: assets/tab20x20.png 'No such file or directory'"
### Description

When upgrading an SPFx project pre Microsoft Teams support the step to copy assets\tab20x20.png and tab96x96.png throw error "no such file or directory"

Command:
`cp assets/tab20x20.png C:\code\myproject/teams/925b8fdb-3c50-4035-b15e-1baf4c15e994_outline.png`

Not that not only is the source of the tabs20x20.png file not found but this command would also fail as the slash before

[2020-06-18 17:17] waldekmastykarz commented on #1659
A couple of comments to finalize the spec, before we start working on it :)

- looking at other file commands they all reference files via web URL + file URL/ID. For consistency, this command should do the same
- if `sharing` would be the command's verb (technically `sharing` it's not a verb and by convention the last word of a CLI command is a verb), then it could indicate sharing a file rather t

[2020-06-18 17:21] waldekmastykarz commented on #1661
Good catch and clearly a bug. Thank you for reporting it @juliemturner. We're on it 🏃

[2020-06-18 17:22] waldekmastykarz commented on #1662
Another nice catch! Sorry for the trouble and we're on it 🚀

[2020-06-19 06:29] appieschot commented on #1659
- We could use the file ID but that would make the command a bit harder as the SharingInfo requires an URL, meaning we would have to get the URL first. Do we favour consistency over complexity?
- Absolutely right, changed the specs
- I am not sure how other commands solve this, and given the results complexity I am not sure if we can get a nice text representation.. The result has: Invitations (di

[2020-06-19 07:34] waldekmastykarz commented on #1659
I don't think we need to compromise and can offer two ways. If you build a script and have file ID but not its URL, we should be able to resolve it to a URL for you without having to force you to do it yourself. If you already have a URL, that's fine as well.

👍

I like your suggestion of showing the different principals who have access to the file. Let's use that as default and mention in the doc

[2020-06-19 07:47] appieschot commented on #1659
Okey, so if you specify the ID we also need the URL of the site where the ID lives, that would mean two additional parameters. Based on those two things we could call the spo file get scenario and retrieve the URL. Do we already have a sample where we call another command? Or do we want to implement it as rest calls?

[2020-06-19 12:45] waldekmastykarz commented on #1659
I think in this particular case it would be the easiest to implement it as a separate REST call and retrieve only the file URL rather than all properties.

[2020-06-19 14:10] miscs commented on #1648
Thanks for your feedback, unfortunately I have not the skills to do so myself. Sorry for that!

[2020-06-19 16:59] waldekmastykarz commented on #1648
@miscs totally not a problem and you've helped already bringing this to our attention. Thank you! 👏

[2020-06-20 18:16] #1381 closed

[2020-06-20 18:16] #1661 closed

[2020-06-20 18:16] #1653 closed

[2020-06-20 18:16] #1654 closed

[2020-06-20 18:16] #1662 closed

[2020-06-20 18:20] waldekmastykarz commented on #1661
We've fixed this issue in the latest beta. Once again, thank you for reporting it and please don't hesitate to reach out to us if anything's out of the ordinary. 👍

[2020-06-20 18:20] waldekmastykarz commented on #1662
We've fixed this issue in the latest beta. Once again, thank you for reporting it and please don't hesitate to reach out to us if anything's out of the ordinary. 👍

[2020-06-21 07:02] arjunumenon commented on #1640
@Hey @waldekmastykarz  - Want to contribute to the awesome O365 CLI in whatever way I can.

Can I pick this up?

[2020-06-21 07:15] garrytrinder commented on #1640
All yours @arjunumenon 👍🏻

Thank you for the help 👏🏻

[2020-06-22 09:20] appieschot commented on #1659
Updated specs

[2020-06-23 14:58] sebastianrogers opened #1667 "Bug report: spo list list --query on BaseTemplate fails"
### Description

The command below fails to return any lists

[code]

The following one does

[code]
### Steps to reproduce

[code]

### Expected result

Id   : <GUID>
Title: Documents
Url  : /sites/site/Shared Documents

### Actual result

Nothing returned

### Environment

Azure Cloud Shell
o365 version: 2.10.0
bash version: 4.3.48(1)-release

[2020-06-23 17:24] waldekmastykarz commented on #1667
Thank you for reporting the issue and you've uncovered a bug, although the behavior you mentioned is partly by design.

In Office 365 CLI, JMESPath queries are applied after the data set was retrieved and just before it's passed to the output. In your example, you're using the default text output, which contains only `Title`, `URL` and `ID` of each list. So when you try to filter it by `BaseTempla

[2020-06-23 17:35] waldekmastykarz commented on #1660
@souravkar123 are you still blocked or is the above information sufficient for you to continue?

[2020-06-23 17:36] waldekmastykarz commented on #1602
Hey @hugoabernier, are you still working on this? Can we help with anything?

[2020-06-23 18:51] sebastianrogers commented on #1667
Understood and having added the --output json and prefixing my query with value it is all working as expected:

[code]

Thank you for your feedback and yes this has been a huge help allowing me to use the cloudshell to perform real work on a production system instead of having to use a client with PnP PowerShell and Windows installed on it.

Big stride forward.

[2020-06-24 07:44] waldekmastykarz commented on #1667
Awesome and thank you for the kind words! Great to hear that you're unblocked 👏

[2020-06-24 17:41] #1667 closed

[2020-06-24 18:04] waldekmastykarz commented on #1667
We have just released a new beta version with the fix for this issue. Once again, thank you for bringing it up to our attention 👏

[2020-06-24 18:04] waldekmastykarz commented on #1660
Closing due to lack of response

[2020-06-24 18:04] #1660 closed

[2020-06-24 18:06] waldekmastykarz commented on #1569
Hey @digbar, just wanted to check if you had an opportunity to look at the VSCode CodeTour report that we now offer in the CLI and if it's a clearer way to understand what changes need to be applied where.

[2020-06-24 18:32] digbar commented on #1569
Hi @waldekmastykarz.
Apologies for the late reply.
Let me try this during the weekend and I get back to you.

[2020-06-25 06:49] waldekmastykarz commented on #1569
Awesome! Appreciate your help 👍

[2020-06-25 06:53] waldekmastykarz commented on #821
@jhagstrom opened a PR #1421 that needs finishing. Since he's unable to finish it himself, we'd welcome some help to get it done. We're almost there

[2020-06-25 14:00] VelinGeorgiev opened #1670 "New command: spo userprofile get"
### Usage

`spo userprofile get [options]`

### Description

Get SharePoint user profile for the specified user

### Options

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `-u, --userName<userName>` | Account name of the user |
| `-o, --output [output]` | Output type. `json,text`. Default `text` |
|

[2020-06-25 14:58] VelinGeorgiev opened #1671 "New command: spo userprofile set"
### Usage

`spo userprofile set [options]`

### Description

Sets user profile property for a SharePoint user

### Options

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `-u, --userName <userName>` | Account name of the user |
| `-n, --propertyName <propertyName>` | The property name of the property

[2020-06-25 15:39] VelinGeorgiev opened #1672 "New command: spo user list"
### Usage

`spo user list [options]`

### Description

Lists all the users within specific web

### Options

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `-u, --webUrl <webUrl>` | Url of the web to list the users within|
| `-o, --output [output]` | Output type. `json,text`. Default `text` |
| `--ve

[2020-06-25 15:55] VelinGeorgiev opened #1673 "New command: spo user get"
### Usage

`spo user get [options]`

### Description

Gets a site user within specific web

### Options

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `-u, --webUrl <webUrl>` | Url of the web to list the user within|
| `--email [email]` | Email of the site user to get|
| `--id [id]` | Id of the site

[2020-06-25 16:11] VelinGeorgiev opened #1674 "New command: spo user remove"
### Usage

`spo user remove [options]`

### Description

Removes an site user from specific web

### Options

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `-u, --webUrl <webUrl>` | Url of the web to remove the user from
| `--id [id]` | Id of the site user to get|
| `--loginName [loginName]` | Login

[2020-06-25 17:46] waldekmastykarz commented on #1670
I'd suggest we go with `john.doe@mytenant.onmicrosoft.com`. Like you mentioned, it's user-friendly. No one will ever know how to put in the upn.

Also, I'd suggest we change the command's description to `Get SharePoint user profile for the specified user`. With the current description `Gets user profile properties for a SharePoint user` my first impression was that the command would retrieve a lis

[2020-06-25 17:50] waldekmastykarz commented on #1671
See remarks from #1670. As for description, I'd suggest we rephrase it to `Sets user profile property for a SharePoint user` (single property) since the command allows you to update only one property at the time. If we used `-u` for user, then we could use `-n` and `-v` for name and value. What do you think?

[2020-06-25 17:52] waldekmastykarz commented on #1672
LGTM! 👏

[2020-06-25 17:56] waldekmastykarz commented on #1673
In CLI we distinguish between site collection (`site`) and sites (`web`). If this command is for use on webs, shouldn't it be named `spo web user get` to clearly indicate its scope?

[2020-06-25 17:59] waldekmastykarz commented on #1674
See comments on #1673

[2020-06-25 19:11] VelinGeorgiev commented on #1673
@waldekmastykarz How about 'spo user get' jist as another option? It follows the ps naming and it is namespased specificaly to spo so kind of related.

[2020-06-26 13:17] VelinGeorgiev commented on #1670
Changes made. Thanks for the feedback!

[2020-06-26 13:34] VelinGeorgiev commented on #1671
Changed according the comments. Thank you!

[2020-06-26 13:40] VelinGeorgiev commented on #1672
@waldekmastykarz I changed to `spo web users list` , but I am thinking of also `spo users list` naming since when you specify a `--webUrl`  and it is the `spo` namespace so kind of says what it does without we explicitly specify `web`. This is how it is named in PnP PowerShell `Get-PnPUser`.

[2020-06-26 13:48] VelinGeorgiev commented on #1674
Changes made. Thanks!

[2020-06-26 17:08] dips365 commented on #1674
Hey,

I would like to give my contribution on it.
Feel free to assign me to create a new command to remove user from particular web.

Thanks,
Dips365

[2020-06-26 20:00] garrytrinder commented on #1674
Hey @dips365 👋🏻

Thank you for your help, it’s all yours.

Here is our guide for creating a new command, if you have any questions please do not hesitate to reach out.

https://github.com/pnp/office365-cli/blob/master/docs/guides/adding-command.md

[2020-06-26 20:03] dips365 commented on #1674
Hey
Can you please reassigned me ? Mistakely i unassigned myself.

Apologies !!

[2020-06-26 20:23] VelinGeorgiev commented on #1674
Done. Thank you!

[2020-06-27 22:28] #12 closed

[2020-06-27 22:38] VelinGeorgiev commented on #12
Thank you Rabia @rabwill ! This is now merged to master.

[2020-06-28 13:37] siddharth-vaghasia commented on #1673
Hey @waldekmastykarz , @VelinGeorgiev  - I can work on this, request to please assign me and let me know if any special instruction....

[2020-06-28 17:57] waldekmastykarz commented on #1672
Personally, I find `Get-PnPUser` pretty ambiguous. To me, it doesn't communicate the intent and you need to get to the docs/help to understand what you can do with it.

You might be right here. First, I thought it would make more sense to make it explicit that the command applies to site/web. But then, looking at our other commands, like list or field, they're not qualified with site/web either, s

[2020-06-28 17:58] waldekmastykarz commented on #1674
Hey @VelinGeorgiev, @dips365, please have a look at my comments from #1673 and adjust this spec before you start going. Sorry for the trouble 😊

[2020-06-28 18:02] waldekmastykarz commented on #1673
@VelinGeorgiev see my remarks from #1672. Let's drop the web/site part and stick to your original spec. Sorry for the trouble

@siddharth-vaghasia as for your question number 2: yes, we should show an error when multiple user identifiers are specified.

[2020-06-28 18:49] siddharth-vaghasia commented on #1673
Oops..I read comments from other issues and already worked  'spo web get user' ... but that's fine, I can change once we finalized....

![image](https://user-images.githubusercontent.com/9557557/85955669-d43d1b80-b99d-11ea-9951-73f6cbbaa50f.png)

Does it mean we will be create new folder 'user' under which all 'spo user *' will be structured. ? I see there are other commands also with similar spec

[2020-06-29 03:41] dips365 commented on #1674
@waldekmastykarz I started work for Spo  web and created a command to to remove user from web(Sites).

# Location for command.ts and command.spec.ts is O365 SPO WEB MYCOMMAND.

Guide me I am going off track 😊

[2020-06-29 05:51] dips365 commented on #1674
@waldekmastykarz @VelinGeorgiev
I read conversations in #1673 & #1672.
I am following below pattern to make new command.

**Command Name :**
spo user remove --webUrl "https://contoso.sharepoint.com/sites/mysite" --id 5

thought?

[2020-06-29 11:21] VelinGeorgiev commented on #1674
Hey @dips365 , I updated the spec. Please use `spo user remove ` instead of `spo web user remove `. Thank you and I am sorry for the disturbance.

[2020-06-29 11:23] VelinGeorgiev commented on #1673
Hey @siddharth-vaghasia , I updated the spec. Please use `spo user get` instead of `spo web user get`. Thank you and I am sorry for the disturbance.

Yes, you will have to create new folder named `user` and place the command in it.

[2020-06-29 14:22] dips365 commented on #1674
Thanks @VelinGeorgiev

[2020-06-29 20:58] siddharth-vaghasia commented on #1672
@VelinGeorgiev ... I am almost done with other spo user get command, I can take this up too... can you please assign to me?

Before starting this, I will submit PR of #1673 for a quick review as this was my command :)

[2020-06-30 07:29] digbar commented on #1569
@waldekmastykarz, sorry for the late reply.
Yep. It seems to be clearer. I can see more steps, but it shows exactly the things I need to update.

However I noticed another thing which it can be confusing but I might be wrong. This entry below references that we need to remove entries, but under it says to update the code. Should this be something like [...] remove the code below or something like

[2020-06-30 10:14] VelinGeorgiev commented on #1672
All yours Siddharth @siddharth-vaghasia thanks for your help!

[2020-06-30 12:21] waldekmastykarz commented on #1569
Thanks for trying it out and your feedback. You're right, it should be clearer. Let's see how we can improve it.

[2020-06-30 17:48] waldekmastykarz commented on #1371
Let's split this issue to keep the work separate because the changes need to be done in two different places.

[2020-06-30 17:49] waldekmastykarz opened #1680 "Remove `-h` short"
Related to #1371

We need to remove the `-h` short option from `spo contenttype field set` and `spo hidedefaultthemes set` so that it can be used as a global short option for requesting command help.

[2020-06-30 18:03] waldekmastykarz commented on #1635
Let's move the `deprecate the @pnp/office365-cli package` item to a separate issue so that it doesn't block completing this one.

[2020-06-30 18:06] waldekmastykarz opened #1683 "Deprecate the @pnp/office365-cli package"
Related to #1635

After releasing CLI as `@pnp/microsoft365-cli`, we should deprecate the `@pnp/office365-cli` package to make it clear that it will no longer be updated.

[2020-07-01 12:17] sprider opened #1685 "New sample script: Sync SharePoint Document Library Documents with Azure Storage Container"
As discussed [here](https://github.com/pnp/office365-cli/discussions/1675), Could you please assign this to me?

Docs |  
-- | --
Author |Joseph Velliah
Original Post |https://sprider.blog/sync-sp-library-with-az-storage-container
Description |This PowerShell script shows how to download and sync documents in a SharePoint Document Library into an Azure Storage Container using Office 365 CLI and Az

[2020-07-01 12:21] dips365 commented on #1670
@VelinGeorgiev
I am done with #1674 and raised pull request for the same.
I can take this up too... can you please assign to me? I would like to give my contribution to it.

[2020-07-01 13:38] digbar commented on #1569
Glad to help 👍

[2020-07-01 17:07] waldekmastykarz commented on #1670
All yours @dips365. Appreciate your help! 👏

[2020-07-02 05:26] dips365 commented on #1670
Thanks @waldekmastykarz

[2020-07-02 12:59] dips365 commented on #1670
@waldekmastykarz  Should i add new folder with name "userprofile" under spo?

[2020-07-02 14:05] waldekmastykarz commented on #1670
Yes, please do

[2020-07-02 14:07] dips365 commented on #1670
Thank you @waldekmastykarz

[2020-07-02 17:28] waldekmastykarz commented on #1670
Thank you for checking with us 👍

[2020-07-02 19:34] alexandair opened #1688 "Bug report: Non-existent command doesn't output an error"
### Description

Non-existent command `o365 -auth identity` doesn't output an error. It looks like it just silently fails.

### Steps to reproduce

`o365 -auth identity`

### Expected result

An output like this:

[code]

### Actual result

No output.

### Environment

Azure Cloud Shell
o365 version : 2.10.0

[2020-07-03 14:05] waldekmastykarz commented on #1688
Thank you for reporting! We'll look into it

[2020-07-03 17:04] sympmarc opened #1689 "New command: freedom"
Easily rename your Git default branch from master to main - Scott Hanselman
https://www.hanselman.com/blog/EasilyRenameYourGitDefaultBranchFromMasterToMain.asp

Seems like this could all be buttoned up in the CLI? I wonder if you could add `freedom` as a command to issue the git commands, making it very simple?

I'm not sure it's the right place for it, but it could be some good publicity.

[code]

[2020-07-03 21:18] aakashbhardwaj619 commented on #1671
Hey guys, can I take this up?

[2020-07-03 21:35] garrytrinder commented on #1689
Great suggestion @sympmarc 👏🏻

I personally would prefer changing to `trunk`, as after we dropped the `dev` branch we implemented Trunk Based Development so the name fits that strategy.

[2020-07-03 22:41] VelinGeorgiev commented on #1671
All yours Aakash @aakashbhardwaj619 . Thank you for your support!

[2020-07-04 04:15] plamber commented on #1490
@waldekmastykarz I have issues at this moment to focus on this project I was used to do a couple of months ago. Therefore, I wanted to ask you if it would be possible to remove me from this task. Maybe somebody else in the community is taking it up before me.

I will come back to these commands and other commands working on them if nobody else is doing it and if I have the necessary time to focus

[2020-07-04 04:15] plamber commented on #1495
@waldekmastykarz I have issues at this moment to focus on this project I was used to do a couple of months ago. Therefore, I wanted to ask you if it would be possible to remove me from this task. Maybe somebody else in the community is taking it up before me.

I will come back to these commands and other commands working on them if nobody else is doing it and if I have the necessary time to focus

[2020-07-04 04:15] plamber commented on #1493
@waldekmastykarz I have issues at this moment to focus on this project I was used to do a couple of months ago. Therefore, I wanted to ask you if it would be possible to remove me from this task. Maybe somebody else in the community is taking it up before me.

I will come back to these commands and other commands working on them if nobody else is doing it and if I have the necessary time to focus

[2020-07-04 04:16] plamber commented on #1458
@waldekmastykarz I have issues at this moment to focus on this project I was used to do a couple of months ago. Therefore, I wanted to ask you if it would be possible to remove me from this task. Maybe somebody else in the community is taking it up before me.

I will come back to these commands and other commands working on them if nobody else is doing it and if I have the necessary time to focus

[2020-07-04 04:16] plamber commented on #1454
@waldekmastykarz I have issues at this moment to focus on this project I was used to do a couple of months ago. Therefore, I wanted to ask you if it would be possible to remove me from this task. Maybe somebody else in the community is taking it up before me.

I will come back to these commands and other commands working on them if nobody else is doing it and if I have the necessary time to focus

[2020-07-04 15:07] #1646 closed

[2020-07-04 15:07] #1673 closed

[2020-07-04 17:16] #1536 closed

[2020-07-04 17:17] #1418 closed

[2020-07-04 17:17] #1600 closed

[2020-07-04 17:18] #1680 closed

[2020-07-04 17:18] #1368 closed

[2020-07-04 17:21] waldekmastykarz commented on #1689
While I understand the reasoning behind the command, I'd be against implementing it, because its functionality is not related to Microsoft 365.

[2020-07-04 17:23] sympmarc commented on #1689
Fair enough, and you’re right. I’m not sure it fits into any of the PnP efforts, really, but it just seemed like a potentially good thing to do.

[2020-07-04 17:26] waldekmastykarz commented on #1689
I absolutely agree that it's a good thing to offer people. Not sure if we have a place for a sample PowerShell/sh script that does this anywhere?

I'll close this issue, but let's continue the discussion with the rest of the community.

[2020-07-04 17:26] #1689 closed

[2020-07-04 18:53] garrytrinder commented on #1490
Considering that GitHub now has its own CLI that would provide this functionality, would we need this command?

[2020-07-04 20:50] #1674 closed

[2020-07-04 22:13] VelinGeorgiev opened #1690 "New command: spo user add"
### Usage

`spo user add [options]`

### Description

Adds user to a specific web

### Options

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `-u, --webUrl <webUrl>` | Url of the web to list the users within|
| `--email <email>` |Email of the user to be added|
| `--group <group>` |The SharePoint gro

[2020-07-04 22:25] VelinGeorgiev opened #1691 "New command: spo group list"
### Usage

`spo group list [options]`

### Description

Lists all the groups within specific web

### Options

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `-u, --webUrl <webUrl>` | Url of the web to list the group within|
| `-o, --output [output]` | Output type. `json,text`. Default `text` |
| `--

[2020-07-04 22:34] VelinGeorgiev opened #1692 "New command: spo group get"
### Usage

`spo group get [options]`

### Description

Gets a group within specific web

### Options

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `-u, --webUrl <webUrl>` | Url of the web to list the user within|
| `--name [name]` | Name of the site group to get|
| `--id [id]` | Id of the site user

[2020-07-04 22:53] VelinGeorgiev opened #1693 "New command: spo group remove"
### Usage

`spo group remove [options]`

### Description

Removes site group from specific web

### Options

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `-u, --webUrl <webUrl>` | Url of the web to remove the group from
| `--id [id]` | Id of the site group to remove|
| `--name [name]` | Name of the

[2020-07-05 07:22] nanddeepn commented on #1692
I am interested to work on this.

[2020-07-05 08:47] VelinGeorgiev commented on #1692
All yours Nanddeepn @nanddeepn !

Waldek @waldekmastykarz could you please confirm that the command wording is OK so Nanddeepn can start on it?

[2020-07-05 16:37] dips365 commented on #1691
@VelinGeorgiev I would like to work on it.
Can you please assign to me?

[2020-07-05 17:29] waldekmastykarz commented on #1495
Totally! First things first! Appreciate your transparency

[2020-07-05 17:30] waldekmastykarz commented on #1458
Sure thing! Appreciate your transparency 👍

[2020-07-05 17:30] waldekmastykarz commented on #1454
Sure thing! Appreciate your transparency

[2020-07-05 17:34] waldekmastykarz commented on #1490
The idea was to provide a convenience options for Office 365 CLI users. I don't think all our users have the GitHub CLI installed, so I'd say the use-case stands, unless you think otherwise.

[2020-07-05 17:37] waldekmastykarz commented on #1692
Yup! Let's get it in! 👏

[2020-07-05 17:38] waldekmastykarz commented on #1691
All yours @dips365. Appreciate your help! 👏

[2020-07-05 18:12] waldekmastykarz opened #1694 "Prefix all commands in help and docs with `m365`"
We should prefix all sample commands in help and docs with `m365`.

In v2, you could use CLI in immersive and non-immersive. With its own command prompt, you could directly execute all commands without the `o365` prefix in immersive mode. The prefix was needed only in non-immersive mode. To avoid confusion, we decided to not use the prefix, just include command names and let users use the prefix o

[2020-07-05 18:15] waldekmastykarz commented on #1688
I can reproduce it but need to dig deeper what's causing this behavior. I'll update the issue as soon as I know more.

[2020-07-05 18:50] aakashbhardwaj619 commented on #1693
Hey guys, can I take this up?

[2020-07-05 22:52] VelinGeorgiev commented on #1693
All yours Aakash @aakashbhardwaj619 . Thank you!

[2020-07-06 09:56] sebastianrogers opened #1696 "UnhandledPromiseRejectionWarning: ParserError: Unexpected token type: Colon, value: :"
#1402 # Description
When searching the following error is returned:

UnhandledPromiseRejectionWarning: ParserError: Unexpected token type: Colon, value: :

### Steps to reproduce

[code]

### Expected result
Search results are returned

### Actual result
[code]
### Environment

- Cloud Shell
  - o365 version: 2.11.0

[2020-07-06 12:33] dips365 commented on #1670
@waldekmastykarz  @VelinGeorgiev

I started work with the command.
I would like to get guidance from you regarding how to display output?
Currently i got the output as below.
![image](https://user-images.githubusercontent.com/40450958/86593382-b9c4fc80-bfb2-11ea-884f-0ad36843a0a1.png)

Does it work or needs any change?

Thought?

[2020-07-06 13:42] VelinGeorgiev commented on #1696
Thanks for reporting this Sebastian @sebastianrogers ! We will look into it asap.

[2020-07-06 13:46] VelinGeorgiev commented on #1670
It definitely might be hard to read when output is `text`, but which property to leave in the output if it to be filtered 😄 . @waldekmastykarz  what do you think?

[2020-07-06 14:45] garrytrinder commented on #1696
Is this issue seen on both PowerShell and Bash consoles? @sebastianrogers

[2020-07-06 16:43] sebastianrogers commented on #1696
- bash - yes
- powershell - yes

[2020-07-07 08:42] waldekmastykarz commented on #1670
Perhaps in the text mode, we could print userprofileproperties as: `prop1: value1, prop2: value 2` so that it's more readable than the default JSON string?

[2020-07-07 08:46] waldekmastykarz commented on #1696
OK, so the issue is that with the introduction of support for JMESPath queries, we used the `query` option, which was previously used for specifying the search query in the `spo search` command. So instead the command processing your input as a search argument, it treats it as a JMESPath query. To fix this, we'll need to rename the either option to avoid them colliding. Sorry for the trouble.

[2020-07-07 08:58] sebastianrogers commented on #1696
Not a problem, suggest you call it --kql to make it clear what sort of query to use

[2020-07-07 10:50] #1349 closed

[2020-07-07 16:22] WinnieThePig opened #1698 "Bug report: spo folder move leads to getCopyJobProress timed out error"
#1123 Description
Run the spo folder move command and it leads to Error: getCopyJobProgress timed out

### Steps to reproduce
spo folder move --webUrl https://companyname.sharepoint.com/sites/sitename --sourceUrl /Shared%20Documents/PRA/Coordinator --targetUrl /sites/sitename2/Shared%20Documents/Studies/PRA/83755

### Expected result
expected the folder will be move to a different SPO site

### Ac

[2020-07-07 17:18] waldekmastykarz commented on #1696
@sebastianrogers thanks for the suggestion. If we supported at some point FQL, would you expect to use a different property or instead add a switch, like `--searchQuery 'stuff' --fql`?

[2020-07-07 17:19] waldekmastykarz commented on #1698
Thank you for reporting the issue @WinnieThePig. We'll investigate it and get back to you asap.

[2020-07-07 17:22] waldekmastykarz commented on #1698
Out of curiosity, have you tried using the PnP-MoveFolder cmdlet on the same folder to see if you can reproduce the error? That would help us to understand whether it's something specific to CLI or if it's a SharePoint issue with the particular folder that you want to move.

[2020-07-07 18:37] sebastianrogers commented on #1696
No I'd use a --fql property but raise an error if more than one 'native query' parameter was passed.

- Its very explicit, here is my query, its in fql
- If someone relies on the default property 'engine' and you change it then it will break rather than running a kql query with an fql engine

[2020-07-07 19:12] dips365 commented on #1690
I raised a pull request for the #1691.
I would like to do work with this command.
Can you please assign to me?

[2020-07-08 06:37] waldekmastykarz commented on #1696
You're bringing up an interesting point. Following what you said, using a separate property for KQL and FQL would solve it, because when specifying the query you explicitly specify its format by choosing one property or the other. One thing I'm wondering about though, is what if the user doesn't know the difference between KQL and FQL? Wouldn't it make it too cryptic to expect them to know that wh

[2020-07-08 06:39] waldekmastykarz commented on #1690
All yours @dips365! Appreciate your help 👍

[2020-07-08 07:56] sebastianrogers commented on #1696
Understanding your tools is always good.

Explicit is better than implicit unless using a very well known convention.

If you don't know the query language you are using how do you know the syntax is correct?

If the default query language changes this will mean your calls are still valid, with the other way the syntax if parsed may not give you the same results as it did the day before.

**When d

[2020-07-08 09:12] waldekmastykarz commented on #1696
I understand your point and I agree with it. What I'm wondering about though is to what extent people really understand the technology they use vs. choose the shortest path to success and reuse code fragments they found elsewhere without learning the whole tech stack behind them.

[2020-07-08 10:37] sebastianrogers commented on #1696
Just my thoughts but we should aim to raise the standards rather than make tools for fools.

[2020-07-08 13:22] WinnieThePig commented on #1698
Hi Waldek,

Thanks for the prompt reply. I am no Powershell expert and when I tried PnP-MoveFolder cmdlet I have trouble moving folders to a different site. I am having issue troubleshooting it but the Office 365 CLI is so much more user friendly.

The folder I tried to move is over 10 Gb so I can’t rely on the “Move To” feature within SPO. Any help from you would be appreciated!

Winnie

Winnie C

[2020-07-08 13:44] waldekmastykarz opened #1703 "Rename Office 365 CLI GitHub actions"
Following the rename of Office 365 CLI to CLI for Microsoft 365, we should rename the GitHub actions for CLI.

- [ ] login
- [ ] deploy
- [ ] runscript

[2020-07-09 06:30] waldekmastykarz commented on #1698
Got it. I'll see if I can reproduce the issue and will get back to you 👍

[2020-07-09 11:19] appieschot commented on #1698
Tried to reproduce this against a folder on my OneDrive (88GB) with

```o365 spo folder move --webUrl https://contoso-my.sharepoint.com/personal/albert_jan_schot_contoso_nl --sourceUrl /Documents/Memories --targetUrl /personal/albert_jan_schot_contoso_nl/Documents/Test```

That results in an error: `Error: File size over limit.`

@WinnieThePig roughly how many files do you have? I'll try to create

[2020-07-09 12:57] WinnieThePig commented on #1698
Thanks for looking into this. Each folder has less than 2000 files. Have multiple subfolder levels but no single file larger than 2 GB (only office doc, image, email and pdf). Total folder size is less than 20 GB. The error I got is “time out”.

Just some background:
My goal is to move folder from “site a/shared doc/clientname/coordinator” to “site b/shared doc/clientname/projectcode”. Then “site

[2020-07-09 15:33] appieschot commented on #1698
Thanks, after some other tests I managed to reproduce the error.

Scenario:
1 folder with 4 subfolders. Each subfolder contains 550mb of files (5x 100mb, 5x 10mb file). Total of 2.2GB

Command:
[code]

Result:
[code]

This is consistent with the code:
[code]

Copying multiple files seems to be fairly 'slow', after the 30 minutes or 1000 pollattemps the check will fail and will no longer check. The

[2020-07-09 21:32] garrytrinder commented on #1696
To add my thoughts to this, I have been accustomed to the notion of enabling FQL when searching against SharePoint using the REST API, this is in part due to the way that the SharePoint Search REST API has been implemented over the years.

The Search REST API uses KQL by default, most likely due to FAST historically being an add-on to SharePoint Search rather than part of the core Search service,

[2020-07-09 22:05] garrytrinder commented on #1698
Great analysis @appieschot 👏🏻

I think that we should, is there a reason why the timeout is set to 30 mins or is this just an arbitrary number?

As far as I am aware, tokens will be checked for validity on each request and a new token obtained if expired.

We do provide `--wait` options on other commands so would add consistency, I recently implemented `--wait` on the `teams team add` command. If

[2020-07-10 06:31] sebastianrogers commented on #1696
A very strong argument @garrytrinder  to preserve the 'conventional' way of doing things, but how will it work when a new query language is introduced?

The idea of using *-queryText* to avoid clashing with JMESPath is nice and does preserve some continuity.

[2020-07-10 09:16] VelinGeorgiev commented on #1698
Great analysis! I enjoy working with you guys.

- It is arbitrary  number. When I developed this, I did not take into consideration huge size folders, but I also do not know if the API is designed for this either. See my comments below.

- We have to double check if new token is retrieved between the polling intervals. I do not think this is currently the case since we get the token at the start o

[2020-07-10 09:31] VelinGeorgiev commented on #1696
I think that suggested by Garry is what I as SharePoint developer 😄 would expect to see as options.
`--queryText` makes sense in absence of the reserved for JMESPath `--query`.
`--enableFql` is a flag that clearly identifies what we are after. I assume this flag will be used by users already familiar with the search apis and they would look for such flag since it is similar to the APIs. To Sebasti

[2020-07-10 09:37] sebastianrogers commented on #1696
Sounds good to me

[2020-07-10 10:48] appieschot commented on #1698
Thanks for feedback! Looks like I have the input I need. The docs state that you can move up to 100GB so we should account for that. You are right that we do not renew a token as it is recursive. Looks like we need to implement the following:

- Implement the `--wait` parameter and by default only return the JobId
- Increase the duration to run for several hours up to a to determine maximum? Perha

[2020-07-10 12:50] waldekmastykarz commented on #1698
Let me add a few thoughts:

- do we need a limit on duration? If we say we want to support moving large folders, then any number we pick might be arbitrary. What would be potential downsides of not having a limit and just let the command run as long as necessary?
- access tokens are checked automatically on every request. Before issuing a request we check if the token is still valid and automatica

[2020-07-10 12:57] appieschot commented on #1698
We check for status 0 on the copyjob, potentially it could never reach status 0, and thus keep running for ever.

Agree

Unfortunately there is no interval response that we can use

[2020-07-10 13:20] waldekmastykarz commented on #1698
I guess it's a tough call to pick a number that will be big enough to accommodate moving large folders and at the same time not too large to have the command run indefinitely. My gut feeling says we should remove the limit and let it run as long as necessary, and let the users cancel the execution if they feel the command has been running too long. For this to work though, we need to have a way to

[2020-07-10 13:22] waldekmastykarz commented on #1640
Appreciate your help @arjunumenon! 👏

[2020-07-10 13:25] appieschot commented on #1698
We currently don't show the user any feedback unless we are in debug mode, so we should implement something like a progress bar or dots to indicate things are still rolling :).

[2020-07-10 13:43] waldekmastykarz commented on #1698
Yes, we have it in `spo site classic add` if I'm not mistaken.

[2020-07-10 17:15] arjunumenon commented on #1648
@waldekmastykarz/  @garrytrinder   - Can I take a stab at this issue?

[2020-07-10 17:35] dips365 commented on #1670
Hey @waldekmastykarz
Does any method that includes in "Office365-CLI" project to handle the complex array structure?
As i found that UserProfileProperties Array has 106 entries with the 3 properties Key, Value and ValueType.
Any help how to print in readable format in text mode?

[2020-07-11 09:22] garrytrinder commented on #1648
Absolutely @arjunumenon it’s all yours 👍🏻

Thank you for your help ❤️

[2020-07-11 17:55] waldekmastykarz commented on #1670
I don't think we have anywhere else such complex data structure but I could be wrong. If what I proposed is still not workable, then I don't think there is any other solution than skip rendering properties in the text mode and show them only in JSON mode.

[2020-07-11 19:43] dips365 commented on #1670
Thank you @waldekmastykarz

[2020-07-12 11:38] kunj-sangani commented on #1634
Hi @waldekmastykarz
Do we just want to iterate all the site collections present in the tenant and check for the site collection app catalog and see if the id of the app or name of the app provided is present or not in the sample

[2020-07-12 17:58] waldekmastykarz commented on #1634
Initially, the idea was to get the list of all sites in which the particular app is installed, in case the app hasn't been deployed globally to all sites. I don't know off the top of my head if a site collection app catalog would change anything with regards to how an installed app is detected, but it would be good to verify that in both cases apps are being correctly picked up. Would you like to

[2020-07-12 18:05] kunj-sangani commented on #1634
yes sure @waldekmastykarz
But I tried a few sets of command
spo app list -- But it only provides the list of application present in the app catalog and not the installed
spo app get -- Provides the information about the app but not where the app is installed

Sorry but I was not able to find any command which would list installed app in a site collection can you please guide on that

[2020-07-13 09:13] waldekmastykarz commented on #1634
Yes, it seems that we're missing commands for this script. App instances can be retrieved [using CSOM](https://docs.microsoft.com/en-us/previous-versions/office/sharepoint-csom/jj171746(v%3Doffice.15)) but we don't have it implemented in Office 365 CLI right now. Would you be interested in building this command first?

[2020-07-14 08:40] arjunumenon commented on #1648
@garrytrinder / @waldekmastykarz I had been building the script for enhancing the command` spo site set ` for `shareByLinkEnabled `and now I am in a position where your valuable comments / suggestion would be of a great benefit.

- Unlike `ShareByEmailEnabled `command, I don't think there is a shared Properties for for shareByLinkEnabled which we could leverage of

- Since that being the case we m

[2020-07-14 19:31] aakashbhardwaj619 opened #1711 "New command: Uninstall Microsoft Teams app for user"
### Usage

`teams user app remove [options]`

### Description

Uninstall an app from the personal scope of the specified user.

### Options

| Option                  	| Description                               	|
| ------------------------- | --------------------------------------------- |
| `--appId <appId>` 		| The ID of the app to uninstall                |
| `--userId <userId>` 		| The ID of

[2020-07-14 21:54] garrytrinder commented on #1648
Thanks for reaching out @arjunumenon 👍🏻

I've looked at the output of the `spo site get` command on my developer tenant and can see that there is a property called `ShareByLinkEnabled` returned with a boolean value.

![image](https://user-images.githubusercontent.com/11563347/87479527-8bcf6000-c623-11ea-8800-99af8100816a.png)

You should be able to push a new `SetProperty` element into the request

[2020-07-14 22:05] garrytrinder commented on #1711
Great suggestion @aakashbhardwaj619 and thank you for your help. Its all yours 👏🏻

[2020-07-14 22:21] garrytrinder commented on #1490
Thanks for letting us know of your change in circumstance @plamber

Opening this up.

[2020-07-14 22:27] garrytrinder commented on #871
Hey @anoopt, are you still working on this?

[2020-07-14 22:30] garrytrinder commented on #1612
Marked as on hold until the APIs are released fully released by the Graph team.

[2020-07-14 22:31] garrytrinder commented on #1611
Marked as on hold until the APIs are released fully released by the Graph team.

[2020-07-14 22:31] garrytrinder commented on #1609
Marked as on hold until the APIs are released fully released by the Graph team.

[2020-07-15 03:32] arjunumenon commented on #1648
Thanks @garrytrinder for the direction. Though we get the property ShareByLinkEnabled in the GET call, we are unable to POST the property value when we set it via the REST using Shared Properties like you mentioned.
When we do that,  I am getting the error below
 `Field or property \"ShareByLinkEnabled\" does not exist. `

I had tried,

1. Making the REST call with the new property via Postman
![i

[2020-07-15 13:38] #1685 closed

[2020-07-15 13:38] #1692 closed

[2020-07-15 18:20] aakashbhardwaj619 commented on #1711
Thanks @garrytrinder. Considering this is a `delete` operation, could you please confirm if I should also add the below as an option:

Option|Description
------|-----------
`--confirm`|Confirm removal of app for user

[2020-07-15 18:37] garrytrinder commented on #1711
Good catch, of course, yes, we should provide a confirm option on `remove` commands.

[2020-07-15 19:35] garrytrinder commented on #1648
Interesting, thank you for sharing your analysis.

Having looked at the docs, it appears that is designed to be a read only property as you have found.

https://docs.microsoft.com/en-us/previous-versions/office/sharepoint-server/jj862561(v=office.15)

As you mentioned, it would appear that the way to change this property is to change the `SharingCapabilty` property to one of the following valid op

[2020-07-16 05:38] arjunumenon commented on #1648
Thanks @garrytrinder for confirming my analysis. Thanks for sharing the documentation which gives us the right direction.
Based on your suggestion , for tackling this case, I think it makes more sense to have a new parameter `SharingCapabilty  `expecting above enum values.

For doing that, do you think it make sense to have a new issue created with updated specs? Since I am relatively new to Contr

[2020-07-16 12:31] nanddeepn commented on #1656
Hi @garrytrinder
I am interested to work on this.

[2020-07-16 12:33] garrytrinder commented on #1656
Great, it's all yours 👍🏻

Thank you for the help 👏🏻

[2020-07-16 12:55] garrytrinder opened #1713 "Enhancement: Extend `spo site set` command with support for setting the sharing capability of the site"
Raised from #1648

We should extend the `spo site set` command with a new option called `--sharingCapability` that is optional, which accepts a valid `SharingCapabilities` value.

The valid values are as follows.

- Disabled
- ExternalUserSharingOnly
- ExternalUserAndGuestSharing
- ExistingExternalUserSharingOnly

Source: https://docs.microsoft.com/en-us/previous-versions/office/sharepoint-csom/dn

[2020-07-16 12:59] garrytrinder commented on #1648
Absolutely, I've raised a new issue which references this issue, for the work to take place against.

Closing this issue following above investigation.

[2020-07-16 12:59] #1648 closed

[2020-07-16 14:10] anoopt commented on #871
Sorry yes. There was a pause. Back on it now.

[2020-07-16 14:49] waldekmastykarz commented on #1713
All yours @arjunumenon 👏

[2020-07-16 17:04] garrytrinder commented on #871
Thanks for the update, appreciate your help 👍🏻

Don't hesitate to reach out if you require any assistance, we are here to help.

[2020-07-16 23:43] #1640 closed

[2020-07-17 10:45] appieschot opened #1716 "New sample script: list password encrypted files in library"
|Docs||
|-----|----|
|Author| Mike Lee |
|Original Post| https://techcommunity.microsoft.com/t5/sharepoint-support-blog/sharepoint-script-to-locate-documents-encrypted-with-passwords/ba-p/1512775?fbclid=IwAR3eDs-Gx06BOUpZLnabc4bZ29MX5RO7bLQK3uegC7xOlBF_mXsvMhXIrJU |
|Description| A customer asked if there was a method to identity documents stored in SharePoint online that were encrypted with passw

[2020-07-17 11:19] appieschot commented on #1698
The `spo site classic add` indeed uses it, there the logic is build in the `spocommand.ts` as it is generic stuff. We could extend that file with a similar method as `waitUntilFinished` (that checks the processQuery). For moving files we use the GetCopyJobProgress. Will pick that up. Will require some refactoring of the copy methods as they now each have their own implementation (and thus some dup

[2020-07-17 11:27] PrasadKasireddy commented on #1716
@appieschot  - can I take this

[2020-07-17 11:29] appieschot commented on #1716
@PrasadKasireddy yes, awesome! Assigned it to you.

[2020-07-17 13:14] appieschot opened #1717 "New sample script: List Orphaned Site Collections"
|Docs||
|-----|----|
|Author| Albert-Jan Schot |
|Original Post| https://www.cloudappie.nl/remove-orphaned-redirectsites/ |
|Description| List all orphaned redirect site collections in your tenant, use the `o365 spo site classic list --t "REDIRECTSITE#0"`.   |
|Keywords| `SharePoint Online` |

[2020-07-17 22:42] Ofer-Gal opened #1719 "1.11.0 gulp package-solution --ship error"
Upgraded a project with 365 CLI followed all the steps. (spfx project upgrade --output tour)
gulp serve --nobrowser works fine, the web part show OK
gulp bundle --ship Works OK
**gulp package-solution --ship Errors:**
`[14:51:06] Verifying configuration... [14:51:06] Done! [14:51:06] [14:51:06] Normalizing solution information... [14:51:06] Attempting creating component definitions for {1} manifes

[2020-07-18 05:40] kunj-sangani commented on #1634
@waldekmastykarz I would like to give it a try

[2020-07-18 17:45] waldekmastykarz commented on #1719
Would you mind sharing your `package-solution.json` before and after the upgrade?

[2020-07-18 17:46] waldekmastykarz opened #1721 "Extend `spfx doctor` to support SPFx v1.11"
Extend `spfx doctor` to support SPFx v1.11

[2020-07-18 18:40] #1671 closed

[2020-07-18 23:45] rabwill commented on #1659
Hey folks 😊 can I pick this one up please? @appieschot @waldekmastykarz

[2020-07-19 00:48] garrytrinder commented on #1659
Absolutely, all yours 😊

[2020-07-19 15:48] #1635 closed

[2020-07-19 15:49] #1338 closed

[2020-07-19 15:49] #1339 closed

[2020-07-19 18:09] crsukla commented on #1719
I am also facing exactly same issue.

`[23:14:49] Reading Sharepoint Assets & Creating XML...
[23:14:49] Error - 'package-solution' sub task errored after 175 ms
 Cannot read property 'name' of undefined
[23:14:49] 'package-solution' errored after 196 ms
[23:14:49]
[23:14:50] ==================[ Finished ]==================
Error - 'package-solution' sub task errored after 175 ms
 Cannot read prop

[2020-07-19 18:21] garrytrinder commented on #1719
Thank you for letting us know @crsukla 👍🏻

Could share with us your `package-solution.json` before and after the upgrade?

[2020-07-19 18:48] nanddeepn commented on #1656
Hi @garrytrinder
I have raised PR. However, please guide me on failing test case: Lazy loading commands and code coverage.
Thank you.

[2020-07-19 19:35] Ofer-Gal commented on #1719
2 things happened.

1. I upgraded 0365Cli and now the ` o365 spfx project upgrade -v1.11.0` returns "Error: Office 365 CLI doesn't support upgrading SharePoint Framework projects to version 1.11.0."
2. In the previous upgraded folder of the same code, I ran `gulp package-solution --ship` and it was OK.

What did you guys do to my computer :-)
Thanks anyway

[2020-07-20 06:51] waldekmastykarz commented on #1634
Awesome! Let's start by creating a new issue with the spec (we have an issue template for that). Once we've verified that we're thinking about the same, you can start working on it. Fair enough? 🙂

[2020-07-20 08:59] dips365 commented on #1604
I would like to work on it. Can you please assign to me?

[2020-07-20 10:29] MarkyDeParky opened #1723 "Bug report: spfx project upgrade causes JSON.parse exception"
### Description

I was trying to upgrade our 1.10 project to 1.11 using the O365 CLI.
I simply used `spfx project upgrade`.
I got the following exception and the O365 CLI quit after that:

[code]

Looking at the source code in this repo I noticed the expected encoding for the [webpart].manifest.json file is UTF-8, but somehow mine was UTF-8 **with BOM**. I changed the encoding of the file to UTF-8

[2020-07-20 10:38] waldekmastykarz commented on #1604
All yours!

[2020-07-20 10:40] waldekmastykarz commented on #1723
Thanks for reporting! We haven't noticed it earlier, but we should handle it properly nevertheless. Good catch 👍

[2020-07-20 18:52] garrytrinder commented on #1719
Thank you for the response @Ofer-Gal .

Can you re-run the upgrade command omitting the `-v` option and see if that works for you?

The `spfx project upgrade` command assumes that you will be upgrading to the latest version and that specifying a version is only required should you wish to upgrade to a specific version which is not the latest, please see the below excerpt from the Remarks section o

[2020-07-20 23:20] garrytrinder opened #1724 "Enhancement: Extend `spo search` command with support for FAST Query Language"
Raised from #1696

We currently only support Keyword Query Language (KQL) queries, we should add a new option called `--enableFql` that defines that the query should use FAST Query Language (FQL) when present.

[2020-07-21 07:00] nanddeepn commented on #1656
Hi @garrytrinder, @waldekmastykarz
Code coverage is fixed. Please review.

[2020-07-21 09:08] natpdeee commented on #1719
I think this is also related to this issue here in sp-dev-docs affecting SPFx v1.11.0

https://github.com/SharePoint/sp-dev-docs/issues/6068

[2020-07-21 17:40] waldekmastykarz commented on #1719
@Ofer-Gal I can't see any changes to package-solution.json. Do you have the list of steps that we could follow to reproduce the issue?

[2020-07-21 17:42] JakeStanger commented on #1719
I experienced this issue myself without using the generator to upgrade. I quite simply:
- Updated all SPFx pacakges from `1.10.0` to `1.11.0`
- `gulp clean && gulp bundle --ship && gulp package-solution --ship`

Which causes package-solution to return the `Cannot read property 'name' of undefined` error. I believe this is a SPFx framework problem.

[2020-07-22 09:43] waldekmastykarz commented on #1719
@JakeStanger, thanks. So just to double check: you've done the steps you mentioned manually, without using Office 365 CLI, correct?

[2020-07-22 09:44] JakeStanger commented on #1719
Yep, just manually changed the `package.json` and ran `yarn`.

[2020-07-22 09:56] waldekmastykarz commented on #1719
OK, I've been able to get it reproduced. It seems like, if you don't include the newly introduced _developer_ section in `package-solution.json`, packaging the project fails.

Since this isn't specific to Office 365 CLI, I'll close this issue and would suggest opening a new issue in the sp-dev-docs repo.

[2020-07-22 09:56] #1719 closed

[2020-07-22 12:17] #1493 closed

[2020-07-22 15:10] Ofer-Gal commented on #1719
So yo conclude the developer section in package-solution.json is required in SPFx 1.11.0 ?

[2020-07-22 17:58] waldekmastykarz commented on #1719
Yes, that seems to be the case. The official upgrade guidance in the SPFx docs should reflect that shortly.

[2020-07-23 10:36] MistaTwist opened #1727 "Documentation: spo site add --alias setting not showing as mandatory"
Currently, the docs on [https://pnp.github.io/office365-cli/cmd/spo/site/site-add/](https://pnp.github.io/office365-cli/cmd/spo/site/site-add/) say:

`-a, --alias [alias] | Site alias, used in the URL and in the team site group e-mail (applies to type TeamSite)`

but it should be changed to be a required setting as per the command help as follows:

`
-a, --alias <alias> | Site alias, used in the U

[2020-07-23 10:37] garrytrinder commented on #1727
Thanks for pointing this out @MistaTwist are you happy to make this change?

[2020-07-23 10:38] MistaTwist commented on #1727
Sure thing :)

[2020-07-23 10:38] garrytrinder commented on #1727
Great, its all yours! 👍

[2020-07-23 10:52] MistaTwist commented on #1727
After looking into this a bit more, in the version I was looking at, 2.12, the alias property is marked as mandatory, but on upgrading to the current beta `2.13.0-beta.98e4af8` this property has been updated to be optional and so matches the docs.

[2020-07-23 10:55] garrytrinder commented on #1727
Thanks for the update @MistaTwist, lets close this as it will resolve itself in the next monthly release.

@pnp/office-365-cli-maintainers something to keep an eye on when we update the options on commands we release into beta as we can introduce differences between the docs and the current stable version.

[2020-07-23 10:55] #1727 closed

[2020-07-23 11:29] MistaTwist opened #1728 "Bug report: spo site add - --lcid 2057 error"
### Description

I found that the following locale id for en-GB, 2057, in spo site add throws an error:

`o365 spo site add --title "[siteName]" --type TeamSite --alias "[SiteNameAlias]" --lcid 2057`

It appears to be due to the lcid, as with it, or using 1033 for en-US, it worked fine.

### Steps to reproduce

`o365 spo site add --title "[siteName]" --type TeamSite --alias "[SiteNameAlias]" --lci

[2020-07-23 13:14] Ofer-Gal commented on #1719
Thanks

[2020-07-23 13:18] #1672 closed

[2020-07-23 13:32] garrytrinder opened #1729 "Enhancement: Extend `spo page get` json output to include all returned properties"
The `spo page get` command currently returns the same properties in `text` and `json` output modes.

For example,

[code]
[code]

When running the command in `--verbose` mode we can see that the request returns the full json payload from the API.

[code]

It would be beneficial to return these properties to the console in json output for scripting scenarios, such as obtaining the value of the `Can

[2020-07-23 13:53] Ofer-Gal commented on #1719
I upgraded to 2.12.0 then ran:
o365$ spfx project upgrade
and got "Project doesn't need to be upgraded"
everything is 1.10.0
What can be the problem?

[2020-07-23 15:08] arjunumenon commented on #1713
@garrytrinder  / @waldekmastykarz  - I have made the implementation of the new feature which is to add `SharingCapabilities ` to `o365 spo site set`

Before I finalize the approach, I just want to confirm the implementation.
Since `SharingCapabilities `  setting could be enabled only thorough a REST call to the tenant URL. Following are the details

URL : `https://TENANTNAME-admin.sharepoint.com/_

[2020-07-23 20:57] sprider commented on #1440
@waldekmastykarz Can you assign this to me?

[2020-07-23 20:58] sprider commented on #1439
@waldekmastykarz could you please assign this to me?

[2020-07-23 21:23] garrytrinder commented on #1713
Hey @arjunumenon I'm not completely up on this API but it looks ok to me. I assume you've taken the approach of using Fiddler to snoop on the CSOM request to understand the required XML payload?

[2020-07-23 21:24] garrytrinder commented on #1439
All yours @sprider 👍🏻 Thanks for the help 👏🏻

[2020-07-23 21:24] garrytrinder commented on #1440
All yours @sprider 👍🏻 Thanks for the help 👏🏻

[2020-07-23 21:45] garrytrinder opened #1730 "Enhancement: Extend `spo web set` command with support for setting welcome page"
Raised from #902

We currently have no option to set the welcome page property of a site, therefore we should introduce a new command called `--welcomePage` to allow this to be set.

Whilst we do have the ability to now set arbitrary properties on a web using this command following the closure of #1202, setting the `WelcomePage` property is not possible as it requires an update to the `RootFolder`

[2020-07-23 22:13] garrytrinder commented on #1728
Thank you for reporting this @MistaTwist apologies for the trouble.

Below are the results of some tests I performed using other LCID values

| LCID | Location | Result |
|-------|-------|-------|
| 1033 | English US | ✅ |
| 1043 | Dutch | ✅ |
| 2057 | English UK | ❌ |
| 3081 | English Australia | ❌ |
| 4105 | English Canada | ❌ |

The response from the API calls to `/_api/GroupSiteManager/CreateG

[2020-07-23 23:09] garrytrinder commented on #902
As we have implemented JMESPath querying since this issue was raised, you can now return the `WelcomePage` property using the below approach.

`o365 spo web get --webUrl https://contoso.sharepoint.com --query "WelcomePage" -o json`

A new issue has been raised to track the work required to extend the `spo site set` command with a spec and additional information, therefore I will close this issue.

[2020-07-23 23:09] #902 closed

[2020-07-24 00:55] arjunumenon commented on #1713
Thanks @garrytrinder for the direction. I did.
I had snooped the fiddler trace for CSOM and have confirmed the payload which is being sent. I also had verified the fiddler trace for PnP PowerShell as well.
I would be finalizing the approach and would be making a PR pretty soon.
Thanks again for the support.

[2020-07-24 07:11] waldekmastykarz commented on #1730
Since the folder belongs to web rather than site, shouldn't we be extending `spo web set`?

[2020-07-24 07:12] waldekmastykarz commented on #1719
Could it be that your .yo-rc.json file refers to 1.11.0 already?

[2020-07-24 07:44] garrytrinder commented on #1730
Absolutely, good catch @waldekmastykarz

I have amended the issue title to reflect this.

[2020-07-24 07:55] garrytrinder commented on #1713
Great, thanks for your help @arjunumenon 👍🏻

[2020-07-24 08:54] nanddeepn commented on #1729
Hi @garrytrinder
Can I take this up?

[2020-07-24 09:38] garrytrinder commented on #1729
Absolutely! It's all yours 👍🏻

Thank you for your help @nanddeepn 👏🏻

[2020-07-24 10:25] arjunumenon opened #1731 "Bug report: Twitter link in O365 CLI Site pointing to old feed of Office Dev PnP"
### Description

The twitter link for M365 PnP  which is there in the [O365 CLI Site](https://pnp.github.io/) is pointing to the [old twitter feed of PnP.](https://twitter.com/officedevpnp) Though it has the redirection guidance, it will be good to have the link updated to the new twitter feed which is [THIS](https://twitter.com/m365pnp)

### Steps to reproduce

Go to [O365 CLI Site](https://pnp.g

[2020-07-24 11:34] waldekmastykarz commented on #1731
Good catch 👍

[2020-07-24 12:09] garrytrinder commented on #1728
A workaround for this would be to create the site using the default 1033 LCID and then updating the regional settings using a site script after the site has been created.

[2020-07-24 12:15] garrytrinder commented on #1728
Looking into this a little more, I've noticed that when creating a Team Site through the UI, the picker is based on Language rather than Region (see below).

![image](https://user-images.githubusercontent.com/11563347/88389876-46432d80-cdaf-11ea-9e32-7a83ff7cf7e5.png)

So based on my testing I think the behaviour that is being shown is correct based on the list of valid languages.

We should certa

[2020-07-24 12:36] Ofer-Gal commented on #1719
Yep. Thanks

[2020-07-24 13:12] #1693 closed

[2020-07-24 13:20] #1731 closed

[2020-07-24 22:50] svarukala opened #1734 "Bug report: Unable to create modern sites using app-only authN (using cert)"
### Description
I am using certificate based login with O365 CLI. Below command to add new modern site fails with following error.
Command:
spo site add --alias t1 --title t1

After looking at the code, I observed its using undocumented endpoint (_api/GroupSiteManager/CreateGroupEx). The code needs to be updated to use the Site Manager api (https://docs.microsoft.com/en-us/sharepoint/dev/apis/site

[2020-07-24 22:55] svarukala commented on #1734
Here is the scrubbed output from running the cmd with debug and verbose:

o365$ spo site add --alias t1 --title t1 --verbose --debug
SPO URL previously retrieved https://CONTOSO.sharepoint.com. Returning...
Creating new site...
Existing access token eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Imh1Tjk1SXZQZmVocTM0R3pCRFoxR1hHaXJuTSIsImtpZCI6Imh1Tjk1SXZQZmVocTM0R3pCRFoxR1hHaXJuTSJ9.eyJhdWQiOiJodHRwc

[2020-07-25 05:12] kunj-sangani commented on #1634
Yes Sure @waldekmastykarz
Let me create an issue with the spec

[2020-07-25 13:42] waldekmastykarz opened #1737 "Remove Vorpal"
Related to #1599

We'll remove Vorpal as a dependency as it's no longer actively maintained. Following is a list of features we need to implement, to ensure feature parity with the capabilities that we're using.

- [x] load all commands
- [x] load only specific command if possible
- [x] execute command
- [x] long options
- [x] short options
- [x] validation
- [x] automatically validate required op

[2020-07-25 23:31] VelinGeorgiev commented on #1734
Hey @svarukala the message you are getting "Insufficient privileges to complete the operation." looks like issue related with your app privileges. Are you sure your app has permissions to create sites? For this it is required to have SharePoint Sites full permissions I believe.

I am looking the output and everything seems ok with the command and your cert since you;ve got that far to get token. M

[2020-07-25 23:42] svarukala commented on #1734
Here's the app perms granted:
![image](https://user-images.githubusercontent.com/2417337/88468262-e633b080-ceae-11ea-923e-b6b62194bad0.png)

[2020-07-26 03:36] svarukala opened #1738 "Bug report: scp or role claim need to be present error when using app-only authN (using cert)"
### Description
I am using O365 CLI with Certificate authN. Even though I assigned proper 'application' permissions (Sites.FullControl), it still fails to execute commands like 'spo site list'.

### Steps to reproduce
Once you have an app-only/cert  based authN setup for your O365 CLI. Add Sites.FullControl.All application permission.
![image](https://user-images.githubusercontent.com/2417337/8847

[2020-07-26 03:39] svarukala commented on #1738
I looked at the AccessToken and it contains the Role claims.
If I add "user.read.all" application permission on Microsoft Graph resource, then the commands start working as expected. It feels like user.read.all is a pre-requisite for CLI to run commands (at least for app-only).

See below I added the user.read.all permissions:
![image](https://user-images.githubusercontent.com/2417337/88470879-003

[2020-07-26 08:53] VelinGeorgiev commented on #1738
That is a strange behaviour of the underlying Microsoft Identity Platform that the CLI is using to get the token. By reading this post https://stackoverflow.com/questions/35839675/graph-api-either-scp-or-roles-claim-need-to-be-present-in-the-token and looking at your app permissions setup I assume that the Microsoft Graph User.Read single delegated user permissions is absence of other Graph applic

[2020-07-26 12:21] rabwill opened #1739 "New command: tenant auditlog report"
### Usage

### Description

Gets audit logs from the Office 365 Management API

### Options

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `-c, --contentType <contentType>` | Audit content type of logs to be retrieved, should be one of the following: AzureActiveDirectory, Exchange, SharePoint, Gener

[2020-07-26 12:33] rabwill opened #1740 "New command: tenant service list"
### Usage

### Description

Gets the services available in Office 365 from the Office 365 Management API

### Options

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `-o, --output [output]` | Output type. `json,text`. Default `text` |
| `--verbose`             | Runs command with verbose logging

[2020-07-26 12:38] rabwill opened #1741 "New command: tenant service message list"
### Usage

### Description

Gets the service messages regarding services in Office 365 from the Office 365 Management API

### Options

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `-w, --workload [workload]` | Allows retrieval of the service messages for only one particular service. If not provide

[2020-07-26 12:45] rabwill opened #1742 "New command: tenant service report historicalservicestatus"
### Usage

### Description

Gets the historical service status of the Office 365 Services of the last 7 days from the Office 365 Management API

### Options

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `-w, --workload [workload]` | Allows retrieval of the historical service status of only one part

[2020-07-26 12:49] rabwill opened #1743 "Enhancement: Extend command `tenant status list` with support for optional filter for workload"
We currently have no option in command `tenant status list` to filter with workload, therefore we should introduce a new option called `-w, --workload [workload]`  to allow retrieval of the current service status of only one particular service. If not provided, list the current service status of all services will be returned

[2020-07-27 03:36] svarukala commented on #1738
@VelinGeorgiev, Sounds like a plausible explanation. I just tried after removing all perms except Sites.FullControl.All. But still I am seeing the same issue.

Here is the screenshot of perms now:
![image](https://user-images.githubusercontent.com/2417337/88494442-20bb4d00-cf84-11ea-8d53-ff058db38327.png)

![image](https://user-images.githubusercontent.com/2417337/88494456-3466b380-cf84-11ea-99bc-

[2020-07-27 08:13] VelinGeorgiev commented on #1738
Thank you very much for the detailed research @svarukala!

This is definitely something new to me and it seems that the CLI has dependency on the two and it must be documented.

Let me double check the code and then we will document it so the people will know that they will have to grant their app with graph user read together with sites full.

[2020-07-27 08:38] VelinGeorgiev commented on #1734
Hey @svarukala , could you please let me know if this related to the other issue you have opened https://github.com/pnp/office365-cli/issues/1738?

I am keen to understand if your research in the other issue solved this one.

[2020-07-27 15:34] svarukala commented on #1734
Hello @VelinGeorgiev , here is a quick update. I couldn't find anything conclusive though. I still feel the
Scenario 1:
With SharePoint > Sites.FullControl.All perms, its failing with the "Insufficient privileges to complete the operation" error. You can take a look at the full debug trace in my 2nd response in this thread. The REST api call is returning HTTP 400 in this case if I am reading the t

[2020-07-27 17:37] waldekmastykarz commented on #1737
Work in progress is available at https://github.com/waldekmastykarz/office365-cli/tree/no-vorpal

[2020-07-27 17:41] waldekmastykarz commented on #1737
One of the things that I'd like us to adjust is rendering the list of options as a list:

<img width="678" alt="image" src="https://user-images.githubusercontent.com/11164679/88573267-c3390600-d040-11ea-99c1-ce67005b3c20.png">

rather than the table that we have now:

<img width="730" alt="image" src="https://user-images.githubusercontent.com/11164679/88573305-d055f500-d040-11ea-81c9-26b11bc73e7a.

[2020-07-27 20:51] garrytrinder commented on #1737
Absolutely agree that removing the table is a good idea.

So much cleaner and instantly more readable as a list, the table lines create so much noise and clutter 👍🏻

[2020-07-28 07:10] anoopt commented on #871
@garrytrinder apologies I'm not able to work on this currently. I'll revisit this in a few weeks.

[2020-07-28 07:39] garrytrinder commented on #871
Thanks for the update @anoopt

Are you happy for me to open this issue to other contributors?

If in a few weeks you are still free to work on this and it's available, then we can always assign it back.

[2020-07-28 08:10] VelinGeorgiev commented on #1734
@svarukala , this is my assumption and I will try to reproduce your situation in the upcoming days and let you know what happened

1. The CLI will required **Microsoft Graph Sites.Read** rights for the `o365 login` command which is trying to get the token for resource SharePoint dynamically via requesting https://graph.microsoft.com/v1.0/sites/root?$select=webUrl
2. The CLI will require **SharePoi

[2020-07-29 06:45] arjunumenon commented on #1730
Hey @garrytrinder  - do you mind If I take this up?
Seems like a challenging one than I did before. But I am sure, it is worth it.. 👍

[2020-07-29 12:56] anoopt commented on #871
Ok @garrytrinder that is fine. Thank you.

[2020-07-29 12:59] garrytrinder commented on #1730
It's all yours @arjunumenon.

Thank you for the help 👍🏻

[2020-07-31 10:31] VelinGeorgiev commented on #1738
Hi @svarukala ,

The minimum set of Azure AD app permissions to use the `o365 spo site list` with app is:
![image](https://user-images.githubusercontent.com/1049476/89026186-2320fc80-d320-11ea-8b74-33955902f052.png)

1. You need the Microsoft Graph Sites.Read.All permissions because the `o365 login` command is using https://graph.microsoft.com/v1.0/sites/root?$select=webUrl API to dynamically find

[2020-07-31 16:44] aakashbhardwaj619 commented on #1740
Hi @rabwill, I'd like to work on this

[2020-07-31 16:54] dips365 commented on #1739
Hi @rabwill

I'd like to work on it.

[2020-07-31 17:35] garrytrinder commented on #1728
This appears to be expected behaviour.

See list of supported LCIDs in the support doc

https://support.microsoft.com/en-us/office/languages-supported-by-sharepoint-dfbf3652-2902-4809-be21-9080b6512fff

As previously stated however we should look to validate the LCID when the command is executed so will raise a new issue to track that work.

[2020-07-31 17:39] #1728 closed

[2020-07-31 18:36] svarukala commented on #1738
@VelinGeorgiev  - I confirm that the minimum permissions that you listed worked. Thanks so much for your efforts.
Updating the documentation will be helpful to others. Look forward to seeing those updates. Thanks again!

[2020-07-31 18:57] garrytrinder opened #1749 "Enhancement: Add LCID validation to `spo site add` command"
Raised from #1728

It is currently possible to pass a non-valid LCID into the `spo site add` command when creating a modern team site, which creates only the Microsoft 365 Group, and fails to provision the associated SharePoint Online site collection. It also returns a stack trace error to the console which suggests a bug in the CLI, however the API is acting as designed, therefore we should valid

[2020-07-31 21:10] VelinGeorgiev commented on #1734
Hi @svarukala,

I could not overcome the https://CONTOSO.sharepoint.com/_api/GroupSiteManager/CreateGroupEx error message no matter of what permissions I have selected in my Azure AD app, **but there is a workaround in the CLI**.  This error seems like internal to the CreateGroupEx API that bubbles up. My assumption is that API behind the /_api/GroupSiteManager/CreateGroupEx endpoint is using it o

[2020-07-31 23:55] rabwill commented on #1739
All yours @dips365. Thank you 🙏

[2020-07-31 23:56] rabwill commented on #1740
All yours @aakashbhardwaj619 . Thank you 🙏

[2020-08-01 02:56] svarukala commented on #1734
Hello @VelinGeorgiev - Thank you so much for your valuable time on this. I think your response can go directly into docs. :)
I was helping my colleague and that's how I stumbled upon this issue. I will pass this workaround to her.

Question: Is there a reason to not use the well-documented Site Manager api (https://docs.microsoft.com/en-us/sharepoint/dev/apis/site-creation-rest), instead of the Cr

[2020-08-01 04:50] nanddeepn commented on #1749
Hi @garrytrinder,
May I take this one?

[2020-08-02 19:59] garrytrinder commented on #1738
Splendid work researching this issue @VelinGeorgiev & @svarukala 👏

I'd say that as this is issue refers to permissions required, we shouldn't be considering this as a bug in the CLI, but I absolutely agree that we should add a remark into our docs to explain the need to also apply the Microsoft Graph `Sites.Read.All` permission when using a custom Azure AD app registration as the identity for the

[2020-08-02 20:15] garrytrinder commented on #1734
Excellent work researching this @VelinGeorgiev & @svarukala 👏

As with #1738, I think we should take a similar approach.

[2020-08-02 20:16] garrytrinder commented on #1749
All yours @nanddeepn thank you for your help 👍🏻

[2020-08-02 22:52] garrytrinder commented on #1561
Hey @ktskumar 👋🏻

Are you still working on this command?

Please don't hesitate to reach out if you need some assistance.

[2020-08-02 22:54] garrytrinder commented on #1492
Hey @ktskumar 👋🏻

Are you still working on this enhancement?

Please don't hesitate to reach out if you need some assistance.

[2020-08-02 22:55] garrytrinder commented on #1602
Hey @hugoabernier 👋🏻

Are you still working on this enhancement?

Please don't hesitate to reach out if you need some assistance.

[2020-08-02 23:16] hugoabernier commented on #1602
Yes,  @waldekmastykarz and I made plans to connect to discuss further but we both got too busy to do so.  I'll follow up.

[2020-08-03 00:48] ktskumar commented on #1492
Hey @garrytrinder
I got stuck up with other work. Will push the code this week.

[2020-08-03 10:29] VelinGeorgiev commented on #1734
Hi @svarukala ,

Yes, there is a reason why we use CreateGroupEx over the well [documented API here](https://docs.microsoft.com/en-us/sharepoint/dev/apis/site-creation-rest).

If you go through the article you will see that there is a paragraph saying that
![image](https://user-images.githubusercontent.com/1049476/89172977-688d3600-d57b-11ea-8fed-a8ba97a1f419.png)

So, we use that API for the crea

[2020-08-05 12:04] arjunumenon commented on #1576
Hey @appieschot - Do you mind if I take this up?

[2020-08-05 15:36] nanddeepn commented on #1749
Hi @garrytrinder
Please review the PR. Thanks!

[2020-08-05 18:55] garrytrinder commented on #1576
All yours @arjunumenon thanks for the help 👍🏻

[2020-08-05 23:07] #1711 closed

[2020-08-06 10:16] OodapowUiPath opened #1753 "Bug report: npm install fails"
## Description

[code]

### Steps to reproduce

[code]

### Expected result

For it to work.

### Actual result

[code]

### Environment

Any machine with npm.

[2020-08-06 12:26] dips365 commented on #1690
@VelinGeorgiev @waldekmastykarz
Hey,

I am working on this command.
I would like to put my view on add user using the SharePoint Rest API instead of SOAP request.
I worked with SharePoint Rest API to add user in group in power automate.

[code]
I believe that SharePoint Rest API should be work if Office 365 CLI Command.
Should i go with Rest API rather than SOAP request?

Thought ?

Thanks,
Dipen

[2020-08-06 13:44] WinnieThePig commented on #1698
I really appreciated everyone looking into this! I am just curious if there is a timeline for this change to be implemented so I could report back to my team. Thanks again for all your help!

[2020-08-07 06:54] MistaTwist commented on #1633
I'll take this one if that's ok?

[2020-08-07 10:32] VelinGeorgiev commented on #1753
Hi @OodapowUiPath  are you using a custom npm registry?

The CLI exists in the official npm registry here https://www.npmjs.com/package/@pnp/office365-cli and it can be downloaded as long as your **[.npmrc](https://docs.npmjs.com/configuring-npm/npmrc.html)** is empty or has the [official npmjs registry listed](https://stackoverflow.com/questions/32633678/is-there-any-way-to-configure-multiple-reg

[2020-08-07 13:25] #1691 closed

[2020-08-07 17:40] garrytrinder commented on #1633
All yours @MistaTwist thanks for the help 👍🏻

[2020-08-07 19:04] garrytrinder commented on #1690
REST is definitely the preferred approach, so if you can implement the desired command functionality with REST, then go for it 😊

[2020-08-07 20:43] VelinGeorgiev commented on #1690
Please go with the rest as Garry mentioned. I did not know that REST existed for this.

[2020-08-07 23:17] garrytrinder commented on #1698
This has been picked up by @appieschot who I know is on vacation at the moment, so once he is back I'm sure he will be able to provide an update on where he is with his progress.

[2020-08-08 05:11] dips365 commented on #1690
Thanks @garrytrinder & @VelinGeorgiev

Will keep in mind regarding conversion of login name into email address.

[2020-08-10 07:48] OodapowUiPath commented on #1753
@VelinGeorgiev i was using the default registry, the issue seems to have been solved. It only happend for a 3-4 hour window in the day i raised the issue.

[2020-08-10 07:48] #1753 closed

[2020-08-10 09:59] arjunumenon commented on #1576
@garrytrinder / @appieschot  Just now realized a typo. In the specs, the command was mentioned as `knowledegehub ` while in actual, it should have been `knowledgehub`.

Do you think it make sense to update the command to be `knowledgehub`. If Yes, can you cancel / reject my PR so that I can submit updated changes.

I am sorry I should have pointed that out before I implement the code.

[2020-08-10 18:26] garrytrinder commented on #1576
Good catch @arjunumenon 👍🏻

I have update the OP the corrected command name.

No need to cancel the PR, you can push the new changes or we can pick up the change in the PR review.

[2020-08-10 18:27] garrytrinder commented on #1753
Thank you for update @OodapowUiPath 👍🏻

[2020-08-11 02:58] arjunumenon commented on #1576
Thanks @garrytrinder for the advise. 👍. I will submit another PR.
Another question, pardon me if it is trivial. Do you want me to squash the commits into single when I submit the PR. Haven't come across that scenario before. Hence curious how to handle that.

[2020-08-11 16:19] garrytrinder commented on #1576
Its nice to get into the habit of squashing your commits, I blogged about how to do this using git interactive rebase, which might be helpful, https://garrytrinder.github.io/2020/03/squashing-commits-using-interactive-rebase however we like with the typo change we can pick this up in the PR review 👍

[2020-08-12 07:27] arjunumenon commented on #1576
Thanks @garrytrinder .I have already bookmarked your blog post which will be super useful. Thanks for that.

I will submit another PR with typo change comments when I do the PR. Thanks again for the guidance.

[2020-08-13 17:43] MistaTwist opened #1759 "Enhancement: Extend 'spo page section add' template options to include the "Vertical" section"
We currently have OneColumn, OneColumnFullWidth, TwoColumn, ThreeColumn, TwoColumnLeft, TwoColumnRight available as section templates to use, but not the Vertical one. Is there any chance we could have the newer Vertical template added to the list, please?

[2020-08-13 20:01] garrytrinder commented on #1759
Great suggestion @MistaTwist 👍🏻

Looking at how this is implemented in PnP PowerShell it looks like `Vertical` is not an option on its own but as an addition to the options already present, for example `OneColumnVerticalSection`. The reason for this is down to how the layouts are created and added to the `CanvasContent1` field of the target page which we also follow in the CLI.

To implement this

[2020-08-15 15:00] #1440 closed

[2020-08-15 15:00] #1696 closed

[2020-08-17 06:51] siddharth-vaghasia commented on #1345
@garrytrinder @waldekmastykarz @rabwill ... I can work on this... recently had been exploring GRAPH meeting API for a while... Let me know if any special instruction...

[2020-08-17 12:23] rabwill commented on #1345
Thanks for picking this up @siddharth-vaghasia 👍🏽

[2020-08-17 23:25] Chuckler22 opened #1763 "New command: spo file rename"
### Usage

`spo file rename [options]`

### Description

Renames a file

### Options

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
`-u, --webUrl <webUrl>` | The URL of the site where the file is located
`-s, --sourceUrl <sourceUrl>` | Site-relative URL of the file to rename
`-t, --targetFilename <tar

[2020-08-18 10:07] waldekmastykarz commented on #1763
Nice suggestion! How about we rename `deleteIfAlreadyExists` to `force` since `deleteIfAlreadyExists` in the context of a rename operation sounds confusing?

[2020-08-18 21:07] Chuckler22 commented on #1763
Sure!  The only think is what if you are trying to rename a.doc to b.doc, and b.doc already exists?

My guess (in the context of a CLI) is that the operation should fail, unless a flag is set, in which case, the operator is renaming the file to b.doc, knowing there's a possibility that b.doc already exists and expecting this new file to supercede all others.

[2020-08-19 04:46] waldekmastykarz opened #1764 "New command: List Outlook messages"
### Usage

`outlook message list`

### Description

Gets all mail messages from the specified folder

### Options

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `--folderId [folderId]` | ID of the folder from which to list messages
`--folderName [folderName]` | Name of the folder from which to list

[2020-08-19 04:49] waldekmastykarz opened #1765 "New command: Move Outlook message"
### Usage

`outlook message move`

### Description

Moves message to the specified folder

### Options

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
`--messageId <messageId>` | ID of the message to move
`--sourceFolderName [sourceFolderName]` | Name of the folder to move the message from
`--sourceFol

[2020-08-19 09:00] #1713 closed

[2020-08-19 12:16] sprider opened #1766 "New sample script: Report on SharePoint Document Library files containing Client Id or Secret"
Could you please assign this to me?

Docs |  
-- | --
Author |Joseph Velliah
Original Post |https://sprider.blog/report-on-sharepoint-files-containing-pii
Description |The big challenge with using APIs that require authentication in your JavaScript is that you’re forced to expose your API credentials to use them. Anyone who knows how to view source or view requests in their browser’s Developer Too

[2020-08-20 05:22] arjunumenon opened #1768 "Bug report: Help description example wrong for sharingCapability in the command spo site set"
### Description

Help description provided for the parameter `sharingCapability ` in `spo site set ` is wrong in the help description

### Steps to reproduce

- Type in the command `help spo site set`

- It will show the help of the command and the description.

The name of the parameter for setting sharing capability is `--sharingCapability`. But in the help description example, it is mentioned w

[2020-08-20 05:27] arjunumenon commented on #1768
Please feel free to assign this issue to myself if you guys are fine with that. This is related  to #1713

[2020-08-20 07:42] waldekmastykarz commented on #1768
Sorry for the trouble, I missed it when adjusting and a good catch 👏  Appreciate your help and double checking.

[2020-08-20 09:13] arjunumenon commented on #1768
Not a problem at all. Always excited to help in whichever way I could...  👍

[2020-08-20 12:59] waldekmastykarz commented on #1766
All yours! Thank you! 👏

[2020-08-20 13:01] waldekmastykarz commented on #1763
The command should work exactly like you mentioned: if there is a file with the new name already and `force` was not specified, the command should fail. So the only change I'm proposing is using `force` instead of `deleteIfAlreadyExists`. Other than that we should follow your initial spec. Makes sense?

[2020-08-20 13:20] waldekmastykarz commented on #1561
Ping @ktskumar, just checking if you're still working on this

[2020-08-20 13:22] waldekmastykarz commented on #1740
What is the idea behind the `byPassCheck` option @rabwill?

[2020-08-20 13:23] waldekmastykarz commented on #1739
What is the idea behind the `byPassCheck` option @rabwill?

[2020-08-20 13:24] waldekmastykarz commented on #1739
Also, is there a specific reason we offer here the `outputFile` option rather than allowing users to simply redirect the output to a file using `> file.txt`?

[2020-08-20 13:39] rabwill commented on #1739
Hey @waldekmastykarz I guess this may not be needed for the command, I found the spec in here in [PnP doco](https://docs.microsoft.com/en-us/powershell/module/sharepoint-pnp/get-pnpunifiedauditlog?view=sharepoint-ps#parameters)

[2020-08-20 13:40] rabwill commented on #1739
Hey @waldekmastykarz , consistency with this command spec here ? [tenant report serviceCounts](https://docs.microsoft.com/en-us/powershell/module/sharepoint-pnp/get-pnpunifiedauditlog?view=sharepoint-ps#parameters)

[2020-08-20 13:53] waldekmastykarz commented on #1739
Yes, let's remove `byPassCheck` from this and other similar specs

Got it. I think we needed it in the past to properly support immersive mode which didn't support redirecting output to files. Since we're about to move to v3 which doesn't use the immersive mode, we could skip this and remove `outputFile` in `tenant report servicecounts`. What do you think?

[2020-08-20 13:59] rabwill commented on #1739
Makes perfect sense ! Thanks for picking it up 💪🏾

[2020-08-20 14:05] rabwill commented on #1740
Spec updated to remove bypassCheck and outputFile @waldekmastykarz.
FYI @aakashbhardwaj619  🙂

[2020-08-20 18:24] waldekmastykarz opened #1769 "Remove obsolete `outputFile` option"
In a number of commands we have the `outputFile` option that allows you to write the command's output to a file rather than printing it in the terminal. The main reason for this option was to support writing the output to file when using the CLI in immersive mode, which doesn't support redirecting the output to file using `> file.txt`. Since v3 of the CLI no longer supports the immersive mode, we

[2020-08-20 19:17] aakashbhardwaj619 commented on #1740
Thanks, @rabwill!

I'm displaying the service's `Id`, `DisplayName`, and `Feature` name but it is affecting the readability of the output. Maybe we can output just the `Id` and `DisplayName` in `text` mode and all other properties in `json` mode? Let me know your views on this.

<img width="1220" alt="TenantServiceListOutput" src="https://user-images.githubusercontent.com/33526902/90814042-253a120

[2020-08-20 20:11] garrytrinder opened #1771 "New command: `teams report pstncalls`"
### Usage

`teams report pstncalls [options]`

### Description

`Get details about PSTN calls made within a given time period`

### Options

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `--fromDateTime <fromDateTime>` | The start of time range to query. UTC, inclusive. |
| `--toDateTime [toDateTime

[2020-08-20 20:13] garrytrinder opened #1772 "New command: `teams report directroutingcalls`"
### Usage

`teams report directroutingcalls [options]`

### Description

`Get details about Direct Routing calls made within a given time period`

### Options

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `--fromDateTime <fromDateTime>` | The start of time range to query. UTC, inclusive. |
| `--toD

[2020-08-20 20:42] Chuckler22 commented on #1763
Ah, yes. Perfect!

[2020-08-20 23:34] rabwill commented on #1740
@aakashbhardwaj619 I would leave it as is since it is returning the values anyway , not as [object] but let's double check that. @waldekmastykarz @VelinGeorgiev @garrytrinder @appieschot  what do you guys think?

[2020-08-21 05:02] nanddeepn commented on #1741
Hi @rabwill
Can I take this up?

[2020-08-21 07:19] #1636 closed

[2020-08-21 08:28] waldekmastykarz commented on #1683
Do we really want to deprecate all v2 versions on npm or do we leave them be and update the readme pointing people to the new package name?

@pnp/office-365-cli-maintainers

[2020-08-24 05:29] romanatsogeti commented on #1721
Looks like NPM test command does not support running an individual SPEC file. Any reservations if we are to introduce an additional npm script task command that targets a specific test suite?

[2020-08-24 06:29] arjunumenon commented on #1721
Hi @romanatsogeti  - I am assuming you are trying to check the unit tests for a specific SPEC file. Rather than adding a npm script task, there is a work around which you can try from you side

Hint. When doing unit test you can replace in the package.json

[code]
with...

[code]
to execute just your tests fast. **Do not forget to NOT commit that.**

The above is a brilliant work-around suggested

[2020-08-24 12:59] arjunumenon commented on #1743
@rabwill  - Can I take this up?

[2020-08-24 14:45] nanddeepn commented on #1741
Hi @waldekmastykarz @garrytrinder @rabwill
Submitted PR. Please review.

[2020-08-24 15:09] rabwill commented on #1743
Absolutely do not mind at all @arjunumenon 😄.  Thank you so much for helping out 🎉

[2020-08-24 16:19] rabwill opened #1782 "New sample script: Create custom views to differentiate SharePoint news page types in Site Pages library"
|Docs||
|-----|----|
|Author| [João Ferreira](https://twitter.com/Joao12Ferreira)|
|Original Post| [How to effectively manage SharePoint news](https://sharepoint.handsontek.net/2020/08/23/effectively-manage-sharepoint-news-part-1/) |
|Description| Create custom views to differentiate News types in Site Pages library |
|Keywords| `SharePoint` |

[2020-08-24 16:29] rabwill commented on #1659
Hey @garrytrinder / @waldekmastykarz I am unassigning this to be free for someone looking to contribute with good first issue 🙂

[2020-08-24 21:05] leeford commented on #1771
Hi All - I am happy to take this on as my first issue. Might need a little hand holding if I get stuck - but hopefully the first of many contributions.

[2020-08-24 21:08] garrytrinder commented on #1771
Awesome 😎 Thanks for your help @leeford 👍🏻

It’s all yours, feel free to reach out if you have any questions 👍🏻

[2020-08-25 06:53] arjunumenon commented on #1743
Hey @rabwill , when I was delving into the code base, I see that there is a similar command for getting the health status of O365 Services, which is `m365 tenant status list` which is created based on #1272 .

With the above command specs, are we trying to get the details with an added `workload` filter. Or we are trying to enhance the command `m365 tenant status list` with more output details. Is

[2020-08-25 08:55] aakashbhardwaj619 commented on #1772
Hi All, I'd like to work on this.

[2020-08-25 10:48] rabwill commented on #1743
Nice catch @arjunumenon ! looks like it is already implemented. Like you said let's make it as an enhancement to add a workload filter.

[2020-08-25 11:03] rabwill commented on #1743
Hey @garrytrinder @waldekmastykarz I have updated this command spec, as @arjunumenon  rightly pointed out, the command is infact already existing as `tenant status list`. (I guess the command name implemented for issue [1272](https://github.com/pnp/cli-microsoft365/issues/1272) is slightly different than the spec)
So with this enhancement, we can add the filter for workload. Does that all make sen

[2020-08-25 11:16] arjunumenon commented on #1659
Hey @rabwill  - Can I take this up if it is available to work upon?

[2020-08-25 11:57] waldekmastykarz commented on #1721
@romanatsogeti we didn't want to include a command for running a specific test/suite because there is a chance that it would be changed in every PR.

Instead, you can follow @arjunumenon suggestion. Alternatively, in your test suite you can append `.only`, like `describe.only(...` to run only this suite or `it.only(...` if you want to run just one test. Just don't forget to remove it before submit

[2020-08-25 12:01] waldekmastykarz commented on #1772
Woot! All yours @aakashbhardwaj619 👏

[2020-08-25 12:02] waldekmastykarz commented on #1743
Yes, good idea and very good catch @arjunumenon 👏

[2020-08-25 12:03] waldekmastykarz commented on #1659
All yours @arjunumenon 👏 🚀 🔥

[2020-08-25 14:34] arjunumenon commented on #1743
Hey @waldekmastykarz / @rabwill - Thanks for the suggestion. I will be going ahead with the enhancement by adding the filter for `workload` .

Another question I had on the same.
I am assuming we do not want to change the  output values for the command, right? Currently it shows only **Name** and **Status** as the default output.
![image](https://user-images.githubusercontent.com/10369964/91187224

[2020-08-25 20:40] rabwill commented on #1743
Hi @arjunumenon the default value can remain the same but if output option json is provided then everything should be printed out, like all other commands.

[2020-08-26 03:30] arjunumenon commented on #1743
Awesome @rabwill . That clears it. Thanks for the direction.

[2020-08-26 11:20] appieschot commented on #1698
Back from holidays; will pick this up either this or the next week.

[2020-08-26 11:32] waldekmastykarz opened #1786 "Provide Docker image with CLI for Microsoft 365"
Related to #1784

We should offer a public Docker image with the CLI to let users run it without having to install any dependencies.

[2020-08-27 07:53] waldekmastykarz commented on #1656
Tad late to the party, but is there a reason to use `generate` as the verb rather than the more common `get` that we're using in other commands?

[2020-08-27 10:39] garrytrinder commented on #1656
That's a fair point @waldekmastykarz no reason why I can't be `get`.

[2020-08-27 14:33] #1609 closed

[2020-08-27 14:33] #1612 closed

[2020-08-27 17:42] WinnieThePig commented on #1698
Thank you so much! Really looking forward to it!

Winnie Cheung
Consultant
215.886.7166 x122
Winnie.Cheung@itsolutions-inc.com
www.itsolutions-inc.com
414 Commerce Drive, Suite 150
Fort Washington, PA 19034
From: Albert-Jan Schot <notifications@github.com>
Sent: Wednesday, August 26, 2020 7:21 AM
To: pnp/cli-microsoft365 <cli-microsoft365@noreply.github.com>
Cc: Winnie Cheung <Winnie.Cheung@itsolu

[2020-08-27 22:15] garrytrinder opened #1789 "New command: `pa app list`"
### Usage

`pa app list [options]`

### Description

`Lists apps`

### Options

No additional options

### Additional Information

`GET https://management.azure.com/providers/Microsoft.PowerApps/apps?api-version=2017-08-01`

[2020-08-27 22:25] garrytrinder commented on #1789
Thanks to @hugoabernier for mentioning this feature on todays community call 👍🏻

[2020-08-28 07:24] waldekmastykarz opened #1791 "Wrap option values with spaces with quotes"
Recently, we've announced that starting from v3, we will no longer support specifying options with spaces without quotes (#1783).

Following this announcement, we should ensure that all our docs correctly show code examples and whenever we use option values with spaces, they're wrapped in quotes.

[2020-08-28 07:42] #1769 closed

[2020-08-28 09:31] waldekmastykarz commented on #1656
Thinking of it more, was there any particular line of thought to have it named `teams deeplink tab` rather than `teams tab deeplink`? Tab is a known artifact in teams, similar to channels and messages. Deeplink on the other hand is a property of a tab so from the hierarchy point of view it should go after tab. Thoughts?

[2020-08-28 15:12] nanddeepn commented on #1791
Hi @waldekmastykarz
Can I work on this?

[2020-08-29 12:39] waldekmastykarz commented on #1791
Awesome! Please do! 👏

[2020-08-29 19:26] aakashbhardwaj619 commented on #1772
Hi guys! Since this command requires a new permission scope `CallRecords.Read.PstnCalls`, I was trying it out using a custom AAD app registration in my tenant. But somehow, I can't find this permission scope when trying to grant Graph API permission access. Am I missing something here?

<img width="1022" alt="CallRecords Permission Missing" src="https://user-images.githubusercontent.com/33526902/9

[2020-08-30 09:12] waldekmastykarz commented on #1772
That would be a good question in the MS Graph docs

[2020-08-30 09:57] garrytrinder commented on #1772
@aakashbhardwaj619 does it work with `CallRecords.Read.All`?

Agree with @waldekmastykarz that creating a question issue against the docs is the next step for raising this to the Graph team.

[2020-08-30 10:03] garrytrinder commented on #1656
Another fair point @waldekmastykarz and your comments do make a lot of sense, I've updated the spec to take on board your comments.

[2020-08-30 18:56] aakashbhardwaj619 commented on #1772
@garrytrinder It doesn't work with `CallRecords.Read.All` and I get `Error: Access token is empty` error when running the CLI command.

I just checked in the Graph docs that there is already an issue created for this missing permission scope. [https://github.com/microsoftgraph/microsoft-graph-docs/issues/9410](https://github.com/microsoftgraph/microsoft-graph-docs/issues/9410)

[2020-08-31 11:12] #1576 closed

[2020-08-31 11:12] #1730 closed

[2020-08-31 13:22] arjunumenon commented on #1577
Hey @appieschot - Can I take this up. I had recently done a new command for setting knowledgehub url. So I guess I can take that up if you are fine with that. Issue #1576.

[2020-08-31 13:35] appieschot commented on #1577
Awesome! There you go!

[2020-09-01 04:43] rabwill commented on #1723
Hey @waldekmastykarz , I can pick this up 🙂 also sense checking here, we should apply the fix anywhere we read a utf8 encoded file and parse it correct?

[2020-09-01 09:59] waldekmastykarz commented on #1723
Correct! Let's start with this one, and create separate issues for other locations to keep the overview

[2020-09-01 11:58] rabwill commented on #1723
Makes sense, thank you

[2020-09-01 18:32] tobyatgithub opened #1796 "Bug report: Large file downloading from SharePoint raise RangeError"
### Category
- [x] Enhancement
- [x] Bug
- [x] Question

### Version

Please specify what version of the library you are using: [core-js@2.6.10]

Please specify what version(s) of SharePoint you are targeting: [SharePoint online]

### Expected / Desired Behavior / Question
Download the zip file (about 4.5GB) into the specified path location.

### Observed Behavior
[code]

### Steps to Reproduce
Hi

[2020-09-01 19:48] westerdaled commented on #1551
I am having a similar issue  ( assuming PowerShell Core 7.03 isn't the issue) when installing the tab complate in the Windows Terminal.

[code]
restarted Windows Terminal

[code]

Could be a path length issue 🤔.

[2020-09-01 20:37] garrytrinder commented on #1772
Thanks for the update @aakashbhardwaj619

I’ve also reached out to the Graph team to see if this can be looked at, referencing the GH issue, this has been acknowledged so hopefully this will be resolved quickly.

Until then, let’s place this issue on hold until we hear if any progress.

[2020-09-02 07:32] garrytrinder commented on #1551
Thanks for letting us know @westerdaled could I ask you to raise a new issue to highlight the behaviour you are seeing, so that it is more visible to others and we will investigate. Thank you.

[2020-09-02 08:11] appieschot opened #1793 "Bug report: The file that provides a tab completion in PowerShell is renamed"
### Description

There is an error after installing the latest version of the CLI (3.0):  Starting the CLI after upgrading the following error shows (from PowerShell and Windows Terminal):

[code]

### Steps to reproduce

- install previous version of CLI (or install v3 direct)
- upgrade to 3.0
- use `m365 cli completion pwsh update`
- experience error

### Expected result

- no completion errors

[2020-09-02 08:12] appieschot commented on #1551
@garrytrinder  and @westerdaled I had the same issue; just added it: #1793. Also think I identified the cause already.

[2020-09-02 08:31] waldekmastykarz commented on #1793
How did you exactly run upgrade to 3.0? Do you mean `@pnp/office365-cli@3.0.0` or `@pnp/cli-microsoft365@3.0.0`?

[2020-09-02 08:33] waldekmastykarz commented on #1793
I noticed we renamed the file, but not its reference in the `cli completion pwsh update` command. Good catch

[2020-09-02 08:41] westerdaled commented on #1551
@appieschot , good news.

[2020-09-02 08:42] appieschot commented on #1793
@waldekmastykarz I did both scenarios to upgrade as well as a 3.0 install after uninstalling the o365cli version.

[2020-09-02 11:22] #1768 closed

[2020-09-02 11:22] #1793 closed

[2020-09-02 11:23] waldekmastykarz commented on #1793
Fixed in the latest v3.0.0 beta

[2020-09-02 12:18] waldekmastykarz commented on #1796
We'll have a look at is asap. Thank you for reporting @tobyatgithub and sorry for the trouble

[2020-09-02 12:19] waldekmastykarz commented on #1796
@tobyatgithub could you give us the exact command that you're calling so that we have clear repro steps?

[2020-09-02 19:06] appieschot commented on #1698
@WinnieThePig sorry for the delay! I just got the first part working but it will require some more refactoring before putting it to a PR. Screenshot for proof (each dot is another query, so moving a 100MB file takes 3 iterations to query against). Hope to get this working for all the move / copy commands this weekend.

![image](https://user-images.githubusercontent.com/15227781/92025549-0123fb00-e

[2020-09-02 19:14] WinnieThePig commented on #1698
@Albert-Jan Schot<mailto:notifications@github.com> I am sure there are lots of moving parts. Any help from you would be really appreciated! Thank you!!

Winnie Cheung
Consultant
215.886.7166 x122
Winnie.Cheung@itsolutions-inc.com
www.itsolutions-inc.com
414 Commerce Drive, Suite 150
Fort Washington, PA 19034
From: Albert-Jan Schot <notifications@github.com>
Sent: Wednesday, September 2, 2020 3:07

[2020-09-03 06:06] arjunumenon commented on #1742
Hey @rabwill  - Can I take a stab at this new command?

[2020-09-03 06:40] waldekmastykarz commented on #1742
Of course! All yours @arjunumenon 👏

[2020-09-03 07:16] VelinGeorgiev commented on #1738
Hey guys, lets close this.

I created a document that demonstrates this case. If there is a need please open new issue.
[
https://pnp.github.io/cli-microsoft365/user-guide/cli-certificate-caveats/](
https://pnp.github.io/cli-microsoft365/user-guide/cli-certificate-caveats/)

Srinivas (@svarukala) and all, thank you very much for your help!

[2020-09-03 07:16] #1738 closed

[2020-09-03 10:41] westerdaled commented on #1551
hi @garrytrinder , I am happy to try the next beta release if this issue has now been resolved.

[2020-09-03 11:04] garrytrinder commented on #1551
Thanks @westerdaled that would be great if you could and confirm that there is no longer an issue 👍

[2020-09-03 12:41] waldekmastykarz commented on #1551
Thank you for confirming @westerdaled ❤️

[2020-09-03 18:30] tobyatgithub commented on #1796
Hi!
Yes, the terminal commend is this (calling from python):
[code]

[2020-09-04 06:34] #1791 closed

[2020-09-04 07:25] waldekmastykarz commented on #1796
@appieschot didn't you have some big files we could test this issue with?

[2020-09-04 10:22] appieschot commented on #1796
@waldekmastykarz Yes I do have some test scenario's for the move issue we are having. Tested with 10mb, 25mb, 100mb, 1gb. Those seem to download perfectly with version 3.0.0 of the CLI on windows. But after reading the issue it might has to do with the fs.readfilesync which has a 2GB buffer limit in node x64. I will try and find a 5gb file to test it with later today.

[2020-09-04 11:46] appieschot commented on #1796
A little more detail; using `
m365 spo file get --webUrl 'https://tenant.sharepoint.com/sites/crisismanagement' --url '/sites/crisismanagement/Docs2/Test/5GB.db' --asFile --path 'C:/temp/5GB.db'`

I had the following experience:
- the node process downloads with about 66mb/s and grows accordingly to around *5.2gb* (Given the 8gb limit I started killing of some other processes like teams)
- At 5.2G

[2020-09-05 12:00] waldekmastykarz commented on #1796
Nice findings! Have you tried using the `.pipe()` you mentioned? Does it work as intended?

[2020-09-05 12:10] waldekmastykarz commented on #1683
Done

[2020-09-05 12:10] #1683 closed

[2020-09-05 12:22] appieschot commented on #1796
Not yet, Will try today or Monday!

[2020-09-05 17:25] appieschot commented on #1796
So minor update; managed to test some more ;), but not quite there yet. We are using a custom implementation for all our requests in the `request.ts` file. I hacked in a `.pipe()` there and now I **do get the file written to disk** but somewhere the response is still cast, or transformed, as a string. I still get the same error (but now only after the file is saved to disk). Debugging is a bit har

[2020-09-06 09:50] #1717 closed

[2020-09-06 19:10] garrytrinder commented on #1688
You also get invalid comment when you execute `m365 --help`, however `m365 help` doesn't.

[2020-09-06 19:23] romanatsogeti commented on #1578
i would not mind taking a stab at this one if it's not already assigned to anyone.

[2020-09-06 19:41] garrytrinder commented on #1578
All yours @romanatsogeti thank you for your help 👍🏻

[2020-09-07 03:23] romanatsogeti commented on #1489
i've taken another issue, but this one is close to what i was looking at with v1.11 detection.  i'll start looking into this one as well.

[2020-09-07 07:46] arjunumenon commented on #1577
@appieschot  - I am assuming there is a typo in the command which I guess is supposed to be **`spo knowledgehub remove`** rather than  `spo knowledegehub remove`.

If my assumption is correct, do you mind updating the specs please.

[2020-09-07 07:55] appieschot commented on #1577
@arjunumenon absolutely, just updated the specs, sorry for the confusion.

[2020-09-07 09:15] waldekmastykarz commented on #1688
Since we're working on removing Vorpal, which is what we're using internally for the CLI base functionality, and which is causing the issue, I'd say we park this for now and check if this issue is still there after we removed Vorpal.

[2020-09-07 09:16] waldekmastykarz commented on #1489
Excellent! I'll assign it to you. Appreciate your help 👏

[2020-09-07 13:53] arjunumenon opened #1803 "Bug report: MkDocs Docker Command mentioned wrong after docs folder restructure"
### Description

Changes need to be done in the Project Guide named [**Minimal Path to Awesome**](https://github.com/pnp/cli-microsoft365/wiki/Minimal-Path-to-Awesome)

### Steps to reproduce

- Open the Project Guide named  [**Minimal Path to Awesome**](https://github.com/pnp/cli-microsoft365/wiki/Minimal-Path-to-Awesome)

- Check the section **Documentation**

- Command given for opening MkDocs

[2020-09-07 20:07] garrytrinder commented on #1803
Good catch @arjunumenon would you like to submit the change?

[2020-09-07 20:40] garrytrinder opened #1804 "New command: `teams tab get`"
### Usage

`teams tab get [options]`

### Description

`Gets information about the specified Microsoft Teams tab`

### Options

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `-i, --teamId [teamId]` | The ID of the Microsoft Teams team where the tab is located. Specify either `teamId` or `teamName` b

[2020-09-07 20:47] garrytrinder commented on #1656
Closing issue as per discussion on associated PR.

[2020-09-07 20:47] #1656 closed

[2020-09-07 21:16] garrytrinder commented on #1690
Hey @dips365 just checking in, are you still working on this command?

[2020-09-08 02:01] arjunumenon commented on #1803
Definitely @garrytrinder . Pleasure would be mine 🙏🙏. Please feel free to assign it to me.

[2020-09-08 05:50] garrytrinder commented on #1803
Awesome 😎 All yours 👍🏻

[2020-09-08 06:36] garrytrinder commented on #1703
I'll pick this up.

[2020-09-08 07:09] arjunumenon commented on #1803
Hey @garrytrinder   - Quick question If I may.

When we fork the M365 CLI Repo , I guess wiki content are not forked to your Repo since Wiki is a separate entity altogether. Since that being the case, do you think I can push the changes directly  to the original Wiki Repo for me to make the changes. I haven't come across this use case before. Can you advise what has to be done here? Pardon me If I

[2020-09-08 08:05] garrytrinder commented on #1803
Ah yes, we did move this from the repo into the wiki recently, apologies, so many changes recently 😄

Do you see the `Edit` button on the page?

![image](https://user-images.githubusercontent.com/11563347/92449688-50c85380-f1b2-11ea-89a5-b47a5f67df87.png)

If you do you should be able to make the change, outside of the PR process.

If not, I'll make the update for you.

[2020-09-08 08:42] garrytrinder commented on #1703
Rather than rename the Actions, I think that we should create new actions under the new name, utilising the new package, @pnp/cli-microsoft365 and leave the Office 365 CLI actions in place.

The reason for this is that it doesn't appear that we can rename actions once they have been published to the marketplace, so the only option would be to remove the action and re-create it, as we don't know wh

[2020-09-08 08:48] nanddeepn commented on #1804
Thanks @garrytrinder
I will work on this.

[2020-09-08 10:05] arjunumenon commented on #1803
Thanks @garrytrinder for the direction. I am unable see neither in the **New Page** nor **Edit Page** option in the Wiki section. Guess I don't have the needed permission for the same.
![image](https://user-images.githubusercontent.com/10369964/92462448-21ccd480-f1e8-11ea-9f91-4e010c52fd8e.png)

There are couple of work-around suggested by some users which is explained in the [THIS LINK](https://g

[2020-09-08 10:35] waldekmastykarz commented on #1803
I've updated the Wiki. Thanks agains for reporting it @arjunumenon 👏

[2020-09-08 10:35] #1803 closed

[2020-09-08 10:35] waldekmastykarz commented on #1703
Good idea! Let's do that!

[2020-09-08 10:38] #1721 closed

[2020-09-08 10:38] #1729 closed

[2020-09-08 22:04] garrytrinder opened #1806 "Enhancement: Add `name` option to `todo list set` command"
The `m365 todo list set` command currently only accepts the `id` of the list that you want to update, for example...

[code]

It would be helpful if we could just pass in the name of the current list as an option so that the user doesn't have to manually find id of the list using other means, for example...

[code]

The proposed spec for this change is shown below

Option|Description
------|------

[2020-09-09 02:59] arjunumenon commented on #1806
@garrytrinder  - Seems like an exciting one since I haven't tried my hands on todo APIs . Can you assign it to me..

[2020-09-09 03:11] dips365 commented on #1690
@garrytrinder  Yes. Working with test cases.
Logic is developed.

[2020-09-09 04:34] waldekmastykarz commented on #1703
Before we proceed, just to double check: is it not possible to change the display name of the action or the actual name referenced in the workflow (ie. @pnp/action-cli-login)? If it's the latter, then we could simply release a v2 because there is no mention of O365 anywhere in it. If it's the display name that can't be changed in the marketplace then it would be indeed clearer to have a new set

[2020-09-09 06:04] garrytrinder commented on #1806
Absolutely, all yours 😊.

Thank you for your help @arjunumenon 👍

[2020-09-09 17:52] waldekmastykarz commented on #1737
Stefan Bauer has recently released v1 or markshell. It seems to be working as expected for us.

Meanwhile, I've updated all code and the only piece left are tests for the newly introduced Cli class. If all goes according to the plan, I'd like to propose that we release the changes for preview in October (v3.2 beta) and use October to test and adjust things if necessary and ship a Vorpal-less v3.2.

[2020-09-09 19:33] tobyatgithub commented on #1796
Hi @appieschot ! How did the alternative approach go?
I'm happy as far as we can have the file written to disk!

[2020-09-10 00:42] rabwill commented on #1739
Hey @dips365 , just checking in if you are still working on this command?
Do let us know if you have any blockers or a question, thanks for your time 🙂

[2020-09-10 00:44] rabwill commented on #1604
Hey @dips365  , just checking in if you are still working on this?
Do let us know if you have any blockers or a question, thanks for your time 🙂

[2020-09-10 13:56] waldekmastykarz opened #1807 "Enhancement: Change how the `tenant status list` command retrieves tenant ID"
We should change how the `tenant status list` command retrieves tenant ID. Right now, it's based off of the `SpoCommand` and uses SharePoint APIs to discover the tenant ID. This requires SharePoint permissions, which shouldn't be necessary. Instead, we should retrieve the tenant ID from the access token, where it's stored in the `tid` property. Not only it doesn't require any additional permission

[2020-09-10 14:00] nanddeepn commented on #1807
Hi @waldekmastykarz
I am working on same path for 'tenant service message list' command.
I can cover this enhancement too.

[2020-09-10 18:08] garrytrinder commented on #1737
Ship. It. 🚀

[2020-09-10 19:02] appieschot commented on #1796
@tobyatgithub it looks like I have managed to solve the issue in [this repo](https://github.com/appieschot/cli-microsoft365/tree/feature/bug-1698). It took me a bit more time than hoped for. As it turns out the `request-promise-native` library we are using is doing something with the body and will always try to translate the body to a string and is loading everything into memory. So after giving u

[2020-09-10 19:08] appieschot commented on #1737
Agree on a October release,

[2020-09-10 19:20] appieschot commented on #1698
Wow this thread is quite embarrassing  🤨 pushed some of my changes for another issue into this repo. Did a reset so we should be all good but that does explain the multiple commits. Sorry!

[2020-09-11 13:12] WinnieThePig commented on #1698
Really appreciated you deploy a fix on this. I will give it a try and report back!! Have a great weekend!! :)

[2020-09-11 14:32] nanddeepn commented on #1804
Hi @garrytrinder, @waldekmastykarz
Do we need to include the option `teamName`?
We do not have it for any other teams related commands.

[2020-09-11 14:38] nanddeepn commented on #1804
I think, it will be worth to include. Please ignore my previous comment. :)

[2020-09-11 16:52] patrick-rodgers opened #1808 "CircleCI Configuration within Repository"
**Issue**

It was reported that storage of the COVERALLS_REPO_TOKEN within the repository could be considered a security issue.

**Explanation**

This is a deliberate decision on our part so that we can run code coverage on PR builds. Unfortunately, the current technology we have at our disposal doesn't offer us a more secure alternative. Given the limited impact of a potential abuse of the token,

[2020-09-11 16:52] #1808 closed

[2020-09-11 20:16] tobyatgithub commented on #1796
Hi @appieschot ! Silly question... how do I test this repo against my scenario?
Shall I clone the repo and paste over some already existing files? (I'm not sure how to specify versions via installation of yarn/npm)

[2020-09-11 20:19] appieschot commented on #1796
@tobyatgithub no problem! The quickest way is to clone my repo and follow the steps in our [guide](https://github.com/pnp/cli-microsoft365/wiki/Minimal-Path-to-Awesome). Let me know if that helps!

[2020-09-11 23:25] tobyatgithub commented on #1796
@appieschot Hmm...! I think I'm doing something wrong. I got two errors when running `npm test`
Could you help me with that please!

What I did:
1. started docker without `RUN npm i -g @pnp/office365-cli` in my Dockerfile
(I ran the pip list to ensure office365-cli
2. inside the docker terminal, I clone the git repo, and `cd cli-microsoft365`
3. git checkout from master to `git checkout feature/bu