[2021-02-25 12:32] waldekmastykarz commented on #2206
Shall we go with `spo site apppermission list` then? `--appId` and `--appDisplayName` are good to make it clear which ID and name we expect

[2021-02-25 14:04] fthorild commented on #2206
Yes, let's do it 💪👍- I'll update the issues

[2021-02-26 11:13] estruyf opened #2211 "Bug report: Unnecessary save can lead to losing of page content with `spo page set`"
### Description

From time to time when using the `spo page set` command, it happens that the content is removed due to an unnecessary page save.

### Steps to reproduce

It seems to only happen when for instance the `--publish` flag is used.

### Expected result

Publishing the page without losing the contents.

### Actual result

Sometimes contents are lost.

[2021-02-26 13:38] waldekmastykarz commented on #2211
Good catch! Thanks for reporting and picking it up!

[2021-02-26 13:40] waldekmastykarz commented on #2206
Let's use `-u` as the short option for site to align with other commands. Other than that, let's get it in! Thank you for writing the spec! 👏

[2021-02-26 13:41] waldekmastykarz commented on #2207
Let's use `-u` as the short option for URL to align with other commands. Other than that, we're ready to go! Thank you for the spec! 👏

[2021-02-26 13:43] waldekmastykarz commented on #2208
Let's use `-u` as the short option for the URL to align with other commands. Other than that we're ready to go. Thank you for the spec! 👏

[2021-02-26 13:45] waldekmastykarz commented on #2210
Let's use `-u` as the short option for the URL to align with other commands.

Next to updating the permission by its ID, shall we also allow users to specify the app ID or app display name if they have that readily available and look up the permission ID for them?

[2021-02-26 13:47] waldekmastykarz commented on #2209
Let's use `-u` as the short option for the URL to align with other commands.

We can't use `-i` both for `--id` and `--appId`. In this case, I'd say that we use it for `--id` and use `--appId` without a short option.

[2021-02-26 18:35] appieschot opened #2214 "Enhancement: extend `aad o365group get` with alias for teams"
Extend the https://pnp.github.io/cli-microsoft365/cmd/aad/o365group/o365group-get/ with an alias `m365 teams team get`. Same implementation as https://pnp.github.io/cli-microsoft365/cmd/aad/o365group/o365group-user-list/.

[2021-02-26 19:09] #2195 closed

[2021-02-26 19:09] #2202 closed

[2021-02-26 19:09] #2204 closed

[2021-02-26 19:25] appieschot commented on #1490
Happy to pick this on up if you agree.

- Openening something in the browser can done using the following package: https://github.com/sindresorhus/open or build something ourselves to check for runtime to see what to run. I am leaning towards building something our selves (its just reading out what platform and using the correct syntax, as we already have to decide if we are in docker or not). Do

[2021-02-26 19:34] appieschot commented on #2174
@Abderahman88 I am not 100% sure but think that you can use REST filters on that endpoint (https://docs.microsoft.com/en-us/azure/azure-monitor/essentials/rest-api-walkthrough). So perhaps you can do a filter on the displayName property. I haven't tested that though but that might be an option.

[2021-02-26 19:53] Abderahman88 commented on #2174
@appieschot I tried a filter but I don't get the error. (see post above)

`https://management.azure.com/providers/Microsoft.PowerApps/apps?api-version=2016-11-01&$filter=displayName eq 'TestApp'` --> does not work

But for example `https://management.azure.com/providers/Microsoft.PowerApps/apps?api-version=2016-11-01&$filter=classification eq 'EditableApps'` --> works (+ I don't see the property '

[2021-02-26 20:08] appieschot commented on #2174
Sorry! Didn't read properly! Looks like getting them all is the only way. If I ever find some time I will have a look at the powershell option as well. Still need to dive into those to spec some other commands as well.

[2021-02-26 20:11] fthorild commented on #2210
Yes that would make a lot of sense. We're doing this for the add cmd so it makes sense to do it here as well

[2021-02-26 20:19] fthorild commented on #2206
🙋‍♂️ I'd be happy to give this a go

[2021-02-26 20:38] estruyf opened #2216 "Bug report: the save action on `spo page control set` discards other changes"
The `page.save` method needs to be updated to include all other page properties as well. Right now only `CanvasContent1` gets updates, and other settings get discarded.

[2021-02-27 05:54] plamber opened #2219 "New sample script: change the group membership of all SharePoint Online sites"
|Docs||
|-----|----|
|Author| Patrick Lamber |
|Original Post| [link](https://www.nubo.eu/Change-The-Group-Memberships-Of-All-SharePoint-Online-Sites/) |
|Description| Takes a subset or all members of the default owner group and downgrades the permission to the default member group |
|Keywords| SharePoint Online, Governance |

[2021-02-27 06:01] plamber opened #2220 "New sample script: Add site collection admin to all sites in the tenant"
|Docs||
|-----|----|
|Author| Salaudeen Rajack |
|Original Post| [link](https://www.sharepointdiary.com/2015/08/sharepoint-online-add-site-collection-administrator-using-powershell.html) |
|Description| Add site collection admin to all sites in the tenant |
|Keywords| SharePoint Online, Governance |

[2021-02-27 06:03] plamber opened #2221 "New sample script: change the primary site collection admin of a site"
|Docs||
|-----|----|
|Author| Salaudeen Rajack |
|Original Post| [link](https://www.sharepointdiary.com/2015/08/sharepoint-online-add-site-collection-administrator-using-powershell.html) |
|Description| change the primary site collection admin of a site |
|Keywords| SharePoint Online, Governance |

[2021-02-27 06:04] plamber opened #2222 "New sample script: add a site collection admin to a site"
|Docs||
|-----|----|
|Author| Salaudeen Rajack |
|Original Post| [link](https://www.sharepointdiary.com/2015/08/sharepoint-online-add-site-collection-administrator-using-powershell.html) |
|Description| add a site collection admin to a site |
|Keywords| SharePoint Online, Governance |

[2021-02-27 06:07] plamber opened #2223 "New sample script: remove a site collection admin from all site collections"
|Docs||
|-----|----|
|Author| Salaudeen Rajack |
|Original Post| [link](https://www.sharepointdiary.com/2017/02/sharepoint-online-remove-site-collection-administrator-using-powershell.html#:~:text=%20SharePoint%20Online:%20Remove%20Site%20Collection%20Administrator%20using,%22Site%20admins%22%20and%20click%20on%20Manage.%20More) |
|Description| Remove a site collection admin from all site collecti

[2021-02-27 06:09] plamber opened #2224 "New sample script: Monitor Site Collection Storage Usage with PowerShell"
|Docs||
|-----|----|
|Author| Salaudeen Rajack |
|Original Post| [link](https://www.sharepointdiary.com/2020/08/sharepoint-online-monitor-site-storage-usage-with-powershell.html) |
|Description| Monitor Site Collection Storage Usage with PowerShell |
|Keywords| SharePoint Online, Governance |

[2021-02-27 06:11] plamber opened #2225 "New sample script: make a list or library read-only for all users"
|Docs||
|-----|----|
|Author| Salaudeen Rajack |
|Original Post| [link](https://www.sharepointdiary.com/2020/03/sharepoint-online-make-list-read-only-using-powershell.html) |
|Description| Shows how to make a list or library read-only for all users |
|Keywords| SharePoint Online, Governance |

[2021-02-27 10:36] #2075 closed

[2021-02-27 10:36] #2168 closed

[2021-02-27 10:36] #2214 closed

[2021-02-27 11:02] waldekmastykarz commented on #1490
We're already using this package for the browser auth, so we can use it here as well

Good idea! I can create a shortcode for us on `aka.ms`. That will allow us to insulate our code from any changes on GitHub and change the format without having to touch the code.

[2021-02-27 11:04] waldekmastykarz commented on #2210
Awesome! We're ready to go! 🚀

[2021-02-27 11:04] waldekmastykarz commented on #2206
Awesome! Appreciate your help 👏

[2021-02-27 11:05] waldekmastykarz commented on #2216
Good catch! That's clearly not the intention

[2021-02-27 11:17] waldekmastykarz commented on #1960
Closed due to lack of response

[2021-02-27 11:17] #1960 closed

[2021-02-27 11:18] waldekmastykarz commented on #2155
Hey @melcloud, were you able to get any more information?

[2021-02-27 11:18] waldekmastykarz commented on #1578
Resetting to available for taking due to lack of response

[2021-02-27 11:19] waldekmastykarz commented on #2119
Closing this issue as the discussion is concluded

[2021-02-27 11:19] #2119 closed

[2021-02-27 11:20] waldekmastykarz commented on #2031
Hey @douglasromao, are you still working on this?

[2021-02-27 11:21] waldekmastykarz commented on #2038
Hey @plamber, are you still working on this?

[2021-02-27 11:22] waldekmastykarz commented on #1878
Hey @aakashbhardwaj619, are you still working on this?

[2021-02-27 11:23] waldekmastykarz commented on #2156
Update: the different auth methods work as expected. What's left is fixing broken tests and ensuring full coverage. Working on it.

[2021-02-27 11:24] aakashbhardwaj619 commented on #1878
Hi @waldekmastykarz I was working on the test cases for this command, but then had a couple of busy weeks. I'll try to complete this over the weekend.

[2021-02-27 11:54] plamber commented on #2038
Lets free it up if somebody wants to take it up

[2021-02-27 14:08] appieschot opened #2226 "Enhancement: extend `spo page set` with option to demote news"
Currently the `spo page set` command only supports the `promoteAs` flag to allow a page to be promoted to `homepage, newspage, template`.

There is no option to demote a news item.

Suggestion is to add a new parameter `--demoteNews`. If that parameter is set the PromotedState is set back to `0` (normal article state).

[2021-02-27 14:12] appieschot opened #2227 "New alias: spo page template remove"
### Usage

Add new alias `spo page template remove` to `spo file remove`

**not using the `spo page remove` because that does not support removal of pages in subfolders.**

### Description
Removes a page template

📌Make sure to update the sample as well 📌

[2021-02-27 15:46] waldekmastykarz commented on #2226
Would that apply only to news pages or could you also demote a home page or a template page to a regular page? If so, from naming point of view, we could consider adding a new flag to the existing `promoteAs` option, like `page` which would convert the "special" page into a regular page. What do you think?

[2021-02-27 15:49] waldekmastykarz commented on #1878
Awesome! Appreciate you sticking with us 👍

[2021-02-28 23:36] sprider commented on #2164
Hi @garrytrinder, Do we need include [identitySecurityDefaultsEnforcement](https://docs.microsoft.com/en-us/graph/api/identitysecuritydefaultsenforcementpolicy-get?view=graph-rest-1.0&tabs=http) and [authorizationPolicy](https://docs.microsoft.com/en-us/graph/api/authorizationpolicy-get?view=graph-rest-1.0) with this command? These two endpoints returns single item rather than a list so just wante

[2021-03-01 00:04] melcloud commented on #2155
Hi @waldekmastykarz Sorry for the late reply. Unfortunately, I cannot install any package capture tool due to corporate regulation in the constraint environment. This is definitely an issue with Axios library, it doesn't seem to work well with proxying https traffic through http proxy. I wrote a simple test to connect to google and it failed with exact same problem.

The work around I can find is

[2021-03-01 05:34] plamber opened #2230 "New command: onedrive list"
### Usage

`onedrive list [options]`

### Description

`Retrieves a list of OneDrive sites`

### Options

N/A

### Additional Information

N/A

[2021-03-01 05:38] plamber opened #2231 "New command: onedrive"
### Usage

onedrive provision [options]

### Description

Pre-provision OneDrive for users in your organization

### Options

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `-o, --option <option>` | option                                    |
| `-o, --output [output]` | Output type. `json,text`. Defa

[2021-03-01 09:34] appieschot commented on #2226
We could demote both a newspage and a template, demoting a homepage would be different as you need to specify another homepage (there can not be a site wihtout a homepage 😁). So we could do `--demoteAs` to both remove the template or newspage, or `--demote` with the option `newspage,template`. The latter has my preference (as a newspage could be both newspage and template, and perhaps you only wan

[2021-03-01 14:12] arjunumenon opened #2232 "Bug report: Tests failing for the latest code base"
### Description

When we build and run `npm test`, the test is failing for 2 files,

### Steps to reproduce

Get the latest version of the code base for CLI for Microsoft 365.
Execute `npm run build`
Execute `npm test`
Test fails for the following files.

- teams report directroutingcalls
- teams report pstncalls

![image](https://user-images.githubusercontent.com/10369964/109508329-c2c88800-7ac5-

[2021-03-01 14:12] arjunumenon commented on #2232
@pnp/cli-for-microsoft-365-maintainers  - Guys - Can I take this issue up?

[2021-03-01 18:25] waldekmastykarz commented on #2226
@garrytrinder what would be the most syntactically correct: `demoteAs`, `demoteFrom` or something else altogether?

[2021-03-01 18:38] waldekmastykarz commented on #2155
Thank you for the additional research and linking the relevant issues from Axios. I agree with you that ideally we'd see this fixed in Axios. Since it's been open for a while, I wonder though how soon we can expect a fix and if there is something that we could do in the meanwhile to address this issue for you and others who might be affected.

Allowing people to use a tunnel, like you mentioned, s

[2021-03-01 18:40] waldekmastykarz commented on #2230
Would `m365 spo site classic list --includeOneDriveSites` work? https://pnp.github.io/cli-microsoft365/cmd/spo/site/site-classic-list/

[2021-03-01 18:42] waldekmastykarz opened #2234 "Bug report: includeOneDriveSites option missing in the list of `spo site classic list` options in docs"
The `includeOneDriveSites` option missing in the list of `spo site classic list` options in [docs](https://github.com/pnp/cli-microsoft365/blob/ff0a7e7cf503085daef2dbe10ee73328f6c416a6/docs/docs/cmd/spo/site/site-classic-list.md).

[2021-03-01 18:44] waldekmastykarz commented on #2231
Isn't the issue related to bearer token altogether rather than just app-only? Let's double check before proceeding.

[2021-03-01 19:05] #2211 closed

[2021-03-01 19:05] #2216 closed

[2021-03-01 19:05] #2232 closed

[2021-03-02 03:25] plamber commented on #2230
@waldekmastykarz: When looking at the commands I am wondering if it feels "natural" to look into the spo site classic list command when searching for OneDrive.

As an administrator I would just be interested in getting back OneDrive sites. Using this command as an alias which is calling and simplifying the m365 spo site classic list --includeOneDriveSites command with added filters might be an int

[2021-03-02 15:10] appieschot commented on #2230
@plamber I added the sample to https://github.com/pnp/cli-microsoft365/pull/2237 but do agree that it has added value to add it as an alias (but we should also do a `onedrive get` in that case).

[2021-03-02 18:12] waldekmastykarz commented on #2230
Makes sense @plamber. Is it sufficient to use just `onedrive list` or do we need to add site, like `onedrive site list` so that we can accommodate other entities like files, folders or permissions as well?

[2021-03-02 18:22] plamber commented on #2230
I do not see many usecases that might require adding additional namespaces. At the end we are just talking of onedrive sites all the time?

[2021-03-02 18:57] #2234 closed

[2021-03-03 09:53] nanddeepn commented on #2207
Hi @waldekmastykarz
Can I work on this?

[2021-03-03 18:19] waldekmastykarz commented on #2207
Absolutely! Appreciate your help 👏

[2021-03-03 19:32] #2206 closed

[2021-03-03 19:49] waldekmastykarz opened #2240 "Enhancement: update CI/CD to use npm@7"
Right now we recommend using npm@7 for development, but in our CI/CD pipe we use npm@6. There are some changes between v7 and v6 among which the fact that v7 automatically installs peer deps. Because v6 doesn't, installing a dependency that requires a peer dep could break our build. We should therefore update our CI/CD pipe to use npm@7 so that it's in sync with our recommendations.

[2021-03-03 20:15] estruyf opened #2241 "Bug report: `spo page list` only returns pages from the rootfolder"
### Description

The `spo page list` command only returns the pages from the root level.

### Steps to reproduce

Just run `spo page list`, it will not return any pages in folders.

### Expected result

Should return all pages, from all folders.

### Actual result

Only pages from root folder are returned.

[2021-03-03 22:04] garrytrinder commented on #2155
Thank you for the research on this @melcloud 👏

I'm rather surprised that this issue has not been resolved as it affects using a proxy.

I think we should look into implementing tunnel workaround as suggested, ideally having it as a configurable setting.

[2021-03-03 22:31] garrytrinder commented on #2164
Yes, let's return them with the other policies as part of the response.

[2021-03-03 23:19] garrytrinder commented on #2231
This was my understanding as well, btw all the code for this is in a branch on my fork https://github.com/garrytrinder/cli-microsoft365/tree/spo-personalsite-add

[2021-03-04 08:08] michaelmaillot opened #2243 "New sample script: Grant API permissions to SharePoint Azure AD Application"
|Docs||
|-----|----|
|Author| Michaël Maillot |
|Original Post| Inspired from [this article](https://michaelmaillot.github.io/tips/20210302-spfx-api-permissions) |
|Description| This script loops through a permissions list and grant them with admin consent. This can be useful for working with SPFx projects in order to allow the use of APIs such as Microsoft Graph or custom ones.
|Keywords| `ShareP

[2021-03-04 10:30] arjunumenon commented on #1832
Hello @garrytrinder / @waldekmastykarz   - We have an exciting test result for the super cool work which you had been.

I had cloned your latest branch in my WSL2 environment and it is WORKING as expected.

![image](https://user-images.githubusercontent.com/10369964/109950588-b11ff400-7d02-11eb-8b03-5115df2e78e6.png)

 After re-opening the container and once the remote container steps are complete

[2021-03-04 10:49] waldekmastykarz commented on #2155
We can definitely look into it once we have #2146 in place and can expose configuring CLI

[2021-03-04 10:50] waldekmastykarz commented on #2241
Good catch! Appreciate you picking it up 👏

[2021-03-04 11:12] sprider commented on #2164
Thank you for the confirmation @garrytrinder. I have completed the command for other policies. I will include these two and submit the pull request soon.

[2021-03-04 14:25] garrytrinder commented on #1832
Awesome 😎

Thanks for the update @arjunumenon

This is my next action on the CLI so I'll get the docs done in the coming days and let's ship it 🚢

[2021-03-04 18:07] sprider commented on #2164
@garrytrinder / @waldekmastykarz , I have completed this command for all the policies except identitySecurityDefaultsEnforcementPolicy.

I am getting access denied error when I access this endpoint with the token generated from CLI for Microsoft 365. Other policy endpoints are working with Policy.Read.All permission. Any idea?

- [mkdocs.yml](https://github.com/sprider/cli-microsoft365/blob/return

[2021-03-04 18:20] waldekmastykarz commented on #2164
Have you checked if the token you're using has the required `Policy.Read.All` scope?

[2021-03-04 18:56] sprider commented on #2164
Other [endpoints](https://docs.microsoft.com/en-us/graph/api/resources/policy-overview?view=graph-rest-1.0) with similar permission scope(Policy.Read.All) are working.

[2021-03-04 21:39] garrytrinder commented on #2164
Interesting... just to remove any element of doubt, are you able to replicate the error in the Graph Explorer?

If so, then this may be an issue with Graph endpoint and we should raise with the Graph team to investigate further.

[2021-03-04 21:57] garrytrinder commented on #2226
This is an interesting one...

I'm not sure that `--promoteAs` is the correct naming for the option on `spo page set`, as far as I can see you can only promote a content page as news, save a page as a template and set the welcome page of the web to a specific page.

This makes the `--demote` question an odd one as you can't demote a news page, demote a homepage or demote a template, more change th

[2021-03-04 22:04] sprider commented on #2164
@garrytrinder / @waldekmastykarz, Yes, I am getting the same error in Graph Explorer as well
<img width="1679" alt="graph0" src="https://user-images.githubusercontent.com/21008316/110036754-1bd12f80-7d03-11eb-84e2-300cac454b77.png">

[2021-03-04 22:22] appieschot commented on #2226
Agree that there might be missing commands, but you can demote a news item to a normal page.

[2021-03-04 23:15] garrytrinder commented on #2226
And this is the one command I missed off my list 🤦‍♂️

Which brings us back to

`spo page set --demoteAs newspage` vs `spo page set --demoteFrom newspage`

I would say `--demoteFrom` makes the most sense.

[2021-03-04 23:23] garrytrinder commented on #2164
Ah, I see the issue now. We should raise this with the Graph team if it is possible to obtain details without presenting a token with the expected scopes.

Absolutely, we can add this permission after we have merged the branch.

[2021-03-06 05:15] plamber opened #2245 "New sample script: Bulk-create Planner tasks"
|Docs||
|-----|----|
|Author| Waldek Mastykarz |
|Original Post| [here](https://blog.mastykarz.nl/bulk-create-planner-tasks-microsoft-flow/) |
|Description| Bulk-create Planner tasks using an input file |
|Keywords| Planner Governance Provisioning |

[2021-03-06 05:29] plamber opened #2246 "Enhancement: cli config set --key output"
### Usage

cli config set

### Description

Allow the configuration of the standard output option provided by the CLI. Different scenarios require different standard output configurations. Scripting uses for example a lot of JSON output for manipulation. Setting this option at the beginning of every script could be a simplification of these scripts.

This configuration will overwrite the of each c

[2021-03-06 09:53] plamber opened #2248 "Enhancement: m365 aad o365group add error message output improvements"
### Description

When executing the m365 o365group add command you might get an error message like this.

![image](https://user-images.githubusercontent.com/18241305/110202584-f6ab0100-7e69-11eb-8801-9ea1c7d9579f.png)

It might be useful to take the error message coming from the Graph endpoint and report it back to provide an easier way to spot the exception.

### Additional information
You can ru

[2021-03-06 18:06] sprider commented on #2245
@plamber could you please assign this to me?

[2021-03-06 18:17] sprider commented on #2227
@appieschot could you please confirm the difference between -o option and -o output?

[2021-03-06 18:44] waldekmastykarz commented on #2246
@plamber is this issue only about introducing the setting or also extending the CLI to honor the setting when it's configured?

[2021-03-06 18:45] waldekmastykarz commented on #2248
Good catch. We already have this logged under #2138. Let's track it there.

[2021-03-06 18:45] #2248 closed

[2021-03-06 18:50] waldekmastykarz commented on #2227
`-o option` is just a sample line without any further meaning. Seems like something that's slipped in there from the template

[2021-03-06 18:51] waldekmastykarz commented on #2227
@appieschot could a page template be removed using a `spo file remove` or `spo page remove`? If so, should this be an alias to one of these commands rather than a new command?

[2021-03-06 18:59] sprider commented on #2245
@waldekmastykarz / @plamber We can set task title and status values using the following two commands. Are we good with these two fields? Please confirm.

https://pnp.github.io/cli-microsoft365/cmd/todo/task/task-add/

https://pnp.github.io/cli-microsoft365/cmd/todo/task/task-set/

[2021-03-06 19:10] #1832 closed

[2021-03-06 19:10] #2241 closed

[2021-03-06 19:18] waldekmastykarz commented on #2245
Let's do that for now. We can always extend the script in the future as we add support for setting due dates and assigning todo's to people.

[2021-03-06 19:20] waldekmastykarz commented on #2245
@sprider, this issue is about creating Planner tasks not to do tasks. Seems like we're missing commands for it as right now we only support retrieving Planner tasks :(

[2021-03-06 19:58] sprider commented on #2245
@waldekmastykarz Sure, I will write the spec for the necessary commands.

[2021-03-07 06:15] plamber commented on #2246
I assumed this is implicit

[2021-03-07 18:39] waldekmastykarz commented on #2246
Let's make it explicit in the spec so that the work that's need to be done is clear to whomever picks it up and when we have the PR we have a shared understanding of what it's supposed to do.

If there are any assumptions or edge-cases about how it should be working, let's call them out too to ensure that we all have a shared understanding of the problem and the desired solution.

[2021-03-08 05:22] plamber opened #2251 "Enhancement: Update report commands to return JSON in JSON output"
### Description
I just noticed that all the reporting commands that derive from the same baseclass are not properly formatting a JSON output. Even if you specify the -o json the items are returned in a CSV format

### Steps to reproduce
Execute the `m365 tenant report activeuserdetail -period D7 -o json` or any other report command.

### Expected result
A properly formatted Json Array

### Actual

[2021-03-08 08:08] waldekmastykarz commented on #2251
That is by design, because the generated reports are CSV rather than data structures that we can return as JSON. I agree that it's suboptimal though. As changing it would introduce a breaking change, let's consider this for v4.

[2021-03-08 08:21] appieschot commented on #2227
@waldekmastykarz I have not that much experience with page templates, but since it is stored in a template folder i think one of those commands should be able to remove it.

[2021-03-08 13:53] Borkason opened #2252 "Enhancement: offer CLI as a binary release and available through winget"
I like to suggest that you distribute this as a binary module that does not depend on nodejs and npm. Both of those tools are usually not part of a system administrator's workstation. Additionally, it would be great if m365 could be installed via Microsoft's new tool winget.

[2021-03-08 14:40] sprider opened #2253 "New command: planner plan add"
# planner plan add

Adds a new Microsoft Planner plan

## Usage

[code]

## Options

`-t, --title <title>`
: Title of the plan to add

`--ownerGroupId [ownerGroupId]`
: ID of the Group that owns the plan. A valid group must exist before this field can be set. Specify either ownerGroupId or ownerGroupName but not both.

`--ownerGroupName [ownerGroupName]`
: Name of the Group that owns the plan. A v

[2021-03-08 15:04] sprider opened #2254 "New command: planner bucket add"
# planner bucket add

Adds a new Microsoft Planner bucket

## Usage

[code]

## Options

`-n, --name <name>`
: Name of the bucket to add

`--planId [planId]`
: Plan ID to which the bucket belongs. Specify either planId or planName but not both.

`--planName [planName]`
: Plan Name to which the bucket belongs. Specify either planId or planName but not both.

`--ownerGroupId [ownerGroupId]`
: ID of

[2021-03-08 15:15] sprider opened #2255 "New command: planner task add"
# planner task add

Adds a new Microsoft Planner task

## Usage

[code]

## Options

`-t, --title <title>`
: Title of the task.

`--planId [planId]`
: Plan ID to which the bucket belongs. Specify either planId or planName but not both.

`--planName [planName]`
: Plan Name to which the bucket belongs. Specify either planId or planName but not both.

`--bucketId [bucketId]`
: Bucket ID to which the

[2021-03-08 15:36] waldekmastykarz commented on #2227
So the question is if we should introduce a new command or if an alias for any of the existing command would suffice.

@pnp/cli-for-microsoft-365-maintainers, @estruyf any opinion?

[2021-03-08 15:39] waldekmastykarz commented on #2252
Thank you for the suggestion @Borkason. Do you have any experience in this area that could help us research if this is feasible for us?

[2021-03-08 15:43] waldekmastykarz commented on #2253
Thank you for the spec @sprider! I'd suggest renaming the `--owner` option to something more descriptive, like `--group` or `--ownerGroup`. Would it be possible to allow users specify the group not only by its ID but also by its display name, mail or anything else that's more human-friendly and they might have available without having to do a lookup?

[2021-03-08 15:45] waldekmastykarz commented on #2254
Nice! Would it also be possible to designate the plan by its name so that it's more user-friendly and doesn't require users to do a separate lookup before running this command? Is there a way for us to clarify the purpose and mechanics of the `orderHint` option? Not knowing the API and just looking at this sample/option description, I have no idea how it's meant to be used and what's possible.

[2021-03-08 15:46] waldekmastykarz commented on #2255
Nice! Could we also allow designating plan and bucket by their names so that it's easier for people to use this command without prior lookups? Could we also allow specifying other properties on the task like description, assigned to, due date, label, etc?

[2021-03-08 15:58] sprider commented on #2253
@waldekmastykarz, Let us go with -ownerGroupId for Group ID parameter. If we can process the display name of the group and get the id in the command internally, we can provide both the parameters(--ownerGroupId --ownerGroupName) as optional. Thoughts?

[2021-03-08 16:03] sprider commented on #2254
@waldekmastykarz Sure, Let us update the spec based on our disucssion(#2253). We can link the purpose of orderHint using this link https://docs.microsoft.com/en-us/graph/api/resources/planner-order-hint-format?view=graph-rest-1.0

[2021-03-08 16:05] sprider commented on #2255
Sure, Let us update the spec based on our disucssion(#2253). Do we need to include all the properties in planner task add endpoint https://docs.microsoft.com/en-us/graph/api/resources/plannertask?view=graph-rest-1.0?

[2021-03-08 16:23] plamber commented on #2227
@waldekmastykarz:

An alias hides the fact that somebody has to know how to handle these templates with the file command. This might simplify the discoverability of the feature. In this case I would prefer having an alias

[2021-03-08 16:34] estruyf commented on #2227
The creation of a template is a bit different, but the removal process is just a page. This can be achieved with the `spo file remove` or `spo page remove` command. Where the `spo page remove` is bit easier to use.

[2021-03-08 17:37] plamber opened #2256 "New command: tenant report getOffice365ActivationsUserDetail"
### Usage
m365 tenant report office365activationsuserdetail

### Description
Get details about users who have activated Microsoft 365.

### Options
| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `-o, --option <option>` | option                                    |
| `-o, --output [output]` | Output t

[2021-03-08 17:39] plamber opened #2257 "New command: m365 tenant report getOffice365ActivationCounts"
### Usage
m365 tenant report office365activationcounts

### Description
Get the count of Microsoft 365 activations on desktops and devices.

### Options
| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `-o, --option <option>` | option                                    |
| `-o, --output [output]` | Out

[2021-03-08 17:40] plamber opened #2258 "New command: m365 tenant report getOffice365ActivationsUserCounts"
### Usage
m365 tenant report office365activationsusercounts

### Description
Get the count of users that are enabled and those that have activated the Office subscription on desktop or devices or shared computers.

### Options
| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `-o, --option <option>` | o

[2021-03-08 18:37] Borkason commented on #2252
I don't have any experience with nodejs, npm or winget, @waldekmastykarz. Sorry.

[2021-03-08 20:18] LuiseFreese opened #2259 "Wrong product name: Power Automate instead of Microsoft Flow"
Should we rename 'Microsoft Flow' to 'Power Automate' in [CLI Microsoft 365 documentation](https://pnp.github.io/cli-microsoft365/cmd/flow/flow-disable/) navigation, as this is the product name since a while now?

This also applies to the texts as well, I think we should refer to a single 'Power Automate flow' instead of a 'Microsoft Flow'.

Happy to help/adjust if you agree.

[2021-03-08 21:12] garrytrinder commented on #2259
Great suggestion @LuiseFreese 👏🏻

Would you like to take this on?

[2021-03-08 21:53] LuiseFreese commented on #2259
yes, will update mkdocs.yml for nav and also everywhere else where I find 'Microsoft Flow'

[2021-03-08 22:47] LuiseFreese commented on #2259
ok, updated all files under commands and change the product name accordingly, also updated the mkdocs.yml for navigation.

In the sample scripts we can still find some 'Flow' (capitalized, as if this was the name of the product) instead of 'flow' as in 'workflow' which shouldn't be capitalized, see also documentation of Power Automate, [types of flows](https://docs.microsoft.com/en-us/power-automa

[2021-03-09 12:09] appieschot commented on #1490
@waldekmastykarz  would you mind creating the 3 aka.ms links:

- Bug: https://github.com/pnp/cli-microsoft365/issues/new?assignees=&labels=bug&template=bug_report.md&title=Bug+report%3A+%3Cshort+description%3E
- New Command: https://github.com/pnp/cli-microsoft365/issues/new?assignees=&labels=feature%20request&template=new-command.md&title=New+command%3A+%3Cshort+description%3E
- Sample script: ht

[2021-03-09 13:29] appieschot commented on #2259
@LuiseFreese feel free to update the sample scripts as well! Don't think we need to consult the authors as we still point to their original blogs and we are only touching the CLI content.

[2021-03-09 16:34] appieschot opened #2272 "New sample script: Report all sites and lists"
|Docs||
|-----|----|
|Author| Albert-Jan Schot
|Original Post| https://www.cloudappie.nl/migration-report-climicrosoft365
|Description| Give a description of what the script does and why you may want to use it | List all sites and lists of each site for an overview before migration or settings
|Keywords| `SharePoint Online` , `Migration`

[2021-03-09 18:30] waldekmastykarz commented on #1490
I'll do that asap and share them here 👍

[2021-03-09 18:31] waldekmastykarz commented on #2252
That's ok. Just wanted to check if we could get some head start 👍

[2021-03-09 18:36] waldekmastykarz commented on #2257
I've updated the command name to drop the `get` that we don't have in other report command either.

Should this command be implemented using the report base class? If so, it would be good to make it explicit to help whoever will pick this issue up.

[2021-03-09 18:36] waldekmastykarz commented on #2256
I've updated the command name to drop the `get` that we don't have in other report command either.

Should this command be implemented using the report base class? If so, it would be good to make it explicit to help whoever will pick this issue up.

[2021-03-09 18:38] waldekmastykarz commented on #2227
Let's go them with an alias on `spo page remove`. Thanks!

[2021-03-09 18:39] waldekmastykarz commented on #2255
Let's start with those that make sense for creating a task. For example: we don't need to specify percent completed on a new task.

[2021-03-09 18:40] waldekmastykarz commented on #2254
This is definitely a good resource to link to. As it's so extensive, I don't think we should include it in our docs and rather link to the original doc.

[2021-03-09 18:41] waldekmastykarz commented on #2253
Good idea! Let's go with `ownerGroupId` and `ownerGroupName`. Both optional and you need to specify either one. 👍

[2021-03-09 18:49] plamber commented on #2256
Not sure about that because these endpoints do not share the same params

[2021-03-09 20:45] sprider commented on #2253
I have updated the spec. Could you please confirm?

[2021-03-09 21:00] sprider commented on #2254
I have updated the spec. Could you please confirm?

[2021-03-09 21:10] sprider commented on #2255
I have updated the spec. Could you please confirm?

[2021-03-10 18:21] waldekmastykarz commented on #2253
Looks good! Appreciate your help! 👏

[2021-03-10 18:21] waldekmastykarz commented on #2254
Looks good! Thank you! 👏

[2021-03-10 18:22] waldekmastykarz commented on #2255
Shall we also include some additional task properties like assigned to, due date, label(s) and description?

[2021-03-10 18:50] sprider commented on #2253
@waldekmastykarz

I have created the command for this and pushed the same to [my branch](https://github.com/sprider/cli-microsoft365/tree/planner-plan-add/src/m365/planner/commands/plan). Any idea why i am getting the following errors when i run npm run test?

<img width="1285" alt="Screen Shot 2021-03-10 at 12 45 09 PM" src="https://user-images.githubusercontent.com/21008316/110681156-1fe7cc00-81

[2021-03-10 18:51] #1945 closed

[2021-03-10 18:51] #2148 closed

[2021-03-10 21:28] sprider commented on #2255
Sure, I will update the spec. Please let me know if we need to include anyother parameters.

[2021-03-11 07:32] levalencia opened #2275 "Bug report: ##[error]Cmd.exe exited with code '1'."
### Description

I am working on CI/CD for an Spfx webpart based on this:

https://docs.microsoft.com/en-us/sharepoint/dev/spfx/toolchain/implement-ci-cd-with-azure-devops

I followed all steps build works fine.
For deployment, all steps work fine, but the Deploy step gives an error.

### Steps to reproduce

https://docs.microsoft.com/en-us/sharepoint/dev/spfx/toolchain/implement-ci-cd-with-azure-

[2021-03-11 12:58] waldekmastykarz commented on #2253
This issue is often caused where you switched between branches and there are stale files in your `dist` folder. To fix it, clear the `dist` folder using `npm run clean`, then rebuild the project using `npm run build` and re-rerun tests using `npm test`.

[2021-03-11 13:02] waldekmastykarz commented on #2275
Thanks for reporting the issue @levalencia and sorry for the trouble. Can you reproduce the issue when running CLI locally as well?

[2021-03-11 15:11] levalencia commented on #2275
![erro m365 cli](https://user-images.githubusercontent.com/6962857/110808545-6105dc00-8284-11eb-89e3-40cb6184ff33.png)

Yes, I just tried it locally, file is uploaded, deployed!, but still get the 404 error

[2021-03-11 16:07] sprider commented on #2253
Sure, Thank you @waldekmastykarz. I have created the pull request for this command. Please review and let me know your feedback.

[2021-03-11 18:14] waldekmastykarz commented on #2275
Thanks for checking!

1. Can you deploy the package using this account through the UI?
2. Could you execute the command with `--debug` flag and share with us the output? Please remove access tokens and tenant name if they're confidential.

[2021-03-11 18:55] #1878 closed

[2021-03-11 18:55] #1986 closed

[2021-03-11 20:03] sprider commented on #2254
@waldekmastykarz Please assign this to me. I will start as soon as we close #2276

[2021-03-12 00:57] Abderahman88 commented on #2275
@levalencia @waldekmastykarz

I've used the following and have no issues.

![deployApp](https://user-images.githubusercontent.com/36161889/110875237-8b33ba00-82d5-11eb-8cd3-44c1b6b787de.png)

On your screenshot you try to deploy `sp-fx-devops.sppkg` but added `helloworld-webpart.sppkg`?
Does `sp-fx-devops.sppkg` exist in the sitecollection app catalog?

[2021-03-12 06:52] levalencia commented on #2275
@Abderahman88 sometimes a fresh pair of eyes is what we need to solve issues, that was the error, sorry for reporting this issue :)

[2021-03-12 06:52] #2275 closed

[2021-03-12 09:42] waldekmastykarz commented on #2254
Awesome! Appreciate your help! 👏

[2021-03-12 09:44] waldekmastykarz commented on #2275
@levalencia no problem and great to hear you're unblocked. Appreciate your help @Abderahman88 👍

[2021-03-12 12:09] #2272 closed

[2021-03-12 12:09] #2207 closed

[2021-03-12 12:09] #2259 closed

[2021-03-12 16:55] nanddeepn commented on #2208
Hi @waldekmastykarz
Can I work on this?

[2021-03-12 18:06] appieschot opened #2277 "New sample script: list external users per sitecollection"
|Docs||
|-----|----|
|Author| Albert-Jan Schot |
|Original Post| https://www.cloudappie.nl/migration-report-external-users/ |
|Description| Get an overview of all external users per site collection  |
|Keywords|  `SharePoint Online` `Reporting`  `External Users`|

[2021-03-13 05:28] plamber opened #2278 "New sample script: Clean your development tenant Group and Sites"
|Docs||
|-----|----|
|Author| Patrick Lamber |
|Original Post| [original post](https://www.nubo.eu/Delete-All-SPO-Sites-And-M365-Groups/) |
|Description| Shows how to delete all Microsoft 365 Groups and SPO sites from your development tenant. Use it when you want to have a fresh start. |
|Keywords| Development Maintenance |

[2021-03-13 06:08] plamber commented on #2278
Hi @waldekmastykarz and @garrytrinder,
the script is ready to be pushed soon. I just would like to use the JMESPath for filtering. The script
 is [here](https://gist.github.com/plamber/eb504e417412f03e86e6f9b8269ac342#file-gistfile1-txt-L37).

Could somebody of you tell me how to achieve this filter with JMESPath?

[code]

The syntax I am used to use in the Azure CLI throws me an exception. I thou

[2021-03-13 10:06] waldekmastykarz commented on #2278
Your JMESPath query seems to be working just fine if I test it at https://jmespath.org/. Are you saying you're testing it with Azure CLI or did you mean CLI for Microsoft 365?

[2021-03-13 10:07] waldekmastykarz commented on #2208
Please do! Appreciate your help 👏

[2021-03-13 10:23] plamber commented on #2278
It fails when used in our CLI with that criteria

[2021-03-13 14:00] waldekmastykarz commented on #2278
I can repro it. Let me have a look

[2021-03-13 14:08] waldekmastykarz commented on #2278
You were almost there. You need to replace `or` with `||`. That works in the CLI.

[2021-03-13 14:09] plamber commented on #2278
I knew it. Its me ;)

[2021-03-13 14:10] waldekmastykarz commented on #2278
JMESPath queries are right up there with regex and time zones 😄

[2021-03-13 14:12] waldekmastykarz opened #2279 "Bug report: specifying invalid JMESPath queries throws an unhandled exception"
### Description

Specifying invalid JMESPath queries throws an unhandled exception

### Steps to reproduce

`m365 spo site classic list -o json --query "contains(abc)"`

### Expected result

Ideally an error explaining what's wrong and how to fix it.

### Actual result

Unhandled exception

### Environment

CLI v3.7

[2021-03-13 14:18] plamber commented on #2278
@waldekmastykarz:

Maybe its not just me.

Tried this one on Windows:
[code]
![image](https://user-images.githubusercontent.com/18241305/111032981-41e78580-840f-11eb-9a0c-85a08c91cf94.png)

What I am doing wrong?

br,
Patrick

[2021-03-13 14:27] plamber commented on #2278
Finally got it.

m365 spo site classic list -o json --query "[?contains(Template,'SITEPAGEPUBLISHING') || contains(Template,'STS')]"

Thank you for your help

[2021-03-13 14:46] plamber commented on #2246
I am going to pick this up because it became a personal matter

[2021-03-13 14:48] plamber commented on #2246
@waldekmastykarz: if you do not mind.

Afterward, I would go and rewrite all PowerShell based samples in our repository using this new feature. I think it will definitely help showing up there

[2021-03-14 06:18] rabwill opened #2281 "New sample script: Bulk delete SharePoint list items in batches"
|Docs||
|-----|----|
|Author| Mathew Yarlett |
|Original Post| Inspired from [this article](http://matthewyarlett.blogspot.com/2013/07/well-that-was-fun-bulk-deleting-items.html) |
|Description| Bulk deleting items from a SharePoint list in batches
|Keywords| `SharePoint Online` `Maintenance`  |

[2021-03-14 06:19] plamber opened #2282 "Bug report: development environment: tsc is not recognized as internal or external command"
### Description
I downloaded the latest version of the CLI on a fresh development environment. I received following error message:
'tsc is not recognized as internal or external command'. I was able to fix this by executing the command "npm install -g typescript". Are we missing a dependency?

### Steps to reproduce
- Download the latest version
- npm i
- npm build

![image](https://user-images.gi

[2021-03-14 06:38] rabwill opened #2283 "New sample script: Get All List Items with Unique Permissions"
|Docs||
|-----|----|
|Author| Salaudeen Rajack |
|Original Post| [Find here](https://www.sharepointdiary.com/2017/03/sharepoint-online-get-all-list-items-with-unique-permissions-using-powershell.html) |
|Description| Get All SharePoint Online List Items with Unique Permissions |
|Keywords| `SharePoint Online` `Maintenance` |

[2021-03-14 06:44] rabwill opened #2284 "New sample script: List all Microsoft Teams team's Owners and Members"
|Docs||
|-----|----|
|Author| Robin Clarke |
|Original Post| [Inspired by article here](https://dailysysadmin.com/KB/Article/3607/microsoft-teams-powershell-commands-to-list-all-members-and-owners/) |
|Description| List all Microsoft Teams team's Owners and Members |
|Keywords| `Microsoft Teams` `Governance` |

[2021-03-14 07:02] rabwill opened #2285 "New sample script: Bulk add members to Microsoft Teams team from CSV file"
|Docs||
|-----|----|
|Author| Rakesh Pandey |
|Original Post| [Inspired by blog here](https://www.flexmind.co/blog/how-to-add-bulk-users-from-csv-file-to-ms-teams-using-powershell/)|
|Description| Bulk add members to existing Microsoft Teams team from CSV file |
|Keywords| `Microsoft Teams` `Governance` |

[2021-03-14 13:29] veronicageek commented on #2285
@rabwill @waldekmastykarz
The _inspired blog_ also create a new Team before adding the users. Is this what you'd want too?
Or it could be a sample script like the title says, and just adding users to _existing_ teams using a .csv file. If the latter, I got my first stab at the CLI to do just that  😅

[2021-03-14 18:19] waldekmastykarz commented on #2282
That's odd. You shouldn't need typescript installed globally. Can you try running `npm run build` instead of `npm build`?

[2021-03-14 18:20] waldekmastykarz commented on #2246
Awesome! 👏

[2021-03-14 18:23] waldekmastykarz commented on #2278
Was it the `#` that was breaking in PowerShell?

[2021-03-14 18:25] waldekmastykarz commented on #2285
We could have two samples showing both scenarios. Appreciate your help @veronicageek 👏

[2021-03-14 18:54] plamber commented on #2278
Me using the -f parameter instead of --query 🤫

[2021-03-14 23:05] rabwill commented on #2285
@veronicageek I have updated the description of this issue for adding users into existing team for now, I will open another issue for the case where a new team is created. You can go ahead with this one. Super excited 😍

[2021-03-14 23:08] rabwill opened #2288 "New sample script: Create a new Microsoft Teams team and bulk add members from CSV file"
|Docs||
|-----|----|
|Author| Rakesh Pandey |
|Original Post| [Inspired by blog here](https://www.flexmind.co/blog/how-to-add-bulk-users-from-csv-file-to-ms-teams-using-powershell/)|
|Description| Create a new Microsoft Teams team and bulk add members  from CSV file |
|Keywords| `Microsoft Teams` `Governance` |

[2021-03-15 10:10] #2277 closed

[2021-03-15 10:10] #2278 closed

[2021-03-16 07:50] appieschot opened #2292 "Breaking change: ensure all commands don't return data wrapped in the 'value' property"
### Description

Some of our commands return values wrapped in a `value` object, others return the values without it. Most likely all of our list commands use the `value` implementation.

### Steps to reproduce

Use `m365 spo user list --webUrl https://contoso.sharepoint.com/ --output json` and the response is

[code]

### Expected result

All results return a consistent response when using the `-

[2021-03-16 09:18] veronicageek commented on #2285
Hi @waldekmastykarz @rabwill,
I have the script to add users to M365 groups from the .csv file imported (_if linked to a Team, then users will also be added to the team_), and was trying to add a bit of error handling because, if the user is already a member or an owner, I get `Error: Request failed with status code 400`. And I can't seem to find a way to manage errors.

Speaking to @garrytrinder,

[2021-03-16 09:52] appieschot opened #2293 "Enhancement add dedicated page for JMESPath"
### Description

Suggest to expand our documentation a bit with some additional queries and filters for using JMESPath. By moving our current samples to a dedicated page and adding some additional samples we can help our users who read the docs to find their way around how to do more complex filtering / sorting etc with JMESPath.

[2021-03-16 09:52] appieschot commented on #2293
@pnp/cli-for-microsoft-365-maintainers  if you agree I would like to pick this one up.

[2021-03-16 10:05] plamber commented on #2293
Fine for me. Was about to prepare something.

[2021-03-16 10:12] waldekmastykarz commented on #2293
Great suggestion. I'm sure folks will find it very helpful 👏

[2021-03-16 10:14] waldekmastykarz commented on #2292
I rephrased the issue as it's not a bug but rather something we've missed along the way. Like you've mentioned, it's a breaking change so something that we should pick up for v4. What would also help is to have a list of all commands that do this and that need to be changed so that we can track the work and ensure that we haven't missed anything.

[2021-03-16 10:16] waldekmastykarz commented on #2285
Awesome! Thank you for the update @veronicageek!

@plamber I believe you've worked with handling errors coming from CLI in PowerShell recently. Any tips you could share with @veronicageek?

[2021-03-16 10:27] plamber commented on #2285
Hi @waldekmastykarz,
with a status code 400 you are not able to take proper decisions in the script. Ideally you would need the error message on top of it. I do not see a way to handle this properly with the current version

br,
Patrick

[2021-03-16 10:40] appieschot commented on #2293
@plamber feel free to suggest things if you feel I am missing samples!

[2021-03-16 18:36] waldekmastykarz commented on #2285
Then it's something we need to fix asap. Suggestions welcome

[2021-03-16 18:37] waldekmastykarz commented on #2285
For the time being, wouldn't it be fair to assume that a 400 error while adding user at that point indicates that they're already there? It might not be fool-proof and cover all edge cases, but perhaps good-enough for now?

[2021-03-17 03:48] plamber commented on #2285
I think we should have a look how we are parsing the Graph exceptions and how we return the error message. The 400 Bad request is the HTTP error message but the Graph team always provides an additional error message. We should see why we are not outputting it.

Afterwards, we could consider reading the STD error in PowerShell. This is, however, not simple to parse and not fool proof.
I would add t

[2021-03-17 07:09] #2154 closed

[2021-03-17 07:09] #2173 closed

[2021-03-17 18:17] waldekmastykarz commented on #2285
The reason we're not showing the actual errors is outlined in #2138 and I'm working on it as we speak.

As for capturing stderr to a variable, you should be able to do that already now by adding `2>&1` at the end of the command. This will instruct PowerShell to redirect both stderr and stdout to stdout.

We can definitely look into returning error messages in JSON format for JSON output in v4 as i

[2021-03-17 18:39] waldekmastykarz commented on #2138
I've found an easier way to do it. Axios supports interceptors that allow us to process the response/error before sending it back to the code. That way we can change the object returned by Axios to be compatible with our existing code with minimal changes to our codebase.

[2021-03-17 18:41] plamber commented on #2285
I think we could already improve the stderror output of unhandled error messages following this documentation.

https://docs.microsoft.com/en-us/graph/errors

This will help during the evaluation in the scripts. Lets have a look into this in our next call

[2021-03-17 18:56] waldekmastykarz commented on #2285
Good idea! So if we exposed the original error message as JSON, that would allow you to choose how to handle it in scripts, right?

[2021-03-17 20:29] plamber commented on #2285
This would definitely help

[2021-03-18 08:34] waldekmastykarz opened #2298 "Enhancement: in JSON output mode, return error messages as JSON"
Raised from #2285

In JSON output mode, we should return error messages as JSON so that they can be handled accordingly.

This is a breaking change and can be included in v4 later this year.

[2021-03-18 14:04] michaelmaillot commented on #2158
If you're agree, I could give it a try on that enhancement!

Don't know if you had an idea about how handling this. So I had a first look at packages that we could use for opening URLs and the [open](https://github.com/sindresorhus/open) one looks easy to use and up to date.

[2021-03-18 14:22] hugoabernier opened #2299 "SPFx Doctor always produces "Error: npm not found""
### Description

I was getting more and more people reporting this issue when they were trying to resolve their issues with SPFx projects and always assumed it was their environment, but now I'm able to reproduce the issue consistently.

When running SPFx doctor within a solution folder or at the "global" level, the results are invariably:

[code]

### Steps to reproduce

1. From within a solution

[2021-03-18 16:05] waldekmastykarz commented on #2299
Thanks for reporting @hugoabernier. I can't reproduce the issue. Is there any more information that you could give us to investigate this further?

[2021-03-18 16:06] waldekmastykarz commented on #2158
Awesome! We're already using the `open` package, so definitely a good choice. Appreciate your help 👏

[2021-03-18 16:20] hugoabernier commented on #2299
I'll download the project and run it in debug mode to try to track down the issue

[2021-03-18 19:12] #2246 closed

[2021-03-19 18:17] waldekmastykarz commented on #2299
Awesome! Appreciate your help @hugoabernier 👏

[2021-03-19 18:50] waldekmastykarz opened #2300 "Bug report: executing `spo tenant appcatalog add` fails with an error"
### Description

Executing `spo tenant appcatalog add` fails with an error

### Steps to reproduce

`m365 spo tenant appcatalog add -u https://contoso.sharepoint.com/sites/apps --owner admin@contoso.onmicrosoft.com --timeZone 4 --debug`

### Expected result

Command works as expected

### Actual result

[code]

### Environment

CLI v3.7

[2021-03-19 19:06] #2138 closed

[2021-03-19 19:06] #2164 closed

[2021-03-19 19:06] #2243 closed

[2021-03-20 08:27] plamber opened #2302 "New sample script: upload a local folder to SharePoint Online"
|Docs||
|-----|----|
|Author| Not identified |
|Original Post| tbd |
|Description| This script shows how you can use the CLI to upload files located on a local folder to a SharePoint Online library or subfolder. This is a simple script that could be used for simple data migration scenarios  |
|Keywords| SharePoint Migration |

[2021-03-20 17:23] garrytrinder commented on #2300
I'll pick this up.

[2021-03-20 18:24] waldekmastykarz commented on #2300
Awesome! Appreciate your help 👏

[2021-03-23 17:02] garrytrinder commented on #1690
Hey @dips365 👋

Are you still working on this?

[2021-03-23 18:58] #2284 closed

[2021-03-24 17:27] dips365 commented on #1690
Hey @garrytrinder ,

I don't know , Unfortunately, I am getting below error while adding user to SP group with the same REST API.

![image](https://user-images.githubusercontent.com/40450958/112355427-a2ba6c00-8cf3-11eb-865a-682ab14975ca.png)

Below is code which is executing from user-add command.

`public commandAction(logger: Logger, args: CommandArgs, cb: () => void): void {
    const groupReq

[2021-03-24 18:53] waldekmastykarz opened #2305 "Bug report: two broken tests if default output configured to JSON"
### Description

If you configure default output to JSON, you will have two broken tests.

### Steps to reproduce

- `m365 cli config set -k output -v json`
- npm test

### Expected result

No broken tests

### Actual result

Two broken tests in Cli.ts:
1. replaces option value with the content of the specified file when value starts with @ and the specified file exists
2. leaves the original valu

[2021-03-24 21:08] garrytrinder commented on #1690
I've just tested the below API call on my development tenant and this worked for me.

[code]

Let me know if you have any issues.

[2021-03-24 23:05] garrytrinder commented on #2300
The command fails as the error returned on the initial App Catalog check, is returned as `CommandError` type, however as the `executeCommandWithOutput` method is used, the error response should be `CommandErrorWithOutput`. Updating the return type and access the `message` property using `err.error.message` fixes the issue.

[2021-03-25 10:11] waldekmastykarz opened #2309 "Remove deprecated options that point specifically to file paths"
If I'm not mistaken, these are the commands and options that require adjustment:

- [x] outlook mail send:bodyContentsFilePath
- [x] spo theme set:filePath (also introduce a new property named `theme` that holds theme contents)
- [x] teams team add:templatePath (also introduce a new property named `template` that holds template contents)

[2021-03-25 18:38] #2107 closed

[2021-03-25 18:38] #2305 closed

[2021-03-26 20:52] garrytrinder commented on #2033
Hey @douglasromao 👋

Are you still working on this?

Please let us know if you need any assistance.

[2021-03-26 20:54] garrytrinder commented on #2021
Hey @leeford  👋

Are you still working on this?

[2021-03-26 20:55] garrytrinder commented on #1763
Hey @sinhakislay 👋

Are you still working on this?

Please let us know if you need any assistance.

[2021-03-27 15:34] leeford commented on #2021
Sorry, yes. I've got the code completed just tests proving a challenge. Will report back soon!

[2021-03-28 14:27] waldekmastykarz commented on #2240
Thinking of it more, I wonder if we did this, it wouldn't lead us to miss errors when using CLI on npm@6. Since npm@6 is the default at the moment, perhaps it's good to use both to ensure that CLI works on both. What do you think @pnp/cli-for-microsoft-365-maintainers?

[2021-03-28 14:30] waldekmastykarz commented on #2282
Closing due to lack of response

[2021-03-28 14:30] #2282 closed

[2021-03-28 14:41] waldekmastykarz opened #2313 "Enhancement: Simplify working with SharePoint URLs"
Raised from #2060

Simplify working with SharePoint URLs, so that if you've retrieved SharePoint URL in the past (which you can confirm by running `m365 spo get`), you no longer need to specify the host name and can use server-relative URLs instead and CLI prepends the host name ourselves. If you don't want to rely on auto-retrieving the SharePoint URL, you could preset it yourself using the `m365

[2021-03-29 03:54] SeaDude opened #2314 "How to install on Windows Subsystem for Linux (WSL)?"
I have some **bash** scripts that leverage `az cli`. I'd like to incorporate `m365 cli`. To run the bash scripts on Windows, I've enabled WSL (Ubuntu 20). I can't seem to install `m365 cli` in WSL though.

**Steps to repro:**

**- From PowerShell prompt in Windows 10, verify `node` and `npm` are installed:**

[code]

**- Run `wsl` command from within `C:\Program Files\nodejs\node_modules\npm\bin`*

[2021-03-29 03:59] SeaDude commented on #2314
Aha... figured the syntax out:
- ` node.exe 'npm-cli.js' install -g @pnp/cli-microsoft365`.
- This had to be run from within the `/mnt/c/Program Files/nodejs/node_modules/npm/bin` directory in WSL.

[2021-03-29 03:59] #2314 closed

[2021-03-29 04:25] SeaDude commented on #2314
This was so much cleaner way to go! Just install on the Linux side of WSL! https://docs.microsoft.com/en-us/windows/nodejs/setup-on-wsl2

[2021-03-30 09:13] sinhakislay commented on #1763
Hi @garrytrinder sorry for all the delay! I have been very busy with personal and work related stuff. I had taken some help from Albert and finished the coding but it lacked some test cases.
Not to delay it further I will submit whatever I have done and someone of you can guide me on the gaps it has.
Sorry once again for all the delay!

[2021-03-30 19:50] garrytrinder commented on #1763
Thank you for the update @sinhakislay absolutely no problem, we appreciate your help ❤️

Feel free to create a draft PR with what you have and let's get it over the line 👍

[2021-03-31 06:09] #2300 closed

[2021-03-31 15:37] waldekmastykarz opened #2316 "Enhancement: Add support for creating Azure AD apps based on their manifest"
Currently we have a convenience command that allows you to easily create AAD app registration with a set of predefined settings. We should add support to let users create AAD app registrations based on the manifest they get from the Azure portal. That way, they can create and configure the app they need in the portal, and get its manifest for provisioning in other environments.

We can implement i

[2021-04-01 15:05] #2156 closed

[2021-04-01 15:06] #1670 closed

[2021-04-01 15:06] #2058 closed

[2021-04-01 15:06] #2208 closed

[2021-04-01 17:38] waldekmastykarz opened #2319 "Bug docs: command examples use short options instead of long"
Docs for the following commands use examples with short options (eg. `-o`), instead of long (`--output`):

- [ ] cdn get
- [ ] cdn origin add
- [ ] cdn origin remove
- [ ] cdn policy list
- [ ] cdn policy set
- [ ] cdn set
- [ ] customaction add
- [ ] customaction clear
- [ ] customaction get
- [ ] customaction list
- [ ] customaction remove
- [ ] customaction set

This makes these docs less reada

[2021-04-01 17:39] waldekmastykarz opened #2320 "Bug docs: broken list of command options"
The following docs have a broken list of command options:

- [ ] field set docs options broken
- [ ] list set docs options broken

This makes them unreadable and we should get the formatting fixed asap.

[2021-04-01 18:09] waldekmastykarz commented on #2158
Hey @michaelmaillot, sorry to be changing the scope as you're working on this, but given the option's name, what do you think if the same options was also used as a flag for browser login mode, which could also open the browser with the correct URL?

[2021-04-01 18:12] nanddeepn commented on #2319
Hi @waldekmastykarz
Can I work on this?

[2021-04-01 18:26] SmitaNachan commented on #2320
Hello @waldekmastykarz
Can I work on this?

[2021-04-01 18:50] garrytrinder commented on #2320
All yours @SmitaNachan 👍🏻

Thank you for the help ❤️

[2021-04-01 18:52] garrytrinder commented on #2319
All yours @nanddeepn 👍🏻

Thank you for the help ❤️

[2021-04-02 05:37] michaelmaillot commented on #2158
Sure, let's go for it!

[2021-04-02 06:02] michaelmaillot opened #2321 "Enhancement: add device code to clipboard option when default login"
Raised from #2317

When using `login` command with device code, it could be nice to already have it available for paste in the <https://aka.ms/devicelogin> page.

But to not take any risk to overwrite user's clipboard, the command would have another option, only available for `deviceCode` mode (or default), so that the user would have the choice.

usage:

[code]

This enhancement would be availabl

[2021-04-02 11:40] garrytrinder commented on #2321
Nice suggestion @michaelmaillot 👏🏻

[2021-04-02 17:10] waldekmastykarz commented on #2158
Ah right, totally forgot about that. In that case, we don't need to change anything. Carry on.

[2021-04-02 17:37] waldekmastykarz commented on #2321
Hey @michaelmaillot, even if someone chooses not to automatically open the browser, we should still allow them to copy the code to clipboard. Thinking of it, would it be better to expose it as an option on the login command, or shall we rather make it a config setting? In other words: would this be something that you want to do one time but not the other or would you rather have it configured perm

[2021-04-02 18:01] waldekmastykarz opened #2325 "Enhancement: introduce config setting to allow configuring error output"
Raised from #2247

We should introduce a new config setting that allows users to choose where errors and debug messages are logged to. By default, we log them to stderr. While it's the default way of handling errors and debug output in *sh, it's inconvenient in PowerShell because it leads to additional complexity in handling errors. With this config settings, users can choose to have their output

[2021-04-02 18:02] waldekmastykarz commented on #2325
@plamber how does the above sound? Anything to add/consider before we start with implementation?

[2021-04-03 03:03] plamber commented on #2325
Hi @waldekmastykarz,
sounds good from my point of view.

I would love to pick this up as soon as possible. Would like to give the chance to somebody else since I won't be able to make it immediately. If it it still not picked up in 1-2 weeks, then I am going to implement it.

br,

[2021-04-03 06:20] arjunumenon commented on #2321
Hello @waldekmastykarz  - I would agree with you Waldek on the option of having it configured rather than automatically added in the clipboard.
Being a user I would prefer to have it automatically added in the clipboard. Always, I used to do that manually, but if the code does it for you. That is super useful for me as a user.
But considering the fact that it may overwrite the clipboard might be a

[2021-04-03 11:11] garrytrinder commented on #2321
Personally I'd like to see the copy to clipboard as the default put behaviour, however we should add a prompt to the user that this has happened.

I can't think of a time where I have needed to manually copy the code, so I don't think that doing the copy automatically is that much of an issue.

Maybe something like the below would be a nice way to display the flow?

[code]

As the device login flo

[2021-04-03 15:03] garrytrinder opened #2327 "Add ESLint VS Code Extension to Remote Development Container"
Following the closure of #2058 we should update the Remote Development Container to include the ESLint VSCode extension as part of the development environment.

https://marketplace.visualstudio.com/items?itemName=dbaeumer.vscode-eslint

[2021-04-03 17:24] waldekmastykarz commented on #2321
Awesome suggestions @garrytrinder 👍 I'll update the spec

[2021-04-03 18:00] #2253 closed

[2021-04-03 18:00] #2319 closed

[2021-04-03 18:00] #2320 closed

[2021-04-03 18:10] waldekmastykarz commented on #2299
Closing due to lack of response

[2021-04-03 22:16] michaelmaillot commented on #2321
I like @garrytrinder's idea to display info to user!

But as @arjunumenon pointed out, it would be a bad surprise for user to see too late that its clipboard (and not "paperclip" 🤦‍♂️) has been overwritten.

Maybe we will have to update documentation to inform user that this is the default behavior when using default / device code auth?

[2021-04-04 08:47] garrytrinder commented on #2321
I see the concern about overwriting the clipboard, so maybe we could add a prompt instead after we display the auth code.

[code]

I see that the above would be the default behaviour of the login command, but whether the copy functionality is used will be controlled by the config setting.

I see three behaviours based on the above config setting

- If unset, we prompt to ask if the user wants to c

[2021-04-05 00:04] Adam-it opened #2328 "New sample script: SPO simple site setup script"
### Hi👋

### Idea 💡
I was thinking of a sample script that creates a site with some generic list or/and document library, adding some columns, modifying some navigation etc. Usually for provisioning I suppose the best is always to go with [PnP provisioning](https://docs.microsoft.com/en-us/sharepoint/dev/solution-guidance/introducing-the-pnp-provisioning-engine) 😉 but sometimes, somewhere, someone

[2021-04-05 03:55] arjunumenon commented on #2321
That is a great suggestion @garrytrinder . This seems to cover almost all possibilities of unexpected surprises.
Yay for that.. 🙌

[2021-04-05 10:07] waldekmastykarz commented on #2328
Great idea! Let's do it!

[2021-04-05 10:08] waldekmastykarz commented on #2328
If you're missing a specific command, feel free to create an issue. We'll spec it out together and try to implement it asap to get you unblocked.

[2021-04-05 10:21] waldekmastykarz commented on #2316
Looking at what's possible, there are a few things we need to consider:

- `id` and `appId` are generated when the app is created and not something you can specify yourself. Since we're creating the app, I'd propose to remove them from the manifest if specified
- the `publisherDomain` property is tied to the AAD where the app has been created. Since this feature could be used to create the app bas

[2021-04-05 13:27] waldekmastykarz commented on #2292
Here is the list of commands that need adjusting:

- [ ] spo group list
- [ ] spo user list
- [ ] spo web list
- [ ] tenant service list
- [ ] tenant service message list
- [ ] tenant status list

[2021-04-05 16:09] Adam-it commented on #2328
ok PR opened 👍 ... I hope it was/is what you expected 😉.
Anyway while creating it I had one problem and noticed some small mistakes/improvements which could be good for separate issues (I think I could even take them if possible 🤔)

#### 🐞 problem I had
 I ma having some strange issue when adding a site column to an existing content type 🤔. The error is
[code]
It seems I ma doing everything as spe

[2021-04-05 17:06] waldekmastykarz commented on #2055
If I'm not mistaken, these are the commands and options that require adjustment:

- [ ] outlook mail send:bodyContentsFilePath
- [ ] spo theme set:filePath (also introduce a new property named `theme` that holds theme contents)
- [ ] teams team add:templatePath (also introduce a new property named `template` that holds template contents)

[2021-04-05 17:09] waldekmastykarz commented on #2328
Awesome! Like I mentioned in the PR, let's create separate issue for each finding. That would help us to process them and fix if need be. Thanks again!

[2021-04-05 17:20] michaelmaillot commented on #2321
Great suggestion @garrytrinder, love that!

So the idea is to keep the config option, so that it will be used as default behavior for the `login` command, completed with the prompt option if not set, right?

About the user prompt, did you have any idea how to implement it? I was thinking about using [yesno](https://www.npmjs.com/package/yesno) package. What do you think?

[2021-04-05 17:53] Adam-it opened #2332 "Bug report: spo list set spec small error in example description"
#### 🐞 Bug description
In the [spec spo list set 📑](https://pnp.github.io/cli-microsoft365/cmd/spo/list/list-set/)  we have an example that shows how to enable content types for list
![image](https://user-images.githubusercontent.com/58668583/113606250-0aec4480-9648-11eb-8593-99a3872e05f2.png)

The example shows the property `allowContentTypes` but it should be `contentTypesEnabled` 🤔 so the examp

[2021-04-05 18:09] Adam-it opened #2333 "command: spo contenttype add improvement"
#### 💡 Idea
I have small idea for an improvement for the `m365 spo contenttype add` command. I was thinking that similar to other 'add' like commands it could also return the added/created object 🤔 so if we would do
[code]
we will notice that the `$field` and the `$list` are objects (string arrays, or json depending what is the output of the command we set), but the $ct is emtpy and we need to run

[2021-04-05 18:13] Adam-it opened #2334 "command: spo site set could have a description option as well"
#### 💡 Idea for an improvement
I was thinking that the `spo site add` (https://pnp.github.io/cli-microsoft365/cmd/spo/site/site-add/) seems to have a --description setting but the `spo site set` doesn't have(https://pnp.github.io/cli-microsoft365/cmd/spo/site/site-set/). Seems strange 🤔. I think it would be nice that the `add` and `set` commands could have similar options. So that if some site is

[2021-04-05 18:19] Adam-it opened #2335 "command: spo contenttype get --contenttypeTitle option"
#### 💡 Idea for an improvement
I was using the spo contenttype get (https://pnp.github.io/cli-microsoft365/cmd/spo/contenttype/contenttype-get/) and I was thinking like: 'it would be great if could get a content type by it's name similar like in the [field get](https://pnp.github.io/cli-microsoft365/cmd/spo/field/field-get/) and in the [list get](https://pnp.github.io/cli-microsoft365/cmd/spo/list

[2021-04-05 18:28] Adam-it commented on #2328
ok all added as separate issues 👍. I hope I added them properly 🤔... sorry in advance if I didn't fallow some of the standards 😉 I will try to improve 😋.
I didn't want to be the person that just adds issues and waits 😋 so if there are no volunteers I could try to do them all (but please consider that I could be not the fastest person for the task 😉).
And what about the problem I had with adding th

[2021-04-06 06:59] appieschot commented on #1490
@waldekmastykarz minor bump, if it turns out it's not easy to get the aka.ms links I can resort to using the original urls as well.

[2021-04-06 07:18] waldekmastykarz commented on #2321
@garrytrinder right now we don't offer a way to unset a setting in the config so to revert it, folks would need to manually hack the settings file which isn't a great experience. What if the third (default) value was `prompt` instead?

@michaelmaillot for prompting we're using inquirer. We have a global method that you can use: https://github.com/pnp/cli-microsoft365/blob/440c79ff11c1ccb698fda578b

[2021-04-06 07:22] waldekmastykarz commented on #2332
Good catch! Appreciate your help and all yours 👏

[2021-04-06 07:25] waldekmastykarz commented on #2333
So far, we've been aligning with the API which is most likely why the `spo contenttype add` command doesn't return any output. If returning the newly added content type would simplify things, then we should definitely consider adding it. Since the command is not returning any output at the moment, it wouldn't be a breaking change.

Anything else we should consider before we pick it up @pnp/cli-for

[2021-04-06 07:26] waldekmastykarz commented on #2334
I think it would be a great idea! Something's telling me that updating the description is not exposed in the API which is why we haven't included it in the `spo site set` command, but if it's there, it would definitely be great to have it! It would be awesome if you could have a look at it 👏

[2021-04-06 07:28] waldekmastykarz commented on #2335
Great suggestion! When we introduce this feature, let's make the `id` option optional and let users specify either the `id` or the `title` but not both. All yours!

[2021-04-06 07:30] waldekmastykarz commented on #2328
You've done a great job 👏 Let's create a separate issue for the problem with adding field to content type as we should definitely look at it and having it separate will help us ensure that we won't lose track of it. Appreciate your help! 👏

[2021-04-06 07:33] waldekmastykarz commented on #1490
Sorry. Here are the links:

- https://aka.ms/cli-m365/bug
- https://aka.ms/cli-m365/new-command
- https://aka.ms/cli-m365/new-sample-script

[2021-04-06 09:53] waldekmastykarz opened #2336 "Enhancement: Add tracking the usage of help in the telemetry"
We should add tracking the usage of in-line help in the telemetry so that we can better understand if help in the CLI is being used or if people prefer using online docs instead.

When measuring help usage, we should exclude automatically showing help on command failure and only include explicit help request through `help command name` or `-h`

[2021-04-06 13:44] Adam-it commented on #2328
sure... will try to add this today in the afternoon 😉

[2021-04-06 18:15] waldekmastykarz commented on #1819
I started fiddling with eslint and I made some progress. One thing that I realized is that we need to adjust our original assumption because the constant name that we use for command name, doesn't include service name, eg. `spo site list` has a constant `SITE_LIST` without `SPO` in the front. The only place from which we can derive the service name while analyzing code is the file path. But if we'

[2021-04-06 19:00] Adam-it opened #2337 "Bug report: m365 spo contenttype field set strange issue when adding field to content type"
#### 🐞 problem description
 I am having some strange issue when adding a site column to an existing content type 🤔. The error is
[code]
It seems I ma doing everything as specified 🤔.. but probably I am doing something wrong 😉. Any tip is more than welcome 👍
In order to reproduce the problem we may execute the fallowing
[code]

Please let me know if what I did is somehow wrong 🤔 or if I may somehow

[2021-04-06 19:01] Adam-it commented on #2328
added #2337

[2021-04-07 06:20] waldekmastykarz commented on #2337
Thanks for reporting @Adam-it! We'll review it asap

[2021-04-07 06:53] appieschot commented on #1819
Agree with using the file path to validate the class name, and it makes sense to have two rules as far as I think off.

[2021-04-07 12:13] #2313 closed

[2021-04-07 12:13] #2325 closed

[2021-04-07 12:31] waldekmastykarz commented on #2337
This error is reported by the SharePoint API. My gut feeling tells me, there is something off with the Field XML. Have you tried doing the same with CSOM or PnP PowerShell to verify that the Field XML works?

[2021-04-07 18:08] Adam-it commented on #2337
good idea... will check with standard CSOM from Powershell

[2021-04-07 18:39] waldekmastykarz commented on #1819
So I got the first rule to work, but I'm not quite happy about the results, take a look at a few examples:

Actual command class name|Expected command class name
----------------------------|--------------------------------|
AadAppRoleAssignmentAddCommand|AadApproleassignmentAddCommand
AadGroupSettingAddCommand|AadGroupsettingAddCommand
AadO365GroupAddCommand|AadO365groupAddCommand
AdaptiveCardSen

[2021-04-07 18:48] Adam-it commented on #2337
hmmm strange 🤔 I checked  with the fallowing PowerShell using  standard [SharePoint Online Management Shell](https://www.microsoft.com/en-us/download/details.aspx?id=35588) ... I mean ok I got the context using PnP.PowrShell 👍 because it is soooo much easier 😋.. but after that point I used only SPO commands and standard clientContext.load + executeQuery command.... so anyway 😉 long story short Wha

[2021-04-07 19:43] Adam-it commented on #2337
ok I did some small debugging and I totally agree it is for sure an xml format issue 👍... sorry, I could have checked it earilier... (strange in PS SPO it worked without any problem 🙄) but yes the response of 'Updating field schema... ' step is
![image](https://user-images.githubusercontent.com/58668583/113923811-48d49e80-97e9-11eb-9e89-ea9d3bb2d1d2.png)
.... soooo I did some small changes in the

[2021-04-07 19:43] #2337 closed

[2021-04-07 20:03] garrytrinder commented on #2321
Apologies I think I may have confused things by mixing a few concepts... let me try to clarify...

Currently when you use `m365 login` you have to open the browser and manually copy the device code, however when the `autoOpenBrowserOnLogin` config option is merged, the browser will be automatically opened, but no prompt given to the user.

I am proposing that we update the device code login flow s

[2021-04-07 20:41] garrytrinder commented on #1819
I would agree with that as well, the listing rules should apply best practice and improve readability to make it easier to work with the codebase not make it worse.

Sounds like a lot of effort for minimal value IMO, whilst automating standards is useful we should consider the effort to automate the rule vs the effort to manually enforce it.

I'm not sure what the answer is, but maybe we should co

[2021-04-07 22:48] garrytrinder opened #2339 "New sample script: Cleanup completed Microsoft To Do tasks"
|Docs||
|-----|----|
|Author| Garry Trinder |
|Original Post| https://garrytrinder.github.io/2021/04/cleanup-completed-microsoft-to-do-tasks-using-cli-for-microsoft365 |
|Description| Microsoft To Do is my task management tool of choice, I use it for tracking everything I do, which means I generate and complete a lot of tasks during a working week. So why have I written a script to delete complete

[2021-04-07 23:27] garrytrinder opened #2341 "Bug report: Mkdocs Tabs not rendering in Remote Development Container"
When using the Remote Development Container to build the docs, the tabs don't render correctly.

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/11563347/113946802-29e20680-9801-11eb-9f65-cf24ca02e43f.png">

[2021-04-08 05:43] waldekmastykarz commented on #2341
Good catch!

[2021-04-08 06:33] waldekmastykarz commented on #2337
All good! Appreciate you looking into it. It's often small things like these that trip you. Great to hear it's working! 👏

[2021-04-08 09:25] waldekmastykarz commented on #2321
I'm on the fence about it. On one hand I like the idea, because it makes the flow more user-friendly. On the other hand, it's a breaking change, because even if you complete the auth in the browser, but don't go through the prompts, it will keep waiting on your response even though auth has already finished. So that could confuse our existing users who are used to a different behavior. Also openin

[2021-04-08 09:28] waldekmastykarz commented on #1819
It's not a lot of effort, but there is some effort involved, definitely. What I like about it is that it eliminates human error and allows our contributors to spot and fix these errors themselves. Especially if we offer fix suggestions, they can immediately get the right value in, even before submitting the PR.

[2021-04-08 09:43] garrytrinder commented on #2321
Thanks for the feedback @waldekmastykarz all fair comments.

Damn, I hadn't considered that as an issue 🤦‍♂️ We could check if there is a docker environment variable present and default to the standard message only in that scenario.

Damn, yes it is possible that you can take a 'shortcut' to login without going through the prompts. I would hope that in most cases users would just hit <enter>, <ent

[2021-04-08 09:47] waldekmastykarz commented on #2321
What if we approached like this:
- for now, we'll do it silently, allowing folks to configure CLI to auto-copy the code to clipboard. That's an explicit opt-in so that we don't replace users' clipboards by default
- in parallel, we start a discussion about how we could improve the experience taking the different scenarios and constraints into account

Would that work?

[2021-04-08 11:48] michaelmaillot commented on #2321
Really interesting thoughts to read guys😄

I agree with that first approach @waldekmastykarz!

So we keep the idea of having two CLI config settings:
* `autoOpenBrowserOnLogin`
* `copyDeviceCodeToClipboard` (if so, I'll update the above specs)

And we would keep the same default behavior when using the `m365 login`.

Is that correct?

[2021-04-08 13:19] waldekmastykarz commented on #2321
Correct from my part. Let's wait for @garrytrinder to give his opinion on this.

[2021-04-08 14:54] Ralmenar opened #2342 "Bug report: 'm365 spo serviceprincipal set' command throws 'access token missing or malformed'"
### Description
When using the command 'm365 spo serviceprincipal set' in order to enable the app and service principal that manages SPFx stuff (SharePoint Online Client Extensibility Web Application Principal), I'm getting 'access token missing or malformed' message.

### Steps to reproduce
Login into m365 CLI with an app permissions.
![Image 3](https://user-images.githubusercontent.com/38034925/

[2021-04-08 18:24] waldekmastykarz commented on #1819
Ok folks, I've got something we can discuss. Check this out:

https://github.com/waldekmastykarz/cli-microsoft365/blob/eslint-rule-commandclassname/eslint-rules/lib/rules/correct-command-class-name.js defines the custom eslint rule that checks if the command class name matches the file path. The rule is embedded in the project so that we don't need to worry about managing a separate package on npm

[2021-04-08 18:25] waldekmastykarz commented on #2342
Thanks for reporting the issue. Could you use the same access token and try to call the underlying SharePoint API directly? Since you've already reproduced the issue in PowerShell, I suspect that it's an API limitation that we can't do anything about unfortunately. Calling the API directly would confirm this.

[2021-04-08 18:41] waldekmastykarz opened #2343 "New command: get configuration setting"
### Usage

`cli config get [options]`

### Description

Retrieves CLI configuration option

### Options

`-k, --key <key>`
: Config key to retrieve

### Additional Information

With this command users can retrieve the current configuration setting of the specified config option. It would also be helpful in scripts where you would temporarily switch the configuration option and restore it at the en

[2021-04-08 18:44] waldekmastykarz opened #2344 "New command: reset CLI configuration setting"
### Usage

`cli config reset [options]`

### Description

Resets the specified CLI configuration option to its default value

### Options

`-k, --key [key]`
: Config key to reset. If not specified, will reset all configuration settings to default

### Additional Information

Resetting the value would be ideally done by removing the setting from the config store. Let's see if that possible. Alterna

[2021-04-08 21:33] Adam-it commented on #2334
ok so I checked 🔍  this topic a bit and

...when creating the site the `/_api/SPSiteManager/Create` is used which accepts the description as one of the request params. [link to create modern site method used](https://docs.microsoft.com/en-us/sharepoint/dev/apis/site-creation-rest#create-a-modern-site).

...when updating the site (if it is not a GroupifiedSite) the cli uses standard `/_vti_bin/clie

[2021-04-08 21:38] Adam-it commented on #2302
I like this idea 👍
I think the methods that will be used in some foreach loop kind of script will be [spo file add](https://pnp.github.io/cli-microsoft365/cmd/spo/file/file-add/) and [spo folder add](https://pnp.github.io/cli-microsoft365/cmd/spo/folder/folder-add/) 🤔.
Could I get assigned to this if there are no other volunteers and try 👨‍💻?

[2021-04-09 03:57] plamber commented on #2302
Hi @Adam-it,
thank you for coming back to us. I just assigned you to this issue.

Let us know if you have some further questions.

br,
Patrick

[2021-04-09 06:47] Ralmenar commented on #2342
Not sure what endpoint to call but if this helps, here is the dump generated when using the command with 'debug' option enabled. It seems like some of the steps are ok but it fails at the end with Microsoft.Azure.ActiveDirectory.GraphClient.AuthenticationException. (Removed tokens for privacy)

[code]

Let me know if you need something else or anything I can help with.

[2021-04-09 07:29] waldekmastykarz commented on #2334
If you could have a look if there is a way to update the description beyond the request that we're using now, that would be very helpful! Even if it requires a separate request, it would be perfectly fine and we could execute it conditionally to ensure the best performance.

[2021-04-09 08:43] waldekmastykarz commented on #2342
Looking at the request, I'm not seeing anything extraordinary. I'm pretty sure it's an API limitation. To get a final confirmation you could post the issue at https://github.com/SharePoint/sp-dev-docs/issues where it will be triaged to the SharePoint product group. Still, it's nothing we can do something about ourselves.

[2021-04-09 08:43] #2342 closed

[2021-04-09 17:36] #2332 closed

[2021-04-09 17:36] #2339 closed

[2021-04-09 17:42] garrytrinder commented on #1819
I think we should implement the list, I can't think of another way and it will help catch most of the issues before they reach us so it's worth doing in that sense.

Ship it 🚀

[2021-04-09 18:42] waldekmastykarz commented on #1819
I've also added a rule that checks the command's const name. Turns out, we have quite a few inconsistencies in there too ☺️

[2021-04-09 19:01] garrytrinder commented on #2321
Happy to go with the approach you've suggested @michaelmaillot 👍🏻

[2021-04-09 20:25] garrytrinder opened #2345 "New sample script: Export of Microsoft Teams owned by a specific user"
|Docs||
|-----|----|
|Author| Inspired by Alan Eardley |
|Original Post| https://blog.eardley.org.uk/2021/04/managing-teams-movers-and-leavers/ |
|Description| Creates a CSV file containing a list of all of the Teams that a user is a member or owner of.  |
|Keywords| `Microsoft Teams` |

[2021-04-09 20:27] garrytrinder opened #2346 "New sample script: Replace a Microsoft Teams owner with another user"
|Docs||
|-----|----|
|Author| Inspired by Alan Eardley |
|Original Post| https://blog.eardley.org.uk/2021/04/managing-teams-movers-and-leavers/ |
|Description| Reads a CSV file with a list of Teams. For each Team add a new owner and remove the user from the owner role.  |
|Keywords| `Microsoft Teams` |

[2021-04-09 20:29] garrytrinder opened #2347 "New sample script: Remove multiple users from the membership of a Microsoft Team"
|Docs||
|-----|----|
|Author| Inspired by Alan Eardley |
|Original Post| https://blog.eardley.org.uk/2021/04/managing-teams-movers-and-leavers/ |
|Description| Reads a CSV file with a list of Teams and removes a user from the membership of each Team.  |
|Keywords| `Microsoft Teams` |

[2021-04-09 20:36] garrytrinder opened #2348 "New sample script: Replace the owner of multiple Microsoft Teams with new owners"
|Docs||
|-----|----|
|Author| Inspired by Alan Eardley |
|Original Post| https://blog.eardley.org.uk/2021/04/managing-teams-movers-and-leavers/ |
|Description| Find all the Teams that a user is an Owner of and replace them with someone else useful for when an employee leaves and ownership needs to be updated |
|Keywords| `Microsoft Teams` |

[2021-04-09 21:01] garrytrinder opened #2349 "New sample script: Copy files to another SharePoint Library in another site"
|Docs||
|-----|----|
|Author| Inspired by Veronique Lengelle |
|Original Post| https://veronicageek.com/microsoft-365/sharepoint-online/copy-or-move-files-not-folders-to-another-sharepoint-library-or-site-using-powershell-pnp/2021/04/ |
|Description| In today’s post, we’ll have a look at something that could potentially be your mini “re-organisation / migration” project. We’ll see how to copy or m

[2021-04-09 22:10] sprider commented on #2254
@waldekmastykarz,
Quick question - Do we need to make orderhint as mandatory input?

[2021-04-10 12:08] waldekmastykarz commented on #2254
@sprider if it's possible to create a bucket without it, then it should stay optional. If the API requires it, then we need to make it required.

[2021-04-10 13:25] waldekmastykarz commented on #2316
So something that appeared trivial on the outside, seems more complicated on the inside. It turns out that the AAD portal, which you'd use to get your app's manifest, uses AAD Graph v2.0. That API version however, is only available for the AAD app used by the Azure Portal. If you use an API token from a different app, the request fails with an API version mismatch. If you fallback to v1.6 or use M

[2021-04-10 16:07] Adam-it commented on #2328
the related bug was resolved.. the related RP #2353 I think is ready to be merged 🤔

[2021-04-10 16:08] Adam-it commented on #2334
ok sure... will look into it more and will try to do my best 😉

[2021-04-10 16:26] Adam-it commented on #2349
So like: "go over all folders/subfolders in a library and copy all files found in them to some different library in a different site"🤔
I think mainly used method would be: https://pnp.github.io/cli-microsoft365/cmd/spo/file/file-copy/
or if we want to keep the same folder structure all could be done with: https://pnp.github.io/cli-microsoft365/cmd/spo/folder/folder-copy/
depending on what is actua

[2021-04-10 17:13] jpda commented on #2316
AAD Graph is deprecated next summer so probably best to snap to 2.0

[2021-04-10 17:57] #1819 closed

[2021-04-10 17:57] #2288 closed

[2021-04-10 17:57] #2327 closed

[2021-04-10 17:57] #2328 closed

[2021-04-10 17:57] #2341 closed

[2021-04-10 18:03] waldekmastykarz commented on #2349
All yours! Let's see what's the easiest way to build this script is 👍

[2021-04-10 18:04] waldekmastykarz commented on #2316
Any idea if the Azure Portal will switch to using Microsoft Graph as well? It would be awesome if we could create the app using exactly the same manifest that users grabbed from the portal.

[2021-04-10 18:21] waldekmastykarz opened #2354 "Enhancement: add support for upgrading SPFx projects to beta versions of SharePoint Framework"
Recently [Microsoft announced](https://twitter.com/vesajuvonen/status/1379864072334807040?s=20) that SPFx will have public preview versions. To help developers tests their projects using these preview versions, we should consider adding support for upgrading SPFx projects to preview versions.

I propose that we implement it as follows:

- we use the preview version as the last version in the chain

[2021-04-10 21:59] andrei-markeev commented on #2316
I don't know if there are any use cases for AD apps to use them without having the app id, but all use cases that I know of, need it. Like OAuth sign in, etc.

So what's the point of adding manifest feature if we cannot get the appId with this approach and have to resort to API anyways?

[2021-04-11 07:45] waldekmastykarz commented on #2316
@andrei-markeev sorry but I don't quite understand your point. We're discussing the ability of creating new AAD apps. While creating the app, you can specify the ID yourself but one is generated for you by AAD. Once the app is created, CLI shows you the ID of the created app. Using the manifest to provide app information doesn't change anything in that regard.

[2021-04-11 08:49] garrytrinder commented on #2354
Adding @YannickRe feedback from Twitter

Source: https://twitter.com/yannickreekmans/status/1380952633331044359?s=21

I agree also 😁

[2021-04-11 09:27] garrytrinder commented on #2333
If the underlying API call returns the new content type object then yes we should definitely return it as there is no overhead in doing so.

If it doesn't, then we need to consider the performance impact of adding another call to return the new object.

[2021-04-11 13:24] waldekmastykarz commented on #2333
That was our original stance indeed. The question is shall we revisit it or do we stand by our original choice and let users choose themselves in favor of performance.

[2021-04-11 15:51] andrei-markeev commented on #2316
@waldekmastykarz does it bind anyhow to ARM templates, or is it a completely separate thing? It has been the main pain point in ARM templates for me - how to get ID of the created app, - that's why I tried to bring it up. If it is not related, then sorry for the confusion.

[2021-04-11 17:15] waldekmastykarz commented on #2316
As far as I know ARM templates don't support creating AAD app registrations at the moment. This is a whole separated thing that's meant to allow developers to create and configure an app registration in the Azure Portal, export its manifest and use it to provision the same app in another directory.

[2021-04-11 17:18] waldekmastykarz commented on #2354
I just thought about one more thing: if you explicitly specify the preview version number in the `--toVersion` option, we shouldn't require the `--preview` option as you explicitly opted in for upgrading to a preview version. Agreed?

[2021-04-11 18:15] andrei-markeev commented on #2316
Yep, and that's sad, because AAD app registrations are needed quite often. E.g. `authsettings` of a web app, etc. People devised [some workarounds](https://moimhossain.com/2020/04/03/azure-ad-app-via-arm-template-deployment-scripts/), but they're quite ugly, I was hoping that importing manifest thing can actually plug in into the ARM templates and it would allow to streamline the whole process fin

[2021-04-11 22:39] garrytrinder commented on #2354
Agreed.

[2021-04-12 08:37] waldekmastykarz commented on #2333
That's settled then! @Adam-it, would you like to pick it up yourself or let others do it?

[2021-04-12 18:50] Adam-it commented on #2333
sure.. I mean if there is no better candidate 😋. Currently I am working on this setting description via site set (I am more or less half way.. checking if I could do the same for Team site (where description is shared with group)), After I will open that PR I may start working on this issue.... no problem 🤔.

[2021-04-13 06:37] waldekmastykarz opened #2355 "Enhancement: Add support for upgrading SPFx projects to SPFx v1.12.1-rc.0"
Enhancement: Add support for upgrading SPFx projects to SPFx v1.12.1-rc.0

[2021-04-13 07:34] waldekmastykarz commented on #2333
Perfect. Let's do it like this: we keep it open until you're ready in case someone else will want to take a stab at it. If you're ready and this item is still open, it's all yours. Deal? 😎

[2021-04-13 08:24] #2302 closed

[2021-04-13 08:24] #2354 closed

[2021-04-13 08:24] #2355 closed

[2021-04-13 09:45] Adam-it commented on #2333
Deal 👍

[2021-04-13 20:09] Adam-it commented on #2334
ok I tried to develop this. The PR is ready to check 😉

[2021-04-14 06:30] waldekmastykarz opened #2358 "Bug report: incorrect order of scripts to execute when upgrading SPFx projects"
### Description

When upgrading SPFx project from v1.10.0 to latest preview, we show scripts to execute in wrong order, which leads to a broken project.

### Steps to reproduce

`m365 spfx project upgrade --preview -o md > report.md` on an SPFx v1.10.0 react web part project.

### Expected result

[code]

### Actual result

[code]

Notice how uninstall comes after install which means that whatever

[2021-04-14 06:35] waldekmastykarz commented on #2334
Hero! 👏

[2021-04-14 15:19] nanddeepn commented on #2210
Hi @waldekmastykarz
Can I work on this?

[2021-04-14 18:21] waldekmastykarz commented on #2210
Awesome! Please do! Appreciate your help ❤️

[2021-04-15 08:22] #2358 closed

[2021-04-15 20:04] waldekmastykarz opened #2363 "Enhancement: Add support for upgrading SPFx projects to SPFx v1.12.1-rc.1"
Add support for upgrading SPFx projects to SPFx v1.12.1-rc.1

[2021-04-16 06:50] waldekmastykarz commented on #2255
Hey @sprider, do you still want to take a shot at updating the spec for this command?

[2021-04-16 06:53] #2279 closed

[2021-04-16 06:53] #2316 closed

[2021-04-16 06:53] #2336 closed

[2021-04-16 06:53] #2363 closed

[2021-04-16 06:56] waldekmastykarz commented on #2227
Hey @appieschot, are you still working on this?

[2021-04-16 06:56] waldekmastykarz commented on #2293
Hey @appieschot, are you still working on this?

[2021-04-16 06:58] waldekmastykarz commented on #2285
Hey @plamber @veronicageek, is there still anything blocking writing this script that we could address now, other than the JSON error that we identified and which we planned for releasing in v4 as it would be a breaking change?

[2021-04-16 06:58] waldekmastykarz commented on #1690
Hey @dips365, are you still working on this?

[2021-04-16 06:59] waldekmastykarz commented on #2033
Resetting as available due to lack of response

[2021-04-16 07:00] waldekmastykarz commented on #2021
Hey @leeford, do you need any help with tests?

[2021-04-16 07:00] waldekmastykarz commented on #1763
Hey @sinhakislay, did you have a chance to submit the draft PR of your work?

[2021-04-16 08:27] appieschot commented on #2227
Lets open this one up and let me finish my other open actions first.

[2021-04-16 09:17] veronicageek commented on #2285
@waldekmastykarz - Nothing's blocking for me if the error handling is managed later on 🙂
I'll try submit a PR later today.

[2021-04-16 10:15] waldekmastykarz commented on #2285
Awesome! Thank you @veronicageek 👏

[2021-04-16 12:52] sprider commented on #2255
@waldekmastykarz Sorry for the dealy. Sure, I will update tonight and let us open this for development for community members as i will be busy for next few weeks.

[2021-04-16 12:53] waldekmastykarz commented on #2255
Perfect. I appreciate your help

[2021-04-16 16:50] sprider commented on #2255
@waldekmastykarz, I have updated the spec. Could you please validate and confirm?

[2021-04-16 17:26] waldekmastykarz commented on #2255
Awesome! For the assignments, I'd suggest we use user names or allow both user names and user IDs as it's improbable that users will know user IDs by heart.

[2021-04-16 17:38] waldekmastykarz opened #2367 "New command: generate SPFx package"
Original idea by @wobba

### Usage

`spfx package generate [options]`

### Description

Generates SharePoint Framework solution package with a no-framework web part rendering the specified HTML snippet.

### Options

Option|Description
-------|-----------
`-t, --webPartTitle <webPartTitle>`|Title of the generated web part. Displayed in the web part toolbox
`-d, --webPartDescription <webPartDescrip

[2021-04-16 17:38] waldekmastykarz commented on #2367
@pnp/cli-for-microsoft-365-maintainers I'd appreciate your feedback

[2021-04-16 22:19] sprider commented on #2255
@waldekmastykarz, Sure, I have updated the spec. Please confirm.

[2021-04-17 03:25] plamber commented on #2348
I will take this up

[2021-04-17 05:03] plamber opened #2368 "Bug report: m365 aad o365group user remove does not remove a user if it is part of the owners and members group"
### Description
I can be part of the members and owners in a Microsoft 365 Group at the same time. The m365 aad o365group user remove only removes the owner if I am a member and owner at the same time.

### Steps to reproduce
- Create a Microsoft 365 Group
- Add a user to the members and owners of that Group
- Execute the m365 aad o365group user remove for that user
- The user is only removed from

[2021-04-17 05:06] plamber commented on #2368
Closing the issue since this was a pure timing problem. After 1-2 minutes the membership was updated correctly.

[2021-04-17 05:20] plamber commented on #2368
After investigating a little bit I found the issue lies in this logic:
https://github.com/pnp/cli-microsoft365/blob/ead66ba17873688fbd5b8aaea53faedad2b8b6db/src/m365/aad/commands/o365group/o365group-user-remove.ts#L59-L84

It queries the owners list and assumes that a user is either in the owner or members list but not both.

This logic will fail for Microsoft 365 Groups and Teams. For example, wh

[2021-04-17 06:19] leeford commented on #2021
Hey @waldekmastykarz, that would be great. It was around testing catching an error, I think. I'll push to branch and we can take a look 😃

[2021-04-17 09:57] waldekmastykarz commented on #2021
Awesome! Let's do that 👍

[2021-04-17 11:28] wobba commented on #2367
Does it support script (tags), css etc?

[2021-04-17 11:29] wobba commented on #2367
Should we have switches to isolate css, allow/disallow scripts?

[2021-04-17 17:17] waldekmastykarz commented on #2367
Since the web part embeds the predefined HTML snippet and doesn't allow users to change it after adding the web part on the page, I don't think we need the _requires custom script_ flag.

As for CSS, would you see users specify a separate link tag that would be added to the head section of the page or could they include it along with the HTML snippet and it would be added to the body?

[2021-04-17 17:34] #2285 closed

[2021-04-17 18:02] waldekmastykarz opened #2369 "New command: enable SPFx package for deployment in Teams"
### Usage

`spfx package teams enable`

### Description

Checks if the SPFx package is enabled for deployment in Teams. Optionally, changes the package to enable it for deployment in Teams

### Options

Option|Description
-------|-----------
`-f, --filePath <filePath>`|Absolute or relative path to the .sppkg file to analyze
`--fix`|Specify, to update all web parts in the package to be exposed in T

[2021-04-17 18:03] waldekmastykarz commented on #2369
Hey @pnp/cli-for-microsoft-365-maintainers, what do you think?

[2021-04-17 20:42] Adam-it commented on #2349
ok added a PR for that. In the sample I made it possible to set a param based on which we either copy all files, folders and subfolders (that way keeping the same folder structure) or copy all files from all folders to the root folder in the target library which may be on a different site.
I hope this is what you had in mind 🤔?
The sample shows how `spo files copy/list` and `spo folders copy/list`

[2021-04-17 23:26] Adam-it commented on #2335
ok PR ready to be checked 👍, also added the validation you proposed to check if either id or title but not both 🤔

[2021-04-17 23:32] Adam-it commented on #2333
ok I had 3 issues assigned and I opened a PR for each of them (with one I have a bit of a test issue kind of problem 😅, but thats a different story I guess).
So more or less if the deal is still on the table 🤔, maybe I could give it a try 😉?

[2021-04-18 05:12] plamber opened #2372 "New sample script: Replace the memberships of a user in Microsoft 365 Groups"
|Docs||
|-----|----|
|Author| Inspired by Alan Eardley |
|Original Post| https://blog.eardley.org.uk/2021/04/managing-teams-movers-and-leavers/ |
|Description| Scan a list of Microsoft 365 Groups and replace the membership of a user with a different one |
|Keywords| `Microsoft Teams` |

[2021-04-18 05:38] plamber opened #2374 "Bug report: m365 aad o365group user list --groupId returns the wrong membership information if a user is member and owner"
### Description
When using the `m365 aad o365group user list --groupId` you are receiving a misleading list of memberships when dealing with the Microsoft 365 Group if a user is in the members and owners list.

When interacting with Teams an owner is part of the owners and members list at the same time while a member is just part of the memberslist. Calling the alias of m365 aad o365group in the c

[2021-04-18 08:41] veronicageek commented on #2223
@waldekmastykarz - I'm happy to take that one.

[2021-04-18 09:52] wobba commented on #2367
In many ways I think I envision wrapping the scripted wp - but at the same time adding options for isolation as we have in the markup for the search wp do make sense. The isolation spectrum is a scale sort of.

[2021-04-18 17:52] waldekmastykarz commented on #2349
Awesome! We'll review it asap. Thank you! 👏

[2021-04-18 17:54] waldekmastykarz commented on #2333
Awesome! All yours! Appreciate your help 👍

[2021-04-18 17:57] waldekmastykarz commented on #2374
It's odd that there is such a discrepancy between the two services given that Teams use O365 groups behind the scenes. Either way, we should follow your suggestion and implement a separate logic for O365 groups that's consistent with the UI/API.

[2021-04-18 17:57] waldekmastykarz commented on #2223
Awesome! Thank you! 👏

[2021-04-18 17:59] waldekmastykarz commented on #2367
Ah, so you mean to introduce a flag that allows producing an isolated web part?

[2021-04-18 18:10] Adam-it commented on #2333
cool 😊, will try to do my best I guess 🤔

[2021-04-18 19:06] wobba commented on #2367
That's an option...was more thinking css santization for onpage embedding. But multiple options to look at for sure.

[2021-04-18 19:18] veronicageek opened #2376 "Enhancement: Add a --recursive or --all parameter to get files in nested folders"
### Usage
Get nested files in (maybe also nested) folders.

### Description
I'm using `m365 spo file list --webUrl $SiteUrl --folder $folder.ServerRelativeUrl` to get all the files in a folder (at the root of the library, for example `/docLib/Folder1/TestDoc.docx`), and that works fine.

However, it would be nice to have a `--recursive` or `--all` parameter when we want other nested **files** (i.e

[2021-04-19 01:48] rabwill commented on #2283
Picking this one up @pnp/cli-for-microsoft-365-maintainers :)

[2021-04-19 03:07] plamber commented on #2374
@waldekmastykarz:

You must be a member of the members Group if you want to seamlessly collaborate in Teams with different apps. Therefore, whenever you are being added as owner in Teams, you are automatically added to the members Group.

This requirement does not exist for "normal" Microsoft 365 Groups

[2021-04-19 07:27] waldekmastykarz commented on #2367
How would you see us do CSS isolation?

[2021-04-19 07:30] waldekmastykarz commented on #2376
Great suggestion! Would you like to try and implement it? Totally fine if you prefer to leave it up to others 🙂

[2021-04-19 07:32] waldekmastykarz commented on #2376
As for the name of the option, we have `--all` in the `teams app list` command and `--allResults` in spo search. Not quite sure which one would be more intuitive `--all` or `--recursive`. `--all` sounds more like otherwise there is a filter. `--recursive` is on the other hand pretty technical and you might be lost if you don't know what recursion is.

[2021-04-19 08:46] veronicageek commented on #2376
@waldekmastykarz

Oh my... I wouldn't go that far 😅
I'll leave that to the professionals!

[2021-04-19 10:22] wobba commented on #2367
@waldekmastykarz For modern search we add a random container ID at the top, and merge whatever CSS you have in your below that parent. This ensures you cannot influence CSS upwards/outside from your markup.

[2021-04-19 12:59] waldekmastykarz commented on #2376
But you are a pro! 😁 Appreciate your help still. Thank you 🙂

[2021-04-19 13:01] waldekmastykarz commented on #2367
Since we're not using .scss, wouldn't that mean though, that we need to update all CSS selectors to the web part div/parent container? Also, if you'd include a `link` element in the HTML snippet to embed, wouldn't that allow you to circumvent our escaping technique anyway?

[2021-04-19 13:31] wobba commented on #2367
Good point, and it's input to what we could add. But for the first version let's do KISS :)

[2021-04-19 15:28] veronicageek commented on #2220
I don't see `spo user add` in the documentation for this one? 🧐

[2021-04-19 15:30] veronicageek commented on #2222
I don't see `spo user add` in the documentation for this one? (same for #2220)

[2021-04-19 17:07] waldekmastykarz commented on #2367
Like you said, let's start simple, gauge interest and evolve.

[2021-04-19 17:11] waldekmastykarz commented on #2220
Would using `spo site set --owners [owners]` be an option https://pnp.github.io/cli-microsoft365/cmd/spo/site/site-set/#options? Not sure if there is anything non-site in it, but if so, then we might need to fall back to `spo site classic set --owners [owners]` to update just the site: https://pnp.github.io/cli-microsoft365/cmd/spo/site/site-classic-set/#options. If neither of these are suitable,

[2021-04-19 17:11] waldekmastykarz commented on #2222
Check my comment in #2220

[2021-04-19 17:23] veronicageek commented on #2220
Thanks, I'll have a look.
Happy to take this one if you want to assign it to me.

[2021-04-19 17:24] veronicageek commented on #2222
Checked. Happy to take this one too if you want to assign it to me.

[2021-04-19 23:27] rabwill commented on #2283
@pnp/cli-for-microsoft-365-maintainers looks like a command is missing from CLI to do this script. We have to implement  a command similar to PnP PS's `Get-PnPProperty` to get the `HasUniqueRoleAssignments` property from a list item. Unless there is another trick we can use @waldekmastykarz @garrytrinder @plamber @arjunumenon @appieschot

[2021-04-20 05:22] waldekmastykarz commented on #2283
Could we extend the `spo listitem get` command with an extra flag that would allow us to specify a comma-separated list of properties to retrieve?

[2021-04-20 06:29] waldekmastykarz opened #2378 "Enhancement: add support for upgrading SPFx projects to v1.12.1-rc.2"
Add support for upgrading SPFx projects to v1.12.1-rc.2

[2021-04-20 06:38] nanddeepn commented on #2210
Hi @waldekmastykarz ,
A suggestion, permission can be either `read` or `write`. Because, `write` provides the ability to read and modify the metadata and contents of the item.
Reference: [Permission resource type](https://docs.microsoft.com/en-us/graph/api/resources/permission?view=graph-rest-1.0)
Please suggest.

[2021-04-20 07:41] waldekmastykarz commented on #2210
The documentation mentions in fact three roles: `read`, `write` and `sp.full control` https://docs.microsoft.com/en-us/graph/api/resources/permission?view=graph-rest-1.0#roles-property-values. We should follow what's available in the API. Good catch!

[2021-04-20 07:41] waldekmastykarz commented on #2220
Awesome! Appreciate your help! 👏

[2021-04-20 07:42] waldekmastykarz commented on #2222
Excellent! All yours! Appreciate your help 😊

[2021-04-20 07:49] appieschot commented on #2283
Agree with @waldekmastykarz, think that makes the most sense.

[2021-04-20 08:27] #2378 closed

[2021-04-20 16:33] waldekmastykarz commented on #2298
Hey folks, we could introduce this functionality behind an option so that it's not a breaking change. In v3, users could flip the option to enable this setting. In v4 we'd change the default option value which would be the breaking change. The cool thing about this approach is that we can implement all the code already and minimize the amount of work needed to go to v4.

/cc: @plamber

[2021-04-20 22:32] rabwill commented on #2283
Awesome idea @waldekmastykarz , I  will add it as an issue now. Thanks @appieschot :)

[2021-04-20 22:43] rabwill commented on #2283
Awesome idea @waldekmastykarz and @appieschot 😇, so I will create an issue with

`-p, --properties [properties]`
Comma-separated list of properties retrieve. Only retrieved when this option is passed.

[2021-04-20 22:46] rabwill opened #2382 "Enhancement: Extend 'spo listitem get' command to retrieve properties using option --properties"
Extend [spo listitem get](https://pnp.github.io/cli-microsoft365/cmd/spo/listitem/listitem-get/) to add an additional option `-p, --properties [properties]` , comma-separated list of properties retrieve. Only retrieved when this option is passed.

[2021-04-21 11:36] veronicageek commented on #2220
@waldekmastykarz - Looking at this one, I'm wondering if it's really necessary because it's a one-liner with the original command, which is already part of the examples (number 2) in the documentation.

[2021-04-21 11:36] veronicageek commented on #2222
@waldekmastykarz - Looking at this one, I'm wondering if it's really necessary because it's a one-liner with the original command, which is already part of the examples (number 2) in the documentation.

[2021-04-21 15:11] veronicageek commented on #2220
Hi @waldekmastykarz,
After some testing, I'm a little bit torn with this one, because I think it's dangerous.

In the script, the logic would want to list all the sites, then add the user. But there are many sites that will be accounted for with the script, but not visible in the SPO admin center (_i.e.: the Search site collection_). So while we can possibly remove the Search Site Collection from

[2021-04-21 16:24] waldekmastykarz commented on #2222
You're right @veronicageek. Not sure if it's something that's changed since we wrote the spec or if we simply missed it. Good catch. I'll close this issue.

[2021-04-21 16:25] #2222 closed

[2021-04-21 16:28] waldekmastykarz commented on #2220
You're right @veronicageek. Especially when it comes to admin tasks, it's better to err on the safe side. Having a list of sites to include is the way to go.
What do you think about including some instructions about how to build the list of sites, like find sites of specific type or include sites matching a URL pattern?

[2021-04-21 20:14] appieschot commented on #2293
Yes, almost there!

[2021-04-22 06:38] melcloud opened #2384 "New command: allow uploading files using Microsoft Graph"
### Usage

`file add [options]`

### Description

Uploads file to the specified site

### Options

Option | Description
-------|------------
`-u, --folderUrl <folderUrl>`|The URL of the folder where the file should be uploaded to
`-p, --filePath <filePath>`|Local path to the file to upload

### Additional Information

Uses Microsoft Graph to upload the file. Supports uploading files [no matter the

[2021-04-22 11:23] waldekmastykarz commented on #2384
For some commands we use Graph, for other, we use SharePoint APIs as typically they offer more features. This is by design. We can reconsider the implementation when the Graph API reaches feature parity with SharePoint.

What scenario are you working on?

[2021-04-22 11:31] melcloud commented on #2384
File upload. The problem is that client doesn't want to grant app ability to read all sites. They enabled the new sites.selected permission and grant application to access a subset of sites. This works fine with graph API since it got the sites.selected scope. But doesn't work with sharepoint online API. Which returns 401 when trying to upload files after login

[2021-04-22 12:38] waldekmastykarz commented on #2384
Understood. Thank you for the additional info. To stay backwards compatible, I think it would make the most sense for us to introduce a new command for us like `file add` that would use Microsoft Graph to upload files. Would that unblock you?

[2021-04-22 16:38] veronicageek commented on #2220
@waldekmastykarz - I'll see how I can turn this out & feedback 🙂

[2021-04-22 17:15] #906 closed

[2021-04-22 17:22] waldekmastykarz commented on #2298
Let's start with introducing it behind an option in a backwards-compatible manner first and then have a separate issue for changing the default value of this option for v4.

[2021-04-22 17:42] Adam-it commented on #2349
I think we may close this issue as it was completed with #2370  🤔

[2021-04-22 19:46] sinhakislay commented on #1763
Hi @waldekmastykarz  sorry for all the delay!
I became father of our second baby boy on April 6 and I have been on leave since then so could not do anything and weeks before that were also crazy.
I have now submitted a DRAFT PR with the file changes I had done.
Sorry for making this mess for a simple command, I hope  you will ignore this and give a chance again in future when I am ready.
Thanks to

[2021-04-22 20:17] melcloud commented on #2384
Yes, please. We just need file list and upload

[2021-04-22 20:49] garrytrinder commented on #2367
I like the spec, however I'm curious about the `--enableTeams` option what will this do? Is it adding `TeamsTab` or `TeamsPersonalApp` to the `supportedHosts` array in the web part manifest?

[2021-04-22 22:40] Adam-it commented on #2333
ok I have some result 😉.
I created a draft PR #2386 and before I finish it (I need to amend the unit tests to make it ready) I would like to confirm the approach with you 🤔.
What I changed is, now in the result of `spo contenttype add` command I just execute the `spo contenttype get` command to return the newly added content type. Do you think it's fine? 🤔 I didn't want to reinvent the wheel since

[2021-04-23 04:39] dips365 commented on #1690
@waldekmastykarz
I am working on it.
I am not able to figure out below error. I tried to add user from Power automate with the same end point and body and it is working.

`Error: An unexpected 'EndOfInput' node was found when reading from the JSON reader. A 'StartObject' node was expected.`

[user-add.zip](https://github.com/pnp/cli-microsoft365/files/6362767/user-add.zip)

[2021-04-23 06:29] wobba commented on #2367
@garrytrinder could be either one or both, so maybe some enum option.

[2021-04-23 06:40] waldekmastykarz opened #2387 "Enhancement: Add support for upgrading SPFx projects to v1.12.1-rc.3"
Enhancement: Add support for upgrading SPFx projects to v1.12.1-rc.3

[2021-04-23 09:37] waldekmastykarz commented on #2367
Originally I thought about a simple switch to do both, like you mentioned @garrytrinder. Not sure if it's necessary for us to let users choose or if we simply offer them an easy way out. Whichever you think would be more valuable.

[2021-04-23 10:54] waldekmastykarz commented on #1763
Hey @sinhakislay, first things first: congratulations! I hope all is well with you and your family. Please, don't worry about this command. I appreciate your help and please get back to us whenever you're ready. Enjoy your time! 👏

[2021-04-23 11:57] #2145 closed

[2021-04-23 11:57] #2223 closed

[2021-04-23 11:57] #2335 closed

[2021-04-23 11:57] #2387 closed

[2021-04-23 13:00] appieschot opened #2389 "Enhancement: provide shorthand options for `teams tab get`"
### Description

If you use the `m365 teams channel list` and the `m365 teams tab list` you have short options for the `--teamId` and `--channelId`. If you try to do a `m365 teams tab get` you only have the full options. I suggest adding both short hand options to the `m365 teams tab get` for consistency.

### Steps to reproduce

Execute `m365 teams tab list` and then `m365 teams tab get`

### Exp

[2021-04-23 13:12] appieschot commented on #1763
Hi @sinhakislay thanks for the PR! And more important; congratulations! Feel free to get back once life is a bit calmer for you! And make sure to enjoy some family time!

[2021-04-23 15:57] garrytrinder commented on #2367
I think it's always good to give the user the option and be more explicit.

I agree with @wobba either one or both would be my preferred option.

[2021-04-23 21:50] veronicageek commented on #2220
Hi @waldekmastykarz,
If you're OK with the PR, you may want to change the title of this issue because it's a little different now 🙂
Have a good weekend!

[2021-04-24 06:50] garrytrinder commented on #2374
I'll take a look at this.

[2021-04-24 07:04] garrytrinder commented on #2349
We certainly can @Adam-it , good catch!

When raising PRs, if you add a special keyword into the PR description it will automatically close the issue when the PR is closed after merging. For example, `Closes #1234` in the PR description will link the PR to the issue automatically.
Source: https://docs.github.com/en/github/managing-your-work-on-github/linking-a-pull-request-to-an-issue#linking-a-pu

[2021-04-24 07:04] #2349 closed

[2021-04-24 07:16] garrytrinder commented on #2389
Good catch @appieschot

I don't think I would consider this a bug as the command is still usable, we are just missing some consistency in the options, so I think we should consider this an enhancement and mark a good first issue? What do you think?

[2021-04-24 07:18] appieschot commented on #2389
Ah absolutely right; was in a hurry and wanted to log the issue. But agree that it is not a bug 👍

[2021-04-24 07:18] garrytrinder commented on #1763
Congratulations @sinhakislay 🍼🎉

[2021-04-24 12:14] waldekmastykarz commented on #2369
I'm on the fence if this wouldn't complicate the command too much. For this to work, we'd need to offer a way for you to see which web parts are in the solution so that you can select them by their alias. So either the command would need to be interactive, or we'd need to introduce another command that you can use to list web parts in the package.

If we offered this option, wouldn't it be necessa

[2021-04-24 12:19] waldekmastykarz commented on #2384
@melcloud, I've updated the title of this issue to reflect what you'd like us to do. For the first version, would it be sufficient if we supported specifying the location where the file should be uploaded and the file to upload or are there other requirements that you'd need as well?

[2021-04-24 12:20] waldekmastykarz commented on #2333
Sounds good! I'll have a look at it and get back to you asap, ok?

[2021-04-24 12:22] waldekmastykarz commented on #1690
@dips365, could you share the full request that you're issuing including request headers and body?

[2021-04-24 12:25] waldekmastykarz commented on #2367
I've updated the spec to let user specify how the web part should be exposed in Teams

[2021-04-24 12:31] waldekmastykarz commented on #2389
If I'm not mistaken, originally we chose not to implement the short options, because we have three IDs: team ID, channel ID and tab ID and by using `-i` you have no clue which ID you're specifying. That's why we settled on long options which are more verbose but clearer.

[2021-04-24 13:09] appieschot commented on #2389
That makes perfect sense if you look at the command in it self, however if you write it as part of a script (list them all, get a specific one based on that output) it feels weird having the option in one step and not the next.

Perhaps we can start a discussion around it to check if I Am the only one who found it confusing?

[2021-04-24 13:30] appieschot commented on #2369
Agree Let's start with the command version that adds it to both personal for all webparts in package. We can always iterate on that if usage indicates it's worth it.

[2021-04-24 15:21] veronicageek commented on #2224
I can take this one as I have it ready, but I don't seem to get the email sent with the HTML content. I know that `m365 outlook mail send` command is working, so I think I must be missing something else maybe a format issue in `--bodyContents`

I can send the email correctly with PnP:
`Send-PnPMail -To "john.smith@contoso.com" -Body "$($emailBody)" -Subject "Site Collections Storage Report"`

![im

[2021-04-24 17:42] waldekmastykarz commented on #2389
Absolutely! And perhaps it should be a part of a bigger discussion how we should align all Teams commands as I expect we have more inconsistencies that we picked up along the way.

[2021-04-24 17:50] waldekmastykarz commented on #2224
Could you share the whole script? I can't repro it with a simple value. Perhaps there is something odd with the HTML and nested quotes. It's particularly curious that you're not seeing any error. Hopefully we'll know more from the full script. I appreciate your help 👍

[2021-04-24 18:11] Adam-it commented on #2349
@garrytrinder good advice... will start doing it for sure 👍

[2021-04-24 18:54] veronicageek commented on #2224
Here you go:

[code]

[2021-04-24 21:09] Adam-it commented on #2281
so just to confirm 🤔 the sample should use the `spo listitem list` command with pages and `spo listitem remove` to remove each item by id from the list right?
If this is what could/should be done maybe I could try to do it?

[2021-04-24 22:20] melcloud commented on #2384
@waldekmastykarz Yeah, that sounds great. Can we also add file list? As long as I can get the list of file names back, it is good.

[2021-04-25 04:29] plamber commented on #2368
Hi @pnp/cli-for-microsoft-365-maintainers,
what do you think about this? I would keep the command parameters as they are but try to delete the membership of the user in both members and owners at the same time to have a clean state.

Do you have any concerns? I do not see breaking changes since this is a bug.

If you do not have any concerns, I am going to pick this up.

br,
Patrick

[2021-04-25 04:35] plamber commented on #2344
Hi @waldekmastykarz,
I think you might want to make the key an optional value and return all settings. I would find it useful to get an overview what has been changed.

br,
Patrick

[2021-04-25 04:37] plamber commented on #2343
Hi @waldekmastykarz,
I think you might want to make the key an optional value and return all settings. I would find it useful to get an overview what has been changed.

br,
Patrick

[2021-04-25 04:39] plamber commented on #2298
This capability is definitely going to simplify further the output handling when scripting. How do we want to call this flag?

[2021-04-25 04:48] plamber opened #2393 "Should we consider a v4 flag in the cli configuration?"
Hi @pnp/cli-for-microsoft-365-maintainers,
we have some enhancements that are going to break the current capabilities of the CLI.

See #2292, #2298, #2024, #2251, #2309

Instead of introducing more "exception flags" as suggested in #2298 let us introduce one feature flag that we could call "previewFeatures": true

We can then use this flag and manipulate the behavior in our current codebase withou

[2021-04-25 04:49] #2393 closed

[2021-04-25 05:07] plamber opened #2395 "Are the generated tokens encrypted on my device?"
Hello @pnp/cli-for-microsoft-365-maintainers,
the CLI is storing the cli msal and tokens information on my user directory.

![image](https://user-images.githubusercontent.com/18241305/115981468-55504980-a594-11eb-9087-1e96433e2a78.png)

I can open these files and see all values in clear text. I can also find the refresh token in clear text. I can take these files and copy them to another machine.

[2021-04-25 17:10] waldekmastykarz commented on #2395
Unfortunately there is no way to encrypt tokens in any way in a client tool that's open source. Whatever mechanism, we'd implement, anyone could reverse engineer. At some point we used Windows Credential Manager and Keychain to store credentials but since any application can access them, it wouldn't protect the credentials in any way.

[2021-04-25 17:11] waldekmastykarz commented on #2298
I started working on it and named the flag `printErrorsAsPlainText`.

[2021-04-25 17:12] waldekmastykarz commented on #2343
For retrieving multiple values we use `list` commands in the CLI. We could definitely add a `cli config list` command. Good idea.

[2021-04-25 17:13] waldekmastykarz commented on #2344
Good idea!

[2021-04-25 17:15] waldekmastykarz commented on #2368
Correct, it's a bug that we should fix.

[2021-04-25 17:16] waldekmastykarz commented on #2384
Definitely! That would be a separate command. Could you please create a separate issue for it so that we can track the work independently? Thank you!

[2021-04-25 17:20] waldekmastykarz commented on #2281
Not quite. I think the idea of the script is to use SharePoint batching to minimize the number of requests. Unfortunately, right now we don't support batching in CLI, so we'd need to implement it first before we can proceed with this script.

[2021-04-25 17:43] waldekmastykarz commented on #2224
Nested quotes seem to be the problem in combination how Node.js parses console arguments.

One way to work around it I found is to either replace double quotes with single quotes in the `emailBody`:

[code]

or escape double quotes:

[code]

[2021-04-25 18:53] veronicageek commented on #2224
Thanks @waldekmastykarz, worked great! Sorry, my commit was made on the same branch as the other one 😬
Let me know if that's OK for this time or if you want me to create a different branch.

[2021-04-26 03:45] plamber commented on #2395
Hi,
PowerShell for example provides an encryption of passwords using the logged in user's certificate [here](https://www.heelpbook.net/2020/encrypt-and-store-passwords-securely-in-powershell-scripts/). I think this is better than just keeping a plain text lying around.

Windows Credential Manager and Keychain is also better than having clear texts lying around.

What do you think?

br,

[2021-04-26 07:06] waldekmastykarz commented on #2395
How does using either of these capabilities prevent any other app from accessing the credentials?
Azure CLI uses the same approach as we do.

One thing that's different with PowerShell comparing to other shells is that it has the notion of a session, where you could theoretically sign in, store credentials in the session without persisting them on disk, and reuse them across cmdlets. Unfortunately

[2021-04-26 07:06] #2395 closed

[2021-04-26 07:08] waldekmastykarz commented on #2224
Could you please create a separate branch? That will make it easier for us to pull only the new changes. Thank you! 🙂

[2021-04-26 18:27] casvaniersel commented on #2133
Hey guys I'm new and want to contribute! I picked this one from the good first issues list and already talked to @appieschot for some guidance on starting. Not sure how fast I will progress, so feel free to ask for status update.

[2021-04-26 18:34] appieschot commented on #2133
Awesome! There you go, your first assigned issue 🎈, feel free to reach out to any of us if you have any questions!

[2021-04-26 18:36] appieschot commented on #2389
I recon we can go about it two ways; either make it a bigger discussion and try to get out all inconsistencies or getting started small and fix this one ;-). If we decide to go all in, we should update this issue with 'tasks' to check other commands etc. I am happy with bot approaches. Any other @pnp/cli-for-microsoft-365-maintainers that want to chime in?

[2021-04-26 18:57] casvaniersel commented on #2133
Thanks @appieschot! Question: since the only way to remove a Power App is within the Admin scope, can we omit the `--asAdmin` flag?

[2021-04-26 23:09] frankchen76 opened #2398 "Bug report: Got "The host name 'api.bap.microsoft.com' is not allowed for provider 'Microsoft.ProcessSimple'" error when export a Power Automate flow using m365 flow export"
### Description
when use ```m365 flow export --id $flowId --environment $environment --format json``` command, I got the following error message:
[code]
### Steps to reproduce
used the below code:
[code]

### Expected result
the Flow should be exported

### Actual result
got the following error message
[code]

### Environment
Windows 10 with @pnp/cli-microsoft365@3.8.0

[2021-04-27 17:35] waldekmastykarz commented on #2389
I'd say let's start a bigger discussion so that we can change everything that needs changing at once.

[2021-04-27 17:37] waldekmastykarz commented on #2133
Good question @casvaniersel. I think it would make sense given the command wouldn't work without it.

Does that mean btw, that you can't remove your own Power App if you're not an admin?

[2021-04-27 17:38] waldekmastykarz commented on #2398
Thank you for reporting the issue and sorry for the trouble @frankchen76. We'll have a look at it and get back to you asap. My first suspicion is that something has changed in the API, but let's confirm it to be sure and think how we can address it.

[2021-04-27 17:46] waldekmastykarz commented on #2398
I can reproduce the issue in my tenant. Let me see if I can find out more about what's wrong and if we can fix it.

[2021-04-27 18:03] waldekmastykarz commented on #2398
I've found the issue and updated the command to address the change in the API. We have a PR open which we'll try to get merged asap to include it in the upcoming release.

[2021-04-28 07:28] casvaniersel commented on #2133
Hey @waldekmastykarz, it depends on the type of Power App. You can remove your own Canvas App using the UI but not with the API (as far as I can tell). A DELETE request results in a 404, while a GET request results in a 200 with correct data. It's not possible for a user to delete a model-driven app even if you created it, because those are always managed on organisation level and you need elevate

[2021-04-28 09:34] waldekmastykarz commented on #2133
Awesome! Thank you for looking into it 👏

[2021-04-28 12:07] #2348 closed

[2021-04-28 12:07] #2220 closed

[2021-04-28 12:07] #2398 closed

[2021-04-28 12:10] waldekmastykarz commented on #2398
We've just released a preview version with a bugfix for this issue. Please give it a try by installing CLI preview:

[code]

Once again, thank you for reporting the issue 👏

[2021-04-28 17:56] waldekmastykarz opened #2401 "Enhancement: Add support for upgrading SPFx projects to SPFX 1.12.1"
Enhancement: Add support for upgrading SPFx projects to SPFX 1.12.1

[2021-04-28 18:29] waldekmastykarz opened #2404 "Enhancement: update CI to remove Node@10 and add Node@16"
Now that Node@10 is deprecated, we should update our CI/CD config and remove Node@10 from the build. We should also add building on Node@16 which is the current version.

[2021-04-29 00:59] frankchen76 commented on #2398
@waldekmastykarz, thanks you so much for your update. I just tried the "next" version which is @pnp/cli-microsoft365@3.9.0-beta.409b504. it is working. Thanks again.

[2021-04-29 06:54] #2401 closed

[2021-04-29 07:08] waldekmastykarz commented on #2398
Excellent! Thank you for confirming all is working as expected. Have a great day!

[2021-05-01 17:37] waldekmastykarz opened #2409 "Enhancement: extend the `spo site apppermission get` command to show the roles"
We should enhance the `spo site apppermission get` command to show the roles granted to the specific permission. Right now the role is missing which makes it hard to understand what permissions the particular app has granted on the site.

[2021-05-02 09:17] nanddeepn commented on #2409
Hi @waldekmastykarz
Can I work on this?

[2021-05-02 13:33] waldekmastykarz commented on #2409
Please do! Thank you! 👏

[2021-05-03 13:57] sprider commented on #2254
@waldekmastykarz, Sorry for the delay. Last few weeks was hectic. I will try to submit this weekend.

[2021-05-04 07:19] nanddeepn commented on #2409
Hi @waldekmastykarz
We should also extend the `spo site apppermission list` command to show the `roles`.

[2021-05-04 07:52] waldekmastykarz commented on #2254
All good. Life happens. I appreciate your help 👍

[2021-05-04 07:53] waldekmastykarz commented on #2409
Good idea. Could you please create a separate issue for it so that we can track it?

[2021-05-04 08:23] nanddeepn opened #2412 "Enhancement: extend the 'spo site apppermission list' command to show the roles"
We should enhance the `spo site apppermission list` command to show the `roles` granted to the permissions. The discussion orginated from https://github.com/pnp/cli-microsoft365/issues/2409

[2021-05-04 12:16] nanddeepn commented on #2412
Hi @waldekmastykarz
I can work on this.

[2021-05-04 14:34] #2210 closed

[2021-05-04 14:34] #2224 closed

[2021-05-04 14:34] #2298 closed

[2021-05-04 14:34] #2372 closed

[2021-05-04 14:44] plamber commented on #2298
@waldekmastykarz.

After you finished this implementation I would like to update the samples I created with this new capability. Do we have to create an issue for each sample or can we create a bulk issue updating my samples in one shot?

[2021-05-04 17:28] waldekmastykarz commented on #2412
Awesome! I appreciate your help 👏

[2021-05-04 17:29] waldekmastykarz commented on #2298
The implementation is complete and released in preview. If it's a similar change across the board, then for simplicity we could create a single issue to update all samples to avoid unnecessary issue management.

[2021-05-04 17:36] waldekmastykarz commented on #2333
I dropped a few comments on the PR. You're going in the right direction. If we can ensure that we print information about the content type in the output and then see if we can refactor the code to have a single exit point, we'd be ready. Well done! 👏

[2021-05-04 19:04] veronicageek opened #2415 "Add multiple folders on different libraries"
|Docs||
|-----|----|
|Author|  |
|Original Post|  |
|Description| This script will create multiple folders at the same time on different libraries within a specific site |
|Keywords| `SharePoint Online`|

[2021-05-04 19:05] veronicageek commented on #2415
Happy to be assigned to it if it's of interest.

[2021-05-04 19:06] veronicageek opened #2416 "New sample script: Add multiple folders on different libraries in multiple sites"
|Docs||
|-----|----|
|Author|  |
|Original Post|  |
|Description| This script will create multiple folders at the same time on different libraries and on multiple sites from a csv file |
|Keywords| `SharePoint Online`|

[2021-05-04 19:07] veronicageek commented on #2416
Happy to be assigned to it if it's of interest 🙂

[2021-05-04 19:55] Adam-it commented on #2333
sound great, I will get back to this in the coming weekend 🤔 thanks for all the comments and advice 😊

[2021-05-05 06:17] dips365 commented on #1690
`Post https://Tenent.sharepoint.com/sites/CodeChallenge/_api/web/sitegroups(4)/users

headers: {
            "Accept":"application/json",
            "Content-type":"application/json"
          }

 body: JSON.stringify({
            "__metadata":{
               "type":"SP.User"
            },
            "LoginName":'i:0#.f|membership|dips1802@domain.onmicrosoft.com'
         })`

[2021-05-05 07:43] waldekmastykarz commented on #2415
Awesome! Great suggestion and I appreciate your help 👏

[2021-05-05 07:43] waldekmastykarz commented on #2416
Awesome! Appreciate your help! 👏

[2021-05-05 07:50] waldekmastykarz commented on #1690
If you set `content-type` to `application/json;odata=nometadata`, you can drop `__metadata` in the body and simplify it to:

[code]

Also, if you set `json: true` on the request, you don't need to stringify the body yourself and can assign the data object to body.

[2021-05-05 09:15] dips365 commented on #1690
@waldekmastykarz Let me implement it and let you update

[2021-05-05 12:48] nanddeepn commented on #2412
Hi @waldekmastykarz
Unfortunately, `roles` property cannot be expanded.

Error: Property 'roles' on type 'microsoft.graph.permission' is not a navigation property or complex property. Only navigation properties can be expanded.

The Graph API tried was as follows:
`https://graph.microsoft.com/v1.0/sites/contoso.sharepoint.com,772dcab3-5d0c-4f5d-ada0-ed1e8c6273c4,c0f71fdc-624f-44b1-ae3e-4bc403ed433

[2021-05-05 13:34] waldekmastykarz commented on #2412
We could consider an additional call for each permission to retrieve the assigned roles. What do you think?

[2021-05-05 17:43] nanddeepn commented on #2412
Yes, I was thinking of same. I will implement accordingly. Thank you :)

[2021-05-05 18:00] waldekmastykarz commented on #2384
Updated the issue to the spec for the command to implement

[2021-05-06 01:22] rabwill commented on #2283
[Issue 2382](https://github.com/pnp/cli-microsoft365/issues/2382) needs to be ready before proceeding this one.

[2021-05-06 02:20] rabwill opened #2417 "Bug report: Test coverage is not 100%"
The tests passes but the coverage is not 100% in the latest main branch on Windows. The issue does not exist in macOS.

The issue is a branch not covered, see report.

![image](https://user-images.githubusercontent.com/20379311/117232792-40fa2f80-ae65-11eb-8ddf-c59d2c082fe0.png)

Line 771 in /src/Cli.ts

Environment:
Windows 10
Node 14.1. 0

[2021-05-06 09:17] waldekmastykarz commented on #2417
Could it be that you have the `showHelpOnFailure` setting set to `false` in your config which is why this branch would never get executed?

[2021-05-06 18:21] siddharth-vaghasia opened #2419 "Bug report: Issue in adding channel to Team using TeamName parameter"
### Description

An issue in adding teams channel to team with TeamName Parameter
Error Message - "Error: Multiple Microsoft Teams teams with name CLITeamDemo found"

![image](https://user-images.githubusercontent.com/9557557/117346153-032cf380-aec5-11eb-8869-56a7c879a52c.png)

But when I list down teams in my tenant, there is only one Team with the name "CLITeamDemo",  below is output of list com

[2021-05-06 18:37] siddharth-vaghasia commented on #2419
I did some analysis and as per code to find teamsId from Team name is using below endpoint

` url: `${this.resource}/v1.0/me/joinedTeams?$filter=displayName eq '${encodeURIComponent(args.options.teamName as string)}'`,`

CLI File code Reference - https://github.com/pnp/cli-microsoft365/blob/main/src/m365/teams/commands/channel/channel-add.ts

Logic written here is that if it response from Graph AP

[2021-05-07 07:27] waldekmastykarz commented on #2419
Awesome research and I appreciate your help 👏

[2021-05-07 15:26] Laskewitz opened #2420 "New command: Power Apps bypass consent for an app"
### Usage

`pa app consent set [options]`

### Description

Makes sure users can bypass the API Consent window for the selected app

### Options

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `-n, --name <name>` | The name of the Microsoft Power App that should bypass the API Consent |
| `-a, --api-

[2021-05-07 15:32] Laskewitz opened #2421 "New command: clear Power Apps bypass consent for an app"
### Usage

`pa app consent clear [options]`

### Description

Makes sure the bypass the API Consent window for the selected app gets cleared

### Options

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `-n, --name <name>` | The name of the Microsoft Power App that shouldn't bypass the API Consent any

[2021-05-07 17:16] appieschot commented on #2420
Great idea! Lets make the `-a` optional, and ill start working on it :D

[2021-05-08 10:45] waldekmastykarz commented on #2421
Thanks for the suggestion @Laskewitz. Is there a reason the user should need to specify the API version to use? Since we're not asking for this in any other command, I'd suggest leaving it out here as well.

[2021-05-08 10:47] waldekmastykarz commented on #2420
Looking at #2420 and #2421, wouldn't it be easier to have a single command like `pa app consent set` with an `--enable` option that you can set to `true` to enable it and `false` to disable it?.

Also, see my comments about the API option in #2421

[2021-05-08 11:47] #2404 closed

[2021-05-08 11:47] #2412 closed

[2021-05-08 16:47] appieschot commented on #2420
@waldekmastykarz for me that makes sense as well; fits our naming conventions, @Laskewitz I assume that stil fits your use case right? (We could close out #2421 and update specs of this one).

A peek into the PowerShell has learned me that it is a quite complex set of actions we need to do the following requests:

1. Get the PowerApp JSON schema (get request we already have)
2. Post to the App End

[2021-05-08 17:07] waldekmastykarz commented on #2415
Good call! Thank you! 👍

[2021-05-08 17:08] #2416 closed

[2021-05-08 17:09] waldekmastykarz commented on #2420
Are steps 1-5 the same for both bypass and clear consent bypass or are they different?

[2021-05-08 17:26] appieschot commented on #2420
According to my fidler its the same set of steps but with different json payloads ;)

[2021-05-08 18:01] waldekmastykarz commented on #2420
If it's just different payloads, could we put them in one command and separate with an `if` statement or a separate function if the payload is more complex than a few lines of code?

[2021-05-08 18:28] appieschot commented on #2420
I'll investigate a bit more Monday, takes a while to compare the json and I want to make sure we propose the right way forward.

[2021-05-09 07:51] plamber opened #2428 "Update the sample PowerShell scripts with the new output capabilities"
With the implementation of #2298 it became even easier to write PowerShell scripts and handle errors.

I am going to replace the current version of scripts that I wrote with an optimized version

[2021-05-09 08:02] plamber opened #2429 "Bug report: printErrorsAsPlainText does not output json when parameters are not properly set"
### Description
The implementation of printErrorsAsPlainText simplifies the error handling in scripts by consolidating the standard and error output. This works fine if and returns a JSON error when a command fails calling an underlying Graph call.

On the other hand it will return a plain text when you are not fully specifying the parameters.

### Steps to reproduce
- set base output settings for

[2021-05-10 17:54] #2384 closed

[2021-05-10 17:54] #2144 closed

[2021-05-10 17:54] #2368 closed

[2021-05-10 17:54] #2415 closed

[2021-05-10 17:54] #2428 closed

[2021-05-10 17:54] #2429 closed

[2021-05-10 17:54] #2343 closed

[2021-05-11 00:46] melcloud commented on #2384
@waldekmastykarz Thank you for this! I did a quick test, and it even handles the large file upload 👍 .
One issue I found during test is that it cannot handle zero byte file:

[code]

If I looked at the output, the Content-Range header is set to "bytes 0--1/0". This is incorrect I believe

[2021-05-11 15:20] Laskewitz commented on #2421
@waldekmastykarz for some cmdlets the API version does matter, but for this one, it doesn't. The latest version of the API is 2021-03-01. Is there a way to easily update it when it needs to be updated? Not that it gets outdated for instance and stops working when an older API version is not supported anymore.

[2021-05-12 00:23] sprider commented on #2254
@waldekmastykarz, Sorry to remove me from this assignment. We are blessed with baby girl last Friday and may not be able to work on this issue for next few weeks.

[2021-05-12 07:42] waldekmastykarz commented on #2254
Congratulations! Important things first! Please, don't worry about this feature and enjoy the time with your family!

[2021-05-12 14:22] appieschot commented on #2421
Closed out in favour of #2420 we will implement one command that can set and unset :)

[2021-05-12 14:22] #2421 closed

[2021-05-12 14:28] appieschot commented on #2420
We would get the following spec if we combine the two commands:

### Usage

`pa app consent set [options]`

### Description

Makes sure users can bypass the API Consent window for the selected app

### Options

| Option                  | Description                               |
| ----------------------- | ----------------------------------------- |
| `-n, --name <name>` | The name of the Micro

[2021-05-12 14:38] appieschot commented on #2417
Hmm, confusing, just did the check with following setup:

Windows version: 10.0.19042 Build 19042

Node version: v14.15.4
npm v: 6.14.10

Running tests in Windows Terminal Version: 1.7.1033.0 using the following set of commands:

`git checkout main`
`git fetch upstream`
`git pull --rebase upstream main`
`npm run clean`
`npm run build`
`npm run test`

Resulting in 100% code coverage, as @waldekmast

[2021-05-13 16:59] waldekmastykarz commented on #2417
@rabwill can you still repro it?

[2021-05-15 03:12] melcloud opened #2433 "m365 file add doesn't handle zero byte file"
### Description
New graph API based file upload command doesn't handle empty file correctly

### Steps to reproduce
[code]

### Expected result
Can upload file with zero bytes

### Actual result
Failed upload. If I looked at the output, the Content-Range header is set to "bytes 0--1/0". This is incorrect

### Environment
m3565-beta

[2021-05-15 08:09] waldekmastykarz commented on #2433
Good catch and thank you for reporting the issue @melcloud. We'll get on it asap.

[2021-05-15 10:30] appieschot opened #2434 "Bug report: Cannot retrieve birthday when getting all user properties"
### Description

It seems to not be possible to retrieve the birthday property using the `m365 aad user list`

### Steps to reproduce

[code]

Results in an error `Error: This operation target is not yet supported.`

### Expected result

Documentation to be updated that not all properties are yet supported, the `m365 aad user get` allows you to retrieve that property. Currently the docs point to:

[2021-05-15 11:40] plamber opened #2436 "Enhancement: Use the Microsoft Graph Types package in our commands"
Based on the discussion #2427 we would like to introduce a new package [@microsoft/microsoft-graph-types](https://www.npmjs.com/package/@microsoft/microsoft-graph-types) to our project to have strongly typed results when calling Microsoft Graph.

This should reduce the likelihood to introduce bugs based on typing errors.

The aim of this issue is to go through all commands and replace the "custom"

[2021-05-15 17:25] waldekmastykarz commented on #2434
Good catch! 👏

[2021-05-15 22:35] Ofer-Gal opened #2438 "Bug report: (node:5260) UnhandledPromiseRejectionWarning: Error: Cannot find module 'chalk' on Node 14.17.0"
### Description
After installing Node 14.17.0 and installing @pnp/cli-microsoft365
 m365 --help shows error:

`(node:5260) UnhandledPromiseRejectionWarning: Error: Cannot find module 'chalk'
Require stack:
- C:\Users\ogal\AppData\Roaming\npm\node_modules\@pnp\cli-microsoft365\dist\cli\Cli.js
- C:\Users\ogal\AppData\Roaming\npm\node_modules\@pnp\cli-microsoft365\dist\cli\index.js
- C:\Users\ogal\Ap

[2021-05-16 10:19] garrytrinder commented on #2389
I'm not sure what the answer is here as we can realistically have short names for all id based options on commands as I think that would cause more confusion.

Are we proposing `-ti` for teamId and `-ci` for channelId here? Does then the name options also become `-tn` and `-cn`?

Maybe we could list some examples side by side?

[2021-05-16 10:24] garrytrinder commented on #2254
Congratulations @sprider 🎉

[2021-05-16 10:37] garrytrinder commented on #2438
To add to this...

I tested CLI v3.5.0 on node v14 with no issues, but after removing the CLI and attempting to install 3.9.0 using `npm i -g @pnp/cli-microsoft365` I get the below error.

[code]

This was on macOS Big Sur, using nvm with node@14.15.4

[2021-05-16 10:38] garrytrinder commented on #2438
Maybe we should introduce a step in our CI/CD pipeline to check that an npm install is successful?

[2021-05-16 13:12] garrytrinder commented on #2438
I've just tried this on a fresh install of `node@14.17.0` using nvm on macOS BigSur and I don't get an error when calling `m365 --help`, so this seems to be either a local node install issue or is Windows specific.

<img width="955" alt="image" src="https://user-images.githubusercontent.com/11563347/118398463-b5e11c80-b650-11eb-8039-3e49216d604b.png">

How did you install node on your machine @Ofe

[2021-05-16 14:10] Ofer-Gal commented on #2438
I used NVM install 14.17.0

[2021-05-16 14:37] garrytrinder commented on #2438
@pnp/cli-for-microsoft-365-maintainers anyone able to recreate this on Windows?

[2021-05-16 15:23] garrytrinder opened #2439 "New sample script: Inventorying Azure AD Apps and Their Permissions"
|Docs||
|-----|----|
|Author| [Vasil Michev](https://github.com/michevnew) |
|Original Post| [Inventorying Azure AD Apps and Their Permissions](https://practical365.com/inventorying-azure-ad-apps-and-their-permissions/) |
|Description|  This [script](https://github.com/michevnew/PowerShell/blob/master/app_Permissions_inventory_GraphAPI.ps1) returns an inventory of Azure AD applications along with

[2021-05-16 16:00] garrytrinder commented on #2374
Only just got around to testing this, but unfortunately I can't reproduce the issue on my developer tenant.

I created the group from Outlook Web using the New group link in the UI, which prompted me to add users as members as part of the group creation.

As you can see below the members are being returned as part of the `user list` command response.

<img width="745" alt="image" src="https://user

[2021-05-16 17:06] waldekmastykarz commented on #2389
We can't use multi-letter shorts as they would be interpreted by bash as `-t -i`.

[2021-05-16 17:16] #2434 closed

[2021-05-16 20:03] ashiqf opened #2440 "New sample script: Resubmit all failed flow runs"
|Docs||
|-----|----|
|Author| Mohamed Ashiq Faleel |
|Original Post| https://ashiqf.com/2021/05/09/resubmit-your-failed-power-automate-flow-runs-automatically-using-m365-cli-and-rest-api/ |
|Description| Have you ever been forced to resubmit lot of failed Power Automate flow runs manually? Microsoft 365 CLI cmdlets  to the rescue, it will help you resubmit the flow runs automatically. The script w

[2021-05-16 21:42] ashiqf opened #2441 "New sample script: Cancel your running flow runs"
|Docs||
|-----|----|
|Author| Mohamed Ashiq Faleel |
|Original Post| https://ashiqf.com/2021/05/16/cancel-all-your-running-power-automate-flow-runs-using-m365-cli-and-rest-api/ |
|Description| Do you want to automate the cancellation of running Power Automate flow runs? Microsoft 365 CLI cmdlets will help you cancel the flow runs. The script will cancel all running flow runs of a Power Automate fl

[2021-05-17 06:59] appieschot commented on #2438
![image](https://user-images.githubusercontent.com/15227781/118444517-82a09b00-b6ed-11eb-8afb-4c5597556a35.png)

Windows 10, nvm with Node 14.17.0 in Windows terminal is working for me.

[2021-05-17 11:52] waldekmastykarz commented on #2438
@Ofer-Gal, could you try to uninstall CLI and reinstall it again to see if the issue persists?

[2021-05-17 11:56] waldekmastykarz commented on #2440
Thanks for the suggestion @ashiqf! Would you like to submit a PR with the script?

[2021-05-17 11:57] waldekmastykarz commented on #2441
Great suggestion @ashiqf. Would you like to submit a PR with the script?

[2021-05-17 12:27] Ofer-Gal commented on #2438
Will do

[2021-05-17 17:37] plamber commented on #2374
You have to check the membership under the aad groups overview in the azure portal. The Teams UI hides what is happening in the background

[2021-05-17 17:52] #2221 closed

[2021-05-17 21:42] Ofer-Gal commented on #2438
@waldekmastykarz I uninstalled , changed to Node  14.17.0 and installed. It is working now.
All is good.
Thanks for your patience.

[2021-05-17 21:42] #2438 closed

[2021-05-18 15:07] leeford commented on #2021
Apologies @waldekmastykarz - just not had the time recently!

I've pushed the implementation to my fork under: https://github.com/leeford/cli-microsoft365/tree/add-wait-team-creation

But looks like whatever changes to the tests are not there... From what I can see we need to account for the `.catch()` but I am struggling to work out how you do this, I couldn't find any similar parts in any other

[2021-05-18 16:10] waldekmastykarz commented on #2438
Awesome! Great to hear it's all working. I appreciate you taking the time to report the issue and double check together with us that all is working as expected.

[2021-05-18 16:12] waldekmastykarz commented on #2021
No problem. I'll try to have a look at it in the coming days. I'm busy with preparations for //Build at the moment but hopefully in a week or two I should have more room.

If anyone else can help, please don't wait for me 😄

[2021-05-19 20:35] garrytrinder commented on #2374
It does indeed, I can see the Owner in the list of members in the Azure Portal.

<img width="855" alt="image" src="https://user-images.githubusercontent.com/11563347/118880621-f8715600-b8e9-11eb-9007-b2e49e50973b.png">

[2021-05-19 20:40] garrytrinder commented on #2374
This code block removes duplicate users, so there has been a conscious decision made to only show one entry for owners.

https://github.com/pnp/cli-microsoft365/blob/efb5e3a0fdaba7757ca99a6020a9fcd57a3076ab/src/m365/aad/commands/o365group/o365group-user-list.ts#L58-L63

[2021-05-20 09:38] ashiqf commented on #2441
Sure @waldekmastykarz, I will submit a PR. Thanks for accepting it

[2021-05-20 09:38] ashiqf commented on #2440
Sure @waldekmastykarz, I will submit a PR. Thanks for accepting it

[2021-05-20 12:52] Laskewitz commented on #2420
@appieschot sorry for the late reply. I'm not sure if there's a way to do that. I believe there's only Set-AdminPowerAppApisToBypassConsent and Clear-AdminPowerAppApisToBypassConsent in the PowerShell modules.

[2021-05-20 17:14] waldekmastykarz commented on #2441
Awesome! Looking forward to it!

[2021-05-20 17:14] waldekmastykarz commented on #2440
Awesome! Looking forward to it!

[2021-05-20 17:15] waldekmastykarz commented on #2420
Have you tried checking if it's possible to call the API with a GET request to see if you can get anything back from it?

[2021-05-20 18:11] #2133 closed

[2021-05-20 18:11] #2409 closed

[2021-05-21 08:51] vipulkelkar commented on #2283
@rabwill  I am able to fetch **HasUniqueRoleAssignments** value by specifying it in the "fields" parameter. Does that help implement this item ? (I may be missing something here...)

`m365 spo listitem get --webUrl "<SiteUrl>" --listTitle "<List title>" --id 2 --fields "Title,HasUniqueRoleAssignments"`

[2021-05-22 06:10] vipulkelkar opened #2443 "Enhancement : spo list get to retrieve specific properties"
Currently, the `spo list get` command does not provide the ability to select specific properties to be retrieved,

**Proposed approach** -
Add a option "-p --properties" to the `spo list get` command.

- This will give the ability to fetch the list properties that are [not returned by default](https://docs.microsoft.com/en-us/previous-versions/office/developer/sharepoint-rest-reference/dn531433(v=

[2021-05-22 12:28] appieschot opened #2444 "New sample script: search flows for connections"
|Docs||
|-----|----|
|Author| Albert-Jan Schot
|Original Post| https://www.cloudappie.nl/search-flows-connections/ |
|Description| Search all flows as an administrator for specific search string and report results. This sample allows you to get a report of all flows that are connected to a specific site or list. |
|Keywords| `Power Automate` `Flow` |

[2021-05-22 15:14] vipulkelkar commented on #2376
@waldekmastykarz  I can try to implement this one. Here is the possible approach :

use **'?$expand=Folders,Files'** which will give the details of all the Folders within a Folder, and iterate recursively to get all the nested files.

We could go with `-r --recursive` if '`--all`' , as you have mentioned, sounds like a 'filter/all items' use case. The documentation can explain in simple language w

[2021-05-22 17:32] waldekmastykarz commented on #2443
Awesome suggestion and appreciate your help! Please, don't hesitate to reach out if you have any questions or if we can help with anything.

[2021-05-22 17:34] waldekmastykarz commented on #2376
Let's go with `--recursive`. Appreciate your help @vipulkelkar 👏

[2021-05-23 17:34] #2444 closed

[2021-05-23 17:34] #2443 closed

[2021-05-23 18:03] nanddeepn commented on #2382
Hi @rabwill
Can I work on this?

[2021-05-24 00:11] Abderahman88 commented on #2441
Love to see my M365 CLI contribution being used 🚀

[2021-05-24 10:13] ktskumar commented on #2225
Hi Waldek,  May I take this?

[2021-05-24 10:15] plamber commented on #2225
Hi @ktskumar ,
All yours. Thank you for your help.

Br

[2021-05-24 14:47] waldekmastykarz commented on #2382
Of course! All yours @nanddeepn. Appreciate your help! 👏

[2021-05-25 19:13] waldekmastykarz opened #2448 "New command: Update Azure AD app registration"
### Usage

`aad app set [options]`

### Description

Updates Azure AD app registration

### Options

Option | Description
-------|------------
`--appId [appId]`|Application (client) ID of the app registration to update. Specify `appId`, `objectId` or `displayName`
`--objectId [objectId]`|Object ID of the app registration to update. Specify `appId`, `objectId` or `displayName`
`--name [name]`|Displ

[2021-05-25 20:56] Abderahman88 commented on #2258
@waldekmastykarz If I'm correct, the report base class still needs to be implemented right? I only see `PeriodBasedReport` and `DateAndPeriodBasedReport`.

What name should we give to the base class? (`BaseReport` ?)

![m365reports](https://user-images.githubusercontent.com/36161889/119566488-7e3e4700-bdab-11eb-91a2-482baf19ceb5.png)

[2021-05-26 03:16] plamber commented on #2258
Hi @Abderahman88,
this is right. At the time we wrote these commands there was only the need of implementing these base classes. I would create the baseclass with the required capabilities and see if the PeriodBase and DateAndPeriodBased can inherit from it

br,
Patrick

[2021-05-26 06:32] waldekmastykarz commented on #2258
If it's just a single API call, I don't think we need a base class as it wouldn't add much above the regular `GraphCommand` class that we already have.

[2021-05-26 11:02] JPvdB opened #2449 "Unable to export flow with a GA account"
When trying to export a flow with the admin parameter with this line:
`m365 flow export --id $flow.name --environment $env.name --format json --path $path`
I get the following error:
`Error: The caller with object id '9987b9fb-0c85-48f6-####-#########' does not have permission for connection '0a6a858c-d643-46bd-####-#########' under Api 'shared_logicflows'.`

On some environments it does work, but

[2021-05-26 11:32] appieschot commented on #2449
I'll pick this up as I do have access to the env.

[2021-05-26 14:12] waldekmastykarz commented on #2449
@JPvdB is this on the public cloud?

[2021-05-26 14:16] Abderahman88 commented on #2258
Almost finished. Just need to write the tests 🧪

![userCountsCommand](https://user-images.githubusercontent.com/36161889/119675629-821aa980-be3d-11eb-880f-61d2d813e165.PNG)

[2021-05-26 15:08] vipulkelkar commented on #2033
I can try to implement this one..

[2021-05-26 16:35] appieschot commented on #2449
@waldekmastykarz yes public tenant (reproduced in two different tenants)

[2021-05-26 16:45] plamber commented on #2299
@waldekmastykarz we are still experiencing this issue. Can we have a look into this?

![image](https://user-images.githubusercontent.com/18241305/119699125-1f7fd880-be52-11eb-9a7f-89ee1f7df801.png)

[2021-05-26 17:24] waldekmastykarz commented on #2449
Seems like an API change. Is there another API that we could use instead?

[2021-05-26 17:26] waldekmastykarz commented on #2299
Let me see if I can repro it on my Windows box

[2021-05-26 19:16] Abderahman88 commented on #2257
Assign to me ✋

[2021-05-26 19:17] Abderahman88 commented on #2256
Assign to me ✋

[2021-05-26 19:27] appieschot commented on #2449
@waldekmastykarz I am looking in different api versions (might be dependant on when the env. is created) not 100% sure yet but feel like I am getting close.

[2021-05-26 19:55] plamber commented on #2257
All yours

[2021-05-26 19:56] plamber commented on #2256
All yours. Thx for your help

[2021-05-27 05:48] waldekmastykarz commented on #2433
@melcloud thinking of it, what's the use case for uploading empty files?

[2021-05-27 05:53] melcloud commented on #2433
Mainly for testing. But in an environment we don't know whether files have content, it is easier to rely on the cli rather than doing additional file byte size check. It is fine without it, just the logic a bit odd

[2021-05-27 05:56] waldekmastykarz opened #2454 "Enhancement: change default output to JSON"
We should change the default output mode to JSON. This will not only make it easier for folks to use CLI but will also help us align with the Azure CLI so it's easier for folks to use both.

[2021-05-27 05:58] waldekmastykarz commented on #2433
Got it. Thank you for clarifying

[2021-05-27 16:08] robertcaretta opened #2455 "Bug report: pwsh setup - not registering m365 as cmdlet with ISE"
### Description
Node is successfully installed on Windows 10. I am able to run commands within the node cmd console.  That works just fine, I am able to connect to 365 and run basic commands.

I am not able to run commands inside of PS ISE though using the m365 command. I receive the following error...

_m365 : The term 'm365' is not recognized as the name of a cmdlet, function, script file, or op

[2021-05-27 17:26] waldekmastykarz commented on #2455
Is the location where you have the CLI installed in your PowerShell path?

[2021-05-27 17:59] robertcaretta commented on #2455
Hi Waldek - Yeah I noticed that after I opened the ticket. Perhaps I didn't target the profile script properly. I ran it again and now have this reference in that file. C:\Users\MYUSER\AppData\Roaming\npm\node_modules\@pnp\cli-microsoft365\scripts\Register-CLIM365Completion.ps1

I think my issue now is my Execution Policy, which is preventing that profile from loading. I'm going to open a ticket w

[2021-05-28 07:06] MuesliP opened #2458 "M365 flow run list returns not all runs"
### Description
When running the command flow run list not all runs will be returned. In our environment we have a flow with 122 runs and only the last 50 runs are returned.

### Steps to reproduce
m365 login --authType password --userName [USER] --password [PASSWORD]
m365 flow run list -e [DEFAULT_ENVIRONMENT] -f [FLOW ID] -o "json"

### Expected result
We expect all flow run items, as seen on th

[2021-05-28 07:17] appieschot commented on #2449
Okey so a few checks:
- it is not related to when an env is created; In the tenant we see no relation between (a env. created is 2016 and 2018 throws an error, while other envs created at the exact same date seems to work.
- One env created in Preview (US) other one Europe. Other Europe envs seems to be working.
- The error states that object id (the user ID) has no permissions for a flow, it look

[2021-05-28 09:47] waldekmastykarz commented on #2455
I don't think the problem is with the completion though. Based on the error you're getting, it seems like PowerShell can't run the m365 executable. Can you run for example `m365 status` without any errors?

[2021-05-28 09:48] waldekmastykarz commented on #2458
Thank you for reporting the issue and we'll have a look at it asap. Sorry for the trouble

[2021-05-28 10:02] MuesliP commented on #2458
Thanks for the reply. I have analyzed the request further. It looks like the query is executed after retrieving all flow runs and the endpoint https://management.azure.com/providers/Microsoft.ProcessSimple/environments/[DEFAULT ENVIRONMENT]/flows/[FLOW ID]/runs?api-version=2016-11-01 returns only 50 results and the next link. But from performance side, I don't think that it would be a good idea to

[2021-05-28 10:05] waldekmastykarz commented on #2458
Thanks for looking into it. The environment and flow ID are passed to the API so what you get back are all runs for the specified flow. With that, we should be following the next link as we're not applying any additional filters.

[2021-05-28 13:36] Abderahman88 commented on #2458
@waldekmastykarz I can confirm @MuesliP issue. Max 50 runs are returned by the CLI even if you have more runs.

The fix is to change the extension class.
[code]
`AzmgmtItemsListCommand `takes the `nextLink ` parameter into account.

I've tested this and it works.

Assign to me please and I will make a PR.

[2021-05-28 16:49] robertcaretta commented on #2455
I can run the m365 executable only inside of the node terminal. That part
is fine.  Correct, powershell can't run m365 at all. It's not aware of it.
I'm pretty sure its the execution policy. I can't load my custom profile,
which has a reference to that m365 function.  I opened a ticket with my
internal desktop team so I can change that. You can close this ticket if
you want. I'll test more once th

[2021-05-28 18:11] waldekmastykarz commented on #2458
Awesome, appreciate your help @Abderahman88 👏

[2021-05-28 20:12] #2440 closed

[2021-05-28 20:12] #2441 closed

[2021-05-29 06:25] plamber commented on #2439
I am picking this up.

[2021-05-29 06:54] plamber opened #2461 "New command: aad sp list"
### Usage

`aad sp list [options]`

### Description

Lists the service principals in the directory

### Options

Option | Description
-------|------------
`--displayName [displayName]`| Returns only service principals with the specified name
`--tags [tag]`| Returns only service principals with the specified tag

### Additional Information

When looking at the sample request #2439 I noticed that we

[2021-05-29 06:55] plamber commented on #2461
@pnp/cli-for-microsoft-365-maintainers if you do not have any concerns about this command I would like to proceed with the implementation of it

[2021-05-29 07:33] plamber opened #2462 "Enhancement: m365 aad approleassignment list should query a different endpoint"
### Description
The current m365 aad approleassignment list queries the approle assignments by performing an expand operation on the serviceprinciapals endpoint. This operation returns a limited set of properties of the app role assignments.

When looking at the sample request #2439 we might benefit by changing this command in a way to call the "https://graph.microsoft.com/v1.0/servicePrincipals/$

[2021-05-29 10:14] vipulkelkar opened #2465 "Enhancement : Test a specific command"
The default test configuration picks all the `spec` files.

`mocha \"dist/**/*.spec.js\"`

Is there a way currently to test a specific command/spec ? If not, would it make sense to have a test script where the spec name can be passed.

`npm run test:spec  --specName <o365group-recyclebinitem-list>`

which would translate and execute the tests

`mocha \"dist/**/o365group-recyclebinitem-clear.spec.j

[2021-05-29 12:41] Abderahman88 commented on #1345
Can we complete the information (command name, properties, ....) on this one?

### My findings:

**URL**

![image](https://user-images.githubusercontent.com/36161889/120069937-c948aa80-c088-11eb-8165-e5a8af69d116.png)

`POST https://graph.microsoft.com/v1.0/me/onlineMeetings/createOrGet`

**Body**:

![image](https://user-images.githubusercontent.com/36161889/120069860-62c38c80-c088-11eb-91d9-04e5a

[2021-05-29 12:44] Abderahman88 commented on #2417
I can also confirm 100% code coverage

- Windows 10
- Node 14.15.3
- npm 6.14.9

[2021-05-29 13:06] Abderahman88 commented on #2465
Hi @vipulkelkar,

Yes, you can run specific tests.

This the way I do it in VS code:

1. Go to debug section and create a new `launch.json`
![image](https://user-images.githubusercontent.com/36161889/120070950-3cecb680-c08d-11eb-80c8-09859ce24737.png)

2. Copy the sample configuration you find in [CLI docs](https://github.com/pnp/cli-microsoft365/wiki/Adding-a-command) under the topic` Implement u

[2021-05-29 13:39] vipulkelkar commented on #2465
Ah ! Just figured that I had misconfigured the launch.json and was running the npm test:test.
Works now. thanks for your quick response @Abderahman88 :)
Closing the issue

[2021-05-29 13:39] #2465 closed

[2021-05-29 18:01] waldekmastykarz commented on #2465
Another thing that you can do is to add `.only` either to the whole test suite (`describe.only('suite', ...)`) or even a specific test: `it.only('test name'...)`

[2021-05-29 18:02] waldekmastykarz commented on #2417
@rabwill could you please double check if the issue is still there? Could it be related to something specific on your machine?

[2021-05-29 18:05] waldekmastykarz commented on #1345
Thanks @Abderahman88. Since `externalId` is a GUID, I'd suggest that we generate it automatically and don't expect the user to provide one themselves. For the list of participants, I'd suggest we accept a comma-separate list of email addresses of attendees.

[2021-05-29 18:11] waldekmastykarz commented on #2462
What is the additional information that we're missing at the moment and which would be included in the call that you're proposing?

Do you know if the call you're proposing would alter the shape of the returned data? If so, it would be a breaking change that we could include in v4. If not, then we could consider changing it in v3.

[2021-05-29 18:13] waldekmastykarz commented on #2461
Could you specify an example of what you'd put in `filter`? Also, what would be the use case for the `top` option? The reason I'm asking is because we don't have it in any other command.

[2021-05-29 18:17] #2455 closed

[2021-05-29 18:18] waldekmastykarz commented on #2455
Understood, please let us know if you find out what was wrong. It could help others with a similar issue. I appreciate your help.

[2021-05-29 22:44] Abderahman88 commented on #1345
I would suggest to split the `participants` in 2 properties : `attendees` and `organizer`
This makes it easier to check you only have 1 organizer and 1 or more attendees. It's also in line with the standard docs.

![image](https://user-images.githubusercontent.com/36161889/120086039-66cdc980-c0dd-11eb-9898-4433fb687990.png)

As for the organizer, this could be a normal user or a team.

[code]

[2021-05-30 04:34] plamber commented on #2461
I saw it in the sample that I am going to implement  thinking about it here i shouldnt be required except if i am not mistaken to get as many results as possible. We can ignore it here

[2021-05-30 17:36] #2458 closed

[2021-05-30 17:38] waldekmastykarz commented on #1345
Good call. What do you think about defaulting the organizer to the current user if none specified?

[2021-05-30 17:39] waldekmastykarz commented on #2461
Do you mean ignore filter, top or both?

[2021-05-30 17:46] waldekmastykarz commented on #2458
We've just release a preview version with the bug fixed. You can check if it works as intended by installing it from npm: `npm i -g @pnp/cli-microsoft365@next`. Once again, thank you for reporting the issue and @Abderahman88 thank you for the fix 👏

[2021-05-30 17:46] plamber commented on #2461
I would keep the filter and remove the top

[2021-05-30 18:24] MuesliP commented on #2458
I have just tried the previous version and it now works as expected. Thanks a lot!

[2021-05-30 19:22] siddharth-vaghasia commented on #2419
@waldekmastykarz and team... I was wondering if someone can provide review comments/feedback over here before I create PR.... pardon me if this is not general practice to get review comments without PR...

I have modified **getTeamId** method to below in the file [https://github.com/pnp/cli-microsoft365/blob/main/src/m365/teams/commands/channel/channel-add.ts](https://github.com/pnp/cli-microsoft3

[2021-05-30 20:30] Abderahman88 commented on #1345
Great idea. In most cases, the organizer will be the current user.

**Issue 1**) At the moment I'm not able to change the organizer to a different user or team.
Based on the docs, an application access policy has to be configured to make it work.

![image](https://user-images.githubusercontent.com/36161889/120118665-f46bf080-c193-11eb-93cc-fd8d994b08f6.png)

I'll try it out and check if it works.

[2021-05-31 06:12] waldekmastykarz commented on #2461
OK. Could you share a sample how you plan to use the filter?

[2021-05-31 06:13] waldekmastykarz commented on #2458
Excellent! Thank you for confirming!

[2021-05-31 06:15] waldekmastykarz commented on #2419
It seems all good 👍  Looking at the tests that we have, I don't think that we need anything else. Have you checked if the coverage is 100% just to be sure that we're not missing something?

[2021-05-31 06:17] waldekmastykarz commented on #1345
Good finds. Thanks for sharing. If it's not possible to use a different organizer through the API, then let's drop the option and automatically assign the current user. If it's possible with additional configuration, let's include it in the command's docs so that everyone knows what's needed for it to work.

[2021-05-31 06:22] plamber commented on #2461
This is one:
$uri = "https://graph.microsoft.com/beta/servicePrincipals?`$top=999&amp;`$filter=tags/any(t:t eq 'WindowsAzureActiveDirectoryIntegratedApp')"

A filter by tags. But you might want to use different filters too

[2021-05-31 06:28] waldekmastykarz commented on #2461
Would you expect users to type all that in? Why not offer specific options for them to just provide the values and not bother with the right syntax?

[2021-05-31 06:53] plamber commented on #2461
I expect that users are not using the filter at all by default. Since I do not know what are the filter requirements coming up in future I would love to see an explicit filter option.

[2021-05-31 07:37] garrytrinder commented on #2419
Thanks for you efforts on this @siddharth-vaghasia it all looks good to me  👏

One way in which you can get feedback is to create a draft PR and add a comment asking for review as you have done here. As the PR workflow gives us the ability to see what has changed line by line in the diff it's easier for us to feedback on.

https://github.blog/2019-02-14-introducing-draft-pull-requests/

[2021-05-31 10:06] plamber commented on #2462
The current solution does not return all information from the appRoleAssignments endpoint

{
            "id": "yO_qtcumsUGF-cRadrurVfkxdCFdGw9GqwEVd51tuiM",
            "deletedDateTime": null,
            "appRoleId": "908de74d-f8b2-4d6b-a9ed-2a17b3b78179",
            "createdDateTime": "2021-05-10T15:08:32.5330155Z",
            "principalDisplayName": "XYZ",
            "principalId": "b5eaef

[2021-05-31 10:29] garrytrinder commented on #2374
Just want to clarify what is happening here before we make a change.

- The Graph API call used to return the list of members from a given group, gives a response as it does when viewed in the Azure Portal, i.e. owners are listed twice, first as an owner and then as a member
- The `o365group user list` command has code to filter out duplicates users, this then aligns with the Outlook and Teams UI

[2021-05-31 11:02] plamber commented on #2374
I would align the o365group users list with the API. Doing this will ensure that we have a clean situation.

We should then consider adapting the teams user add (Adding an owner should also add him/her to the members group) command and keep the teams user list as it is.

[2021-05-31 14:51] Tinathnath commented on #2134
Hi !
I'm re-opening this since last version reintroduced the bug.
Worked perfectly in v3.7.0, today I updated to 3.10.0 and I'm not able to login anymore.
Got this as a response:
[code]

Thanks !

[2021-05-31 14:58] Tinathnath opened #2466 "Bug report: Unable to login when password starts with "@""
Hi PnP !

Following #2134 I'm re-opening the same issue since one of the last versions reintroduced the bug

### Description
Worked perfectly in v3.7.0, today I updated to 3.10.0 and I'm not able to login anymore.
Got this as a response:

[code]
Thanks !

### Steps to reproduce

Login with login/password with a password starting with an "@"

### Expected result
Login successfull.

### Actual resul

[2021-05-31 17:19] waldekmastykarz commented on #2461
If we don't know the exact requirements for filtering, then I'd suggest we don't introduce it at all and wait for the feedback from our users. We don't have it in any other command and it would be odd to introduce it here.

[2021-05-31 17:20] waldekmastykarz commented on #2462
The question is if the data that we're returning at the moment is also present in the endpoint that you're suggesting. If that's the case, we can easily switch. If not, then we'd need to wait at least until the next major version as it would be a breaking change.

[2021-05-31 17:22] waldekmastykarz commented on #2374
Can we think of a scenario when it would be relevant to the user to see that a particular user is both an owner and a member rather than just the owner, which is consistent with the UI?

[2021-05-31 17:27] waldekmastykarz commented on #2466
Thank you for reporting the issue and sorry for the trouble. Let us check if we can reproduce it and get back to you asap.

[2021-05-31 17:31] plamber commented on #2462
The data is present but requires additional queries to resolve the displayname of the role

[2021-05-31 17:36] waldekmastykarz commented on #2466
I've just tested it and can login just fine with an account whose password starts with a `@`. I also checked the code and can confirm that the password isn't escaped in any way and that the `@` is passed as-is to AAD. Could it be that there is something else wrong that could explain the error that you're seeing?

[2021-05-31 17:37] waldekmastykarz commented on #2462
So doest that mean, that in order for us to keep the data that we need plus include the new data you mentioned, we'd need to issue two calls instead of one?

[2021-05-31 17:38] plamber commented on #2462
This is the case

[2021-05-31 18:11] waldekmastykarz commented on #2417
OK, that's odd, if I grab the latest main and test it on Windows, I'm getting 3 failed tests and coverage below 100%:

[code]

@Abderahman88, @appieschot, @rabwill could you please check if you're seeing the same?

I'm on Node@14.15.3 with npm@6.14.39.

I appreciate your help!

[2021-05-31 18:12] waldekmastykarz commented on #2462
If the additional information is meaningful and helpful, then I'd be for extending the command 👍

[2021-05-31 18:23] Tinathnath commented on #2466
That’s weird. It first failed in the CI pipeline. I tried to connect in my terminal and that worked. After updating to 3.10 it didn’t work anymore 😕

[2021-05-31 18:39] Abderahman88 commented on #2417
@waldekmastykarz Code coverage is still 100% on my machine.

![image](https://user-images.githubusercontent.com/36161889/120230690-2b9fd780-c250-11eb-8a9c-1b36e901cfd8.png)

[2021-06-01 08:40] Tinathnath commented on #2466
@waldekmastykarz if this can help, I did a test today with two fresh new docker images. First one in 3.8, second one in 3.10.

![365 images](https://user-images.githubusercontent.com/3273299/120293528-a5be7380-c2c5-11eb-93e9-1640f6d4fe99.png)

![login m365](https://user-images.githubusercontent.com/3273299/120293561-aa832780-c2c5-11eb-883a-13ed98c9c4cf.png)

[2021-06-01 13:28] vipulkelkar commented on #2230
@waldekmastykarz  @plamber  I can try to implement this one..

[2021-06-01 13:37] plamber commented on #2230
@vipulkelkar: thank you for your support. Its all yours

[2021-06-01 14:50] appieschot commented on #2461
We could use JMESPath for filtering right?

[2021-06-01 14:50] appieschot commented on #2461
We could use Jfor filtering right?

[2021-06-01 15:08] appieschot commented on #2417
Node@14.15.4 and npm@6.14.13 is working on my machine 😕

![image](https://user-images.githubusercontent.com/15227781/120346780-fa7ce100-c2fb-11eb-986f-bf6aa410b0f0.png)

[2021-06-01 15:54] appieschot commented on #2449
Okey might not be related to our scripts, will check tomorrow with @JPvdB. In our test tenant the flows that can not be exported all seems to be having this issue: https://powerusers.microsoft.com/t5/General-Power-Automate/caller-does-not-have-permission-for-connection-under-Api-shared/td-p/264133 (as in as soon as a connection is corrupt we cannot export the whole flow).

[2021-06-01 17:19] waldekmastykarz commented on #2417
Have you done, clean + build + test @Abderahman88 and @appieschot?

[2021-06-01 17:20] waldekmastykarz commented on #2461
Yes. Alternatively, if there is a specific case, we should consider introducing a dedicated option, but I wouldn't expose the raw filter to users.

[2021-06-01 18:03] waldekmastykarz commented on #2466
Thanks for double checking. We moved from ADAL to MSAL in v3.9 so I suspect it's related to that change. As I mentioned, I tried doing the same on my end and couldn't reproduce it with v3.10. Do you have another account in the same directory that you could try to login with? I don't think that it's related to the `@` character but perhaps something else altogether. Also, could you share the output

[2021-06-01 18:46] appieschot commented on #2417
@waldekmastykarz yes, I even switched to a newer node version to make sure I was in an "empty" state before doing anything 😐. Could it be related to using nvm?

[2021-06-01 22:33] Abderahman88 commented on #2417
@waldekmastykarz Are you using a virtual machine? `Array buffer allocation failed` could be a memory issue.

[2021-06-01 23:16] rabwill commented on #2417
I can test this again folks. But I really did clean and build. I even tried a new clone folder just to be sure

[2021-06-02 07:45] waldekmastykarz commented on #2417
@Abderahman88 I am indeed. I know we're working with large files so maybe that's an issue indeed, but in that case perhaps we should revisit our tests not to block folks who don't have a big rig for dev or who want to use containers.

[2021-06-02 11:55] vipulkelkar commented on #2230
should we use the `/_vti_bin/client.svc` to retrieve the one drive sites(similar to classic sites). Any other/better ways to do this ? Don't think there is a graph endpoint to list all onedrives from a tenant ?

[2021-06-02 12:30] Tinathnath commented on #2466
I could not try another account in the same organization because it's a customer.
But I think I found something ! I noticed something in my customer's account password (yeah I like to tease):
- Login with 3.10 in _developer_ tenant, password starts with @ => works
- Login with 3.10 in _production_ tenant, password starts with @ => fails
- Login with 3.10 in _developer_ tenant, password starts with

[2021-06-02 13:28] Abderahman88 commented on #2466
I can confirm @Tinathnath password issue. It has to do with the ampersand (&)

Use the encoded version and login will be successful.

![image](https://user-images.githubusercontent.com/36161889/120487077-f01f1d80-c3b5-11eb-8257-0b7bed53065f.png)

@waldekmastykarz A change need to be made in `private async ensureAccessTokenWithPassword`. I'll make a PR.

[2021-06-02 13:45] waldekmastykarz commented on #2230
@vipulkelkar I don't think there is any other way.

Speaking of the command, I wonder if we should revisit its name: `onedrive site list`. What other things could we expose in the `onedrive` namespace? Will `site` make sense in that context?

[2021-06-02 13:47] waldekmastykarz commented on #2466
Brilliant find folks! 👏 👏 👏  Appreciate the quick fix @Abderahman88

[2021-06-02 13:48] Abderahman88 commented on #2466
You are welcome @waldekmastykarz 👍

[2021-06-02 17:57] #2293 closed

[2021-06-02 17:57] #2448 closed

[2021-06-02 17:57] #2466 closed

[2021-06-02 18:00] waldekmastykarz commented on #2466
We've just merged a fix for this issue and a preview release with the bug fixed should be available in a couple of minutes. You can try it by installing the preview using `npm i -g @pnp/cli-microsoft365@next`. Once again, thank you for your help! 👏

[2021-06-02 20:24] appieschot commented on #2417
That is an interesting point, I am running without a vm but do have do have an azure vm for testing purposes, will try and test on that as well just for fun and insights.

[2021-06-02 23:51] rabwill commented on #2417
@waldekmastykarz  it is still not 100% for me. Fresh clone. What are the additional checks I need to do related to env
Node version 14.1.0, Windows 10

![image](https://user-images.githubusercontent.com/20379311/120565826-40978900-c451-11eb-86f9-24fa932f8263.png)

[2021-06-03 06:55] waldekmastykarz commented on #2417
Can you check if you have a settings file at `C:\Users\user\.config\configstore\cli-m365-config.json` and if so, remove it?

[2021-06-03 07:29] arjunumenon commented on #2219
Hello @pnp/cli-for-microsoft-365-maintainers - I have assigned this to myself if you guys are fine with this.

It has been super ling since I have contributed and need to be back in the momentum.

[2021-06-03 17:43] waldekmastykarz commented on #2299
I can reproduce the issue and I'm working on a fix.

[2021-06-03 18:04] waldekmastykarz commented on #2299
It turns out that the issue was caused by how we tried to execute npm. It works all fine on macOS but not on Windows. Not sure if it ever worked on Windows or if something has just changed in the recent Node versions. Either way, the issue is fixed and it should be now working as expected on all OSes.

[2021-06-03 18:09] hugoabernier commented on #2299
I can confirm that it worked on Windows at one point, but thank you for looking into it!

[2021-06-04 00:31] rabwill commented on #2417
@waldekmastykarz  you genius you! That did it 😇. We can close this now?

[2021-06-04 10:36] waldekmastykarz commented on #2417
Schweet! Thank you for your help! 👏

[2021-06-04 10:36] #2417 closed

[2021-06-04 18:02] #2299 closed

[2021-06-04 18:02] #2419 closed

[2021-06-04 18:05] waldekmastykarz commented on #2299
We've just released a preview version with the bug fixed. You can test it by installing the beta using `npm i -g @pnp/cli-microsoft365@next`. Once again, thank you for reporting the issue! 👏

[2021-06-04 19:34] Abderahman88 commented on #2433
For empty files, we need to use another PUT-request.
I made some changes in `uploadFile`  logic and got it working.

@waldekmastykarz Please assign to me and I will make a PR.

[2021-06-04 19:51] waldekmastykarz commented on #2433
Awesome! Appreciate your help @Abderahman88 👍

[2021-06-05 09:43] nanddeepn commented on #2344
Hi @waldekmastykarz
Can I work on this?

[2021-06-05 10:11] plamber commented on #2344
All yours. Thank you for your support

[2021-06-05 11:40] vipulkelkar commented on #2230
Can't think of other operations. A [specific oneDrive](https://docs.microsoft.com/en-us/graph/api/drive-get?view=graph-rest-1.0&tabs=http#get-a-users-onedrive) can be fetched through Microsoft Graph however, that would be for a particular `/user` followed by [Drive items](https://docs.microsoft.com/en-us/graph/api/resources/driveitem?view=graph-rest-1.0) which is generic to file system objects in

[2021-06-05 13:03] vipulkelkar commented on #2150
@waldekmastykarz happy to pick this if it is ready to go..

[2021-06-05 15:37] hugoabernier commented on #2299
I have tested the latest build and can verify that it works on Windows, with and without NVM.

Thank you!

[2021-06-05 17:12] waldekmastykarz commented on #2299
Thank you for confirming all is working as intended 👏

[2021-06-05 17:12] waldekmastykarz commented on #2150
Good catch @vipulkelkar! Yes, let's add it. Appreciate your help 👏

[2021-06-05 17:14] waldekmastykarz commented on #2230
What about files and folders? Also, doesn't `onedrive` implicitly mean `a site`? So similarly to how we have `flow list` instead of `flow flow list`, shouldn't we have `onedrive list` and `onedrive get` instead of `onedrive site list`?

[2021-06-05 17:59] #2433 closed

[2021-06-05 18:00] waldekmastykarz commented on #2433
We've just release a preview version with the issue fixed. You can try it by installing the preview with `npm i -g @pnp/cli-microsoft365@next`. Once again thank you for reporting the issue @melcloud and thank you @Abderahman88 for the fix 👏

[2021-06-06 12:55] vipulkelkar commented on #2150
@waldekmastykarz  wondering if we should write types for `AppInfo`, `AppRole` etc as these are currently defined in each command individually. We could start with this command and gradually re-factor the existing commands ?

[2021-06-06 17:39] waldekmastykarz commented on #2150
We discussed this in the past and decided that we'd use Graph typings rather than define them ourselves (https://github.com/pnp/cli-microsoft365/discussions/2427). This seems like a good place to start and we could refactor other commands as we go. How does that sound?

[2021-06-06 18:26] #2257 closed

[2021-06-07 00:53] rabwill opened #2475 "New sample script: Find obsolete M365 groups"
|Docs||
|-----|----|
|Author| [Tony Redmond](https://twitter.com/12Knocksinna) |
|Original Post| [Finding Obsolete Office 365 Groups with PowerShell](https://petri.com/identifying-obsolete-office-365-groups-powershell)|
|Description| Finding Obsolete Office 365 Groups with PowerShell|
|Keywords| `Microsoft 365 Groups` `Governance` `Microsoft Teams` |

[2021-06-07 05:15] vipulkelkar commented on #2150
Sounds good. I'll include the Graph typings in this command.

[2021-06-07 07:42] appieschot opened #2476 "New command: m365 aad user hibp"
### Usage

`m365 aad user hibp [options]`

### Description

`Allows you to retrieve all accounts that have been pwned with the specified username`

### Options

| Option | Description
| -- | --
| `-n, --userName <userName>` | The name of the user to retrieve information for
| `--apiKey <apiKey>` | The API key that allows you to call the haveibeenpwned api
|`--domain [domain]`| Limit the returned b

[2021-06-07 07:46] appieschot opened #2477 "New sample script: Check all users in a tenant for haveibeenpwned breaches"
Depends on implementation of #2476

|Docs||
|-----|----|
|Author| N/a |
|Original Post| Inspired by https://twitter.com/wesleyneelen/status/1381880141970866176?s=20 |
|Description| Quickly get an overview of all breached accounts in your tenant |
|Keywords| `Azure Active Directory` `Microsoft 365` |

[2021-06-07 12:03] waldekmastykarz commented on #2476
Great idea! Just to verify, the `domain` allows you to limit the results to the domain that was pawned, right? Perhaps we should clarify it in the description.

[2021-06-07 12:10] waldekmastykarz opened #2478 "New sample script: quickly remove pending SharePoint API permission requests"
|Docs||
|-----|----|
|Author| Waldek Mastykarz |
|Original Post| https://blog.mastykarz.nl/sample-script-quickly-remove-pending-sharepoint-api-permission-requests/ |
|Description| When building SharePoint Framework solutions connected to APIs secured with Azure Active Directory, you'll easily end up with many pending permission requests. Here's a sample script to quickly clean them up. |
|Keywords

[2021-06-07 13:49] appieschot commented on #2476
Great idea to update description; will do so.  In regards to #2477 I would stick to the sample as that makes it a bit clearer to how we do it (if there is a lot of usage on the sample we could update the `userName` to be optional.

[2021-06-07 18:06] #2256 closed

[2021-06-07 18:06] #2258 closed

[2021-06-07 18:11] waldekmastykarz commented on #2252
We decided that we won't be pursuing this suggestion at this moment. We can always reopen the issue if there is more interest from the community or if someone would like to help with it.

[2021-06-07 18:11] #2252 closed

[2021-06-07 18:12] waldekmastykarz commented on #1064
Closing due to lack of activity

[2021-06-07 18:12] #1064 closed

[2021-06-07 18:13] waldekmastykarz commented on #1085
Closing due to lack of activity

[2021-06-07 18:13] #1085 closed

[2021-06-07 18:13] waldekmastykarz commented on #1086
Closing due to lack of activity

[2021-06-07 18:13] #1086 closed

[2021-06-07 18:14] waldekmastykarz commented on #1083
Closing due to lack of activity

[2021-06-07 18:14] #1083 closed

[2021-06-07 18:14] Abderahman88 commented on #2476
Great idea @appieschot

[2021-06-07 18:14] waldekmastykarz commented on #775
Closing due to lack of activity

[2021-06-07 18:14] #775 closed

[2021-06-07 18:15] waldekmastykarz commented on #1350
Closing due to lack of activity

[2021-06-07 18:15] #1350 closed

[2021-06-07 18:15] waldekmastykarz commented on #1437
Closing due to lack of activity

[2021-06-07 18:15] #1437 closed

[2021-06-07 18:15] waldekmastykarz commented on #1487
Closing due to lack of activity

[2021-06-07 18:15] #1487 closed

[2021-06-07 18:28] waldekmastykarz commented on #1488
Closing due to lack of activity

[2021-06-07 18:28] #1488 closed

[2021-06-07 18:33] waldekmastykarz commented on #972
Closing due to lack of activity

[2021-06-07 18:33] #972 closed

[2021-06-07 18:34] waldekmastykarz commented on #955
Closing due to lack of activity

[2021-06-07 18:34] #955 closed

[2021-06-07 18:35] #715 closed

[2021-06-07 18:41] sympmarc commented on #2299
FYI - I was getting the error just now on my Windows machine, so I tried the beta. All fixed!

[2021-06-07 19:11] aakashbhardwaj619 commented on #2254
Congratulations @sprider 🎉

@waldekmastykarz I can work on this if it's still available. I haven't added a new command in a while, and this would be a good opportunity to play around with the Planner APIs 😊

[2021-06-07 20:07] Markus-Hanisch commented on #715
@waldekmastykarz @garrytrinder
Just wanted to let you know that I followed this issue. So now it is closed due to inactivity.
Luckily, in the meantime Microsoft introduced "Data Source Environment Variables" (usable for the SharePoint connector only) which eases the migration of flows from DEV to UAT to PROD Power Platform environments within a solution.
Basically, the tedious replacement of Site