[2022-06-26 09:33] nanddeepn commented on #3421
Can I work on this?

[2022-06-26 13:53] martinlingstuyl commented on #3421
Sure @nanddeepn!

[2022-06-26 15:36] martinlingstuyl commented on #3405
Thanks for reporting this @preavy!

[2022-06-26 16:50] #3344 closed

[2022-06-26 16:50] #3356 closed

[2022-06-26 16:59] Jwaegebaert opened #3443 "Remove `planner plan details get` alias"
Remove `planner plan details get` alias as it was combined with `planner plan get`.

Planned for the next major release v6.

[2022-06-26 23:57] Jwaegebaert opened #3445 "Update CLI runtime: define option `output` with the default type"
Currently, we use several  different ways to check if a certain output type is requested. With the change of v4, the default output type has been changed from `text` to `json`. This "breaks" several commands that check if the output type is a certain value. I am using quotes here because it doesn't reject the command but doesn't use correct the condition. e.g. of the command `m365 planner task che

[2022-06-27 09:55] waldekmastykarz commented on #3445
Good catch! I wonder if the best way around it would be, to set the output to the default output in the CLI runtime, if no output type has been specified. That way, in each command we'd have the output option set and would correctly evaluate the condition.

Basically, we'd update this line and replace at the end `undefined` with `json`

https://github.com/pnp/cli-microsoft365/blob/5a6c5478c20948bb

[2022-06-27 10:00] Jwaegebaert commented on #3445
That's even a beter idea, This way we don't need to check if the `output` option is empty and the conditions used in the commands should be correct again. 😄

[2022-06-27 11:05] preavy commented on #3405
Thanks for this. My use case was copying items from one SharePoint list to another. I was aiming to use m365 cli alone to do this but in the meantime I was able to work around this issue by mixing in Set-PnPListItem from PnP.PowerShell. I appreciate you looking into the issue.

[2022-06-27 11:52] Jwaegebaert opened #3446 "Enhancement `spfx project upgrade`: Upgrade SPFx fast serve helper to v1.15"
When an SPFx 1.15 project makes use of SPFx Fast Serve. Give the suggesting to upgrade the package helper to v1.15.

For version compatibility, checkout [this matrix](https://github.com/s-KaiNet/spfx-fast-serve/blob/master/docs/VersionMatrix.md).
Similar issue #3154

[2022-06-27 11:53] Jwaegebaert commented on #3446
I can work on this.

[2022-06-28 09:15] #3205 closed

[2022-06-28 09:15] #3432 closed

[2022-06-28 09:15] #3440 closed

[2022-06-28 09:15] #3336 closed

[2022-06-28 12:00] Jwaegebaert opened #3448 "Enhancement `teams cache remove`: detect Teams PID on Windows."
Enhancement originates from
- https://github.com/pnp/cli-microsoft365/pull/3224#discussion_r892674921

<hr/>
With running the command `teams cache remove` on a Windows device, we force kill all the processes named `Teams.exe`.

https://github.com/pnp/cli-microsoft365/blob/b580b06869bb66a42442a72c5af74d4b8ba5f712/src/m365/teams/commands/cache/cache-remove.ts#L80-L83

Here, it would be nice to first

[2022-06-28 12:15] Jwaegebaert opened #3449 "Enhancement `teams cache remove`: detect if the Teams cache folder exists"
Enhancement originates from
- https://github.com/pnp/cli-microsoft365/pull/3224#pullrequestreview-1021308364

<hr/>

 With running the command `teams cache remove`, we remove the Teams caching folder.

https://github.com/pnp/cli-microsoft365/blob/b580b06869bb66a42442a72c5af74d4b8ba5f712/src/m365/teams/commands/cache/cache-remove.ts#L126-L133

The idea here would be to first check if the folder exi

[2022-06-28 19:27] garrytrinder commented on #2993
I agree with having `--userId` and `--userPrincipalName` as separate options.

I'd would say that we stick with the two options above, when a shared mailbox is created in Microsoft 365 it creates a User object in Azure AD, which has an ID and UPN. AFAIK there is no concept of a mailbox ID so may cause confusion as to how to find a Mailbox ID when it's a User ID that is needed. I think it would be

[2022-06-28 22:17] RobertHoegner commented on #3393
sorry for late reply, was on vacation 🌤 works flawless - thank you so much!

[2022-06-29 12:51] #3404 closed

[2022-06-29 12:51] #3405 closed

[2022-06-29 14:25] ramzzzay opened #3452 "Bug report: --tenant login returns http status 400 on m365 5.4.0"
### Description

When you try to login with on m365 v5.4.0
`m365 login --tenant here_goes_tenant_id --authType password --userName "foo@bar.onmicrosoft.com" --password megaSecretPassword123` it fails, but with 5.3.0 all works fine.

### Steps to reproduce

1) npm i -g @pnp/cli-microsoft365@5.4.0
2) `m365 login --tenant here_goes_tenant_id --authType password --userName "foo@bar.onmicrosoft.com" --

[2022-06-29 19:53] martinlingstuyl commented on #1492
Thanks for the input @Adam-it, I went with option B. I think it's a bit clearer to the end user that way. (who does not know that type translates to webTemplateId's.

[2022-06-29 20:07] martinlingstuyl opened #3457 "Move reference of `spo tenant appcatalog add` to deprecated `spo site classic add` command"
The command `spo tenant appcatalog add` contains a reference to the deprecated `spo site classic add`.

Because we want to drop the deprecated command in the next major version, the reference should be refactored to use the `spo site add` command.

[2022-06-29 20:09] martinlingstuyl opened #3458 "Remove deprecated `spo site classic <verb>` commands from the codebase"
In the major version, we should drop some deprecated commands:

- [ ] [spo site classic add](https://pnp.github.io/cli-microsoft365/cmd/spo/site/site-classic-add/)
- [ ] [spo site classic list](https://pnp.github.io/cli-microsoft365/cmd/spo/site/site-classic-list/)
- [ ] [spo site classic set](https://pnp.github.io/cli-microsoft365/cmd/spo/site/site-classic-set/)

The functionality in question has

[2022-06-29 20:31] martinlingstuyl commented on #3452
Hi @ramzzzay,

Thanks for reporting this issue. It might be due to special characters in your password. We have [released a fix](https://github.com/pnp/cli-microsoft365/issues/3431) in the beta version.
Can you check if installing the beta version fixes this for you as well?

Install the beta version by running `npm install @pnp/cli-microsoft365@next -g`

[2022-06-30 06:13] martinlingstuyl opened #3460 "New command: spfx project devcontainer init"
### Usage

m365 spfx project devcontainer init

### Description

Initialize a devcontainer with all requirements for building SPFx webparts

### Options

Option | Description
-- | --
`-n, --name <name>` | The name of the devcontainer and working directory.
`-v, --version [version]` | The version of SPFx to initialize a devcontainer for. Defaults to latest.
`-g, --generator [generator]` | The SPFx

[2022-06-30 06:15] martinlingstuyl commented on #3098
Very interesting idea this! I added an extra issue for a related type of command.

[2022-06-30 11:14] martinlingstuyl commented on #3452
Fantastic, I'll close this issue as duplicate

[2022-06-30 11:14] #3452 closed

[2022-07-01 06:38] martinlingstuyl opened #3463 "Enhancement: add extra options to `spo customaction get`"
Currently, you can only run `spo customaction get` with an `--id` option.

It would be helpful to also be able to retrieve it using a `title` option.

Option | Description
--- | ---
`-i, --id [id]` | ID of the user custom action to retrieve information for. Specify either `id` or `title`.
`-t, --title [title]` | Title of the user custom action to retrieve information for. Specify either `id` or `t

[2022-07-01 06:38] martinlingstuyl opened #3464 "Enhancement: add extra options to `spo customaction remove`"
Currently, you can only run `spo customaction remove` with an `--id` option.

It would be helpful to also be able to remove it using a `title` option.

Option | Description
--- | ---
`-i, --id [id]` | ID of the user custom action to remove. Specify either `id` or `title`.
`-t, --title [title]` | Title of the user custom action to remove. Specify either `id` or `title`.

_If two customactions are f

[2022-07-01 08:03] martinlingstuyl opened #3465 "New command: `spo applicationcustomizer add`"
### Usage

spo applicationcustomizer add

### Description

Add an application customizer to a site.

### Options

Option | Description
-- | --
`-t, --title <title>` | The title of the Application Customizer
`-u, --webUrl <webUrl>` | The site to add the Application Customizer on.
`-i, --clientSideComponentId  <clientSideComponentId>` | The Client Side Component Id (GUID) of the application customiz

[2022-07-01 11:17] martinlingstuyl commented on #3035
Hi @vipulkelkar, I see the issue this is waiting for has been closed as completed in v5.4 of the CLI.

I'll remove the on hold here. Are you still planning on working on it?

[2022-07-01 13:51] martinlingstuyl commented on #3438
Waiting on merging PR for issue #3457

[2022-07-01 14:03] martinlingstuyl opened #3467 "Fix sample script referencing deprecated `task details get`"
The sample script [Planner migration to SharePoint list](https://pnp.github.io/cli-microsoft365/sample-scripts/spo/planner-migrate-sharepoint-list/) by @appieschot contains a reference to the deprecated command `planner task details get`. this command is currently an alias, but will be removed in the v6 version.

This should be fixed before the release.

[2022-07-01 18:06] waldekmastykarz commented on #3403
If I'm not mistaken `title` and `Title` show up as two different args because arguments are case-sensitive. I'm not sure why exactly we chose for that name in other commands, but it would be good to align it with our naming convention. If that leads to breaking changes, we should include them in v6.

[2022-07-01 18:08] waldekmastykarz commented on #1619
Good catch! In that case, let's close this issue. Thank you for looking into it @Jwaegebaert 👏

[2022-07-01 18:08] #1619 closed

[2022-07-01 19:45] Adam-it commented on #3103
@waldekmastykarz I think we will wait for the design for this after this is done https://github.com/pnp/cli-microsoft365/issues/3409

[2022-07-01 20:55] garrytrinder commented on #2584
Issue available after lack of activity

[2022-07-01 21:29] garrytrinder commented on #2073
Opening up due to lack of activity

[2022-07-01 21:35] garrytrinder commented on #2660
As #2730 has been implemented it looks like we can now progress this sample script.

@sprider are you happy to continue working on this?

[2022-07-01 21:48] garrytrinder commented on #2475
Hey @SekThang 👋 Are you still working on this?

[2022-07-01 21:48] garrytrinder commented on #2225
Hey @ktskumar 👋 Are you still working on this?

[2022-07-02 07:28] Jwaegebaert commented on #3467
When we update this sample, should this change target the `v6` branch?

[2022-07-02 12:39] martinlingstuyl commented on #2073
We do have a command for listing messages nowadays

https://pnp.github.io/cli-microsoft365/cmd/teams/chat/chat-message-list/

How would this relate? Should we maybe review the specs?

[2022-07-02 13:40] vipulkelkar commented on #3035
Hi @martinlingstuyl , this issue is waiting on #3153 as mentioned above, which is still in progress.
.
The mention of #3333 (which originated from this issue) might have caused the confusion.

[2022-07-02 13:45] martinlingstuyl commented on #3035
You're correct. I've put it on hold again 👍

[2022-07-02 14:39] martinlingstuyl commented on #2225
In the meantime we do have a `list roleinheritance break` command by the way.

https://pnp.github.io/cli-microsoft365/cmd/spo/list/list-roleinheritance-break/

[2022-07-02 18:08] martinlingstuyl commented on #3467
No, we can directly target the main branch.

[2022-07-02 18:23] Jwaegebaert commented on #3467
Perfect, I can take this one if that's alright.

[2022-07-02 20:51] sprider commented on #2660
@garrytrinder Thank you for checking with me. Unfortunately, I am currently a bit busy and may be unable to take this issue. Could you please keep this open so that someone can pick up this?

[2022-07-03 12:53] Jwaegebaert opened #3472 "Script samples contain an invalid condition check"
Most samples start off by doing a m365 status check to see if they are still logged in to their Microsoft 365 environment. Which looks something like this.

[code]

The if condition here will always be false because we aren't converting the output of m365 status to an object.

![afbeelding](https://user-images.githubusercontent.com/38426621/177051069-0c6f441d-dca4-4367-a3a6-516c3008cbb8.png)

This

[2022-07-03 15:41] martinlingstuyl commented on #3472
Hi @Jwaegebaert,

I think the result is false because of case sensitivity (Logged Out vs Logged out). `-eq` checks for an exact match, while `-match` uses regex to compare. Apparently `-match` is case insensitive.

[2022-07-03 16:03] martinlingstuyl commented on #3472
Or maybe we're both right. I'm seeing the quotes now. Will try this out myself 🤗 next time I'm at a computer

[2022-07-03 16:23] Jwaegebaert commented on #3472
Wow, good catch. Totally didn't notice the upper O. 😅

[2022-07-03 17:35] Jwaegebaert commented on #3472
Okaj, just dubble checked. It is in fact the quotation marks that make the condition incorrect.

![afbeelding](https://user-images.githubusercontent.com/38426621/177050983-58290824-c007-4c3a-8e0e-9e7d2fbbc86b.png)

I suspected something like this but I wrote it down incorrectly in the specs. Will update it 😅

[2022-07-03 20:32] garrytrinder commented on #2660
No problem, thank you for the reply 👍🏻

Opening up

[2022-07-03 20:41] martinlingstuyl commented on #3472
Well, never mind, because the `-eq` operator is case insensitive as well  🙄 I just checked.

That's correct indeed. The command returns `json` by default. So this is in fact a string as a json object.

Using `-match` would be okay here given the situation.

[2022-07-03 20:45] martinlingstuyl commented on #3472
Although `-match` does not return `False` when the user is signed in.
Maybe you could test a bit more what would be good here.

Appending `--output text` on the `m365 status` command would maybe be better... That way, you just get the single line of text, and you can use `-eq "Logged out"`

[2022-07-03 22:37] Adam-it opened #3473 "Small docs issue"
hi all opening this issue as a placeholder for a quick docs fix of the [plan-remove](https://pnp.github.io/cli-microsoft365/cmd/planner/plan/plan-remove/) file.
the .md docs file has wrong heading in title
![image](https://user-images.githubusercontent.com/58668583/177059474-cc4033b1-eeca-4b93-bb67-ad2e3d2d845c.png)

[2022-07-04 07:16] waldekmastykarz commented on #3098
@martinlingstuyl what's the difference between `spfx project devcontainer add` and `spfx project devcontainer init`?

[2022-07-04 08:52] waldekmastykarz opened #3475 "Bug report: building non-React SPFx projects after upgrading to v1.15.0 using CLI fails"
### Description

After upgrading a non-React SPFx project to v1.15.0, when you try to build it, you get an error.

### Steps to reproduce

Upgrade non-React SPFx project to v1.15.0 using CLI

### Expected results

SPFx project builds fine

### Actual results

[code]

### Diagnostics

_No response_

### CLI for Microsoft 365 version

latest from main

### nodejs version

12.22.12

### Operating sys

[2022-07-04 09:54] martinlingstuyl commented on #3098
With `add` you would add the files to an existing SPFx project. With `init` you would start from scratch: initialize a new devcontainer in an empty folder with all required dependencies

[2022-07-04 10:34] wilecoyotegenius commented on #3207
Hello,

Are there any news regarding this issue? It's been nearly three months now...

Are there any other ways to achieve this task, apart from installing paconn-cli? I desperately want to avoid installing Python just to be able to export a custom connector.

[2022-07-04 14:00] martinlingstuyl commented on #3472
Yeah, but `-match` does not return `false` when logged in. I find that troublesome 😁

[2022-07-04 14:02] Jwaegebaert commented on #3472
I noticed that too. Don't know why that's happening.

[2022-07-04 18:52] pkbullock commented on #3472
It is an issue, the if block doesn't execute as expected in my tests because its empty (annoying its not false) but it doesn't break the pattern? @Jwaegebaert are you seeing something different?

[2022-07-04 19:26] Jwaegebaert commented on #3365
I can implement this one 😄

[2022-07-04 19:38] Jwaegebaert commented on #3134
While I'm at it, I'll implement this one too. 😄

[2022-07-04 20:35] milanholemans commented on #3403
Fair point. I don't know why `fieldTitle` was chosen. Should we create a new issue for this one?

[2022-07-04 21:59] martinlingstuyl commented on #3403
Hi @milanholemans, following the discussion I think we should use `--title` here, instead of `--fieldTitle`. To align with our naming convention.

A separate issue can be created to update the `fieldTitle` option in other commands.

[2022-07-04 22:19] milanholemans opened #3480 "Rename option `fieldTitle` to `title` for all `spo field` commands"
Some `spo field ...` commands use an option called `fieldTitle`. We should mark this option as deprecated and introduce a new option called `title`. The deprecated name must be removed in the next major release (v6).

Commands to update:
- [ ] spo field get
- [ ] spo field remove

Context: https://github.com/pnp/cli-microsoft365/issues/3403#issuecomment-1172592979

[2022-07-05 07:08] #3473 closed

[2022-07-05 07:08] #3475 closed

[2022-07-05 07:08] #3056 closed

[2022-07-05 07:08] #3420 closed

[2022-07-05 07:08] #3446 closed

[2022-07-05 07:08] #3467 closed

[2022-07-05 07:18] waldekmastykarz opened #3481 "Write upgrade guidance for v6"
Because v6 introduces a number of breaking changes, we have to publish upgrade guidance that explains what changed and what people need to update in their scripts to use v6. See for example: https://pnp.github.io/cli-microsoft365/v5-upgrade-guidance/

[2022-07-05 10:43] martinlingstuyl commented on #3472
Some bg: the reason `match` does not work when logged in, is because the returned json is not really a string in PowerShell. It's an array of strings. Each line being a string.

<img width="383" alt="image" src="https://user-images.githubusercontent.com/5267487/177310774-2c5e7895-3744-4017-abfc-03986d9effed.png">

[2022-07-05 12:47] martinlingstuyl opened #3482 "Refactor: Update inconsistent teams team command options"
`teams team set` / `teams team clone`
The option `--teamId` should be named `id` according to the naming convention. Just like in the `teams team get`.
The option `--displayName` could be named `name` just like in the `teams team get` command and the `teams team add` commands.

[2022-07-05 12:53] martinlingstuyl opened #3483 "Enhancement: update teams team remove/archive/unarchive command options"
There are a few teams commands that would benefit an extra option to get to the correct team:

- teams team remove
- teams team archive
- teams team unarchive

Option | Description
--- | ---
`-i, --id [id]` | The id of the team to .... Specify either `id` or `name`.
`-n, --name [name]` | The display name of the team to .... Specify either `id` or `name`.

_Note: I've used the option name `id` here

[2022-07-05 13:06] nanddeepn commented on #3483
Can I work on this?

[2022-07-05 14:05] Jwaegebaert commented on #3482
Fair point 😄

[2022-07-05 17:56] dcordoba97 commented on #3464
Hello @martinlingstuyl! I'd love to work this issue if no one else is working on it already :)

[2022-07-05 18:21] martinlingstuyl commented on #3464
Sure @dcordoba97, I'll assign you. Thanks for the help!

[2022-07-05 18:26] milanholemans opened #3484 "New command: `spo group add`"
### Usage

m365 spo group add

### Description

Creates group in the specified site

### Options

Option | Description
-- | --
`-u, --webUrl <webUrl>` |  URL of the site where the group should be added.
`-n, --name <name>` | Name of the group to add.
`--description [description]` | The description for the group.
`--allowMembersEditMembership` |  When specified members can edit membership, otherwis

[2022-07-05 18:33] milanholemans opened #3485 "New command: `spo group set`"
### Usage

m365 spo group set

### Description

Updates a group in the specified site

### Options

Option | Description
-- | --
`-u, --webUrl <webUrl>` |  URL of the site where the group is located.
`-i, --id [id]` | Id of the group to update. Specify either `id` or `name` but not both.
`-n, --name [name]` | Name of the group. Specify either `id` or `name` but not both.
`--newName [newName]` | Ne

[2022-07-05 18:44] Jwaegebaert commented on #2061
I can start working on this one 😄

[2022-07-05 18:45] martinlingstuyl commented on #3464
This will be your first contribution here? If you have any questions, feel free to reach out. 👍

[2022-07-05 18:59] dcordoba97 commented on #3464
Yes sir! Thanks for the support 👌  I'm willing to help you guys with whatever I can do ⭐

I think I got this one working, will submit a PR linked to this issue in a few moments.

[2022-07-05 19:31] Adam-it commented on #3472
BTW I forgot to add:
Thanks @Jwaegebaert for you awesome support in the scrip samples!!! You totally rock 🤩🤩🤩.
I think script samples is always the best way to show true potential of a tool and it's functionality and it should be our priority to be sure they work just like that 👍👍.

[2022-07-05 19:37] ITAndy23 opened #3486 "Bug report: m365 spo app add Request failed with status code 423"
### Description

Receive the following error when running `m365 spo app add -p PACKAGE.sppkg --overwrite`:
Error: Request failed with status code 423

### Steps to reproduce

Login with certificate:
`m365 login --authType certificate --certificateFile CERTNAME.pfx --appId APPID --tenant TENANT.onmicrosoft.com`
Where CERTNAME is the name of the certificate file generated from pnp certification regi

[2022-07-05 20:03] dcordoba97 commented on #3464
This one is harder than I thought and will take me more time than usual >.< Please un-assign me from this issue as I don't want to hold you guys behind.

Sorry for the inconvenience!

[2022-07-05 20:32] Jwaegebaert commented on #3472
Didn't know that. But still, the match case would be invalid when the user is logged is and that's the scenario we want. But definitely not the cleanest way. 😄

Yeah, that would be the cleanest way to go about it. 👍

But this all got me thinking. What do you guys think about the following idea? We extend the `m365 status` command with e.g. an option `--validateLogin`. This would allow the command

[2022-07-05 20:32] #3378 closed

[2022-07-05 20:36] Adam-it commented on #3472
and like `m365 status --validateLogin --output Text` would return true but `m365 status --validateLogin --output Json` would return `{ validateLogin: true }` 😅... only joking 😉. Interesting idea 👍 I'm all in. Lets check in on a separate issue 🤔

[2022-07-05 20:40] Jwaegebaert commented on #3472
Perfect, I will create a new issue for this so we can have a deeper discussion about this possibilty. Maybe we should put this one on hold until we have more info about the extra option possibilty.

[2022-07-05 20:45] milanholemans opened #3487 "New command: `spo group owner set`"
### Usage

m365 spo group owner set

### Description

Set a user as owner of a SharePoint group

### Options

Option | Description
-- | --
`-u, --webUrl <webUrl>` |  URL of the site where the group is located.
`--groupId [groupId]` | Id of the group to update. Specify either `groupId` or `groupTitle` but not both.
`--groupTitle [groupTitle]` | Title of the group. Specify either `groupId` or `group

[2022-07-05 20:52] Jwaegebaert opened #3488 "Extend `DependencyRule` version comparison logic to include usage of tilde `~`"
The idea is to extend the current `DependencyRule` class logic. So we can make use of a tilde `~` in our version. This is a recommend pattern for the usage of some packages.

e.g. when we make use of the package `spfx-fast-server-helpers` in a SPFx v1.15 project. Then the [version matrix](https://github.com/s-KaiNet/spfx-fast-serve/blob/master/docs/VersionMatrix.md) suggest we make use of the pack

[2022-07-05 20:58] Jwaegebaert opened #3489 "Enhancement: Extend `m365 status` with an option `--validateLogin`"
Extend `m365 status` with the following extra option.

Option | Description
--  | --
`--validateLogin` | Return `true` or `false` value to validate you Microsoft 365 login status.

When we extend the m365 status command with e.g. an option --validateLogin. This would allow the command to only return a true or false value that we then could use in all of our script samples. What are your thoughts o

[2022-07-05 21:01] Jwaegebaert opened #3490 "Enhancement: Enhancement template for new GitHub issues"
I think it would be nice to have an extra template within our issues. One for creating new enhancement suggestions.
Here all the titles and Enhancement content within the issues list would be more uniform and could possibly be automatically labeled.

What do you think @.maintainers? 😄

[2022-07-05 21:24] martinlingstuyl commented on #3464
Ok, no hard feelings. At least you tried.

Don't forget: You can always ask for help to get steered in the right direction.

[2022-07-05 21:30] martinlingstuyl commented on #3472
The new issue and interesting PoSh stuff aside, I think the `output text` way is indeed the best way forward for now.

Could you update the specs @Jwaegebaert?

[2022-07-06 08:40] Jwaegebaert commented on #3472
@martinlingstuyl, specs have been updated.

[2022-07-06 09:38] waldekmastykarz commented on #2061
Awesome @Jwaegebaert! We appreciate your help 👏

[2022-07-06 09:38] martinlingstuyl commented on #3487
Hi @milanholemans, wouldn't it be better to include this as an `--owner` option on #3485?

[2022-07-06 09:41] waldekmastykarz commented on #2073
Following this spec, this command would use the Teams export APIs which are different than the Chat message list APIs.

[2022-07-06 12:24] milanholemans commented on #3487
Maybe yeah, I thought because there is a `spo group member add`, `spo group member list`, etc. `spo group owner add` seemed more logical to me 😕

[2022-07-06 12:30] milanholemans commented on #3484
I'm willing to work on this one.

[2022-07-06 13:49] martinlingstuyl commented on #3487
Well, in case of group members this indeed makes sense. As you can `list`, `add` and `remove` them. But for SP groups there's just one owner. Owner is more like a property of group.

[2022-07-06 16:12] milanholemans commented on #3487
Good point 😃

[2022-07-06 16:40] martinlingstuyl commented on #3484
That's awesome @milanholemans, oh and I'm seeing 'title' where 'name' is used in the get command.

You're choosing `title` because that is the Name of the prop in REST?

I'm doubting if we should keep 'name'...

[2022-07-06 16:44] milanholemans commented on #3484
Yeah about this, forgot to mention the weird naming in SharePoint. Via the API it's indeed called `title` while in the UI it's called `name`.
![image](https://user-images.githubusercontent.com/11723921/177601534-fcb348a9-c451-4c99-86bc-0fe71edab896.png)

I noticed all other commands use `name` indeed. Should I change this spec to name as well?

[2022-07-06 16:49] martinlingstuyl commented on #3485
Hi @milanholemans,

Two points here:

-I'd like to use `name` instead of `title` here as well. Let's open another issue to discuss name vs title

-could we use 1 property for `owner`, instead of two? The user should be able to use Loginname or e-mail. As these types of data are more or less the same, it's okay to combine them me thinks.

[2022-07-06 16:51] martinlingstuyl commented on #3484
Yeah, let's keep using name. It's more consistent. A debate might be possible in a separate issue to change it for all commands _if you feel strongly about it_.

[2022-07-06 16:54] milanholemans commented on #3485
All right :)

Was thinking the same, until I saw that `spo group user add` uses these 2 options. Same for `spo user get`. What should we do? Keep it or combine it?

[2022-07-06 16:58] martinlingstuyl commented on #3485
Hmmm... in this case I prefer that we first check if there is a good reason for this.

If not, I'd say combine the two for owner and create an issue to combine them for the other commands as well.

[2022-07-06 17:03] martinlingstuyl commented on #3485
Just checked. It uses the `aad user get` command, in which one of both properties are expected to be specified.

That's unfortunate... I dislike having 2 options for roughly the same func. 😎
But okay, let's just align it with the other commands and keep 2.

[2022-07-06 17:06] martinlingstuyl commented on #3485
But maybe we should align the option names:

`ownerUserName` and `ownerEmail`

[2022-07-06 17:09] martinlingstuyl commented on #2073
For example `teams chat message export`?

[2022-07-06 17:17] martinlingstuyl commented on #2073
Oh wait, this is across all chats for the user. Never mind. Great spec!

[2022-07-06 18:52] martinlingstuyl commented on #2073
On...the...other...hand 🤗

The teams export api exposes two endpoints according to the docs, one for user chat messages and the other for channel messages.

If we where to add both as commands, we'd run into our existing `channel message list`.

To align it with our existing commands we could have two new commands:

`teams chat message export` (current issue)
`teams channel message export` (to be

[2022-07-06 22:05] martinlingstuyl commented on #3486
Thanks for bringing this in @ITAndy23, just some quick questions:

-when using `certificate` login with a pfx, you need to add the `--password` option. Did you try that?

-did you try with the regular sign in? I mean just running `m365 login` and signing in using device code. Is the problem also occurring then?

-when you say the value TENANT in TENANT.onmicrosoft.com is the ID from the properties

[2022-07-06 22:16] milanholemans commented on #3422
I'm willing to see if we can add this. My suggestion is to add the following option:

| Option | Description |
| --- | --- |
| `--attachments [attachments]` | Comma separated list of file paths that should be added to the email. |

However if we use a comma as separator, file names containing a comma will break everything. Is there a better solution for this?

[2022-07-06 22:21] martinlingstuyl commented on #3485
That's great @milanholemans! Do change the `newTitle` to `newName` though. Good luck!

[2022-07-06 22:23] milanholemans commented on #3485
Well spotted 😃

[2022-07-07 04:47] martinlingstuyl commented on #3422
Yea, that might be problematic. But maybe it's okay to just accept that risk.

[2022-07-07 05:34] martinlingstuyl commented on #3490
Sounds like a solid idea @Jwaegebaert!

[2022-07-07 05:53] Jwaegebaert opened #3495 "Update `planner task get` docs to include alias"
The documentation for the command `planner task get` doesn't include the alias `planner task details get`

[2022-07-07 06:17] bacca87 commented on #3422
paths with comma can be escaped just surrounding it with double quotes.

`--attachments "/test/name,1.txt", "/test/name,2.txt"`

[2022-07-07 06:40] martinlingstuyl commented on #3207
I've looked into it and moved all the broken commands over to the new api endpoint. @pnp/cli-for-microsoft-365-maintainers, let's get this PR through, this issue broke a lot of commands for too long.

[2022-07-07 07:15] milanholemans commented on #3422
As you can see in the 2nd example https://pnp.github.io/cli-microsoft365/cmd/outlook/mail/mail-send/#examples, comma separated lists should be surrounded by quotes, so your example won't work because it will be seen as 2 different arguments.

[2022-07-07 07:27] martinlingstuyl commented on #3422
Let's just add a note to the docs. This sounds like an edge case to me.

[2022-07-07 10:31] waldekmastykarz opened #3497 "Code for creating files, suggested by `spfx project upgrade` fails in PowerShell"
### Discussed in https://github.com/pnp/cli-microsoft365/discussions/3492

<div type='discussions-op-text'>

<sup>Originally posted by **Ofer-Gal** July  6, 2022</sup>
when running:
[code]
there are the lines in the summary
[code]
Running in powershell it errors. what should this do?</div>

We need to revisit file-based rules and offer an alternative when the output shell is set to PowerShell

[2022-07-07 10:34] waldekmastykarz commented on #2073
Great suggestion @martinlingstuyl! What if we'd combine them both under `teams message export`? We already have a message namespace in the CLI. Would that make sense or are the chat message and channel message APIs so different that it wouldn't make sense to combine them under `message`?

[2022-07-07 10:36] waldekmastykarz commented on #3098
What's the difference between adding devcontainer files to an existing SPFx project or an empty folder?

[2022-07-07 10:37] waldekmastykarz commented on #3207
@wilecoyotegenius sorry we missed this and thank you for bringing it up.
@martinlingstuyl thank you for the quick PR. Let's get it processed asap.

[2022-07-07 10:41] waldekmastykarz commented on #3422
@milanholemans would it make sense to use `;` as a separator instead which I believe isn't allowed in the file name?

[2022-07-07 10:44] nanddeepn commented on #3463
Can I work on this?

[2022-07-07 10:45] waldekmastykarz commented on #3472
`validateLogin` doesn't clearly communicate its intent imho. If we're after a boolean true|false, wouldn't it be clearer to introduce `--output boolean` and then have the command return a `true` or `false` output?

[2022-07-07 11:18] milanholemans commented on #3422
Unfortunately `;` is a valid character in a file name. Besides that, if I'm not mistaken, Linux OS only has one illegal file name character being `/`.

[2022-07-07 11:39] martinlingstuyl commented on #2073
I think the only thing that's different is the URL. So it would be possible to combine them.

Now you're saying it, we do not have `teams channel message list`, I was speaking too quickly. We have `teams message list`. All the `teams message <verb>` commands refer to channel messages.

You might debate whether it is logical to put a command in there that can export both channel and chat messages.

[2022-07-07 12:29] #3207 closed

[2022-07-07 12:29] #3391 closed

[2022-07-07 14:10] martinlingstuyl commented on #3472
Or we could update the return type:

`{ loggedIn: true, email: "user@domain.com" }`

VS
`{ loggedIn: false }`

[2022-07-07 14:26] ITAndy23 commented on #3486
@martinlingstuyl It worked when I switched the tenant id to the GUID.

Thanks!

[2022-07-07 14:26] #3486 closed

[2022-07-07 16:32] martinlingstuyl commented on #3463
Sure, thanks @nanddeepn!

[2022-07-07 16:51] martinlingstuyl commented on #3489
I think it would be better to extend the return type, and use the same return json when you are signed out:

Or we could update the return type:

[code]

and

[code]

[2022-07-07 20:43] wilecoyotegenius commented on #3207
@martinlingstuyl just checked the beta and 'pa' commands are working correctly again.

Thank you!

[2022-07-08 06:11] wobba opened #3500 "Enhancement: Pre-populate .eslintrc.js when upgrading SPFx projects to v1.15"
With SPFX v1.15 tslint has been replaced with eslint and by default a bunch of more rules are added. When building an upgraded project you are likely to get a whole bunch of eslint warnings which to the average developer can be overwhelming unless you're not bothered by warnings.

eslint is not about code correctness, but is there to help you write more robust code - with a pre-opinionated rule se

[2022-07-08 06:21] waldekmastykarz commented on #3500
Awesome suggestion! @pnp/cli-for-microsoft-365-maintainers we'd appreciate your feedback

[2022-07-08 07:18] fonbrauzen commented on #3500
yes, definitely nice to have.
Maybe just mark it optional somehow.

[2022-07-08 08:38] martinlingstuyl commented on #3500
Sounds good, I vote for an extra section for optional changes, with the benefits described along with them. This could be used with upgrades to other versions as well. (if we have optional advice like this)

[2022-07-08 09:00] waldekmastykarz commented on #3500
We already have the notion of optional rules, so this could be one of them. The only challenge is how (if at all) it would show up in the summary script, which is how most folks go about upgrading their project. Alternatively, we could consider introducing a switch, like `--extraSuggestions`, to include these extra recommendations, but we'd need to see how discoverable it would be.

[2022-07-08 09:44] martinlingstuyl commented on #3500
I'd say not use a switch, but add it anyhow. It would fantastic if the suggestions where appended anyway below their own `Suggestions` header or something.

[2022-07-08 10:22] martinlingstuyl opened #3501 "Enhancement: Add expiry check in `util accesstoken get`"
The command `m365 util accesstoken get` can be instructed to get a new token using `--new`. But this takes some time, and in a long running process you would want to check the validity of the token and only renew it when it's almost expiring.

I'd like to add an extra option to make this happen:

Option | Description
--- | ---
`--autoRenew` | Use this switch to check if the token is almost expirin

[2022-07-08 10:44] andrewconnell commented on #3500
Change from using `0/1` => `"off"/"on"` to be more clear and consistent with existing rules.

Would prefer to have a single configuration, such as one in the default profile on my environment, that the project inherits from, so one doesn't have to configure each project, or uses it as the default.

For instance, why set tabs vs. spaces or font size in a project when it's can be as a setting in the

[2022-07-08 10:46] andrewconnell commented on #3500
Additional rules:

- no-floating-promises
- react/jsx-no-bind
- no-explicit-any
- consistent-type-assertions
- explicit-member-accessibility
- naming-convention

[2022-07-08 12:16] waldekmastykarz commented on #3489
Like I mentioned in #3472, to me the intent of `--validateLogin` is unclear. I'd suggest we rephrase it to something else that more clearly communicates what it will do.

@martinlingstuyl what's the difference between comparing the value of the JSON object we'd return following your proposal and comparing the value of the `Logged out` string we have at the moment?

[2022-07-08 12:20] waldekmastykarz commented on #3501
How's `autoRenew` different from the existing check that we have in `util accesstoken get` that decides if we should request a new token or use the existing one? How would we know for how long the process asking the CLI for the token will need it and what's an acceptable expiration threshold?

[2022-07-08 12:25] martinlingstuyl commented on #3489
I've got a few reasons for wanting a change:
1. The current setup actually returns two different types of content in `json` output mode when signed in VS when signed out. it's both JSON, but it's a `json object` VS a `string`. I think that's unhelpful. Like we're back in JavaScript days 😂
2. So you could append `--output text` to fix that, but then again: you need to write more text.
3. I personal

[2022-07-08 14:16] waldekmastykarz commented on #3489
Understood. The question is: does it matter that we return two different types of data in the status? In what scenario would you be using them simultaneously and where the current scenario could be inconvenient?

As for the comparison of current vs. proposed:

current:

[code]

proposed:

[code]

Looking at both options, I don't think that the argument of writing less stands, because CLI always ou

[2022-07-08 15:53] martinlingstuyl commented on #3489
Hadn't thought of that, you're correct. 😂 ok, you've convinced me. Let's agree we keep it this way and close the issue

[2022-07-08 15:54] #3489 closed

[2022-07-08 18:40] milanholemans commented on #3422
Noticed that `--bodyContents` option is required, while in code this is declared as nullable.

Here it's declared as nullable
https://github.com/pnp/cli-microsoft365/blob/6fb46e09a6d394148d1c2a9b6802b5749ad39b1e/src/m365/outlook/commands/mail/mail-send.ts#L17

It is included in the telemetry
https://github.com/pnp/cli-microsoft365/blob/6fb46e09a6d394148d1c2a9b6802b5749ad39b1e/src/m365/outlook/comm

[2022-07-08 20:50] martinlingstuyl commented on #3501
Is there an existing check? 😂 I think this is a case of 'assumptions are the mother of all ...'

I ran into expired tokens (SharePoint) this afternoon after a period of inactivity. Which where only alleviated by using `--new`.

So I assumed there was no such check.

[2022-07-08 21:03] martinlingstuyl commented on #3501
Time to debug why this is happening...

[2022-07-08 23:41] Adam-it commented on #3500
I also love the idea 😍
Not having the option and just adding it always seems ok 👍
TBH I would add a option for it which will maybe allow us not to only add or not to add empty eslintrc file but maybe also allow the user define how much validation she or he wants to add 🤔. Of course now we will need to discuss what rule should be added to which option 😋.
So I was thinking like adding something like

[2022-07-09 07:48] plamber commented on #3445
@waldekmastykarz: I am with your suggestion. I think updating the default output to JSON there should do the trick.

[2022-07-09 08:27] plamber opened #3502 "Remove option teamId in team archive, remove, and archive command"
With the implementation of #3483 we are making the teamId option obsolete.

We should remove it for the V6 release.

[2022-07-09 08:31] #3483 closed

[2022-07-09 08:31] #3495 closed

[2022-07-09 09:02] nanddeepn commented on #3502
I can work on this, if ready.

[2022-07-09 09:05] plamber commented on #3502
Hi @nanddeepn,
thank you. I will assign you to this issue.

Cheers

[2022-07-09 11:55] martinlingstuyl commented on #3502
Don't forget that you need to select the v6 branch as PR target @nanddeepn

[2022-07-09 19:40] #3403 closed

[2022-07-09 19:40] #3485 closed

[2022-07-09 20:21] Adam-it commented on #2843
@waldekmastykarz closing the issue as this was already done way back and I think we just missed it

[2022-07-09 20:21] #2843 closed

[2022-07-11 07:07] waldekmastykarz commented on #3501
Expiration is currently based on `now`:

https://github.com/pnp/cli-microsoft365/blob/ae1ef3e3ac9571ee8c88d2753fd812575933526b/src/Auth.ts#L124-L147

While we could consider extending it to now + x, what would the right x be? 5sec, 10sec, 30sec, 1min? Any value we pick is arbitrary and depends strictly on the context what you need the token for.

[2022-07-11 07:10] Jwaegebaert commented on #3472
Shall I start working on this one?

[2022-07-11 07:15] waldekmastykarz commented on #3472
Please do @Jwaegebaert. Let's use `--output text` for now.

[2022-07-11 07:17] waldekmastykarz commented on #3500
Let's keep in mind, that the context is the `spfx project upgrade` command that runs across all versions of SPFx, so we should be mindful of introducing new options that apply only to specific versions.

If we're to hide the functionality behind an option, then I'd suggest something more generic, like `--withRecommendations` or `--recommendations` and which we could use for things other than just

[2022-07-11 07:20] waldekmastykarz commented on #3340
Isn't an easier way about it to use quotes with all values? I believe we're already doing this in all our examples, correct?

[2022-07-11 07:46] waldekmastykarz commented on #3339
Could you check if you have any of these environment variable configured on your machine: `HTTP_PROXY`, `HTTPS_PROXY`, `NO_PROXY`? If so, could you delete them, try logging out and logging in to CLI and see if it makes any difference?

[2022-07-11 07:51] waldekmastykarz commented on #1492
Yes, however the web template ID is not exposed anywhere in the UI these days, so it requires a lot of understanding of how SharePoint plumbing works, which might be excessive if all you care about is retrieving communication vs. team sites.

I wonder if we shouldn't design the `spo site list` from scratch considering today's reality, rather than trying to force the round peg in a square hole.

[2022-07-11 07:52] waldekmastykarz commented on #3363
Seems like #3342 is merged.

[2022-07-11 07:59] Jwaegebaert commented on #3363
I'll create a PR for it.

[2022-07-11 08:00] waldekmastykarz commented on #3422
Seems like `;` is allowed in Windows too. Another way that seems supported by minimist (the package that we use to parse args), is to use the same option multiple times, eg.:

[code]

That way we don't need to file with reinventing separating multiple values. We'd only need to verify that our code properly supports array. If this works, then I'd propose, that we use this pattern throughout the CLI

[2022-07-11 08:02] waldekmastykarz commented on #2389
@Jwaegebaert it seems like we have the rename captured already in #2696.

[2022-07-11 08:07] milanholemans commented on #3422
That would be a nice solution!

[2022-07-11 09:29] nanddeepn commented on #3480
Can I work on this?

[2022-07-11 11:03] andrewconnell commented on #3500
@Adam-it said:

@waldekmastykarz said:

Not a fan of this... IMHO, the project upgrade command should be for upgrading a project from one version of SPFx to another version. Going down the path of adding features that modify projects and yield something you woudln't normally get from a brand new project created with the generator is changing this command to be more about `project customization` th

[2022-07-11 11:08] andrewconnell commented on #3500
In general, not a fan of having this tool make changes to **.eslintrc.js** to silence coding issues the ESLint config is now exposing in SPFx v1.15 projects.

IMHO, this (new ESLint rule messages) should be addressed in the generator itself, hence the [discussion item I created](https://github.com/SharePoint/sp-dev-docs/discussions/8290)... _or get my heavily opinionated version from my [blog post

[2022-07-11 13:28] waldekmastykarz commented on #3422
Let's test it and see if it works as intended. Want to give it a try @milanholemans?

[2022-07-11 14:03] milanholemans commented on #3422
Sure!

[2022-07-11 15:48] martinlingstuyl commented on #3340
It's okay by me. Integration with PoSh is different then when using a PoSh module. We'll just have to accept that..

[2022-07-13 04:14] SmitaNachan commented on #3464
Hi,
Can I work on it?

[2022-07-13 11:02] martinlingstuyl opened #3512 "New command: `request`"
PnP Powershell has this nice wrapper function around the SharePoint api, [Invoke-PnPSPRestMethod](https://pnp.github.io/powershell/cmdlets/Invoke-PnPSPRestMethod.html).

Would it be nice if we had that too in the CLI? For example for the SharePoint and Graph API's.

## Why would a user use that?
- It is useful if you have specific wishes around (for example) data retrieval. The user might be able

[2022-07-13 20:15] garrytrinder commented on #2225
Good spot @martinlingstuyl 👍

As this is no longer blocked I've moved this issue `In progress`.

[2022-07-13 21:15] garrytrinder commented on #3490
Nice suggestion @Jwaegebaert, we should look to standardise where it makes sense.

Do you have a suggestion as to what you would like to include in the template or a particular format?

[2022-07-14 02:02] #3421 closed

[2022-07-14 02:02] #3484 closed

[2022-07-14 05:14] martinlingstuyl commented on #3512
Great idea @garrytrinder!

[2022-07-14 07:50] waldekmastykarz commented on #3512
+1 to @garrytrinder's comment about having one command across all workloads. I'm not sure about the `rest` name though, as you can use it to call any URL, including CSOM, so perhaps something even more generic like `call` or `request` would it clearer.

Before we proceed with implementation, let's spec out the functionality some more. We should pay extra attention to headers: the format used by az

[2022-07-14 07:55] waldekmastykarz commented on #3422
Completion functionality is a part of the shell so there's nothing we can do about it, unfortunately.

[2022-07-14 09:04] garrytrinder commented on #3512
+1 for `m365 request`

[2022-07-14 09:12] martinlingstuyl commented on #3512
Good idea.. I'll create a better spec, and then you guys can respond to that again.

By the way: what do you think about having an option to force the command to get all items, e.g. that it follows odata next page links?

[2022-07-14 12:02] waldekmastykarz commented on #3512
Good question. On one hand, it would be a nice convenience option. On the other, it's additional complexity and moving away from the raw-request purpose of this command. I'd say, let's leave it out at the start and perhaps revisit later after we had some usage and feedback.

[2022-07-15 02:54] #3365 closed

[2022-07-15 02:55] #3134 closed

[2022-07-15 12:57] martinlingstuyl commented on #3501
Okay, so I tried this again:
1) sign in
2) get a token
3) wait an hour
4) get another token
5) call the SPO api.

Last week that failed for me with a Forbidden message, unless I force refreshed it using `--new`.

But now I can't seem to reproduce it. Weird. but I'll close the issue.

[2022-07-15 12:57] #3501 closed

[2022-07-15 19:50] martinlingstuyl commented on #3097
Hi @Abderahman88, checking in here as well: are you still active on this?

[2022-07-15 19:55] martinlingstuyl commented on #3072
What shall we do here, @plamber? Close the issue? It clutters the issue list if we don't know if or when they will add application permissions to the api.

[2022-07-15 20:00] martinlingstuyl commented on #2878
Hi @SekThang, did you find time to dig into this? Or do you know if or when you will be able to pick it up? Just checking in!

[2022-07-15 20:02] martinlingstuyl commented on #2767
Hi @ktskumar, are you still working on this? Just checking in. Feel free to hand it back if you can't find the time!

[2022-07-15 20:26] DonKirkham commented on #3098
@martinlingstuyl I am also confused as to why there would be different containers. The container is specifically built for the version of SPFx, so it is set. Users always have the option to change the container in the .devcontainer configuration files after the initial creation, but not sure why you would do that. Only scenario I can come up with is if you upgrade the SPFx version in your project.

[2022-07-15 21:55] martinlingstuyl commented on #3098
I think I caused a bit of confusion when using the word 'container' @DonKirkham? 😇

What I mean to say is that we have two scenario's:

1) we have an existing project. And we want to add devcontainer files. What .devcontainer.json / dockerfile is needed should be decided by the CLI based on the existing files, right? That's the current issue that you raised.

2) we don't have an existing project b

[2022-07-15 22:10] DonKirkham commented on #3098
Ok, that clears it up. However, I don't think scenario 2 is a viable use case. Just my opinion. You should create the project first, then run the devcontainer add command. I guess I don't see the value of creating the project from withing the devcontainer. My understanding is that, currently, the devcontainers we are using are locked, so you would still need to install the project in your local fi

[2022-07-16 06:58] plamber commented on #3072
Good catch. The answer has been given that app permissions are not here and that this use case cant be implemented

[2022-07-16 06:58] #3072 closed

[2022-07-16 07:13] martinlingstuyl commented on #3098
If I need to create the project first, I still need to install the right versions of node and the yeoman SPFx generator (etc) on my source system. I generally don't do that.

I'm not sure how you use it, but I use the .devcontainer.json/Docker setup to separate my dependencies. And the yeoman generator is part of that, so when I start a new SPFx project, I _always_ start from within a devcontainer

[2022-07-16 10:02] garrytrinder commented on #3460
Nice suggestion @martinlingstuyl 👍🏻

Could we include a new option for specifying which generator you would want to use?

This could be optional and default to `official`, but also accept `pnp` to use the PnP generator if that is your preference.

[2022-07-16 10:13] garrytrinder commented on #3512
Agree with @waldekmastykarz lets get the basic functionality covered in the command first, get it shipped and make folks aware and iterate based on feedback and real usage 🚀

[2022-07-16 10:16] #3436 closed

[2022-07-16 10:16] garrytrinder commented on #3436
Closing as behaviour is by design

[2022-07-16 11:16] nanddeepn commented on #3482
Can I work on this?

[2022-07-16 11:50] martinlingstuyl commented on #3460
Great idea @garrytrinder

[2022-07-16 16:26] garrytrinder commented on #3482
All yours @nanddeepn, thank you for your help 👍🏻

[2022-07-16 22:41] martinlingstuyl commented on #3512
OK, I've added specs. Very interested to hear your ideas! @pnp/cli-for-microsoft-365-maintainers and other contributors!

[2022-07-16 23:02] wilecoyotegenius commented on #3207
@martinlingstuyl I am working on couple of custom connectors. I use M365 CLI to automate exporting connector definitions and streamline development/testing process.

[2022-07-17 19:20] martinlingstuyl commented on #3430
Question:
When we start refactoring, would it be the good thing to refactor ALL promises to Async/await? Not just those in the commandAction.

It would add a lot of work, but we would stay consistent.

[2022-07-17 20:24] Adam-it commented on #3512
I love the idea. Also since it will provide more functionality/freedom than the PnP equivalent 😉
I was only wondering about the `resource` option if this could not be a free text but maybe give some possible options like: spo, graph, powerapps. etc. 🤔

[2022-07-17 21:14] martinlingstuyl commented on #3512
Well, I think that would make it less flexible. The idea is that the CLI knows what the resource is, based on the URL. There are situations where the resource can not be easily guessed, in those cases you'll need to use the `resource` option. It's hard upfront to guess what these cases are, so you'll have the best freedom typing your own resource.

[2022-07-17 22:07] #3472 closed

[2022-07-17 22:07] #1492 closed

[2022-07-17 22:07] #2031 closed

[2022-07-17 22:26] milanholemans commented on #3430
Fully support this idea. Maybe we can create a new issue for this so this PR doesn't become too big? Maybe we can divide the workload by multiple people? Because this will indeed be a lot of work.

[2022-07-17 22:48] Adam-it commented on #3512
That's true. Freedom is the biggest advetnage in this command 👍.
I only thought that maybe we could also help out the user somehow by giving options and setting the proper url for to use, but then we will loose the freedom of this command.
No other additional command then.
Great suggestion 🤩

[2022-07-18 03:56] soyfrien opened #3516 ""Moderate severity" dependency vulerability stemming from got (<11.8.5) module"
You'll get a warning about "4 moderate severity" [vulnerabilities ](https://github.com/advisories/GHSA-pfrx-2q88-qq97) when installing from source.

[code]

Running the audit fix does break cli.

[code]

[2022-07-18 09:18] nanddeepn commented on #3482
Hi @martinlingstuyl
Should we deprecate the `teamId` and `displayName` and make `id` and `name` options available?
Or should we simply rename `teamId` to `id` and  `displayName` to  `name`?

[2022-07-18 13:19] soyfrien commented on #3516
Oh wow, fascinating, I wouldn't have reason to know about the upheaval, thank you for explaining what's going on. I just crawled back out of the rabbit hole.

At risk of sounding naive, would forking versions depended upon, applying [the got patch](https://github.com/sindresorhus/got/commit/861ccd9ac2237df762a9e2beed7edd88c60782dc), and then pointing the dependencies to the fork be a fix?

[2022-07-18 15:17] martinlingstuyl commented on #3482
Let's deprecate them. Otherwise it's a breaking change. We'll remove the deprecated options in v6

[2022-07-18 19:08] martinlingstuyl commented on #3512
...added some extra examples.

[2022-07-19 06:53] #3463 closed

[2022-07-19 06:53] #3464 closed

[2022-07-19 11:52] Jwaegebaert commented on #3490
@garrytrinder in broad terms, I was thinking of the following subjects to include within the template.

- Version

Here they can specify the current CLI for M365 version they are using.

- Desired enhancement

This can be used to give more context about the requested functionality

- Options

This wouldn't be a required part, but here they can define the additional options that are required to ful

[2022-07-19 13:56] Kazba2084 opened #3519 "New sample script: <short description>"
|Docs||
|-----|----|
|Author| Who originally created the script? It doesn't have to be you, but let's make sure the original author is credited |
|Original Post| If your script is based on a blog post, add the address here |
|Description| Give a description of what the script does and why you may want to use it |
|Keywords| Add some keywords for increased discoverability e.g. `SharePoint Online` `

[2022-07-19 19:14] martinlingstuyl opened #3520 "New sample script: List all external users in site groups across all site collections"
|Docs||
|-----|----|
|Author| Martin Lingstuyl |
|Description| This script shows how you can check if external users are added to site groups. It will show all external users across all site collections and the site groups they where added to. This will help determine whether external users have unwanted privileges. |
|Keywords| `SharePoint Online` `Governance` `External Users` |

This is a copy o

[2022-07-19 20:13] martinlingstuyl opened #3522 "Update references to `spo site list`"
There are some references to the old command `spo site classic list` in our codebase. This is currently deprecated and being moved to `spo site list`.

This issue concerns updating/refactoring all those references..

[2022-07-19 23:09] #1495 closed

[2022-07-19 23:09] #3457 closed

[2022-07-20 05:25] jayarau opened #3524 "Getting Error: Request failed with status code 400 for M365 command m365 spo app install for version 5.2.0"
We are running below command for installing app in sharepoint site:
 **m365 spo app install** --id <app ID> --siteUrl <site url> --scope sitecollection

Getting error :
 Error: **Request failed with status code 400**

Version of @pnp/cli-microsoft365 : **5.2.0**

[2022-07-20 06:58] martinlingstuyl opened #3526 "Refactor default `type` value of `spo site list` command"
The default `type` of `spo site list` is `TeamSite`.

This default needs to be removed.

The `type` option currently also allows the value `All`. This value was meant to be used as graceful fallback in version 5.5, when site classic list became deprecated.
Not specifying the `type` option should automatically retrieve all sites, so the `All` value is no longer necessary.

[2022-07-20 09:34] martinlingstuyl commented on #3524
Hi @jayarau,

Thanks for bringing this to our attention, and sorry to see your having trouble. Let's see if we can find out what the issue is.
I've got a couple of questions.

1) This is a really dumb one, but I want to assure: I assume you are filling in a guid and site url? eg `m365 spo app install --id <some-guid> --siteUrl <some-url> --scope sitecollection`?
2) the option `--scope sitecollecti

[2022-07-20 10:41] jayarau commented on #3524
Hi @martinlingstuyl ,
Thanks for getting back,
Below are answer to your queries
1. Yes we are filling guid and site url while running command.
2. We specified sitecollection scope as it was intended for site collection level app catalog.
3.  We tried running with --debug , there in logs we got detailed error message. PFA for debug log.
[m365_appInstall_error.txt](https://github.com/pnp/cli-microso

[2022-07-20 11:40] martinlingstuyl commented on #3524
Hi @jayarau,

Looking at the debug logs I can see that your variables are not coming through.

You are executing:
[code]

and the debug log shows the CLI is literally trying to call `url/_api/web/sitecollectionappcatalog/AvailableApps/GetById('id')/install`. with values `id` and `url` instead of the contents of the variables.

Try running:
[code]

[2022-07-20 11:47] jayarau commented on #3524
Hi @martinlingstuyl ,
We are using required values, while posting for masking I replaced it with 'id' and 'url' name.
In debug logs I can see proper error .
"An instance of this App already exists at the specified location."

[2022-07-20 12:08] martinlingstuyl commented on #3524
Ok, I could have guessed 😂

In that case you've apparently installed the app from the regular app catalog as well, blocking the install from the site collection specific app catalog. But you probably saw that by now.

We're currently returning the responses of the API's, also with errors. There are a lot of possibilities in how those are returned, so it's not straightforward. Luckily we expose mor

[2022-07-20 17:46] #3519 closed

[2022-07-20 18:27] garrytrinder commented on #3516
This is indeed a possible tactic, however I would say that we would only go down this route if one of our dependencies was not being actively maintained due to the extra overhead that maintaining an external package comes with, that is not the case in this scenario.

I have assigned this issue to myself and will use this as the first candidate ESM to integrate into our codebase incrementally, the

[2022-07-20 19:19] martinlingstuyl commented on #3524
It certainly wouldn't hurt to show these kind of 'inner exceptions' right away. It would give more clarity about what is occurring.

I'll close this issue and create another one about the subject matter, so we can discuss it more in detail. 👍

Thanks again for raising it @jayarau!

[2022-07-20 19:20] #3524 closed

[2022-07-20 19:41] martinlingstuyl opened #3527 "Show exception details that are returned from API's"
When executing commands, you might run into exceptions for whatever reason. The CLI prints the exceptions from the underlying API's to the commandline, but sometimes only a superficial message, while the actual response details from the API calls might contain a more detailed error description.

A user ran into this in issue #3524, where the actual error was revealed when adding the `--debug` opti

[2022-07-20 22:45] Adam-it commented on #3408
PR merged. Thanks for your awesome work 👍
You Rock 🤩

[2022-07-20 22:45] #3408 closed

[2022-07-20 22:46] Adam-it commented on #3435
PR merged. Thanks for your awesome work 👍
You Rock 🤩

[2022-07-20 22:46] #3435 closed

[2022-07-21 06:39] martinlingstuyl commented on #3438
Closing this as a duplicate of #3458.

[2022-07-21 06:39] #3438 closed

[2022-07-21 10:06] quantrpeter opened #3531 "m365 login network error"
### Description

Hi
    I got trouble running "m365 login --debug --authType password --userName xxx@xx.com --password 'xxx'"

Executing command login with options {"options":{"debug":true,"authType":"password","userName":"xxxxxx","password":"'xxxxxx'"}}
Logging out from Microsoft 365...
Signing in to Microsoft 365...
No token found for resource https://graph.microsoft.com
[Thu, 21 Jul 2022 09:58:

[2022-07-21 16:56] milanholemans commented on #3531
Hi @quantrpeter

It might be due to special characters in your password. This has been fixed and is released in beta version.
Can you check if installing the beta version fixes this for you as well?

Install the beta version by running the following command: `npm i -g @pnp/cli-microsoft365@next`

[2022-07-22 06:09] nanddeepn commented on #3353
Can I work on this?

[2022-07-22 10:58] Jwaegebaert opened #3532 "New command: `booking business list`"
### Usage

m365 booking business list

### Description

Lists all Microsoft Bookings businesses that are created for the tenant.

### Options

/

### Examples

Returns a list of all Microsoft Bookings businesses that are created for the tenant.

[code]

### Additional Info

Docs: [List bookingBusinesses](https://docs.microsoft.com/graph/api/bookingbusiness-list?view=graph-rest-1.0&tabs=http)

[2022-07-22 17:59] martinlingstuyl commented on #3353
Sure @nanddeepn!

[2022-07-24 13:17] #3482 closed

[2022-07-24 13:36] #3363 closed

[2022-07-24 13:37] #3458 closed

[2022-07-24 16:36] waldekmastykarz commented on #3409
We're at 100% coverage again. Next step is for me to sync the latest changes that have been added to the CLI over the last few weeks.

[2022-07-24 23:02] #3480 closed

[2022-07-24 23:02] #2389 closed

[2022-07-24 23:02] #3520 closed

[2022-07-25 06:57] quantrpeter commented on #3531
thanks

[2022-07-25 06:57] #3531 closed

[2022-07-26 09:18] jayarau opened #3533 "Getting Error: network_error: Network request failed. while m365 Login"
We are login to m365 using below command:
m365 login --authType password --userName <username> --password <password>

getting below error:
 Error: network_error: Network request failed. Please check network trace to determine root cause. | Fetch client threw: Error: HTTP status code 400 | Attempted to reach: https://login.microsoftonline.com/5646789987867564654/oauth2/v2.0/token
2022-07-26T04:50:0

[2022-07-26 09:32] Jwaegebaert commented on #3533
This could be due to special characters within your password. This is a known issue and has recently been resolved in #3431. The fix is already live within the beta version. You can install the beta with the command 'npm i -g @pnp/cli-microsoft365@next'.

Hope this helps!

[2022-07-26 15:40] milanholemans commented on #3422
This thing seems to work. When I define multiple options, they are combined as an array. So seems perfect for this command.

I am working on implementing the logic right now to send mails with attachments. I'm currently running into some problems with attachments above 3MB. I think I will have to do some more R&D & trial and error for this to work. Is it ok if I currently provide attachments up to

[2022-07-26 15:49] martinlingstuyl commented on #3422
That would be OK, @milanholemans, we can expand on existing functionality of people request it. Also: sending attachments in emails is always subject to size limitations, so it's okay if it's the same for the CLI.

It would be nice if you'd find the precise byte limit so it can be linked to in the docs though.

[2022-07-26 19:22] Jwaegebaert opened #3534 "New command: `booking business get`"
### Usage

m365 booking business get

### Description

Retrieve the specified Microsoft Bookings business.

### Options

Option | Description
-- | --
`-i, --id [id]` | ID of the business. Specify either `id` or `name` but not both.
`-n, --name [name]` | Name of the business. Specify either `id` or `name` but not both.

### Examples

Retrieve the specified Microsoft Bookings business with id _busin

[2022-07-26 21:02] martinlingstuyl commented on #3409
Respect for the speed with which you've implemented this @waldekmastykarz! 👏

[2022-07-27 16:48] martinlingstuyl commented on #3532
I see you are starting a new series of feature requests around bookings, @Jwaegebaert. I like it!

[2022-07-27 18:56] Jwaegebaert commented on #3534
I can implement this one. 😄

[2022-07-27 22:22] rabwill commented on #3534
All yours @Jwaegebaert 😊

[2022-07-27 22:39] rabwill commented on #2475
Hey @SekThang , we are freeing this issue up for now, so anyone with spare time in their hands can pick it up (including yourself)😊

[2022-07-29 06:25] quantrpeter opened #3538 "assign group for doc lib"
### Description

Hi
   My i know how to assign group for a doc lib. i can do it by code but don't know how to do it with m365 cli

"/_api/web/lists/getByTitle('" + urlName + "')/roleassignments/addroleassignment(principalid='" + groupId + "',roledefid='1073741829')"

thanks
Peter

### Steps to reproduce

-

### Expected results

-

### Actual results

-

### Diagnostics

_No response_

### CLI for

[2022-07-29 17:23] martinlingstuyl commented on #3538
Hi @quantrpeter, unfortunately we don't have that functionality implemented as of yet. And there are a few more things around permission management still open. Would you like to contribute to the CLI by adding this? 😇

[2022-07-29 17:56] martinlingstuyl commented on #3300
Hi @Adam-it, are you still working on this, or is it better to open it up again?

[2022-07-29 17:56] martinlingstuyl commented on #3538
A slight edit: we do have an issue on this and it is being worked on: #3300.

[2022-07-29 18:00] martinlingstuyl commented on #3271
As the related issue has been successfully merged for some time, let's remove the on hold label here.

[2022-07-29 18:01] Adam-it commented on #3300
@martinlingstuyl I was waiting for that comment 😋. Yes I am working on this, sorry it is taking so long 🙏.
TBH this is one of the most important commands for me I would like to have in CLI that's why I started this all 'add CLI commands which will allow permission management' kind a thing 😉. I will try to increase my priority on this one 👍
 Usually when I have CLI open source time I try to focus o

[2022-07-29 18:04] martinlingstuyl commented on #3300
This is really an important one indeed, and odd that it is still missing I think.

It's OK if you still want to implement it. I'm waiting for your PR 🫵

Other people can process PR's as well, so it's okay if you shift the focus a bit 😀 #teameffort

[2022-07-29 18:09] Adam-it commented on #3300
yes I will try to shift it a bit 😊. Thanks for understanding 👍. Will try to improve on this one 😉

[2022-07-29 18:10] martinlingstuyl opened #3539 "New command: 🔐 spo listitem roleassignment add"
### Usage

m365 spo listitem roleassignment add [options]

### Description

adds a role assignment to a listitem.

### Options

Option | Description
-- | --
`-u, --webUrl <webUrl>` | URL of the site where the list is located
`--listId [listId]` | ID of the list. Specify either `listId`, `listTitle` or `listUrl`.
`--listTitle [listTitle]` |  Title of the list. Specify either `listId`, `listTitle` o

[2022-07-29 18:11] martinlingstuyl commented on #3539
What about this one @Adam-it 😇

[2022-07-29 18:24] Adam-it commented on #3539
I may take this one 😋
there is still a lot of those we need to have and I guess I should spend some time and create issue for each one. We still are missing managing permissions on web level, we have for listitem reseting and breaking roleinheritance which will work for file and folder as well but we could create commands which will alias the listitem one.
We need commands which will allow to add

[2022-07-29 18:27] Adam-it commented on #3300
@martinlingstuyl to give some proof I added 3 ⭐s priority on this one .... in my head you can get bigger than that 😉
![image](https://user-images.githubusercontent.com/58668583/181821924-ad0e1e81-2dce-44f4-9ac0-2fb530b3e614.png)
... unless of course there is something like with 4 ⭐s in my head 🤔🤔

[2022-07-29 19:07] martinlingstuyl commented on #3539
Haha, all in due time... though I think it would be helpful to create issues to get it out of your head. That way we can get the work done quicker. Would you mind taking some time to do that?

But of course: prioritize what you can do vs what needs to be done first.

I would take PR's off of your shoulders, but I can not really review them the coming two weeks. I'm fully back half august. I'll see

[2022-07-29 19:08] martinlingstuyl commented on #3300
Nice! What kind of tool is that by the way?

[2022-07-29 19:12] Adam-it commented on #3300
It's GitHub projects. But the new one that just was released. I used it a since early beta and I organize all opens source work with it

[2022-07-29 19:16] Adam-it commented on #3300
@martinlingstuyl check 👇
https://youtu.be/qT0VMdx7vuI

[2022-07-29 19:39] martinlingstuyl opened #3540 "Fill void around spo permission management"
There's a lot of work yet to be done in the SharePoint Online / Permission management space. I've created this issue to discuss and keep track of what we still need for a full coverage.

We can create issues for those later. @Adam-it, feel free to inject your input here.

- [x] Breaking role assignments for a list
- [x] Resetting role assignments for a list
- [x] Breaking role assignments for a li

[2022-07-29 19:55] DonKirkham opened #3541 "Bug report: spfx doctor reports missing gulp"
### Description

I don't know when the official guidance changed, but gulp is no longer required or recommended as a -global package for SPFx. doctor check should check for gulp-cli instead. If gulp is installed, recommend that it be uninstalled and gulp-cli be installed instead.

### Steps to reproduce

Run the following from any command prompt:

m365 spfx doctor

### Expected results

If gulp is

[2022-07-29 19:57] DonKirkham commented on #3541
I would love to work on this change, but need some guidance. I have reviewed the code and understand what it is currently doing, but not how to swap out gulp for gulp-cli.

[2022-07-29 20:37] Adam-it commented on #3540
thanks @martinlingstuyl for bringing this back out of the back of my head 🧠 🤔.
Initially it was started here 👉 https://github.com/pnp/cli-microsoft365/discussions/3184
I will take this over and try to finish of this functionality

[2022-07-29 20:48] martinlingstuyl commented on #3540
Maybe it’s a good idea to resolve the discussion and point it to this issue?

[2022-07-29 21:35] Adam-it commented on #3540
@martinlingstuyl I closed the discussion to clean this up and populated the list you created with missing commands also when those are done (similar to break and inherit permissions) we may add aliases for Adding/Removing role assignment on file and folders. It will be the same rest endpoint as for list item but I think it will be a good enhancement for the user to have separate `file` and `folder

[2022-07-29 21:35] Adam-it commented on #3540
@pnp/cli-for-microsoft-365-maintainers any suggestions? comments? feedback? ideas? opinions?

[2022-07-29 22:25] Adam-it opened #3542 "New command: 🔐 spo list roleassignment remove"
### Usage

m365 spo list roleassignment remove [options]

### Description

remove a role assignment from list permissions

### Options

Option | Description
-- | --
`-u, --webUrl <webUrl>` |  URL of the site where the list is located
`-i, --listId [listId]` |  ID of the list. Specify either listId, listTitle or listUrl but not multiple.
`-t, --listTitle [listTitle]` |  Title of the list. Specify e

[2022-07-29 22:48] Adam-it opened #3543 "New command: 🔐 spo listitem roleassignment remove"
### Usage

m365 spo listitem roleassignment remove [options]

### Description

removes a role assignment to a listitem.

### Options

Option | Description
-- | --
`-u, --webUrl <webUrl>` | URL of the site where the list is located
`-i, --listId [listId]` | ID of the list. Specify either `listId`, `listTitle` or `listUrl`.
`-t, --listTitle [listTitle]` |  Title of the list. Specify either `listId`,

[2022-07-30 07:15] martinlingstuyl commented on #3540
What you write under 'ideas for near future', that's already in the list right?

[2022-07-30 08:25] Adam-it commented on #3540
Yes, I noticed it later. I modified the until post

[2022-07-30 09:59] Adam-it commented on #3540
@pnp/cli-for-microsoft-365-maintainers  I would like to rediscuss one topic with you before I proceed with adding more issues to fill up this functionality. I have a feeling we are doing a bit of a overkill here (and probably this is already in progress 😉).

The problem is for many of the proposed commands but lets discuss it on one example which will be breaking role inheritance on item/list/web.

[2022-07-30 10:36] milanholemans commented on #3540
Bundling these commands together as one gets my vote.☺️
As you say, when we split them up, we get 3 commands which are almost identical and with almost no logic at all.

I think this is user friendly enough. If we make 1 command with the description `Breaks role inheritance for subsite, list or list item`, that it will be clear enough how this command works. I also believe that a good example says

[2022-07-30 10:42] waldekmastykarz commented on #3540
The counter argument to it is discovery: when you want to manage permissions of list items you'd be likely to look for a relevant command in the spo listitem namespace, which you won't find. We could address it by introducing aliases but would end up with a listitem permission management alias that has options meaningful of the context of web which will be confusing.

What's the problem with havin

[2022-07-30 11:47] waldekmastykarz commented on #3409
All ready, rebased with latest changes from main. Will submit a PR and merge in a couple of days.

[2022-07-30 12:38] martinlingstuyl commented on #3540
I'm with Waldek on this. Specialized commands makes more sense to me. They're easily found, the purpose is clear and you don't get a long list of options where you might need the documentation to find out which ones or combination you need, aka: you achieve results faster.

[2022-07-30 12:39] martinlingstuyl commented on #3409
Well done @waldekmastykarz!

[2022-07-30 16:02] martinlingstuyl commented on #3512
Anyone extra comments on this? @pnp/cli-for-microsoft-365-maintainers? Otherwise we can open this up for contribution.

[2022-07-30 16:33] milanholemans opened #3544 "Enhancement: adding extra options for `outlook mail send`"
### Extra options
I think it would be useful to add some options to the `m365 outlook mail send` command.

| Option | Description |
| --- | --- |
| `--cc [cc]` | Comma-separated list of CC recipients for the message. |
| `--bcc [bcc]` | Comma-separated list of BCC recipients for the message. |
| `--importance [importance]` | The importance of the message: `low`, `normal`, `high`. Default is `norma

[2022-07-30 17:50] Adam-it commented on #3512
For me looks ok and ready to go

[2022-07-30 19:08] Jwaegebaert commented on #3540
Personally, I'm more of a fan of making it 1 command. In terms of documentation, it would indeed be easier to find it in the different commands. Maybe it would be an idea to link each part to the generic command. That way, when they search for `roleinheritance break` under SPO list for example, they would find the command `m365 spo roleinheritance break`.

Also like @milanholemans mentions. We inc

[2022-07-31 08:49] Adam-it commented on #3540
@milanholemans @Jwaegebaert @waldekmastykarz @martinlingstuyl
what if we could have both approach at the same time 🤔 (probably the worst option possible.. I know 😁, but stay with me for a moment 😉)
So like one command which could break role inheritance on whatever we want (item, file, folder, list, web etc.) so the one `m365 spo roleinheritance break` and then in each namespace `listitem`, `list`,

[2022-07-31 08:55] Adam-it commented on #3540
as an example of very similar case lets check `file remove` and `page remove`. Both use actually the same endpoint and we could have one 'universal' command  (probably the `file remove` with given correct options will also allow to remove pages 😉). But still the `page remove` command exists, only to be easier to find/use/write/script by the user 👍.

... BTW we are missing `--recycle` option in the

[2022-07-31 10:07] #1763 closed

[2022-07-31 13:01] milanholemans commented on #3540
Nice alternative, but in that case we will have 2 commands for breaking role inheritance: `spo file roleinheritance break` and `spo roleinheritance break`. That might be a bit confusing for the users.

This is true, it won't take much time for us to write that. But this also applies to the full command. In fact the only thing that has to be done is doing 1 POST request to the SPO API. I think writ

[2022-07-31 13:16] martinlingstuyl commented on #3540
That may be the entire reason for this discussion 😃 If you leave the developer story out, could you guys name 1 good reason why we should diverge from the regular way we have done stuff till now? The current structure makes sense in my mind. Our action of breaking roleassignments applies to a list or web.

[2022-07-31 13:23] Adam-it commented on #3540
@martinlingstuyl I never thought about it that way. But your also right, this makes sense as well.
Also like the example I mentioned with `file remove` and `page remove` this is a kind of approach we already took and maybe best to continue it.
lets give it a one or two days more before I sum up the discussion. I am still hoping for more comments

[2022-07-31 13:24] Jwaegebaert commented on #3540
Here you make a good point. If we already have a few commands that basically do the same like our current discussion point, have multiple commands for the same REST endpoint, then we best apply the same logic towards the command 'roleinheritance break'. This would then be to create several new commands for each respective item: subsite, list or list item.

But to counter it again. 😅 Currently, wit

[2022-07-31 16:54] martinlingstuyl commented on #3541
Thanks for bringing this up, @DonKirkham. Moving to gulp-cli is a long awaited change I guess.

Maybe @rabwill or @waldekmastykarz can give you a hand here.

[2022-07-31 20:41] milanholemans commented on #3544
I'm willing to work on this one.

[2022-07-31 21:27] Adam-it commented on #3300
putting this on hold before we agree on some on the approach here
https://github.com/pnp/cli-microsoft365/issues/3540

[2022-07-31 21:27] Adam-it commented on #3539
putting this on hold before we agree on some on the approach here
https://github.com/pnp/cli-microsoft365/issues/3540

[2022-07-31 21:28] Adam-it commented on #3542
putting this on hold before we agree on some on the approach here
https://github.com/pnp/cli-microsoft365/issues/3540

[2022-07-31 21:28] Adam-it commented on #3543
putting this on hold before we agree on some on the approach here
https://github.com/pnp/cli-microsoft365/issues/3540

[2022-07-31 22:34] martinlingstuyl commented on #3544
Fantastic @milanholemans!

[2022-08-01 13:57] milanholemans commented on #3544
Small note, I'm going to wait to work on this until https://github.com/pnp/cli-microsoft365/pull/3535 is completed to avoid merge conflicts.

[2022-08-01 14:12] milanholemans opened #3545 "Enhancement: extend `spo group get` to get a single associated group"
Extend the `spo group get` command to get associated groups.

Option | Description
-- | --
`--associatedGroup [associatedGroup]` | Retrieve an associated group: `Visitors`, `Members` or `Owners`.

### Examples

Get the associated owner group of a specific site

[code]

### Additional Info
#### Requests

##### Visitors
[code]

##### Members
[code]

##### Owners
[code]

[2022-08-01 14:19] milanholemans opened #3546 "Enhancement: extend `spo group list` to retrieve associated groups"
Extend the command `spo group list` to retrieve all associated groups.

Option | Description
-- | --
`--associatedGroupsOnly` | Get only the associated visitor, member and owner groups of the site.

### Examples

List all associated groups for a specific site

[code]

### Additional Info
#### Request
[code]

[2022-08-01 16:31] martinlingstuyl commented on #3545
Hi @milanholemans, thanks for bringing this up! I agree that we need a way to easily get associated groups. I'm not sure we should add an extra set of commands for it though. I think it would be better to add it to the existing `spo group` commands, using options.

For example: pnp.PowerShell has the `-AssociatedOwnerGroup` (etc) options. What would you think of it if we would add that in the same

[2022-08-01 16:34] martinlingstuyl commented on #3546
Following my comment on #3545, what would you think if we added an extra option to spo group list instead?

Using something like `spo group list --associatedGroups`, we'd get all associated groups.

[2022-08-01 16:36] milanholemans commented on #3546
That's also fine by me, I'll update the specs. 😃

[2022-08-01 16:46] milanholemans commented on #3545
Currently I'm also looking for a decent endpoint to update the associated groups, but unfortunately I haven't found any working request yet.

[2022-08-01 17:14] milanholemans commented on #3545
When everything is ok, I'd like to work on this.

[2022-08-01 17:14] milanholemans commented on #3546
When everything is ok, I'd like to work on this.

[2022-08-01 17:38] martinlingstuyl commented on #3545
I'd like an additional opinion before we go on this. @pnp/cli-for-microsoft-365-maintainers ?

[2022-08-01 18:13] martinlingstuyl commented on #3546
I'd like an additional opinion before we go on this. @pnp/cli-for-microsoft-365-maintainers ?

[2022-08-01 23:19] Adam-it commented on #3546
I am not sure if this is exactly the thing we are looking for but if we do `--withGroups` option in `m365 spo web get` we will get the same thing I guess 🙂
example outcome in my case
[code]

besides that I suppose the spec is ok 👍

[2022-08-01 23:32] Adam-it commented on #3545
seems like pretty sweet idea 👍.
@milanholemans I think in spec example we are missing `spo`  before `group` keyword.
Also I think it should not be possible to specify more then one option like `--associatedOwnerGroup` and `--associatedMemberGroup` as the get command should return just one single group.
So I guess we should add to the spec that 'only one not multiple ... (kind of conditional descri

[2022-08-01 23:33] Adam-it commented on #3546
here in the example we also missed the `spo` keyword

[2022-08-01 23:45] milanholemans commented on #3546
Aw I totally missed that. According to me it's not really logical to use the web command to get associated groups. Otherwise I wouldn't have missed it :smile:

[2022-08-01 23:52] milanholemans commented on #3545
Totally agree. One option with 3 values looks more convenient because only 1 flag should be specified.

[2022-08-02 05:54] Adam-it commented on #3546
@milanholemans I suppose it was added to `spo web` command as it was closest to what we have on SP API 🤔.
if you are interested I think it was all decided here 👉 https://github.com/pnp/cli-microsoft365/issues/2219#issuecomment-858373096
Anyway for me it's totally fine if we also add it to `spo group list` command and have it in both places for now. As a user I would also look for possibility to ge

[2022-08-02 05:56] Adam-it commented on #3545
cool, agreed then 👍. Now the hard part begins 😨👉 How should we name this option ?🤔
Any suggestion?

[2022-08-02 09:59] milanholemans commented on #3545
Your proposal --associatedGroup sounds already good to me.

[2022-08-02 16:00] martinlingstuyl commented on #3540
Ok, so let's conclude that we at least need all the commands for each entity: web, list, listitem, file and folder.

Below the hood we can let them use shares code to minimize repeating ourselves.

So @Adam-it, I believe you can remove the on hold label from the related issues.

Separately from these we might add the commands in the central spo namespace as well, but I am not convinced that really

[2022-08-02 16:09] Adam-it commented on #3540
Ok
 Will get back to this topic today during my open source time 👍

[2022-08-02 16:15] martinlingstuyl commented on #3512
@garrytrinder or @waldekmastykarz also OK with this setup?

[2022-08-02 21:54] Adam-it commented on #3545
BTW. You rock 🤩

[2022-08-02 22:38] Adam-it opened #3547 "New command: 🔐 spo web roleinheritance break"
### Usage

m365 spo web roleinheritance break [options]

### Description

break inheritance of subsite. Keeping existing permissions is the default behavior.

### Options

Option | Description
-- | --
`-u, --webUrl <webUrl>` | URL of the site
`-c --clearExistingPermissions` | Flag if used clears all roles from the web
`--confirm` | Don't prompt for confirmation

### Examples

break role inheritanc

[2022-08-02 22:47] Adam-it opened #3548 "New command: 🔐 spo web roleinheritance reset"
### Usage

m365 spo web roleinheritance reset [options]

### Description

reset inheritance of subsite.

### Options

Option | Description
-- | --
`-u, --webUrl <webUrl>` | URL of the site

### Examples

reset role inheritance on web

[code]

### Additional Info

I did some research and for this command we may use the POST request
[code]

[2022-08-02 23:00] Adam-it opened #3549 "New command: 🔐 spo web roleassignment add"
### Usage

m365 spo web roleassignment add [options]

### Description

adds a role assignment to web permissions

### Options

Option | Description
-- | --
`-u, --webUrl <webUrl>` |  URL of the site
`--principalId [principalId]` |  SharePoint ID of principal it may be either user id or group id we want to add permissions to. Specify principalId only when upn or groupName are not used.
`--upn [upn]

[2022-08-02 23:05] Adam-it opened #3550 "New command: 🔐 spo web roleassignment remove"
### Usage

m365 spo web roleassignment remove [options]

### Description

removes a role assignment from web permissions

### Options

Option | Description
-- | --
`-u, --webUrl <webUrl>` |  URL of the site
`--principalId [principalId]` |  SharePoint ID of principal it may be either user id or group id we want to add permissions to. Specify principalId only when upn or groupName are not used.
`--u

[2022-08-02 23:24] Adam-it opened #3551 "🔐 set alias for `listitem roleinheritance break/reset` to `file` and `folder` namespace"
currently we have a perfectly working command [listitem roleinheritance break](https://github.com/pnp/cli-microsoft365/blob/main/src/m365/spo/commands/listitem/listitem-roleinheritance-break.ts) and [listitem roleinheritance reset](https://github.com/pnp/cli-microsoft365/blob/main/src/m365/spo/commands/listitem/listitem-roleinheritance-reset.ts) which will also allow to break/reset role inheritanc

[2022-08-02 23:30] Adam-it commented on #3540
ok @martinlingstuyl I added most of the issues for other commands, now lets discuss the spec issue by issue an start coding 😉.
I know there are still some commands without an issue but as for the alias for  `role assignment` lets wait for those to be done on listItem level first. As for the 'Update a role definition' I need to spend a bit more time to figure out how we may update the permissions (

[2022-08-03 05:33] quantrpeter commented on #3547
i want to use this command, how to? the @next version seems don't have it

[2022-08-03 06:37] Adam-it commented on #3547
@quantrpeter thanks for reaching out 👍
This is still an opened issue so it means it was not developed yet and we plan to do so in near future by either one of the maintainers or our awesome contributors 🤩.
Currently CLI supports breaking role inheritance
on list/lib 👉 https://pnp.github.io/cli-microsoft365/cmd/spo/list/list-roleinheritance-break/
and listitem/file/folder/page level 👉https://pnp.gi

[2022-08-03 06:46] quantrpeter commented on #3547
Shall I pickup the dev? My customer need this command. If yes please tell me how to start? any dev guide?

[2022-08-03 06:46] quantrpeter commented on #3547
Shall I pickup the dev? My customer need this command. If yes please tell me how to start? any dev guide?

[2022-08-03 07:01] Adam-it commented on #3547
@quantrpeter this one is not yet ready to start development. Let's give it 1-2 days more for any other maintainer to give it a check and lets see if we should correct/add something to the spec or we can start working on this one.
It will be labeled with 'help wanted' label when this one is ready to be developed. 👍

📚 Here is some general guidance on how to contribute to our repo and add a new comm

[2022-08-03 07:53] waldekmastykarz commented on #3547
Spec seems solid. Let's do it! 🚀

[2022-08-03 08:00] Adam-it commented on #3547
@quantrpeter this one is ready to be developed. Are you still interested in coding this one? Should I assign it to you?
Let me know if you will need any help to start 👍

[2022-08-03 08:45] quantrpeter commented on #3547
yes, please, very interest

[2022-08-03 10:23] Adam-it commented on #3547
done ✔.
let me know if you will need any help to start 👍

[2022-08-03 15:27] garrytrinder commented on #3512
Ship. It. 🚀

[2022-08-03 20:08] martinlingstuyl commented on #3532
Sure @nanddeepn, thanks for all the work!

[2022-08-03 21:07] michaelmaillot opened #3555 "Bug report: [`aad app add`] delegated and application permissions as options are skipped when using a manifest"
### Description

Like mentioned [here](https://github.com/pnp/cli-microsoft365/pull/3455#discussion_r936721199):

### Steps to reproduce

1. create an Azure AD app manifest file which will contain `requiredResourceAccess` property, and save it locally:

[code]

Permissions requested in the file:

Microsoft Graph - Group.ReadWrite.All (Application)
SharePoint - AllSites.FullControl (Delegated)

2.

[2022-08-03 21:22] martinlingstuyl commented on #3555
Thanks for raising this @michaelmaillot! Again: good catch 👏

I'm all for following what the docs currently state:

If `--apisDelegated` is specified, this should override the delegated scopes from the manifest.

If `--apisApplication` is specified, this should override the app only scopes from the manifest.

[2022-08-03 21:23] martinlingstuyl commented on #3555
By the way, does it mean that ALL options are overridden? Not only the scopes...

[2022-08-03 22:28] martinlingstuyl commented on #1492
Good point @waldekmastykarz,

In the meantime I've not sat still. - In 5.5 and onwards we have the temporary `All` type as a graceful fallback in the consolidation between `site list` and `site classic list`. `Site classic list` is still available in this stage as well.
- for v6 I removed the Default value of `type`, and also removed the temporary `All` type. So by default it will list all sites,

[2022-08-04 14:24] garrytrinder opened #3556 "Enhancement: Add support for upgrading SPFx projects to v1.15.2"

[2022-08-04 19:29] martinlingstuyl commented on #3533
Hi @jayarau,
You no longer have to install the beta version. The fix @Jwaegebaert mentioned is now live in version 5.5 which you can install by running `npm i -g @pnp/cli-microsoft365@latest`.

I assume this has solved your problem and am closing this issue. If you still experience the issue despite installing v5.5, please feel free to open it again. 👍

[2022-08-04 19:29] #3533 closed

[2022-08-04 23:08] milanholemans opened #3558 "Enhancement: Make `spfx doctor` compatible with SPFx v1.15.2"
Update `spfx doctor` command so it works for SPFx v1.15.2.

[2022-08-04 23:08] milanholemans commented on #3558
Willing to work on this one.

[2022-08-04 23:18] milanholemans opened #3560 "Enhancement: Make `spfx project doctor` compatible with SPFx v1.15.2"
Update `spfx project doctor` command so it works for SPFx v1.15.2.

[2022-08-04 23:18] milanholemans commented on #3560
I'm willing to work on this one.

[2022-08-05 03:12] plamber commented on #3560
Duplicate of #3558

[2022-08-05 03:25] #3349 closed

[2022-08-05 03:25] #3353 closed

[2022-08-05 03:25] #3545 closed

[2022-08-05 09:08] milanholemans commented on #3560
Hi @plamber

I think you made a mistake. This issue is about the 'spfx **project** doctor'. The referenced issue is about the command `spfx doctor`.

[2022-08-05 10:56] #3526 closed

[2022-08-05 15:50] michaelmaillot commented on #3555
Mind crossing @martinlingstuyl: I just though about that also, few hours after submitting the issue 😄

So I've tested all command options along with the manifest file, with or without related properties. Globally, the behavior described in the command documentation is wrong. Below my tests results:

`--multitenant`
  Skipped if mentioned in the manifest

`--platform` / `--redirectUris`
  Skipped e

[2022-08-05 16:07] martinlingstuyl commented on #3555
👏 Thanks for clearing that up @michaelmaillot 😅. Although probably not many people will stumble across this buggy behavior, it seems right to align it to the docs as fast as possible.

[2022-08-05 16:10] martinlingstuyl commented on #3555
Did you get to the bottom of the error with the scope options?

[code]

Suggests to me that it tries to update after the initial creation. Which seems to be close to what the docs specify as expected behavior.

[2022-08-06 10:04] michaelmaillot commented on #3555
Right, in fact there's a patch request called, in the `configureUri()` method once app created.

But if the manifest contains `oauth2Permissions` property, it's first updated with those.

Then the `configureUri()` method also try to update the app if the `--scopeName` command option is mentioned.

According to me, two possibilities:

- CLI documentation should warn about that to indicate that user

[2022-08-06 16:12] milanholemans commented on #3490
Great suggestion! Maybe we could also include a section called **Affected command(s)**?

[2022-08-06 21:11] Adam-it commented on #3548
@pnp/cli-for-microsoft-365-maintainers I think this spec is quite straight forward ? I think we may open it up if you agree and I could take it.

[2022-08-06 21:12] Adam-it commented on #3542
@pnp/cli-for-microsoft-365-maintainers any additional comment here ? if it is ok I may take this one.

[2022-08-07 06:37] martinlingstuyl commented on #3548
Looks great, but could you change the word subsite into web or site?

[2022-08-07 07:28] Adam-it commented on #3548
"Yes we can".
But won't it be misleading for the end user as actually you may break role inheritance on a subweb/site which inherits from parent which will be root web 🤔

[2022-08-07 07:33] Adam-it commented on #3542
@martinlingstuyl any comment here ? I think this could be also more or less be started right?
Then the same on web and listitem will be very similar so when this will be done and pushed we could mark the other one as 'good first issue'

[2022-08-07 08:07] martinlingstuyl commented on #3542
It looks fine! I'd say: let's open it up!

[2022-08-07 08:13] martinlingstuyl commented on #3548
Oh wait, maybe you're correct! Subsite it is :)

[2022-08-07 15:21] nicetohaveyou opened #3565 "m365 : The term 'm365' is not recognized as the name of a cmdletBug"
### Description

PS C:\POC\react-teams-lead-dashboard> npm i -g @pnp/cli-microsoft365
C:\Program Files (x86)\Nodist\bin\microsoft365 -> C:\Program Files (x86)\Nodist\bin\node_modules\@pnp\cli-microsoft365\dist\index.js
C:\Program Files (x86)\Nodist\bin\m365 -> C:\Program Files (x86)\Nodist\bin\node_modules\@pnp\cli-microsoft365\dist\index.js
C:\Program Files (x86)\Nodist\bin\m365_comp -> C:\Progra

[2022-08-07 18:03] martinlingstuyl commented on #3565
Hi @nicetohaveyou,

Thanks for reaching out to us!

**Question**: I see a slightly irregular nodejs folder (C:\Program Files (x86)\Nodist\bin) Could you verify that it is included in your PATH variable. That's probably the reason the m365 command does not resolve to its executable.

[2022-08-07 18:08] Adam-it commented on #3548
Ok @martinlingstuyl then if you have bo other comments then I will take this one for today

[2022-08-07 18:09] Adam-it commented on #3542
Ok taking this one as well

[2022-08-07 20:43] Adam-it commented on #3551
@waldekmastykarz how could I go about it 🤔?
do we already have somewhere aliases in the CLI used? Thanks for any tip which will point me in the right direction.
@pnp/cli-for-microsoft-365-maintainers any additional comments on how we should approach this?

[2022-08-08 14:38] Jwaegebaert commented on #2166
I can work on this one 😄

[2022-08-08 14:40] Jwaegebaert commented on #2166
Does the CLI sponsor `Material for MKDocs`?

Because the usage of this enhancement is for sponsors only. [Using card grids](https://squidfunk.github.io/mkdocs-material/reference/grids/#using-card-grids)

[2022-08-08 14:46] garrytrinder commented on #2166
Good catch @Jwaegebaert, unfortunately we are not sponsors, so this would enhancement would not be available for us to use, however that doesn't mean we cannot attempt to replicate the grid used on the PnP site.

Would you still like to take this up?

[2022-08-08 14:50] Jwaegebaert commented on #2166
No problem at all 😄
I will reconstruct the same one used on the PnP site.

[2022-08-08 15:58] quantrpeter commented on #3547
sorry is these steps correct?
1. i fork this repo
2. create a file call "web-break-inhreitance.ts" in src/m365/spo/commands/web
3. fire a pull request
4. done

[2022-08-08 16:33] #3556 closed

[2022-08-08 16:33] #3560 closed

[2022-08-08 18:40] Adam-it commented on #3547
@quantrpeter close 😉.
1. yes ✅
2. not enough. the command file name should be web-roleinheritance-break.ts. And also this is not the only file/change required. Please double check the [Adding new command wiki page](https://github.com/pnp/cli-microsoft365/wiki/Adding-a-command). Also a couple of days ego I created a very similar PR for the reset command so you may also double check with this one wh

[2022-08-09 10:56] #3409 closed

[2022-08-09 12:02] Jwaegebaert opened #3572 "Enhancement: Include fast serve helpers with `spfx project upgrade` v1.15.2"
Include a rule within the file `upgrade-1.15.2.ts` to update the package `spfx-fast-serve-helpers` to the correct version. [version matrix](https://github.com/s-KaiNet/spfx-fast-serve/blob/master/docs/VersionMatrix.md)
Important to note, there is no correlation between patch versions, only major and minor version should match between the SPFx version and the fast serve helpers version.

Originates

[2022-08-10 04:30] nanddeepn commented on #3170
Can I work on this?

[2022-08-10 11:34] Jwaegebaert commented on #3340
I can work on this one

[2022-08-10 16:28] martinlingstuyl commented on #3340
Go for it jasey!

[2022-08-10 19:34] martinlingstuyl commented on #3430
I was thinking of picking this up myself @milanholemans, thanks the offer and continued support though!

[2022-08-10 19:56] martinlingstuyl opened #3575 "Extend spo file add command to be able to add files from memory"
Currently we can only add files that we have on disk. See: [spo file add](https://pnp.github.io/cli-microsoft365/cmd/spo/file/file-add/)

Would it be an idea to be able to add files from memory, eg adding them as a base64 string?

Option | Description
-- | --
`-p, --path [path]` | Local path to the file to upload. Use `path` or `fileBase64Encoded`, but not both.
`--fileBase64Encoded [fileBase64Enc

[2022-08-10 20:55] milanholemans commented on #3430
Oh that's a pity, already started working on this today. Already refactored the base functions etc., was refactoring all commands and tests right now. It is what it is, I'll look for another issue to work on.

[2022-08-11 09:36] martinlingstuyl commented on #3430
Ok, that's a bummer. You know what: you take it anyway, I have enough things to do and would not be able to do it soon.

1 question: could you come back to us soon on how you have created the basic setup so that we can validate that this is the way forward?

[2022-08-11 09:52] Adam-it commented on #3551
ok I got an advice on how to do it from @garrytrinder , @plamber , @arjunumenon on a call 👍.
I will assign it to myself and do it

[2022-08-11 13:33] waldekmastykarz commented on #3575
What would be the use case for it? How would user get a base64-encoded string of file to pass as an argument for this option?

[2022-08-11 13:58] arjunumenon commented on #3546
Pardon me for coming to the party pretty late.

Initial thought process in the discussion over here was not bring Associated Groups to the group details since logically that is part of the Web even the API as well.

I would like to bring in a different angle here. IF my understanding is correct, if we give the parameters `--associatedGroups`, result will fetch only the associated groups and not al

[2022-08-11 14:17] arjunumenon commented on #3170
Thanks @nanddeepn for the support.
Guess @kevmcdonk had [shown the interest](https://github.com/pnp/cli-microsoft365/issues/3170#issuecomment-1078960883) in working on this while creating the specs for this command. Do you still want to work? If not, I can request Nanddep to work on that

[2022-08-11 14:22] kevmcdonk commented on #3170
Please do pick up the work. I have a fork with a lot of the work but my knowledge of testing in Node made it a lot harder than I had hoped! Very happy to answer any questions

[2022-08-11 14:30] arjunumenon commented on #3170
Thanks @kevmcdonk. Totally appreciate informing us ❤.  Look forward for taking another issue and I am sure you are gonna crack the difficulties which you are having. Please feel free to let us know if you need any help on that front.

Thanks @nanddeepn for your help. I have assigned the issue to you. All yours!

[2022-08-11 14:37] nanddeepn commented on #3170
Thanks @arjunumenon and @kevmcdonk ❤
I am too on learning path with writing test cases.

[2022-08-11 15:40] Ofer-Gal opened #3577 "Error: CLI for Microsoft 365 doesn't support upgrading SharePoint Framework projects to version 1.15.2."
### Description

I wanted to upgrade from 1.15.0 to 1.15.2 but got the error:
Error: CLI for Microsoft 365 doesn't support upgrading SharePoint Framework projects to version 1.15.2.  Supported versions are 1.0.0, 1.0.1, 1.0.2, 1.1.0, 1.1.1, 1.1.3, 1.2.0, 1.3.0, 1.3.1, 1.3.2, 1.3.4, 1.4.0, 1.4.1, 1.5.0, 1.5.1, 1.6.0, 1.7.0, 1.7.1, 1.8.0, 1.8.1, 1.8.2, 1.9.1, 1.10.0, 1.11.0, 1.12.0, 1.12.1, 1.13.0,

[2022-08-13 09:37] martinlingstuyl commented on #3546
I like the idea @arjunumenon, this would be OK for me as well.

[2022-08-14 08:12] #2166 closed

[2022-08-14 08:12] #3300 closed

[2022-08-14 08:12] #3340 closed

[2022-08-14 08:12] #3542 closed

[2022-08-14 08:12] #3548 closed

[2022-08-14 12:28] waldekmastykarz commented on #3153
If I remove all properties and leave just `displayName`, it works as intended. While there's no error, I suspect that the issue is caused by the payload including properties that can't be updated. I'd suggest that you have a look at the list of supported properties at `https://docs.microsoft.com/en-us/graph/api/application-update?view=graph-rest-1.0&tabs=http#request-body` and transform the manife

[2022-08-14 12:29] waldekmastykarz commented on #3218
Since the refactoring in #3409 is merged, I'll pick up working on this issue.

[2022-08-14 13:06] #2696 closed

[2022-08-15 05:18] waldekmastykarz commented on #1492
I like the idea of simplifying retrieving site a lot. While I don't have the exact numbers, my gut feeling tells me that fewer and fewer folks use classic site these days. That said, we should still support retrieving them.

One issue I see with using human-readable values instead of webTemplate is multilingual. I reckon we'd use en-US values, but if someone is using a different locale, how would

[2022-08-15 07:59] Adam-it commented on #3550
hey @pnp/cli-for-microsoft-365-maintainers since this one was already merged https://github.com/pnp/cli-microsoft365/pull/3567 and the one in this issue is very similar just on the web level. Maybe no discussion is needed, and we could open it up and I could take it 😉?

[2022-08-15 08:00] Adam-it commented on #3549
hey https://github.com/orgs/pnp/teams/cli-for-microsoft-365-maintainers since this one was already merged https://github.com/pnp/cli-microsoft365/pull/3563 and the one in this issue is very similar just on the web level. Maybe no discussion is needed, and we could open it up and I could take this one as well 😉?

[2022-08-15 08:01] Adam-it commented on #3543
@pnp/cli-for-microsoft-365-maintainers same here. Very similar to the one already merged.
https://github.com/pnp/cli-microsoft365/pull/3567 just different level?
anyone has any comments? if not maybe I could take it ?

[2022-08-15 14:15] DonKirkham commented on #3541
I have forked and reviewed the cli-microsoft365 project. I would welcome someone to walk me through the code around SPFx Doctor to make sure I understand it before I start making changes. I am in US Central Tiem Zone, but am up early, so could meet at a reasonable time for Europeans. @rabwill @waldekmastykarz @garrytrinder

[2022-08-15 14:26] waldekmastykarz commented on #3541
We're checking the version of gulp here: https://github.com/pnp/cli-microsoft365/blob/8be35f8e6bdd61842a7e60df56697789836339b9/src/m365/spfx/commands/spfx-doctor.ts#L591-L603. At minimum, we'd need to replace gulp with gulp-cli in lines 593 and 596. Ideally, we'd make it clearer and replace all occurrences of gulp with gulp-cli or gulpCli, where it's used as a property/variable name.

[2022-08-15 14:29] waldekmastykarz commented on #3512
Why does a resource need to be a separate option rather than something that we'd resolve using the existing logic?

[2022-08-15 14:33] waldekmastykarz commented on #3512
Also, for headers, have we researched the ability to use key-value pairs instead of a JSON string (which would be pretty inconvenient to type)?

[2022-08-15 15:12] waldekmastykarz commented on #3543
Looks good to me.

[2022-08-15 15:12] waldekmastykarz commented on #3550
Since it's a remove command, we should add the `--confirm` option

[2022-08-15 15:40] plamber commented on #3550
Hi @Adam-it,
I just noticed that we merged #3542 without confirm option. Do you want to create a separate issue to extend that command too?

Thank you,
Patrick

[2022-08-15 16:31] Adam-it commented on #3550
Sure np. Or better I will just add it when adding code for this command

[2022-08-15 16:33] martinlingstuyl commented on #3512
Hi Waldek,
We do resolve it using the existing logic.
We added the resource option as there are cases where the resource url differs from the api endpoint. We cover a few of those situations in the CLI (for example with the power platform urls and https://management.azure.com) but there might be cases that we have missed till now. The resource option offers a little extra flexibility in those case

[2022-08-15 16:34] martinlingstuyl commented on #3512
Good point, I did not... (making a mental note)

[2022-08-15 17:06] Adam-it commented on #3550
Will update the spec and take this one

[2022-08-15 17:54] Adam-it commented on #3543
just added the confirmation option to the spec and will be taking this one

[2022-08-15 18:01] waldekmastykarz commented on #3512
If we allow people to specify the resource, we'll need to find a way either to pass the retrieved access token into the request while suppressing the automatic token retrieval based on the detected resource. One way around it might be to pretend that the request is anonymous using the custom `x-anonymous` header that we strip before issuing the request but which skips the token retrieval part.

As

[2022-08-15 18:34] #2563 closed

[2022-08-15 18:50] martinlingstuyl commented on #3512
Check my PR 😇 @waldekmastykarz.

I considered x-anonymous, but seeing the use cases I chose another route: injecting the accesstoken as a part of the AxiosRequestConfig. A minimal change, but OK as far as I can see.

[2022-08-16 07:31] waldekmastykarz commented on #3512
I added my comments on the PR 👍

[2022-08-16 10:59] waldekmastykarz commented on #3549
Looks good! Ship it!

[2022-08-16 21:51] #3416 closed

[2022-08-17 12:34] Jwaegebaert opened #3582 "Add dark theme support for Team page"
Extends the docs Team page to support dark theme. Currently the Team cards are difficult to read when dark theme is selected.

![afbeelding](https://user-images.githubusercontent.com/38426621/185123961-3fa4dd15-06c2-4517-80c2-97deb4721fe1.png)

[2022-08-17 12:56] waldekmastykarz commented on #3582
Good catch! Also, let's spell out "CLI for Microsoft 365" in the first paragraph.

[2022-08-17 12:59] Jwaegebaert commented on #3582
Good suggestion! I will pick this one up if that's alright.

[2022-08-17 14:45] GowthamSingriRamesh commented on #2137
Dear All,

I am currently facing the below issue while I am trying to setup Azure DevOps (CI/CD).

m365 spo app add --filePath D:\a\r1\a/abc/drop/drop/SharePoint/solution/helloworld.sppkg --scope sitecollection --appCatalogUrl https://**siteurl**/Appcatalog --debug --overwrite
========================== Starting Command Output ===========================
##[command]"C:\Windows\system32\cmd.exe" /D

[2022-08-17 15:55] martinlingstuyl commented on #3582
Right! Go for it @Jwaegebaert!

[2022-08-17 18:01] waldekmastykarz opened #3584 "Error when adding SPFx package to app catalog"
Dear All,

I am currently facing the below issue while I am trying to setup Azure DevOps (CI/CD).

m365 login -t password -u $username -p $password step is successful. However, facing issue while adding package to appcatalog.

m365 spo app add --filePath D:\a\r1\a/abc/drop/drop/SharePoint/solution/helloworld.sppkg --scope sitecollection --appCatalogUrl https://**siteurl**/Appcatalog --debug --over

[2022-08-17 18:02] waldekmastykarz commented on #2137
@GowthamSingriRamesh I created a new issue #3584 with your question. Let's continue the discussion there

[2022-08-18 07:56] Jwaegebaert opened #3586 "Broken links to completion page"
Currently, there are a few broken links within the docs that should forward to the [completion page](https://pnp.github.io/cli-microsoft365/user-guide/completion/).

Example of this is the page [cli completion clink update](https://pnp.github.io/cli-microsoft365/cmd/cli/completion/completion-clink-update/#more-information). At the bottom of the page, under the section `More information`, it redire

[2022-08-18 08:12] waldekmastykarz commented on #3546
Since you can have only one of each group type, I think adding a property that would be empty for all but three groups, wouldn't be intuitive.

If the scenario is to retrieve information about groups associated with the specific site, then we could either consider using the existing functionality of `spo web get`, which I understand is not intuitive if groups are top of mind for you, or extend the

[2022-08-18 08:13] waldekmastykarz commented on #3551
Would you mind sharing it here for future reference and evaluation of the PR?

[2022-08-18 08:17] waldekmastykarz commented on #3586
Ouch, good find. Thank you for bringing this up

[2022-08-18 08:24] waldekmastykarz opened #3587 "Add support for signing in using multiple accounts"
Add support for signing in using multiple accounts. MSAL supports this capability natively so we can build on top of it.

- [x] research if switching accounts is possible between app-only and delegated or only delegated
- [ ] change the `login` command so that it doesn't log out previously signed in user. Also, after signing in, it adds the identity to the list of available connections (if it wasn

[2022-08-18 08:45] waldekmastykarz commented on #3098
What's the difference in the output between 1 and 2? In both cases you mention .devcontainer.json/dockerfile, so I'm not sure why we'd need two separate commands.

[2022-08-18 08:46] waldekmastykarz commented on #3097
Setting as available to pick up due to lack of response

[2022-08-18 10:01] Adam-it commented on #3551
yes. Sorry for not being specific about it 😉.
So the idea is to use alias similar like we have between  user add and o365Group user add commands

https://github.com/pnp/cli-microsoft365/blob/9e8cf995cbc329344bc7ac3f7ef1a8a5ba8e938a/src/m365/aad/commands/o365group/o365group-user-add.ts#L29

[2022-08-18 10:14] arjunumenon commented on #3546
My thought process was in same line like that of a ✅ kind of output where you can get the associated groups as well. But yeah, like you said, if there are say 10 groups, this gets applicable only to 3 groups which will be less intuitive.

Personally I would not mind getting the associated groups within the scope of Web. But totally get the opinions of other users since groups are expected to be un

[2022-08-18 10:58] arjunumenon opened #3588 "Bug report: Docs | Example for `aad app set` does not have `AppId` Option while setting certificate and does not have quotes before Certificate Path"
### Description

Refer the Example for **Add a certificate to the app** in the [`aad app set`](https://pnp.github.io/cli-microsoft365/cmd/aad/app/app-set/#examples).
Command should have the option `--appId`. The command does not have the option available.

### Steps to reproduce

- Go to [`aad app set`](https://pnp.github.io/cli-microsoft365/cmd/aad/app/app-set/#examples) page
- Check Example for

[2022-08-18 11:11] garrytrinder commented on #3587
Nice suggestion @waldekmastykarz some thoughts from me.

Did you mean `m365 identity set`?

Could we extend the `login` command with an optional `--identityName` property, so the user can define a name that is relevant to them?

This might be assumed but the `login` command should add the identity to a pool of signed in users

[2022-08-18 12:40] waldekmastykarz commented on #3587
Yes! Updated

Possibly. I'd suggest that we first look at what's available to us from MSAL and if that's sufficient or if we need something on top. I wonder if something like user name or app name would be sufficient, or maybe even we could make the `identity set` command interactive so that you can select the identity from the list and don't need to memorize anything.

Yes

[2022-08-18 12:44] waldekmastykarz commented on #3546
We can expose both options and over time could measure which one is used more frequently.

[2022-08-18 12:46] waldekmastykarz commented on #3551
So the idea is to use alias similar like we have between user add and o365Group user add commands

Understood. For a file or folder, wouldn't you expect to be able to manage permissions through their name, which wouldn't be applicable to a list item? If so, that would require to introduce an option that's relevant only for some aliases, which might end up confusing. Any thoughts on that?

[2022-08-18 12:54] martinlingstuyl commented on #3546
+1 but with s before Only: `--associatedGroupsOnly`

[2022-08-18 13:07] nanddeepn commented on #3097
Can I work on this?

[2022-08-18 14:47] martinlingstuyl commented on #3587
I like it @waldekmastykarz.

So when you have logged in to four accounts and you log out of the active identity, what will `m365 status` return?

[2022-08-18 14:51] waldekmastykarz commented on #3587
Good question @martinlingstuyl! We can either pick one from the list (last or first for example) or introduce another status and prompt user to select an identity. Which one do you think would be more intuitive?

[2022-08-18 14:52] martinlingstuyl commented on #3588
Good catch @arjunumenon, luckily a quick fix...

[2022-08-18 15:07] martinlingstuyl commented on #3512
Hi @waldekmastykarz,

I'm playing with the idea to use unknown options for the headers.
This would greatly simplify writing them down.

[code]

Combined with `allowUnknownOptions`, I've tested it and this:

[code]

prints the following:
[code]

What do you think about that? I think its better than string key value pairs.
The only question is what we do with the contentType option. Keep it on the c

[2022-08-18 15:15] martinlingstuyl opened #3589 "Enhancement: Add ability to send emails from a specified account or inbox"
The command `m365 outlook mail send` does not support app only permissions. It can only be used in delegated mode.
It can also not be used to send mail from a shared mailbox.

This issue is about adding extra options to overcome these limitations.

Option | Description
--|--
`--sender [sender]` | The upn or user id of the account that sends the email. Defaults to the signed in user.
`-m, --mailbox

[2022-08-18 15:18] martinlingstuyl commented on #3587
I think it would be best to **not** auto-select another identity. This could be rather dangerous 😀

[2022-08-18 15:31] waldekmastykarz commented on #3587
Good point. I'll update the spec.

[2022-08-18 15:34] waldekmastykarz commented on #3589
When passing the `from` option, we should detect in the command if CLI is logged in using an app-only account and throw an error if it's not.

[2022-08-18 15:34] martinlingstuyl commented on #3098
The output is the same, the input is different though.

But OK, I'll let it rest. In that case this command might need a few extra properties though.

Option | Description
-- | --
`-v, --version [version]` | The version of SPFx to initialize a devcontainer for.
`-g, --generator [generator]` | The SPFx generator to use to initialize a devcontainer with. Allowed values: `Official`, `PnP`.

[2022-08-18 15:35] waldekmastykarz commented on #3588
Good catch! Also, let's wrap the cert path in quotes for completeness

[2022-08-18 15:36] waldekmastykarz commented on #3098
Understood. In that case having one command with options would be clearer indeed. I'd suggest we spell `official` (all lowercase)

[2022-08-18 15:39] waldekmastykarz commented on #3098
Shall we consolidate #3098 and #3460?

[2022-08-18 16:01] waldekmastykarz commented on #3488
Great idea. Let's do it!

[2022-08-18 16:41] martinlingstuyl commented on #3460
Closing as a duplicate of #3098

[2022-08-18 16:41] #3460 closed

[2022-08-18 16:44] martinlingstuyl commented on #3587
Also: how about interactively selecting an identity from a list using the arrow and enter keys?

[2022-08-18 17:29] milanholemans commented on #3589
Nice suggestion! If this issue fully discussed, maybe we could merge it with #3544.

[2022-08-18 18:09] waldekmastykarz commented on #3587
That's exactly what I meant. Let's see if we can do this using inquirer which we already use for prompts.

[2022-08-18 18:11] waldekmastykarz commented on #3589
Since both issues focus on distinct functionality, I'd say let's keep them apart. In here, we'll need some more refactoring beyond adding new properties to the existing payload.

[2022-08-18 18:13] waldekmastykarz commented on #3527
Great suggestion. We should definitely include the original error message which can be invaluable for debugging and finding more information about it on the internet.

[2022-08-18 18:15] waldekmastykarz commented on #3465
Great suggestion for a convenience command. I'd suggest adding `-i` to `--clientSideComponentId` and `-u` to `--webUrl`.

[2022-08-18 21:31] martinlingstuyl commented on #3527
I'll open it up!

[2022-08-18 21:33] martinlingstuyl commented on #3465
Updated it!

[2022-08-18 21:43] martinlingstuyl commented on #3512
I've updated the specs and fixed the PR.

[2022-08-18 23:21] Adam-it commented on #3551
TBH no 😅. I wasn't planning on extending the list of options with specific for files and folder. But if you feel like this would not make much sense we may abort this issue and open separate for each command for file and folder. Then in each command we may add the additional options to get for example file by name and use it's ID to pass to execute the already existing command for list item. That

[2022-08-18 23:35] Adam-it commented on #3587
Sorry for the late response.
I like the idea a lot 👍. Seems like it would give a lot of flexibility.
I wonder if we could introduce a new option which would apply to all commands (like --debug) which would allow to change the identity along the way executing the command, like `--identity`. I wonder if this would not give even more flexibility if user could just (optionally of course) specify some

[2022-08-19 06:53] waldekmastykarz commented on #3512
Very nice! 👏

[2022-08-19 06:54] waldekmastykarz commented on #3587
Interesting idea @Adam-it. What would be the use case for it?

[2022-08-19 06:57] waldekmastykarz commented on #3551
While it's a bit more work, it would be clearer to have separate commands and avoid confusion like "what is a file name for a list item?"

[2022-08-19 06:58] waldekmastykarz commented on #3465
It would be also helpful to have an example for the properties option, to make it clear what's the format that we're expecting.

[2022-08-19 06:59] waldekmastykarz commented on #3527
Before we invite others to help, shall we expand the spec and decide how we want to implement this?

[2022-08-19 08:29] garrytrinder commented on #3587
I like your idea @Adam-it, if we were to take a use case of sending an email using different identities, you could do this with three commands.

[code]

As apposed to using the proposed `identity set` command.

[code]

I think there is room for both options here.

[2022-08-19 08:43] Adam-it commented on #3551
@waldekmastykarz totally. I agree 👍 It  will be a lot more convenient for the users this way and this is what is most important 👍. I will close this issue indicate in the https://github.com/pnp/cli-microsoft365/issues/3540 issue that we should also add separate command for those 😉. I will create separate issues for each of those over the weekend as currently I am mainly over the phone trying to be

[2022-08-19 08:43] #3551 closed

[2022-08-19 08:45] Adam-it commented on #3540
as agreed with @waldekmastykarz for the file an folder we should not create alias but also separate command for each of those which will reuse the list item command in code and will expose file/folder specific options for user convivence 👍

[2022-08-19 08:57] Adam-it commented on #3587
@waldekmastykarz sorry for the not sufficient response. I am currently on holiday mainly over a phone 😋. I will try to catch up over the weekend when I will be two days out of the woods and next to some laptop 😅.
.... anyway. What @garrytrinder described is exactly what I had in mind. Good work @garrytrinder reading my thoughts ...magic powers I guess 🧙‍♂️😉.
@waldekmastykarz there is no really goo

[2022-08-19 10:43] waldekmastykarz commented on #3587
[code]

...might not even work reliably, because it sets identity system-wide, so if you were to run something else in parallel, you might get mixed identities.

I'd say that this is a separate use case that we investigate once we have the basics implemented.

Also, when we think about introducing a global option, we need to consider it being available on all commands, like `login`, `status`, `spf

[2022-08-19 11:17] garrytrinder commented on #3587
I'm happy with this.

[2022-08-19 11:27] arjunumenon commented on #3587
Love the idea about multiple identities ❤. Super handy for the consultants who handles gazillion of accounts and does IT Pro operations for them.

As an extension to the command, I was thinking whether we can  show which identity was used for executing command.
As a user who manages multiple tenants, and when I execute, I would love to see and confirm whether the command is executed against the ri

[2022-08-19 11:34] arjunumenon commented on #3588
That is a good catch too. Adding to that, I will also include in the description to update the [`m365 aad app add`](https://pnp.github.io/cli-microsoft365/cmd/aad/app/app-add/#examples) command examples to include quotes for the certpath for the command. We can take both the changes in the same PR.

[2022-08-19 11:40] arjunumenon commented on #3588
I am assigning the issue to myself and will initiate a PR right away

[2022-08-19 12:30] waldekmastykarz commented on #3587
Great idea! We should include it in the debug output. I'll add it to the spec.

How would that work in a script, where each command would prompt you to confirm the identity that you want to use if there are multiple signed in?

[2022-08-19 15:24] arjunumenon commented on #3587
That will be wonderful ❤

Here my thought process is show this output always when the output type is text.

So my understanding in the whole process is that, when you execute `m365 identity set --identity <identity>`, all the commands which follows after that will use that identity as default.

So that being the case, my thought process was to log the message `Executing as <identity>` to the conso

[2022-08-19 17:18] martinlingstuyl commented on #3527
Yeah, it's still kind of raw. You're right...

[2022-08-19 18:04] waldekmastykarz commented on #3587
Right, but that's just a log message, not a prompt, right? We could print it even in JSON output. As long as we send it to stderr it won't be mixed up with the command's output. We'd need to check though how it would work in PowerShell that has its own notion of output streams.

Would we show this message always, or only if there are multiple identities signed in? Also, would we show it always or

[2022-08-19 18:38] martinlingstuyl commented on #3589
By the way: it's possible that we can also use the from option in delegated mode. You'd have to have permissions on some inbox though.

I'll check it out. Maybe we can use it to send from shared mailboxes for example.

[2022-08-19 18:55] arjunumenon commented on #3587
Correct. It is just a message which shows before the execution of the command and gets console log.

My vote would be always irrespective of multiple identities to make it consistent irrespective of how many identities are available.

My vote would be to show it always in the verbose and debug. And in normal mode, it will show only if the config setting `alwaysShowExecutingIdentity` is true. Other

[2022-08-20 07:02] Adam-it opened #3593 "New command: 🔐 spo file roleinheritance break"
### Usage

m365 spo file roleinheritance break [options]

### Description

break inheritance of file. Keeping existing permissions is the default behavior.

### Options

Option | Description
-- | --
`-u, --webUrl <webUrl>` | URL of the site where the item for which to break role inheritance is located
`--fileUrl [fileUrl]` | The server-relative URL of the file to retrieve. Specify either url or id

[2022-08-20 07:03] Adam-it commented on #3593
@pnp/cli-for-microsoft-365-maintainers any comments on this one?

[2022-08-20 10:32] waldekmastykarz commented on #3587
Hey @pnp/cli-for-microsoft-365-maintainers, what do you think about Arjun's proposal to always include identity information?

[2022-08-20 10:36] waldekmastykarz commented on #3593
Following our naming conventions:

- Let's use `-u` for webUrl, as that's a common pattern that we use across commands
- `--url` should be `--fileUrl`, otherwise it would indicate `roleInheritanceUrl`, which it isn't, right?
- `--id`, should be `--fileId`, same as above
- in `listTitle` description we mention `listId` but we don't have it listed as an option

What does that mean exactly when it co

[2022-08-20 10:39] milanholemans commented on #3593
You could add `--listId` and `--listUrl` as well to cover all scenarios.

[2022-08-20 10:40] waldekmastykarz commented on #3589
Good point @martinlingstuyl

[2022-08-20 11:43] martinlingstuyl commented on #3587
I think it might give a lot of clutter in the logstream, on the other hand I agree that this can be life-saving information.

Two thoughts:
- @arjunumenon 's proposal: if the information is only available on `verbose` and `debug`, we'd still risk missing it. I'm usually only setting `verbose` or `debug` in specific scenarios where I want to see what happens. Might it be better to **always** show t

[2022-08-20 13:22] Adam-it commented on #3593
great suggestion 👍. I always keep forgetting the list Url as a third option for getting list. I guess I could along the way extend listItem with this option as well as I think I forgot to use it there 🤔
in the reset
https://pnp.github.io/cli-microsoft365/cmd/spo/listitem/listitem-roleinheritance-reset/
and break
https://pnp.github.io/cli-microsoft365/cmd/spo/listitem/listitem-roleinheritance-break

[2022-08-20 13:23] Adam-it commented on #3593
great feedback @waldekmastykarz 🤩
I updated the spec.
yes that's exactly what I had in mind when writing about the 'wrapper' 👍. I added this info as well.
let me know if there is something more we may add/correct 👍

[2022-08-20 13:46] Adam-it commented on #3587
+1 to always add in verbose and debug and to normal output when some config setting set to true which by default is false.

@martinlingstuyl very interesting idea with showing the warning message when first command executed 🤔. Should it only be shown when we have more than one identity logged in?. What if along the way we add or logout from some accounts. Should this warning be shown every time so

[2022-08-20 14:01] Adam-it opened #3595 "New command: 🔐 spo file roleinheritance reset"
### Usage

m365 spo file roleinheritance reset [options]

### Description

Restores the role inheritance of file

### Options

Option | Description
-- | --
`-u, --webUrl <webUrl>` | URL of the site where the file for which to reset role inheritance is located
`--fileUrl [fileUrl]` | The server-relative URL of the file to retrieve. Specify either file url or file id but not both
`-i, --fileId [file

[2022-08-20 14:01] Adam-it commented on #3595
@pnp/cli-for-microsoft-365-maintainers similar case for the `reset`.  Any comments on this one?

[2022-08-20 14:26] Adam-it commented on #3539
@pnp/cli-for-microsoft-365-maintainers any additional comments here 🤔?
I suppose very similar to the one on the list level which I already implemented and is merges so this one should be quite solid (https://github.com/pnp/cli-microsoft365/issues/3300).
maybe we could open it up?

[2022-08-20 15:16] martinlingstuyl commented on #3595
Looks great @Adam-it!

[2022-08-20 15:18] martinlingstuyl commented on #3595
Could you add an extra example of how the list options are used? And some extra comment on how those options are only applicable when using fileId?

[2022-08-20 17:26] waldekmastykarz commented on #3490
The main challenge with enhancements is that they vary a lot. When we come up with a template, let's see if we can apply it to some of the enhancements that we already have without replacing/removing big parts of it.

[2022-08-20 17:32] waldekmastykarz commented on #3587
Unfortunately, each CLI command is run standalone, and shells have no notion of a session, so I don't think we can do this.

[2022-08-20 17:55] waldekmastykarz commented on #3595
Let's update descriptions for `fileId` and `fileUrl` to be explicit which ID and URL we're referring to.

[2022-08-20 17:57] waldekmastykarz commented on #3539
Not sure about the `-i` and `-t` shorts, as `-i` could be pointing to either the ID of the list or the list item. Other than that, it's good to go 💪

[2022-08-20 17:58] waldekmastykarz commented on #3593
Looks good @Adam-it 🚀

[2022-08-20 18:41] martinlingstuyl commented on #3539
Updated the specs 👍

[2022-08-20 18:54] Jwaegebaert commented on #3490
Fair point, maybe it would be beter to change the wording to e.g. `Enhance command`. This could then narrow it a bit more for the user and allow us to create a template with more targeted questions/forms.

[2022-08-20 19:04] Jwaegebaert commented on #3586
I'll take this one up 😄

[2022-08-20 19:24] Adam-it commented on #3539
thanks @martinlingstuyl for updating the spec. I thought it's on me 😉. Lets open it up for others. I will try to catch up with what I currently have and if this still will be free I will take this one

[2022-08-20 19:26] Adam-it commented on #3593
ok let's open it up and if I will catch up with my current CLI work and this will be still free I will take it

[2022-08-20 19:38] Adam-it commented on #3595
@waldekmastykarz I updated the spec
@martinlingstuyl I actually made a mistake 😉. We don't need list information. File Unique Id or ServerRelativeUrl is enough to get the file

[2022-08-20 19:40] Adam-it commented on #3593
@waldekmastykarz, @milanholemans actually I just double checked and File UniqueId or ServerRelativeUrl is enough to get the file 😉. This is also how the `spo file get` command works which we may reuse here as well 😉.
I removed the list options. any additional comments before I open it up ?

[2022-08-20 20:10] gavdgavd opened #3597 "Bug report: (Not a bug) rectification in examples "m365 spo listitem roleinheritance break""
### Description

The four examples for the command "m365 spo listitem roleinheritance break" use the parameter "--id". It should be "--listItemId". (https://pnp.github.io/cli-microsoft365/cmd/spo/listitem/listitem-roleinheritance-break/). This is not a bug in the command, everything works correctly with it. It is only a small correction in the command information.

### Steps to reproduce

See the

[2022-08-20 20:36] Adam-it opened #3598 "New command: 🔐 spo folder roleinheritance break"
### Usage

m365 spo folder roleinheritance break [options]

### Description

break inheritance of folder. Keeping existing permissions is the default behavior.

### Options

Option | Description
-- | --
`-u, --webUrl <webUrl>` | URL of the site where the item for which to break role inheritance is located
`-f, --folderUrl <folderUrl>` | The site-relative URL of the folder
`-c, --clearExistingPermi

[2022-08-20 20:36] Adam-it commented on #3598
@pnp/cli-for-microsoft-365-maintainers added new one 😉 Waiting for comments 👍

[2022-08-20 20:49] martinlingstuyl commented on #3598
What about adding folderId, listId, listTitle and listUrl as options?

[2022-08-20 20:51] martinlingstuyl commented on #3593
Ok, awesome. If that's enough, it is enough!

[2022-08-20 20:58] martinlingstuyl commented on #3595
That's awesome @Adam-it!

[2022-08-20 21:22] Adam-it commented on #3598
actually the `spo folder get` command does not support it and I really wanted to reuse both commands not implement something again which we already have.
https://pnp.github.io/cli-microsoft365/cmd/spo/folder/folder-get/
if we extend that command with `folderId` then I suggest we expose this option here as well
what do you think?

[2022-08-21 03:01] #3170 closed

[2022-08-21 03:01] #3582 closed

[2022-08-21 03:01] #3588 closed

[2022-08-21 03:01] #3255 closed

[2022-08-21 03:01] #3532 closed

[2022-08-21 03:01] #3534 closed

[2022-08-21 03:08] plamber commented on #3597
Hi @gavdgavd,
thank you for reporting this back to us. Is this something you would like to try to fix directly with a PR?

Thank you for your feedback,
Patrick

[2022-08-21 06:00] plamber commented on #3597
@Adam-it fyi

[2022-08-21 06:52] Adam-it commented on #3597
Sharp eye 👀💪.
Thanks for reporting this 👍. You rock 🤩.
I will assign it to myself and will open a PR asap 😉

[2022-08-21 09:17] Adam-it opened #3603 "New command: 🔐 spo folder roleinheritance reset"
### Usage

m365 spo folder roleinheritance reset [options]

### Description

Restores the role inheritance of folder

### Options

Option | Description
-- | --
`-u, --webUrl <webUrl>` | URL of the site where the file for which to reset role inheritance is located
`-f, --folderUrl <folderUrl>` | The site-relative URL of the folder
`--confirm` | Don't prompt for confirmation

### Examples

Reset inh

[2022-08-21 09:18] Adam-it commented on #3603
@pnp/cli-for-microsoft-365-maintainers and another one on the permission management list 😉. Any comments on this one ?

[2022-08-21 09:47] Adam-it commented on #3539
ok I got my current work done. I may take this one

[2022-08-21 09:47] Adam-it commented on #3593
ok I got my current work done. I may take this one

[2022-08-21 10:48] nanddeepn commented on #3595
Can I work on this?

[2022-08-21 10:59] Adam-it commented on #3595
Yes totally 👍.
Thank you, you rock 🤩

[2022-08-21 12:39] Adam-it commented on #3103
@waldekmastykarz I remember we kept this on hold for the option set to become a more common approach. What do you think now? maybe after refactor I could also give this one a shot and we could try to support prompting for the required options by option set ?

[2022-08-21 14:19] martinlingstuyl commented on #3598
Ok, that's a fair point. I'll create an issue to get folders by Id.

[2022-08-21 14:21] martinlingstuyl opened #3605 "Enhancement: add option to get spo folder by id"
About: https://pnp.github.io/cli-microsoft365/cmd/spo/folder/folder-get/

The `spo folder get` command allows you to get folders by server relative url.

For completeness I'd suggest we should also be able to get a folder by uniqueId, just like with the file-get command.

Option | Description
--|--
`-u, --folderUrl [folderUrl]` | The server-relative URL of the folder to retrieve. Specify either `f

[2022-08-21 15:00] martinlingstuyl commented on #3603
Looks great @Adam-it

[2022-08-21 15:03] waldekmastykarz commented on #3103
I'm working on adding option sets as we speak so when it's merged, we can definitely revisit this idea.

[2022-08-21 16:50] Adam-it commented on #3603
Ok, opening it up

[2022-08-21 16:51] Adam-it commented on #3598
Ok, making this ready to be taken then 👍

[2022-08-21 16:52] Adam-it commented on #3103
Great news 🤩

[2022-08-21 17:26] waldekmastykarz commented on #3103
I actually stand corrected: we've got option sets implemented in the CLI runtime, and while I'm replacing custom validation with option sets in commands, there's no reason to delay implementing this feature, as it's not dependent on commands using option sets, but rather the validation in the runtime which we already have.

[2022-08-22 11:53] quantrpeter commented on #3547
will send pull request this week, thx

[2022-08-22 12:53] quantrpeter opened #3610 "fastest way for development"
### Description

this is my dev model and i think too slow
1. run "npm build"
2. run "node ./bin/m365.ts"
3. change the code
4. run above command again

Is it possible to click F5 in vscode and do the debugging? thanks

### Steps to reproduce

-

### Expected results

-

### Actual results

-

### Diagnostics

_No response_

### CLI for Microsoft 365 version

v5.5.0-beta.8bd301f

### nodejs versio

[2022-08-22 13:04] Adam-it commented on #3547
great news 🤩. no rush 👍.
Let me know if you will need any help 👍

[2022-08-22 13:41] milanholemans commented on #3610
Hi @quantrpeter

First of all thank you for contributing to this repo.
Before starting developing there are a few things to consider. They are all listed here: https://github.com/pnp/cli-microsoft365/wiki/Minimal-Path-to-Awesome
First, make sure you run Node v16. After that, go to the root of your repo and run `npm link`. By doing this, your CLI commands will be mapped to your local project.
Now i

[2022-08-22 14:55] quantrpeter commented on #3610
thank you

[2022-08-22 14:55] #3610 closed

[2022-08-22 17:21] #3586 closed

[2022-08-22 18:50] gavdgavd commented on #3597
Thank you very much, all of you, for fixing this and for the wonderfull work you are making with the CLI. Gr., Gustavo

[2022-08-22 20:38] Abderahman88 commented on #3097
Great @nanddeepn for picking this back up.

[2022-08-22 20:41] Abderahman88 commented on #3100
@martinlingstuyl I'm going to start working on it 👍

[2022-08-23 05:05] martinlingstuyl commented on #3100
That's great! Let us know if you need any help!

[2022-08-23 08:44] AkashSatoliya commented on #3565
Hi @martinlingstuyl,

I am also getting the same error. I am trying to create CD pipeline in Azure DevOps to deploy sppkg to SharePoint. I was getting error "The system cannot find the file specified." when running task to login to Sharepoint.

When I tried to login using m365 cli on one of my VM I was getting the same error:

[code]

When I ran "npm view @pnp/cli-microsoft365" to check details on

[2022-08-23 09:04] garrytrinder commented on #3597
Thank you for your kind words @gavdgavd ❤️

[2022-08-23 13:44] waldekmastykarz commented on #3490
Enhancements aren't just for commands though. We can have enhancements that affect the runtime or the docs.

[2022-08-23 16:12] martinlingstuyl opened #3612 "CI/CD --> 'm365' is not recognized as an internal or external command, operable program or batch file."
Hi @AkashSatoliya, I created a separate issue for this as the comment trails might overlap otherwise.

----
Hi @martinlingstuyl,

I am also getting the same error. I am trying to create CD pipeline in Azure DevOps to deploy sppkg to SharePoint. I was getting error "The system cannot find the file specified." when running task to login to Sharepoint.

When I tried to login using m365 cli on one of

[2022-08-23 16:13] martinlingstuyl commented on #3612
Hi @akashsatoliya,

Could you show us the relevant parts of your yaml file?

Also: are you using the CLI for Microsoft 365 action?

[2022-08-23 16:14] martinlingstuyl commented on #3565
Hi @nicetohaveyou,

Can I assume your problem is solved? If so I can close this issue.

Please let us know 👍

[2022-08-23 17:12] milanholemans commented on #3577
Hi @Ofer-Gal

Can you confirm that upgrading to the latest version of the CLI fixed your issue? In that case we can close this issue.

[2022-08-24 04:26] AkashSatoliya commented on #3612
Hi @martinlingstuyl,

Thank you so much for looking into it.

I am using classic pipeline for CD release. I have added tasks mentioned in [this](https://docs.microsoft.com/en-us/sharepoint/dev/spfx/toolchain/implement-ci-cd-with-azure-devops#continuous-deployment) document.

Tasks are as follows:

1. Node.js tool installer, v12.22.1
2. npm install Microsoft 365 CLI:
    `install -g @pnp/cli-micros

[2022-08-24 04:45] Ofer-Gal commented on #3577
Yes it did.
Thank you

[2022-08-24 04:45] #3577 closed

[2022-08-24 06:52] Jwaegebaert commented on #3490
That's true. The reason I'm giving the example of `Enhance command` is mainly to narrow down the enhancement template we initially had. With the example referencing the command part of the CLI, we could then also create templates for runtime enhancements and/or documentation enhancements. This way we can add several new templates but each one of them can have specific questions related towards the

[2022-08-24 09:24] waldekmastykarz commented on #3490
People can always open a blank issue so there's that and we're not taking that option away indeed. If we can have a meaningful template for enhancing existing commands, then we should definitely do it.

[2022-08-24 09:54] Jwaegebaert commented on #3490
That's indeed the easiest way to create an issue. Maybe this suggestion will make it a bit to complex for users when they want to suggest enhancements.

[2022-08-24 10:27] waldekmastykarz commented on #3612
The line

`install -g @pnp/cli-microsoft365`

should be:

`npm install -g @pnp/cli-microsoft365`

Could you please try it and see if it makes any difference?

[2022-08-24 10:28] waldekmastykarz commented on #3565
Closing this issue in favor of #3612

[2022-08-24 10:43] waldekmastykarz opened #3613 "New command: update content type"
### Usage

m365 spo contenttype set [options]

### Description

Update existing content type

### Options

Option | Description
-- | --
`-u, --webUrl <webUrl>` | URL of the site where the content type to update is defined
`-i, --id [id]` | ID of the content type to update. Specify the ID or name but not both, one is required.
`-n, --name [name]` | Name of the content type to update. Specify the ID

[2022-08-24 10:44] waldekmastykarz commented on #3613
@pnp/cli-for-microsoft-365-maintainers any feedback?

[2022-08-24 10:50] AkashSatoliya commented on #3612
Hi @waldekmastykarz,

Thank you so much for your suggestion. As suggested, I tried `npm install -g @pnp/cli-microsoft365` but it failed while installing Microsoft 365 CLI in step 2 with below error:

[2022-08-24 11:09] milanholemans commented on #3613
Looks good to me 👍
Only comment I have is to maybe provide another useful example.

[2022-08-24 11:21] nicetohaveyou commented on #3565
i want to know why this issue was closed, when there was no resolution. I have ran it from the docker yet face the issue. It is not resolved.

[2022-08-24 12:12] waldekmastykarz commented on #3565
Ah sorry, that's my bad, due to the other question that was asked in between.

I believe a while back @martinlingstuyl asked you for more information here: https://github.com/pnp/cli-microsoft365/issues/3565#issuecomment-1207457556. Could you please double check your $PATH variable to verify that Node is in there?

[2022-08-24 12:13] waldekmastykarz commented on #3613
Any common content type update operations that you'd suggest @milanholemans?

[2022-08-24 12:14] waldekmastykarz commented on #3612
Thank you for trying it and such a quick reply. Is there a way to get more detailed output log of this step that could help us understand what's wrong? Could you also share with us the configuration of this in your pipe? Thank you!

[2022-08-24 12:32] milanholemans commented on #3613
Was thinking something like settings fields for content types. But just noticed we have separate commands for that `spo contenttype field set|remove`.
Maybe an extra example to update the content type group or description? No idea what else could be useful.

[2022-08-24 12:38] Jwaegebaert commented on #3613
Great suggestion! 🚀

Should we maybe mention with the options `listTitle` and `listId` that one of them is `required` when they want to update a list content type. Also, maybe an example of how to update a list content type could be nice to have.

[2022-08-24 13:18] AkashSatoliya commented on #3612
Hi @waldekmastykarz,

I am using classic pipeline for CD release.

Below are the task configurations:
1. Node.js tool installer, v12.22.1
2. npm task with `Custom` command to install Microsoft 365 CLI:
`npm install -g @pnp/cli-microsoft365`
3. Command line to connect to SPO:
`m365 login -t password -u $(username) -p $(password)`
4. Command line to Add the solution to SP App Catalog:
`m365 spo app

[2022-08-24 14:43] Adam-it commented on #3613
maybe we could also add `--listUrl` 🤔?
@milanholemans, @waldekmastykarz  I think a good example would be to change a description of the CT
` <Property Name="Description" Type="String"/>`
 or CT Group
 `<Property Name="Group" Type="String">`

[2022-08-24 18:39] martinlingstuyl commented on #3612
Hi @AkashSatoliya,

Okay, rollback to the step where the install completed successfully,

Could you run the following commands in a cmd task on a windows pipeline and see what the output is?

Check if the CLI is in fact installed:
[code]

Check the path where global modules are installed and verify if that path is in the PATH variable
[code]

[2022-08-24 18:42] martinlingstuyl commented on #3613
Now I'm curious @waldekmastykarz!

Looks great by the way

[2022-08-25 06:30] AkashSatoliya commented on #3612
Hi @martinlingstuyl,

Thanks for reply.

Below are the updates for shared command:
1. Check if the CLI is in fact installed:
[code]

2. Path where global modules are installed
[code]

3. Verify if that path is in the PATH variable. Global module path `"C:\npm\prefix\node_modules"` is not available in `PATH` variable.
[code]

[2022-08-25 06:49] martinlingstuyl commented on #3612
Okay,
That's the reason. It cannot find the m365 executable, so it cannot execute its commands.

I find that odd though. You are running on GitHub? Azure DevOps? Your own host? Hosted vm?

The workaround is to add the global npm folder to your path. You can do this using the following statement:

[code]

This adds the directory to the path in the current session and should cause m365 to be reachab

[2022-08-25 07:06] waldekmastykarz commented on #3613
Come watch my demo on the community call today 😄

[2022-08-25 07:11] waldekmastykarz commented on #3613
@milanholemans:

Great suggestion, updated spec

@Jwaegebaert:

Isn't the current description _Name of the list if you want to update a list content type._ clear? Would it be clearer to repeat it?

Good idea! Updated the spec.

@Adam-it:

Yes! Updated the spec

[2022-08-25 07:14] Jwaegebaert commented on #3613
Yeah, on second thought, that should be clear enough for the users 😄

[2022-08-25 07:40] AkashSatoliya commented on #3612
Hi @martinlingstuyl

I am running it on Azure DevOps Microsoft hosted agent.

I tried above command but it adds npm path to current task only. When next task is run path is not available in `path` variable.

I tried adding npm path to system path variable using below PowerShell and setx command but they also saved it to current task only, not to the system. When next task is run value is not avail

[2022-08-25 10:55] martinlingstuyl commented on #3612
Hi @AkashSatoliya,

What's the content of your $PATH?
Maybe some node.js folder is in it.
In that case you could change the place where the `npm install` globally installs the packages to something already in the PATH. You can do this using an environmentvariable `npm_config_cache`, or using the `--prefix` option

[code]

You could also install the cli package locally (`npm install @pnp/cli-micros

[2022-08-25 11:49] martinlingstuyl commented on #3423
@milanholemans, I wonder, will this issue be covered by your changes in #3576 by any change?

[2022-08-25 12:07] milanholemans commented on #3423
Hmm not really. Only thing I refactor is the `commandAction` function. I leave all the other functions untouched because these will still work and can be refactored later on.
So in the `commandAction` error throwing is used. In the other functions not yet.

I definitely support the idea to refactor it all, but maybe this can be done together when we refactor the remaining functions to async/await?

[2022-08-25 13:36] martinlingstuyl commented on #3430
Hi @milanholemans, let's take the conversation here.

Hmmm, I think we did not make a clear decision on whether we would refactor every promise, or just the commandaction function promises. I should have done that. If we don't refactor them all, we'll be stuck with an intermediate state of different coding styles. Which is not good for the other contributors. As we're not really in a hurry with th

[2022-08-25 14:04] milanholemans commented on #3430
To be honest, I rather like removing the callback and introduce promises right now in the `commandAction` and do the rest later. There will indeed be an "intermediate state", but refactoring this all in one go will be a real challenge and will take probably 3 or 4 times more time. The hardest part will be of course the merge conflicts after few months of refactoring. Since you have to rewrite the

[2022-08-25 14:44] AkashSatoliya commented on #3612
@martinlingstuyl,

Thank you for your suggestion.

I have tried running command with PowerShell instead of command tasks.
[code]

With above script I'm not getting error for m365 command. It attempts to login but fails with below error
[code]

[2022-08-25 15:30] martinlingstuyl commented on #3612
Hi @AkashSatoliya,

Okay, great that the command is now being executed at least.

Did you try running the login command on your local pc? Do you have the same issues there?

[2022-08-25 15:43] AkashSatoliya commented on #3612
Hi @martinlingstuyl,

I tried to run login command on local but there I am still getting `'m365' is not recognized as an internal or external command,
operable program or batch file.` error. Even though npm module folder path  `C:\npm\prefix\node_modules`  is already there in system PATH variable.

[2022-08-25 16:21] AkashSatoliya commented on #3612
Hi @martinlingstuyl,

I tried installing version 5.5.0 and latest version using `install -g @pnp/cli-microsoft365@latest`  and run the command but still it fails with same network_error 400

[2022-08-25 16:55] martinlingstuyl commented on #3612
I'm not sure, but is it possible that the syntax `${password}` is incorrect when you want to reference a pipeline variable in a powershell task? I believe it should be `$(password)`

[2022-08-25 23:30] nicetohaveyou commented on #3565
Do i need to worry about the $PATH when it is been run from the docker where the environment is already configured?

[2022-08-26 03:27] AkashSatoliya commented on #3612
Hi @martinlingstuyl,

When trying with `$(password)` it results in variable reference error. PowerShell works with `${password}` and `$password`.
When tried with `${password}` and `$password` it tries to login and fails with network error.

[2022-08-26 05:13] martinlingstuyl commented on #3612
Ok, so just to be sure: did you try this on your local pc as well? Signin In using username and password? Same problem there?

[2022-08-26 05:36] martinlingstuyl commented on #3565
If the command cannot be found, the reason must be that it is either not installed or is not on your PATH.

Are you in a PowerShell terminal? You can check where the global packages are being installed and verify whether they are on your path as follows:

[code]

If the directory is not in the PATH, you should update the PATH.

[2022-08-26 06:16] AkashSatoliya commented on #3612
Hi @martinlingstuyl,

I tried to run login command on local but there I am still getting `'m365' is not recognized as an internal or external command, operable program or batch file`. error. Even though npm module folder path `C:\npm\prefix\node_modules` is already there in system PATH variable.

[2022-08-26 06:24] martinlingstuyl commented on #3612
Hi @AkashSatoliya,

On your local machine, could you run the following script to check if CLI is installed, if so where, and if that directory is on the path?

Same as before... If the directory is not on the path, add it.

[code]

[2022-08-26 09:40] martinlingstuyl opened #3615 "Update outdated script samples"
There are quite a few script samples that would not work today in the latest version of the CLI.
Or that could benefit from a slight update to reduce unnecessary code like `--output json` (as json is the default output)

I've created this epic to keep track of this. let's add samples that need an issue, and a child issue for them.

Most of the time, these issues need to be updated in the Script sa

[2022-08-26 09:40] martinlingstuyl opened #3616 "Update sample Ensure the Site Assets Library is created"
Update sample Ensure the Site Assets Library is created.

The sample does not work in the latest versions of the CLI for Microsoft 365, as the default output has switched to json, some time back. Retrieving an access token retrieves a string with double quotes in it, which cannot be used as a bearer token as such.

The sample could also be shortened by refactoring retrieving the list to a one-line

[2022-08-26 10:29] martinlingstuyl commented on #3612
@AkashSatoliya, reading this again. I think this means that the variable `$(password)` might be correctly written, but is not available.

Did you read the documentation on setting variables in a pipeline?: `https://docs.microsoft.com/en-us/azure/devops/pipelines/process/variables?view=azure-devops&tabs=classic%2Cbatch#set-variables-in-pipeline`

[2022-08-26 14:00] martinlingstuyl commented on #3613
Ah, I see. so you can add `ContentType.DisplayFormClientComponentProperties` 😉

[2022-08-26 23:20] Adam-it commented on #3163
closing this as the related PR is merged to v6 branch

[2022-08-26 23:20] #3163 closed

[2022-08-26 23:21] Adam-it commented on #3502
closing this as the related PR was merged to v6 branch.
thanks all for your awesome work 🤩🤩

[2022-08-26 23:21] #3502 closed

[2022-08-28 11:53] #2531 closed

[2022-08-28 11:56] martinlingstuyl commented on #2436
What shall we do with this one @plamber, @waldekmastykarz, move it back to help wanted?

[2022-08-28 11:58] martinlingstuyl commented on #2225
@ktskumar, are you still working on this, or should we unassign you?

[2022-08-28 15:22] milanholemans commented on #3538
Closing this issue because the functionality has been added to v5.7.

[2022-08-28 15:22] #3538 closed

[2022-08-28 17:43] waldekmastykarz commented on #3430
I'd suggest we separate refactoring commandAction from callback to Promise, and replacing promises with async (that's what you meant, right @martinlingstuyl?). The first one needs to be done in one go by one person, because as soon as we remove the callback, every command will break, so this needs to be fixed in one attempt.

As for replacing promises with async, we can break it down and let multi

[2022-08-28 17:44] waldekmastykarz commented on #2436
Yes, good catch @martinlingstuyl! Let's remove custom interfaces where possible.

[2022-08-28 17:45] waldekmastykarz commented on #3613
Exactly!

[2022-08-28 17:52] waldekmastykarz commented on #3423
Throwing an exception inside a promise seems to me more counterintuitive than returning a rejected promise. If I see an exception being thrown in the promise, I immediately wonder what's needed to properly catch it. I think it's perfectly fine to move to exceptions when we move to async/await but as long we use Promises, I'd suggest that we won't introduce throwing exceptions to avoid additional c

[2022-08-28 17:54] martinlingstuyl commented on #3430
That's what I meant, yes. I think I misunderstood your ideas about this earlier. Ok, continue as planned @milanholemans!

[2022-08-28 18:00] martinlingstuyl commented on #3423
Agreed, but I think it's best to close this one in favor of a separate issue for refactoring to Async/await @waldekmastykarz, as we're moving in that direction anyway, it won't matter if there are a few Promises returned for now.

[2022-08-28 18:03] martinlingstuyl commented on #2130
@waldekmastykarz, shall we close this one, as we will be refactoring the entire codebase to Async/await?

[2022-08-28 18:09] martinlingstuyl opened #3618 "Refactor codebase to async/await"
We're currently using promise chains everywhere In the code. Refactoring to Async/await would be helpful as it gives better insight in how the code is organized, it's a less verbose and indented way to write code.

This epic is meant to track the work.

- [x] #3430

## Refactor `promise/then` to `async/await`.

### AAD

- [x] #4933
- [x] #4936
- [x] #4938
- [x] #4942
- [x] #4944
- [x] #4946
- [x]

[2022-08-28 18:10] martinlingstuyl commented on #3423
Referencing https://github.com/pnp/cli-microsoft365/issues/3618

[2022-08-28 18:11] martinlingstuyl commented on #2130
Referencing https://github.com/pnp/cli-microsoft365/issues/3618

[2022-08-28 18:29] Adam-it commented on #3613
BTW nice demo 👍.

[2022-08-28 19:48] martinlingstuyl commented on #3411
@cryongen, is this still an issue for you, or can we close it?

[2022-08-28 20:14] Adam-it commented on #3522
closing as the related PR got merged.
thanks for your awesome work 👍
you rock 🤩

[2022-08-28 20:14] #3522 closed

[2022-08-29 07:35] waldekmastykarz commented on #2130
Yes, let's use the epic for tracking the feature and then separate issues for the different commands/areas.

[2022-08-29 07:35] #2130 closed

[2022-08-29 07:35] #3423 closed

[2022-08-29 07:37] waldekmastykarz commented on #3618
Added the `needs discussion` label to indicate that we need to decide how we want to split the refactoring work to allow multiple people to help out and speed up the refactoring process.

[2022-08-29 12:48] cryongen commented on #3411
HI martin, i forgot to answer here.

You can close this thread.
There a misconfiguration on my project.
tried on another projects and works fine.

Tks

[2022-08-29 12:48] #3411 closed

[2022-08-29 17:30] waldekmastykarz commented on #3584
Closing due to lack of reply

[2022-08-29 17:30] #3584 closed

[2022-08-29 17:36] waldekmastykarz commented on #2017
Azure Shell got updated to Node@16 and CLI is now working as intended. Yay! 🎉

[2022-08-29 17:36] #2017 closed

[2022-08-29 17:47] waldekmastykarz commented on #3394
Looking at the [docs](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/register-argumentcompleter?view=powershell-5.1), `Register-ArgumentCompleter` should work just fine in PowerShell 5.1. Can you double check which version of PowerShell you were using and wasn't working @martinlingstuyl?

[2022-08-29 18:00] waldekmastykarz commented on #3339
Closing due to lack of response

[2022-08-29 18:00] #3339 closed

[2022-08-29 18:00] waldekmastykarz commented on #2906
Hey @appieschot, are you still looking into this?

[2022-08-29 19:33] martinlingstuyl commented on #3443
Closing this one as already fixed.

[2022-08-29 19:33] #3443 closed

[2022-08-29 20:05] martinlingstuyl commented on #3394
Just did some testing and the problem was with our usage of the `Join-Path` commandlet @waldekmastykarz. I fixed it and created a PR 👍

[2022-08-29 20:34] Jwaegebaert commented on #3497
To execute the upgrade command in PowerShell, shouldn't we add the shell option to the command.
[code]
This then suggests to run the following lines to create a new file:

[code]

The outputed suggestion here is also faulty because of the double double quotes `""` around the filename, but when we modify that to a single double quote it works fine.

[2022-08-30 08:22] waldekmastykarz commented on #3497
That's definitely the right way forward @Jwaegebaert 👍

[2022-08-30 08:35] Jwaegebaert commented on #3497
Perfect, then I will create a PR for the modification later today.

[2022-08-30 15:26] martinlingstuyl commented on #3555
Hi @michaelmaillot

If I execute your example (using the manifest and the `apisApplication` option) the scopes and roles are merged together. They are not overridden, but merged:

![image](https://user-images.githubusercontent.com/5267487/187475892-9b33bba5-f328-4f1a-8dc9-9f540a2c6ba6.png)

I think we should update the docs on this a bit. Add a remark about scopes being merged. What do you think @

[2022-08-30 15:44] martinlingstuyl commented on #3555
So the question is: Should we merge options with manifest options when possible, or override them!

[2022-08-30 16:09] martinlingstuyl opened #3627 "Enhancement: Add listId,listUrl options to spo field add"
The spo field add command boasts a `listTitle` option to reference the list to add the field to.

I think that's too limiting, we should add listId and listUrl options.

Option | Description
--|--
`-i, --listId` | Id of the list where the field should be created (if it should be created as a list column). Specify either `listId`, `listTitle` or `listUrl`, but not multiple.
`-t, --listTitle` | Titl

[2022-08-30 17:59] milanholemans commented on #3627
To be more correct, `--listUrl` should be the _web relative URL_ of the list right? I actually wonder why we take the web relative URL for lists in almost all `spo` commands. The API expects a server relative URL as parameter, as far as I know, all API calls return a server relative URL. I've never come across a web rel URL myself.

Others seems fine, maybe we should realign all shorts again to ma

[2022-08-30 18:25] waldekmastykarz opened #3628 "Enhancement: add support for upgrading SPFx projects to 1.16.0-beta.1"

[2022-08-30 19:20] martinlingstuyl commented on #3555
Okay, so I went through this. What @michaelmaillot writes [here](https://github.com/pnp/cli-microsoft365/issues/3555#issuecomment-1206603417) is correct. The behavior is inconsistent.

Some options could be merged with the manifest, but some other options cannot be easily merged.
I think I'd be for making the behavior consistent and like it's mentioned in the docs: if an option is used, it should

[2022-08-30 19:41] martinlingstuyl opened #3630 "Bug report: adding/setting `owner` permissions for an app on a SharePoint site throws an error"
### Description

The docs for `spo site apppermission add` and `spo site apppermission set` speak about being able to set owner permissions

https://pnp.github.io/cli-microsoft365/cmd/spo/site/site-apppermission-add/
https://pnp.github.io/cli-microsoft365/cmd/spo/site/site-apppermission-set/

But I get exceptions when trying.

### Steps to reproduce

Create an app:

[code]

Assign that app read or

[2022-08-30 20:00] martinlingstuyl opened #3631 "Remove specific examples for PowerShell from the docs of `adaptivecard send`"
The following page has a specific section for examples in PowerShell.
https://pnp.github.io/cli-microsoft365/cmd/adaptivecard/adaptivecard-send/#examples-for-powershell
These fragments do not work however.

In PowerShell, the double quotes should be escaped differently. For example:

[code]

Aside from this fact, I'd be in favor of doing this differently.

On every command that has complex JSON-co

[2022-08-30 20:42] martinlingstuyl commented on #3627
That's what I meant indeed, will change it.

The reason we use it is (I think) about user friendliness. You don't need to type the rest, as it's already known because of the `siteUrl` option.

[2022-08-30 21:12] michaelmaillot commented on #3555
Yes, that's currently the behavior we wanted, as mentioned [here](https://github.com/pnp/cli-microsoft365/pull/3455#discussion_r937087427). But I agree that there's a caveat as I should have updated the docs according to this, even if it was stated as "temporary".

Even if I'm not a maintainer, here's my two cents: options should override manifest when mentioned because according to me, if they're

[2022-08-30 22:46] milanholemans commented on #3627
I understand that, however when you are writing scripts and you receive a server relative URL from a list after running some command, it seems annoying to always have to remove the server relative URL of the web yourself. But it's too late to discuss this anyway 🙂

[2022-08-30 22:49] milanholemans commented on #3627
In this case, nothing much.
I mean at some point (maybe for V6 release), we should check all commands and check if they consistently use the same short option. So all `spo field` commands use the same shorts, all `spo list` commands use the same shorts etc. Noticed in the past there are some inconsistencies.

[2022-08-31 04:21] martinlingstuyl commented on #3627
Ah, I see, I think we can support it both. I'll update the specs.

[2022-08-31 04:37] martinlingstuyl commented on #3543
@Adam-it, I think we forgot something: when we have `listUrl` options, the option should support both Server-relative AND web-relative URL's. Just like `spo field list`.

Do you have that covered? If not: all permission commands should include that. Could you pick that up and include it in your PR's?

[2022-08-31 04:37] martinlingstuyl commented on #3627
I mentioned it to Adam:

https://github.com/pnp/cli-microsoft365/issues/3543#issuecomment-1232452345

[2022-08-31 06:12] waldekmastykarz opened #3632 "Add support for SPFx v1.16.0-beta.1"
Update SPFx commands to support SPFx v1.16.0-beta.1

- [ ] `spfx doctor`
- [ ] `spfx project upgrade` #3628
- [ ] `spfx project doctor`

[2022-08-31 06:12] waldekmastykarz opened #3633 "Update `spfx doctor` to support SPFx v1.16.0-beta.1"

[2022-08-31 06:12] waldekmastykarz opened #3634 "Update `spfx project doctor` to support SPFx v1.16.0-beta.1"

[2022-08-31 07:19] waldekmastykarz commented on #3555
If we look at our docs:

<img width="732" alt="image" src="https://user-images.githubusercontent.com/11164679/187617186-45949706-46a6-4904-bb59-32a1de8b251c.png">

So our intention was to override not add, and if we don't override that's a bug.

If we want to revisit our stance, that's also okay, but it would be a breaking change that we need to postpone until the next major version.

[2022-08-31 07:29] Adam-it commented on #3543
isn't it like covered by the CLI 🤔. If we have the `SpoUrl` set the CLI should resolve it during execution time 'just like that'

[code]

anyway isn't like the code to manage `listUrl` option exactly the same  🤔 for example in the `listitem roleassignment remove` I have
[code]
in the `spo field list` I see
[code]

not actually sure what I should change 😅? Sorry for maybe a stupid question 😅

BTW i

[2022-08-31 07:32] waldekmastykarz commented on #3631
Good catch and a great suggestion to point to a central location instead of maintaining it separately for each command.

[2022-08-31 07:43] martinlingstuyl commented on #3306
I've added a note in the specs about Event Receivers being added but not fired. I've recently run into that with the PnP PowerShell commandlets. It can be worked around by using the older `UseWebLogin` parameter. It seems it has something to do with the AD App that's used when signing in interactively and Event Receivers, expecting the App ID to refer to the older SharePoint Service Principals.

[2022-08-31 08:35] milanholemans opened #3636 "Bug report: markdown docs are incorrectly stripped in help commands"
### Description

When using Node v14, I noticed that markdown docs are incorrectly escaped when using help commands. In Node v16 it works fine, however in Node v14 I get this:

![image](https://user-images.githubusercontent.com/11723921/187633028-8f07e95b-addb-4858-8536-5d7d6de6c7f1.png)

As you can see, all code fences tags are not stripped from the output.
Tested it in node v14.20.0 & v14.18.1,

[2022-08-31 08:39] milanholemans commented on #3543
You are right @Adam-it, apparently you can provide both a web relative URL and a server relative URL. Just tested it and both scenarios work. So I guess it is ok this way @martinlingstuyl 😊.
Maybe we should clarify this a bit in the docs.

[2022-08-31 08:42] Adam-it commented on #3543
@milanholemans thanks for the double check 👍
sure. I may add a better description in docs and more examples 👍. Usually I tend to write to little in the docs 🤔 Sorry for that. But the copilot is getting there 😝

[2022-08-31 09:22] martinlingstuyl commented on #3543
If it works, it works 😀 in that case: could you update the docs for the commands that are concerned?

[2022-08-31 09:32] Adam-it commented on #3543
will do 👍
BTW we could still open and issue to add the missing `listUrl` option to all other commands that don't have it and have only `listTitle` and `listId` 😉

[2022-08-31 11:13] martinlingstuyl opened #3638 "Expand the user guide with info about escaping in PowerShell"
The CLI documentation could use some information about escaping in PowerShell.

## Escaping double quotes
There's an issue in PowerShell 5 and 7 (a fix is implemented for POSH 7.3, but that's not live yet.) around parsing command arguments:
https://github.com/PowerShell/PowerShell/issues/1995

The idea is that command arguments are being parsed twice for tools like the CLI. Once by PowerShell and

[2022-08-31 11:14] martinlingstuyl commented on #3631
The actual work of writing a how-to guide, has been registered under this issue #3638

[2022-08-31 11:29] garrytrinder commented on #2436
Should we turn this into an `epic` and convert each checklist item into an issue for each command, this way we keep one PR to one issue?

[2022-08-31 11:35] garrytrinder commented on #3631
I agree that the escaping is hard and that a doc explaining the intricacies of handling the different shells would be an important resource, something similar to [this page](https://docs.microsoft.com/en-us/cli/azure/use-cli-effectively?tabs=bash%2Cbash2  ) in Azure CLI would be helpful.

I wonder however, could we use the `@` token approach which references a JSON file as a preferred approach? Th

[2022-08-31 11:48] martinlingstuyl opened #3639 "Enhancement: Specify listUrl when creating a new list"
When creating a list using `spo list add`, you can only influence it's URL by the `title` option.

I'd like to specify my own URL though:

Option | Description
--|--
`--url [url]` | Specify the web relative URL the list should have.

## Examples

Create a new list with the title _Some list_ and the url _lists/some-list_.

[code]

[2022-08-31 12:08] #3218 closed

[2022-08-31 12:08] #3628 closed

[2022-08-31 12:08] #3394 closed

[2022-08-31 12:08] #3445 closed

[2022-08-31 12:08] #3597 closed

[2022-08-31 12:08] #3059 closed

[2022-08-31 12:26] martinlingstuyl commented on #3555
I'm of the opinion to keep the documented behavior.

[2022-08-31 15:13] martinlingstuyl opened #3640 "Add tags to sample scripts"
This issue is about using tags in the CLI website.

## Requirements
- Add tags to sample scripts
- Create a central list of available tags that contributors can choose from
- Add a Tags index page

[2022-09-01 17:51] martinlingstuyl commented on #3589
Ok, so I researched this, and it turns out we might need two options instead of one.

The good news is we can reach two results with this change, namely:
- app only sending
- delegated sending

What I mean by the last one is that you send an email on behalf of another account, for example a shared mailbox. You do need the proper permissions of course.

What we need is the following:

Option | Desc

[2022-09-01 19:36] martinlingstuyl commented on #3589
Any comments @pnp/cli-for-microsoft-365-maintainers?

[2022-09-01 19:59] milanholemans commented on #3589
Looks good to me Martin! The remarks section explains it enough, which is really needed in this case.

[2022-09-01 22:02] milanholemans commented on #3593
Hey @Adam-it just thinking out loud. Doesn't it actually make sense to add a `--confirm` flag to break or reset role inheritance? If you want to break/restore inheritance in the UI, you also have to confirm before is done.
I know it's pretty late to say this since some break/restore commands are already in production.

[2022-09-01 23:02] Adam-it commented on #3306
Nice research 👍. Thanks for being aware of all 🤩

[2022-09-01 23:18] Adam-it commented on #3638
this is a great suggestion and currently I don't see anything we could add to this page 👍
I suggest we open this up and improve the docs asap 👍

[2022-09-01 23:20] Adam-it commented on #3631
good point @martinlingstuyl . And I agree with the related issue. We should definitely improve the docs on this one 👍.
Thanks for doing an amazing job on managing the issues 🤩.

[2022-09-01 23:23] Adam-it commented on #3555
+1 to override  as well in order to be consistent with the docs. Additionally lets open a discussion and promote this behavior. If this should change to 'merge' kind of behavior we should reimplement for next major
thanks @michaelmaillot for rising this up 👍 awesome catch 🤩
thanks @waldekmastykarz and @martinlingstuyl for the great feedback. The time you guys spend on managing issues is truly insp

[2022-09-01 23:27] Adam-it commented on #3593
@milanholemans very good comment. I always considered `--confirm` to be strictly related with `remove` or `delete` kind of commands but it's totally true that breaking or reseting role inheritance are both operations which may have a huge impact on the given resource on SP 🤔. I am open for this and also eager to here other @pnp/cli-for-microsoft-365-maintainers feedback on this one.
Currently in s

[2022-09-01 23:32] Adam-it commented on #3589
@martinlingstuyl sorry for maybe a very stupid comment 😉. but regarding the `...Defaults to the signed in user.`  if we are running this with app only permissions do we have user context to populate the default ?

[2022-09-02 05:36] martinlingstuyl opened #3644 "Revisit and remove unnecessary Aliasses"
The following aliasses are currently registered to commands.

Some or all of those should be removed before v6. Discuss!

## Can be removed

- [x] m365 planner plan get [options]
 alias: m365 planner plan details get [options]
- [x] m365 planner task get [options]
 alias: m365 planner task details get [options]
- [ ] m365 outlook mail send [options]
 alias: m365 outlook sendmail [options]
- [ ] m3

[2022-09-02 05:59] waldekmastykarz commented on #3644
Thanks for collecting these and bringing it up. What would help the discussion would be to have both the alias and the command name so that we can more clearly understand if the alias is meant for discoverability or is a temporary name replacement that can be removed.

[2022-09-02 06:13] martinlingstuyl commented on #3644
Ok, lets test my regex skills again

[2022-09-02 06:17] martinlingstuyl commented on #3644
done @waldekmastykarz

[2022-09-02 06:22] waldekmastykarz commented on #3644
Does `m365 spo site groupify` have an alias? The above list mentions the same name twice

[2022-09-02 06:23] waldekmastykarz commented on #3644
Looking at the list above, I'd suggest we remove the following aliases and keep everything else:

- m365 aad o365group restore
- m365 outlook sendmail

[2022-09-02 06:26] waldekmastykarz commented on #2436
I don't think we should do it per-command, because if you remove the interface, it will break multiple commands. Instead, we should make the list based on the interfaces that we use, so that each PR will contain the removed interface and one or more adjusted commands.

[2022-09-02 06:27] waldekmastykarz commented on #3593
Good point @milanholemans! I'd suggest that we include this for new command, and include in v6 for existing ones as it will be a breaking change.

[2022-09-02 06:28] martinlingstuyl commented on #3644
That's an error in the docs:
![image](https://user-images.githubusercontent.com/5267487/188072585-a08088ac-d409-41ce-abf8-eecc942fb055.png)
There's no alias in the ts-file.

I assume you're talking about the 'Up for discussion' list, right? You agree with the other lists?

[2022-09-02 06:29] waldekmastykarz commented on #3644
From all the commands you included in all lists, I'd remove only the two aliases I mentioned 🙂

[2022-09-02 06:32] waldekmastykarz commented on #3589
Looking at the examples for `from` and `sender`, it's not quite clear to me what's the difference. To me `from` and `sender` are synonyms. Reading the remarks it's not instantly obvious what's possible and when to use which. I'd suggest that we revisit the names of the options to more clearly depict their purpose.

[2022-09-02 06:34] waldekmastykarz commented on #3638
@martinlingstuyl could you elaborate what you're proposing and what's missing from our existing guide to make it clearer for the person that will work on this?

[2022-09-02 06:38] martinlingstuyl commented on #3644
So, just to be sure @waldekmastykarz . You feel like `m365 teams conversationmember` are valuable aliases we need to keep?

[2022-09-02 06:38] martinlingstuyl commented on #3644
And what about the delete aliasses...

[2022-09-02 08:43] milanholemans commented on #3547
Updated the specs to add an extra option `--confirm`.
Discussed here: https://github.com/pnp/cli-microsoft365/issues/3593#issuecomment-1234828680

[2022-09-02 09:22] martinlingstuyl commented on #3589
What about `sendAs` and `sendOnBehalfOf`?

`sendAs` would require a upn or user id

`sendOnBehalfOf` would require an e-mailaddress

[2022-09-02 14:33] waldekmastykarz commented on #3644
Sorry for the confusion. Let me rephrase:

- fully agreed with the **Can be removed** list
- we should remove `m365 teams conversationmember`
- we should remove `delete` aliases
- we should remove `m365 aad o365group restore` and `m365 outlook sendmail`

[2022-09-02 14:48] waldekmastykarz commented on #3636
I tested it in Node@14 in zsh and PowerShell on macOS and in both cases it works as intended. Let me double check Windows, just so that we know exactly where it's failing.

[2022-09-02 14:56] waldekmastykarz commented on #3636
I can reproduce the issue on both Node@16 and @14 on PowerShell 7.2.6 on Windows 10

[2022-09-02 15:05] waldekmastykarz commented on #3636
When we submit a fix for this issue, let's be sure we add a test case for it. It seems like an OS-specific edge case that we should be sure to test for in the future.

[2022-09-02 15:38] martinlingstuyl commented on #3589
That's exactly it. What about `--sender` and `--mailbox`?

Mailbox defaults to the e-mailadres of the sender, sender defaults to the signed in user.

[2022-09-02 18:11] waldekmastykarz commented on #3589
That's clearer! 👏  Let's ensure that we properly communicate it in the docs and examples to ensure there's no doubt when to use which one and what's the expected outcome.

[2022-09-03 05:30] #3097 closed

[2022-09-03 05:30] #3550 closed

[2022-09-03 05:30] #3616 closed

[2022-09-03 05:30] #3433 closed

[2022-09-03 05:30] #3543 closed

[2022-09-03 05:30] #3549 closed

[2022-09-03 05:30] #3631 closed

[2022-09-03 15:17] martinlingstuyl commented on #3644
Thanks!

[2022-09-03 18:02] #3512 closed

[2022-09-04 12:27] #3541 closed

[2022-09-04 12:27] #3634 closed

[2022-09-05 10:17] martinlingstuyl commented on #3589
I updated the specs 👍

[2022-09-05 12:29] AkashSatoliya commented on #3612
Hi @martinlingstuyl ,

Thank you so much for reply.

I've already defined the password variable in variables section of the pipeline.
When I tried to run the pipeline with `m365 login -t password -u "$(username)" -p "$(password)"`, it throws below error:
[code]
When tried to manually reach https://login.microsoftonline.com/organizations/oauth2/v2.0/token, I'm getting below error
[code]

Is there a

[2022-09-05 12:41] phillipharding commented on #3411
Just an FYI, I had this issue today trying to upgrade a project to **1.15.2**

The problem turned out to be a dangling comma in the **properties** section of a webpart manifest file, removing the comma solved the problem...

![Screenshot 2022-09-05 at 13 31 20](https://user-images.githubusercontent.com/7671418/188451150-26e72347-f663-4668-8ab0-3f53463dfa91.png)

[2022-09-05 14:44] martinlingstuyl commented on #3411
Thanks for mentioning it @phillipharding! That's super helpful for other people running into this

[2022-09-05 17:32] waldekmastykarz commented on #2225
Resetting as available for picking due to lack of response

[2022-09-05 17:33] waldekmastykarz commented on #2767
Resetting as available for picking due to lack of response

[2022-09-05 17:33] waldekmastykarz commented on #2878
Resetting as available for picking due to lack of response

[2022-09-05 17:34] waldekmastykarz commented on #2906
Resetting as available for picking due to lack of response

[2022-09-05 17:35] waldekmastykarz commented on #2993
@robdy are you still working on this?

[2022-09-05 17:35] waldekmastykarz commented on #3565
@nicetohaveyou did you have a chance to look at @martinlingstuyl suggestion?

[2022-09-05 17:46] waldekmastykarz commented on #3516
Before we classify this as a bug, I'd suggest that we investigate the impact of the warning and if it's relevant to how CLI is being used. npm regularly reports issues with different packages, but not all of them are relevant in all cases, so understanding how applicable the reported issue is, would help us prioritize this work.

[2022-09-05 18:41] martinlingstuyl commented on #3589
By the way, about sending mails as another user in the delegate scenario, there are actually three levels of permissions when sending mails using the graph:
![image](https://user-images.githubusercontent.com/5267487/188501105-d2c4738d-f809-4d4f-a4f1-622fb6163eef.png)

I'm covering two of those:
- Sending on behalf of permissions
- Read and manage permissions (Full access)

Basically the lowest per

[2022-09-05 21:32] #2061 closed

[2022-09-05 22:34] soyfrien commented on #3516
Maybe I should close this? I don’t want to track anything improperly or cause too much noise for you or the contributors, and I wouldn’t be able to help out beyond reporting what I encounter using it.

Many thanks

Sent from Proton Mail for iOS

On Mon, Sep 5, 2022 at 1:46 PM, Waldek Mastykarz ***@***.***> wrote:

[2022-09-06 08:49] AkashSatoliya commented on #3612
Hi @martinlingstuyl ,

I tried to run the m365 login command on my system in PowerShell and it failed with same Network error. It looks like it might be a bug with special character in password. A part of password is highlighted like a variable. When debugged the script, the part of password which is like a variable it empty. Hence the value of password variable goes like incorrect password.

[2022-09-06 09:01] appieschot opened #3650 "New command: `m365 pp chatbot list`"
### Usage

m365 pp chatbot list

### Description

Lists Microsoft Power Platform chatbots

### Options

Option | Description
-- | --
`-e, --environment <environment>` | The name of the environment for which to retrieve available chatbots
`--asAdmin` | Run the command as admin for environments you are not a member of

### Examples

Retrieves all chatbots for the default environment

[code]

### Add

[2022-09-06 09:03] AkashSatoliya commented on #3612
Hi @martinlingstuyl

I tried with new password which does not include special character used to define variable in PowerShell but still I'm getting same network error.

[2022-09-06 09:08] martinlingstuyl commented on #3612
Is it possible you have a `$` in your password? You could try escaping that:

[code]

If that solves it locally, it might not solve it in the pipeline. (Do try though) if it does not you could try updating your password.

[2022-09-06 09:09] martinlingstuyl commented on #3612
By the way: that's the backtick "`" that you need to use to escape dollar chars in posh. It's not a single quote.

[2022-09-06 09:21] appieschot opened #3651 "New sample script: report all environments, flows and apps"
|Docs||
|-----|----|
|Author| Albert-Jan Schot |
|Original Post| https://www.cloudappie.nl/power-platform-tenant-reporting-cli-microsoft-365/ |
|Description| Get all environments as admin and then report all flows and apps in them |
|Keywords| Add some keywords for increased discoverability e.g. `Power Platform` `Flow` `Power Apps`  |

[2022-09-06 09:21] AkashSatoliya commented on #3612
Hi @martinlingstuyl

My previous password included `$` but new password doesn't have `$` in it. However it includes `&` and anything after `&` gets excluded when running 'm365 login' command
When I tried to run the login command in command prompt I am getting below error:

[code]

Part "XXxxXX" is after `&` in password which gets excluded and treated as command.

[2022-09-06 09:23] martinlingstuyl commented on #3612
Ok, try escaping the & with the backtick, like I showed with the dollar sign. It should work locally.

[2022-09-06 09:23] appieschot opened #3652 "Typos in docs"
## Typo in docs for `environment list`
The page https://pnp.github.io/cli-microsoft365/cmd/pp/environment/environment-list/ shows a `[teamId]` in the option set. That should not be there and can be deleted,

As Martin point out; also needs to be fixed in the command file :)

## Extra typo's to fix:
In a number of files, the option principalId is spelled as princpialId (in the descriptions)

[2022-09-06 09:32] martinlingstuyl commented on #3612
Ah wait, no, escaping the ampersand is not necessary in PowerShell.

I've just tried it myself and I can sign in successfully using a password with ampersand.

[2022-09-06 09:33] martinlingstuyl commented on #3612
I tried on PowerShell 5, 7 and windows cmd. They all work fine on my end.

[2022-09-06 09:37] martinlingstuyl commented on #3652
It's also in the command file...

[2022-09-06 09:39] appieschot opened #3653 "New command: m365 pp dataverse table list"
### Usage

m365 pp dataverse table list

### Description

Lists dataverse tables in given environment

### Options

Option | Description
-- | --
`-e, --environment <environment>` | The name of the environment to list all tables for
`--asAdmin` | Set, to retrieve the dataverse tables as admin for environments you are not a member of

### Examples

List all tables for the given environment

[code]

[2022-09-06 09:40] appieschot commented on #3653
@pnp/cli-for-microsoft-365-maintainers please chime in on the command structure. I added the table segment as I can see that the CLI at some point should be able to add new tables as well, and dataverse also provide options to add things like dataflows / synapse links and connectors. If we all agree I can open it up for help or build it ;)

[2022-09-06 10:01] martinlingstuyl commented on #3651
Nice @appieschot!

[2022-09-06 10:03] AkashSatoliya commented on #3612
I tried on PowerShell 5, 7 and windows cmd 6.3.9600, running on windows server 2012.
When I tried with escaping ampersand it results in same network error.
When tried to provide password within double quotes it results in same network error.
When tried to provide password without double quotes it results in ` 'XXxxXX' is not recognized as an internal or external command, operable program or batch

[2022-09-06 10:10] martinlingstuyl commented on #3612
Just to be clear: you should indeed use quotes around the password

So just to be sure:
You are now running CLI 5.7 and have a password without any special chars?

By the way: The network error also occurs if you make a mistake in writing your password or upn. We do not have a nice 'credentials invalid' error message here, it appears.

[2022-09-06 10:19] AkashSatoliya commented on #3612
I am using PowerShell version 5 and 7(tried on both).
Password includes special characters.
UPN and Passwords are correct as I'm using the same credentials for login and deployment using browser.

[2022-09-06 11:34] martinlingstuyl commented on #3612
What is the output when you run `m365 version`?

[2022-09-06 11:37] martinlingstuyl commented on #3653
I like it @appieschot, you have my blessing!

[2022-09-06 12:24] martinlingstuyl commented on #3652
Fixed it 👍 thanks for bringing it up @appieschot.

[2022-09-06 12:28] martinlingstuyl commented on #3650
What's that second example doing there?

[2022-09-06 12:28] appieschot commented on #3652
@martinlingstuyl awesome! Any particular reason why the good first issue was removed? Felt like a valid tag for this one or did I miss anything?

[2022-09-06 12:29] appieschot commented on #3650
That should totally be deleted! (and is done so ;))

[2022-09-06 12:30] martinlingstuyl commented on #3652
Ah, you're correct. I'll reapply it.

[2022-09-06 12:34] martinlingstuyl commented on #3650
Did you already get this working using our fabulous `m365 request` command? 😉

[2022-09-06 13:19] appieschot commented on #3650
@martinlingstuyl no :( looks like we are missing either a scope on our app reg or it is not being passed on correctly ;-). But havent spend more time than just pasting in the URL to see what happens, will see if we can get a token for this endpoint with the current app reg.

![image](https://user-images.githubusercontent.com/15227781/188645601-530e6bb5-637f-421b-9f17-5c8a0de9d2d6.png)

[2022-09-06 13:42] martinlingstuyl commented on #3650
@appieschot, this is one of those endpoints where the URL does not equal the resource that is registered in Azure AD. You might want to try specifying the `--resource` option. I'm not sure which resource you need though. Maybe `https://management.azure.com` works, or `https://api.powerapps.com` or `https://api.bap.microsoft.com`.

[2022-09-06 13:44] martinlingstuyl commented on #3650
I don't know if the endpoint is called from the UI using a bearer token? Probably not, but if so, you could decode it to see what the token audience is.

[2022-09-06 13:56] appieschot commented on #3650
@martinlingstuyl decoding is next on the list, wanted to push #3655 first 😂

[2022-09-06 13:59] appieschot commented on #3329
This has been picked up and solved, thus issue can be closed

[2022-09-06 13:59] #3329 closed

[2022-09-06 14:45] appieschot commented on #3650
Hmm, not a resource we can use or so it seems. The UI uses the following ID for the token 96ff4394-9197-43aa-b393-6a41652e21f8 (Dynamics 365 AI for Customer Service Bot).. Will investigate if we have other API's we can use!

[2022-09-06 18:33] Jwaegebaert commented on #3653
Looks good to me. Great suggestion @appieschot!

[2022-09-07 05:00] AkashSatoliya commented on #3612
Hi @martinlingstuyl

Thanks for reply.

I tried with another account using method like `m365 login -t password -u "someupn@contoso.com" -p "zxc098!@#$%^&*()"` and it resulted in same network error.
When tried to login with `m365 login`, it went to next step and showed message to open the page https://microsoft.com/devicelogin and enter a code for device login. After entering code it needs access r

[2022-09-07 06:13] martinlingstuyl commented on #3612
Ok, we've found the problem:

You **need to consent** to the PnP application before being able to use the `m365 login -t password`.
I've just gone through our documentation, and I can find this exactly nowhere. So I'll create an issue for us to update the documentation about in what cases you can expect this error and that consent is necessary.

Thanks for getting to the bottom with me on this and

[2022-09-07 06:14] martinlingstuyl commented on #3612
So if you take this step, you should be able to connect afterwards. Also: MFA should be disabled on your account, but I assume you guessed that.

[2022-09-07 06:42] martinlingstuyl opened #3656 "Bug report: Missing documentation about necessary consent with password login"
### Description

In the ticket #3612 I've been talking with the user about the following error:

[code]

He kept getting the error, and in the end we discovered that he hadn't consented to the PnP application registration.

I looked in the docs, and I couldn't find any reference to this consent being necessary for the password login flow.  It may be logical to us that you need to consent to that i

[2022-09-07 08:39] appieschot commented on #3656
For me the `cmd/login` place would be a general remark that consent is required (for any way we login), while the user guide should go a bit more in depth as to what is needed to consent (and perhaps even reconsent as we might have added new permissions).

[2022-09-07 11:00] arjunumenon commented on #3656
That is a nice catch Martin. I will second Appie's suggestion,

Along with that, like you already covered in your suggestion, we can also give as an **Important Note** in the Login User Guide as well (https://pnp.github.io/cli-microsoft365/user-guide/connecting-office-365/#log-in-to-microsoft-365_1) which explains about setting up AAD for first time

[2022-09-07 11:10] appieschot opened #3657 "New command: m365 pp tenant settings list"
### Usage

m365 pp tenant settings list

### Description

Lists the global power platform tenant settings

### Options

Option | Description
-- | --

### Examples

Lists the Power Platform settings of the tenant

[code]

### Additional Info

See https://docs.microsoft.com/en-us/power-platform/admin/list-tenantsettings for the endpoint and settings.

Inspiration for the implementation can also be f

[2022-09-07 11:11] appieschot commented on #3657
@pnp/cli-for-microsoft-365-maintainers if we agree on this one we can open this one as well 🚀

[2022-09-07 11:16] milanholemans commented on #3657
Looks good to me 👍
According to the docs this API is in preview, so we should definitely show a warning in the docs like here: https://pnp.github.io/cli-microsoft365/cmd/flow/run/run-cancel/#remarks.

[2022-09-07 11:51] appieschot commented on #3650
Long story short I do not think we can get this to work. In the Power Platform UI they use GraphQL to get the chatbots from an API (with random graphql prefix that is put to the `window._makerConfig`, so that is a no go for us.

The `https://powervamg.eu-il107.gateway.prod.island.powerapps.com/api/botmanagement/` andpoint can be used, but does require us to have access to the Dynamics 365 AI for C

[2022-09-07 12:37] martinlingstuyl commented on #3656
ok, thanks for the feedback: I added a requirements section and opened this up for help.

[2022-09-07 13:30] martinlingstuyl commented on #3657
Looks great @appieschot!

[2022-09-07 15:17] martinlingstuyl commented on #3638
I'll rewrite it a bit 👍

[2022-09-07 23:48] Adam-it commented on #3653
all in on this one 👍 I also agree on adding more commands for the pp. I think it will be a good time investment since a lot is going on the PP side now and users are probably looking for a good CLI tool which could support it and not only that 😉

[2022-09-07 23:54] Adam-it commented on #3657
+ 1 from me on this one as well👍😉

[2022-09-08 00:10] Adam-it commented on #3103
@waldekmastykarz great news. Sorry for the late reply. Opening this up to be taken. Not sure if this is a 'good first issue' as it might be quite hard.
If after some time this will not under work by someone and I will catch up the permission commands, then I will gladly take this one 😉👍

[2022-09-08 04:17] AkashSatoliya commented on #3612
Hi @martinlingstuyl

Thank you so much for looking into it. I've requested for permissions. I'll update once permission is granted and I'm able to test it.

[2022-09-08 07:34] Adam-it commented on #3593
aaaj.. another thing for the v6 😨. I will create a separate issue for it for the existing commands and try to develop it asap (today/tomorrow...well.. no later than after tomorrow 😝).
sorry for the late reply.

[2022-09-08 07:46] Adam-it opened #3658 "For all `roleinheritance break/reset` commands add `--confirm` option"
## 🤔 The current problem

Currently the commands which do role inheritance break or reset may have a significant impact on the user defined architecture. Reseting role inheritance on an item which had a lot of unique permissions added (groups/ users as role assignments) means all of that will be lost the moment the inheritance is reset. In SharePoint this kind of operations need to be confirmed by

[2022-09-08 07:47] Adam-it commented on #3658
@pnp/cli-for-microsoft-365-maintainers  any comments? something I overlooked? if not I would like to start working on it asap in order to have the v6 ready 👍

[2022-09-08 08:38] appieschot commented on #3658
Agree, totally should be part of v6 🦾

[2022-09-08 09:20] Adam-it commented on #3658
it's not actually my idea 😉. @milanholemans  this one goes to you 👏👍